<div class="course-setting">
    <div class="wrapper">
        <div class="header">
            <div class="help texts"
            data-title="
<ol>
    <li>
        退班规则：出于资金安全的考虑，学生会倾向于选择随时可退的课程。如无特殊原因，请尽量不要修改此处的设置<br>
        课时费将会按照课节结算到你的跟谁学账户，学生在可退期间申请退款将退还未开课部分的课时费
    </li>
    <li>
        插班规则：插班指在班课设置的开始时间后学生再报名
    </li>
    <li>
        保底开班人数：设置最小开班人数后，开课前一天报名人数不足最小开班人数时，课程会自动关闭，已报名学生自动退费(仅在第一节课开始前24小时有效)，请慎重设置
    </li>
</ol>
            " data-skin="primary classcourse-help-tooltip" data-placement="bottomLeft" data-offset-x="90">
                <i class="text primary icon-help-o"></i>
                <span class="text">
                    帮助信息
                </span>
            </div>
            <div class="title">
                课程设置
            </div>
        </div>
        <div class="form">

            <div class="group">
                <label class="label">
                    退班规则:
                </label>
                <div class="controls">
                    <div class="radios">
                        <label class="label radio">
                            <input type="radio" name="{{classRule}}"
                            value="{{CLASS_RULE_ANYTIME}}"{{#if classRuleDisabled}} disabled{{/if}}>
                            随时可退
                        </label>

                        {{#if options.fromShiziLogin }}
                        <label class="label radio">
                            <input type="radio" name="{{classRule}}" value="{{CLASS_RULE_NOEXIT}}"{{#if classRuleDisabled}} disabled{{/if}}>
                            不可退班
                        </label>
                        {{/if}}

                        {{#if options.classRule == CLASS_RULE_HOUREXIT}}
                        <label class="label radio special-radio{{#if classRule != CLASS_RULE_HOUREXIT}} disabled{{/if}}">
                            <input type="radio" name="{{classRule}}" value="{{CLASS_RULE_HOUREXIT}}"{{#if classRuleDisabled}} disabled{{/if}}>
                            开班前一小时不可退
                        </label>
                        {{/if}}

                        <label class="label radio{{#if classRule != CLASS_RULE_CUSTOM}} disabled{{/if}}">
                            <input type="radio" name="{{classRule}}" value="{{CLASS_RULE_CUSTOM}}"{{#if classRuleDisabled}} disabled{{/if}}>
                            第
                            <Input options="{{retireTextInputOptions}}" />
                            节课前可退
                        </label>

                    </div>
                </div>
            </div>

            <div class="group">
                <label class="label">
                    插班规则:
                </label>
                <div class="controls">
                    <div class="radios">
                        <label class="label radio">
                            <input type="radio" name="{{compatibleRule}}" value="{{CLASS_CHABAN_NO}}">
                            不可插班
                        </label>
                        <label class="label radio">
                            <input type="radio" name="{{compatibleRule}}" value="{{CLASS_CHABAN_INSERT}}">
                            随时可插班
                        </label>

                        <label class="label text-remind">插班学生可以观看以往课程回放</label>

                        <label class="label radio
                        {{#if options.compatibleRule != CLASS_CHABAN_CUSTOM}} hidden{{/if}}
                        ">
                            <input type="radio" name="{{compatibleRule}}" value="{{CLASS_CHABAN_CUSTOM}}">
                            第
                            <Input options="{{chabanQuotaInputOptions}}" />
                            节课开始前可插班
                        </label>
                    </div>
                </div>
            </div>
            {{#if showChabanPrice}}
            <div class="group">
                <label class="label">
                    插班价格:
                </label>
                <div class="controls">
                    <div class="radios">
                        <label class="label radio">
                            <input type="radio" name="{{compatiblePrice}}" value="{{CLASS_CHABAN_PRICE_ALL}}">
                            课程全价
                        </label>
                        <label class="label radio">
                            <input type="radio" name="{{compatiblePrice}}" value="{{CLASS_CHABAN_PRICE_RESET}}">
                            剩余课程全价
                        </label>
                        <label class="label radio
                        {{#if options.compatiblePrice != CLASS_CHABAN_PRICE_CUSTOM}} hidden{{/if}}
                        ">
                            <input type="radio" name="{{compatiblePrice}}" value="{{CLASS_CHABAN_PRICE_CUSTOM}}">
                            自定义插班价
                            <Input options="{{chabanPriceInputOptions}}" />
                        </label>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="group">
                <label class="label">
                    保底开班:
                </label>
                <div class="controls">
                    <div class="radios">
                        <label class="label radio{{#if minimumRule != MIN_MEMBER_NORMAL}} disabled{{/if}}">
                            <input type="radio" name="{{minimumRule}}" value="{{MIN_MEMBER_NORMAL}}">
                            报名即开班
                        </label>
                        <label class="label radio set-justify{{#if minimumRule != MIN_MEMBER_MIN}} disabled{{/if}}">
                            <input type="radio" name="{{minimumRule}}" value="{{MIN_MEMBER_MIN}}">
                            保底
                            <Input options="{{minimumMemberInputOptions}}" />
                            人开班
                        </label>
                    </div>
                </div>
            </div>

            <div class="group">
                <label class="label">
                    邮寄资料:
                </label>
                <div class="controls">
                    <div class="radios">
                        <label class="label radio">
                            <input type="radio" name="{{supportMaterialsPost}}" value="{{NO_SUPPORT_MATERIALS_POST}}"{{#if !options.isNewCourse}} disabled{{/if}}>
                            没有
                        </label>
                        <label class="label radio">
                            <input type="radio" name="{{supportMaterialsPost}}" value="{{SUPPORT_MATERIALS_POST}}"{{#if !options.isNewCourse}} disabled{{/if}}>
                            有
                        </label>
                    </div>
                </div>
            </div>

            <div class="group">
                <label class="label">

                </label>
                <div class="checkboxes">
                    <label class="checkbox fluid">
                        <input type="checkbox" checked="{{smsContact}}">
                        允许学生通过手机联系我
                    </label>
                    <label class="checkbox fluid">
                        <input type="checkbox" checked="{{autoReamed}}">
                        报名人数快满时自动扩班
                    </label>
                </div>
            </div>

        </div>
    </div>

    <style>
        {{style}}
    </style>
</div>