/**
 * @file 课程设置
 * @author wangtianhua
 */
@import '../../offlineCourseEdit/component/common.styl';

.course-setting {
    > .wrapper {
        width: 835px;
        padding: 25px;
        background-color: #fff;
        border: 1px solid $border-color;
        color: $dark-gray;
        .header {
            .title {
                font-size: 16px;
            }
            .help {
                float: right;
                font-size: 12px;
            }
        }
        .form {
            margin-top: 30px;
            .label {
                vertical-align: bottom;
            }
            .radios {
                .label {
                    max-width: 130px;
                    vertical-align: bottom;
                    margin-right: 50px;
                    &.disabled {
                        .input {
                            background-color: #eee;
                            color: #ccc;
                            input {
                                border-color: #ccc !important;
                            }
                        }
                        .tooltip {
                            display: none !important;
                        }
                    }
                }
                .text-remind {
                    position: relative;
                    left: -40px;
                    color: #ccc;
                }
                .special-radio {
                    width: 150px;
                }
                .set-justify {
                    position: relative;
                    left: -14px;
                }
            }
            .lesson-number {
                width: 56px;
                height: 26px;
                margin: 0 $horizontal-tiny;
                vertical-align: middle;
            }
            input[type="text"] {
                height: 26px;
            }
        }
        .checkboxes {
            .checkbox {
                margin-left: 70px;
                max-width: 200px;
            }
        }

    }

}