@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
trem(value)
    return value/rem(1600)

body {
    background: rgb(249, 216, 130);

    background-size: 100%;
}

.page_top {
    height: trem(40);
    position: relative;
    color: #fff;
    font-size: trem(14);
    line-height: trem(40);
    margin-top: trem(10);
    p {
        position: absolute;
        display: inline-block;
    }
    .my_score {
        left: trem(20);
        top: 0;
    }
    .score_market {
        right: trem(20);
        top: 0;
    }
}

.GSX_Dialog_buttons {
    display: none!important;
}

.dialog_1 {
    display: none;
}

.dialog {
    background-color: #fff;
    .close-btn {
        width: trem(40);
        height: trem(40);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 0;
        top: 0;
    }
    .top_tip {
        font-size: trem(12);
        color: #9d9e9e;
        text-align: left;
        span {
            display: inline-block;
            margin-right: trem(5);
        }
    }
    .micro-line {
        .h5 {
            font-size: trem(12);
            color: #6d6d6e;
            text-align: left;
        }
        p {
            font-size: trem(14);
            color: #3c3c3c;
            line-height: trem(18);
            margin-top: trem(6);
        }
    }
    .honor {
        font-size: trem(12);
        color: #9d9e9e;
        text-align: left;
        text-align: center;
        margin-top: trem(10);
        span {
            color: #ffca7c;
        }
    }
    .time-line {
        font-size: trem(40);
        margin-top: trem(30);
        height: trem(50);
        line-height: trem(50);
        text-align: center;
        .icon {
            img {
                display: inline-block;
                height: trem(30);
                width: trem(30);
                margin-top: -trem(6);
                margin-right: trem(5);
                margin-left: -trem(30);
            }
        }
    }
}

.GSX_Dialog.GSX_Dialog_default {
    padding-top: 0!important;
}

.daka_btn {
    background: #faaa39;
    border: trem(6) solid rgba(250, 175, 56, 0.10);
    box-shadow: rem(0) rem(2) rem(4) rem(0) #fed87c;
    width: trem(110);
    height: trem(110);
    font-size: trem(27);
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: trem(96);
    margin: trem(13) auto 0 auto;
    &.on {
        background: #ffca7c;
    }
}

.detail_content {
    background: #fff;
    border-radius: trem(20);
    min-height: trem(200);
    margin: trem(20);
    overflow: hidden;
}

.c_m {
    position: relative;
    height: 0;
    z-index: 1;
    img {
        width: trem(77);
        display: block;
        position: absolute;
        top: trem(5);
        left: trem(58);
    }
}

.user_items {
    li {
        height: trem(65);
    }
}

.rank {
    width: trem(24);
    height: trem(31);
    position: absolute;
    right: trem(40);
    top: trem(17);
    img {
        width: 100%;
    }
}

.item-info {
    padding-left: trem(73);
    padding-right: trem(80);
    position: relative;
    height: trem(65);
    .u-logined {
        padding: trem(12) 0;
    }
    .u-name {
        font-size: trem(15);
        color: #3c3c3c;
        text-align: left;
    }
    .u-quit {
        font-size: trem(12);
        color: #9d9e9e;
        line-height: 1.4;
    }
    a {
        color: #fff;
    }
    .u-unlogin {
        height: rem(54);
        line-height: rem(54);
        color: #fff;
        font-size: rem(14);
    }
}

.u-img {
    width: trem(40);
    height: trem(40);
    border-radius: 100%;
    position: absolute;
    left: trem(20);
    top: trem(10);
    overflow: hidden;
    background-color: #fff;
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.top-title {
    background: #f7f9fa;
    height: trem(56);
    line-height: trem(56);
    font-size: trem(18);
    color: #6d6d6e;
    position: relative;
    padding-left: trem(120);
}

