.class-room-footer {
    height: rem(36);
    margin-top: rem(10);
    padding: rem(7) 0;
    background-color: #fff;
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    border-top: rem(1) solid #ececec;
    max-width: rem(414);
    transform: translate(-50%, 0);
    .footer-item {
        text-align: center;
        color: #9D9D9E;
        font-size: rem(12);
        i {
            font-size: rem(18);
        }
    }
    .left {
        width: rem(48);
        margin-left: rem(76);
    }
    .right {
        width: rem(72);
        margin-right: rem(70);
    }
}
.GSX_Dialog.GSX_Dialog_default {
    width: rem(270);
    margin-left: rem(12.5);
    img {
        width: rem(240);
        height: rem(240);
        display: block;
    }
}