
{{ *

@file 帮助中心 - 服务规则 － 录播课（视频课）服务协议
@author wangyujie

* }}

{{ strip }}

<div class="video">

    <h2>录播课（视频课）服务协议</h2>

    <p>甲方：北京百家互联科技有限公司<br />乙方：</p>
    <p class="indent">由北京百家互联科技有限公司自主研发并运营的跟谁学网站（genshuixue.com）系O2O找好老师学习服务电商平台，产品类型包括但不限于PC端、移动客户端、M站、机构版、老师版、学生版等；
    </p>
    <p class="indent">乙方系入驻跟谁学平台的机构/老师；</p>
    <p class="indent">机构/老师使用跟谁学平台展示、销售视频课程（以下称为“录播课程”），请务必仔细阅读并遵守下面的条款，如果机构/老师不同意使用本协议条款，请不要使用跟谁学平台录播课程的相关服务，机构/老师使用跟谁学平台录播课程服务的行为表明已接受本协议全部条款。</p>

    <h3>一、定义</h3>
    <ul>
        <li>录播课程：是指机构老师/独立老师自行录制、自行上传至跟谁学平台并自行定价售卖的录播课程。</li>
        <li>机构：是指入驻跟谁学平台并拥有独立提现账号的培训机构、教育公司 或工作室。</li>
        <li>机构老师：是指机构以其自身名义入驻跟谁学平台，该机构名下的老师统称为机构老师，该机构在跟谁学平台拥有独立的提现账号，机构老师在跟谁学平台没有独立的提现账号，机构老师在跟谁学平台上的课酬统一支付至其所在机构账户中，机构老师应得课酬由其所在机构与其进行线下结算。</li>
        <li>独立老师：是指以个人名义入驻跟谁学平台并拥有独立提现账号的老师。</li>
        <li>老师：包括入驻跟谁学平台的独立老师和机构老师。</li>
    </ul>


    <h3>二、录播课程的设置</h3>
    <ul>
        <li>录播课程的科目、内容、录制、上传、课程定价等均由机构/老师自行设定。</li>
        <li>机构/老师需对录播课程内容的合法性承担法律责任，录播课程的内容如涉嫌侵犯第三方的知识产权或其他合法权益等情形，由机构/老师独立承担法律责任，如由此给甲方造成损失的，机构/老师应对甲方承担赔偿责任。</li>
        <li>机构/老师不得利用跟谁学的录播服务从事任何违反法律规定或社会道德的活动。</li>
        <li>机构/老师设置的录播课程不得包含下列内容的信息：
            <ul>
                <li>（1）反对宪法确定的基本原则的；</li>
                <li>（2）危害国家统一、主权和领土完整的；</li>
                <li>（3）泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；</li>
                <li>（4）煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；</li>
                <li>（5）宣扬邪教、迷信的；</li>
                <li>（6）扰乱社会秩序，破坏社会稳定的；</li>
                <li>（7）诱导未成年人违法犯罪和渲染暴力、色情、赌博、恐怖活动的；</li>
                <li>（8）侮辱或者诽谤他人，侵害公民个人隐私等他人合法权益的；</li>
                <li>（9）危害社会公德，损害民族优秀文化传统的；</li>
                <li>（10）有关法律、行政法规和国家规定禁止的其他内容。</li>
            </ul>
        </li>
    </ul>

    <h3>三、录播课程的服务费用</h3>
    <ul>
        <li>技术服务费标准：甲方对跟谁学平台提供的录播课程服务收取一定的技术服务费，服务费的标准按照机构/老师的录播课程收益的一定比例收取。收费细则详见“帮助中心”页面。</li>
        <li>结算时间及结算方式：学生购买机构/老师的录播课程且支付成功，跟谁学平台扣除技术服务费后，机构/老师的应得收益直接划转至机构/老师在跟谁学平台的账户中；如系机构老师的录播课程，机构老师的收益将划转至其所在机构在跟谁学平台的账户中，机构与该授课老师之间的分配由机构自行决定，与跟谁学平台无关。 </li>
    </ul>

    <h3>四、知识产权</h3>
    <p>跟谁学的所有产品包括但不限于网站、手机APP等均系甲方自主研发完成，甲方享有所有产品的知识产权，机构/老师仅享有免费的、不可转让的、非独占的使用权，不得对跟谁学产品进行任何复制、修改等，不得进行任何反向工程、反向汇编、反向编译或试图提取源代码，不得创作任何衍生作品。</p>

    <h3>五、免责条款</h3>
    <p>如发生以下情况，跟谁学平台不对机构/老师的直接或间接损失承担赔偿责任：</p>
    <ul>
        <li>不可抗力事件导致的服务中断或跟谁学无法控制的原因所导致的损失，跟谁学不承担任何责任。</li>
        <li>机构/老师使用互联网而可能产生的计算机病毒、黑客入侵、系统失灵或功能紊乱等导致的损失，跟谁学不承担任何责任。</li>
        <li>由于机构/老师将注册账号信息告知他人或与他人共享注册帐号，由此导致的任何风险或损失，由机构/老师自行承担。</li>
        <li>如因系统维护或升级而需要暂停网络服务，跟谁学将尽可能事先在跟谁学网站进行通知。</li>
    </ul>

    <h3>六、法律适用与争议解决</h3>
    <ul>
        <li>本协议的履行与解释均适用中华人民共和国法律。</li>
        <li>甲乙双方之间的任何争议应友好协商解决，协商不成的，任一方有权将争议提交北京市海淀区人民法院诉讼解决。</li>
    </ul>

    <h3>七、本协议条款的修改权与可分性</h3>
    <ul>
        <li>为更好地提供服务并符合相关监管政策，甲方有权及时修改本协议条款并在跟谁学相关产品中进行更新与公告。</li>
        <li>本协议条款中任何一条被视为无效或因任何理由不可执行，不影响任何其余条款的有效性和可执行性。</li>
    </ul>

    <h3>八、通知</h3>
    <p class="indent">甲方将通过在跟谁学相关产品中发布公告、短信通知、客服电话等不同方式与机构/老师进行联系，通知相关变更信息。</p>

    <h3>九、协议生效</h3>
    <ul>
        <li>本协议于 2015 年 12 月 10 日上线。</li>
        <li>本协议自机构/老师开启跟谁学平台录播课程服务时生效。</li>
    </ul>

</div>



{{ /strip }}