.comment-additions {
    background: white;
    .addition {
        position: relative;
        height: rem(146);
        padding: rem(13) 0 rem(16) 37%;
        .infos {
            position: absolute;
            left: 0;
            top: rem(15);
            text-align: center;
            width: 37%;
            .score-text {
                margin-top: rem(10);
                .text {
                    font-family: PingFangSC-Semibold;
                    font-size: rem(24);
                    color: #3D3D3E;
                    letter-spacing: 0;
                    line-height: rem(24);
                    font-weight: 700;
                }
            }
            .stars-lines {
                height: rem(15);
                padding-left: 24%;
                margin-top: rem(10);
                margin-bottom: rem(15);
                .icon {
                    font-size: rem(14);
                    float: left;
                }
                .active-star {
                    color: #ff9100;
                }
                .grey-star {
                    color: #ededed;
                }
                .star-icon {
                    position: relative;
                    float: left;
                    .icon-star_half {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
            .count {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #6D6D6E;
                letter-spacing: 0;
                line-height: rem(14);
            }
        }
        .cross-line {
            width: rem(1);
            height: rem(120);
            background: #ededed;
            display: inline-block;
        }
        .total-lines {
            float: right;
            width: 92%;
            .item {
                width: 100%;
                .text {
                    font-size: rem(12);
                    color: #9d9e9e;
                    margin-right: rem(8);
                    font-family: PingFang-SC-Regular;
                }
                .line {
                    display: inline-block;
                    width: 46%
                    height: rem(10);
                    position: relative;
                    .line-grey {
                        height: 100%;
                        position: absolute;
                        width: 100%;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        z-index: 1;
                        background: #ededed;
                    }
                    .line-orange {
                        height: 100%;
                        position: absolute;
                        background: #ff9100;
                        width: 0;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        transition: width 0.5s;
                        z-index: 3;
                    }
                }
                .rate {
                    font-size: rem(12);
                    color: #9d9d9e;
                    font-family: PingFang-SC-Regular;
                }
            }
        }
    }
}