.comments {
    .comment-content {
        margin-top: rem(15);
        .comment-list {
            background: white;
            border: rem(1) solid #ededed;
            position: relative;
            margin-bottom: rem(10); 
            .info {
                position: relative;
                padding: rem(10) rem(40) rem(10) rem(75);
                .avatar {
                    width: rem(50);
                    height: rem(50);
                    border-radius: 50%;
                    position: absolute;
                    top: rem(10);
                    left: rem(10);
                }
                .name {
                    color: #3c3d3d;
                    width: 80%;
                }
                .point {
                    font-size: rem(12);
                    color: #9d9e9e;
                    margin: rem(6) 0;
                    height: rem(20);
                    .text {
                        float: left;
                    }
                    .stars {
                        .icon {
                            font-size: rem(14);
                            float: left;
                        }
                        .active-star {
                            color: #ff9100;
                        }
                        .grey-star {
                            color: #ededed;
                        }
                        .star-icon {
                            position: relative;
                            float: left;
                            .icon-star_half {
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }
                    }
                }
                .trump {
                    position: absolute;
                    right: rem(15);
                    top: rem(20);
                    .icon-like {
                        font-size: rem(20);
                        color: #9d9d9e;
                    }
                    .icon-ic_tuijian_done {
                        font-size: rem(20);
                        color: #ff9c00;
                    }
                    span {
                        font-size: rem(12);
                        color: #9d9e9e;
                    }
                }
            }
            .detail {
                .content {
                    color: #3c3d3d;
                    margin: 0;
                    font-size: rem(14);
                    line-height: rem(24);
                    word-break: break-all;
                    padding: rem(4) rem(10);
                }
                .addition-content {
                    color: #3c3d3d;
                    margin: 0;
                    font-size: rem(12);
                    line-height: rem(24);
                    word-wrap: break-word;
                    word-break: break-all;
                    padding: rem(4) rem(10);
                }
                .replay-content {
                    padding: rem(4) rem(10);
                    background: #ededed;
                    margin: 0 rem(10);
                    color: #3c3d3d;
                    font-size: rem(14);
                    line-height: rem(24);
                    word-break: break-all;
                }
                .date {
                    //padding: rem(8) rem(10);
                    font-size: rem(12);
                    color: #9d9e9e;
                    height: rem(30);
                    line-height: rem(30);
                    margin: rem(10); 
                }
            }
            .check-more {
                width: 94%;
                margin-left: 3%;
                text-align: center;
                border-top: rem(1) solid #ededed;
                margin-top: rem(10);
                font-size: rem(12);
                color: #9d9e9e;
                height: rem(34);
                line-height: rem(34);
            }
            .additions {
                &.hide {
                    display: hide;
                }
                .fold-content {
                    padding: 0 rem(10);
                    .header-line {
                        height: rem(20);
                        margin-top: rem(10);
                        .fold-score {
                            height: rem(20);
                            .text {
                                font-size: rem(12);
                                color: #9d9e9e;
                                float: left;
                            }
                            .fold-stars {
                                position: relative;
                                top: rem(2);
                                height: rem(20);
                                line-height: rem(20);
                                display: inline-block;
                                margin-left: rem(4);
                                .icon {
                                    font-size: rem(14);
                                    float: left;
                                }
                                .active {
                                    color: #ff9100;
                                }
                                .grey {
                                    color: #ededed;
                                }
                                .star-icon {
                                    position: relative;
                                    float: left;
                                    .icon-star_half {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                    }
                                }
                            }
                        }
                        .trump {
                            float: right;
                            color: #9d9d9e;
                            .icon-like {
                                font-size: rem(20);
                                color: #9d9d9e;
                            }
                            .icon-ic_tuijian_done {
                                font-size: rem(20);
                                color: #ff9c00;
                            }
                            .trump-count {
                                font-size: rem(14);
                            }
                        }
                    }
                    .contents {
                        color: #3c3d3d;
                        margin: 0;
                        font-size: rem(14);
                        line-height: rem(24);
                        padding: rem(5) 0;
                        word-wrap: break-word;
                        word-break: break-all;
                    }
                    .fold-time {
                        font-size: rem(12);
                        color: #9d9e9e;
                        height: rem(30);
                        line-height: rem(30);
                    }
                }
            }
        }
    }
    .has-more {
        display: block;
        height: rem(40);
        border: 1px solid #ededed;
        background: #fff;
        padding: rem(6);
        line-height: rem(34);
        .typing-loader {
            display: none;
        }
        &.loading {
            .typing-loader {
                display: block;
            }
        }
        &.hide {
            display: none;
        }
    }
    .typing-loader {
        width: rem(8);
        height: rem(8);
        animation: typing 1s linear infinite alternate;
        margin: rem(10) auto;
        position: relative;
        left: rem(-12);
    }
    @keyframes typing {
        0% {
            background-color: rgba(255, 145, 1, 1);
            box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
        }
        25% {
            background-color: rgba(255, 145, 1, 0.4);
            box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
        }
        75% {
            background-color: rgba(255, 145, 1, 0.4);
            box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 1);
        }
    }
}