/**
 * @file 对话框
 * @author zhujl
 */

@dialog-bg:                          #FFF;
@dialog-border-radius:               2px;


@dialog-header-bg:                   #F5F5F5;
@dialog-header-color:                @brand-text;
@dialog-header-font-size:            @font-size-medium;
@dialog-header-font-family:          @font-family-title;
@dialog-header-border:               @brand-gray-light;
@dialog-header-padding-vertical:     16px;
@dialog-header-padding-horizontal:   24px;


@dialog-body-font-size:              @font-size-small;
@dialog-body-font-family:            @font-family-base;
@dialog-body-padding-vertical:       24px;
@dialog-body-padding-horizontal:     24px;


@dialog-close-color:                 @brand-gray;
@dialog-close-color-hover:           darken(@dialog-close-color, 20%);
@dialog-close-size:                  30px;
@dialog-close-top:                   10px;
@dialog-close-right:                 @dialog-header-padding-horizontal;

@dialog-mask-opacity:                0.3;