/**
 * @file 下拉菜单
 * @author zhujl
 */

@dropdown-caret-size:                      5px;
@dropdown-caret-margin-horizontal:         5px;
@dropdown-caret-top:                       7px;
@dropdown-caret-top-hover:                 2px;

@dropdown-padding-vertical:                7px;
@dropdown-padding-horizontal:              10px;
@dropdown-margin-horizontal:               6px;

@dropdown-menu-bg:                         #FFF;
@dropdown-menu-border:                     #CCC;
@dropdown-menu-padding-vertical:           0;
@dropdown-menu-padding-horizontal:         0;
@dropdown-menu-top:                        35px;
@dropdown-menu-max-height:                 142px;

@dropdown-menu-item-padding-vertical:      10px;
@dropdown-menu-item-padding-horizontal:    12px;

@dropdown-menu-item-bg-hover:              @brand-primary-lighter;

@dropdown-menu-item-bg-active:             @brand-primary;
@dropdown-menu-item-color-active:          #FFF;