/**
 * @file 输入框配置
 * @author zhujl
 */


@input-font-size:                       @font-size-small;
@input-font-family:                     @font-family-base;
@input-padding-vertical:                10px;
@input-padding-horizontal:              10px;

@input-color:                           @text-color;
@input-bg:                              #FFF;
@input-border:                          #DDD;

@input-border-hover:                    @brand-gray;

@input-bg-focus:                        #FFF;
@input-border-focus:                    @brand-primary;

@input-color-disabled:                  #FFF;
@input-bg-disabled:                     #DDD;
@input-border-disabled:                 #DDD;

@input-placeholder-color:               #CCC;

@form-required-color:                   @brand-error;
@form-required-margin-horizontal:       @gap-horizontal-tiny;

@input-number-icon-size:                6px;
@input-number-icon-color:               @brand-text-light;

@input-radio-margin-horizontal:         @gap-horizontal-medium;
@input-checkbox-margin-horizontal:      @gap-horizontal-medium;


@form-label-padding-vertical:           @input-padding-vertical + 1;
@form-group-margin-vertical:            @gap-vertical-large;

@form-inline-margin-horizontal:         8px;
@form-block-margin-vertical:            8px;

@form-validate-icon-size:               @font-size-small;
@form-validate-font-size:               @font-size-tiny;
@form-validate-icon-gap:                3px;

@form-validate-success-color:           @brand-success;
@form-validate-error-color:             @brand-error;

@form-action-margin-vertical:           2 * @gap-vertical-large;
@form-action-button-margin-horizontal:  @gap-horizontal-large;

@input-small-padding-vertical:          7px;
@form-small-label-padding-vertical:     8px;
