/**
 * @file 标签
 * @author zhujl
 */

@label-font-size:            @font-size-tiny;
@label-border-radius:        2px;
@label-padding-vertical:     5px;
@label-padding-horizontal:   8px;
@label-margin-hortizontal:   @gap-horizontal-small;

@label-bg:                   #FFF;
@label-color:                @brand-text;
@label-border:               @brand-gray;

@label-default-bg:           @brand-gray-lighter;
@label-default-color:        @brand-text;
@label-default-border:       @brand-gray;

@label-primary-bg:           @brand-primary-lighter;
@label-primary-color:        @brand-text;
@label-primary-border:       @brand-primary-light;

@label-info-bg:              @brand-info-lighter;
@label-info-color:           @brand-text;
@label-info-border:          @brand-info-light;

@label-success-bg:           @brand-success-lighter;
@label-success-color:        @brand-text;
@label-success-border:       @brand-success-light;

@label-error-bg:             @brand-error-lighter;
@label-error-color:          @brand-text;
@label-error-border:         @brand-error-light;


@label-inverse:              @brand-text;
@label-default-inverse:      @brand-gray;
@label-primary-inverse:      @brand-primary;
@label-info-inverse:         @brand-info;
@label-success-inverse:      @brand-success;
@label-error-inverse:        @brand-error;
