/**
 * @file 间距
 * @author zhujl
 */

// 垂直间距
@gap-vertical-tiny:               4px;
@gap-vertical-small:              8px;
@gap-vertical-medium:             10px;
@gap-vertical-large:              14px;
@gap-vertical-huge:               18px;

// 水平间距
@gap-horizontal-tiny:             5px;
@gap-horizontal-small:            7px;
@gap-horizontal-medium:           10px;
@gap-horizontal-large:            14px;
@gap-horizontal-huge:             18px;


@padding-vertical-content:        16px;
@padding-horizontal-content:      30px;

@padding-vertical-sidebar:        12px;
@padding-horizontal-sidebar:      18px;