/**
 * @file 标签页
 * @author zhujl
 */

@tab-nav-item-padding-vertical:         13px;
@tab-nav-item-padding-horizontal:       2 * @gap-horizontal-huge;
@tab-nav-item-height:                   22px;
@tab-nav-item-font-size:                @font-size-small;
@tab-nav-item-font-weight:              normal;

@tab-primary-nav-bg:                    @brand-gray-lighter;
@tab-primary-nav-border:                @brand-gray-light;
@tab-primary-nav-item-bg-active:        #FFF;
@tab-primary-nav-item-color-active:     @brand-primary;
@tab-primary-nav-item-border-active:    @brand-gray-light;

@tab-info-nav-bg:                       transparent;
@tab-info-nav-border:                   @brand-gray-light;
@tab-info-nav-item-color-active:        @brand-info;
@tab-info-nav-item-border-active:       @brand-info;