/**
 * @file 工具提示
 * @author zhujl
 */

@tooltip-bg:                   #555;
@tooltip-color:                #FFF;
@tooltip-border:               transparent;

@tooltip-font-size:            @font-size-tiny;
@tooltip-border-radius:        4px;

@tooltip-padding-vertical:     5px;
@tooltip-padding-horizontal:   10px;

@tooltip-arrow-size:           8px;
@tooltip-zindex:               @zindex-large;