/**
 * @file 排版
 * @author zhujl
 */

// body 背景色
@body-bg:                           #F5F5F5;

// 正文字体颜色
@text-color:                        @brand-text-light;

// 链接字体颜色
@link-color:                        @brand-text-light;
@link-color-hover:                  @brand-primary;

// 默认字体类型
@font-family-base:                  PingHei, 'Hiragino Sans GB', 'Microsoft YaHei', tahoma, arial, sans-serif;

// 标题字体类型
@font-family-title:                 PingHei, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;

// 字体大小
@font-size-tiny:                    12px;
@font-size-small:                   14px;
@font-size-medium:                  16px;
@font-size-large:                   26px;
@font-size-huge:                    36px;

// 行高
@line-height-base:                  1.5;

// 圆角
@border-radius-base:                2px;