<div class="cover">
    <div class="wrapper">
        <div class="header">
            <div class="help texts"
            data-title="
<ul class='texts'>
    <li class='text fluid'>
        您可以上传展示教学场地、作品或其他能体现课程特色的高质量照片，这有助于给学生留下良好的心理印象
    </li>
    <li class='text fluid'>
        精美的封面图片会获得包括聚惠学在内的更多展示机会<br />
        请上传不超过5M、格式为jpg、jpeg、png的图片，最多上传12张封面，注意不能出现广告信息和水印哦！
    </li>
    <li class='text fluid texts'>
        <span class='muted small'>参考示例</span>

        <div class='images text fluid'>
            <img class='image' src='http://img.gsxservice.com/0cms/d/file/content/2016/07/578c45f511420.png@1e_173w_98h_1c_0i_1o_90Q_1x.jpeg'>
            <img class='image' src='http://img.gsxservice.com/0cms/d/file/content/2016/07/578c45f55c676.png@1e_173w_98h_1c_0i_1o_90Q_1x.jpeg'>
            <img class='image' src='http://img.gsxservice.com/0cms/d/file/content/2016/07/578c45f5b34e0.png@1e_173w_98h_1c_0i_1o_90Q_1x.jpeg'>
            <img class='image' src='http://img.gsxservice.com/0cms/d/file/content/2016/07/578c45f5d834a.png@1e_173w_98h_1c_0i_1o_90Q_1x.jpeg'>
        </div>

        <div class='images text fluid'>
            <img class='image' src='http://img.gsxservice.com/0cms/d/file/content/2016/07/578c45f610085.png@1e_173w_98h_1c_0i_1o_90Q_1x.jpeg'>
            <img class='image' src='http://img.gsxservice.com/0cms/d/file/content/2016/07/578c45f6308f9.png@1e_173w_98h_1c_0i_1o_90Q_1x.jpeg'>
            <img class='image' src='http://img.gsxservice.com/0cms/d/file/content/2016/07/578c45f661e85.png@1e_173w_98h_1c_0i_1o_90Q_1x.jpeg'>
            <img class='image' src='http://img.gsxservice.com/0cms/d/file/content/2016/07/578c45f682e31.png@1e_173w_98h_1c_0i_1o_90Q_1x.jpeg'>
        </div>

    </li>
</ul>
            " data-skin="primary classcourse-help-tooltip" data-placement="bottomLeft" data-offset-x="90">
                <i class="text primary icon-help-o"></i>
                <span class="text">
                    帮助信息
                </span>
            </div>
            <div class="title">
                课程封面
            </div>
        </div>

        <div class="cover-editor">

            {{#each options.list:index}}
            <div class="cover-item">
                <div class="cover-handler">
                    <div class="cover-wrapper">
                        <img src="{{compressImage(url, 242, 136)}}" draggable="false">
                        <div class="delete-icon" on-click="deleteItem(index)">
                            <i class="button icon icon-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

            {{#if showButton}}
            <span class="button upload-wrapper" on-click="uploadCover()">
                <i class="icon-plus fluid muted"></i>
                <span class="text">添加课程封面</span>
            </span>
            {{/if}}
        </div>
    </div>
    <style>
        {{style}}
    </style>
</div>