<div class="course-template">
    <div class="wrapper">
        <div class="header">
            <div class="help texts"
            data-title="
<span>
    根据您的课程科目、课程详情内容，选择合适的模板会使课程主页更加美观和优雅
</span>
            " data-skin="primary classcourse-help-tooltip" data-placement="bottomLeft" data-offset-x="90">
                <i class="text primary icon-help-o"></i>
                <span class="text">
                    帮助信息
                </span>
            </div>
            <div class="title">
                模板选择
            </div>

        </div>

        <div class="template-editor">
            <div class="tabs primary">
                <div class="tab
                {{#if checkedIndex == 0}} checked{{/if}}"
                on-click="set('checkedIndex', 0)">
                    网页模板
                </div>
                <div class="tab
                {{#if checkedIndex == 1}} checked{{/if}}"
                on-click="set('checkedIndex', 1)">
                    手机模板
                </div>
            </div>

            <div class="template-images">
                {{#each template.data:index}}
                <div class="template-card
                {{#if options.templateCheckedPc == name && checkedIndex == 0}} active{{/if}}
                {{#if options.templateCheckedM == name && checkedIndex == 1}} active{{/if}}
                {{#if defaultTemplate && index == 0}} active{{/if}}" on-click="chooseTemplate(this)">
                    <img class="image" src="{{compressImage(image, 200, 127)}}">
                    <span class="name">
                        {{name_cn}}
                    </span>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <style>
        {{style}}
    </style>
</div>