{{ *

@file 教学科目下拉菜单(科目 + 价格)
@author zhujialu

* }}


{{ strip }}

{{ $activeItem = 'guide' }}
{{ if isset($smarty.get.a) }}
{{ $activeItem = $smarty.get.a }}
{{ /if }}


{{ $sidebar_map = [] }}

{{ $sidebar_map['help_process'] = 'help' }}
{{ $sidebar_map['help_entering'] = 'help' }}
{{ $sidebar_map['help_teacher'] = 'help' }}
{{ $sidebar_map['help_student'] = 'help' }}
{{ $sidebar_map['help_org'] = 'help' }}
{{ $sidebar_map['help_service'] = 'help' }}

{{ $sidebar_map['service_guarantee'] = 'sevice' }}
{{ $sidebar_map['service_video'] = 'sevice' }}
{{ $sidebar_map['service_feedback'] = 'service' }}
{{ $sidebar_map['service_pay'] = 'service' }}
{{ $sidebar_map['service_tort'] = 'service' }}

{{ $sidebar_map['about_about'] = 'about' }}
{{ $sidebar_map['about_business'] = 'about' }}
{{ $sidebar_map['about_clause'] = 'about' }}
{{ $sidebar_map['about_join'] = 'about' }}
{{ $sidebar_map['about_notice'] = 'about' }}
{{ $sidebar_map['about_news'] = 'news' }}



<div class="btleft">
    <ul>

    {{ if isset($sidebar_map['help_'|cat:$activeItem]) }}
        <li class="tit">
            <img src="{{ $static_origin }}/asset/img/guide/g-help_f82d3c7f11.png" alt="帮助中心" />帮助中心
        </li>

        {{ if $activeItem == 'process' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/process?a=process" target="_self">平台流程</a>
        </li>

        {{ if $activeItem == 'entering' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/entering?a=entering" target="_self">老师入驻</a>
        </li>

        {{ if $activeItem == 'teacher' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/teacher?a=teacher" target="_self">老师帮助</a>
        </li>

        {{ if $activeItem == 'student' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/student?a=student" target="_self">学生帮助</a>
        </li>

        {{ if $activeItem == 'org' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/org?a=org" target="_self">机构帮助</a>
        </li>

        {{ if $activeItem == 'service' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/service?a=service" target="_self">服务规则</a>
        </li>

    {{ /if }}



    {{ if isset($sidebar_map['service_'|cat:$activeItem]) }}
        <li class="tit">
            <img src="{{ $static_origin }}/asset/img/guide/g-server_a4c2d654e4.png" alt="服务支持" />服务支持
        </li>

        {{ if $activeItem == 'guarantee' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/guarantee?a=guarantee" target="_self">平台保障</a>
        </li>

        {{ if $activeItem == 'video' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/video?a=video" target="_self">视频拍摄</a>
        </li>

        {{ if $activeItem == 'pay' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/pay?a=pay" target="_self">支付问题</a>
        </li>

        {{ if $activeItem == 'feedback' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/feedback?a=feedback" target="_self">意见反馈</a>
        </li>

        {{ if $activeItem == 'tort' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/tort?a=tort" target="_self">侵权投诉</a>
        </li>

    {{ /if }}



    {{ if isset($sidebar_map['about_'|cat:$activeItem]) }}
        <li class="tit">
            <img src="{{ $static_origin }}/asset/img/guide/g-about_aeb5bf8958.png" alt="关于跟谁学" />关于跟谁学
        </li>

        {{ if $activeItem == 'about' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/about?a=about" target="_self">了解我们</a>
        </li>

        {{ if $activeItem == 'business' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/business?a=business" target="_self">联系我们</a>
        </li>

        <li><a href="{{ $origin_http }}/guide/recruit" target="_self">校园招聘</a></li>

        <!--        {{ if $activeItem == 'team' }}<li class="onli">{{ else }}<li>{{ /if }}
                    <a href="/guide/team?a=team" target="_self">管理团队</a></li>-->

        {{ if $activeItem == 'join' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/join?a=join" target="_self">社会招聘</a>
        </li>

        {{ if $activeItem == 'clause' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/clause?a=clause" target="_self">网站条款</a>
        </li>

        {{ if $activeItem == 'notice' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/notice?a=notice" target="_self">活动公告</a>
        </li>

        {{ if $activeItem == 'news' }}<li class="onli">{{ else }}<li>{{ /if }}
            <a href="{{ $origin_http }}/guide/news?a=news" target="_self">新闻报道</a>
        </li>

    {{ /if }}


    </ul>
</div>





{{ /strip }}