/**
 * @file 考研专区 - 打包课
 * @author wangyujie
 */
@import '../main/base.less';
@import '../common/card.less';
@import './component/header.less';
@import './component/consult.less';
@import './component/footer.less';

@import './component/layout.less';
@import './packageCourse/profile.less';
@import './packageCourse/sidebar.less';
@import './packageCourse/content.less';


@content-width: 820px;

#header {
    position: relative;
    .wrapper {
        width: 1100px;
    }
}

#main {
    margin-top: 45px;
    .crumb {
        font-size: 12px;
        margin-bottom: @gap-vertical-medium;
        .course-number {
            color: #6d6d6d;
            float: right;
        }
    }
}

#flotage-bottom {
    li {
        display: none;
    }
}

#footer {
    .wrapper {
        width: 1100px;
    }
    .contention {
        width: 1000px;
    }
}













