/**
 * @file 考研专区 - 打包课 - 提交订单
 * @author wangyujie
 */

@import './component/payLayout.less';

#main {

    .section-header {
        border-bottom: 1px solid @brand-gray-light;
        color: @brand-text;
        font-size: @font-size-medium;
        padding: @gap-vertical-small 0;
    }

    .section-body {
        padding: @gap-vertical-huge 0;
    }

    .form-student {
        .form(9em);

        .student-name {
            display: none;
        }

        textarea {
            width: 320px;
            height: 70px;
        }
    }

    .course {
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
        }
        td {
            vertical-align: middle;
        }
        .avatar {
            float: left;
            a,img, a:after {
                border-radius: 0;
            }
        }
        .base-info {
            margin-left: 80px;
            line-height: 2em;
            .name {
                font-size: @font-size-medium;
            }
            .course {
                margin-top: @gap-vertical-small;
            }
        }
    }

    .pay-amount {
        text-align: right;
        strong {
            font-size: @font-size-huge;
        }
    }

    .footer {
        padding: @gap-vertical-huge 0;
        text-align: right;
    }

}