/**
 * @file 添加语音和播放
 * @author wangtianhua
 */
@import './common.styl'

.editor-audio {

    .audio-player {
        position: absolute;
        top: 0;
        left: 0;
    }

    > .wrapper {
        position: relative;
    }

    .audio {
        width: 244px;
        height: 138px;
        font-size: 16px;
        margin-left: 45px;
    }

    .edit-button {
        background-color: $white;
        padding-left: 45px;
        padding: 20px 0;

        .icon {
            font-size: 22px;
            color: $muted;
            position: absolute;
            top: 20px;
            left: 15px;
        }

        .button-no-audio {
            line-height: 120px;
            color: $muted;
            border: 1px solid $muted;
        }
        .button-has-audio {
            border: 1px solid $muted;
            margin: 45px;
            margin-bottom: 55px;
        }
        .button-ing-audio {
            border: none;
            margin: 45px;
            margin-bottom: 55px;
        }

        .button-remove {
            float: right;
            font-size: 22px;
            color: $muted;
            margin-right: 10px;
            margin-top: -10px;
        }

        .view-audio {
            display: inline-block;

            .thumbnail-audio {
                position: relative;
                background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57b693e1e3815.png") 50% no-repeat;
                img {
                    width: 100%;
                    height: 100%;
                }
                .icon {
                    position: absolute;
                    font-size: 20px;
                    top: 43%;
                    left: 29%;
                    width: 20px;
                    height: 20px;
                }
                .audio-player {
                    cursor: pointer;
                    display: none;
                    .icon-live-o {
                        left: 50%;
                        top: 50%;
                        margin-left: -11px;
                        margin-top: -11px;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
                &:hover {
                    .audio-player {
                        display: block;
                    }
                }
            }
        }
    }
}