/**
 * @file 富文本编辑
 * @author wangtianhua
 */
@import './common.styl'
@import 'userCenter/common/variable.styl'
@import 'userCenter/common/mixin.styl'

.editor {
    position: relative;
    overflow-y: hidden;
    .buttons {
        width: 90px;
        .button {
            background-color: $button-primary;
            color: $black;
            transition-property: background-color, color;
            transition-duration: 0.2s;

            &:hover {
                background-color: $brand-primary;
                color: #FFF;
            }
        }
    }

    .editor-list {
        width: 665px;
        height: 440px;
        padding: 20px;
        float: right;
        position: relative;
        overflow-y: auto;
        background-color: $bg-color;
        border: 1px solid $border-color;
    }

    .uploading-mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 119px;
        z-index: $zindex-small;
        color: #FFF;
        font-size: 140%;
        text-align: center;
        line-height: 438px;
        background-color: #000;
        opacity(0.3);
    }

}
.box-shadow .uploading-mask {
    background-color: rgba(0,0,0,0.3);
    opacity(1);
}

.editor-item {
    border: 1px solid transparent;
    &.active-parent {
        border: 1px dashed $border-color;
    }
    + .editor-item {
        margin-top: 10px;
    }
}

.editor-content {
    border: transparent 1px solid;
    &.brother {
        box-shadow: 0 0 4px rgba(232,143,28,0.71);
    }
    &.active {
        z-index: $zindex-large;
    }
    &.dragging {
        cursor: move;
    }
    &:hover {
        border: #f90 1px solid;
    }
    &.dragging:after {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
