/**
 * @file 添加标题
 * @author wangtianhua
 */
@import './common.styl'

.editor-title {
    > .wrapper {
        position: relative;
    }
    .input-group {
        color: $muted;

        .icon {
            font-size: 24px;
            z-index: 1;
        }

        .title-input {
            padding-right: 32px;
            .placeholder,
            input {
                height: 44px;
                line-height: 28px;
                padding-left: 45px;
                border: none;
                font-size: 16px;
            }
            .placeholder {
                color: $muted;
            }
            input {
                color: #000;
            }
        }
    }

    .floated {
        top: 5px;
        &.icon-close {
            font-size: 22px;
            top: 0px;
            right: 10px;
        }
    }
}