@import '../common/center/common/layout.less';

.crumb {
    width: 1100px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 13px;
    color: #3d3d3e;
    a {
        color: #3e5dde;
        cursor: pointer;
    }
}

#main {
    padding: 15px;
    width: 1100px;
    .step {
        width: 1068px;
        height: 45px;
        line-height: 45px;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        span {
            display: inline-block;
            width: 350px;
            text-align: center;
        }
        &.step-one {
            background: url(../../img/pay/step-one.png) no-repeat 0 0;
        }
        &.step-two {
            background: url(../../img/pay/step-two.png) no-repeat 0 0;
        }
        &.step-three {
            background: url(../../img/pay/step-three.png) no-repeat 0 0;
        }
    }
    .refund-detail {
        .clearfix();
        border: 1px solid #cdcdce;

        .order-info {
            float: right;
            border-left: 1px solid #ddddde;
            width: 270px;
            padding: 20px;
            .title {
                font-weight: bold;
                color: #3d3d3e;
                border-bottom: 1px solid #ddddde;
                padding-bottom: 20px;
            }
            .detail {
                padding-top: 20px;
                .order-name {
                    font-size: 12px;
                    color: #3d3d3e;
                    line-height: 22px;
                    height: 44px;
                    overflow-y: hidden;
                    img {
                        float: left;
                        margin-right: 10px;
                    }
                }
                .order-number,
                .order-teacher,
                .order-org-price,
                .order-favorite,
                .order-price,
                .refund-price,
                .refund-reason {
                    font-size: 12px;
                    color: #3d3d3e;
                    margin-top: 15px;
                    label {
                        color: #9d9d9e;
                        display: inline-block;
                        width: 60px;
                        text-align: right;
                    }
                }
                .refund-price {
                    border-top: 1px solid #ddddde;
                    padding-top: 15px;
                }
            }
        }

        .form,
        .refund-progress,
        .refund-success {
            float: left;
            width: 790px;
        }

        .form {
            font-size: 12px;
            color: #3d3d3e;
            padding: 20px;
            .form-header {
                border-bottom: 1px solid #ddddde;
                font-size: 14px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                .required-hint {
                    float: right;
                    line-height: 36px;
                }
            }
            .refund-reason-select {
                width: 160px;
            }
            .form-action {
                margin-left: 105px;
                a {
                    margin-left: 15px;
                    font-size: 13px;
                    color: #6288dd;
                }
            }
        }

        .refund-progress {
            padding: 35px;
            .progress-status {
                font-weight: bold;
                font-size: 15px;
                color: #3c3d3d;
                margin-bottom: 10px;
            }
            ul {
                font-size: 13px;
                color: #6d6d6e;
                line-height: 34px;
                .icon-circle {
                    color: #ff9100;
                    font-size: 12px;
                }
            }
            .other-actions {
                margin-top: 20px;
                a,
                span {
                    font-weight: bold;
                    font-size: 14px;
                    color: #ff9100;
                    cursor: pointer;
                }
            }
        }

        .refund-success {
            padding: 40px;
            .refund-status {
                font-weight: bold;
                font-size: 15px;
                color: #3c3d3d;
                .icon-check-circle {
                    font-size: 20px;
                    color: #43b243;
                    vertical-align: text-bottom;
                }
            }
            .refund-des {
                margin-top: 20px;
                font-size: 13px;
                color: #6d6d6e;
            }
        }
    }

    .faq {
        border: 1px solid #cdcdce;
        margin-top: 15px;
        padding: 20px;
        .title {
            font-weight: bold;
            color: #3d3d3e;
            border-bottom: 1px solid #ddddde;
            padding-bottom: 20px;
        }
        ul {
            font-size: 13px;
            color: #3d3d3e;
            line-height: 34px;
            padding-top: 20px;
        }
    }
}





