@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "page/college/ui/search/index.styl";
@import "page/college/home/_part/playIcon/index.styl";

.container {
    background: #f2f4f5;
    .search {
        /*display: inline-block;
        margin: 0 auto;
        padding: rem(7) rem(11);
        padding-right: 0;
        width: 100%;
        background: #2d558e;
        .logo {
            display: inline-block;
            margin-right: rem(16);
            i {
                color: #fff;
                font-size: rem(22);
            }
        }
        .input {
            display: inline-block;
            background: #fff;
            border-radius: rem(4);
            width: 72.5%;
            input {
                margin-left: 2%;
                width: 84.3%;
            }
            i {
                margin: 0 2%;
            }
        }
        .button {
            display: inline-block;
            color: #fff;
            margin-left: 3%;
            font-size: rem(16);
        }
        .menu {
            margin-left: 5%;
            position: relative;
            top: rem(4);
            i {
                color: #fff;
                font-size: rem(25);
            }
        }*/
    }
    .catalogue {
        list-style-type: none;
    }
    .catalogue {
        background-color: #f8f8f8;
        display: -moz-box;  /* Firefox */
        display: -webkit-box; /* Safari and Chrome */
        display: box;
        li {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari 和 Chrome */
            box-flex: 1.0;
            text-align: center;
            vertical-align: middle;
            a {
                margin-top: rem(12);
                display: inline-block;
                width: 32%;
                height: rem(31);
                vertical-align: middle;

                font-size: rem(16);
                margin-bottom: rem(3);

                &.head-font {
                    border-bottom: 2px solid #2d558e;
                    color: #2d558e;
                }
            }
        }
    }
    .list {
        position: relative;
        padding: rem(14) rem(10) rem(14) rem(115.2);
        border-bottom: 1px solid #f2f4f5;
        height: rem(91.2);
        background-color: #fff;
        .img {
            width: rem(90);
            height: rem(60);
            position: absolute;
            left: 3%;
            img{
                width: 100%;
                height: 100%;
            }
            .play-icon {
                position: absolute;
                left: rem(33);
                top: rem(17);
                width: rem(28);
                height: rem(28);
            }
        }
        .right {
            .title {
                color: #3d3d3e;
                left: 31%;
                line-height: rem(19.2);
            }
            .pre {
                font-size: rem(12);
                color: #9d9d9e;
                margin-top: rem(3.2);
            }
            .info {
                margin-top: rem(3.2);
                left: 31%;
                .read {
                    display: inline-block;
                    font-size: rem(12);
                    color: #9d9d9e;
                }
                .good {
                    display: inline-block;
                    font-size: rem(12);
                    color: #9d9d9e;
                }
            }
        }
    }

    .more-flag {
        height: rem(0.5);
    }

    .has-more {
        display: none;
    }

    .no-more {
        display: none;
        text-align: center;
        font-size: rem(11.2);
        width: 100%;
        padding: 3%;
        background: #d7d7d7;
    }

    .typing-loader {
        width: rem(8);
        height: rem(8);
        animation: typing 1s linear infinite alternate;
        margin: rem(10) auto;
        position: relative;
        left: rem(-12);
    }

    @keyframes typing {
        0% {
            background-color: rgba(255, 145, 1, 1);
            box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
        }
        25% {
            background-color: rgba(255, 145, 1, 0.4);
            box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
        }
        75% {
            background-color: rgba(255, 145, 1, 0.4);
            box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 1);
        }
    }

}
