@import './ngDirective/style.less';
@import './selectDeleteDialog/style.less';
@import './sortAllDialog/style.less';
@import './addGroupDialog/style.less';
@import './chooseGroupDialog/style.less';
@import './removeIndexDialog/style.less';
.video-course-edit {
    .verify-rejected {
        cursor: pointer;
        font-size: 13px;
        color: #FF5850;
        margin-left: 16px;
        margin-bottom: 15px;
        .ex-tooltip-layer {
            z-index: 9999;
        }
    }
    width: 1100px;
    margin: 0 auto;
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #CDCDCE;
    }
    input:-moz-placeholder, textarea:-moz-placeholder  {
        color: #CDCDCE;
    }
    input::-moz-placeholder, textarea::-moz-placeholder {
        color: #CDCDCE;
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: #CDCDCE;
    }
    .required-icon {
        color: #FF5850;
        vertical-align: middle;
    }
    .side-nav {
        .item-list {
            li {
                color: #6d6d6e;
                &:hover {
                    color: #FF6c00;
                }
                &.active {
                    color: #FF6c00;
                }
            }
        }
    }
    .top-info {
        margin-bottom: 15px;
        font-size: 16px;
        color: #9d9d9e;
        .go-back {
            color: #3d3d3e;
            cursor: pointer;
        }
        .one2one-title {
            margin-right: 14px;
        }
        .auto-save {
            float: right;
            margin-right: 92px;
        }
        .remind-info {
            font-size: 13px;
            color: #FF5850;
            margin-left: 8px;
            margin-top: 5px;
        }
    }
    min-height: 1000px;
    .course-edit {
        display: inline-block;
        vertical-align: top;
        width: 835px;
        .module-area {
            border: 1px solid #EDEDEE;
            margin-bottom: 20px;
            background-color: #fff;
            padding: 21px 25px;
            .title {
                font-size: 20px;
                color: #6D6D6E;
                line-height: 20px;
                margin-bottom: 20px;
                vertical-align: middle;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 5px;
                    height: 16px;
                    background-color: #6D6D6E;
                    border-radius: 3px;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;
                }
                .help-info {
                    cursor: pointer;
                    float: right;
                    font-size: 12px;
                    color: #3D3D3E;
                    .icon {
                        color: #ff6c00;
                    }
                    .ex-tooltip-layer {
                        font-size: 12px;
                    }
                }
            }
            .edui-container {
                width: 100% !important;
                .edui-editor-body {
                    & > div {
                        width: 100% !important;
                    }
                }
            }
        }
        .basic-info {
            .info-box {
                font-size: 14px;
                color: #6d6d6e;
                .info-item {
                    margin-bottom: 20px;
                    .info-title {
                        display: inline-block;
                        width: 90px;
                        text-align: right;
                    }
                    .error {
                        display: none;
                    }
                    .form-input {
                        background: #f8f8f8;
                        display: inline-block;
                        border: 1px solid #CCCCCC;
                        margin: 0 9px;
                        input {
                            height: 36px;
                            width: 220px;
                            line-height: 34px;
                            outline: none;
                            border: none;
                            background: #F8F8F8;
                            padding-left: 10px;
                        }
                        i {
                            position: relative;
                            right: 10px;
                            top: 5px;
                            font-size: 20px;
                        }
                    }
                    .left-words {
                        font-size: 12px;
                        float: right;
                        position: relative;
                        top: 10px;
                        & > span {
                            color: #6287D5;
                            display: inline-block;
                            margin: 0 3px;
                        }
                    }
                }
                .course-name, .course-subject {
                    .form-input {
                        input {
                            width: 557px;
                        }
                    }
                }
                .course-language, .course-teacher {
                    .info-title {
                        position: relative;
                        bottom: 6px;
                    }
                    .dropdown-item {
                        display: inline-block;
                        width: 220px;
                        margin-left: 9px;
                        .button {
                            background: #f8f8f8;
                            height: 36px;
                            color: #6d6d6e;
                            font-size: 14px;
                            .icon-caret-down {
                                font-size: 20px;
                                position: absolute;
                                right: 10px;
                                top: 4px;
                            }
                        }
                        .menu li{
                            font-size: 14px;
                        }
                    }
                }
                .course-subject, .course-group {
                    .form-input {
                        input {
                            width: 532px;
                            cursor: pointer;
                        }
                    }
                }
                .course-subject {
                    .form-input {
                        position: relative;
                        .select-subject-wrappers {
                            position: absolute;
                            left: -1px;
                            top: 37px;
                            width: 558px;
                        }
                    }
                }
            }
        }
        .photo-upload {
            .upload-coursecover {
                .remind-title {
                    display: inline-block;
                    margin-left: 20px;
                    position: relative;
                    bottom: 3px;
                    vertical-align: top;
                    .text-info {
                        font-size: 14px;
                        color: #6D6D6E;
                    }
                }
                .image-box {
                    position: relative;
                    display: inline-block;
                    width: 242px;
                    margin-left: 14px;
                    height: 138px;
                    border: 1px solid #ccc;
                    color: #ccc;
                    padding-top: 60px;
                    cursor: pointer;
                    text-align: center;
                    & > div {
                        font-size: 16px;
                    }
                    &.has-image {
                        padding: 0;
                    }
                    .uploading-mask {
                        width: 242px;
                        height: 138px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: #000;
                        opacity: .6;
                        text-align: center;
                        padding-top: 50px;
                        span {
                            display: block;
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                }
                .bottom-info {
                    display: inline-block;
                    font-size: 12px;
                    vertical-align: bottom;
                    margin-left: 10px;
                    .change-cover {
                        cursor: pointer;
                        color: #6287D5;
                        margin-right: 5px;
                    }
                    .text-info {
                        color: #9d9d9e;
                    }
                }
            }
            .ex-tooltip-layer {
                & > div {
                    margin: 5px 0;
                }
                img {
                    margin-right: 10px;
                }
            }
        }
        .detail-intro {
            .help-info {
                .ex-tooltip-layer {
                    z-index: 1000;
                }
            }
        }
        .videos-upload {
            margin-bottom: 0;
            padding-bottom: 50px;
            .title {
                .encode-info {
                    cursor: pointer;
                    font-size: 13px;
                    color: #FF5850;
                    margin-left: 16px;
                }
            }
            .edit-container {
                width: 683px;
                margin: 0 auto;
                .text-title {
                    font-size: 14px;
                    color: #6D6D6E;
                    line-height: 14px;
                }
                label {
                    cursor: pointer;
                    margin-left: 24px;
                    font-size: 14px;
                    color: #6D6D6E;
                    line-height: 14px;
                    &:first-child {
                        margin-left: 14px;
                    }
                }
                .remind-info {
                    font-size: 14px;
                    color: #9d9d9e;
                    margin-top: 15px;
                    padding-left: 80px;
                }
                .chapter-section,
                .multiple-section {
                    max-height: 480px;
                    overflow-y: scroll;
                    .chapter-info,
                    .section-item {
                        background: #F8F8F8;
                        line-height: 40px;
                        height: 40px;
                        margin-top: 8px;
                        cursor: pointer;
                        padding-left: 20px;
                        font-size: 14px;
                        color: #3D3D3E;
                        position: relative;
                        &:hover {
                            background: #FFFCF7;
                        }
                        .chapter-name, .section-name {
                            margin-left: 20px;
                        }
                        .failure, .encode-failure {
                            color: #f00;
                        }
                        .actions {
                            position: absolute;
                            right: 20px;
                            top: 3px;
                            font-size: 13px;
                            color: #3D3D3E;
                            .action-edit,
                            .action-delete {
                                display: none;
                            }
                            .action-delete {
                                margin-left: 20px;
                            }
                        }
                        &:hover {
                            .actions {
                                .upload-percent,
                                .failure,
                                .encode-failure {
                                    display: none;
                                }
                                .action-edit,
                                .action-delete {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .chapter-info {
                        margin-top: 20px;
                    }
                    .add-newchapter, .add-newsection {
                        border: 1px dashed #CCCCCC;
                        font-size: 14px;
                        color: #9D9D9E;
                        text-align: center;
                        height: 40px;
                        cursor: pointer;
                        margin-top: 10px;
                        line-height: 40px;
                    }
                    .add-newchapter {
                        border: 1px solid #FF6c00;
                        color: #ff6c00;
                        width: 215px;
                        margin: 0 auto;
                        margin-top: 30px;
                    }
                }
                .chapter-section {
                    .chapter-info {
                        font-size: 14px;
                        color: #3D3D3E;
                        & > span {
                            font-weight: bold;
                        }
                        .actions {
                            right: 50px;
                        }
                        i {
                            font-size: 14px;
                            position: absolute;
                            right: 20px;
                            top: 15px;
                        }
                    }
                }
            }
        }
        .course-actions {
            padding-left: 72px;
            font-size: 14px;
            color: #6D6D6E;
            height: 45px;
            line-height: 45px;
            background: #F8F8F8;
            border: 1px solid #EDEDEC;
            border-top: none;
            span {
                cursor: pointer;
                display: inline-block;
                margin-right: 30px;
            }
        }
        .modify-reason {
            margin-top: 20px;
            margin-bottom: 0;
            textarea {
                resize: none;
                padding: 10px;
                width: 785px;
                outline: none;
                height: 160px;
                background: #F8F8F8;
                border: 1px solid #CCCCCC;
                color: #3d3d3e;
                margin-top: 10px;
            }
        }
    }
    .release-course {
        width: 835px;
        margin-left: 175px;
        text-align: center;
        margin-top: 20px;
        .save-btn {
            cursor: pointer;
            background: #FF6c00;
            width: 215px;
            line-height: 46px;
            text-align: center;
            margin: 0 auto;
            font-family: MicrosoftYaHei;
            font-size: 16px;
            color: #FFFFFF;
            border: none;
            padding: 0;
            outline: none;
        }
        .btn-disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
}
.toggle-coursemode-dialog {
    .close {
        display: none;
    }
}