<div class="course-section-form" data-type="
{{#if options.payStatus == COURSE_SECTION_PAY_STATUS_TRIAL}}trial
{{elseif options.payStatus == COURSE_SECTION_PAY_STATUS_CHARGE}}pay
{{elseif options.payStatus == COURSE_SECTION_PAY_STATUS_FREE}}free
{{/if}}
">
    <div class="wrapper">
        <div class="header">
            <div class="course-index">
                <strong>
                    {{sectionIndex}}
                </strong>
                课节
            </div>
            <div class="course-name">
                {{#if !options.sectionName || sectionNameEditing}}
                    <Input options="{{inputOptions}}" />
                {{else}}

                    <div class="small">
                        {{cutString(options.sectionName, 120)}}

                        {{#if options.hasError}}
                            {{#if options.error}}
                                <i class="icon icon-info-circle error" data-title="{{{options.error}}}" data-max-width="27em"></i>
                            {{else}}
                                <i class="icon icon-info-circle error"></i>
                            {{/if}}
                        {{/if}}

                        <span class="button secondary tiny btn-edit" on-click="startEditSectionName()">
                            更改
                        </span>
                    </div>

                    {{#if options.payStatus == COURSE_SECTION_PAY_STATUS_FREE}}
                    <span class="free-course tiny">
                        免费课
                    </span>
                    {{elseif options.payStatus == COURSE_SECTION_PAY_STATUS_TRIAL}}
                    <span class="trial-course tiny">
                        试听课
                    </span>
                    {{/if}}

                {{/if}}
            </div>
        </div>

        <div class="body">
            {{#if options.videoName}}

                <div class="video-name muted">
                    {{cutString(options.videoName, 40)}}
                </div>
            {{else}}
                {{#if videoUploadPercent}}
                <div>
                    <span class="floated link tiny info" on-click="cancelUpload()">
                        取消上传
                    </span>
                    <div class="progress small primary">
                        <div class="meter" style="width: {{videoUploadPercent}}">
                            {{videoUploadPercent}}
                        </div>
                    </div>
                </div>
                <div class="uploading-video small muted">
                    {{options.uploadingVideoName}}
                </div>
                {{/if}}
            {{/if}}
        </div>

        <div class="footer">

            {{#if options.payStatus == COURSE_SECTION_PAY_STATUS_FREE}}
                <div class="floated">
                     免费
                </div>
            {{else}}
                <div class="floated radios">
                    {{#each chargeList}}
                    <label class="radio" on-click="selectPayStatus(value)">
                        <input type="radio" name="payStatus{{sectionIndex}}" value="{{value}}"
                        {{#if options.payStatus == value}} checked{{/if}}
                        />
                        {{text}}
                    </label>
                    {{/each}}
                </div>
            {{/if}}

            {{#if !options.videoName}}
                <span class="button tiny primary upload-wrapper
                {{#if !options.sectionName || sectionNameEditing || videoUploadPercent}} transparent{{/if}}
                ">
                    <input type="file" />
                    上传视频
                </span>
            {{/if}}

            {{#if options.sectionName && options.videoName && !options.sectionId }}
            <button class="button tiny primary" on-click="save()"
            {{#if sectionSaving }} disabled{{/if}}
            >
                {{#if sectionSaving }}
                    正在保存...
                {{else}}
                    保存
                {{/if}}
            </button>
            {{ /if }}

        </div>

        {{#if !options.uploading}}
            <div class="btn-del" on-click="deleteSection()">
            </div>
        {{/if}}

        <style>
            {{style}}
        </style>
    </div>
</div>