<div class="course-info-form form">
    <div class="group">
        <div class="label small">
            <i class="required"></i>
            课程封面：
        </div>
        <div class="controls">

            {{#if options.cover}}
                <img class="img-cover" src="{{compressImage(options.cover, 180, 120)}}" />
                <span class="link small info btn-select-cover" on-click="selectCover()">
                    更改封面
                </span>
            {{else}}
                <div class="select-cover" on-click="selectCover()">
                    <div class="photo"></div>
                    <div>
                        点击添加课程封面
                    </div>
                </div>
                <div class="inline small muted">
                    图片大小不超过5M
                </div>
            {{/if}}
            <input type="hidden" name="cover" value="{{options.cover}}" />

            {{#if options.getAuditErrorMessage('cover')}}
                <div class="block small error">
                    <i class="icon icon-info-circle"></i>
                    {{{options.getAuditErrorMessage('cover')}}}
                </div>
            {{/if}}

        </div>
    </div>

    <div class="group">
        <div class="label small">
            <i class="required"></i>
            课程标题：
        </div>
        <div class="controls">

            <Input options="{{titleInputOptions}}" />

            <div class="inline small muted">
                {{#if TITLE_MAX_LENGTH - titleInputOptions.value.length >= 0}}
                    还可以输入
                    <strong class="info">
                        {{TITLE_MAX_LENGTH - titleInputOptions.value.length}}
                    </strong>
                    字
                {{else}}
                    已超出
                    <strong class="error">
                        {{titleInputOptions.value.length - TITLE_MAX_LENGTH}}
                    </strong>
                    字
                {{/if}}
            </div>

            {{#if options.getAuditErrorMessage('title')}}
                <div class="block small error">
                    <i class="icon icon-info-circle"></i>
                    {{{options.getAuditErrorMessage('title')}}}
                </div>
            {{/if}}

        </div>
    </div>

    <div class="group">
        <div class="label small">
            <i class="required"></i>
            课程价格：
        </div>
        <div class="controls">

            <div class="input-group">
                <Input options="{{priceInputOptions}}" />
                <div class="label">
                    元
                </div>
            </div>

            <div class="inline small muted">
                <label class="checkbox">
                    <input type="checkbox" checked="{{options.isFree}}" />
                    这是免费课
                </label>
            </div>

            {{#if options.getAuditErrorMessage('price')}}
                <div class="block small error">
                    <i class="icon icon-info-circle"></i>
                    {{{options.getAuditErrorMessage('price')}}}
                </div>
            {{/if}}

        </div>
    </div>

    <div class="group">
        <div class="label small">
            <i class="required"></i>
            观看期限：
        </div>
        <div class="controls">

            <div class="input-group">
                <Input options="{{expireDayInputOptions}}" />
                <div class="label">天</div>
            </div>

            {{#if !options.price || options.price == 0}}
            <div class="inline small muted">
                <label class="checkbox">
                    <input type="checkbox" checked="{{options.isForever}}"
                    {{#if courseExpireDisabled}} disabled{{/if}}
                    />
                    该视频永久有效
                </label>
            </div>
            {{/if}}

            {{#if options.getAuditErrorMessage('expireDay')}}
                <div class="block small error">
                    <i class="icon icon-info-circle"></i>
                    {{{options.getAuditErrorMessage('expireDay')}}}
                </div>
            {{/if}}

        </div>
    </div>

    <div class="group">
        <div class="label small">
            <i class="required"></i>
            课程简介：
        </div>
        <div class="controls">

            <Input options="{{introInputOptions}}" />

            <div class="inline small muted">
                {{#if INTRO_MAX_LENGTH - introInputOptions.value.length >= 0}}
                    还可以输入
                    <strong class="info">
                        {{INTRO_MAX_LENGTH - introInputOptions.value.length}}
                    </strong>
                    字
                {{else}}
                     已超出
                    <strong class="error">
                        {{introInputOptions.value.length - INTRO_MAX_LENGTH}}
                    </strong>
                    字
                {{/if}}

            </div>

            {{#if options.getAuditErrorMessage('intro')}}
                <div class="block small error">
                    <i class="icon icon-info-circle"></i>
                    {{{options.getAuditErrorMessage('intro')}}}
                </div>
            {{/if}}

        </div>
    </div>


    <div class="group">
        <div class="label small">
            <i class="required"></i>
            课程分类：
        </div>
        <div class="controls">
            {{#if options.canEditSubjects}}
                <SubjectSelect options="{{subjectSelectOptions}}" />
            {{else}}
                <div class="label small">
                    {{joinList(options.subjects, '/', 'text')}}
                </div>
            {{/if}}

            {{#if options.getAuditErrorMessage('subjects')}}
                <div class="block small error">
                    <i class="icon icon-info-circle"></i>
                    {{{options.getAuditErrorMessage('subjects')}}}
                </div>
            {{/if}}

        </div>
    </div>


    <div class="group">
        <div class="label small">
            <i class="required"></i>
            课程语言：
        </div>
        <div class="controls">

            {{#if options.canEditLanguage}}
                <LanguageSelect options="{{languageSelectOptions}}" />
            {{else}}
                <div class="label small">
                    {{options.language.text}}
                </div>
            {{/if}}

            {{#if options.getAuditErrorMessage('language')}}
                <div class="block small error">
                    <i class="icon icon-info-circle"></i>
                    {{{options.getAuditErrorMessage('language')}}}
                </div>
            {{/if}}

        </div>
    </div>

    <div class="group">
        <div class="label small">
            课程标签：
        </div>
        <div class="controls">

            <TagInput options="{{tagInputOptions}}" />
            <div class="block muted small">
                每个标签最多
                <strong class="error">
                    8
                </strong>
                个字，用空格分隔（不能包含标点符号，且最多输入
                <strong class="error">
                    8
                </strong>
                个标签哦）
            </div>
            {{#if options.getAuditErrorMessage('tags')}}
                <div class="block small error">
                    <i class="icon icon-info-circle"></i>
                    {{{options.getAuditErrorMessage('tags')}}}
                </div>
            {{/if}}

        </div>
    </div>

</div>