.videocourse-list {
    margin: 0 30px;

    .operations {
        border-bottom: 1px solid #ccc;
        padding-top: 18px;
        padding-bottom: 18px;
        .add-course,
        .add-watermark {
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            padding: 6px 12px;
            .icon {
                margin-right: 3px;
            }
        }
        .add-course {
            background: #6085D8;
            border: 1px solid #547CD5;
            margin-right: 30px;
        }
        .add-watermark {
            background: #FF6c00;
            border: 1px solid #Ff6c00;
        }
    }

    .item-list {
        .search-terms {
            padding-top: 20px;
            padding-bottom: 25px;
            font-size: 12px;
            .keyword {
                display: inline-block;
                margin-right: 18px;
                input {
                    width: 168px;
                    height: 26px;
                }
            }
            .fee-type,
            .course-state {
                color: #6d6d6e;
                display: inline-block;
                margin-right: 18px;
                dropdown {
                    display: inline-block;
                    width: 100px;
                    position: relative;
                    top: 3px;
                }
            }
            .btn-search {
                vertical-align: bottom;
                background: #ff6c00;
                border: 1px solid #ff6c00;
                border-radius: 1px;
                color: #fff;
                width: 50px;
                height: 32px;
                margin-right: 20px;
                position: relative;
                top: 3px;
            }
            .clear-up {
                color: #6288dd;
                cursor: pointer;
                display: inline-block;
            }
        }
        .list-head {
            background: #f7f7f7;
            line-height: 38px;
            .course-name,
            .course-price,
            .payers-count,
            .course-status,
            .course-actions {
                text-align: center;
                font-size: 12px;
                color: #3d3d3e;
                display: inline-block;
            }
            .course-name {
                width: 320px;
            }
            .course-price,
            .payers-count {
                width: 100px;
                color: #6288dd;
                .icon-arrow-up-o {
                    cursor: pointer;
                    color: #aaa;
                }
                .icon-arrow-up,
                .icon-arrow-down {
                    cursor: pointer;
                    color: #ff996a;
                }
            }
            .course-status {
                width: 100px;
            }
            .course-actions {
                width: 100px;
            }
        }
        .course-item {
            border-bottom: 1px solid #ccc;
            td {
                padding-top: 20px;
                padding-bottom: 20px;
                vertical-align: middle;
            }
            .course-name {
                display: inline-block;
                width: 320px;
                font-size: 12px;
                color: #3d3d3e;
                img {
                    float: left;
                    border: 1px solid #ddd;
                    margin-right: 8px;
                }
                .name {
                    width: 195px;
                }
                .play-count {
                    margin-top: 18px;
                    color: #6d6d6e;
                }
            }
            .course-price {
                display: inline-block;
                width: 100px;
                text-align: center;
                font-size: 14px;
                color: #ff996a;
            }
            .payers-count {
                display: inline-block;
                width: 100px;
                text-align: center;
                font-size: 14px;
                color: #6d6d6e;
                .view-roster {
                    display: block;
                    font-size: 12px;
                    color: #ff996a;
                    cursor: pointer;
                }
            }
            .course-status {
                display: inline-block;
                width: 100px;
                text-align: center;
                font-size: 12px;
                color: #6d6d6e;
            }
            .course-actions {
                display: inline-block;
                width: 100px;
                text-align: center;
                font-size: 12px;
                color: #6085d8;
                span {
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }

    .pager-box {
        text-align: center;
        margin: 20px;
    }
}

.apple-coin {
    .content {
        text-align: left;
    }
}

.video-course-notip {
    .content {
        text-align: left;
    }
    .attention-content {
        height: 400px;
        overflow-y: scroll;
    }
    p {
        padding: 0;
        margin: 0;
    }
}

.delete-tip {
    .modal-body {
        position: relative;
        .content {
            margin-bottom: 20px;
            p {
                margin: 0;
                padding: 0;
                padding-bottom: 10px;
            }
            span {
                color: red;
                font-size: 12px;
                margin-left: 5px;
            }
        }
        .not-remind-again {
            color: red;
            font-size: 12px;
            position: absolute;
            top: 25px;
            left: 100px;
        }
    }
}
#bdshare_weixin_qrcode_dialog {
    height: 310px !important;
}