.contact-teacher {
    .title-container {
        background: #f8f8f8;
        height: rem(40);
        line-height: rem(40);
        padding: 0 rem(9) 0 rem(13);
        .title {
            font-size: rem(15)
            color: #6d6d6e;
            width: 50%;
        }
        .icon-close {
            display: inline-block;
            font-size: rem(25);
            color: #d8d8d8;
            float: right;
            line-height: rem(40);
        }
    }
    .contact-item {
        height: rem(74);
        border-top: 1px solid #f8f8f8;
        position: relative;
        .avator {
            height: rem(50);
            width: rem(50);
            position: absolute;
            left: 4%;
            top: rem(12);
            img {
                width: 100%;
                height: 100%;
                border-radius: rem(25);
            }
        }
        .information {
            margin-left: 16%;
            padding: rem(12);
            width: 40%;
            display: inline-block;
            height: 100%;
            .profile {
                height: rem(26);
                div {
                    display: inline-block;
                }
                .name {
                    font-size: rem(17);
                    color: #3d3d3e;
                    max-width: 78%;
                    text-overflow: ellipsis;
                }
                .vip {
                    width: rem(16);
                    vertical-align: super;
                    img {
                        width: 100%;
                        vertical-align: baseline;
                    }
                }
            }
            .score {
                margin-top: rem(8);
                div {
                    display: inline-block;
                    font-size: rem(13);
                    color: #9d9d9e;
                }
                .star {
                    color: #37a4f5;
                    margin-right: rem(10);
                }
            }
        }
        .icon {
            display: inline-block;
            float: right;
            padding: 0 rem(25);
            height: rem(74);
            line-height: rem(74);
            img {
                width: rem(20);
                height: rem(20);
            }
        }
    }
}