$brand-primary = #f90
$brand-border = #EEE;
text-overflow()
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.box {
    width: 100%;
    border-radius: rem(4);
    padding: rem(15);
    background: white;
    .user-info {
        display: flex;
        margin-top: rem(10);
        .user-avator {
            width: rem(30);
            height rem(30);
            margin-right: rem(10);
            > img {
                width: rem(30);
                height: rem(30);
                border-radius: 50%;
            }
        }
        .user-info-detail {
            flex: 1;
            .first-nav {
                .course-icon {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(15);
                    color: #3d3d3e;
                    letter-spacing: rem(0.53);
                    line-height: rem(15);
                    text-align: left;
                    .user-name {
                        display: inline-block;
                        width: rem(100);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: rem(13);
                        color: #9d9d9e;
                        overflow: hidden;
                    }
                    span {
                        float: left;
                    }
                    .course-title{
                        float: right;
                        font-family: PingFang-SC-Regular;
                        font-size: rem(14);
                        color: #FC5C5A;
                        letter-spacing: rem(0.53);
                        line-height: rem(14);
                        text-align: center;
                    }
                    .class-icon {
                        height: rem(15);
                        width: rem(13);
                        vertical-align: middle;
                        margin-right: rem(4);
                        float: left;
                    }
                    .close-icon {
                        float: right;
                        height: rem(20);
                        width: rem(20);
                        padding: 0 0 rem(15) rem(20);
                    }
                    .hide {
                        display: none;
                    }
                }
            }
            .second-nav {
                margin-top: rem(4);
                display: flex;
                .address {
                    flex: 1;
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #9d9d9e;
                    letter-spacing: rem(0.46);
                    line-height: rem(13);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .pay-text {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #ff9100;
                    letter-spacing: rem(0.46);
                    line-height: rem(13);
                    text-align: right;
                }
            }
        }
    }


    .text {
        margin: rem(15) 0;
        font-family: PingFang-SC-Regular;
        font-size: rem(15);
        color: #3d3d3e;
        letter-spacing: rem(0.53);
        text-align: justify;
        word-break: break-all;
        line-height: rem(20);
    }

    .pay-text {
        font-size: rem(12);
        color: #6d6d6e;
        padding: rem(3) rem(4);
        text-align: center;
        border: 1px solid #CAC4C4;
        border-radius: rem(2);
    }

    .user-footer {
        display: flex;
        padding: rem(14) 0 rem(4) 0;
        font-family: PingFang-SC-Regular;
        font-size: rem(13);
        color: #9d9d9e;
        letter-spacing: rem(0.46);
        line-height: rem(13);
        .timer {
            max-width: 100%;
            padding-right: rem(8);
        }
        .user-cancel {
            flex: 1;
            text-align: right;
        }
    }
    .last-nav {
        margin-top: rem(10);
        border-top: 1px solid #ededee;
        .verify {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #ff9100;
            letter-spacing: rem(0.49);
            line-height: rem(14);
            margin: rem(10) 0
        }
        .time {
            font-family: PingFang-SC-Regular;
            font-size: rem(13);
            color: #9d9d9e;
            letter-spacing: rem(0.46);
            line-height: rem(24);
        }
        .avatars {
            margin: rem(10) 0;
            position: relative;
        }
    }
}

.last-nav-has-teacher {
    .first {
        margin: rem(16) 0 rem(10) rem(15);
        font-size: rem(15);
        color: 3D3D3E;
    }
    .teacher-infos{
        background: #fff;
        padding: rem(15);
        padding-bottom: 0;
        margin-bottom: rem(10);
        .teacher-box {
            display: flex;
            position: relative;
            padding-bottom: rem(12);
            .avatar {
                height: rem(50);
                width: rem(50);
                left: rem(10);
                border: 1px solid #ededee;
                border-radius: 50%;
                .avatar-image {
                    width: rem(50);
                    height: rem(50);
                    border-radius: 50%;
                }
            }
            .teacher-info {
                flex: 1;
                margin-left: rem(10);
                .title {
                    span {
                        display: inline-block;
                        vertical-align: text-bottom;
                        max-width: rem(150);
                        text-overflow();
                    }
                    img {
                        width: rem(16);
                        height: rem(16);
                        margin-bottom: rem(1);
                    }
                }
            }
            .teacher-delete {
                position: absolute;
                top: rem(-6);
                right: 0;
                width: rem(40);
                height: rem(40);
                background transparent url(/src/page/studentRoom/student/img/more.svg) no-repeat 50% 14px;
            }
            .teacher-good {
                width: rem(60);
                line-height: rem(45);
                position: absolute;
                right: rem(-15);
                top: rem(-15);
                text-align: center;
                font-size: rem(12);
                color: #cdcdcd;
                img {
                    vertical-align: text-bottom;
                }
                .good-container {
                    width: rem(30);
                    text-align: right;
                    display: inline-block;
                }
                &.like {
                    color: #37A4F5;
                }
            }
            .title {
                margin-bottom: rem(20);
                font-family: PingFang-SC-Regular;
                font-size: rem(17);
                color: #3d3d3e;
                line-height: rem(17);
                height: rem(17);
                img {
                    height: rem(20);
                    width: rem(20);
                    vertical-align: bottom;
                }
            }
            .tags {
                font-family: PingFang-SC-Regular;
                font-size: rem(12);
                line-height: rem(12);
                height: rem(22);
                overflow-y: hidden;
                margin-top: rem(6);
                span {
                    margin-right: rem(4);
                    border-radius: rem(2);
                    padding: 0 rem(6);
                    color: #9d9d9e;
                    display: inline-block;
                    height: rem(22);
                    line-height: rem(22);
                    border: 1px solid #ededee;
                }
            }
            .last {
                .score {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #ff9100;
                    line-height: rem(14);
                    float: left;
                    margin-right: rem(6);
                }
                .score-none {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #9d9d9e;
                    line-height: rem(14);
                    float: left;
                    margin-right: rem(6);
                }

                .comment {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #9d9d9e;
                    line-height: rem(14);
                    text-align: left;
                    margin-left: rem(4);
                    float: left;
                }

                .area {
                    display: inline-block;
                    vertical-align: top;
                    width: 56%;
                    padding-left: rem(6);
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #9d9d9e;
                    line-height: rem(14);
                    height: rem(14);
                    text-overflow();
                }
            }
        }
        .short-intro {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #9d9d9e;
            line-height: rem(16);
            padding-bottom: rem(10);
        }
        .teacher-live-lesson {
            display: flex;
            padding: rem(10) rem(4);
            padding-left: 0;
            border-top: 1px solid #ededee;
            .lesson-image {
                width: rem(40);
                height: rem(40);
            }
            .lesson-introduction {
                flex: 1;
                .lesson-tag {
                    height: rem(20);
                    padding: 0 rem(4);
                    text-overflow();
                    display: inline-block;
                }
                .tags {
                    display: inline-block;
                    background-color: #FFF;
                    border 1px solid #DDDDDE
                    border-radius rem(3)
                    vertical-align: top;
                    padding: 0 rem(4);
                    font-size: rem(12);
                    color: #6D6D6E;
                    text-align: center;
                    height: rem(20);
                    line-height: rem(20);
                }
                .lesson-title {
                    margin-left: rem(4);
                    height: rem(20);
                    font-size: rem(15);
                    font-weight: bold;
                    text-overflow();
                    display: inline-block;
                }
            }
        }
        .last-nav {
            padding: rem(10) 0;
            span {
                float: right;
                text-align: center;
                padding: rem(4) rem(15);
                border: 1px solid #ededee;
                border-radius: rem(3);
            }
            .notsuit {
                margin-right: rem(10);
                color: #656565;
            }
            .contact {
                background: #ff9100;
                color: #ffffff;
            }
        }
        .buttons {
            display: flex;
            padding: 0 rem(60);
            margin-top: rem(15);
            text-align: center;
            .button {
                flex: 1;
                border-radius: rem(2);
                padding: rem(3) rem(2);
                color: #FFF;
                + .button {
                    margin-left: rem(30);
                }
            }
            .muted {
                border: 1px solid #9D9D9E;
                color: #9D9D9E;
            }
            .primary {
                border: 1px solid #F90;
                color: #F90;
            }

        }
    }
    .none-teacher {
        width: 100%;
        background-color: #FFF;
        padding: rem(30) 0;
        p {
            font-size: rem(13);
            margin: 0 auto;
            text-align: center;
            color: #9D9D9E;
        }
        p + p {
            margin-top: rem(4);
        }
    }
}

.recommend-courses {
    .title {
        margin: rem(16) rem(10) rem(10) rem(15);
        font-size: rem(15);
        color: #3D3D3E;
    }
    .courses {
        width: 100%;
        background-color: #FFF;
        border: 1px solid #EEE;
        .course {
            width: 48%;
            float: left;
            border:1px solid #DDD;
            margin: 1%;
            .image {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
                .play-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: rem(34);
                    height: rem(34);
                    background: transparent url('/src/page/studentRoom/student/img/play.png') no-repeat center bottom
                    background-size contain
                }
            }
                .tag {
                    position: absolute;
                    top: rem(4);
                    right: rem(4);
                    display: inline-block;
                    padding: 0 rem(4);
                    background-color: rgba(0,0,0,.6);
                    border: 1px solid #FFF;
                    border-radius: rem(2);
                    color: #FFF;
                    vertical-align: top;
                    font-size: rem(12);
                }

            .course-info {
                padding: rem(6);
                .course-name {
                    width: 96%;
                    font-size: rem(14);
                    text-overflow();
                    height: rem(21);
                }
                > div {
                    display: flex;
                    height: rem(20);
                    .price {
                        flex: 1;
                        width: 50%;
                        font-size: rem(13);
                        color: $brand-primary;
                    }
                    .student-count {
                        flex: 1;
                        font-size: rem(12);
                        text-align: right;
                    }
                }
            }

        }
    }
}
.new-buttons {
    width: 100%;
    height: rem(50);
    position: fixed;
    bottom: 0;
    z-index: 2;
    background: #fff;
    .button {
        display: inline-block;
        height: rem(50);
        text-align: center;
        img {
            width: rem(18);
        }
        p {
            font-size: rem(12);
            height: rem(18);
            line-height: rem(18);
        }
    }
    .recommend-box {
        width: 25%;
        vertical-align: middle;
        .recommend-image {
            margin-top: rem(5);
            height: rem(24);
            line-height: rem(24);
        }
    }
    .contact {
        line-height: rem(50);
        float: right;
        width: 50%;
        background: #ff9100;
        color: #fff;
        &.no-teacher {
            background: #9d9d9e;
        }
    }
}

.share-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    background-color: #000;
    opacity: 0.65;
    .content {
        position: absolute;
        top: rem(10);
        width: 100%;
        height: 100%;
        img {
            width: rem(200);
            height: rem(150);
            position: absolute;
            top: 0;
            right: rem(20);
        }
    }
}