.box {
    width: 94%;
    margin-left: 3%;
    margin-top: rem(10);
    background: #ffffff;
    box-shadow: rem(0) rem(2) rem(3) rem(0) rgba(0,0,0,0.13);
    border-radius: rem(4);
    padding: rem(10) 0;
    .vip-icon {
        float: right;
        position: relative;
        left: 1%;
        width: 20%;
    }
    .user-info {
        position: relative;
        .img-container {
            float: left;
            margin: 0 3%;
            position: relative;
            top: rem(3);
            img {
                width: rem(30);
                height: rem(30);
                border-radius: rem(15);
            }
        }
        .user-container {
            display: inline-block;
            width: 60%;
            span {
                width: 100%;
                font-size: rem(13);
                color: #9d9d9e;
                height: rem(20);
                line-height: rem(20);
                &.user-address {
                    font-size: rem(12);
                    height: rem(18);
                    line-height: rem(18);
                }
            }
        }
        .course-title {
            position: absolute;
            top: 0;
            right: rem(15);
            font-size: rem(15);
            color: #9d9d9e;
            letter-spacing: rem(0.53);
            text-align: center;
        }
        .danger {
            color: rgb(259,93,94);
        }
    }
    .first-nav {
        margin: rem(10) rem(10);
        position: relative;
        .course-icon {
            font-family: PingFang-SC-Regular;
            color: #3d3d3e;
            letter-spacing: rem(0.53);
            text-align: left;
            font-size: rem(15);
            color: #37a4f5;
            border-left: 3px solid #37a4f5;
            width: 80%;
            span {
                position: relative;
                padding-left: rem(10);
            }
        }
    }
    .second-nav {
        margin: 0 rem(10);
        margin-top: rem(10);
        display: flex;
        .pay-text {
            font-size: rem(12);
            color: #6d6d6e;
            padding: rem(1) rem(2);
            margin-right: rem(5);
            line-height: rem(18);
            text-align: center;
            border: 1px solid #CAC4C4;
            border-radius: rem(2);
            height: rem(22);
        }
    }

    .text {
        margin: rem(15) rem(10);
        font-family: PingFang-SC-Regular;
        font-size: rem(15);
        color: #3d3d3e;
        letter-spacing: rem(0.53);
        text-align: justify;
        word-break: break-all;
        line-height: rem(20);
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        white-space: inherit;
    }

    .third-nav {
        padding: rem(10);
        padding-top: 0;
        margin-top: rem(10);
        span {
            font-size: rem(11);
            color: #9d9d9e;
            margin-right: rem(6);
        }
    }

    .last-nav {
        padding: rem(6) 0 0 0;
        margin: 0 rem(10);
        border-top: 1px solid #f3f4f5;
        .verify {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #ff9100;
            letter-spacing: rem(0.49);
            line-height: rem(14);
            text-align: center;
        }
        .verify-passed {
            .pay-teacher {
                width: rem(110);
                vertical-align: middle;
                line-height: rem(22);
                font-size: rem(14);
                color: #9d9d9e;
                display: inline-block;
            }
            .teacher-container {
                display: inline-block;
                float: right;
                vertical-align: bottom;
                span {
                    margin-left: rem(3);
                    float: right;
                    display: inline-block;
                    width: rem(30);
                    height: rem(30);
                    img {
                        border-radius: rem(15);
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .avatar {
            height: rem(30);
            width: rem(30);
            border-radius: 50%;
        }
        .user-name {
            font-size: rem(13);
            display: inline-block;
            vertical-align: middle;
            width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .time {
            font-family: PingFang-SC-Regular;
            font-size: rem(13);
            color: #9d9d9e;
            letter-spacing: rem(0.46);
            line-height: rem(13);
            text-align: center;
        }
        .avatars {
            margin: rem(10) rem(15);
            position: relative;
            height: rem(30);
            .avatar {
                height: rem(30);
                width: rem(30);
                border-radius: 50%;
                margin-right: rem(5);
            }
            .next-icon {
                position: absolute;
                right: 0;
                img {
                    height: rem(20);
                    width: rem(20);
                }
            }
        }
    }
}