.teacher-nav {
    position: relative;
    z-index: 2;
    background: white;
    display: flex;
    text-align: center;
    .tab {
        flex: 1;
        font-size: rem(15);
        height: rem(44);
        line-height: rem(44);
        color: #6d6d6e;
        margin: 0 3%;
        &.student-tab {
            margin: 0 13%;
        }
    }
    .tab-active {
        color: #37a4f5;
        border-bottom: 2px solid #37a4f5;
    }
    .divide {
        width: rem(1);
        background: #ddddde;
        margin: rem(14) 0;
    }
}