.box {
    width: 94%;
    margin-left: 3%;
    margin-top: rem(10);
    background: #ffffff;
    box-shadow: rem(0) rem(2) rem(3) rem(0) rgba(0,0,0,0.13);
    border-radius: rem(4);
    padding-top: rem(10);
    .vip-icon {
        float: right;
        position: relative;
        left: 1%;
        width: 20%;
    }
    .user-info {
        margin-bottom: rem(10);
        .user-image {
            float: left;
            margin: 0 4%;
            position: relative;
            top: rem(3);
            img {
                width: rem(30);
                height: rem(30);
                border-radius: rem(15);
            }
        }
        .user-container {
            display: inline-block;
            width: 60%;
            span {
                width: 100%;
                font-size: rem(13);
                color: #9d9d9e;
                height: rem(20);
                line-height: rem(20);
                &.user-address {
                    font-size: rem(12);
                    height: rem(15);
                    line-height: rem(15);
                }
            }
        }
        .course-title {
            font-size: rem(15);
            color: #9d9d9e;
            letter-spacing: rem(0.53);
            text-align: right;
            position: absolute;
            right: rem(20);
        }
    }
    .first-nav {
        margin: 0 rem(15);
        display: flex;
        .course-icon {
            flex: 1;
            padding-right: rem(4);
            display: flex;
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #3d3d3e;
            letter-spacing: rem(0.53);
            line-height: rem(15);
            text-align: left;
            img {
                height: rem(15);
                width: rem(13);
                margin-right: rem(4);
                padding: rem(4) 0;
            }
            .subject-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #37a4f5;
                border-left: 3px solid #37a4f5;
                height: rem(15);
                span {
                    display: inline-block;
                    position: relative;
                    padding-left: rem(10);
                }
            }
        }
        .vip-exclusive {
            color: #FC5C5A;
            font-size: rem(14);
            height: rem(24);
            line-height: rem(24);
        }
    }

    .second-nav {
        margin: 0 rem(10);
        margin-top: rem(10);
        display: flex;
        .pay-text {
            font-size: rem(12);
            color: #6d6d6e;
            padding: rem(1) rem(2);
            margin-right: rem(5);
            text-align: center;
            border: 1px solid #CAC4C4;
            border-radius: rem(2);
            height: rem(22);
            line-height: rem(18);
        }
    }

    .text {
        margin: rem(15) rem(10);
        font-family: PingFang-SC-Regular;
        font-size: rem(15);
        color: #3d3d3e;
        letter-spacing: rem(0.53);
        line-height: rem(20);
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        white-space: inherit;
    }

    .third-nav {
        padding: rem(10);
        padding-top: 0;
        margin-top: rem(10);
        span {
            font-size: rem(11);
            color: #9d9d9e;
            margin-right: rem(6);
        }
    }

    .last-nav {
        border-top: 1px solid #f3f4f5;
        margin: 0 rem(15);
        height: rem(60);
        .pay-teacher {
            height: rem(60);
            width: rem(110);
            vertical-align: middle;
            line-height: rem(60);
            font-size: rem(14);
            color: #9d9d9e;
            display: inline-block;
        }
        .teacher-container {
            display: inline-block;
            float: right;
            vertical-align: bottom;
            height: rem(60);
            span {
                margin-left: rem(3);
                float: right;
                display: inline-block;
                width: rem(30);
                height: rem(60);
                line-height: rem(60);
                img {
                    border-radius: rem(15);
                    width: 100%;
                    height: rem(30);
                }
            }
        }
        .teacher-avatars {
            margin: 0 rem(15);
            position: relative;
            height: rem(30);
            .avatar {
                height: rem(30);
                width: rem(30);
                border-radius: 100%;
            }
            .avatar-box {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid #ededed;
                padding: rem(5) rem(12);
                color: #9d9d9e;
                border-radius: rem(3);
            }
            .contact {
                background: #ff9100;
                color: white;
                border: none;
            }
            .join {
                background: #37a4f5;
                color: white;
                border: none;
            }
        }
    }
}