<div class="dialog vip-update-dialog">
    <div class="header">
        <div class="title">
            温馨提示
        </div>
    </div>

    <div class="body">

        <div class="block">
            老师您好，
        </div>
        <div class="block main-content">
            为了给各位会员老师提供更加优质的服务，让您的教学成果在平台上得到更好的展示，我们隆重推出老师会员4.0版本，让您在学生搜索老师时排序绝对优先，让更多的学生快速找到优秀的您！
        </div>
        <div class="block">
            <span>跟谁学平台</span>
            <span>2017年3月1日</span>
        </div>
        <label>
            <span class="{{#if noRemind}}active{{/if}}"></span>
            <input type="checkbox" name="noRemind" checked="{{noRemind}}">
            不再提示
        </label>
        <div class="known-btn" on-click="close()">知道了</div>
    </div>

</div>