.filter-parent, .filter-parent-all{
    height: rem(400);
    .course {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        border-bottom: 0;
    }
}
.filter-parent-all {
    height: 100%;
}