@import "page/_base/base.styl";
@import "page/activity/gaokao/_part/index.styl"


body{
    background: #EDEDED;
}

header{
    background: rgba(248,247,247,0.90);;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
    height: rem(64);
    position: relative;
    font-family:PingFang-SC-Regular;
    font-size:rem(17);
    color:#3c3d3d;
    line-height:rem(64);
    text-align:center;
    top:0;
    left:0;
    opacity: 1;
    z-index: 3;
    .icon-back{
        position: absolute;
        height: rem(20);
        width: rem(10);
        top: 36%;
        left: rem(10);
    }
}
.super{
    width: 96%;
    margin-left: 2%;
    background: white;
    margin-top: rem(2);
    border-radius: rem(4);
    height:100%;
    .hide{
        display:none;
    }
    span{
        display:inline-block;
    }
    h2{
        font-family:PingFang-SC-Medium;
        font-size:rem(15);
        color:#3c3d3d;
        line-height:rem(15);
        margin-bottom:rem(20);
        margin-left: rem(6);
        margin-top: rem(15);
    }
    .super-list{
        width:96%;
        margin-left:2%;
        .super-avatar{
            height:rem(60);
            width:rem(60);
        }
        .super-card{
            border-left: 1px solid #E5E5E5;
            position:relative;
            margin-bottom:rem(10);
            .hot-teachers-icon{
                margin-top:rem(-10);
                height: rem(24);
                width: rem(24);
            }
        }
        .super-card-2{
            border-left: 1px solid #E5E5E5;
            position:relative;
            margin-bottom:rem(15);
        }
        .super-date{
            font-family:PingFang-SC-Regular;
            font-size:rem(13);
            color:#9d9e9e;
            line-height:rem(13);
            padding-left: rem(10);
            height:rem(13);
        }
        .super-avatar{
            border-radius: 50%;
            margin-top: rem(10);
            margin-left: rem(10);
            height: rem(60);
            width: rem(60);
        }
        .super-name{
            font-family:PingFang-SC-Regular;
            font-size:rem(12);
            color:#9d9e9e;
            line-height:rem(13);
            height:rem(13);
            width:rem(80);
            margin-top: rem(15);
            text-align:center;
        }
        .super-text{
            position: absolute;
            right: rem(10);
            top: rem(15);
            width: 70%;
            h1{
                font-family:PingFang-SC-Regular;
                font-size:rem(15);
                color:#3c3d3d;
                line-height:rem(20);
                margin-bottom:rem(4);
                margin-top: rem(12);
            }
            p{
                font-family:PingFang-SC-Regular;
                font-size:rem(13);
                color:#9d9e9e;
                line-height:rem(17);
            }
        }
        .super-button-haspay,.super-button-unpay,.super-button-video{
                width: 96%;
                margin-left: 2%;
                background: grey;
                margin-top: rem(20);
                border-radius: rem(4);
                height: rem(39);
                text-align: center;
                line-height: rem(39);
                color: white;
        }
        .super-button-unpay{
            background:#1db954;
        }
        .super-button-video{
            background:#ff9100;
        }
    }
    .orange-icon{
            position:absolute;
            background:orange;
            }
        i{
            position: absolute;
            background: #ff9100;
            top: 0;
            left: rem(-5);
            height: rem(9);
            width: rem(9);
            border-radius: 50%;
    }
}
.has_more,.has_more-2{
    width: 100%;
    height: rem(35);
    text-align: center;
    .bottom-icon{
        width: rem(9);
        height: rem(5);
    }
    p{
        font-family:PingFang-SC-Regular;
        font-size:rem(13);
        color:#9d9e9e;
        line-height:rem(13);
    }
}
.super-des{
        font-family:PingFang-SC-Regular;
        font-size:rem(12);
        color:#9d9e9e;
        line-height:rem(12);
}
.back-review{
    margin-top: rem(15);
    margin-bottom: rem(90);
}

.share-infos{
    width:90%
    margin-left:5%;
    text-align:center;
    margin-top:rem(20);
    p{
        font-family:PingFang-SC-Regular;
        font-size:rem(14);
        color:#9d9e9e;
        line-height:rem(14);
    }
    .share-button{
        border:1px solid #ff6c00;
        border-radius:rem(100);
        width: 60%;
        margin-left: 18%;
        height: rem(38);
        margin-top: rem(20);
        margin-bottom: rem(20);
        p{
            font-family:PingFang-SC-Regular;
            font-size:rem(16);
            color:#ff6c00;
            line-height:rem(38);
            text-align:center;
        }
    }
}

.share-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 900;
  background-color: #000;
  opacity: 0.65;
  .content {
    position: absolute;
    top: rem(10);
    width: 100%;
    height: 100%;
    img {
      width: rem(200);
      height: rem(150);
      position: absolute;
      top: 0;
      right: rem(20);
    }
  }
}