@import '../../common/layout.less';
@import '../../common/component/loginDialog.less';
@import '../common/wrapper.less';
@import '../common/header3.less';
@import '../common/comment.less';
@import '../common/course.less';
@import '../common/coupon.less';


#content{
    width: 100%;
    .body{
        width: 1020px;
        min-width: 1020px;
        margin: 0 auto;
        .teacher-content-header {
            font-size: 14px;
            color: #000;
            width: 100%;
            font-weight: bold;
            height: 47px;
            text-align: left;
            padding-left: 20px;
            padding-top: 16px;
            display: inherit;
            border-bottom: 1px solid #eee;
            span{
                font-size: 12px;
                color: #888;
            }
        }
        .clearfix();
        .teacher-content{
            &>*{
                margin-top: 14px;
                float: left;
            }
            .clearfix();
            .course-left-menu {
                width: 260px;
                background: #fff;
                margin-right: 20px;
                li{
                    width: 100%;
                    height: 54px;
                    padding: 20px;
                    font-size: 14px;
                    cursor: pointer;
                    color: #222;
                    border-bottom: 1px solid #eee;
                    border-left: 3px solid #fff;
                    &:hover{
                        color: #f95;
                        border-left: 3px solid #f95;
                    }
                    span{
                        display: inline-block;
                        width: 48%;
                    }
                    .course-number{
                        text-align: right;
                    }
                }
                .active{
                    color: #f95;
                    border-left: 3px solid #f95;
                }
            }
            .course-right-menu{
                width: 740px;
            }

            .teacher-course-list{
                background: #FFFFFF;
                min-height: 400px;
                padding-bottom: 20px;
            }
            .teacher-comment{
                margin-top: 14px;
                background: #fff;
                float: right;
                width: 740px;
                .teacher-comment-content{
                  padding: 20px;
                  max-width: 720px;
                }
            }
        }

    }
}