@import '../../common/layout.less';
@import '../../common/component/loginDialog.less';
@import '../common/wrapper.less';
@import '../common/header3.less';
@import '../common/teacherMap.less';
@import '../common/experience.less';
@import '../common/success.less';
@import '../common/comment.less';
@import '../common/coupon.less';
@import '../common/course.less';
@import '../common/indexSidebar.less';
@import "../../common/component/advisoryDialog.less";

#content{
    width: 100%;
    .body{
        width: 1020px;
        min-width: 1020px;
        margin: 0 auto;
        .teacher-content-header {
            font-size: 14px;
            color: #000;
            font-weight: bold;
            width: 100%;
            height: 47px;
            text-align: left;
            padding-left: 20px;
            padding-top: 16px;
            display: inherit;
            border-bottom: 1px solid #eee;
            span{
                font-size: 12px;
                color: #888;
            }
        }
        .teacher-content-bottom{
            text-align: center;
            height: 35px;
            padding-top: 8px;
            font-size: 12px;
            border-top: 1px solid #eee;
            cursor: pointer;
            a{
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
        .clearfix();
        .teacher-content{
            width: 740px;
            float: left;
            margin-right: 10px;
            &>div{
              margin-top: 14px;
              max-width: 740px;
              background: #FFFFFF;
            }
            .teacher-course-list{
                height: 550px;
                .course-list-header{
                    position: relative;
                    span{
                        font-weight: 100;
                    }
                }
                .get-coupon{
                    float: right;
                    margin-right: 20px;
                    margin-top: -10px;
                    padding: 10px 0;
                    cursor: pointer;
                    .icon-coupons {
                      margin-right: @gap-horizontal-tiny;
                      font-size: 20px;
                      vertical-align: top;
                    }
                }
                .course-list{
                    min-height: 468px;
                    .course-item {
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
            .teacher-intro{
                .teacher-intro-info{
                    padding: 20px;
                    &>div{
                        margin-top: 5px;
                    }
                    .info-tips li{
                        display: inline-block;
                        margin: 0 5px;
                        .icon{
                            position: relative;
                            top: 3px;
                        }
                    }
                    .introduction {
                        display: inline-block;
                        margin-left: 70px;
                        margin-top: -22px;
                    }
                }
                .teacher-intro-photo{
                    padding: 20px;
                    .teacher-photo-header{
                        font-size: 14px;
                        color: #000;
                        width: 100%;
                        height: 30px;
                    }
                    #teacher-photos{
                        padding-bottom: 20px;
                        height: 360px;
                        overflow: hidden;
                        .teacher-photo-item{
                            width: 170px;
                            height: 177px;
                            margin: 2px;
                            float: left;
                            position: relative;
                            text-align: center;
                            cursor: pointer;
                            img{
                                width: 172px;
                                height: 172px;
                            }
                            .photo-intro{
                                position: absolute;
                                text-align: center;
                                opacity: .7;
                                background: #000000;
                                color: #FFFFFF;
                                width: 172px;
                                padding: 3px;
                                height: auto;
                                bottom: 5px;
                                left: 0;
                                display: none;
                            }
                            .photo-seemore{
                                position: absolute;
                                text-align: center;
                                opacity: .5;
                                background: #000000;
                                color: #FFFFFF;
                                width: 172px;
                                padding: 3px;
                                padding-top: 65px;
                                height: 172px;
                                bottom: 5px;
                                left: 0;
                                display: block;
                            }
                            &:hover{
                                .photo-intro{
                                  display: block;
                                }
                            }
                            .video-player-icon {
                              width: 42px;
                              height: 42px;
                              background: url('/src/img/teacherIndex/model/small-player.png');
                              position: absolute;
                              bottom: 65px;
                              left: 65px;
                            }
                        }
                        .first-item{
                            width: 340px;
                            height: 354px;
                            img{
                                width: 340px;
                                height: 354px;
                            }
                            .photo-intro{
                                bottom: 0px;
                                width: 340px;
                            }
                            .video-player-icon{
                              bottom: 130px;
                              left: 130px;
                            }
                        }
                    }
                }
            }
            .teacher-record{
                .teacher-record-header{
                    h1{
                        display: inline-block;
                        margin-right: 25px;
                        height: 31px;
                        cursor: pointer;
                    }
                    .active{
                        border-bottom: 2px solid #f95;
                    }
                }
                .teacher-record-content{
                    padding: 0 20px 14px 20px;
                    margin-bottom: 20px;
                }
            }
            .teacher-details{
                min-height: 200px;
                .teacher-rich-text{
                    max-width: 700px;
                    padding: 10px 0 20px 10px;
                    img{
                        max-width: 720px;
                        height: auto !important;
                    }
                }
            }
            .teacher-comment{
                .teacher-comment-content{
                    padding: 20px;
                    max-width: 720px;
                }
            }
        }

    }
}