body {
    background: #fff;
    font-size: rem(10);
    margin: 0;
}
.main {
    img {
        width: 100%;
    }
    .fames-teacher {
        width: 100%;
        position: relative;
        a {
            display: block;
            height: 23%;
            width: 50%;
            position: absolute;

            &.top-left {
                top: rem(35);
                left: 0;
            }
            &.top-right {
                top: rem(35);
                right: 0;
            }
            &.bottom-left {
                left: 0;
                top: 30%;
            }
            &.bottom-right {
                right: 0;
                top: 30%;
            }
        }
    }
}
