@import "./common.styl";
.series-course {
    background: #f2f3f4;
    .series-course-img {
        height: rem(211);
    }
    .course-catalog {
        background-color: #fff;
        padding: 0 rem(15);
    }
}