/**
 * @file 老师个人中心数据中心综合排名
 * @author wangtianhua
 */
@import '../../../common/layout.styl';
@import '../header.styl';

.appear {
    display: block;
}
.hidden {
    display: none;
}
#content {
    .data-center-header {
        .sysnthetic{
            border-bottom: 2px solid #f90;
            a {
                color: #f90;
            }
        }
    }
    .no-course {
        width: 100%;
        text-align: center;
        margin-top: 100px;
        a {
          color :#f90;
        }
    }
    .canvas-radar {
        width: 737px;
        height: 400px;
        display: none;
    }


    .title {
        font-size: 16px;
        color: #000000;
        width: 737px;
        margin-top: 20px;
        .influreson {
            cursor: pointer;
            font-size: 12px;
            float: right;
        }
        .title-header{
            font-size: 14px;
            .course-select{
                width: 150px;
            }
            .win,
            .number{
              color: #f90;
              font-size: 18px;
            }
        }
        .title-descript{
            font-size: 14px;
            font-weight: bold;
            color: #747474;
            margin-top: 5px;
            text-align: center;
        }
    }
    .data-source {
        width: 100%;
        margin-top: 5px;
        .complete{
            height: 150px;
            .source-left {
                padding-top: 60px;
            }
        }
        .service, .change, .teach {
            height: 100px;
            .source-left {
                padding-top: 30px;
            }
        }
        .student{
            height: 50px;
            .source-left {
                padding-top: 15px;
            }
        }
        .sortanalyse {
            .source-item {
                border: 1px #ccc solid;
                margin: 15px 0;
                overflow: hidden;
                .source-left {
                    width: 220px;
                    float: left;
                    text-align: center;
                }
                .source-right {
                    width: 510px;
                    float: right;
                    border: 1px #ccc solid;
                    padding: 10px 40px;
                    border-bottom: none;
                    border-right: none;
                    &.first {
                        border-top: none;
                    }
                    .bottom-descript {
                        color: #a6a6a6;
                        font-size: 12px;
                        margin-top: 5px;
                        .detail {
                            margin-left: 10px;
                        }
                    }
                    .source-right-item {
                        font-size: 12px;
                        &:hover {
                            color: #666;
                        }
                        .right-title {
                            color: #000;
                            width: 70px;
                            display: inline-block;
                            text-align: left;
                        }
                        .right-descript {
                            display: inline-block;
                            text-align: left;
                            margin-left: 20px;
                            span {
                                color: #f90;
                            }
                        }
                        .right-back {
                            width: 200px;
                            display: inline-block;
                            .progress {
                                width: 100%;
                                height: 10px;
                                display: inline-block;
                                border-radius: 12px;
                                .meter {
                                    padding: 6px 0;
                                }
                                &.one {
                                    > .meter {
                                        background-color: #54a3de;
                                    }
                                }
                                &.two {
                                    > .meter {
                                        background-color: #747b9b;
                                    }
                                }
                                &.three {
                                    > .meter {
                                        background-color: #4bbbaf;
                                    }
                                }
                                &.four {
                                    > .meter {
                                        background-color: #f3846c;
                                    }
                                }
                                &.five {
                                    > .meter {
                                        background-color: #95ca70;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        .complete {
            .right-back div{
                background: #54a3de;
            }
        }
       .service {
            .right-back div{
                background: #747b9b;
            }
        }
       .change {
            .right-back div{
                background: #4bbbaf;
            }
        }
       .teach {
            .right-back div{
                background: #f3846c;
            }
        }
       .student {
            .right-back div{
                background: #95ca70;
            }
        }

       .no-source {
            text-align: center;
            height: 150px;
            padding-top: 40px;
            border: 1px solid #e6e6e6;
            a {
                color: #f90;
            }
           .button{
               display: inherit;
               a{
                   display: inline-block;
                   background: #f90;
                   color: #ffffff;
                   font-size: 14px;
                   padding: 5px 20px;
                   border: 1px solid #f90;
                   border-radius: 3px;
               }
           }
       }
    }


    .teachers {
        margin-top: 5px;
        margin-bottom :20px;
        border: 1px solid #e6e6e6;
        .no-teachers {
            width: 100%;
            text-align: center;
            height: 120px;
            padding-top: 40px;
            a {
                color: #f90;
            }
        }
        .top-teacher {
            display: inline-block;
            width: 100px;
            margin : 30px 0px 40px 40px;
            .teacher-name {
                width: 100%;
                height: 30px;
                text-align: center;
                padding-top: 10px;
            }
            .teacher-img {
                position : relative;
                .rank{
                  position :absolute;
                  width :25px;
                  height :25px;
                  background #555555;
                  border:1px solid #FFFFFF;
                  border-radius : 15px;
                  text-align : center;
                  color : #FFFFFF;
                  top :0;
                  right :0;
                }
                .active{
                    background : #f90;
                }
            }
        }
    }

}
.firefox #main .course-select{
    top :10px;
}
.tooltip {
    width: 300px
}
.qadialog {
    text-align: left;
}