{{ extends file="common/pc/base.html" }}
{{ block name="data" }}

    {{ $need_im = true }}

    {{ $smarty.block.parent }}
    {{ $script_path = "activity/videoList/videolist_a29dc9a732" }}
    {{ $script_data.show_findTeacher = true }}

{{ /block }}

{{ block name="title" prepend }}
视频课-
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/videoList_33ca45eea3.css" />
{{ /block }}

{{ block name="body" }}

    {{ $smarty.block.parent }}
    {{ include file="common/siteNav.html" }}
    {{ strip }}
    <div class="search-nav" data-module-path="activity/videoList/search_8543b61be7" id="videolist-search">
        {{ include file="activity/videoList/searchNav.html" navTitle='视频课' navHref=" " searchType="4" }}
    </div>
    <div class="slider-banner" data-module-path="activity/videoList/ad_da35cc9b91" id="videolist-ad">
        <div class="slider-container" id="slider-container" data-adid="99">
    </div>
    <div class="contents">
        <div class="warpper">
            <div class="site-nav-bar" data-click="course-class">
                <table class="site-nav-table">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <tbody>
                        <tr>
                            {{ foreach $tpl_data.category as $key => $val }}
                            <td>
                                <div class="site-title">
                                    <i class="icon {{ $val.icon }}"></i>
                                    <a href="{{ $val.url }}" target="_blank">{{ $key }}</a>
                                </div>
                                <ul>
                                    {{ foreach $val.sub_class as $subClass }}
                                    <li class="sites" data-click="{{ $subClass.cid }}">
                                        <a href="{{ $subClass.url }}" target="_blank">{{ $subClass.name }}</a>
                                        {{ if $subClass.is_new }}
                                            <i class="icon icon-new"></i>
                                        {{ else if $subClass.is_hot }}
                                            <i class="icon icon-hot"></i>
                                        {{ /if }}
                                    </li>
                                    {{ /foreach }}
                                </ul>
                            </td>
                            {{ /foreach }}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="list-box hot-video" data-click="hot-video">
                <div>
                    <div class="change-pages">
                        <i class="icon icon-chevron-left" data-click="page-prev"></i>
                        <i class="icon icon-chevron-right" data-click="page-down"></i>
                    </div>
                    <h2>
                        <i class="icon icon-fire"></i>
                        热门视频
                    </h2>
                </div>
                <div class="video-list">
                    <div class="scroll-list-box">
                        {{ foreach $tpl_data.hot_videos as $hotVideo }}
                        {{ $count = count($tpl_data.hot_videos) }}
                        {{ if $hotVideo@index % 4 == 0 }}
                        <ul class="list">
                        {{ /if }}
                            <li class="item" data-sku="video|{{ $hotVideo.number }}">
                                <a href="{{ $hotVideo.course_detail_url }}" target="_blank">
                                    {{ include file="common/component/image.html" url=$hotVideo.cover_url width=282 height=162 lazy_load=true }}
                                    <!--<img src="{{ $hotVideo.cover_url }}" width="282">-->
                                </a>
                                <div class="info">
                                    <a href="{{ $hotVideo.course_detail_url }}" target="_blank">
                                        <div class="title {{ if $hotVideo.support_audition && $hotVideo.price > 0 }}short{{ /if }}">
                                            {{ $hotVideo.name }}
                                        </div>
                                        {{ if $hotVideo.support_audition && $hotVideo.price > 0 }}
                                        <span><i class="icon icon-play-o"></i>试听</span>
                                        {{ /if }}
                                        <div class="detail">
                                            {{ if $hotVideo.price > 0 }}
                                            <div class="price">￥{{ $hotVideo.price }}</div>
                                            {{ else }}
                                            <div class="price-no">免费</div>
                                            {{ /if }}
                                            <span class="stu-num">
                                                <i class="icon icon-user-o"></i>{{ $hotVideo.student_count }}人在学
                                            </span>
                                        </div>
                                    </a>
                                    {{ if $hotVideo.support_audition || $hotVideo.price == 0 }}
                                    <a class="button-no" href="{{ $hotVideo.course_play_url }}" target="_blank">
                                        立即学习
                                        <i class="icon icon-caret-right"></i>
                                    </a>
                                    {{ else }}
                                    <a class="button" href="{{ $hotVideo.course_detail_url }}" target="_blank">
                                        立即购买
                                        <i class="icon icon-caret-right"></i>
                                    </a>
                                    {{ /if }}

                                </div>
                            </li>
                        {{ if $hotVideo@index % 4 == 3 || $hotVideo@index == ($count - 1) }}
                        </ul>
                        {{ /if }}
                        {{ /foreach }}
                    </div>
                </div>
            </div>

            <div class="list-box recommend-video" data-click="best-selling-video">
                <div>
                    <a class="more" href="http://ju.genshuixue.com/" target="_blank" data-click="more">更多></a>
                    <h2>
                        <i class="icon icon-buy"></i>
                        超值视频
                    </h2>
                </div>
                <div class="video-list">
                    <ul>
                        {{ foreach $tpl_data.best_selling_videos as $bestSell }}
                        <li class="item" data-sku="video|{{ $bestSell.number }}">
                            <a href="{{ $bestSell.course_detail_url }}" target="_blank">
                                <div class="image-box">
                                    {{ include file="common/component/image.html" url=$bestSell.cover_url width=156 height=88 lazy_load=true }}
                                </div>
                                <div class="info">
                                    <div class="title">
                                        {{ $bestSell.name|truncate:30:"...":true }}
                                        {{ if $bestSell.support_audition && $bestSell.price > 0 }}
                                        <span><i class="icon  icon-play-o"></i>试听</span>
                                        {{ /if }}
                                    </div>
                                    <div class="detail">
                                        {{ if $bestSell.price > 0 }}
                                        <div class="price">￥{{ $bestSell.price }}</div>
                                        {{ else }}
                                        <div class="price-no">免费</div>
                                        {{ /if }}
                                        <span class="stu-num">
                                            <i class="icon icon-user-o"></i>{{ $bestSell.student_count }}人在学
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{ /foreach }}
                    </ul>
                </div>
            </div>

            <div class="list-box like-video">
                <div>
                    <div class="refresh" data-click="likevideo-refresh">换一批<span class="icon icon-refresh-new"></span></div>
                    <h2>
                        <i class="icon icon-heart"></i>
                        猜你喜欢
                    </h2>
                </div>

                <div class="rank">
                    <ul class="tabs">
                        <li class="first active" data-idx="0" data-click="free-rank">免费排行</li>
                        <li class="" data-idx="1" data-click="pay-rank">付费排行</li>
                    </ul>
                    <ul class="rank-list" data-click="free-rank-list">
                        {{ foreach $tpl_data.rank_videos.free as $rankList }}
                        {{ $idx = $rankList@index + 1 }}
                        {{ if $idx < 10 }}
                        <li class="rank-item {{ if $idx == 1 }}active{{ /if }}" data-sku="video|{{ $rankList.number }}">
                            <div class="item-main">
                                <a href="{{ $rankList.course_detail_url }}" target="_blank">
                                    <span class="idx {{ if $idx < 4 }}idx-highlight{{ /if }}">{{ $idx }}</span>
                                    {{ $rankList.name }}
                                </a>
                            </div>
                            <a href="{{ $rankList.course_detail_url }}" target="_blank">
                                <div class="item-detail">
                                    {{ include file="common/component/image.html" url=$rankList.photo_url width=124 height=69 lazy_load=true }}
                                    <!--<img src="{{ $rankList.photo_url }}" width="124" height="69">-->
                                    <div class="rank-info">
                                        <div class="stu-num"><span>{{ $rankList.student_count }}</span>次播放</div>
                                        <div class="org-name">{{ $rankList.second_info }}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{ /if }}

                        {{ /foreach }}
                    </ul>
                    <ul class="rank-list" data-click="pay-rank-list" style="display: none;">
                        {{ foreach $tpl_data.rank_videos.pay as $rankList }}
                        {{ $idx = $rankList@index + 1 }}
                        {{ if $idx < 10 }}
                        <li class="rank-item {{ if $idx == 1 }}active{{ /if }}" data-sku="video|{{ $rankList.number }}">
                            <div class="item-main">
                                <a href="{{ $rankList.course_detail_url }}" target="_blank">
                                    <span class="idx {{ if $idx < 4 }}idx-highlight{{ /if }}">{{ $idx }}</span>
                                    {{ $rankList.name }}
                                </a>
                            </div>
                            <a href="{{ $rankList.course_detail_url }}" target="_blank">
                                <div class="item-detail">
                                    {{ include file="common/component/image.html" url=$rankList.photo_url width=124 height=69 lazy_load=true }}
                                    <!--<img src="{{ $rankList.photo_url }}" width="124" height="69">-->
                                    <div class="rank-info">
                                        <div class="stu-num"><span>{{ $rankList.student_count }}</span>次播放</div>
                                        <div class="org-name">{{ $rankList.second_info }}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{ /if }}

                        {{ /foreach }}
                    </ul>
                </div>
                <div class="video-list" data-click="like-video">

                    {{ foreach $tpl_data.recommend_videos as $recommend }}
                    {{ $idx = $recommend@index }}
                    {{ $count = count($tpl_data.recommend_videos) }}
                    {{ if $idx % 6 == 0 }}
                    <ul class="list{{ if $idx == 0 }} show {{ /if }}">
                    {{ /if }}
                        <li class="item" data-sku="video|{{ $recommend.number }}" data-monitor-rank="{{ $idx % 6 + 1 }}" data-monitor-qid="{{ $tpl_data.recommend_qid }}" data-monitor-item="id|{{ $recommend.number }}" data-monitor-q="" data-monitor-uuid="" data-monitor-tid="" >
                            <a href="{{ $recommend.course_detail_url }}" target="_blank" class="click-monitor" data-monitor-location="avatar">
                                {{ include file="common/component/image.html" url=$recommend.cover_url width=282 height=188 lazy_load=true }}
                                <!--<img src="{{ $recommend.cover_url }}" width="282">-->
                            </a>
                            <div class="info">
                                <a href="{{ $recommend.course_detail_url }}" target="_blank" class="click-monitor" data-monitor-location="name">
                                    <div class="title {{ if $recommend.support_audition && $recommend.price > 0 }}short{{ /if }}">
                                        {{ $recommend.name }}
                                    </div>
                                    {{ if $recommend.support_audition && $recommend.price > 0 }}
                                    <span><i class="icon icon-play-o"></i>试听</span>
                                    {{ /if }}
                                    <div class="detail">
                                        {{ if $recommend.price > 0 }}
                                        <div class="price">￥{{ $recommend.price }}</div>
                                        {{ else }}
                                        <div class="price-no">免费</div>
                                        {{ /if }}

                                        <span class="stu-num">
                                            <i class="icon icon-user-o"></i>{{ $recommend.student_count }}人在学
                                        </span>
                                    </div>
                                </a>
                                {{ if $recommend.support_audition || $recommend.price == 0 }}
                                <a class="button-no" href="{{ $recommend.course_play_url }}" target="_blank">
                                    立即学习
                                    <i class="icon icon-caret-right"></i>
                                </a>
                                {{ else }}
                                <a class="button" href="{{ $recommend.course_detail_url }}" target="_blank">
                                    立即购买
                                    <i class="icon icon-caret-right"></i>
                                </a>
                                {{ /if }}

                            </div>
                        </li>
                    {{ if $idx % 6 == 5 || ($idx == $count - 1) }}
                    </ul>
                    {{ /if }}
                    {{ /foreach }}
                </div>
            </div>
        </div>
    </div>
    {{ /strip }}

    {{ include file="common/script.html" }}

    {{ block name="script" }}{{ /block }}

    {{ include file="common/footer.html" }}

{{ /block }}