{{ strip }}
<div class="section-header">
    确认支付信息
</div>
<table class="table course">
    <thead>
        <tr>
            <th class="left" width="50%">
                <span>发布时间: {{ $product.course_pub_time }}</span>
                <span>视频课编号：{{ $product.course_number }}</span>
            </th>
            <th>教师</th>
            <th>课节数</th>
            <th>折扣</th>
            <th>价格</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="video-base-info left">
                <div class="portrait">
                <a href="/video_course/getcourseshowdetail?number={{ $product.course_number }}&user_number={{ $product.teacher_profile.number }}">
                    {{ include file="common/component/image.html" url=$product.portrait width=120 height=80 }}
                </a>
                </div>
                <div class="name">
                    {{ $product.course_name_cut }}
                    <div class="tag"></div>
                </div>
                <div>
                    <div class="watch"></div>
                    {{ if $product.expire_days >= 0 }}
                        {{ $product.expire_days }}天随时看
                    {{ else }}
                        随时看
                    {{ /if }}
                </div>
            </td>
            <td>
                <div>{{ $product.teacher_profile.display_name }}</div>
            </td>
            <td>
                <span class="text-primary">{{ $product.course_items_count }}</span>
                课节
            </td>
            <td>
                {{ if !empty($account.discount) }}
                    {{ include file="common/ui/dropdown.html" class="discount-dropdown" }}
                {{ else }}
                    {{ if !empty($product.discount) }}
                        {{ if $product.discount == 10 }}
                            无折扣
                        {{ else }}
                            {{ $product.discount }}
                        {{ /if }}
                    {{ else }}
                        -
                    {{ /if }}
                {{ /if }}
            </td>
            <td>
                <span class="text-primary">
                    ￥
                    <span class="pay-money"
                    data-pay-money="{{ $product.total_price|number_format:2 }}" data-price={{ $product.pay_money }} data-preprice={{ $account.discount[0].pre_price }}>
                        {{ $product.pay_money|number_format:2 }}
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
</table>
{{ /strip }}