//学生评价
.detail-course-comment {
    background-color: #fff;
    .comment-info {
        background-color: #fff;
    }
    .total-star {
        padding-bottom: rem(10);
        .icon {
            font-size: rem(16);
            padding-left: rem(5);
        }
        .score {
            font-size: rem(15);
            color: #3C3D3E;
            padding-left: rem(10);
        }
        .icon-star-half {
            color: #ff6c00;
        }
        .icon-star {
            color: #ffc499;
        }
        .star-shine {
            color: #ff6c00;
        }
    }
    .comment-detail {
        width: 100%;
        .comment-item:not(:first-child) {
            padding: rem(15) 0;
        }
        .comment-item:not(:last-child) {
            border-bottom: 1px solid #ebeced;
        }
        .comment-item:first-child {
            border-bottom: 1px solid #ebeced;
            padding-bottom: rem(15);
        }
        .comment-item {
            .base-info {
                position: relative;
                padding-left: rem(30);
                .avatar {
                    left:0;
                    v-center(absolute);
                    width: rem(30);
                    height: rem(30);
                    img {
                        border-radius: 50%;
                    }
                }
                .right-info {
                    height: rem(40);
                    line-height: rem(20);
                    margin-left: rem(10);
                    .stu-name {
                        font-size: rem(12);
                        color: #3D3D3E;
                    }
                    .create-time {
                        font-size: rem(12);
                        color: #9D9D9E;
                    }
                }
            }
            .comment {
                font-size: rem(13);
                color: #3C3D3E;
                margin-top: rem(13);
                display: -webkit-box;
                word-break: break-all;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }
        }
    }
}