@import 'compile_spa/resource/css/mixin/position.styl';
.recruit-home-advantage-item {
    position: relative;
    padding-bottom: 43.67%;
    width: 80%;
    margin: rem(20) auto;
    border-radius: rem(6);
    overflow: hidden;
    img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .item-desc {
        v-center(absolute);
        text-align: center;
        width: 100%;
        .title {
            font-size: rem(24);
            color: #fff;
            line-height: rem(50);
        }
        .sub-title {
            font-size: rem(16);
            color: #fff;
        }
    }
}
