.reblog {
    flex: 2.8;
    height: rem(50);
    line-height: rem(50);
    background: #FF6C00;
    font-family: PingFang-SC-Regular;
    font-size: rem(17);
    color: #FFFFFF;
    letter-spacing: rem(-0.41);
}