/*
* file 老师主页
* author caoying
* date 2016-02-29
*/

@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "./detail/head_V1.styl";
@import "./detail/head_V2.styl";
@import "./detail/head_V3.styl";
@import "./detail/head_common.styl";
@import "./detail/course.styl";
@import "page/bottom/teacherBottom.styl";
/*@import "./detail/bottom.styl";*/
@import "./main/teacher-intro.styl";
@import "./main/teacher-photo.styl";
@import "./main/teacher-article.styl";
@import "page/comment/commentDetail/commentDetail.styl";
@import "common/appoint/appoint.styl";
@import "common/component/interactLayer/index.styl";
@import "common/staySingle/staySingle.styl";
@import "page/teacherCenter/_part/question.styl";
@import "page/teacherCenter/_part/topBanner.styl";

body {
    margin: 0;
    background-color: #edf0f0;
}

#main {
    .head-img {
        .img-background{
            background-color: rgba(99, 31, 0, 1);
        }
        .edit-background {
            display: none;
            color: #ffffff;
            position: absolute;
            top: rem(20);
            right: rem(10);
            img {
                width: rem(100);
                height: rem(27);
            }
        }
        .common-head-bottom-shade {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.4);
            font-size: rem(15);
            padding: rem(5) 0;
            .item-list {
                .item-flex {
                    display: inline-block;
                    width: 33%;
                    font-size: rem(12);
                    color: #ffffff;
                    margin: 0 auto;
                    text-align: center;
                    float: left;
                }
                .item-height {
                    line-height: rem(36);
                }
                .line {
                    float: left;
                    display: inline-block;
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    .display-none {
        display: none !important;
    }
    .change-tab {
        background: #ffffff;
    }
    .main-tab-title {
        margin-top: rem(10);
        background: #ffffff;
        padding: 0 rem(15);
        border-bottom: 1px solid #ebeced;
        li {
            display: inline-block;
            width: 25%;
            text-align: center;
            font-size: rem(14);
            span {
                width: 80%;
                display: block;
                margin: 0 auto;
                padding: rem(10) 0;
                padding-bottom: rem(9);
            }
            .active {
                color: #ff6c00;
                border-bottom: 2px solid #ff6c00;
            }
        }
    }
    .tab-title-red {
        li {
            .active {
                color: #f95e5e;
                border-bottom: 2px solid #f95e5e;
            }
        }
    }
    .tab_fixed {
        margin-top: 0;
        position: fixed;
        top: 0;
        z-index: 30;
        width: 100%;
    }
    .tab-container {
        //min-height: rem(560);
        background: #ffffff;
    }
    .fix-top {
        padding-top: rem(40);
    }
    .teacher-comment {
        background: #ffffff;
        .comments-filter {
            padding-right: rem(10);
        }
    }
    .teacher-article {
        .home-news {
            padding: 0 rem(10);
            .item-content {
                padding: rem(10) 0;
                .news-teacher-name {
                    span {
                        display: inline-block;
                        margin-right: rem(10);
                    }
                }
            }
            .child-content {
                > h3 {
                    text-overflow: ellipsis;
                    white-space: normal!important;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                }
            }
        }
        .right-img-content-more {
            >li {
                width: 31.3%;
            }
        }
    }
    .no-article,
    .none-content {
        background: #ffffff;
        margin: 0 auto;
        text-align: center;
        line-height: rem(560);
        height: rem(560);
        color: #9d9d9e;
    }
    .comments-more {
        border-top: 1px solid #dcddde;
    }
    .fsdlg-container {
        bottom: rem(50);
    }
    .try-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
        .mask {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: 0.5;
        }
        .front {
            position: absolute;
            left: 50%;
            top: 50%;
            width: rem(250);
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            background-color: #fff;
            border-radius: rem(3.008);
            text-align: center;
            .cancel {
                font-size: rem(22);
                font-weight: bold;
                position: absolute;
                right: rem(9.008);
                top: rem(9.008);
                color: #9d9d9d;
                z-index: 1;
            }
            > h3 {
                font-size: rem(16);
                line-height: rem(34);
                margin-top: rem(10);
            }
            > p {
                font-size: rem(13);
                line-height: rem(34);
                margin-top: rem(10);
            }
            .btn {
                overflow: hidden;
                clearfix();
                margin-top: rem(10);
                > div {
                    width: 50%;
                    font-size: rem(13);
                    line-height: rem(36);
                    border-left: 1px solid #ccc;
                    border-top: 1px solid #ccc;
                    margin-left: rem(-1);
                    float: left;
                }
                .pay {
                    > a {
                        color: #ff9100;
                    }
                }
            }
        }
    }
    .share-qrCode {
        background-color: #fff;
        margin-top: rem(10);
        color: #6d6d6e;
        font-size: rem(13);
        padding-top: rem(10);
        padding-bottom: rem(20);
        margin-bottom: rem(60);
        .app-qrCode {
            display: none;
            ul {
                width: 100%;
                // display: flex;
                // justify-content: center;
                height: rem(50);
                line-height: rem(50);
                text-align: center;
            }
            li {
                //flex: 1;
                text-align: center;
                display: inline-block;
                margin: 0 rem(5);
            }
            .friends,
            .weixin,
            .qrcode,
            .m-qrcode {
                border: 1px solid #dcddde;
                text-align: center;
                border-radius: rem(20);
                margin-top: rem(10);
                padding: 0 rem(10);
                height: rem(32);
                line-height: rem(32);
            }
            .friends {
                img {
                    margin-top: rem(-3);
                }
            }
            .icon,
            img {
                padding-right: rem(3);
            }
            img {
                vertical-align: middle;
            }
            .icon-wechat {
                color: #61c765;
                font-size: rem(14);
                vertical-align: middle;
                padding-right: rem(5);
            }
            .icon-qrcode {
                color: #6d6d6e;
                font-size: rem(13);
            }
            .tip,
            .course-id {
                font-size: rem(13);
                color: #9d9e9e;
                width: 100%;
                text-align: center;
                border: 0;
            }
            .tip {
                margin-top: rem(8);
            }
        }
        .m-qrCode {
            display: none;
            .qrCode {
                margin: rem(10) auto;
                width: rem(80);
                height: rem(32.5);
                line-height: rem(32.5);
                text-align: center;
                border: 1px solid #dcddde;
                border-radius: rem(14);
            }
            .qrCode-desc {
                font-size: rem(12);
                color: #9d9e9e;
                width: 100%;
                text-align: center;
                border: 0;
            }
        }
    }
}

.tab-list {
    .comment-panel {
        .no-comment {
            padding: rem(85) rem(30) 0;
        }
    }
}

.qrcode-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    .mask {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.5;
    }
    .front {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: rem(30);
        transform: translate3d(-50%, -50%, 0);
        background-color: #FFF;
        border-radius: rem(3);
    }
    .label-group {
        font-size: rem(13);
        margin: 0 auto;
        text-align: center;
        .label-name {
            float: left;
        }
        .org-name {
            margin-left: rem(60);
            text-align: left;
        }
    }
    #qrcode {
        margin: 0 auto;
        text-align: center;
        padding: rem(10);
        img {
            width: rem(124);
            height: rem(124);
        }
        canvas {
            width: 100%;
        }
    }
    .hint {
        text-align: center;
        color: #9D9D9D;
        font-size: rem(12);
    }
    .cancel {
        font-size: rem(15);
        font-weight: bold;
        position: absolute;
        right: rem(-10);
        top: rem(-10);
        color: #9D9D9D;
        padding: rem(20);
    }
    .label-group {
        .teacher-name {
            text-align: center;
        }
    }
}

.share-mask {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    .mask {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.65;
    }
    .content {
        position: absolute;
        top: rem(10);
        width: 100%;
        height: 100%;
        .img {
            width: rem(45);
            height: rem(55);
            position: absolute;
            top: rem(10);
            right: rem(40);
        }
        .text {
            color: #fff;
            font-size: rem(16);
            text-align: center;
            width: 100%;
            margin-top: rem(80);
            .blank {
                margin-top: rem(10);
            }
        }
        .btn {
            color: #fff;
            font-size: rem(15);
            width: rem(107);
            height: rem(27);
            line-height: rem(27);
            text-align: center;
            border: 1px solid #fff;
            border-radius: rem(5);
            margin: rem(30) auto;
        }
    }
}

.page-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.ajax-loading {
    margin: 0 auto;
    text-align: center;
    padding-top: rem(200);
}

.ajax-comment-loading {
    margin: 0 auto;
    text-align: center;
    padding-top: rem(120);
}

.listen-content {
    .listen-action {
        background: #ff9100;
        &.action-able {
            background: #ff6c00;
        }
    }
    .listen-action-red {
        background: #ffcdd2;
        &.action-able {
            background: #f95e5e;
        }
    }
}

.share-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    .content {
        position: absolute;
        top: rem(10);
        right: rem(33.008);
        width: rem(205.008);
        height: rem(142);
    }
}

.back-top-component {
    z-index: 9 !important;
}

.christmas-hat {
    position: absolute;
    background-image: url('/src/page/teacherCenter/teacherMain/image/ic_app_hat.png');
    background-size: contain;
}
.christmas-tree {
  position: absolute;
  background-image: url('/src/page/teacherCenter/teacherMain/image/ic_app_tree.png');
  background-size: contain;
}
.christmas-mark {
    display: none;
}
.more-comment {
    padding: rem(15) 0;
    font-size: rem(14);
    color: $g400;
    text-align: center;
}

