/**
 * @file 教学计划
 * @author wangtianhua
 */
@import './common.styl';

.plan {
    width: 835px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid $border-color;
    color: $dark-gray;
    margin-top: 20px;
    .header {
        .title {
            font-size: 20px;
            .title-tips {
                margin-left: 10px;
            }
            &:before {
                content: ' ';
                background-color: $dark-gray;
                border-radius: 37px;
                display: inline-block;
                width: 5px;
                height: 16px;
                margin-right: 10px;
            }
        }
        .help {
            float: right;
            font-size: 12px;
        }
    }
    .plan-editor {
        margin-top: 30px;
        .plan-list {
            .plan-item {
                min-height: 60px;
                padding: 10px;
                position: relative;
                border-bottom: 1px $muted dashed;
                .buttons {
                    position: absolute;
                    right: 0;
                    top: 0;
                    .button {
                        &:hover {
                            border: 1px solid #f90;
                        }
                    }
                }
                .left {
                    float: left;
                    margin-right: 10px;
                }
                .center {
                    padding: 0 5px;
                }
                &:first-child {
                    border-top: 1px $muted dashed;
                    .buttons {
                        top: 10px;
                    }
                }
                &:last-child {
                    border-bottom: 1px $muted dashed;
                }
                .plan-text {
                    display: block;
                    margin-top: 10px;
                    margin-left: 35px;
                    word-wrap: break-word;
                    width: 540px;
                    .content {
                        width: 440px;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }
        .button-plan {
            background: $white;
            border: 1px solid $border-color;
            width: 266px;
            height: 44px;
            line-height: 28px;
            margin-right: 20px;
            margin-top: 15px;
            &:hover {
                border: 1px solid #f90;
            }
        }
    }
}
.edit-all-course-dialog,
.add-more-course-dialog,
.add-sigle-course-dialog {
    width: 850px;
    > .header {
        padding: 20px;
        background-color: $white;
    }
    > .close {
        top: 10px;
    }
}

.add-sigle-course-dialog {
    textarea[name='lessonName'] {
        height: 130px;
        overflow: hidden;
    }
}
.edit-all-course-dialog {
    width: 650px;
    .add-sigle-course {
        .begin {
            width: 100%;
        }
        .group {
            &.center {
                margin: 0;
            }
        }

        .fluid {
            margin: 15px;
        }
    }
}
.changetime-dialog {
    .body {
        text-align: left;
        text-indent: 28px;
    }
}