<div class="plan">
    <div class="wrapper">
        <div class="header">
            <div class="help texts"
            data-title="
<span>
    班课有学生报名后，按照班课总课节数除以15，取结果整数部分，乘2，所得结果为可修改班课时间的次数（最少有2次修改机会）。超过这个次数每次修改会被扣2分。修改课节内容、课程时长或添加新课节不扣分。<br>
    请尽量提前规划您的课程时间，避免因频繁修改造成双方损失，多谢！<br>
    批量修改课节：修改最近一节课的时间，后续课节会随之自动调整；例如，第一节课上完后，使用批量修改时间，将最近一节（第二节）开始时间延后1小时，则所有课节的开始时间都会延后1小时。同时，课节时长也会随之变动为您选择的时长。
</span>
            " data-skin="primary classcourse-help-tooltip" data-placement="bottomLeft" data-offset-x="90">
                <i class="text primary icon-help-o"></i>
                <span class="text">
                    帮助信息
                </span>
            </div>
            <div class="title texts">
                教学计划
                {{#if options.haveStudent}}
                    <span class="title-tips text small">
                        剩余班课时间修改次数：
                        <span class="primary">{{options.schedulesTimeChangeTimes}}</span>
                    </span>
                {{/if}}
                <span class="title-tips text small" style="display: none;">
                    使用“再开一班”开课时，原有课节在您编辑过程中不会自动排序。
                    <span class="link info small">
                        按时间排序
                    <span>
                </span>
            </div>
        </div>

        <div class="plan-editor">

            <div class="plan-list texts">
                {{#each options.schedules:index}}
                <div class="plan-item texts text fluid">
                    <span class="badge left primary text small">
                        {{index + 1}}
                    </span>

                    <div class="text">
                        <span class="muted">
                            课程时间：
                        </span>
                        {{#if beginTime}}
                            {{formatDateTime(beginTime)}}
                        {{/if}}
                        <span class="center">至</span>
                        {{#if endTime}}
                            {{formatTime(endTime)}}
                        {{/if}}
                    </div>

                    {{#if content}}
                    <div class="plan-text">
                        <span class="muted">
                            课节内容：
                        </span>
                        <span class="content">
                            {{content}}
                        </span>
                    </div>
                    {{/if}}
                    {{#if options.orgTeachers.length > 0 && teacherId}}
                    <div class="plan-text">
                        <span class="muted">
                            授课老师：
                        </span>
                        <span class="content">
                            {{#if teacherTable[teacherId]}}
                                {{teacherTable[teacherId]}}
                            {{else}}
                                已解约老师
                            {{/if}}
                        </span>
                    </div>
                    {{/if}}

                    <div class="buttons floated">
                    {{#if canEdit}}
                        <div class="button secondary tiny texts" on-click="editItem(this)">
                            <i class="icon-edit-o text"></i>
                            <span class="text">
                                编辑课节
                            </span>
                        </div>
                    {{/if}}
                    {{#if canDelete}}
                        <div class="button secondary tiny texts" on-click="deleteItem(this)">
                            <i class="icon-trash text"></i>
                            <span class="text">
                                删除课节
                            </span>
                        </div>
                    {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="button secondary button-plan texts" on-click="addMoreCourses()">
                <i class="icon icon-bulk text"></i>
                <span class="text">
                    批量添加课节
                </span>
            </div>
            <div class="button secondary button-plan texts" on-click="addSingleCourse()">
                <i class="icon icon-bulks text"></i>
                <span class="text">
                    添加一个课节
                </span>
            </div>

            {{#if options.schedules.length >= 2}}
                <div class="button secondary button-plan texts" on-click="editAllItems()">
                    <i class="icon icon-pencil-square-o text"></i>
                    <span class="text">
                        整体修改时间
                    </span>
                </div>
                {{#if haveStudentCanDelete}}
                <div class="button secondary button-plan texts" on-click="deleteAllItems()">
                    <i class="icon icon-trash text"></i>
                    <span class="text">
                        删除全部课节
                    </span>
                </div>
                {{/if}}
            {{/if}}
        </div>
    </div>

    <style>
        {{style}}
    </style>
</div>