/**
 * @file 基本信息编辑
 * @author wangtianhua
 */
@import './common.styl';

.basic-info {
    width: 835px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid $border-color;
    color: $dark-gray;
    .header {
        .title {
            font-size: 20px;
            &:before {
                content: ' ';
                background-color: $dark-gray;
                border-radius: 37px;
                display: inline-block;
                width: 5px;
                height: 16px;
                margin-right: 10px;
            }
        }
        .help {
            float: right;
            font-size: 12px;
        }
    }
    .form {
        .group {
            margin-top: 20px;
            > .label {
                width: 80px;
            }
            .controls {
                width: $input-width;
            }
            .tooltip {
                text-align: center;
            }
            .input {
                background-color: $grey;
            }
            input {
                color: $font-color;
                &:focus {
                    background-color: $white;
                }
            }

            .fluid {
                width: 100%;
            }

            .subject-recommend {
                .button-subject-recommend {
                    text-align: left;
                    background-color: $grey;
                    height: 36px;
                    position: relative;
                    .icon {
                        position: absolute;
                        right: 8px;
                        top: 6px;
                        font-size: 24px;
                        color: #6d6d6e;
                    }
                }
                .subject-wrapper {
                    display: none;
                    position: absolute;
                    z-index: 3;
                    width: $input-width;
                    height: $box-height;
                }
            }
            .address-recommend {
                .button {
                    background-color: $grey;
                }
                .block {
                    width: 50px;
                }
            }
            .inline {
                display: inline-block;
                > .label {
                    display: inline-block;
                    width: 80px;
                    text-align: right;
                }
                &.left {
                    width: 70%;
                }
                &.right {
                    width: 30%;
                    float: right;
                    text-align: right;
                }
                .controls {
                    display: inline-block;
                    .input-group {
                        display: inline-block;
                    }
                }

                .feature-controls {
                    width: 465px;
                    .label {
                        background-color: $grey;
                    }
                    .label +.label {
                        border-left: none;
                    }
                    .price-input {
                        width: 101px;
                    }
                    .member-input {
                        width: $middle-input-width;
                    }
                }
                .member-controls {
                    width: $middle-input-width;
                    text-align: right;
                }
            }
        }
    }

}
