/**
 * @file 图文详情
 * @author wangtianhua
 */
@import './common.styl';

.class-detail {
    width: 835px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid $border-color;
    color: $dark-gray;
    margin-top: 20px;
    .header {
        .title {
            font-size: 20px;
            &:before {
                content: ' ';
                background-color: $dark-gray;
                border-radius: 37px;
                display: inline-block;
                width: 5px;
                height: 16px;
                margin-right: 10px;
            }
        }
        .help {
            float: right;
            font-size: 12px;
        }
    }
    .detail-editor {
        width: 100%;
        margin-top: 10px;
        overflow: hidden;
        .editor-list {
            .muted {
                padding-top: 10px;
            }
        }
        .error-detail {
            width: 100%;
            border-top: none;
            text-align: right;
            .icon {
                padding-right: 5px;
            }
            .button {
                padding-right: 0;
            }
        }
        .detail-preview {
            width: 665px;
            float: right;
            border: 1px solid #e4e4e4;
            border-top: none;
            text-align: right;
        }
        .preview-detail-button {
            &:hover {
                color: #f90;
            }
        }
    }
}
