/**
 * @file 课程模板
 * @author wangtianhua
 */
@import './common.styl';

.course-template {
    > .wrapper {
        width: 835px;
        padding: 25px;
        background-color: #fff;
        border: 1px solid $border-color;
        color: $dark-gray;
        .header {
            .title {
                font-size: 16px;
            }
            .help {
                float: right;
                font-size: 12px;
            }
        }
        .template-images {
            margin-top: 16px;
            .template-card {
                width: 202px;
                margin-right: 14px;
                display: inline-block;
                text-align: center;
                .image {
                    width: 100%;
                    border: 2px solid transparent;
                    height: 127px;
                }
                .name {
                    font-size: 14px;
                    color: #6d6d6e;
                }
                &.active,
                &:hover {
                    .image {
                        border-color: #f90;
                    }
                }
            }
        }
        .template-editor {
            margin-top: 15px;
            .tabs {
                > .tab {
                    font-weight: normal !important;
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

