@import 'spa/resource/css/mixin/position.styl';
.recruit-home-dialog {
    .header {
        text-align: center;
        margin-top: rem(18);
        line-height: rem(28);
        .title {
            font-size: rem(20);
            color: #2D2D2E;
            letter-spacing: 0;
        }
        .sub-title {
            font-size: rem(15);
            color: #6D6D6E;
            letter-spacing: 0;
        }
    }
    .body {
        margin-top: rem(17);
        .txt {
            position: relative;
            background: #FFFFFF;
            border: 1px solid #DDDDDE;
            border-radius: rem(3);
            width: 100%;
            height: rem(44);
            margin: rem(5) 0;
            padding: rem(8);
            box-sizing: border-box;
            & input {
                border: 0;
                width: 100%;
                outline: 0;
            }
            .error {
                font-size: rem(13);
                color: #FF5850;
                v-center(absolute);
                right: rem(10);
            }
            .tips {
                font-size: rem(13);
                color: #6d6d6e;
                v-center(absolute);
                right: rem(10);
            }
        }
        .button {
            height: rem(48);
            background: #FF6C00;
            border-radius: rem(3);
            width: 100%;
            text-align: center;
            color: #fff;
            margin: 0 auto;
            margin-top: rem(20);
            margin-bottom: rem(8);
            line-height: rem(48);
        }
    }
}
.subject-suggestion {
    position: absolute;
    top: rem(43);
    left: 0;
    z-index: 1002
}