.img_desc_lateral {
	.item {
		padding: rem(8) rem(8) rem(8) rem(140);
		position: relative;
		height: rem(102);
		background: #fff;
		box-shadow: rem(0) rem(0) rem(0) rem(0) #ececec;
		border-bottom: rem(1) solid #f5f5f6;
		.div-img {
			width: rem(120);
			height: rem(80);
			display: inline-block;
			position: absolute;
		    left: rem(10);
		    top: rem(10);
            .play-icon {
                top: rem(26);
                left: rem(46);
                .mask {
                    width: rem(28);
                    height: rem(28);
                    border-radius: rem(14);
                }
            }
		}
		.content {
			.title {
				font-size: rem(15);
				color: #3d3d3e;
			}
			.desc {
				font-size: rem(13);
				color:#9d9d9e;
				line-height: rem(20);
			    margin-top: rem(10);
			}
		}
	}
}