{{ *

@file 机构老师页
@author jixiaohui

* }}
{{ extends file="./common/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $need_im = false }}
    {{ $script_path = "org/teacher_672bd6444b" }}
    {{ $script_data.orgnumber = $tpl_data.base_info.number }}
    {{ if not empty($tpl_data.base_info.support_tianxiao) }}
        {{ $script_data.isTianxiaoOrg = $tpl_data.base_info.support_tianxiao }}
    {{ /if }}

    {{ $active = 'teacher' }}
    {{ $flotage_config.hidden = 1 }}
    {{ $need_location_seo = true }}
{{ /block }}


{{ block name="title" }}
{{ strip }}
    {{ $tpl_data.title }}
{{ /strip }}
{{ /block }}

{{ block name="keywords" }}
{{ strip }}
    {{ $tpl_data.keywords }}
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}
    {{ $tpl_data.description }}
{{ /strip }}
{{ /block }}


{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/org/teacher_13ab5c774b.css">
{{ /block }}
<style type="text/css">
    .im-toggle-bar {
        display: none !important;
    }
</style>
{{ block name="main" }}
{{ strip }}

{{ if $tpl_data.base_info.domain }}
    {{ $domain = $tpl_data.base_info.domain }}
{{ else }}
    {{ $domain = $tpl_data.base_info.number }}
{{ /if }}
{{ $url_teacher = "http://www.genshuixue.com/i/teacher/"|cat:$domain }}
{{ if $tpl_data.abtest }}
    {{ $url_teacher = "http://www.genshuixue.com/i/teacher/"|cat:$domain }}
{{ /if }}


{{ $org_id = $tpl_data.base_info.id }}
    <div class="teacher">
        {{ if isset($tpl_data.teachers) && $tpl_data.teachers }}
            {{ include file="common/component/searchList2.html" teachers=$tpl_data.teachers }}
            {{ include file="common/component/pager.html" page=$tpl_data.pager.page page_size=$tpl_data.pager.page_size count=$tpl_data.pager.count url=$url_teacher  }}
        {{ else }}
            <div class="no-data">
                <div class="pic"></div>
                <span class="text">老师都去哪儿了</span>
            </div>
        {{ /if }}
    </div>
{{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}
{{ /strip }}
{{ /block }}