@import "page_app/_base/base.styl";

h4, h5 {
    font-weight: normal;
}

#clause {

    line-height: rem(22);
    font-size: rem(14);
    .title {
        text-align: center;
    }

    h4 {
        padding: rem(8);
    }

    h5 {
        padding: rem(6) rem(8);
    }
}
