$icomoon-font-path: "fonts" !default;

$icon-my-video: "\ea5e";
$icon-ic_hireclassroom: "\ea4b";
$icon-ic_huifang: "\ea4c";
$icon-ic_kecheng: "\ea4d";
$icon-ic_logo: "\ea4e";
$icon-ic_refresh: "\ea4f";
$icon-ic_tuichu: "\ea50";
$icon-ic_yijian: "\ea51";
$icon-ic_zhibo: "\ea52";
$icon-ic_cancel2: "\ea0a";
$icon-ic_finish: "\ea0b";
$icon-ic_section: "\ea0c";
$icon-ic_backup: "\ea0d";
$icon-ic_downall: "\ea0e";
$icon-ic_newfolder: "\ea28";
$icon-ic_delete2: "\ea29";
$icon-ic_down: "\ea2a";
$icon-ic_downlord_hover: "\ea2b";
$icon-ic_edit: "\ea2c";
$icon-ic_forbiddown_hover: "\ea2d";
$icon-ic_move2: "\ea2e";
$icon-ic_publicclass_hover: "\ea0f";
$icon-ic_chapter: "\ea10";
$icon-ic_delete: "\ea11";
$icon-ic_fail: "\ea12";
$icon-ic_move: "\ea13";
$icon-ic_uplord_cancel: "\ea2f";
$icon-ic_uplord_pause: "\ea30";
$icon-ic_uplordsuccess: "\ea31";
$icon-ic_arrow_down: "\ea32";
$icon-ic_arrow_up: "\ea33";
$icon-ic_sort: "\ea34";
$icon-ic_minus: "\ea35";
$icon-ic_add: "\ea14";
$icon-ic_calendar: "\ea15";
$icon-ic_cancel: "\ea16";
$icon-ic_choosevideo: "\ea17";
$icon-ic_detail: "\ea18";
$icon-ic_dingdan: "\ea36";
$icon-ic_uplord: "\ea37";
$icon-angle-down2: "\ea38";
$icon-angle-left: "\ea39";
$icon-angle-right-circle2: "\ea3a";
$icon-angle-right: "\ea3b";
$icon-angle-up2: "\ea3c";
$icon-arrow-up2: "\ea19";
$icon-caret-down2: "\ea1a";
$icon-caret-left2: "\ea1b";
$icon-caret-right2: "\ea1c";
$icon-caret-up2: "\ea1d";
$icon-caret-updown: "\ea3d";
$icon-check2: "\ea3e";
$icon-clock-large-o2: "\ea3f";
$icon-clock-o2: "\ea40";
$icon-comment-org: "\ea41";
$icon-download2: "\ea42";
$icon-favor2: "\ea43";
$icon-frown-o2: "\ea1e";
$icon-help2: "\ea1f";
$icon-logo2: "\ea20";
$icon-long-arrow-down: "\ea21";
$icon-nav-new: "\ea22";
$icon-neutral-o2: "\ea44";
$icon-phone2: "\ea45";
$icon-play-oo2: "\ea46";
$icon-plus-circle2: "\ea47";
$icon-plus-o2: "\ea48";
$icon-search2: "\ea49";
$icon-smile-o2: "\ea4a";
$icon-star-half2: "\ea23";
$icon-star-o2: "\ea24";
$icon-times-circle2: "\ea25";
$icon-user-o2: "\ea26";
$icon-video-camera: "\ea27";
$icon-alipay-circle: "\e900";
$icon-angle-down: "\e901";
$icon-angle-right-circle: "\e902";
$icon-angle-up: "\e903";
$icon-anytime-joinclass: "\e904";
$icon-anytime-quitclass: "\e905";
$icon-arrow-circle: "\e906";
$icon-arrow-down-o: "\e907";
$icon-arrow-down: "\e908";
$icon-arrow-o: "\e909";
$icon-arrow-sort: "\e90a";
$icon-arrow-up-o: "\e90b";
$icon-arrow-up-small: "\e90c";
$icon-arrow-up: "\e90d";
$icon-arrows: "\e90e";
$icon-article-arrow: "\e90f";
$icon-article-share: "\e910";
$icon-assessment: "\e911";
$icon-attachment: "\e912";
$icon-audition: "\e913";
$icon-baidu-circle: "\e914";
$icon-ban-o: "\e915";
$icon-ban: "\e916";
$icon-bars-circle: "\e917";
$icon-bars-o: "\e918";
$icon-bell: "\e919";
$icon-big-phone-o: "\e91a";
$icon-book-large-o: "\e91b";
$icon-book-o: "\e91c";
$icon-book-open-o: "\e91d";
$icon-book-slope: "\e91e";
$icon-book: "\e91f";
$icon-bullseye: "\e920";
$icon-buy: "\e921";
$icon-calendar: "\e922";
$icon-camera-o: "\e923";
$icon-camera: "\e924";
$icon-cannot-quitclass: "\e925";
$icon-caret-down: "\e926";
$icon-caret-left: "\e927";
$icon-caret-right: "\e928";
$icon-caret-up: "\e929";
$icon-cash-large-o: "\e92a";
$icon-certification-o: "\e92b";
$icon-certification: "\e92c";
$icon-chat-large-o: "\e92d";
$icon-chat-o: "\e92e";
$icon-chat: "\e92f";
$icon-check-circle: "\e930";
$icon-check-o: "\e931";
$icon-check: "\e932";
$icon-chevron-left: "\e933";
$icon-chevron-right: "\e934";
$icon-chinese: "\e935";
$icon-chinesenew: "\e936";
$icon-circle-o: "\e937";
$icon-circle: "\e938";
$icon-clock-large-o: "\e939";
$icon-clock-o: "\e93a";
$icon-clock: "\e93b";
$icon-close: "\e93c";
$icon-comment: "\e93d";
$icon-coupon-o: "\e93e";
$icon-coupons: "\e93f";
$icon-course-class: "\e940";
$icon-customer: "\e941";
$icon-date: "\e942";
$icon-deduct: "\e943";
$icon-delete: "\e944";
$icon-deliver: "\e945";
$icon-direction: "\e946";
$icon-door-o: "\e947";
$icon-door: "\e948";
$icon-douban: "\e949";
$icon-download: "\e94a";
$icon-duigou: "\e94b";
$icon-ebank: "\e94c";
$icon-edit-o: "\e94d";
$icon-edit-underline: "\e94e";
$icon-ellipsis-o: "\e94f";
$icon-expression: "\e950";
$icon-eye: "\e951";
$icon-favor: "\e952";
$icon-feedback: "\e953";
$icon-file-o: "\e954";
$icon-fire: "\e955";
$icon-flag-o: "\e956";
$icon-frown-o: "\e957";
$icon-gift: "\e958";
$icon-group-o: "\e959";
$icon-group: "\e95a";
$icon-heart-o: "\e95b";
$icon-heart: "\e95c";
$icon-help: "\e95d";
$icon-home-circle: "\e95e";
$icon-home-o: "\e95f";
$icon-home: "\e960";
$icon-ic_applelogo: "\e961";
$icon-ic-safeguard: "\e962";
$icon-image-more: "\e963";
$icon-image-o: "\e964";
$icon-image: "\e965";
$icon-info-circle: "\e966";
$icon-info-o: "\e967";
$icon-interested: "\e968";
$icon-iphone-icon: "\e969";
$icon-it: "\e96a";
$icon-k12: "\e96b";
$icon-language: "\e96c";
$icon-left-large: "\e96d";
$icon-level-1: "\e96e";
$icon-level-2: "\e96f";
$icon-level-3: "\e970";
$icon-level-4: "\e971";
$icon-level-5: "\e972";
$icon-level-6: "\e973";
$icon-level-7: "\e974";
$icon-level-8: "\e975";
$icon-level-9: "\e976";
$icon-level-10: "\e977";
$icon-level-11: "\e978";
$icon-level-12: "\e979";
$icon-level-13: "\e97a";
$icon-level-14: "\e97b";
$icon-level-15: "\e97c";
$icon-level-16: "\e97d";
$icon-level-17: "\e97e";
$icon-level-18: "\e97f";
$icon-lifelogo: "\e980";
$icon-lifelogonew: "\e981";
$icon-lightning-circle: "\e982";
$icon-lightning-o: "\e983";
$icon-lightning: "\e984";
$icon-limit-joinclass: "\e985";
$icon-limit-quitclass: "\e986";
$icon-list-o: "\e987";
$icon-live-play: "\e988";
$icon-live: "\e989";
$icon-location-o: "\e98a";
$icon-location: "\e98b";
$icon-lock: "\e98c";
$icon-logo: "\e98d";
$icon-mail-circle: "\e98e";
$icon-mail: "\e98f";
$icon-manage-o: "\e990";
$icon-markting-o: "\e991";
$icon-medal-o: "\e992";
$icon-medal: "\e993";
$icon-message-o: "\e994";
$icon-message: "\e995";
$icon-microphone: "\e996";
$icon-minus-circle: "\e997";
$icon-mobile-circle: "\e998";
$icon-mobile-o: "\e999";
$icon-mobile: "\e99a";
$icon-money-large-o: "\e99b";
$icon-money-o: "\e99c";
$icon-mortarboard-o: "\e99d";
$icon-move-file: "\e99e";
$icon-netdisk: "\e99f";
$icon-neutral-o: "\e9a0";
$icon-new-folder: "\e9a1";
$icon-org: "\e9a2";
$icon-page-next: "\e9a3";
$icon-page-prev: "\e9a4";
$icon-pencil-circle: "\e9a5";
$icon-pencil: "\e9a6";
$icon-peoplenew: "\e9a7";
$icon-peoplenumber: "\e9a8";
$icon-phone-circle: "\e9a9";
$icon-phone-o: "\e9aa";
$icon-phone: "\e9ab";
$icon-picture: "\e9ac";
$icon-pictures: "\e9ad";
$icon-pitch-on: "\e9ae";
$icon-plan: "\e9af";
$icon-plane: "\e9b0";
$icon-play-o: "\e9b1";
$icon-play-oo: "\e9b2";
$icon-plus-circle: "\e9b3";
$icon-plus-o: "\e9b4";
$icon-plus: "\e9b5";
$icon-portrait-o: "\e9b6";
$icon-prize: "\e9b7";
$icon-profile-o: "\e9b8";
$icon-profile-rect: "\e9b9";
$icon-qq-circle: "\e9ba";
$icon-qq: "\e9bb";
$icon-qr-code: "\e9bc";
$icon-question-circle: "\e9bd";
$icon-question: "\e9be";
$icon-quit: "\e9bf";
$icon-qzone: "\e9c0";
$icon-rank-o: "\e9c1";
$icon-rank: "\e9c2";
$icon-recording: "\e9c3";
$icon-recycle-bin: "\e9c4";
$icon-refresh-new: "\e9c5";
$icon-refresh: "\e9c6";
$icon-rename: "\e9c7";
$icon-renren-circle: "\e9c8";
$icon-reply: "\e9c9";
$icon-right-large: "\e9ca";
$icon-rmb-o: "\e9cb";
$icon-rmb: "\e9cc";
$icon-safety-money-o: "\e9cd";
$icon-safety-money: "\e9ce";
$icon-screen-o: "\e9cf";
$icon-screen: "\e9d0";
$icon-search-large-o: "\e9d1";
$icon-search-plus: "\e9d2";
$icon-search: "\e9d3";
$icon-see-another: "\e9d4";
$icon-send-o: "\e9d5";
$icon-setting-o: "\e9d6";
$icon-setting: "\e9d7";
$icon-share-o: "\e9d8";
$icon-share: "\e9d9";
$icon-shield-large-o: "\e9da";
$icon-shield-o: "\e9db";
$icon-shopping-cart: "\e9dc";
$icon-shutdown: "\e9dd";
$icon-sign: "\e9de";
$icon-smile-o: "\e9df";
$icon-sort: "\e9e0";
$icon-speaker: "\e9e1";
$icon-star-half: "\e9e2";
$icon-star-o: "\e9e3";
$icon-star: "\e9e4";
$icon-student: "\e9e5";
$icon-subtract-o: "\e9e6";
$icon-sun-o: "\e9e7";
$icon-symbolb: "\e9e8";
$icon-symbolt: "\e9e9";
$icon-target-large-o: "\e9ea";
$icon-teach-detail: "\e9eb";
$icon-thumbs-up-large-o: "\e9ec";
$icon-thumbs-up: "\e9ed";
$icon-tieba: "\e9ee";
$icon-time: "\e9ef";
$icon-timenew: "\e9f0";
$icon-times-circle: "\e9f1";
$icon-times: "\e9f2";
$icon-to-classromm: "\e9f3";
$icon-triangle-oblong: "\e9f4";
$icon-triangle: "\e9f5";
$icon-true-comment-o: "\e9f6";
$icon-tv: "\e9f7";
$icon-up: "\e9f8";
$icon-user-o: "\e9f9";
$icon-user: "\e9fa";
$icon-v-o: "\e9fb";
$icon-variety: "\e9fc";
$icon-vip: "\e9fd";
$icon-warning: "\e9fe";
$icon-wave-left: "\e9ff";
$icon-wave-right: "\ea00";
$icon-webcam-o: "\ea01";
$icon-wechat-circle: "\ea02";
$icon-wechat-o: "\ea03";
$icon-wechat: "\ea04";
$icon-weibo-circle: "\ea05";
$icon-weibo: "\ea06";
$icon-wheat: "\ea07";
$icon-write: "\ea08";
$icon-writer: "\ea09";
$icon-align-center: "\ea53";
$icon-align-left: "\ea54";
$icon-bold: "\ea55";
$icon-font: "\ea56";
$icon-image2: "\ea57";
$icon-live-o: "\ea58";
$icon-microphone2: "\ea59";
$icon-text-o: "\ea5a";
$icon-text: "\ea5b";
$icon-align-center2: "\ea5c";
$icon-align-left2: "\ea5d";

