
@import "module/index.styl";
.room-verifying {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    background: #fff;
    &-logo {
        margin-top: rem(120);
        width: rem(120);
        height: rem(120);
    }
    &-desc {
        margin-top: rem(56);
        font-size: rem(14);
        color: #3d3d3e;
        line-height: rem(22);
    }
    &-back.ws-btn-red {
        width: rem(263);
        margin-top: rem(32);
    }
}