{{ *

@file 面包屑导航
@author jixiaohui
* }}

{{ strip }}
<div id="crumb">
    <ul>
        {{ if isset($crumb.host) }}
            <li>
                <a href="{{ $crumb.host }}" target="_blank">
                    跟谁学{{ $crumb.city.name }}站
                </a>
                <span class="split">&nbsp;&nbsp;&gt;&nbsp;&nbsp;</span>
            </li>
            <li>
                <a href="{{ $crumb.host }}st-.html" target="_blank">
                    {{ $crumb.city.name }}老师
                </a>
                <span class="split">&nbsp;&nbsp;&gt;&nbsp;&nbsp;</span>
            </li>

            {{ $parent_id = '' }}
            {{ foreach $crumb.list as $val }}
                <li {{ if $val@last }} class="related-li" {{ /if }}>
                    {{ if !empty($val.remark_name) }}
                        <a href="{{ $crumb.host }}st--{{ $parent_id }}{{ $val.id }}.html" target="_blank">{{ $val.remark_name }}培训</a>
                    {{ else }}
                        <a href="{{ $crumb.host }}st--{{ $parent_id }}{{ $val.id }}.html" target="_blank">{{ $val.name }}培训</a>
                    {{ /if }}

                    {{ if $val@last }}
                        <ul class="related">
                        {{ foreach $crumb.related as $related }}
                            <li>
                                <a href="{{ $crumb.host }}st--{{ $parent_id }}{{ $related.id }}.html" target="_blank">
                                    {{ $related.name }}
                                </a>
                            </li>
                        {{ /foreach }}
                        </ul>
                    {{ /if }}

                    <span class="split">&nbsp;&nbsp;&gt;&nbsp;&nbsp;</span>

                </li>
                {{ $parent_id = $parent_id|cat:$val.id|cat:'_' }}
            {{ /foreach }}

        {{ /if }}
        <li>
            <a href="{{ $profile.user_home }}">{{ $profile.name }}</a>
        </li>
    </ul>
</div>
{{ strip }}