{{ *
    @file 底部内链 for seo
    @author  jixiaohui
* }}
{{ strip }}
    <div id="inner-link">
        <ul>
            <li>
                <a href="/{{ $profile.domain }}">{{ $profile.name }}</a>
            </li>
            <li>
                <a href="/{{ $profile.domain }}/course" target="_blank">{{ $profile.name }}课程</a>
            </li>
            <li>
                <a href="/{{ $profile.domain }}/photoVideo" target="_blank">{{ $profile.name }}照片</a>
            </li>
            <li>
                <a href="/{{ $profile.domain }}/intro" target="_blank">{{ $profile.name }}资料</a>
            </li>
            <li>
                <a href="/{{ $profile.domain }}/tcomment" target="_blank">{{ $profile.name }}评价</a>
            </li>
        </ul>
    </div>
{{ /strip }}