{{ *

@file 照片/视频模块
@author jixiaohui

* }}

{{ strip }}
{{ if !empty($tpl_data.video_list) || !empty($tpl_data.photo_list) }}

    <div class="new-title">照片/视频<span>（{{ $tpl_data.video_count }}个视频，{{ $tpl_data.photo_count }}张照片）</span><a class="more-media">查看全部></a></div>
    <div class="player"
        {{ if count($tpl_data.video_list)>0 }}
            data-type="video" data-image="{{ $tpl_data.video_list[0].preface_url_prefix }}/1_160_120.jpg" data-video="{{ $tpl_data.video_list[0].video }}" data-name="{{ $tpl_data.video_list[0].name }}"
        {{ else }}
            data-type="photo" data-image="{{ $tpl_data.photo_list[0].img }}" data-name="{{ $tpl_data.photo_list[0].name }}"
        {{ /if }} >
        {{ if count($tpl_data.video_list) > 0 }}
            <div class="wrapper-video">
                <img class="player-img " src="{{ $tpl_data.video_list[0].preface_url_prefix }}/1_682_418.jpg">
            </div>

            <div class="wrapper-photo" style="display:none;">
                <div class="floater"></div>
                <img class="player-img" src="">
            </div>

            <div class="title"><span class="player-title">{{ $tpl_data.video_list[0].name }}</span></div>
            <i class="teacher-player"></i>
        {{ else }}

            {{ include file="common/variable/zoomPhoto.html" url=$tpl_data.photo_list[0].img raw_width=$tpl_data.photo_list[0].width raw_height=$tpl_data.photo_list[0].height width=682 height=418 }}

            <div class="wrapper-video" style="display:none;">
                <img class="player-img " src="">
            </div>

            <div class="wrapper-photo">
                <div class="floater" style="margin-bottom:-{{ $fit_height/2 }}px;"></div>
                <img class="player-img" src="{{ $photo }}">
            </div>


            <div class="title"><span class="player-title">{{ $tpl_data.photo_list[0].name }}</span></div>
            <i class="teacher-player" style="display:none;"></i>
        {{ /if }}
    </div>
    <div class="bar-box" {{ if count($tpl_data.video_list) + count($tpl_data.photo_list) < 6 }}style="display:none;"{{ /if }}>
        <div class="bar leftbar" style="display:none;">
            <i class="icon icon-chevron-left"></i>
        </div>
        <div class="bar rightbar">
            <i class="icon icon-chevron-right"></i>
        </div>
    </div>
    <div class="media-box"{{ if count($tpl_data.video_list) + count($tpl_data.photo_list) == 1 }} style="display:none;"{{ /if }}>
        <ul class="media-list">

            {{ foreach $tpl_data.video_list as $val }}
                {{ if $val@index < 2 }}
                    <li class="video{{ if $val@first }} active{{ /if }} {{ if $val@last && count($tpl_data.photo_list) < 1 }}last{{ /if }}" data-type="video" data-image="{{ $val.preface_url_prefix }}/1_682_418.jpg" data-video="{{ $val.video }}" data-name="{{ $val.name }}" >
                        <img src="{{ $val.preface_url_prefix }}/1_130_98.jpg">
                        {{ $final_name = $val.name|cn_truncate:11 }}
                        <div class="text" {{ if $final_name != $val.name }}data-title="{{ $val.name }}"{{ /if }}>{{ $final_name }}</div>
                        <div class="item-mask"></div>
                        <div class="video-player-icon"></div>
                    </li>
                {{ /if }}
            {{ /foreach }}

            {{ foreach $tpl_data.photo_list as $val }}
            {{ include file="common/variable/zoomPhoto.html" url=$val.img raw_width=$val.width raw_height=$val.height width=682 height=418 }}
            <li class="photo{{ if count($tpl_data.video_list) < 1 && $val@first }} active{{ /if }} {{ if $val@last }}last{{ /if }}" data-type="photo" data-image="{{ $val.img }}" data-fitimage="{{ $photo }}" data-fitheight="{{ $fit_height }}" data-name="{{ $val.name }}">
                <div class="item-mask"></div>

                {{ include file="common/variable/zoomPhoto.html" url=$val.img raw_width=$val.width raw_height=$val.height width=130 height=98 }}
                <div class="wrapper">
                    <div class="floater" style="margin-bottom:-{{ $fit_height/2 }}px;"></div>
                    <img src="{{ $photo }}">
                </div>

                {{ $final_name = $val.name|cn_truncate:11 }}
                <div class="text">{{ $final_name }}</div>

            </li>
            {{ /foreach }}
        </ul>
    </div>
{{ /if }}
{{ /strip }}