.course-info {
    padding: rem(17) rem(15) rem(20) rem(15);
    background: #FFF;
    box-shadow: inset 0 0 0 0 #EDEDEE;
    .course-info-top {
        overflow: hidden; 
        text-overflow: ellipsis;
        display: -webkit-box; 
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        .course-info-name {
            color: #3D3D3E;
            font-size: rem(20);
            line-height: rem(24);
            // font-weight: 550;
            font-weight: bolder;
            .course-info-type {
                display: inline-block;
                background: #F95D5D;
                border-radius: rem(2);
                // width: rem(34);
                height: rem(20);
                font-size: rem(11);
                color: #fff;
                text-align: center;
                line-height: rem(20);
                vertical-align: top;
                margin-right: rem(5);
                font-weight: 100;
                margin-top: rem(2);
                padding: 0 rem(6);
            }
        }
    }
    .course-info-middle {
        margin-top: rem(16);
        font-size: rem(13);
        color: #6D6D6E;
        line-height: rem(13);
    }
    .course-info-bottom {
        font-size: rem(20);
        margin-top: rem(20);
        color: #F95D5D;
        font-weight: bolder;
        line-height: rem(16);
    }
    .free-price {
        color: #1DB954;
        font-weight: bolder;
    }
}