@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

#page_main {
    position: absolute;
    height: 100%;
    width: 100%;
}
section {
	position: relative;
    height: 100%;
    & > img {
    	width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.content {
	/*height: 100%;*/
    /*padding: rem(48) rem(16);*/
    padding-top: 150%;
    background: transparent;
    position: relative;
    z-index: 2;
}
.main-title {
    position: absolute;
    top: rem(32);
    left: 50%;
    font-weight: normal;
    font-size: rem(19.2);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    transition: all 1s ease 0.3s;
    opacity: 0;
}
.second-title {
	position: absolute;
    top: rem(256);
    left: 50%;
    width: rem(224);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: normal;
    text-align: center;
    transition: all 1s ease 0.8s;
    opacity: 0;
}
@keyframes open {
    0% {
        opacity: 1;
        transform: translateX(-50%) scale(1, 1);
    }
    10% {
        opacity: 0.8;
        transform: translateX(-50%) scale(0.8, 0.8);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) scale(2, 1.7);
    }
}
.open {
    position: absolute;
    bottom: rem(48);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: rem(5);
    background: transparent;
    border: none;
    width: rem(192);
    & > img {
        width: 100%;
    }
}

