{{ *

@file 学生导航模块
@author zhengjunxin

* }}

{{ strip }}

{{ $class_index = '' }}
{{ $class_track = '' }}
{{ $class_personal = '' }}


{{ if $active == 'index' }}
    {{ $class_index = 'class="active"' }}
{{ else if $active == 'track' }}
    {{ $class_track = 'class="active"' }}
{{ else if $active == 'personal' }}
    {{ $class_personal = 'class="active"' }}
{{ /if }}
<ul class="nav-box">
    <li {{ $class_index }}>
        <a href="/x/{{ $tpl_data.basic_info.user_number }}">
            主页
        </a>
    </li>
    <li {{ $class_track }}>
        <a href="/student/trackLearning?user_number={{ $tpl_data.basic_info.user_number }}">
            TA的课程
        </a>
    </li>
    <li {{ $class_personal }}>
        <a href="/student/profile?user_number={{ $tpl_data.basic_info.user_number }}">
            个人资料
        </a>
    </li>
</ul>
{{ /strip }}