/**
 * @file 翻页
 * @author zhujl
 */

.pager {

    .clearfix();

    .ellipsis {
        background-color: transparent;
        border: none;
        cursor: text;
        width: @pager-ellipsis-width;
    }
}