/**
 * @file 标签页
 * @author zhujl
 */

.tab-nav {

    text-align: left;
    font-size: 0;

    .nav-item {

        .inline-block();
        .transition(0.5 color);

        cursor: pointer;
        font-size: @tab-nav-item-font-size;
        font-weight: @tab-nav-item-font-weight;

        height: @tab-nav-item-height;
        line-height: @tab-nav-item-height;

        padding: 5px @tab-nav-item-padding-horizontal;

        text-align: center;


        &.active {
            cursor: text;
        }

    }

}

.tab-nav-level {
    border-bottom: 1px solid
}

.tab-nav-primary {
    background-color: @tab-primary-nav-bg;
    border: 1px solid @tab-primary-nav-border;

    .nav-item {

        border: 1px solid transparent;
        border-top: none;
        border-bottom: none;

        &:hover {
            + .nav-item.active {
                border-left-color: transparent;
            }
        }

        &.active {
            + .nav-item:hover {
                border-left-color: transparent;
            }
        }

        &:first-child {
            &:hover,
            &.active {
                border-left-color: transparent;
            }
        }

        &:hover,
        &.active {

            background-color: @tab-primary-nav-item-bg-active;
            border-color: @tab-primary-nav-item-border-active;
            color: @tab-primary-nav-item-color-active;

            .transition(
                background-color 0.2s,
                border-color 0.2s,
                color 0.2s
            );
        }

    }
}

.tab-nav-info {
    background-color: @tab-info-nav-bg;
    border-bottom: 1px solid @tab-info-nav-border;

    .nav-item {

        border-bottom: 4px solid transparent;
        padding-bottom: @tab-nav-item-padding-vertical - 4;

        &:hover,
        &.active {
            color: @tab-info-nav-item-color-active;
            border-bottom-color: @tab-info-nav-item-border-active;

            .transition(
                border-color 0.5s,
                color 0.2s
            );
        }
    }
}


.tab-panel {
    display: none;
}
