/**
 * @file 表格
 * @author zhujl
 */
.table {

    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    thead {
        background-color: @table-head-bg;
    }

    tbody {
        background-color: @table-body-bg;
        font-size: @table-body-font-size;
    }

    th,
    td {
        padding: @table-cell-padding-vertical
                 @table-cell-padding-horizontal;
        text-align: center;
    }

    td {
        border-bottom: 1px solid @table-cell-border;
    }

}