{{ extends file="common/center/base.html" }}

{{ block name="title" prepend }}
我的排名 -
{{ /block }}

{{ block name="data" }}

{{ $smarty.block.parent }}
{{ $script_path = "teacherCenter/teacherRank" }}
{{ $script_data.currentTime = $tpl_data.current_time }}
{{ $script_data.expiredTime = $tpl_data.expired_time }}

{{ /block }}


{{ block name="main" }}

{{ strip }}

{{ include file="teacher_center/common/sidebar.html" active="teacherRank" }}

<div id="content" class="card">
    <div class="card-header">
        <h2>排行榜活动</h2>
    </div>

    <div class="container">
        {{ if isset($tpl_data.profile_status) }}
            {{ if $tpl_data.profile_status.all }}
        <div class="title">
            <img class="avatar" src="{{ $static_origin }}/src/img/center/teacherRank/header-avatar.png">
            <div>
                <p class="highlight">
                    老师您好，</br>您在跟谁学排行榜活动中排名如下：
                </p>
                <p class="count-down">距离活动结束时间：<span></span></p>
            </div>
        </div>

        <div class="rank">
            {{ foreach $ranks as $rank }}
            <div class="wrapper {{ $rank.id }}">
                <p class="header">
                    <i class="header-icon"></i>
                    <span>{{ $rank.header }}</span>
                </p>
                <div class="content">
                    <div class="rank-info">
                        {{ $rank.data.msg }}
                    </div>
                    <div class="prompt">
                        {{ $rank.prompt }}
                    </div>
                </div>
            </div>
            {{ /foreach }}
        </div>
            {{ else }}
        <div class="errors">
            <div class="error-title">
                抱歉您未满⾜以下参与条件!
            </div>
            <ul>
                {{ if !$tpl_data.profile_status.reg_time_match }}
                <li class="error" >注册时间太短</li>
                {{ /if }}
                {{ if !$tpl_data.profile_status.login_app }}
                <li class="error" >用自己的手机下载并登录过老师APP</li>
                {{ /if }}
                {{ if !$tpl_data.profile_status.bio }}
                <li class="error" ><a href="/teacher_center/profile">过往经历100字及以上并通过审核</a></li>
                {{ /if }}
                {{ if !$tpl_data.profile_status.case }}
                <li class="error" ><a href="/teacher_center/profile">相关案例100字及以上并通过审核</a></li>
                {{ /if }}
                {{ if !$tpl_data.profile_status.photo }}
                <li class="error" ><a href="/teacher_center/profile">相册⾄至少4张照⽚</a></li>
                {{ /if }}
            </ul>
        </div>
            {{ /if }}
        {{ else }}
            {{ if !isset($tpl_data.is_download_app) || $tpl_data.is_download_app }}
        <div class="title">
            <img class="avatar" src="{{ $static_origin }}/src/img/center/teacherRank/header-avatar.png">
            <div>
                <p class="highlight">
                    老师您好，</br>您在跟谁学排行榜活动中排名如下：
                </p>
                <p class="count-down">距离活动结束时间：<span></span></p>
            </div>
        </div>

        <div class="rank">
            {{ foreach $ranks as $rank }}
            <div class="wrapper {{ $rank.id }}">
                <p class="header">
                    <i class="header-icon"></i>
                    <span>{{ $rank.header }}</span>
                </p>
                <div class="content">
                    <div class="rank-info">
                        {{ $rank.data.msg }}
                    </div>
                    <div class="prompt">
                        {{ $rank.prompt }}
                    </div>
                </div>
            </div>
            {{ /foreach }}
        </div>
            {{ else }}
        <div class="app">
            <div>
                <img src="{{ $static_origin }}/src/img/center/teacherRank/app.png" alt="">
            </div>
            <div>
                <h3>扫描下载老师版APP,登录后参与活动，</h3>
                <h3>就有机会赢取排行榜现金大奖哦~</h3>
            </div>
        </div>
            {{ /if }}

        {{ /if }}


        <div class="goto-activity">
            <a href="{{ $activity_link }}" class="btn-primary">查看活动详情</a>
        </div>

        {{ block name="previousRank" }}{{ /block }}


    </div>
</div>

{{ /strip }}

{{ /block }}