{{ *

@file 学生后台头部
@author zhengjunxin

* }}

{{ strip }}
<div id="student-profile">
    <div class="info">
        <div class="portrait">
            {{ include file="common/component/avatar.html" type="larger" img=$tpl_data.basic_info.avatar }}
        </div>
        <div class="data">
            <div class="title-box">
                <h1 class="name">
                    {{ if isset($tpl_data.basic_info.nickname) }}
                        {{ $tpl_data.basic_info.nickname }}
                    {{ else }}
                        {{ $tpl_data.basic_info.mobile }}
                    {{ /if }}
                </h1>
                <span class="visit-count">（{{ if $tpl_data.basic_info.view_count }}{{ $tpl_data.basic_info.view_count }}{{ else }}0{{ /if }}人看过）</span>
            </div>
            <div class="summary-box">
                <span class="slogon">{{ if $tpl_data.basic_info.short_introduce }}简介：{{ $tpl_data.basic_info.short_introduce }}{{ else }}这家伙连一句话都懒得说{{ /if }}</span>
                
                {{ if !isset($tpl_data.huike.is_huike_student) || !$tpl_data.huike.is_huike_student }}
                    <a href="{{ $tpl_data.basic_info.private_domain }}" class="mainpage">
                        {{ $tpl_data.basic_info.private_domain }}
                    </a>
                {{ /if }}
            </div>
            <div class="address-box">
                {{ $address = $tpl_data.basic_info.address }}
                {{ $final_address = '' }}
                {{ if !empty($address.province.name) }}
                    {{ $final_address = $address.province.name }}
                {{ /if }}
                {{ if !empty($address.city.name) && $address.city.name !== $address.province.name }}
                    {{ if $final_address }}
                        {{ $final_address = $final_address|cat:'-'|cat:$address.city.name }}
                    {{ else }}
                        {{ $final_address = $address.city.name }}
                    {{ /if }}
                {{ /if }}
                {{ if !empty($address.area.name) }}
                    {{ if $final_address }}
                        {{ $final_address = $final_address|cat:'-'|cat:$address.area.name }}
                    {{ else }}
                        {{ $final_address = $address.area.name }}
                    {{ /if }}
                {{ /if }}
                {{ if $final_address }}
                    <div class="address">
                        <i class="icon icon-location-o"></i>
                        {{ $final_address }}
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
    {{ include file="student/common/nav.html" active=$active }}
</div>
{{ /strip }}
