{{ *

@file 考研专区 - 联报课详情页 － 课程头信息
@author wangyujie

* }}

{{ strip }}

<div id="sidebar">

    <div id="teacher-list" class="card">
        <h3 class="title">
            主讲老师
        </h3>

        <ul class="card-body">
            {{ foreach $teachers as $teacher }}
                <li>
                    <div class="avatar">
                        {{ $url = "http://"|cat: $env|cat: ".genshuixue.com/"|cat: $teacher.private_domain }}
                        {{ include file="common/component/avatar.html" type="medium" img=$teacher.avatar url=$url target="_blank" }}
                    </div>

                    <div class="info">
                        <h4>
                            <a href="{{ $url }}" target="_blank">
                                {{ $teacher.display_name }}
                            </a>
                        </h4>

                        <div class="intro">
                            {{ $teacher.short_introduce|cn_truncate: 33 }}
                        </div>
                    </div>
                </li>
            {{ /foreach }}
        </ul>
    </div>

    {{ if count($related_course) }}
    <div id="related-course" class="card">
        <h3 class="title">
            老师其他课程
        </h3>

        <ul class="card-body">
            {{ foreach $related_course as $course }}
                <li>
                    <a href="{{ $course.detail_url }}" class="pic" target="_blank">
                        {{ include file="common/component/image.html" url=$course.cover width="224" height=120 }}
                    </a>
                    <div class="detail">
                        <div class="course-name">
                            <a href="{{ $course.detail_url }}" class="name" target="_blank">
                                {{ $course.name|cn_truncate: 16 }}
                            </a>
                        </div>
                        <p class="info">
                            {{ if $course.price == '0' }}
                                <span class="text-success">免费</span>
                            {{ else }}
                                <span class="text-primary">¥{{ $course.price }}</span>
                            {{ /if }}
                            <em>｜</em>
                            {{ $course.total_pay }}人学习
                        </p>
                    </div>
                </li>
            {{ /foreach }}
        </ul>
    </div>
    {{ /if }}
</div>

{{ /strip }}