@import '../components/org-course-style.styl';
@import '../../_base/css/color.styl';

.org-course-style {
    border-top: 0;
}

cover() {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

//课程搜索
.find-input {
    padding: rem(10);
    padding-top: 0;
    .find-content {
        width: 100%;
        height: rem(30);
        border: 1px solid #dee0e0;
        border-radius: rem(4);
        background-color: #fff;
        text-align: center;
        .search-content {
            margin-top: rem(5);
            > i {
                position: relative;
                top: rem(-1);
            }
            input {
                display: inline-block;
                position: relative;
                top: rem(3);
                width: rem(132);
                margin-left: rem(5);
                vertical-align: top;
                border: none;
                font-size: rem(12);
            }
        }

    }
}

/*热门推荐 */
.org-courses {
    background-color: #FFF;
    font-size: rem(12);
    color: #3c3d3d;
    margin-bottom: rem(10);
    padding-left: rem(10);

    >ul {
        >li {
            border-bottom: 1px solid #e6e6e6;

            &:last-child {
                border-bottom: 0;
            }
            >a {
                &:last-child {
                    cover();
                }
            }
        }
    }
}

.org-courses > h3 {
    font-size: rem(14);
    line-height: rem(37);
    height: rem(37);
    color: #3c3d3d;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    > a {
        cover();
    }
}

.big-font {
    font-size: rem(14);
}

/*课程列表部分*/
.org-course {
    background-color: #FFF;
    font-size: rem(13);
    color: #3c3d3d;
    margin-bottom: rem(20);
}

.more-course {
    line-height: rem(36);
    height: rem(36);
    text-align: center;
    font-size: rem(13.008);
    color: #9d9d9e;
    position: relative;
}

.more-course > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.one2one-list {
    $img-width = rem(72);

    >li {
        position: relative;
        padding-left: $img-width + rem(12.8);
        height: $img-width + rem(12.8);
        margin-bottom: rem(12.8);
        font-size: rem(14.4);
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: rem(12.8);

        &:first-child {
            margin-top: rem(12.8);
        }

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }


        >img {
            &:first-child {
                position: absolute;
                left: 0;
                border-radius: 50%;
                top: 0;
                width: $img-width;
                height: $img-width;
            }
        }

        >strong {
            font-size: rem(16);
            display: block;
            padding-top: rem(4.8);
            height: rem(28.8);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        >em {
            color: $brand-primary;

            >.icon-rmb {
                font-size: rem(14.4);
                &:before {
                    font-size: rem(11.2);
                }
            }
        }
    }
}

.courseCard {
    padding: 0 rem(10);
    margin-bottom: rem(10);
    background: #FFF;

    .courseTitle {
        padding: rem(18) 0;
        font-family: PingFang-SC-Semibold;
        font-weight: bold;
        font-size: rem(18);
        color: $brand-text;
        line-height: rem(18);

        a {
            float: right;
            font-size: rem(12);
            color: $brand-text-lighter;

        }
    }
}

.courseList {
    overflow: hidden;

    .course {
        display: block;
        position: relative;
        float: left;
        width: 49%;
        margin-bottom: rem(20);

        .imgCtn {
            height: rem(97);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .tag {
            position: absolute;
            top: 0;
            height: rem(21);
            padding: 0 rem(12);
            background-color: rgba(0, 0, 0, 0.4);
            font-size: rem(11);
            line-height: rem(21);
            color: #FFF;
        }

        .videoTag {
            position: absolute;
            top: rem(64);
            right: rem(10);
            width: rem(20);
            height: rem(20);
            color: #FFF;

            i {
                font-size: rem(24);
            }
        }

        .name {
            margin: rem(5) 0;
            font-size: rem(14);
            color: $brand-text;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }

        .teacher {
            overflow: hidden;
            font-size: rem(11);
            color: $brand-text-lighter;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;

            .status {
                float: right;
            }
        }
    }

    .course:nth-child(odd) {
        margin-right: 2%;
    }
}
