/**
 * @file 机构详情
 * @author caoying
 */

.head {
    .banner {
        background: -webkit-linear-gradient(-45deg,rgba(99,31,0,1) 100px,rgba(155,67,0,1) 180px,rgba(99,31,0,1) 220px,rgba(155,67,0,1) 300px) center center no-repeat;
        height: rem(195);
        position: relative;
        .banner-img {
            width: 100%;
            height: 100%;
        }
        .banner-center {
            position: absolute;
            top: 17.5%;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            .avatar {
                width: rem(226.08);
                height: rem(80);
                margin: 0 auto;
                text-align: center;
                .org-avatar {
                    width: rem(98);
                    height: rem(98);
                    margin: 0 auto;
                    > img {
                        border-radius: rem(8);
                        width: 100%;
                    }
                }
                .voice, .video {
                    width: rem(48);
                    padding-top: rem(14);
                    marign: 0 auto;
                    text-align: center;
                    float: left;
                }
                .video {
                    margin-right: rem(18.4);
                    margin-left: rem(5.6);
                }
                .video {
                    position: relative;
                    .video-count {
                        position: absolute;
                        top: rem(29.28);
                        left: rem(8);
                        color: #fff;
                        opacity: 0.7;
                        font-size: rem(12);
                        display: inline-block;
                        margin: 0 auto;
                        width: rem(25);
                    }
                }
                .voice, .video {
                    img {
                        width: rem(48);
                        height: rem(48);
                    }
                }
                .down {
                    height: rem(48);
                    line-height: rem(24);
                    font-size: rem(12);
                    color: #ffffff;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, 0.25);
                    margin-top: rem(15);

                }
            }

            .org-name {
                display: inline-block;
                margin: 0 auto;
                text-align: center;
                margin-top: rem(10);
                color: #ffffff;
                font-size: rem(16);
                padding: 0 rem(10);
                .teacher-vip {
                    float: left;
                    margin-right: rem(3);
                    display: inline-block;
                    margin-top: rem(1)
                    width: rem(20);
                    height: rem(20);
                    img {
                        width: 100%;
                        height: 100%;
                        vertical-align: text-bottom;
                    }
                }
                .name {
                    margin-top: rem(16);
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: rem(18);
                }
                .score {
                    float: left;
                    background: #ffffff;
                    color: #ff6c00;
                    border-radius: rem(3);
                    width: rem(25);
                    height: rem(16.5);
                    font-size: rem(12);
                    line-height: rem(16.5);
                    margin-top: rem(4);
                    margin-left: rem(4);
                }
            }

            .summary {
                font-size: rem(11);
                margin: 0 auto;
                text-align: center;
                line-height: rem(19);
                color: #ffffff;
                padding: 0 rem(10);
                display: -webkit-box;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: normal;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

        }

        .count-total {
            position: absolute;
            padding: 0 rem(20);
            padding-top: rem(6);
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            width: 100%;
            height: rem(45);
            font-size: rem(12);
            color: #ffffff;
            display: flex;
            justify-content: space-between;
            .eye, .comment, .student, .fans {
                flex: 1;
                margin: 0 auto;
                text-align: center;
                height: rem(37);
            }

        }
    }
}

.tab {
    background: #ffffff;
    font-size: rem(14);
    color: #3c3d3d;
    height: rem(40);
    line-height: rem(40);
    margin-bottom: rem(10);
    >.ul-tab {
        overflow: hidden;
        padding: 0 rem(10) rem(8.4) rem(10);
        >.title {
            float: left;
            width: 27%;
            text-align: center;
        }
        >.distance {
            margin-left: 7%;
        }
        >.active {
            border-bottom: rem(2) solid #ff9100;
        }
        >li {

            >a {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
            }

            &.last{
                position: relative;
                margin-left: rem(28.8);
                i {
                    position: relative;
                    font-size: rem(10);
                    color: #ff9100;
                    top: rem(-3);
                    right: rem(0);
                }
            }

        }
    }
}

.first-msg {
    background: #ffffff;
    height: rem(43);
    padding: rem(10);
    margin-bottom: rem(10);
    .title {
        float: left;
        padding: 0 rem(4);
        height: rem(20);
        border: 1px solid #f95e5e;
        font-size: rem(10);
        color: #f95e5e;
        margin: 0 auto;
        text-align: center;
        margin-right: rem(5);
        line-height: rem(20);
    }
    .content {
        position: relative;
        font-size: rem(13);
        line-height: rem(22.4);
        span {
            display: -webkit-box;
            white-space: normal !important;
            height: rem(20);
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            margin-right: rem(10);
        }
        .icon {
            position: absolute;
            right: rem(-1.6);
            top: rem(5);
        }
    }

}
