.love-course {
    background: #ffffff;
    margin: rem(10) rem(15);
    border-top: 1px solid #ffb74d;
    .back-img {
        width: rem(105);
        height: rem(22);
        margin: 0 auto;
        position: relative;
        img {
            width: 100%;
        }
        .course-character {
            position: absolute;
            top: rem(-1);
            left: rem(24);
            color: #ffffff;
        }

    }
    .love-course-detail {
        display: block;
        padding: rem(17) 0;
        overflow: hidden;
        border-bottom: 1px solid #ffb74d;
        .course-img {
            border: 1px solid #dcddde;
            width: rem(100);
            height: rem(67);
            float: left;
            margin-right: rem(10);
            img {
                width: 100%;
            }
        }
        .course-detail {
            .course-name {
                line-height: 1;
                display: -webkit-box;
                white-space: normal !important;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
            .course-time {
                font-size: rem(12);
                color: #9d9e9e;
                margin-top: rem(3);
                .item {
                    display: inline-block;
                    margin-right: rem(1);
                }
            }
            .course-teacher {
                font-size: rem(12);
                color: #9d9e9e;
            }
            .course-price {
                font-size: rem(12);
                color: #9d9d9e;
                position: relative;
                .price {
                    color: #ff9100;
                }
                .sign-max {
                    position: absolute;
                    right: 0;
                }
            }
        }
        &:hover {
            background: #dcddde;
        }
    }

}