/*老师列表部分*/
@import '../components/org-teacher-style.styl';
.org-teacher {
    padding-left: rem(10);
    background-color: #FFF;
    margin-bottom: rem(10);
    position: relative;
}

.org-teacher > h3 {
    position: relative;
    font-size: rem(14);
    line-height: rem(37);
    height: rem(37);
    color: #3c3d3d;
    > a {
        cover();
    }
}

.teacher-list {
    border-top: 1px solid #e6e6e6;
}

.fix:after, .fix:before {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    visibility: hidden;
}

.more-teacher {
    line-height: rem(36);
    height: rem(36);
    text-align: center;
    font-size: rem(13);
    color: #9d9d9e;
    position: relative;
    >div{
        text-align: left;
        margin: 0 auto;
        position: relative;
        width: rem(93);
        >i{
            right: 0;
            top: rem(11);
        }
    }
}

.more-teacher > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}