/*
 * @file 老师个人主页
 * @author wangyujie
 */

@import '../../../common/layout.styl';

.card {
    border: 1px solid #e5e5e5;

    .card-header {
        padding: 8px 30px;
        background-color: #fbfbfb;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
    }

    .card-body {
        padding: 20px 30px;
        min-height: 420px;
    }
}

#container {
    .card-body {
        .tabs {
            border-bottom: 1px solid #ccc;
            font-size: 14px;
            line-height: 1.5em;
            .tab {
                font-weight: normal;
                padding: 12px 55px;
                &.checked {
                    color: #6287d5;
                    border-bottom: 4px solid #6287d5;
                }
                + .tab:before {
                    width: 0;
                }
            }
        }
        .tab-content {
            .no-data {
                text-align: center;
                border-top: 1px solid #ddd;
                margin-top: 10px;
                padding-top: 100px;
                .icon {
                    color: #f90;
                    margin-right: 6px;
                }
            }

            .course-search {
                margin-top: 10px;
                .group {
                    color: #6d6d6e;
                    margin-top: 0;
                    input[type="checkbox"] {
                        vertical-align: middle;
                    }
                    .label {
                        font-size: 12px;
                    }
                    .box-group {
                        display: inline-block;
                    }
                }
            }
            .course-list {
                font-size: 12px;
                margin-top: 20px;
                .statement {
                    font-size: 13px;
                    color: #6085d8;
                }
                table {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    tr {
                        th {
                            font-weight: normal;
                        }
                        td {
                            padding: 15px 0;
                            vertical-align: middle;
                        }
                        .course-name {
                            text-align: center;
                            width: 290px;
                        }
                        .course-price {
                            text-align: center;
                            width: 130px;
                        }
                        .student-number {
                            text-align: center;
                            width: 90px;
                        }
                        .course-time {
                            text-align: center;
                            width: 90px;
                        }
                        .actions {
                            cursor: pointer;
                            text-align: center;
                            width: 120px;
                        }
                    }
                }
                .list-header {
                    background-color: #f7f7f7;
                    line-height: 40px;
                }
                .course-item {
                    border-bottom: 1px solid #ccc;
                    padding: 20px 0;
                    .course-name {
                        color: #6085d8;
                        text-align: left;
                        img {
                            border: 1px solid #ddd;
                            float: left;
                            margin-right: 8px;
                        }
                        label {
                            border-radius: 1px;
                            color: #fff;
                            display: inline-block;
                            width: 58px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            &.offline {
                                background-color: #6085d8;
                            }
                            &.online {
                                background-color: #52b219;
                            }
                            &.one2one {
                                background-color: #ff9100;
                            }
                            &.video-course {
                                background-color: #fe5a55;
                            }
                        }
                    }
                }
            }
            .pagination {
                text-align: center;
                margin-top: 20px
            }
        }
    }
}
















