.left-content, .left-content-all {
    width: 24%;
    height: rem(400);
    float: left;
    background-color: #f3f3f3;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: rem(15) 0;
    .subject-item-normal {
        height: rem(44);
        line-height: rem(44);
        font-size: rem(14);
        color: #6D6D6E;
    }
    .subject-item-active {
        height: rem(44);
        line-height: rem(44);
        background: white;
        border-right: none;
        width: 101%;
        //border-top: rem(1) solid #ddddde;
        //border-bottom: rem(1) solid #ddddde;
        font-family: PingFang-SC-Regular;
        font-size: rem(14);
        color: #FF6C00;
    }
}
.left-content-all {
    height: 100%;
}