
#courseIntro {
    padding-top: 20px;
    .title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        border-left: 3px solid #ff9900;
        padding-left: 20px;
    }
    .details {
        padding: 0 60px 50px 20px;
        p {
            margin-bottom: 15px;
            font-size: 14px;
            color: #333333;
            .tip {
                color: #6d6d6e;
            }
            .icon-speaker,
            .speaker {
                color: #ff9900;
            }
        }
        .courseInfo {
            margin-bottom: -20px;
            .tip {
                color: #6d6d6e;
            }
            p {
                color: #333333;
                display: inline-block;
                position: relative;
                left: 70px;
                top: -20px;
                width: 660px;
            }
        }
        .broadcast {
            color: #ff9900;
            text-indent: 35px;
        }
    }
}