.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity:0.94;
    background:#f8f8f8;
    box-shadow:inset rem(0) rem(0) rem(0) rem(0) #ebeced;
    padding-bottom:rem(15);
    z-index: 200;
    .cancel-banner{
        position: absolute;
        top: 0;
        right: 0;
        height: rem(30);
        width: rem(30);
    }
    .banner-img{
        float: left;
        width:rem(50);
        height:rem(50);
        margin-top: rem(15);
        margin-left: rem(10);
    }
    .banner-text{
        float: left;
        height:rem(50);
        width:50%;
        margin-left:rem(4);
        margin-top:rem(15);
        .first-line{
            font-family:PingFang-SC-Semibold;
            font-size:rem(17);
            color:#3c3d3d;
            line-height:rem(25);
            height: rem(25);
            font-weight: bold;
        }
        .second-line{
            font-family:PingFang-SC-Regular;
            font-size:rem(13);
            color:#3c3d3d;
            line-height:rem(25);
            height: rem(25);
        }
    }
    .banner-open{
        width: rem(80);
        position: absolute;
        bottom: rem(15);
        right: rem(10);
    }
}