.bottom {
  background: $C500;
  font-size: rem(13);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rem(45);
  line-height: rem(45);
  z-index: 2;
  display: flex;
  justify-content: space-around;
  .padding-big {
    padding-right: rem(25);
  }
  .list-bottom {
    flex: 1;
    text-align: center;
    color: $W500;
    font-size: rem(15);
    display: block;
    .icon-span {
      position: relative;
      height: rem(45);
      line-height: rem(45);
      img {
        width: rem(20);
        height: rem(20);
        display: inline-block;
        vertical-align: middle;
        margin-bottom: rem(2);
        margin-right: rem(5);
      }
      .span-ear {
        display: inline-block;
      }
      i {
        font-size: rem(20);
        vertical-align: middle;
        margin-top: rem(-3);
        display: inline-block;
        color: #ffffff;

      }
      .icon {
        margin-right: 0;
      }
      .icon-consult {
        margin-right: rem(8);
        font-size: rem(17);
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
      }
      .span-favor,.span-chat {
        display: inline-block;
      }
    }

  }
  .try,.try-style,.appoint-try {
    text-align: center;
    color: #fff;
    background: $R500;
    flex: 1;
    > a {
      color: #fff;
    }
    span {
      margin-top: rem(1);
      display: inline-block;
    }
  }

  .user-no-exists,.user-exists {
    display: none;
  }
}

.item-action-red {
  background-color: #f95e5e !important;
}
.display-none {
  display: none !important;
}
.app-bottom {
  background: $C500;
  font-size: rem(13);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rem(50);
  line-height: rem(50);
  z-index: 2;
  color: $W500;
}
.app-action {
  display: flex;
  justify-content: space-around;
  font-size: rem(15);
  .padding-big {
    padding-right: rem(10);
  }
  .item-action {
    line-height: rem(50);
    flex: 1;
    text-align: center;
    img {
      width: rem(18);
      height: rem(18);
      vertical-align: text-bottom;
    }
  }

  .consult {
    img {
      width: rem(20);
      height: rem(20);
      vertical-align: sub;
    }
  }
  .focus, .try {
    img {
      margin-right: 0;
      vertical-align: sub;
    }
  }
  .try,.try-style,.appoint-try{
    color: #ffffff;
    background: $R500;
    a {
      span {
        color: #ffffff;
      }
    }
  }
}
