.head-img {
  position: relative;
  background: $C600;
  .edit-banner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 20%;
    z-index: 3;
  }
  .img-background {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: rem(225);
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .img-background {
    background-image: none;
    background-color: $C600;
  }
  .edit-background {
    position: absolute;
    top: rem(10);
    right: rem(15);
    color: #ffffff;
  }
  .teacher-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    .center-avatar {
      width: rem(70);
      height: rem(70);
      margin: 0 auto;
      position: relative;
      .christmas-hat {
        position: absolute;
        width: rem(50);
        height: rem(50);
        right: rem(-14);
        top: rem(-25);
        background-image: url('/src/page/teacherCenter/teacherMain/image/ic_app_hat.png');
        background-size: contain;
      }
      .christmas-mark {
        display: none;
      }
      .christmas-tree {
          position: absolute;
          width: rem(74);
          height: rem(33);
          left: rem(-10);
          bottom: rem(1);
          background-image: url('/src/page/teacherCenter/teacherMain/image/ic_app_tree.png');
          background-size: contain;
      }
      .avatar {
        margin: 0 auto;
        position: relative;
        width: rem(70);
        height: rem(70);
        border: 2px solid #ffffff;
        border-radius: 50%;
        .cover {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        .recommend {
          background: $R500;
          border-radius: rem(21);
          color: #ffffff;
          position: absolute;
          padding: rem(2) rem(8);
          bottom: rem(-6);
          left: rem(9);
          font-size: rem(10);
          img {
            width: rem(12);
            height: rem(12);
            vertical-align: text-top;
            margin-top: rem(1);
          }
        }
        .teacher-audio {
          position: absolute;
          left: rem(85);
          top: rem(20);
          .audio-border {
            width: rem(70);
            height: rem(30);
            vertical-align: sub;
            display: inline-block;
          }
          .audio-wave {
            width: rem(15);
            height: rem(15);
            position: absolute;
            left: rem(10);
            top: 48%;
            display: inline-block;
            transform: translateY(-50%);
          }
          .audio-length {
            position: absolute;
            top: 48%;
            color: #ffffff;
            left: rem(30);
            display: inline-block;
            font-size: rem(10);
            transform: translateY(-50%);
          }
          .audio {
            width: rem(70);
            height: rem(30);
            vertical-align: sub;
            position: absolute;
            top: 0;
            left: 0;
          }

        }
      }
    }
    .teacher-name {
      margin-top: rem(10);
      color: $W500;
      font-size: rem(18);
      position: relative;
      .teacher-vip {
        display: inline-block;
        width: rem(17);
        height: rem(17);
        position: absolute;
        margin-left: rem(3);
        top: 40%;
        transform: translateY(-50%);
        img {
          width: 100%;
          height: 100%;
          vertical-align: inherit;
        }
      }
      .teacher-gold {
        margin-left: rem(3);
        display: inline-block;
        height: rem(22);
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
      }
    }
    .short-intro {
      margin-top: rem(5);
      font-size: rem(13);
      color: $W500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .address {
      margin-top: rem(5);
      display: block;
      font-size: rem(13);
      color: $C400;
      height: rem(30);
      line-height: rem(30);
      .address-info {
          display: inline-block;
        .icon-address {
          font-size: rem(18);
          vertical-align: sub;
        }
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        max-width: 83%;
        vertical-align: bottom;
      }
      .icon-angle-right {
        font-size: rem(14);
        vertical-align: middle;
      }
    }
    .distance {
        display: inline-block;
    }
  }
}