 .fenqi-box {
     background: white;
     margin: rem(10) rem(10);
     padding: rem(10);
     .title {
         font-size: rem(15);
         padding-bottom: rem(10);
         border-bottom: 1px solid #e2e2e2;
     }
     .detail {
         padding: rem(10) 0;
         /*span {
             margin-right: rem(10);
         }*/
     }
     .bottom {
         font-family: HiraginoSansGB-W3;
         font-size: rem(14);
         color: #9d9e9e;
     }
 }