.content {
    padding: rem(15) rem(15) rem(20) rem(15);
    .lesson-way {
        margin-bottom: rem(20);
        .title {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #6d6d6e;
            line-height: rem(50);
            height: rem(50);
            .subtit {
                color: #BFBFBF;
            }
        }
        .cont {
            .item {
                margin-right: rem(10);
                margin-bottom: rem(10);
                display: inline-block;
                width: rem(66);
                font-family: PingFangSC-Regular;
                font-size: rem(13);
                letter-spacing: rem(-0.32);
                height: rem(29);
                text-align: center;
                line-height: rem(29);
                border-radius: rem(5);
                &.normal {
                    color: #3d3d3e;
                    background: #f8f8f8;
                    border: rem(1) solid #eaeaea;
                }
                &.active {
                    background: #37a4f5;
                    color: white;
                }
            }
        }
    }
    .classTime {
        margin-bottom: rem(10);
        .title {
            .main {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #6d6d6e;
                line-height: rem(40);
                height: rem(40);
            }
        }
        .time-table {
            .item {
                margin-right: rem(10);
                margin-bottom: rem(10);
                display: inline-block;
                width: rem(66);
                font-family: PingFangSC-Regular;
                font-size: rem(13);
                letter-spacing: rem(-0.32);
                height: rem(29);
                text-align: center;
                line-height: rem(29);
                border-radius: rem(5);
                &.normal {
                    color: #3d3d3e;
                    background: #f8f8f8;
                    border: rem(1) solid #eaeaea;
                }
                &.active {
                    background: #37a4f5;
                    color: white;
                }
            }
        }
    }
    .input-content {
        .title {
            font-family: PingFangSC-Regular;
            font-size: rem(14);
            color: #6d6d6e;
            letter-spacing: rem(-0.34);
            line-height: rem(45);
            height: rem(45);
            .subtit {
                color: #bfbfbf;
            }
        }
        .input-texts {
            padding: rem(10) rem(15);
            background: #f8f8f8;
            border: rem(1) solid #eaeaea;
            border-radius: rem(4);
            .form-text {
                background: #f8f8f8;
                border: none;
                width: 100%;
                border-radius: rem(4);
                outline: none;
                height: rem(102);
                resize: none;
                font-family: PingFangSC-Regular;
                font-size: rem(14);
                color: #3d3d3e;
                letter-spacing: rem(-0.34);
                line-height: rem(20);
            }
        }
    }
}