{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="change">
    <h2>变更账号密码</h2>
    <h3>1. 忘记密码怎么办？</h3>
    <p>可以在登录页面点击“忘记密码”，然后依据提示输入手机号码、短信校验码、新密码即可。</p>
    <img src="{{ $static_origin }}/src/img/guide/teacher/2.jpg" alt="变更账号密码"/>
    <h3>2. 怎样修改密码？</h3>
    <p>可以在老师的账户设置里，在“登录密码”一栏中，输入新密码，点击保存。</p>
    <img  src="{{ $static_origin }}/src/img/guide/teacher/3.jpg" alt="变更账号密码" />
    <h3>3. 如何更改手机和邮箱绑定等信息？</h3>
    <p>在老师的账户设置中，通过手机和邮箱验证即可绑定或重新绑定。</p>
    <img  src="{{ $static_origin }}/src/img/guide/teacher/4.jpg" alt="变更账号密码" />
    <h3>4. 如果我丢了手机，如果更改绑定的手机号？</h3>
    <p>请拨打客服电话4000-910-910，010-86448910客服会核查您的个人信息，以确认是老师本人，并且进行手机号的更改绑定。</p>
</div>




{{ /strip }}