{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="change">
    <h2>一对一课程设置</h2>
    <h3>1. 一对一课程设置需要注意什么？</h3>
    <p>1对1课程设置可以选择科目、优惠包、可授课时间和授课方式等信息。平台提供在线授课、协商地点、学生上门、老师上门等多种授课方式。课时费请合理设置，课时费过高不合理可能无法通过审核。</p>
    <img src="{{ $static_origin }}/src/img/guide/teacher/9.jpg" alt="一对一课程设置"/>
    <h3>2. 是否可以设置课程优惠？或和学生商议课程价格？</h3>
    <p>平台提供课程优惠包，可以设置不同课时的优惠价格；也可以在学生拍下订单后，在一对一课程待支付订单中修改价格等。</p>
    <img  src="{{ $static_origin }}/src/img/guide/teacher/10.jpg" alt="一对一课程设置" />
    <img  src="{{ $static_origin }}/src/img/guide/teacher/11.jpg" alt="一对一课程设置" />
    <img  class="mobile-img" src="{{ $static_origin }}/src/img/guide/teacher/33.jpg" alt="一对一课程设置" />
</div>




{{ /strip }}