{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="online">
    <h2>在线授课</h2>
    <h3>1. 在线课堂如何进入？</h3>
    <p>登录后进入到我的课表页面，在线授课会有一个“进入课堂”的按钮，老师开课前任意时间至课后3小时可以进入课堂，学生课前4小时至课后3小时可以进入课堂。</p>
    <img src="{{ $static_origin }}/src/img/guide/teacher/28.jpg" alt="在线授课"/>
    <h3>2. 在线课堂有哪些功能我可以使用？</h3>
    <p>
上传课件：进入课堂后你可以从电脑中上传PPT、PDF、WORD或者图片格式的课件，而且你之前上传过的课件我们都会帮你保存，方便随时使用。<br/>
课程录制：开始上课后，老师可以利用录屏功能进行课程录制，保存在电脑中，课程结束后可以发布视频课供学生回看，或进行二次销售。<br/>
播音视频：直播客户端中，可以播放本地音频和视频给学生。<br/>
课堂模式：在一对一课程，学生可以随时打开麦克风和摄像头发言；在班课中，学生首先点击“我要举手”按钮，经过你允许后才能发言及开启视频。<br/>
涂鸦工具：我们提供了激光笔、画笔、文字、方框、橡皮、清屏、箭头等七种涂鸦工具，在课件或者白板上你可以根据讲课的需求随时进行涂鸦。<br/>
聊天：为方便沟通，你可以随时在聊天区打字交流，除此之外，一些重要的提示公告也会在这里显示。<br/>

    </p>
    <h3>3. 视频卡顿，听不清声音怎么办？</h3>
    <p>我们建议你在线授课时戴上耳机，并且尽量在网络环境优良的地方授课。如果仍然无法正常授课，请拨打客服电话4000-910-910，010-86448910 我们的客服会耐心帮您解决问题。</p>
    <h3>4. 网络问题忽然掉线了怎么办？</h3>
    <p>如果您用网页端上课，你可以在我的课表相应课程卡片中点击“进入课堂”按钮再次进入；如果您下载了跟谁学直播助手上课，你可以重启直播助手再次进入课堂。</p>
    <h3>5. 我可以同时与多个学生在线授课吗？</h3>
    <p>可以。如果你想同时与多个学生在线授课，建议你首先与之前约好课的学生沟通，学生必须报的是同一科目的课程，达成一致后再接受其他学生该时段的约课，课程开始时，学生和老师会进入到同一个教室。</p>
</div>




{{ /strip }}