{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="perfect">
    <h2>完善资料</h2>
    <h3>1. 怎样才能被学生搜索到？</h3>
    <p>只有老师的资料设置完整、身份认证通过、科目已设置、地址已设置的情况下，才可以被搜索到。</p>
    <img src="{{ $static_origin }}/src/img/guide/teacher/5.jpg" alt="完善资料"/>
    <h3>2. 身份认证的时候，应该如何呈现身份证照片？</h3>
    <p>建议各位老师手持身份证照片，贴近镜头，五官清晰，可以参考示例图：</p>
    <img src="{{ $static_origin }}/src/img/guide/teacher/6.jpg" alt="完善资料"/>
    <h3>3. 我刚开始当老师，没有丰富的过往经历、相关案例怎么办？</h3>
    <p>由于过往经历属于必填信息，你需要根据具体情况填写，但可以不局限于教学经历。同时为了让学生更全面的了解你，我们建议你可以在相关案例一栏中填写能帮助你展现自己的优秀成果。</p>
</div>




{{ /strip }}