{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="privacy">
    <h2>隐私模式</h2>
    <h3>1. 我如果不希望学生看到我的某些信息，该怎么办？</h3>
    <p>为了满足部分老师对于隐私的需求，我们平台提供了隐私保护的功能。你可以在老师账户设置里选择隐藏真实头像或真实姓名。隐藏后，用户可以看到老师的昵称和默认头像。</p>
    <img src="{{ $static_origin }}/src/img/guide/teacher/7.jpg" alt="隐私模式"/>
    <h3>2. 我如果不希望学生得到我的手机号，该怎么设置？</h3>
    <p>平台现在采用三方通话功能，老师可以在设置班课时，系统默认勾选“该班学生可以通过电话联系我”，这样学生可以通过平台转接的方式联系老师，但无法看见老师的手机号；如果老师放弃勾选，则学生也无法电话联系老师。</p>
    <img src="{{ $static_origin }}/src/img/guide/teacher/34.jpg" alt="隐私模式"/>
</div>




{{ /strip }}