{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="system">
    <h2>评价体系</h2>
    <h3>1. 平台的评价体系是怎样的？</h3>
    <p>
跟谁学提供师生双向评价，在整个课时套餐结束后针对对方表现给予一个详细的评价（包括好中差评，各方面打分，文字评论，还可以上传图片评论），该评价可以我的信用页面查看，也将作为今后学生选择老师重要的依据。
    </p>
    <img src="{{ $static_origin }}/src/img/guide/teacher/29.png" alt="评价体系"/>
    <h3>2. 我能够评价学生吗？</h3>
    <p>可以。整个课时套餐结束后你可以对学生本次套餐的表现进行评价。并且能在我的信用页面看到对往期学生的评价。</p>
    <h3>3. 遭遇恶意评价怎么办？</h3>
    <p>如果遭遇恶意评价，你可以在“我的订单”中选择“我要申诉”，我们的客服专员将会作出公正的裁决。</p>
</div>




{{ /strip }}