{{ *

@file 银行信息

      参数：

      bank: 银行字母缩写
      card_id: 可选，银行卡 id，可用于删除
      card_no: 可选，银行卡号
      card_type: 可选，银行卡类型，C 信用卡 D 储蓄卡
      expired: 可选，是否已过期
      transaction_limit: 可选，单笔限额
      day_limit: 可选，单日限额

@author zhujialu

* }}
{{ strip }}

<span class="bank-info">
    <span class="icon-bank icon{{ if $bank }} icon-bank-{{ $bank|lower }}{{ /if }}"></span>
    {{ if isset($card_no) }}
    <span class="card-no">
        {{ $card_no }}
    </span>
    {{ /if }}

    {{ if isset($card_type) }}
    <label class="label-primary tiny">
        {{ if $card_type == 'C' }}
        信用卡
        {{ else if $card_type == 'D' }}
        储蓄卡
        {{ /if }}
    </label>

    <label class="label-info tiny">
        快捷
    </label>
    {{ /if }}

    {{ if isset($expired) && $expired }}
    <span>
        已过期
    </span>
    {{ /if }}

    <span>
        单笔限额
        <strong class="transaction-limit">{{ $transaction_limit }}</strong>
    </span>

    <span>
        单日限额
        <strong class="day-limit">{{ $day_limit }}</strong>
    </span>

</span>

{{ /strip }}