{{ *

@file 选择网银对话框
@author zhujialu

* }}
{{ strip }}

<script type="plain/text" id="ebank-dialog">

    <div class="pay-money">
        支付 <strong class="text-error"></strong>
    </div>

    <h1><i class="icon icon-info-circle text-info"></i>&nbsp;选择银行卡后请在新窗口的银行页面使用<span class="text-error">网银或银行U盾</span>支付，其他方式会有额度限制。&nbsp;<span class="text-info">建议使用IE浏览器</span></h1>

    <div>
        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="BCOM" text='<span class="icon icon-bank-bcm" title="交通银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="CMB" text='<span class="icon icon-bank-cmb" title="招商银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="ICBC" text='<span class="icon icon-bank-icbc" title="中国工商银行"></span>' }}


        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="ABC" text='<span class="icon icon-bank-abc" title="中国农业银行"></span>' }}

    </div>
    <div>

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="CCB" text='<span class="icon icon-bank-ccb" title="中国建设银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="BOC" text='<span class="icon icon-bank-boc" title="中国银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="PSBC" text='<span class="icon icon-bank-psbc" title="中国邮政储蓄银行"></span>' }}


        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="SPDB" text='<span class="icon icon-bank-spdb" title="浦发银行"></span>' }}

    </div>
    <div>

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="CIB" text='<span class="icon icon-bank-cib" title="兴业银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="GDB" text='<span class="icon icon-bank-cgb" title="广发银行"></span>' }}

        {{ *
        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="FDB" text='<span class="icon icon-bank-fdb" title="富滇银行"></span>' }}
        * }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="HZB" text='<span class="icon icon-bank-hzb" title="杭州银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="SHB" text='<span class="icon icon-bank-bos" title="上海银行"></span>' }}

    </div>

    <div>

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="SRCB" text='<span class="icon icon-bank-srcb" title="上海农商银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="PAB" text='<span class="icon icon-bank-pab" title="平安银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="CMBC" text='<span class="icon icon-bank-cmbc" title="中国民生银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="CEB" text='<span class="icon icon-bank-ceb" title="中国光大银行"></span>' }}

    </div>

    <div>

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="BJRCB" text='<span class="icon icon-bank-bjrcb" title="北京农商银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="BOB" text='<span class="icon icon-bank-bob" title="北京银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="CITIC" text='<span class="icon icon-bank-citic" title="中信银行"></span>' }}

        {{ include file="common/ui/radio.html" class="bank-card" name="approach" value="SDB" text='<span class="icon icon-bank-sdb" title="深圳发展银行"></span>' }}

    </div>
</script>

{{ /strip }}
