#crumb {
    border: 1px solid #e6e6e6;
    background: #FFFFFF;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #3d3d3d;

    ul {
        margin: 0 auto;
        max-width: 1020px;
    }

    li {
        float: left;
        margin-right: 10px;
        position: relative;
    }

    .related {
        display: none;
        position: absolute;
        top: 32px;
        border: 1px solid #eee;
        border-radius: 3px;
        background-color: #fff;
        z-index: 1;
        min-width: 115px;
        li {
            float: none;
            line-height: 20px;
            padding: 5px 15px;
        }
    }

    .related-li {
        &:hover {
            .related {
                display: block;
            }
        }
    }

}