
@import "./modelDialog.less";
@import '../common/scroll.less';
@import '../common/crumb.less';
@import '../../common/component/recoverDialog.less';
@import "../../common/component/advisoryDialog.less";
@import "../../common/component/avatarPendant.less";

#content{
    width: 100%;
    padding: 0 0 20px 0;
    background: #f2f2f2;
    .no-content{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        a{
          color: #f95;
        }
    }
    .teacher-header{
        width: 100%;
        height: 368px;
        position: relative;
        background: url("/src/img/teacherIndex/model/header-vip.png");
        background-position: center 0;
        margin-bottom: 6px;
        .visit-count{
          font-size: 12px;
        }
        &>img{
            position: absolute;
            top: -20px;
        }
        .teacher-info{
            text-align: center;
            width: 1020px;
            margin: 0 auto;
            height: 160px;
            padding-top: 200px;
            position: relative;
            .teacher-info-avatar{
                position: relative;
                width: 156px;
                height: 156px;
                border: 1px solid #eee;
                background: #fff;
                .avatar-large{
                    img{
                        border-radius: 0;
                        z-index: 2;
                    }

                }
            }
            .teacher-info-name{
                font-size: 20px;
                color: #fff;
                font-family: '微软雅黑';
                position: absolute;
                left: 180px;
                top: 210px;
                .icon-recommend {
                    position: relative;
                    top: 3px;
                    background: url(../../../img/teacher/recommend.png) no-repeat;
                    width: 33px;
                    height: 20px;
                }
                .icon-vip-vip{
                    display: inline-block;
                    width: 18px;
                    height: 17px;
                }
                .vip-level1{
                    background: url("../../../img/teacherIndex/small-vip.png") no-repeat;
                }
                .vip-level2{
                    background: url("../../../img/teacherIndex/small-gvip.png") no-repeat;
                }
                .vip-level3{
                    background: url("../../../img/teacherIndex/small-cvip.png") no-repeat;
                }
                .medal{
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                }
            }
            .teacher-info-tips{
                font-size: 12px;
                color: #fff;
                height: 25px;
                position: absolute;
                top: 245px;
                left: 176px;
                .teacher-info-tips-item{
                    display: inline-block;
                    padding:0 3px;
                    span{
                        border-right: 1px solid #fff;
                        padding-right: 10px;
                    }
                }
            }
            .teacher-info-button{
                height: 35px;
                position: absolute;
                left: 175px;
                top: 278px;
                &>div{
                    float: left;
                    margin: 0 5px;
                }
                .teacher-info-button-ask{
                    width: 100px;
                    height: 35px;
                    background: #f95;
                    border: 1px solid #f95;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 14px;
                    padding-top: 5px;
                    cursor: pointer;
                    display: inline-block;
                    line-height: 20px;
                }
                .teacher-info-button-listen{
                    width: 100px;
                    height: 35px;
                    background: #6187dc;
                    border: 1px solid #6187dc;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 14px;
                    padding-top: 5px;
                    cursor: pointer;
                }

            }
            .teacher-info-model-share{
                position: absolute;
                top: 295px;
                right: 0;
                color: #fff;
                font-size: 12px;
                .hasfavored{
                    color: #f95;
                }
                .teacher-info-use-model{
                    color: #fff;
                    width: 80px;
                    background: #8c867d;
                    padding: 1px 2px 2px 1px;
                    border: 1px solid #8c867d;
                    border-radius: 15px;
                    margin-top: -5px;
                    &:hover{
                      color: #f95;
                    }
                }
                &>div{
                    display: inline-block;
                    margin-left: 20px;
                    cursor: pointer;
                    &:hover{
                        color: #f95;
                    }
                    .qrcode-container{
                        display: none;
                        width: 103px;
                        height: 127px;
                        position: absolute;
                        background: #FFFFFF;
                        border: 1px solid #eee;
                        top: -133px;
                        right: 35px;
                        padding-top: 10px;
                        text-align: center;
                        z-index: 2;
                        span{
                          text-align: center;
                          color: #555;
                          font-size: 12px;
                        }
                        &:after{
                          content: ' ';
                          position: absolute;
                          top: 125px;
                          margin-left: -45px;
                          border-left: 10px solid transparent;
                          border-right: 10px solid transparent;
                          width: 0;
                          height: 0;
                          border-top: 10px solid #fff;
                        }
                    }
                }
            }
        }
        .teacher-link{
            width: 100%;
            height: 48px;
            background: #FFFFFF;
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -1px;
            text-align: center;
            .teacher-link-item{
                display: inline-block;
                margin: 17px  25px 0px 25px;
                font-size: 14px;
                cursor: pointer;
                a{
                    padding: 0 5px 12px 5px;
                }
                .active{
                    border-bottom: 2px solid #f95;
                    font-weight: bold;
                }
                &:first-child{
                    margin-left: -100px;
                }
            }
        }

    }

}
