#teacher-success-list{
    min-height: 200px;
    margin-top: 10px;
    display: inline-flex;
    .success-list-item{
        width: 48%;
        display: inline-block;
        margin:0 5px;
    }
    .teacher-success-item {
        padding: 20px;
        width: 340px;
        min-height: 189px;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #f5f5f5;
        display: inline-block;
        margin: 10px 5px 0 0;

        .success-title{
            font-size: 14px;
            color: #222;
            font-weight: bold;
        }
        .success-time{
            font-size: 12px;
            margin: 5px 0;
        }
        .success-content{
            font-size: 14px;
            overflow-x: hidden;
        }
    }
}

