/**
 * @file 老师详情页 - 常用教学地点map
 * @author wuhongjie
 */

#teacher-residence {
  border: 1px solid #E6E6E6;
  border-top: none;
  padding: 15px;
  padding-top: 0;

  .new-title {
    background: #fff;
    color: #6d6d6d;
    font-size: 14px;
    .teacher-content-header{
        padding-left: 0px;
    }
    .icon {
      margin-right: 5px;
    }

  }

  .map-container {
    width: 226px;
    height: 226px;
  }

  #map {
    width: 100%;
    height: 100%;
    border: 1px solid #E6E6E6;
  }

  #no-map {
    width: 100%;
    height: 100%;
    text-align: center;

    .txt {
      font-size: 12px;
      margin-top: 5px;
      display: block;

      a {
        color: #6287d5;
      }
    }

    img {
      width: 93px;
      height: 93px;
      margin-top: 45px;
    }
  }

  .reduce {
    display: none;
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #6187dc;
  }

  .amplify {
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #6187dc;
  }

  img[title="发送到手机"]{
    display: none!important;
  }

  &.max {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0;

    .map-container {
      width: 100%;
      height: 100%;
    }

    .reduce {
      display: inline;
      margin-right: 5px;
    }

    .amplify {
      display: none;
    }
  }
}