#teacher-search {
    background: #fff;
    .wrapper {
        width: 1020px;
        margin: 0 auto;
        padding: 12px 0;
        .navTitle {
            a {
                color: #666;
            }
        }
    }
    .logo {
        display: inline-block;
        background: url(../../../img/logo-yingyong.png) no-repeat;
        width: 111px;
        height: 45px;
    }

    .search-box {
        float: right;
        position: relative;
        .search-input {
            border: 1px solid #f90;
            border-radius: 15px;
            margin-top: 10px;
            width: 290px;
            height: 30px;
            padding-left: 15px;
        }
        .search-button {
            position: absolute;
            left: 250px;
            top: 10px;
            color: #a7a7a7;
            width: 40px;
            height: 30px;
            line-height: 35px;
            text-align: center;
            cursor: pointer;
        }
        .nav-icon {
            font-size: 12px;
            margin-right: 20px;
            .icon {
                color: #f90;
                font-size: 20px;
                margin-right: 5px;
                vertical-align: sub;
            }
        }
    }
}
.dialog-action{
    b {
        margin: 0 10px;
    }
}

.study-head {
    text-align: left;
    p {
        margin-bottom: 20px;
    }
    &+.dialog-action {
        text-align: right;
    }
}