.course-new {
    margin-top: rem(10);
    max-height: 100%;
    width: 100%;
    background: transparent;
    .title{
        font-size: rem(21);
        color: #3c3d3d;
        line-height: rem(18);
        margin-top: rem(12);
        text-align: left;
    }
    .title-black{
        color: #fff;
        background: url('/src/page/course/classCourse/_parts/courseInfo/img/57b424d3ef4a2.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .title-brown{
        color: #8a1f2f;
        background: url('/src/page/course/classCourse/_parts/courseInfo/img/57b424d4d038a.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .title-blue{
        padding-right: rem(40);
        color: #3c3d3d;
        background: url('/src/page/course/classCourse/_parts/courseInfo/img/57b424d436563.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .title-green{
        color: #6d6d6e;
        background: url('/src/page/course/classCourse/_parts/courseInfo/img/57b424d460a49.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .title-pink{
        color: #562c11;
        background: url('/src/page/course/classCourse/_parts/courseInfo/img/57b424d4b01b3.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .body{
        margin-top: rem(15);
        word-break: break-all;
        white-space: normal;
    }
    .image{
        width: 100%;
        height: auto;
        margin-top: rem(20);
        position: relative;
    }
    .img-white{
        border: 0;
    }
    /*.img-green{
        border: 5px solid #52DDBA;
    }
    .img-pink, .img-blue{
        border: 5px solid #fff;
    }
    .img-black{
        border: 5px solid #000;
    }
    .img-brown{
        border: 5px solid #9E2132;
    }*/
    .video-player {
        position: relative;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: rem(215);
        margin-top: rem(15);
        .video-poster{
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
        }
        .play-icon {
            position: absolute;
            width: rem(44);
            height: rem(44);
            top: 50%;
            left: 50%;
            margin-left: rem(-22);
            margin-top: rem(-22);
            background-image: url('/src/page/course/classCourse/_parts/courseInfo/img/57b5a5d2928b8.png');
            background-size: 100% 100%;
        }
        .player-frame{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
    .teacher-audio{
        position: relative;
        margin-top: rem(20);
        .audio-border{
            width: rem(138);
            height: rem(46);
            vertical-align: sub;
            display: inline-block;
        }
        .audio-wave{
            width: rem(15);
            height: rem(20);
            position: absolute;
            left: rem(20);
            top: 50%;
            margin-top: rem(-10);
            display: inline-block;
        }
        .audio-length{
            position: absolute;
            display: inline-block;
            font-size: rem(12);
            color: #9d9d9e;
            left: rem(90);
            transform: translateY(-50%);
            top: 50%;
        }
        .audio{
            width: rem(138);
            height: rem(46);
            position: absolute;
            top: 0;
            left: 0;
            vertical-align: sub;
        }
    }

}