/**
 * @file 优选一对一课程详情页
 * @author wangyujie
 */
@import '../main/base.less';
@import '../common/card.less';

@import './common/layout.less';
@import './betterDetail/profile.less';
@import './betterDetail/teacherInfo.less';
@import './betterDetail/comment.less';
@import './betterDetail/courseIntro.less';

@import '../common/component/recoverDialog.less';
@import '../common/component/one2oneBetterPurchaseDialog.less';
@import '../common/component/canCommentOrderListDialog.less';
@import '../common/component/advisoryDialog.less';
@import '../common/component/foreignAddrMap.less';

@content-width: 900px;

body {
    background-color: #fff;
    #main,
    #main-content {
        width: 1200px;
        margin: 16px auto;
    }

}

#nav {
    display: none;
}

.main_contain {
    background-color: #fafafa;
    padding: @gap-vertical-tiny 0;
}

#course-info {
    .content {
        word-wrap: break-word;
        word-break: break-all;
    }
}

.mask {
    z-index: 10;

    &,
    .alpha-mask,
    .half-alpha-mask {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .half-alpha-mask {
        background-color: #000;
        .opacity(0.5);
        bottom: auto;
        height: 148px;
    }

    p {
        color: #FFF;
        font-size: 24px;
        position: absolute;
        top: 30px;
        left: 50%;
        text-align: center;
        margin-left: -450px;
        span {
            font-size: 1.3em;
        }
    }
}

#main {
    margin-top: 14px;
    color: @brand-text;
    .crumb {
        font-size: 12px;
        margin-bottom: @gap-vertical-medium;

        .course-number {
            color: #6d6d6d;
            float: right;
        }
        .related {
            display: none;
            position: absolute;
            top: 18px;
            left: 0;
            border: 1px solid #eee;
            border-radius: 3px;
            background-color: #fff;
            min-width: 100px;
            z-index: 1;
            min-width: 115px;
            li {
                float: none;
                line-height: 20px;
                padding: 5px 15px;
            }
        }

        .related-a {
            position: relative;
            display: inline-block;
            min-width: 10%;
            &:hover {
                .related {
                    display: block;
                }
            }
        }
    }
}

#sidebar {
    width: 290px;
    position: relative;
    .card {
        margin-bottom: @gap-vertical-medium;
    }
    .card-header,
    .card-body {
        padding: 0;
    }

    .fixed {
        position: fixed;
        top: 0;
        z-index: 4;
    }

    .logo {
        width: 60px;
    }

    #sidebar-box {
        border: 1px solid @border-color-gray;
        margin-bottom: 15px;

        & > div {
            border-top: 1px solid #DEDEDE;
        }

        & > div:first-child {
            border-top: none;
        }
    }
    #sidebarbottom {
        width: 100%;
        margin-top: 10px;
        position: absolute;
        #relatedcourse {
            border: 1px solid @border-color-gray;
        }
        #relatedteacher {
            border: 1px solid @border-color-gray;
        }
    }
}

#content {
    background-color: #fff;
    border: 1px solid @border-color-gray;
    width: @content-width;

    .fixed-header {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0;
        text-align: right;
        width: 100%;
        z-index: @zindex-medium;
        .wrapper {
            .transition(width, 0.4s);
            width: 1200px;
            margin: 10px auto;
            border: none;
            div {
                display: inline-block;
            }
            .course-info {
                color: #6d6d6d;
                float: left;
                font-size: 12px;
                text-align: left;
                .icon {
                    margin-right: 7px;
                }
                h1 {
                    color: #333;
                    font-size: 18px;
                }
            }
            .course-price,
            .course-action {
                line-height: 45px;
            }
            .course-price {
                strong {
                    color: #f95710;
                    font-size: 22px;
                }
                em {
                    color: #555;
                    font-size: 16px;
                }
            }
            .course-action {
                button {
                    margin-left: 10px;
                    width: 120px;
                }
                .reserve-listen {
                    background-color: #fff;
                    border: 1px solid #f95710;
                    border-radius: 2px;
                    cursor: pointer;
                    color: #f95710;
                    height: 36px;
                    line-height: 36px;
                    &:hover {
                        background-color: #f95710;
                        color: #fff;
                    }
                }
            }
        }
    }

    .header {
        .wrapper {
            font-size: 18px;
            height: 48px;
            line-height: 48px;
        }

        .tab-nav-primary {
            border-bottom: 1px solid @border-color-gray;
        }
        border-bottom: none;
        padding: 0;

        .nav-item-container {
            .clearfix();
        }
        .nav-action-container {

            display: none;

            padding: 5px 10px;
            font-size: @font-size-tiny;
            float: right;
            line-height: 2.5em;

            .btn-primary {
                background-color: #f95710;
                border-color: #f95710;
            }

            .course-price {
                line-height: initial;
                margin-right: 10px;
                em {
                    color: #f95710;
                    font-weight: bold;
                }
            }

            & > * {
                .inline-block();
                vertical-align: middle;
            }

        }

        .nav-item {
            border-left: 1px solid @border-color-gray;
            border-bottom: none;
            text-align: center;
            padding: 10px;

            & > span {
                display: inline-block;
                text-align: center;
                min-width: 110px;
            }
            &:first-child {
                & > span {
                    border-left: none;
                }
            }
            &.active, &:hover {
                border-bottom: none;
            }
            &.active {
                background-color: @brand-primary;
                color: #fff;
                & > span {
                    border-left: none;
                }
            }
        }
    }

    .body {
        padding: 0 20px;
        h3 {
            margin-top: 20px;
            margin-left: -20px;
            border: none;
            span {
                border: none;
                border-left: 3px solid @brand-primary;
                color: #3D3D3E;
                font-size: 22px;
                padding-left: @gap-horizontal-large;
                padding-bottom: 0;
            }
            em {
                color: @brand-text-lighter;
                font-size: 16px;
                font-weight: normal;
                padding-left: @gap-horizontal-small;
            }
        }
        #course-info {
            .content {
                padding-top: 30px;
            }
        }
    }

    .map {
        cursor: pointer;
        color: @brand-info
    }
}
