{{ *

@file 提交订单
@author zhujialu

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "course/reserve_c375ef9ac0" }}

    {{ $script_data.today = $tpl_data.today * 1000 }}
    {{ $script_data.availableHours = $tpl_data.order_info.available_hours }}
    {{ $script_data.purchaseId = $tpl_data.purchase_id }}
    {{ $script_data.lessonWay = $tpl_data.order_info.lesson_way_name }}
    {{ $script_data.courseType = $tpl_data.order_info.course_type }}
    {{ if isset($tpl_data.teacher) }}
        {{ $script_data.addressList = $tpl_data.teacher.address_list }}
    {{ /if }}
    {{ $script_data.disLocation = $tpl_data.order_address.location }}

    {{ if $tpl_data.order_info.from == 'student' }}
        {{ $person = $tpl_data.teacher }}
        {{ $identity = "老师" }}
    {{ else }}
        {{ $person = $tpl_data.student }}
        {{ $identity = "学生" }}
    {{ /if }}

{{ /block }}

{{ block name="title" prepend }}
    {{ if $tpl_data.order_info.from == 'student' }}
        发起约课 -
    {{ else }}
        为学生排课 -
    {{ /if }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/course/reserve_be7316b67d.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div id="main" class="card">

    <div class="card-header">
        {{ if $tpl_data.order_info.from == 'student' }}
            发起约课
        {{ else }}
            为学生排课
        {{ /if }}
    </div>

    <div class="card-body">

        <div class="order-info">

            <div class="available-hours">
                订单可约时长
                <strong class="text-primary">
                    {{ $tpl_data.order_info.available_hours }}
                </strong>
                小时
            </div>

            {{ include file="common/component/avatar.html" type="small" img=$person.avatar }}

            <div class="user-info">
                <span class="display-name">
                    {{ $person.display_name }}
                </span>

                <span class="sex">
                {{ if $person.sex == 0 }}
                    <i class="icon icon-user text-error"></i>
                {{ else if $person.sex == 1 }}
                    <i class="icon icon-user text-info"></i>
                {{ /if }}
                </span>

                {{ if $tpl_data.order_info.from === 'student' }}

                    {{ if isset($tpl_data.organization) && isset($tpl_data.organization.city_filter) && $tpl_data.organization.city_filter && isset($tpl_data.organization.extension) && $tpl_data.organization.extension }}
                        <span class="four-hundred">
                            <i class="icon icon-big-phone-o"></i>
                            <span>{{ $tpl_data.organization.extension }}</span>
                        </span>
                    {{ else }}
                        <span data-mobile="{{ $person.mobile }}" data-number="{{ $person.number }}" data-name="{{ $person.display_name }}">
                            <i class="icon icon-call"></i>
                        </span>
                    {{ /if }}

                {{ else }}

                    {{ if isset($tpl_data.organization) && isset($tpl_data.organization.city_filter) && $tpl_data.organization.city_filter && isset($tpl_data.organization.extension) && $tpl_data.organization.extension }}
                        <span class="four-hundred">
                            <i class="icon icon-big-phone-o"></i>
                            <span>{{ $tpl_data.organization.extension }}</span>
                        </span>
                    {{ else }}
                        <span>电话：{{ $person.mobile }}</span>
                    {{ /if }}

                {{ /if }}
            </div>

            <div class="course-info">
                <span class="course-name">
                    {{ $tpl_data.order_info.course_name }}
                </span>
                <span class="lesson-way">
                    {{ $tpl_data.order_info.lesson_way_name }}
                </span>
            </div>

            <span class="text-info">
                <i class="icon icon-info-circle"></i>
                请联系{{ $identity }}确认上课时间、地点后，
                {{ if $tpl_data.order_info.from == 'student' }}
                    再向老师发起约课
                {{ else }}
                    再为学生进行排课
                {{ /if }}
            </span>


            {{ if $tpl_data.order_info.from == 'student' }}

                {{ if isset($tpl_data.teacher.qreserve_sign) && $tpl_data.teacher.qreserve_sign == 1 }}
                    {{ $opened = 1 }}
                {{ else }}
                    {{ $opened = 0 }}
                {{ /if }}

                <span class="{{ if $opened == 1 }}opened{{ /if }} quick-lesson-box" data-user-num="{{ $tpl_data.teacher.number }}">

                    <label class="form-checkbox {{ if $opened }} checked {{ /if }}">
                        <input type="checkbox" name="quick-lesson" {{ if $opened }} checked="checked" {{ /if }} />
                        <i class="icon icon-lightning"></i>
                        <span>
                            {{ if $opened == 1 }}
                                闪电约课已开启
                            {{ else }}
                                闪电约课
                            {{ /if }}
                        </span>
                        <i class="icon icon-question-circle" data-title="什么是闪电约课？<br />开启闪电约课后，该老师发起的约课以及时间修改系统将为你自动确认" data-width="19em"></i>
                    </label>

                </span>
            {{ /if }}
        </div>

        {{ $lesson_way = $tpl_data.order_info.lesson_way_name }}
        {{ if $identity == "学生" }}
            {{ include file="course/reserve/index.html" data=true lesson_way=$lesson_way course_type=$tpl_data.order_info.course_type }}
        {{ else }}
            {{ include file="course/reserve/index.html" lesson_way=$lesson_way }}
        {{ /if }}
    </div>

</div>


{{ /strip }}
{{ /block }}