@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?ts0832');
  src:  url('#{$icomoon-font-path}/icomoon.eot?ts0832#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?ts0832') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?ts0832') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?ts0832#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_minus {
  &:before {
    content: $icon-ic_minus;
  }
}
.icon-ic_add {
  &:before {
    content: $icon-ic_add;
  }
}
.icon-ic_calendar {
  &:before {
    content: $icon-ic_calendar;
  }
}
.icon-ic_cancel {
  &:before {
    content: $icon-ic_cancel;
  }
}
.icon-ic_choosevideo {
  &:before {
    content: $icon-ic_choosevideo;
  }
}
.icon-ic_detail {
  &:before {
    content: $icon-ic_detail;
  }
}
.icon-ic_dingdan {
  &:before {
    content: $icon-ic_dingdan;
  }
}
.icon-ic_uplord {
  &:before {
    content: $icon-ic_uplord;
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right-circle {
  &:before {
    content: $icon-angle-right-circle;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-caret-down {
  &:before {
    content: $icon-caret-down;
  }
}
.icon-caret-left {
  &:before {
    content: $icon-caret-left;
  }
}
.icon-caret-right {
  &:before {
    content: $icon-caret-right;
  }
}
.icon-caret-up {
  &:before {
    content: $icon-caret-up;
  }
}
.icon-caret-updown {
  &:before {
    content: $icon-caret-updown;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-clock-large-o {
  &:before {
    content: $icon-clock-large-o;
  }
}
.icon-clock-o {
  &:before {
    content: $icon-clock-o;
  }
}
.icon-comment-org {
  &:before {
    content: $icon-comment-org;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-favor {
  &:before {
    content: $icon-favor;
  }
}
.icon-frown-o {
  &:before {
    content: $icon-frown-o;
  }
}
.icon-help {
  &:before {
    content: $icon-help;
  }
}
.icon-logo {
  &:before {
    content: $icon-logo;
  }
}
.icon-long-arrow-down {
  &:before {
    content: $icon-long-arrow-down;
  }
}
.icon-nav-new {
  &:before {
    content: $icon-nav-new;
  }
}
.icon-neutral-o {
  &:before {
    content: $icon-neutral-o;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-play-oo {
  &:before {
    content: $icon-play-oo;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-plus-o {
  &:before {
    content: $icon-plus-o;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-smile-o {
  &:before {
    content: $icon-smile-o;
  }
}
.icon-star-half {
  &:before {
    content: $icon-star-half;
  }
}
.icon-star-o {
  &:before {
    content: $icon-star-o;
  }
}
.icon-times-circle {
  &:before {
    content: $icon-times-circle;
  }
}
.icon-user-o {
  &:before {
    content: $icon-user-o;
  }
}
.icon-video-camera {
  &:before {
    content: $icon-video-camera;
  }
}

