{{ *
    @file 文章或草稿的分类
    @author wuhongjie
* }}
{{ strip }}

<ul class="category-list first-four-category">

    <li class="category-item {{ if !isset($smarty.request.cid) || $smarty.request.cid == 0 }}active{{ /if }}" data-id="0">
        <a class="href-link" href="?cid=0&page=1">
            <span class="category-name">全部文章</span>
            <span class="cate-static-label">
                {{ if isset($tpl_data.total) }}
                    {{ $tpl_data.total }}
                {{ else if isset($tpl_data.article_total) }}
                    {{ $tpl_data.article_total }}
                {{ /if }}
            </span>
        </a>
    </li>

    {{ if !empty($tpl_data.category_list) }}
        {{ foreach $tpl_data.category_list as $category }}
        {{ if isset($category.is_default) && $category.is_default == 1 }}
        <li class="category-item {{ if isset($smarty.request.cid) && $smarty.request.cid == $category.id }}active{{ /if }}" data-id="{{ $category.id }}">
            <a class="href-link" href="?cid={{ $category.id }}&page=1">
            {{ if isset($category.name) }}
                {{ $category.name }}
            {{ /if }}

            {{ if isset($category.num) }}
                <span class="cate-static-label">{{ $category.num }}</span>
            {{ /if }}

            </a>
        </li>
        {{ else }}
        <li class="category-item {{ if $category@index > 3 }}more-category-item{{ /if }} {{ if isset($smarty.request.cid) && $smarty.request.cid == $category.id }}active{{ /if }}" data-id="{{ $category.id }}">
            <a class="href-link" href="?cid={{ $category.id }}&page=1">
                {{ if isset($category.name) }}
                <span class="category-name" title="{{ $category.name|escape:'html' }}">
                    {{ $category.name|truncate:10|escape:"html" }}
                </span>
                {{ /if }}

                {{ if isset($tpl_data.is_self) && $tpl_data.is_self == 1 && isset($category.num) }}
                <span class="category-item-actions">
                    <i class="icon icon-rename"></i>
                    <i class="icon icon-recycle-bin"></i>
                </span>
                <span class="cate-article-num">{{ $category.num }}</span>
                {{ else if isset($category.num) }}
                <span class="cate-static-label">{{ $category.num }}</span>
                {{ /if }}
            </a>
        </li>
        {{ /if }}
        {{ /foreach }}
    {{ /if }}

    {{ if isset($tpl_data.is_self) && ($tpl_data.is_self == 1) && $category@total < 100 }}
    <li class="category-item category-new">
        新建分类
        <i class="icon icon-plus cate-static-label"></i>
    </li>
    {{ /if }}
    {{ if $category@total > 4 }}
    <li class="category-item category-more">
        <span class="action-text">更多分类</span>
        <i class="icon icon-angle-down"></i>
        <i class="icon icon-angle-up"></i>
    </li>
    {{ /if }}
</ul>
{{ /strip }}