{{ *

@file 老师主页评价
@author wuhongjie,wth

* }}

{{ strip }}

{{ $totalCount = count($tpl_data.comment_data.comment_list) }}

<div id="teacher-comment" class="show-teacher-comment">
    {{ if $totalCount > 0 }}
    <div class="overview">
        {{ include file="teacherCenter/common/commentOverview.html" tpl_data=$tpl_data }}
    </div>

    <div class="tab-nav-info">
        {{ include file="teacherCenter/common/commentNav.html" tpl_data=$tpl_data }}
    </div>

    <div class="nav-content">
        {{ include file="teacherCenter/common/commentList.html" tpl_data=$tpl_data }}
    </div>
    {{ /if }}
</div>

{{ if $totalCount < 1 }}
    <div id="teacher-no-comment" style="height:340px;">
        {{ if $tpl_data.comment_data.additional.user_diff == 0 }}
            <div class="no-comment-icon"></div>
            <span>暂时没有评价哦<br/></span>
                {{ if $profile.user_id != $user_data.user_id }}
                <button class="btn btn-primary" id="comment-more">
                    写评价
                </button>
                {{ /if }}
        {{ else }}
            <div class="no-comment-icon"></div>
            <span>暂时没有评价哦</span>
        {{ /if }}
    </div>
{{ /if }}

{{ /strip }}
