{{ *

@file 过往经历
@author wangyujie

* }}

{{ strip }}

<div class="experience">

    {{ function getExperienceItem item=null }}

    <div class="experience-item">

        <div class="form-trigger" data-experience='{{ json_encode($item, 77) }}'>
            <div class="action">
                <i class="icon edit">编辑</i>
                <i class="icon remove">删除</i>
            </div>

            <div>
                <div class="date">

                    {{ if $item.end_year == -1 }}
                        {{ $end = '至今' }}
                    {{ else }}
                        {{ $end = $item.end_year|cat: ' 年 '|cat: $item.end_month|cat: ' 月' }}
                    {{ /if }}

                    {{ $item.start_year }} 年 {{ $item.start_month }} 月 — {{ $end }}

                    {{ if isset($item.verify_status) && $item.verify_status == 2 }}
                        <div class="message message-error">
                            <i class="icon icon-info-circle"></i>
                            该过往经历设置有问题哦，快修改一下吧！
                        </div>
                    {{ /if }}

                </div>
                <p class="content">
                    {{ $item.content|nl2br }}
                </p>
            </div>
        </div>

        {{ include file="./experienceForm.html" }}

    </div>

    {{ /function }}





    {{ function getExperienceShowcase list=null }}

    <div class="has-data">
        <div class="info-header form-trigger">
            <i class="icon icon-flag-o"></i>
            <h3>过往经历</h3>
            <div class="edit">
                <i class="icon icon-plus"></i>
                添加
            </div>
        </div>

        {{ include file="./experienceForm.html" }}

        <div class="info-body">

            {{ foreach $list as $item }}
            {{ getExperienceItem item=$item }}
            {{ /foreach }}

        </div>
    </div>

    {{ /function }}



    <script class="tpl-showcase" type="text/plain">
        {{ getExperienceShowcase }}
    </script>

    <script class="tpl-item" type="text/plain">
        {{ getExperienceItem }}
    </script>

    {{ if isset($tpl_data.experience_list) && count($tpl_data.experience_list) > 0 }}

        {{ getExperienceShowcase list=$tpl_data.experience_list }}

    {{ else }}

        <div class="no-data">
            <div class="noinfo form-trigger edit">

                <span class="desc">你的工作经历与成就</span>

                <i class="icon icon-round-edit"></i>
                <h3>
                    过往经历
                    <span class="text-error">（必填）</span>
                </h3>

            </div>

            {{ include file="./experienceForm.html" }}
        </div>

    {{ /if }}

</div>
{{ /strip }}