{{ *

@file 更多详情
@author wangyujie

* }}

{{ strip }}
<div class="other">
    <a name="other"></a>

    {{ function getOtherShowcase content="" }}

    <div class="form-trigger">

        <div class="info-header">
            <i class="icon icon-ellipsis-o"></i>
            <h3>更多详情</h3>

            {{ if isset($tpl_data.verify_group.other_info) }}

                {{ $other_info = $tpl_data.verify_group.other_info }}

                {{ if $other_info == 0 }}
                <div class="message message-primary">
                    <i class="icon icon-clock"></i>
                    排队审核中，审核之后个人主页才会更新哦~
                </div>
                {{ elseif $other_info == 2 }}
                <div class="message message-error">
                    <i class="icon icon-info-circle"></i>
                    更多详情设置有问题哦，快修改一下吧！
                </div>
                {{ /if }}

            {{ /if }}

            <div class="edit">
                <i class="icon icon-pencil"></i>
                编辑
            </div>
        </div>

        <div class="info-body">
            <div class="content rich-text">
                {{ $content }}
            </div>
        </div>

    </div>

    {{ /function }}

    <script type="text/plain">

        {{ getOtherShowcase }}

    </script>

    {{ if $tpl_data.other }}

        {{ getOtherShowcase content=$tpl_data.other }}

    {{ else }}


    <div class="noinfo form-trigger edit">

        <span class="desc">自由提供更多想让学生了解的信息</span>

        <i class="icon icon-round-edit"></i>
        <h3>
            更多详情
        </h3>

    </div>

    {{ /if }}

    {{ include file="./otherForm.html" audits=$tpl_data.audits }}

</div>

{{ /strip }}