{{ *

@file 其他信息表单
@author zhujialu

* }}

{{ strip }}
<div class="form form-otherinfo">

    <h2>
        更多详情
        <span>（5000字以内）</span>
    </h2>

    <div class="form-hint">
        注明你的课程安排，课程针对人群，课程教学特色，课程效果等来介绍你的课程，让学生和家长更了解你的课程，吸引更多的生源！</br>
        请不要在内容中留电话、QQ和网址哦。仅支持5M以内的.jpg、.png、.jpeg格式图片，最大宽度不要超过760像素哟
    </div>

    <div class="form-editor">
        <textarea class="editor {{ if $audits.other_info.verify_status == 2 }}child-error{{ /if }}"></textarea>
    </div>

    {{ if $audits.other_info.verify_status == 2 }}
    <div class="reasons form-block">
    <i class="icon icon-info-circle"></i>
    {{ foreach $audits.other_info.reasons as $reason }}
        {{ $reason }}；
    {{ /foreach }}
    </div>
    {{ /if }}

    <div class="form-action">
        <button class="btn-primary btn-save">保存</button>
        <button class="btn-default btn-cancel">取消</button>
    </div>

</div>
{{ /strip }}