
<div id="content" class="card">
    <div class="card-header">
        <h1><a href="list?type=1">促销活动</a>&nbsp;&gt;&nbsp;创建限时折扣</h1>
    </div>
    <div class="card-body">
        <div class="activiy-tag">
            <span class="tag-name">活动标签:</span>
            <div class="tag-detail">
                <div class="dropdown" required>
                    <button class="btn-default btn-block">
                        <i class="caret"></i>
                        <span class="tag-value">--请选择--</span>
                    </button>
                    <ul class="dropdown-menu" style="display: none;">
                        <li data-value="0">限时折扣</li>
                    </ul>
                </div>
                <span class="error"></span>
                <span class="activity-id"></span>
            </div>
            <span class="tag-summary">显示在课程详情页供用户查看的标签</span>
        </div>
        <div class="activiy-time">
            <span class="tag-time">活动时间:</span>
            <div class="form-group form-group-inline">
                <div class="form-controls start-date">
                    <input class="form-text" name="start_date" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-group-inline">
                <div class="form-controls">
                    <div class="dropdown daytime-select start-time">
                        <input class="form-text" name="start_time" readonly="readonly" />
                        <span class="trigger">
                            <i class="caret"></i>
                        </span>
                        <ul class="dropdown-menu"></ul>
                    </div>

                </div>
            </div>
            <span class="tag-end">至</span>
            <div class="form-group form-group-inline">
                <div class="form-controls end-date">
                    <input class="form-text" name="end_date" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-group-inline">
                <div class="form-controls">
                    <div class="dropdown daytime-select end-time">
                        <input class="form-text" name="end_time" readonly="readonly" />
                        <span class="trigger">
                            <i class="caret"></i>
                        </span>
                        <ul class="dropdown-menu"></ul>
                    </div>
                </div>
            </div>
            <span class="tag-long"><span class="tag">活动时长</span><span class="time-long"></span></span>
        </div>
        <div class="activiy-remark">
            <div class="form-group">
                <label class="form-label">活动备注：</label>
                <div class="form-controls">
                    <div class="form-editor">
                        <textarea class="form-text"></textarea>
                        <span class="form-hint">还可以输入
                            <strong></strong>个字
                        </span>
                    </div>
                    <span class="remark-summary">备注信息有助于区分不同的限时折扣活动</span>
                </div>
            </div>
        </div>

        <div class="next-domain">
            <button class="btn-small btn-primary btn-next">下一步选课</button>
            <button class="btn-small btn-default btn-cancel">取消</button>
        </div>

    </div>
</div>
