{{ *

@file 老师优惠券列表 - 列表模板
@author wangyujie

* }}

{{ strip }}

<table class="table coupon-list">
    <thead>
        <tr>
            <th class="th-check">
                <input type="checkbox" id="select-all" />
            </th>
            <th class="th-balance">面额</th>
            <th class="th-time">有效期</th>
            <th class="th-cond">条件</th>
            <th class="th-recv">已领取</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
    {{ foreach $tpl_data.coupons as $item }}
        <tr>
            <td>
                <input type="checkbox" name="serial_number" value="{{ $item.serial_num }}" />
            </td>
            <td class="balance text-primary">
                ￥{{ $item.balance }}
            </td>
            <td>
                {{ $item.effect_time|date_format:'%Y-%m-%d' }}至{{ $item.expire_time|date_format:'%Y-%m-%d' }}
            </td>
            <td>
                {{ if $item.cond_threshold == 0 }}
                    不限
                {{ else }}
                    满{{ $item.cond_threshold }}元
                {{ /if }}
            </td>
            <td>
                {{ $item.recv_count }}/{{ $item.total_count }}张
            </td>
            <td>
                <span data-title="{{ $item.remark }}" data-width="10em">
                    {{ $item.remark|cn_truncate: 11 }}
                </span>
            </td>
        </tr>
    {{ /foreach }}
    </tbody>
</table>

{{ /strip }}