{{ strip }}
<div class="result">

    <table class="table">
        <thead>
            <th>活动名称</th>
            <th>活动时间</th>
            <th>活动课程</th>
            <th class="oper-title">操作</th>
        </thead>
        <tbody>
            {{ if count($tpl_data.list) == 0 }}
            <tr class="no-data-tr">
                <td class="no-data-td" colspan="4">
                    <div class="no-data-list">

                    </div>
                    <span class="wrapper">
                        你还没有创建过活动哦，快来<span class="create
                        ">创建</span>你在跟谁学的第一个活动吧！
                    </span>
                </td>
            </tr>
            {{ else }}
                {{ foreach $tpl_data.list as $list }}
                <tr class="acitivity-content" data-content='{{ json_encode( $list, 77) }}'>
                    <td>
                        <div class="sale-content">
                            <span class="sale-title">{{ if $list.type ==1 }} 限时促销{{ /if }}</span>
                            <span class="sale-class">{{ $list.tag_name }}</span>
                            <span class="acitivity_id">{{ $list.id }}</span>
                        </div>

                        <div class="sale-summary">

                            {{ if mb_strlen($list.info,'utf-8') > 10 }}
                            <span class="summary" data-title="{{ $list.info }}" data-width="200px">{{ $list.info|cn_truncate:12: "..." }}</span>
                            {{ else }}
                            <span class="summary">{{ $list.info }}</span>
                            {{ /if }}
                        </div>
                    </td>
                    {{ if $list.status == 1 || $list.status == 4 }}
                    <td>
                        <div class="sale-time">
                            <span class="sale-date">
                               <span class="start_time">{{ $list.start_time|cn_truncate:8:"" }}至</span>
                                <span class="end_time">{{ $list.end_time|cn_truncate:8:"" }}</span>
                            </span>

                        </div>
                        <div class="sale-duration">
                            <span class="remain_time">
                            {{ if $list.status == 4 }}
                                活动已过期
                            {{ /if }}
                            </span>
                        </div>
                    </td>
                    {{ else }}
                        <td class="stop-notopen">
                            {{ if $list.status == 2 }}
                            <div class="sale-time">
                                <span class="sale-date">
                                   <span class="start_time">{{ $list.start_time|cn_truncate:8:"" }}至</span>
                                    <span class="end_time">{{ $list.end_time|cn_truncate:8:"" }}</span>
                                </span>
                            </div>
                            <div class="sale-duration">
                                <span>
                                    活动已暂停
                                </span>
                            </div>
                            {{ else if $list.status == 3 }}
                            <span>
                                活动已删除
                            </span>
                            {{ /if }}
                        </td>
                    {{ /if }}
                    <td class="sale-total {{ if $list.course_count > 0 }} sale-click {{ /if }}">
                        合计：{{ $list.course_count }}
                        {{ if $list.course_count != 0 }}
                        <i  class="icon icon-pencil" ></i>
                        {{ /if }}
                    </td>
                    <td class="sale-oper">

                        {{ if $list.status == 4 }}
                        <a class="restart-acitivity">重启活动</a>
                        <a class="delete">删除活动</a>
                        {{ else }}
                            {{ if $list.status == 2 }}
                            <a class="restart-acitivity">重启活动</a>
                            {{ else }}
                             <a class="insert-course">添加课程</a>
                            {{ /if }}
                            <span>
                                <a class="more-oper">更多操作
                                    <i class="icon icon-caret-down"></i>
                                </a>

                            </span>
                            <span>
                                <ul class="dropdown-menu">
                                    <li class="update-activity">
                                        <a>修改活动</a>
                                    </li>
                                    {{ if $list.status != 2 }}
                                    <li class="suspend-activity">
                                        <a>暂停活动</a>
                                    </li>
                                    {{ /if }}
                                    <li>
                                        <a class="delete-activity">删除活动</a>
                                    </li>
                                </ul>
                            </span>
                        {{ /if }}

                    </td>
                </tr>
                {{ /foreach }}
            {{ /if }}
        </tbody>
    </table>
</div>
{{ /strip }}
