#course-comments {
    .comment-box {
        .tabs-type {
            span {
                display: inline-block;
                border: 1px solid #DDDDDE;
                border-radius: 2px;
                font-size: 14px;
                color: #6D6D6E;
                width: 98px;
                height: 30px; 
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                &.active {
                    border: 1px solid #FF6C00;
                    color: #ff6c00;
                }
                &:first-child {
                    margin-right: 26px;
                }
            }
        }
        .comment-list {
            
        }
    }
}