@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

#page_main {
    background: #fff;
}
.alert-container {
    display: none;
    width: rem(288);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: #fff;
    border-radius: rem(5);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 rem(6) #111;
    .content {
        padding: rem(20);
        .title {
            font-weight: bold;
            margin-bottom: rem(5);
        }
        .info-main {
            line-height: rem(40);
        }
        .info-bottom {
            margin-top: rem(16);
            font-size: rem(12.8);
            color: #999;
        }
    }
    .btn-container {
        padding: rem(12);
        text-align: center;
        border-top: 1px solid #888;
    }
}
header.img-container {
    height: rem(200);
    position: relative;
    padding-top: rem(32);
    text-align: center;
    color: #fff;
    z-index: 1;
    .top-title {
        font-size: rem(25.6);
        font-weight: bold;
    }
    .middle-title {
        font-size: rem(40);
        font-weight: bold;
        line-height: rem(64);
    }
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
    }
    .get-start {
        width: rem(120);
        background: #FF9100;
        border: none;
        padding: rem(4.8) rem(16);
        border-radius: rem(8);
        font-size: rem(19.2);
        position: absolute;
        bottom: rem(24);
        left: 50%;
        transform: translateX(-50%);
        &:focus {
            outline: none;
        }
    }
}
ul.nav {
    padding: rem(16) rem(17.6);
    li {
        display: inline-block;
        width: 48%;
        text-align: center;
        border: 1px solid #3FA5F2;
        border-radius: rem(10);
        line-height: rem(35.2);
        color: #3FA5F2;
        &.recommend {
            margin-right: 4%;
        }
    }
}
.main {
    padding: 0 rem(10.4);
    section {
        &.intro {
            margin-bottom: rem(22.4);
        }
        .title {
            margin-bottom: rem(8);
        }
        .list {
            li {
                list-style-type: decimal;
                list-style-position: inside;
                font-size: rem(14.08);
                line-height: rem(23.2);
            }
        }
        &.prize {
            .prize-list {
                li {
                    border-radius: rem(5);
                    height: rem(118.24);
                    padding: rem(22.4);
                    position: relative;
                    margin-bottom: rem(35.2);
                    color: #313131;
                    .left {
                        display: inline-block;
                        width: 32%;
                        height: 100%;
                        float: left;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .right {
                        display: inline-block;
                        margin-left: 10%;
                        width: 58%;
                        .prize-title {
                            font-size: rem(17.6);
                            margin-bottom: rem(4.8);
                        }
                        .prize-info {
                            font-size: rem(13.28);
                            line-height: rem(23.2);
                        }
                    }
                    .condition {
                        position: absolute;
                        bottom: rem(-19.2);
                        left: 0;
                        font-size: rem(12);
                        color: #777;
                    }
                    &.xueshi {
                        background: rgba(255,117,86,0.28);
                        .prize-title {
                            color: red;
                        }
                    }
                    &.hanlin {
                        background: rgba(244,133,12,0.28);
                        .prize-title {
                            color: #F4850C;
                        }
                    }
                    &.jinshi {
                        background: rgba(248,199,41,0.28);
                        .prize-title {
                            color: #F8C729;
                        }
                    }
                    &.juren {
                        background: rgba(47,202,249,0.28);
                        .prize-title {
                            color: #2FCAF9;
                        }
                    }
                    &.xiucai {
                        background: rgba(106,142,255,0.28);
                        .prize-title {
                            color: #6A8EFF;
                        }
                    }
                }

            }
        }
        &.step {
            padding-bottom: rem(64);
            .QR-code-container {
                height: rem(156.8);
                text-align: center;
                margin-top: rem(7.2);    
                img {
                    height: 100%;
                }
            }
            .concern {
                text-align: center;
                font-size: rem(14.4);
            }
        }
    }
}















