@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

body {
    background: #fff;
}
.wrap {
    padding: 0 rem(10.4);
    .title {
        font-size: rem(20);
        margin: rem(34.4) 0 rem(22.4);
    }
    .icon {
        width: rem(24);
        display: inline-block;
        height: rem(16);
        vertical-align: rem(10);
    }
    .today-recommend {
        padding-bottom: rem(16);
    }
    .item-container {
        height: rem(94);
        padding: rem(8) 0;
        border-bottom: 1px solid #d8d8d8;
        &:last-child {
            border-bottom: none;
        }
        .left {
            display: inline-block;
            width: 30%;
            height: 100%;
            float: left;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .right {
            width: 70%;
            padding-left: rem(8);
            display: inline-block;
            position: relative;
            height: 100%;
            .name {
                overflow: hidden;
                text-overflow: ellipisis;
                white-space: nowrap;
                margin-bottom: rem(4);
            }
            .begin, .schedule {
                color: #aaa;
                font-size: rem(12.8);
            }
            .bottom {
                position: absolute;
                bottom: 0;
                width: 98%;
                left: rem(8);
                line-height: rem(16);
                .price {
                    color: #D81E06;
                    font-size: rem(18.4);
                }
                .total-pay {
                    float: right;
                    .number {
                        color: #DF953E;
                    }
                }
            }
        }
    }
    .cheats {
        border-top: 1px solid #d8d8d8;
        text-align: center;
        padding-bottom: rem(64);
        .check-cheats {
            color: #5BB2F4;
            margin: rem(33.6) 0 rem(22.4);
        }
        .QR-code-container {
            height: rem(156.8);
            text-align: center;
            img {
                height: 100%;
            }
        }
        .concern {
            font-size: rem(14.4);
        }
    }
}