@import "page/_base/base.styl";
body{
    background:#F7F7F7;
}
.nav-bar{
    width:100%;
    img{
        width:100%;
        height:100%;
    }
}
.tel-phone{
    width:64%;
    margin:8% 18%;
    height:rem(38);
    a{
        height:100%;
        width:100%;
        display:block;
    }
    img{
        width:100%;
        height:100%;
    }
}

.list{
    margin-bottom: 20%;
    li{
        width:94%
        margin-bottom:rem(15);
        background:white;
        display:block;
        margin-left:3%;
        border-radius:rem(4);
        box-shadow: rem(1) rem(1) rem(1) 0 #F5F5F5;
    }
    .list-container{
        width:100%;
        position:relative;
        .li-container-item{
            display:block;
            position:relative;
            .single-title{
                position:relative;
                img{
                    height:rem(60);
                    width:rem(70);
                    position:absolute;
                    top:0;
                    right:0;
                }
            }
            .single-title-2{
                position:relative;
                img{
                    height:rem(50);
                    width:rem(60);
                    position:absolute;
                    top:0;
                    left:0;
                }
            }
            .item-avatar{
                height:rem(100);
                width:rem(80);
                margin-top:rem(20);
                margin-left:rem(15);
                margin-bottom:rem(15);
                border-radius:rem(3);
            }
            .first-item-nav{
                position:absolute;
                top:rem(15);
                left:rem(100);
                span{
                    font-size:80%;
                    color:black;
                    text-align:center;
                    font-weight:600;
                }
            }
            .second-item-nav{
                position:absolute;
                top:rem(40);
                left:rem(100);
                p{
                    width:80%;
                    font-size:rem(12);
                    color:grey;
                    text-align:left;
                }
            }
        }
        .item-sendSMS{
            position:absolute;
            display:block;
            height:rem(40);
            width:rem(120);
            bottom:rem(15);
            right:rem(24);
            background:#FF7F50;
            border-radius:rem(4);
            p{
                font-size:rem(12);
                color:#FFD700;
                height:rem(40);
                line-height:rem(40);
                text-align:center;
            }

        }
    }
}
.bottom-nav{
    .free-contact{
        position:fixed;
        width:50%;
        bottom:0;
        left:0;
    }
    .free-ziliao-sms{
        position:fixed;
        width:50%;
        bottom:0;
        right:0;
    }
}
.k12-qq-items{

    position:absolute;
    bottom:rem(50);
    right:rem(10);
    background:#F0F0F0;
    height:rem(120);
    width:rem(140);
    transform: scale(0);
    border-radius:rem(8);
    box-shadow: rem(0) rem(1) rem(3) rem(0) rgba(0,0,0,0.38);
    opacity: 0.8;
    transform-origin: 90% 100%;
    transition: transform .4s cubic-bezier(.175,.885,.32,1.1) 0s;
    &.on{
        transform: scale(1);
    }
    a{
        display:block;
    }
    p{
        height:rem(60);
        line-height:rem(60);
        text-align:center;
        font-size:rem(16);
    }
    .qq-show-1{
        border-bottom:2px solid #CDC9C9;
    }

}


