@import '../historySubjects/style.less';
@import '../tribbleSubject/style.less';
.select-subject-wrappers {
	background-color: #fff;
    padding: 25px;
    border: 1px solid #ededec;
    border-top: none;
    z-index: 100
}