.single-video-course {
    background: #F8F8F8;
    height: 250px;
    margin-top: 14px;
    padding: 15px;
    font-size: 14px;
    color: #3D3D3E;
    position: relative;
    .basic-info {
        .course-index {
            margin-right: 10px;
            display: inline-block;
            width: 45px;
        }
        .course-name {
            width: 500px;
            outline: none;
            padding-left: 20px;
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            line-height: 31px;
            font-size: 13px;
            margin-left: 14px;
        }
        margin-bottom: 20px;
    }
    .about-video {
        padding-left: 63px;
        margin-bottom: 20px;
        position: relative;
        .text {
            position: relative;
            bottom: 12px;
            right: 5px;
        }
        .video-name {
            display: inline-block;
            width: 380px;
            padding-left: 20px;
            line-height: 33px;
            background: #FFFFFF;
            margin-left: 10px;
            border: 1px solid #CCCCCC;
        }
        .video-name.remind-text {
            color: #CDCDCE;
        }
        .choose-video {
            // position: absolute;
            // top: 0;
            // right: 8px;
            display: inline-block;
            vertical-align: top;
            margin-left: 18px;
            width: 100px;
            line-height: 35px;
            text-align: center;
            background-color: #ff9a00;
            color: #fff;
            cursor: pointer;
            .icon {
                font-size: 20px;
                position: relative;
                top: 4px;
            }
        }
        .choice-list {
            position: absolute;
            right: 6px;
            top: 35px;
            text-align: center;
            border: 1px solid #ccc;
            width: 100px;
            & > div {
                line-height: 30px;
                font-size: 13px;
                cursor: pointer;
                &:first-child {
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        .videoupload-mask {
            z-index: 1;
            position: absolute;
            left: 133px;
            top: 0;
            width: 499px;
            height: 35px;
            line-height: 35px;
            background-color: #000;
            opacity: .5;
            text-align: center;
            span {
                color: #fff;
                display: block;
                font-size: 14px;
            }
        }
    }
    .about-trial {
        position: relative;
        width: 535px;
        padding-left: 105px;
        .dropdown {
            position: absolute;
            width: 110px;
            left: 325px;
            bottom: -2px;
            .button {
                height: 27px;
            }
        }
        .disabled-mask {
            position: absolute;
            width: 110px;
            left: 325px;
            bottom: -2px;
            height: 27px;
            z-index: 9;
            cursor: not-allowed;
            background: #ccc;
            opacity: .3;
        }
    }
    .buttons {
        font-size: 14px;
        margin-top: 20px;
        text-align: center;
        .btn {
            cursor: pointer;
            display: inline-block;
            width: 56px;
            line-height: 37px;
            height: 37px;
            text-align: center;
            color: #fff;
            background: #FF9A00;
            border: 1px solid #F49200;
            border-radius: 2px;
        }
        .cancel-btn {
            background-color: #fff;
            color: #3d3d3e;
            border-color: #ccc;
            margin-right: 25px;
        }
        .remind-text {
            color: #aaa;
            font-size: 12px;
            margin-top: 8px;
        }
    }
    /*
    .videoupload-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: .5;
        padding-top: 95px;
        text-align: center;
        span {
            color: #fff;
            display: block;
            font-size: 14px;
        }
    }
    */
}