.order-card {
	width: 100%;
	height: rem(166);
	margin-bottom: rem(16);
	padding: rem(16) rem(15) rem(14) rem(15);
	background-color: #fff;
	.order-card-title {
		height: rem(16);
		line-height: rem(16);
		font-size: rem(16);
		font-weight: 500;
		color: #3D3D3E;
	}
	.order-card-info {
		height: rem(50);
		margin-top: rem(19);
		.order-card-avatar {
			width: rem(50);
			height: rem(50);
			display: inline-block;
			vertical-align: top;
			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.order-card-detail {
			display: inline-block;
			vertical-align: top;
			width: 80%;
			height: rem(42);
			margin: rem(5) 0 rem(3) rem(8);
			.order-card-teacher {
				height: rem(19);
				line-height: rem(19);
				font-size: rem(18);
				color: #2D2D2E;
			}
			.order-card-price {
				height: rem(15);
				line-height: rem(15);
				font-size: rem(14);
				margin-top: rem(8);
				color: #9D9D9E;
			}
		}
	}
	.order-card-btn {
		height: rem(35);
		width: rem(136);
		line-height: rem(35);
		margin: auto;
		margin-top: rem(16);
		background: #FF6C00;
    	border-radius: rem(3);
    	font-size: rem(15);
    	color: #fff;
    	text-align: center;
	}
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}