{{ if $children }}
<ul class="tree-children" {{ if !$zhankai }}style="display:none;"{{ /if }}>
    {{ foreach $children as $val }}
    <li class="tree-node">

        {{ if $val.children }}
            {{ if !$val.open }}
                <div class="left-line left-line-plus {{ if $val@last }} left-line-last {{ /if }}"></div>
            {{ else }}
                <div class="left-line{{ if $val@last }} left-line-last {{ /if }}"></div>
            {{ /if }}
        {{ else if $val@last }}
            <div class="default-line"></div>
        {{ /if }}

        {{ if $val.active }}
            <a href="{{ $val.url }}" class="tree-node-name {{ $activeClass }}" style="color: #64b5f6">{{ $val.name|cn_truncate:12 }}</a>
        {{ else }}
            <a href="{{ $val.url }}" class="tree-node-name">{{ $val.name|cn_truncate:12 }}</a>
        {{ /if }}

        {{ include file="videoLibrary/treeNode.html" children = $val.children zhankai = $val.open }}

    </li>
    {{ /foreach }}
</ul>
{{ /if }}