.search-div {
    width: 300px !important
    padding: 0 !important;
    position: relative !important;
    .search-input {
        width: 300px;
        background-color: rgba(255,255,255,0.2);
        color: #3D3D3E;
        border: none;
        border-radius: 2px;
        height: 36px;
        line-height 36px;
        text-indent: 40px;
        outline: none;
        font-size: 14px;
        border: 1px solid #ff6c00;
        border-radius: 18px;
        caret-color: #ff6c00;
    }

    .search-input::-webkit-input-placeholder { 
        /* WebKit browsers */ 
        color: #CDCDCE;
    } 
    .search-input:-moz-placeholder { 
        /* Mozilla Firefox 4 to 18 */ 
        color: #CDCDCE;
    } 
    .search-input::-moz-placeholder { 
        /* Mozilla Firefox 19+ */ 
        color: #CDCDCE;
    } 
    .search-input:-ms-input-placeholderr { 
        /* Internet Explorer 10+ */ 
       color: #CDCDCE;
    } 
    .icon-search {
        position: absolute;
        left: 16px;
        top: 32px;
        color: #CDCDCE;
        width: 18px;
        height: 18px;
    }
    .icon-guanbi{
        position: absolute;
        right: 5px;
        top:26px;
        font-size: 12px;
    }
    .icon-guanbi:before{
        color: #ffffff;
    }
    .search-list {
        position: absolute;
        width: 100%;
        z-index: 999;
        top: 74px;
    }
}