{{ extends file="common/pc/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "static/huikeForget" }}

    {{ * 1 登录密码 2 支付密码 * }}
    {{ $LOGIN = 1 }}
    {{ $PAY = 2 }}
    {{ if isset($tpl_data.type) }}
        {{ $reset_type = $tpl_data.type }}
    {{ else }}
        {{ $reset_type = $LOGIN }}
    {{ /if }}

    {{ $script_data = [] }}
    {{ $script_data.resetType = $reset_type }}

    {{ if isset($user_data.user_id) }}
    {{ $has_login = true }}
    {{ else }}
    {{ $has_login = false }}
    {{ /if }}

    {{ $script_data.hasLogin = $has_login }}

{{ /block }}

{{ block name="title" prepend }}
{{ if $reset_type == $LOGIN }}找回登录密码 {{ else if $reset_type == $PAY }}找回支付密码 {{ /if }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/static/forget.less">
{{ /block }}

{{ block name="body" }}
{{ strip }}

{{ $smarty.block.parent }}

<div id="header" class="login-header">
    <div class="wrapper">
        <h1>
            <a title="去跟谁学首页" href="">
                <img alt="汇课间" class="huike-logo" src="{{ $static_origin }}/src/img/huike_logo.png"/>
            </a>

            <span class="title">{{ if $reset_type == $LOGIN }}找回登录密码{{ else if $reset_type == $PAY }}找回支付密码{{ /if }}</span>
        </h1>

        <h2>
            {{ if $has_login }}
            你好，{{ $user_data.user_name }}，欢迎来到汇课间！
            {{ else }}
            你好，欢迎来到汇课间！
            <a href="http://huikejian.genshuixue.com/">请登录</a>
            {{ /if }}
            <b>|</b>
            <i class="icon icon-phone"></i>
            4000-910-910
        </h2>
    </div>

</div>
<div id="main">
    <form class="step1 form">
        {{ if isset($smarty.get.next) }}
            <input type="hidden" name="next" value="{{ $smarty.get.next|escape }}"/>
        {{ /if }}

        {{ if isset($smarty.get.user_type) }}
            <input type="hidden" name="usertype" value="{{ intval($smarty.get.user_type) }}"/>
        {{ /if }}

        {{ if $has_login }}
        <div class="form-group">
           <label class="form-label">手机号：</label>
           <div class="form-static text-primary">
               {{ $tpl_data.mask }}
               <input type="hidden" name="mobile" value="{{ $user_data.mobile }}">
           </div>
        </div>
        {{ else }}
        <div id="forget-mobile">
            {{ include file="common/component/mobileInput.html" is_international=false show_label=true }}
            <div class="switch-international text-info">非中国大陆手机号，请点此进入</div>
        </div>
        {{ /if }}

        <div id="captcha" style="display:none">
            {{ include file="common/component/captcha.html" captcha_name="forget" }}
        </div>

         <div class="form-group form-sms" >
                <label class="form-label">校验码：</label>
                <div class="form-controls">
                    <input class="form-text" type="text" name="verify_code" placeholder="请输入正确的校验码" required pattern="^\d*$"
                           autocomplete="off"  />
                    <button type="button" class="btn btn-info form-get-smscode" {{ if !$has_login }}disabled="1"{{ /if }}>获取校验码</button>
                    <span class="error"></span>
                </div>
         </div>

         <div class="voice-code-link hidden">
            <span class="btn-link text-info">没有收到校验码？</span>
        </div>

         {{ if $reset_type == $LOGIN }}
            <div class="form-group form-password">
                <label class="form-label">新密码：</label>
                <div class="form-controls" title="请输入要设置的新密码">
                    <input class="form-text" type="password" name="password" placeholder="请输入新密码" required minlength="6"
                           maxlength="16" autocomplete="off" />
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-group form-password">
                <label class="form-label">确认新密码：</label>
                <div class="form-controls" title="请再次输入新密码">
                    <input class="form-text" type="password" name="password_confirm" placeholder="请再次输入新密码" equals="password" required minlength="6"
                           maxlength="16" autocomplete="off" />
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-action">
                <button type="submit" class="btn-primary">提交</button>
            </div>
         {{ /if }}

         {{ if $reset_type == $PAY }}
             {{ if isset($user_data.user_type) && $user_data.user_type == 0 }}
             <div class="form-group form-identity">
                    <label class="form-label">身份证/护照号码：</label>
                    <div class="form-controls" >
                        <input type="text" class="form-text" name="card" required>
                        <span class="error"></span>
                    </div>
                    <div class="text-info prompt">
                        <i class="icon icon-info-circle"></i>
                        请输入你身份认证时使用的身份证/护照号码
                    </div>
             </div>
             {{ /if }}
         <div class="form-action">
             <button type="submit" class="btn-primary">下一步</button>
         </div>
         {{ /if }}
    </form>

    {{ if $reset_type == $PAY }}
    <form class="step2 hidden form">
        <div class="form-group form-password">
            <label class="form-label">新支付密码：</label>
            <div class="form-controls" title="请输入要设置的新密码">
                <input class="form-text" type="password" name="password" placeholder="请输入新密码" required minlength="6"
                       maxlength="6" autocomplete="off" pattern="^[\d.]*$"/>
                <span class="error"></span>
            </div>
            <div class="text-info prompt">
                <i class="icon icon-info-circle"></i>
                支付密码由6位数字组成
            </div>
        </div>

        <div class="form-group form-password">
            <label class="form-label">确认新支付密码：</label>
            <div class="form-controls" title="请再次输入新密码">
                <input class="form-text" type="password" name="password_confirm" placeholder="请再次输入新密码" equals="password" required minlength="6"
                       maxlength="6" autocomplete="off" />
                <span class="error"></span>
            </div>
        </div>
        <div class="form-action">
            <button type="submit" class="btn-primary">确定</button>
        </div>
    </form>
    {{ /if  }}
</div>

<div id="footer">
    Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有.京公网安备11010802015210号 | 京ICP备14027590号-1
</div>
{{ include file="common/script.html" }}

{{ /strip }}
{{ /block }}