.release-success {
    width: 740px;
    margin: 54px auto;
    margin-bottom: 200px;
    .to-list {
        font-size: 14px;
        a {
            color: #6D6D6D;
            text-decoration: none;
        }
        margin-bottom: 10px;
    }
    .detail-info {
        margin: 0 auto;
        padding: 16px 32px;
        border: 1px solid #e5e5e5;
        i {
            color: #56B02A;
            font-size: 32px;
        }
        span {
            font-size: 18px;
            position: relative;
            vertical-align: middle;
            bottom: 10px;
            margin-left: 10px;
        }
        > div {
            margin-bottom: 10px;
        }
        .qrcode-box {
            text-align: center;
        }
        .text {
            font-size: 18px;
            text-align: center;
        }
    }
}