.treeview{
    li{
        padding: 0;
        margin: 15px;
        list-style: none;
        background-color: white;
        margin-top: 4px;
    }
}
.treeview .tree-children{
    padding: 0;
    margin: 0;
    list-style: none;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: white;
        margin-top: 4px;
    }
    .hitarea{
        background: url(/src/img/videoLibrary/tree-default.gif) -64px -25px no-repeat;
        height: 16px;
        width: 16px;
        margin-left: -16px;
        float: left;
        cursor: pointer;
    }
    li{
        margin: 0;
        padding: 3px 0pt 3px 16px;
        background: url(/src/img/videoLibrary/tree-line.gif) 0 0 no-repeat;
        .expandable,.collapsable{
            background-position: 0 -176px;
        }
    }
    a.selected {
        background-color: #eee;
    }
    .hover {
        color: red;
        cursor: pointer;
    }
    .expandable-hitarea {
        background-position: -80px -3px;
    }
}



/* fix for IE6 */
* html .hitarea {
    display: inline;
    float:none;
}

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(/src/img/videoLibrary/tree-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }



//.filetree li { padding: 3px 0 2px 16px; }
