.one2one-course-item{
    width: 100%;
    display: inline-block;
    padding: 10px 0 0 0;
    .clearfix();
    &>div{
        float: left;
    }
    .course-item-photo{
        width: 118px;
        height: 118px;
        .avatar-big{
            display: inline-block;
            &:after {
                .opacity(0.4);
                background-color: transparent;
                content: ' ';
                position: absolute;
                border-radius: 50px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &:hover {
                &:after {
                    background-color: #000;
                    .transition(background 0.3s);
                }
            }
        }
    }
    .course-item-teacher-info{
        margin-left: 10px;
        border-bottom: 1px solid #E8E8E8;
        .course-teacher-info {
            width: 740px;
            padding-top: 5px;
            position: relative;
            // min-height: 110px;
            padding-bottom: 10px;
            .teacher-info-name{
                font-size: 18px;
                color: #222;
                .teacher-name{
                  color: #3d3d3d;
                  &:hover{
                    color: #f95;
                  }
                }
                .icon{
                    width: 18px;
                    height: 18px;

                }
                .icon-vip1{
                    background: url("/src/img/teacher/small-vip.png");
                }
                .icon-vip2{
                    background: url("/src/img/teacher/small-gvip.png");
                }
                .icon-vip3{
                    background: url("/src/img/teacher/small-cvip.png");
                }
            }
            .teacher-status{
                font-size: 14px;
                color: #48b14b;
            }
            .teacher-org-name{
                display: inline-block;
                color: #6299e3;
                border: 1px solid #6299e3;
                border-radius: 2px;
                padding: 0px 5px;
                font-size: 12px;
            }
            .teacher-info-tag {
                h1 {
                    display: inline-block;
                    font-size: 12px;
                    margin-top: 5px;
                    padding: 2px 5px;
                    color: #9d9d9d;
                    border: 1px solid #d3d3d3;
                    margin-right: 5px;
                    border-radius: 3px;
                }
            }
            .teacher-info-intro {
                font-size: 14px;
                color: #3d3d3d;
                margin-top: 8px;
                margin-bottom: 5px;
            }
            .teacher-info-score {
                font-size: 12px;
                margin-top: 2px;
                color: inherit;
                margin-right: 10px;
                // .comment-count {
                //     margin-left: 10px;
                // }
                &:hover {
                    .comment-count {
                        color: #f90;
                    }
                }
            }
            .teacher-info-address {
                font-size: 12px;
                color: #6d6d6e;
                // margin-left: 8px;
            }
        }

        .course-item-list {
            width: 740px;
            margin-top: 2px;
            .course-list-info {
                .clearfix();
                display: block;
                padding-top: 5px;
                max-height: 50px;
                margin-left: -10px;
                & > div {
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .item-course-type {
                    background: #ff6c00;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    padding: 2px 6px;
                    margin-left: 10px;
                }
                .item-info-name {
                    color: #6d6d6d;
                    padding-left: 10px;
                }
                .item-info-time {
                    padding-left: 10px;
                    color: #9d9d9d;
                }
                .item-info-price {
                    padding-left: 10px;
                    color: #f95;
                    .price-desc {
                        color: #6d6d6d;
                    }
                    .free {
                        color: #48b14b;
                    }
                }
                &:hover {
                    background-color: #f8f8f8;
                }
                .item-lesson-way {
                    padding-left: 10px;
                    color: #3fa5f2;
                }
                .cps-scholarship {
                    position: static;
                }
            }
            .controller-more-course {
                color: #9d9e9e;
                cursor: pointer;
                margin-top: 6px;
                margin-bottom: 15px;
                &:hover {
                    color: #ff9100;
                }
            }
            .more-course {
                text-align: center;
                background: #f8f8f8;
                margin-left: 0;
            }
            .hide-start {
                display: none;
            }
            .show-start {
                display: block;
            }
        }

    }

}