.dialog {
    font-size: 12px;
    .dialog-body {
        .clearfix();
    }
    .form-action {
        clear: both;
        display: inline-block;
        text-align: left;
        margin-left: 65px;
        button {
            width: 66px;
            margin-right: @gap-horizontal-medium;
        }
    }
}

.form-address {
    .clearfix();
    background: #fff;
    padding: 0;
}

.province,
.city,
.area,
.country {
    .btn-default {
        width: 93px;
    }
}

.country {
    display: none;
}

textarea[name="location_addr"] {
    width: 299px;
    height: 80px;
}

.form-col {
    float: left;
    min-width: 368px;
    .message-primary {
        display: none;
        padding-left: @gap-horizontal-medium !important;
        margin-top: @gap-horizontal-tiny;
        .icon {
            margin-right: @gap-horizontal-tiny;
        }
    }
}

.map {
    float: left;
    margin-left: @gap-horizontal-medium;
    position: relative;

    #map {
        display: none;
        width: 360px;
        height: 250px;
        border: 1px solid #ddd;
    }

    .map-oper {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 36px;
        text-align: center;
        button {
            position: relative;
            z-index: 2;
            margin-top: @gap-horizontal-tiny;
        }
        .btn-default {
            display: none;
            margin-left: @gap-horizontal-small;
        }

        .bg {
            .opacity(0.5);
            background-color: #000;
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

}

.original-addr {
    display: none;
    color: @brand-info;
    margin-left: @gap-horizontal-medium;
    &:hover {
        color: @brand-primary;
    }
}

.regular-addr {
    margin-left: 65px;
    .form-controls {
        display: inline-block;
        position: relative;
        top: -3px;
    }
    .form-hint {
        cursor: pointer;
        display: inline-block;
        float: right;
    }
}

.address-suggestion {
    display: inline-block;
    .suggestion-input {
        position: relative;
    }
    .suggestion-list {
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        display: none;
        width: 298px;
        box-shadow: 1px 1px 3px #ededed;
        z-index: 3;
        overflow-y: auto;
        position: absolute;
        top: 85px;
        li {
            cursor: pointer;
            padding: 2px @gap-horizontal-tiny;
        }
        .icon-location {
            color:#999;
            padding-right: @gap-horizontal-tiny;
        }
        em {
            color: #ccc;
            font-size: 12px;
            margin-left: @gap-horizontal-medium;
        }
        .active {
            background-color: #efefef;
        }
    }
}

.anchorBL {
    display: none;
}

.area-hint {
    cursor: pointer;
    font-size: 12px;
    float: left;
    margin-left: @gap-horizontal-medium;
    position: relative;
    top: 12px;
}

.big-map {
    #big-map {
        width: 510px;
        height: 380px;
        border: 1px solid #ddd;
    }

    .map-oper {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 36px;
        text-align: center;
        button {
            position: relative;
            z-index: 2;
            margin-top: @gap-horizontal-tiny;
        }
        .btn-default {
            // display: none;
            margin-left: @gap-horizontal-small;
        }

        .bg {
            .opacity(0.5);
            background-color: #000;
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

}
