/**
 * @file 预约试听
 * @author wangyujie
 */

@import "mobileInput.less";

#advisory-dialog-form,
#kf-advisory-dialog-form {
    display: none;
}

.advisory-dialog,
.kf-advisory-dialog {
    .dialog-header {
        display: block;
    }
    .dialog-close {
        color: #505050;
        background: rgba(255, 255, 255, 0);
        right: 10px;
        top: 10px;
    }
    .dialog-body {
        padding: @gap-vertical-medium
                 2 * @gap-horizontal-large;
        .course-title {
            font-size: 16px;
        }
        .hint {
            color: @brand-text-lighter;
            font-size: 12px;
            margin-top: @gap-vertical-medium;
            margin-bottom: @gap-vertical-tiny;
        }

        .form-get-smscode {
            margin-left: @gap-horizontal-small;
        }
        .form-action {
            margin-top: @gap-vertical-medium;
            margin-bottom: 1.5 * @gap-vertical-medium;
            span {
                margin-left: 10px;
            }
        }
        .form-label {
            width: 75px;
            text-align: right;
            i {
                display: none;
            }
        }
        .message {
            left: 270px !important; 
        }
        #captcha {
            display: none;
        }

        textarea {
            width: 370px;
            height: 60px;
        }

    }

    .form-block.captcha {
        img {
            width: 54px;
            height: 22px;
        }
        input {
            width: 213px;
        }
        .input-group-addon {
            background-color: #fff;
            line-height: 0;
        }
        .form-hint {
            text-align: right;
            span {
                color: @brand-info;
            }
        }
    }

    #captcha {
        .captcha-image {
            margin-left: 55px;
        }
    }

}