.pendant-hat {
    z-index: 2;
    display: block;
    width: 83px;
    height: 83px;
    position: absolute;
    right: -28px;
    top: -46px;
    background: url('../../../img/common/component/avatarPentant/ic_pc_hat.png');
}
.square-hat {
    right: -40px;
}
.hat-not-vip {
    right: -35px;
    top: -130px;
}
.pendant-tree {
    z-index: 2;
    display: block;
    position: absolute;
    left: -12px;
    bottom: 0;
}
.tree-not-vip {
    left: -8px;
    bottom: 50px;
}
.avatar-circle {
    width: 110px;
    height: 56px;
    background: url('../../../img/common/component/avatarPentant/ic_pc_yuan_tree.png');
}
.avatar-square {
    width: 161px;
    height: 64px;
    background: url('../../../img/common/component/avatarPentant/ic_pc_fang_tree.png');
}
