.cancel-order-dialog {

    .reason {

        padding: 10px 0 10px 20px;
        margin: 10px auto;
        text-align: left;
        line-height: 40px;


    }

    .dropdown {

        float: right;

        button {
            width: 290px;
        }
    }

    .form-editor {

        display: block;
        text-align: right;

        .wrapper {
            margin: 0 auto;
            .inline-block();
        }

        textarea {
            height: 60px;
            width: 390px;
        }
    }

}