.cancel-order-prompt-dialog {
    .icon {
        font-size: 45px;
        margin-right: 10px;
        float: left;
    }
    .content {
        text-align: left;

        & > div {
            margin-left: 60px;
        }
    }

    .action {
        cursor: pointer;

        &:hover {
            color: @brand-primary;
        }
    }

    strong {
        font-size: 18px;
        margin-right: 2px;
    }
}