/**
 * @file IM在线／离线状态
 * @author niejianhui
 */

.chat-wrapper {
    display: inline-block;
    .chat-label {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        border-radius: 2px;
        text-align: center;
        width: 103px;
        height: 26px;
        line-height: 26px;
        color: #fff;
        b {
            margin-left: 5px;
        }
        &:hover {
            background-color: #ff8100;
        }
    }
    .tiny {
        width: 93px;
        height: 24px;
        line-height: 24px;
    }

    .small {
        width: 103px;
        height: 26px;
        line-height: 26px;
    }

    .large {
        width: 100px;
        height: 35px;
        line-height: 35px;
    }

    .huge {
        width: 152px;
        height: 32px;
        line-height: 32px;
    }

    .online {
        background-color: #ff9100;
    }
    .offline {
        background-color: #ccc;
    }
}


