// 班课状态展示icon list
// liucong

.class-course-icon {

    .icon {
        font-size: 79px;
        margin-right: 5px;
        line-height: 0.1;
    }
    .icon-anytime-joinclass {
        color: #E75D98;
    }
    .icon-limit-joinclass {
        color: #E9664D;
    }
    .icon-anytime-quitclass {
        color: #9467D2;
    }
    .icon-limit-quitclass {
        color: #9467D2;
    }
    .icon-certification-o {
        color: #13AE2F;
    }
    .icon-safety-money-o {
        color: #FF7F00;
    }
    .icon-true-comment-o {
        color: #37a4f5;
    }


    .icon, .label {
        vertical-align: middle;
        margin-top: 0 !important;
    }

    .icon + .icon, .label + .icon, .label + .label {
        margin-left: 5px;
    }

    .label {
        .inline-block();
        color: #fff;
        padding: 1px 5px;
        border-radius: 2px;
        font-size: 12px;
        line-height: 1.5em;
    }

    .class-course {
        background-color: @brand-primary;
    }

    .online {
        vertical-align: text-top;
        vertical-align: -webkit-baseline-middle;
        margin-right: 5px;
        background-color: @brand-success;
    }

    .offline {
        vertical-align: text-top;
        vertical-align: -webkit-baseline-middle;
        margin-right: 5px;
        background-color: @brand-info;
    }

}