.comment-result-dialog {

    .comment-result-content {
        height: 50px;
        margin-left: 65px;

        .icon {
            margin-top: 3px;
            margin-right: 4px;
        }

        .icon,
        .msg-content {
            float: left;
        }
    }

}