/**
 * @file 咨询 对话框
 * @author  jixiaohui
 */
.consult-dialog {

    .form-group {

        width: 250px;
        display: inline-block;

        .form-label {
            width: 100px;
            text-align: left;
        }

        .dropdown .btn-default,
        .form-text {
            width: 250px;
        }

        textarea {
            width: 520px !important;
            height: 80px;
        }

    }

    .lesson-way,
    .contact-way {
        margin-left: 20px;
    }

}