/**
 * @file 选课周视图日历
 * @author zhujialu
 */

.course-week-calendar {


    background-color: #FFF;
    text-align: center;
    .user-select(none);

    .header {
        background-color: #fafafa;
        border: 1px solid #dedede;
        padding: 10px 0;
        position: relative;
    }

    .prev,
    .next {
        color: @brand-info;
        cursor: pointer;
        position: absolute;
        top: 10px;

        .icon {
            vertical-align: text-top;
        }
    }

    .prev {
        left: 30px;
        .icon {
            margin-right: 5px;
        }
    }

    .next {
        right: 30px;
        .icon {
            margin-left: 5px;
        }
    }

    table {
        width: 100%;
    }

    thead {
        background-color: @brand-info-lighter;
        border-left: 1px solid #dedede;
        border-right: 1px solid #dedede;
    }

    th,
    td {
        padding: 10px;
    }

    td {
        border: 1px solid #dedede;
        cursor: pointer;
        width: 124px;

        &.past,
        &.disabled {
            background-color: #f8f8f8;
            color: #AAA;
            cursor: not-allowed;
        }

        &.active {
            background-color: @brand-info;
            color: #FFF;

            .icon {
                color: #FFF;
            }
            .label-success {
                border-color: #FFF;
                background-color: transparent;
            }
        }

    }

    .icon-circle {
        color: @brand-primary;
        font-size: 20px;
        vertical-align: text-bottom;
    }
    .icon-ban {
        color: @brand-error;
        margin-left: 3px;
    }
    .label-success {
        border-color: @brand-success;
        background-color: @brand-success;
        color: #FFF;
        cursor: pointer;
        margin-left: 5px;
        vertical-align: text-bottom;
    }
}