@import "../../course/search/one2one.less";
@import "./goldCert.less";
/**
 * @file 班课搜索结果
 * @author wuhongjie
 */
#search-list {
    padding-top: 10px;
    .course-item{
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px 0;
        width: 100%;
        min-height: 152px;
        &>*{
            float: left;
        }
        .course-item-photo{
            width: 132px;
            margin-right: 10px;
            cursor: pointer;
            img{
                width: 132px;
                height: 100px;
            }
            .play-icon{
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                left: 105px;
                background: url("/src/img/small-player.png");
                bottom: 25px;
            }
            &:after {
                .opacity(0.4);
                background-color: transparent;
                content: ' ';
                position: absolute;
                top: 20px;
                left: 0;
                width: 132px;
                height: 100px;
            }

            &:hover {
                &:after {
                    background-color: #000;
                    .transition(background 0.3s);
                }
            }
        }
        .course-item-info{
            width: 400px;
            height: 100px;
            .course-name{
                color: #3d3d3d;
                margin-top: 0;
                width: 400px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 20px;
                display: inline-block;
                line-height: 20px;
                cursor: pointer;
                &:hover{
                    color: #f90;
                }
            }
            .course-item-address {
                font-size: 12px;
                margin: 5px 0;
            }
            .course-arrangement {
                font-size: 12px;
                color: #9d9e9e;
                min-height: 20px;
                .course-item-student{
                    margin-left: 10px;
                }
            }
            .course-tags {
                margin-bottom: 5px;
                margin-top: 8px;
                span {
                    display: inline-block;
                    border-radius: 2px;
                    min-width: 45px;
                    line-height: 17px;
                    text-align: center;
                    font-size: 12px;
                    border: 1px solid #9D9D9E;
                    color: #6d6d6e;
                    margin-right: 5px;
                }
                .fenqi-tag {
                    background: #37A4F5;
                    color: #fff;
                    border: none;
                    line-height: 18px;
                    padding: 0 2px;
                }
            }
            .course-price {
                color: #f95e5e;
                height: 25px;
                span {
                    font-size: 16px;
                }
                .free {
                    color: #48b14b;
                }
                .course-price-no {
                    font-size: 12px;
                    text-decoration: line-through;
                    color: #9d9e9e;
                    margin-left: 5px;
                }
            }
        }
        .course-item-teacher {
            float: right;
            width: 230px;
            color: inherit;
            cursor: pointer;
            margin-top: 20px;
            & > * {
                float: left;
            }
            .teacher-avatar {
                margin-right: 10px;
                .avatar-small {
                    display: inline-block;
                    &:after {
                        .opacity(0.4);
                        background-color: transparent;
                        content: ' ';
                        position: absolute;
                        border-radius: 50px;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        &:after {
                          background-color: #000;
                          .transition(background 0.3s);
                        }
                    }
                }
            }
            .teacher-base-info{
                margin-top: 5px;
                .teacher-info{
                    font-size: 18px;
                }
                .icon{
                    width: 18px;
                    height: 18px;

                }
                 .icon-vip1{
                    background: url("/src/img/teacher/small-vip.png");
                 }
                 .icon-vip2{
                    background: url("/src/img/teacher/small-gvip.png");
                 }
                 .icon-vip3{
                    background: url("/src/img/teacher/small-cvip.png");
                 }
                .teacher-comment{
                    font-size:12px;
                    .teacher-comment-score{
                        color: #f95;
                    }
                    .teacher-comment-times{
                        color: #acadad;
                    }
                }
            }
        }
    }

    .unlocal-tips {
        font-size: 18px;
        color: #6d6d6e;
        letter-spacing: 0.85px;
        line-height: 16px;
        margin: 60px auto;
        text-align: center;
        position: relative;

        .left-line {
            background-color: #e8e8e8;
            width: 270px;
            height: 1px;
            position: absolute;
            top: 10px;
        }
        .right-line {
            background-color: #e8e8e8;
            width: 270px;
            height: 1px;
            position: absolute;
            top: 10px;
            right: 0;
        }

        h1 {
            margin-bottom: 15px;
        }

        div {
            .occupancy {
                background: #f90;
                color: #fff;
                font-size: 14px;
                padding: 7px 10px;
                border-radius: 3px;
                margin-left: 10px;
            }
        }

        & + .search-item .wrapper {
            border-top: none;
        }

    }

    .video-course-item,
    .online-course-item {
        .course-name {
            margin-top: 10px;
        }
        .course-arrangement {
            margin: 5px 0;
        }
    }

}
.cps-scholarship {
    background: url("../../../../src/img/common/component/cpsjxj.png") no-repeat;
    display: inline-block;
    width: 69px;
    height: 22px;
    position: relative;
    color: #FC5955;
    margin-left: 10px;
    top: 5px;
}


