/**
 * @file 时间选择器
 * @author zhujialu
 */
.dropdown + .dropdown {
    margin-left: 0;
}

.daytime-select {
    position: relative;
    .trigger {

        .user-select(none);

        cursor: pointer;
        padding: 10px;

        position: absolute;
        top: 0;
        right: 0;
    }

    .dropdown-menu {
        list-style: none;
    }
}


