/**
 * @file 提示
 * @author zhujialu
 */

.dialog-alert,
.dialog-confirm {
    .dialog-close {
        display: none;
    }
}

.dialog-primary,
.dialog-info,
.dialog-success,
.dialog-error {

    position: fixed;
    top: 50%;
    left: 50%;

    color: #FFF;
    display: none;
    font-size: @font-size-large;
    padding: @gap-vertical-medium
             2 * @gap-horizontal-huge;

    border-radius: 4px;
}

.viewport-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dialog-primary {
    background-color: @brand-primary;
}
.dialog-info {
    background-color: @brand-info;
}
.dialog-success {
    background-color: @brand-success;
}
.dialog-error {
    background-color: @brand-error;
}

.dialog-action {

    margin-top: @gap-vertical-large;
    text-align: center;

    .btn-info + .btn-default, .btn-primary + .btn-default {
        margin-left: @gap-horizontal-large;
    }
}