.edit-reserved-lesson-dialog {
    .dropdown + .dropdown {
        margin-left: 0;
    }

    .info {
        .clearfix();

        & > * {
            float: left;
        }

        img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
        .lesson-info {
            width: 230px;
            margin-right: 10px;

            .name {
                .text-overflow();
            }
        }
        .available {
            width: 130px;
        }
    }

    .select {

        border-bottom: 1px solid @brand-gray;

        label {
            display: block;
            float: none;
            text-align: left;
            position: relative;
        }
        .form-date {
            display: block;
            width: 224px;
            .icon-calendar {
                color: @brand-info;
            }
        }
        .course-date {
            width: 100%;
        }
        .day-of-week {
            position: absolute;
            top: 6px;
            right: 35px;
        }

        .trigger {
            .clearfix();
            position: absolute;
            top: 7px;
            right: 15px;
            cursor: pointer;
        }

        .time {
            .clearfix();

            & > * {
                float: left;
            }
            .form-group {
                margin-right: 15px;
                .form-label {
                    float: none;
                }
            }

            .start-hour,
            .start-minute {
                input,
                button {
                    width: 70px;
                }
            }
            .duration {
                input,
                button {
                    width: 100px;
                }
            }

            margin-bottom: 20px;

            .disabled {
                cursor: not-allowed;
                background-color: #EFEFEF;
            }
            small {
                float: right;
            }

        }
    }

    .form-action {
        button {
            padding: 6px 20px;
        }
    }
    .prompt {
        margin-top: 20px;
        text-align: center;
    }
}