.enroll-success-dialog {
    .dialog-close {
        display: none;
    }
    position: relative;
    left: 505px;
    top: 262px;
    width: 430px;
    height: 280px;
    background: #FFFFFF;
   
    .nav-left-img {
        position: absolute;
        left: 148px;
        top: 41px;
        background-image: url(../../../img/common/component/ic_succeed.png);
        width: 25px;
        height: 25px; 
    }
    .nav-left-text {
        position: absolute;
        left: 183px;
        top: 40px;
        font-family: 'MicrosoftYaHei';
        font-size: 24px;
        color: #56B02A;
        width: 96px;
        height: 24px;
        line-height: 24px;
    }

    
    .text-middle {
        position: absolute;
        left: 50px;
        top: 86px;
        margin: 0 auto;
        width: 330px;
        height: 44px;
        line-height: 22px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #3D3D3E;
        letter-spacing: 1px;
        
    }
    .qrcode-image{
        position: absolute;
        left: 79px;
        top: 145px;
        background-image: url(../../../img/common/component/Wechat.jpg) ;
        width: 105px;
        height: 105px;
    }
    .right-top{
        position: absolute;
        left: 204px;
        top: 172px;
        width: 144px;
        height: 17px;
        font-family: MicrosoftYaHei;
        color: #3D3D3E;
        font-size: 18px;
        line-height: 17px;
        letter-spacing: 0;
        .text-yellow {
            color:#ff9100;
        }
    }
    .right-foot {
        position: absolute;
        left: 204px;
        top: 203px;
        width: 143px;
        height: 13px;
        font-family: MicrosoftYaHei;
        font-size: 13px;
        color: #6D6D6E;
        letter-spacing: 0;
        line-height: 13px;
    }
    .close-icon {
        background-image: url(../../../img/common/component/ic_close.png);
        width: 34px;
        height: 34px;
        position: absolute;
        left: 390px;
        bottom: 240px;
        cursor: pointer;
    }
}
