/**
 * @file 帮我找老师 - 成功弹框
 * @author wangyujie
 */
.find-teacher-confirm-dialog {
    .confirm-left {
        width: 265px;
        p + p {
            margin-top: 30px;
        }
    }

    .confirm-right {
        background: url(../../../img/app/pc/2xs.png) no-repeat;
        float: right;
        width: 90px;
        height: 90px;
        margin-top: 20px;
        margin-right: 20px;
    }
}