/**
 * @file 海外地址展示
 * @author niejianhui
 */

.foreign-addr-map {
    & > div {
        position: relative;
        span {
            min-width: 165px;
            line-height: 26px;
            position: absolute;
            background: #FF9100;
            border: 1px solid #FF9100;
            border-radius: 2px;
            font-size: 11px;
            text-align: center;
            color: #FFFFFF;
            padding: 0 5px;
            i {
                font-size: 11px;
                margin-right: 5px;
            }
        }
    }
    .text-title {
        color: #3d3d3d;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .course {
        width: 380px;
        height: 260px; 
        background: url('../../../img/common/component/img_course_map.png');
        span {
           left: 80px;
           top: 58px;
        }
    }
    .home {
        width: 227px;
        height: 227px; 
        background: url('../../../img/common/component/img_home_map.png');
        span {
            left: 30px;
            top: 60px;
        }
    }
}