/**
 * @file 平台保障图标替换
 * @author wanglu
 */
.guarantee-label {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-right: 7px;
    span {
        display: inline-block;
        text-align: center;
    }
    .name-label {
        color: white;
    }
}
.guarantee-label.small {
    height: 21px;
    .name-label {
        height: 19px;
        width: 19px;
    }
    .info-label {
        width: 57px;
        height: 19px;
    }
}
.guarantee-label.certification {
    border: 1px solid #13AE2F;
    .name-label {
        background-color: #13AE2F;
    }
    .info-label {
        color: #13AE2F;
    }
}
.guarantee-label.safety-money {
    border: 1px solid #FF7F00;
    .name-label {
        background-color: #FF7F00;
    }
    .info-label {
        color: #FF7F00;
    }
}
.guarantee-label.anytime-quitclass {
    border: 1px solid #9467D2;
    .name-label {
        background-color: #9467D2;
    }
    .info-label {
        color: #9467D2;
    }
}
.guarantee-label.limit-quitclass {
    border: 1px solid #9467D2;
    .name-label {
        background-color: #9467D2;
    }
    .info-label {
        color: #9467D2;
    }
}
.guarantee-label.anytime-joinclass {
    border: 1px solid #E75D98;
    .name-label {
        background-color: #E75D98;
    }
    .info-label {
        color: #E75D98;
    }
}
.guarantee-label.limit-joinclass {
    border: 1px solid #E9664D;
    .name-label {
        background-color: #E9664D;
    }
    .info-label {
        color: #E9664D;
    }
}
.guarantee-label.installment-payment {
    border: 1px solid #37A4F5;
    .name-label {
        background-color: #37A4F5;
    }
    .info-label {
        color: #37A4F5;
    }
}
.guarantee-label.preferred-platform {
    border: 1px solid #FF6C00;
    .name-label {
        background-color: #FF6C00;
    }
    .info-label {
        color: #FF6C00;
    }
}

    