/**
 * @file 邀请对话框
 * @author zhangjiayi
 */
.invite-dialog {

    .title,
    .invite,
    .telephone {
        margin-left: 30px;
    }

    .invite {

        margin-top: 5px;
        input {
            width: 160px;
        }
    }

    .form-block {
        font-size: @font-size-tiny;
    }

}