/**
 * @file 快速评价弹窗的dialog样式
 * @author  peilonghui
 */

.judge-dialog-container {
    text-align: center
}

.judge-dialog-thumbs {

    text-align: center;
    font-size: 52px;
    margin: @gap-vertical-small 0;

    & > div {
        cursor: pointer;

        margin-right: @gap-horizontal-small;
        .inline-block();

        .icon {
            color: @brand-gray-light;

            &.active {
                color: @brand-primary;
            }
        }

        span {
            display: block;
            font-size: @font-size-small;
        }



    }

}

.judge-dialog-buttons {
    .btn {
        margin-right: @gap-horizontal-large;
    }
}