.mobile-input {

    input[name="mobile"] {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .tel-code {
        position: absolute;
        top: 13px;
        left: 66px;
        z-index: 2;
    }

    .form-label + .form-controls {
        .tel-code {
            left: 185px;
        }
    }
    .tel-code-select {
        border: 1px solid @brand-gray;
        background-color: #fff;
        border-right: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        float: left;
        position: relative;
        cursor: pointer;
        .trigger > div {
            .inline-block();
        }
        .trigger {
            line-height: 34px;
            height: 34px;
            width: 54px;

            .icon-region-flag {
                margin-left: 15px;
            }
        }
        .flag {
            width: 25px;
            height: 17px;
        }
        .icon-caret-down {
            position: absolute;
            right: 2px;
            top: 10px;
        }
        .dropdown-menu {
            width: 323px;
            top: 35px;
            left: -1px;
            text-align: left;
            li {
                position: relative;
            }
        }
        .icon-region-flag {
            background: url(../../../img/icon/region_flags.png) no-repeat;
            width: 16px;
            height: 11px;
            margin-right: 5px;
        }
        .alphabet {
            background-color: #E4E4E4;
            color: @brand-text;
            font-weight: bold;
        }
        .more {
            background-color: #F2F2F2;
            color: @brand-text;
        }
    }
    .voice-code {
        display: none;
        margin-left: 110px;
        span {
            color: @brand-info;
            &:hover {
                color: @brand-primary;
            }
        }
    }
    .disable-international {
        .tel-code-select, .tel-code{
            display: none;
        }
        .icon-mobile {
            display: block;
        }

        input[name="mobile"] {
            padding-left: 12px;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }
        .icon-mobile + input[name="mobile"] {
            padding-left: 24px;
        }
    }
    .enable-international {
        .tel-code-select, .tel-code{
            display: block;
        }

        .icon-mobile {
            display: none;
        }
        .placeholder {
            left: 50px;
        }
        input[name="mobile"] {
            padding-left: 66px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

    }
}