/**
 * @file 一对一优选课程订单 选课弹窗
 * @author  wangyujie
 */
.purchase-course-dialog {

    .course-name {
        font-size: 16px;
        border-bottom: 1px solid #eee;
        padding-bottom: @gap-vertical-small;
    }

    .form-label {
        width: 80px;
        text-align: right;
    }

    .high-label {
        line-height: 34px;
    }

    .form-static {
        width: 630px;
        em {
            font-size: 22px;
        }
    }

    .categories-group,
    .lesson-way-group,
    .combo-group {
        .form-static {
            position: relative;
        }
        .error {
            display: none;
            position: absolute;
            right: -80px;
            top: -37px;
            color: @brand-error;
            .icon {
                margin-right: @gap-horizontal-tiny;
            }
        }
    }

    .form {
        position: relative;
    }

    .custom-combo-error {
        display: none;
        position: absolute;
        left: 133px;
        top: -19px;
        color: @brand-error;
        .icon {
            margin-right: @gap-horizontal-tiny;
        }
    }

    .categories,
    .lesson-way,
    .combo {
        border: 1px solid #ccc;
        cursor: pointer;
        display: inline-block;
        padding: 1px 32px;
        margin-right: 10px;
        margin-bottom: 5px;
        &.active {
            background: url(../../../img/teacher/checked.png) right bottom no-repeat;
            border: 1px solid @brand-primary;
        }
    }

    .combo {
        width: 122px;
        padding: 1px;
        text-align: center;
    }

    .input-group {
        .input-group-addon {
            cursor: pointer;
        }
        .form-text {
            width: 70px;
        }
    }

    .dialog-action {
        text-align: right;
        border-top: 1px solid #eee;
        margin-top: @gap-vertical-medium;
        padding-top: @gap-vertical-medium;
        .count-price {
            display: inline-block;
            margin-right: 2 * @gap-horizontal-medium;
        }
        .total-price {
            color: @brand-error;
            font-size: 22px;
            font-weight: bold;
        }
        .btn-purchase {
            width: 120px;
            background-color: #f95710;
            border-color: #f95710;
        }
    }




}