/**
 * @file 进度条
 * @author wangtianhua
 */
.single {
    .progress {
        width: 100px;
        height: 10px;
        display: inline-block;
        background-color: #fff3e0;

        .meter {
            background-color: #ffcc80;
            display: inline-block;
            height: 100%;
        }

    }
}