/**
 * @file 老师搜索结果
 * @author jixiaohui
 * @description 老版老师列表样式
 */

#search-list {

    .search-item {
        border: 1px solid transparent;

        position: relative;
        padding: 0 @gap-horizontal-large;

        &:hover {
            background-color: @brand-primary-lighter;
            border-color: @brand-primary-light;
            .transition(background-color 0.4s, border-color 0.4s);

            .wrapper,
            + .search-item .wrapper {
                border-top-color: transparent;
            }

        }

        &:first-child {
            .wrapper {
                border-top-color: transparent;
            }
        }

    }

    .wrapper {
        border-top: 1px solid @brand-gray-light;
        padding: @gap-vertical-large 0;
    }

    .unlocal-tips {
        background: #E9EFFF;
        border-bottom: 2px solid #5581FE;
        border-top: 1px solid #C6DDFC;
        color: @brand-text;
        width: 820px;
        height: 93px;
        overflow: hidden;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
        margin: 0;
        padding: 0;
        position: relative;
        margin-left: -15px;

        img {
            float: left;
            margin-left: 50px;
        }

        .txt {
            float: left;
            margin-left: 50px;

            h1 {
                font-size: 22px;
                color: #3e65db;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            div {
                font-size: 18px;
                color: #6187dc;

                .occupancy {
                    background: #5781FE;
                    color: #fff;
                    font-size: 14px;
                    padding: 5px 10px;
                    border-radius: 3px;
                    margin-left: 10px;
                }
            }

        }


        & + .search-item .wrapper {
            border-top: none;
        }

    }

    .unlocal-fixed {
        position: fixed;
        top: 0;
        z-index: 3;
        left: initial;
    }

    .teacher-card {
        width: 100px;
        float: left;
        font-size: @font-size-tiny;
        margin-right: @gap-horizontal-huge;
        text-align: center;
    }

    .teacher-detail {
        overflow: hidden;
        min-height: 162px;

        .medal {
            position: relative;
            width: 18px;
            height: 18px;
            top: 2px;
        }
    }

    .avatar {
        line-height: 0;
        margin-bottom: @gap-vertical-medium;
        position: relative;

        .icon-webcam-o {
            position: absolute;
            right: 10px;
            bottom: 0;
            font-size: 20px;
            color: #6287d5;
            font-weight: bold;
            border-radius: 100%;
            background: #fff;
            padding: 2px;
            z-index: @zindex-tiny;
        }
    }
    .avatar-medium {
        margin: 0 auto;
    }

    .location {

        margin-top: @gap-vertical-tiny;

        &:hover {
            color: @brand-primary;
            .transition(color 0.2s);
        }
    }

    .video {
        cursor: pointer;
        display: inline-block;
        margin: 3px auto 0;

        padding: 1px 8px 1px 6px;
        border-radius: @border-radius-base;

        .icon {
            font-size: 16px;
            vertical-align: text-bottom;
        }

        &:hover {
            background-color: lighten(@brand-info, 2%);
            color: #FFF;
            .transition(background-color 0.2s, color 0.2s);
        }
    }



    h2 {

        display: inline-block;
        font-size: @font-size-medium;
        font-weight: bold;

        a {
            color: @brand-text;
        }

        a:hover {
            color: @brand-primary;
        }
    }

    .org-label {
        margin-left: @gap-horizontal-large;
    }

    .comment {

        color: @brand-text;
        margin-left: @gap-horizontal-large;

        .icon {
            color: @brand-text-light;
            margin-right: 2px;
        }
    }

    .cert {
        float: right;

        .icon {
            margin-left: @gap-horizontal-small;
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .slogon {
        margin-top: @gap-vertical-tiny;
    }

    .school-age,
    .course,
    .lesson-way {
        color: @brand-text;
        margin: @gap-vertical-tiny 0;
    }

    .tags {
        margin-top: @gap-horizontal-medium;
    }

    .location,
    .video {
        .icon {
            margin-right: 3px;
        }
    }

    .school-age,
    .course,
    .lesson-way {
        .icon {
            margin-right: @gap-horizontal-tiny;
        }
    }

    .label-default {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    .teacher-price {
        position: absolute;
        right: @gap-horizontal-large;
        top: 4em;
        text-align: right;


        strong {
            color: @brand-text;
            font-size: 22px;
        }

        .btn-primary {
            margin-top: @gap-vertical-tiny;
        }

        .delete-favor {
            display: inherit;
            margin: 10px 15px;

            &:hover {
                cursor: pointer;
            }
        }
    }

}

