/**
 * @file 老师搜索结果
 * @author wuhongjie
 */
@import "./goldCert.less";
#search-list {

    .search-item,
    .single-famous {
        .clearfix();
        width: 100%;
        border-bottom: 1px solid #E8E8E8;
        display: inline-block;
        padding: 20px;
        padding-right: 0;
        &>div{
            float: left;
        }
        .course-item-photo {
            width: 100px;
            height: 100px;
            position: relative;
            a {
                .clearfix();
            }
            .avatar-big {
                display: inline-block;
                &:after {
                    .opacity(0.4);
                    background-color: transparent;
                    content: ' ';
                    position: absolute;
                    border-radius: 50px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    &:after {
                      background-color: #000;
                      .transition(background 0.3s);
                    }
                }
            }
            .ad-title {
                .opacity(0.9);
                background-color: #ff6c00;
                border-radius: 12px;
                color: #fff;
                display: block;
                font-size: 12px;
                padding: 3px 13px;
                position: absolute;
                left: 13px;
                bottom: 10px;
            }
        }
        .course-item-teacher-info{
            margin-left: 10px;

            .course-teacher-info{
                width: 700px;
                position: relative;
                min-height: 110px;
                padding-bottom: 10px;
                .teacher-info-name{
                    font-size: 18px;
                    color: #222;
                    margin-top: 5px;
                    .teacher-name{
                        color: #3d3d3d;
                        &:hover{
                            color: #f95;
                        }
                    }
                    .icon{
                        width: 18px;
                        height: 18px;

                    }
                    .icon-vip1{
                        background: url("/src/img/teacher/small-vip.png");
                    }
                    .icon-vip2{
                        background: url("/src/img/teacher/small-gvip.png");
                    }
                    .icon-vip3{
                        background: url("/src/img/teacher/small-cvip.png");
                    }
                }
                .teacher-status{
                    font-size: 14px;
                    color: #48b14b;
                }
                .test-data {
                    background-color: #f90;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    padding: 4px 6px;
                    margin: 0 5px;
                }
                .teacher-org-name {
                    display: inline-block;
                    line-height: 18px;
                    color: #6299e3;
                    border: 1px solid #6299e3;
                    border-radius: 2px;
                    padding: 0px 5px;
                    margin-left: 10px;
                    font-size: 12px;
                }
                .teacher-info-tag{
                    margin-top: 4px;
                    h1 {
                        display: inline-block;
                        font-size: 12px;
                        margin-top: 5px;
                        padding: 2px 5px;
                        color: #9d9d9d;
                        border: 1px solid #d3d3d3;
                        margin-right: 5px;
                        border-radius: 3px;
                    }
                }
                .teacher-info-intro{
                    font-size: 14px;
                    color: #3d3d3d;
                    margin-top: 8px;
                    margin-bottom: 5px;
                }
                .teacher-info-score{
                    font-size: 12px;
                    margin-top: 2px;
                    .comment-count {
                        margin-left: 10px;
                    }
                    &:hover {
                        .comment-count {
                            color: #f90;
                        }
                    }
                }
                .teacher-info-address {
                    font-size: 12px;
                    color: #6d6d6e;
                    margin-left: 8px;
                }
            }

            .course-item-list {
                width: 700px;
                margin-top: 2px;
                .course-list-info {
                    .clearfix();
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    max-height: 50px;
                    margin-left: -10px;
                    & > div {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .item-info-name {
                        color: #6d6d6d;
                        padding-left: 10px;
                        .item-course-type {
                            margin-right: 5px;
                            color: #3fa5f2;
                        }
                        .one2one {
                            color: #6187dd;
                        }
                        .offline {
                            color: #6187dd;
                        }
                        .online {
                            color: #56b02a;
                        }
                        .betterOne {
                            background: #ff6c00;
                            border-radius: 2px;
                            color: #fff;
                            font-size: 12px;
                            padding: 4px 6px;
                        }
                        .videos {
                            color: #5ab75d;
                        }
                    }
                    .item-info-time {
                        padding-left: 10px;
                        color: #9d9d9d;
                    }
                    .item-info-price {
                        color: #f95;
                        padding-left: 10px;
                        .price-desc {
                            color: #6d6d6d;
                        }
                        .free{
                            color: #48b14b;
                        }
                    }
                    &:hover {
                        background-color: #f8f8f8;
                    }
                }
                .controller-more-course {
                    color: #9d9e9e;
                    cursor: pointer;
                    margin-top: 6px;
                    margin-bottom: 15px;
                    &:hover {
                        color: #ff9100;
                    }
                }
                .more-course {
                    text-align: center;
                    background: #f8f8f8;
                    margin-left: 0;
                }
                .hide-start{
                    display: none;
                }
                .show-start{
                    display: block;
                }
            }

        }
    }

    .single-famous {
        background: #fffdf8;
        border: 1px solid #ffcd7a;
        padding: 20px;
        .icon-location-o {
            margin-right: 3px;
        }
        .recommend-title {
            float: none;
            font-size:16px;
            color: #ff9100;
            text-align: center;
            margin-bottom: 20px;
            &:before {
                content: url('/src/img/teacher/recommend-title-left.png');
                margin-right: 10px;
                vertical-align: text-bottom;
            }
            &:after {
                content: url('/src/img/teacher/recommend-title-right.png');
                margin-left: 10px;
                vertical-align: text-bottom;
            }
        }
        .course-item-photo {
            .ad-title {
                border-radius: 2px;
                font-size: 14px;
                padding: 3px 15px;
                position: absolute;
                left: 7px;
                bottom: -4px;
            }
        }
        .course-item-teacher-info {
            border: none;
            .course-teacher-info,
            .course-item-list {
                width: 640px;
            }
            .teacher-info-tag {
                h1 {
                    background-color: #fff;
                }
            }
        }
    }

    .two-famous {
        background: #fffdf8;
        border: 1px solid #ffcd7a;
        padding: 15px 40px;
        margin-top: 10px;
        .icon-location-o {
            margin-right: 3px;
        }
        .recommend-title {
            float: none;
            font-size:16px;
            color: #ff9100;
            text-align: center;
            margin-bottom: 20px;
            &:before {
                content: url('/src/img/teacher/recommend-title-left.png');
                margin-right: 10px;
                vertical-align: text-bottom;
            }
            &:after {
                content: url('/src/img/teacher/recommend-title-right.png');
                margin-left: 10px;
                vertical-align: text-bottom;
            }
        }
        .search-item {
            border: none;
            width: 50%;
            .course-item-teacher-info {
                border: none;
                .course-teacher-info {
                    width: 100%;
                }
                .teacher-info-tag {
                    h1 {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .more-famous {
        background: #fffdf8;
        border: 1px solid #ffcd7a;
        padding: 15px 40px;
        width: 850px;
        height: 315px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        position: relative;
        .icon-location-o {
            margin-right: 3px;
        }
        .recommend-title {
            float: none;
            font-size:16px;
            color: #ff9100;
            text-align: center;
            margin-bottom: 20px;
            &:before {
                content: url('/src/img/teacher/recommend-title-left.png');
                margin-right: 10px;
                vertical-align: text-bottom;
            }
            &:after {
                content: url('/src/img/teacher/recommend-title-right.png');
                margin-left: 10px;
                vertical-align: text-bottom;
            }
        }

        .search-item {
            border: none;
            width: 33%;
            text-align: center;
            .course-item-photo {
                float: none;
                width: 100%;
            }
            .course-item-teacher-info {
                border: none;
                margin-left: 0;
                width: 100%;
                .course-teacher-info {
                    width: 100%;
                }
                .teacher-info-tag {
                    h1 {
                        background-color: #fff;
                    }
                }
            }
        }

        .icon-pager {
            .icon {
                position: absolute;
                top: 135px;
                border-radius: 3px;
                cursor: pointer;
                padding: 8px 8px;
                font-size: 27px;
                color: #fff;
                background-color: #6c6c6c;
                z-index: 1;
            }
            .icon-chevron-left {
                .opacity(0.4);
                left: 15px;
                &:hover {
                    .opacity(0.6);
                }
            }
            .icon-chevron-right {
                .opacity(0.4);
                right: 15px;
                &:hover {
                    .opacity(0.6);
                }
            }
        }

        .promotion-slider-button {
            .clearfix();
            display: inline-block;
            margin-top: 228px;

            li {
                float: left;
            }

            span {
                text-indent: -9999px;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background: @brand-gray;
                margin-left: @gap-horizontal-tiny;
                opacity: 0.9;
                cursor: pointer;

                &.active {
                    opacity: 1;
                    background: @brand-primary;
                    position: relative;
                }
            }
        }

        .slider-ul {
            position: absolute;
            .slider-li {
                width: 850px;
                float: left;
                display: block;
            }
        }
    }

    .another-famous {
        background: #fffdf8;
        border: 1px solid #ffcd7a;
        padding: 15px 40px;
        width: 850px;
        height: 315px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        position: relative;
        .icon-location-o {
            margin-right: 3px;
        }
        .recommend-title {
            float: none;
            font-size:16px;
            color: #ff9100;
            text-align: center;
            margin-bottom: 20px;
            &:before {
                content: url('/src/img/teacher/recommend-title-left.png');
                margin-right: 10px;
                vertical-align: text-bottom;
            }
            &:after {
                content: url('/src/img/teacher/recommend-title-right.png');
                margin-left: 10px;
                vertical-align: text-bottom;
            }
        }

        .search-item {
            border: none;
            width: 33%;
            text-align: center;
            .course-item-photo {
                float: none;
                width: 100%;
            }
            .course-item-teacher-info {
                border: none;
                margin-left: 0;
                width: 100%;
                .course-teacher-info {
                    width: 100%;
                }
                .teacher-info-tag {
                    h1 {
                        background-color: #fff;
                    }
                }
            }
        }

        .icon-pager {
            .icon {
                position: absolute;
                top: 134px;
                border-radius: 3px;
                cursor: pointer;
                padding: 10px 10px;
                font-size: 27px;
                color: #fff;
                background-color: #6c6c6c;
                z-index: 1;
            }
            .icon-chevron-left {
                left: 15px;
            }
            .icon-chevron-right {
                right: 15px;
            }
            .disable {
                // .opacity(0.4);
                // cursor: not-allowed;
            }
        }

        .promotion-slider-button {
            .clearfix();
            display: inline-block;
            margin-top: 228px;

            li {
                float: left;
            }

            span {
                text-indent: -9999px;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background: @brand-gray;
                margin-left: @gap-horizontal-tiny;
                opacity: 0.9;
                cursor: pointer;

                &.active {
                    opacity: 1;
                    background: @brand-primary;
                    position: relative;
                }
            }
        }

        .slider-ul {
            position: absolute;
            .slider-li {
                width: 850px;
                float: left;
                display: block;
            }
        }
    }

    .single-famous + .search-item,
    .two-famous + .search-item,
    .more-famous + .search-item,
    .another-famous + .search-item {
        margin-top: 30px;
    }

    .single-famous + .more-famous {
        margin-top: 15px;
    }

    .search-item + .single-famous,
    .search-item + .two-famous,
    .search-item + .more-famous,
    .search-item + .another-famous {
        margin-top: -6px;
    }
    .unlocal-tips {
        font-size: 18px;
        color: #6d6d6e;
        letter-spacing: 0.85px;
        line-height: 16px;
        margin: 60px auto;
        text-align: center;
        position: relative;

        .left-line {
            background-color: #e8e8e8;
            width: 270px;
            height: 1px;
            position: absolute;
            top: 10px;
        }
        .right-line {
            background-color: #e8e8e8;
            width: 270px;
            height: 1px;
            position: absolute;
            top: 10px;
            right: 0;
        }

        h1 {
            margin-bottom: 15px;
        }

        div {
            .occupancy {
                background: #f90;
                color: #fff;
                font-size: 14px;
                padding: 7px 10px;
                border-radius: 3px;
                margin-left: 10px;
            }
        }

        & + .search-item .wrapper {
            border-top: none;
        }
    }

}

.tooltip-inverted {
    z-index: @zindex-small;
    word-wrap: break-word;
    word-break: break-all;
}