/**
 * @file 设置回放视频有效期
 * @author wangyujie
 */
.set-expire-dialog {

    .icon-subtract-o,
    .icon-plus-o,
    .icon-question-circle {
        cursor: pointer;
        margin-left: 5px;
    }

    input[name="expire_day"] {
        width: 40px;
        padding: 0 3px;
        margin: 0 5px;
        height: 20px;
        line-height: 20px;
    }

    .form-action {
        margin-top: 10px;
        button {
            width: 80px;
            height: 26px;
            margin-right: 10px;
            padding: 0;
        }
    }

    .error {
        top: -24px !important;
    }

}
