/**
 * @file 已有课程一览日历
 * @author zhujialu, wangyujie
 */
.course-calendar {

    border: 1px solid @brand-gray-light;
    background-color: @brand-gray-lighter;
    line-height: 1;
    position: relative;
    text-align: center;

    .user-select(none);
    .icon-circle {
        color: @brand-primary;
    }

    &.pack {
        .active-date {
            font-size: @font-size-medium;
        }
        .active-day {
            font-size: @font-size-small;
        }
    }

    table {
        font-size: @font-size-tiny;
        width: 615px;
    }

    th {
        border-bottom: 1px solid @brand-gray-light;
    }

    th,
    .header {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    td {
        cursor: default;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    th,
    td {
        padding-left: 25px;
        padding-right: 25px;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 24px;
    }
    .prev {
        left: 10px;
    }
    .next {
        right: 10px;
    }

    .adjacency-month {
        color: @brand-gray;
    }
    .active {
        background-color: @brand-primary;
        color: #FFF;
        cursor: text;
    }
    .disabled {
        cursor: text;
        color: @brand-gray;
    }
    .past {
        color: @brand-gray;
    }
    .date {
        cursor: text;
        color: #E5B800;
        &.past {
            color: @brand-gray;
        }
    }
    td[data-value] {
        cursor: pointer;
    }
}