/**
 * @file 星星打分
 * @author zhujialu
 */
.star-score {

    .icon-star {
        color: @brand-gray;
    }

    .star-shine {
        color: @brand-primary;
    }

    .star-half {

        .inline-block();
        position: relative;
        line-height: 0;

        .icon-star-half {
            color: @brand-primary;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

}