.unbind-dialog .dialog-body {

    text-align: center;

    .icon {
        color: @brand-primary;
        margin-right: @gap-horizontal-medium;
    }

    .form-controls {
        margin-left: 0;
    }

    .form-hint {
        margin-top: 10px;
        a {
            color: @brand-info;
            &:hover {
                color: @brand-primary;
            }
        }
    }
}