.edit-expiredate-dialog {
    .content {
        .edit-form {
            text-align: center;
            input {
                width: 40px;
                line-height: 20px;
                margin : 0 5px;
                outline: none;
            }
            .icon {
                cursor: pointer;
            }
            .icon-help {
                color: #ff6c00;
                margin-left: 10px;
            }
            .error {
                display: none;
            }
        }
        .edit-text {
            margin-top: 10px;
            font-size: 8px;
            text-align: center;
        }
        .buttons {
            text-align: center;
            margin-top: 30px;
            span {
                cursor: pointer;
                display: inline-block;
                width: 80px;
                line-height: 24px;
                text-align: center;
                font-size: 13px;
                background-color: #fff;
                color: #555;
                border-radius: 2px;
                border: 1px solid #e2e2e2;
            }
            .confirm-update {
                background-color: #ff6c00;
                color: #fff;
                margin-right: 10px;
                border-color: #f29100;
            }
        }
    }
}