{{ *

@file 学生-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="cancel-order">
    <h2>取消订单</h2>
    <h3>1. 我什么时候能够取消订单？</h3>
    <p>A：未支付的订单你可以随时取消<br/>
(1)&nbsp;&nbsp;一对一未支付订单，如果双方均未操作七天后系统自动取消该订单。<br/>
(2)&nbsp;&nbsp;班课未支付订单，如果双方均未操作45分钟后系统自动取消该订单（设置了“限时折扣”的班课，同样的情况会在10分钟后系统自动取消订单）<br/>
B：支付过的一对一课程订单和设置了“随时退”的班课订单，在每节课开课前都可以取消订单。没有设置“随时退”的班课订单在老师自定义的可退期内可以取消订单。（退款金额和其他详情请见平台“随时退”细则）</p>
    <h3>2. 我可以在哪里申请退款？</h3>
    <p>你可以在“我的订单”点击“申请退款”按钮来取消。订单一旦取消不能恢复，需要填写取消订单的原因。</p>
    <img  src="{{ $static_origin }}/src/img/guide/student/30.jpg" alt="取消订单" />
</div>




{{ /strip }}