{{ *

@file 学生-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="compensation">
    <h2>资金</h2>
    <div class="tab-nav tab-nav-primary">
        <span class="nav-item active" data-floor='0'>课酬</span>
        <span class="nav-item" data-floor='1'>提现</span>
        <span class="nav-item" data-floor='2'>退款</span>
    </div>
    <div class="my-compensation">
        <h3>一、 担保交易和非担保交易的课酬结算有何区别？</h3>
        <p>
        担保及非担保交易为跟谁学平台提供的两种类型的课程交易服务。学生在买课时，可自主选择担保交易或非担保交易。目前视频课、微课仅支持非担保交易。<br/>
        1、  担保交易：学生如果选择担保交易，在每次课程结束后，需要学生手动确认课酬，老师或者机构才能得到该次课酬；如学生未主动确认，则在课程结束24小时后，系统自动确认课酬并进行资金结算。<br/>
        2、  非担保交易：非担保交易在学生完成订单支付时，老师或者机构可立即获得全部课程款。
        </p>

        <h3>二、 课酬什么时间打给老师、机构？</h3>
        <p>
            1、  担保交易中，支付的全部金额将会暂存在跟谁学平台，每次课程结束后你需要确认支付本次课酬，确认后本次课酬将会打到老师的跟谁学平台账户，如果课后24小时内没有手动确认支付，系统将会自动将本节课酬打给老师。<br/>
            2、  非担保交易中，支付的全部金额不会暂存在跟谁学平台。支付完成，课酬即会全部打到老师的跟谁学平台账户。
        </p>

        <h3>三、 可提现余额包含哪些资金？</h3>
        <p>可提现余额，是可提现的实际资金金额，资金来源包括包括充值、退款、平台奖励等。</p>
    </div>
    <div class="withdraw">
        <h3>一、 提现限额</h3>
        <p>单笔提现金额不超过5万元人民币。</p>

        <h3>二、 提现频次</h3>
        <p>同一个学生帐号每一个自然周可以发起一次提现。</p>

        <h3>三、 提现手续费</h3>
        <p>使用跟谁学学生版APP进行提现操作，不收取任何手续费用；登录跟谁学电脑网页版学生帐号进行提现操作，每一笔提现收取1元手续费。</p>

        <h3>四、 提现到账时间</h3>
        <p>
            一般情况下，工作日内提现当天到账。工作日20:00后以及周末进行提现，不能保证当日到账，最迟将在3-5个工作日内到账。<br/>
            以上提现时间遇法定节假日及部分特殊情况，可能会延迟。
        </p>
    </div>
    <div class="drawback">
        <h3>一、 什么时候可以退款（取消订单）？</h3>
        <p>不涉及到资金变动的退款问题，请参见帮助中心>学生帮助>申诉保障>取消订单。</p>

        <h3>二、 退款会在多长时间到账？</h3>
        <!--<div>
            <img  src="{{ $static_origin }}/src/img/guide/student/35.png" alt="支付课酬" />
        </div>-->
        
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3" rowspan="2">支付方式</th>
                    <th colspan="2">退款说明</th>
                </tr>
                <tr>
                    <th>跟谁学处理周期</th>
                    <th>银行/支付平台退款处理周期</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">钱包余额</td>
                    <td>即时到账</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">快捷支付</td>
                    <td>信用卡</td>
                    <td class="bank">
                        招商银行、中国工商银行、中国建设银行、广发银行、中国银行、中国光大银行、中信银行、兴业银行、平安银行、中国民生银行、中国邮政储蓄银行、交通银行
                    </td>
                    <td>3个工作日</td>
                    <td>3-10个工作日</td>
                </tr>
                <tr>
                    <td>储蓄卡</td>
                    <td class="bank">中国建设银行、中国工商银行、中国农业银行、招商银行、中国银行、中国光大银行、平安银行、中信银行、中国民生银行、广发银行、浦发银行、华夏银行、兴业银行</td>
                    <td>3个工作日</td>
                    <td>3-10个工作日</td>
                </tr>
                <tr>
                    <td colspan="3">支付宝</td>
                    <td>3个工作日</td>
                    <td>3-10个工作日</td>
                </tr>
                <tr>
                    <td colspan="3">微信</td>
                    <td>3个工作日</td>
                    <td>3-10个工作日</td>
                </tr>
                <tr>
                <td colspan="5">
                注：对于特殊情况，退款退回余额，请自行前往资金中心进行提现
                </td>
            </tr>
            </tbody>
        </table>
                
            
        <div style="margin-top:20px">
            支付宝支付时间超过90天的订单、微信支付时间超过360天的订单，申请退款后会进入跟谁学钱包，您可随时提现。
        </div>
    </div>
</div>


{{ /strip }}