{{ *

@file 学生-帮助中心
@author wangtianhua

* }}

{{ strip }}


<div class="coupon">

    <h2>优惠券</h2>

    <h3>1. 学生如何领取优惠券？</h3>
    <p>通过搜索进入老师或机构主页，点击“领取优惠券”标示，点击领取（如未登录需先以学生身份登录）</p>
    <img  src="{{ $static_origin }}/src/img/guide/student/36.png" alt="学生领取优惠券" />

    <h3>2. 学生如何查看优惠券？ </h3>
    <p>进入学生个人中心，点击“优惠券”，就可以查看所有优惠券信息（包括未使用优惠券、已使用优惠券、已过期优惠券）</p>
    <img  src="{{ $static_origin }}/src/img/guide/student/37.png" alt="学生领取优惠券" />

    <h3>3. 学生如何使用优惠券？</h3>
    <p>学生在购买收费课程时，如有该课程可使用的优惠券，在支付前将自动抵消相应的费用，支付剩余金额即可。</p>
    <img  src="{{ $static_origin }}/src/img/guide/student/38.png" alt="学生领取优惠券" />

</div>

{{ /strip }}