{{ *

@file 学生-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="info">
	<h2><center>老师信息</center></h2>
    
    <h3 id="help1">1. 怎样获知老师的空余时间？</h3>
    <p>进入到老师的主页面后,先点击“1对1课程”,在课程信息下面您可以找到老 师的“可授课时间”,有绿色对号标志的时间为老师的空余时间。</p>
    <img src="{{ $static_origin }}/src/img/guide/student/info01.jpg" alt="老师信息"/>
	

    <h3 id="help2">2. 如何能快速联系到老师？？</h3>
    <p>如果您还未登录，可以在PC或学生APP的老师主页上直接咨询老师。</p>
     <div class="imgGroup" >
     	<img class="leftImg"  src="{{ $static_origin }}/src/img/guide/student/info0201.jpg" alt="老师信息"/>
     	<img class="rightImg" src="{{ $static_origin }}/src/img/guide/student/info0202.jpg" alt="老师信息"/>
     </div>
    <br>
    <p>如果您已经登录,并且已经购买过某个老师的课程,可以在“学生个人中心”- “我的老师”中直接联系老师,也可以在学生APP“联系人”中联系到老师。</p>
     <div class="imgGroup" >
	    <img class="leftImg" src="{{ $static_origin }}/src/img/guide/student/info0203.jpg" alt="老师信息"/>
	    <img class="rightImg" src="{{ $static_origin }}/src/img/guide/student/info0204.jpg" alt="老师信息"/>
    <div>


    <h3 id="help3">3. 老师的信息真实可信吗？我如果发现某个老师有虚假信息怎么办？</h3>
    <p>老师的所有信息只有通过我们平台的审核才会展示给学生。如果你发现某个老师存在虚假信息，你可以通过老师个人信息页的信息纠错按钮向我们反馈。</p>
    <img src="{{ $static_origin }}/src/img/guide/student/16.jpg" alt="老师信息"/>
</div>




{{ /strip }}