{{ *

@file 学生-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="search">
    <h2>网站搜索</h2>
    <h3>1. 如何搜索老师？</h3>
    <p>a.通过网站上方的橙色搜索框可以搜索科目或老师姓名<br/>
b.在网站左侧“全部课程”处选择类目标签，可以找到对应类目的老师<br/>
c.在教师搜索结果页，可以点击“地图找老师”找附近的老师，如下图
</p>
    <img src="{{ $static_origin }}/src/img/guide/student/11.jpg" alt="网站搜索"/>
    <h3>2. 如何缩小搜索范围找老师？</h3>
    <p>在搜索结果页面你可以通过课程类别（例如数学），老师性别，授课范围，上课方式（支持多选），上课时间（支持多选）等多个维度筛选老师，您还可以通过“地图找老师”选择离您比较近的老师。</p>
    <img src="{{ $static_origin }}/src/img/guide/student/12.jpg" alt="网站搜索"/>
    <h3 id="help3">3. 综合排序、人气排序是什么意思？</h3>
    <p>综合排序是我们平台搜索结果的默认排序，我们将综合多种因素为你展现最合适的老师。人气排序是依据老师的人气指数的排序，主要参考老师个人信息页的浏览数、老师在平台上教授的课时数，老师获得学生的评价数等因素，人气排序靠前的老师一般比较受欢迎但是可能较难预约。</p>
    <h3>4. 我如何能联系上老师？</h3>
    <p>建议下载学生APP可以随时联系老师，并可以及时收到老师的回复。在老师主页页面下端有“咨询”功能，可以与老师取得联系。</p>
    <img class="mobile-img" src="{{ $static_origin }}/src/img/guide/student/13.jpg" alt="网站搜索"/>
    <img src="{{ $static_origin }}/src/img/guide/student/14.jpg" alt="网站搜索"/>
</div>




{{ /strip }}