@calendar-width: 235px;
@calendar-bg: #fff;
@calendar-border-color: #d8d8d8;
@calendar-week-cell-color: #888;
@calendar-week-cell-bg: #fbfbfb;
@calendar-day-cell-color: #333;
@calendar-outday-color: #b8b8b8;

@calendar-hover-bg: #eee;
@calendar-select-border-color: #3184ef;
@calendar-select-color: @calendar-select-border-color;

@calendar-today-bg: lighten(@calendar-select-border-color, 20%);
@calendar-today-color: #fff;

@calendar-banner-bg: #f5f5f5;

@calendar-arrow-color: #888;
@calendar-arrow-hover-bg: lighten(@calendar-select-border-color, 20%);
@calendar-arrow-hover-color: #fff;
.calendar {
    position: fixed;
    display: none;
    padding: 10px;
    width: @calendar-width;
    border: 1px solid @calendar-border-color;
    background: @calendar-bg;
    .box-sizing(border-box);
    .box-shadow(2px 2px 5px -2px lighten(@calendar-border-color,5%));
    font: 12px 'Tohoma';
    &-banner,
    &-weeks,
    &-days {
        .clearfix();
    }
    &-banner {
        background: @calendar-banner-bg;
        text-align: center;
        padding: 5px;
    }
}

/* Core style for every cell */
.calendar .core {
    .box-sizing(border-box);
    position: relative;
    float: left;
    width: 100/7%;
    height: 30px;
    padding: 9px 0;
    border: 1px solid transparent;
    line-height: 1em;
    text-align: center;
    color: @calendar-day-cell-color;
    cursor: pointer;
}

/* Prev/Next arrows */
.calendar .prev-arrow,
.calendar .next-arrow {
    .box-sizing(border-box);
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-left: 9px; 
    vertical-align: middle;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        border: 5px solid;
    }
}

.calendar .prev-arrow {
    &:before {
        border-color:transparent @calendar-arrow-color transparent transparent;
        top: 7px;
        left: 3px;
    }
}
.calendar .next-arrow {
    &:before {
        border-color:transparent transparent transparent @calendar-arrow-color;
        top: 7px;
        left: 9px;
    }
}

.calendar-year-month {
    margin: 0 10px;
    select {
        width: 60px;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
}

/* Days of the week */
.calendar .week {
    background: @calendar-week-cell-bg;
    color: @calendar-week-cell-color;
    cursor: default;
}

/* Selectable days that are outside of current month being shown */
.calendar .outday,
.calendar .disabled {
    color: @calendar-outday-color !important;
}

/* Hover */

.calendar .day:hover {
    background: @calendar-hover-bg;
}
.calendar .disabled:hover {
    background: transparent;
}

.calendar .selected {
    border: 1px solid @calendar-select-border-color;
    color: @calendar-select-color;
    &:hover {
        background: transparent;
    }    
}

/* Today */
.calendar .today:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0,0,0,.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

/* Special */
.calendar .special {
    color: #fff;
    font-weight: bold;
    border-color: #0c0;
    background: #88e888;
    background: -moz-linear-gradient(top,  #88e888 0%, #9dff9d 1%, #42fd42 2%, #01ab01 98%, #37ef37 99%, #37ef37 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88e888), color-stop(1%,#9dff9d), color-stop(2%,#42fd42), color-stop(98%,#01ab01), color-stop(99%,#37ef37), color-stop(100%,#37ef37));
    background: -webkit-linear-gradient(top,  #88e888 0%,#9dff9d 1%,#42fd42 2%,#01ab01 98%,#37ef37 99%,#37ef37 100%);
    background: -o-linear-gradient(top,  #88e888 0%,#9dff9d 1%,#42fd42 2%,#01ab01 98%,#37ef37 99%,#37ef37 100%);
    background: -ms-linear-gradient(top,  #88e888 0%,#9dff9d 1%,#42fd42 2%,#01ab01 98%,#37ef37 99%,#37ef37 100%);
    background: linear-gradient(to bottom,  #88e888 0%,#9dff9d 1%,#42fd42 2%,#01ab01 98%,#37ef37 99%,#37ef37 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88e888', endColorstr='#37ef37',GradientType=0 );
}