@import "page_app/_base/base.styl";

body {
    .GSX_Dialog.GSX_Dialog_default{
        padding-top: rem(0);
        .GSX_Dialog_title{
            line-height: rem(40);
        }
        .GSX_Dialog_content{
            border-top: 1px solid #e2e2e2;
        }
        .GSX_Dialog_skin_ok{
            color:#3fa5f2;
            font-weight:bold;
        }
        .dialog-tip{
            p{
                line-height: 1.5;
                font-size: rem(14);
            }
        }
    }
}
.main{
    padding: 0 rem(15);
    padding-top: rem(1);
    padding-bottom: rem(92);
    position: absolute;
    min-height: 100%;
    width: 100%;
    background: #fff;
    .title{
        font-size: rem(19);
        color: #3c3d3d;
        line-height: rem(18);
        margin-top: rem(35);
        text-align: left;
    }
    .title-black{
        color: #fff;
        background: url('/src/page_app/teacher/img_article/img/title_black.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .title-brown{
        color: #8a1f2f;
        background: url('/src/page_app/teacher/img_article/img/title_red.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .title-blue{
        padding-right: rem(40);
        color: #3c3d3d;
        background: url('/src/page_app/teacher/img_article/img/title_blue.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .title-green{
        color: #6d6d6e;
        background: url('/src/page_app/teacher/img_article/img/title_green.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .title-pink{
        color: #562c11;
        background: url('/src/page_app/teacher/img_article/img/title_pink.png') no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        height: rem(50);
        line-height: rem(50);
    }
    .body{
        margin-top: rem(15);
        word-break: break-all;
        white-space: normal;
    }
    .image{
        width: 100%;
        height: auto;
        margin-top: rem(20);
        position: relative;
    }
    /*.img-white{
        border: 0;
    }
    .img-green{
        border: 5px solid #52DDBA;
    }
    .img-pink, .img-blue{
        border: 5px solid #fff;
    }
    .img-black{
        border: 5px solid #000;
    }
    .img-brown{
        border: 5px solid #9E2132;
    }*/
    .video-player {
        position: relative;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: rem(200);
        margin-top: rem(15);
        .video-poster{
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
        }
        .play-icon {
            position: absolute;
            width: rem(44);
            height: rem(44);
            top: 50%;
            left: 50%;
            margin-left: rem(-22);
            margin-top: rem(-22);
            background-image: url('/src/page_app/teacher/img_article/img/play.png');
            background-size: 100% 100%;
        }
        .player-frame{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }
    .teacher-audio{
        position: relative;
        margin-top: rem(20);
        .audio-border{
            width: rem(138);
            height: rem(46);
            vertical-align: sub;
            display: inline-block;
        }
        .audio-wave{
             width: rem(15);
             height: rem(20);
             position: absolute;
             left: rem(20);
             top: 50%;
             margin-top: rem(-10);
             display: inline-block;
         }
        .audio-length{
            position: absolute;
            display: inline-block;
            font-size: rem(12);
            color: #9d9d9e;
            left: rem(90);
            transform: translateY(-50%);
            top: 50%;
        }
        .audio{
            width: rem(138);
            height: rem(46);
            position: absolute;
            top: 0;
            left: 0;
            vertical-align: sub;
        }
    }

}
.main-pink{
    background: #FFE6EE;
}
.main-blue{
    background: #E2F2FD;
}
.main-green{
    background: #f2f2eb;
}
.main-brown{
    background: #fffcf2;
}
.main-black{
    background: #fff;
}
.bottom{
    display: flex;
    background: #fff;
    width: 100%;
    height: rem(52);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(11) rem(15) rem(11) 0;
    z-index: 20;
    .style-title{
        display: block;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        margin-left: rem(15);
        font-size: rem(15);
        color: #9d9e9e;
        line-height: rem(30);
        width: rem(60);
    }
        .circle-ul{
            width: 100%;
            .circle-li{
                display: inline-block;
                width: 14.6%;
                text-align: center;
                .circle{
                    width: rem(30);
                    height: rem(30);
                    border-radius: 50%;
                    position: relative;
                    display: inline-block;
                    .check{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: none;
                    }
                }
                .circle-none{
                    background: #fff;
                    border: 1px solid #cdcdce;
                }
                .circle-black{
                    background: #000;
                }
                .circle-brown{
                    background: #9e2132;
                }
                .circle-pink{
                    background: #ffcdd1;
                }
                .circle-green{
                    background: #4ccbc3;
                }
                .circle-blue{
                    background: #5dc8ed;
                }
            }
            .on .circle .check{
                display: block;
            }
        }

}

