@import 'compile_spa/resource/css/mixin/position.styl';
.recruit-home-header {
    position: relative;
    padding-bottom: 80%;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &>div {
        v-center(absolute);
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        p {
            margin: rem(8) 0;
        }
        .first {
            font-size: rem(62.83);
            color: #FFFFFF;
            letter-spacing: rem(-1.09);
            line-height: rem(62.83);
            text-shadow: 0 rem(2) rem(11) rgba(0,0,0,0.69);
        }
        .second {
            font-size: rem(17.33);
            color: #FFFFFF;
            letter-spacing: rem(10.83);
            line-height: rem(19.5);
        }
        .third {
            opacity: 0.6;
            font-size: rem(13);
            color: #FFFFFF;
            letter-spacing: rem(5.63);
            line-height: rem(10.83);
        }
    }
    
}
