@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "common/ui/Loading/index.styl";
@import "page/studentRoom/orderDetail/_part/detail.styl";
@import "page/studentRoom/orderDetail/_part/signTeacher.styl";
@import "page/studentRoom/_part/refresh.styl";

#wrapper {
    top: 0;
    #scroller {
        .list-box {
            padding-bottom: rem(60);
        }
    }
}

.pay-button {
    margin-top: rem(100);
    position: fixed;
    bottom: rem(-1);
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    line-height: rem(48);
    width: 100%;
    height: rem(48);
    display: flex;
    font-family: PingFangSC-Semibold;
    font-size: rem(17);
    .tempary-no-pay {
        flex: 1.3;
        background: white;
        color: #3d3d3e;
    }
    .do-pay, .cancel-pay{
        flex: 2;
        background: #37a4f5;
        color: #fff;
    }
}