<div class="dropdown
{{#if options.className}} {{options.className}}{{/if}}
{{#if options.hidden}} hidden{{/if}}
">
    <div class="button secondary"
    {{#if options.disabled}} disabled{{/if}}
    >
        <i class="icon icon-caret-down"></i>
        <span class="text">
            {{{options.defaultText}}}
        </span>
    </div>
    <ul class="menu"></ul>
    <input type="hidden" name="{{options.name}}" />
    <div class="tooltip error right" data-error-for="{{options.name}}"></div>
</div>