.date-time {
    display: inline-block;
    width: 306px;
    &-content {
        padding-left: 0;
        input.form-control {
            width: 212px;
        }
    }
    .input-group-addon {
        background-color: #fff;
    }
}