{{ *

@file 客户端登录后课表页面
@author zhangliyuan

* }}


{{ strip }}

{{ $has_data = count($tpl_data.course_list) > 0 }}
{{ $user_type = $user_data.user_type }}

{{ if !$has_data }}
    {{ if $user_type == 2 }}
        {{ $class = ' no-data-student' }}
    {{ else }}
        {{ $class = ' no-data-teacher' }}
    {{ /if }}
{{ else }}
    {{ $class = '' }}
{{ /if }}

<div class="timeline{{ $class }}">

{{ if $user_type == 2 && !$has_data }}
    <!-- <a href="http://www.genshuixue.com/s/approach/2/sort/all/video/0/local/0/city/17039360/source/search/search.html" class="new-class"> -->
    <p class="new-class">
    什么！你居然没约课程？
    </p>
{{ /if }}

<img class="icon-caret-left" src="{{ $static_origin }}/src/img/client/icon-left.png">


    <div class="reload-bar">
        <div class="hint-word">刷新以显示新近到达上课时间的教室入口</div>
        <div class="btn-default reload">
            <!-- <div class="reload-icon"> -->
                <img class="reload-icon" src="{{ $static_origin }}/src/img/client/icon-reload.png">


            <div>
                刷新
            </div>
        </div>

        {{ if $user_type == 0 }}
        <div class="btn-default enter-public-classroom">

            <svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                <path fill="#1C1B1B" d="M19.3,1.8H0.7C0.3,1.8,0,2.1,0,2.5v12.4c0,0.4,0.3,0.7,0.7,0.7H5l-0.4-1.4H1.4v-11h17.2v11h-3.1
                    c0.8,0.3,1.6,0.8,2.3,1.4h1.5c0.4,0,0.7-0.3,0.7-0.7V2.5C20,2.1,19.7,1.8,19.3,1.8L19.3,1.8z M14.7,15.4c-0.1,0-0.1-0.1-0.2-0.1
                    c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.3-0.1-0.4-0.1c0,0-0.1,0-0.1,0h-0.1c0,0-0.1,0-0.1,0c-0.4,0.2-0.9,0.3-1.4,0.3c-0.5,0-1-0.1-1.4-0.3
                    c0,0-0.1,0-0.1,0h-0.1c0,0,0,0,0,0c-0.1,0-0.3,0.1-0.4,0.1c-0.1,0-0.1,0-0.2,0.1c-0.1,0-0.1,0-0.2,0.1c-0.2,0.1-0.4,0.1-0.5,0.2l0,0
                    l0,0c-0.2,0.1-0.4,0.2-0.6,0.3l-0.2-0.3l0,0l-0.2-0.4l-1.7-2.7c-0.1-0.2-0.3-0.2-0.5-0.2c-0.2,0.1-0.3,0.3-0.2,0.5l0.3,1.3l0,0
                    l0.4,1.4l0,0L7,17.8c0,0,0,0.1,0,0.1V18c0,0.1,0.1,0.2,0.2,0.2h9.9c0.1,0,0.2-0.1,0.2-0.2v-0.8c0-0.1,0-0.1-0.1-0.2
                    C16.5,16.3,15.7,15.8,14.7,15.4L14.7,15.4z M9.8,11.7c0,0.2,0.2,0.4,0.4,0.4c0,0,0,0,0,0c0.1,1.1,1,2.3,2,2.3c1.1,0,1.9-1.1,2-2.3
                    c0,0,0,0,0,0c0.2,0,0.4-0.2,0.4-0.4c0-0.2-0.1-0.3-0.2-0.4c0.1-0.3,0.1-0.5,0.1-0.8c0-1.4-1-2.5-2.3-2.5c-1.3,0-2.3,1.1-2.3,2.5
                    c0,0.3,0,0.6,0.1,0.8C9.9,11.4,9.8,11.5,9.8,11.7L9.8,11.7z M9.8,11.7"/>
            </svg>

            体验教室
        </div>
        {{ /if }}

    </div>

{{ if $has_data }}

    <div class="course-list">
    <div class="course-list-inner">
{{ foreach $tpl_data.course_list as $items }}
        {{ $item = $items.lessons[0] }}

        {{ $lesson = $item.lesson }}

        {{ $course_type = $item.purchase.course_type }}

        <div class="course-item">

            <div class="course-date">

                {{ $yesterday = ($ts - 24 * 60 * 60)|date_format: '%Y-%m-%d' }}

                {{ $today = $ts|date_format: '%Y-%m-%d' }}

                {{ $tomorrow = ($ts + 24 * 60 * 60)|date_format: '%Y-%m-%d' }}

                {{ $start_date = $item.lesson.start_time|date_format: '%Y-%m-%d' }}

                <p class="data-text">
                    {{ if $today == $start_date }}
                        今天
                    {{ elseif $yesterday == $start_date }}
                        昨天
                    {{ elseif $tomorrow == $start_date }}
                        明天
                    {{ else }}
                        {{ $item.lesson.start_time|date_format: '%Y-%m-%d' }}
                    {{ /if }}
                </p>

                <i class="icon icon-circle"></i>

            </div>


            <div class="course-info">
                {{ if $user_type == 2 }}
                <!-- 学生课前1小时，课后3小时不允许进入 -->
                    {{ if $item.operation.actions.enter_classroom.disabled == 1 }}

                        {{ if $smarty.now - strtotime($lesson.end_time) > 10800 }}

                            <a class="btn-default no-enter-class" data-title="下课超过3小时无法进入课堂">
                                进入课堂
                            </a>


                        {{ else if strtotime($lesson.start_time) - $smarty.now > 3600 }}

                            <a class="btn-default no-enter-class" data-title="未到进教室时间哦">
                                进入课堂
                            </a>

                        {{ /if }}
                    {{ else }}

                        <button class="btn-primary enter-class" data-online='{{ json_encode($item.lesson.online_data, 77) }}'>进入课堂</button>

                    {{ /if }}
                {{ else }}
                <!-- 老师课前4小时，课后3小时不允许进入 -->
                    {{ if $item.operation.actions.enter_classroom.disabled == 1 }}

                        {{ if $smarty.now - strtotime($lesson.end_time) > 10800 }}

                            <a class="btn-default no-enter-class" data-title="下课超过3小时无法进入课堂">
                                进入课堂
                            </a>


                        {{ else if strtotime($lesson.start_time) - $smarty.now > 14400 }}

                            <a class="btn-default no-enter-class" data-title="未到进教室时间哦">
                                进入课堂
                            </a>

                        {{ /if }}
                    {{ else }}

                        <button class="btn-primary enter-class" data-online='{{ json_encode($item.lesson.online_data, 77) }}'>进入课堂</button>

                    {{ /if }}
                {{ /if }}

                <a class="thumbnail circle">
                    {{ if $user_type == 0 && $course_type == 2 }}
                        {{ $url = $items.class_course.photos[0].url }}
                    {{ else }}
                        {{ $url = $item.user.avatar }}
                    {{ /if }}

                    {{ include file="common/component/image.html" url=$url width=78 }}
                </a>

                <div class="course-text" data-c-time="{{ $item.lesson.start_time }}">
                    <p>{{ $item.lesson.start_time }}</p>
                    <p>
                    {{ if $user_type == 2 }}
                        跟<em>{{ $item.purchase.teacher_user_name }}</em>学 {{ $item.purchase.course_name }}
                    {{ elseif $course_type != 2 }}
                        教<em>{{ $item.purchase.real_student }}</em>学 {{ $item.purchase.course_name }}
                    {{ else }}
                        {{ $item.purchase.course_name }}
                    {{ /if }}
                    </p>

                    <p class="course-no" data-course-no="{{ $item.lesson.serial_number }}">
                        {{ if $course_type != 2 }}
                            约课编号{{ $item.lesson.serial_number }}
                        {{ else }}
                            <a class="class-course">班课</a>
                        {{ /if }}
                    </p>
                </div>

            </div>

        </div>
        {{ /foreach }}
        </div>
    </div>

{{ /if }}

</div>
{{ /strip }}