//顶部轮播图
.head {
    position: relative;

}

.bottom {
    .share-reward {
        left: 2%;
        .triangle-down {
            top: rem(18);
        }
    }
}

.top-sliders {

    width: 100%;
    height: rem(180);
    overflow: hidden;
    ul {
        position: relative;
        height: 100%;
        li {
            position relative;
            width: 100%;
            height: rem(180);
            overflow: hidden;
            float: left;
        }
    }
    .slide-control {
        position: absolute;
        bottom: 0;
        right: rem(5);
        .slide-position {
            width: rem(8);
            height: rem(8);
            border: 1px solid #fff;
            border-radius: 50%;
            display: inline-block;
            margin: rem(3);
            background-color: transparent;
            &.on {
                background-color: #fff;
            }
        }
    }

}

.label {
    position: absolute;
    bottom: rem(20);
    right: rem(10);
    height: rem(25);
    line-height: rem(25);
    font-size: rem(15);
    text-align: center;
    padding: 0 rem(12);
    background-color: #ff9100;
    color: #fff;
}
