.head {
    z-index: 3;
    width: 100%;
    padding-top: 56%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    .baseInfo-name {
        color: #fff;
        font-size: rem(24);
        position: absolute;
        left: rem(15);
        bottom: rem(40);
        text-shadow: rem(1) rem(2) rem(5) #000;
        &.b5 {
            bottom: rem(5);
        }

    }
    .label {
        color: #fff;
        background-color: #ff6c00;
        height: rem(25);
        line-height: rem(25);
        font-size: rem(18);
        padding: 0 rem(5);
        text-align: center;
        position: absolute;
        right: rem(15);
        bottom: rem(12);

    }
    .edit-background {
        position: absolute;
        top: rem(10);
        right: rem(105);
        color: #fff;
        img {
            width: rem(100);
            height: rem(27);
        }
    }
    .price {
        font-size: rem(15);
        color: #ff6c00;
        position: absolute;
        left: rem(15);
        bottom: rem(12);
        text-shadow: rem(1) rem(2) rem(5) #000;
        .num {
            font-size: rem(20);
        }
        .unit {
            color: #fff;
        }
        .can-staging {
            font-size: rem(12);
            background: #60b4f9;
            color: #fff;
            padding: rem(1) rem(4) rem(0);
            background: #1694ff;
            display: inline-block;
            margin-left: rem(5);
            text-shadow: none;
            border-radius: rem(2);
        }
    }
}
