/**
 * @file 静态页面 - 机构入驻协议
 * @author shubaiqiao
 */

@import "page_app/_base/base.styl";


.s-s{
    font-size:9.0pt;
    mso-bidi-font-size:11.0pt;
}

#content-body{
    background: #fff;
    padding: rem(10) rem(20);
    p{
        margin: rem(8) 0;
    }
    b{
        font-weight: bold;
    }
}

#clause {


    .title {
        text-align: center;
    }

    h4,
    h5 {
        margin: 0;
        padding: 0;
    }

    h4 {
        padding: rem(8);
    }

    h5 {
        padding: rem(6.4) rem(8);
        line-height: rem(19.2);
    }
}
