/**
 * @file 秘书提醒
 * @author zhangjiayi
 */

@import '../common/center/common/layout.less';

#content {

    .card-body {

        text-align: center;
        padding-left: 0;
        padding-right: 0;

        .no-data {
            text-align: center;
            width: 100%;
            .vertical-middle(330px);
        }

        .message-body {

            .message-table {

                //font-size: 16px;
                margin-left: 20px;
                width: 95%;

                td {
                    cursor: default;
                }
                .message-table-checked {
                    color: @brand-primary;
                    padding: 0;
                    width: 2%;
                }
                .message-table-content {
                    padding-rihgt: 10px;text-align: left;
                    width: 60%;
                }

                .message-table-time {
                    padding-rihgt: 10px;
                    width: 15%;
                }

                .message-table-type  {
                    padding-rihgt: 10px;
                    width: 10%;
                }

                .message-table-operation {

                    width: 10%;
                    a {
                        cursor: pointer;
                        color: @brand-primary;
                    }

                }

                .checked {
                    td {
                        color: @brand-gray;
                        font-color: @brand-gray;
                        a {
                            color: @brand-gray;
                        }
                    }
                }

            }

        }

    }

}
