/**
 * @file 课程简介
 * @author wangyujie
 */
.class-info {

    clear: both;

    .content {
        padding: 20px;
        .word-break();
        .clearfix();
    }

    h2 + .form-hint {
        margin-top: @gap-vertical-large;
    }

    .form-editor {
        width: 700px;
        margin-top: @gap-vertical-small;
    }

    textarea {
        width: 678px;
        height: 80px;
    }

    .form-error {
        border: 1px solid @brand-error;
    }

    .child-error {
        .edui-editor {
            border: 1px solid @brand-error;
        }
    }

    .form {
        h2 {
            .text-error.small {
                color: @brand-info;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }

}

.sensitive {
    em {
        color: @brand-primary;
    }
}
