/**
 * @file 班课设置 - 教学计划
 * @author wangyujie
 */
@import "../classCourse/quickTeachingPlanDialog.less";

.teaching-plan {

    .form {
        .form {
            padding: 0;
        }
        text-align: left;
        textarea[name='arrangement'] {
            width: 32em;
        }
        input[name='retire_length'], input[name='chaban_quota'] {
            width: 50px;
            margin: 0 5px;
        }
        input[name='chaban_price'] {
            width: 80px;
            margin: 0 5px;
        }
        input[name="chaban_flag"] {
            margin:  0 5px;
        }

        .form-controls {
            margin-left: 84px;
        }
        .form-action {
            margin-top: @gap-vertical-medium;
        }
        .form-radio {
            padding-top: 0;
        }
        .price-way {
            display: none;
        }
        .actions {
            & > div {
                padding-left: 10px;
                margin: 20px 0 10px 0;
                span {
                    cursor: pointer;
                }
                .icon.icon-plus-o {
                    vertical-align: top;
                    margin-right: 5px;
                    margin-top: 1px;
                    font-size: 19px;
                }
            }
        }
    }

    .schedule {
        & > * {
            .inline-block();
            vertical-align: top;
        }
        .label, .cancel {
            padding-top: 12px;
        }

        .label {
            width: 70px;
        }

        .cancel {
            color: @brand-info;
            cursor: pointer;
            margin-left: 10px;
            &:hover {
                color: @brand-primary;
            }
        }
        .schedule-form {
            width: 540px;

            .calendar {
                display: none;
            }

            input[name='content'] {
                width: 452px;
            }
            input[name='course_date'] {
                width: 148px;
            }


            .start-time {
                margin: 0 @gap-horizontal-medium;
                .form-text {
                    width: 130px;
                }
            }

            .end-time {
                margin-left: @gap-horizontal-medium;
                .btn-default {
                    width: 130px;
                    color: @brand-text-light;
                }
                .text-info {
                    float: right;
                }
                .dropdown-menu li {
                    padding: 5px;
                }
            }

            .daytime-select {

                position: relative;

                .trigger {

                    .user-select(none);

                    cursor: pointer;
                    padding: 10px;

                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .teacher-list {
                width: 150px;
            }

            .is-org {
                display: none;
            }

            .form-label, .form-static, .form-controls {
                .inline-block();
                vertical-align: middle;
            }

            .form-controls {
                margin-left: 0;
            }

            .form-label {
                float: none;
            }

            .form-static {
                width: 450px;
            }

        }

        .calendar {
            z-index: 2;
        }
    }

    .schedule.disabled {
        & > * {
            .inline-block();
            vertical-align: top;
        }
        .label {
            padding-top: 12px;
            width: 70px;
        }
        span + span {
            margin-left: 5px;
        }
        .form-static {
            width: 490px;
        }
        .schedule-form {
            width: 580px;
        }
        .content {
            .word-break();
        }
    }


}
