.form-select {
    margin-bottom: 10px;
    margin-top: 10px;
}

.classify-keyword {
    width: 550px;
    height: 34px;
}

.course-classify {
    height: 34px;
    border: none;
    border-radius: 0;
}

.classify-result {
    border: 1px solid rgb(229,229,229);
    width: 540px;
    display: none;
    position: absolute;
    z-index: @zindex-small;
    background: #FFF;
}

.row-classify {
    margin: 10px;
}

.row-classify:hover {
    background-color: #fffbef;
    border-color: #f8ce69;
    color: #f90;
    cursor: pointer;
}

.row-con {
    .clearfix();
    padding-left: 6px;
}

.classify-content .row-con {
    padding-left: 65px;
}

.row-col-classify {
    float: left;
    border-style: solid;
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 3px;
    padding: 3px;
    width: 92px;
}

.classify-content .row-col-classify {
    margin-left: 0;
}

.row-col-classify:hover {
    float: left;
    background-color: #fffbef;
    border-color: #f8ce69;
    color: #f90;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.hidden-classify {
    display: none;
}

.row-head {
    margin: 10px;
}

.no-data-message {
    padding: 10px;
    background: #fff;
    font-size: 13px;
}

.remark_name {
    width: 100px;
    float: left;
    margin-right: 3px;
    overflow: hidden;
}

.classify-name {
    color: #f90;
    float: left;
    font-size: 83%;
    width: 65px;
    padding-left: 10px;
    padding-top: 4px;
}

.classify {
    .clearfix();
    position: relative;
}

.classify-content {
    position: relative;
}