@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
body {
    background: rgb(248, 214, 130);
    background-size: 100%;
    background-repeat: no-repeat;
}
$color = rgba(200,200,200,.3);
.sign_succ {
    transform: scale(2)!important;
    opacity: 0!important;
}

.share-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    background-color: #000;
    opacity: 0.65;
    .content {
        position: absolute;
        top: rem(10);
        width: 100%;
        height: 100%;
        img {
            width: rem(200);
            height: rem(150);
            position: absolute;
            top: 0;
            right: rem(20);
        }
    }
}

.share-line {
    width: rem(200);
    display: none;
    overflow: hidden;
    margin: 0 auto;
    .icon-line {
        width: rem(200);
        margin: 0 auto;
        overflow: hidden;
        margin-top: rem(10);
        div {
            width: rem(100);
            height: rem(30);
            text-align: center;
            border: 1px solid #f8b430;
            margin: 0 auto;
            line-height: rem(26);
            border-radius: rem(5);
            padding: 0;
            font-size: rem(14);
            color: #f8b430;
        }
        img {
            width: rem(200);
            height: rem(27);
            display: block;
            margin: 0 auto;
        }
    }
    .action-line {
        height: rem(27);
        width: rem(200);
        margin: 0 auto;
        margin-top: rem(-27);
        .share-icon {
            height: rem(27);
            display: inline-block;
            width: 25%;
        }
    }
}

.none-data {
    .none-img {
        text-align: center;
        padding: rem(30) 0 rem(10) 0;
        img {
            height: rem(46);
            width: rem(61);
        }
    }
    .nont-text {
        font-size: rem(12);
        text-align: center;
        color: #999;
    }
}

.content-panel {
    transition: all 1s ease;
    transform: translateY(0);
    &.on {
        transform: translateY(rem(-140));
    }
}

.card_parent {
    min-height: rem(360);
    overflow: hidden;
    position: relative;
}

.typing_loader {
    width: rem(8);
    height: rem(8);
    animation: typing 1s linear infinite alternate;
    margin: rem(10) auto;
    position: relative;
    left: rem(-12);
}

@keyframes typing {
    0% {
        background-color: rgba(255, 145, 1, 1);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    25% {
        background-color: rgba(255, 145, 1, 0.4);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    75% {
        background-color: rgba(255, 145, 1, 0.4);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 1);
    }
}

.more-button {
    position: relative;
    height: rem(40);
    padding: rem(5);
    line-height: rem(30);
    text-align: center;
    background-color: #fff;
    margin: rem(10) 0;
    .typing_loader {
        display: none;
    }
    &.loading {
        .typing_loader {
            display: block;
        }
        .text {
            display: none;
        }
    }
}

.sign_card {
    top: 0;
    width: 100%;
    transition: all 0.5s ease;
    .time-line {
        font-size: rem(40);
        text-align: center;
        .sign_tip {
            color: #ffca7c;
            font-size: rem(28);
            display: block;
            line-height: 1.5;
        }
        .icon {
            img {
                display: inline-block;
                height: rem(30);
                width: rem(30);
                margin-top: rem(-6);
                margin-right: rem(5);
                margin-left: rem(-30);
            }
        }
        .honor_line {
            margin-top: rem(6);
        }
        span.w_score {
            font-size: rem(20);
            color: #666 !important;
            font-weight: bold;
            margin: 0 rem(5);
        }
    }
    .detail_content {
        background: #fff;
        border-radius: rem(20);
        min-height: rem(200);
        margin: rem(20) rem(10);
        overflow: hidden;
    }
    .tstyle {
        border-radius: rem(20);
        position: relative;
        height: rem(30);
        background: #fff;
    }
    .content-p {
        height: rem(47);
        position: relative;
        text-align: center;
    }
    .content-box {
        position: relative;
        margin-top: rem(60);
        width: 100%;
        .cbg-img {
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
        .sign-time {
            p {
                font-size: rem(14);
                margin-top: rem(13);
                text-align: center;
                color: #6d6d6e;
            }
            .should-do {
                span {
                    display: inline-block;
                    padding-right: rem(10);
                }
            }
            .honor {
                color: #9d9e9e;
                text-align: center;
                line-height: rem(20);
                font-size: rem(12);
                span {
                    color: #ffca7c;
                }
            }
        }
        .micro-line {
            margin: rem(10) rem(20) 0;
            line-height: 1.5;
            font-size: rem(14);
            .h5 {
                color: rgb(32, 133, 95);
                text-align: left;
                font-size: rem(12);
                border: 1px solid rgb(32, 133, 95);
                line-height: 1.4;
                display: inline-block;
                padding: 0 rem(4);
                border-radius: rem(6);
                display: inline-block;
                margin-right: rem(5);
            }
            .title {
                font-weight: bold;
                font-size: rem(14);
            }
            .m-content {
                margin-top: rem(5);
            }
            p {
                font-size: rem(14);
                color: #666;
                line-height: 1.5;
                text-align: left;
            }
        }
        .up-img {
            border: 3px solid #fff;
            background: #fff;
            width: rem(94);
            height: rem(94);
            border-radius: 100%;
            margin: 0 auto;
            overflow: hidden;
            margin-top: rem(-41);
            position: absolute;
            display: inline-block;
            margin-left: rem(-48);
            left: 50%;
            img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 100%;
            }
        }
    }
    .detail-content {
        box-shadow: rem(0) rem(-8) rem(15) $color;
        background: #fff;
        border-radius: rem(20);
        margin: 0 rem(10);
        margin-top: rem(-25);
        z-index: 100;
        position: relative;
        padding-bottom: rem(20);
    }
    .t-01 {
        margin: 0 rem(20);
    }
    .t-02 {
        margin: rem(-25) rem(15) 0 rem(15);
        box-shadow: rem(0) rem(-8) rem(10) $color;
    }
}

.info-line {
    display: none;
}

.get-score {
    text-align: center;
    font-size: rem(18);
    margin: rem(30) 0 rem(40) 0;
    .succ-orange {
        color: #ff9100;
    }
    .succ-score {
        color: #9d9e9e;
        margin-top: rem(15);
        span {
            font-size: rem(40);
            color: #3c3c3c;
        }
    }
}

.page_top {
    height: rem(40);
    position: relative;
    color: #fff;
    font-size: rem(14);
    line-height: rem(40);
    margin-top: rem(10);
    p {
        position: absolute;
        display: inline-block;
    }
    .my_score {
        left: rem(20);
        top: 0;
    }
    .score_market {
        right: rem(20);
        color: #fff;
        top: 0;
    }
}

.dialog_1 {
    display: none;
}

.dialog {
    background-color: #fff;
    .close-btn {
        width: rem(40);
        height: rem(40);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 0;
        top: 0;
    }
    .top_tip {
        font-size: rem(12);
        color: #9d9e9e;
        text-align: left;
        span {
            display: inline-block;
            margin-right: rem(5);
        }
    }
    .micro-line {
        .h5 {
            font-size: rem(12);
            color: #6d6d6e;
            text-align: left;
        }
        p {
            font-size: rem(14);
            color: #3c3c3c;
            line-height: rem(18);
            margin-top: rem(6);
        }
    }
    .honor {
        font-size: rem(12);
        color: #9d9e9e;
        text-align: left;
        text-align: center;
        margin-top: rem(10);
        span {
            color: #ffca7c;
        }
    }
    .time-line {
        font-size: rem(40);
        margin-top: rem(30);
        height: rem(50);
        line-height: rem(50);
        text-align: center;
        .icon {
            img {
                display: inline-block;
                height: rem(30);
                width: rem(30);
                margin-top: rem(-6);
                margin-right: rem(5);
                margin-left: rem(-30);
            }
        }
    }
}

.GSX_Dialog.GSX_Dialog_default {
    padding-top: 0!important;
}

.daka_btn {
    background: #faaa39;
    border: 6px solid rgba(250, 175, 56, 0.10);
    box-shadow: rem(0) rem(2) rem(4) rem(0) #fed87c;
    width: rem(110);
    height: rem(110);
    font-size: rem(22);
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: rem(96);
    margin: rem(13) auto 0 auto;
    box-shadow: rem(0) 0 rem(13) rgba(200, 200, 200, 1);
    transition: all 1s ease;
    animation: myfirst 3s;
    animation-iteration-count: infinite;
    &.on {
        background: #ffca7c;
        box-shadow: 0 0 0 rgba(200, 200, 200, 1);
    }
}

@keyframes myfirst {
    0% {
        box-shadow: rem(0) 0 rem(3) rgb(250, 197, 79);
    }
    50% {
        box-shadow: rem(0) 0 rem(30) rgba(60, 60, 60, 0.5);
    }
    100% {
        box-shadow: rem(0) 0 rem(3) rgb(250, 197, 79);
    }
}

.detail_content {
    background: #fff;
    border-radius: rem(20);
    min-height: rem(200);
    margin: rem(20) rem(10);
    overflow: hidden;
}

.c_m {
    position: relative;
    height: 0;
    z-index: 1;
    img {
        width: rem(77);
        display: block;
        position: absolute;
        top: rem(5);
        left: rem(58);
    }
}

.user_items {
    li {
        height: rem(65);
        border-bottom: 1px solid #eee;
    }
    li:last-child {
        border-bottom: 0;
    }
}

.rank {
    width: rem(24);
    height: rem(31);
    position: absolute;
    right: rem(40);
    top: rem(17);
    text-align: center;
    img {
        width: 100%;
    }
}

.item-info {
    padding-left: rem(73);
    padding-right: rem(80);
    position: relative;
    height: rem(65);
    .u-logined {
        padding: rem(12) 0;
    }
    .u-name {
        font-size: rem(15);
        color: #3c3c3c;
        text-align: left;
    }
    .u-quit {
        font-size: rem(12);
        color: #9d9e9e;
        line-height: 1.4;
    }
    a {
        color: #fff;
    }
    .u-unlogin {
        height: rem(54);
        line-height: rem(54);
        color: #fff;
        font-size: rem(14);
    }
}

.u-img {
    width: rem(40);
    height: rem(40);
    border-radius: 100%;
    position: absolute;
    left: rem(20);
    top: rem(10);
    overflow: hidden;
    background-color: #fff;
    img {
        width: 100%;
        height: 100%;
    }
}

.top-title {
    background: #f7f9fa;
    height: rem(56);
    line-height: rem(56);
    font-size: rem(18);
    color: #6d6d6e;
    position: relative;
    padding-left: rem(130);
}

