{{ *

@file 机构信息模块
@author jixiaohui

* }}

{{ strip }}

{{ $header = $tpl_data.base_info }}

{{ if $tpl_data.base_info.domain }}
{{ $domain = $tpl_data.base_info.domain }}
{{ else }}
{{ $domain = $tpl_data.base_info.number }}
{{ /if }}

{{ $url_index = "http://www.genshuixue.com/i/"|cat:$domain }}
{{ $url_comment = "http://www.genshuixue.com/i/comment/"|cat:$domain }}

{{ if $tpl_data.abtest }}
    {{ $url_index = "http://www.genshuixue.com/i/"|cat:$domain }}
    {{ $url_comment = "http://www.genshuixue.com/i/comment/"|cat:$domain }}
{{ /if }}

<div class="goldorg-profile">
    <div class="inner-container">
        {{ include file="common/main/common/header.html" }}

        <div class="profile-detail">
            <div class="org-avatar">
                {{ if $header.avatar }}
                    {{ include file="common/component/image.html" width=60 url=$header.avatar alt=$header.name }}
                {{ else }}
                    <b class="avatar-big">
                        <div class="logo"></div>
                    </b>
                {{ /if }}
            </div>
            <div class="detail-info">
                <div class="first-child">
                    <span class="org-name">{{ $header.name }}</span>
                    <span class="org-addr">
                        <i class="icon icon-location-o"></i>
                        {{ $header.location }}
                    </span>
                </div>
                <div>
                    <span>
                        <em >{{ $header.score }}</em>分
                        <a href="{{ $url_comment }}">(&nbsp;{{ $header.comments_cnt }}条评论&nbsp;)</a>
                    </span>
                    <span class="visit-count">
                        · 浏览 <span class="visit-amount"></span> 
                     </span>
                    <span class="student-count">
                        · 学生 <span class="student-amount"></span>
                    </span>
                </div>
            </div>
            <div class="certification">
                <div class="cert-medal">
                    <div class="inner-container">
                        <div class="gold-cert"></div>
                        <div class="org-name">
                            {{ $header.name }}
                        </div>
                        <div class="text-info">
                            通过国际权威认证机构瑞士SGS实地审核
                        </div>
                        <div class="website-logo"></div>
                        <div class="effective-time">
                            2017
                        </div>
                    </div>
                </div>
            </div>

            {{ if isset($header.extension) && $header.extension }}
                <span class="contact-way">
                    <i class="icon icon-phone-o"></i>
                    &nbsp;{{ $header.extension }}
                </span>
            {{ /if }}
        </div>
    </div>
</div>


{{ /strip }}