{{ *
@file 考研功能头部文件
@author caoying
@date 2016-02-18
* }}

{{ strip }}
<div id="header">
    <div class="wrapper">
        <a href="{{ $origin }}" class="title" data-click="topnav">
            <!--img src="http://img.gsxservice.com/0cms/d/file/content/2016/02/56ca7ab300b92.jpg"-->
        </a>
        <ul class="subject-list">
            {{ foreach $tpl_data.nav as $key=>$nav }}
            <li class="subject-item" data-id="{{ $nav.subject.id }}">
                <div class="item {{ if $nav.subject.id == $subject_id }}active{{ else }}{{ if $subject_id > 4 && $nav.subject.id == 4 }} active {{ /if }}{{ /if }}" data-href="{{ $origin }}/courses?subject_id={{ $nav.subject.id }}" data-click="topnav">
                {{ $nav.subject.name }}
                </div>
                <div class="menu">
                    {{ foreach $nav.items as $items }}
                    {{ if $items@index < 8 }}
                        {{ if isset($items.role) }}
                            {{ $item_url = "courses?subject_id="|cat: $nav.subject.id|cat: "&teacher_number="|cat: $items.number  }}
                        {{ else }}
                            {{ $item_url = "courses?subject_id="|cat: $items.id }}
                        {{ /if }}
                        <a href="{{ $origin }}/{{ $item_url }}" target="_blank" data-click="topnavMenu">
                            <span>
                                {{ if isset($items.role) }}
                                 {{ if strlen($items.display_name) > 16 }}
                                    {{ mb_substr($items.display_name,0,5)|cat:"..." }}
                                    {{ else }}
                                    {{ mb_substr($items.display_name,0,5) }}
                                    {{ /if }}
                                {{ else }}
                                    {{ if strlen($items.name) > 16 }}
                                    {{ mb_substr($items.name,0,5)|cat:"..." }}
                                    {{ else }}
                                    {{ $items.name }}
                                    {{ /if }}
                                {{ /if }}
                            </span>
                        </a>
                        {{ /if }}
                    {{ /foreach }}
                    {{ if $nav.items|count > 8 }}
                    <a href="{{ $origin }}/courses?subject_id={{ $nav.subject.id }}" target="_blank">
                        <span>更多...</span>
                    </a>
                    {{ /if }}
                </div>
            </li>
            {{ /foreach }}
            <li class="subject-item" data-id="5">
                <div class="item">下载App</div>
                <div class="menu menu-downLoad">
                    <div class="app-qrCode">
                        <div class="qrCode-img">
                            <!-- 线上地址二维码 http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f8735b7de.png -->
                            <!-- test环境地址二维码 http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f72914e0b.png -->
                            <img data-src="http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f8735b7de.png"/>
                        </div>
                    </div>
                    <div class="download-summary">
                        <p class="download-title">下载跟谁学考研客户端</p>

                        <a href="https://itunes.apple.com/us/app/kao-yan-bu-luo/id1080651677?l=zh&ls=1&mt=8" class="iphone-icon qrCode-switch" data-code="iphone" target="_blank">
                            <img src="http://img.gsxservice.com/0cms/d/file/content/2016/02/56ca835521ef8.png"/>
                            <span>iPhone版下载</span>
                        </a>
                        <a href="http://d.gsxservice.com/app/genshuixuekaoyan.apk" class="android-icon qrCode-switch" data-code="android" target="_blank" data-click="topnavMenu">
                            <img src="http://img.gsxservice.com/0cms/d/file/content/2016/02/56ca8354cda76.png"/>
                            <span>Android版下载</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="tel">
            <span class="tel-title">全国统一咨询热线：</span>
            <span class="tel-number">{{ $tpl_data.site_config.contact }}</span>
        </div>
    </div>
</div>
{{ /strip }}