/**
 * @file 会员2.0静态页
 * @author niejianhui
 */
@import '../../../common/layout.styl';
#breadcrumb {
	display: none;
}
#container {
	#top {
		height: 1034px;
		background: url("./img/header.png") no-repeat center center;
	}
	#vipShow {
		height: 370px;
		width: 1086px;
		margin: 0 auto;
		#title {
			font-family:FZLTZHK--GBK1-0;
			font-size:28px;
			color:#333333;
			line-height:28px;
			margin-top: 40px;
			margin-bottom: 37px;
		}
		#showDetail {
			width: 1086px;
			margin: 0 auto;
			.showItem {
				width: 250px;
				height: 240px;
				float: left;
				margin-left: 28px;
				&:first-child {
					margin-left: 0;
				}
			}
			.clearfix {
				clear: both;
			}
		}
	}
	#vipData {
		height: 410px;
		background: url("./img/introOne.png") no-repeat center center;
	}
	#introTwo {
		height: 2468px;
		background: url("./img/introTwo.png") no-repeat center center;
	}
	#introThree {
		height: 2390px;
		background: url("./img/introThree.png") no-repeat center center;
	}
	#introFour {
		height: 1222px;
		background: url("./img/introFour.png") no-repeat center center;
	}
}