//课程安排
.course-plan {
    margin: 0;
    background-color: #fff;
    padding: 0 rem(8);
    .content {
        .summary {
            font-size: rem(15);
            color: #3C3D3E;
            border-bottom: 1px solid #f4f4f4;
            height: rem(50);
            line-height: rem(50);
            ellipsis();
        }
        .list {
            .item {
                font-size: rem(15);
                color: #3C3D3E;
                border-bottom: 1px solid #f4f4f4;
                height: rem(63);
                // line-height: rem(63 / 2);
                div {
                    display: inline-block;
                }
                .index {
                    width: 10%;
                    vertical-align: top;
                    line-height: rem(63);
                }
                .body {
                    width: 88%;
                    .content {
                        padding: rem(10) 0;
                        line-height: rem(43 / 2);
                        width: 100%;
                        .plan-title,.plan-detail {
                            ellipsis();
                        }
                    }
                    .content.one {
                        line-height: rem(43);
                    }
                    .play-back {
                        position: absolute;
                        right: rem(10);
                        line-height: rem(63);
                        top: 0;
                    }
                }
                .has-playback {
                    position: relative;
                    padding-right: rem(60);
                }
            }
            div.finish {
                color: #CDCDCE;
            }
        }
    }
}