{{ strip }}
<div class="mode-list">
    <div class="mode-header">
        相关老师
        <a class="more-link" href="{{ $relativeTeachers.more }}" target="_blank">更多&gt;</a>
    </div>
    <div class="teacher-list">
        {{ include file="common/variable/vipLevel.html" scope=parent }}

        {{ foreach $relativeTeachers.teachers as $teacher }}
        <a class="teacher-item" data-click-monitor="1" data-href="{{ $teacher.url }}" data-rank="{{ $teacher@index+1 }}" data-qid="{{ $teacher.qid }}" href="{{ $teacher.url }}">
            <div class="teacher-avatar">
                {{ include file="common/component/image.html" url=$teacher.avatar width=70 height=70 }}
            </div>

            <div class="teacher-info">
                <div class="teacher-name ellipsis" title="{{ $teacher.display_name }}">
                    {{ $teacher.display_name }}

                    {{ if isset($teacher.vip_level) && $teacher.vip_level }}
                        <i class="icon icon-vip-{{ $vipLevelMap[$teacher.vip_level] }}"
                        data-title="
                            {{ if $teacher.vip_level == 1 }}
                                跟谁学会员
                            {{ else if $teacher.vip_level == 2 }}
                                跟谁学高级会员
                            {{ else if $teacher.vip_level == 3 }}
                                跟谁学超级会员
                            {{ /if }}
                        "></i>
                    {{ /if }}

                </div>
                <div class="teacher-experience">
                    <span>{{ $teacher.school_age }}</span>
                </div>
                <div class="teacher-course ellipsis" title="{{ $teacher.type }}">
                    {{ $teacher.type }}
                </div>
            </div>

        </a>
        {{ /foreach }}
    </div>
</div>
{{ /strip }}