.sign-fail-page {
    .body {
        padding: 0 rem(15);
        margin-top: rem(40);
        .title {
            font-size: rem(15);
            color: #2D2D2E;
            letter-spacing: 0;
            line-height: rem(23);
        }
        .service {
            font-size: rem(15);
            color: #6D6D6E;
            letter-spacing: 0;
            line-height: rem(32);  
        }
    }
}