.post {
    .post-title {
        font-size: 18px;
        color: #333;
    }
    .post-list-wrapper {
        margin-top: 5.5px;
        padding: 13px 20px 20px;
        background: #fff;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
    }

    .post-list {

        .post-item {
            min-height: 130px;
            border-bottom: solid 1px #eee;
            margin-bottom: 13px;
            padding-bottom: 20px;
            position: relative;
            &.with-cover {
                padding-right: 195px;
                .post-item-action {
                    padding-right: 195px;
                }
            }
        }

        .post-item-title {
            color: #333;
            font-size: 18px;
            line-height: 32px;
            height: 32px;
            font-weight: bold;
            a {
                display: block;
                color: inherit;
                &:hover {
                    color: #f90;
                }
            }
        }

        .post-item-action {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
            line-height: 1;
            font-size: 12px;
            color: #999;
            a {
                display: inline-block;
                vertical-align: top;
                color: inherit;
                &:hover {
                    color: #f90;
                }
            }
            .post-time {
                margin-left: 12px;
            }
            .action {
                float: right;
                margin-left: 12px;
                .icon {
                    margin-right: 5px;
                    font-size: 14px;
                }
            }
            .divider {
                display: inline-block;
                height: 12px;
                margin: 0 4px;
                vertical-align: top;
                border-right: solid 1px #999;
            }
        }

        .post-item-content {
            line-height: 20px;
            font-size: 13px;
            color: #666;
            a:hover {
                color: inherit;
            }
        }

        .cover {
            position: absolute;
            right: 0;
            top: 7px;
            display: block;
            img {
                display: block;
            }
        }
    }
}