{{ *

@file 学生中心 - 我的课程回放 - 一对一列表
@author wangyujie

* }}

{{ strip }}

{{ if count($courseInfo.list) }}
    <div class="course-list">
        {{ foreach $courseInfo.list as $item }}
            <div class="course-item {{ if $item@first }}first-item{{ /if }}" data-number="{{ $item.number }}" data-type="{{ $item.course_type }}">
                <div class="course-header">
                    <span>
                        报名时间：{{ $item.enroll_time }}
                    </span>
                    <span>
                        课程编号：{{ $item.number }}
                    </span>
                </div>

                <div class="course-info">
                    <a class="thumb" target="_blank" href="{{ $item.course_url }}">
                        {{ include file="common/component/image.html" url=$item.photo_url width="215" height="120" }}
                    </a>
                    <div class="course-title">
                        <a href="{{ $item.course_url }}" target="_blank">
                            {{ $item.course_name|cn_truncate: 30 }}
                        </a>
                    </div>
                    <div class="schedule">
                        课程安排：{{ $item.arrangement|cn_truncate: 31 }}
                    </div>
                    <div class="teacher">
                        主讲老师：{{ $item.teacher_name|cn_truncate: 31 }}
                    </div>
                    <div class="replay-info">
                        <a href="{{ $item.play_url }}" target="_blank" class="btn-primary">
                            观看回放
                        </a>
                        <span>
                            共{{ $item.playback_count }}节回放
                        </span>
                    </div>
                </div>

                <div class="course-directory">
                    <div class="to-all">
                        查看课程目录<i class="icon icon-angle-down"></i>
                    </div>
                </div>
            </div>
        {{ /foreach }}
    </div>
    {{ include file="common/component/pager.html" page=$courseInfo.pager.page count=$courseInfo.pager.total page_size=$courseInfo.pager.page_size hide_jump="1" }}
{{ else }}
    <div class="no-course">
        <div class="wenzai"></div>
        暂无回放视频哦
    </div>
{{ /if }}

{{ /strip }}