/**
 * @file 老师个人中心数据中心访问数据
 * @author wuhongjie
 */
@import '../../../common/layout.styl';

@import '../header.styl';

#content {
    .data-center-header {
        .visit {
            border-bottom: 2px solid #f90;
            a {
                color: #f90;
            }
        }
    }
    .visit-data {
        margin-top: 20px;
        height: 50px;
        .datas {
            float: left;
            width: 300px;
            .datas-times {
                margin-right: 25px;
                font-size: 12px;
                span {
                    font-size: 16px;
                    color: #222222;
                }
            }
        }
        .dates {
            float: right;
            .dates-times {
                font-size: 12px;
                color: #666666;
                width: 66px;
                text-align :center;
                border: 1px solid #666666;
                display: inline-block;
                padding: 2px 5px;
                cursor: pointer;
            }
            .checked {
                background: #666666;
                color: #FFFFFF;
            }
        }
    }

    .charts-line {
        width: 100%;
        height: 300px;
    }


    .title{
        font-size: 16px;
        color: #000000;
        margin-top: 30px;
        font-family: "微软雅黑";
    }
    .data-source{
        width: 100%;
        height: 200px;
        border:1px solid #e6e6e6;
        margin-top: 10px;
        .course-left{
            width: 80%;
            height: 100%;
            float: left;
            border-right: 1px solid #e6e6e6;
            & > div{
                float: left;
            }
            .data-pie{
                width: 200px;
                height: 100%;
                img {
                    margin :40px 40px;
                }
            }
            .data-source-items{
                width: 350px;
                margin-top: 35px;
                font-size: 12px;
                .source-item {
                    display: inline-flex;
                    width: 50%;
                    margin-bottom: 12px;
                    .item-name{
                        width: 120px;
                        margin-left: 20px;
                        text-align: left;
                    }
                    .gsx-percent {
                        margin: 0 10px;
                    }
                }
            }
        }
        .course-right{
            width: 20%;
            height: 100%;
            float: right;
            text-align: center;
            padding-top: 60px;
            .visit-number{
                font-size: 24px;
                color: #000000;
            }
            .visit-descrip{
                font-size: 12px;
            }
        }

        .not-source{
            text-align: center;
            padding-top: 60px;
            a{
                color: #f90;
            }
            .button{
              display: inherit;
                a {
                    display: inline-block;
                    background: #f90;
                    color: #ffffff;
                    font-size: 14px;
                    padding: 5px 20px;
                    border: 1px solid #f90;
                    border-radius: 3px;
                }
            }

        }
    }
    .data-source-sug{
        font-size: 12px;
        margin-top: 10px;
    }
}
