/*
* 找老师结果页
*/
.find-teacher-result {
	text-align: center;
	padding-top: 60rpx;
	view {
		line-height: 90rpx;
	}
	.title {
		font-size: 40rpx;
		color: #000000;
	}
	.sub-title {
		font-size: 28rpx;
		color: #888888;
	}
	.btn {
		margin-top: 40rpx;
		button {
			width: 90%;
			margin: 0 auto;
		}
	}
	.bottom {
		position: fixed;
		bottom: 20rpx;
		text-align: center;
		width: 100%;
		text {
			display: block;
		}
		.gsx {
			font-size: 26rpx;
			color: #576B95;
		}
		.copyright {
			font-size: 20rpx;
			color: #B2B2B2;
		}
	}
}