{{ *

@file 老师收藏
@author jixiaohui

* }}
{{ extends file="common/center/base.html" }}

{{ block name="data" }}
    {{ $smarty.block.parent }}
    {{ $script_path = "studentCenter/favourite_806db80b75" }}
{{ /block }}

{{ block name="title" prepend }}
我的收藏 - 老师收藏
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/studentCenter/favourite_3e96d482d9.css">
{{ $smarty.block.parent }}
{{ /block }}

{{ block name="main" }}
{{ strip }}

    {{ include file="student_center/common/sidebar.html" active="teacherFav" }}

    <div id="content" class="card" data-identity="">
        <div class="card-header">
            <h2>老师收藏</h2>
        </div>
        <div class="card-body">
        {{ if isset($tpl_data.teachers) && $tpl_data.teachers }}
            {{ include file="common/component/searchList2.html" teachers=$tpl_data.teachers favor=1 }}
            {{ include file="common/component/pager.html" page=$tpl_data.pager.page page_size=$tpl_data.pager.page_size count=$tpl_data.pager.count url='/student_center/favourite'  }}
        {{ else }}
            <div class="no-data">
                <div class="wrapper">
                    <i class="icon icon-info-circle"></i>
                    暂时没有收藏
                </div>
            </div>
        {{ /if }}
        </div>
    </div>

{{ /strip }}
{{ /block }}