{{ *

@file 我的收藏 - 机构收藏
@author caoying

* }}
{{ extends file="common/center/base.html" }}

{{ block name="data" }}
    {{ $smarty.block.parent }}
    {{ $script_path = "studentCenter/favouriteOrg_2363ab3c94" }}
{{ /block }}

{{ block name="title" prepend }}
我的收藏 - 
{{ if isset($tpl_data.huike.is_huike_student) && $tpl_data.huike.is_huike_student }}
    学校收藏
{{ else }}
    机构收藏
{{ /if }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/studentCenter/favouriteOrg_013e228ad1.css">
{{ $smarty.block.parent }}
{{ /block }}

{{ block name="main" }}
{{ strip }}

    {{ include file="student_center/common/sidebar.html" active="orgFav" }}

    <div id="content" class="card" data-identity="">
        <div class="card-header">
        {{ if isset($tpl_data.huike.is_huike_student) && $tpl_data.huike.is_huike_student }}
            <h2>学校收藏</h2>
        {{ else }}
            <h2>机构收藏</h2>
        {{ /if }}
        </div>
        <div class="card-body">
            {{ if isset($tpl_data.items) && $tpl_data.items }}
            <div class="org-body">
                {{ include file="student_center/favourite/favOrgList.html" items=$tpl_data.items }}
            </div>
        {{ else }}
            <div class="no-data">
                <div class="wrapper">
                    <i class="icon icon-info-circle"></i>
                    暂时没有收藏
                </div>
            </div>
        {{ /if }}
        </div>

    </div>

{{ /strip }}
{{ /block }}