{{ strip }}
    <div id="courseIntro" class="card">
        <div class="title">
            课程简介
        </div>
        <div class="details">
            {{ if isset($tpl_data.course_info.retire_flag) }}
                <p>
                    <span class="tip">退班原则：</span>
                    {{ if $tpl_data.course_info.retire_flag == 100 }}
                        报名后不可退
                    {{ else if $tpl_data.course_info.retire_flag == 0 }}
                        随时可退
                    {{ /if }}
                </p>
            {{ /if }}

        </div>
    </div>
{{ /strip }}