{{ *
    @file 返现列表组件
    @author liucong
* }}

{{ strip }}
{{ $cash_back_list = $tpl_data.cash_back_record.list }}
{{ $cash_back_pager = $tpl_data.cash_back_record.pager }}

{{ if $cash_back_list|count > 0 }}
<ul>
    {{ foreach $cash_back_list as $record }}

    {{ if $record.type == 1 }}
        {{ $class = "register" }}
    {{ else if $record.type == 2 }}
        {{ $class = "trade" }}
    {{ else if $record.type == 3 }}
        {{ $class = "comment" }}
    {{ else }}
        {{ $class = "register" }}
    {{ /if }}

    <li>
        <i class="icon {{ $class }}"></i>
        <span class="info">
            {{ if $record.type == 10 }}
            {{ $icon_class = "register" }}
            {{ else if $record.type == 12 }}
            {{ $icon_class = "trade" }}
            {{ else if $record.type == 11 }}
            {{ $icon_class = "prize" }}
            {{ /if }}
            <i class="icon icon-medal {{ $icon_class }}"></i>
            <span class="name">{{ $record.name }}</span>为你贡献了{{ $record.money }}元现金，撒花~
        </span>
    </li>
    {{ /foreach }}
</ul>
{{ /if }}

{{ include file="common/component/pager.html" page=$cash_back_pager.page page_size=$cash_back_pager.page_size count=$cash_back_pager.count hide_jump=true }}


{{ /strip  }}