{{ strip }}
<div class="course-list-wrapper">
    <ul class="course-list">
    {{ foreach $data.courses as $course }}
        {{ if !empty($course) }}
            <li class="course-item" data-index="{{ $course@index+1 }}">
                <a class="course-link-wrapper" href="{{ if $data.type=='video' }}{{ $course.video_url }}{{ else }}{{ $course.class_url }}{{ /if }}" target="_blank" data-click-monitor="1" data-stype="{{ $data.stype }}"  data-number="{{ $course.number }},{{ $course.from }}"
                data-href="{{ getClickMonitorUrl number=$course.number zn=$zn url=$course.video_url|default:$course.class_url attach='class_number='|cat:$course.number }}" >
                    <div class="course-cover">
                        {{ include file="common/component/image.html" url=$course.img_url width=384 height=214 alt=$course.name lazy_load=true }}
                    </div>
                    <div class="course-content">
                        <h3 class="course-title ellipsis" title="{{ $course.name }}">
                            {{ $course.name }}
                        </h3>
                        <p class="course-teacher ellipsis">
                            {{ $teacher_name = $course.teacher_name|cn_truncate:10 }}
                            <span class="teacher-name" {{ if $teacher_name != $course.teacher_name }} data-title="{{ $course.teacher_name }}" data-width="12em"{{ /if }}>
                                {{ $teacher_name }}
                            </span>
                            <span class="teacher-to">—</span>
                            <span class="teacher-brief" title="{{ $course.teacher_brief }}">
                                {{ $course.teacher_brief }}
                            </span>
                        </p>
                        <div class="course-info">
                            <div class="course-price">
                                {{ if $course.price != 0 }}
                                <span class="price-symbol">
                                    ￥
                                </span>
                                <span class="price-number">
                                    {{ $course.price }}
                                </span>
                                {{ else }}
                                <span class="price-number">免费</span>
                                {{ /if }}
                            </div>
                            <div class="course-origin-price">
                                {{ if empty($course.payers_count) && !empty($course.max_student) && !empty($course.can_pay) }}
                                {{ $course.payers_count = $course.max_student - $course.can_pay }}
                                {{ /if }}
                                {{ if !empty($course.original_price) }}
                                    <div class="origin-price">{{ '￥'|cat:$course.original_price }}</div>
                                {{ /if }}
                                <div class="course-join-info">
                                    {{ $course.payers_count|cat:'人已报名' }}
                                </div>
                            </div>

                            <button class="course-btn course-time">
                                {{ if $data.type == 'video' }}开始学习{{ else }}{{ $course.schedule_time }}{{ /if }}
                            </button>
                            <button class="course-btn course-join">
                                {{ if $data.type == 'video' }}开始学习{{ else }}火热报名 {{ /if }}
                            </button>
                        </div>
                    </div>
                </a>
            </li>
        {{ /if }}
    {{ /foreach }}
    </ul>
</div>
{{ /strip }}