.main-list {
    background: white;
    padding: 0 rem(10);
    .main-list-item {
        border-bottom: 1px solid #f4f4f4;
        position: relative;
        min-height: rem(90);
        padding: rem(15) 0 rem(15) rem(124) !important;
        .main-list-img {
            display: inline-block;
            width: rem(115);
            height: rem(74);
            border-radius: rem(4);
            position: absolute;
            left: rem(0);
        }
        .main-list-info {
            vertical-align: top;
            line-height: rem(22);
            overflow: hidden;
            padding-top: rem(4);
            .main-list-name {
                font-family:PingFang-SC-Regular;
                font-size:rem(15);
                color:#000000;
                line-height:rem(15);
            }
            .main-list-text {
                font-family:PingFang-SC-Regular;
                font-size:rem(14);
                color:#9d9d9e;
                line-height:rem(14);
                margin: rem(6) 0;
            }
            .main-list-tag {
                font-family: PingFang-SC-Regular;
                font-size: rem(10);
                line-height: rem(10);
                height: rem(22);
                overflow-y: hidden;
                p {
                    margin-right: rem(4);
                    border-radius: rem(4);
                    padding: rem(2) rem(6);
                    display: inline-block;
                    height: rem(16);
                    line-height: rem(16);
                }
                .red-tag {
                    border: 1px solid #f64c44;
                    color: #f64c44;
                }
                .blue-tag {
                    color: #37a4f5;
                    border: 1px solid #37a4f5;
                }

            }
        }
    }
}