
@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "page/studentVip/_part/list.styl";
body{
  padding: 0 0;
  margin: 0 0;
  background: #f8f7ed;
}
.main{
  background: #f8f7ed;
  .search-back{
    height: rem(60);
    border-bottom: 1px solid #ddd;
    padding: rem(15) rem(30);
    .search-panel{
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: rem(15);
      background: #fff;
      border: 1px solid #d1d1cf;
      #search{
        margin-left: rem(15);
        font-size: rem(14);
        color: #333;
        outline: none;
        width: 85%;
        border: 0;
        height: rem(27);
      }
      .delete{
        display: none;
        width: rem(16);
        height: rem(16);
        position: absolute;
        top: rem(6);
        right: rem(8);
      }
    }
  }
  .none-course{
    display: none;
    margin-top: rem(139);
    position: relative;
    padding-top: rem(60);
    img{
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: rem(-21);
      width: rem(42);
      height: rem(40);
    }
    p{
      font-size: rem(15);
      color: #999;
      text-align: center;
      margin-top: rem(10);
    }
  }
  .typing-loader {
    width: rem(8);
    height: rem(8);
    animation: typing 1s linear infinite alternate;
    margin: rem(10) auto;
    position: relative;
    left: rem(-12);
  }

  @keyframes typing {
    0% {
      background-color: rgba(255, 145, 1, 1);
      box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    25% {
      background-color: rgba(255, 145, 1, 0.4);
      box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    75% {
      background-color: rgba(255, 145, 1, 0.4);
      box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 1);
    }
  }
  .has-more {
    display: block;
    height: rem(40);
    margin: rem(10) 0;
    background: #fff;
    padding: rem(6);
    line-height: rem(34);
    .typing-loader {
      display: none;
    }
    &.loading {
      .typing-loader {
        display: block;
      }
    }
    &.hide {
      display: none;
    }
  }
}