.land-list{
    background: #954ba8;
    height: rem(40);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .list-container{
        position : absolute;
        left:rem(0);
        right:rem(0);
        top:rem(0);
        bottom:rem(0);
        overflow : hidden;
      .search{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: rem(48);
        text-align: center;
        line-height: rem(40);
        .line{
          display: inline-block;
          border-left: 1px solid #fff;
          width: rem(2);
          height: rem(23);
          margin-top: rem(10);
          float: left;
        }
        .ic-search{
          width: rem(18);
          height: rem(18);
          display: inline-block;
        }
      }
  }
  .list{
    position :absolute;
    display : -webkit-box;
    .list-item{
        display: block;
        margin-right: rem(5);
        font-family: PingFang-SC-Regular;
        font-size: rem(15);
        color: #ddddde;
        line-height: rem(40);
        height: rem(40);
        width: rem(80);
        text-align: center;
        transition: all ease 0.5s;
        &.on {
            font-size:rem(17);
            color:#ffffff;
            width:rem(100);
        }
    }
  }

}

