.course-item{
    display: inline-block;
    margin: 0 4px;
    width: 256px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .img-wrapper{
        position: relative;
        img{
            display: block;
        }
        .img-tip{
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding-left: 18px;
            width: 100%;
            height: 45px;
            line-height: 45px;
            font-size: 18px;
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
        }
    }
    .course-info{
        padding: 8px 18px;
        background: #ececec;
        div{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .course-price{
        padding: 8px 18px;
        background: #fff;
        .course-sec-price{
            color: #f63a3f;
            .label{
                position: relative;
                top: -7px;
                font-size: 16.7px;
                line-height: 24px;
            }
            .price{
                font-family: "微软雅黑";
                font-weight: 900;
                font-size: 36px;
                line-height: 30px
            }
        }
        .course-price-other{
            overflow: hidden;
            line-height: 24px;
            color: #9a9a9a;
            .origin-price{
                float: left;
                text-decoration: line-through;
            }
            .join-number{
                float: right;
            }
        }
        .course-sec-btn{
            height: 42px;
            line-height: 42px;
            font-size: 22px;
            text-align: center;
            color: #fff;
            border-radius: 5px;
            cursor: not-allowed;
            .gradient-vertical(#9b9b9b, #767575);
            .icon{
                display: none;
                font-size: 20px;
                color: #fffd40;
            }
            &:hover,
            &.active,
            &:focus{
                cursor: not-allowed;
                .gradient-vertical(#9b9b9b, #767575);
            }
            &.active{
                cursor: pointer;
                .gradient-vertical(#ff4b47, #e50102);
                &:hover{
                    .gradient-vertical(#e54441, #ce0102);
                }
                &:active, &:focus{
                    .gradient-vertical(#cd0101, #e54340);
                }
                .icon{
                    display: inline-block;
                }
            }
        }
    }
    &:hover{
        cursor: pointer;
    }
}