/**
 * @file 活动 艺术公益
 * @author liucong
 */

@import '../main/base.less';
@import '../common/layout.less';

#main {
    width: 100%;
    margin: 0;
    background-color: #fff;
    position: relative;
    color: #013967;
    a {
        color: #013967;
        &:hover {
            text-decoration: underline;
        }
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }

    .banner {
        background: url(../../img/activity/art/banner.jpg) 50% 0 no-repeat;
        height: 959px;
        width: 100%;
        margin: 0 auto;
        padding-top: 380px;

        .video-wrapper {
            margin: 0 auto;
            width: 670px;
            height: 499px;
            border: 5px solid #FFEDAC;
        }

        .main-video {
            width: 100%;
            height: 100%;
        }

        .footer {
            position: relative;
            width: 600px;
            margin: 25px auto 0 auto;
            font-size: 18px;
            .clearfix();
            img {
                position: absolute;
            }
            .play-banner-corner {
                top: -129px;
                right: -160px
            }
            .activity-banner-corner {
                top: -50px;
                right: -155px;
            }
        }
    }

    .container {
        width: 980px;
        margin: 30px auto 100px auto;
        position: relative;
        z-index: 2;
    }
    .header {
        width: 397px;
        height: 67px;
        background: url(../../img/activity/art/headers.png) no-repeat;
        margin: 0 auto;
    }

    .base-info {
        a:hover {
            color: #906312;
            text-decoration: none;
        }
    }

    .teachers {
        background-color: #EFF8FF;
        margin-top: 80px;
        padding: 0px 5px 50px 5px;

        .header-wrapper {
            width: 397px;
            height: 77px;
            margin: 0 auto;
            position: relative;
        }

        .header {
            background-position: 0 0;
            position: absolute;
            top: -30px;
        }

        ul {
            .clearfix();
        }

        li {
            float: left;
            position: relative;
            margin: 10px 10px 30px 0;
        }

        .avatar {
            position: absolute;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 120px;
                height: 120px;
                background-color: transparent;
                border: 5px solid transparent;
                border-radius: 50%;
                .opacity(0.2);
            }
            &:hover {
                &:after {
                    background-color: #fff;
                    .transition(background 0.3s);
                }
            }

            img {
                position: absolute;
                height: 120px;
                width: 120px;
                border-radius: 50%;
                border: 5px solid #fff;
            }
        }



        .content {
            width: 411px;
            height: 260px;
            background: url(../../img/activity/art/item_container.png) no-repeat;

            .desc {
                width: 260px;
                position: absolute;
                left: 80px;
                top: 80px;
            }

            .base-info {
                position: absolute;
                top: 160px;
                left: 220px;
                cursor: pointer;

            }
        }

        .yellow() {
            background-position: 0 -260px;
        }

        .blue() {
            background-position: 0 0;
        }

        .teacher-0 {
            margin-left: 100px;
            .avatar {
                bottom: 130px;
                right: 120px;
            }
            .content {
                .blue();
            }
            .base-info {
                left: 180px;
            }
        }
        .teacher-1 {
            .avatar {
                top: -55px;
                left: 65px;
            }
            .content {
                .yellow();
            }
        }
        .teacher-2 {
            .avatar {
                top: -60px;
                left: 65px;
            }
            .content {
                .yellow();
            }
        }
        .teacher-3 {
            .avatar {
                top: -20px;
                right: 70px;
            }
            .content {
                .blue();
            }
        }
        .teacher-4 {
            margin-left: 100px;
            .avatar {
                top: -60px;
                right: 200px;
            }
            .content {
                .blue();
            }
        }
        .teacher-5 {
            .avatar {
                top: -60px;
                right: 180px;
            }
            .content {
                .yellow();
            }
        }


    }
    .videos {
        .header {
            background-position: 0 -67px;
        }
        margin-top: 20px;
        ul {
            .clearfix();
        }
        li {
            float: left;
            position: relative;
            margin-right: 20px;
            margin-top: 20px;
        }
        .last {
            margin-right: 0;
        }

        p {
            margin-top: 10px;
            text-align: center;
        }
        .caption {
            display: none;
        }
    }

    .info {
        padding-top: 30px;
        .header {
            background-position: 0 -134px;
            margin-bottom: 25px;
        }
        p {
            text-align: center;
            font-size: 16px;
        }
    }

    .banner-bottom {
        position: absolute;
        bottom: 0;
        background: url(../../img/activity/art/footer.png) 50% 0 no-repeat;
        width: 100%;
        height: 702px;
        z-index: 1;
    }

}
