/**
 * @file 懂行活动页
 * @author zengcheng
 */
@import '../main/base.less';

//重写main样式
body{
    #main{
        margin: 0;
        width: auto;
        *zoom: 1;
    }
}

#main{
    .stage-logo{
        width: 130px;
        height: 127px;
        background-color: #544540;
        color: #fff;
        font-family: "FangSong";
        text-align: center;
        overflow: hidden;
        .logo{
            position: relative;
            top: 15px;
            font-size: 32px;
        }
        .tip{
            position: relative;
            top: 25px;
            font-size: 20px;
        }
        .divider{
            position: relative;
            width: 60px;
            left: 35px;
            top: 18px;
            border-top: solid 1px #887d7a;
        }
    }
    .share-btn{
        color: #fff;
        width: 116px;
        height: 52px;
        line-height: 52px;
        font-size: 26px;
        font-family: "FangSong";
        text-align: center;
        background: #143f5e url('') right no-repeat;
        cursor: pointer;
        transition: all .5s;
    }
    .copyright{
        height: 75px;
        line-height: 75px;
        text-align: center;
        color: #fff;
        background: #4e586d url('') center no-repeat;
    }
    .banner-wrapper{
        position: relative;
        height: 450px;
        overflow: hidden;
        .stage-wrapper{
            position: absolute;
            z-index: 10;
            width: 100%;
            .stage-logo-wrapper{
                width: 1100px;
                margin: 0 auto;
                overflow: hidden;
                .stage-logo{
                    margin-right: 155px;
                    float: right;
                }
            }
        }
        .banner-bg{
            width: 100%;
            height: 450px;
            background: #4e586d url('') center no-repeat;
        }
    }
    .knowit-wrapper{
        padding: 58px 0 80px 0;
        background: #b2b6b1 url('') center no-repeat;
    }
    .course-list{
        width: 1040px;
        margin: 0px auto;
        position: relative;
        .share-btn{
            position: absolute;
            z-index: 10;
            right: 0;
            top: -28px;
        }
        .promotion-slider-container {
            width: 1040px;
            height: 430px;
            margin-bottom: 2px;
            overflow: hidden;
            position: relative;
            text-align: center;
            .promotion-slider{
                white-space: nowrap;
                position: absolute;
            }
            .promotion-slideritem{
                display: inline-block;
                b {
                    cursor: pointer;
                }
                a {
                    display: block;
                }
            }
        }
        .promotion-slider-left,
        .promotion-slider-right {
            color: #fff;
            background-color: #53433c;
            .opacity(0.8);


            &:hover {
                .opacity(1);
            }

            position: absolute;
            top: 40%;
            margin-top: -20px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            text-align: center;

            i {
                position: relative;
                top: 2px;
                right: 2px;
            }
        }
        .promotion-slider-left {
            left: -18px;
        }
        .promotion-slider-right {
            right: -18px;

            i {
                left: 1px;
            }
        }
        .mini-list-wrapper{
            margin-top: 10px;
            overflow: hidden;
            .mini-list{
                margin: 0 -5px;
                line-height: 1;
                .mini-img{
                    position: relative;
                    margin: 0 2.5px;
                    display: inline-block;
                    cursor: pointer;
                    img{
                        display: block;
                    }
                    .mask{
                        position: absolute;
                        width: 100%;
                        height: 80px;
                        z-index: 10;
                        top: 0;
                        left: 0;
                        background: #000;
                        .opacity(0.5);
                    }
                    &.active,
                    &:hover{
                        .mask{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .next{
        position: relative;
        width: 1040px;
        height: 326px;
        margin: 0 auto;
        margin-top: 58px;
        .prev{
            position: absolute;
            z-index: 1;
            height: 326px;
            width: 350px;
        }
    }
}