@import '../common/layout.less';
@import '../common/component/loginDialog.less';
body {
    background: #f5f5f5;
    overflow-x: hidden;
}
a {
    color: #333;
}
#site-nav {
    .wrapper {
        width: 1190px
    }
    a {
        color: #6d6d6d;
        &:hover {
            color: #f90;
        }
    }

}
#header, #nav {
    display: none;
}
#videolist-search {
    background: #fff;
    border-bottom: 1px solid #f90;
    .wrapper {
        width: 1190px;
        margin: 0 auto;
        padding: 12px 0;
        .navTitle {
            a {
                color: #666;
            }
        }
    }
    .logo {
        display: inline-block;
        background: url(../../img/logo-yingyong.png) no-repeat;
        width: 111px;
        height: 45px;
    }

    h1 {
        display: inline-block;
        color: #6D6D6D;
        font-size: 24px;
        height: 25px;
        line-height: 25px;
        margin-left: 5px;
        padding-left: 8px;
        vertical-align: top;
        position: relative;
        border-left: 1px solid;
        margin-top: 10px;
    }
    .search-box {
        float: right;
        position: relative;
        .search-input {
            border: 1px solid #f90;
            border-radius: 15px;
            margin-top: 10px;
            width: 290px;
            height: 30px;
            padding-left: 15px;
            margin-right: 50px;
        }
        .search-button {
            position: absolute;
            left: 250px;
            top: 10px;
            color: #a7a7a7;
            width: 40px;
            height: 30px;
            line-height: 35px;
            text-align: center;
            cursor: pointer;
        }
        .nav-icon {
            font-size: 12px;
            margin-right: 20px;
            .icon {
                color: #f90;
                font-size: 20px;
                margin-right: 5px;
                vertical-align: sub;
            }
        }
    }
}
#videolist-ad {
    
    overflow: hidden;
    .slider-container {
        margin: 0 auto;
        width: 1190px;
        height: 390px;
        margin-bottom: 2px;
        position: relative;
        text-align: center;
        cursor: pointer;
        .promotion-slider {
            position:absolute;
            .clearfix();

            a {
                display: block;
            }

            li {
                float: left;
                height: 390px;
            }
            .promotion-slideritem {
                img {
                    display: block;
                }
                .mask{
                    width: 100%;
                    height: 390px;
                    position: relative;
                    top: -390px;
                    z-index: 10;
                    background: #fff;
                    .opacity(0.5);
                }
                &.active{
                    .mask{
                        display: none;
                    }
                }
            }
        }

        .promotion-slider-nav {
            display: inline-block;
            .clearfix();
            margin-top: 360px;

            li {
                float: left;
            }

            span {
                display: block;
                color: #b6b6b6;
                border-radius: 12px;
                border: solid 1px #b6b6b6;
                background: #b6b6b6;
                width: 12px;
                height: 12px;
                margin-left: 10px;
                opacity: 0.9;
                cursor: pointer;
                &.active {
                    opacity: 1;
                    background: #f90;
                    border: #f90;
                    position: relative;
                }
            }
        }
        .promotion-slider-left,
        .promotion-slider-right {
            color: #fff;
            background-color: #000;
            .opacity(0.3);
            display: block;


            &:hover {
                .opacity(0.6);
            }

            position: absolute;
            top: 50%;
            margin-top: -20px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 25px;
            text-align: center;
        }
        .promotion-slider-left {
            left: 12px;
            i {
                position: relative;
                top: 2px;
                right: 1px;
            }
        }
        .promotion-slider-right {
            right: 272px;
            i {
                position: relative;
                top: 2px;
                left: 1px;
            }
        }
    }
    .best-content {
        width: 255px;
        height: 334px;
        overflow: hidden;
    }
    .best-list {
        position: absolute;
        width: 255px;
        height: 370px;
        top: 0;
        right: 10px;
        border-radius: 0 0 5px 5px;

        .title-tabs {
            width: 100%;
            height: 42px;
            li {
                float: left;
                border: 1px solid #e8e8e8;
                border-top: none;
                opacity: 1;
                height: 42px;
                line-height: 42px;
                background: #fff;
                &.width3 {
                    width: 85px;
                }
                &.width2 {
                    width: 127px;
                    &.first {
                        width: 128px;
                    }
                }
                &.width1 {
                    width: 255px;
                }
                &.first {
                    border-right: none;
                }
                &.last {
                    border-left: none;
                }
                &.active {
                    opacity: 0.85;
                    border-top: 1px solid #f90;
                    border-bottom: none;
                }
            }
        }
        .content-list {
            height: 292px;
            background: #fff;
            opacity: 0.85;
            overflow-y: scroll;
            text-align: left;
            padding: 0 18px;
            overflow-x: hidden;
            li {
                border-bottom: 1px dashed #e8e8e8;
                padding: 12px 0 10px 0;
                &:hover {
                    p {
                        color: #333;
                    }
                    .info {
                        color: #f90;
                    }
                }
                p {
                    line-height: 22px;
                    &.info {
                        width: 210px;
                        height: 22px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .icon-rank-o {
                        color: #55b02a;
                        margin-left: 5px;
                    }
                }
            }
        }
        .get-button {
            display: block;
            width: 100%;
            height: 37px;
            border-top: 1px solid #e8e8e8;
            border-radius: 0 0 5px 5px;
            line-height: 36px;
            text-align: center;
            background: #fff;
        }
    }
}
.img-live {
    background: url('../../img/activity/live-icon.gif') no-repeat;
    width: 18px;
    height: 12px;
    display: inline-block;
    margin-left: 5px;
}
.contents {
    .warpper {
        width: 1190px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .icon-user-o {
        margin-right: 5px;
    }
    .site-nav-bar {
        background: #fff;
        border: 1px solid #e4e4e4;
        .site-nav-table {
            width: 100%;
            text-align: center;
            td {
                border-right: 1px solid #e4e4e4;
                padding: 19px 16px 12px;
            }
            .site-title {
                font-size: 16px;
                .icon {
                    font-size: 32px;
                    vertical-align: middle;
                    color: #f90;
                    margin-right: 10px;
                }
            }
            ul {
                padding-top: 12px;
                line-height: 24px;
            }
            .sites {
                float: left;
                position: relative;
                text-align: left;
                width: 68px;
                .icon {
                    position: absolute;
                    width: 9px;
                    height: 14px;
                }
            }
            a {
                color: #000;
            }
        }
        .icon-hot {
            background: url('../../img/activity/icon_h.gif') no-repeat;
        }
        .icon-new {
            background: url('../../img/activity/icon_n.gif') no-repeat;
        }
    }
    .list-box {
        margin-top: 20px;
        position: relative;
        h2 {
            font-size: 20px;
            line-height: 40px;
            color: #000;
            .icon {
                color: #f90;
                margin-right: 5px;
            }
        }
        .video-list {
            padding-top: 10px;
            border-top: 1px solid #e4e4e4;
        }
        .stu-num {
            color: #999;
        }
    }
    .hot-video,
    .like-video {

        .list {
            overflow: hidden;
            li {
                width: 282px;
                height: 223px;
                overflow: hidden;
                position: relative;
                float: left;
                margin-right: 20px;
                margin-bottom: 20px;
                border: 1px solid #e4e4e4;
                transition: all 0.3s ease;
                position: relative;
                .info-all {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    transition: all 0.3s ease;
                    bottom: -45px;
                    .date {
                        background: rgba(0,0,0,0.5);
                        color: #fff;
                        .type {
                            float: left;
                            background: #56b02a;
                            color: #fff;
                            padding: 0 5px;
                        }
                        .time {
                            margin-left: 100px;
                            width: 180px;
                            height: 21px;
                        }
                    }
                }

                .info {
                    background: #fff;
                    padding-top: 10px;

                    .title {
                        color: #333;
                        font-size: 14px;
                        padding: 0 10px;
                        width: 280px;
                        height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        span {
                            font-size: 12px;
                            color: #a0a1a1;
                            margin-left: 10px;
                            .icon {
                                color: #56b02a;
                                font-size: 16px;
                                vertical-align: middle;
                                margin-bottom: 2px;
                            }
                        }
                        &:hover {
                            color: #f90;
                            span {
                                color: #a0a1a1;
                                .icon {
                                    color: #56b02a;
                                }
                            }
                        }
                    }

                    .detail {
                        padding: 0 10px;
                        line-height: 42px;
                        font-size: 12px;
                        .price {
                            color: #f90;
                            margin-right: 20px;
                            font-size: 14px;
                            width: 100px;
                            float: left;
                        }
                        .price-no {
                            color: #56b02a;
                            margin-right: 20px;
                            font-size: 14px;
                            width: 100px;
                            float: left;
                        }
                    }
                    .button,
                    .button-no {
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        color: #fff;
                        background: #f90;
                        font-size: 16px;
                        display: block;
                        border-top: 1px solid #e4e4e4;
                        .icon {
                            font-size: 26px;
                            vertical-align: middle;
                            margin-left: -5px;
                            margin-top: -2px;
                        }
                    }
                    .button-no {
                        background: #56b02a;
                    }
                }
                &:hover {
                    border-color: #e0e0e0;
                    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                    .info-all {
                        bottom: -1px;
                    }
                }
            }
        }


    }
    .hot-video {
        .change-pages {
            float: right;
            margin-top: 11px;
            .icon {
                width: 25px;
                height: 25px;
                background: #fff;
                line-height: 25px;
                text-align: center;
                border: 1px solid #e8e8e8;
                cursor: pointer;
                color: #9a9a9a;
                &:hover {
                    color: #f90;
                }
                &.disable {
                    color: #ddd;
                    cursor: auto;
                    &:hover {
                        color: #ddd;
                    }
                }
            }
            .icon-chevron-left {
                border-radius: 5px 0 0 5px;
            }
            .icon-chevron-right {
                border-left: none;
                border-radius: 0 5px 5px 0;
            }
        }
        .video-list {
            width: 1190px;
            height: 477px;
            overflow: hidden;
            position: relative;
            .scroll-list-box {
                position: absolute;
                .list {
                    float: left;
                    width: 1210px;
                }
            }
        }
        .page-prev,
        .page-down {
            position: absolute;
            top: 110px;
            color: #bbb;
            .icon {
                font-size: 47px;
            }
            &:hover {
                color: #f90;
            }
        }
        .page-prev {
            left: -40px;
        }
        .page-down {
            right: -40px;
        }
    }
    .like-video {
        .refresh {
            float: right;
            margin-right: 10px;
            margin-top: 15px;
            font-size: 12px;
            cursor: pointer;
            .icon {
                margin-left: 5px;
            }
            &:hover {
                color: #f90;
            }
        }
        h2 {
            width: 150px;
        }
        .rank {
            width: 280px;
            float: right;
            .tabs {
                height: 45px;
                font-size: 16px;
                li {
                    float: left;
                    width: 140px;
                    height: 44px;
                    text-align: center;
                    line-height: 44px;
                    border: 1px solid #e4e4e4;
                    cursor: pointer;
                    &.first {
                        border-right: none;
                    }
                    &.active {
                        border-top: 1px solid #f90;
                        border-bottom: none;
                        background: #fff;
                    }
                }
            }
            .rank-list {
                border: 1px solid #e4e4e4;
                border-top: none;
                background: #fff;
                padding-top: 19px;
                margin-top: -1px;
                .rank-item {
                    padding: 0 19px 16px;
                    &.active {
                        .item-detail {
                            display: block;
                        }
                    }
                }
                .item-main {
                    width: 240px;
                    height: 21px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .idx {
                        background: #ccc;
                        color: #fff;
                        padding: 2px 4px;
                        font-size: 14px;
                        margin-right: 10px;
                    }
                    .idx-highlight {
                        background: #f90;
                    }

                }
                .item-detail {
                    margin-top: 8px;
                    display: none;
                    img {
                        float: left;
                    }
                    .rank-info {
                        margin-left: 134px;
                        height: 69px;
                        background: #fafafa;
                        padding-top: 12px;
                        font-size: 12px;
                        .stu-num {
                            padding-bottom: 12px;
                            span {
                                color: #f90;
                            }
                        }
                    }
                }
            }
        }
        .video-list {
            height: 496px;
            overflow: hidden;
            .list {
                height: 486px;
                margin-right: -20px;
                display: none;
                li {
                    margin-bottom: 20px;
                }
            }
            .show {
                display: block;
            }
        }
    }

    .live-icon {
        position: absolute;
        left: 120px;
        top: 60px;
        width: 30px;
        height: 30px;
        background: rgba(0,0,0,0.5);
        border-radius: 15px;
        .img-live {
                position: absolute;
                top: 8px;
        }
    }
}