/**
 * @file 圆梦
 * @author tangrongyan
 */

@import '../main/base.less';

/*#main {
    margin: 0 auto;
    width: 1200px;

    .topbanner {
        margin-left: -465px;
        width: 1920px;
        position: absolute; 

    }
    img {
        margin: 0 auto;
        width: 1920px;
    }


}*/

#oneiromancy {
    background: url(../../img/activity/oneiromancy/oneiromancy.png) 50% 0px no-repeat;
    width: 100%;
    height: 2636px;
    overflow-x: hidden;
}

#main {
    margin: 0px auto;
    width: 100%;
}