/**
 * @file 活动页面 - 1元托管5天起
 * @author liuxin
 */

@import '../common/component/loginDialog.less';
@import '../common/layout.less';

body {    background: #fdf7e6;
}
#main {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    .layout {
        overflow: hidden;
        background: url(../../img/activity/center/oneYuan/banner.jpg) 50% 0 no-repeat;
        height: 750px;
        margin: 0 auto;
    }
    .head {
        text-align: left;
        width: 850px;
        margin: 0 auto;
        .picture {
            height: 297px;
            width: 404px;
            float: right;
            position: relative;
            top: -80px;
            background: url(../../img/activity/center/oneYuan/picture.jpg) 24% 0 no-repeat;
        }
        .title {
            width: 700px;
            position: absolute;
            h4 {
                color: #e03e26;
                font-size: 29px;
                font-weight: bold;
                display: block;
                margin-bottom: 50px;
            }
            h5 {
                color: #fb5a42;
                font-size: 24px;
                font-weight: bold;
                display: block;
                margin: 8px 0 8px 0;
            }
            p {
                font-size: 18px;
                font-weight: normal;
            }
        }
    }
    #wuchang {
        height: 590px;
        margin-top: 330px;
    }
    #hankou {
        height: 350px;
    }
    #hanyang {
        height: 220px;
    }
    .place {
        margin: 60px auto;
        width: 850px;


        background-color: #fde28f;
        hr {
            position: relative;
            display: inline-block;
            width: 100%;
            top: -8px;
            border: none;
            height: 4px;
            background: #ef5740;
        }
        span {
            clear: left;
            width: 340px;
            height: 50px;
            line-height: 50px;

            display: inline-block;
            border-radius: 30px;
            background: #ef5740;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            top: -47px;
            margin: 0 auto;
            em {
                color: #feef00;
            }
        }
        .box {
            width: 850px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            left: -10px;
            .org {
                float: left;
                height: 120px;
                width: 102px;
                background-color: #fff;
                margin: 1.5px;
                position: relative;
                top: -10px;
                left: 4px;
                img {
                    width: 60px;
                    height: 60px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 18px;
                    margin-bottom: 12px;
                }
            }
            .org:hover {
                pointer: curser;
            }
        }

    }

}


