/**
 * @file 平台留单页
 * @author wangtianhua
 */

@import '../main/base.less';
@import '../common/layout.less';
body {
    background-color: #fff;

    #header {
        background-color: #FFF;
        position: relative;
        z-index: @zindex-medium;
        width: 100%;

       .wrapper {
            .clearfix();
            height: 90px;
            margin: 0 auto;

            position: relative;
            width: @page-width;

            .instruction {
                position: absolute;
                top: 30px;
                left: 163px;
                border-left: 1px solid #ccc;
                padding-left: 15px;
            }
            .phone {
                color: #3c3d3d;
                float: right;
                font-size: 26px;
                line-height: 90px;
            }
        }
    }
    .main {
        .banner {
            max-width: 1920px;
            height: 550px;
            background: url(../../img/activity/seekTeacher/seekTeacher.jpg) center;
            position: relative;
            .find {
                text-align: center;
                color: #fff;
                background-color: #ff6c00;
                width: 326px;
                height: 75px;
                line-height: 73px;
                font-size: 30px;
                border-radius: 5px;
                position: absolute;
                bottom: 106px;
                left: 30%;
            }
        }
        .title {
            color: #000;
            font-size: 50px;
            text-align: center;
            margin-top: 4px;
        }
        .Subtitle {
            font-size: 30px;
            text-align: center;
        }
        .seek-teacher {
            width: @page-width;
            margin: 0px auto;
            text-align: center;
            
            .form {
                .subject-suggestion {
                    position: absolute;
                    top: 47px;
                    left: 0px;
                    background: #fff;
                    width: 269px;
                    max-height: 280px;
                    overflow-y: scroll;
                    text-align: left;
                    z-index: 99;
                    border: #ccc solid 1px;
                    display: none;
                    .menu-list {
                        cursor: pointer;
                        padding: 5px 10px;
                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }
                    .list {
                        cursor: pointer;
                        padding: 5px 10px;
                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }
                }
                .form-group {
                    display: inline-block;
                    margin: 10px 0;
                    .dropdown {
                        div {
                            position: relative;
                            .suggestion {
                                position: absolute;
                                top: 6px;
                                right: 70px;
                                color: red;
                            }
                        }
                    }
                    > input {
                        width: 269px;
                        height: 43px;
                        margin-right: 10px;
                    }

                    .exp-price {
                        width: 269px;
                        margin-right: 10px;
                        .btn-default {
                            height: 43px;
                        }
                    }

                    .last {
                        margin-right: 0;
                    }
                }

                .support-online {
                    cursor: pointer;
                    margin-left: 12px;
                    padding: 0;
                    padding-top: 1px;
                    padding-right: 45px;
                    background: url(../../img/userCenter/switch.png) bottom right no-repeat;
                    &.on {
                        background: url(../../img/userCenter/switch.png) top right no-repeat;
                    }
                }

                .form-sms {
                    display: none;
                    margin-left: -50px;
                    &.showverifycode {
                        display: block;
                    }
                }
                .captcha-box {
                    display: none;
                    margin-left: 385px;
                    .input-group-addon {
                        height: 43px;
                        border-color: #ccc;
                        background: #fff;
                        img {
                            height: 32px;
                            cursor: pointer;
                        }
                    }
                }

                .show-captcha {
                    display: block;
                }

                .captcha-input {
                    float: left;
                    width: 160px;
                    margin-right: 10px;
                }
                .buttons {
                    > button {
                        width: 335px;
                        height: 51px;
                        font-size: 24px;
                    }
                }
            }

        }
        .ad-news {
            width: @page-width;
            margin: 100px auto;
            text-align: center;
            .title {
                color: #000;
                font-size: 40px;

                .line {
                    display: inline-block;
                    width: 47px;
                    height: 0;
                    border-top: 4px solid #f29100;
                    padding-bottom: 13px;
                    margin: 0 27px;
                }
            }

            .news {
                display: inline-block;
                width: 354px;
                margin-right: 19px;
                margin-top: 50px;
                .pic-box {
                    height: 319px;
                    width: 354px;
                    overflow: hidden;
                    position: relative;

                    .intro {
                        position: absolute;
                        font-size: 34px;
                        color: #fff;
                        top: 132px;
                        left: 124px;
                    }
                }
                .pic-box img{
                    -webkit-transition: 1s ease;
                    -moz-transition: 1s ease;
                    -o-transition: 1s ease;
                    transition: 1s ease;
                }
                .pic-box:hover img{
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    transform: scale(1.2);
                }

                &.last {
                    margin-right: 0px;
                }
                .intruction {
                    color: #646464;
                    font-size: 18px;
                    padding: 15px 35px;
                }
                .add-intruction {
                    border-top: 1px solid #ccc;
                    color: #646464;
                    font-size: 14px;
                    padding: 38px 0;
                    overflow: hidden;
                    text-align: left;
                    .number {
                        color: #fff;
                        font-size: 40px;
                        width: 90px;
                        height: 90px;
                        border-radius: 90px;
                        line-height: 80px;
                        float: left;
                    }

                    .tips {
                        width: 245px;
                        height: 90px;
                        float: right;
                        .title {
                            color: #000;
                            font-size: 30px;
                        }
                    }
                }
            }

        }
        .economy {
            width: @page-width;
            margin: 0px auto;
            text-align: center;
            .line {
                display: inline-block;
                width: 47px;
                height: 0;
                border-top: 4px solid #f29100;
                padding-bottom: 13px;
                margin: 0 27px;
            }
            > p {
                text-align: left;
            }
            .title {
                color: #000;
                font-size: 40px;
            }
            .topic {
                margin: 40px 0;
                a {
                    display: inline-block;
                    margin-right: 20px;
                    margin-top: 15px;
                    position: relative;
                    .mode,
                    .intro {
                        position: absolute;
                        width: 539px;
                        height: 318px;
                    }
                    .mode {
                        background-color: #000;
                        .opacity(0.5);
                    }
                    .intro {
                        font-size: 30px;
                        color: #fff;
                        text-align: center;
                        line-height: 318px;
                    }
                    &:hover {
                        .mode{
                            display: none;
                        }
                    }
                }
                .even {
                    margin-right: 0px;
                }
            }
            .find-teacher {
                position: relative;
                margin: 40px 0;
                > a {
                    position: absolute;
                    left: 450px;
                    bottom: 130px;
                    font-size: 26px ;
                    width: 200px;
                    height: 60px;
                    border-radius: 5px;
                    line-height: 46px;
                }
            }
        }
    }
}
