/**
 * @file 活动页面 - 首单返现
 * @author zhangliyuan
 */

@import '../common/component/loginDialog.less';
@import '../common/layout.less';


        body {
            background: #fff2b5;
        }
        #main {
            margin: 0px auto;
            width: 100%;
            #layout {
                overflow: hidden;
                background: url(../../img/activity/center/sendmoney/title1.jpg) 50% 0 no-repeat;
                height: 452px;
                margin: 0 auto;
            }


            .item-show {
                text-align: center;
                background: #fff2b5;
                clear: both;
                overflow: hidden;
                width: 980px;
                margin: 0 auto;
                .title1 {
                    margin-top:20px;
                    margin-bottom: 25px;
                    text-align: center;
                    height: 60px;
                    background: url(../../img/activity/center/sendmoney/1.jpg) 50% 0 no-repeat;
                }
                .title2 {
                    margin-top:20px;
                    margin-bottom: 25px;
                    text-align: center;
                    height: 315px;

                    background: url(../../img/activity/center/sendmoney/whether-share.png) 50% 0 no-repeat;
                }
                .title3 {
                    margin-top:20px;
                    margin-bottom: 25px;
                    text-align: center;
                    height: 60px;
                    background: url(../../img/activity/center/sendmoney/6.png) 0 0 no-repeat;
                }
                .title-small1 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    text-align: center;
                    height: 40px;
                    background: url(../../img/activity/center/sendmoney/2.png) 50% 0 no-repeat;
                }
                .title-small2 {
                    margin-top: 20px;
                    margin-bottom:10px;
                    text-align: center;
                    height: 40px;
                    background: url(../../img/activity/center/sendmoney/3.png) 50% 0 no-repeat;
                }
                .words {
                    h1 {
                        font-size: 40px;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    span {
                        font-size: 18px;
                    }
                    em {
                        font-size: 18px;
                        color: #DC023D;
                    }
                    h2 {
                        font-size: 20px;
                    }
                    a {
                        font-size: 20px;
                        color: #DC023D;
                        border-bottom: 2px solid;
                        font-weight: bold;
                    }
                    .triangle {
                        width:0;
                        height:;
                        border-width: 10px;
                        border-style: solid dashed dashed dashed;
                        border-color: transparent transparent #DC023D transparent;
                        margin-left: 745px;
                        margin-top: -9px;
                    }
                }
                .words-last {
                    margin-left: 5px;
                    margin-bottom: 0px;
                    p {
                        text-align: left;
                        font-size: 20px;
                    }
                    span {
                        width: 28px;
                        height: 28px;
                        display: inline-block;
                        border-radius: 15px;
                        color: #fff2b5;
                        background-color: #f24588;
                        font-size: 18px;
                        text-align: center;
                        margin-right: 10px;
                    }
                    .notice4 {
                        float: left;
                        margin-bottom: 10px;
                    }
                    .last {
                        background-color: #fff2b5;
                    }

                }

            }

            .share-trigger {
                position: absolute;
                margin: 40px 0 200px 350px;
                height: 64px;
                width: 290px;
                background: url(../../img/activity/center/sendmoney/button.png) 0 0 no-repeat;
                &:hover {
                    background: url(../../img/activity/center/sendmoney/button-hover.png) 0 0 no-repeat;

                }
                .baidu-share {
                    position: relative;
                    margin-top: 42px;
                    margin-left: -65px;
                    height: 45px;
                }
            }

            .share-trigger:active {
                background-position: bottom;
            }

            .share-trigger:hover {
                cursor:pointer;
            }



            .share {
                height: 50px;
                background: url(../../img/activity/center/sendmoney/10.jpg) 50% 0 repeat-x;
                margin-top: 185px;
                margin-bottom: -20px;
                text-align: center;
                margin-left: -140px;
            }

            .show-progress {
                cursor: pointer;
            }
        }

.whether-cash {
    width: 255px;
    height: 37px;
    left: 364px;
    bottom: -251px;
    cursor: pointer;
    position: relative;
    background: url(../../img/activity/center/sendmoney/5.png);
    &:hover {
        background: url(../../img/activity/center/sendmoney/5-hover.png);
    }
    a {
        width: 100%;
        height: 100%;
    }
}




.dialog-progress {
    text-align: left;
    li {
        margin-top: @gap-vertical-tiny;
    }
    .content {
        display: inline-block;
        width: 300px;
    }
    .status {
        display: inline-block;
        i {
            margin-right: @gap-horizontal-small;
        }
    }
}

.words-last-con {
    text-align: left;
    margin-bottom: 4px;
    font-size: 19px;
    .clearfix();
    span {
        float: left;
    }
}

.last-long {
    margin-bottom: 10px;
}