/**
 * @file 风云老师大赛 2016 - 老师排行榜
 * @author wangyujie
 */
@import '../main/base.less';
@import '../common/component/loginDialog.less';
@import '../common/component.less';
@import '../common/layout.less';
@import '../information/infoDetail/share.less';

.content {
    background-color: #fff;
    overflow: hidden;

    .banner {
        width: 100%;
        height: 500px;
        position: relative;
        background: url('../../img/activity/superTeacher/banner.jpg') center center no-repeat;
    }
    /*分享*/
    .applay .baidu-share {
        left: -156px;
        width: 240px;
        top: 84px;
    }
    .applay .baidu-share:before , .applay .baidu-share:after {
        right: 35px;
    }
}

.desc {
    font-size: 14px;
    color: #fff;
    line-height: 1.6;

    p {
        text-indent: 2em;
    }
}

.search {
    position: relative;
    top: -70px;
    width: 100%;
    .form-controls {
        width: 480px;
        margin: 0 auto;

        .form-text {
            background: #ffffff;
            width: 336px;
            height: 45px;
            line-height: 45px;
        }

        .btn-primary {
            cursor: pointer;
            background: #fdcf1d;
            width: 129px;
            height: 45px;
            line-height: 45px;
            padding: 0;
            font-size: 24px;
            color: #673ab7;
            letter-spacing: 1.03px;
            vertical-align: bottom;
            margin-left: 8px;
        }
    }
}

.ul {
    list-style: none
}

.vote-list {
    margin-top: 0px;
    height: 100%;
    line-height: 1.7;
    text-align: center;
    padding-bottom: 70px;

    .vote-picture {
        .clearfix();
        width: 1120px;
        margin: 0 auto;
        li {
            float: left;
            background: #673ab7;
            width: 255px;
            height: 373px;
            margin-right: 25px;
            margin-top: 25px;
            position: relative;
            .vote-rank {
                font-weight: bold;
                font-size: 16px;
                color: #673ab7;
                display: inline-block;
                letter-spacing: 0.69px;
                background: #fdcf1d url('../../img/activity/superTeacher/vote-rank.png') center right no-repeat;
                padding: 2px 13px;
                padding-right: 18px;
                position: absolute;
                left: 0;
            }

            .teacher-avatar {
                margin-top: 45px;
                display: block;
            }

            .teacher-name {
                font-size: 20px;
                color: #ffffff;
                letter-spacing: 0.86px;
                text-align: center;
            }

            .vote-acount {
                font-size: 18px;
                color: #fff;
                letter-spacing: 0.77px;
                span {
                    color: #fdcf1d;
                }
            }

            .pv {
                font-size: 14px;
                color: #ffffff;
                letter-spacing: 0.6px;
                margin-top: 5px;
                span + span {
                    margin-left: 10px;
                }
            }

            .btn-vote {
                background: #fdcf1d;
                border: none;
                border-radius: 6px;
                width: 108px;
                height: 40px;
                font-size: 20px;
                color: #380485;
                letter-spacing: 0.86px;
                text-align: center;
                cursor: pointer;
                margin-top: 20px;
            }

            .vote-result {
                position: relative;
            }
            .coupon {
                background: url('../../img/activity/superTeacher/coupon-bg.png') center center no-repeat;
                width: 37px;
                height: 23px;
                line-height: 23px;
                font-size: 14px;
                color: #ffffff;
                letter-spacing: 0.6px;
                position: absolute;
                right: 54px;
                bottom: 29px;
            }

        }

        .vote-user-link {
            height: 25px;
            font-size: 12px;
        }

        .icon-share {
            font-size: 14px;
            margin-right: 0px;
            cursor: pointer;
        }

        &:hover {
           .baidu-share {
                position: absolute;
                top: 200px;
                right: 0px;
            }
        }

    }
}

.empty {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    p {
        font-size: 18px;
        color: #4a4a4a;
        letter-spacing: 0.77px;
        a {
            display: block;
            font-size: 16px;
            color: #673ab7;
            letter-spacing: 0.69px;
        }
    }
}

.vote-rule {
    width: 100%;
    background: #f2f2f4;
    font-size: 16px;
    color: #525252;
    letter-spacing: 0.69px;
    padding-top: 25px;
    padding-bottom: 50px;

    .rule-font {
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 1.03px;
        text-align: left;
        width: 1100px;
        margin: 0 auto 25px;
        span {
            background: #673ab7;
            width: 200px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            display: inline-block;
        }
    }

    .rule {
        width: 1100px;
        margin: 0 auto;
    }
}

.for-index {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
    width: 100%;
    a {
        color: #ffffff;
        background: #673ab7;
        display: inline-block;
        width: 244px;
        margin: 0 auto;
        height: 56px;
        line-height: 56px;
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 1.2px;
        text-align: center;
    }
}

.customer-footer {
    height: 200px;
    background: #673ab7;
    color: #fff;
    padding-top: 40px;
    letter-spacing: 0.6px;
    text-align: center;
    .bottom-logo {
        background: url('../../img/activity/superTeacher/bottom-logo.png') center center no-repeat;
        width: 100px;
        height: 42px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }
    .copyright {
        margin-top: 40px;
    }
}

.pager-block {
    margin-top: 55px;
    margin-bottom: 30px;
    a.active {
        background-color: #673ab7;
        border-color: #673ab7;
        &:hover {
            color: #fff;
        }
    }
    a:hover {
        border-color: #673ab7;
        color: #673ab7;
    }
}

.get-coupon {
    background: url('../../img/activity/superTeacher/get-coupon-bg.png') center center no-repeat;
    width: 528px;
    height: 525px;
    color: #666;
    font-size: 24px;
    text-align: center;
    padding-top: 220px;
    .dialog-close {
        display: none;
    }
    .coupon-price {
        float: left;
        color: #ff311e;
        font-size: 18px;
        margin-left: 25px;
        margin-top: 25px;
        width: 110px;
        text-align: center;
        .price {
            font-weight: bold;
            font-size: 34px;
            color: #ff321e;
        }
        .hint {
            display: block;
            font-size: 16px;
            color: #7e7d7d;
        }
    }
    .coupon-intro {
        margin-left: 165px;
        width: 300px;
        height: 140px;
        overflow-y: hidden;
        .coupon-code {
            font-size: 21px;
            color: #ff321e;
            text-align: left;
        }
        .coupon-desc {
            font-size: 17px;
            color: #7a7979;
            letter-spacing: 0.77px;
            text-align: left;
            span {
                color: #4c1818;
            }
        }
    }
    .actions {
        clear: both;
        margin-top: 50px;
        .note-down,
        .save-count {
            border: 1px solid #4c1818;
            border-radius: 6px;
            cursor: pointer;
            width: 190px;
            height: 62px;
            line-height: 62px;
            font-size: 24px;
            letter-spacing: 1.03px;
            text-align: center;
        }
        .note-down {
            background: #ffffff;
            color: #ff7320;
        }
        .save-count {
            background: #fdcf1d;
            color: #ff6520;
            margin-left: 37px;
        }
    }

}
.successed {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

.backup {
    position: relative;
    margin-top: 1px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 200px;
    right: 144px;

    &:hover {
        .tip-icon{
            display: none;
        }
    }
    .icon {
        font-size: 26px;
        cursor: pointer;
        vertical-align: middle;

        &.small {
            font-size: 24px;
        }
    }
    .tip-icon{
        display: block;
        height: 35px;
        background: #797979;
        color: #fff;
        transition: all 0.25s;
    }
    .tip {
        height: 35px;
        padding-top: 3px;
        font-size: 12px;
        line-height: 15px;
        display: block;
        background: #f90;
        color: #fff;
    }
}
.backup {
    display: none;
    .icon{
        font-weight: 800;
    }
}

.fixed-nav {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -100px;
    z-index: 5;
    .qrcode-wrapper {
        margin: 0 6px;
        padding: 12px 18px;
        background: #db282b;
        img {
            display: block;
        }
    }

    .fixed-nav-wrapper {
        border-radius: 5px;
        background: #f13639;
        text-align: center;
        color: #fff;
        font-size: 20px;
        overflow: hidden;

        a {
            color: inherit;
        }

        .action {
            display: block;
            height: 50px;
            line-height: 50px;

            &.join-btn {
                background: #f13639;
                box-shadow: inset 0 -3px #c10f11;
                &:hover {
                    background: #ca282a;
                    box-shadow: inset 0 -3px #f13639;
                }
            }
            &.vote-btn {
                background: #fdd01e;
                color: #ca282a;
                box-shadow: inset 0 -3px #e5a200;

                &:hover {
                    background: #dcb000;
                    box-shadow: inset 0 -3px #e58c00;
                }
            }
        }
    }
}

.join-success {
    text-align: center;
    padding: 15px 25px;
    .dialog-header {
        display: none;
    }
    .dialog-close {
        background: #673ab7;
        width: 20px;
        height: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
    }
    h1 {
        font-weight: bold;
        font-size: 20px;
        color: #ff7e00;
        margin-bottom: 10px;
    }
    p {
        color: #4a4a4a;
        text-align: left;
        margin-top: 10px;
    }
    .btn-info,
    .btn-primary {
        border-radius: 6px;
        border: none;
        height: 47px;
        line-height: 47px;
        font-size: 24px;
        letter-spacing: 1.03px;
        text-align: center;
        padding: 0;
    }
    .btn-info {
        background: #673ab7;
        color: #ffffff;
        width: 150px;
    }
    .btn-primary {
        background: #fdcf1d;
        color: #380485;
        margin-left: 25px;
        width: 190px;
    }
}