/**
 * @file 风云老师大赛 2016
 * @author wangyujie
 */
@import '../main/base.less';

body {
    #main {
        width: auto;
        margin: 0;
    }
}

#main {
    .text-center {
        text-align: center;
    }
    .mod-wrapper {
        width: 1100px;
        margin: 0 auto;
    }
}

.fixed-nav {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -100px;
    z-index: 5;
    .qrcode-wrapper {
        margin: 0 6px;
        padding: 12px 18px;
        background: #db282b;
        img {
            display: block;
        }
    }

    .fixed-nav-wrapper {
        border-radius: 5px;
        background: #f13639;
        text-align: center;
        color: #fff;
        font-size: 20px;
        overflow: hidden;

        a {
            color: inherit;
        }

        .action {
            display: block;
            height: 50px;
            line-height: 50px;

            &.join-btn {
                background: #f13639;
                box-shadow: inset 0 -3px #c10f11;
                &:hover {
                    background: #ca282a;
                    box-shadow: inset 0 -3px #f13639;
                }
            }
            &.vote-btn {
                background: #fdd01e;
                color: #ca282a;
                box-shadow: inset 0 -3px #e5a200;

                &:hover {
                    background: #dcb000;
                    box-shadow: inset 0 -3px #e58c00;
                }
            }
        }
    }
}

.customer-footer {
    height: 200px;
    background: #673ab7;
    color: #fff;
    padding-top: 40px;
    letter-spacing: 0.6px;
    text-align: center;
    .bottom-logo {
        background: url('../../img/activity/superTeacher/bottom-logo.png') center center no-repeat;
        width: 100px;
        height: 42px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }
    .copyright {
        margin-top: 40px;
    }
}

.banner{
    height: 500px;
    position: relative;
    background: url('../../img/activity/superTeacher/banner.jpg') center center no-repeat;
    .banner-nav {
        overflow: hidden;
        width: 1100px;
        position: absolute;
        left: 50%;
        bottom: 5px;
        margin-left: -550px;
        ul {
            margin: 0 -3px;
        }
        .banner-nav-item {
            display: inline-block;
            margin: 0 3px;
            background: #ffffff;
            width: 215px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            a {
                font-size: 24px;
                color: #673ab7;
                &:hover {
                    color: #9c06d3;
                }
            }
        }
    }
}

.teacher-video-list {
    margin: 0 -9px;
    overflow: hidden;
    .teacher-item {
        margin: 22px 9px;
        position: relative;
        display: inline-block;

        img {
            display: block;
        }

        &-video {
            cursor: pointer;
            position: relative;
            .icon {
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -25px;
                margin-top: -25px;
                font-size: 50px;
                cursor: pointer;
            }
        }
        &-avatar {
            position: absolute;
            bottom: 30px;
            left: 5px;
            padding: 2px;
            background: #fff;
            border-radius: 50%;
            height: 72px;
            a {
                border-radius: 50%;
                overflow: hidden;
                display: inline-block;
            }
        }
        &-name {
            position: absolute;
            left: 85px;
            bottom: 36px;
            font-size: 16px;
            white-space: nowrap;
        }

        &-des {
            margin-top: 45px;
            font-size: 16px;
        }
    }
}

#mod_1 {
    background: #f2f2f4;
    color: #fff;
    overflow: hidden;

    .mod-wrapper {
        padding-top: 35px;
    }

    .banner-video-list {
        width: 570px;
        float: left;
        overflow: hidden;
        .promotion-slider-container {
            margin: 0 auto;
            width: 530px;
            height: 390px;
            position: relative;
            overflow: hidden;
            text-align: center;
            cursor: pointer;

            .promotion-slideritem {
                img {
                    display: block;
                }

            }
            &:hover {
                .promotion-slider-left,
                .promotion-slider-right {
                    display: inline-block;
                }
            }
        }
        .promotion-slider-left,
        .promotion-slider-right {
            color: #fff;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            font-size: 25px;
            display: none;
        }

        .promotion-slider-left {
            left: 12px;
            i {
                position: relative;
                top: 2px;
                right: 1px;
            }
        }
        .promotion-slider-right {
            right: 12px;
            i {
                position: relative;
                top: 2px;
                left: 1px;
            }
        }
        .promotion-slider {
            position:absolute;
            .clearfix();

            a {
                display: block;
            }

            li {
                float: left;
                height: 390px;
                position: relative;
            }
        }
        .promotion-slider-nav {
            display: inline-block;
            .clearfix();
            margin-top: 360px;

            li {
                float: left;
            }

            span {
                display: block;
                color: #fff;
                border-radius: 12px;
                border: solid 1px #fff;
                width: 12px;
                height: 12px;
                margin-left: 10px;
                opacity: 0.9;
                cursor: pointer;
                &.active {
                    opacity: 1;
                    background: #fff;
                    position: relative;
                }
            }
        }

        .icon-play-o {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -25px;
            margin-top: -25px;
            font-size: 50px;
        }
    }
    .banner-description {
        margin-left: 570px;
        height: 440px;
        padding-left: 25px;

        h2 {
            font-size: 28px;
            color: #673ab6;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            color: #4a4a4a;
            text-align: justify;
            letter-spacing: 0.69px;
            text-indent: 2em;
        }
    }
}

#mod_11 {
    overflow: hidden;
    background: #673ab7;
    height: 364px;

    h2 {
        background: #ffffff;
        width: 200px;
        height: 45px;
        line-height: 45px;
        font-size: 24px;
        color: #6324c1;
        letter-spacing: 1.03px;
        text-align: center;
        margin-top: 22px;
    }

    .content {
        height: 188px;
        margin-top: 50px;
        background: url('../../img/activity/superTeacher/flow.jpg') center center no-repeat;
    }
}

#mod_2 {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.69px;

    h2 {
        background: #6324c1;
        width: 200px;
        height: 45px;
        line-height: 45px;
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 1.03px;
        text-align: center;
        margin-bottom: 40px;
    }

    ul {
        list-style-type: decimal;
        list-style-position: inside;
        margin-top: 20px;
    }
}

#mod_3 {
    padding: 25px 0 60px 0;
    background: #673ab7;

    h2 {
        background: #ffffff;
        width: 200px;
        height: 45px;
        line-height: 45px;
        font-size: 24px;
        color: #380486;
        letter-spacing: 1.03px;
        text-align: center;
    }

    .awards {
        .clearfix();
        .awards-item {
            text-align: center;
            background: #ffffff;
            border: 1px solid #380486;
            border-radius: 8px;
            width: 311px;
            height: 362px;
            float: left;
            margin-right: 38px;
            margin-top: 38px;
            padding: 0 45px;
            .title {
                font-weight: bold;
                font-size: 18px;
                color: #6324c1;
                letter-spacing: 0.77px;
                margin-top: -10px;
            }
            .description {
                font-size: 14px;
                color: #464646;
                letter-spacing: 0.2px;
                margin: 15px auto;
                min-height: 76px;
            }
            .prize {
                font-size: 14px;
                color: #f88204;
                letter-spacing: 0.6px;
                line-height: 20px;
            }

        }
    }
}

#mod_4 {
    padding: 35px 0 65px 0;
    background: #f2f2f4;
    h2 {
        background: #673ab7;
        width: 200px;
        height: 45px;
        line-height: 45px;
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 1.03px;
        text-align: center;
    }

    .content {
        font-size: 16px;
        color: #4a4a4a;
        letter-spacing: 0.69px;
        h3 {
            margin-top: 30px;
        }
    }
}

#mod_5 {
    .join-btn {
        background: #673ab7;
        border: none;
        cursor: pointer;
        padding: 10px 60px;
        font-weight: bold;
        font-size: 28px;
        color: #ffffff;
        letter-spacing: 1.2px;
        text-align: center;
    }
    .mod-wrapper {
        padding: 125px 0;
    }
    .action-wrapper {
        position: relative;
        .logo {
            position: absolute;
            left: 50%;
            margin-left: 100px;
            top: -88px;
        }
    }
}

#mod_6 {
    padding: 20px 0 10px 0;
    background: #fff;
    .mod-wrapper {
        position: relative;
    }
    .more {
        position: absolute;
        right: 0;
        top: 30px;
        color: #659abb;

    }
    h2 {
        background: #673ab7;
        width: 240px;
        height: 45px;
        line-height: 45px;
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 1.03px;
        text-align: center;
    }
}

.join-success {
    text-align: center;
    padding: 15px 25px;
    .dialog-header {
        display: none;
    }
    .dialog-close {
        background: #673ab7;
        width: 20px;
        height: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
    }
    h1 {
        font-weight: bold;
        font-size: 20px;
        color: #ff7e00;
        margin-bottom: 10px;
    }
    p {
        color: #4a4a4a;
        text-align: left;
        margin-top: 10px;
    }
    .btn-info,
    .btn-primary {
        border-radius: 6px;
        border: none;
        height: 47px;
        line-height: 47px;
        font-size: 24px;
        letter-spacing: 1.03px;
        text-align: center;
        padding: 0;
    }
    .btn-info {
        background: #673ab7;
        color: #ffffff;
        width: 150px;
    }
    .btn-primary {
        background: #fdcf1d;
        color: #380485;
        margin-left: 25px;
        width: 190px;
    }
}