/**
 * @file 风云老师大赛 2016 - 获奖榜单
 * @author wangyujie
 */
@import '../main/base.less';
@import '../common/component.less';
@import '../common/layout.less';

.main {
    .banner {
        width: 100%;
        height: 500px;
        background: url('../../img/activity/superTeacher/banner-rank.jpg') center center no-repeat;
        border-bottom: 10px solid #fec420;
    }

    .rank-first {
        background-color: #673ab7;
        padding-top: 20px;
        padding-bottom: 68px;
        .section {
            width: 725px;
            margin: 0 auto;
            .section-title {
                background: url('../../img/activity/superTeacher/rank-first.png') center center no-repeat;
                width: 368px;
                height: 207px;
                margin: 0 auto;
                padding-top: 20px;
            }
            .section-content {
                .clearfix();
                color: #fff;
                margin: 0 auto;
                .teacher-avatar {
                    float: left;
                    width: 232px;
                    height: 311px;
                    border-radius: 3%;
                    background: url('../../img/activity/superTeacher/super-teacher.png') center center no-repeat;
                }
                .teacher-info {
                    margin-left: 270px;
                }
                .teacher-name {
                    font-size:36px;
                    letter-spacing: 1.55px;
                    a {
                        color: #fff;
                    }
                }
                .pv-count,
                .comment {
                    font-size: 18px;
                    letter-spacing: 0.77px;
                }
                .comment {
                    margin-top: 30px;
                }
            }
        }
    }

    .rank-ten,
    .rank-course,
    .rank-teach,
    .rank-art,
    .rank-fifty {
        padding-top: 30px;
        padding-bottom: 30px;
        .section-title {
            width: 423px;
            margin: 0 auto 50px;
            text-align: center;
            .cup {
                display: inline-block;
                width: 128px;
                height: 128px;
            }
            .awards {
                width: 423px;
                height: 59px;
                background: url('../../img/activity/superTeacher/awards-bg.png') center center no-repeat;
                font-weight: bold;
                font-size: 24px;
                color: #673ab7;
                letter-spacing: 1.03px;
                text-align: center;
                line-height: 59px;
                margin-top: -38px;
            }
        }
    }

    .rank-ten,
    .rank-course,
    .rank-teach,
    .rank-art {
        .section-content {
            .clearfix();
            width: 1126px;
            margin: 0 auto;
            li {
                float: left;
                width: 200px;
                margin-bottom: 50px;
                margin-right: 12px;
                margin-left: 12px;
                text-align: center;
                .teacher-avatar {
                    display: block;
                    img {
                        border-radius: 3%;
                    }
                }
                .teacher-name {
                    display: block;
                    font-weight: bold;
                    font-size: 18px;
                    letter-spacing: 0.77px;
                    margin-bottom: 5px;
                }
                .pv,
                .student-count {
                    font-size: 16px;
                    letter-spacing: 0.69px;
                    line-height: 20px;
                }
            }
        }
    }

    .rank-ten {
        .section-title {
            .cup {
                background: url('../../img/activity/superTeacher/awards-two.png') center center no-repeat;
            }
        }
        .section-content {
            li {
                color: #673AB7;
                .teacher-name {
                    color: #673AB7;
                }
            }
        }
    }

    .rank-course {
        background-color: #673AB7;
        .section-title {
            .cup {
                background: url('../../img/activity/superTeacher/awards-three.png') center center no-repeat;
            }
        }
        .section-content {
            li {
                color: #ffffff;
                .teacher-name {
                    color: #ffffff;
                }
            }
        }
    }

    .rank-teach {
        .section-title {
            .cup {
                background: url('../../img/activity/superTeacher/awards-four.png') center center no-repeat;
            }
        }
        .section-content {
            li {
                color: #673AB7;
                .teacher-name {
                    color: #673AB7;
                }
            }
        }
    }

    .rank-art {
        background-color: #673AB7;
        .section-title {
            .cup {
                background: url('../../img/activity/superTeacher/awards-five.png') center center no-repeat;
            }
        }
        .section-content {
            li {
                color: #ffffff;
                .teacher-name {
                    color: #ffffff;
                }
            }
        }
    }

    .rank-fifty {
        .section-title {
            .cup {
                background: url('../../img/activity/superTeacher/awards-six.png') center center no-repeat;
            }
        }
        .section-content {
            .clearfix();
            width: 1126px;
            margin: 0 auto;
            li {
                float: left;
                margin-bottom: 30px;
                margin-left: 30px;
                margin-right: 30px;
                .teacher-avatar {
                    margin-right: 25px;
                    img {
                        border-radius: 50%;
                        vertical-align: middle;
                    }
                }
                .teacher-name {
                    font-weight: bold;
                    font-size: 20px;
                    color: #673AB7;
                    letter-spacing: 0.86px;
                    width: 100px;
                    display: inline-block;
                }
                .pv,
                .student-count {
                    font-size: 17px;
                    color: #673AB7;
                    letter-spacing: 0.77px;
                    width: 143px;
                    display: inline-block;
                }
                .pv {
                    text-align: right;
                }
            }
        }
        .explain {
            width: 1126px;
            margin: 30px auto;
            text-align: center;
            position: relative;
            .bg-line {
                height: 1px;
                background: #D3CFCF;
            }
            .explain-word {
                font-size: 18px;
                color: #918F8F;
                letter-spacing: 0.77px;
                display: inline-block;
                background-color: #f5f5f5;
                width: 200px;
                position: absolute;
                top: -15px;
                left: 460px;
            }
        }
    }

    .awards-intro {
        background-color: #673AB7;
        padding-top: 50px;
        padding-bottom: 30px;
        .section-title {
            width: 423px;
            margin: 0 auto 50px;
            .awards {
                width: 423px;
                height: 59px;
                background: url('../../img/activity/superTeacher/awards-bg.png') center center no-repeat;
                font-weight: bold;
                font-size: 24px;
                color: #673ab7;
                letter-spacing: 1.03px;
                text-align: center;
                line-height: 59px;
            }
        }
        .awards-list {
            .clearfix();
            width: 1055px;
            margin: 0 auto;
            .awards-item {
                text-align: center;
                background: #ffffff;
                border: 1px solid #380486;
                border-radius: 8px;
                width: 311px;
                height: 362px;
                float: left;
                margin-right: 20px;
                margin-left: 20px;
                margin-bottom: 38px;
                padding: 0 45px;
                .title {
                    font-weight: bold;
                    font-size: 18px;
                    color: #6324c1;
                    letter-spacing: 0.77px;
                    margin-top: -10px;
                    em {
                        font-weight: bold;
                        font-size: 24px;
                        letter-spacing: 1.03px;
                        line-height: 24px;
                        margin-left: 5px;
                    }
                }
                .description {
                    font-size: 14px;
                    color: #464646;
                    letter-spacing: 0.2px;
                    margin: 15px auto;
                    min-height: 76px;
                }
                .prize {
                    font-size: 14px;
                    color: #f88204;
                    letter-spacing: 0.6px;
                    line-height: 20px;
                }

            }
        }
    }

    .action-wrapper {
        margin: 95px auto;
        width: 545px;
        a {
            background: #673AB7;
            display: inline-block;
            padding: 10px 30px;
            font-weight: bold;
            font-size: 28px;
            color: #FFFFFF;
            letter-spacing: 1.2px;
        }
        a + a {
            margin-left: 70px;
        }
    }

    .customer-footer {
        height: 200px;
        background: #673ab7;
        color: #fff;
        padding-top: 40px;
        letter-spacing: 0.6px;
        text-align: center;
        .bottom-logo {
            background: url('../../img/activity/superTeacher/bottom-logo.png') center center no-repeat;
            width: 100px;
            height: 42px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
        .copyright {
            margin-top: 40px;
        }
    }











}