/**
 * @file 活动 排名 第六季 616 冲锋榜 机构
 * @author liucong
 */

@import '../main/base.less';
@import '../common/layout.less';

@strong-color: #E76D20;

body {
    background-color: #381770;
}

#main {
    .dark {
        color: @brand-text;
    }
    margin-top: 0;
    .text-primary {
        color: @strong-color !important;
    }

    width: 100%;

    & > .wrapper {
        width: 1100px;
        margin: 0 auto;
        position: relative;
    }

    .baidu-share {
        bottom: -140px;
        right: 450px;
        top: auto;
    }

    .banner {
        background: url(../../img/activity/teacherRank/anniversary/banner_org.jpg) 50% 0px no-repeat;
        height: 594px;
        width: 100%;

        color: #FFC045;
        text-align: center;
        font-size: 20px;

        padding-top: 490px;
    }

    #container {
        margin-top: 40px;
    }

    .sub-container {
        & > .header {
            text-align: center;
            color: #fff;
            background: url(../../img/activity/teacherRank/anniversary/header_org.jpg) 50% 0px no-repeat;
            height: 61px;
            width: 704px;
            line-height: 60px;
            margin: 0 auto;
            position: relative;
            z-index: 2;
            font-size: 30px;
        }

        .content {
            background-color: #fff;
            border-radius: 20px;
            position: relative;
            z-index: 1;
            margin-top: -44px;
        }

        .intro {
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
        }

        .cash-header {
            text-align: center;
            font-size: 20px;
            color: #FF9A22;
            margin-bottom: 30px;
        }

        .cash-ranking {
            margin-bottom: 40px;
        }
    }

    .sub-container + .sub-container {
        margin-top: 57px;
    }

    .icon-question,
    .icon-answer,
    .icon-star-a {
        background: url(../../img/activity/teacherRank/second/QAStar.png) no-repeat;
        vertical-align: middle;
    }

    .icon-question,
    .icon-answer {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    .icon-star-a {
        height: 19px;
        width: 19px;
        background-position: -44px 0;
        margin: -3px 5px 0 5px;
    }

    .icon-question {
        background-position: 0 0;
    }

    .icon-answer {
        background-position: -22px 0;
    }

    #cash {
        .content {
            padding: 63px 100px 36px 100px;
        }
        .legend-container + .legend-container {
            margin-left: 29px;
        }
        .legend-container {
            .inline-block();
            position: relative;
            text-align: center;

            .legend {
                background: url(../../img/activity/teacherRank/second/cash.jpg);
                width: 147px;
                height: 101px;
                color: #fff;
                padding-top: 47px;
                font-size: 24px;
            }
            .index {
                position: absolute;
                top: 3px;
                left: 9px;
                color: @strong-color;
            }
            .label {
                margin-top: 10px;
            }
        }
    }

    #teacher, #teacher-local {
        .content {
            padding: 64px 80px 46px 64px;
        }

        .teacher + .teacher {
            margin-left: 26px;
        }
        .first {
            margin-left: 0 !important;
        }
        .teacher {
            .inline-block();
            position: relative;
            width: 170px;
            margin-top: 20px;
            margin-bottom: 40px;
            padding: 0 5px 10px 5px;
            border: 1px solid @brand-gray;

            text-align: center;

            .header {
                background: url(../../img/activity/teacherRank/second/teacher_header.png);
                width: 161px;
                height: 23px;
                padding-left: 50px;
                line-height: 23px;
                margin-left: -10px;
                text-align: left;
                position: relative;
                left: 4px;
                margin-top: -11px;
            }

            .city {
                color: #fff;
            }

            .index {
                background: url(../../img/activity/teacherRank/second/rank.png);
                width: 43px;
                height: 32px;
                position: absolute;
                top: -21px;
                left: 0;
            }

            .avatar, .empty-avatar {
                text-align: center;
                margin-top: 10px;
            }

            .avatar {
                a, img, a:after {
                    border-radius: 0;
                }
            }

            .info {
                .name {
                    color: @brand-text;
                    margin-right: 3px;
                    font-size: 16px;
                }
                .student {
                    font-size: 14px;
                }
            }

        }
    }

    #rule {
        .content {
            padding: 64px 54px 40px 54px;
        }
        h3 {
            color: #F89825;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
        }
        line-height: 2em;

        .index, .important {
            background: url(../../img/activity/teacherRank/second/index.png) no-repeat;
            margin-right: 10px;
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: top;
            margin-top: 4px;
        }
        .important {
        }
    }

}

.share {

    position: relative;
    height: 0;
    text-align: center;
    margin-top: 63px;
    color: #fff;

    & > div {
        .inline-block();
        padding: 10px 0;
        width: 300px;
        background-color: #FFC045;
        font-size: 28px;
        margin-top: -30px;
        border-radius: 30px;
    }

    img {
        margin-right: 5px;
    }
}

.copy-right {
    background-color: #B60060;
    text-align: center;
    color: #fff;
    padding: 72px 0;
}