@import './common/teacherRank.less';

#main {
    .banner {
        background: url(../../img/activity/teacherRank/banner_season4.jpg) 50% 0px no-repeat;
        width: 100%;
        height: 549px;
    }

    .side-nav li {
        font-size: 14px;
    }

    .side-nav .active {
        font-size: 14px;
    }
    .text-description {
        .highlight {
            color: #FF0064;
        }
    }
}