@import './common/teacherRank.less';

#main {
    .banner {
        background: url(../../img/activity/teacherRank/bg_rank2015.jpg) 50% 0px no-repeat;
        width: 100%;
        height: 549px;
    }

    .side-nav li {
        font-size: 14px;
    }

    .side-nav .active {
        font-size: 14px;
    }
    .text-description {
        .highlight {
            color: #FF0064;
        }
    }
    .app-banner-container {
        width: 627px;
        margin: 30px auto 0;
        color: #d61b74;
        font-size: 22px;
        text-align: center;
        .app-banner {
            background: url(../../img/activity/teacherRank/app_banner.jpg) no-repeat;
            width: 627px;
            height: 309px;
        }
        .banner-intro {
            padding: 0 20px;
        }

    }
}