/**
 * @file 活动页模板3
 * @author zengcheng
 */
@import '../main/base.less';

//重写main样式
body{
    #main{
        margin: 0;
        width: auto;
        *zoom: 1;
    }
    .wrapper {
        width: 1100px;
        margin: 0 auto;
    }
}

.mod {
    margin-bottom: 30px;
    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .mod-title {
        background: #4b32aa;
        color: #ffffff;
        font-size: 30px;
        height: 58px;
        line-height: 58px;
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        .mod-nav-item {
            position: relative;
            margin: 0 7px;
            display: inline-block;
            top: -8px;
            padding: 0 25px;
            background: #6145be;
            box-shadow: 7px 7px #3a14b7;
            cursor: pointer;
            &:after {
                position: absolute;
                content: ' ';
                display: block;
                left: 0;
                bottom: -7px;
                z-index: 1;
                border-left: solid 7px transparent;
                border-top: solid 7px #3a14b7;
            }
            &:before {
                position: absolute;
                content: ' ';
                display: block;
                right: -7px;
                top: 0px;
                z-index: 1;
                border-left: solid 7px #3a14b7;
                border-top: solid 7px transparent;
            }
        }
    }
    .mod-list {
        padding: 25px 15px;
        background: #b8e5fc;
        .mod-item {
            display: inline-block;
            vertical-align: top;
            background: #fff;
            &:hover{
                -webkit-box-shadow: 0px 0px 5px 2px rgba(215, 215, 215, 0.75);
                   -moz-box-shadow: 0px 0px 5px 2px rgba(215, 215, 215, 0.75);
                        box-shadow: 0px 0px 5px 2px rgba(215, 215, 215, 0.75);
            }
        }
        .mod-item-link {
            display: block;
        }
    }
}

.course-list {
    .course-item {
        width: 260px;
        margin: 5px 3.5px;
        img {
            display: block;
        }
        .course-img {
            position: relative;
        }
        .course-name {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-left: 15px;
            height: 45px;
            line-height: 45px;
            font-size: 18px;
            color: #fff;
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
        .course-info {
            padding: 8px 15px;
            background: #ececec;
            color: #6d6d6d;
            .course-teacher {
                max-width: 100%;
            }
            .course-time {
                height: 42px;
            }
        }
        .course-other {
            padding: 8px 18px;
            background: #fff;
            .course-price {
                color: #f00;
                .course-price-desc {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 36px;
                    vertical-align: bottom;
                }
                .course-price-number {
                    display: inline-block;
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: bold;
                }
            }
            .course-pay {
                overflow: hidden;
                color: #9a9a9a;
                .course-original-price {
                    position: relative;
                    float: left;
                    display: inline-block;
                    text-decoration: line-through;
                    top: 8px;
                }
                .course-leave-number {
                    display: inline-block;
                    float: right;
                    .number {
                        font-size: 20px;
                        color: #f00;
                    }
                }
            }
            .course-pay {
                text-align: center;
                .pay-btn {
                    display: inline-block;
                    width: 225px;
                    height: 45px;
                    line-height: 45px;
                    font-size: 22px;
                    border-radius: 5px;
                    text-align: center;
                    outline: none;
                    border: none;
                    color: #fff;
                    background: #f00;
                    cursor: pointer;
                    .icon {
                        color: #fffd40;
                    }
                    &:hover {
                        background: #cb1615;
                    }
                    &.disable {
                        cursor: not-allowed;
                        .gradient-vertical(#9b9b9b, #767575);
                    }
                }
            }
        }
    }
}

.teacher-list {
    .teacher-item {
        position: relative;
        width: 260px;
        height: 350px;
        margin: 5px 3.5px;
        padding: 8px 18px;
        img {
            display: block;
        }
        .teacher-avatar {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            margin-top: 38px;
            overflow: hidden;
            border-radius: 50%;
        }
        .teacher-name {
            margin: 5px 0;
            line-height: 34px;
            text-align: center;
            color: #666;
            font-size: 24px;
            font-weight: bold;
        }
        .teacher-brief {
            color: #999;
        }
        .teacher-pay {
            position: absolute;
            bottom: 8px;
            right: 0;
            width: 100%;
            text-align: center;
            .teacher-get-coupon {
                display: inline-block;
                width: 225px;
                height: 45px;
                line-height: 45px;
                font-size: 22px;
                border-radius: 5px;
                text-align: center;
                outline: none;
                border: none;
                color: #fff;
                background: #f00;
                cursor: pointer;
                &:hover {
                    background: #cb1615;
                }
            }
        }
    }
}


.org-list {
    .org-item {
        width: 200px;
        margin: 5px 7px;
        padding: 8px 20px;
        img {
            display: block;
        }
        .org-avatar {
            width: 110px;
            height: 110px;
            margin: 12px auto;
        }
        .org-pay {
            text-align: center;
            .org-get-coupon {
                display: inline-block;
                width: 160px;
                height: 44px;
                line-height: 44px;
                font-size: 22px;
                border-radius: 5px;
                text-align: center;
                outline: none;
                border: none;
                color: #fff;
                background: #f00;
                cursor: pointer;
                &:hover {
                    background: #cb1615;
                }
            }
        }
    }
}

.bottom-banner,
.top-banner {
    overflow: hidden;
    text-align: center;
    background: #f5f5f5 url('') center no-repeat;
    img {
        position: relative;
        z-index: -1;
        display: block;
    }
}

.top-banner {
    margin-bottom: 30px;
}

.share-wrapper {
    margin-top: 30px;
    text-align: center;
    .share-btn{
        position: relative;
        display: inline-block;
        color: #fff;
        border-radius: 5px;
        font-family: "FangSong";
        text-align: center;
        cursor: pointer;
        transition: all .5s;
        .share-btn-img {
            display: block;
        }
        .baidu-share {
            top: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

.bottom-banner {
    position: relative;
    margin-top: 30px;
    min-height: 30px;

    .copyright {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -10px;
        color: #fff;
        text-align: center;
    }
}

.image-item {
    margin-top: 30px;
    text-align: center;

    a,
    img {
        display: block;
    }

    img {
        margin: 0 auto;
    }
}