/**
 * @file 活动页面 - 志愿老师
 * @author liuxin
 */

@import '../common/component/loginDialog.less';
@import '../common/layout.less';

body {    background: #fff;
}
#main {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    #layout {
        overflow: hidden;
        background: url('http://img.gsxservice.com/0cms/d/file/content/2015/01/54b48324d6471.jpg') 50% 0 no-repeat;
        height: 750px;
        margin: 0 auto;
    }
    .details {
        height: 1000px;
        .title {
            margin: 20px 0 20px 0;
            height: 100px;
            hr {
                display: inline-block;
                width: 100%;
                margin: 40px 0 0 0;
                border: none;
                height: 4px;
                background: #631b12;
            }
            span {
                width: 199px;
                height: 58px;
                line-height: 46px;

                display: inline-block;
                border: 4px solid #631b12;
                background: #eee6da;
                color: #631b12;
                font-size: 28px;
                font-weight: bold;
                position: relative;
                top: -35px;
            }
        }
        .photo {
            text-align: center;
            img {
                margin-bottom: 30px;
            }
            p {
                margin: auto 200px;
                text-align: left;
                font-size: 24px;
                color: #631b12;
                em {
                   color: #ec7447;
                }
            }
        }
        .arts {
            text-align: center;
            img {
                margin: 20px 0 0 0;
            }
            p {
                font-size: 24px;
                color: #631b12;
            }
        }
        .scan {
            text-align: center;
            img {
                margin: 60px auto;
            }
            p {
                font-size: 24px;
                color: #631b12;
                em {
                   color: #ec7447;
                }
            }
        }

    }



    .introduction {
        background-color: #f9df66;
        height: 600px;
        margin: 120px 0 0 0;

        .outer {
            width: 1100px;
            margin: 0 auto;
            padding-top: 140px;
            font-size: 24px;
            font-weight: bold;
            color: #631b12;
            p {
                margin: 0 0 10px 0;
            }
        }
        .inner {
            text-align: left;
            height: 330px;
            width: 1080px;
            margin: 0 auto;
            padding: 10px 0 0 10px;
            background-color: #f5cf5e;
            color: #631b12;
            border: 2px solid #645929;
            p {
                font-size: 24px;
                color: #631b12;
                margin: 5px 0 0 5px;
                font-weight: normal;
            }
            ol {
                font-size: 24px;
                color: #631b12;
                margin: 0 0 0 50px;
                list-style: decimal;
                li {
                    margin: 0 0 0 20px;
                    ol {
                       list-style: none;
                       margin: 0 0 0 -10px;
                       span {
                            text-align: center;
                            display: inline-block;
                            height: 28px;
                            width: 28px;
                            border: 1px solid;
                            border-radius: 14px;
                            margin: 0 10px 0 0;
                            font-size: 18px;
                       }
                    }
                }
            }
        }
    }
    .footer {
        text-align: center;
        margin-bottom: 0;
        height: 406px;
        background: url('http://img.gsxservice.com/0cms/d/file/content/2015/01/54b4832abd51a.jpg') 50% 0 no-repeat;
        .press {
            z-index: 2;
            height: 90px;
            width: 335px;
            position: relative;
            margin: 0 auto;
            top: 240px;
            background: url('http://img.gsxservice.com/0cms/d/file/content/2015/01/54b48327af07d.jpg') 50% 0 no-repeat;
        }
        .baidu-share {
            z-index: 3;
            margin: 0 auto;
            position: relative;
            top: 250px;
            height: 45px;
        }
    }

    .press:hover {
       background-position: bottom;
    }

    .press:active {
       background-position: bottom;
    }


}


