/**
 * @file 赢在校园【预报名】
 * @author caoying
 */

@import '../main/base.less';
@import '../common/component/loginDialog.less';
@import '../common/component.less';
@import '../common/layout.less';
@import '../information/infoDetail/share.less';

.content {
    background-color:#f5f5f5;

    .banner {
        width: 100%;
        height: 480px;
        position: relative;

        background: #f13639 url(http://img.gsxservice.com/0cms/d/file/content/2015/04/5523bba16dd13.png) no-repeat center center;

    }
}

.my-wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/*大赛简介*/
.intro {
    position: absolute;
    bottom: 110px;
    left: 50%;
    margin-left: -155px;
    padding-bottom: 28px;

    .title {
        position: relative;
        top: 20px;
        z-index: 2;
        color: #fff;
    }
}

.desc {
    font-size: 14px;
    color: #fff;
    line-height: 1.6;

    p {
        text-indent: 2em;
    }
}

.search {
    top: -20px;
    position: relative;
    width: 50px;
    margin-top: 20px;
    background: #625B5C;
    width: 100%;
    height: 40px;
        .form-controls {
            width: 350px;
            margin: 0 auto;
            height: 40px;
            line-height: 40px;

        .form-text {
            background-color: #B2AAAA;
            border-color: #B2AAAA;
            color: white;
            height: 30px;
            line-height: normal;
            font-family: normal;
        }

        .form-label {
            font-weight: normal;
            text-align: right;
            color: white;
            float: none;
        }

        .btn-primary {
            background-color: #E86668;
            border-color: #E86668;
            color: #fff;
            width: 80px;
            height: 30px;
            //margin-top: 4px;
            margin-left: 20px;
            text-align: center;
            line-height: 1;
            font-family: normal;
            //top: -3px;
        }
        .btn-primary:hover {
            background-color: #D73F41;
            box-shadow: 0 1px 0 0 #D73F41;
            border-color: #E44548;
        }
    }
}

.ul {
    list-style: none
}

.vote-list {
    margin-top: 0px;
    height: 100%;
    line-height: 1.7;

    .vote-picture {
        zoom: 1;
        width: 860px;
        margin: 0 auto;
        .clearfix();
        .icon-triangle {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 50px;
            color: #F76565;
        }
        .icon-triangle-oblong {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 55px;
            color: #F76565;
        }

        .vote-rank {
            position: absolute;
            top: 0;
            font-size: 14px;
            text-align: center;
            color: white;
        }

        .triangle {
            left: 10px;
        }

        .oblong {
            left: 0px;
        }

        .vote-user-link {
            height: 25px;
            font-size: 12px;
        }

        .icon-share {
            font-size: 14px;
            margin-right: 0px;
            cursor: pointer;
        }

        &:hover {
           .baidu-share {
                position: absolute;
                top: 200px;
                right: 0px;
            }
        }


        li {
            float: left;
            width: 180px;
            //margin-right: 35px;
            background: #fff;
            text-align: center;
            box-shadow: 0 1px 1px #d5d5d5;
            font-size: 13px;
           //margin-top: 20px;
            margin: 0 17.5px 20px 17.5px;
            position: relative;
            .student-name{
                font-size: 15px;
                font-weight: 500;
                color: black;
                height: 25px;
            }
            .student-img {
                max-width: 120px;
                height: 90px;
                margin-top: 30px;

            }
            .student-school {
                height: 25px;
            }
            .student-profession {
                height: 25px;
            }
            .vote-block {
                height: 25px;
                .vote-count {
                color: #e84143;
                }
            }

            .btn-info {
                background: #F76565;
                border-color: #F76565;
                width: 90px;
                height: 30px;
                margin-bottom: 5px;
                line-height: 1.171428571428571;
                .icon-heart {
                    margin-right: 5px;
                }
            }

            .btn-info:hover {
                background-color: #D73F41;
                box-shadow: 0 0.5px 0 0 #D73F41;
                border-color: #D73F41;
            }
        }
    }

}

.vote-rule {
    color: black;
    width: 100%;
    height:200px;
    background-color: white;

    .rule{
        width: 80px;
        height: 30px;
        background-color: #494444;
        color: white;
        margin-left: 178px;
        .rule-font {
            margin-left: 13px;
            line-height: 2.0;
        }
        .rule-detail {
            line-height: 2.5;
            width: 800px;
            color: #5C5454;
            line-height: 2.0;
            .rule-number {
                position: relative;
                height: 25px;
                line-height: 25px;
                width: 25px;
                display: inline-block;
                top: -2px;
            }
            .number {
                position: absolute;
                left: 0;
                display: inline-block;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                top: 1px;
                font-size: 12px;
            }
            .icon-circle {
                color: #FCD0D0;
                vertical-align: middle;
                text-align: center;
                font-size: 20px;
                width: 25px;
                height: 25px;
                display: inline-block;
                line-height: 25px;
            }

        }


    }
}
.vote-space {
    width: 100%;
    height: 20px;
    background-color: red;
}
.vote-footer {
    width: 100%;
    height: 260px;
    background-color: #494444;
    overflow: hidden;

    .vote-footer-content {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 13px;
        .vote-footer-font {
            img {
                vertical-align: middle;
                height: 28px;
            }
            .start {
                color: #f5f5f5;
            }
         }

    }
    .copyright {
        color: @brand-text-lighter;
        font-size: @font-size-tiny;
        text-align: center;
        margin-top: 80px;
    }
}

.pager-block{
    margin-bottom: 30px;
}


