$icomoon-font-path: "fonts" !default;

$icon-ic_minus: "\e90d";
$icon-ic_add: "\e900";
$icon-ic_calendar: "\e901";
$icon-ic_cancel: "\e902";
$icon-ic_choosevideo: "\e903";
$icon-ic_detail: "\e904";
$icon-ic_dingdan: "\e905";
$icon-ic_uplord: "\e90b";
$icon-angle-down: "\e906";
$icon-angle-left: "\e907";
$icon-angle-right-circle: "\e908";
$icon-angle-right: "\e909";
$icon-angle-up: "\e90a";
$icon-arrow-up: "\e90c";
$icon-caret-down: "\e91c";
$icon-caret-left: "\e91d";
$icon-caret-right: "\e91e";
$icon-caret-up: "\e91f";
$icon-caret-updown: "\e920";
$icon-check: "\e927";
$icon-clock-large-o: "\e92b";
$icon-clock-o: "\e92c";
$icon-comment-org: "\e92f";
$icon-download: "\e935";
$icon-favor: "\e93b";
$icon-help: "\e945";
$icon-logo: "\e959";
$icon-long-arrow-down: "\e95a";
$icon-nav-new: "\e96b";
$icon-phone: "\e972";
$icon-play-oo: "\e975";
$icon-plus-circle: "\e977";
$icon-plus-o: "\e978";
$icon-search: "\e987";
$icon-star-half: "\e992";
$icon-star-o: "\e993";
$icon-times-circle: "\e99c";
$icon-user-o: "\e9a0";
$icon-video-camera: "\e9a4";

