.gold-home {
    .baner-wrap {
        margin-top: 0;
        padding-bottom: 0;
        .top-sliders-container {
            width: 100%;
            margin-left: 0;
        }
    }

    .screenTitle {
        background: #FFF3DF;
        line-height: rem(30);
        height: rem(30);
        padding: 0 rem(10);
        .title {
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #FF6C00;
            line-height: rem(30);
            height: rem(30);
        }
    }
    .liudan {
        background: white;
        text-align: center;
        padding: rem(40) rem(10) rem(10) rem(10);
        .liudan-name {
            font-family: PingFang-SC-Medium;
            font-size: rem(30);
            color: #3D3D3E;
            line-height: rem(30);
        }
        .one-word {
            font-family: PingFang-SC-Regular;
            font-size: rem(17);
            color: #9D9D9E;
            line-height: rem(25);
            margin-top: rem(15);
        }
        .formElement {
            background: #FFFFFF;
            border: 1px solid #DDDDDE;
            border-radius: rem(2);
            margin: rem(15) 0;
            height: rem(48);
            line-height: rem(48);
            padding-left: rem(8);
            .unable {
                border: 1px solid red;
            }
            .name, .mobile {
                width: 100%;
                height: rem(40);
                line-height: rem(40);
                border: none;
            }
        }
        .get {
            width: 100%;
            background: #FF6C00;
            border-radius: rem(2);
            font-family: PingFang-SC-Medium;
            font-size: rem(18);
            color: #FFFFFF;
            line-height: rem(45);
            height: rem(45);
            margin-top: rem(20);
        }
    }
    .course-box {
        //margin-top: rem(15);
        padding: rem(20) rem(10);
        //padding-bottom: rem(20);
        .first-nav {
            display: flex;
            padding: rem(16) 0;
            padding-left: rem(8);
            margin-bottom: 0;
            .box-name {
                flex: 1;
                text-align: left;
                font-family: PingFang-SC-Medium;
                font-size: rem(20);
                color: #3D3D3E;
                line-height: rem(20);
            }
            .moreCourse {
                flex: 1;
                text-align: right;
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #6D6D6E;
                line-height: rem(15);
                position: relative;
                top: rem(2);
                right: rem(20);
                img {
                    height: rem(15);
                    width: rem(8);
                    position: absolute;
                    right: rem(-10);
                    top: rem(0);
                }
            }
        }
        .course-container {
            .item {
                width: 46%;
                float: left;
                margin-left: rem(5);
                margin-right: rem(5);
                background: white;
                margin-bottom: rem(10);
                box-shadow: 0 0 rem(10) 0 rgba(0,0,0,0.10);
                .cover {
                    position: relative;
                    padding-top: 56%;
                    overflow: hidden;
                    .course-cover {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .video-icon {
                        height: rem(40);
                        width: rem(40);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    .fenqi {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: inline-block;
                        background: #37A4F5;
                        font-family: MicrosoftYaHei;
                        font-size: rem(12);
                        color: #FFFFFF;
                        line-height: rem(12);
                        display: inline-block;
                        padding: rem(4);
                        padding-bottom: rem(5);
                    }
                }
                .course-name {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(14);
                    color: #3C3D3D;
                    line-height: rem(20);
                    min-height: rem(50);
                    margin-bottom: rem(6);
                    padding-top: rem(10);
                    padding-left: rem(10);
                    padding-right: rem(10);
                }
                .third-nav {
                    position: relative;
                    height: rem(20);
                    line-height: rem(20);
                    padding: rem(8) rem(10);
                    .tex {
                        font-family: PingFang-SC-Regular;
                        font-size: rem(13);
                        color: #9D9E9E;
                        line-height: rem(13);
                        display: inline-block;
                        position: absolute;
                        left: rem(10);
                    }
                    .origin-price {
                        position: absolute;
                        right: rem(10);
                        font-family: PingFang-SC-Regular;
                        font-size: rem(14);
                        color: #9D9D9E;
                        line-height: rem(20);
                        height: rem(20);
                    }
                }
                .last-nav {
                    padding: 0 rem(10);
                    padding-bottom: rem(10);
                    .tex {
                        float: left;
                        font-family: PingFang-SC-Regular;
                        font-size: rem(13);
                        color: #9D9D9E;
                        line-height: rem(20);
                        display: inline-block;
                    }
                    .price, .free-price {
                        float: right;
                        font-family: PingFang-SC-Regular;
                        font-size: rem(14);
                        color: #FF6C00;
                        line-height: rem(20);
                        height: rem(20);
                    }
                    .free-price {
                        color: #43B245;
                    }
                    .course-type {
                        float: left;
                        font-family: PingFang-SC-Regular;
                        font-size: rem(14);
                        color: #9d9d9e;
                        line-height: rem(20);
                        height: rem(20);
                        width: 61%;
                    }
                }
            }
        }
    }
    .banner {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .video-container {
        background: white;
        .first-nav {
            display: flex;
            padding: rem(12) rem(10);
            margin-bottom: 0;
            .box-name {
                font-family: PingFang-SC-Medium;
                font-size: rem(20);
                color: #3D3D3E;
                line-height: rem(40);
                height: rem(40);
                flex: 1;
                text-align: left;
            }
            .moreVideo {
                height: rem(40);
                line-height: rem(40);
                flex: 1;
                text-align: right;
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #6D6D6E;
                position: relative;
                right: rem(20);
                img {
                    height: rem(15);
                    width: rem(8);
                    position: absolute;
                    right: rem(-12);
                    top: rem(12.5);
                }
            }
        }
        .video-item {
            width: 100%;
            position: relative;
            padding: 0 rem(10) rem(10) rem(15);
            .cover {
                width: 100%;
                height: rem(200);
            }
            .video-icon {
                visibility: visible;
                opacity: 1;
                height: rem(60);
                width: rem(60);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .hot-teacher {
        margin-top: 0;
        padding: rem(10) rem(15);
        background: none;
        .first-nav {
            height: rem(50);
            line-height: rem(50);
            .name {
                letter-spacing: rem(-0.37);
                font-family: PingFang-SC-Medium;
                font-size: rem(20);
                color: #3d3d3e;
                line-height: rem(40);
                height: rem(40);
            }
            .intoNext {
                position: relative;
                top: rem(0);
                letter-spacing: rem(-0.32);
                margin-top: rem(5);
                height: rem(40);
                line-height: rem(40);
                text-align: right;
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #6d6d6e;
                right: rem(18);
                .intoIcon {
                    position: absolute;
                    top: rem(12.5);
                    right: rem(-10);
                    height: rem(15);
                    width: rem(8);
                }
            }
        }
        .swiper-container-2 {
            .swiper-wrapper {
                &.swiper-container-photo-2 {
                    max-height: rem(230);
                }
                .swiper-slide {
                    .photo {
                        img {
                            width: rem(100);
                            height: rem(100);
                            border-radius: rem(6);
                        }
                    }
                    .name {
                        width: rem(100);
                        font-family: PingFang-SC-Regular;
                        font-size: rem(16);
                        color: #3D3D3E;
                        height: rem(30);
                        line-height: rem(30);
                        margin-top: rem(10);
                        font-weight: 500;
                    }
                    .desc {
                        font-family: PingFang-SC-Regular;
                        font-size: rem(13);
                        color: #9D9D9E;
                        line-height: rem(20);
                        height: rem(20);
                    }
                }
            }
        }
    }

    .orgInfo {
        background: white;
        padding: rem(25) rem(10) rem(10) rem(10);
        .name {
            font-family: PingFang-SC-Medium;
            font-size: rem(20);
            color: #3D3D3E;
            line-height: rem(30);
            height: rem(30);
        }
        .content {
            margin-top: rem(15);
            overflow-x: auto;
        }
    }
}