{{ *

@file 促销活动 - 课程列表项
@author wangyujie

* }}
{{ strip }}


{{ if isset($smarty.get.action) }}
    {{ $urlAction = $smarty.get.action }}
{{ else }}
    {{ $urlAction = 'add' }}
{{ /if }}

{{ * 班课列表 * }}
{{ if $classCourseList != '' }}
    <div id="class-course-list">
        {{ foreach $classCourseList as $item }}
        <div class="course-item">

            <div class="header">
                <span class="course-number">
                    班级编号：{{ $item.course_number }}
                </span>
            </div>

            <table class="table course-item-info
                {{ if $item.has_set && $urlAction=='update' }} checked {{ /if }}
                {{ if $item.has_set && $urlAction=='add' }} showonly {{ /if }}">
                <tbody>
                    <tr>

                        <td class="col1 {{ if $item.has_set && $urlAction=='add' }} {{ else }}checked-flag {{ /if }}">
                            <input type="checkbox" name="course_number" value="{{ $item.course_number }}"
                            {{ if $item.has_set }} checked
                                {{ if $urlAction=='add' }} disabled {{ /if }}
                            {{ /if }} />
                            <input type="hidden" name="course_id" value="{{ $item.market_course_id }}" />
                            <input type="hidden" name="course_type" value="2">
                        </td>

                        <td class="col2">

                            <div class="course-info">
                                <a href="/teacher/classCourseDetail?number={{ $item.course_number }}" target="_blank">
                                    {{ include file="common/component/image.html" url=$item.thumbnail width=107 height=82 }}
                                </a>

                                <div class="course-title">
                                    <a href="/teacher/classCourseDetail?number={{ $item.course_number }}" target="_blank">
                                        {{ $item.course_name|cn_truncate: 14 }}
                                    </a>

                                    {{ include file="common/component/classCourseIcon.html" lesson_way=$item.lesson_way }}
                                </div>

                                <div class="course-len">
                                    {{ $item.course_len / 60 / 60 }}小时
                                    <span>
                                        （{{ $item.begin_time|date_format:'%Y-%m-%d' }} 至 {{ $item.end_time|date_format:'%Y-%m-%d' }}）
                                    </span>
                                </div>
                                {{ if $item.is_chaban }}
                                    <div class="course-price">
                                        插班价: ￥<span>{{ $item.pre_price }}</span>
                                        <i class="question-icon icon-question-circle text-error"></i>
                                    </div>
                                {{ else }}
                                    <div class="course-price">
                                        ￥<span>{{ $item.pre_price }}</span>
                                    </div>
                                {{ /if }}

                                {{ if isset($item.activity_count) && $item.activity_count > 1 }}
                                <div class="text-info">
                                    参与其他同类活动：{{ $item.activity_count - 1 }}个
                                </div>
                                {{ /if }}
                            </div>
                        </td>

                        <td class="col3">
                            <div class="course-status">
                                {{ include file="common/variable/classStatus.html" scope=parent }}
                                {{ $classStatusMap[$item.status] }}
                            </div>

                            <div class="course-student">
                                <span class="text-primary">
                                {{ $item.total_pay_student }}
                                </span>
                                /{{ $item.max_student }} 人
                            </div>
                        </td>

                        {{ if $item.status != 2 && $item.status != 3 && $item.status != 4 && $urlAction=='update' }}
                        <td class="col4">

                            <div class="form-group discount-group">
                                <div class="form-controls">
                                    <span class="input-group">
                                        {{ if isset($item.curr_price) && $item.pre_price }}
                                            {{ $discount = $item.curr_price * 10 / $item.pre_price }}
                                            打 {{ $discount|number_format: 2 }} 折
                                        {{ else }}
                                            未设置折扣
                                        {{ /if }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-controls">
                                    <span class="input-group">
                                        {{ if isset($item.curr_price) }}
                                            {{ $derate = $item.pre_price - $item.curr_price }}
                                            减 {{ $derate|number_format: 2 }} 元
                                        {{ else }}
                                            未设置减免额度
                                        {{ /if }}
                                    </span>
                                </div>
                            </div>

                            <div class="curr-price">
                                折后价
                                <span>
                                    {{ if isset($item.curr_price) }}
                                        {{ $item.curr_price|number_format: 2 }}
                                    {{ else }}
                                        {{ $item.pre_price|number_format: 2 }}
                                    {{ /if }}
                                </span>元
                            </div>


                            <div class="message message-error">
                                <i class="icon icon-info-circle"></i>
                                <span>折扣信息设置有误</span>
                            </div>
                        </td>
                        {{ else if $item.has_set && $urlAction=='add' }}
                        <td class="col4 text-primary">
                            <div class="status">
                                <i class="icon icon-check-o"></i>
                                已加入该活动
                            </div>
                            <div class="">
                                减 {{ $item.pre_price - $item.curr_price|number_format: 2 }} 元
                            </div>

                            <div class="">
                                折后价 {{ $item.curr_price|number_format: 2 }} 元
                            </div>

                        </td>
                        {{ else }}
                        <td class="col4">

                            <div class="form-group discount-group">
                                <div class="form-controls">
                                    <span class="input-group">
                                        打
                                        <input class="form-text" type="text" name="discount"
                                        {{ if isset($item.curr_price) && $item.pre_price != 0 }}
                                            {{ $discount = $item.curr_price * 10 / $item.pre_price }}
                                            value="{{ $discount|number_format: 2 }}"
                                        {{ else }}
                                            value=""
                                        {{ /if }}
                                         />
                                       折
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-controls">
                                    <span class="input-group">
                                        或减
                                        <input class="form-text" type="text" name="derate"
                                        {{ if isset($item.curr_price) }}
                                            {{ $derate = $item.pre_price - $item.curr_price }}
                                            value="{{ $derate|number_format: 2 }}"
                                        {{ else }}
                                            value=""
                                        {{ /if }}
                                        />
                                        元
                                    </span>
                                </div>
                            </div>

                            <div class="curr-price">
                                折后价
                                <span>
                                    {{ if isset($item.curr_price) }}
                                        {{ $item.curr_price|number_format: 2 }}
                                    {{ else }}
                                        {{ $item.pre_price|number_format: 2 }}
                                    {{ /if }}
                                </span>元
                            </div>

                            <div class="message message-error">
                                <i class="icon icon-info-circle"></i>
                                <span>折扣信息设置有误</span>
                            </div>
                        </td>
                        {{ /if }}

                    </tr>
                </tbody>
            </table>
        </div>
        {{ /foreach }}
    </div>
{{ /if }}

{{ * 视频课列表 * }}
{{ if $videoCourseList != '' }}
    <div id="video-course-list">
        {{ foreach $videoCourseList as $item }}
        <div class="course-item">
            <table class="table course-item-info
                {{ if $item.has_set && $urlAction=='update' }} checked {{ /if }}
                {{ if $item.has_set && $urlAction=='add' }} showonly {{ /if }}">
                <tbody>
                    <tr>

                        <td class="col1 {{ if $item.has_set && $urlAction=='add' }} {{ else }}checked-flag {{ /if }}">
                            <input type="checkbox" name="course_number" value="{{ $item.course_number }}"
                            {{ if $item.has_set }} checked
                                {{ if $urlAction=='add' }} disabled {{ /if }}
                            {{ /if }} />
                            <input type="hidden" name="course_id" value="{{ $item.market_course_id }}" />
                            <input type="hidden" name="course_type" value="3">
                        </td>

                        <td class="col2">

                            <div class="course-info">
                                <a href="/video_course/getcourseshowdetail?number={{ $item.course_number }}" target="_blank">
                                    {{ include file="common/component/image.html" url=$item.thumbnail width=107 height=82 }}
                                </a>

                                <div class="course-title">
                                    <a href="/video_course/getcourseshowdetail?number={{ $item.course_number }}" target="_blank">
                                        {{ $item.course_name|cn_truncate: 14 }}
                                    </a>

                                    <label>视频课</label>
                                </div>

                                <div class="course-len">
                                    {{ $item.course_items_count }}课节
                                </div>

                                <div class="course-price">
                                    ￥<span>{{ $item.pre_price }}</span>
                                </div>

                                {{ if isset($item.activity_count) && $item.activity_count > 1 }}
                                <div class="text-info">
                                    参与其他同类活动：{{ $item.activity_count - 1 }}个
                                </div>
                                {{ /if }}
                            </div>
                        </td>

                        <td class="col3">
                            <div class="course-status">
                                售卖中
                            </div>

                            <div class="course-student">
                                已报名：
                                <span class="text-primary">
                                {{ $item.buyer_num }}
                                </span>
                                人
                            </div>
                        </td>

                        {{ if $item.status != 2 && $item.status != 3 && $item.status != 4 && $urlAction=='update' }}
                        <td class="col4">

                            <div class="form-group discount-group">
                                <div class="form-controls">
                                    <span class="input-group">
                                        {{ if isset($item.curr_price) && $item.pre_price != 0 }}
                                            {{ $discount = $item.curr_price * 10 / $item.pre_price }}
                                            打 {{ $discount|number_format: 2 }} 折
                                        {{ else }}
                                            未设置折扣
                                        {{ /if }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-controls">
                                    <span class="input-group">
                                        {{ if isset($item.curr_price) }}
                                            {{ $derate = $item.pre_price - $item.curr_price }}
                                            减 {{ $derate|number_format: 2 }} 元
                                        {{ else }}
                                            未设置减免额度
                                        {{ /if }}
                                    </span>
                                </div>
                            </div>

                            <div class="curr-price">
                                折后价
                                <span>
                                    {{ if isset($item.curr_price) }}
                                        {{ $item.curr_price|number_format: 2 }}
                                    {{ else }}
                                        {{ $item.pre_price|number_format: 2 }}
                                    {{ /if }}
                                </span>元
                            </div>

                            <div class="message message-error">
                                <i class="icon icon-info-circle"></i>
                                <span>折扣信息设置有误</span>
                            </div>
                        </td>
                        {{ else if $item.has_set && $urlAction=='add' }}
                        <td class="col4 text-primary">
                            <div class="status">
                                <i class="icon icon-check-o"></i>
                                已加入该活动
                            </div>
                            <div class="">
                                减 {{ $item.pre_price - $item.curr_price|number_format: 2 }} 元
                            </div>
                            <div class="">
                                折后价 {{ $item.curr_price|number_format: 2 }} 元
                            </div>
                        </td>
                        {{ else }}
                        <td class="col4">

                            <div class="form-group discount-group">
                                <div class="form-controls">
                                    <span class="input-group">
                                        打
                                        <input class="form-text" type="text" name="discount"
                                        {{ if isset($item.curr_price) }}
                                            {{ $discount = $item.curr_price * 10 / $item.pre_price }}
                                            value="{{ $discount|number_format: 2 }}"
                                        {{ else }}
                                            value=""
                                        {{ /if }}
                                         />
                                       折
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-controls">
                                    <span class="input-group">
                                        或减
                                        <input class="form-text" type="text" name="derate"
                                        {{ if isset($item.curr_price) }}
                                            {{ $derate = $item.pre_price - $item.curr_price }}
                                            value="{{ $derate|number_format: 2 }}"
                                        {{ else }}
                                            value=""
                                        {{ /if }}
                                        />
                                        元
                                    </span>
                                </div>
                            </div>

                            <div class="curr-price">
                                折后价
                                <span>
                                    {{ if isset($item.curr_price) }}
                                        {{ $item.curr_price|number_format: 2 }}
                                    {{ else }}
                                        {{ $item.pre_price|number_format: 2 }}
                                    {{ /if }}
                                </span>元
                            </div>

                            <div class="message message-error">
                                <i class="icon icon-info-circle"></i>
                                <span>折扣信息设置有误</span>
                            </div>
                        </td>
                        {{ /if }}

                    </tr>
                </tbody>
            </table>
        </div>
        {{ /foreach }}
    </div>
{{ /if }}

{{ /strip }}