@import "../../../resource/css/default.styl";

.intro-text-area {
    margin-bottom: 24px;
    position: relative;
    & &-input {
        height: 62px;
    }    
    &-operate {
        position: absolute;
        margin-left: 6px;
        margin-top: 13px;
        .icon-Combined-Shape {
            font-size: 20px;
        }
    }
}