.count-down-component {
    display:inline-block;
    & > div {
        display:inline-block;
    }
    .special-color {
        font-size: 12px;
        color: #6D6D6E;
        line-height: 12px;
    }
}

