@import "page/_base/base.styl";

body
    color #3d3d3d
    font-size rem(14)

.apply-detail,
.apply-nav,
.apply-no-data
    img
        opacity 0

.apply-nav,
.apply-no-data
    text-align center

.apply-nav
    background-color #fff
    height rem(48)
    line-height rem(48)
    font-size rem(18)

    > img
        width rem(31)
        height rem(31)
        margin-right rem(5)
        margin-top rem(-5)

.apply-detail
    margin rem(20) rem(15)

    > li:first-child
        border-bottom rem(1) solid #d8d8d8
        padding-bottom rem(15)

    > li
        padding rem(15)
        margin-bottom rem(20)
        background-color #fff
        border-top rem(4) solid #3fa5f2
        border-radius rem(4)
        box-shadow 0 rem(2) rem(3) 0 rgba(211,211,211,0.53)

        > div
            line-height 1.8

        > .notice
            position relative
            color #9d9e9e
            margin-bottom rem(5)

            > span
                color #48b14b
                position absolute
                right 0
                top 0

            > span.success
                color #f95e5e