{{ *
   * @file 状元活动页面的静态数据
   * @author tangrongyan
* }}

{{ $page_data = [] scope="parent" }}

{{ $news4Data = [] }}


{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-11-05" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=new_11-5" }}
{{ $news4Data9['title'] = "陈向东：重新起跑的幸福" }}
{{ $news4Data[] = $news4Data9 }}
{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-11-03" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=new_11-3" }}
{{ $news4Data9['title'] = "陈向东：移动在线教育十个靠谱的创业方向" }}
{{ $news4Data[] = $news4Data9 }}
{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-10-31" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=new_10-31" }}
{{ $news4Data9['title'] = "陈向东：互联网教育会颠覆传统教育培训机构吗？" }}
{{ $news4Data[] = $news4Data9 }}
{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-10-28" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=new_10-28" }}
{{ $news4Data9['title'] = "陈向东参加“2014年中国教育培训行业发展年会（大连）会议" }}
{{ $news4Data[] = $news4Data9 }}
{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-10-25" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=new_10-25" }}
{{ $news4Data9['title'] = "陈向东：做成一番事情需具六个要素" }}
{{ $news4Data[] = $news4Data9 }}


{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-10-21" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=value" }}
{{ $news4Data9['title'] = "跟谁学荣膺“最具价值在线教育机构”奖项" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-10-20" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=o2o" }}
{{ $news4Data9['title'] = "陈向东：不用猜了，跟谁学其实是O2O找好老师学习服务电商平台" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-10-18" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=subvert" }}
{{ $news4Data9['title'] = "陈向东自我颠覆，做在新东方做不了的事" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-10-18" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=trend" }}
{{ $news4Data9['title'] = "从“圈里人”的近期动作看教培业的产业化升级" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-10-15" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=experience" }}
{{ $news4Data9['title'] = "陈向东发声：徐小平极大关注跟谁学，体验并吐槽" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data0 = [] }}
{{ $news4Data0['date'] = "2014-10-14" }}
{{ $news4Data0['url'] = "/guide/nlayout?op=young" }}
{{ $news4Data0['title'] = "陈向东：我也是90后" }}
{{ $news4Data[] = $news4Data0 }}


{{ $news4Data1 = [] }}
{{ $news4Data1['date'] = "2014-09-30" }}
{{ $news4Data1['url'] = "/guide/nlayout?op=chic" }}
{{ $news4Data1['title'] = "来跟谁学，跟谁学？快看看这里的大牛老师和别致课程吧" }}
{{ $news4Data[] = $news4Data1 }}


{{ $news4Data2 = [] }}
{{ $news4Data2['date'] = "2014-09-30" }}
{{ $news4Data2['url'] = "/guide/nlayout?op=founded" }}
{{ $news4Data2['title'] = "陈向东：我为什么创办跟谁学？" }}
{{ $news4Data[] = $news4Data2 }}

{{ $news4Data3 = [] }}
{{ $news4Data3['date'] = "2014-09-28" }}
{{ $news4Data3['url'] = "/guide/nlayout?op=reason" }}
{{ $news4Data3['title'] = "陈向东的跟谁学是跟谁学的？" }}
{{ $news4Data[] = $news4Data3 }}

{{ $news4Data4 = [] }}
{{ $news4Data4['date'] = "2014-09-27" }}
{{ $news4Data4['url'] = "/guide/nlayout?op=tutor" }}
{{ $news4Data4['title'] = "[师之秀场]田应翔：会讲故事的卓越思维导师" }}
{{ $news4Data[] = $news4Data4 }}


{{ $news4Data4 = [] }}
{{ $news4Data4['date'] = "2014-09-25" }}
{{ $news4Data4['url'] = "/guide/nlayout?op=follow" }}
{{ $news4Data4['title'] = "陈向东到底要跟谁学？" }}
{{ $news4Data[] = $news4Data4 }}

{{ $news4Data5 = [] }}
{{ $news4Data5['date'] = "2014-09-24" }}
{{ $news4Data5['url'] = "/guide/nlayout?op=profit" }}
{{ $news4Data5['title'] = "陈向东谈跟谁学：不以返佣为盈利模式" }}
{{ $news4Data[] = $news4Data5 }}

{{ $news4Data6 = [] }}
{{ $news4Data6['date'] = "2014-09-24" }}
{{ $news4Data6['url'] = "/guide/nlayout?op=platform" }}
{{ $news4Data6['title'] = "陈向东创业项目跟谁学上线，不是天猫淘宝，是学习服务平台" }}
{{ $news4Data[] = $news4Data6 }}

{{ $news4Data7 = [] }}
{{ $news4Data7['date'] = "2014-09-24" }}
{{ $news4Data7['url'] = "/guide/nlayout?op=sport" }}
{{ $news4Data7['title'] = "陈向东跟谁学浮出水面，课程包括跑酷太极拳" }}
{{ $news4Data[] = $news4Data7 }}

{{ $news4Data8 = [] }}
{{ $news4Data8['date'] = "2014-09-23" }}
{{ $news4Data8['url'] = "/guide/nlayout?op=dream" }}
{{ $news4Data8['title'] = "130天，3120小时，跟谁学带着梦想向你走来" }}
{{ $news4Data[] = $news4Data8 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-09-22" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=communication" }}
{{ $news4Data9['title'] = "跟谁学平台上线倒计时，老师交流会火爆上演" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data10 = [] }}
{{ $news4Data10['date'] = "2014-09-15" }}
{{ $news4Data10['url'] = "/guide/nlayout?op=speak" }}
{{ $news4Data10['title'] = "互联网血液与公益基因——从支教说起" }}
{{ $news4Data[] = $news4Data10 }}

{{ $news4Data8 = [] }}
{{ $news4Data8['date'] = "2014-09-14" }}
{{ $news4Data8['url'] = "/guide/nlayout?op=world" }}
{{ $news4Data8['title'] = "[师之秀场]李达：托福带你走遍天下" }}
{{ $news4Data[] = $news4Data8 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-08-01" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=prepare" }}
{{ $news4Data9['title'] = "陈向东：创业不是刻意的准备" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-07-09" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=education" }}
{{ $news4Data9['title'] = "职业经理人转身创业者：陈向东的在线教育情怀" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-07-09" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=return" }}
{{ $news4Data9['title'] = "陈向东重回教育创业：推在线课程平台跟谁学" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-07-09" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=entrepreneurship" }}
{{ $news4Data9['title'] = "陈向东创业：推在线课程平台跟谁学" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-07-09" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=good" }}
{{ $news4Data9['title'] = "从大势上看，为什么说跟谁学现在切入是个好时机？" }}
{{ $news4Data[] = $news4Data9 }}


{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-06-18" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=back" }}
{{ $news4Data9['title'] = "陈向东，归来" }}
{{ $news4Data[] = $news4Data9 }}

{{ $news4Data9 = [] }}
{{ $news4Data9['date'] = "2014-04-25" }}
{{ $news4Data9['url'] = "/guide/nlayout?op=attention" }}
{{ $news4Data9['title'] = "陈向东结束美国休假 回归下一步备受瞩目" }}
{{ $news4Data[] = $news4Data9 }}



{{ $news4['new'] = $news4Data }}
{{ $page_data['news']=$news4['new'] scope="parent" }}















