{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $script_path = "guide/teacher_layout" }}

{{ /block }}

{{ block name="title" }}
学生帮助- 帮助中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/guide/teacher_layout.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}



<div id="main">

    {{ include file="./sidebar.html" }}

    <!--右-->

    <div class="btright" id="item">
        <div class="crumb">
            <a id="back"  href="/guide/student?a=student">学生帮助</a> >
            <span id="current" ></span>
        </div>

        {{ if isset($smarty.get.op) }}
        {{ $_GET['op'] = $smarty.get.op }}
        {{ else }}
        {{ $_GET['op'] = 'guide' }}
        {{ /if }}

        {{ **我的账号（注册登陆，变更账号密码，我的个人主页，账号使用）** }}
        {{ if $_GET['op'] == 'login' }}
            {{ include file="../student/login.html" }}
        <!--
        {{ else if $_GET['op'] == 'perfect' }}
            {{ include file="../student/perfect.html" }}-->
        {{ else if $_GET['op'] == 'change' }}
            {{ include file="../student/change.html" }}
        {{ else if $_GET['op'] == 'mainpage' }}
            {{ include file="../student/mainpage.html" }}
        {{ else if $_GET['op'] == 'account' }}
            {{ include file="../student/account.html" }}

        {{ **搜索老师（网站搜索，快速推荐，老师信息）** }}
        {{ else if $_GET['op'] == 'search' }}
            {{ include file="../student/search.html" }}
        {{ else if $_GET['op'] == 'recommend' }}
            {{ include file="../student/recommend.html" }}
        {{ else if $_GET['op'] == 'info' }}
            {{ include file="../student/info.html" }}

        {{ **购买课时（购买流程，课程价格）** }}
        {{ else if $_GET['op'] == 'combo' }}
            {{ include file="../student/combo.html" }}
        {{ else if $_GET['op'] == 'price' }}
            {{ include file="../student/price.html" }}
        {{ else if $_GET['op'] == 'coupon' }}
            {{ include file="../student/coupon.html" }}

        {{ **约课上课（发起约课，如约上课，在线上课）** }}
        {{ else if $_GET['op'] == 'receive' }}
            {{ include file="../student/receive.html" }}
        {{ else if $_GET['op'] == 'attend' }}
            {{ include file="../student/attend.html" }}
        {{ else if $_GET['op'] == 'prepare' }}
            {{ include file="../student/prepare.html" }}

        {{ **支付评价 （支付课酬，评价体系）** }}
        {{ else if $_GET['op'] == 'system' }}
            {{ include file="../student/system.html" }}

        {{ **申诉保障（取消课程，取消订单，我要申诉）** }}
        {{ else if $_GET['op'] == 'cancel-less' }}
            {{ include file="../student/cancel-less.html" }}
        {{ else if $_GET['op'] == 'cancel-order' }}
            {{ include file="../student/cancel-order.html" }}
        {{ else if $_GET['op'] == 'appeal' }}
            {{ include file="../student/appeal.html" }}

        {{ **资金评价（资金）** }}
        {{ else if $_GET['op'] == 'compensation' }}
            {{ include file="../student/compensation.html" }}

        {{ **直播相关（进入教室，声音相关）** }}
        {{ else if $_GET['op'] == 'enter-classroom' }}
            {{ include file="../student/enter-classroom.html" }}
        {{ else if $_GET['op'] == 'audio-related' }}
            {{ include file="../student/audio-related.html" }}

        {{ /if }}

    </div>
    <!--右 over-->
</div>
</div>












{{ /strip }}
{{ /block }}