.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.double-line {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: inherit;
}
.relative-info {
  background-color: #fff;
  padding: 0 rem(15);

  .right-image {
    .child-content {
      padding-right: rem(104);
      position: relative;
    }
  }

  .image-children {
    display: -webkit-box;
    padding-top: rem(5);
  }
  .image-item {
    -webkit-box-flex: 1;
    height: rem(48);
    font-size: 0;
    text-align: center;

    img {
      height: rem(48);
      width: rem(86);
    }
  }

}
.load-more {
  height: rem(40);
  line-height: rem(40);
  color: #666;
  text-align: center;
  background-color: #fff;
}


//添加

.home-news {
  background-color: #fff;
  padding: 0 rem(15);
  position: relative;

  li {
    list-style: none;
    //padding-bottom: rem(14);
    padding-top: rem(14);
    padding-bottom: rem(14);

  }
  .item-content {
    h3 {
      font-size: rem(17);
      line-height: rem(22);
      color: #3c3c3c;
      font-weight: normal;
      min-height: rem(40);
      word-wrap: break-word;
      word-break: break-all;
      margin-bottom: rem(4);
      //letter-spacing:rem(1);
    }
  }
  .right-image {
    .child-content {
      //padding-right: rem(100);
      position: relative;
      max-height: rem(54);
      margin-bottom: rem(7);
      //top: rem(2);
    }
  }
  .right-img-content {
    position: absolute;
    right: 0;
    height: rem(61);
    width: rem(94);
    overflow: hidden;
    top: rem(1);
    margin-bottom: rem(15) !important;
    bottom: rem(15);
    img {
      display: inline-block;
    }

  }
  .image-children {
    display: -webkit-box;
    padding-top: rem(5);
  }
  .image-item {
    -webkit-box-flex: 1;
    height: rem(48);
    font-size: 0;
    text-align: center;

    img {
      height: rem(48);
      width: rem(86);
    }
  }
  .news-teacher-name {
    font-size: rem(10);
    margin-top: rem(15);
    //padding-bottom: rem(10);
    line-height: rem(10);
    color: #9d9d9d;
    //margin-bottom: rem(5);
    .right-side {
      float: right;
    }
  }
}

.load-more {
  height: rem(40);
  line-height: rem(40);
  color: #666;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  margin-top: rem(-1);
}

//添加
.right-img-content-more {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    width: 33.3%;
    display: inline-block;
    overflow: hidden;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.side-img {
  width: 96%;
  margin: 0 auto;
  img {
    height: rem(61);
    //
    width: 100%;
  }
}

.child-padding {
  padding: 0 !important;
}

.child-pad {
  padding-right: rem(104);

}

.child-no {
  margin-top: rem(5);
}

.right-img-more {
  margin: 0;
  padding: 0;
}

.right-img-a {
  position: relative;
}

.border-bottom {
  position: relative;
  border-bottom: 1px solid #E6E6E6;

}

.news-a {
  margin-top: rem(3) !important;
}