.photo-panel {
  //视频、相册样式
  .main-content {
    padding: rem(10);
    color: #fff;
    font-size: 0;
    .video-style {
      position: relative;
      display: inline-block;
      width: 32.2%;
      margin-right: rem(5);
      margin-bottom: rem(5);
      text-align: center;
      > a {
        position: absolute;
        padding-top: 40%;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        color: #fff;
        font-size: rem(26);
        z-index: 2;

      }
      .img-background {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        padding-top: 100%;
        > strong {
          position: absolute;
          bottom: 0;
          text-align: center;
          background: rgba(0, 0, 0, 0.5);
          display: block;
          width: 100%;
          font-size: rem(12);
          line-height: rem(26);
          height: rem(26);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .video-img {
        position: absolute;
        width: rem(37);
        height: rem(37);
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
      }
      .preface-img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }


    }

    .photo-style {
      width: 32.2%;
      margin-right: rem(5);
      margin-bottom: rem(5);
      display: inline-block;
      cursor: pointer;
      position: relative;
      min-height: rem(26);
      .img-background {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        padding-top: 100%;
        height: 100%;
        > img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
        > strong {
          position: absolute;
          bottom: 0;
          text-align: center;
          background: rgba(0, 0, 0, 0.5);
          display: block;
          width: 100%;
          line-height: rem(26);
          height: rem(26);
          font-size: rem(14);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }


    }
    .margin-edge {
      margin-right: 0;
    }
  }

  .none-content {
    line-height: rem(100);
    font-size: rem(14);
    background-color: #fff;
    text-align: center;
  }
}