<div class="teacher-baseinfo">
    <ul class="teacher-baseinfo-data">
        <li><a href="/{{ $profile.domain }}/tcomment">{{ $profile.comment_count }}<br/>评价</a></li>

        {{ $student_count = $profile.student_count }}
        {{ if $profile.student_count / 10000 > 1 }}
        {{ $student_count = ($profile.student_count / 10000)|string_format:'%.1f' }}
        {{ $student_count = $student_count|cat:'万' }}
        {{ /if }}
        <li>{{ $student_count }}<br/>学生</li>

        {{ $teach_time = $profile.teach_time }}
        {{ if $profile.teach_time / 10000 > 1 }}
        {{ $teach_time = ($profile.teach_time / 10000)|string_format:'%.1f' }}
        {{ $teach_time = $teach_time|cat:'万' }}
        {{ else }}
        {{ $teach_time = $profile.teach_time|string_format:'%.1f' }}
        {{ /if }}
        <li>{{ $teach_time }}<br/>教学时长</li>

    </ul>
    <div class="teacher-baseinfo-intro"{{ if !isset($profile.response_time) || empty($profile.response_time) }}style="display:none;" {{ /if }}>
    咨询回复{{ $profile.response_time }}，回复率{{ $profile.response_rate }}
</div>
</div>
{{ if !empty($teach.skill) }}
<div class="teacher-tips">
    <div class="teacher-content-header">老师标签</div>
    <ul class="teacher-tips-tag">
        {{ foreach $teach.skill as $val }}
        <li>{{ $val }}</li>
        {{ /foreach }}
    </ul>
    {{ if count($teach.skill) > 3 }}
    <div data-show="true" class="teacher-content-bottom teacher-tags-seemore">展开更多</div>
    {{ /if }}
</div>
{{ /if }}
{{ if !empty($profile.organization) }}
<div class="teacher-orginfo">
    <div class="teacher-content-header">所属机构</div>
    <div class="teacher-org">
        <a href="{{ $profile.organization.url }}" target="_blank">
            {{ if $profile.organization.avatar }}
                {{ include file="common/component/avatar.html" type="small" img=$profile.organization.avatar }}
            {{ else }}
                <img src="{{ $static_origin }}/asset/img/org/logo_35c5eacab8.jpg">
            {{ /if }}
        </a>
        <div class="teacher-org-info">
            <div class="teacher-org-name"><a href="{{ $profile.organization.url }}" target="_blank">{{ $profile.organization.name }}</a></div>
            <div class="teacher-org-zizhi">资质:<span>{{ $profile.organization.qualifications }}</span></div>
            {{ $description = $profile.organization.description|cn_truncate:10 }}
            <div class="teacher-org-intro">{{ $description }}</div>
        </div>
    </div>
</div>
{{ /if }}
{{ if !empty($tpl_data.article.items) }}
<div class="teacher-article">
    <div class="teacher-content-header">文章</div>
    <ul class="teacher-article-list">
        {{ foreach $tpl_data.article.items as $article }}
        {{ $hasCover = false }}
        {{ if isset($article.cover) && $article.cover != null }}
        {{ $hasCover = true }}
        {{ /if }}
        <li class="teacher-article-item">
            <a href="{{ $article.detail_url }}" target="_blank">
                {{ if $hasCover }}
                <div class="article-cover">
                    {{ include file="common/component/image.html" url=$article.cover width=60 height=60 }}
                </div>
                {{ /if }}
                <div class="article-info">
                    {{ $title = $article.title|cn_truncate:18 }}
                    <div class="article-title">{{ $title }}</div>
                    <div class="article-time">
                        <span class="time">{{ $article.publish_at }}</span>
                        <span class="zan"><i class="icon icon-thumbs-up"></i>{{ $article.upvotes }}</span>
                    </div>
                </div>
            </a>
        </li>
        {{ /foreach }}
    </ul>
    {{ if $tpl_data.article.pager.total > 3 }}
    <div class="teacher-content-bottom teacher-article-seemore"><a href="/{{ $profile.domain }}/article">查看更多</a></div>
    {{ /if }}
</div>
{{ /if }}
<div class="teacher-map">
    {{ if !$profile.country }}
        {{ include file="teacherCenter/common/teacherMap.html" tpl_data=$profile }}
    {{ else }}
        {{ include file="common/component/foreignAddrMap.html" type='home' country=$profile.country address=$profile.address }}
    {{ /if }}
</div>