.comment-list {
    .no-comment {
        height: 262px;
        background: url('../../../img/social/no_comment.jpg') no-repeat center;
    }
    .comment-item {
        padding: 20px 0 0px 0;
        border-top: solid 1px #eee;
        .clearfix();
        .user-avatar {
            float: left;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            a,
            img {
                display: block;
            }
        }

        .icon-vip-vip,
        .icon-vip-gvip,
        .icon-vip-cvip {
            margin-left: 5px;
            margin-right: 5px;
            width: 19px;
            height: 19px;
        }

        .icon-vip-vip {
            background: url(../../../img/userCenter/small-vip.png);
        }
        .icon-vip-gvip {
            background: url(../../../img/userCenter/small-gvip.png);
        }
        .icon-vip-cvip {
            background: url(../../../img/userCenter/small-cvip.png);
        }

        .photo-list-wrapper {
            margin-top: 1px;
            overflow: hidden;
            li {
                overflow: hidden;
                display: inline-block;
                padding: 2px;
                border: 1px solid #E6E6E6;
                margin-right: 8px;
                margin-bottom: 12px;
                &:last-child {
                    margin-right: 0;
                }
            }
            img {
                display: block;
                max-width: 100%;
            }
        }

        .comment-photo-box {
            width: 570px;
            height: 100%;
            overflow: hidden;
            margin-top: 10px;

            .comment-photo-list {
                width: 100%;
                height: 100%;
                overflow: hidden;
                padding-left: 1px;
                padding-top: 1px;

                li {
                    float: left;
                    padding: 2px;
                    border: 1px solid #E6E6E6;
                    margin-right: 8px;
                    margin-bottom: 12px;
                    cursor: pointer;

                    img {
                        width: 80px;
                        height: 60px;
                        display: block;
                        clear: both;
                    }
                }

                li.active {
                    border: 2px solid #FF7F00;
                    position: relative;
                    top: -1px;
                    left: -1px;
                }
            }

            .comment-photo-player {
                width: 494px;
                height: 100%;
                overflow: hidden;
                border: 1px solid #DEDEDE;
                text-align: center;
                margin-bottom: 14px;

                .photo-action {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    margin: 10px 14px;
                }

                li {
                    float: left;
                    margin-right: 15px;
                    font-size: 14px;
                    color: #3d3d3d;
                    cursor: pointer;
                }

                .photo-icon {
                    background: url(../../../img/teacher/photo-action.png);
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;
                }

                .photo-packup {
                    background-position: 0 0;
                }

                .photo-sourse {
                    background-position: -20px 0;
                }

                .photo-left {
                    background-position: -40px 0;
                }

                .photo-right {
                    background-position: -58px 0;
                }

                .photo-wrapper {
                    overflow: hidden;
                    margin: 0 auto;
                    text-align: center;
                    position: relative;
                    cursor: pointer;

                    .floater {
                        float: left;
                        height: 50%;
                        width: 100%;
                    }

                    img {

                    }
                }

                .photo-name {
                    margin: 10px auto;
                    text-align: center;
                    color: #333333;
                    font-size: 14px;
                }
            }
        }

        .comment-content {
            margin-left: 68px;
            .comment-des {
                word-break: break-all;
                line-height: 22px;
                color: #333;
            }
            .comment-info {
                line-height: 30px;
                color: #999;
                overflow: hidden;
                .user-name {
                    margin-right: 3px;
                    color: #666;
                    &:hover {
                        color: #f90;
                    }
                }

                .user-label {
                    padding: 2px;
                    margin-right: 5px;
                    font-size: 12px;
                    color: #fff;
                    border-radius: 2px;
                    background-color: #f90;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    line-height: 12px;
                }

                .level-label {
                    position: relative;
                    display: inline-block;
                    margin-right: 5px;
                    width: 29.5px;
                    height: 16px;
                    color: #37a1f1;
                    font-size: 29.5px;
                    top: 3px;
                    overflow: hidden;
                    .icon {
                        position: absolute;
                        top: -7px;
                    }
                    &.more-level {
                        font-size: 34px;
                        width: 34px;
                        .icon {
                            top: -9px;
                        }
                    }
                }

                .comment-top {
                    float: right;
                    margin-top: 5px;
                }

                .time-tip {
                    font-size: 12px;
                }
            }
            .comment-top {
                width: 34px;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                color: #fff;
                text-align: center;

                &.top1 {
                    background: #f00;
                }

                &.top2 {
                    background: #f90;
                }

                &.top3 {
                    background: #6187dc;
                }

                &.topx {
                    color: #999;
                }

            }
            .comment-actions {
                margin-top: 11px;
                line-height: 1;
                font-size: 12px;
                color: #999;
                margin-bottom: 5px;
                .clearfix();

                .divider {
                    padding: 4px 0;
                    float: right;
                }

                .action {
                    padding: 5px;
                    float: right;
                    cursor: pointer;
                    border: solid 1px transparent;

                    .icon {
                        font-size: 14px;
                    }

                    &.active,
                    &:hover {
                        color: #f90;
                    }

                }
            }

            &.open-reply {
                .comment-actions {
                    margin-bottom: 5px;
                    .reply-action{
                        background: #f8f8f8;
                        border-color: #f1f1f1;
                        border-bottom-color: transparent;
                    }
                }

                .reply-list-wrapper {
                    display: block;
                    position: relative;
                    top: -5px;
                }
            }

            .reply-list-wrapper {
                display: none;
                margin-top: -1px;
                margin-bottom: 10px;
                border: solid 1px #f1f1f1;
                position: relative;
                top: -5px;
            }
        }
    }
}

.ie8 {
    .comment-photo-player {
        .left,
        .right {
            display: none;
        }
    }
}







