.comment-editor {
    overflow: hidden;
    .user-avatar {
        float: left;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        vertical-align: top;
        img {
            display: block;
        }
    }

    .comment-content {
        margin-left: 68px;

        .placeholder-wrapper {
            display: block;

            .placeholder {
                left: 5px;
                top: 2px;
            }
        }

        textarea {
            display: block;
            height: 130px;
            padding: 8px 15px;
            line-height: 22px;
            box-sizing: border-box;
            width: 100%;
            border: solid 1px #eee;
            resize: none;
        }

        .comment-attach {
            margin-top: -1px;
            padding: 0 10px;
            border: solid 1px #eee;
            color: #999;
            font-size: 12px;
            background: #fbfbfb;

            .comment-attach-top {
                height: 36px;
                line-height: 36px;
            }

            .comment-show-photos {
                display: inline-block;
                position: relative;
                height: 22px;
                line-height: 22px;
                width: 64px;
                margin-right: 10px;
                font-size: 12px;
                text-align: center;
                background: #6187dc;
                color: #fff;
                border-radius: 2px;

                &:hover {
                    background: #567ed2;
                }
                .icon {
                    position: relative;
                    top: 1px;
                    margin-right: 3px;
                    font-size: 14px;
                }

                input[type="file"],
                object {
                    position: absolute;
                    width: 63px;
                    height: 18px;
                    left: 0;
                    top: 0;
                    cursor: pointer;
                    .opacity(0);
                }
            }

            .form-hint {
                margin-top: 9px;
                float: right;
                color: #999;

                strong {
                    color: #f90;
                }
            }

            .comment-img-list-wrapper {
                overflow: hidden;
                margin: 2px 0 10px 0;
                .comment-img-list {
                    margin-right: -8px;
                    .img-wrapper {
                        display: inline-block;
                        width: 86px;
                        height: 66px;
                        padding: 2px;
                        margin-right: 5px;
                        border: solid 1px #eee;
                        vertical-align: top;
                        position: relative;
                        img {
                            display: block;
                        }
                        .icon {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            line-height: 15px;
                            right: 0;
                            top: 0;
                            cursor: pointer;
                            display: none;
                            text-align: center;
                            background-color: #ccc;
                            &:hover {
                                color: #f90;
                            }
                        }
                        &:hover {
                            .icon {
                                display: block;
                            }
                        }
                        &.error-bg {
                            background: url('../../../img/teacher-center/upload_error.png') no-repeat center;
                        }
                        &.loading-bg {
                            background: url('../../../img/loading.gif') no-repeat center;
                        }
                    }
                }
            }
        }

        .comment-actions {
            margin-top: 15px;
            overflow: hidden;
            .btn {
                float: right;
                font-size: 18px;
                width: 130px;
                height: 40px;
                line-height: 40px;
                padding: 0;
            }
        }
    }
}