.detail-group-info {
    padding: 10px 20px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.05);

    .group-name {
        margin-right: 10px;
        font-size: 20px;
        color: #333;
    }

    .join-status {
        position: relative;
        top: 11px;
        margin-right: 20px;
        line-height: 16px;
        height: 18px;
        padding: 0 6px;
        border: solid 1px #f90;
        border-radius: 3px;
        background: #fff;
        color: #f90;
    }

    .join-btn {
        position: relative;
        top: 11px;
        margin-right: 20px;
        line-height: 16px;
        height: 18px;
        padding: 0 6px;
        border-radius: 3px;
        background: #f90;
        color: #fff;
        cursor: pointer;
        .icon {
            font-size: 12px;
            margin-right: 3px;
        }
    }

    span {
        display: inline-block;
        line-height: 38px;
        vertical-align: top;
    }

    .divider {
        margin: 0 10px;
        color: #ddd;
    }

    .num {
        color: #f90;
    }

    .btn {
        float: right;
        width: 230px;
        height: 38px;
        line-height: 38px;
        padding: 0;
        font-size: 16px;
    }
}