.preview-coursedetail-dialog {
    .header, .close {
        display: none;
    }
    .body {
        padding: 0;
    }
    .content {
        .tool-bar {
            background: #fff;
            height: 80px;
            position: relative;
            padding-top: 24px;
            padding-left: 20px;
            .set-style {
                color: #a3a3a3;
                font-size: 16px;
                position: relative;
                bottom: 8px;
            }
            .tool-bar-list {
                display: inline-block;
                .tool-bar-item {
                    cursor: pointer;
                    display: inline-block;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    margin-right: 24px;
                    &:first-child {
                        border: 1px solid #ededec;
                    }
                }
                .tool-bar-item.grey {
                    background-color: #FFFFFF;
                }
                .tool-bar-item.black {
                    background-color: #2B2B2B;
                }
                .tool-bar-item.red {
                    background-color: #9C2334;
                }
                .tool-bar-item.pink {
                    background-color: #FECDD1;
                }
                .tool-bar-item.green {
                    background-color: #53CBC2;
                }
                .tool-bar-item.blue {
                    background-color: #62C8EB;
                }
                .icon-check-circle {
                    font-size: 30px;
                    margin-right: 24px;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    bottom: 2px;
                }
                .icon-check-circle.grey {
                    color: #cccccc;
                }
                .icon-check-circle.black {
                    color: #2B2B2B;
                }
                .icon-check-circle.red {
                    color: #9C2334;
                }
                .icon-check-circle.pink {
                    color: #FECDD1;
                }
                .icon-check-circle.green {
                    color: #53CBC2;
                }
                .icon-check-circle.blue {
                    color: #62C8EB;
                }
            }
            .exit-preview {
                background-color: #fff;
                border: 1px solid #ccc;
                color: #555;
                width: 86px;
                line-height: 36px;
                text-align: center;
                cursor: pointer;
                position: absolute;
                right: 20px;
                top: 20px;
                &:hover {
                    background-color: #f0f0f0;
                    border-color: #c0c0c0;
                    color: #555;
                }
            }
        }
        .detail-box {
            height: 400px;
            overflow: scroll;
            padding: 0 20px;
            & > div {
                margin-bottom: 10px;
            }
            .preview-title {
                font-size: 18px;
                text-align: center;
                margin: 20px auto;
            }
            .preview-body {
                font-size: 15px;
            }
            .preview-body.font-big {
                font-size: 17px;
            }
            .preview-body.align-center {
                text-align: center
            }
            .preview-body.font-bold {
                font-weight: bolder;
            }
            .preview-body.black {
                color: #000000;
            }
            .preview-body.grey {
                color: #999999;
            }
            .preview-body.pink {
                color: #FC5C5A;
            }
            .preview-body.yellow {
                color: #FF6c00;
            }
            .preview-body.blue {
                color: #0F86E8;
            }
            .preview-body.green {
                color: #43B244;
            }
            .preview-body.brown {
                color: #3D618A;
            }
            .preview-body.purple {
                color: #9900CC;
            }
            .preview-photo, .preview-video {
                text-align: center;
            }
            .preview-video {
                position: relative;
                .video-icon {
                    display: inline-block;
                    width: 80px;
                    height: 80px;
                    background: url(../img/ic_play.png) no-repeat;
                    position: absolute;
                    left: 340px;
                    top: 175px;
                }
            }
            .preview-audio {
                position: relative;
                .voice-icon {
                    display: inline-block;
                    width: 16px;
                    height: 17px;
                    position: absolute;
                    background: url(../img/ic_voice.png) no-repeat;
                    left: 10px;
                    top: 13px;
                }
            }
        }
        .detail-box.white {
            background-color: #fff;
            .preview-title {
                color: #000;
                line-height: 18px;
            }
        }
        .detail-box.black {
            background-color: #fff;
            .preview-title {
                color: #fff;
                width: 226px;
                height: 42px;
                line-height: 42px;
                background: url("https://imgs.genshuixue.com/0cms/d/file/content/2016/08/57ba67d77e643.png") no-repeat 50%;
            }
        }
        .detail-box.brown {
            background-color: #8a1f2f;
            .preview-title {
                width: 240px;
                height: 44px;
                line-height: 44px;
                color: #fffcf2;
                background: url("https://imgs.genshuixue.com/0cms/d/file/content/2016/08/57ba67d8bcaa7.png") no-repeat 50%;
            }
        }
        .detail-box.pink {
            background-color: #fff4f7;
            .preview-title {
                width: 273px;
                height: 40px;
                line-height: 40px;
                color: #562c11;
                background: url("https://imgs.genshuixue.com/0cms/d/file/content/2016/08/57ba67d879811.png") no-repeat 50%;
            }
        }
        .detail-box.green {
            background-color: #fff;
            .preview-title {
                width: 278px;
                height: 45px;
                line-height: 45px;
                color: #6d6d6e;
                background: url("https://imgs.genshuixue.com/0cms/d/file/content/2016/08/57ba67d840937.png") no-repeat 50%;
            }
        }
        .detail-box.blue {
            background-color: #eeeef0;
            .preview-title {
                color: #3c3d3d;
                width: 302px;
                height: 52px;
                line-height: 52px;
                background: url("https://imgs.genshuixue.com/0cms/d/file/content/2016/08/57ba67d7e3990.png") no-repeat 50%;
            }
        }
    }
}