{{ *

@file 快速帮你找老师
@author jixiaohui

* }}

{{ strip }}
<div id="recommend" class="card">
    <h1 class="card-header">火爆特惠    跟谁学独家</h1>
    <div class="card-body">
        <ul>
            {{ foreach $courses as $val }}
                {{ $href_url = "" }}
                {{ if $val.type == 0 }}
                    {{ $href_url = "/video_course/getcourseshowdetail?number="|cat:$val.number }}
                {{ else if $val.type == 2 }}
                    {{ $href_url = "/teacher/classCourseDetail/"|cat:$val.number }}
                {{ else if $val.type == 4 }}
                    {{ $href_url = "/org_class_course/detail/"|cat:$val.number }}
                {{ else }}
                    {{ $href_url = "/teacher/classCourseDetail/"|cat:$val.number }}
                {{ /if }}
                <li {{ if $val@last }}class="last"{{ /if }}>
                    <a href="{{ $href_url }}" class="portrait" target="_blank">
                        {{ include file="common/variable/photo.html" url=$val.photo_url raw_width=$val.photo_width raw_height=$val.photo_height width=198 height=130 }}
                        <img src="{{ $photo }}">
                    </a>
                    {{ $name = $val.name|cn_truncate: 12 }}
                    <span class="title" {{ if $name != $val.name }}data-title="{{ $val.name }}" data-width="20em"{{ /if }}>{{ $name }}</span>
                    {{ $display_status = $val.display_status }}

                    <div class="price">￥{{ $val.price }}</div>
                </li>
            {{ /foreach }}
        </ul>
    </div>
</div>
{{ /strip }}