.course-info {
    background: #fff;
    height: 453px;
    .wrapper {
        width: 1190px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 63px;
        .cover-img {
            border-radius: 4px;
            width: 605px;
            height: 340px;
        }
        .detail-info-box {
            display: inline-block;
            width:555px;
            margin-left: 30px;
            vertical-align: top;
            .title {
                font-size: 24px;
                color: #3D3D3E;
                font-weight: bold;
                margin-bottom: 15px;
            }
            .plan, .services, .teachers {
                margin-bottom: 6px;
                span {
                    font-size: 14px;
                    color: #9D9D9E;
                }
                .detail {
                    font-size: 14px;
                    color: #6D6D6E;
                    &.label-service {
                        display: inline-block;
                        max-width: 410px; 
                        vertical-align: top;
                        span {
                            color: #6D6D6E;
                            margin-right: 10px;
                            cursor: pointer;
                            &:hover {
                                color: #ff6c00;
                            }
                        }
                    }
                }
            }
            .teachers {
                max-width: 530px;
                margin-top: 10px;
            }
        }
    }
}