.nav-bar {
    background: #F8F8F8;
    box-shadow: 0 0 0 0 #DDDDDE;
    width: 100%;
    height: rem(40);
    line-height: rem(40);
    display: flex;
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid #ddddde;
}
.mask {
    background: #000;
    position: fixed;
    z-index: 4;
    top: rem(10);
    bottom: 0;
    left: 0;
    opacity: 0.4;
    right: 0;
    &.hide {
        display: none;
    }
}