.top-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 0;
    background-color: #EDF0F0;
    .img {
        width: 100%;
        vertical-align: top;
    }
    ul.slide_position {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        height: rem(24);
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0 rem(7);
        li.on {
            span {
                background-color: #FFF;
            }
        }
        span {
            text-indent: rem(-9999);
            width: rem(8);
            height: rem(8);
            border: 1px solid rgb(255, 255, 255);
            border-radius: rem(4);
            display: inline-block;
            margin: rem(2) rem(1.5);
            background-color: transparent;
        }
        li {
            display: inline-block;
            padding: 0 rem(2);
            width: auto;
        }
    }
    .slide_group {
        position: relative;
        font-size: 0;
        white-space: nowrap;
        height: 100%;
        .slide {
            display: inline-block;
            font-size: rem(14);
            vertical-align: top;
            >div {
                padding-top:60%;
                position : relative;
                display : block;
                >img {
                    position : absolute;
                    top:0;
                    right:0;
                    left:0;
                    bottom:0;
                    width:100%;
                    height : 100%;
                }
            }
        }
    }
}
.top-sliders-container {
    position: relative;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    ul {
        position: relative;
        height: 100%;
        li {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }
}