{{ $comments = $data }}
{{ $tips = ['沙发', '板凳', '地板'] }}
{{ if empty($noRank) }}
{{ $noRank = false }}
{{ /if }}
{{ strip }}
<ul class="comment-list">

    {{ if empty($comments) }}
        <div class="no-comment"></div>
    {{ /if }}

    {{ include file="common/variable/vipLevel.html" scope=parent }}

    {{ foreach $comments as $item }}
    <li class="comment-item" data-post-id="{{ $item.post_id }}" data-user-id="{{ $item.user_id }}">

        <div class="user-avatar">
            <a href="{{ $item.homepage }}" target="_blank">
             {{ include file="common/component/image.html" url=$item.avatar width=48 height=48 }}
             </a>
        </div>

        <div class="comment-content{{ if !empty($item.comment_list) }} open-reply{{ /if }}">
            <h4 class="comment-info">
                <a class="user-name" href="{{ $item.homepage }}" target="_blank">
                    {{ $item.user_name }}
                </a>

                {{ if $item.user_role == 0 }}
                    <span class="user-label">师</span>
                    {{ if isset($item.vip_level) && $item.vip_level != 0 }}
                        <i class="icon icon-vip-{{ $vipLevelMap[$item.vip_level] }}"
                        data-title="
                            {{ if $item.vip_level == 1 }}
                                跟谁学会员
                            {{ else if $item.vip_level == 2 }}
                                跟谁学高级会员
                            {{ else if $item.vip_level == 3 }}
                                跟谁学超级会员
                            {{ /if }}
                        "></i>
                    {{ /if }}
                {{ /if }}

                {{ if $item.user_level }}
                    {{ include file="social/common/levelLabel.html" level=$item.user_level }}
                {{ /if }}
                <span class="time-tip">发表于 {{ $item.time_tip|default:'' }}</span>
                {{ if !$noRank }}
                <span class="comment-top{{ if $item.floor <= 3 }}{{ ' top'|cat:($item.floor) }}{{ else }} topx{{ /if }}">
                    {{ if $item.floor <= 3 }}
                    {{ $tips[$item.floor-1] }}
                    {{ else }}
                    {{ '#'|cat:$item.floor }}
                    {{ /if }}
                </span>
                {{ /if }}
            </h4>

            <p class="comment-des">
                {{ $item.content|escape:'html'|regex_replace: "/\\n/": '<br/>' }}
            </p>

            {{ if !empty($item.photo_list) }}
                <div class="comment-photo-box">
                    <ul class="comment-photo-list">
                        {{ foreach $item.photo_list as $ones }}
                            <li class="photo-item" data-image="{{ $ones.img }}" {{ include file="common/variable/zoomPhoto.html" url=$ones.img raw_width=$ones.width raw_height=$ones.height width=400 height=300 }} data-horizontal="{{ $photo }}" data-hheight="{{ $fit_height }}"

                            {{ include file="common/variable/zoomPhoto.html" url=$ones.img raw_width=$ones.height raw_height=$ones.width width=300 height=400 }} data-vertical="{{ $photo }}" data-vheight="{{ $fit_height }}"

                            >
                                {{ include file="common/variable/photo.html" url=$ones.img raw_width=$ones.width raw_height=$ones.height width=80 height=60 }}
                                <img src="{{ $photo }}">
                            </li>
                        {{ /foreach }}
                    </ul>
                    <div class="comment-photo-player" style="display:none;">
                        <ul class="photo-action">
                            <li class="packup"><i class="photo-icon photo-packup"></i>收起</li>
                            <li class="sourse"><i class="photo-icon photo-sourse"></i>原图</li>
                            <li class="left"><i class="photo-icon photo-left"></i>向左转</li>
                            <li class="right"><i class="photo-icon photo-right"></i>向右转</li>
                        </ul>
                        <div class="photo-wrapper">
                        {{ *垂直居中* }}
                        {{ *margin-bottom:-{{ $fit_height/2 }}px;* }}
                            <div class="floater" style=""></div>
                            <img src="" class="rotate-img">
                        </div>
                        <div class="photo-name">
                        </div>
                    </div>
                </div>
            {{ /if }}

            <div class="comment-actions">
                <span class="action up-action up-btn {{ if $item.is_zan == '1' }} uped active{{ /if }}" data-need-login="1" data-action="up-action">
                    <i class="icon icon-thumbs-up"></i>
                    <b class="num">{{ $item.zans }}</b>
                </span>
                <span class="action reply-action" data-need-login="1" data-action="reply-action">回复</span>
                {{ if isset($permission) && $permission.is_admin == '1' }}
                <span class="action close-action" data-need-login="1" data-action="close-action">禁言</span>
                <span class="divider">|</span>
                <span class="action delete-action" data-need-login="1" data-action="delete-action">删除</span>
                {{ else if isset($login_user) && $login_user.id == $item.user_id }}
                <span class="action delete-action" data-need-login="1" data-action="delete-action">删除</span>
                {{ /if }}
            </div>

            {{ if !isset($item.comment_list) }}
            {{ $item.comment_list = ["list" => [], "has_more" => 0] }}
            {{ /if }}

            <div class="reply-list-wrapper">
                {{ include file="./replyItems.html" data=$item.comment_list permission=$permission login_user=$login_user|default:[id => ''] }}
            </div>
        </div>

    </li>
    {{ /foreach }}
</ul>
{{ /strip }}