{{ *

@file 活动主页
@author zengcheng

* }}
{{ extends file="social/common/base.html" }}

{{ block name="data" }}

    {{ * 需要im * }}
    {{ $need_im = false }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}
    {{ $nav_config.hidden = 1 }}
    {{ $flotage_config.hidden = true }}

    {{ $script_path = "social/userInfo_9f3263d81f" }}

{{ /block }}

{{ block name = "style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/asset/css/social/userInfo_d71f82898c.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}
<div id="main">
    <div class="wrapper">
        <h4 class="label">请上传个人照片和填写昵称</h4>
        <div class="form" id="user-form">
            <div class="form-group upload-group">
                <label class="form-label">
                    <i class="form-required"></i>上传照片：
                </label>
                <div class="form-controls">
                    <input type="hidden" name="idImg" data-validate-name="idImg" value="{{ $tpl_data.avatar|default:'' }}">
                    <div class="upload-btn {{ if !empty($tpl_data.avatar_url) }}has-image{{ /if }}">
                        <div class="icon-wrapper"><i class="icon icon-plus"></i></div>
                        <div class="icon-label">点击上传</div>
                        <div class="image-wrapper image">
                            {{ if !empty($tpl_data.avatar_url) }}
                                {{ include file="common/component/image.html" url=$tpl_data.avatar_url width=150 height=125 }}
                            {{ else }}
                                <img src="">
                            {{ /if }}
                        </div>
                        <div class="image-browse">上传图片</div>
                    </div>
                    <span class="error-tip"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">
                    <i class="form-required"></i>昵称：
                </label>
                <div class="form-controls">
                    <input class="form-text" type="text" name="nickname" autocomplete="off" value="{{ $tpl_data.nickname|default:'' }}" data-validate-name="nickname" data-validate-trigger="blur"/>
                    <span class="error-tip"></span>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="form-controls">
                    <button class="btn btn-primary save-btn" type="button">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ /strip }}
{{ /block }}