
.GSX_TextTip {
    position: fixed;
    //display: inline-table;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: rem(280);
    width: 100%;
    border-radius: rem(4);
    overflow: hidden;

    color: #FFF;
    padding: rem(5) rem(10);
    font-size: rem(14);
    line-height: rem(22);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}