{{ strip }}
<div class="group">
    <div class="group-logo">
        {{ include file="common/component/image.html" url=$data.avatar width=100 height=100 }}
    </div>
    <div class="group-info">
        <div class="group-title">
            <h1>{{ $data.name|escape:'html' }}</h1>
            {{ if $data.is_join == 0 }}
            <span class="action join-btn"><i class="icon icon-plus"></i>加入</span>
            {{ else }}
            <span class="join-status">已加入</span>
            {{ /if }}
        </div>
        <div class="group-divider"></div>
        <div class="group-number">
            <label class="label">帖子：
                <span class="number">{{ $data.threads }}</span>
            </label>
            <span class="divider">|</span>
            <label class="label">成员：
                <span class="number">{{ $data.members }}</span>
            </label>
        </div>
    </div>

    <div class="sign {{ if $checkIn.today }} sign-over{{ /if }}">
        <div class="sign-status">
            <i class="icon icon-calendar"></i>打卡
        </div>
        <div class="sign-status-off">已打卡</div>
        <div class="sign-times">
            <div class="sign-now">{{ $smarty.now|date_format:"%m月%d日" }}</div>
            <div class="sign-days">连续打卡{{ $checkIn.count|default:0 }}天</div>
        </div>
    </div>
</div>
{{ /strip }}