{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="attend">
    <h2>如约上课</h2>
    <h3>1. 我可以选择的上课方式有哪些？</h3>
    <p>我们提供了四种上课方式，分别为老师上门、学生上门、协商地点以及在线授课。你可以在老师个人中心课程设置的授课科目页面设置不同上课方式的单价。</p>
    <img src="{{ $static_origin }}/asset/img/guide/teacher/27-1_855d927945.jpg" alt="如约上课"/>
    <img src="{{ $static_origin }}/asset/img/guide/teacher/27-2_7ce4b1242e.jpg" alt="如约上课"/>
    <h3>2. 到了上课时间学生未到怎么办？</h3>
    <p>上课时间学生未到系统将会默认课程已经发生，学生可能会联系你取消该课程，否则课后24小时该节课酬将会自动打到你的平台账户。</p>
    <h3>3. 我有事没法上课怎么办？</h3>
    <p>对于一对一课程，你应该首先联系学生说明情况，待双方达成一致后再取消订单，这样本次课时将会退回给学生，学生可以再次约课。</p>
    <p>对于班课，可以通过修改课程时间，自动触发短信通知班课学生。但是，无理由地取消课程可能会影响学生对你的评价。如果临时需要取消课程，我们建议你先和学生沟通，达成一致后再取消课程。</p>
</div>




{{ /strip }}