{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="cancel-less">
    <h2>取消课程</h2>
    <h3>1. 我什么时候能够取消课程？</h3>
    <p>从学生向你发起约课到课程结束，你随时可以取消课程。但是，无理由地取消课程可能会影响学生对你的评价。如果临时需要取消课程，我们建议你先和学生沟通，达成一致后再取消课程。</p>
    <h3>2. 我可以在哪里取消课程？</h3>
    <p>你可以在我的课表的课程卡片点击“我要退课”按钮来取消。课程一旦取消不能恢复，需要填写取消课程的原因。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/30_5fa71d35a3.jpg?v=20150729" alt="取消课程" />
    <h3>3. 学生如果课前忽然取消课程我该怎么办？</h3>
    <p>考虑到老师备课的成本较高，我们规定学生只能在开课24小时之前取消课程，因此你不必担心课前学生忽然取消。</p>
</div>




{{ /strip }}