{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="change">
    <h2>班课设置</h2>
    <h3>1. 班课设置的课程信息里，有哪些重要信息需要注意？</h3>
    <p>班课设置的课程描述越优化，对学生用户的吸引力越大；同时，要注意，课程现价一定要比课程原价要低。</p>
    <img src="{{ $static_origin }}/asset/img/guide/teacher/12_c049384b93.jpg" alt="班课设置"/>
    <h3>2.如果开设长期课程或多节课程，有没有更简单的设置方式？</h3>
    <p>老师可以在班课设置里通过“批量添加多节课程”开设规律性课程</p>
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/13_009dc627d4.jpg" alt="班课设置" />
    <h3>3. 是否可以设置课程优惠？或和学生商议课程价格？</h3>
    <p>在个体老师的“营销中心”里可以设置班课的限时折扣，也可以在待支付订单中修改价格。 </p>
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/14_e1fc56d863.jpg" alt="班课设置" />
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/15_ae77415599.jpg" alt="班课设置" />
</div>




{{ /strip }}