{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="combo">
    <h2>课时优惠包</h2>
    <h3>1、什么是课时优惠包？什么又是订单？</h3>
    <p>课时优惠包是老师设置以供学生购买的课时。学生选择了具体的科目跟上课方式后，再购买某个课时优惠包便形成了一个订单。</p>
    <h3>2、我有几种课时优惠包可以供学生选择？</h3>
    <p>我们默认提供四种课时优惠包，你可以根据自己的需要更改，但是至少保留一个课时优惠包，最多四个。</p>
    <img src="{{ $static_origin }}/asset/img/guide/teacher/combo_fbe6e0ed02.png" alt="课时套餐"/>
    <h3>3、我应该在哪里设置或者更改课时优惠包？</h3>
    <p>你可以在老师个人中心课程设置页面点击“课时优惠包”更改。</p>
    <h3>4、什么是优惠包折扣？我该如何设置？</h3>
    <p>为了激励学生购买你更多的课时优惠包，我们建议较长的优惠包配以较优惠的折扣。具体的折扣设置在老师个人中心课程设置页面。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/combo2_c7ceab7b3e.png" alt="课时套餐" />
</div>



{{ /strip }}