{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="photograph">
    <h2>照片视频</h2>
    <h3>1、为什么一定要上传我的照片以及视频？</h3>
    <p>一方面好的照片视频能够极大增加学生选择你的概率，另一方面学生在搜索老师时可以筛选有视频的老师，因此我们建议你上传更多优质的照片视频。</p>
    <img src="{{ $static_origin }}/asset/img/guide/teacher/photograph_ac1395400c.png" alt="搜索"/>
    <h3>2、隐私保护功能不能隐藏我的照片及视频，我该上传什么呢？</h3>
    <p>如果你有隐私需求，我们建议你上传一些不会暴露自己身份又能体现自己教学水平的照片视频。照片可以上传一些作品、获奖证书、学生的作业等；而视频可以上传一些自己的课堂录像，学生的评价视频等。</p>
    <h3>3、我一共可以上传多少照片视频？这些照片视频有什么限制吗？</h3>
    <p>照片最多可以上传12张，视频最多上传6个。考虑到视频较大我们建议你在不影响视频质量的情况下压缩转码后上传，而且你所有上传的照片视频只有经过我们平台的审核后才会展示给学生。</p>
    <h3>4、我的照片会不会被别人盗用？</h3>
    <p>我们平台为了降低照片被盗用的风险，在不影响照片质量的情况下会为平台上所有老师的照片打上水印。如果有其他网站盗用你的照片，我们会依法追究其责任。</p>
</div>




{{ /strip }}