{{ *

@file 直播相关 - 播放功能
@author shubaiqiao

* }}

{{ strip }}
<div class="related">
    <span>直播相关问题</span>
        <a id="enter-classroom" href="/guide/teacher_layout?a=teacher&op=enter-classroom">进入教室</a>
        <a href="/guide/teacher_layout?a=teacher&op=upload-material">上传课件</a>
        <a href="/guide/teacher_layout?a=teacher&op=audio-related">声音相关</a>

        <a href="/guide/teacher_layout?a=teacher&op=phone-pad">手机/pad进入教室</a>

        <a href="/guide/teacher_layout?a=teacher&op=camera-related">摄像头相关</a>
        <a href="/guide/teacher_layout?a=teacher&op=board-conection">连接手写板</a>
        <a href="/guide/teacher_layout?a=teacher&op=recording">本地录制及云端录制</a>
        <a href="/guide/teacher_layout?a=teacher&op=etc">其他</a>
</div>

<div class="play-function">
    <h2>播放功能</h2>

    <h3>1. 直播助手中的播放功能支持哪些视频格式？</h3>
    <p>mp4、avi、wmv、rm、rmvb、mov、flv</p>

    <h3>2. 为什么播放视频时加载不成功呢？</h3>
    <p>电脑存放视频的路径和视频名字不要有除中、英文、数字外的字符。</p>

    <h3>3. 为什么播放视频的时候只有声音没有画面呢？</h3>
    <p>播放视频的时候需要打开摄像头才能播放出画面的。</p>

    <h3>4. 使用直播助手中的“播放”功能时，比较卡怎么回事？</h3>
    <p>有两种情况：</p>
    <p>1.播放的是超清视频，但电脑硬件配置跟不上的话会导致播放的时候出现卡顿（非网络原因的卡顿）</p>
    <p>2.学生看视频卡顿，而老师这边看不卡顿的话，那么需要老师切换到低画质，这是网络问题，老师上行带宽或学生下行带宽不足导致卡顿。</p>
    <img src="{{ $static_origin }}/asset/img/guide/teacher/play-function_646c7807f3.png" alt="切换画质"/>

</div>

<div class="related">
    <span>直播相关问题</span>
        <a id="enter-classroom" href="/guide/teacher_layout?a=teacher&op=enter-classroom">进入教室</a>
        <a href="/guide/teacher_layout?a=teacher&op=upload-material">上传课件</a>
        <a href="/guide/teacher_layout?a=teacher&op=audio-related">声音相关</a>

        <a href="/guide/teacher_layout?a=teacher&op=phone-pad">手机/pad进入教室</a>

        <a href="/guide/teacher_layout?a=teacher&op=camera-related">摄像头相关</a>
        <a href="/guide/teacher_layout?a=teacher&op=board-conection">连接手写板</a>
        <a href="/guide/teacher_layout?a=teacher&op=recording">本地录制及云端录制</a>
        <a href="/guide/teacher_layout?a=teacher&op=etc">其他</a>
</div>

{{ /strip }}