{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="price">
    <h2>课程价格</h2>
    <h3>1、我该如何为我的课程定价？</h3>
    <p>你可以在在老师个人中心我的课程页面设置各种授课方式所对应的价格。具体的课程价格可以根据你平时授课的价格确定，也可以参照平台上其他老师的价格进行调整。</p>
    <img src="{{ $static_origin }}/asset/img/guide/teacher/price_8f6b105433.png" alt="课程价格"/>
    <h3>2、上课过程中产生的费用该怎样计算？</h3>
    <p>针对上课过程中产生的额外费用，你可以将其计算在课时费单价中。我们建议老师上门、双方协商地点的课时费单价可以略微高于学生上门、在线授课的方式。</p>
    <h3>3、某个订单的课程单价如何确定？</h3>
    <p>课程的原始单价由学生选择的科目以及上课方式确定，学生如果选择了有折扣的课时套餐，那么实际单价为折扣后的价格。</p>
</div>




{{ /strip }}