{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="change">
    <h2>分享主页和课程</h2>
    <h3>1. 我都可以将哪些信息分享给我的学生和朋友，让他们知道我和我的课程呢？</h3>
    <p>跟谁学平台的老师可以在电脑端或手机app端通过点击“分享”将自己的主页链接或班课链接分享给朋友和第三方社交平台；</p>
    <p>教师主页分享：</p>
    <img src="{{ $static_origin }}/asset/img/guide/teacher/20_c398934a3e.jpg" alt="分享主页和课程"/>
    <p>班课分享：</p>
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/21_9ef3e50e23.jpg" alt="分享主页和课程" />
    <p>也可以在手机app聊天框里点击“+”一键发送个人名片或班课报名链接。 </p>
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/22_18e6415620.jpg" alt="分享主页和课程" />
</div>




{{ /strip }}