{{ *

@file 老师-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="subjects">
    <h2>授课科目</h2>
    <h3>1、在平台上我可以教授几门课程？</h3>
    <p>为了保证老师在我们平台上所教授的科目是其最擅长的，我们规定老师最多只能在平台上教授五门课程。</p>
    <h3>2、我应该在哪里设置或者更改我的授课科目？</h3>
    <p>你可以在老师个人中心我的课程页面点击“授课科目”进行添加或者删除科目。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/subjects2_b0cf9fc0e8.png" alt="授课科目" />
    <h3>3、"跟谁学"的课程体系中没有我想要教授的科目怎么办？</h3>
    <p>如果平台的课程体系没有你要教授的科目，我们建议你选择其他-其他-其他，方便我们之后完善自己的课程体系。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/teacher/subjects_dd0d16f817.png" alt="授课科目" />
</div>




{{ /strip }}