/**
 * @file 班课设置
 * @author wangyujie
 */

@import '../common/center/common/layout.less';
@import './component/form.less';
@import './course/classSubject.less';
@import './course/classPhoto.less';
@import './course/classInfo.less';
@import './course/classTeachingPlan.less';
@import './course/courseClassify.less';
@import './classCourse/notInRegularTimeDialog';

#content {

    position: relative;

    .card-header {
        h2 {
            font-weight: normal;
            font-size: 14px;
        }
    }

    /*无信息*/
    .noinfo {
        cursor: pointer;
        line-height: 36px;
        overflow: hidden;
        padding: 2 * @gap-horizontal-large;
        border-bottom: 1px solid @brand-gray-light;

        i {
            float: left;
            margin-right: @gap-horizontal-huge;
        }

        h3 {
            float: left;
            font-size: @font-size-medium;
        }

        .desc {
            float: right;
            font-size: @font-size-tiny;
        }

        &:hover {
            background: #f90;
            color: #fff;

            .icon-round-edit {
                background-position: -180px -144px;
            }

            .icon-round-add {
                background-position: -180px -108px;
            }

        }
    }

    /*****信息展示*****/
    .info-header {
        padding-top: 2 * @gap-horizontal-medium;
        .clearfix();

        .icon {
            font-size: 26px;
            float: left;
            margin-right: @gap-horizontal-small;
        }

        .message {
            display: inline-block;
            padding: 3px @gap-horizontal-medium;
            padding-left: 3 * @gap-horizontal-medium;
            margin-left: 3 * @gap-horizontal-medium;
            .icon {
                font-size: 14px;
                position: absolute;
                left: @gap-horizontal-medium;
                top: 5px;
            }
        }

        h3 {
            color: #333;
            float: left;
            font-size: 18px;
            font-family: @font-family-title;
            line-height: 26px;
            a {
                font-size: 12px;
                cursor: pointer;
                color: @brand-info;
                text-decoration: underline;
                margin-left: @gap-horizontal-medium;
            }
        }

        .edit {
            color: @brand-info;
            cursor: pointer;
            border-radius: 2px;
            float: right;
            line-height: 15px;
            padding: @gap-horizontal-small
                     @gap-horizontal-medium;
            .icon {
                font-size: 14px;
                display: inline-block;
            }
            &:hover {
                color: #fff;
                background-color: #6187dc;
            }
        }
    }

    .info-body {
        position: relative;
        border-bottom: 1px solid #ccc;
        padding-bottom: 2 * @gap-vertical-medium;
    }

    .class-subject, .teaching-plan {

        &.no-data {
            .form {
                display: block;
                text-align: left;
                .btn-cancel {
                    display: none;
                }
            }
        }

        .info-body {
            padding-left: 32px;
        }

        .column {
            padding-top: @gap-vertical-small;
            .title {
                color: #999;
                min-width: 75px;
                display: inline-block;
                vertical-align: top;
                em {
                    letter-spacing: 28px;
                }
            }
            .cont {
                color: #333;
                max-width: 630px;
                display: inline-block;
                word-wrap: break-word;
                .word-break();
            }

        }

        .right {
            float: right;
        }

        .left {
            float: left;
        }

    }

    /*****表单*****/
    .form {
        display: none;
        h2 {
            cursor: default;
            color: @brand-text;
            font-family: @font-family-title;
            font-weight: bold;
            border-bottom: 1px solid @brand-gray-light;
            padding-bottom: @gap-horizontal-medium;
        }

        .form-group {
            margin-bottom: @gap-vertical-tiny;
        }
    }

    .form-hint {
        display: inline-block;
        vertical-align: top;
        margin-top: @gap-vertical-small;
        margin-left: @gap-horizontal-small;
    }

    /*****action*****/
    .action-btns {
        text-align: center;
        margin: 2 * @gap-vertical-medium 0;

        button + button, button + a, a + button {
            margin-left: 2 * @gap-vertical-medium;
        }
        .text-info {
            margin-top: @gap-vertical-medium;
            i {
                margin-right: @gap-horizontal-small;
            }
        }
    }


}
