/**
 * @file 视频课管理
 * @author jixiaohui
 */

@import '../common/center/common/layout.less';

#content {

    .card-header {
        h2 {
            font-weight: normal;
            font-size: 14px;
        }
    }

    .card-body {
        padding: 0;
        padding-bottom: 20px;
        .text-error {
            margin-top: 10px;
            margin-left: 30px;
            .intro {
                margin: 5px 10px;
            }
        }
    }

    .add-video,
    .add-watermark {
        margin-left: 30px;
        .icon-plus {
            margin-right: 8px;
            font-size: 12px;
        }
    }

    .tab-nav-info {
        margin: 0 30px 20px;
        .one2one-best {
            display: none;
        }
    }

    .sub-nav {
        margin: 23px 30px 0;
        background-color: #f7f7f7;
        border: 1px solid #eee;
        border-left: none;
        border-right: none;
        .nav-item {
            &:hover {
                color: @brand-primary;
                background: none;
                border-bottom: none;
            }
        }
        .nav-item.active {
            color: @brand-primary;
            background: none;
            border-bottom: none;
            &:hover {
                color: @brand-primary;
                background: none;
                border-bottom: none;
            }
        }
    }

    .video-item {
        padding: 23px 0;
        width: 768px;
        border-bottom: 1px solid #ddd;
        margin: 0 auto;

        &:last-child {
            border-bottom-color: transparent;
        }

        .wrapper {
            width: 738px;
            height: 120px;
            margin: 0 auto;
            position: relative;

            .action {
                width: 100%;
                height: 20px;
                position: absolute;
                font-size: 12px;
                right: 0;
                top: -20px;
                text-align: right;
                color: #6e6e6e;

                .delete,
                .undo,
                .edit,
                .preview,
                .dropdown,
                .updown {
                    margin-right: 15px;
                    cursor: pointer;
                    display: inline;
                }

                .edit {
                    color: @brand-primary;
                }

                label,
                input {
                    cursor: pointer;
                }

                input {
                    position: relative;
                    top: 2px;
                    margin-right: 5px;
                }

            }
            .social-share {
                position: absolute;
                bottom: -18px;
                right: 0;
                text-align: right;
                font-size: 12px;

                .share-wrapper {
                    margin-right: 5px;
                    cursor: pointer;
                }
                small {
                    display: block;
                    color: #BBB;
                }
            }

        }



        .avatar {
            float: left;
            margin-right: 20px;
            width: 180px;
            height: 120px;
            display: block;
        }

        .detail {
            float: left;
            width: 538px;
            height: 100%;
            overflow: hidden;

            .title {
                font-size: 16px;
                color: #3d3d3d;

                .wait-publish,
                .drop-down,
                .examing {
                    color: #fff;
                    border-radius: 10px;
                    margin-left: 10px;
                    font-size: 12px;
                    padding: 1px 6px;
                }

                .wait-publish {
                    background: @brand-primary;
                }

                .drop-down {
                    background: #9e9e9e;
                }

                .checking,
                .cannotplay,
                .wrong-content{
                    font-size: 12px;
                    background: #FFF9F1;
                    border: 1px solid #F1CE8E;
                    padding: 2px 14px;
                    margin-left: 5px;
                }

                .icon-info-circle {
                    font-size: 14px;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;
                }

                .checking {
                    color: #6085d8;
                }

                .cannotplay,
                .wrong-content {
                    color: #fc5600;
                }

                .examing {
                    background: @brand-primary;
                }
            }

            .summary {
                font-size: 12px;
                color: #9d9d9d;
                width: 100%;
                height: 72px;
            }

            .info {

            }
        }

        .price {
            font-size: 18px;
            color: @brand-primary;

            + .roster {
                margin-left: 10px;
            }
        }
        .price-ios {
            font-size: 12px;
            color: #9d9d9d;
        }
        .num,
        .income {
            font-size: 12px;
            color: #9d9d9d;
            margin-left: 10px;
        }
        .roster,
        .primary {
            font-size: 12px;
            color: #f90;
            cursor: pointer;
        }
        .num {
            margin-right: 10px;
        }

        em {
            color: @brand-primary;
        }

        .no-publish {
            .price {
                color: #9d9d9d;
            }

            em {
                color: #9d9d9d;
            }
        }
    }

    .empty-list {
        text-align: center;

        .pic {
            background: url(../../img/teacher-center/video-empty.png) no-repeat;
            width: 78px;
            height: 92px;
            margin: 50px auto;
        }

        span {

        }
    }

}

.attention {
    font-size: 14px;
    color: #3d3d3d;

    .attention-content {
        height: 400px;
        overflow-y: scroll;

        .head {
            margin-bottom: 20px;
        }

        .indent {
            text-indent: 2em;
        }

        .section {
            margin-bottom: 20px;

            h3 {
                font-weight: bold;
            }
        }

    }

    .attention-action {
        text-align: center;
        padding-top: 20px;

        .btn-agree {
            margin-right: 20px;
        }

        .btn-cancel {
            margin-right: 20px;
        }

        .no-tips {
            input {
                margin-right: 5px;
            }
        }
    }
}
.delete-undo {
    text-align: center;
    .dialog-header {
        text-align: left;
    }
    p {
        margin: 0 20px 20px 20px;
    }
    .kuai {
        margin-left: 40px;
        border-style: solid;
        border-width: 1px;
        line-height: 1.571428571428571;
        padding: 6px 12px;
        border-radius: 2px;
        cursor: pointer;
    }
}
.roster-dialog {
    .dialog-body {
        .dialog-action {
            .btn-default {
                margin-left: 40px;
            }
        }
    }
    .dialog {
        .dialog-close {
            display: block;
        }
    }
}
.apple-dialog {
    .apple-content {
        margin-bottom: 25px;
    }
    .btn-default {
        margin-left: 20px;
    }
    .btn-continue {
        margin-left: 20px;
    }
    .donot-tips {
        display: block;
        margin-top: 20px;
        input {
            margin-right: 5px;
        }
    }
}
.watermark-dialog {
    .btn-default {
        margin-left: 10px;
    }
}
