/**
 * @file 老师中心 资料库
 * @author liucong
 */
@import '../common/center/common/layout.less';
@import './component/fileUploadDialog.less';
@import './component/fileMoveDialog.less';
@import './component/netdiskTable.less';
@import './component/netdiskTipDialog.less';

#content {
    font-size: @font-size-tiny;
    .left {
        text-align: left;
    }

    .card {
        position: relative;

        .top-reminder {
            position: absolute;
            top: 0;
            text-align: center;
            width: 100%;
            display: none;
            font-size: 12px;

            & > div {
                color: #fff;
                background-color: @brand-info;
                .inline-block();
                padding: 5px 20px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                .icon {
                    margin-right: 5px;
                }
            }
        }
    }

    #netdisk-table {
        .form-group {
            padding: 0;
        }
    }

    #edit-form {
        input {
            width: 320px;
        }
    }

    .card-header {
        .clearfix();
        h2 + span {
            color: @brand-info;
        }
        .search {
            position: relative;
            float: right;

            form {
                .inline-block();
            }

            input {
                border-right: none;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                margin-right: -5px;
                padding-left: 18px;
            }

            button {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }

            .icon {
                position: absolute;
                left: 5px;
                top: 8px;
                color: @brand-text-lighter;
                font-size: @font-size-tiny;
            }
        }
        padding-right: 15px;
    }
    .tool-bar {
        position: relative;
        button + button {
            margin-left: 8px;
        }
        button {
            padding: 8px 15px;
            font-size: 14px !important;
        }
        .icon {
            margin-right: 5px;
        }
        padding: 15px;
        border-bottom: 1px solid @brand-gray;

        .btn-default {
            &:hover {
                background-color: @brand-primary-lighter;
                color: #FF9A22;
                border-color: #FF9A22;
            }
        }

        input[name="files"], object {
            .opacity(0);
            width: 107px;
            height: 36px;
            position: absolute;
            left: 15px;
            cursor: pointer;
        }
    }
    .card-body {
        padding: 15px;
    }

    .empty, .no-result {
        text-align: center;
        font-size: @font-size-medium;
        margin: 100px auto 200px auto;
    }
    .empty {
        display: none;
        img {
            margin-left: -240px;
            margin-bottom: 20px;
        }
    }
    .no-result {
        display: none;
        margin: 100px auto 200px auto;
        img {
            margin-bottom: 20px;
        }
    }

    .card-body {
        &.empty-body {
            .empty {
                display: block;
            }
        }
        &.no-result-body {
            .no-result {
                display: block;
            }
        }
    }

    .card.fixed-card {
        .card-header, .tool-bar {
            position: fixed;
            width: 800px;
            z-index: 2;
        }
        .card-header {
            height: 43px;
            top: 0;
        }
        .tool-bar {
            height: 65px;
            top: 43px;
            background-color: #fff;
        }
        .card-body {
            margin-top: 108px;
        }
    }
}