/**
 * @file 我的机构
 * @author jixiaohui
 */

@import '../common/center/common/layout.less';

#content {


    .org-item {
        border-bottom: 1px solid #EEEEEE;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-bottom: 20px;
        padding-top: 20px;

        .avatar-small {
            border-radius: 0;
            float: left;
            margin-right: 15px;
            width: auto;
            height: auto;
            border: 1px solid #d8d8d8;

            img {
                border-radius: 0;
                border: none;
            }

            .logo {
                background: url(../../img/teacher-center/org.jpg) no-repeat;
                width: 60px;
                height: 60px;
            }
        }

        .name-box {
            float: left;
            width: 130px;

            .name {
                display: block;
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                margin-top: 5px;
            }
        }

        .org-url,
        .time,
        .invite-time,
        .break-time,
        .main-page,
        .txt {
            float: left;
        }

        .org-url,
        .invite-time,
        .break-time,
        .time,
        .txt {
            margin-top: 20px;
            display: block;
            text-align: center;
            font-size: 12px;
        }

        .org-url {
            width: 220px;
            color: #6187dc;

            a {
                color: #6187dc;
            }
        }

        .invite-time,
        .break-time,
        .time {
            width: 190px;
            color: #333333;
        }

        .break-time {
            width: auto;
        }

        .main-page,
        .receive,
        .reject {
            background: #5F85DF;
            border-color: #5F85DF;
            color: #fff;
            font-size: 14px;
            margin-top: 10px;
        }

        .receive {
            background: #FF9A00;
            border-color: #FF9A00;
            margin-right: 10px;
        }

        .txt {
            color: #333333;
            font-size: 12px;
            text-align: center;
            width: 120px;
        }
    }

    .record-nav {
        margin-top: 20px;
        clear: left;
        border-bottom: 2px solid #FF9900;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .nav-item {
            width: 150px;
            height: 36px;
            text-align: center;
            color: #333333;
            line-height: 36px;
            float: left;
            cursor: pointer;

            span {
                margin-left: 5px;
            }
        }

        .active {
            background: #f90;
            color: #fff;
            cursor: text;
        }

        .receive-box {
            cursor: pointer;
            float: right;
            font-size: 12px;
            color: #999999;
            margin-top: 10px;

            &.active {
                color: #999;
                background: #fff;
            }

            input {
                position: relative;
                top: 2px;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }

    .list-nav {
        font-size: 12px;
        color: #333333;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #FBFBFB;
        border-bottom: 1px solid #EEEEEE;

        li {
            float: left;
            text-align: center;
            height: 35px;
            line-height: 35px;
        }

        .org {
            width: 207px;
        }

        .main-page {
            width: 220px;
        }

        .invite-time {
            width: 190px;
        }

        .action ,
        .fire-time {
            width: 120px;
        }

        &.invited {
            .fire-time {
                display: none;
            }
        }

        &.lifted {
            .action {
                display: none;
            }
        }
    }

    .record-list {
        clear: left;

        .person {
            background: url(../../img/teacher-center/no-org.jpg) no-repeat;
            width: 293px;
            height: 94px;
            margin: 80px auto 15px;
        }

        .txt1,
        .txt2 {
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        .txt1 {
            color: #ff9900;
            font-size: 18px;
        }

        .txt2 {
            font-size: 14px;
            color: #999;
        }
    }

}

