@import './common/teacherRank.less';

#content {
    .rank {
        width: 96%;
        .wrapper {
            width: 33.333%;
        }
        .header {
            background: url(../../img/center/teacherRank/headers2.png) no-repeat;
        }
        .rank-info {
            font-size: 18px;
            padding: 20px 10px 30px 10px;
        }
        .content {
            min-height: 260px;
        }
    }
    .pay-school {
        .header {
            background-position: 0px 0px;
        }
        .header-icon {
            background-position: 0 -60px;
        }
    }
    .pay-other {
        .header {
            background-position: -252px 0px;
        }
        .header-icon {
            background-position: 0 -60px;
        }
    }
    .student {
        .header {
            background-position: -504px 0px;
        }
        .header-icon {
            background-position: 0 -120px;
        }
    }
    .app {
        margin-top: 110px;
        text-align: center;
        img {
            width: 142px;
            height: 137px;
        }
        h3 {
            font-size: @font-size-medium;
        }
    }
}