@import './common/teacherRank.less';

#content {
    .rank {
        width: 75%;
        .wrapper {
            width: 50%;
        }
        .header {
            background: url(../../img/center/teacherRank/headers1.png) no-repeat;
        }
        .content {
            min-height: 270px;
        }
    }
    .pay {
        .header {
            background-position: 0px 0px;
        }
        .header-icon {
            background-position: 0 -60px;
        }
    }
    .student {
        .header {
            background-position: -314px 0px;
        }
        .header-icon {
            background-position: 0 -120px;
        }
    }
}