@import './common/teacherRank.less';

#content {
    .rank {
        width: 75%;
        .wrapper {
            width: 50%;
        }
        .header {
            background: url(../../img/center/teacherRank/headers1.png) no-repeat;
        }
        .content {
            min-height: 260px;
        }
    }
    .lesson-pay-org-rank {
        .header {
            background-position: 0px 0px;
        }
        .header-icon {
            background-position: 0 -60px;
        }
    }
    .lesson-pay-noorg-rank {
        .header {
            background-position: -314px 0px;
        }
        .header-icon {
            background-position: 0 -60px;
        }
    }
    .student-count-org-rank {
        margin-top: 20px;
        .header {
            background-position: 0px 0px;
        }
        .header-icon {
            background-position: 0 -120px;
        }
    }
    .student-count-noorg-rank {
        margin-top: 20px;
        .header {
            background-position: -314px 0px;
        }
        .header-icon {
            background-position: 0 -120px;
        }
    }

    .app {
        margin-top: 110px;
        text-align: center;
        img {
            width: 142px;
            height: 137px;
        }
        h3 {
            font-size: @font-size-medium;
        }
    }
}