/**
 * @file 视频上传
 * @author zhujialu
 */

@import '../common/center/common/layout.less';
@import '../common/component/tagInput.less';

#content {

    @progress-bar-height: 26px;

    .card-body {
        padding-bottom: 40px;
    }

    .form {
        .form(5em);
    }

    .upload-panel {
        margin: 30px 70px;

        .hint {
            font-size: 13px;
            color: @brand-text-light;
            margin-left: 2 * @gap-horizontal-medium;
        }
    }

    .resume-status {
        display: none;
        font-size: @font-size-tiny;

        .btn-default {
            margin-left: @gap-horizontal-large;
        }
    }

    .upload-status {

        display: none;
        font-size: @font-size-tiny;

        .wrapper {
            .inline-block();
            width: 500px;
        }
        .info {
            margin-top: @gap-vertical-tiny;
        }
        .bytes {
            float: right;
        }
        .btn-default {
            vertical-align: top;
        }
    }

    .uploaded-bytes {
        margin-right: @gap-horizontal-tiny;
    }
    .total-bytes {
        margin-left: @gap-horizontal-tiny;
    }

    .btn-info {
        margin-left: 40px;
    }

    .form-radio {
        &:hover {
            color: @brand-primary;
        }
    }

    .edit-form {

        .form-controls {
            position: relative;
        }

        .left-corner {
            width: 9px;
            height: 11px;
            background: url(../../img/bg/left_corner.png) no-repeat;
            position: absolute;
            top: 65px;
            left: 202px;
        }

        input[type="text"] {
            font-size: 12px;
            width: 200px;
        }

        .cover {
            margin: @gap-vertical-medium 0;
        }

        .preview {
            float: left;
            img {
                width: 180px;
                height: 134px;
            }
        }

        .all-pics {
            width: 340px;
            height: 145px;
            margin-left: 210px;
            border: 1px solid #ddd;
            padding: 5px;
            .clearfix();
            li {
                float: left;
                margin: 5px;
                cursor: pointer;
                img {
                    width: 68px;
                    height: 50px;
                    border: 2px solid #eee;
                    &:hover {
                        border: 2px solid @brand-primary;
                    }
                }
            }
            li.active {
                img {
                    border: 2px solid @brand-primary;
                }
            }
        }

        .hint {
            color: @brand-text-lighter;
            font-size: 12px;
            margin-top: @gap-vertical-small;
        }
    }

}
