/**
 * @file 预约试听 - 设置试听
 * @author wangyujie
 */
@import '../common/center/common/layout.less';

#content {
    position: relative;
    .tab-panel {
        display: block;
    }
}

.trial-switch {
    margin: 6px 0;
    .switch-icon {
        background: url(../../img/teacher-center/switch.png) no-repeat;

        cursor: pointer;
        display: inline-block;
        width: 42px;
        height: 22px;
        vertical-align: bottom;
        margin: 0 @gap-horizontal-small;
    }
    .on {
        background-position: 0 0;
    }
    .off {
        background-position: 0 -22px;
    }

}

.trial-prompt {
    font-size: 12px;
    line-height: 1.8em;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    color: @brand-text-lighter;
    text-align: left;
    padding: @gap-vertical-medium
             @gap-horizontal-huge;
    margin-top: 2 * @gap-vertical-medium;
    h3 {
        color: @brand-text;
        font-size: 14px;
    }
    ol {
        list-style-type: decimal;
        padding-left: 20px;
    }
}

.form {
    margin-top: @gap-vertical-medium;
    .form-label {
        min-width: 120px;
        text-align: right;
    }
    .dropdown {
        .btn-default {
            min-width: 110px;
        }
    }
    .form-checkbox {
        margin-right: @gap-horizontal-medium;
        vertical-align: top;
    }

    .form-action,
    .price-offline {
        margin-left: 120px;
    }

    input[type="money"] {
        width: 120px;
    }
}

.dialog {
    .dialog-close {
        display: block;
    }
}



















