@import "../common/center/common/layout.less";

#content {
    @video-table-color: #F0F7FF;
    @video-table-border-color: #DEE9F6;
    .card-header {
        h2 {
            color: #6d6d6d;
            font-weight: bold;
        }
        .text-error {
            display: inline;
            font-size: 14px;
            .icon {
                margin: 0 15px;
            }
            .intro {
                margin-right: 25px;
            }
        }
    }
    .card-body {
        .nav-item {
            padding: 12px 57px;
        }
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .hidden {
        display: none;
    }

    table {
        margin-top: 10px;
        border: 1px solid @video-table-border-color;
        thead {
            background-color: @video-table-color;
            span + span {
                margin-left: 30px;
            }
        }

        tbody {
            td {
                border-right: 1px solid @video-table-border-color;
            }
        }
    }

    .portrait {
        float: left;
        margin-right: @gap-horizontal-small;
        margin-top: 5px;
    }

    .course-info {
        .name {
            font-size: 18px;
        }
    }

    .items-count {
        margin-left: 110px;

    }
    .table {
        td {
            color: @brand-text;
            font-size: 12px;
        }
        td.count {
            width: 80px;
        }
        td.sum,
        td.income {
            width: 100px;
        }
        .field-title {
            color: #AAA;
            font-size: 14px;
            margin-bottom: 5px;
        }
    }

    .orders {
        border: 1px solid @video-table-border-color;
        border-top: none;

        .tabs {
            border-bottom: 1px solid @video-table-border-color;
            li {
                .inline-block();
                padding: 0px 20px;
                margin: 10px 0;
                span {
                    cursor: pointer;
                    &:hover {
                        color: @brand-info;
                    }
                }
            }
            li + li {
                border-left: 1px solid @brand-gray;
            }
            .active {
                color: @brand-info;
            }
        }

        table {
            margin-top: 0;
            border: none;
            thead {
                background-color: #FFFBEF;
            }
        }
    }

    .btn-toggle > div {
        .inline-block();
        padding: 0 10px;
        cursor: pointer;
        background-color: #F5F5F5;
        border: 1px solid #EBEBEB;
        border-top: none;
    }

    .expand {
        .opened {
            display: none;
        }
        .closed {
            .inline-block();
        }
        .open {
            .closed {
                display: none;
            }
            .opened {
                .inline-block();
            }
        }
    }
}

.icon-apple {
    padding: 0 6px;
}