@import 'compile_spa/resource/css/mixin/position.styl';
.dialog-wrapper {
    .content {
        border: 0;
        outline: 0;
        center(fixed);
        z-index: 1001;
        padding: rem(15);
        width: 86%;
        background: #fff;
        border-radius: rem(5);
        .header {
            .icon-close {
                color: #cdcdce;
                font-size: rem(24);
                position: absolute;
                right: rem(14);
                top: rem(14);
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: rgba(0,0,0,.3);
    }
}