/**
 * @file 约课、排课
 * @author wangyujie
 */

@import "../../common/component/daytimeSelect.less";
@import '../../teacherCenter/component/form-address.less';
@import "../../common/component/showCourseCalendarMini.less";

#main {

    .card-body {
        .clearfix();
    }

    .order-info {

        .clearfix();
        border-bottom: 1px solid @brand-gray-light;
        color: @brand-text;
        margin-bottom: @gap-vertical-tiny;

        .available-hours {
            float: right;
            line-height: 4.8em;
            border-left: 1px solid @brand-gray-light;
            padding-left: 2 * @gap-vertical-medium;
            margin-right: 2 * @gap-horizontal-medium;
            strong {
                font-size: 22px;
                margin: 0 @gap-vertical-tiny;
            }
        }

        .avatar-small {
            float: left;
            margin-right: @gap-horizontal-huge;
        }

        .display-name {
            font-size: 20px;
            margin: 5px 0 @gap-vertical-medium;
        }

        .sex {
            margin: 0 @gap-horizontal-medium;
        }

        .course-name {
            margin-right: 2 * @gap-horizontal-medium;
        }

        .text-info {
            margin-right: @gap-horizontal-medium;
            .icon {
                margin-right: @gap-vertical-tiny;
            }
        }

        .icon-question-circle {
            margin-left: @gap-horizontal-tiny;
        }

    }

    .content {
        border: 1px solid @brand-gray-light;
        float: left;
        width: 640px;
        margin-right: 10px;

        .calendar {
            display: none;
            width: 217px;
        }
        .orderinfo-remind {
            font-size: 12px;
            padding-top: 10px;
            padding-left: 20px;
            color: #ff9100;
            background-color: #f9f9f9;
        }   
        .reserve-form {
            background-color: #f9f9f9;
            border-bottom: 1px solid #dfdfdf;
            padding: @gap-vertical-huge
                     2 * @gap-horizontal-medium;
            padding-top: 0;
            .repeat-interval {
                .form-label {
                    float: none;
                    text-align: left;
                }
            }
            .repeat-days-group {
                display: none;
            }
            .form-group-inline {
                display: inline-block;
                margin-right: @gap-horizontal-small;
                .form-label {
                    float: none;
                    text-align: left;
                }
            }
            .start-date {
                position: relative;
                input[name="start_date"] {
                    width: 217px;
                }
                .calendar {
                    z-index: @zindex-small;
                }
            }

            .start-hour,
            .start-minute {
                width: 70px;
                .dropdown-menu {
                    max-height: 275px;
                }
                button {
                    background-color: #fff;
                }
            }
            .start-hour {
                width: 95px;
            }

            .duration {
                width: 100px;
                button {
                    background-color: #fff;
                }
            }
            .repeat-times-group {
                display: none;
                clear: both;
                .repeat-times {
                    width: 100px;
                }
            }

            .btn-update,
            .btn-cancel {
                display: none;
            }

        }

        .reserve-list {
            padding: @gap-horizontal-medium;
            .operations {
                height: 32px;
                span {
                    float: right;
                    cursor: pointer;
                    font-size: 14px;
                    color: #6288DD;
                }
                .edit-all {
                    color: #6d6d6e;
                    margin-right: 12px;
                }
            }
            .table {
                border: 1px solid #dfdfdf;
                th {
                    background-color: #f4f4f4;
                }

                td {
                    border: 1px solid #eaeaea;
                    max-width: 175px;
                    padding: @gap-horizontal-small;
                }
                .icon {
                    cursor: pointer;
                    margin-left: @gap-horizontal-tiny;
                }
            }
            .no-data {
                border: 1px solid #dfdfdf;
                border-top: none;
                text-align: center;
                padding: @gap-horizontal-medium;
                color: #aaa;
            }
            .total {
                display: none;
                font-size: 16px;
                text-align: left;
                margin: @gap-horizontal-medium 0;
                .total-hours {
                    color: @brand-primary;
                    font-size: 20px;
                    margin: 0 @gap-horizontal-tiny;
                }
                .text-error {
                    display: none;
                }
            }
            .btn-link {
                color: @brand-info;
            }
            .form-action {
                text-align: center;
                margin-top: @gap-vertical-medium;
            }
        }

        .show-address {
            display: none;
            .modify-addr {
                color: @brand-info;
                margin-left: @gap-horizontal-medium;
                &:hover {
                    color: @brand-primary;
                }
            }
        }

        .addr-radio {
            display: none;
            .form-label {
                .form-required {
                    display: none;
                }
                .text-error {
                    display: none;
                }
            }
            .address-list {
                margin-left: @gap-horizontal-tiny;
                margin-right: @gap-horizontal-medium;
                width: 300px;

            }
        }

        .new-address {
            display: none;
            clear: both;
            max-width: 750px;
            margin-top: @gap-horizontal-medium;
            .clearfix();
            .form-required {
                display: none;
            }
            .form-action {
                display: none;
            }
            textarea[name="location_addr"] {
                overflow-y: hidden;
            }
            .map {
                #map {
                    width: 212px;
                    height: 180px;
                }
            }
            .form-controls {
                margin-left: 0px;
            }
        }

        textarea[name="note"] {
            width: 570px;
            height: 5.5em;
            overflow-y: hidden;
        }

    }

    .sidebar {
        margin-left: 650px;
    }

    // 已有课程一览表
    .schedule-calendar {
        margin-top: 0;
        margin-bottom: @gap-horizontal-tiny;
    }

    .course-calendar {
        width: 390px;

        table {
            width: 100%;
        }

        th,
        td {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .course-list {
        text-align: center;
        font-size: 12px;
    }

    .user-course {
        border: 1px solid #dfdfdf;
        th {
            background-color: #f4f4f4;
        }

        td {
            border: 1px solid #eaeaea;
            text-align: center;
            vertical-align: middle;
        }
        .time {
            min-width: 104px;
        }
        .course-name {
            width: 186px;
        }
        .user-name {
            text-align: center;
            width: 100px;
        }
        .icon-ban-o {
            font-size: 14px;
            padding-right: @gap-horizontal-tiny;
        }
    }

    .user-time {
        padding: @gap-horizontal-medium 0;
        margin:@gap-horizontal-medium 0;
        h3 {
            text-align: left;
            font-size: 12px;
            padding: @gap-horizontal-tiny 0;
        }
        ul {
            .clearfix();
            width: 389px;
        }
        li {
            float: left;
            width: 110px;
            padding: @gap-horizontal-medium;
            border: 1px solid #eaeaea;
            margin-left: -1px;
            margin-top: -1px;
        }
    }

}

.course-tip {
    span {
        margin-left: @gap-horizontal-medium;
    }
}




