{{ *
@file 预约试听课 － 设置试听课
@author wangyujie
* }}

{{ strip }}

<div class="set-trial">

    <div class="trial-prompt">
        <h3>设置须知</h3>
        <ol>
            <li>设置您提供的试听时长，学生只能按照该时长预约</li>
            {{ if $tpl_data.support_online_only }}
                <li>目前仅支持使用跟谁学直播工具进行在线试听</li>
            {{ else }}
                <li>最少选取一种试听方式，不支持的方式不勾选即可</li>
            {{ /if }}
            <li>价格为整个试听的总价，我们建议您设置0元或1元吸引学生</li>
            <li>如果您暂时不能提供试听，为避免学生预约，您可关闭试听开关</li>
        </ol>
    </div>

    <div class="form">

        <div class="form-group">
            <label class="form-label">
                试听开关：
            </label>
            <div class="trial-switch">
                <i class="switch-icon off"></i>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">
                试听时长：
            </label>
            <div class="dropdown trial-time">
                <button class="btn-default">
                    <i class="caret"></i>
                    <span>请选择时长</span>
                </button>
                <ul class="dropdown-menu">
                    {{ include file="common/variable/trialTime.html" scope=parent }}
                    {{ foreach $trialTimeMap as $key => $name }}
                        <li data-value="{{ $key }}">
                            {{ $name }}
                        </li>
                    {{ /foreach }}
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                {{ if $tpl_data.support_online_only }}
                    试听价格：
                {{ else }}
                    试听方式及价格：
                {{ /if }}
            </label>
            {{ if $tpl_data.support_online_only }}
                <div class="form-controls price-online">
                    {{ include file="common/ui/inputGroup.html"
                        suffix="元"
                        input='<input class="form-text" type="money" name="price_online" pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" max="50" />'
                    }}
                    <span class="error"></span>
                </div>
            {{ else }}
                <div class="form-group price-online">
                    {{ include file="common/ui/checkbox.html" name="online" value="1" text="在线试听" }}

                    {{ include file="common/ui/inputGroup.html"
                        suffix="元"
                        input='<input class="form-text" type="money" name="price_online" pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" max="50" />'
                    }}

                    <span class="error"></span>
                </div>

                <div class="form-group price-offline">

                    {{ include file="common/ui/checkbox.html" name="offline" value="1" text="线下试听" }}

                    {{ include file="common/ui/inputGroup.html"
                        suffix="元"
                        input='<input class="form-text" type="money" name="price_offline" pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" max="50" />'
                    }}

                    <span class="error"></span>
                </div>
            {{ /if }}
        </div>
        <div class="form-action">
            <button class="btn btn-primary btn-save">
                保存
            </button>
        </div>
    </div>

</div>

{{ /strip }}