.livehelp-bottom {
    text-align: center;
    padding-top: rem(30);
    background: white;
    .livehelp-bottom-main {
        margin-bottom: rem(10);
        .livehelp-bottom-heart {
            color: #FF6C00;
            margin-right: rem(10);
        }
        .livehelp-bottom-sub {
            font-family: PingFang-SC-Regular;
            font-size: rem(18);
            color: #3C3C3C;
            line-height: rem(18);
        }
    }
    .livehelp-bottom-sub {
        margin-bottom: rem(40);
        .livehelp-bottom-sub-text {
            font-family: PingFang-SC-Regular;
            font-size: rem(16);
            color: #3C3C3C;
            line-height: rem(16);
        }
        .livehelp-bottom-sub-number {
            font-family: PingFang-SC-Regular;
            font-size: rem(16);
            color: #6D6D6E;
            line-height: rem(16);
        }
    }
    .livehelp-bottom-sub-fuwu {
        font-family: PingFang-SC-Regular;
        font-size: rem(12);
        color: #9D9E9E;
        line-height: rem(30);
        height: rem(30);
        background: #FAFAFA;
    }
}