{{ extends file="./base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "activity/ukAdmin/data_343aa68f1a" }}

    {{ $menu = 'data' }}

{{ /block }}

{{ block name="content" }}

<table class="main-grid">
    <thead>
        <tr>
            <td>日期</td>
            <td>当日报名人数</td>
            <td>累计报名人数</td>
            <td>确认参赛人数</td>
            <td>当日投票人数</td>
            <td>累积投票人数</td>
            <td>累计投票数</td>
        </tr>
    </thead>
    {{ foreach $tpl_data.records as $rec }}
    <tr>
        <td>{{ $rec.date }}</td>
        <td>{{ $rec.today_sign }}</td>
        <td>{{ $rec.accumulate_sign }}</td>
        <td>{{ $rec.confirm_count }}</td>
        <td>{{ $rec.day_voter_number }}</td>
        <td>{{ $rec.accumulate_voter_number }}</td>
        <td>{{ $rec.accumulate_vote }}</td>
    </tr>
    {{ /foreach }}
</table>


{{ /block }}