{{ strip }}

{{ if isset($tpl_data.is_juhuixue) && $tpl_data.is_juhuixue }}
    <a href="http://ju.genshuixue.com/?zn=zn_juhuixue_huiliu_pc" target="_blank">
        <img class="activity-photo" data-value="1" src="{{ $static_origin }}/src/img/classCourse/juhuixuePc.png" />
    </a>
{{ /if }}

{{ if isset($tpl_data.video_store_url) && $tpl_data.video_store_url }}
    <a href="{{ $tpl_data.video_store_url }}" target="_blank">
        <img class="activity-photo" data-value="2" src="{{ $static_origin }}/src/img/video/zhishikuPc.png" />
    </a>
{{ /if }}

{{ if isset($tpl_data.zhenti_store_url) && $tpl_data.zhenti_store_url }}
    <a href="{{ $tpl_data.zhenti_store_url }}" target="_blank">
        <img class="activity-photo" data-value="3" src="{{ $static_origin }}/src/img/video/zhentikuPc.png" />
    </a>
{{ /if }}

{{ /strip }}