{{ strip }}

<div id="courseCatalog" class="card">
    <div class="title">
        目录
    </div>

    <div class="details">
    {{ if $tpl_data.chapter_mode == 1 }}
        {{ foreach $tpl_data.video_list as $video }}
            <div class="
            {{ if $video.pay_status == 1 || $tpl_data.has_buy_course }}
                dstart
            {{ else if $video.pay_status == 2 }}
                dbuy
            {{ else if $video.pay_status == 3 }}
                daudition
            {{ /if }} section" data-sectionid="{{ $video.section_id }}">
                <div class="section-no">
                    {{ $video@index + 1 }}
                </div>
                <div class="section-name">
                    {{ $video.title }}
                </div>
                <div class="course-info">
                    {{ if $video.pay_status == 3 }}
                        <span class="audition">
                            免费试听
                        </span>
                    {{ /if }}

                    <span class="total-length">
                        {{ $video.total_length }}分钟
                    </span>
                </div>
                <div class="course-info-hover">
                    {{ if $user_data.user_number !== $teacherNum }}
                        {{ if $video.pay_status == 1 || $tpl_data.has_buy_course }}
                            <span class="total-length">
                                {{ $video.total_length }}分钟
                            </span>
                        {{ else if $video.pay_status == 2 }}
                            <span class="text-primary">
                                购买后观看
                            </span>
                        {{ else if $video.pay_status == 3 }}
                            <span class="text-primary">
                                免费试听
                            </span>
                        {{ /if }}
                    {{ /if }}
                </div>
            </div>
        {{ /foreach }}
    {{ else if $tpl_data.chapter_mode == 2 }}
        {{ foreach $tpl_data.video_list_chapter as $chapter }}
            <div class="chapter">
                第{{ $chapter@index + 1 }}章&nbsp;{{ $chapter.title }}
            </div>
            <ul>
                {{ foreach $chapter.item_list as $section }}
                <li class="
                {{ if $section.pay_status == 1 || $tpl_data.has_buy_course }}
                    dstart
                {{ else if $section.pay_status == 2 }}
                    dbuy
                {{ else if $section.pay_status == 3 }}
                    daudition
                {{ /if }} section" data-sectionid="{{ $section.section_id }}">
                    <div class="section-no">
                        {{ $section@index + 1 }}
                    </div>
                    <div class="section-name">
                        {{ $section.title }}
                    </div>
                    <div class="course-info">
                        {{ if $section.pay_status == 3 }}
                            <span class="audition">
                                免费试听
                            </span>
                        {{ /if }}

                        <span class="total-length">
                            {{ $section.total_length }}分钟
                        </span>
                    </div>
                    <div class="course-info-hover">
                        {{ if $user_data.user_number !== $teacherNum }}
                            {{ if $section.pay_status == 1 || $tpl_data.has_buy_course }}
                                <span class="total-length">
                                    {{ $section.total_length }}分钟
                                </span>
                            {{ else if $section.pay_status == 2 }}
                                <span class="text-primary">
                                    购买后观看
                                </span>
                            {{ else if $section.pay_status == 3 }}
                                <span class="text-primary">
                                    免费试听
                                </span>
                            {{ /if }}
                        {{ /if }}
                    </div>
                </li>
                {{ /foreach }}
            </ul>
        {{ /foreach }}
    {{ /if }}
    </div>
</div>

{{ /strip }}