<div id="crumb">
    <ul>
        {{ foreach $tpl_data.crumb as $xie }}
        <li {{ if $xie@last }} class="related-li" {{ /if }}>
            {{ if !$xie@first }} &nbsp;&gt;&nbsp; {{ /if }}
            <a href="{{ $xie.url }}" target="_blank">
                {{ $xie.name }}
            </a>

            {{ if $xie@last }}
                <ul class="related">
                {{ foreach $tpl_data.course_related as $related }}
                    <li>
                        <a href="{{ $related.url }}" target="_blank">
                            {{ $related.name }}
                        </a>
                    </li>
                {{ /foreach }}
                </ul>
            {{ /if }}
        </li>
        {{ /foreach }}
    </ul>
</div>