{{ *

@file 机构-帮助中心
@author zengcheng

* }}

{{ strip }}

<div class="education" >
    <h2>教务管理</h2>
    <h3>1、怎么添加课程？</h3>
    <p>
        点击添加课程，可以选择添加相应老师的班课（如果老师较多，可以直接进行老师搜索），然后进入老师后台中的“课程设置”开设班课。
    </p>
    <div>
        <img width="301px" src="{{ $static_origin }}/src/img/guide/org/23.jpg">
        <img width="301px" src="{{ $static_origin }}/src/img/guide/org/24.jpg">
    </div>
    <h3>2、怎么添加老师？</h3>
    <p>在后台点击“添加老师”，填写老师的真实姓名和电话进行添加，被添加老师手机会收到一个登陆密码，老师需在30天内登录网站激活。如果老师已经入驻，可以发送邀请，老师可以在7日内接受机构邀请，成为机构老师；正在邀请的老师不能超过20位。</p>
     <div>
        <img src="{{ $static_origin }}/src/img/guide/org/25.jpg">
    </div>
    <h3>3、添加老师显示已注册成个体老师怎么办？</h3>
    <p>经您和老师沟通后老师同意加入您的机构，可以发送邀请，老师可以在7日内接受机构邀请，成为机构老师。</p>
    <h3>4、一天最多可以添加多少名老师？</h3>
    <p>系统现在设置，机构后台每天最多可以添加20名老师。</p>
    <h3>5、如何查看本机构老师的排课情况？</h3>
    <p>我们为机构提供智能的课表服务，本机构所有老师的课程在课表里一览无余，方便查询。
    </p>
    <div>
        <img src="{{ $static_origin }}/src/img/guide/org/26.jpg">
    </div>
    <h3>6、如何和学生取得联系？</h3>
    <p>在后台可以直接查看学生联系方式，在线或下载机构app和学生取得联系。</p>
    <div>
        <img width="435px" src="{{ $static_origin }}/src/img/guide/org/27.jpg">
        <img width="168px" src="{{ $static_origin }}/src/img/guide/org/28.jpg">
    </div>
    <h3>7、如何得知老师的教学效果？</h3>
    <p>在后台可以查看学生对老师的教学评价，得到教学质量的真实反馈。</p>
     <div>
        <img src="{{ $static_origin }}/src/img/guide/org/29.jpg">
    </div>
    <h3>8、如何和老师解约？</h3>
    <p>
        经与老师就解约事宜协商一致后，可以在机构后台进行解约操作，解约成功后，该老师将成为个体老师，如果老师有进行中的订单、主讲的直播课或正在招生的班课则无法转出，需等到课程完结并且学生评价课程后才能解约。（有其他问题请打客服电话进行咨询：4000-910-910，010-86448910）
    </p>
</div>

{{ /strip }}