{{ *

@file 机构-帮助中心
@author zengcheng

* }}

{{ strip }}

<div class="focus" >
    <h2>焦点图和自定义区</h2>
    <h3>1、怎么添加机构首页的焦点大图？一共可以添加几张？</h3>
    <p>
        首页的大图展示，最多可以放六张图，滚动展示；推荐尺寸为1100*350 像素，大小不超过5M。
        每张图支持站内链接， 连接到相关的课程和老师页面。
    </p>
    <div>
        <img src="{{ $static_origin }}/src/img/guide/org/12.jpg">
    </div>
    <h3>2、自定义区可以放什么素材？展示到前台后在什么位置？</h3>
    <p>
        自定义区支持图片、文字、链接等多种多媒体展现形式，展示在焦点图下面，更好地突出机构特色。
    </p>
    <div>
        <img src="{{ $static_origin }}/src/img/guide/org/13.jpg">
    </div>
</div>

{{ /strip }}