{{ *

@file 机构-帮助中心
@author zengcheng

* }}

{{ strip }}

<div class="photo" >
    <h2>照片和视频</h2>
    <h3>1、怎么添加机构照片？</h3>
    <p>
        在后台主页管理的相册选项可添加机构照片，支持JPG、JPEG、PNG等格式，单张大小不超过5M，最多添加50张
    </p>
    <div>
        <img src="{{ $static_origin }}/src/img/guide/org/14.jpg">
    </div>
    <h3>2、怎么上传视频，有什么规格？</h3>
    <p>
        后台主页管理下的视频选项可以上传视频，视频大小控制在1G以内，需为原创作品或经版权方同意可以上传的，并且不能在视频中以任何方式给机构打广告。
    </p>
    <div>
        <img src="{{ $static_origin }}/src/img/guide/org/15.jpg">
    </div>
</div>

{{ /strip }}