.search-more{
  height:rem(139);
  background: white;
  .text{
    padding-top:rem(15);
    text-align : center;
    font-size:rem(14);
    color:#9d9e9e;
    >img{
      width:rem(53);
      display : inline;
    }
  }

  position : relative;
  .btn-search-more{
    display : block;
    position : absolute;
    left:rem(20);
    right:rem(20);
    background:#ff9100;
    //border:1px solid #ff9100;
    border-radius:rem(2);
    height:rem(42);
    line-height : rem(42);
    text-align : center;
    font-size:rem(17);
    color:#fff;
    bottom:rem(20);
  }
}