.teach-lesson {
    background: white;
    margin-top: rem(10);
    padding-bottom: rem(18);
    margin-bottom: rem(10);
    .titles {
        font-family: PingFangSC-Semibold;
        font-size: rem(18);
        color: #3D3D3E;
        height: rem(46);
        line-height: rem(46);
        padding-left: rem(10);
    }
    .cross-line {
        top: 0;
        margin-bottom: rem(12);
    }
    .item {
        padding: rem(5) rem(18);
        position: relative;
        line-height: rem(20);
        .icon {
            font-size: rem(18);
            color: #6d6d6e;
            float: left;
            margin-right: rem(4);
            position: relative;
            top: rem(2);
        }
        .title {
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #6D6D6E;
            float: left;
            line-height: rem(20);
        }
        .content {
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #3D3D3E;
            line-height: rem(20);
            display: inline-block;
            margin-left: rem(10);
            width: 64%;
        }
    }
}