/**
 * @file 老师详情页布局样式
 * @author zhujialu
 */
#sidebar {
    float: right;
    margin: 0;
}

#content {

    padding: 0;

    h3 {
        color: @brand-text;
        font: @font-size-medium @font-family-title;
        font-weight: bold;
        margin-bottom: @gap-horizontal-medium;
    }

}

.content-toggle {
    color: @brand-text-lighter;
    font-size: @font-size-tiny;
    cursor: pointer;
    margin-left: @gap-horizontal-medium;
}