.suggestion {
    &.hidden {
        display: none;
    }
    width: 100%;
    max-height: rem(240);
    overflow: auto;
    background: #fff;
    .item {
        font-size: rem(16);
        color: #2D2D2E;
        line-height: rem(45);
        height: rem(45);
        padding-left: rem(10);
        box-sizing: border-box;
        border-left: 1px solid #DDDDDE;
        border-right: 1px solid #DDDDDE;
        border-bottom: 1px solid #DDDDDE;
    }
}