@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
body{
    background: #f6f7f7;
}

.nav-header{
    background: #f6f7f7;
}
.nav-first {
    background: white;
    color: #6d6d6e;
    padding: 0 rem(20);
    li {
        float: left;
        width: 33%;
        text-align: center;
        padding: rem(15) 0;
        font-family: PingFang-SC-Regular;
        font-size: rem(14);
        letter-spacing: rem(0.93);
    }
}
.text-box {
    width: 90%;
    margin: rem(10) 5%;
    p {
        font-family: PingFang-SC-Regular;
        font-size: rem(12);
        color: #3c3c3c;
        line-height: rem(15);
        text-align: left;
        margin-bottom: rem(4);
    }
    .text-title {
        font-family: PingFang-SC-Medium;
        font-size:rem(14);
        color: #3c3c3c;
        line-height: rem(18);
        text-align: left;
        font-weight: bold;
    }
    .last-text{
        margin-bottom: rem(10);
    }

    .text-red{
        color: red;
    }

    .text-table{
        margin: rem(10) 0;
        td {
            font-family: PingFang-SC-Regular;
            font-size: rem(12);
            color: #3c3c3c;
            line-height: rem(15);
            text-align: left;
            padding: rem(4);
        }
    }
    ul {
        font-family: PingFang-SC-Regular;
        font-size: rem(12);
        color: #3c3c3c;
        line-height: rem(15);
        text-align: left;
        margin-bottom: rem(4);
    }
    li {
        margin: rem(10) 0 rem(10) rem(12);
    }
}

.hide{
    display: none;
}

.on{
    color: #0F86E8;
    border-bottom: 2px solid #0F86E8;
}