{{ *

@file 班课订单列表元素
@author zhujialu

* }}
{{ strip }}

{{ include file="common/variable/orderStatus.html" scope=parent }}
{{ include file="teacher_center/course/variable/displayStatus2.html" scope=parent }}

<div class="class-course">
    <div class="bar">
        <span>
            <label>创建时间：</label>
            {{ $order.create_time|date_format:"%Y-%m-%d&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%H:%M" }}
        </span>
        <span>
            <label>班课编号：</label>
            {{ $order.number }}
        </span>
    </div>

    <div class="content">
        <div class="protrait">
            <a href="/teacher/classCourseDetail?number={{ $order.number }}" target="_blank">
                {{ include file="common/variable/photo.html" url=$order.cover_info.url raw_width=$order.cover_info.width raw_height=$order.cover_info.height width=120 height=80 }}
                <img src="{{ $photo }}">
            </a>
        </div>

        <div class="title-type">
            <div class="title">
                <a href="/teacher/classCourseDetail?number={{ $order.number }}" target="_blank" data-title="{{ $order.name }}" data-width="200">{{ $order.name|cn_truncate:20 }}</a>
            </div>
            <div class="type">
                {{ include file="common/component/classCourseIcon.html" lesson_way=$order.lesson_way retire_flag=$order.retire_flag chaban_flag=$order.chaban_flag }}
            </div>
        </div>

        <div class="price">
            ￥{{ $order.price|number_format:2 }}
        </div>

        <div class="enroll">
            已报&nbsp;{{ if $order.total_pay > 0 }}<a href="/class_course/order_detail?number={{ $order.number }}" target="_blank">{{ $order.total_pay }}</a>{{ else }}{{ $order.total_pay }}{{ /if }}&nbsp;/&nbsp;{{ if $order.max_student >= 10000 }}{{ ($order.max_student / 10000)|number_format:1 }}万{{ else }}{{ $order.max_student }}{{ /if }}人
        </div>
        <div class="status">
            {{ if in_array($order.display_status_search, ['3', '4', '5', '6']) }}
            <span class="text-info">
            {{ /if }}
            {{ $display_status2_map[$order.display_status_search] }}
            {{ if in_array($order.display_status_search, ['3', '4', '5', '6']) }}
            </span>
            {{ /if }}
        </div>
        <div class="actions">
            <a href="/class_course/order_detail?number={{ $order.number }}" target="_blank">查看详情</a>
        </div>
    </div>
</div>

{{ /strip }}
