{
    "presets": ["next/babel"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            },
            "antd"
        ],
        [
            "import",
            {
                "libraryName": "habo"
            },
            "habo"
        ]
    ]
  }
