{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="experience">


    <p class="paragraph">
        随着9月22日在线教育项目“跟谁学”上线，二次创业的陈向东也再一次被推上了舆论的焦点，笔者也恰如其时的带领摄制组走进了跟谁学，专访了跟谁学创始人陈向东。
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/experience.jpg" alt="experience"/>

    </div>
    <p class="paragraph">
        在前期导演组与陈向东及其公关团队商讨采访方案时就能感觉到，此次面对媒体的陈向东完全是有备而来，因为所有问题的设置陈向东都是来者不拒，更令笔者高兴的是，陈向东在采访现场独家爆了不少“猛料”、新料，这也足以看出陈向东对央视平台的信任和青睐，在谈到陈向东主动爆料环节，各位微友甚是期待，今天就来说说陈向东讲述资本大佬徐小平如何关注“跟谁学”的。
    </p>
    <p class="paragraph">
        “跟谁学”上线，陈向东为了更好的与用户沟通，特意把自己的工作邮箱挂到了页面，这其中在收集了众多业内外人士的反馈消息的同时也吸引了圈内重量级人物的关注。不过如陈向东所言：徐老师就不是发邮件了，而是面对面沟通，在体验的时候输入“钢琴”，但发现钢琴下边的的老师匹配的不是很好，于是向陈向东提建议说钢琴是一个大家选择特别多的科目，在这方面要优化... ...
    </p>
    <p class="paragraph">
        不难看出，同为东方人的徐小平对陈向东确实关爱有佳。在2010年，与俞敏洪并称为新东方“三驾马车”的创始人徐小平、王强先后出走，同年11月，陈向东正式升任执行总裁，并与俞敏洪、周成刚一起，被业界称之为“新三驾马车”，虽然一直被业界称之为俞敏洪接班人的这一传说，随着陈向东的离职和创业被无情的打破，但彼时一直碍于俞敏洪行业标杆形象而甘于沉默的陈向东，此时不断在行业内发声，足以看出陈向东的二次创业也绝非偶然，当然在专访中笔者也在陈向东的回答中找到了答案。
    </p>
    <p class="paragraph">
        徐小平掌舵的真格基金不断的表现出对在线教育项目的青睐，不管是从拓词、超级课程表、一起作业网还是91外教和51Talk等，足以看出其对教育行业的情节和钟爱。而此时徐小平如此关注“跟谁学”，陈向东也主动披露，不知道表象的背后会不会是资本市场的联想？
    </p>
    <p class="paragraph">
        【编后语】：新东方曾经的“三架马车”的徐小平、王强离开了，后来的“新三架马车”中的执行总裁陈向东离开了，巧合的是在陈向东“跟谁学”上线的4天之后，“新三架马车”中的周成刚出任新东方执行总裁职务了... ...
    </p>



</div>


{{ /strip }}