{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="good">

    <p class="paragraph">
        今天多知网报道陈向东携“跟谁学”杀回教育市场，引起一番不小的震动。不过，互联网作为一个依赖创新而发展起来的新型领域，背景并不能代表一切。唯有产品让用户满意，才会有获胜的机会，因此“跟谁学”的背景分析交给记者去完成，笔者从教学这个角度，与网友们探讨下“跟谁学”的发展机会和风险。
    </p>

    <p class="paragraph">
        三大切入点为跟谁学提供发展契机
    </p>

    <p class="paragraph">
        从”跟谁学“的产品形态来看，其力图打造一个类似大众点评或淘宝的形态，有着宏伟的教育平台蓝图，可根据当前每天都有两家在线教育公司成立的速度，经过近一年的沸腾，因此拥有再宏大的目标的”跟谁学“也只是一个跟进者、切入者，但这个时候跟谁学切入在线教育领域，恰到好处——
    </p>
    <p class="paragraph">
        传统教育辅导行业师资不透明和市场规范不足，为在线教育提供机会。对于传统教育辅导行业的不透明和不规范所提供的机会，不仅仅让“跟谁学”受益，而是整个在线教育发展的原点。传统教育辅导行业现在仍旧靠品牌、口碑来维系与学生、家长之间的关系，越来越难以满足学生们追求“个性”、崇尚“体验”的需求。尤其传统教育行业的师资不透明，在一定程度上造成了教育资源的分配不平等，加上毕业生就业困难，就为在线教育的爆发提供了机会。
    </p>

    <p class="paragraph">
        虽然中国在线教育已经爆发一年有余，可短时间内教育辅导行业并没有从根本上有所改观，现在无论是传统教育辅导还是在线教育，缺乏一个具有权威性的第三方平台来对师资、机构进行评价，所以这个点“跟谁学”把的很准！
    </p>

    <p class="paragraph">
        国家教育信息化战略，免费为在线教育企业做宣传。2014年年初，国家发布教育信息化发展规划，使教育信息化成为国家层面的大战略，一时间媒体、各地教委、学校都在尝试翻转课堂等各种在线教学手段，就为在线教育业态做了免费的宣传。现在的在线教育企业不用再像过去一样向学生、家长介绍在线教育基础知识，直接告诉家长、学生“能帮你们做什么”即可。
    </p>

    <p class="paragraph">
        现在跟谁学不用再分别向家长、老师、学生介绍自己，节省了大量的沟通成本和推广成本。有网友可能会问：“这夸大了国家主导的作用了吧？”   其实没有夸大，尤其是国家战略所指定的方向，能为企业避免很大的试错成本。如正在分拆的某某网，很大程度上因为发展太早试错太多，造成今天“亏损无望”的局面。
    </p>

    <p class="paragraph">
        在线教育虽然火爆，盈利模式不够清晰。有位投资人说，在线教育和视频很类似，人人知道这是趋势，人人知道这个必火，可是在商业上形成没有清晰的盈利模式。不仅中国，在线教育全球都鲜有盈利平台，现阶段教育O2O被公认为还算靠谱的模式。
    </p>

    <p class="paragraph">
        跟谁学这种力图以第三方形式存在的平台，为在线教育的盈利模式进行探索，很值得关注。但从现在其招聘范围来看，跟谁学是从自有教师切入，形成一定影响力后吸引更多老师加入，由B2C向B2B2C方面转变，这一点不算新鲜，已有100教育先例。
    </p>

    <p class="paragraph">
        跟谁学的未来发展方向和风险
    </p>

    <p class="paragraph">
        从“跟谁学”网站命名看，其团队不会停留在“随时随地，名师相伴”的层面，帮学生解决好“跟谁学”的问题后，下一个问题就是“为什么学”，帮学生制定学习计划将会成为这些第三方平台的赢利点和爆发点。类似于第三方平台的在线教育初创公司并不少见，如1号教室、365好老师网，可能做到帮学生规划学习计划的平台，目前只有365好老师网做到能“见到效果”的程度。
    </p>

    <p class="paragraph">
        由于互联网将世界变成超级蜂巢、人人时代，众包成为未来的商业主流，谷歌创始人甚至宣称未来的工作状态都是“兼职”，再加上O2O模式的兴起，对这些力图构建平台型的在线教育企业而言，最大的威胁则是本地化。如何处理好本地化和蜂巢思维问题，将会攸关跟谁学这些大平台的生死存亡。
    </p>

</div>


{{ /strip }}