{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="">

    <p class="paragraph">
        导语：10月25日，“创业邦公开课第二期之在线教育在北京举办，陈向东给与会人员上了一堂主题为《在线教育的鼠标+水泥模式》的课。
    </p>
    <p class="paragraph">
        10月25日，创业邦公开课第二期之在线教育在北京繁星戏剧村举办，跟谁学创始人董事长兼CEO陈向东、弘成教育集团董事长兼101远程教育网总经理黄波做了主题分享，一起作业网创始人肖盾、极客学院创始人靳岩和爱学堂教育科技创始人汪建宏围坐讨论了在线教育早期如何开拓市场、积累用户等大家关心的问题;除了干货分享外，现场热身操环节更是让全场high翻，热力十足。
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/11-5/10-25-1.jpg" alt="陈向东微博"/>
    </div>

    <p class="paragraph">
        在公开课上，陈向东给与会人员上了一堂主题为《在线教育的鼠标+水泥模式》的课。以下为其演讲内容的干货提炼：
    </p>
    <p class="paragraph">
        真正做成一番事情的时候有六个要素是必不可少的，第一个要素是模式，第二个要素是战略，第三个要素是团队，第四个要素是你的文化，第五个要素是你的奖惩体系，第六个要素是执行。
    </p>
    <p class="paragraph">
        1. 模式。换句话说就是，你解决了用户什么样的痛点。当你真正解决别人一个痛点的时候，可能这件事别人说就可能会成立;反之，可能这件事本身也就不成立。而把这个痛点找到了，某种意义上说就是你的商业模式。
    </p>
    <p class="paragraph">
        我在新东方的时候就思考一个话题就是，谁有一天会颠覆新东方，或者说谁有一天会颠覆新东方里面的某些业务，我们突然看到一个场景就是一对一的培训市场，我们结构的营销费用占到了20%多，而管理费用加上房租占到了20%多，而老师可能拿走了30%多。我们就想，能不能把20%的营销成本放掉，能不能把20%的房租成本降低，老师拿到更多，这种可能性存在不存在?
    </p>
    <p class="paragraph">
        第二个场景的痛点是，每家机构都会说自己有哪些系统，但是哪些是最好的呢，消费者就蒙掉了。于是根据这样一个痛点，我经过思考想到，能不能创办这样一个平台性的公司呢?把所有的产品逻辑聚焦在老师身上。
    </p>
    <p class="paragraph">
        2. 战略。所谓的战略就是，你如何做成这件事情，换句话说就是，你通过什么样的方式构建什么样的门槛，而最终做成这件事情。我们都知道什么叫做破坏性创新，无外乎三个定义，一个就是把高收费变成低收费，第二个把低收费变成不收费，第三个把不容易得到的变成容易得到的。因此我们想我们战略的时候，当然有很多内涵，但是我想其实我们每一个人在思考的时候说，就是你怎么样通过差异化的模式、差异化的竞争，而最终使得你的门槛是构建在那的。
    </p>
    <p class="paragraph">
        3.团队。换句话说你决定和谁来做这件事。这某种意义上说，决定着你和什么样的人度过你人生当中非常重要的一个阶段，也决定着你和什么样的人共建人生伟大的友谊，也决定着拟人生未来的厚度到底在什么样的地方不断的去做到。
    </p>
    <p class="paragraph">
        4.企业文化。有一句大白话，说“一流的企业做精神，二流的企业做文化，三流的企业做标准，四流的企业做技术，五流的企业卖产品。我今天想讲的是说，一流的企业卖精神、卖粉丝、卖一个号召力、卖一个符号；二流的企业，卖一个能解决痛点的、标准化的产品；三流公司卖的是，能够被别人复制的、门槛更低的产品。
    </p>
    <p class="paragraph">
        5. 个奖惩体系、激励体系。我想是如果说有人来做，大家如何来做都确定之后，一旦想我怎么能够让这些人他们都能够卖命的做，换句话说，让这些人他们做的时候，换句话说如何构建一种体系让你们团队里面的每个人，他的加班是自愿的，他晚上熬夜是自发的，这不仅是我的事，这也是你的事。
    </p>
    <p class="paragraph">
        6.执行。换句话说，你怎么样能够让那么多的人一块给你干，同时让更多的人协同起来一块干这件事，我觉得这个执行又变得无比重要。所以我特别喜欢一句话，叫做一个绝好的创想如果没有执行价值20美金，一个绝好的创想加上卓越执行价值2000万美金。
    </p>
    <p class="paragraph"> 
        陈向东给创业者的一些建议：
    </p>
    <p class="paragraph">
        1. 第一个建议，我想如果想走在创业的路上，某种意义上讲，最大的是你的勇气，最大的是你要面对你的内心，最大的是你要说服你身边的亲朋好友。再重要的是，你足够强大，不在乎外界对你的评论。这是我想说的。
    </p>
    <p class="paragraph">
        2.第二个建议，当在创业的路上，你需要的是很多时候静下心来，需要的是要更多的时间和精力来聚焦于你的产品，来集中于我们的重点。
    </p>
    <p class="paragraph">
        3.第三个建议，不要太在乎自己的得失，你既然创业了，你就是在赌，叫小赌小赢、大赌大赢、不赌不赢。当然换句话说，赌也是一门艺术，赌更是人生当中非常重要的一段旅程，人活着不就是要过的精彩嘛，而精彩不就是惊天动地嘛，惊不了别人的天、动不了别人的地，但是惊动自己。
    </p>
    <p class="paragraph">
        以下为陈向东现场演讲视频：
    </p>

    <div class="video-show specail">
        <div class="wrapper">
            <ul class="videoShow" id="videoShow">
                <li data-id="208">
                    <!--<div class="video-thumbnail" data-name="陈向东现场演讲视频" data-video="http://v.qq.com/iframe/player.html?vid=l0139ru0bpe&width=670&height=3850auto=1">-->
                    <div class="video-thumbnail" data-name="陈向东现场演讲视频" data-video="http://www.genshuixue.com/video/view/3903">

                        <img src="{{ $static_origin }}/src/img/guide/new/11-5/10-25-1.jpg" alt="陈向东现场演讲视频" title="陈向东现场演讲视频" />
                        <i class="icon"></i>
                        <div class="info">
                            <!--<div class="vname">陈向东现场演讲视频</div>-->
                            <!--<div class="detail">陈向东现场演讲视频</div>-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>


{{ /strip }}