{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="">



    <p class="paragraph">
        10月28日上午，跟谁学创始人、董事长兼CEO陈向东应邀参加“2014年中国教育培训行业发展年会（大连）会议”，并发表题为“互联网教育让传统教育培训走向多元化”的演讲。陈向东老师从《创新者的窘境》、《失控》、《三体》3本书开场，就找好老师，上跟谁学，携手同创共赢，跟谁学将改变您影响世界的方式等，与现场来自全国各地的近3000位校长和老师进行了分享。
    </p>


    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/11-5/10-28-1.jpg" alt="（来源：陈向东微博）"/>
        <div>“2014年中国教育培训行业发展年会（大连）会议”现场</div>
    </div>

    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/11-5/10-28-2.jpg" alt="（来源：陈向东微博）"/>
        <div>跟谁学创始人、董事长兼CEO陈向东应邀做主题演讲</div>
    </div>

    <p class="paragraph">
        作为中国教育培训行业最受欢迎的年度盛会，本届大连年会由中国教育培训联盟举办。据悉，从2005年开始，中国教育培训联盟就开始举办年会。自2007年起，年会固定为一年举行两次，即春季年会和秋季年会。
    </p>


</div>


{{ /strip }}