{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="trend">



    <p class="paragraph">
        笔者是一个联盟普通的工作人员，大约是三个月前，联盟主席牛新哲老师第一次提出，2014年的中国教培行业经历的种种磨难与挫折，从微观层面看，可以归纳为政策迷局、行业乱局和少儿英语败局；（详情：【 政策迷局】【 行业乱局 】 【少儿英语败局 】）而从宏观层面看，则是经历了近十年的野蛮生长，教培业先是由外倒逼，从而由内及外，进入了一个产业升级的阶段。（详情：一张图看懂2014教培业）
    </p>
    <p class="paragraph">
        在牛主席第一次提出关于【教培业产业升级】的说法时，坦白说，包括联盟人在内，大家都颇为迷惑，看不清，摸不着这种产业升级的脉络；而在经过这几个月后，很多校长在微信朋友圈都开始感叹当时牛主席的眼光独到与高瞻远瞩，这个行业，确实正在发生着潜移默化的产业化升级。
    </p>
    <p class="paragraph">
        01期
    </p>
    <p class="paragraph">
        从陈向东【跟谁学】的异军突起看教培业互联网思维革命：
    </p>
    <p class="paragraph">
        9月22日，由跟谁学创始人、董事长兼CEO，原新东方执行总裁陈向东老师创办的O2O式在线教育平台【跟谁学】正式上线，上线伊始，笔者就注册了一个账号并从界面和功能层面深入体验了【跟谁学】平台，体验的感受就是这个平台是一个遵循WEB2.0时代的互联网思维，以用户体验为导向的网络平台，在跟谁学平台上，有几个比较有意思的功能：【教师资质认证】、【支付保障】、【随时退款】。这些功能或许在其他行业（比如团购和电商）已屡见不鲜，但在教育行业里，因为培训机构的混乱和师资的良莠不齐，我们似乎一直在有意无意的忽视着这些用户所重视的地方，从这一处细节上，以管窥豹，行业研发设计的产业化升级正在悄然开始，不管我们是否愿意或者能够跟得上。
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend1.png" alt=""/>
    </div>


    <p class="paragraph">
        另一方面产业升级除了会体现在研发设计上，还会在营销模式转变上有明显征兆：
    </p>
    <p class="paragraph">
        让我们来看一看跟谁学的营销。
    </p>
    <p class="paragraph">
        跟谁学上线伊始，就推出了“注册赢IPHONE6”的活动，这个活动并不稀奇，但【跟谁学】对于参与流程和抽奖方式的创新，却可以成为一种典范，它把微信推广和话题性成功的融合到了一起，并且给人了无限的想象空间。（根据笔者计算，最终的号码是：19112840985，我的IPHONE6是没戏了，%>_<%）这种创新其实也是一条产业化升级中的必由之路，是行业从内而外产生的自发式创新，最终形成了生产力和生产效率的极大提升，最终又加速了产业升级。
    </p>
    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend2.png" alt=""/>
    </div>

    <p class="paragraph">
        除了话题效应的创新外，跟谁学创始人陈向东老师，或许正走在成为教育界“马云+雷布斯”的道路上，10月15日，陈老师发布了一条饶有趣味的朋友圈，里面列举了6、7位粉丝与他的互动，并讲述了一个真实发生的小笑话：“有一位他的朋友为了体验跟谁学，发布了一个红烧鸡翅的课程，没想到竟然真的有人拍下了该课程，这位朋友只能硬着头皮去上课了。”
    </p>
    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend3.png" alt=""/>
    </div>

    <p class="paragraph">
        这种互动，其实际上蕴含了一种先进的营销方式：那就是粉丝经济和构建以各种用户为核心而运转的平台生态圈，互联网圈里最擅长做这事儿的有两个人：一个是雷军雷布斯，他的“米粉节“和”为发烧而生“成功的让小米销售额半年超过330亿（环球网消息），另一个是马云，刚刚成为中国首富的他，在纳斯达克上别开生面的让8位阿里巴巴用户敲开市钟，并提出是”阿里的生态圈“才让阿里上市的说法。这么来看，陈老师的【跟谁学】的营销思路或许跟我们传统的教培业并不一样，而是更靠近更为先进的互联网行业，这其实在另一个层面讲，也是一种产业升级的具象化表现。
    </p>
    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend4.jpg" alt=""/>
    </div>

    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend5.jpg" alt=""/>
    </div>

    <p class="paragraph">
        就在笔者行文将结束时，看到陈老师又发了一条看了令人血脉偾张的朋友圈分享：【深夜福利】跟谁学美女老师温暖来袭，里面是清一色的跟谁学“女神老师“，衣袂飘飘，赏心悦目。真的是毫（gan）无（de）节（piao）操（liang）。
    </p>

    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend6.png" alt=""/>
    </div>
    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend7.png" alt=""/>
    </div>
    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend8.png" alt=""/>
    </div>


    <p class="paragraph">
        咳咳，一般人看到这里时或许已经心猿意马了，但笔者作为一个正直的人，一个高尚的人，一个脱离的低级趣味的人（说完我自己都脸红了），看到这条新闻时，第一反应却是这再次印证了【跟谁学】的营销战略乃至整个行业的发展都在悄然升级的判断，教培行业都开始利用人性弱点进行营销了，要知道，这在之前也是不可想象的！说到这儿，我又想起来我们的一个嘉宾：台湾一口气英语的刘毅老爷子，一口气英语清一色的美女教师，看起来令人心（xiang）旷（ru）神（fei）怡（fei），但就是可以带来骄人业绩，甚至成为一口气英语的一大特色，其中道理，无外乎尊重科学规律，善于利用人性弱点，乡亲们可以感受一下：
    </p>
    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend9.jpg" alt=""/>
    </div>

    <p class="paragraph">
        听了道理，也看了美女，然后问题来了：学【产业升级期间的整合与转型】技术究竟哪家强？十月大连联盟会场看嘉宾分享！
    </p>
    
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/trend/trend10.jpg" alt=""/>
    </div>
    

    <p class="paragraph">
        【编者按】：2014年第十届中国教育培训行业发展年会大连（秋季）会议上，跟谁学创始人 陈向东将作为开幕式嘉宾出席大连年会，为参会校长带来精彩的分享，敬请期待。
    </p>




</div>


{{ /strip }}