{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="value">


    <p class="paragraph">    
        2014年10月21日，由中国经济网举办的“2014（第二届）国际在线教育峰会”在北京隆重举行。跟谁学荣膺“最具价值在线教育机构”奖项！跟谁学创始人、 董事长兼CEO陈向东应邀做了“让O2O学习成为一种生活方式”主题演讲。
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/value/value1.jpg" alt="国际在线教育峰会"/>
        <div>2014（第二届）国际在线教育峰会</div>
    </div>


    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/value/value2.jpg" alt="国际在线教育峰会"/>
        <div>跟谁学创始人、董事长兼CEO陈向东应邀做主题演讲</div>
    </div>


    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/value/value3.jpg" alt="国际在线教育峰会"/>
        <div>找好老师，就上跟谁学</div>
    </div>

    <p class="paragraph">
        陈向东老师在演讲中表示，万千名师，一搜即得，跟谁学努力打造人人乐用的学习服务平台。简单地说，跟谁学其实就是O2O找好老师学习服务电商平台。未来的教育培训行业，个体自由教师或者是教师工作室越来越多；小而美的专业服务机构越来越多；服务于社区的细分领域机构越来越多；免费提供题库类、工具类、资源类等的机构越来越多；O2O融合学习方式使线下机构越来越多。
    </p>


    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/value/value4.jpg" alt="国际在线教育峰会"/>
        <div>跟谁学荣膺“最具价值在线教育机构”奖项 </div>
    </div>


    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/value/value5.jpg" alt="国际在线教育峰会"/>
        <div>陈向东老师做主题演讲</div>
    </div>


    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/value/value6.jpg" alt="国际在线教育峰会"/>
        <div>用手机留住精彩瞬间</div>
    </div>

    <p class="paragraph">
        本届峰会以“教育O2O模式探索与实践”为主题，邀请国内外在线教育领域知名专家学者以及相关教育机构负责人共同交流探讨两年来在线教育的发展，探讨了当下我国在线教育的蓬勃发展及变革。国务院参事汤敏在大会上表示，大规模公开在线课程，或是解决中国教育问题的新方式。
    </p>



</div>


{{ /strip }}