{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="world">


    <p class="paragraph">
        学习托福，许多人说应当遵从“达叔”的建议。
    </p>

    <p class="paragraph">
        “达叔”是学生对李达老师的官称，他号称是“从贫民窟走出来”的孩子，所以很接地气、很亲和。他能很快发现学生的英语弱项，并且迅速告诉学生应该怎样解决这个问题的办法。所以，同学们对他都十分的信服，喜欢把“达叔”这个称呼挂在嘴边。
    </p>

    <div class="video-show">
        <div class="wrapper">
            <ul class="videoShow" id="videoShow">
                <li data-id="208">
                    <div class="video-thumbnail" data-name="李达老师" data-video="http://www.genshuixue.com/video/view/1480">
                        <img src="http://i3.letvimg.com/yunzhuanma/201409/19/d352156456e9f5804e33c278bb5dbb6e/thumb/1_160_120.jpg" alt="李达老师" title="李达老师" />
                        <i class="icon"></i>
                        <div class="info">
                            <div class="vname">李达老师</div>
                            <div class="detail">自我介绍</div>
                        </div>
                    </div>
                </li>
                <li data-id="429">
                    <div class="video-thumbnail" data-name="李达老师" data-video="http://www.genshuixue.com/video/view/1400">
                        <img src="http://i0.letvimg.com/yunzhuanma/201409/19/cbc41a901ddfd288a0be35d3340eea34/thumb/1_160_120.jpg" alt="李达老师" title="李达老师"/>
                        <i class="icon"></i>
                        <div class="info">
                            <div class="vname">李达老师</div>
                            <div class="detail">讲课短片</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <p class="paragraph">
        听李达老师的课总是很有激情，他总结出很多提高能力的办法。因为他“草根出身”，对于英语的听力素养，完全是自己一点一点摸索出来的。他小时候没有那么好的教育环境，自己求学路上曾经遇到的问题也没有名师及时指点，无法走捷径。所以大家身上的问题他都遇到过，也能理解原因，并且能精准地给出解决建议。下面我们来看看学员的评价吧。
    </p>
    <p class="paragraph">
        【学员评价】
    </p>
    <p class="paragraph">
        每次听完课的感觉是：原来听力是有迹可循的。按照老师的方法反复练习一篇文章使自己很清晰的听懂每一句话，做题的时候正确率大大提高。在李达老师的office hour 里，最大的收获就是发现了我听力差的弱点：单词需要听背。好多单词阅读的时候认识，但在听力里却听不出。李老师说如果考试之前把单词听着背过两遍，应该可以提高4-5分。果真如此！上课期间到3月15号百词斩中的托福词汇4900多个，托福核心词汇2600多个，我背了两遍。当然还有听写，之前做过听写但是没有提高，原因是方法 严重错误，李达老师在课上带着我们做听写，一定要听独立的一句话，方法超级好！

    </p>
    <p class="paragraph">
        听力上存在的问题是能听懂但做不对题，达叔（李达老师）的找关键词分不同板块听对话和lecture很受用，不会遗漏出题点；此外在课上还练习了听写和精做了很多套tpo，感觉真的把题做透了，明白了tpo的真正价值。

    </p>
    <p class="paragraph">
        【学员评价】
    </p>
    <p class="paragraph">
        达叔（李达老师）的听力课给我印象最深刻的就是听写和怎么记笔记。这两个能力在作文和口语中都尤为重要。听写训练基本能力，但需要耗费大量时间。当时我并没有时间把TPO上的听力都听写完，所以我每天把一套TPO上的听力听完，题目做完。之后，按照达叔的方法分开文章的结构，每个结构部分都要听4遍左右，在确定大部分信息都听到后，浏览听力原文的结构并把生单词的读音意思查出来，对照题目把出题点在原文中标出来，最后随着听力录音跟读一遍，同时纠正自己的发音问题。我这样坚持了大概一个月，最后自己的听力能力确实提高了不少。不过，最后我还是要说，应该遵从达叔的建议，每天其实不需要做一套TPO，因为不仅要花费很多时间，而且基本到总结的时候精力已经跟不上了。最好的方法是一天做一个Section，然后趁着精力旺盛去分析听过的文章。而且，一定要在听透之后再看文本，不要听完做题后就以为万事大吉，具体的方法可以看达叔的天龙八步。
    </p>

    <p class="paragraph">
        ——托福集训营学员吴同学
    </p>
    <p class="paragraph">
        李达老师托福听力教学方法
    </p>
    <p class="paragraph">
        一个从“贫民窟”中走出的英语老师，一个在大学毕业只有4级英语水平但凭着一股蛮力征服TOEFL和GMAT的男孩。
    </p>
    <p class="paragraph">
        对于绝大多数托福考生来说，托福听力20分线绝对是一道坎。那么怎么跨过这道坎，突破25分呢？下面我们就来看看托福听力老师李达的方法。
    </p>
    <p class="paragraph">
        1、讲解三步“循环式听写”方法，点破大众听写致命错误
    </p>
    <p class="paragraph">
        由输出入手，熟悉常用中英互换表达方式，练习中英切换。李达老师会亲自带领学员进行“循环式听写”练习，直至找出各位的听力盲区，同时这个过程也在夯实听力基础。
    </p>

    <p class="paragraph">
        2、熟练掌握三步“循环式听写”方法，确立正确的听音单位
    </p>
    <p class="paragraph">
        学员通过大量练习中英切换长句，会扩大头脑缓存空间，更快接受大量信息，加快听力接受速度，提高听力水平。
    </p>
    <p class="paragraph">
        3、情景切入TOEFL iBT，剖析ETS对话思路源头
    </p>
    <p class="paragraph">
        对各个听力场景进行分类，让场景不再是纸上谈兵。李达老师总结了三种考试必考模型和具体应对策略。并且采用“一模一练”的方法，每个模型后会附带一节课的专题练习讲解，让方法不再空洞。
    </p>
    <p class="paragraph">
        4、情景切入TOEFL iBT，剖析ETS讲座思路源头
    </p>
    <p class="paragraph">
        达叔说：“托福带你走遍天下！”这就是李达老师对于托福教学的一种情怀。一个普通的男孩儿，凭着托福的敲门砖，带着你走到你想到达的任何地方。 
    </p>
    <div class="img">
        <img src="{{ $static_origin }}/src/img/guide/new/world.png" alt="李达：托福带你走遍天下"/>
        <div>人称“达叔”的李达老师</div>
    </div>
    <p class="paragraph">

        李达老师个人专属学校：<a href="http://www.genshuixue.com/t/genlidaxue" target="_blank">http://www.genshuixue.com/t/genlidaxue</a>

    </p>


</div>


{{ /strip }}