{{ *
@file 一对一课程详情页 - 上课地址
@author wangyujie
* }}

{{ strip }}
<div id="course-address">
    <h3>
        <span>上课地址</span>
        <em class="hint">
            仅供学生上门参考
        </em>
    </h3>
    <div class="content">
        <div class="info">
            <div class="address">
                <h4>详细地址</h4>
                <div>
                    {{ if !$tpl_data.country }}
                        {{ $tpl_data.location|cn_truncate:20 }}
                        {{ if isset($tpl_data.position.lng) && $tpl_data.position.lng }}
                        <a class="detail map" data-offline='{{ json_encode($tpl_data.position, 77) }}' data-map="{{ $tpl_data.location|escape }}">查看地图</a>
                        {{ /if }}
                    {{ else }}
                        {{ $tpl_data.country }}-
                        {{ $tpl_data.location|escape|cn_truncate:14 }}
                    {{ /if }}

                </div>
            </div>
            <div class="route-query">
                <h4>查询上课路线</h4>
                {{ if !$tpl_data.country }}
                    <div class="form">
                        <div class="form-group">
                            <div class="form-label">选择出行方式：</div>
                            <div class="form-controls">
                            {{ include file="common/ui/radio.html" name="way" value=1 text="公交" checked=1 }}
                            {{ include file="common/ui/radio.html" name="way" value=2 text="驾车" }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label">出发地点：</div>
                            <div class="form-controls">
                                <input class="form-text" type="text" name="departure" required>
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="form-action">
                            <button class="btn-primary">查询线路</button>
                        </div>
                    </div>
                {{ else }}
                    <div>海外地址暂不支持地图导航</div>
                {{ /if }}
            </div>
        </div>
        {{ if !$tpl_data.country }}
            <div id="course-address-map"{{ if !empty($tpl_data.position) }} data-offline='{{ json_encode($tpl_data.position, 77) }}'{{ /if }} data-address="{{ $tpl_data.location|escape }}"></div>
        {{ else }}
            {{ include file="common/component/foreignAddrMap.html" type='course' country=$tpl_data.country address=$tpl_data.location }}
        {{ /if }}

    </div>
</div>
{{ /strip }}

