{{ *

@file 一对一课程详情 － 关于老师
@author wangyujie

* }}

{{ strip }}

<div id="course-teacher">

    <h3>
        <span>关于老师</span>
    </h3>

    <div class="content">
        <div class="profile">
            {{ include file="common/component/avatar.html" url=($root_http|cat:'/'|cat:$teacher.number) target="_blank" type="medium" img=$teacher.avatar alt=$teacher.name }}
            <div class="info">
                <div class="teacher-name">
                    <a href="{{ $root_http }}/{{ $teacher.number }}" target="_blank">
                        {{ $teacher.name }}
                    </a>

                    {{ if $teacher.vip_level }}
                        {{ include file="common/variable/vipLevel.html" scope=parent }}
                        <i class="icon icon-vip-{{ $vipLevelMap[$teacher.vip_level] }}"
                        data-title="
                            {{ if $teacher.vip_level == 1 }}
                                跟谁学会员
                            {{ else if $teacher.vip_level == 2 }}
                                跟谁学高级会员
                            {{ else if $teacher.vip_level == 3 }}
                                跟谁学超级会员
                            {{ /if }}
                        "></i>
                    {{ /if }}

                    {{ include file="common/component/chatLabel4.html" user_number=$teacher.number user_type='teacher' online_status=$teacher.im_online_status size="small" }}
                </div>

                <div class="teacher-pro">
                    <span>简介：</span>
                    {{ $teacher.short_introduce }}
                </div>

                <div class="teacher-age">
                    <span>教龄：</span>
                    {{ if $teacher.school_age == -1 }}
                        30年以上
                    {{ else }}
                        {{ $teacher.school_age }}年
                    {{ /if }}
                </div>

                {{ include file="common/variable/certification.html" scope=parent }}
                <ul class="auth">
                    {{ if !empty($teacher.certs) }}
                        {{ foreach $certification_list as $cert }}
                            {{ if in_array($cert[1], $teacher.certs) }}
                                <li>
                                    <i class="icon {{ $cert[2] }}"></i>
                                    {{ $cert[1] }}
                                </li>
                            {{ /if }}
                        {{ /foreach }}
                    {{ /if }}
                </ul>

                <div class="teacher-intro">
                    {{ $teacher.intro }}
                </div>

            </div>
        </div>

        {{ if count($teacher.experiences.list) }}
        <div id="teacher-experience">
            <h4 class="title">过往经历</h4>
            <ul class="list">
                {{ foreach $teacher.experiences.list as $val }}
                    <li>
                        <i class="icon icon-circle-o"></i>
                        <div class="title">
                            {{ $val.start_date }} - {{ $val.end_date }}
                        </div>
                        <div class="detail">
                            {{ $val.content }}
                        </div>
                    </li>
                {{ /foreach }}
            </ul>
        </div>
        {{ /if }}

        {{ if count($teacher.cases.list) }}
        <div id="teacher-success">
            <h4 class="title">相关案例</h4>
            <ul class="list">
                {{ foreach $teacher.cases.list as $val }}
                    <li>
                        <i class="icon icon-circle-o"></i>

                        <div class="title">
                            <strong class="date">{{ $val.date }}</strong>
                            <strong>{{ $val.title }}</strong>
                        </div>

                        <div class="detail">{{ $val.content }}</div>
                    </li>
                {{ /foreach }}
            </ul>
        </div>
        {{ /if }}

    </div>

</div>

{{ /strip }}