@import 'base';
@import 'mixin';
@import 'variables';
@import '../icomoon/0.1.1/style';
@import './component/error';
@import '../../common/style';
@import '../../module/main/style';

#main {
	height: auto;
	#sidebar {
		float: left;
		width: 163px;
		height: auto;
		border: 1px solid #dcddde;
		color: #838384;
		background-color: #fcfcfc;
		.left-nav {
			width: 114px;
			height: auto;
			margin: 22px 30px 22px 19px;
			.nav-module {
				width: 114px;
				height: auto;
				margin-bottom: 30px;
				.nav-title {
					height: 16px;
					line-height: 16px;
					margin-bottom: 10px;
					font-size: 14px;
					color: #040404;
				}
				.nav-items {
					li {
						float: left;
						width: 52px;
						height: 13px;
						line-height: 13px;
						margin-top: 8px;
						font-size: 13px;
						color: #6d6d6e;
						list-style-type: none;
					}
					li.nav-odd {
						margin-right: 10px;
					}
					li:nth-child(1), li:nth-child(2) {
						margin-top: 0;
					}
				}
				.clear {
					clear: both;
				}
			}
		}
	}
    #org-header {
        line-height: 45px;
        background: #F8F8F8;
        .header-box {
            width: 1100px;
            margin: 0 auto;
            position: relative;
            height: 62px;
            padding-top: 8px;
            .home-page {
                .home-icon {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url('../img/ic_home.png');
                    margin-right: 5px;
                }
                a {
                    font-size: 15px;
                    color: #3D3D3E;
                }
            }
            .user-info {
                position: absolute;
                right: 0;
                top: 1px;
                .user-avatar {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                }
                .user-name {
                    font-size: 15px;
                    color: #3D3D3E;
                    line-height: 60px;
                    position: relative;
                    bottom: 25px;
                }
            }
        }
    }
	#content {
		min-height: 600px;
        background-color: #f8f8f8;
        #user-header {
            border-bottom: 4px solid #ff6c00;
            margin-bottom: 20px;
            background-color: #fff;
            .wrapper {
                width: 1000px;
                margin: 0 auto;
                padding: 10px 0 4px;
                position: relative;
                .logo {
                    display: inline-block;
                    width: 154px;
                    height: 50px;
                    background: url('../img/logo-usercenter.png');
                    background-size: contain;
                }
                span {
                    display: inline-block;
                    color: #6D6D6D;
                    font-size: 18px;
                    height: 60px;
                    line-height: 60px;
                    margin-left: 10px;
                    padding-left: 13px;
                    vertical-align: top;
                    position: relative;
                    a {
                        color: #6D6D6D;
                        text-decoration: none;
                    }
                    &:before {
                        background-color: #d8d8d8;
                        content: ' ';
                        width: 1px;
                        height: 30px;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    }
                }
            }
        }
		.view-container {
			width: 100%;
		}
	}
}

#imIframe {
    background-color: #fff;
    border: none;
    outline: none;
    position: fixed;
    right: 0;
    margin-right: 40px;
    bottom: 0;
    z-index:1000;
    height: 0;
    width: 0;

    body {
        background-color: transparent;;
    }
}

.none-list {
    width: 100px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border: 1px solid #c3c3c3;
    background-color: #e0e0e0;
}

.clearfix {
    clear: both;
}

.long-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bdsharebuttonbox {
    width: 175px;
    height: 32px;
    position: absolute;
    left: 43px;
    background: #fff;
    border: 1px solid #DD8;
    padding: 2px 0px 2px 10px;
    top: -6px;
}

