.editor-video {
    height: 186px;
    padding: 20px 0;
    .icon-live-o {
        top: 20px !important;
    }
    .video-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url('https://imgs.genshuixue.com/0cms/d/file/content/2018/03/5ab4acd1ead99.png') no-repeat center;
        background-size: cover;
        position: absolute;
        top: 50px;
        left: 101px;
    }
}