.circle-goods {
    position: relative;
    width: rem(256);
    height: rem(256);
    background-color: #F8F8F8;
    border-radius: 50%;
    margin: rem(70) auto 0 auto;
    padding: rem(47);
    .circle-little {
        width: rem(160);
        height: rem(160);
        background-color: #EDEDEE;
        border-radius: 50%;
    }
    .good {
        position: absolute;
        width: rem(80);
        height: rem(80);
        padding: rem(20) rem(10);
        font-size: rem(15);
        color: #FFFFFF;
        letter-spacing: rem(-0.98);
        text-align: center;
        border-radius: 50%;
    }
    .good-little {
        width: rem(72);
        height: rem(72);
    }
    .red {
        background: #F61B11;
    }
    .blue {
        background: #24223E;
    }
    .white {
        background: #fff;
        color: #24223E;
    }
}
.slider-container {
    position: relative;
    width: 100%;
    min-height: rem(250);
    z-index: 0;
    overflow: hidden;
    ul {
        position: relative;
        height: 100%;
        li {
            position: relative;
            height: 100%;
            float: left;
            text-align: center;
            div {
                width: 100%;
                height: rem(362);
            }
            p {
                font-size: rem(14);
                color: #6D6D6E;
                letter-spacing: rem(-0.29);
                line-height: rem(20);
                //margin-bottom: rem(15);
            }
            .jinpai-p {
                margin-bottom: rem(15);
            }
            .vip-p {
                margin-bottom: rem(30);
            }
        }
    }
    .slide_position {
        list-style: none;
        width: 100%;
        height: rem(11);
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: rem(10);
        right: 0;
        z-index: 1;
        li {
            display: inline-block;
            margin-right: rem(15);
            span {
                display: inline-block;
                width: rem(10);
                height: rem(10);
                border: 1px solid #979797;
                border-radius: 50%;
            }
        }
        .last-li {
            margin-right: 0;
        }
        .on {
            span {
                border: none;
                background: #DC1007;
            }
        }
    }
}
.article3 {
    background: #fff;
    padding: rem(50) rem(15) rem(70) rem(15);
    .title {
        font-size: rem(26);
        color: #2D2D2E;
        line-height: rem(34);
        text-align: center;
    }
    .article-title {
        width: rem(208);
        height: rem(39);
        margin: rem(22) auto rem(16) auto;
        span {
            float: left;
            font-size: rem(16.79);
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: rem(39);
            text-align: center;
        }
        .left {
            width: rem(85);
            background: #110F29;
        }
        .right {
            width: rem(123);
            background: #F61B11;
        }
    }
    .content {
        font-size: rem(16);
        color: #3D3D3E;
        letter-spacing: rem(-0.33);
        line-height: rem(22);
    }
    .title-red {
        font-size: rem(18);
        color: #F61B11;
        line-height: rem(24);
        margin-bottom: rem(10);
    }
    .content-exp {
        margin-top: rem(10);
        font-size: rem(15);
        color: #9D9D9E;
        letter-spacing: rem(-0.31);
        line-height: rem(20);
    }
    .content-exp-first {
        margin-top: rem(20);
    }
    .ad-slider-container {
        position: relative;
        width: 100%;
        z-index: 0;
        overflow: hidden;
        ul {
            position: relative;
            height: 100%;
            li {
                position: relative;
                height: 100%;
                float: left;
                div {
                    width: 100%;
                    height: rem(362);
                }
                p {
                    font-size: rem(14);
                    color: #6D6D6E;
                    letter-spacing: rem(-0.29);
                    line-height: rem(20);
                    //margin-bottom: rem(15);
                }
            }
        }
        .slide_position {
            list-style: none;
            width: 100%;
            height: rem(11);
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: rem(10);
            right: 0;
            z-index: 1;
            li {
                display: inline-block;
                margin-right: rem(15);
                span {
                    display: inline-block;
                    width: rem(10);
                    height: rem(10);
                    border: 1px solid #979797;
                    border-radius: 50%;
                }
            }
            .last-li {
                margin-right: 0;
            }
            .on {
                span {
                    border: none;
                    background: #DC1007;
                }
            }
        }
    }

    .circle-goods {
        .good1 {
            top: rem(-10);
            left: 50%;
            margin-left: rem(-40);
        }
        .good2 {
            top: rem(40);
            left: 0;
        }
        .good3 {
            top: rem(40);
            right: 0;
        }
        .good4 {
            top: rem(140);
            left: 0;
        }
        .good5 {
            top: rem(140);
            right: 0;
        }
        .good6 {
            bottom: rem(-10);
            left: 50%;
            margin-left: rem(-40);
        }
        .good7 {
            top: 50%;
            left: 50%;
            margin-left: rem(-36);
            margin-top: rem(-36);
        }
    }
}