/**
 *
 * @file 文章分类名称编辑器
 * @author zengcheng
 *
 */

.categry-editor{
    background-color: #fff;
    .error-tip{
        padding-left: 20px;
        color: #f95710;
        background-color: #f2f2f2;
        display: none;
    }
    .editor-wrapper{
        position: relative;
        .input-text{
            padding: 0 85px 0 20px;
            width: 100%;
            height: 30px;
            line-height: 30px;
            border: solid 1px #e6e6e6;
            border-left: none;
            border-right: none;
            width: 165px\0;
        }
        .sure-btn{
            position: absolute;
            right: 45px;
            color: #6085d7;
            cursor: pointer;
        }
        .cancel-btn{
            position: absolute;
            right: 10px;
            color: #6085d7;
            cursor: pointer;
        }
    }
}