/**
 * @file 可授课时间组件
 * @author jixiaohui
 */
.week-calendar {
    .user-select(none);
    font-size: 12px;

    .calendar-header {
        position: relative;
        padding: 5px;
    }

    .calendar-text {
        float: left;
        padding: 4px 0 6px 20px;
    }

    .calendar-title-box {
        float: right;
        position: relative;
        padding-right: 20px;
        top: 4px;
        right: 20px;

        .calendar-title {
            color: @brand-primary;
            margin: 0;
            text-align: center;
        }
        .icon-chevron-left,
        .icon-chevron-right {
            cursor: pointer;
            position: absolute;
            top: 3px;
        }
        .icon-chevron-left {
            left: -20px;
        }
        .icon-chevron-right {
            right: 0px;
        }
    }

    .calendar-body {
        clear: both;
    }

    th,
    td {

        border-top: 1px solid #E6E6E6;
        border-left: 1px solid #E6E6E6;
        padding: 5px 0;
        text-align: center;
        width: 98px;

        &:first-child {
            border-left: none;
        }
    }
    th {
        font-weight: normal;
    }
    th.today {

    }
    td {
        color: #9d9d9d!important;
        font-size: @font-size-tiny;

        &.active {
            color: #f90;
        }

        .teacher-time-icon {
            margin-left: 5px;
            width: 16px;
            height: 16px;
            display: inline-block;
            background: url(../../../../img/teacher/time_icon.png) no-repeat;
            position: relative;
            top: 3px;
        }
    }
}
