{{ *

@file 搜狗分页banner变量
@author jixiaohui

* }}
{{ strip }}

{{ $banners = [] }}

{{ **中小学** }}
{{ $banners[1] = [] }}
    {{ $banners[1]['photo'] = 'http://cdn.gsxservice.com/asset/img/guide/recruit/6.png' }}
    {{ $banners[1]['url'] = 'http://123.sogou.com/' }}
{{ $banners[2] = [] }}
    {{ $banners[2]['photo'] = '{{ $static_origin }}/src/img/org/logo.jpg' }}
    {{ $banners[2]['url'] = 'http://123.sogou.com/' }}
{{ $banners[3] = [] }}
    {{ $banners[3]['photo'] = '{{ $static_origin }}/src/img/org/logo.jpg' }}
    {{ $banners[3]['url'] = 'http://123.sogou.com/' }}
{{ $banners[4] = [] }}
    {{ $banners[4]['photo'] = '{{ $static_origin }}/src/img/org/logo.jpg' }}
    {{ $banners[4]['url'] = 'http://123.sogou.com/' }}

{{ /strip }}