<!--分类信息-->
<div id="category">
    <ul class="list">
        {{ $list = $categorys.zxx }}
        {{ if $tpl_data.page_type == 'cglx' }}
            {{ $list = $categorys.cglx }}
        {{ else if $tpl_data.page_type == 'ytxq' }}
            {{ $list = $categorys.ysxq }}
        {{ /if }}
        {{ foreach $list as $val }}
        <li class="item {{ if $val@last }}last{{ /if }}">
            <h4><a class="title" href="{{ $val.link }}" target="_blank">{{ $val.name }}</a></h4>
            <ul class="sub-list">
                {{ foreach $val.list as $v }}
                    <li class="sub-item"><a class="sub-title" href="{{ $v.link }}" target="_blank">{{ $v.name }}</a></li>
                {{ /foreach }}
            </ul>
        </li>
        {{ /foreach }}
    </ul>
</div>