<!--热门文章-->
<div id="hotarticle">
    <span class="category">热门文章</span>
    <ul class="list">
        {{ foreach $tpl_data.hot_news as $val }}
        <li class="item">
            <a href="{{ $val.url }}" title="{{ $val.subject }}" target="_blank" class="link"><i class="point"></i>{{ $val.subject|cn_truncate:23 }}</a>
        </li>
        {{ /foreach }}
    </ul>
</div>
<div id="right-ad">
    <a href="http://ju.genshuixue.com/" target="_blank">
        <img src="../../../asset/img/navigation/360/banner-right_60af56df07.png">
    </a>
</div>