<!--友情链接-->
<div id="link">
    <span class="category">考试大全</span>
    <div class="box">
        <ul class="list">
            <li class="first"><a href="http://www.genshuixue.com/sc/中小学.html" target="_blank">中小学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-342_343_344.html" target="_blank">高考数学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-237_238_239.html" target="_blank">中考数学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-161_167_169.html" target="_blank">初一语文</a></li>
            <li><a href="http://www.genshuixue.com/sc/-342_347_348.html" target="_blank">高考英语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-161_162_165.html" target="_blank">初二数学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-373_374_375.html" target="_blank">夏令营</a></li>
            <li><a href="http://www.genshuixue.com/sc/-107_108_115.html" target="_blank">六年级数学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-342_345_346.html" target="_blank">高考语文</a></li>
            <li><a href="http://www.genshuixue.com/sc/-161_162_166.html" target="_blank">初三数学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-140_143_144.html" target="_blank">小升初语文</a></li>
            <li><a href="http://www.genshuixue.com/sc/-266_1245_1246.html" target="_blank">高中学习方法</a></li>
            <li><a href="http://www.genshuixue.com/sc/-107_116_121.html" target="_blank">四年级语文</a></li>
            <li><a href="http://www.genshuixue.com/st/-342_353.html" target="_blank">高考物理</a></li>
            <li><a href="http://www.genshuixue.com/st/-237_248.html" target="_blank">中考物理</a></li>
            <li><a href="http://www.genshuixue.com/st/-342_361.html" target="_blank">高考理综</a></li>
        </ul>
        <ul class="list">
            <li class="first"><a href="http://www.genshuixue.com/sc/出国留学.html" target="_blank">出国留学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_785.html" target="_blank">托福</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_787.html" target="_blank">雅思</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_801_802.html" target="_blank">留学择校辅导</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_793.html" target="_blank">GRE</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_796.html" target="_blank">IB考试</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_806_808.html" target="_blank">美洲留学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_1518.html" target="_blank">国际高中</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_1148.html" target="_blank">留学预科</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_791.html" target="_blank">ACT</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_794.html" target="_blank">GMAT</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_806_809.html" target="_blank">澳新留学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_788.html" target="_blank">SAT</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_1505_1507.html" target="_blank">美洲留学</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_801_803.html" target="_blank">留学文书辅导</a></li>
            <li><a href="http://www.genshuixue.com/sc/-783_784_798.html" target="_blank">A-Level</a></li>
        </ul>
        <ul class="list">
            <li class="first"><a href="http://www.genshuixue.com/sc/艺术兴趣.html" target="_blank">艺术兴趣</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_976_977.html" target="_blank">钢琴</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_512_513.html" target="_blank">播音主持</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_512_516.html" target="_blank">编导培训</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_512_516.html" target="_blank">话剧培训</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_976_987.html" target="_blank">琵琶</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_976_978.html" target="_blank">吉他</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_1011_1012.html" target="_blank">美声</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_1061_1063.html" target="_blank">素描</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_976_980.html" target="_blank">小提琴</a></li>
            <li><a href="http://www.genshuixue.com/sc/-921_922_926.html" target="_blank">足球</a></li>
            <li><a href="http://www.genshuixue.com/sc/-897_1204_1205.html" target="_blank">形体礼仪</a></li>
            <li><a href="http://www.genshuixue.com/sc/-921_922_929.html" target="_blank">瑜伽</a></li>
            <li><a href="http://www.genshuixue.com/sc/-975_976_982.html" target="_blank">架子鼓</a></li>
            <li><a href="http://www.genshuixue.com/sc/-921_944_945.html" target="_blank">跆拳道</a></li>
            <li><a href="http://www.genshuixue.com/st/-921_922_928.html" target="_blank">游泳</a></li>
            <li><a href="http://www.genshuixue.com/st/-921_922_923.html" target="_blank">羽毛球</a></li>
        </ul>
        <ul class="list">
            <li class="first"><a href="http://www.genshuixue.com/sc/语言培训.html" target="_blank">语言培训</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_715_729.html" target="_blank">口语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_743_751.html" target="_blank">法语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_743_759.html" target="_blank">德语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_777_779.html" target="_blank">对外汉语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_743_756.html" target="_blank">韩语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_715_722.html" target="_blank">新概念英语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_715_732.html" target="_blank">MSE剑桥英语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_743_744.html" target="_blank">日语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_743_765.html" target="_blank">西班牙语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_715_737.html" target="_blank">旅游英语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_715_1236.html" target="_blank">音标培训</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_777_778.html" target="_blank">普通话等级考试</a></li>
            <li><a href="http://www.genshuixue.com/sc/-714_715_742.html" target="_blank">英语词汇</a></li>
            <li><a href="http://www.genshuixue.com/st/-714_715_716.html" target="_blank">公共英语</a></li>
            <li><a href="http://www.genshuixue.com/st/-714_715_735.html" target="_blank">职称英语</a></li>
        </ul>
        <ul class="list last">
            <li class="first"><a href="http://www.genshuixue.com/sc/技能考试.html" target="_blank">技能考试</a></li>
            <li><a href="http://www.genshuixue.com/sc/-573_588_597.html" target="_blank">UI</a></li>
            <li><a href="http://www.genshuixue.com/sc/-573_588_592.html" target="_blank">页面设计</a></li>
            <li><a href="http://www.genshuixue.com/sc/-573_588_594.html" target="_blank">网站制作</a></li>
            <li><a href="http://www.genshuixue.com/sc/-573_588_591.html" target="_blank">平面设计</a></li>
            <li><a href="http://www.genshuixue.com/sc/-387_410_411.html" target="_blank">考研英语</a></li>
            <li><a href="http://www.genshuixue.com/sc/-387_410_418.html" target="_blank">考研政治</a></li>
            <li><a href="http://www.genshuixue.com/sc/-455_461_467.html" target="_blank">客户服务</a></li>
            <li><a href="http://www.genshuixue.com/sc/-455_456_457.html" target="_blank">管理技能</a></li>
            <li><a href="http://www.genshuixue.com/sc/-817_818_824.html" target="_blank">申论</a></li>
            <li><a href="http://www.genshuixue.com/sc/-502_542_544.html" target="_blank">求职面试</a></li>
            <li><a href="http://www.genshuixue.com/sc/-634_687_691.html" target="_blank">策划师</a></li>
            <li><a href="http://www.genshuixue.com/sc/-502_529_541.html" target="_blank">销售</a></li>
            <li><a href="http://www.genshuixue.com/sc/-634_707_710.html" target="_blank">心理咨询</a></li>
            <li><a href="http://www.genshuixue.com/sc/-387_393_1108.html" target="_blank">大学专业课</a></li>
            <li><a href="http://www.genshuixue.com/sc/-502_1134_1136.html" target="_blank">职业规划</a></li>
        </ul>
    </div>
</div>