<!--学习头条多模块-->
<div id="study-all">
    <div class="head">
        <span class="category">学习头条</span>
        <ul class="nav-box">
            <li><a href="http://news.genshuixue.com/zhongxiaoxue" target="_blank">中小学</a></li>
            <li><a href="http://news.genshuixue.com/daxue" target="_blank">大学教育</a></li>
            <li><a href="http://news.genshuixue.com/liuxue" target="_blank">出国留学</a></li>
            <li><a href="http://news.genshuixue.com/yuyan" target="_blank">语言培训</a></li>
            <li><a href="http://news.genshuixue.com/yishu" target="_blank">艺体教育</a></li>
            <li><a href="http://news.genshuixue.com/beiyunzaojiao" target="_blank">备孕早教</a></li>
            <li><a href="http://news.genshuixue.com/zige" target="_blank">资格考试</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="list-box">
            <ul class="list-img">
                <li class="photo">
                    <a href="{{ $tpl_data.news2.withImg[0].url }}" target="_blank" title="{{ $tpl_data.news2.withImg[0].headline }}">
                        <img src="{{ $tpl_data.news2.withImg[0].cover }}@1e_280w_159h_1c_0i_1o_90Q_1x">
                        <span class="title">{{ $tpl_data.news2.withImg[0].headline|cn_truncate:20 }}</span>
                    </a>
                </li>
                {{ foreach $tpl_data.news2.normal as $val }}
                    {{ if $val@index < 3 }}
                        <li><i class="point"></i><a href="{{ $val.url }}" target="_blank" title="{{ $val.headline }}">{{ $val.headline|cn_truncate:20 }}</a></li>
                    {{ /if }}
                {{ /foreach }}
            </ul>
            <ul class="list-img">
                <li class="photo">
                    <a href="{{ $tpl_data.news2.withImg[1].url }}" target="_blank" title="{{ $tpl_data.news2.withImg[1].headline }}">
                        <img src="{{ $tpl_data.news2.withImg[1].cover }}@1e_280w_159h_1c_0i_1o_90Q_1x">
                        <span class="title">{{ $tpl_data.news2.withImg[1].headline|cn_truncate:20 }}</span>
                    </a>
                </li>
                {{ foreach $tpl_data.news2.normal as $val }}
                    {{ if $val@index > 2 && $val@index < 6 }}
                        <li><i class="point"></i><a href="{{ $val.url }}" target="_blank" title="{{ $val.headline }}">{{ $val.headline|cn_truncate:20 }}</a></li>
                    {{ /if }}
                {{ /foreach }}
            </ul>
            <ul class="list-txt">
                {{ foreach $tpl_data.news2.normal as $val }}
                    {{ if $val@index == 6 }}
                        <li class="first"><a href="{{ $val.url }}" target="_blank" title="{{ $val.headline }}">{{ $val.headline|cn_truncate: 18 }}</a></li>
                    {{ else if $val@index > 6 && $val@index < 16 }}
                        <li><i class="point"></i><a href="{{ $val.url }}" target="_blank" title="{{ $val.headline }}">{{ $val.headline|cn_truncate: 22 }}</a></li>
                    {{ /if }}
                {{ /foreach }}
            </ul>
        </div>
    </div>
</div>