.ImageCheckCodeDialog-container {

    .ImageCheckCodeDialog-error {
        display: none;
        position: relative;
        height: rem(16);
        line-height: rem(16);
        font-size: rem(12);
        color: #f00;
        text-align: center;
        margin-top: rem(3);
    }

    .ImageCheckCodeDialog-image-container {
        text-align: center;
        margin-top: rem(10);
    }

    .ImageCheckCodeDialog-image {
        width: rem(80);
        height: rem(25);
        vertical-align: middle;
    }

    .ImageCheckCodeDialog-refresh {
        color: #1c89e6;
        font-size: rem(12);
        margin-left: rem(20);
    }

    input {
        width: 100%;
        height: rem(32);
        font-size: rem(12);
        line-height: rem(20);
        padding: rem(6) rem(10);
        box-sizing: border-box;
        border: 1px solid #dcdcdc;
    }

    .ImageCheckCodeDialog-input-container {
        margin-top: rem(16);
    }
}
