$color_primary = '#F90';
$color_white = '#fff';
$color_green = '#4caf50';
$color_blue = '#6688d5';
$color_gray = '';

$color_text_default = '#555';
$color_text_gray = '#9d9d9d';

$color_bg = '#f7f9fa';

