@import '../../../../resource/css/default.styl';

.series-single-table {
    flex-grow: 1;
    padding: 0 20px;
    & &-list {
        &-cover { 
            &-image {
                padding: 24px 30px 24px 0;
            } 
            img {
                width: 100px;
                height: 56px;
                display: block;
            }
        }
        &-name {
            font-size: 12px;
            color: $grey_600;
            line-height: 16px;
        }
        &-type, &-begin {
            text-align: center;
            font-size: 12px;
            color: $grey_400;
            line-height: 12px;
        }
        &-operation {
            text-align: right;
            &-content {
                a.series-single-table-list-operation-content-video {
                    color: $pink;
                    &:hover, &:active {
                        color: $pink;
                    }
                }
                a {
                    display: inline-block;
                    margin-left: 10px;
                    color: $blue_400;
                    &:hover, &:active {
                        color: $blue_500;
                    }
                }
                .ant-tooltip-inner {
                    font-size: 12px;
                    padding: 8px 10px;
                    font-weight: 300;
                }
                .ant-popover-inner {
                    border-radius: 2px;
                    .ant-popover-inner-content {
                        padding: 0;
                    }
                }
                .ant-popover {
                    z-index: 900;
                }
                .series-single-table-list-operation-content-popover {
                    &-content {              
                        a {
                            display: block;
                            width: 104px;
                            height 32px;
                            padding: 10px 0 10px 16px;
                            font-size: 12px;
                            color: $grey_500;
                            line-height: 12px;
                            margin-left: 0;
                            &:hover {
                                background-color: $grey_40;
                                .video-upload-popover-content-spot {
                                    width: 0; 
                                    height: 0; 
                                    font-size: 0; 
                                    border-width: 6px; 
                                    border-style: solid; 
                                    border-color: $grey_40 transparent transparent;
                                    overflow: hidden; 
                                    position: absolute; 
                                    right: 14px;
                                    top: 9px;
                                }
                            }
                            &:first-child {
                                border-radius: 2px 2px 0 0;
                            }
                            &:last-child {
                                border-radius: 0 0 2px 2px;
                            }
                        }
                    }
                }
            }
        }
    }
    &-modal {
        &-text {
            font-size: 14px;
            color: $grey_600;
            line-height: 20px;
            margin: 20px 0;
            p {
                font-size: 12px;
                color: $black;
                line-height: 20px;
            }
        }
        &-copy {
            margin: 20px 0;
            > input {
                width: 350px;
                border-radius: 2px;
                font-size: 12px;
                &:hover, &:focus {
                    border: 1px solid $pink;
                    box-shadow: 0 0 4px 0 rgba(249,93,93,0.60);  
                }
            }
            button {
                margin-left: 10px;
            }
        }
        &-operate {
            display: flex;
            justify-content: center;
        }
    }    
}