/**
 * @file 搜索机构入口
 * @author jixiaohui
 */
#search-org {

    display: block;
    width: 1100px;
    height: 100%;
    overflow: hidden;
    min-height: 100px;
    margin: 20px auto;
    background: #FFFBEF;
    border: 1px solid #F8CE69;
    padding: 14px 0 15px;
    cursor: pointer;

    &:hover {
        color: #6d6d6d;
    }

    .flag {
        background: url(../../../img/teacher/org_bg.jpg) no-repeat;
        width: 24px;
        height: 74px;
        float: left;
        color: #fff;
        position: relative;
        top: -20px;
        text-align: center;
        padding-top: 10px;
        margin-left: 6px;
        margin-right: 14px;
    }

    .avatar-medium {
        float: left;
        margin-right: 14px;
        border-radius: 0;

        &:after {
            background-color: transparent;
            border-radius: 0;
        }

        &:hover {
            &:after {
                background: none;
            }
        }

        img {
            border: 1px solid #ccc;
            border-radius: 0;
        }

        .logo {
            border: 1px solid #ccc;
            width: 82px;
            height: 82px;
        }
    }

    .container {
        width: 700px;
        float: left;

        .info {
            position: relative;
            top: -7px;

            .name {
                font-size: 22px;
                color: #333;
                margin-right: 22px;
                float: left;
            }

            .star-score {
                float: left;
                position: relative;
                top: 10px;
            }

            .score-text {
                margin-right: 8px;
                float: left;
                position: relative;
                top: 10px;
            }

            .comment-box {
                margin-right: 15px;
                float: left;
                position: relative;
                top: 10px;

                span {
                    color: @brand-primary;
                }
            }
        }

        .intro {
            clear: left;
            position: relative;
            top: -5px;
        }

        .tags {
            display: inline-block;
            position: relative;
            bottom: -2px;
        }

        .label-default {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .btn-primary {
        margin-left: 90px;
        margin-top: 20px;
    }
}