/**
 * @file 快速帮我找老师
 * @author jixiaohui
 */
#recommend {
    text-align: center;
    background: #f7f7f7;

    .card-header {
        font-size: 16px;
        background: #f7f7f7;
        color: #3d3d3d;
        font-weight: 500;
        text-align: left;
        border: none;
        border-top: 1px solid #e6e6e6;
        margin: 0 @gap-vertical-small;
    }

    .bor-bot {
        border-bottom: 1px solid #e6e6e6;
        border-top: none;
    }

    .card-body {
        padding-top: 1px;
        ul {
            color: @brand-text-light;
            text-align: left;
            line-height: 2em;
            .icon-pitch-on {
                color: @brand-primary;
                font-size: 16px;
                margin-right: @gap-horizontal-small;
            }
        }
    }

    .placeholder-wrapper {
        width: 100%;
    }

    .form-text {
        width: 100%;
        color: #3d3d3d;
    }

    .dropdown {
        width: 100%;
    }
    .btn-primary {
        margin-top: 12px;
    }

    .find-teacher-container {
        display: none;
    }

}