.right-content,.right-content-all {
    width: 75%;
    height: rem(400);
    padding-bottom: rem(10);
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
}
.right-content-all {
    height: 100%;
}