{{ *
@file 班课设置 - 班课列表 - 列表项
@author liucong
* }}
{{ strip }}

{{ include file="teacher_center/course/variable/displayStatus2.html" scope=parent }}
{{ include file="teacher_center/course/variable/statusActionsForList.html" scope=parent }}
<div>
<table>
{{ foreach $tpl_data.class_course_list.list as $course }}

<tr class="course-item" data-start-time="{{ $course.begin_time }}" data-number="{{ $course.number }}" data-display-status-search="{{ $course.display_status_search }}" data-verify-status="{{ $course.verify_status }}" data-total-pay="{{ $course.total_pay }}" data-max-student="{{ $course.max_student }}">
    <td class="left middle">
        <div class="info">

            {{ if in_array($course.display_status_search, ['1', '2', '8', '9', '100']) }}
                {{ $detail_url = "/class_course/preview?number="|cat:$course.number }}
                {{ $show_preview = true }}
                {{ $name_width = 14 }}
            {{ else }}
                {{ $detail_url = "/teacher/classCourseDetail?number="|cat:$course.number }}
                {{ $show_preview = false }}
                {{ $name_width = 15 }}
            {{ /if }}

            {{ if !empty($course.pic) }}
                {{ include file="common/component/avatar.html" type="small" img=$course.pic url=$detail_url target="_blank" }}
            {{ /if }}

            <div class="name"><a class="text-info" data-title="{{ $course.name }}" data-width="210" href="{{ $detail_url }}" target="_blank">{{ $course.name|cn_truncate:$name_width }}</a>{{ if $show_preview }}<a href="{{ $detail_url }}" class="icon icon-eye" target="_blank" data-title="预览班课"></a>{{ /if }}</div>
            {{ include file="common/component/classCourseIcon.html" lesson_way=$course.lesson_way retire_flag=$course.retire_flag chaban_flag=$course.chaban_flag }}
        </div>
    </td>

    <td class="middle">
        <span class="text-primary">￥{{ $course.price|number_format:2 }}</span>
    </td>

    <td class="middle">
        <div>
            {{ if $course.total_pay > 0 }}
            <a href="/class_course/order_detail?number={{ $course.number }}" target="_blank">
            {{ /if }}
            <span><span class="text-primary">{{ $course.total_pay }}</span>/{{ $course.max_student }}</span>
            {{ if $course.total_pay > 0 }}
            </a>
            {{ /if }}
        </div>
        {{ if $course.total_pay > 0 }}
            {{ if isset($tpl_data.has_roster) && $tpl_data.has_roster }}
                <div class="goto-roster" data-way = "{{ $course.lesson_way }}" data-price = "{{ $course.price }}">
                    <a href="{{ $course.roster_url }}" class="text-info" target="_blank">查看花名册</a>
                </div>
            {{ else if isset($tpl_data.shizi_login) && $tpl_data.shizi_login }}
                <span class="text-info" data-title="师资系统无权查看花名册">
                    查看花名册
                </span>
            {{ else }}
                <span class="text-info" data-title="请通过机构后台进入老师个人<br/>中心查看花名册。">
                    查看花名册
                </span>
            {{ /if }}
        {{ /if }}
    </td>

    <td class="middle">
        {{ if !empty($course.begin_time) || !empty($course.end_time) }}
            {{ if $course.begin_time|date_format:'%Y-%m-%d' == $course.end_time|date_format:'%Y-%m-%d' }}
        <span>{{ $course.begin_time|date_format:'%Y-%m-%d' }}</span>
            {{ else }}
        <span>{{ $course.begin_time|date_format:'%Y-%m-%d' }}</br>到</br>{{ $course.end_time|date_format:'%Y-%m-%d' }}</span>
            {{ /if }}
        {{ /if }}
    </td>

    <td class="middle">
        <span>
            <span>{{ $display_status2_map[$course.display_status_search] }}</span>
            {{ if $course.display_status_search == '100' }}
            <i class="icon icon-question-circle text-info" data-title="你的资料设置未通过审核导致班课下线，快去检查一下个人资料吧"></i>
            {{ /if }}
        </span>
    </td>

    <td class="center middle">
        {{ if !empty($status_actions_map[$course.display_status_search]) }}
        {{ if $course.display_status_search == 6 && !$course.can_chaban }}
            {{ $display_status_search = 1 }}
        {{ else if $course.display_status_search == 12 && !$course.can_chaban }}
            {{ $display_status_search = 1 }}
        {{ else }}
            {{ $display_status_search = $course.display_status_search }}
        {{ /if }}
        {{ foreach $status_actions_map[$display_status_search] as $action }}
            <div class="action" data-action="{{ $action.name }}">
                {{ if $action.name == "reason" }}
                    <span data-title="
                    <dl>
                    {{ foreach $course.reason_list as $key=>$value }}
                        <dt>
                            {{ if $key == 'basic' && $value }}
                                课程信息：
                            {{ elseif $key == 'photo' && $value }}
                                课程照片：
                            {{ elseif $key == 'introduction' && $value }}
                                课程简介：
                            {{ elseif $key == 'schedule' && $value }}
                                教学计划：
                            {{ /if }}
                        </dt>

                        {{ foreach $value as $items }}
                            <dd>{{ $items }}</dd>
                        {{ /foreach }}

                    {{ /foreach }}
                    </dl>
                    " data-width="350">{{ $action.title }}</span>

                {{ else }}
                    <span>{{ $action.title }}</span>
                    {{ if $action.name == "again" }}
                    <i class="icon icon-question-circle" data-title="什么是再开一班？<br />再开一班会依据本堂课自动填写课程信息、课程照片及课程简介，你只需要重新填写教学计划就可以快速再开一班了" data-width="20em"></i>
                    {{ /if }}
                {{ /if }}
            </div>
        {{ /foreach }}
        {{ /if }}
    </td>
</tr>
{{ /foreach }}
</table>

{{ $pager = $tpl_data.class_course_list.pager }}
{{ include file="common/component/pager.html" count=$pager.count page=$pager.page page_size=$pager.page_size hide_jump=1 }}
</div>

{{ /strip }}