{{ strip }}
<div class="form uploader-certification">

    <p>请上传其他你认为能证明你教学能力的证件照片，如各级获奖证书等</p>

    <div>

        <div class="image-preview">

        </div>

        <div class="image-browse">
            <button class="btn btn-info">选择照片</button>
            <span>
                <i class="icon icon-info"></i>请上传证件照
            </span>
        </div>

        <div class="form-action">
            <button class="btn btn-primary">保存</button>
            <button class="btn btn-default">取消</button>

            <span class="error"></span>
            <span class="success"></span>
        </div>
    </div>

</div>
{{ /strip }}