.empty-content {
    padding-top: rem(100);
    padding-bottom: 100%;
    text-align: center;
    display: none;
    img {
        width: rem(75);
    }
    .text {
        margin-top: rem(10);
        font-size: rem(12);
        color: #9d9d9e;
    }
    &.show {
        display: block;
    }
    &.hide {
        display: none;
    }
}