/**
 * @file 移动端 - 服务条款
 * @author zhangjiayi
 */

#clause {

    .title {
        text-align: center;
    }

    h4,
    h5 {
        margin: 0;
        padding: 0;
    }

    h4 {
        padding: 0.5em;
    }

    h5 {
        padding: 0.4em 0.5em;
        line-height: 1.2em;
    }
}
