/**
 * @file 移动端 - APP下载
 * @author zhangjiayi
 */
@import '../common/layout.less';


body {

    cursor: default;
    background: #FFF;
    min-width: 320px;
    max-width: 640px;
    padding: 0;
    margin: 0;
    text-align: center;

    #mobile-body {
        max-width: 640px;
        text-align: center;
    }

    .banner {
        width: 100%;
        img {
            width: 100%
        }
    }

    .controls {

        padding-bottom: 3em;
        text-align: center;

        div {
            width: 100%;
            text-align: center;
            position: absolute;
            left: 50%;
            /*
            .android {
                //background-color: #68cb25;
                background-color: #CCC;
                border-radius: 0.3em;

                img {
                    float: left;
                    padding: 0.5em 0 0 1em;
                    width: 2em;
                }

                span {
                    color: #FFF;
                    font-size: 1.2em;
                    line-height: 3em;
                }

                &:hover {
                    //background-color: #5bb320;
                }
            }
            */
            .android {
                img {
                    width: 12em;
                }
            }
            .iphone {
                img {
                    width: 12em;
                }
            }

            .android,
            .iphone {
                display: inline-block;
                position: absolute;
                left: 50%;
            }
        }

    }

    .item {

        border-top: 0.1em dashed #CCC;
        margin: 2em 0;

        h1 {
            color: #000;
        }

        p {
            margin: 0 auto;
        }
    }

    .process {
        border-bottom: 0.1em dashed #CCC;
        width: 100%;
        position: relative;
        padding-bottom: 1em;
        overflow: hidden;

        .process-img {
            float: left;
        }
    }

@media screen and (max-width : 319px) {

    .controls {

        padding-bottom: 3em;

        h2 {
            font-size: 2em;
            padding: 0 0 0.5em 0;

        }

        div {
            height: 6em;
            margin-left: -10em;
            width: 20em;
            /*
            .android {

                border-radius: 0.3em;
                height: 2.5em;
                margin-left: -11em;
                width: 10em;

                img {
                    padding: 0.2em 0 0 0.5em;
                    width: 1.5em;
                }

                span {
                    color: #FFF;
                    font-size: 0.75em;
                    line-height: 2.5em;
                }

            }
            */
            .android{
                margin-left: -11em;
                width: 10em;
                img {
                    width: 10em;
                }
            }

            .iphone {
                margin-left: 1em;
                width: 10em;
                img {
                    width: 10em;
                }
            }

            .android,
            .iphone {
            }
        }

    }

    .item {

        img {
            width: 20em;
        }

        h1 {
            font-size: 2em;
            margin: 1em 0 0.5em 0;
        }

        p {
            font-size: 1.5em;
            margin: 0 auto 0.5em auto;
            width: 12em;
        }

    }

    .process {

        text-align: center;
        height: 55em;
        margin: 0;
        width: 100%;

        .process-img {
            padding-left: 1em;
            width: 8em;
        }

        ul {
            position: absolute;
            right: 1em;
            top: 2em;
            width: 50%;
            text-align: left;

            h3 {
                color: #ffc46f;
                font-size: 1.4em;
            }
            span {
                font-size: 1em;
                width: 10em;
                display: inline-block;
                text-align: left;
            }
            li {
                margin: 7em 0;
            }
        }

    }

}

@media screen and (min-width: 320px) and (max-width : 479px) {

    .controls {

        padding-bottom: 3em;

        h2 {
            font-size: 2em;
            padding: 0 0 0.5em 0;

        }

        div {
            height: 6em;
            margin-left: -10em;
            width: 20em;
            /*
            .android {

                border-radius: 0.3em;
                height: 2.5em;
                margin-left: -11em;
                width: 10em;

                img {
                    padding: 0.2em 0 0 0.5em;
                    width: 1.5em;
                }

                span {
                    color: #FFF;
                    font-size: 0.75em;
                    line-height: 2.5em;
                }

            }
            */
            .android{
                margin-left: -11em;
                width: 10em;
                img {
                    width: 10em;
                }
            }

            .iphone {
                margin-left: 1em;
                width: 10em;
                img {
                    width: 10em;
                }
            }

            .android,
            .iphone {
            }
        }

    }

    .item {

        img {
            width: 20em;
        }

        h1 {
            font-size: 2em;
            margin: 1em 0 0.5em 0;
        }

        p {
            font-size: 1.3em;
            margin: 0 auto 0.5em auto;
            width: 12em;
        }

    }

    .process {

        text-align: center;
        height: 55em;
        margin: 0;
        width: 100%;

        .process-img {
            padding-left: 1em;
            width: 8em;
        }

        ul {
            position: absolute;
            right: 1em;
            top: 1em;
            width: 50%;
            text-align: left;

            h3 {
                color: #ffc46f;
                font-size: 1.6em;
            }
            span {
                font-size: 1.1em;
                width: 9em;
                display: inline-block;
                text-align: left;
            }
            li {
                margin: 5.5em 0;
            }
        }

    }

}

@media screen and (min-width: 480px) and (max-width : 639px) {


    .controls {

        height: 10em;
        padding-bottom: 3em;

        h2 {
            font-size: 2.5em;
            padding: 0 0 1em 0;

        }

        div {
            height: 6em;
            margin-left: -20em;
            width: 40em;
            /*
            .android {

                border-radius: 0.3em;
                float: left;
                height: 4.5em;
                margin-left: -17em;
                width: 15em;

                img {
                    padding: 0.5em 0 0 1em;
                    width: 2em;
                }

                span {
                    color: #FFF;
                    font-size: 1.2em;
                    line-height: 3em;
                }

            }
            */
            .android {
                margin-left: -17em;
                width: 15em;

                img {
                    width: 15em;
                }
            }
            .iphone {
                margin-left: 2em;
                width: 15em;

                img {
                    width: 15em;
                }
            }

            .android,
            .iphone {
                //margin-left: 1.5em;
            }
        }

    }

    .item {

        img {
            width: 20em;
        }

        h1 {
            font-size: 2em;
            margin: 2em 0 0.5em 0;
        }

        p {
            font-size: 1.5em;
            margin: 0 auto 1em auto;
            width: 15em;
        }

    }

    .process {

        text-align: center;
        height: 75em;
        width: 100%;

        .process-img {
            padding-left: 2em;
            width: 10em;
        }

        ul {
            position: absolute;
            right: 1em;
            top: 0;
            width: 50%;
            text-align: left;

            h3 {
                color: #ffc46f;
                font-size: 1.8em;
            }
            span {
                font-size: 1.5em;
                width: 10em;
                display: inline-block;
                text-align: left;
            }
            li {
                margin: 8.3em 0;
            }
        }

    }

}

@media screen and (min-width: 640px) {

    #mobile-body {
        position: absolute;
        left: 50%;
        margin-left: -320px;
    }

    .controls {

        height: 14em;
        padding-bottom: 3em;

        h2 {
            font-size: 3em;
            padding: 0 0 1em 0;

        }

        div {
            height: 6em;
            margin-left: -21em;
            width: 42em;
            /*
            .android {

                border-radius: 0.3em;
                height: 5.35em;
                margin-left: -17em;
                width: 18em;

                img {
                    padding: 0.5em 0 0 1em;
                    width: 2em;
                }

                span {
                    color: #FFF;
                    font-size: 1.2em;
                    line-height: 3em;
                }

            }
            */
            .android {
                margin-left: -20em;
                width: 18em;

                img {
                    width: 18em;
                }
            }
            .iphone {
                margin-left: 2em;
                width: 18em;

                img {
                    width: 18em;
                }
            }

            .android,
            .iphone {

            }
        }

    }

    .item {

        img {
            width: 30em;
        }
        h1 {
            font-size: 3em;
            margin: 2em 0 0.5em 0;
        }

        p {
            font-size: 2em;
            margin: 0 auto 1em auto;
            width: 14em;
        }

    }

    .process {

        text-align: center;
        height: 110em;
        width: 100%;

        h1 {
            margin-bottom: 1em;
        }

        .process-img {
            padding-left: 3em;
            width: 15em;
        }

        ul {
            position: absolute;
            right: 1em;
            top: 1.5em;
            width: 50%;
            text-align: left;

            h3 {
                color: #ffc46f;
                font-size: 2em;
            }
            span {
                font-size: 2em;
                width: 11em;
                display: inline-block;
                text-align: left;
            }
            li {
                margin: 14em 0;
            }
        }

    }

}

}
