/**
 * @file 老师个人中心数据中心交易数据
 * @author wuhongjie
 */
@import '../../../common/layout.styl';
@import '../header.styl';

#content {
    .data-center-header {
        .transaction{
            border-bottom: 2px solid #f90;
            a {
                color: #f90;
            }
        }
    }
    .visit-data {
        margin-top: 20px;
        height: 50px;
        .datas{
            float: left;
            .datas-times{
                margin-right: 25px;
                font-size: 12px;
                span {
                    font-size: 16px;
                    color: #222222;
                }
            }
        }
        .dates{
            float: right;
            .dates-times{
                font-size: 12px;
                color: #666666;
                width: 66px;
                text-align : center;
                border: 1px solid #666666;
                display: inline-block;
                padding: 2px 5px;
                cursor: pointer;
            }
            .active{
                background: #666666;
                color: #FFFFFF;
            }
        }
    }

    .charts-table-line {
        width: 100%;
        height: 300px;
    }


    .title{
        font-size: 16px;
        color: #000000;
        margin-top: 30px;
        font-family: "微软雅黑";
    }
    .data-source{
        width: 100%;
        height: 200px;
        border:1px solid #e6e6e6;
        margin-top: 10px;
        .course-left{
            width: 80%;
            height: 100%;
            float: left;
            border-right: 1px solid #e6e6e6;
            &>div{
                float: left;
            }
            .data-pie{
                width: 200px;
                height: 100%;

                img {
                  margin :40px 40px;
                }
            }
            .data-source-items{
                width: 350px;
                margin-top: 45px;
                font-size: 12px;
                .source-item{
                    display: inline-flex;
                    width: 100%;
                    margin-bottom: 12px;
                    .item-name{
                        width: 50px;
                        text-align: right;
                    }
                    .process-back{
                        width: 300px;
                        background: #edeef2;
                        height: 9px;
                        margin: 3px 9px;
                        border: 1px solid #edeef2;
                        border-radius: 10px;
                        position: relative;
                        .process-entity{
                            position: absolute;
                            height: 9px;
                            border-radius: 10px;
                            top : -1px;
                        }
                        .one2one{
                            background: #f3846c;
                        }
                        .class{
                            background: #eebb5e;
                        }
                        .video{
                            background: #95ca70;
                        }
                        .trial{
                            background: #747b9b;
                        }
                    }
                }
            }
        }
        .course-right{
            width: 20%;
            height: 100%;
            float: right;
            text-align: center;
            padding-top: 60px;
            .visit-number{
                font-size: 24px;
                color: #222222;
            }
            .visit-descrip{
                font-size: 12px;
            }
        }
    }
    .exchange{
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        .exchange-tab{
            position: absolute;
            right: 0;
            top: -50px;
            .exchange-times{
                text-align : center;
                font-size: 12px;
                color: #666666;
                width: 66px;
                border: 1px solid #666666;
                display: inline-block;
                padding: 2px 5px;
                cursor: pointer;
            }
            .active{
                background: #666666;
                color: #FFFFFF;
            }
        }
        .no-change {
            width: 100%;
            font-size : 14px;
            text-align: center;
            height: 150px;
            border: 1px solid #e6e6e6;
            padding-top: 40px;
            a {
                color :#f90;
            }
            .button{
              a{
                display: inline-block;
                background: #f90;
                color: #fff;
                font-size: 14px;
                padding: 5px 20px;
                border: 1px solid #f90;
                border-radius: 3px;
              }
            }
        }
        .exchange-data {
            height :200px;
            .exchange-sums{
                display : none;
            }
            .number,.percent{
                height: 100%;
                float: left;
                font-size 12px;
            }
            .number{
                padding-top  10px;
                margin-left 40px
                width 100px;
                text-align center
                span {
                  font-size 14px;
                }
            }
            .percent{
                padding-top  20px;
                width 30px;
                color :#7eb53d;
                position :relative;
            }
            .icon{
                position :absolute;
                width: 15px;
                height: 20px;
                right: -26px;
                top: 21px;
            }
            .down .icon{
                background :url("image/down.svg") no-repeat
            }
            .up .icon{
                background :url("image/up.svg") no-repeat
            }
            .active{
                color :#f95710;
            }
            .img-descript{
                float: right;
                margin: 0 auto;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                position: relative;
                .descripts{
                    position : absolute;
                    font-size :12px;
                    top: -40px;
                    width :100%;
                    color : #FFFFFF;
                    padding-left :15px;
                    text-align :center;
                    .order{
                      position: absolute;
                      top:0px;
                      left :22px;
                      background :url("image/order.svg") no-repeat
                    }
                    .pay{
                      position: absolute;
                      top:0px;
                      left :5px;
                      background :url("image/pay.svg") no-repeat
                    }
                    .visit{
                      position: absolute;
                      top:0px;
                      left :38px;
                      background :url("image/visit.svg") no-repeat
                    }
                }
            }
            .weeks-num{
                width :70%;
                height :60px;
                background : #eff5fe;
                margin-bottom :5px;
                display : inline-block;
                .img-descript{
                    border-top: 60px solid #747b9b;
                    left: 60px;
                    width :150px;
                }
            }
            .weeks-order{
                width :70%;
                height :60px;
                background : #f6f3ee;
                margin-bottom :5px;
                display : inline-block;
                .img-descript{
                    border-top: 60px solid #eebb5e;
                    left : 43px;
                    width : 116px;
                }
            }
            .weeks-pay{
                width :70%;
                height :60px;
                background : #f9efec;
                display : inline-block;
                .img-descript{
                    border-top: 60px solid #f3846c;
                    left : 26px;
                    width : 82px;
                }
            }
            .weeks-rate{
              float: right;
              width: 30%;
              height: 200px;
              text-align: center;
              .line{
                background :url('image/line.svg') no-repeat;
                width: 130px;
                height: 200px;
                display: inline-block;
                float: left;
              }
              .rate{
                margin-top :75px;
                font-size 14px;
                padding-right :20px;
              }
            }
        }

    }
}
