.refund-dialog-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0; 
    opacity: 0.5;
    background: #000000;   
    z-index: 2; 
}
.refund-dialog-box {
    background-color: #FFFFFF;
    width: 600px;
    height: 348px;
    position: fixed;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #EDEDEE;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
}
.refund-dialog-top {
    background-color: #FFFFFF;
    height: 60px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    .refund-name {
        font-weight: bold;
        position: absolute;
        top: 32px;
        font-size: 20px;
        color: #3D3D3E;
        margin-left: 260px;
    }
    .icon-guanbi:before {
        font-size: 18px;
        color: #9D9D9E;
    } 
}
.refund-dialog-bottom {
    margin: 0  40px;
    padding-top: 12px;
    .refund-question {
        font-weight: bold;
        color: #3D3D3E;
        font-size: 18px; 
        margin: 24px 0 10px 0;
    }
    .refund-answer {
        font-size: 16px; 
        color: #3D3D3E;
        line-height: 24px;
        margin-bottom:13px;
    }
}