@import "../../../resource/css/default.styl";

.intro-image {
    margin-bottom: 24px;
    position: relative;
    width: 375px;
    &-picture {
        width: 375px;
    }
    &-delete {
        position: absolute;
        right: 5px;
        top: 5px;
        .icon-carousel-delete {
            font-size: 20px;    
        }
    }
}