/**
 * @file 学生信息
 * @author zhujialu
 */
.form-student {

    .form(8em);

    .dropdown {
        margin-right: @gap-horizontal-small;

        .btn-default {
            width: 7em;
        }
    }

    .btn-register {
        display: none;
    }
    .btn-login {
        margin-left: 5px;
    }

    textarea {
        width: 300px;
        height: 70px;
    }
    .student-address input {
        width: 300px;
    }

    .code,
    .btn-send-code,
    .login-guide,
    .bind-success,
    .student-name,
    .student-address {
        display: none;
    }
}