{{ extends file="common/main/base.html" }}

{{ block name="title" }}
关于我们 - 关于跟谁学 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/guide/about_2414ebb805.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}



<div id="main">

    {{ include file="./common/sidebar.html" }}



    <!--右-->
    <div class="btright">
        <p class="wrap-img"><img src="{{ $static_origin }}/asset/img/guide/logojoinus_c09c3a7cd7.png" alt="跟谁学" title="跟谁学"/></p>
        <p class="foreword">
            跟谁学（www.genshuixue.com）创立于2014年6月，是一家专注于学习服务的创新科技企业，主要由来自知名教育机构的领军人物和百度、阿里、新浪、搜狐等著名互联网公司的顶尖人才组建。
        </p><br />
        <p class="foreword">

            跟谁学致力于打造人人乐用的学习服务平台，通过更高效、更智能、更精准地匹配师生资源，为老师及学生提供多种增值服务和学习工具，全力创建一个专业、简单、智能、安全的高品质学习服务的第三方平台，让学习变得更加容易、平等和高效。在让跟谁学成为一种生活方式的同时，跟谁学也在全力打造更富活力、更加健康的教育生态圈，以实现全行业乃至全产业链的共赢。
        </p><br />
        <p class="foreword">
            通过移动互联网让教与学变得“更平等、更便捷、更高效”是跟谁学的使命。我们会秉持“用户第一、诚信、简单、极致、创新”12字核心价值观，与您一起，共同学习，快速成长！
        </p>
    </div>
    <!--右 over-->
</div>














{{ /strip }}
{{ /block }}