{{ extends file="common/main/base.html" }}

{{ block name="title" }}
新闻报道- 帮助中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/guide/nlayout_c82b3d502c.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div id="main">

    {{ if isset($smarty.get.op) }}
    {{ $op = $smarty.get.op }}
    {{ else }}
    {{ $op = '' }}
    {{ /if }}


    <!--视频-->
    {{ if $op == 'world' || $op == 'tutor' || $op == 'new_10-25' }}
        {{ block name="data" }}
            {{ $smarty.block.parent }}
            {{ $script_path = "guide/nlayout_f28a5be050" }}
        {{ /block }}
    {{ /if }}


    {{ include file="guide/common/nlayoutd.html" }}

    <!--右-->
    <div class="btright" id="item">

        <div class="crumb">
            <a id="back" href="/guide/news?a=news">新闻报道</a> >
            <span id="current" >正文</span>

            {{ foreach $page_data as $new }}

                {{ if isset($new.$op)  }}

                    <h1 class="title">{{ $new.$op.title }}</h1>
                    <span class="date">时间：{{ $new.$op.date }}</span>
                    <span class="from">来源：{{ $new.$op.source }}</span>

                    {{ if isset($new.$op.author)  }}
                        <span class="from">作者：{{ $new.$op.author }}</span>
                    {{ /if  }}

                {{ /if }}

            {{ /foreach }}

            <!--模版数据-->
            {{ if isset($tpl_data) && !isset($new.$op) }}
            <h1 class="title">{{ $tpl_data.title }}</h1>
            <span class="date">时间：{{ $tpl_data.date }}</span>
            <span class="from">来源：{{ $tpl_data.source }}</span>

            {{ if isset($tpl_data.author)  }}
            <span class="from">作者：{{ $tpl_data.author }}</span>
            {{ /if  }}
            {{ /if }}
        </div>

        {{ if isset($tpl_data) && !isset($new.$op) }}
        <div>
            {{ $tpl_data.content }}
        </div>
        {{ /if }}

        {{ if $op == 'young' }}
            {{ include file="guide/new/young.html" }}
        {{ else if $op == 'chic' }}
            {{ include file="guide/new/chic.html" }}
        {{ else if $op == 'founded' }}
            {{ include file="guide/new/founded.html" }}
        {{ else if $op == 'tutor' }}
            {{ include file="guide/new/tutor.html" }}
        {{ else if $op == 'profit' }}
            {{ include file="guide/new/profit.html" }}
        {{ else if $op == 'platform' }}
            {{ include file="guide/new/platform.html" }}
        {{ else if $op == 'sport' }}
            {{ include file="guide/new/sport.html" }}
        {{ else if $op == 'dream' }}
            {{ include file="guide/new/dream.html" }}
        {{ else if $op == 'communication' }}
            {{ include file="guide/new/communication.html" }}
        {{ else if $op == 'speak' }}
            {{ include file="guide/new/speak.html" }}
        {{ else if $op == 'world' }}
            {{ include file="guide/new/world.html" }}
        {{ else if $op == 'prepare' }}
            {{ include file="guide/new/prepare.html" }}
        {{ else if $op == 'education' }}
            {{ include file="guide/new/education.html" }}
        {{ else if $op == 'return' }}
            {{ include file="guide/new/return.html" }}
        {{ else if $op == 'entrepreneurship' }}
            {{ include file="guide/new/entrepreneurship.html" }}
        {{ else if $op == 'good' }}
            {{ include file="guide/new/good.html" }}
        {{ else if $op == 'back' }}
            {{ include file="guide/new/back.html" }}
        {{ else if $op == 'attention' }}
            {{ include file="guide/new/attention.html" }}
        {{ else if $op == 'reason' }}
            {{ include file="guide/new/reason.html" }}
        {{ else if $op == 'subvert' }}
            {{ include file="guide/new/subvert.html" }}
        {{ else if $op == 'trend' }}
            {{ include file="guide/new/trend.html" }}
        {{ else if $op == 'experience' }}
            {{ include file="guide/new/experience.html" }}
        {{ else if $op == 'follow' }}
            {{ include file="guide/new/follow.html" }}
        {{ else if $op == 'o2o' }}
            {{ include file="guide/new/o2o.html" }}
        {{ else if $op == 'value' }}
            {{ include file="guide/new/value.html" }}
        {{ else if $op == 'new_11-5' }}
            {{ include file="guide/new/new_11-5.html" }}
        {{ else if $op == 'new_11-3' }}
            {{ include file="guide/new/new_11-3.html" }}
        {{ else if $op == 'new_10-31' }}
            {{ include file="guide/new/new_10-31.html" }}
        {{ else if $op == 'new_10-28' }}
            {{ include file="guide/new/new_10-28.html" }}
        {{ else if $op == 'new_10-25' }}
            {{ include file="guide/new/new_10-25.html" }}
        {{ /if }}

        <p class="goTop"><a href="#top">返回顶部</a></p>
    </div>

    <!--右 over-->
</div>


{{ /strip }}
{{ /block }}