{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}


{{ /block }}

{{ block name="title" }}
学生帮助- 帮助中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/guide/teacher_03efc95613.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}


<div id="main">

    {{ include file="./common/sidebar.html" }}

    <div class="btright" id="tab">
        <h2>学生帮助</h2>

        <h3>我的账号</h3>
        <a id="login" href="/guide/student_layout?a=student&op=login">注册登录</a>
        <a id="change" href="/guide/student_layout?a=student&op=change">变更账号密码</a>
        <a id="mainpage" href="/guide/student_layout?a=student&op=mainpage">我的个人主页</a>
        <a id="account" href="/guide/student_layout?a=student&op=account">账号使用</a>

        <h3>搜索老师</h3>
        <a id="search" href="/guide/student_layout?a=student&op=search">网站搜索</a>
        <a id="recommend" href="/guide/student_layout?a=student&op=recommend">快速推荐</a>
        <a id="info" href="/guide/student_layout?a=student&op=info">老师信息</a>

        <h3>购买课时</h3>
        <a id="combo" href="/guide/student_layout?a=student&op=combo">购买流程</a>
        <a id="price" href="/guide/student_layout?a=student&op=price">课程价格</a>
        <a id="price" href="/guide/student_layout?a=student&op=coupon">优惠券</a>

        <h3>约课上课</h3>
        <a id="receive" href="/guide/student_layout?a=student&op=receive">发起约课</a>
        <a id="attend" href="/guide/student_layout?a=student&op=attend">如约上课</a>
        <a id="prepare" href="/guide/student_layout?a=student&op=prepare">在线上课</a>

        <h3>资金评价</h3>
        <a id="compensation" href="/guide/student_layout?a=student&op=compensation">资金</a>
        <a id="system" href="/guide/student_layout?a=student&op=system">评价体系</a>

        <h3>申诉保障</h3>
        <a id="cancel-less" href="/guide/student_layout?a=student&op=cancel-less">取消课程</a>
        <a id="cancel-order" href="/guide/student_layout?a=student&op=cancel-order">取消订单</a>
        <a id="appeal" href="/guide/student_layout?a=student&op=appeal">我要申诉</a>

        <h3>直播相关</h3>
        <a id="enter-classroom" href="/guide/student_layout?a=student&op=enter-classroom">进入教室</a>
        <a id="audio-related" href="/guide/student_layout?a=student&op=audio-related">声音相关</a>

    </div>

</div>




{{ /strip }}
{{ /block }}