.assistant-teacher-dialog {
    .ant-modal {
        top: 35%;
    }
    .ant-modal-close-x {
        font-size: 24px;
        color: #CDCDCE;
        font-weight: lighter;
    }
    .content {
        & > div {
            display: inline-block;
        }
        .left-info {
            padding: 30px;
            vertical-align: middle;
            text-align: center;
            .teacher-name {
                max-width: 100px;
            }
            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                margin-bottom: 10px;
            }
            font-size: 16px;
            color: #3D3D3E;
        }
        .right-info {
            vertical-align: middle;
            font-size: 16px;
            color: #6D6D6E;
            padding-left: 30px;
            border-left: 1px solid #DDDDDE;
            .qrcode {
                width: 116px;
                heigtht: 116px;
                vertical-align: middle;
                margin-right: 12px;
            }
            .detail-info {
                vertical-align: middle;
                display: inline-block;
            }
            .wx-number {
                font-size: 18px;
                color: #FF6C00;
                width: 250px;
                word-break:break-all;
                font-weight: bold;
            }
            .chat-im {
                background: #FF6C00;
                border-radius: 2px;
                width: 150px;
                height: 44px;
                line-height: 44px;
                font-size: 16px;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;
                margin-top: 12px;
                .icon-consult {
                    position: relative;
                    top: 4px;
                    font-size: 24px;
                    margin-right: 5px;
                }
            }
        }
    }
}