{{ *

@file 班级花名册 － 学生列表
@author wangyujie

* }}
{{ strip }}

<div class="course">
    {{ if isset($tpl_data.teacher_city) && $tpl_data.teacher_city }}
        <div class="only-local">
            {{ if isset($smarty.get.show_local) && $smarty.get.show_local }}
                <label class="form-checkbox checked">
                    <input type="checkbox" name="local" value="1" checked />
                    只看本地学生（{{ $tpl_data.teacher_city }}）
                </label>
            {{ else }}
                <label class="form-checkbox">
                    <input type="checkbox" name="local" value="1" />
                    只看本地学生（{{ $tpl_data.teacher_city }}）
                </label>
            {{ /if }}
        </div>
    {{ /if }}

    <div class="content">
        {{ if count($tpl_data.object_list) > 0 }}
            <table class="table">
                <thead>
                    <tr>
                        <th>学生序号</th>
                        <th>订单号</th>
                        <th>报名时间</th>
                        <th>购买人</th>
                        <th>支付金额</th>
                        {{ if isset($tpl_data.teacher_course) && $tpl_data.teacher_course != '' }}
                        <th>授课方式</th>
                        {{ /if }}
                        <th>联系方式</th>
                        <th>所在城市</th>
                    </tr>
                </thead>
                <tbody>

                    {{ foreach $tpl_data.object_list as $item }}
                    <tr>
                        <td>
                            {{ $item.student_no }}
                        </td>
                        <td>
                            {{ $item.purchase_id }}
                        </td>
                        <td>
                            {{ $item.created_at|date_format:"%Y年%m月%d日 %H:%M" }}
                        </td>
                        <td>
                            {{ $item.display_name }}
                            {{ if $item.is_self == 0 }}
                                （上课人：{{ $item.real_student }}）
                            {{ /if }}
                        </td>
                        <td>
                            ￥{{ $item.pay_money }}
                        </td>
                        {{ if isset($tpl_data.teacher_course) && $tpl_data.teacher_course != '' }}
                        <td>
                            {{ if $item.lesson_way == '1' }}
                                协商地点 &nbsp;
                            {{ else if $item.lesson_way == '2' }}
                                在线教学 &nbsp;
                            {{ else if $item.lesson_way == '4' }}
                                学生上门 &nbsp;
                            {{ else if $item.lesson_way == '8' }}
                                老师上门 &nbsp;
                            {{ /if }}
                        </td>
                        {{ /if }}
                        <td>
                            {{ $item.mobile }}
                        </td>
                        <td>
                            {{ $item.city }}
                        </td>
                    </tr>
                    {{ /foreach }}

                </tbody>
            </table>
        {{ else }}
            <div class="no-result">
                <div>没有本地学生</div>
            </div>
        {{ /if }}
    </div>

</div>

{{ /strip }}