/**
 * @file 班课详情页非会员模版
 * @author niejianhui
 */
@import '../../main/base.less';
@import '../../common/card.less';

@import '../../common/layout.less';
@import '../common/courseInfo.less';
@import '../common/tabNav.less';
@import './comment.less';
@import './ceiling.less';
@import './courseIntro.less';
@import './courseDetail.less';
@import './teachOutline.less';
@import './sideBar.less';
@import './address.less';
@import './courseData.less';
@import './liveinfo.less';
@import './othersLearn.less';
@import "../../common/component/advisoryDialog.less";
@import '../../common/component/loginDialog.less';
@import '../../common/center/component/enterClassroom.less';
@import '../../common/component/classCourseIcon.less';

#container {
    .mask {
        z-index: 100;
        &,
        .alpha-mask,
        .half-alpha-mask {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        .half-alpha-mask {
            background-color: #000;
            .opacity(0.5);
            bottom: auto;
            height: 148px;
        }
        p {
            color: #FFF;
            font-size: 24px;
            position: absolute;
            top: 30px;
            left: 50%;
            text-align: center;
            margin-left: -450px;
            span {
                font-size: 1.3em;
            }
        }
    }
    #top {
        #headInfo {
            height: 40px;
            font-size: 12px;
            padding-top: 10px;
            width: 1100px;
            margin: 0 auto;
            .crumb {
                a {
                    color: #3c3d3d;
                    &:hover {
                        color: #ff9900;
                    }
                }
            }
            #courseNum {
                position: relative;
                top: -18px;
                float: right;
                color: #3c3d3d;
            }
        }
        #contentTop {
            height: 360px;
            padding: 30px 20px;
            width: 1100px;
            margin: 0 auto;
        }
    }
    #middle {
        #bodyInfo {
            width: 1100px;
            margin: 0 auto;
            padding-top: 10px;
            #contentBody {
                width: 800px;
                float: left;
                .juhuixue-photo{
                    margin-top: 15px;
                    margin-bottom: -12px;
                }
            }
            #clearfix {
                clear: both;
            }
            #sideBar {
                width: 280px;
                float: right;
            }
        }
    }
    #bottom {
        #contentBottom {
            width: 1100px;
            margin: 0 auto;
            .emptyBox {
                width: 800px;
                float: left;
            }
            #clearfix {
                clear: both;
            }
        }
    }
}
.enter-select-dialog {

    .select-title {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    .btn-primary {
        margin-right: 20px;
    }

    .btn-box {
        margin-top: 20px;
        text-align: center;
    }
}