@import "../../../resource/css/default.styl";

.selection {
    width: 280px;
    height 24px;
    display: inline-block;
    &-content {
        background: $grey_40;
        border-radius: 2px;
        font-size: 12px;
        width: 100%;
        color: $grey_600;
        .ant-select-selection {
            background: $grey_40;
            border: none;
            height: 24px;
            .ant-select-selection__rendered {
                line-height: 22px;
            }
            .ant-select-selection__placeholder {
                font-size: 12px;
                color: $grey_400;
                letter-spacing: 0;
            }
        }
    }
    .ant-select {
        &-open, &-focused {
            .ant-select-selection {
                border-radius: 2px;
                border-color: $pink;
                box-shadow: 0 0 4px 0 $pink;
                border: 1px solid $pink;
                background: $white;
                .ant-select-selection__placeholder {
                    font-size: 12px;
                    color: $grey_400;
                    letter-spacing: 0;
                }
            }
        }
        &-arrow {
            &:before {
                content: "\E606";
                color: $grey_400;
            }
        }
        &-dropdown-menu {
            border-radius: 1px;
            &-item {
                font-size: 12px;
                line-height: 12px;
                color: $grey_500;
                padding: 8px 10px;
                &-selected {
                    color: $grey_500;
                }
                &-active,
                &:hover {
                    background-color: $grey_40;
                }
            }
        }
    }
}