@import "../component/category.less";

#nav {
    background: #fff;
    padding-top: @gap-vertical-tiny;


    .wrapper {
        .clearfix;
        height: 37px;
    }

}

.nav-items {
    height: 39px;
    margin-left:222px;
    border-bottom: solid 2px @brand-primary;;
    line-height: 39px;
    min-width: 888px;

    li {
        display: inline-block;
        text-align: center;
        letter-spacing: 0;
        padding: 0 10px;
        font-weight: 600;
        position: relative;
    }

    .nav-process {
        font-size: 13px;
        float: right;
        width: auto;
        line-height: 1;
        padding-top: 10px;
        padding-right: 4px;

        a {
            color: @brand-info;
        }
        i {
            padding-right: 4px;
        }

        .icon-camera {
            font-size: 20px;
            position: relative;
            color: @brand-info;

            top: 4px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .sale-icon {
        background: url(/src/img/userCenter/tag_sall.png);
        position: absolute;
        top: -10px;
        right: -20px;
        width: 36px;
        height: 25px;
        z-index: 3;
        background-size: cover;
    }

    a {
        color: #3d3d3d;
        &:hover {
            color: #ff9100;
        }
    }

    a.active {
        color: @brand-primary !important;
    }
    /*
    .privilege {
        width: 51px;
        height: 15px;
        position: relative;
        left: 0;
        top: 2px;
        display: inline-block;
        background-image: url(/src/img/main/access-1x.gif);
        background-image: -webkit-image-set(url(/src/img/main/access-1x.gif) 1x,url(/src/img/main/access-2x.gif) 2x);
    }
    */
    .privilege-icon {
        float: right;
        position: relative;
    }

    .forum-icon-box {
        position: relative;
        float: right;
    }

    .forum-hot-icon {
        width: 21px;
        height: 16px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: -20px;
        background: url(/src/img/main/icon_hot.gif) no-repeat;
    }

    .videozone,
    .live,
    .privilege,
    .kaoyan {
        font-size: 16px;
        color: #ff9100;
        &:hover {
            color: #3d3d3e;
        }
    }

    .forum,
    .teacher {
        &:before {
            content: '|';
            color: #ddd;
            font-weight: lighter;
            margin-right: 20px;
        }
    }


}

