@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
body{
  background-color : #fff;
  margin-bottom: rem(10);
}
.nav-bar{
  background-color: #0089f9;
  color:#fff;
  .icon-back:before{
    color:#fff;
  }
}
.title{
  font-size:rem(13);
  color:#0086fd;
  margin-bottom:rem(9);
  margin-top:rem(21);
}
p{
  color:#333;
  line-height:1.6;
}
.sub-title {
  height:rem(16);
  line-height:rem(16);
  vertical-align: middle;
  background-color: #0089f9;
  color: #fff;
  font-size: rem(12);
  padding: rem(0) rem(5);
  display: inline-block;
  margin: rem(9) rem(0);
  position: relative;
  border-radius: rem(2);
}
.sub-title:after {
  content: "";
  height: rem(8);
  width: rem(8);
  background-color: #0089f9;
  top: rem(4);
  z-index:-1;
  right: rem(-3);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}
.rule{
  margin:rem(0) rem(10);
}
.sub-text{
  text-indent : 2em;
}