.top-banner {
    background: #fff;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    color: #3D3D3E;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    position: relative;
    .wrapper {
        width: 1190px;
        margin: 0 auto;
        a {
            color: #3D3D3E;
            &:hover {
                text-decoration: none;
            }
            display: inline-block;
            height: 100%;
        }
        & > div {
            display: inline-block;
        }
        .logo-img {
            width: 130px;
            height: 42px;
        }
        .logo {
            width: 130px;
            margin-right: 20px;
        }
        .set-border {
            display: inline-block;
            width: 1px;
            height: 20px;
            background: #ededee;
            position: relative;
            top: 4px;   
        }
        .top-navigators {

            .rig-tel {
                display: inline-block;
                line-height: 14px;
                font-size: 18px;
                color:#ff6c00 ;
                margin: 0px 13px;  
                position: relative;
                top: 7px; 
                .icon-tl {
                    font-size: 30px;
                    display: inline-block;
                    float: left;
                    margin-right: 8px;
                }
                .rig-tel-num {
                    font-size: 16px;
                    color: #ff6c00;
                    line-height: 16px;
                }
                .rig-tel-time {
                    font-size: 10px;
                    color: #9d9d9e;
                    line-height: 16px;
                }
            }
        
            width: 1035px;
            & > div {
                display: inline-block;
                padding: 0 23px;
            }
            .item {
                position: relative;
                &:hover {
                    background: #F6F6F6;
                    color: #ff6c00;
                }
            }
            .search-div {
                margin-left: 28px;
            }
            .item.my-course {
                display:inline-block;
                margin-top:-10px;
                &:hover {
                    color: #3d3d3e;
                }
            }
            .user-info, .my-course {
                cursor: pointer;
                font-size: 16px;
                color: #3D3D3E;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                    position: relative;
                    bottom: 26px;
                    border: 1px solid #FFFFFF;
                }
                .line {
                    display: inline-block;
                    width: 1px;
                    font-size: 24px;
                    color: #ededee;
                    position: relative;
                    left: -35px;
                }
                
                float: right;
                position: relative;
                top: 27px;
                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }
                .sub-menu {
                    width: 96px;
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
                    border-radius: 2px 0 0 0 2px 2px 2px; 
                    z-index: 9; 
                    background-color: #FFF;
                    padding: 10px 0;
                    display: none;
                    position: absolute;
                    line-height: 40px;
                    top: 48px;
                    right: -15px;
                    text-align: center;
                    box-shadow: 0 0 16px 0 rgba(0,0,0,0.16);
                    border-radius: 4px;
                    &:before,
                    &:after {
                        border: 6px solid transparent;
                        content: ' ';
                        position: absolute;
                        right: 40px;
                    }

                    &:before {
                        top: -12px;
                    }
                    &:after {
                        border-bottom-color: #FFF;
                        top: -11px;
                    }
                    a {
                        color: #3d3d3e;
                        font-size: 14px;
                        width: 100%;
                        height: 45%;
                        &:hover {
                            background: #F6F6F6;
                        }
                    }
                }
            }
            .not-login {
                float: right;
                position: relative;
                top: 2px;       
                font-size: 16px;
                .login-link,
                .register-link {
                    color: #ff6c00;
                }
            }
            .my-course {
                top: 12px;
                margin-right: 8px;
                padding: 0 10px;
                i {
                    color: #cdcdce;
                    position: relative;
                    top: 1px;
                }
                .sub-menu  {
                    width: 320px;
                    text-align: center;
                    padding: 0;
                    top: 66px;
                    right: 0;
                    &:before,
                    &:after {
                        right: 50px;
                    }
                    .empty-courses {
                        font-size: 13px;
                        color: #6d6d6e;
                        text-align: center;
                    }
                    .course {
                        border-bottom: 1px solid #ededee;
                        display: block;
                        font-size: 13px;
                        color: #6D6D6E;
                        line-height: 23px !important;
                        padding: 16px 20px;
                        width: 320px;
                        height: 74px;
                        span {
                            display: inline-block;
                        }
                        &:hover {
                            background: #F6F6F6;
                        }
                        .course-content {
                            text-align: left;
                            .course-name {
                                font-size: 14px;
                                color: #3D3D3E;
                                font-weight: bold;
                            }
                            .course-date {
                                margin-right: 10px;
                            }
                            .course-status, .course-way {
                                font-size: 13px;
                                color: #ff6c00;
                                float: right;
                                &.not-ing {
                                    color: #2d2d2e;
                                }
                            }
                        }
                    }
                    .action {
                        text-align: center;
                        padding: 10px;
                        .btn-primary {
                            background-color: #fff;
                            text-align: center;
                            cursor: pointer;
                            display: inline-block;
                            border-radius: 2px;
                            border: 1px solid #ff6c00;
                            width: 74px;
                            height: 32px;
                            line-height: 30px;
                            border-radius: 3px;
                            font-size: 13px;
                            color: #FF6C00;
                        }
                    }
                    a {
                        color: #ff6c00;
                        width: auto;
                        font-size: 16px;
                    }
                    .text-info {
                        display: inline-block;
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
