.recruit-home-step-title {
    margin-top: rem(20);
    .title {
        font-size: rem(30);
        color: #2D2D2E;
        line-height: rem(40);
        width: 76%;
        margin: 0 auto;
        font-weight: 500;
    }
    .icon {
        color: #FF6C00;
        font-size: rem(40);
    }
}