/**
 * @file 老师信息
 * @author tangrongyan
 */



/**左侧**/
#main .btleft {
    float: left; 
    width: 250px; 
    text-align: center; 
    background-color: #fafafa;
}
#main .btleft ul {
    font-size: 16px;
}
#main .btleft ul li {
    line-height: 42px; 
    height: 49px; 
    border-bottom: 1px solid #eeeeee; 
    border-right: 1px solid #eeeeee; 
}
#main .btleft ul li.tit {
    font-size: 16px; 
    color: #999999;
}
#main .btleft ul li.tit img {
    vertical-align: middle; 
    margin-right: 12px;
}
#main .btleft ul li a {
    color: #000000;
    display: block;
    height: 100%;
    width: 100%;
}
#main .btleft ul li a:hover {
    color: #ff9900;
}
#main .btleft ul li.onli {
    background: #ffffff url(../../../img/guide/onarror.png) no-repeat right; 
    border-right: none;
}
#main .btleft ul li.onli a {
    color: #ff9900;
}

