{{ *

@file 选择课程
@author zhujialu, liucong

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ if !empty($user_data) }}
        {{ $has_login = true }}
    {{ else }}
        {{ $has_login = false }}
    {{ /if }}

    {{ if isset($smarty.get.course_id) }}
        {{ $course_id = $smarty.get.course_id }}
    {{ else }}
        {{ $course_id = '' }}
    {{ /if }}

    {{ if isset($smarty.get.combo_id) }}
        {{ $combo_id = $smarty.get.combo_id }}
    {{ else }}
        {{ $combo_id = '' }}
    {{ /if }}

    {{ if isset($smarty.get.hours) }}

        {{ $hours = $smarty.get.hours }}

        {{ if is_numeric($hours) }}
            {{ $hours = 0 }}
        {{ /if }}

    {{ else }}
        {{ $hours = 0 }}
    {{ /if }}

    {{ if $combo_id }}

        {{ $ids = array_column($tpl_data.course_combo, 'id') }}

        {{ if !in_array($combo_id, $ids) }}
            {{ $combo_id = '' }}
        {{ /if }}

    {{ /if }}

    {{ $script_path = "pay/course" }}


    {{ if isset($tpl_data.course_type ) && $tpl_data.course_type == 2 }}
        {{ $is_class_course = true }}
        {{ $script_data.courseNumber = $tpl_data.subject.course_number }}
        {{ $script_data.courseName = $tpl_data.subject.course_name }}
        {{ $script_data.price = $tpl_data.subject.total_price }}
        {{ $script_data.hours = 1 }}
    {{ else }}
        {{ $is_class_course = false }}
        {{ $script_data.price = 0 }}
        {{ $script_data.hours = $hours }}
    {{ /if }}

    {{ $script_data.isClassCourse = $is_class_course }}
    {{ $script_data.discount = 10 }}

    {{ $script_data.hasLogin = $has_login }}
    {{ $script_data.teacherId = $tpl_data.teacher_profile.id }}
    {{ $script_data.teacherName = $tpl_data.teacher_profile.name }}

    {{ if $combo_id }}
        {{ $script_data.comboId = $combo_id }}
    {{ /if }}

{{ /block }}

{{ block name="title" prepend }}
选择课时 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/pay/course.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div id="main" class="card">

    <div class="section">

        <div class="section-header">
            {{ if !$is_class_course }}
            选择上课信息
            {{ else }}
            确认课程信息
            {{ /if }}
        </div>

        <div class="section-body">
        {{ if $is_class_course }}
            {{ include file="./course/classCourse.html" profile=$tpl_data.teacher_profile class_course=$tpl_data.subject }}
        {{ else }}
            {{ include file="./course/teacher.html" profile=$tpl_data.teacher_profile subject=$tpl_data.subject }}
        {{ /if }}
        </div>

    </div>

    {{ if !$is_class_course }}
    <div class="section">

        <div class="section-header">
            选择课程时长
        </div>

        <div class="section-body">
        {{ include file="./course/hours.html" combo=$tpl_data.course_combo }}
        </div>

    </div>
    {{ /if }}

    <div class="form-summary">

        {{ if !$is_class_course }}
        <div class="detail">
            <ul>
                <li>
                    课程总价：
                    <span class="price">
                        ￥<strong class="price-value">0</strong>
                    </span>
                </li>
                <li class="discount-item">
                    课程折扣（<strong class="discount-value">0</strong> 折）：
                    <span class="discount-price">
                        -￥<strong class="discount-price-value">0</strong>
                    </span>
                </li>
            </ul>
        </div>
        {{ /if }}

        <div class="total">
            订单总价：
            <span>
                ￥<strong class="total-price-value">0</strong>
            </span>
        </div>

    </div>

    <div class="footer">
        {{ *
        <div class="refund">
            <i class="icon icon-cash-large-o"></i>
            本订单支持全额退款
        </div>

        <div class="money">
            订单总价：
            <span>
                ￥<strong class="total-price-value">0.00</strong>
            </span>
        </div>
        * }}
        下一步，提交订单
        <button id="btn-submit" class="btn btn-primary">下一步</button>
    </div>

</div>

{{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}

{{ /strip }}
{{ /block }}
