{{ *

@file 申请退款
@author wangyujie

* }}

{{ extends file="common/pc/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = 'pay/refund' }}
    {{ $script_data.orderNumber = $tpl_data.order_number }}

    {{ if isset($smarty.get.action) }}
        {{ $action = $smarty.get.action }}
    {{ else }}
        {{ $action = '' }}
    {{ /if }}

    {{ $script_data.status = $tpl_data.status }}
    {{ $script_data.action = $action }}
    {{ $script_data.reasonId = $tpl_data.reason_id }}

    {{ $identity = 'student' }}

{{ /block }}

{{ block name="title" prepend }}
申请退款 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/pay/refund.less">
{{ /block }}

{{ block name="body" }}
{{ strip }}

    {{ $smarty.block.parent }}

    {{ include file="common/siteNav.html" }}

    <div id="header">
        <div class="wrapper">
            <a class="logo" href="{{ $origin_http }}"></a>
            <h1>
                学生个人中心
            </h1>
        </div>
    </div>

    <div class="crumb">
        我的位置：
        <a href="http://www.genshuixue.com/">首页</a>
        &nbsp;&gt;&nbsp;
        <a href="/order/studentOrders">我的订单</a>
        &nbsp;&gt;&nbsp;
        <a>申请退款</a>
    </div>

    <div id="main" class="card">

        <div class="step
        {{ if $tpl_data.status == 2 || $action == 'edit' }}
            step-one
        {{ else if $tpl_data.status == 0 }}
            step-two
        {{ else if $tpl_data.status == 1 }}
            step-three
        {{ /if }}">
            <span class="active">
                1、学生发起退课申请
            </span>
            <span>
                2、老师处理退款申请
            </span>
            <span>
                3、退款完成
            </span>
        </div>

        <div class="refund-detail">

            <div class="order-info">
                <div class="title">
                    订单信息：
                </div>
                <div class="detail">
                    <div class="order-name">
                        {{ include file="common/component/image.html" width=60 height=41 url=$tpl_data.course_cover }}
                        {{ $tpl_data.course_name|cn_truncate: 26 }}
                    </div>
                    <div class="order-number">
                        <label>订单编号：</label>
                        {{ $tpl_data.order_number }}
                    </div>
                    <div class="order-teacher">
                        <label>授课老师：</label>
                        {{ $tpl_data.teacher_name }}
                    </div>
                    <div class="order-org-price">
                        <label>订单金额：</label>
                        ¥{{ $tpl_data.order_price }}
                    </div>
                    <div class="order-favorite">
                        <label>优惠：</label>
                        <span class="text-primary">
                            ¥{{ $tpl_data.discount_price }}
                        </span>
                    </div>
                    <div class="order-price">
                        <label>实付金额：</label>
                        <span class="text-primary">
                            ¥{{ $tpl_data.pay_price }}
                        </span>
                    </div>
                    {{ if $tpl_data.status == 0 || $tpl_data.status == 1 }}
                        <div class="refund-price">
                            <label>退款金额：</label>
                            <span class="text-primary">
                                ¥{{ $tpl_data.total_price }}
                            </span>
                        </div>
                        <div class="refund-reason">
                            <label>退款原因：</label>
                            {{ $tpl_data.refund_reason }}
                        </div>
                    {{ /if }}
                </div>
            </div>

            {{ if $tpl_data.status == 2 || $action == 'edit' }}
                <div class="form">
                    <div class="form-group form-header">
                        <div class="required-hint">
                            <i class="form-required"></i>为必填项
                        </div>
                        <label class="form-label">
                            申请服务：
                        </label>
                        <div class="form-controls">
                            <input type="text" class="form-text" value="退课退款" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">
                            退课退款原因：
                            <i class="form-required"></i>
                        </label>
                        <div class="dropdown refund-reason-select">
                            <button class="btn-default">
                                <i class="caret"></i>
                                <span>请选择退款原因</span>
                            </button>
                            <ul class="dropdown-menu">
                                {{ foreach $tpl_data.reason as $key => $name }}
                                    <li data-value="{{ $key }}">
                                        {{ $name }}
                                    </li>
                                {{ /foreach }}
                            </ul>
                        </div>
                        <span class="error"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label">
                            退课退款金额：
                            <i class="form-required"></i>
                        </label>
                        <div class="form-controls">
                            <input type="text" value="{{ $tpl_data.total_price }}" class="form-text" disabled />&nbsp;元
                            <span>
                                (最多<em class="text-error">{{ $tpl_data.total_price }}</em>元，已确认课酬<em class="text-error">{{ $tpl_data.class_fire_price }}</em>元) 退款金额说明
                            </span>
                        </div>
                    </div>

                    <div class="form-action">
                        <button class="btn-primary btn-submit" data-action="{{ $action }}">
                            提交申请
                        </button>
                        <a href="/order/studentOrderDetail?purchase_id={{ $tpl_data.order_number }}">
                            取消并返回
                        </a>
                    </div>
                </div>
            {{ else if $tpl_data.status == 0 }}
                <div class="refund-progress">
                    <div class="progress-status">
                        等待老师处理您的退款申请
                    </div>

                    <ul>
                        <li>
                            <i class="icon icon-circle"></i>
                             如果机构同意：课酬将原路退回
                        </li>
                        <li>
                            <i class="icon icon-circle"></i>
                            如果机构未处理：<span class="text-error">{{ $tpl_data.time_desc }}</span>后将自动为您退款
                        </li>
                        <li>
                            <i class="icon icon-circle"></i>
                            如还有其他疑问，可电话联系机构
                        </li>
                    </ul>

                    <div class="other-actions">
                        您还可以：
                        <a href="/pay/refund?purchase_id={{ $smarty.get.purchase_id }}&action=edit">修改退款申请</a>
                        &nbsp;|&nbsp;
                        <span class="cancel-refund">撤销退款申请</span>
                    </div>
                </div>
            {{ else if $tpl_data.status == 1 }}
                <div class="refund-success">
                    <div class="refund-status">
                        <i class="icon icon-check-circle"></i>
                        退款成功
                    </div>
                    <div class="refund-des">
                        课酬已退回原路，预计3-10个工作日到账，请您注意查收
                    </div>
                </div>
            {{ /if }}
        </div>

        <div class="faq">
            <div class="title">
                常见问题：
            </div>
            <ul>
                <li>1、最多退款金额是什么意思？</li>
                <li>最多退款金额是您最大可申请退款的金额，是您实际付款金额-已确认课程的金额</li>
                <li>2、钱款什么时候退回，退去哪里？</li>
                <li>老师同意退款或超时后，钱款会自动按原路退回至您的账号，一般3-10个工作日内会到账，请您注意查收，如有问题可随时咨询跟谁学客服4000-910-910</li>
            </ul>
        </div>
    </div>

    {{ include file="common/footer.html" }}
    {{ include file="common/script.html" }}

{{ /strip }}
{{ /block }}