.article4 {
    padding: rem(36) rem(15);
    background-image: url(/src/page/activity/liudanActivity/common/img/case_background.png);
    background-size: 100% 100%;
    min-height: rem(900);
    .case-slider-container {
        padding-bottom: rem(30);
    }
    .title {
        font-size: rem(26);
        color: #FFFFFF;
        line-height: rem(32);
        text-align: center;
    }
    .name {
        font-size: rem(24);
        color: #fff;
        line-height: rem(32);
        text-align: center;
        margin-top: rem(10);
    }
    .logo-jinyou {
        display: block;
        margin: rem(30) auto rem(10) auto;
        width: rem(70);
        height: rem(70);
    }
    .img-exp {
        opacity: 0.5;
        font-size: rem(14);
        color: #FFFFFF;
        letter-spacing: rem(-0.34);
        line-height: rem(14);
        text-align: center;
    }
    .conduct-container {
        margin-top: rem(15);
        display: flex;
        justify-content: space-around;
        margin-bottom: rem(10);
        .conduct {
            p {
                margin-top: rem(10);
                font-size: rem(12);
                color: #F8F8F8;
                line-height: rem(10.8);
                span {
                    font-size: rem(30);
                    color: #F61B11;
                    line-height: rem(37.2);
                }
            }
        }
    }
}