
.org-teacher-style {
    clearfix();
    padding-right: rem(10);
    padding-top: rem(15);
    padding-bottom: rem(15);
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    > a {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .teacher-img {
        line-height: 0;
        position: relative;
        width: rem(70);
        height: rem(70);
        float: left;
        margin-right: rem(15);
        >img{
            width: 100%;
            border-radius: 50%;
        }
    }
    .cell {
        overflow: hidden;
    }
    .teacher-course {
        >p{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .teacher-name {
            margin-top: rem(-3);
            font-size: rem(16);
            color: #3c3d3d;
        }
        .course-name {
            font-size: rem(13);
            color: #3c3d3d;
        }
        .school-name {
            font-size: rem(13);
            color: #9d9e9e;
        }
        .course-fee {
            .fee {
                float: left;
                color: #ff6d00;
                font-size: rem(16);
                width: 50%;
                .symbol {
                    font-size: rem(12);
                }
                .hour {
                    font-size: rem(9)
                }
            }
            .course-way {
                font-size: rem(12);
                float: right;
                color: #9d9e9e;
                width: 50%;
                text-align: right;
                line-height: rem(24);
            }
        }
    }
}