{{ *

@file 优选一对一课程详情页
@author wangyujie

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}
    {{ $smarty.block.parent }}

    {{ $script_path = "one2one/betterDetail" }}
    {{ $script_data.teacherNum = $tpl_data.query_one_on_one_course.teacher.number }}
    {{ $script_data.teacherName = $tpl_data.query_one_on_one_course.teacher.display_name }}
    {{ $script_data.course = $tpl_data.query_one_on_one_course }}
    {{ $script_data.courseNum = $tpl_data.query_one_on_one_course.number }}

    {{ $script_data.mUrl = $tpl_data.query_one_on_one_course.m_url }}
    {{ $script_data.medium = $tpl_data.query_one_on_one_course.covers }}
    {{ $script_data.userId = $user_data.user_id }}
    {{ $script_data.address = $tpl_data.query_one_on_one_course.address }}
    {{ $script_data.teacherMobile = $tpl_data.one_on_one_teacher_mobile }}

    {{ if isset($tpl_data.course_path[3]) }}
        {{ $script_data.crumb = $tpl_data.course_path[3].remark_name }}
    {{ else if isset($tpl_data.course_path[2]) }}
        {{ $script_data.crumb = $tpl_data.course_path[2].remark_name }}
    {{ /if }}

    {{ * 分享 * }}
    {{ $baidu_share_text = "#跟谁学# 分享一门课程给你哦~"|cat: $tpl_data.query_one_on_one_course.name }}
    {{ $baidu_share_text = $baidu_share_text|cat: "，还在等什么？找好老师，上跟谁学，快来开启寻师之旅吧！" }}
    {{ $baidu_share_image = $tpl_data.query_one_on_one_course.teacher.avatar_url }}
    {{ $baidu_query = "跟谁学" }}

    {{ * 登录窗判断 * }}
    {{ $login_dialog_config.student_only = true }}
    {{ $need_location_seo = true }}
    {{ $need_mobile_seo = true }}
{{ /block }}

{{ block name="title" }}
{{ strip }}
    【1对1】{{ $tpl_data.query_one_on_one_course.name }}_{{ $tpl_data.query_one_on_one_course.teacher.display_name }}-跟谁学
{{ /strip }}
{{ /block }}

{{ block name="keywords" }}
{{ strip }}
    {{ $tpl_data.query_one_on_one_course.name }}
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}
    {{ $tpl_data.query_one_on_one_course.teacher.display_name }}{{ $tpl_data.query_one_on_one_course.name }}一对一课程{{ $tpl_data.query_one_on_one_course.price_range.min }}-{{ $tpl_data.query_one_on_one_course.price_range.max }}，上课地址{{ $tpl_data.query_one_on_one_course.teacher.location }}，更多{{ $tpl_data.query_one_on_one_course.teacher.display_name }}课程尽在跟谁学。
{{ /strip }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/one2one/betterDetail.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}

<div class="main_contain">

    <div id="main">
        <div class="crumb">
            <div class="course-number">
                课程编号：{{ $tpl_data.query_one_on_one_course.number }}
            </div>
            <a href="{{ $tpl_data.crumb.host }}">
                跟谁学{{ $tpl_data.crumb.city.name }}站
            </a>
            <span class="splitter">&nbsp;&gt;&nbsp;</span>

            <a href="{{ $tpl_data.crumb.host }}sc--1.html">
                {{ $tpl_data.crumb.city.name }}课程
            </a>
            <span class="splitter">&nbsp;&gt;&nbsp;</span>

            <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}.html">
                {{ $tpl_data.course_path['1'].name }}培训
            </a>
            <span class="splitter">&nbsp;&gt;&nbsp;</span>

            {{ if isset($tpl_data.course_path['3']) }}
                <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}_{{ $tpl_data.course_path['2'].id }}.html">
                    {{ $tpl_data.course_path['2'].name }}培训
                </a>
                <span class="splitter">&nbsp;&gt;&nbsp;</span>

                <div class="related-a">
                    <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}_{{ $tpl_data.course_path['2'].id }}_{{ $tpl_data.course_path['3'].id }}.html">
                        {{ $tpl_data.course_path['3'].remark_name }}培训
                    </a>

                    {{ if isset($tpl_data.course_related) }}
                        <ul class="related">
                        {{ foreach $tpl_data.course_related as $related }}
                            <li>
                                <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}_{{ $tpl_data.course_path['2'].id }}_{{ $related.id }}.html" target="_blank">
                                    {{ $related.name }}
                                </a>
                            </li>
                        {{ /foreach }}
                        </ul>
                    {{ /if }}
                </div>
            {{ else }}
                <div class="related-a">
                    <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}_{{ $tpl_data.course_path['2'].id }}.html">
                        {{ $tpl_data.course_path['2'].name }}培训
                    </a>

                    {{ if isset($tpl_data.course_related) }}
                        <ul class="related">
                        {{ foreach $tpl_data.course_related as $related }}
                            <li>
                                <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}_{{ $tpl_data.course_path['2'].id }}_{{ $related.id }}.html" target="_blank">
                                    {{ $related.name }}
                                </a>
                            </li>
                        {{ /foreach }}
                        </ul>
                    {{ /if }}
                </div>
            {{ /if }}
        </div>
    </div>

    {{ include "one2one/betterDetail/profile.html" teacher=$tpl_data.query_one_on_one_course.teacher course=$tpl_data.query_one_on_one_course comment=$tpl_data.comment_summary }}

    <div id="main-content">
        <div id="sidebar">
            <div id="sidebar-box" class="card">
                {{ include file="one2one/betterDetail/courseIntro.html" course=$tpl_data.query_one_on_one_course }}
            </div>

            {{ * include file="one2one/betterDetail/relatedcourse.html" relatedcourse=$tpl_data.query_one_on_one_course title="老师其他课程，暂无该字段" * }}
        </div>

        <div id="content">
            <div class="fixed-header">
                <div class="wrapper">

                    <div class="course-price">
                        {{ if $tpl_data.query_one_on_one_course.price_range.min != $tpl_data.query_one_on_one_course.price_range.max }}
                            <strong>
                                ￥{{ $tpl_data.query_one_on_one_course.price_range.min }}-{{ $tpl_data.query_one_on_one_course.price_range.max }}
                            </strong>
                        {{ else }}
                            <strong>
                                ￥{{ $tpl_data.query_one_on_one_course.price_range.min }}
                            </strong>
                        {{ /if }}
                        <em>/小时</em>
                    </div>

                    <div class="course-action">
                        <div class="enroll-listen">
                            <button class="reserve-listen">预约1对1</button>
                        </div>
                        <div class="enroll-action">
                            <button class="btn-error reserve-course">购买课时</button>
                        </div>
                    </div>

                    <div class="course-info">
                        <h1>
                            {{ $tpl_data.query_one_on_one_course.name|cn_truncate: 18 }}<br />
                        </h1>
                        {{ if $tpl_data.query_one_on_one_course.address }}
                        <div class="course-address">
                            <span class="label">
                                <i class="icon icon-location-o"></i>
                            </span>
                            <span class="content" data-title="{{ $tpl_data.query_one_on_one_course.address.area_path_str|escape }}">
                                {{ $tpl_data.query_one_on_one_course.address.area_path_str|escape|cn_truncate:30 }}
                            </span>
                        </div>
                        {{ /if }}
                    </div>

                </div>
            </div>

            <div class="header">
                <div class="wrapper tab-nav tab-nav-primary">

                    <div class="nav-item-container">

                        <a class="nav-item active" href="#course-teacher">
                            <span>老师介绍</span>
                        </a>

                        <a class="nav-item" href="#teacher-comment">
                            <span class="ajax-comment">评价</span>
                        </a>

                    </div>
                </div>
            </div>

            <div class="body">
                {{ include file="one2one/betterDetail/teacherIntro.html" teacher=$tpl_data.query_one_on_one_course.teacher course=$tpl_data.query_one_on_one_course }}

                {{ include file="one2one/betterDetail/comment.html" }}
            </div>

        </div>
    </div>

    {{ if isset($smarty.get.preview) && $smarty.get.preview == 1 }}
    <div class="mask">
        <div class="alpha-mask"></div>
        <div class="half-alpha-mask"></div>
        <p>
            <span>这是预览页面，不可操作哦~</span>
            <br />
            （预览页面包含未审核的信息，只有通过审核的信息才会展示在真实的个人主页哦！）
        </p>
    </div>
    {{ /if }}
</div>


{{ include file="common/component/baiduMap.html" }}

{{ /strip }}
{{ /block }}


{{ block name="inner_link" }}
    {{ include file="common/innerlink/searchList.html" data=$tpl_data.pageInnerLinks mod="课程" inner_type="course" }}
{{ /block }}









