{{ *

@file 新版老师模板页 - 首页 2016.1.8
@author wuhongjie

* }}

{{ extends file="common/pc/base.html" }}
{{ block name="data" }}

{{ strip }}
    {{ $smarty.block.parent }}
    {{ $script_path = "teacherIndex/index" }}
    {{ $script_data.teacherId = $tpl_data.profile.user_id }}
    {{ $script_data.vipLevel = $tpl_data.profile.vip_level }}
    {{ $script_data.templateLevel = $tpl_data.profile.template_level }}
    {{ $script_data.userId = $user_data.user_id }}
    {{ if isset($tpl_data.profile.template_pc) }}
        {{ $script_data.templateName = $tpl_data.profile.template_pc }}
    {{ /if }}

    {{ $script_data.teacherNum = $tpl_data.profile.user_number }}
    {{ $script_data.teacherId = $tpl_data.profile.user_id }}
    {{ $script_data.teacherName = $tpl_data.profile.name }}
    {{ $script_data.canOrder = $tpl_data.profile.can_order }}
    {{ $script_data.usabletimeDesc = $tpl_data.profile.usabletime_desc }}

    {{ $script_data.is_one_on_one_teacher = $tpl_data.profile.is_one_on_one_teacher }}

    {{ $script_data.one_on_one_teacher_mobile = $tpl_data.one_on_one_teacher_mobile }}
    
    {{ if !empty($tpl_data.profile.org_type) }}
        {{ $script_data.org_type = $tpl_data.profile.org_type }}
    {{ /if }}

    {{ if !empty($tpl_data.profile.organization) }}
        {{ $script_data.org_id = $tpl_data.profile.organization.id }}
        {{ $script_data.orgnumber = $tpl_data.profile.organization.number }}
        {{ if !empty($tpl_data.profile.organization.support_tianxiao) }}
            {{ $script_data.isTianxiaoOrg = $tpl_data.profile.organization.support_tianxiao }}
        {{ /if }}
    {{ else }}
        {{ $script_data.org_id = 0 }}
    {{ /if }}

    {{ $script_data.trialCourseStatus = $tpl_data.trial_course.status }}

    {{ $script_data.domain = $tpl_data.profile.domain }}
    {{ $script_data.teacherName = $tpl_data.profile.name }}
    {{ $script_data.ispreview = $tpl_data.is_preview }}
    {{ $script_data.isFavored = $tpl_data.is_favored }}
    {{ $script_data.audio = $tpl_data.profile.audio }}
    {{ $script_data.audio_length = $tpl_data.profile.audio_length }}
    {{ $script_data.lng = $tpl_data.profile.offline_poi.lng }}
    {{ $script_data.lat = $tpl_data.profile.offline_poi.lat }}
    {{ $script_data.article = $tpl_data.article }}
    {{ $script_data.trial = $tpl_data.trial_course }}
    {{ $script_data.crumb = $tpl_data.crumb.list[3].remark_name }}
    {{ $script_data.source = '1' }}

    {{ $nav_config.hidden = 1 }}
    {{ $nav_config.active = '' }}
    {{ $flotage_config.hidden = 1 }}

    {{ **顶部搜索去掉placeholder支持空query** }}
    {{ $current_page = 'detail' }}
    {{ $need_mobile_seo = true }}

{{ /strip }}
{{ /block }}

{{ * SKU统计上报 * }}
{{ block name='sku_id' }}
    {{ $sku_id=$tpl_data.profile.user_number }}
{{ /block }}

{{ block name="title" prepend }}
    {{ $tpl_data.title }}
{{ /block }}

{{ block name="keywords" }}
    {{ $tpl_data.keywords }}
{{ /block }}

{{ block name="description" }}
    {{ $tpl_data.description }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/teacherIndex/model3/index.less" />
{{ /block }}

{{ block name="body" }}

{{ $smarty.block.parent }}
{{ include file="common/siteNav.html" }}
{{ strip }}

{{ include file="teacherCenter/common/wrapper.html" }}

<div id="content">
    {{ $profile = $tpl_data.profile }}
    {{ $teach = $tpl_data.teach }}
    {{ include file="teacherCenter/common/preview.html" }}
    {{ include file="teacherCenter/common/scroll.html" profile=$profile active='index' }}
    {{ include file="teacherCenter/common/header3.html" active='index' tpl_data=$tpl_data }}
    <div class="body">
        <div class="teacher-content">

            {{ if !empty($tpl_data.all_course) }}
            <div class="teacher-course-list">
                <div class="teacher-content-header course-list-header">
                    <h1>
                        老师推荐课程
                        <span>
                            （共{{ $profile.total_courses }}门课）
                        </span>
                        {{ if isset($tpl_data.coupons) && count($tpl_data.coupons) > 0 }}
                            {{ $coupons = $tpl_data.coupons }}
                            <div class="get-coupon text-primary">
                                <i class="icon icon-coupons"></i>
                                领取优惠券
                                <div class="coupon">
                                    <span class="small-arrow"></span>
                                    <span class="big-arrow"></span>
                                    <ul class="coupon-list">
                                        {{ foreach $coupons as $item }}
                                        {{ if $item.status==1 }}
                                        <li class="coupon-color" data-num="{{ $item.serial_num }}">
                                            {{ else }}
                                        <li class="coupon-gray">
                                            {{ /if }}
                                            <div class="coupon-info">
                                                <div class="balance">
                                                    ￥<em>{{ $item.balance }}</em>
                                                </div>
                                                <div class="threshold">
                                                    {{ if $item.cond_course_type != 0 }}
                                                    指定课程可用
                                                    {{ else if $item.cond_threshold == 0 }}
                                                    不限
                                                    {{ else }}
                                                    满{{ $item.cond_threshold }}使用
                                                    {{ /if }}
                                                </div>
                                            </div>
                                            <div class="status">
                                                {{ if isset($item.status) }}
                                                {{ include file="common/variable/couponStatus.html" scope=parent }}
                                                {{ $couponStatusMap[$item.status] }}
                                                {{ /if }}
                                            </div>

                                        </li>
                                        {{ /foreach }}
                                    </ul>
                                </div>
                            </div>
                        {{ /if }}
                    </h1>
                </div>
                <div class="course-list">
                    {{ include file="teacherCenter/common/course.html" course_list = $tpl_data.all_course length=3 }}
                </div>
                <div class="teacher-content-bottom">
                    <a class="see-more" href="/{{ $profile.domain }}/course">查看更多</a>
                </div>
            </div>
            {{ else }}
                {{ if $profile.user_id == $user_data.user_id }}
                <div class="teacher-course-list">
                    <div class="teacher-content-header course-list-header">
                        <h1>老师推荐课程</h1>
                    </div>

                    <div class="no-content">
                        您还未开课，<a href="/teacher_center/set_course">去开课</a>
                    </div>
                </div>
                {{ /if }}
            {{ /if }}

            <div class="teacher-intro">
                <div class="teacher-content-header teacher-intro-header">
                    <h1>老师介绍</h1>
                </div>
                <div class="teacher-intro-info">
                    <div class="info-name">
                        <span class="intro-left">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
                        <span class="intro-right">{{ $profile.name }}&nbsp;&nbsp;(ID:{{ $profile.user_number }})</span>
                    </div>
                    <div class="info-sex">
                        <span class="intro-left">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span>
                        {{ if $profile.sex == '1' }}
                        {{ $sex = "男" }}
                        {{ else }}
                        {{ $sex = "女" }}
                        {{ /if }}
                        <span class="intro-right">{{ $sex }}</span>
                    </div>
                    <div class="info-teach-year">
                        <span class="intro-left">教&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</span>
                        <span class="intro-right">
                        {{ if $teach.school_age == -1 || $teach.school_age == 90 }}
                        30年以上教龄
                        {{ else }}
                        {{ $teach.school_age }}年教龄
                        {{ /if }}
                        </span>
                    </div>
                    {{ if !empty({{ $profile.area }}) || $profile.country }}
                    <div class="info-address">
                        <span class="intro-left">授课范围：</span>
                        <span class="intro-right">
                            {{ if !$profile.country }}
                                {{ $profile.area }}
                            {{ else }}
                                {{ $profile.country }}
                            {{ /if }}
                        </span>
                    </div>
                    {{ /if }}
                    {{ if !empty($profile.certification) }}
                    <div class="info-tips">
                        <span class="intro-left">个人认证：</span>
                        {{ include file="common/variable/certification.html" scope=parent }}
                        <span class="intro-right">
                            {{ foreach $certification_list as $cert }}
                                {{ if in_array($cert[0], $profile.certification) }}
                                    <li data-title="{{ $cert[1] }}">
                                        <i class="icon {{ $cert[2] }}"></i>&nbsp;{{ $cert[1] }}
                                    </li>
                                {{ /if }}
                            {{ /foreach }}
                        </span>
                    </div>
                    {{ /if }}
                    <div class="info-intro">
                        {{ if !empty($profile.self_introduce) }}
                        <span class="intro-left">自我介绍：</span>
                        {{ $class = '' }}
                        {{ if $profile.self_introduce|cn_truncate:45 != $profile.self_introduce }}
                        {{ $class = 'introduction' }}
                        {{ /if }}
                        <span class="intro-right {{ $class }}">{{ $profile.self_introduce }}</span>
                        {{ else }}
                        <span class="intro-left">个人简介：</span>
                        {{ $class = '' }}
                        {{ if $profile.slogan|cn_truncate:45 != $profile.slogan }}
                        {{ $class = 'introduction' }}
                        {{ /if }}
                        <span class="intro-right {{ $class }}">{{ $profile.slogan }}</span>
                        {{ /if }}
                    </div>
                </div>
                {{ if !empty($tpl_data.video_list) || !empty($tpl_data.photo_list) }}
                <div class="teacher-intro-photo">
                    <div class="teacher-photo-header">视频照片</div>
                    <div id="teacher-photos">
                        {{ $count = 0 }}
                        <ul>
                        {{ if !empty($tpl_data.video_list) && $tpl_data.video_list[0] }}
                            {{ $val = $tpl_data.video_list[0] }}
                            {{ $count = $count + 1 }}
                            {{ if strpos($val.preface_url_prefix,"letvimg.com") !== false }}
                                {{ if strpos($val.preface_url, "noimg_h.jpg") === false }}
                                    {{ $videoImgUrl = $val.preface_url_prefix|cat:"_682_418.jpg" }}
                                    {{ $videoImgUrl_mini = $val.preface_url_prefix|cat:"_340_354.jpg" }}
                                {{ else }}
                                    {{ $videoImgUrl = $val.preface_url }}
                                    {{ $videoImgUrl_mini = $val.preface_url }}
                                {{ /if }}
                            {{ else }}
                                {{ include file="common/variable/photo.html" url=$val.preface_url width=682 height=418 raw_width=1 raw_height=1 }}
                                {{ $videoImgUrl = $photo }}
                                {{ include file="common/variable/photo.html" url=$val.preface_url width=340 height=354 raw_width=1 raw_height=1 }}
                                {{ $videoImgUrl_mini = $photo }}
                            {{ /if }}
                            {{ if !empty($val.name) }}
                            {{ $name = $val.name|cn_truncate:10 }}
                            {{ else }}
                            {{ $name = $profile.name|cn_truncate:10 }}
                            {{ /if }}
                            <li class="teacher-photo-item first-item" data-type="video" data-image="{{ $videoImgUrl }}" data-video="{{ $val.video }}" data-name="{{ $name }}" >
                                <img src="{{ $videoImgUrl_mini }}" alt="{{ $name }}">
                                <div class="photo-intro">{{ $name }}</div>
                                <div class="video-player-icon"></div>
                            </li>
                        {{ /if }}

                        {{ foreach $tpl_data.photo_list as $val }}
                            {{ $count = $count +1 }}
                            {{ if $count <= 5 }}
                            {{ if isset($val.height) && isset($val.width) }}
                            {{ include file="common/variable/photo.html" url=$val.img raw_width=$val.width raw_height=$val.height width=682 height=418 }}
                            {{ /if }}
                            {{ if !empty($val.name) }}
                            {{ $name = $val.name|cn_truncate:10 }}
                            {{ else }}
                            {{ $name = $profile.name|cn_truncate:10 }}
                            {{ /if }}
                            <li class="teacher-photo-item {{ if $count == 1 }}first-item{{ /if }}" {{ if $count == 5 }} data-last='last' {{ /if }} data-index="{{ $val@index }}" data-type="photo" data-image="{{ $val.img }}" data-fitimage="{{ $photo }}" data-fitheight="{{ $fit_height }}" data-name="{{ $name }}" >
                                {{ if isset($val.height) && isset($val.width) }}
                                    {{ if $count == 1 }}
                                    {{ include file="common/variable/photo.html" url=$val.img raw_width=$val.width raw_height=$val.height width=340 height=354 }}
                                    {{ else }}
                                    {{ include file="common/variable/photo.html" url=$val.img raw_width=$val.width raw_height=$val.height width=172 height=172 }}
                                    {{ /if }}
                                {{ /if }}
                                <img src="{{ $photo }}" alt="{{ $name }}">
                                {{ if $count == 5 }}
                                <div class="photo-intro photo-seemore">查看更多</div>
                                {{ else }}
                                <div class="photo-intro">{{ $name }}</div>
                                {{ /if }}
                            </li>
                            {{ /if }}
                        {{ /foreach }}
                        </ul>
                    </div>
                </div>
                {{ else }}
                    {{ if $profile.user_id == $user_data.user_id }}
                    <div class="teacher-intro-photo">
                        <div class="teacher-photo-header">
                            <h1>视频照片</h1>
                        </div>

                        <div class="no-content">
                            您还未上传任何照片和视频，<a href="/teacher_center/photos">去上传</a>
                        </div>
                    </div>
                    {{ else }}
                    <div class="teacher-intro-photo">
                        <div class="teacher-photo-header">
                            <h1>视频照片</h1>
                        </div>

                        <div class="no-content">
                            暂无视频和照片
                        </div>
                    </div>
                    {{ /if }}
                {{ /if }}
            </div>
            <div class="teacher-record">
                <div class="teacher-content-header teacher-record-header">
                    <h1 class="teacher-record-ago active" data-target="record-ago-content">过往经历</h1>
                    <h1 class="teacher-record-share" data-target="record-share-content">相关案例</h1>
                </div>
                <div class="teacher-record-content">
                    <div class="record-ago-content">
                        {{ include file="teacherCenter/common/experience.html" experience=$tpl_data.experience length=2 }}
                    </div>
                    <div class="record-share-content" style="display: none">
                        {{ include file="teacherCenter/common/success.html" success=$tpl_data.success length =2 }}
                    </div>
                </div>
                {{ if count($tpl_data.experience) > 2 || count($tpl_data.success) > 2 }}
                <div class="teacher-content-bottom">
                    <a class="see-more" href="/{{ $profile.domain }}/intro">查看更多</a>
                </div>
                {{ /if }}
            </div>
            {{ if !empty($tpl_data.other.content) }}
            <div class="teacher-details">
                <div class="teacher-content-header teacher-details-header">
                    <h1>图文详情</h1>
                </div>
                {{ **3810项目** }}
                {{ if empty($profile.org_type) || $profile.org_type != 4 }}
                <div class="teacher-rich-text">{{ $tpl_data.other.content }}</div>
                {{ else }}
                <div class="teacher-rich-text">{{ $tpl_data.other.content|nl2br }}</div>
                {{ /if }}
            </div>
            {{ else }}
                {{ if $profile.user_id == $user_data.user_id }}
                <div class="teacher-details">
                    <div class="teacher-content-header teacher-details-header">
                        <h1>图文详情</h1>
                    </div>
                    <div class="no-content">您还未设置图文详情,<a href="/teacher_center/profile">去设置</a></div>
                </div>
                {{ /if }}
            {{ /if }}
            <div class="teacher-comment">
                <div class="teacher-content-header teacher-comment-header">
                    <h1>课程评价</h1>
                </div>
                <div class="teacher-comment-content">
                    {{ * include file="teacherCenter/common/comment.html" tpl_data= $tpl_data * }}
                    <div id="teacher-comment" class="show-teacher-comment">
                        <div class="overview"></div>
                        <div class="tab-nav-info"></div>
                        <div class="nav-content"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="teacher-sidebar">
            {{ include file="teacherCenter/common/indexSidebar.html" }}
        </div>
    </div>
    {{ include file="common/component/baiduMap.html" }}
</div>
{{ /strip }}

{{ include file="common/script.html" }}

{{ block name="script" }}
{{ strip }}
{{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}
{{ /strip }}
{{ /block }}

{{ include file="common/footer.html" }}
{{ include file="common/innerlink/searchList.html" data=$tpl_data.pageInnerLinks mod="老师" inner_type="teacher" }}
{{ /block }}