@import "module/index.styl";
.basic-modify {
    background: #f2f3f4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    &-item {
        background: #fff;
        display: flex;
        height: rem(48);
        padding: 0 rem(15);
        align-items: center;
        justify-content: space-between;
        font-size: rem(16);
        color: #3D3D3E;
        line-height: rem(16);
        border-bottom: rem(1) solid #f6f6f6;
        &.avatar {
            height: rem(70);
            .avatar-container-big {
                width: rem(36);
                height: rem(36);
            }
        }
        .title {
            width: rem(50);
        }
        .nickName {
            flex: 1;
            text-align: right;
        }
    }
    &-desc {
        padding-left: rem(15);
        height: rem(37);
        line-height: rem(37);
        font-size: rem(15);
        color: #6D6D6E;
    }
    &-textarea {
        padding: rem(10) rem(15);
        background: #fff;
        min-height: rem(100);
        .desc {
            width: 100%;
            height: 100%;
            resize: none;
            font-size: rem(15);
            color: #9D9D9E;
            line-height: rem(22);
        }
    }
    &-submit {
        padding: rem(24) rem(15) 0;
        button {
            letter-spacing: rem(5);
        }
    }
}