.search-input-wrapper {
    .div-search {
	    background-color: #fff;
	    -webkit-border-radius: rem(3);
	    -moz-border-radius: rem(3);
	    border-radius: rem(3);
	    -webkit-box-flex: 1;
	    display: -webkit-box;
	    padding: rem(7) rem(47) rem(7) rem(7);
	    position: relative;
	    border-color: #f6fbff;
	   	.icon-search {
    		color: #3c3c3c;
    		.v-center(absolute);
    		right: 5px;
    		cursor: pointer;
    	}
	    input {
            margin-left: rem(5);
            background-color: #fff;
            font-size: rem(14);
            line-height: rem(22);
            padding: rem(4);
            display: block;
            color: #3c3c3c;
            width: 100%;
            outline: 0;
    	}
    	.search-text::-webkit-input-placeholder {
            color: #fff;
        }
	}
}