.hide {
    display: hide;
}
.footer-item-container {
    position: relative;
    width: 100%;
    height: rem(48);
    position: fixed;
    left: 0;
    bottom: 0;
    .center {
        text-align: center;
    }
    .no-fixed {
        height: rem(48);
        position: relative;
        .consult {
            float: left;
            height: rem(48);
            line-height: rem(48);
            width: rem(70);
            background: #f8f8f8;
            font-size: rem(12);
            color: #3D3D3E;
            letter-spacing: 0;
            padding-top: 0;
            font-size: 0;
            position: relative;
            i {
                font-size: rem(20);
                position: absolute;
                top: rem(4);
                left: rem(25);
            }
            p {
                height: rem(24);
                line-height: rem(24);
                font-size: rem(12);
                color: #3D3D3E;
                letter-spacing: 0;
                position: absolute;
                width: 100%;
                text-align: center;
                top: rem(24);
            }
        }
        .free {
            padding-left: rem(70);
            height: rem(48);
            line-height: rem(48);
            font-size: rem(17);
            color: #fff;
            background: #FF6C00;
        }
        .clear {
            clear: both;
        }
    }
}