.show-message {
    .content {
        padding: 10px;
        text-align: center;
        word-break: break-all;
    }
    .footer {
        padding: 10px;
        text-align: center;
        .set-margin {
            margin-right: 14px;
        }
    }
    .not-remind-again {
        padding: 10px;
        cursor: pointer;
        input {
            margin-right: 5px;
            cursor: pointer;
        }
    }
}