/**
 * @file 账户设置
 * @author zhujialu
 */

@import './common/layout.less';
@import './../component/mobileInput.less';
@import './../component/defaultAvatarDialog.less';


#content {
    .settings {
        border-bottom: 1px solid @brand-gray;
        border-right: 1px solid @brand-gray;
    }
    .item {
        border-top: 1px solid @brand-gray;
        border-left: 1px solid @brand-gray;
    }

    .item-header {

        @gap-horizontal: 2 * @gap-horizontal-huge;

        padding: @gap-vertical-small 0;
        .transition(0.4s background-color);

        &:hover {
            background-color: @brand-gray-lighter;
        }

        strong,
        p {
            .inline-block();
            margin-left: 2 * @gap-horizontal-medium;
            vertical-align: middle;
        }

        strong {
            &.no-icon {
                padding-left: 40px;
                .icon {
                    display: none;
                }
            }

            &.has-icon {
                padding-left: 0;
                .icon {
                    display: inline-block;
                }
            }
        }

        .privacy-group{
            display: inline-block;

            margin-left: 2 * @gap-horizontal-huge;
            label {
                margin-right: @gap-horizontal-medium;
            }
        }


        strong {

            font: @font-size-medium @font-family-title;
            color: @brand-text;
            height: 46px;
            line-height: 46px;
            vertical-align: middle;
            .icon-check-circle {
                color: @brand-success;
                font-size: 24px;
                padding-right: @gap-horizontal-huge;
                vertical-align: middle;
            }
            .icon-info-circle {
                color: @brand-error;
                font-size: @font-size-large;
                padding-right: @gap-horizontal-huge;
                vertical-align: middle;
            }

        }

        p {
            font-size: 12px;
            color: @brand-text-lighter;
            width: 350px;
        }

        .action {
            width: 220px;
            text-align: right;
            display: inline-block;
            margin-top: @gap-horizontal-tiny;
            .btn {
                color: @brand-info;
            }
            a {
                margin-left: 12px;
            }
        }
    }

    .on {
        strong {
            margin-left: 80px;
        }
        i {
            display: none;
        }
    }

    .item-body {
        border-top: 1px solid @brand-gray;
        display: none;

        padding: 2 * @gap-vertical-huge
                 3 * @gap-horizontal-medium;
    }

    .item-mobile {
        .text-info {
            margin-left: 10px;
            color: #6085d8;
        }
    }

    .form,
    .second-form,
    .form-result,
    .form-resule-show {
        margin: 0 auto;
        display: none;
        .form-static {
            margin-left: @gap-horizontal-small;
        }
    }

    .form,
    .second-form {
        width: 500px;

        .form(120px);
    }
    .form-result {
        width: 330px;

        strong {
            color: @brand-text;
            font-size: @font-size-medium;
            font-weight: bold;
            white-space: nowrap;
        }
        .btn-primary {
            margin-top: @gap-vertical-large;
        }
    }

    .form-text {
        width: 280px;

        &[name="verify_code"] {
            width: 146px;
        }
    }

    .form-group {
        .form-controls {
            .btn-info {
                margin-left: @gap-horizontal-medium;
            }
            a {
                margin-left: @gap-horizontal-medium;
            }
        }
    }

    #form-newMobile {
        width: 620px;
    }

    #binding-mobile {

        .mobile-input {
            display: inline-block;
            .disable-international {
                input[name="mobile"] {
                    width: 280px;
                }
            }
            .enable-international {
                input[name="mobile"] {
                    width: 225px;
                }
            }
        }

        .switch-international {
            cursor: pointer;
        }
    }

    .hidden {
        display: none;
    }

    .voice-code-link {
        margin-left: 110px;

        .btn-link {
            font-size: @font-size-tiny;
            color: @brand-info;
            &:hover {
                color: @brand-primary;
            }
        }
        span {
            padding-top: 0;
        }
    }

    .item-bind-account {

        .action {
            width: 175px;
        }

        .item-body {
            border-top: none;
            display: block;
            padding-top: 10px;

            .icon {
                color: #ccc;
                font-size: 50px;
            }

            strong {
                display: block;
                font-size: 12px;
                margin-top: 2px;
            }

            .btn-link {
                color: @brand-info;
                &:hover {
                    color: @brand-primary;
                }
            }
        }

        dl {
            color: #333;
            display: inline-block;
            margin-right: 10px;
            text-align: center;
            vertical-align: top;
        }

        dt {
            border: 1px solid #dedede;
            border-radius: 2px;
            padding: 10px 19px 2px;
        }

        dd {
            font-size: 12px;
            margin-top: 10px;
            .btn-link {
                padding: 2px;
            }
        }

        .active {
            .icon-wechat-circle {
                color: #54b207;
            }
            .icon-qq-circle {
                color: #009ed8;
            }
            .icon-alipay-circle {
                color: #ee6a18;
            }
            .icon-weibo-circle {
                color: #d45451;
            }
            .icon-renren-circle {
                color: #2276a2;
            }
            .icon-baidu-circle {
                color: #2524e5;
            }
        }
    }

    .to-new-email {
        color: @brand-info;
        cursor: pointer;
        margin-left: @gap-horizontal-small;
    }

    .new-email-group {
        display: none;
    }

}
