/**
 * @file 绑定银行卡
 * @author zhujialu
 */
@import './common/layout.less';

.bind-card {
    .message-primary {
        border: 0;
        text-align: center;
    }
}
.form-bind-card {

    margin-top: 20px;

    .form-label {
        width: 10em;
    }
    .form-action {
        padding-left: 10em;
    }
    .bank-select {
        display: none;
    }
    .input-wrapper {
        display: inline-block;
        position: relative;

        .floated {
            display: none;
            position: absolute;
            right: 5px;
            top: 4px;
            padding: 3px 8px;
            background-color: #F7F6F6;
            border-radius: 2px;
        }

        .bank-logo {
            width: 20px;
            vertical-align: middle;
        }
        .card-type {
            color: #333;
            border-left: 1px solid #8C8C8C;
            padding-left: 6px;
            margin-left: 6px;
        }
    }
    .bind-new-card {
        border: 1px dashed #cecfd0;
        background-color: #f9fafb;
        cursor: pointer;
        display: inline-block;
        padding: 6px 12px;
        border-radius: 2px;
        vertical-align: top;
        margin-left: 10px;

        &:hover {
            background-color: #f4f4f4;
        }

        .icon {
            margin-right: 5px;
        }
    }
    .card-select {
        .dropdown {
            width: 400px;
        }
        .btn-default > span {
            display: block;
            margin-right: 20px;
        }
        .card-remark {
            float: right;
        }
        .card-type {
            margin-left: 10px;
            vertical-align: top;
        }
    }
    input[name="card_owner_name"],
    input[name="mobile"],
    input[name="sms_code"] {
        width: 210px;
    }
    .bank {
        .btn-default {
            width: 310px;
        }
        ul {
            max-height: 220px;
        }
        li.active {
            background-color: @brand-primary-lighter;
            border-top: 1px solid @brand-primary;
            border-bottom: 1px solid @brand-primary;
        }
        .badge-info {
            position: absolute;
            right: 30px;
            top: 8px;
            border-radius: 2px;
        }
    }

    #verify-code {
        button {
            margin-left: 10px;
        }
    }
    .icon-question-circle {
        margin-left: 20px;
    }
    .bank-region {
        .icon-question-circle {
            vertical-align: top;
            margin-top: 10px;
        }
    }
    input[name="card_open_location"],
    input[name="card_num"] {
        width: 400px;
    }

    .propmpt {
        margin-left: 140px;
        .icon {
            margin-right: 10px;
            margin-left: -24px;
        }
    }

    .province,
    .city,
    .area,
    .country {

        .btn-default {
            min-width: 100px;
        }
    }

    .area,
    .country {
        display: none;
    }
    .btn-save {
        width: 190px;
    }

}

.bind-success {

    display: none;
    text-align: center;
    padding: 4 * @gap-vertical-huge 0;

    h3 {
        color: @brand-text;
        font-size: @font-size-large;
    }
    .icon-check-circle {
        color: @brand-success;
        font-size: @font-size-huge;
        margin-right: @gap-horizontal-medium;
        vertical-align: middle;
    }
    .btn-primary {
        margin-top: @gap-vertical-large;
    }
}

#content {
    .footer {
        margin-top: 100px;
        text-align: center;

        > span {
            background: url(../../../img/im/expression-50.png) no-repeat 0 0;
            display: inline-block;
            margin-right: 15px;
            width: 104px;
            height: 123px;
            vertical-align: middle;
        }
        a {
            margin-left: 5px;
            margin-right: 10px;
            color: @brand-info;
            &:hover {
                color: @brand-primary;
            }
        }
    }
}

.bind-failure-dialog {

    .btn-primary {
        width: 100px;
        margin-top: 40px;
    }
    .dialog-body {
        text-align: center;
    }
}

.hidden {
    display: none;
}