/**
 * @file 个人中心 - 钱包管理
 * @author zhujialu
 */

@import './common/layout.less';
@import './common/floatHelp.less';
@import '../component/unbindCardDialog.less';

#content {

    .card-body {
        min-height: 100px;
        position: relative;
    }

    // 在提现的时候增加提现操作演示视频
    .card-header {
        .clearfix();
        h2 {
            font-size: 14px;
        }
        .cash-guide-link {
            float: right;
            display: block;
            color: @brand-info;
            font-size: 13px;
            margin-top: 4px;
            font-weight: bold;

            .icon-camera {
                position: relative;
                top: 2px;
                right: 3px;
                font-size: @font-size-medium;
            }

            &:hover {
                text-decoration: underline;
            }
        }
        .fund {
            float: right;
            font-size: 14px;
            .question {
                color: #666;
                margin-right: 5px;
            }
        }

    }

    .balance,
    .income,
    .bank-card {
        .inline-block();
        border: 1px solid @brand-gray;
        vertical-align: top;
    }

    .money {
        color: @brand-text;
        font-size: @font-size-large;

    }

    .balance {
        height: 139px;
        padding:  @gap-vertical-large
                  @gap-horizontal-huge;
        .action {
            margin-top: @gap-vertical-medium;
        }
        .btn-info {
            margin-left: @gap-horizontal-small;
        }
    }

    .income {

        border-left: none;

        .expect,
        .total {
            padding: 23.5px
                     2 * @gap-horizontal-huge;
        }

        .expect {
            border-bottom: 1px solid @brand-gray-light;
        }
        .money {
            font-size: @font-size-small;
        }
    }

    .prize {

        display: inline-block;
        margin: 35px 0 0 40px;

        strong {
            display: block;
            font-weight: bold;
            font-size: 1.5em;
            margin-top: 0.5em;
        }

        .rules {
            .trigger {
                position: relative;
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    .tip {
                        display: block;
                    }
                }
            }

        }
        .tip {
            position: absolute;
            padding: 20px;
            width: 330px;
            left: 0;
            top: 25px;
            background-color: #fff;
            z-index: 1;
            border: 1px solid @brand-gray;
            display: none;
            ol {
                margin-bottom: 20px;
                font-size: @font-size-medium;
            }

            &:before,
            &:after {
                content: ' ' !important;
                border: 7px solid transparent;
                position: absolute;
                left: 14px;
                visibility: visible !important;
            }
            &:before {
                border-bottom-color: @brand-gray;
                top: -14px;
            }
            &:after {
                border-bottom-color: #fff;
                top: -13px;
            }
        }
    }

    .history-header {
        text-align: center;
        position: relative;
        .tip {
            position: absolute;
            font-size: @font-size-tiny;
            right: 35px;
            top: 16px;
        }
    }

    .history {

        text-align: center;
        a:hover {
            color: @brand-info;
            text-decoration: underline;
        }
        h3 {
            background-color: @brand-gray-lighter;
            border-top: 1px solid @brand-gray-light;
            border-bottom: 1px solid @brand-gray-light;
            padding: @gap-vertical-medium 0;
        }

        td {
            vertical-align: middle;
            font-size: @font-size-tiny;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        .total {
            font-weight: bold;
        }

        .settlement {
            margin-right: 5px;
        }

        .muted {
            color: #CCC;
        }

        .failure {
            position: relative;
            margin-left: 5px;

            &:hover {
                .failure-text {
                    display: block;
                }
            }

            .failure-text {
                width: 200px;
                left: -30px;
                position: absolute;
                display: none;
                top: 20px;

                span {
                    position: absolute;
                    background-color: @brand-primary-lighter;
                    border: 1px solid @brand-primary-light;
                    padding: 6px 12px;
                    z-index: @zindex-tiny;
                    box-shadow: 0 1px 1px #EEE;
                    max-width: 100%;

                    .triangle-up(6px, 30px, @brand-primary-light, @brand-primary-lighter);
                }
            }
        }
    }

    .no-data {
        .vertical-middle(100px);
        text-align: center;
        width: 100%;
    }

    .org-teacher {
        text-align: center;

        .org-pic {
            background: url(../../../img/teacher-center/org_teacher.png) no-repeat;
            width: 132px;
            height: 123px;
            margin: 140px auto 50px;
        }

        .org-text {
            font-size: 18px;
            color: @brand-text;
            font-weight: 600;

            a {
                color: @brand-primary;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .org-phone {
            font-size: 14px;
            color: @brand-text-lighter;
            margin-bottom: 200px;
        }
    }

    .teacher-cash {
        position: relative;

        .account-balance {
            font-size: 15px;
            margin-bottom: 10px;
            > label {
                color: #333;
            }
            > .money {
                font-size: 200%;
            }
        }
        .expect-income,
        .total-income {
            display: inline-block;
            font-size: 15px;
            > label {
                color: #999;
            }
            > .money {
                color: #999;
                font-size: 100%;
            }
        }
        .total-income {
            margin-left: 20px;
        }

        > .action {
            position: absolute;
            right: 0;
            top: 20px;
        }
        #btn-withdraw {
            margin-left: 10px;
        }

        .fine-detail {
            margin-top: 20px;

            > .text-muted {
                margin-top: 6px;
            }
        }
    }

}

.settlement-dialog {
    ol {
        list-style-type: decimal;
        padding-left: 20px;
        margin-top: 10px;
    }
    .form-checkbox {
        margin-left: 10px;
    }
}
