/**
 * @file 学生中心 返现活动
 * @author liucong
 */

@import './common/layout.less';

#content {
    & > .wrapper {
        padding: 20px;
    }

    .info {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        h1 {
            font-size: 30px;
            font-weight: bold;
            color: #000;
        }
        .detail {
            margin: 15px auto;
            a {
                padding: 6px 30px;
                color: #fff;
                background-color: #FA5050;
                border-radius: 20px;

                .transition(
                    background-color 0.2s,
                    color 0.2s
                );
            }
            a:hover {
                background-color: darken(#FA5050, 4%);
                color: darken(#fff, 4%);
            }
        }
        .prize-money {
            font-size: 30px;
            color: #FA5050;
        }
        & > a {
            color: @brand-info;
        }
    }

    .header {
        background-color: #F8E9E8;
        color: #FA5050;
        font-size: 16px;
        margin: 0 15px;
        padding: 10px 10px;
        font-weight: bold;
    }
    h3 {
        font-weight: bold;
    }
    .ways {
        margin-bottom: 10px;
        .title {
            font-weight: bold;
        }

        .way {
            padding: 30px 15px 30px 25px;
            border: 2px solid transparent;
            position: relative;
            .clearfix();
            .transition(
                background-color 0.1s,
                border 0.1s
            );
            .splitter {
                .transition(
                    border-color 0.1s
                );
            }

            &:hover {
                background-color: #FFFBEE;
                border: 2px solid #FDBA5F;

                .splitter {
                    border-color: transparent;
                }
            }
        }

        .splitter {
            height: 0;
            margin: 0 15px;
            border-top: 1px dotted @brand-gray;
        }

        .form {
            display: none;
            .form-group {
                margin-top: 20px;
            }
        }
        .way1 {
            line-height: 36px;
        }
        .way2 {
            line-height: 130px;
        }

        .invite {
            float: right;
        }

        .text {
            float: left;
            line-height: 36px;
        }

        .qrcode {
            width: 130px;
            height: 130px;
            float: right;
        }
        .link {
            font-size: 12px;
            .form-text {
                width: 450px;
            }
            input {
                font-size: 12px;
                border: 1px solid @brand-gray;
                padding: 5px 10px;
            }
        }
        .copy {
            float: right;
            .vertical-middle(72px);
            display: none;
        }

        .social {
            float: right;
            margin-top: -15px;
            cursor: pointer;
        }

        .baidu-share {
            top: 41px;
            right: 10px;
        }
    }

    .record {
        .type-icon {
            width: 18px;
            height: 18px;
            vertical-align: middle;
            margin-right: 5px;
        }

        .introduction {
            margin: 0 15px;
            padding: 20px 10px;
            .clearfix();
            li {
                font-size: 12px;
                float: left;
                margin-right: 10px;
            }
        }
        .icon {
            margin-right: 5px;
        }
        .register {
            color: #A4001F;
        }
        .trade {
            color: #1E4C90;
        }
        .prize {
            color: #8D14A3;
        }

        .records {
            margin: 0 15px;
            background-color: #FAF9F9;
            padding: 20px 10px;
            li {
                line-height: 40px;
            }
            .name {
                color: @brand-primary;
            }
        }
    }
}