/**
 * @file 课节评价
 * @author wangyujie
 */

@import './common/layout.less';
@import './component/order.less';
@import './component/courseOrder.less';
@import '../component/cancelOrderDialog.less';
@import '../component/moreImageUploader.less';

.card {

    .use-plat-ensure {
        color: #ff9900;
    }

    .order {
        padding-left: 0;
        padding-right: 0;
    }

    .lesson-list {
        .comment-head {
            color: @brand-text;
            border-top: 1px solid #ddd;
            padding: 14px @gap-horizontal-medium;
            .comment-no {
                display: inline-block;
                min-width: 100px;
                margin-right: @gap-horizontal-medium;
            }
            .comment-content {
                .icon {
                    vertical-align: middle;
                    margin-left: @gap-horizontal-small;
                }
            }
            .comment-status {
                float: right;
            }
        }
        .trigger {
            cursor: pointer;
        }
        .over {
            color: @brand-text-lighter;
        }

        .comment-box {
            display: none;
            padding: 0 50px;
            margin-bottom: 3 * @gap-vertical-medium;

            .teacher-list {
                .clearfix();
                margin-bottom: 3 * @gap-vertical-medium;
                h3 {
                    font-size: 16px;
                    margin-top: @gap-vertical-medium;
                    margin-bottom: 3 * @gap-vertical-medium;
                }
            }

            .teacher {
                cursor: pointer;
                float: left;
                position: relative;
                text-align: center;
                margin-right: 3 * @gap-horizontal-medium;
                &:hover {
                    color: @brand-primary;
                    img {
                        border: 2px solid @brand-primary;
                    }
                }
                .avatar-small {
                    display: block;
                    margin-bottom: @gap-vertical-small;
                }
                img {
                    border: 2px solid transparent;
                }
                .icon {
                    position: absolute;
                    left: 52px;
                    top: 49px;
                }
            }

            .active {
                color: @brand-primary;
                img {
                    border: 2px solid @brand-primary;
                }
            }

            .title {
                margin-bottom: 10px;

                a {
                    color: #6990e5;
                }

                .comment {
                    float: right;
                    cursor: pointer;
                }
            }

            .info {
                display: block;
                height: 100%;
                margin-bottom: 6px;
                overflow: hidden;

                .face {
                    float: left;
                    margin-right: 10px;

                    .icon {
                        font-size: 18px;
                        margin-right: 10px;
                    }
                }

                .score {
                    float: left;
                }

                .status {
                    float: right;
                    color: #999999;
                }
            }

            .content {
                clear: both;
                word-wrap: break-word;
                word-break: break-all;
                color: #333333;
            }

            .judge {
                position: relative;
                top: -10px;
                color: @brand-text;

                .form-radio {
                    margin-right: @gap-horizontal-medium;
                }

                .icon {
                    font-size: 25px;
                    vertical-align: middle;
                }

                .icon-smile-o {
                    color: #F66;
                }

                .icon-neutral-o {
                    color: #F0C000;
                }

                .icon-frown-o {
                    color: @brand-text-light;
                }
            }

            .form-editor {
                width: 100%;

                .placeholder-wrapper {
                    width: 100%;
                }

                textarea {
                    width: 100%;
                    height: 170px;
                }
            }

            .score {
                position: relative;
                top: -10px;

                ul {
                    .clearfix();
                }

                li {
                    float: left;
                    margin-left: @gap-horizontal-huge;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            .info {
                .score {
                    top: 1px;
                }
            }

            .judge {

                color: @brand-text;
                margin: @gap-vertical-medium 0;

                .form-radio {
                    margin-right: @gap-horizontal-medium;
                }

                .icon {
                    font-size: 25px;
                    vertical-align: middle;
                }

                .icon-smile-o {
                    color: #F66;
                }

                .icon-neutral-o {
                    color: #F0C000;
                }

                .icon-frown-o {
                    color: @brand-text-light;
                }
            }

            textarea {
                width: 718px;
                height: 170px;
            }

            .score {

                ul {
                    .clearfix();
                }

                li {
                    float: left;
                    margin-left: @gap-horizontal-huge;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .form-group {
        margin-top: 0;
    }

    .form-action {
        margin-top: @gap-horizontal-medium;
        .btn-comment {
            margin-right: 20px;
        }
    }

    .comment-photo-box {
        width: 496px;
        height: 100%;
        overflow: hidden;

        .comment-photo-list {
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding-left: 1px;
            padding-top: 1px;

            li {
                float: left;
                padding: 2px;
                border: 1px solid #E6E6E6;
                margin-right: 8px;
                margin-bottom: 12px;
                cursor: pointer;

                img {
                    width: 80px;
                    height: 60px;
                    display: block;
                    clear: both;
                }
            }

            li.active {
                border: 2px solid #FF7F00;
                position: relative;
                top: -1px;
                left: -1px;
            }
        }

        .comment-photo-player {
            width: 494px;
            height: 100%;
            overflow: hidden;
            border: 1px solid #DEDEDE;
            text-align: center;
            margin-bottom: 14px;

            .photo-action {
                height: 100%;
                width: 100%;
                overflow: hidden;
                margin: 10px 14px;
            }

            li {
                float: left;
                margin-right: 15px;
                font-size: 14px;
                color: #3d3d3d;
                cursor: pointer;
            }

            .photo-icon {
                background: url(../../../img/teacher/photo-action.png);
                width: 14px;
                height: 14px;
                display: inline-block;
                margin-right: 5px;
                position: relative;
                top: 1px;
            }

            .photo-packup {
                background-position: 0 0;
            }

            .photo-sourse {
                background-position: -20px 0;
            }

            .photo-left {
                background-position: -40px 0;
            }

            .photo-right {
                background-position: -58px 0;
            }

            .photo-wrapper {
                overflow: hidden;
                margin: 0 auto;
                text-align: center;
                position: relative;
                cursor: pointer;

                .floater {
                    float: left;
                    height: 50%;
                    width: 100%;
                }

                img {

                }
            }

            .photo-name {
                margin: 10px auto;
                text-align: center;
                color: #333333;
                font-size: 14px;
            }
        }
    }

}

.ie8 {
    .comment-photo-player {

        .left,
        .right {
            display: none;
        }
    }
}

.sensitive {
    em {
        color: @brand-primary;
    }
}

.comment-act {
    display: none;

    .comment-act-mask, .comment-act-mask + div {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
    }

    .comment-act-mask {
        .opacity(0.8);
        background-color: #000;
        z-index: @zindex-huge;

        & + div {
            background: url(../../../img/center/prize.png) 50% 50% no-repeat;
            text-align: center;
            z-index: @zindex-huge + 1;
        }
    }
}

.dialog-alert {
    .dialog-action {
        .btn-muted {
            border: 1px solid black;
            border-radius: 4px;
            padding: 6px 12px;
            line-height: 20px;
            margin-right: 20px;
            display: inline-block;
            cursor: pointer;
        }
    }
}





