/**
 * @file 秘书提醒
 * @author zhangjiayi
 */

@import './common/layout.less';
@import '../component/daytimeSelect.less';


.tab {
    .tab-nav-primary {
        height: 50px;
    }
}

.message-list {

    .table {

        .checked {
            color: @brand-primary;
            padding: 0;
            width: 4%;
        }

        .content {
            text-align: left;
            vertical-align: middle;
            a {
                color: #f90;
                display: inline-block;
                max-width: 260px;
                text-overflow: ellipsis;
                overflow: hidden;
                vertical-align: bottom;
                white-space: nowrap;
            }
            .chat-label {
                border: none;
                color: #888;
                cursor: pointer;
                font-size: 14px;
                line-height: 22px;
            }
        }
        thead .content {
            text-align: center;
        }
        .time {
            padding-rihgt: 10px;
            width: 15%;
        }

        .type  {
            padding-rihgt: 10px;
            width: 10%;
        }

        .has-read {
            color: #999;
            .content {
                a {
                    color: #999;
                    &:hover {
                        color: #f90;
                    }
                }
            }
        }

    }

    .more {
        cursor: pointer;
        margin-top: 1em;
        text-align: center;

        &:hover {
            color: @brand-primary;
        }
    }

}

.message-setting {

    text-align: left;

    .header {
        background-color: @brand-primary-lighter;

        padding: 20px 10px;
    }

    .switcher {

        i {

            .user-select(none);

            background: url(../../../img/teacher-center/switch.png) no-repeat;
            cursor: pointer;
            display: inline-block;
            width: 42px;
            height: 22px;
            vertical-align: bottom;
            margin-left: 5px;
        }


    }

    .time-duration {
        margin: 0 10px;
    }

    .no-disturb {
        float: right;

        &.off {

            .time-duration,
            .edit-time {
                visibility: hidden;
            }

            .switcher {
                color: @brand-text-lighter;

                i {
                    background-position: 0 -22px;
                }
            }
        }

        &.on .switcher {
            color: @brand-success;

            i {
                background-position: 0 0;
            }
        }
    }

    table {
        border-top: 1px solid #ccc;
    }

    tr {
        border: 1px solid transparent;
        border-bottom-color: #DDD !important;

        &:first-child {
            border-top-color: #DDD;
        }

        &:hover {
            background-color: #f4f5f8;
            border-left-color: #DDD;
            border-right-color: #DDD;
            .transition(0.1s background-color);
        }
    }
    td {

        text-align: left;

        &:first-child {
            width: 150px;

            small {
                margin-left: 20px;
            }
        }

        strong {
            color: @brand-text;
        }

        .icon {
            font-size: 20px;
            margin-right: 5px;
            vertical-align: text-bottom;
        }
    }




    .form-checkbox {

        margin-right: 20px;
        width: 145px;

        + .form-checkbox {
            margin-left: 0;
        }
    }

    .link {

        color: @brand-info;
        cursor: pointer;

        &:hover {
            color: @brand-primary;
        }
    }

    small {
        color: @brand-text-lighter;
        display: block;
        font-size: @font-size-tiny;
    }

    .footer {

        padding: 20px 10px;

        .link {
            margin-right: 20px;
        }

        > div {
            margin-top: 30px;
            text-align: center;
        }
    }
}

.recover-dialog {
    .row {

        height: 40px;
        width: 100%;
        margin: 10px;

        .col1 {
            width: 100px;
            padding-top: 5px;
        }

        .col2 {

            width: 220px;

            .btn,
            input,
            textarea {
                width: 178px;
            }

            textarea {
                height: 50px;
            }

            .dropdown
             {
                width: 200px;
            }

        }

        .col1,
        .col2 {
            float: left;
        }

    }

    .textarea-row {
        height: 100px;
    }

}

.time-duration-dialog {
    .dropdown {
        margin: 0 10px;
    }
}