/**
 * @file 账户设置
 * @author zhujialu
 */

@import './common/layout.less';
@import './../component/mobileInput.less';
@import './../component/defaultAvatarDialog.less';


#content {
    .settings {
        border-bottom: 1px solid @brand-gray;
        border-right: 1px solid @brand-gray;
    }
    .item {
        border-top: 1px solid @brand-gray;
        border-left: 1px solid @brand-gray;
    }

    .item-header {

        @gap-horizontal: 2 * @gap-horizontal-huge;

        padding: @gap-vertical-small 0;
        .transition(0.4s background-color);

        &:hover {
            background-color: @brand-gray-lighter;
        }

        strong,
        p {
            .inline-block();
            margin-left: 2 * @gap-horizontal-medium;
            vertical-align: middle;
        }

        strong {
            font: @font-size-medium @font-family-title;
            color: @brand-text;
            height: 46px;
            line-height: 46px;
            vertical-align: middle;

        }

        p {
            font-size: 12px;
            color: @brand-text-lighter;
            width: 350px;
        }

        .action {
            width: 220px;
            text-align: right;
            display: inline-block;
            margin-top: @gap-horizontal-tiny;
            .btn {
                color: @brand-info;
            }
            a {
                margin-left: 12px;
            }
        }
    }

    .on {
        strong {
            margin-left: 80px;
        }
        i {
            display: none;
        }
    }

    .item-body {

        border-top: 1px solid @brand-gray;
        display: none;

        padding: 2 * @gap-vertical-huge
                 2 * @gap-horizontal-huge;
    }

    .form,
    .second-form,
    .form-result,
    .form-resule-show {
        margin: 0 auto;
        display: none;
        .form-static {
            margin-left: @gap-horizontal-small;
        }
    }

    .form {
        width: 500px;
        margin: 0;
    }

    .form-group {
        .form-radio {
            width: 100%;
            margin-left: 0;
        }
    }

    .hidden {
        display: none;
    }

}
