/**
 * @file 钱包管理 - 提现
 * @author wnagyujie
 */

@import './common/layout.less';
@import '../../pay/common/component/find-password-dialog.less';

#content {

    .form-group {

        input[name="money"],
        input[name="pay_password"] {
            width: 230px;
        }

        .bank {
            .inline-block();
            border: 1px solid @brand-gray-light;
            padding: 7px @gap-horizontal-medium;

            .icon {
                vertical-align: middle;
            }
        }

    }

    .method-pc .pc,
    .method-mobile .mobile {
        border-color: @brand-success;
        cursor: default;
        box-shadow: 0 0 1px @brand-success-light;
    }



    .method-mobile {
        .group-password {
            display: none;
        }
    }

    .group-amount {
        .form-static {
            display: none;
        }
    }

    .method-pc .amount-pc,
    .method-mobile .amount-mobile {
        display: inline-block;
    }

    .withdraw-method {
        background-color: @brand-info-lighter;
        border: 1px solid @brand-gray-light;
        cursor: pointer;
        display: inline-block;
        padding: 8px 15px;
        margin-right: 15px;

        input {
            display: none;
        }

    }



    .label-success {
        border-color: @brand-success;
        background-color: @brand-success;
        color: #FFF;
        margin-left: 5px;
    }

    .icon-screen,
    .icon-mobile {
        font-size: 25px;
        margin-right: 5px;
        vertical-align: middle;
    }

    .form-action {
        margin-left: 100px;
    }

    .form-label {
        width: 100px;
    }

    .balance {
        font-weight: bold;
    }


    .success {

        i {
            margin-right: @gap-horizontal-tiny;
        }
    }

    .pay-password {
        color: @brand-primary;
        font-weight: bold;
        cursor: pointer;
    }

    .form-inline {
        font-size: @font-size-tiny;
    }

    .form-action small {
        margin-left: 1em;
    }

    .footer {
        margin-top: 100px;
        text-align: center;

        > span {
            background: url(../../../img/im/expression-50.png) no-repeat 0 0;
            display: inline-block;
            margin-right: 15px;
            width: 104px;
            height: 123px;
            vertical-align: middle;
        }
        a {
            margin-left: 10px;
            text-decoration: underline;
        }
    }
}

.withdraw-success {

    display: none;
    padding: 4 * @gap-vertical-huge 0;
    text-align: center;

    h3 {
        color: @brand-text;
        font-weight: bold;
        font-size: @font-size-large;
        margin-bottom: @gap-vertical-medium;
        text-align: center;
    }
    .icon-clock-o {
        color: @brand-text-lighter;
        font-size: @font-size-huge;
        margin-right: @gap-horizontal-small;
        vertical-align: text-bottom;
    }
    .btn-primary {
        margin-top: @gap-vertical-huge;
    }

    ul {
        display: inline-block;
        margin: 0 auto;
        list-style-type: disc;
        text-align: left;
    }
}

.hidden {
    display: none;
}

.voice-code-link {
    margin-left: 110px;

    .btn-link {
        font-size: @font-size-tiny;
        color: @brand-info;
        &:hover {
            color: @brand-primary;
        }
    }
    span {
        padding-top: 0;
    }
}

.prompt {
    margin-left: 100px;
    margin-top: @gap-vertical-small;
    .icon {
        margin-right: @gap-horizontal-tiny;
    }
}
.method-mobile .prompt {
    display: none;
}



