{{ *
    @file 奖学金列表组件
    @author liucong
* }}

{{ strip }}

{{ $prize_list = $tpl_data.prize_record.list }}
{{ $prize_pager = $tpl_data.prize_record.pager }}

{{ if $prize_list|count > 0 }}
<ul>
   {{ foreach $prize_list as $record }}
   <li>
        <div class="wrapper">
            <img src="{{ $record.avatar }}" alt="" class="avatar">
            <div class="comment">
                <p class="info">
                    <span class="name">{{ $record.name }}</span>
                    <span>{{ $record.time }}</span>
                </p>
                <p class="content">{{ $record.info }}</p>
            </div>
            <span class="money">￥{{ $record.money }}</span>
       </div>
   </li>
   {{ /foreach }}
</ul>
{{ /if }}
{{ include file="common/component/pager.html" page=$prize_pager.page page_size=$prize_pager.page_size count=$prize_pager.count   hide_jump=true }}


{{ /strip }}

