{{ *
@file 老师中心 资料库 文件条目组件
@author liucong

参数  $tpl_data
* }}

{{ strip }}

{{ function name="formatFileSize" }}

    {{ if $size < 1024 }}
        {{ ($size)|number_format:1|cat:"B" }}
    {{ else if $size < (1024 * 1024) }}
        {{ ($size / 1024)|number_format:1|cat:"KB" }}
    {{ else if $size < (1024 * 1024 * 1024) }}
        {{ ($size / (1024 * 1024))|number_format:1|cat:"MB" }}
    {{ else if $size < (1024 * 1024 * 1024 * 1024) }}
        {{ ($size / (1024 * 1024 * 1024))|number_format:1|cat:"GB" }}
    {{ /if }}
{{ /function }}

{{ function name="formatFileType" }}
    {{ if in_array($type, ['folder','other','txt','zip','rar','doc','docx','ppt','pptx','xls','xlsx','pdf','jpg','png','mp4','avi','flv','mkv','mp3','wav','all']) }}
        {{ $type }}
    {{ else }}
        {{ 'other' }}
    {{ /if }}
{{ /function }}

<div class="header">
    {{ * 去掉开头的/ * }}
    {{ $full_path = preg_replace("/^\//", "", $tpl_data.path) }}
    {{ $full_path_alias = preg_replace("/^\//", "", $tpl_data.path) }}

    {{ * 打成数组 * }}
    {{ $path_arr = explode("/", $full_path) }}
    {{ $path_arr_alias = explode("/", $full_path_alias) }}

    {{ * 去掉最后一个空值 * }}
    {{ array_pop($path_arr)  }}
    {{ array_pop($path_arr_alias)  }}

    <span class="path">
        {{ if $tpl_data.bar_hidden }}
            <b data-path="{{ $tpl_data.root_path }}">
                <span>我的资料库</span>
            </b>
        {{ else }}
            {{ $path_append = "" }}
            {{ foreach $path_arr as $path }}

                {{ $path_append = $path_append|cat: $path|cat:"/" }}

                {{ if $path@index != 0 && $path@index != 1 }}
                <span>&nbsp;&gt;&nbsp;</span>
                {{ /if }}

                {{ if $path@index != 0 }}
                    {{ if $path@last }}
                    <span>
                        {{ if $path@index == 1 }}
                            我的资料库
                        {{ else }}
                            {{ $path_arr_alias[$path@index] }}
                        {{ /if }}
                    </span>
                    {{ else }}
                    <b data-path="{{ $path_append }}">
                        <span>
                            {{ if $path@index == 1 }}
                                我的资料库
                            {{ else }}
                                {{ $path_arr_alias[$path@index] }}
                            {{ /if }}
                        </span>
                    </b>
                    {{ /if }}
                {{ /if }}
            {{ /foreach }}
        {{ /if }}
    </span>

    <span class="info">
        共{{ $tpl_data.objects|count }}个&nbsp;&nbsp;&nbsp;&nbsp;

        {{ if $tpl_data.is_org_teacher }}
            <span class="dilatation">
                扩容
            </span>
        {{ else }}
            <a class="dilatation" href="/teacher_center/storage_space" target="_blank">
                扩容
            </a>
        {{ /if }}
        &nbsp;&nbsp;

        {{ if $tpl_data.quota_used < $tpl_data.quota_total }}
            （已使用空间：
            <span class="text-primary">
                {{ formatFileSize size=$tpl_data.quota_used }}
            </span>/{{ formatFileSize size=$tpl_data.quota_total }}）
        {{ else }}
            （<span class="text-error">存储空间已满</span>：
            <span class="text-error">
                {{ formatFileSize size=$tpl_data.quota_used }}
            </span>/{{ formatFileSize size=$tpl_data.quota_total }}）
        {{ /if }}
    </span>
</div>

<table class="table">
    <colgroup>
        <col width="65%"></col>
        <col width="15%"></col>
        <col width="20%"></col>
    </colgroup>

    <thead>
        <tr>
            <th class="left">
                {{ if !$tpl_data.bar_hidden }}
                    <input type="checkbox" value="all">
                    <div class="cat">
                        资料类别
                        <i class="icon icon-caret-down"></i>
                        <div class="menu">
                            <b data-cat="1"><i class="icon icon-file-all tiny"></i>全部</b>
                            <b data-cat="2"><i class="icon icon-file-txt tiny"></i>文档</b>
                            <b data-cat="3"><i class="icon icon-file-jpg tiny"></i>图片</b>
                            <b data-cat="4"><i class="icon icon-file-mp3 tiny"></i>音乐</b>
                            {{ * <b data-cat="5"><i class="icon icon-file-mp4 tiny"></i>视频</b> * }}
                        </div>
                    </div>
                {{ else }}
                    文件名
                {{ /if }}
            </th>

            <th class="left sort" data-sortby="size" {{ if $tpl_data.sort_by == 'size' }} data-direction="{{ $tpl_data.direction }}"{{ /if }}>
                大小
                <span class="desc">
                    <i class="icon icon-arrow-down"></i>
                </span>
                <span class="asc">
                    <i class="icon icon-arrow-up"></i>
                </span>
            </th>

            <th class="left sort" data-sortby="update_at" {{ if $tpl_data.sort_by == 'update_at' }} data-direction="{{ $tpl_data.direction }}"{{ /if }}>
                修改日期
                <span class="desc">
                    <i class="icon icon-arrow-down"></i>
                </span>
                <span class="asc">
                    <i class="icon icon-arrow-up"></i>
                </span>
            </th>
        </tr>
    </thead>

    <tbody>
        {{ foreach $tpl_data.objects as $item }}

        {{ if preg_match("/\/$/", $item.path) }}
            {{ $item_type = "folder" }}
        {{ else }}
            {{ $tmp = preg_match("/\.(\w+)$/", $item.name, $item_type) }}
            {{ $tmp = [] }}
            {{ $item_type = $item_type[1] }}
        {{ /if }}


        <tr {{ if $item@last }} class="last"{{ /if }} data-path="{{ $item.path }}" data-name="{{ $item.name|escape: 'html' }}" data-type="{{ $item_type }}" data-size="{{ $item.size }}" data-download="wyj" {{ if isset($item.is_live) }}data-is-live="{{ $item.is_live }}"{{ /if }} data-share-courses="{{ $item.share_courses|escape: 'html' }}">

            <td class="left">
                <div class="actions">
                    {{ if $item.name == '视频课文件库' }}
                        <a href="/video_course/getcourselist?type=1&page=1&page_size=10" target="_blank">
                            <i class="icon icon-manage-o" data-title="跳转至视频课管理"></i>
                        </a>
                    {{ /if }}

                    {{ if $item.name == '直播回放视频' }}
                        <a href="http://b.genshuixue.com/detail.html#/cloudPlayback" target="_blank">
                            <i class="icon icon-manage-o" data-title="跳转至直播课回放管理"></i>
                        </a>
                    {{ /if }}

                    {{ if $item.can_download }}
                        <i class="icon icon-download" data-title="下载" data-action="download"></i>
                    {{ /if }}

                    {{ * <i class="icon icon-share-o" data-title="分享" data-action="share"></i> * }}

                    {{ if $item.can_move }}
                        <i class="icon icon-move-file" data-title="移动到" data-action="move"></i>
                    {{ /if }}

                    {{ if $item.can_rename }}
                        <i class="icon icon-rename" data-title="重命名" data-action="rename"></i>
                    {{ /if }}

                    {{ if $item.can_delete }}
                        <i class="icon icon-recycle-bin" data-title="删除" data-action="delete"></i>
                    {{ /if }}
                </div>

                <label>
                    {{ if $item_type == 'video' }}
                        <i class="icon icon-play-o"></i>
                    {{ else if $item.is_virtual_object }}
                        <i class="icon icon-file-virtual small"></i>
                    {{ else }}
                        <input type="checkbox" value="{{ $item@index }}">
                        <i class="icon icon-file-{{ formatFileType type=$item_type|lower }} small"></i>
                    {{ /if }}

                    <span class="name{{ if $item_type == 'folder' }} folder-trigger{{ /if }}">
                        {{ $item.name }}
                    </span>
                </label>
            </td>

            <td class="left">
                {{ if $item_type != 'folder' }}
                    {{ formatFileSize size=$item.size }}
                {{ else }}
                    -
                {{ /if }}
            </td>

            <td class="left">
                {{ if $item.update_at != null }}
                    {{ $item.update_at }}
                {{ /if }}
            </td>

        </tr>
        {{ /foreach }}
    </tbody>
</table>

{{ /strip }}