.info {
    height: rem(40);
    font-size: rem(14);
    color: #6d6d6e;
    line-height: rem(40);
    text-align: center;
    background: #f8f8f8;
}

.select-item, .cancel {
    height: rem(47);
    font-size: rem(16);
    color: #3D3D3E;
    line-height: rem(47);
    text-align: center;
    border-top: 1px solid #ebeced;
    position: relative;
    .icon {
        position: absolute;
        right: rem(10);
        top: 0;
        line-height: rem(48);
        border: 0;
        display: none;
    }
    &.selected {
        color: #37a4f5;
        .icon {
            display: block;
        }
    }
    .suggestion {
        height: rem(47);
        color: red;
        position: absolute;
        right: 20%;
    }
}

.cancel {
    color: #9d9d9e;
}

body .slide-dialog-mask .slide-dialog-content {
    max-height: rem(369);
    position: fixed;
}

.slide-dialog-mask .slide-dialog-content .slide-container {
    overflow: auto;
    max-height: rem(369);
}