@import "./common.styl";
.class-room {
    background: #f2f3f4;
    position: relative;
    min-height: 100%;
    .classroom-img {
        height: rem(211);
    }
    // .series-class {
    //     margin-bottom: rem(51);
    // }
    .empty-class {
        height: rem(80);
    }
}