{{ *

@file 邮寄资料信息
@author wanglu

* }}

{{ strip }}

<div class="form form-mail">

{{ if isset($re_mobile) }}
    {{ $re_mobile = $re_mobile }}
{{ else }}
    {{ $re_mobile = "" }}
{{ /if }}

{{ if isset($rev_name) }}
    {{ $rev_name = $rev_name }}
{{ else }}
    {{ $rev_name = "" }}
{{ /if }}

{{ if isset($location_addr) }}
    {{ $detail_addr = $location_addr }}
{{ else }}
    {{ $detail_addr = "" }}
{{ /if }}

{{ if !empty($remark) }}
    {{ $remark = $remark }}
{{ else }}
    {{ $remark = "" }}
{{ /if }}

{{ if !empty($h_mobile) }}
    {{ $h_mobile = $h_mobile }}
{{ else }}
    {{ $h_mobile = "" }}
{{ /if }}

  
    <div class="re-header">
        <span class="re-msg">
            收件人信息
            <span>(课程中包含邮寄资料，填写下列信息，保证您能收到讲义资料)</span>
        </span>
    </div>
    <div class="re-form">

        <!--收件人-->   
        <div class="form-group">
            <label class="form-label">
                <i class="form-required"></i>
                收件人：
            </label>
            <div class="form-controls">
                <input class="form-text input-name" type="text" name="rev_name" value="{{ $rev_name }}" />
                <span class="error"></span>
            </div>
        </div>
        
        <!--手机号或座机-->
        <div class="form-group">
            <label class="form-label">
                <i class="form-required"></i>
                手机号：
            </label>
            <div class="form-controls">
                <input class="form-text" type="text" name="re_mobile" value="{{ $re_mobile }}" />
                <span class="error"></span>
                <span class="label">
                    或座机：
                </span>
                <input class="form-text" type="text" name="h_mobile" value="{{ $h_mobile }}"/>
            </div>
        </div>
        
        <!--所在城市-->
        <div class="form-group">
            <div class="student-address city-address">
                <label class="form-label">
                    所在城市：
                </label>
                <div class="form-controls">
                    <div class="mail-region-select">
                        {{ include file="common/component/regionSelect.html" area_required=1 }}
                        <span class="error"></span>
                    </div>
                </div>
            </div>
        </div>

        <!--详细地址-->
        <div class="form-group">
            <label class="form-label">
                <i class="form-required"></i>
                详细地址：
            </label>
            <div class="form-controls">
                <input class="form-text input-address" type="text" name="detail_addr" value="{{ $detail_addr }}" />
                <span class="error"></span>
            </div>
        </div>

        <!--备注信息-->
        <div class="form-group">
            <label class="form-label">
                备注信息：
            </label>
            <div class="form-controls">
                <input class="form-text input-remark" type="text" name="remark" />
                <span class="error"></span>
            </div>
        </div>
    </div>
        
</div>
    


{{ /strip }}