.menu{
  background-color : #ebebeb;
  height:rem(34);
  line-height:rem(34);
  li{
    float : left;
    text-align : center;
    width:25%;
    font-size:rem(12);
  }
  a{
    color:#0086fd;
    display : block;
  }
  .menu-active{
    background-color: #0089f9;
    a{
      color:#fff;
    }
  }
}