/**
 * @file 考研专区 - 打包课
 * @author wangyujie
 */
@import '../../main/base.less';
@import '../../common/card.less';
@import './layout.less';
@import './profile.less';
@import './sidebar.less';
@import './content.less';
@import './dataInfo.less';
@import './consult.less';


@content-width: 820px;

#header {
    position: relative;
    .wrapper {
        width: 1100px;
    }
}

#main {
    .crumb {
        font-size: 12px;
        margin-bottom: @gap-vertical-medium;
        .course-number {
            color: #6d6d6d;
            float: right;
        }
    }
}

#flotage-bottom {
    li {
        display: none;
    }
}

#footer {
    .wrapper {
        width: 1100px;
    }
    .contention {
        width: 1000px;
    }
}













