@import '../../common/layout.less';
@import '../../common/component/loginDialog.less';
@import '../common/wrapper.less';
@import '../common/header.less';
@import '../common/photoVideo.less';

#content{
    width: 100%;
    .body{
        width: 1020px;
        min-width: 1020px;
        margin: 0 auto;
        .teacher-content-header {
            font-size: 14px;
            color: #000;
            font-weight: bold;
            width: 100%;
            height: 47px;
            text-align: left;
            padding-left: 20px;
            padding-top: 16px;
            display: inherit;
            border-bottom: 1px solid #eee;
            span{
                font-size: 12px;
                color: #888;
            }
            strong{
                width: 28px;
                display: inline-block;
                margin-right: 5px;
                height: 30px;
                border-bottom: 2px solid #f95;
            }
        }
        .clearfix();

    }
}