/**
 * @file 视频课详情页 2017.01.03
 * @author wangyujie
 */
@import '../main/base.less';
@import '../common/card.less';
@import './common/layout.less';

@import './common/courseInfo.less';
@import './common/middleContent.less';
@import './common/sidebar.less';
@import '../common/component/EnrollSuccessDialog.less';

#crumb {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #3d3d3d;
    ul {
        .clearfix();
        width: 1100px;
        margin: 0 auto;
    }

    li {
        float: left;
        margin-right: 10px;
    }

    .related-li {
        position: relative;
        &:hover {
            .related {
                display: block;
            }
        }
    }

    .related {
        display: none;
        position: absolute;
        top: 32px;
        border: 1px solid #eee;
        border-radius: 3px;
        background-color: #fff;
        min-width: 115px;
        width: 100%;
        z-index: 1;
        li {
            float: none;
            line-height: 20px;
            padding: 5px 15px;
        }
    }
}

.stage-dialog {
    .dialog-close {
        font-size: 30px;
        color: #999;
    }
    .dialog-header {
        background-color: #fff;
        text-align: center;
        font-size: 26px;
        color: #333;
        border: none;
    }
    .inner-box {
        width: 440px;
        margin: 0 auto;
        text-align: center;
        .stage-item {
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 193px;
            height: 69px;
            display: inline-block;
            text-align: center;
            padding-top: 5px;
            cursor: pointer;
            span {
                display: block;
                font-size: 18px;
                color: #999;
            }
            .stage-detail {
                font-size: 20px;
                color: #333;
            }
            margin-bottom: 20px;
        }
        .special {
            margin-left: 52px;
        }
        .selected {
            border: 1px solid #fc6c21;
            span {
                color: #fc6c21;
            }
            .stage-detail {
                color: #fc6c21;
            }
        }
        .stage-buy {
            background: #ff9900;
            border-radius: 2px;
            width: 170px;
            line-height: 44px;
            text-align: center;
            font-size: 20px;
            color: #ffffff;
            margin: 0 auto;
            margin-top: 14px;
            cursor: pointer;
        }
    }
    .three-items {
        width: 671px;
        margin: 0 auto;
        text-align: center;
        .special {
            margin: 0 20px;
        }
    }
}
.preview-dialog {
    .frame-box {
        img {
            max-width: 760px;
        }
    }
}