/**
 *
 * @file 视频课详情页
 * @author jixiaohui
 *
 */

@import '../main/base.less';
@import '../common/card.less';

@import './common/layout.less';
@import './detail/profile.less';
@import './detail/author.less';
@import './detail/summary.less';
@import './detail/section.less';

body {
    background: #fff;
}

#main {
    margin-top: 20px;

    .content {
        width: 775px;
        height: 138px;
        margin: 80px auto 180px;
        border: 2px solid #9E9E9E;
        background: #F0F0F0;
        padding: 20px 65px 0 45px;
    }

    .drop-icon {
        background: url(../../img/video/dropdown.png) no-repeat;
        width: 167px;
        height: 113px;
        display: inline-block;
        float: left;
        margin-right: 30px;
    }

    .info {
        color: #3d3d3d;

        .title {
            font-size: 18px;

            span {
                font-size: 22px;
                font-weight: bold;
            }
        }

        .description {
            font-size: 16px;
            margin-top: 15px;

            span {
                color: #ff7f00;
            }
        }
    }
}



