@import '../common/layout.less';
@import '../common/component/loginDialog.less';
body {
    min-width: 100%;
}

#main {

    @header-backgound-color: #DEDEDE;

    width: 100%;
    margin: 0;

    #side-bar {
        height: 100%;
        width: 390px;
        position: fixed;
        right: 0;
        overflow: auto;

        .header {
            background-color: @header-backgound-color;
            font-size: @font-size-medium;
            padding: 10px 20px;
            color: @brand-text;

            .outofline {
                font-size: 12px;
                color: #fc5600;
            }
        }

        .tag {
            .inline-block();
            background: url(../../img/video/icon.png) no-repeat;
            width: 48px;
            height: 18px;
            background-position: -4px -131px;
            margin-left: 5px;
            vertical-align: middle;
        }

        .teacher {
            padding: 10px 15px 20px 15px;
            & > div {
                .inline-block();
                vertical-align: top;
            }
            .info {
                margin-left: 5px;
            }
            .name {
                font-size: @font-size-medium;
                color: @brand-text;
            }
            .action {
                display: block;
                margin-top: 20px;
                .btn-primary {
                    width: 100%;
                }
            }
        }

        .write-comment-form {
            display: none;
            text-align: left;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            box-shadow: 0 3px 3px #ccc;
            padding: 10px 10px 20px;
            .icon-close {
                cursor: pointer;
                float: right;
            }
            .form-editor {
                textarea {
                    width: 325px;
                    height: 100px;
                }
                .form-hint {
                    float: right;
                }
            }
            .form-action {
                margin-top: -8px;
            }
            .error {
                left: 215px !important;
                top: -34px !important;
            }
            .btn-write-comment {
                width: 100%;
            }
        }

        .lesson-list {
            color: @brand-text;
            overflow-y: auto;
            .chapter {
                background: #ededee;
                line-height: 48px;
                font-size: 16px;
                color: #3d3d3e;
                padding-left: 10px;
            }
            .index {
                width: 70px;
                padding-left: 10px;
            }
            .label-free {
                color: @brand-primary;
                border: 1px solid @brand-primary;
                padding: 2px 6px;
            }
            .splitter {
                position: relative;
                width: 1px;
                height: 100%;
                background-color: @header-backgound-color;
                margin-right: 20px;
            }
            .circle {
                position: absolute;
                .inline-block();
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid @header-backgound-color;
                background-color: #F5F5F5;
                left: -6px;
                top: 13px;
            }

            .wrong-title {
                font-size: 12px;
                color: #fc5600;
            }

            li {
                line-height: 40px;
                height: 40px;
                cursor: pointer;
                & > div {
                    .inline-block();
                    vertical-align: top;
                }
                &:hover {
                    background-color: #ebebeb;
                }
            }
            .active-mixin() {
                background-color: #43496D;
                color: #fff;
                .circle {
                    background-color: #43496D;
                }
                .label-free {
                    color: #fff;
                    border-color: #fff;
                }
            }
            .active {
                .active-mixin();
                &:hover {
                    .active-mixin();
                }

                .wrong-title {
                    color: #fff;
                }
            }
            .first {
                .splitter {
                    height: 50%;
                    vertical-align: bottom;

                    .circle {
                        top: -7px;
                    }
                }
            }
            .last {
                .splitter {
                    height: 50%;
                    vertical-align: top;
                }
            }
        }

        .ad-wrapper {
            .ad-title {
                padding: 10px 20px;
                background-color: @header-backgound-color;
                font-size: @font-size-medium;
                color: @brand-text;
            }
            .ad-list {
                li {
                    padding: 0 10px;
                    overflow: hidden;
                    a:hover {
                        color: #6d6d6d;
                    }
                }
                span {
                    display: inline-block;
                }
            }
            .ad-more {
                overflow: hidden;
                padding: 5px 10px 25px;
                a {
                    display: inline-block;
                    padding: 0 12px;
                    float: right;
                    font-size: 14px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 3px;
                    background: #f90;
                    color: #fff;
                }
            }

            .ad-city {
            }
            .ad-company {

            }
            .ad-position {
                margin-left: 15px;
                color: #f90;
            }
            .ad-pay {
                float: right;
            }
        }
        .material-list {
            padding-bottom: 50px;
            .list-item {
                position: relative;
                font-size: 15px;
                color: #000;
                padding-left: 9px;
                border-bottom: 1px solid #d2d2d2;
                line-height: 42px;
                .item-name {
                    display: inline-block;
                    cursor: pointer;
                    width: 90%;
                }
                &:hover {
                    border: 1px solid #d2d2d2;
                    background-color: #f7f7f7;
                    border-top: none;
                }
                &:first-child:hover {
                    border: 1px solid #d2d2d2;
                    background-color: #f7f7f7;
                }
                .icon-new {
                    width: 31px;
                    height: 13px;
                    position: absolute;
                    display: inline-block;
                    margin-left: 10px;
                    background: url(../../img/classCourse/ic_new.png) no-repeat;
                }
                span {
                    position: absolute;
                    right: 15px;
                    bottom: 8px;
                    font-size: 13px;
                    color: #6d6d6e;
                    border: 1px solid #9d9d9e;
                    border-radius: 2px;
                    width: 40px;
                    line-height: 23px;
                    text-align: center;
                    display: none;
                    cursor: pointer;
                    &:hover {
                        background-color: #ff9100;
                        border: 1px solid #ff9100;
                        a {
                            color: #fff;
                        }
                    }
                }
                &:hover > span {
                    display: inline-block;
                }
            }
        }
    }

    #collapse-btn {
        position: fixed;
        right: 0;
        height: 100%;
        margin-right: 390px;
        z-index: 2;

        .vertical-middle(100%);
        .thumb-nail {
            background-color: #f5f5f5;
            border-radius: 2px;
            color: #333;
            cursor: pointer;
            font-size: 12px;
            width: 20px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            margin-right: -2px;

            .chevron-left {
                display: none;
            }
        }
    }

    #video-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 390px;
        z-index: 1;
        background-color: #282828;
        text-align: center;

        .title {
            color: #fff;
            margin-top: 25px;
            margin-left: 38px;
            font-size: @font-size-medium;

            text-align: left;

            .wrong-title {
                color: #fc5600;
                font-size: 12px;

                .icon-info-circle {
                    margin-right: 5px;
                }
            }
        }

        .go-back {
            font-size: @font-size-small;
            background-color: #575757;
            padding: 5px 10px;
            cursor: pointer;
        }
        #main-video {
            .inline-block();
            margin-top: 25px;
        }
    }

}

.collapsed {
    #side-bar {
        display: none;
    }
    #video-container {
        right: 0 !important;
    }
    #collapse-btn {
        margin-right: 0 !important;
        .chevron-left {
            display: inline-block !important;
        }
        .chevron-right {
            display: none;
        }
    }
    #main-video {
        margin-right: 0 !important;
    }
}