@import "../../../css/variable/color";
.suggestion {
    position: absolute;
    border: 1rpx solid @border-color;
    background-color:#fff;
    z-index: 100;
    max-height: 400rpx;
    view {
        height: 80rpx;
        padding-left: 20rpx;
        line-height: 80rpx;
    }
    view:not(last-child) {
        border-bottom: 1rpx solid @border-color;
    }
}