
.class-panel {

    @footer-height: 66px;

    position: relative;
    min-width: 730px;

    .user-select(none);

    .footer {

        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        background-color: #313339;

        padding: 14px 15px 14px 20px;
        height: @footer-height;

        //box-shadow: 0px -3px 10px rgba(0,0,0,0.5);


    }

    .icon-logo,
    .icon-mascot {
        margin-right: 20px;
    }

    .btn-primary,
    .btn-info {

        border: 1px solid #262626;
        border-radius: 2px;
        display: inline-block;
        color: #FFF;
        cursor: pointer;
        height: 38px;
        line-height: 1.4;
        margin-right: 10px;
        padding: 8px 17px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        vertical-align: top;
        outline: none;

        &:hover {
            .transition(0.2s background-image);
        }
        &:active {
            .transition(0.2s box-shadow);
            color: #5e5f62;
            box-shadow: inset 0 4px 8px rgba(0,0,0,0.5),
                        0 1px 5px rgba(0,0,0,0.1);
        }

        .icon {
            margin-right: 8px;
            vertical-align: middle;
        }
    }

    .btn-primary {
        .gradient-vertical(#ffaa00, #ff7b00);
        &:hover {
            .gradient-vertical(#ffbd45, #ff941b);
        }

    }
    .btn-info {
        .gradient-vertical(#6a6a6b, #363738);
        &:hover {
            .gradient-vertical(#818383, #4c4e4f);
        }
        &:active {
            .gradient-vertical(#ffbd45, #ff941b);
        }
    }

    > .whiteboard {
        position: absolute;
        top: 7px;
        bottom: @footer-height + 7;
        left: 85px;
        right: 85px;
        background-color: #FFF;
    }

    canvas {
        position: absolute;
        left: 0;
        top: 0;
    }

    .status {

        float: right;
        text-align: center;
        margin-top: -2px;


        > span {

            color: #CCC;
            cursor: pointer;

            &:hover {
                color: #FFF
            }
        }

        label {
            display: block;
            margin-top: 4px;
        }
    }

    .fullscreen-toggle {
        border: 1px solid #626367;
        border-radius: 2px;
        display: inline-block;
        padding: 5px 8px;
        margin-right: 12px;
    }

    .net-signal {
        display: inline-block;
    }

    .tool-bar {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -127.5px;
    }

    .action-bar,
    .style-bar {
        border: 1px solid;
        border-radius: 2px;
    }

    .action-bar {

        border-color: #c2c1c0;
        padding: 2px 5px;
        .gradient-vertical(#FFF, #e4e5e6);

        li {
            border: 1px solid transparent;
            border-radius: 2px;
            cursor: pointer;
            color: #9e9e9e;
            display: inline-block;
            width: 26px;
            height: 26px;
            line-height: 28px;
            text-align: center;
            margin-left: 5px;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                background-color: #e5e5e5;
                border-color: #ccc;

                box-shadow: inset 0 1px 5px rgba(0,0,0,0.15);

                .transition(0.8s background-color);
            }

            &.active {
                background-color: #cbcbcb;
                border-color: #b2b2b2;
                color: #666;
                box-shadow: inset 0 1px 5px rgba(0,0,0,0.15);

                .transition(0.8s background-color);
            }
        }
    }

    .style-bar {
        border-color: #cfcfce;
        background-color: #f9f9fa;
        padding: 4px 6px;

        position: absolute;
        top: -60px;
        left: 0;


        .thickness {

            li {
                border: 1px solid transparent;
                border-radius: 2px;
                cursor: pointer;
                color: #9e9e9e;
                display: inline-block;
                vertical-align: top;

                width: 22px;
                height: 22px;

                position: relative;
                overflow: hidden;

                margin-left: 6px;

                &:first-child {
                    margin-left: 0;
                }

                &.active {
                    background-color: #e5e5e5;
                    border-color: #ccc;
                    color: #666;

                    box-shadow: inset 0 1px 5px rgba(0,0,0,0.15);

                    .transition(0.8s background-color);
                }
            }

        }

        .icon-point {
            position: absolute;
            left: 50%;
            top: 50%;
        }

        .thin .icon-point {
            margin-left: -6.5px;
            margin-top: -6.5px;
        }

        .media .icon-point {
            font-size: 2em;
            margin-left: -13px;
            margin-top: -13px;
        }

        .thick .icon-point {
            font-size: 3em;
            margin-left: -19.5px;
            margin-top: -19.5px;
        }

        li {
            display: inline
        }

    }

    .sidebar {

        @box-shadow: -2px 0 6px rgba(0,0,0,0.2);

        position: absolute;
        right: 0;
        top: 0;
        bottom: @footer-height;
        box-shadow: @box-shadow;

        .wrapper {
            background-color: #FFF;
            height: 100%;
            position: relative;
            z-index: 1;
        }

        .toggle {
            position: absolute;
            left: -40px;
            top: 50%;
            margin-top: -89px;

            cursor: pointer;
            width: 178px;
            height: 178px;
            border-radius: 50%;

            background-color: #ebebeb;
            color: #9e9e9e;

            box-shadow: @box-shadow;

            .icon {
                font-size: 1.5em;
                position: absolute;
                top: 50%;
                left: 12px;
                margin-top: -10px;
            }

            &:hover {
                background-color: #F8F8F8;
            }
        }

        .pull {
            .icon-arrow-right {
                display: none;
            }
        }

        .push {
            .icon-arrow-left {
                display: none;
            }
        }
    }

}