@import '../icomoon/style.less';

.icon-logo,
.icon-mascot,
.icon-signal1,
.icon-signal2,
.icon-signal3,
.icon-signal4 {
    display: inline-block;
    background: url(../../../img/online/sprite.png) no-repeat;
    background-image: -webkit-image-set(
        url(../../../img/online/sprite.png) 1x,
        url(../../../img/online/sprite.png) 2x
    );
}

.icon-logo {
    background-position: 0 0;
    width: 90px;
    height: 38px;
}
.icon-mascot {
    background-position: -90px 0;
    width: 52px;
    height: 38px;
}

.icon-signal1 {
    background-position: -79px -75px;
    width: 25px;
    height: 17px;
}
.icon-signal2 {
    background-position: -53px -75px;
    width: 25px;
    height: 17px;
}
.icon-signal3 {
    background-position: -27px -75px;
    width: 25px;
    height: 17px;
}
.icon-signal4 {
    background-position: -1px -75px;
    width: 25px;
    height: 17px;
}
