.purchase-btn-page {
    position: fixed;
    left: 50%;
    bottom: rem(-1);
    width: 100%;
    height: rem(50);
    background-color: #F95D5D;
    line-height: rem(50);
    text-align: center;
    font-size: rem(17);
    color: #FFF;
    max-width: rem(414);
    transform: translate(-50%, 0);
    .purchase-choose {
        position: fixed;
        width: 100%;
        height: rem(156);
        left: 50%;
        bottom: rem(-1);
        background-color: #fff;
        max-width: rem(414);
        transform: translate(-50%, 0);
        z-index: 10;
        .purchase-choose-item {
            font-size: rem(17);
            color: #3D3D3E;
            height: rem(50);
            line-height: rem(50);
            text-align: center;
            border-bottom: rem(1) solid #DDDDDE;
        }
        .purchase-choose-item:first-child {
            border-top: rem(1) solid #DDDDDE;
        }
        .purchase-choose-item:last-child {
            border-top: rem(4) solid #DDDDDE;
            border-bottom: none;
        }
        .purchase-choose-single {
            color: #F95D5D;
        }
        .purchase-choose-cancel {
            color: #9D9D9E;
        }
    }
    .hide {
        display: none;
    }
}
.purchase-btn-page-gray {
    background-color: #DDDDDE;
}
.GSX_Dialog.GSX_Dialog_default {
    width: rem(270);
    margin-left: rem(12.5);
    img {
        width: rem(240);
        height: rem(240);
        display: block;
    }
}