.course-purchase-tip {
    padding: rem(20) rem(15);
    background: #FFF;
    margin-top: rem(10);
    .course-purchase-tip-title {
        margin-bottom: rem(20);
        font-size: rem(16);
        color: #3d3d3e;
        line-height: rem(16);
        font-weight: bolder;
    }
    .course-purchase-tip-text {
        font-size: rem(14);
        color: #6D6D6E;
        line-height: rem(22);
    }
}