{{ foreach $course as $val }}


{{ ** 埋点统计 ** }}
{{ if isset($tpl_data.q) }}
{{ $log_url = ($val@index+1)|cat:","|cat:$val.number|cat:","|cat:$log_id }}
{{ /if }}


{{ ** 地区分割线 ** }}
{{ if isset($val.is_local) && !$val.is_local && $unlocal_tips }}
    {{ $unlocal_tips = false }}
    <div class="unlocal-tips">
        <div class="left-line"></div>
        <div class="right-line"></div>
        <h1>
            以下是其他城市
            <span class="text-primary">可线上授课</span>
            的老师
        </h1>
        <div>
            想成为老师，可以
            <a rel="nofollow" href="/static/teacher" target="_blank" class="occupancy">
                立即入驻
            </a>
        </div>
    </div>
{{ /if }}

<div class="offline-course-item course-item">

    {{ if isset($condition.sd) && $condition.sd && $val.debug_info }}
        <div class="debug_info" style="display: none;">
            {{ $val.debug_info }}
        </div>
    {{ /if }}

    <a class="course-item-photo" rel="nofollow" href="{{ $val.detail_url }}" target="_blank"{{ if $log_flag }} log="{{ $log_url }},course_photo" {{ /if }}>
        {{ include file="common/variable/photo.html" url=$val.photo_url raw_width={{ $val.photo_width }} raw_height={{ $val.photo_height }} width=132 height=100 }}
        <img src="{{ $photo }}" alt="{{ $tpl_data.category|default:'' }}">
    </a>

    <div class="course-item-info">
        {{ $name = $val.name|cn_truncate: 18 }}
        <a href="{{ $val.detail_url }}" title="{{ $tpl_data.category|default:'' }}" target="_blank" class="course-name" {{ if $name != $val.name }}data-title="{{ $val.name|escape }}" data-width="20em"{{ /if }}{{ if $log_flag }} log="{{ $log_url }},name" {{ /if }}>
            {{ $name }}
        </a>

        {{ if !empty($val.address) }}
            {{ $address = $val.address|cn_truncate:20 }}
            <div class="course-item-address" {{ if $val.address != $address }}data-title="{{ $val.address }}" data-width="20em"{{ /if }}>
                <i class="icon-location-o"></i>
                {{ $address }}
            </div>
        {{ /if }}

        {{ $arrangement = $val.arrangement|cn_truncate:20 }}
        <div class="course-arrangement" {{ if $arrangement != $val.arrangement }}data-title="{{ $val.arrangement }}" data-width="20em"{{ /if }}>
            {{ $arrangement }}
            <span class="course-item-student">
                {{ if $val.total_pay == 0 }}
                    共{{ $val.max_student }}人
                {{ else }}
                    已报{{ $val.total_pay }}人
                {{ /if }}
            </span>
        </div>
        <div class="course-tags">
            {{ if $val.fenqi }}
                <span class="fenqi-tag">{{ $val.fenqi.tag_name }}</span>
            {{ /if }}
            {{ if $val.tag_playback == 1 }}
                <span class="playback-tag">回放</span>
            {{ /if }}
            {{ if $val.tag_trial == 1 }}
                <span class="trial-tag">试听</span>
            {{ /if }}
            {{ if $val.tag_ziliao == 1 }}
                <span class="ziliao-tag">资料</span>
            {{ /if }}
        </div>

        <div class="course-price">
            {{ if $val.can_chaban }}
                ￥<span>{{ $val.chaban_price }}</span>
                <span class="course-price-no">￥{{ $val.price }}</span>
            {{ else }}
                {{ if $val.price == 0 }}
                    <span style="color: #48b14b;">免费</span>
                {{ else }}
                    ￥<span>{{ $val.price }}</span>
                {{ /if }}
            {{ /if }}

            {{ if $val.price != 0 }}
                {{ if isset($val.cps_flag) && $val.cps_flag != 0 }}
                    <span class="cps-scholarship"></span>
                {{ /if }}
            {{ /if }}
        </div>

    </div>

    {{ if empty($val.org) }}
        <div class="course-item-teacher">
            <div class="teacher-avatar">
                <a href="/{{ $val.private_domain }}" target="_blank"{{ if $log_flag }} log="{{ $log_url }},avatar" {{ /if }}>
                    {{ include file="common/component/avatar.html" type="small" img=$val.teacher_avatar alt=$val.class_teacher }}
                </a>
            </div>
            <div class="teacher-base-info">
                <a class="teacher-info" href="/{{ $val.private_domain }}" target="_blank"{{ if $log_flag }} log="{{ $log_url }},tname" {{ /if }}>

                    {{ $tname = $val.class_teacher|cn_truncate:7 }}

                    <div class="teacher-info-name" {{ if $tname != $val.class_teacher }}data-title="{{ $val.class_teacher }}" data-width="20em"{{ /if }}>

                        {{ $tname }}

                        {{ if $val.vip_level > 0 }}
                            <i class="icon icon-vip{{ $val.vip_level }}" data-title="{{ $vip_name[$val.vip_level] }}"></i>
                        {{ /if }}

                    </div>
                </a>
                <a class="teacher-comment" href="/{{ $val.private_domain }}/tcomment" target="_blank"{{ if $log_flag }} log="{{ $log_url }},comment" {{ /if }}>
                    {{ if $val.class_score != '0.0' }}
                    <span class="teacher-comment-score">{{ $val.class_score }}分</span>
                    {{ /if }}
                    <span class="teacher-comment-times">
                        {{ if $val.comment_count == 0 }}
                            暂无评分
                        {{ else }}
                            （{{ $val.comment_count }}条评价）
                        {{ /if }}
                    </span>
                </a>
            </div>
        </div>
    {{ else }}
        {{ $org = $val.org }}
        {{ if !empty($org.url) }}
            {{ $org_url = $org.url }}
        {{ else }}
            {{ $org_url = "/i/"|cat:$org.domain }}
        {{ /if }}

        {{ if !empty($org.domain) }}
            {{ $domain = $org.domain }}
        {{ else }}
            {{ $domain = $org.number }}
        {{ /if }}

        <div class="course-item-teacher">
            <div class="teacher-avatar">
                <a href="{{ $org_url }}" target="_blank"{{ if $log_flag }} log="{{ $log_url }},avatar" {{ /if }}>
                {{ if $org.avatar }}
                    {{ include file="common/component/avatar.html" type="small" img=$org.avatar alt=$org.name }}
                {{ else }}
                    {{ include file="common/component/avatar.html" type="small" img='/asset/img/org/logo.jpg' alt=$org.name raw=true }}
                {{ /if }}
                </a>
            </div>
            <div class="teacher-base-info">
                <a class="teacher-info"  href="{{ $org_url }}" target="_blank"{{ if $log_flag }} log="{{ $log_url }},tname" {{ /if }}>
                    {{ $tname = $org.name|cn_truncate:7 }}
                    <div class="teacher-info-name" {{ if $tname != $org.name }}data-title="{{ $org.name }}" data-width="20em"{{ /if }}>
                        {{ $tname }}
                        {{ if $val.vip_level > 0 }}
                            <i class="icon icon-vip{{ $val.vip_level }}"  data-title="{{ $vip_name[$val.vip_level] }}"></i>
                        {{ /if }}
                    </div>
                </a>
                {{ if $org.is_gold_certification }}
                    <div>
                        {{ include file='common/component/goldCert.html' }}
                    </div>
                {{ /if }}
                <a class="teacher-comment"  href="/i/comment/{{ $domain }}" target="_blank"{{ if $log_flag }} log="{{ $log_url }},comment" {{ /if }}>
                    {{ if $val.class_score != '0.0' }}
                    <span class="teacher-comment-score">{{ $val.class_score }}分</span>
                    {{ /if }}
                    <span class="teacher-comment-times">
                        （
                        {{ if $val.comment_count == 0 }}
                            暂无评分
                        {{ else }}
                            {{ $val.comment_count }}条评价
                        {{ /if }}
                        ）
                    </span>
                </a>
            </div>
        </div>
    {{ /if }}

</div>
{{ /foreach }}