{{ foreach $course as $val }}

{{ ** 埋点统计 ** }}
{{ if isset($tpl_data.q) }}
{{ $log_url = ($val@index+1)|cat:","|cat:$val.number|cat:","|cat:$log_id }}
{{ /if }}

{{ ** 地区分割线 ** }}
{{ if isset($val.is_local) && !$val.is_local && $unlocal_tips }}
    {{ $unlocal_tips = false }}
    <div class="unlocal-tips">
        <div class="left-line"></div>
        <div class="right-line"></div>
        <h1>
            以下是其他城市
            <span class="text-primary">可线上授课</span>
            的老师
        </h1>
        <div>
            想成为老师，可以
            <a rel="nofollow" href="/static/teacher" target="_blank" class="occupancy">
                立即入驻
            </a>
        </div>
    </div>
{{ /if }}

<div class="one2one-course-item">

    {{ if $val.klass_type == 1 }}
        {{ $comment_url = '/'|cat: $val.private_domain|cat: '/tcomment' }}
        {{ $course_url = '/'|cat: $val.private_domain|cat: '/course' }}
    {{ else if $val.klass_type == 10 }}
        {{ $comment_url = '/i/comment/'|cat: $val.private_domain }}
        {{ $course_url = '/i/course/'|cat: $val.private_domain }}
    {{ /if }}

    {{ if isset($condition.sd) && $condition.sd && $val.debug_info }}
        <div class="debug_info" style="display: none;">
            {{ $val.debug_info }}
        </div>
    {{ /if }}

    <div class="course-item-photo">
        <a href="{{ $val.url }}" rel="nofollow" target="_blank"  {{ if $log_flag }} log="{{ $log_url }},avatar" {{ /if }}>
            {{ include file="common/component/avatar.html" type="big" img=$val.avatar_url  alt=$tpl_data.category|default:'' }}
        </a>
    </div>

    <div class="course-item-teacher-info">

        <div class="course-teacher-info">
            <div class="teacher-info-left">
                <div class="teacher-info-name">
                    {{ $name = $val.name|cn_truncate: 18 }}

                    <a class="teacher-name" title="{{ $tpl_data.category|default:'' }}" href="{{ $val.url }}" target="_blank" {{ if $name != $val.name }}data-title="{{ $val.name }}" data-width="20em"{{ /if }}{{ if $log_flag }} log="{{ $log_url }},name" {{ /if }}>
                        {{ $name }}
                    </a>

                    {{ if $val.online_stat }}
                        <span class="teacher-status">[在线]</span>
                    {{ /if }}

                    {{ if $val.vip_level > 0 }}
                        <i class="icon icon-vip{{ $val.vip_level }}" data-title="{{ $vip_name[$val.vip_level] }}"></i>
                    {{ /if }}

                    {{ if !empty($val.organization) }}
                        <a href="{{ $val.organization.url }}" class="teacher-org-name" target="_blank" {{ if $log_flag }} log="{{ $log_url }},orgnization" {{ /if }}>
                            {{ $val.organization.name }}
                        </a>
                        {{ if $val.organization.is_gold_certification }}
                            {{ include file="common/component/goldCert.html" }}
                        {{ /if }}
                    {{ /if }}
                </div>

                {{ $intro = $val.short_introduce|cn_truncate:20 }}
                <div class="teacher-info-intro" {{ if $intro != $val.short_introduce }}data-title="{{ $val.short_introduce }}" data-width="20em"{{ /if }}>
                    {{ $intro }}
                </div>

                <div>
                    <a class="teacher-info-score" href="{{ $comment_url }}" target="_blank"{{ if $log_flag }} log="{{ $log_url }},comment" {{ /if }}>
                        {{ if $val.score != 0 }}
                            {{ include file="common/component/starScore.html" score=$val.score }}
                            {{ $val.score }}分
                        {{ /if }}
                        {{ if $val.comment_count == 0 }}
                            暂无评分
                        {{ else }}
                            <span class="comment-count">
                                {{ $val.comment_count }}条评价
                            </span>
                        {{ /if }}
                    </a>
                    {{ if !empty($val.display_area) }}
                    <span class="teacher-info-address">
                        <i class="icon-location-o"></i>
                        {{ $val.display_area }}
                    </span>
                {{ /if }}
                </div>

                <div class="teacher-info-tag">
                    {{ foreach $val.tag as $tag }}
                        {{ if $tag@index < 5 }}
                            <h1>{{ $tag.name }}</h1>
                        {{ /if }}
                    {{ /foreach }}
                </div>
            </div>
        </div>

        {{ if !empty($val.courses) }}
            <div class="course-item-list">
                {{ foreach $val.courses as $course }}
                    <a data-number="{{ $course.number }}" data-crank="{{ $course@index+1 }}" class="course-list-info {{ if $course@index >=2 }}hide-start{{ /if }}" href="{{ $course.detail_url }}" target="_blank" {{ if $log_flag }} log="{{ $log_url }},course" {{ /if }}>
                        {{ $name = $course.name|cn_truncate: 30 }}
                        <div class="item-info-name" {{ if $name != $course.name }}data-title="{{ $course.name|escape }}" data-width="20em"{{ /if }}>
                            <span class="item-course-type">
                                {{ $course.course_lesson_way_str }}:
                            </span>
                            {{ $name }}
                        </div>

                        <div class="item-info-time">
                            {{ $course.sales }}
                        </div>

                        <div class="item-info-price">
                            ￥
                            <span class="price">{{ $course.min_price }}</span>
                            <span class="price-desc">起/小时</span>
                        </div>

                        {{ if isset($course.cps_flag) && $course.cps_flag != 0 }}
                            <span class="cps-scholarship" style="top: -5px;"></span>
                        {{ /if }}

                    </a>
                {{ /foreach }}

                {{ if count($val.courses) > 2 }}
                    <div class="controller-more-course">
                        <span class="see-more" {{ if $log_flag }} log="{{ $log_url }},show_course"{{ /if }}>
                            更多课程
                            <i class="icon icon-caret-down"></i>
                        </span>
                        <span class="close-more" style="display: none">
                            收起课程
                            <i class="icon icon-caret-up"></i>
                        </span>
                    </div>
                {{ /if }}

                {{ if $val.has_more }}
                    <a class="course-list-info more-course hide-start" target="_blank" href="{{ $course_url }}" {{ if $log_flag }} log="{{ $log_url }},course_more" {{ /if }}>
                        查看更多课程&nbsp;&gt;
                    </a>
                {{ /if }}
            </div>
        {{ /if }}
    </div>

</div>
{{ /foreach }}

