{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
    跟谁学致全国老师的一封信
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/aLetter.less">
{{ /block }}

{{ block name="data" }}

{{ $need_im = false }}
{{ $smarty.block.parent }}



{{ $flotage_config.hidden = 1 }}
{{ $rave_config.hidden = 1 }}
{{ $nav_config.hidden = 1 }}
{{ $amd_more = [ 'common/main/component/header' ] }}


{{ $baidu_share_text = "跟谁学致全国老师的一封信" }}

{{ $baidu_share_image = "http://img.gsxservice.com/0cms/d/file/content/2015/05/555d57ec20a93.jpg" }}

{{ /block }}

{{ block name="keywords" }}
    {{ $smarty.block.parent }}
    跟谁学致全国老师的一封信
{{ /block }}

{{ block name="description" }}
    {{ $smarty.block.parent }}
    跟谁学致全国老师的一封信
{{ /block }}

{{ strip }}
{{ block name="body" }}

{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}
{{ include file="common/script.html" }}



<div id="main">

    <div class="side-nav fixed">
        <div class="wrapper">
            <div class="container">
                <ul>
                    <li class="owe">
                        <a href="/activity/carnivalPinxuan">
                            <div class="mask"></div>
                            <div class="content">
                                1周年<br/>
                                感恩有你！
                            </div>

                        </a>
                    </li>
                    <li class="applay" >
                        <div class="mask"></div>
                        <div class="content">
                            <i class="icon icon-share"></i>
                            我要分享
                        </div>
                        <div id="share">
                {{ include file="common/component/baiduShare.html" }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="layout"></div>
    <div id="layout-item2"></div>
    <div id="layout-item3"></div>

<!--
    <div id="last">
        <p>Copyright © 2014 - 2017 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1</p>
    </div> -->



</div>


    {{ include file="common/footer.html" }}

{{ /block }}
{{ /strip }}

