{{ *
@file 活动 登录App获得奖学金
@author liucong
* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}
{{ $nav_config.hidden = 1 }}
{{ $footer_config.hidden = 0 }}
{{ $flotage_config.hidden = 1 }}

{{ $script_path = "activity/appPrize" }}

{{ $baidu_share_text = "跟谁学千万红包duang duang抢" }}
{{ $baidu_share_image = "{{ $static_origin }}/asset/img/activity/appPrize/baidu_share.jpg" }}
{{ if !empty($user_data) }}
{{ $baidu_share_url = $origin_http|cat:"/activity/shareDownload?number="|cat:$user_data.user_number }}
{{ /if }}

{{ /block }}

{{ block name="title" }}
App奖学金 - 活动中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/appPrize.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}

<div id="main">
    <div class="banner"></div>
    {{ if !$tpl_data.expired }}
    <div class="share">
        <div class="share-btn">
            {{ include file="common/component/baiduShare.html" }}
        </div>
    </div>
    {{ else }}
    <div class="expired">
    </div>
    {{ /if }}
    <div class="content">
        <div class="wrapper">
            {{ if !$tpl_data.expired }}
            <div class="prize">
                <div class="header"></div>
                {{ if $tpl_data.has_get_prize }}
                <div class="has-got-prize">
                    <h3>你已在跟谁学领过奖学金红包了</h3>
                    <h3>赶快向老师约课吧~</h3>
                    <div>
                        <img src="{{ $static_origin }}/src/img/activity/appPrize/prize.jpg" alt="">
                    </div>
                </div>
                {{ else }}
                <div class="get-prize">
                    <div>
                        <h3>跟谁学奖励你的优惠券</h3>
                        <div>
                            <img src="{{ $static_origin }}/src/img/activity/appPrize/prize.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <img class="app-code" src="{{ $static_origin }}/src/img/activity/appPrize/app_code.jpg" alt="">
                    </div>
                </div>
                {{ /if }}
            </div>
            {{ /if }}
            <div class="star-teachers">
                <div class="header"></div>
                {{ if isset($tpl_data.teachers) && $tpl_data.teachers|count > 0 }}
                <div class="star-teacher">
                    <ul>
                        {{ foreach $tpl_data.teachers as $teacher }}
                        <li {{ if ($teacher@index + 1) % 5 == 0 }}class="last"{{ /if }}>
                            <a href="{{ $teacher.detail_url }}" target="_blank">
                                <div class="avatar">
                                {{ include file="common/component/image.html" url=$teacher.avatar width=120 alt="头像" }}
                                </div>
                                <p class="name">{{ $teacher.name }}</p>
                                <p class="course-name">{{ $teacher.course_name }}</p>
                                <p class="school-age">{{ $teacher.school_age }}年教龄</p>
                            </a>
                        </li>
                        {{ /foreach }}
                    </ul>
                </div>
                {{ /if }}
            </div>
            <div class="rules">
                <div class="header"></div>
                <h3>活动时间</h3>
                {{ $tpl_data.activity_time_msg }}
                <h3>活动说明</h3>
                {{ if !empty($tpl_data.activity_rule) }}
                <ol>
                    {{ foreach $tpl_data.activity_rule as $rule }}
                    <li>{{ $rule }}</li>
                    {{ /foreach }}
                </ol>
                {{ /if }}
                <p class="footer">
                    活动规则解释权归跟谁学所有
                </p>
            </div>
        </div>
    </div>
</div>
{{ include file="common/component/loginDialog.html" }}
{{ /strip }}
{{ /block }}