{{ *

@file 跟谁学周年纪念
@author wth

* }}


{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $script_path = "activity/ceremony" }}

{{ $nav_config.active = '' }}
{{ $nav_config.hidden = 1 }}
{{ $footer_config.hidden = 1 }}

{{ /block }}


{{ block name="title" }}
3周年纪念-跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/ceremony.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div class="main">
    <div class="banner">
    </div>
    <div class="container">
        <div class="subPresent">
            跟谁学于2014年6月16日由陈向东带领创建。跟谁学是目前全球最大的找好老师学习服务平台，跟谁学APP是8000多万学生和家长信赖的找好老师的领先品牌。覆盖全品类、全地域、全人群、全终端，通过高效、智能、精准地帮助学生和家长找到好老师，让教与学更平等、更便捷、更高效。
        </div>
        <div class="Sleuth">
            <div class="title">
                <!--<img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b11c948.jpg">-->
                <span>岁月</span>
                <div class="dian"></div>
                <span>足迹</span>
                <div class="line-bottom"></div>
            </div>
            <div class="content">
                <div class="banner-wrapper">
                    <div class="promotion-slider-container" data-click="banner-study">
                        <ul class="promotion-slider">
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c245812b5.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c26fa8160.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c27667e88.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c27893508.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c27c7a6fe.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2834b892.jpg">
                                </a>
                            </li>
                        </ul>

                        <ul class="promotion-slider-nav">
                            <li>
                                <span class="navitem" >1</span>
                            </li>
                            <li>
                                <span class="navitem" >2</span>
                            </li>
                            <li>
                                <span class="navitem" >3</span>
                            </li>
                            <li>
                                <span class="navitem" >4</span>
                            </li>
                            <li>
                                <span class="navitem" >5</span>
                            </li>
                            <li>
                                <span class="navitem" >6</span>
                            </li>
                        </ul>

                        <a href="javascript:;" class="promotion-slider-left" title="上一个">
                            <i class="icon icon-chevron-left"></i>
                        </a>
                        <a href="javascript:;" class="promotion-slider-right" title="下一张">
                            <i class="icon icon-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="banner-introduce">
                    <div class="intro-title">
                        跟谁学2017年将重点支持和服务前5%的老师和机构
                    </div>
                    <div class="intro-subtitle">
                        跟谁学创始人兼CEO陈向东
                    </div>
                    <div class="intro-content">
                        从跟谁学创办的第一天起，我们就认为跟谁学是一家真正的to C公司，是一家通过赋能B端服务好学生与家长的to C公司。2017年，跟谁学将重点辅助支持入驻平台前5%的老师和机构，并对学生和家长进行深度服务。
                    </div>
                    <div class="intro-more">
                        <a target="_blank" href="http://www.genshuixue.com/forum/postBrowse/61836">点击查看全文</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Sleuth">
            <div class="title">
                <!--<img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b13c185.jpg">-->
                <span>心路</span>
                <div class="dian"></div>
                <span>历程</span>
                <div class="line-bottom"></div>
            </div>
            <div class="content">
                <div class="gsx-introduce">
                    <div class="gsx-title">
                        图解跟谁学
                    </div>
                    <div class="gsx-content">
                        跟谁学致力于打造人人乐用的学习服务平台。目前，跟谁学正在从教育平台走向教育生态，与公司自主研发的天校、商学院、U盟分销、百家云等，重新定义学习服务。
                    </div>
                    <div class="gsx-more">
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35664&itemType=1&isShare=0">点击查看全文</a>
                    </div>
                </div>
                <img class="gsx-pic" src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2847077d.jpg">
            </div>
        </div>
        <div class="Sleuth">
            <div class="title">
                <!--<img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b16e1fd.jpg">-->
                <span>产品</span>
                <div class="dian"></div>
                <span>服务</span>
                <div class="line-bottom"></div>
            </div>
            <div class="content">
                <ul class="gex-logos">
                    <li>
                        <!--跟谁学-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35663&itemType=1&isShare=0">
                            <img  src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c241e131f.jpg@200w_100h_1e_1c">
                        </a>
                    </li>
                    <li>
                        <!--天校-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35662&itemType=1&isShare=0">
                            <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2841b53d.jpg@200w_100h_1e_1c">
                        </a>
                    </li>
                      <li>
                        <!--商学院-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35661&itemType=1&isShare=0">
                            <img   src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c24283f12.jpg@200w_100h_1e_1c">
                        </a>
                    </li>
                    <li>
                         <!--U盟-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35660&itemType=1&isShare=0">
                            <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2867351f.jpg@200w_100h_1e_1c">
                        </a>
                    </li>
                     <li>
                         <!--百家云 新增-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35659&itemType=1&isShare=0">
                            <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c240ed9d2.jpg@220w_100h_1e_1c">
                        </a>
                    </li>
                    <li>
                        <!--百加宝-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35658&itemType=1&isShare=0">
                            <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2408ef6a.jpg@220w_100h_1e_1c">
                        </a>
                    </li>
                  
                    <li>
                        <!--考研-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35657&itemType=1&isShare=0">
                            <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2424e9a6.jpg@240w_100h_1e_1c">
                        </a>
                    </li>
                    
                    <li>
                       <!--高途课堂 新增-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35656&itemType=1&isShare=0">
                            <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2414e181.jpg@260w_100h_1e_1c">
                        </a>
                    </li>
                    <li>
                        <!--高途志愿-->
                        <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35655&itemType=1&isShare=0">
                            <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2419f1b9.jpg@200w_100h_1e_1c">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Sleuth">
            <div class="title">
                <!--<img src="{{ $static_origin }}/src/img/activity/ceremony/title4.jpg">-->
                <span>品牌</span>
                <div class="dian"></div>
                <span>口碑</span>
                <div class="line-bottom"></div>
            </div>
            <div class="content brand-praise">
                <ul class="gsx-news">
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://www.genshuixue.com/forum/postBrowse/61581">
                            视频 北京卫视 | 《中国梦——365个故事》之跟谁学
                        </a>
                    </li>
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://www.genshuixue.com/forum/postBrowse/61584">
                            视频 央视网 | 《创业者说》有好机会一定要果敢行动
                        </a>
                    </li>
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://www.genshuixue.com/forum/postBrowse/61562">
                            视频 盒饭经济 | 陈向东：创业者要在兜里有钱时全力赚钱
                        </a>
                    </li>
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://www.genshuixue.com/forum/postBrowse/61585">
                            视频 央视 | 《经济半小时》跟谁学，像淘宝一样“淘”学
                        </a>
                    </li>
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://www.genshuixue.com/forum/postBrowse/61579">
                            视频 央视 | 《证券资讯》陈向东：每天都在路上
                        </a>
                    </li>
                    <li>
                        <a target="_blank" class="new-item clip" href="http://www.xuexitoutiao.com/media/feed/get?id=35654&itemType=1&isShare=0">
                            陆家嘴 | Larry打造了一个在线教育“淘宝”
                        </a>
                    </li>
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://www.genshuixue.com/forum/postBrowse/61582">
                            视频 北京卫视 | 《总裁读书会》 陈向东：要赢？先打造团队
                        </a>
                    </li>
                    <li>
                        <a target="_blank" class="new-item clip" href="http://www.xuexitoutiao.com/media/feed/get?id=35653&itemType=1&isShare=0">
                            新京报 |  跟谁学 让师生精准匹配、良性互动
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Sleuth">
            <div class="title">
                <!--<img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b1f3659.jpg">-->
                <span>信任</span>
                <div class="dian"></div>
                <span>担当</span>
                <div class="line-bottom"></div>
            </div>
            <div class="content buttom">
                <div class="commonweal">
                    <a target="_blank" href="http://www.xuexitoutiao.com/media/feed/get?id=35649&itemType=1&isShare=0">
                        <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c2862ad85.jpg">
                    </a>
                    <div class="content-right">
                        <a target="_blank" class="weal-item first" href="http://www.xuexitoutiao.com/media/feed/get?id=35649&itemType=1&isShare=0">
                            我会无怨无悔地跟着你们往前冲
                        </a>
                        <p class="small">
                            跟谁学已经3岁了，虽然我认识她只有一年半，但是我与她无比亲近，甚至是形影不离，我见证了跟谁学的迅猛发展，也见证了自己一步一步的成长。“有事呼我，秒回！24小时服务”，这是跟谁学普通员工的一句话，却是跟谁学服务至上理念的最真实的阐释。这样一句最贴心的话，让我铭记心头，让我感动不已。我信赖这样的公司，我会无怨无悔地跟着他们往前冲。
                        </p>
                    </div>
                    <div class="content-bottom">
                        <a target="_blank" class="weal-item" href="http://www.xuexitoutiao.com/media/feed/get?id=35646&itemType=1&isShare=0">
                            最后一分钟，战斗60秒，我是山东铁军激情男
                        </a><br/>
                        <a target="_blank" class="weal-item" href="http://www.xuexitoutiao.com/media/feed/get?id=35648&itemType=1&isShare=0">
                            接住时代的馈赠，就是时代的佼佼者
                        </a>
                    </div>
                </div>
                <ul class="qrcodes">
                    <li>
                        <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c24338610.jpg">
                        扫描下载App
                    </li>
                    <li>
                        <img src="https://imgs.genshuixue.com/0cms/d/file/content/2017/06/5938c242e9fe6.jpg">
                        关注微信公众号
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot-icon">
            Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有.<br />  京公网安备11010802015210号 | 京ICP备14027590号-1
        </div>
    </div>
</div>

{{ /strip }}
{{ /block }}