{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
{{ $tpl_data.title }} - 活动中心 - 跟谁学
{{ /block }}

{{ block name="style" }}

<link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/master.less">

{{ /block }}

{{ block name="data" }}

{{ $need_im = true }}
{{ $smarty.block.parent }}

{{ $amd_more = [ 'common/main/component/header' ] }}
{{ * $amd_more = [ 'activity/center' ] * }}
{{ $script_path = "activity/master" }}

{{ if isset($user_data) && $user_data }}
{{ $script_data.user_type = $user_data.user_type }}
{{ $script_data.user_number = $user_data.user_number }}
{{ /if }}

{{ $flotage_config.hidden = 1 }}

{{ /block }}

{{ block name="body" }}
<!--{{ strip }}-->

{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}

{{ include file="common/script.html" }}



{{ $wise4Data = [] }}

{{ $wise4Data0 = [] }}
{{ $wise4Data0['name'] = "王艺诚" }}
{{ $wise4Data0['mark'] = "2012年云南省玉溪市文科状元" }}
{{ $wise4Data0['sorce'] = "677" }}
{{ $wise4Data0['school'] = "玉溪一中" }}
{{ $wise4Data0['institution'] = "北京大学" }}
{{ $wise4Data0['url'] = "http://www.genshuixue.com/t/wangyicheng " }}
{{ $wise4Data0['img'] = "img/activity/wise/avatar.jpg" }}
{{ $wise4Data0['alt'] = "唐睿泽" }}
{{ $wise4Data0['title'] = "就读专业：美术教育专业" }}
{{ $wise4Data[] = $wise4Data0 }}
{{ $wise4Data0 = [] }}
{{ $wise4Data0['name'] = "王艺诚" }}
{{ $wise4Data0['mark'] = "2012年云南省玉溪市文科状元" }}
{{ $wise4Data0['sorce'] = "677" }}
{{ $wise4Data0['school'] = "玉溪一中" }}
{{ $wise4Data0['institution'] = "北京大学" }}
{{ $wise4Data0['url'] = "http://www.genshuixue.com/t/wangyicheng " }}
{{ $wise4Data0['img'] = "img/activity/wise/avatar.jpg" }}
{{ $wise4Data0['alt'] = "唐睿泽" }}
{{ $wise4Data0['title'] = "就读专业：美术教育专业" }}
{{ $wise4Data[] = $wise4Data0 }}


{{ $wise4['teachers'] = $wise4Data }}
{{ $page_data['wise']=$wise4['teachers'] scope="parent" }}

{{ * foreach $page_data.wise as $wise }}
<!--<li>
    <a href="{{ $wise.url }}">
        <img src="{{ $static_origin }}/src/{{ $wise.img }}" alt="{{ $wise.alt }}"/>
    </a>
    <div>
        <em>{{ $wise.name }}</em>
        <span class="mark">{{ $wise.mark }}</span>
        <span class="sorce">总分：{{ $wise.sorce }} </span>
        <span class="school" title="毕业学校：辽宁省庄河市高级中学 d">毕业学校：{{ $wise.school }}</span>
        <span class="institution">考入学府：{{ $wise.institution }}</span>
        <a href="{{ $wise.url }}" target="_blank"><button class="btn btn-primary">查看详情</button></a>
    </div>
</li>-->
{{ /foreach * }}

<div id="main">
    <!--{{ $tpl_data.content }}-->



    <!--over-->
</div>

{{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}
{{ * include file="common/footer.html" * }}

<!--{{ /strip }}-->
{{ /block }}