{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
清华北大家教团，一元在家任性学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/mingshi.less">
{{ /block }}

{{ block name="data" }}

{{ $need_im = false }}
{{ $smarty.block.parent }}

{{ $script_path = "activity/mingshi" }}

{{ $flotage_config.hidden = 1 }}
{{ $rave_config.hidden = 1 }}
{{ $nav_config.hidden = 1 }}
{{ $amd_more = [ 'common/main/component/header' ] }}


{{ $baidu_share_text = "清华北大家教团，一元在家任性学" }}

{{ $baidu_share_image = "http://img.gsxservice.com/0cms/d/file/content/2015/08/55beeaa6191c6.jpg" }}

{{ /block }}


{{ block name="description" }}
    清华北大家教团，一元在家任性学
{{ /block }}

{{ block name="keywords"  }}
    {{ $smarty.block.parent }}
    清华北大家教团，一元在家任性学
{{ /block }}

{{ strip }}
{{ block name="body" }}

{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}
{{ include file="common/script.html" }}
<div id="main" class="second-edition">

    <div class="side-nav">
        <div class="wrapper">
            <div class="container">
                <ul>
                    <li class="applay" >
                        <div class="content"></div>
                        <div id="share">{{ include file="common/component/baiduShare.html" }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="layout"></div>

    <!--[if lt IE 9]>
    <style>
        .teacher-info .list li {
            width: 189px;
            }

        .teacher-info .list li .school {
            background: #1dbb6f;
            height: 26px;

        }

    </style>
    <![endif]-->

    <div class="teacher-info">

        <div class="tab-head">
            清华北大家教团
        </div>

        <div class="tab-content">
            {{ foreach $tpl_data as $subject }}
            <ul class="list" {{ if $subject@index == 0 }}style="display: block" {{ /if }}>
                {{ foreach $subject as $sigle }}
                <li {{ if ($sigle@index+1) % 5 == 0 }}class="last-li"{{ /if }}>
                    <span class="school">
                        <span>{{ $sigle.school }}</span>
                    </span>
                    <a href="{{ $sigle.url }}" target="_blank">
                        <img src="{{ $sigle.avatar }}@1e_120w_120h_1c_0i_1o_90Q_1x.jpeg" alt="{{ $sigle.name }}" />
                    </a>
                    <div class="teacher-baseinfo"> <em><a href="{{ $sigle.url }}">{{ $sigle.name }}</a></em>  <strong class="teacher-subject">{{ $sigle.subject }}</strong>
                        <div class="teacher-intro">{{ $sigle.intro }}</div>
                    </div>
                    <div class="teacher-mask">
                        <a target="_blank" href="{{ $sigle.url }}"></a>
                    </div>
                </li>
                {{ /foreach }}
                <li class="last-add">
                    {{ if $subject@index == 0 }}
                    <a href="http://www.genshuixue.com/track/source?id=gsx_qingbeijiajiao_pc&type=&teacher_number=&org_number=&class_number=&url=http%3A%2F%2Fbj.genshuixue.com%2Fst%2F%25E9%25AB%2598%25E4%25B8%25AD%25E5%25AE%25B6%25E6%2595%2599.html">
                    {{ else if $subject@index == 1 }}
                    <a href="http://bj.genshuixue.com/st/%E9%AB%98%E4%B8%AD%E5%AE%B6%E6%95%99.html">
                    {{ else }}
                    <a href="http://bj.genshuixue.com/st/%E9%AB%98%E4%B8%AD%E5%AE%B6%E6%95%99.html">
                    {{ /if }}
                        <img src="http://img.gsxservice.com/0cms/d/file/content/2015/06/55910dcc20db7.png" alt="add" />
                        <div>更多好老师</div>
                    </a>
                </li>
            </ul>
            {{ /foreach }}
        </div>

    </div>

    <div class="img">

        <div>
            <img src="http://img.gsxservice.com/0cms/d/file/content/2015/08/55bf0ea9acc7b.png" alt="img1" />
        </div>

        <div>
            <img src="http://img.gsxservice.com/0cms/d/file/content/2015/06/559110d9a873b.png" alt="img3" />
        </div>

    </div>



    <div id="last">
        <p>
            Copyright © 2014 - 2017 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1
        </p>
    </div>

</div>
{{ /block }}
{{ /strip }}