{{ *

@file 风云老师大赛 2016 - 个人主页
@author wangyujie

* }}
{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}
    {{ $nav_config.hidden = 1 }}
    {{ $flotage_config.hidden = true }}

    {{ $script_path = "activity/superTeacherPersonal" }}
    {{ $script_data.originHttps = $origin_https }}

    {{ $baidu_share_text = "风举云摇，助我成为风云老师，和我一起叱咤风云！憋犹豫，投我！投票还将获得课程优惠券哦~@跟谁学" }}
    {{ $baidu_share_image = $tpl_data.teacher_info.avatar_url }}


    {{ **顶部搜索去掉placeholder支持空query** }}
    {{ $current_page = '' }}

    {{ * 需要im * }}
    {{ $need_im = true }}

    {{ * 不需要底部 * }}
    {{ $footer_config.hidden = true }}

{{ /block }}

{{ block name = "title" }}
    2016年度“跟谁学杯”互联网风云老师视频大赛
{{ /block }}

{{ block name="description" }}
    2016年度“跟谁学杯”互联网风云老师视频大赛
{{ /block }}

{{ block name="keywords" }}
    2016年度“跟谁学杯”互联网风云老师视频大赛
{{ /block }}

{{ block name = "style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/superTeacherPersonal.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}

{{ if $user_data.user_number == $tpl_data.teacher_info.number && $user_data.user_type == 0 }}
    {{ $isTeacher = true }}
{{ else }}
    {{ $isTeacher = false }}
{{ /if }}

<div class="main">

    <div class="banner"></div>

    <div class="search">
        <div class="form-controls">
            <input class="form-text" type="text" name="username" placeholder="输入老师姓名进行搜索" />
            <button class="btn-small btn-primary" id="student-search">
                搜索
            </button>
        </div>
    </div>

    <div class="intro" id="intro">
        <a class="teacher-avatar" href="/t/{{ $tpl_data.teacher_info.number }}" target="_blank">
            {{ include file="common/component/image.html" url=$tpl_data.teacher_info.avatar_url width=295 height=295 }}
        </a>

        <div class="intro-detail">
            <h6 class="name">
                {{ $tpl_data.teacher_info.display_name }}
            </h6>

            <div class="vote-block">
                <span class="vote-count">
                    <em class="text-error">
                        {{ $tpl_data.teacher_info.vote_acount }}
                    </em>票
                </span>
                {{ if $tpl_data.teacher_info.rank }}
                <span class="rank">
                    第
                    <em class="text-error">
                        {{ $tpl_data.teacher_info.rank }}
                    </em>
                    名
                </span>
                {{ /if }}
            </div>

            <div class="other-info">
                <span>
                    浏览量{{ $tpl_data.teacher_info.pv }}
                </span>
                <span>
                    学生数{{ $tpl_data.teacher_info.student_count }}
                </span>
                <span>
                    评价数{{ $tpl_data.teacher_info.comment_summary.count }}
                </span>
            </div>

            <div class="action">
                {{ if $tpl_data.video|count == 0 }}
                    <div class="btn-small student-share-disabled" data-title="还没有上传视频，暂时无法分享~">
                        分享
                    </div>
                    <div class="btn-small btn-vote-disabled" data-title="还没有上传视频，暂时无法投票~">
                        投票
                        {{ if $tpl_data.teacher_info.coupon_count > 0 }}
                            <span class="coupon">
                                券
                            </span>
                        {{ /if }}
                    </div>
                {{ else }}
                    <div class="btn-small student-share">
                        分享
                        {{ include file="common/component/baiduShare.html" }}
                    </div>
                    <div class="btn-small btn-vote" id="student-vote" data-number="{{ $tpl_data.teacher_info.number }}" data-acount="{{ $tpl_data.teacher_info.vote_acount + 1 }}">
                        投票
                        {{ if $tpl_data.teacher_info.coupon_count > 0 }}
                            <span class="coupon">
                                券
                            </span>
                        {{ /if }}
                    </div>
                {{ /if }}
            </div>
        </div>

        {{ if $isTeacher }}
            <div class="x-box">
                <div class="x-title">
                    <i class="icon icon-speaker"></i>
                    拉票小秘籍：
                </div>
                <div class="x-detail">
                    参赛后，投票学生均可领取您发布在主页的优惠券，快去PC老师后台设置您的优惠券吧~
                </div>
                <a href="http://marketing.genshuixue.com/couponList.html?userRole=0" target="_blank">
                    立即前往&nbsp;&gt;
                </a>
            </div>
        {{ /if }}
    </div>

    <div class="video">
        {{ if $isTeacher && $tpl_data.video|count == 0 }}
            <div class="for-teacher">
                <p>您还没有上传视频，暂时不能进行分享和投票～</p>
                <a href="/teacher_center/video" target="_blank">
                    点击上传参赛视频
                </a>
                <p class="hint">
                    上传方式：进入跟谁学PC网站老师后台-我的视频-上传视频，上传视频时必须选择“2016互联网风云老师”分类。
                </p>
            </div>
        {{ else }}
            <h1>
                Ta的参赛视频
                {{ if $isTeacher }}
                    <a href="/teacher_center/video" target="_blank">
                        上传更多视频
                    </a>
                {{ /if }}
            </h1>

            {{ if $tpl_data.video|count > 0 }}
                <ul class="videoShow" id="videoShow">
                    {{ foreach $tpl_data.video as $video }}
                       {{ $class = "" }}
                       {{ if ($video@index+1) % 4 == 0 }}
                            {{ $class = "the-last" }}
                       {{ /if }}
                        <li class = "{{ $class }}" >
                            <div class="video-thumbnail" data-name="{{ $video.title }}" data-video="{{ $video.upload_url }}">
                                <img src="{{ $video.preface_url }}@1e_219w_191h_1c_0i_1o_90Q_1x" alt="{{ $video.title }}" />
                                <i class="icon"></i>
                            </div>
                            <div class="title" data-title="{{ $video.title }}">
                                {{ $video.title|cn_truncate:15 }}
                            </div>
                        </li>
                    {{ /foreach }}
                </ul>
            {{ else }}
                <div class="no-video">
                    老师还没有上传视频～
                </div>
            {{ /if }}
        {{ /if }}
    </div>

    <div class="share-w">
        <div class="action">
            <div class="btn-small btn-info student-share">
                <i class="icon icon-share"></i>分享
                {{ include file="common/component/baiduShare.html" }}
            </div>
            <div class="btn-small btn-info btn-vote" id="student-vote">
                <icon class="icon icon-heart"></icon>投票
            </div>
        </div>
    </div>

    <div class="vote-rule">
        <div class="rule-font">
            <span>投票规则</span>
        </div>
        <ul class="rule">
            <li>
                1. 投票起止时间为2016年11月26日至2016年12月9日；
            </li>
            <li>
                2. 为防止虚假刷票行为，投票前需在跟谁学平台完成学生身份注册；
            </li>
            <li>
                3. 每位学生每天可为同一老师投一次票，但可同时为多个老师投票；
            </li>
            <li>
                4. 如出现虚假、恶意刷票行为，一经发现立即取消该老师参赛资格并关闭其投票通道；
            </li>
            <li>
                5. 当老师在跟谁学平台设置了课程优惠券后，学生投票即有机会抽取老师的课程优惠券。
            </li>
        </ul>
    </div>

    <div class="for-index">
        <a href="/activity/superTeacherVote">
            围观风云老师排行榜
        </a>
    </div>

    <div class="customer-footer">
        <div class="tip">
            <span>主办方：
                <span class="bottom-logo"></span>
            </span>
            <span>本活动最终解释权归跟谁学所有</span>
        </div>
        <div class="copyright">
            Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1
        </div>
    </div>
</div>

<div class="fixed-nav">
    <div class="qrcode-wrapper">
        <img src="{{ $static_origin }}/src/img/activity/superTeacher/superteacher_qrcode.jpg" width="85" height="85"/>
    </div>
    <div class="fixed-nav-wrapper">
        <ul>

            {{ if $tpl_data.status == '1' }}
                <li>
                    <a class="action" href="/activity/superTeacherPersonal?number={{ $user_data.user_number }}">
                        个人中心
                    </a>
                </li>
            {{ else }}
                <li>
                    <a href="#mod_5" class="action join-btn">注册有礼</a>
                </li>
            {{ /if }}
            <li>
                <a href="/activity/superTeacherVote" class="action vote-btn">老师风采</a>
            </li>
        </ul>
    </div>
</div>

{{ include file="common/component/loginDialog.html" }}

{{ /strip }}
{{ /block }}