{{ *

@file 活动 老师排名 第四期
@author liucong

* }}

{{ extends file="activity/common/teacherRank.html" }}

{{ block name="data" }}

{{ include file="activity/data/teacherRank/rank2015.html" scope=parent }}

{{ $smarty.block.parent }}
{{ $script_data.navs = $navs }}

{{ if $needs_share }}
{{ $baidu_share_image = "{{ $static_origin }}/asset/img/activity/teacherRank/teacherRank2015.jpg" }}
{{ $baidu_share_text = "我在跨年荣耀榜 等你来赞 跟谁学2015-2016名师跨年榜单" }}
{{ /if }}

{{ /block }}

{{ block name="title" }}
    跨年荣耀榜
{{ /block }}

{{ block name="description" }}
     跟谁学找优秀好老师资深诚信荣耀跨年榜单揭晓
{{ /block }}

{{ block name="keywords"  }}
    跟谁学 好老师 名师 榜单 教育机构 机构老师 优质 
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/teacherRank2015.less">
{{ /block }}