{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
    老师,我的心上人 -
    {{ $smarty.block.parent }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/teacherDay.less">
{{ /block }}

{{ block name="data" }}

{{ $need_im = false }}
{{ $smarty.block.parent }}

{{ $script_path = "activity/teacherDay" }}


{{ $flotage_config.hidden = 1 }}
{{ $rave_config.hidden = 1 }}
{{ $nav_config.hidden = 1 }}
{{ $amd_more = [ 'common/main/component/header' ] }}


{{ $baidu_share_text = "9-10 把教师节过成情人节" }}

{{ $baidu_share_image = "http://img.gsxservice.com/0cms/d/file/content/2015/05/555d57ec20a93.jpg" }}

{{ /block }}

{{ block name="keywords" }}
    {{ $smarty.block.parent }}
    教师节,9月10日, 9-10 把教师节过成情人节
{{ /block }}

{{ block name="description" }}
    {{ $smarty.block.parent }}
    老师,我的心上人, 9-10 把教师节过成情人节
{{ /block }}

{{ strip }}
{{ block name="body" }}

{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}
{{ include file="common/script.html" }}



<div id="main">

    <div class="side-nav fixed">
        <div class="wrapper">
            <div class="container">
                <ul>
                    <li class="owe">
                        <a href="/activity/carnivalPinxuan">
                            <div class="mask"></div>
                            <div class="content">
                                1周年<br/>
                                感恩有你！
                            </div>

                        </a>
                    </li>
                    <li class="applay" >
                        <div class="mask"></div>
                        <div class="content">
                            <i class="icon icon-share"></i>
                            我要分享
                        </div>
                        <div id="share">
                {{ include file="common/component/baiduShare.html" }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="layout"></div>

    <div class="content-main">

        <div class="video">
            <div data-intro="" data-name="" data-video="http://www.genshuixue.com/video/view/1adfcf2ef6" class="video-thumbnail">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2015/09/55efee5dea51f.jpg">
                <div class="icon play-icon"></div>
            </div>
            <iframe id="iframe" frameborder="no" border="0" style="width: 850px;height: 464px;border:0; display: none;" src="">
            </iframe>
        </div>
        <div class="video-botton"></div>

    </div>

    <div class="teacher">
        <div class="wrapper">
            <a target="_blank" href="http://www.genshuixue.com/ligongzi" data-url="http://www.genshuixue.com/video/view/7ef989c698">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2015/09/55efee5b37eda.jpg" alt="日语老师：李公子" class="item1" />
                <!-- <i class="icon icon-play-oo icon1"></i> -->
            </a>
        </div>

        <div class="wrapper">
            <a target="_blank" href="http://www.genshuixue.com/877674008" data-url="http://www.genshuixue.com/video/view/7ef989c698">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2015/09/55efee5bae9fc.jpg" alt="礼仪老师：张百惠" class="item2"/>
                <!-- <i class="icon icon-play-oo icon2"></i> -->
            </a>
        </div>

        <div class="wrapper">
            <a target="_blank" href="http://www.genshuixue.com/resuuu1140" data-url="http://www.genshuixue.com/video/view/7ef989c698">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2015/09/55efee5c29346.jpg" alt="语文老师：刘淑军" class="item3"/>
                <!-- <i class="icon icon-play-oo icon3"></i> -->
            </a>
        </div>

        <div class="wrapper">
            <a href="http://www.genshuixue.com/791208908" target="_blank" data-url="http://www.genshuixue.com/video/view/7ef989c698">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2015/09/55efee5c73206.jpg" alt="郝运丽" class="item4"/>
                <!-- <i class="icon icon-play-oo icon4"></i> -->
            </a>
        </div>

        <div class="wrapper">
            <a target="_blank" href="http://www.genshuixue.com/laomalaile" data-url="http://www.genshuixue.com/video/view/7ef989c698">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2015/09/55efee5d69cfc.jpg" alt="山村老师：张芝利" class="item5"/>
                <!-- <i class="icon icon-play-oo icon5"></i> -->
            </a>
        </div>
    </div>



    <!-- <div id="last">
        <p>Copyright © 2014 - 2017 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1</p>
    </div>
 -->


</div>


    {{ include file="common/footer.html" }}


{{ /block }}
{{ /strip }}

