{{ extends file="common/pc/base.html" }}
{{ block name="data" }}

    {{ $need_im = false }}

    {{ $smarty.block.parent }}
    {{ $flotage_config.hidden = 1 }}
    {{ $script_path = "activity/winterVacation" }}
    {{ $amd_more = [ 'common/main/component/header' ] }}
    {{ $baidu_share_text = "高考想要分数高，高一基础很重要。步入高一，思维方式需要转变，繁重的学业更需要你有高效的方法！——高一寒假，九大名师帮你，从知识到方法一站式体验，助力高中学习！" }}

    {{ $baidu_share_image = "http://img.gsxservice.com/0cms/d/file/content/2015/11/565bb5a1ef531.jpg" }}

{{ /block }}

{{ block name="title" prepend }}
高考想要分数高，高一基础很重要 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/activity/winterVacation.less" />
{{ /block }}
{{ strip }}
{{ block name="body" }}

    {{ $smarty.block.parent }}
    {{ include file="common/siteNav.html" }}
    {{ include file="common/main/common/header.html" }}

    <div class="top-bg"></div>
    <div class="intro-box">
        <div class="content xian">
            <div class="intro-con">
                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                    <div class="to-consult"></div>
                </a>
            </div>
            <div class="title-bar"></div>
            <div class="teacher-box">
                <div class="title">高一数学提高班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/lzm_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">林赞淼</div>
                            <div class="intro">
                                曾任教重点中学，现为安濂私塾名师，</br>原创自编讲义，擅长将题型细分，</br>考点点对点对应。</br>
                                2014年所带学员张昱荣</br>荣获奥林匹克数学竞赛一等奖。
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97797" data-title="寒假班">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">3500</span>
                            3180
                        </div>
                        <a class="buy button" href="http://www.genshuixue.com/org_class_course/detail/7092892104" target="_blank">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" href="http://www.genshuixue.com/org_class_course/detail/7092892104" target="_blank"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一数学提高班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/ysn_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">岳胜男</div>
                            <div class="intro">
                                省教育局先进教师，区优秀教师，</br>西安曲江一中特级教师。</br>
                                擅长启发学生对数学综合题目的解题思路。</br>
                                在重点中学任教5年，所带巨欢欢同学</br>在2012年全区中学生数学联赛中获得一等奖。
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97849" data-title="寒假班">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1500</span>
                            1200
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/6673446404">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/6673446404"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一数学基础班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/mjp_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">穆佳培</div>
                            <div class="intro">
                                新东方优秀教师，阿木数学创始人，</br>名师堂数学名师，教学风格幽默多变，</br>擅长以充满趣味的方式讲解繁琐复杂的数学知识。
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97776" data-title="寒假班介绍">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1900</span>
                            1600
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/7091265604">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/7091265604"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一英语全面提升班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/wa_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">王安</div>
                            <div class="intro">
                                安濂私塾联合创始人，西安诺亚国际英语留学部</br>教学总监，
                                《英语周报》特约撰稿人，</br>主编参编初高中语法教辅书十余本。</br>
                                独创“入门测出门测”方式，</br>双重保障，决不让孩子多走一步弯路。
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97794" data-title="寒假班">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">3500</span>
                            3180
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/6671630404">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/6671630404"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一英语提高班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/jh_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">姜浩</div>
                            <div class="intro">
                                学贤成教育的教学校长、英语教研组组长。
                                与陕西省</br>高考英语命题组刘长凌老师合编《初中语法冲关点睛》</br>、《高考满分秘籍》等教辅书籍，所教学生</br>基本考入西安重点大学。独创的“九宫格语法图谱”，</br>帮助学生建立系统的语法知识体系
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/vu252717" data-title="Jacky J老师介绍英语学习方法">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">750</span>
                            500
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151114779898">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151114779898"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一英语提高班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/zj_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">赵静</div>
                            <div class="intro">
                                唯真教育CEO，原新东方元老教师， 新南威尔士</br>大学雅思官方认证教师。
                                拥有十一年教龄，</br>输送超过2万名学子进入国内外名优高校，</br>对高考大小考点了如指掌。
                                发音标准，</br>教学思路严谨灵敏，让学生知其然更知其所以然。
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97853" data-title="寒假班">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1300</span>
                            960
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/8768991204">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/8768991204"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一物理提高班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/wxj_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">王新军</div>
                            <div class="intro">
                                2012年、2013年连续获“优秀教师”称号，</br>长期担任“高中物理学科带头人”。
                                对于物理</br>教学有独到见解，教学方法多变而风趣，</br>擅长从各个方面将高考考点讲透，</br>5年间收到家长的感谢不计其数。
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97909" data-title="寒假班">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1800</span>
                            1440
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/8769579204">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/8769579204"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一物理基础班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/cjh_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">陈军红</div>
                            <div class="intro">
                                卡文教育创始人，</br>长期在西安中学毕业班担任班主任及物理老师；</br>连续三年参加高考阅卷工作。
                            </div>
                            <div class="buttons">
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">4500</span>
                            3800
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/4968705604">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/4968705604"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一物理提高班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../src/img/activity/winterVacation/zhb_xa.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">周宏傧</div>
                            <div class="intro">
                                曾任职华师一附中、武汉二中、武汉外国语教学，物理学科名优教师。
                                对于物理学科见解独到，</br>推崇“触类旁通，举一反三”的教学方式，</br>在教学物理知识的同时，更培养孩子逻辑思维能力。
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/44986" data-title="初三物理11章第3节功1">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1500</span>
                            998
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/5419255304">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/5419255304"></a>
            </div>

            <div class="bottom01"></div>
            <div class="bottom02"></div>
            <div class="fixed-box">
                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                    <div class="consult"></div>
                </a>
                <div class="get-phoneNumber">
                    <input class="input-number" placeholder="请输入手机号">
                    <div class="submit-number">30秒回拨给您</div>
                </div>
                <div class="sharebox">
                    <div class="share-btn">分享</div>
                    <div id="share">{{ include file="common/component/baiduShare.html" }}</div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有. 京公网安备11010802015210号 </div>


    {{ include file="common/script.html" }}

    {{ block name="script" }}{{ /block }}



{{ /block }}
{{ /strip }}