{{ *

@file 最近浏览
@author jixiaohui

* }}

{{ strip }}
{{ if isset($recent)&&count($recent) }}
<div id="recent-visit" class="card">
    <h3 class="card-header">最近浏览</h3>
    <div class="card-body">
        <ul>
            {{ foreach $recent as $val }}
                <li>

                    {{ include file="common/component/avatar.html" type="small" img=$val.avatar_url url=$root|cat:$val.detail_url target="_blank" }}

                    <div class="detail">
                        <span class="name">{{ $val.name }}</span>
                        {{ if $val.price > 0 || $val.number == '329108828' }}
                        <span class="price">￥{{ if $val.number == '329108828' }}1{{ else }}{{ $val.price }}{{ /if }}/小时起</span>
                        {{ /if }}
                        {{ $display_course = $val.course|cn_truncate: 10 }}
                        {{ if $val.number == '329108828' }}
                            <span class="course">公共英语</span>
                        {{ else }}
                            {{ if $val.course == $display_course }}
                            <span class="course">
                            {{ else }}
                            <span class="course" data-title="{{ $val.course }}" data-width="20em">
                            {{ /if }}
                                {{ $display_course }}
                            </span>
                        {{ /if }}
                        <p class="score">
                            {{ if $val.comment }}
                                {{ include file="common/component/starScore.html" score=$val.stars_level }}{{ $val.stars_level }}分
                            {{ else }}
                                暂无评分
                            {{ /if }}
                        </p>
                    </div>
                </li>
            {{ /foreach }}
        </ul>
    </div>
</div>
{{ /if }}
{{ /strip }}