<div class="related-setting">
    <div class="header">
        <div class="help texts"
        data-title="
<ul>
    <li>
        1. 试听设置：直播课的试听时间是指<span class='error'>每一课节</span>的试听时间。例如，您设置试听时间为5分钟，则每一个课节学生都可以进入试听5分钟。试听结束后，必须购买才能继续观看。
    </li>
    <li>
        2.回放自动转为视频课：<br>
        - 启用此功能后，系统将在第一节直播课结束后自动创建一个与直播课同名的视频课，视频课的详情和课程安排与直播课相同。随直播课进行，每节直播的回放视频都会自动同步到视频课中。<br>
        - 回放视频课将单独售卖，默认价格与直播课相同，用户可自由修改。购买直播课的学生不会自动获得观看回放视频课的权利。<br>
        - 为保障录制和同步成功，请确保每节课都开启云端录制。因为存储空间不足等原因而导致的录制失败，需要老师后续手动补录。
    </li>
</ul>
        " data-skin="primary classcourse-help-tooltip" data-placement="bottomLeft" data-offset-x="90">
            <i class="text primary icon-help-o"></i>
            <span class="text">
                帮助信息
            </span>
        </div>
        <div class="title">
            直播设置
        </div>
    </div>

    <div class="form related-setting-form">

        <div class="group">
            <div class="inline">
                <label class="label">
                    试听设置
                </label>
                <div class="controls">
                    <div class="radios">
                        <label class="label radio no-allow">
                            <input type="radio" name="{{isAppointment}}" value="{{NO_APPOINTMENT}}">
                            不支持试听
                        </label>
                        <label class="label radio allow texts{{#if appointmentDisabled}} disabled{{/if}}">
                            <input type="radio" name="{{isAppointment}}" value="{{IS_APPOINTMENT}}">
                            <span class="text">
                                每节课允许试听
                            </span>
                            <div class="input-group text texts">
                                <Input options="{{auditionInputOptions}}" />
                                <div class="label secondary text">
                                    分钟
                                </div>
                                <span class="text small muted small-text">
                                    超出试听限制后，学生需购买才可以继续观看
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="group">
            <label class="label"></label>
            <div class="checkboxes">
                <span class="checkbox" on-click="autoPlaybackRecordBlur()" >
                    <input type="checkbox" checked="{{autoPlaybackRecord}}">
                    提供回放
                </span>
                <div class="hint">
                    90%以上的老师会提供云端回放服务，一方面能创造更多与学生接触的机会，同时能沉淀您的优质内容
                </div>
            </div>
        </div>

        <div class="group">
            <label class="label"></label>
            <div class="checkboxes">
                <span class="checkbox" on-click="toVideoBlur()" >
                    <input type="checkbox" checked="{{playbackToVideo}}" {{#if playbackToVideoDisabled}} disabled{{/if}}>
                    回放自动转为视频课
                </span>
                <div class="hint">
                    开启回放视频课功能后，系统将生成同名的视频课，并将直播课的回放视频自动同步到该视频课。
                </div>
            </div>
        </div>

    </div>
    <style>
        {{style}}
    </style>
</div>