@import '../../_base/base.styl';
@import '../../_base/css/color.styl';

body {
    background: #FFF;
}

.logo {
    width: rem(166);
    height: rem(66);
    margin: rem(60) auto rem(42);
    background: url(../img/logo.png) no-repeat center;
    background-size: 100% auto;
}

.login {
    margin: 0 rem(15);

    input {
        width: 100%;
        height: rem(50);
        padding-left: rem(15);
        border: 1px solid #ededee;
    }

    input.password {
        border-top: 0;
    }

    input.submit {
        height: rem(44);
        margin-top: rem(40);
        border-radius: rem(2);
        border: 0;
        background: $brand-primary;
        color: #FFF;
        letter-spacing: rem(15);
        text-align: center;
        font-size: rem(17);
    }

    .forgot {
        float: right;
        margin-top: rem(13);
        color: #2B5490;
        font-size: rem(14);
    }
}
