.date-range
    position relative
    display inline-block

    .menu
        width 441px
        padding 5px

    .calendar
        border 1px solid #EEE
        display inline-block
        position static
        box-shadow none

        + .calendar
            margin-left 5px

    .footer
        padding 10px 0 5px
        text-align right

