<div class="input
{{#if options.className}} {{options.className}}{{/if}}
">
    <div class="placeholder"></div>

    {{#if options.multiple}}

        <textarea name=
        "{{options.name}}" value=
        "{{options.value}}" on-focus="focus" on-blur="blur" on-keydown="keydown"

        {{#if options.lazy}}
            {{#if options.lazy === true}} lazy
            {{else}} lazy="{{options.lazy}}"
            {{/if}}
        {{/if}}

        {{#if options.disabled}} disabled{{/if}}
        {{#if options.readonly}} readonly{{/if}}
        {{#if options.autofocus}} autofocus{{/if}}
        ></textarea>

    {{else}}

        <input type="{{#if options.type}}{{options.type}}{{else}}text{{/if}}" name=
        "{{options.name}}" value=
        "{{options.value}}" on-focus="focus" on-blur="blur" on-keydown="keydown"

        {{#if options.lazy}}
            {{#if options.lazy === true}} lazy
            {{else}} lazy="{{options.lazy}}"
            {{/if}}
        {{/if}}

        {{#if options.disabled}} disabled{{/if}}
        {{#if options.readonly}} readonly{{/if}}
        {{#if options.autofocus}} autofocus{{/if}}
        {{#if options.maxlength}} maxlength="{{options.maxlength}}"{{/if}}
        />

    {{/if}}

    <div class="tooltip error right" data-error-for="{{options.name}}"></div>

    <style>
        {{style}}
    </style>
</div>