{{ *

@file 搜索机构入口
@author jixiaohui

* }}

{{ strip }}
{{ if !empty($tpl_data) }}
<a id="search-org" href="{{ $tpl_data.url }}" data-url="{{ $tpl_data.url }}" target="_blank">
    <div class="flag">机<br/>构</div>
    {{ if $tpl_data.avatar_url }}
        {{ include file="common/component/avatar.html" type="medium" img=$tpl_data.avatar_url }}
    {{ else }}
        <b class="avatar-medium">
            <img src="{{ $static_origin }}/src/img/org/logo.jpg" class="logo">
        </b>
    {{ /if }}
    <div class="container">
        <div class="info">
            <div class="name">{{ $tpl_data.name }}</div>
            {{ if !empty($tpl_data.score) }}
                {{ include file="common/component/starScore.html" score=$tpl_data.score }}
                <span class="score-text">{{ $tpl_data.score|number_format: 1 }}分</span>
            {{ /if }}
            <div class="comment-box" data-url="/org/comment?org_id={{ $tpl_data.number }}">（<span>{{ $tpl_data.comment_count }}</span>条评价）</div>
        </div>
        <p class="intro">
            {{ $tpl_data.description|cn_truncate: 49 }}
        </p>
        <div class="tags">
            {{ foreach $tpl_data.tags as $val }}
                {{ if $val }}
                    <label class="label-default small">{{ $val }}</label>
                {{ /if }}
            {{ /foreach }}
        </div>
    </div>
    <div class="btn-primary">进入机构主页</div>
</a>
{{ /if }}
{{ /strip }}