{{ *

@file: 单独用一个组件来设置搜索URL

       参数：
       condition    现有数据
                    condition.q
                    condition.course
                    condition.area
                    condition.sort
                    condition.course_lesson_ways
                    condition.teacher_type
                    condition.teacher_qualifiaction
                    condition.school_age
                    condition.sex
                    condition.sd

@author: wuhongjie

* }}
{{ strip }}

{{ $course_param = '' }}
{{ $area_param = '' }}
{{ $sort_param = '' }}
{{ $course_lesson_ways_param = '' }}
{{ $teacher_type_param = '' }}
{{ $teacher_qualification_param = '' }}
{{ $school_age_param = '' }}
{{ $sex_param = '' }}
{{ $source_param = '' }}
{{ $q_param = '' }}
{{ $page_param = '' }}
{{ $city_param = '' }}
{{ $sd_param = '' }}

{{ * 科目参数 * }}
{{ if $key == 'course_level1' }}
    {{ if $value }}
        {{ $course_param = $value }}
    {{ /if }}
{{ elseif isset($condition.course_level1) }}
    {{ $course_param = $condition.course_level1 }}

    {{ * 子科目参数 * }}
    {{ if $key == 'course_level2' }}
        {{ if $value }}
            {{ $course_param = $course_param|cat:'_'|cat:$value }}
        {{ /if }}
    {{ elseif isset($condition.course_level2) }}
        {{ $course_param = $course_param|cat:'_'|cat: $condition.course_level2 }}

        {{ * 子子科目参数 * }}
        {{ if $key == 'course_level3' }}
            {{ if $value }}
                {{ $course_param = $course_param|cat:'_'|cat: $value }}
            {{ /if }}
        {{ elseif isset($condition.course_level3) }}
            {{ $course_param = $course_param|cat:'_'|cat: $condition.course_level3 }}
        {{ /if }}

    {{ /if }}
{{ /if }}


{{ * 地区参数 * }}
{{ if $key == 'area_level1' }}
    {{ if $value }}
        {{ $area_param = $value }}
    {{ /if }}
{{ elseif isset($condition.area_level1) }}
    {{ $area_param = $condition.area_level1 }}

    {{ * 子地区参数 * }}
    {{ if $key == 'area_level2' }}
        {{ if $value }}
            {{ $area_param = $area_param|cat:'_'|cat:$value }}
        {{ /if }}
    {{ elseif isset($condition.area_level2) }}
        {{ $area_param = $area_param|cat:'_'|cat:$condition.area_level2 }}
    {{ /if }}
{{ /if }}


{{ *  排序方式 * }}
{{ if $key == 'sort' }}
    {{ $sort_param = $value }}
{{ elseif isset($condition.sort) }}
    {{ $sort_param = $condition.sort }}
{{ /if }}

{{ if $sort_param == 'all' }}
    {{ $sort_param = '' }}
{{ /if }}

{{ * 授课方式 * }}
{{ if $key == 'course_lesson_ways' }}
    {{ if $value }}
        {{ $course_lesson_ways_param = $value }}
    {{ /if }}
{{ elseif isset($condition.course_lesson_ways) }}
    {{ $course_lesson_ways_param = $condition.course_lesson_ways }}
{{ /if }}


{{ * 老师类型 * }}
{{ if $key == 'teacher_type' }}
    {{ if $value }}
        {{ $teacher_type_param = $value }}
    {{ /if }}
{{ elseif isset($condition.teacher_type) }}
    {{ $teacher_type_param = $condition.teacher_type }}
{{ /if }}

{{ * 老师教龄 * }}
{{ if $key == 'school_age' }}
    {{ $school_age_param = $value }}
{{ elseif isset($condition.school_age) }}
    {{ $school_age_param = $condition.school_age }}
{{ /if }}

{{ * 老师资质 * }}
{{ if $key == 'teacher_qualification' }}
    {{ $teacher_qualification_param = $value }}
{{ elseif isset($condition.teacher_qualification) }}
    {{ $teacher_qualification_param = $condition.teacher_qualification }}
{{ /if }}

{{ * 性别参数 * }}
{{ if $key == 'sex' }}
    {{ if $value > -1 }}
        {{ $sex_param = $value }}
    {{ /if }}
{{ elseif isset($condition.sex) }}
    {{ $sex_param = $condition.sex }}
{{ /if }}

{{ * search debug * }}
{{ if isset($condition.sd) && $condition.sd }}
    {{ if $city_param || $page_param }}
        {{ $sd_param = '&sd='|cat:$condition.sd }}
    {{ else }}
        {{ $sd_param = '?sd='|cat:$condition.sd }}
    {{ /if }}
{{ /if }}


{{ * 搜索词 * }}
{{ if $key == 'q' }}
    {{ $q_param = $value }}
{{ else }}
    {{ if isset($condition.suggest) && $condition.suggest }}
        {{ $q_param = $condition.suggest|regex_replace:"/[-]/":""|escape:url }}
    {{ else if isset($condition.q) && $condition.q }}
        {{ $q_param = $condition.q|regex_replace:"/[-]/":""|escape:url }}
    {{ /if }}
{{ /if }}

{{ * 分页 * }}
{{ if $key == 'page' }}
    {{ $page_param = '?page='|cat:$value }}
{{ /if }}


{{ if $tpl_data.abtest }}
    {{ $urlfix = '/'|cat: $tpl_data.city_pinyin|cat:'/st-' }}
{{ else if isset($tpl_data.is_www) && $tpl_data.is_www }}
    {{ $urlfix = '/st/' }}
{{ else }}
    {{ $urlfix = '/'|cat: $curr_city.domain|cat: '/st-' }}
{{ /if }}

{{ $url_tmp = $urlfix|cat:
        $q_param|cat:'-'|cat:
        $course_param|cat:'-'|cat:
        $area_param|cat:'-'|cat:
        $sort_param|cat:'-'|cat:
        $course_lesson_ways_param|cat:'-'|cat:
        $teacher_type_param|cat:'-'|cat:
        $teacher_qualification_param|cat:'-'|cat:
        $school_age_param|cat:'-'|cat:
        $sex_param }}
{{ $url_final = rtrim($url_tmp,'-') }}

{{ if $url_final == $urlfix }}
    {{ $url_final = $urlfix|cat:'-' }}
{{ /if }}

{{ if isset($pager) }}
    {{ $url = $url_final|cat:
        '.html'|cat:
        $source_param|cat:
        $page_param|cat:
        $sd_param scope="parent" }}
{{ else }}
    {{ $url = $url_final|cat:
        '.html'|cat:
        $source_param|cat:
        $page_param|cat:
        $sd_param }}
    {{ $url }}
{{ /if }}

{{ /strip }}
