/**
 * @file 商学院 － 免费咨询弹窗
 * @author wangyujie
 */
.consult-dialog {
    background: #d0ad51 url(../../../img/activity/businessSchool/dialog-bg.png) repeat-x;
    padding: 5px;

    .dialog-body {
        padding-top: 35px;
    }

    input,
    textarea,
    .form-editor {
        width: 100%;
    }

    input {
        padding-left: 30px;
        text-align: center;
    }

    textarea {
        height: 140px;
        text-align: center;
    }

    .form-controls {
        position: relative;
        .icon-user,
        .icon-org,
        .icon-location,
        .icon-mobile {
            color: #9f9d9e;
            font-size: 20px;
            position: absolute;
            left: 7px;
            top: 7px;
        }
    }

    .btn-consult {
        cursor: pointer;
        background-color: #ffd765;
        border-radius: 5px;
        border: 1px solid #ffd765;
        color: #3d422e;
        font-size: 18px;
        font-weight: bold;
        width: 250px;
        height: 50px;
    }

}

