.side-nav {
    display: inline-block;
    width: 150px;
    background: #FFFFFF;
    border: 1px solid #EDEDEE;
    margin-right: 20px;
    padding-top: 20px;
    vertical-align: top;
    .item-list {
        position: relative;
        margin: 0;
        padding-left: 50px;
        &:before {
            content: ' ';
            position: absolute;
            left: 36px;
            width: 1px;
            height: 100%;
            background: #EDEDEE;
        }
        .item {
            cursor: pointer;
            position: relative;
            font-size: 14px;
            color: #9D9D9E;
            line-height: 14px;
            margin-bottom: 20px;
            &:before {
                content: ' ';
                position: absolute;
                top: 5px;
                left: -15px;
                width: 3px;
                height: 3px;
                background: #3D3D3E;
                border-radius: 50%;
            }
            &:hover {
                color: #3D3D3E;
            }
            &:hover:before {
                content: ' ';
                position: absolute;
                top: 0;
                left: -15px;
                width: 3px;
                height: 15px;
                background: #FF6c00;
                border-radius: 37px;
            }
        }
        .active {
            color: #3D3D3E;
            &:before {
                content: ' ';
                position: absolute;
                top: 0;
                left: -15px;
                width: 3px;
                height: 15px;
                background: #FF6c00;
                border-radius: 37px;
            }
        }
    }
}
.side-nav-placeholder {
    display: inline-block;
    margin-right: 20px;
    width: 150px;
    height: 20px;
}