/**
 * @file 评价详情
 * @author zhujialu
 */
.comment {

    .comment-item {
        padding: 15px 40px;
        border-top: 1px solid @brand-gray-light;

    }

    h4 {
        color: @brand-text-lighter;
        padding: 15px 40px;

        + .comment-item {
            border-top: none;
            padding-top: 0;
        }
    }

    .header {
        margin-bottom: 10px;
    }

    .teacher {
        margin-right: 15px;
    }

    .icon-smile-o,
    .icon-neutral-o,
    .icon-frown-o {
        color: @brand-primary;
        font-weight: bold;
        font-size: 1.3em;
        margin-right: 5px;
    }

    ul {
        display: inline-block;
        margin-left: 20px;
    }
    li {
        display: inline-block;
        margin-right: 15px;
    }

    .text {
        .word-break();
    }

    .create-time {
        margin-left: 10px;
        margin-right: 30px;
    }
}