/**
 * @file 面包屑
 * @author zhujialu
 */
.crumb {

    color: @brand-text-lighter;
    margin: 10px 0 30px;
    text-align: center;

    .icon-chevron-right {
        color: @brand-gray;

    }

    .step {

        display: inline-block;
        width: 145px;
        position: relative;

        &.active {
            color: @brand-text;
            font-weight: bold;
        }
    }

    .time {
        font-size: 12px;
        position: absolute;
        top: 24px;
    }
}