/**
 * @file 支付信息
 * @author zhujialu
 */
.pay {

    .content {
        padding: 18px 40px;
        position: relative;
    }

    .item {
        margin: 8px 0;
    }

    .total-pay {

        font-size: 16px;

        position: absolute;
        right: 40px;
        bottom: 14px;
    }

    .text-primary {
        font-size: 2em;
        vertical-align: middle;
    }

    .icon-question-circle {
        margin-left: 10px;
        font-size: 16px;
        color: #6287d5;
    }

    small {
        margin-left: 10px;
    }
    .price-origin {
        margin-right: 15px;
    }
    .sign {
        color: @brand-text-lighter;
        vertical-align: text-bottom;
    }
}