/**
 * @file 退款信息
 * @author niejianhui
 */

.refund-info {
    .content {
        padding: 30px 25px;
        .detail {
            span {
                font-size: 20px;
                color: #3c3d3e;
            }
            .refund-money {
                color: #ff9a00;
                margin: 0 20px 0 10px;
            }
            .refund-time {
                color: #6d6d6e;
                font-size: 14px;
            }
        }
    }
}