/**
 * @file 分期信息
 * @author niejianhui
 */

.stage {
    .content {
        padding: 15px 25px;
        .title {
            font-size: 14px;
            color: #3d3d3d;
            padding-bottom: 10px;
            border-bottom: 1px solid #dcddde;
        }
        p {
            margin-top: 14px;
            font-size: 14px;
            span {
                margin-left: 15px;
            }
        }
        .repayment {
            font-size: 14px;
            color: #9d9e9e;
            margin-top: 47px;
        }
    }
}