/**
 * @file 老师信息
 * @author zhujialu
 */

@import '../../component/quickLessonDialog.less';
@import '../../component/callingDialog.less';

.user {
    .icon-call {
        vertical-align: middle;
    }
    .org-item,
    .user-item {
        padding: 25px 40px;
        position: relative;
        .clearfix();

        border-top: 1px solid @brand-gray-light;

        &:first-child {
            border-top: none;
        }
    }

    .wrapper {
        display: none;
        border-top: 1px solid @brand-gray-light;
    }

    .toggle {
        border-top: 1px solid @brand-gray-light;
    }

    .thumbnail {
        float: left;
        margin-right: 14px;
    }

    .chat-label {
        margin: 0 10px;
    }

    .item {
        margin: 14px 0;
    }

    .mobile {
        margin-right: 30px;
    }

    .links {
        position: absolute;
        top: 25px;
        right: 40px;
    }

    .link {
        display: block;
        padding: 10px 5px;
    }

    .quick-lesson-box {
        .icon {
            margin-right: @gap-horizontal-tiny;
        }

        .closed {
            color: #9e9e9e;
            &:hover {
                color: @brand-primary;
            }
        }

        .icon-question-circle {
            color: @brand-text-light;
            margin-left: @gap-horizontal-small;
        }
    }

    .opened {
        color: @brand-primary;
    }

    .icon-call {
        margin-left: 10px;
    }

    .four-hundred {
        margin-left: @gap-horizontal-medium;
        .icon {
            color: @brand-primary;
            font-size: 18px;
            margin-right: @gap-horizontal-tiny;
        }
    }
}