{{ *

@file 活动主页
@author zengcheng

* }}
{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}
    {{ $nav_config.hidden = 1 }}
    {{ $flotage_config.hidden = true }}

    {{ $script_path = "rave/main" }}
    {{ $script_data = [] }}
    {{ $script_data.originHttps = $origin_https }}
    {{ $script_data.rave = $tpl_data }}
    {{ $script_data.rave_activity_host = $rave_activity_host }}

    {{ **顶部搜索去掉placeholder支持空query** }}
    {{ $current_page = '' }}

    {{ * 详情页隐藏互动 * }}
    {{ $rave_config.hidden = 1 }}

    {{ * 不需要im * }}
    {{ $need_im = true }}

    {{ * 不需要底部 * }}
    {{ $footer_config.hidden = true }}

    {{ * 百度分享 * }}
    {{ $baidu_share_text = "@跟谁学 疯狂助学1.6亿，倾心打造616学习狂欢节！万家机构，十五万老师，学习狂欢，爽翻一夏！" }}
    {{ $baidu_share_image = "http://img.gsxservice.com/0cms/d/file/content/2015/05/556287e0e25e3.jpg" }}
    {{ $baidu_share_url = $tpl_data.info.url.main }}

{{ /block }}

{{ block name = "title" }}
跟谁学616学习狂欢节
{{ /block }}

{{ block name = "style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/src/css/rave/main.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}
<div id="main">
    <div class="main-wrapper">
        <a href="#excellent-course-wrapper" class="anchor excellent_course">

        </a>
        <a href="#org-rave-wrapper" class="anchor get_coupon">

        </a>
        <a href="#crazy-discount-wrapper" class="anchor crazy_discount">

        </a>
        <a href="#sec-kill-wrapper" class="anchor sec_kill">

        </a>
        <a class="back-main" {{ if isset($tpl_data.is_www) && $tpl_data.is_www }}
            href="http://www.genshuixue.com"
        {{ else }}
            href="http://www.genshuixue.com/{{ $curr_city.domain }}/"
        {{ /if }}>
            <span class="icon icon-home"></span>
            返回跟谁学首页
        </a>
        <div class="rave" id="crazy-discount-wrapper">
            {{ include file="rave/round.html" }}
        </div>
        <div class="sec-kill" id="sec-kill-wrapper">
            {{ include file="rave/secKill.html" }}
        </div>
        <div class="org-rave" id="org-rave-wrapper">
            {{ include file="rave/org.html" }}
        </div>
        <div class="luck-banner">
            <img src="http://img.gsxservice.com/0cms/d/file/content/2015/06/557fbb4f31886.jpg" width="1100px" height="140px"/>
        </div>
        <div class="course-rave" id="excellent-course-wrapper">
            {{ include file="rave/course.html" }}
        </div>
        <div class="rave_nav">
            {{ include file="rave/raveNav.html" }}
        </div>
        <div class="rave_share_btn">好活动要分享{{ include file="common/component/baiduShare.html" }}</div>
    </div>
    {{ include file="rave/couponDialogs.html" }}
    <div class="copyright">Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1</div>
</div>
{{ /strip }}
{{ /block }}