{{ strip }}
<div class="round-wrapper" id="raveRound">
    <div class="round-list">
        <div class="round-prev">
            <span class="icon icon-chevron-left"></span>
        </div>
        <div class="round-item first disabled" data-index="0" data-key="dxzc">
            <div class="round-bg">
                <img src="{{ $static_origin }}/src/img/rave/round_graduate.png" width="100%" height="100%"/>
            </div>
            <div class="round-content">
                <div class="round-title">大学专场</div>
            </div>
            <div class="round-mask"></div>
        </div>
        <div class="round-item second disabled" data-index="1" data-key="xcgzc">
            <div class="round-bg">
                <img src="{{ $static_origin }}/src/img/rave/round_t9.png" width="100%" height="100%"/>
            </div>
            <div class="round-content">
                <div class="round-title">小学中学</div>
            </div>
            <div class="round-mask"></div>
        </div>
        <div class="round-item third" data-index="2" data-key="bpsjb">
            <div class="round-bg">
                <img src="{{ $static_origin }}/src/img/rave/round_main.png" width="100%" height="100%"/>
            </div>
            <div class="round-content">
                <div class="round-title">爆品暑假班</div>
            </div>
            <div class="round-mask"></div>
        </div>
        <div class="round-item four disabled" data-index="3" data-key="lxzc">
            <div class="round-bg">
                <img src="{{ $static_origin }}/src/img/rave/round_overseas.png" width="100%" height="100%"/>
            </div>
            <div class="round-content">
                <div class="round-title">出国留学</div>
            </div>
            <div class="round-mask"></div>
        </div>
        <div class="round-item five disabled" data-index="4" data-key="ysxqzc">
            <div class="round-bg">
                <img src="{{ $static_origin }}/src/img/rave/round_art.png" width="100%" height="100%"/>
            </div>
            <div class="round-content">
                <div class="round-title">艺体兴趣</div>
            </div>
            <div class="round-mask"></div>
        </div>
        <div class="round-next">
            <span class="icon icon-chevron-right"></span>
        </div>
    </div>
</div>
{{ /strip }}