/**
 * 居中定位
 */
.center(@opacity) {
	position: @opacity;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.v-center(@opacity) {
	position: @opacity;
    top: 50%;
    transform: translate(0, -50%);
}
.h-center(@opacity) {
	position: @opacity;
    left: 50%;
    transform: translate(-50%, 0);
}