{{ **新版主页底部轮播图和右侧两个banner** }}
{{ **成都** }}

{{ $city_data = [] scope="parent" }}

{{ $static_banner[] = [] }}

{{ **右侧顶部静态图片** }}
{{ $banner_top[] = [] }}
    {{ $banner_top['img'] = "img/main/city/guding/zaixian.jpg" }}
    {{ $banner_top['url'] = "http://www.genshuixue.com/static/windows?source=gsx_zxzb_pc" }}
    {{ $banner_top['title'] = "直播课" }}

{{ **右侧底部静态图片** }}
{{ $banner_bottom[] = [] }}
    {{ $banner_bottom['img'] = "img/main/city/guding/shipin.png" }}
    {{ $banner_bottom['url'] = "http://www.genshuixue.com/activity/center?id=43?source=gsx_shipinke2_pc" }}
    {{ $banner_bottom['title'] = "视频课" }}

{{ $banner_carousel = [] }}

    {{ $banner_carousel1 = [] }}
    {{ $banner_carousel2 = [] }}
    {{ $banner_carousel3 = [] }}

        {{ **底部轮播图第一屏 4张图** }}
        {{ $banner_carousel11 = [] }}
        {{ $banner_carousel12 = [] }}
        {{ $banner_carousel13 = [] }}
        {{ $banner_carousel14 = [] }}

            {{ $banner_carousel11['img'] = 'img/main/city/guding/banner_Henry-yeh_130x180.jpg' }}
            {{ $banner_carousel11['url'] = 'http://www.genshuixue.com/teacher/classCourseDetail?number=150417549130' }}
            {{ $banner_carousel11['title'] = 'Henry yeh' }}

            {{ $banner_carousel12['img'] = 'img/main/city/guding/banner_masiyuan_130x180.jpg' }}
            {{ $banner_carousel12['url'] = 'http://www.genshuixue.com/teacher/classCourseDetail?number=150427484289' }}
            {{ $banner_carousel12['title'] = '马思远' }}

            {{ $banner_carousel13['img'] = 'img/main/city/guding/banner_zhangwie_130x180.jpg' }}
            {{ $banner_carousel13['url'] = 'http://www.genshuixue.com/teacher/classCourseDetail?number=150420548815' }}
            {{ $banner_carousel13['title'] = '张伟' }}

            {{ $banner_carousel14['img'] = 'img/main/city/guding/banner_zhengchunjia_130x180.jpg' }}
            {{ $banner_carousel14['url'] = 'http://www.genshuixue.com/teacher/classCourseDetail?number=150407477983' }}
            {{ $banner_carousel14['title'] = '郑春嘉' }}


        {{ $banner_carousel1[] = $banner_carousel11 }}
        {{ $banner_carousel1[] = $banner_carousel12 }}
        {{ $banner_carousel1[] = $banner_carousel13 }}
        {{ $banner_carousel1[] = $banner_carousel14 }}

        {{ **底部轮播图第二屏 2张图** }}
        {{ $banner_carousel21 = [] }}
        {{ $banner_carousel22 = [] }}

            {{ $banner_carousel21['img'] = 'img/main/city/guding/shoudan300.jpg' }}
            {{ $banner_carousel21['url'] = 'http://www.genshuixue.com/track/source?id=gsx_jhx_pc&url=http://ju.genshuixue.com/' }}
            {{ $banner_carousel21['title'] = '聚惠学' }}



            {{ $banner_carousel22['img'] = 'img/main/city/guding/bzb.jpg' }}
            {{ $banner_carousel22['url'] = 'http://www.genshuixue.com/track/source?id=gsx_hongbao_pc&type=teacher_number=&org_number=&class_number=&url=http%3a%2f%2fwww.genshuixue.com%2factivity%2fshareDownload' }}
            {{ $banner_carousel22['title'] = '榜中榜' }}



        {{ $banner_carousel2[] = $banner_carousel21 }}
        {{ $banner_carousel2[] = $banner_carousel22 }}

        {{ **底部轮播图第三屏 12张图** }}
        {{ $banner_carousel31 = [] }}
        {{ $banner_carousel32 = [] }}
        {{ $banner_carousel33 = [] }}
        {{ $banner_carousel34 = [] }}
        {{ $banner_carousel35 = [] }}
        {{ $banner_carousel36 = [] }}
        {{ $banner_carousel37 = [] }}
        {{ $banner_carousel38 = [] }}
        {{ $banner_carousel39 = [] }}
        {{ $banner_carousel3a = [] }}
        {{ $banner_carousel3b = [] }}
        {{ $banner_carousel3c = [] }}


            {{ $banner_carousel31['img'] = 'img/main/city/chengdu/banner_logos_501meishujy_130x60.png' }}
            {{ $banner_carousel31['url'] = 'http://497360899.genshuixue.com/' }}
            {{ $banner_carousel31['title'] = '美术教育' }}

            {{ $banner_carousel32['img'] = 'img/main/city/chengdu/banner_logos_aiyingyujy_130x60.png' }}
            {{ $banner_carousel32['url'] = 'http://ienglish5211.genshuixue.com/' }}
            {{ $banner_carousel32['title'] = '爱英语' }}

            {{ $banner_carousel33['img'] = 'img/main/city/chengdu/banner_logos_cdlibaopxxx_130x60.png' }}
            {{ $banner_carousel33['url'] = 'http://cdlibao.genshuixue.com/' }}
            {{ $banner_carousel33['title'] = '力保' }}

            {{ $banner_carousel34['img'] = 'img/main/city/chengdu/banner_logos_cdyifengzqqx_130x60.png' }}
            {{ $banner_carousel34['url'] = 'http://yifengfc.genshuixue.com/' }}
            {{ $banner_carousel34['title'] = '怡风' }}

            {{ $banner_carousel35['img'] = 'img/main/city/chengdu/banner_logos_hedaodingzhi_130x60.png' }}
            {{ $banner_carousel35['url'] = 'http://371777459.genshuixue.com/' }}
            {{ $banner_carousel35['title'] = '和道' }}

            {{ $banner_carousel36['img'] = 'img/main/city/chengdu/banner_logos_jiayinyingyu_130x60.png' }}
            {{ $banner_carousel36['url'] = 'http://jiaying.genshuixue.com/' }}
            {{ $banner_carousel36['title'] = '佳音' }}


            {{ $banner_carousel37['img'] = 'img/main/city/chengdu/banner_logos_lanmengjy_130x60.png' }}
            {{ $banner_carousel37['url'] = 'http://lanmeng.genshuixue.com/' }}
            {{ $banner_carousel37['title'] = '蓝盟' }}

            {{ $banner_carousel38['img'] = 'img/main/city/chengdu/banner_logos_linggeteyy_130x60.png' }}
            {{ $banner_carousel38['url'] = 'http://linguart.genshuixue.com/' }}
            {{ $banner_carousel38['title'] = '灵格特' }}

            {{ $banner_carousel39['img'] = 'img/main/city/chengdu/banner_logos_qihangjy_130x60.png' }}
            {{ $banner_carousel39['url'] = 'http://qihang.genshuixue.com/' }}
            {{ $banner_carousel39['title'] = '启航' }}

            {{ $banner_carousel3a['img'] = 'img/main/city/chengdu/banner_logos_handson_130x60.png' }}
            {{ $banner_carousel3a['url'] = 'http://331781289.genshuixue.com/' }}
            {{ $banner_carousel3a['title'] = 'hangdson' }}

            {{ $banner_carousel3b['img'] = 'img/main/city/chengdu/banner_logos_shengkaienjs_130x60.png' }}
            {{ $banner_carousel3b['url'] = 'http://sunnysky.genshuixue.com/' }}
            {{ $banner_carousel3b['title'] = '圣凯恩' }}

            {{ $banner_carousel3c['img'] = 'img/main/city/chengdu/banner_logos_xinghangyjy_130x60.png' }}
            {{ $banner_carousel3c['url'] = 'http://371595769.genshuixue.com  ' }}
            {{ $banner_carousel3c['title'] = '星翰' }}











        {{ $banner_carousel3[] = $banner_carousel31 }}
        {{ $banner_carousel3[] = $banner_carousel32 }}
        {{ $banner_carousel3[] = $banner_carousel33 }}
        {{ $banner_carousel3[] = $banner_carousel34 }}
        {{ $banner_carousel3[] = $banner_carousel35 }}
        {{ $banner_carousel3[] = $banner_carousel36 }}
        {{ $banner_carousel3[] = $banner_carousel37 }}
        {{ $banner_carousel3[] = $banner_carousel38 }}
        {{ $banner_carousel3[] = $banner_carousel39 }}
        {{ $banner_carousel3[] = $banner_carousel3a }}
        {{ $banner_carousel3[] = $banner_carousel3b }}
        {{ $banner_carousel3[] = $banner_carousel3c }}

    {{ $banner_carousel[] = $banner_carousel1 }}
    {{ $banner_carousel[] = $banner_carousel2 }}
    {{ $banner_carousel[] = $banner_carousel3 }}

{{ $static_banner['banner_top'] = $banner_top }}
{{ $static_banner['banner_bottom'] = $banner_bottom }}
{{ $static_banner['banner_carousel'] = $banner_carousel }}

{{ $city_data['static_banner']=$static_banner scope="parent" }}