.comment-item {
    margin-top: 40px;
    .student-info {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #ededee;
        }
        span {
            font-size: 12px;
            color: #9D9D9E;
        }
        .student-name {
            font-size: 14px;
            color: #6D6D6E;
            margin-left: 10px;
        }
        .comment-time {
            margin-right: 40px;
        }
        .comment-time, .product-name {
            float: right;
            position: relative;
            top: 9px;
        }
    }
    .comment-detail {
        font-size: 14px;
        color: #3D3D3E;
        margin-left: 50px;
        margin-top: 2px;
        word-break: break-word;
        .extra-comment {
            width: 700px;
            margin: 0 auto; 
            margin-top: 20px;
            background: #F3F3F4;
            color: #6d6d6e;
            font-size: 15px;
            padding: 20px;
            & > div {
                margin-bottom: 10px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}