@import "./base.less";
@import "../main/wechat.less";
@import "./mods/teacherList.less";
@import "./mods/hotLive.less";
@import "./mods/special.less";
@import "./mods/orgList.less";
@import "./mods/preferentialCourse.less";
@import "./mods/floor.less";
@import "./mods/goldCertOrg.less";

body {
    min-width: 1014px;
    background: #fff;
    .floor-wrapper{
        display: none;
        position: fixed;
        z-index: 10;
        top: 50%;
        margin-top: -148px;
    }
}

#site-nav,
#header,
#nav {
    & > .wrapper {
        width: 1190px;
    }
}

#header,
#nav {
    background: transparent;
    padding-top: 0;
}

#header {
    padding-top: 18px;
}

#main {
    width: 1190px !important;
    & > .wrapper {
        width: 1190px !important;
        margin: 0 auto;
    }
    margin-top: 10px;
    padding: 0;
    .recommend-wrapper {
        margin-top: 15px;
        margin-bottom: 30px;
        overflow: hidden;
        .recommend-list {
            width: 916px;
            float: left;
        }
        .live-list {
            width: 264px;
            float: right;
        }
        .recommend-content {
            min-height: 281px;
        }
    }

    .ad-banner-wrapper {
        a,
        img {
            display: block;
        }
    }

    .special-wrapper {
        margin-top: 30px;
    }

    .preferential-course-wrapper {
        margin-top: 26px;
    }

    .main-banner {
        height: 474px;
        margin-left: 222px;
        .clearfix();
    }
    .main-banner-promotion {
        height: 458px;
        width: 694px;
        float: left;
        &.loading {
            background: url('../../img/loading.gif') center no-repeat;
        }
    }
    .promotion-slider-container {
        width: 520px;
        height: 278px;
        margin-bottom: 2px;
        overflow: hidden;
        position: relative;
        text-align: center;
        float: left;

        &:hover {
            .promotion-slider-left,
            .promotion-slider-right {
                display: block;
            }
        }

        .promotion-slideritem {
            b {
                cursor: pointer;
            }
        }
    }
    .promotion-slider-left,
    .promotion-slider-right {
        color: #fff;
        background-color: #000;
        .opacity(0.3);
        display: none;


        &:hover {
            .opacity(0.6);
        }

        position: absolute;
        top: 50%;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        text-align: center;

        i {
            position: relative;
            top: 2px;
            right: 2px;
        }
    }
    .promotion-slider-left {
        left: 10px;
    }
    .promotion-slider-right {
        right: 10px;

        i {
            left: 1px;
        }
    }
    .promotion-slider {
        position:absolute;
        .clearfix();

        a {
            display: block;
        }

        li {
            float: left;
            height: 278px;
        }
    }
    .promotion-slider-nav {
        display: inline-block;
        .clearfix();
        margin-top: 255px;

        li {
            float: left;
        }

        span {
            text-indent: -9999px;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: @brand-gray;
            margin-left: @gap-horizontal-tiny;
            opacity: 0.9;
            cursor: pointer;

            &.active {
                opacity: 1;
                background: @brand-primary;
                position: relative;
            }
        }
    }
    .promotion-right-banner {
        float: left;
        width: 172px;
        height: 278px;
        display: block;
        margin-left: 2px;
        margin-bottom: 2px;

        a {
            display: block;
        }
        img {
            display: block;
            width: 172px;
            height: 278px;
        }
    }
    /**/
    .bottom-slider-container {
        width: 520px;
        height: 180px;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;

        &:hover {
            .bottom-slider-left,
            .bottom-slider-right {
                display: block;
            }
        }

        .bottom-slideritem {
            width: 520px;
            height: 180px;

            b {
                cursor: pointer;
            }

            a {
                float: left;
                display: block;
            }

            .style1 {
                width: 130px;
                height: 180px;

                img {
                    width: 130px;
                    height: 180px;
                }
            }

            .style2 {
                width: 260px;
                height: 180px;

                img {
                    width: 260px;
                    height: 180px;
                }
            }

            .style3 {
                width: 130px;
                height: 60px;

                img {
                    width: 130px;
                    height: 60px;
                }
            }
        }
    }
    .bottom-slider-left,
    .bottom-slider-right {
        color: #fff;
        background-color: #000;
        .opacity(0.3);
        display: none;


        &:hover {
            .opacity(0.6);
        }

        position: absolute;
        top: 50%;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        text-align: center;

        i {
            position: relative;
            top: 2px;
            right: 2px;
        }
    }
    .bottom-slider-left {
        left: 10px;
    }
    .bottom-slider-right {
        right: 10px;

        i {
            left: 1px;
        }
    }
    .bottom-slider {
        position:absolute;
        .clearfix();

        a {
            display: block;
        }

        li {
            float: left;
            height: 287px;
        }
    }
    .bottom-slider-nav {
        zoom: 1;
        display: inline-block;
        margin-top: 155px;

        li {
            float: left;
        }

        span {
            text-indent: -9999px;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: @brand-gray;
            margin-left: @gap-horizontal-tiny;
            opacity: 0.9;
            cursor: pointer;

            &.active {
                opacity: 1;
                background: @brand-primary;
                position: relative;
            }
        }
    }
    .bottom-right-banner {
        float: left;
        width: 172px;
        height: 180px;
        display: block;
        margin-left: 2px;

        a {
            display: block;
        }
        img {
            display: block;
            width: 172px;
            height: 180px;
        }
    }

    .promotion-static {
        margin-top: 2px;
        .clearfix();

        li {
            float: left;
            width: 199px;
            height: 114px;
            margin-right: 2px;

        }

        .last {
                margin-right: 0;
            }

        a,
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .main-banner-helper {
        float: left;
        margin-left: 10px;
        width: 264px;
        border: 1px solid #e8e8e8;
        height: 459px;
        li {
            .text-overflow();
        }

        .more {
            position: absolute;
            font-size: @font-size-tiny;
            top: 60px;
            left: 204px;
            color: @brand-text-lighter;
            &:hover {
                color: @brand-primary;
            }
        }
    }
    .main-banner-helper {
        background: #fff;

        &-news {
            position: relative;
            margin: 10px 15px;
            height: 26px;
            border-bottom: 1px solid #eee;
            margin-bottom: 95px;
        }

        &-news-item {
            float: left;
            overflow: visible;
            font-size: @font-size-tiny;
            text-align: center;
            line-height: 25px;

            strong {
                cursor: pointer;
            }

            ol {
                width: 228px;
                position: absolute;
                left: 0;
                top: 35px;
                line-height: 20px;
                text-align: left;
                display: none;
            }

            &.active {
                strong {
                    font-weight: 700;
                }

                border-bottom: 3px solid @brand-primary;

                ol {
                    display: block;
                }
            }
        }

        &-login {
            padding: 15px;
            border-top: 1px solid #eee;
            position: relative;
        }

        &-userinfo {
            height: 65px;
            position: relative;
            background: #fff;
            z-index: @zindex-tiny;

            .avatar-small {
                position: absolute;
                top: 0;
                left: 0;

            }
            padding-left: 78px;
            margin-bottom: 55px;

            h4 {
                padding-top: 10px;
                .text-overflow();
            }
        }

        @-webkit-keyframes user_schedule_show {
            0% {
                top: 98px;
            }

            100% {
                top: 48px;
            }
        };
        @-moz-keyframes user_schedule_show {
            0% {
                top: 98px;
            }

            100% {
                top: 48px;
            }
        };
        @-ms-keyframes user_schedule_show {
            0% {
                top: 98px;
            }

            100% {
                top: 48px;
            }
        };
        @-o-keyframes user_schedule_show {
            0% {
                top: 98px;
            }

            100% {
                top: 48px;
            }
        };
        @keyframes user_schedule_show {
            0% {
                top: 98px;
            }

            100% {
                top: 48px;
            }
        };



        &-operation {

            .btn-success {
                font-size: 12px;
                width: 54px;
            }

            .btn-primary {
                font-size: 12px;
                margin-left: 10px;
            }

            position: absolute;
            top: 98px;
            height: 35px;
            overflow: hidden;

            &.active {
                -webkit-animation: user_schedule_show 1s;
                -moz-animation: user_schedule_show 1s;
                -ms-animation: user_schedule_show 1s;
                -o-animation: user_schedule_show 1s;
                animation: user_schedule_show 1s;

                top: 48px;
                height: auto;
            }
        }

        &-cert {
            position: relative;
            z-index: @zindex-tiny;
            background: #fff;
        }

        &-schedule {
            width: 100%;
            margin-top: 10px;
            td {
                text-align: center;
                border-right: 1px solid #eee;

                &:last-child {
                    border-right: 0;
                }

                position: relative;
            }

            span {
                display: block;
                color: @brand-primary;
            }

            .icon-prize-tip {
                position: absolute;
                top: -20px;
                right: 0;
                z-index: @zindex-small;
            }
        }
    }
    .hotpoints-title, .last-join-title {
        clear: both;
        color: #3d3d3d;
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
    }
    .hotpoints {
        .clearfix();

        margin-top: @gap-vertical-medium;

        li {
            float: left;
            width: 230px;
            margin-right: @gap-horizontal-medium;
            background: #fff;
            text-align: center;
            box-shadow: 0 1px 1px #D5D5D5;

            &.hotpoint-last{
                margin-right: 0;
            }
        }

        a,
        img,
        em {
            display: block;
        }

        a {
            width: 100%;
            height: 100%;
            padding-bottom: @gap-vertical-large;

            &:hover {
                background-color: darken(#fff, 3%);
                b {
                    color: @brand-primary;
                }
                color: #3d3d3d;
            }
        }

        img {
            width: 100%;
            height: 132px;
        }

        em {
            font-size: 18px;
            padding: 13px 0 4px;
            color: #3d3d3d;
        }

        span {
            font-size: @font-size-small;
        }

        b {
            color: @brand-primary;
        }

        margin-bottom: 20px;
    }
    .last-join {
        cursor: default;
        padding: 2px 0;
        @width: 212px;
        @height: 117px;
        overflow: hidden;
        margin-top: @gap-vertical-medium;
        .last-join-wrapper {
            .clearfix();
        }
        li {
            width: @width;
            height: @height;
            .inline-block();
            background-color: #fff;
            margin-right: @gap-horizontal-medium;
            box-shadow: 0 1px 1px #D5D5D5;
        }
        .last{
            margin-right: 0;
        }
        li:hover {
            background-color: darken(#fff, 3%);
        }
        .img-wrapper {
            float: left;
        }
        img {
            height: 80px;
            width: 80px;
            margin-left: @gap-horizontal-large;
            margin-top: @gap-vertical-huge;
        }
        .baseinfo-wrapper {
            float: left;
        }
        .baseinfo {
            float: left;
            margin-left: @gap-horizontal-large;
            margin-top: @gap-vertical-huge;
            width: @width - 80 - (@gap-horizontal-large * 2);

            p {
                font-size: @font-size-small;
            }
            h4 {
                font-size: @font-size-medium;
            }
            color: @brand-text;
            p, h4 {
                .text-overflow();
            }
            .course {
                background-color: #8C98A0;
                color: #fff;
                border-radius: 5px;
                padding: 1px 5px;
                font-size: @font-size-tiny;
                .inline-block();
                max-width: 85px;
            }
            .icon {
                margin-right: 2px;
                color: #3A3A3A;
            }
        }
        .school-age {
            font-size: @font-size-tiny !important;
        }

        padding-bottom: @gap-vertical-huge;
    }
    .scroll-track {
        width: 100%;
        height: 8px;
        position: relative;
        padding-bottom: @gap-horizontal-large;
        cursor: default;
        .scroll-thumb {
            position: absolute;
            top: 0;
            height: 8px;
            background-color: @brand-gray;
            border-radius: 10px;
            .inline-block();
        }
    }
    .scroll-track:hover {
        .scroll-thumb {
            .inline-block();
            background-color: @brand-text-lighter;
            .transition(background-color 0.2s);
        }
    }

    .floor-wrapper {
        width: 100%;
    }
    .floor {
        background: url(../../img/main/normal_bg.png) -9px 321px no-repeat;
        width: 1275px;
        padding: 12px 50px 60px;
        margin-left: -50px;
    }
    .floor-nav {
        .clearfix();
        margin-bottom: 10px;
        h2 {
            float: left;
            font-size: 18px;
            text-align: center;

            strong {
                color: @brand-info;
                font-size: 30px;
                margin-right: 6px;

            }

        }

        ul {
            float: left;
            margin-left: 24px;
            font-size: 14px;
            margin-top: 15px;

            li {
                float: left;
                text-align: center;
                margin-right: 6px;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                background: #fafafa;
                border: 1px solid #ddd;
                border-radius: 20px;
                padding: 2px 10px 1px;

            }
        }

    }
    .floor-nav-more {
        float: right;

        color: #9d9d9d;
        margin-top: 20px;

        &:hover {
            color: #3d3d3d;
        }
    }
    .floor-teachers {
        .clearfix();

        li {
            float: left;
            width: 230px;
            margin-right: 6px;
            background: #fff;
            position: relative;
            text-align: center;
            padding: 22px 0 16px;

            img {
                width: 120px;
                height: 120px;
                border-radius: 60px;
                position: relative;
                z-index: @zindex-small;
            }


            &:hover {
                .floor-teacher-mask {
                    display: block;

                    -webkit-animation: teacherMaskShow 0.5s;
                    -moz-animation: teacherMaskShow 0.5s;
                    -ms-animation: teacherMaskShow 0.5s;
                    -o-animation: teacherMaskShow 0.5;
                    animation: teacherMaskShow 0.5s;
                    .opacity(0.8);
                }

                .floor-teacher-intro {
                    height: 106px;
                    padding: 0 16px;

                    -webkit-animation: teacherIntroShow 1s;
                    -moz-animation: teacherIntroShow 1s;
                    -ms-animation: teacherIntroShow 1s;
                    -o-animation: teacherIntroShow 1s;
                    animation: teacherIntroShow 1s;
                }
            }

            &.floor-teacher-last {
                margin-right: 0;
            }

        }
    }
    .floor-teacher-mask {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        .opacity(0);

        &>a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .floor-teacher-intro {
        position: absolute;
        color: #fff;
        background: transparent;
        font-size: @font-size-small;
        height: 0;
        bottom: 0;
        padding: 0;
        overflow: hidden;
        color: #fff;
        text-align: left;
        font-size: 13px;
        //display: none;
        //-webkit-animation: teacher_intro_hide 5s;
    }
    .floor-teacher-baseinfo {
        padding: 0 13px;
        line-height: 1;
        text-align: center;

        em,
        strong {
            display: block;
        }

        em,
        strong,
        span {
            margin-top: 10px;
        }

        strong {
            font-size: 20px;
            color: #3d3d3d;
        }

        .floor-teacher-addr {
            font-size: 12px;
            display: block;
        }

        .icon-location-o {

            font-size: 13px;
            position: relative;
            top: 1px;
            margin-right: 4px;
        }

        p {
            line-height: 16px;
        }
    }
    .floor-teacher-age {
        margin-left: 10px;
        .inline-block();
        color: #fff;
        padding: 4px 12px 3px;
        text-align: center;
        font-size: @font-size-tiny;
    }

    .flow-wrapper {
        margin-top: 25px;
    }
    .user-flow {
        h3 {
            width: 146px;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            text-indent: 4px;
        }

        ol {
            margin: 26px 0 52px;
            text-align: center;
        }

        li {
            .inline-block();
            width: 268px;
            text-align: center;
            vertical-align: top;
        }

        h4 {
            font-size: 18px;
            line-height: 2;
            color: #3d3d3d;
        }

        p {
            margin: @gap-vertical-medium 26px 0;
            font-size: 13px;
            line-height: 24px;
            height: 96px;
            text-align: left;
        }

        .icon {
            color: @brand-info;
            font-size: 62px;
        }
    }
}


.main-category-list {
    position: relative;
    height: 470px;

    .left-bottom {
        left: -2px;
        bottom: -2px;
        background-position: -38px 0;
    }
    .right-bottom {
        right: -2px;
        bottom: -2px;
        background-position: -57px 0;
    }
}

.main-category-level1 {
    &:hover {
        background-color: red;
    }
}
.main-category-header {
    position: relative;
    .left-top {
        left: 0;
        top: 0;
        background-position: 0 0;
    }
    .right-top {
        right: 0;
        top: 0;
        background-position: -19px 0;
    }
}

#nav, #header, #main {
    min-width: 1014px;
}

@-webkit-keyframes teacherMaskShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(0.8);
    }
}
@-moz-keyframes teacherMaskShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(0.8);
    }
}
@-ms-keyframes teacherMaskShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(0.8);
    }
}
@-o-keyframes teacherMaskShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(0.8);
    }
}
@keyframes teacherMaskShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(0.8);
    }
}


@-webkit-keyframes teacherIntroShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(1);
    }
}
@-moz-keyframes teacherIntroShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(1);
    }
}
@-ms-keyframes  teacherIntroShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(1);
    }
}
@-o-keyframes teacherIntroShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(1);
    }
}
@keyframes teacherIntroShow {
    0% {
        .opacity(0);
    }

    100% {
        .opacity(1);
    }
}

.setFloorSpecialStyle(@key, @color) {


    .floor-nav-@{key} {
        h2 {
            strong {
                    color: @color !important;
            }
        }

        li {
            a {
                &:hover {
                    background: @color !important;
                    color: #fff;
                    border-color: transparent;
                }
            }
        }

    }

    .floor-@{key} {

        .floor-teacher-age {
            background-color: @color;
        }

        .icon-location-o {
            color: @color;
        }


    }
}

.setFloorSpecialStyle(k12, @brand-info);
.setFloorSpecialStyle(abroad, @brand-success);
.setFloorSpecialStyle(art, @brand-primary);

.narrow-mode {
    width: 100% !important;
    margin: 0 auto;

    & > .wrapper {
        width: 100% !important;
    }
}

#main.narrow-mode {
    width: 100% !important;

    & > .wrapper {
        width: 100% !important;
    }

    .floor {
        width: 1114px;
        background: url(../../img/main/small_bg.png) 0 311px no-repeat;
        padding: 0 50px 50px;
        margin-left: -50px;
    }

    .main-banner {
        min-width: 794px;
    }
    .main-banner-promotion {
        width: 520px;
    }

    .hotpoints {
        li {
            width: 196px;
            margin-right: 8.5px;

            &.hotpoint-last {
                margin-right: 0;
            }
        }
    }

    .floor-teachers {
        li {
            width: 196px;
            margin-right: 8.5px;

            &.floor-teacher-last {
                margin-right: 0;
            }
        }
    }

    .user-flow {
        li {
            width: 253px;
        }
    }
}

.middle-mode {
    width: 100% !important;
    margin: 0 auto;

    & > .wrapper {
        width: 1014px !important;
    }
}

#main.middle-mode {
    width: 1014px !important;

    & > .wrapper {
        width: 1014px !important;
    }

    .floor {
        width: 1114px;
        background: url(../../img/main/small_bg.png) 0 311px no-repeat;
        padding: 0 50px 50px;
        margin-left: -50px;
    }

    .main-banner-promotion {
        width: 520px;
    }

    .main-banner-helper {
        margin-left: 8px;
    }

    .hotpoints {
        li {
            width: 196px;
            margin-right: 8.5px;

            &.hotpoint-last {
                margin-right: 0;
            }
        }
    }

    .floor-teachers {
        li {
            width: 196px;
            margin-right: 8.5px;

            &.floor-teacher-last {
                margin-right: 0;
            }
        }
    }

    .user-flow {
        li {
            width: 253px;
        }
    }

}


#header {
    .zq {
        .logo {
            background: url(../../img/zq-logo-1.jpeg) no-repeat;
            text-indent: -9999px;
            width: 240px;
            height: 140px;
            position: absolute;
            left: -25px;
            top: -15px;
        }

        .city {
            width: 56px;
            .text-overflow();
            strong {
                color: @brand-text;
                font-weight: bold;
            }
            position: absolute;
            left: 243px;
            top: 35px;
            border-left: none;
            padding-left: 8px;
        }

        .search-form {
            position: absolute;
            top: 66px;
            left: 316px;
        }

        .placeholder-wrappers {
            width: 540px;
        }

        .feature-box {
            margin-right: 0;
        }

        .instruction {
            display: none;
        }
    }

    .gq {
        .logo {
            background: url(../../img/gq-logo.jpg) no-repeat;
            text-indent: -9999px;
            width: 244px;
            height: 140px;
            position: absolute;
            left: -25px;
            top: -15px;
        }

        .city {
            width: 56px;
            .text-overflow();
            strong {
                color: @brand-text;
                font-weight: bold;
            }
            position: absolute;
            left: 215px;
            top: 35px;
            border-left: none;
            padding-left: 8px;
        }

        .search-form {
            position: absolute;
            top: 66px;
            left: 290px;
        }

        .placeholder-wrappers {
            width: 540px;
        }

        .instruction {
            display: none;
        }
    }

}




