.main-banner-helper-cert {

    .clearfix();
    border-top: 1px solid #eee;

    .content {
        padding: 10px;
        text-align: center;
        background: #f7f7f7;
        border-bottom: solid 1px #eee;
        .download-content {
            width: 50%;
            display: inline-block;
            text-align: center;
            .icon {
                display: block;
                width: 58px;
                height: 58px;
                line-height: 58px;
                border-radius: 58px;
                margin: 0 auto;
                color: #fff;
                font-size: 40px;
                &.icon-tv{
                    font-size: 35px;
                }
            }
            &.live {
                .icon {
                    background: #6187dc;
                }
                .download-link {
                    a {
                        color: #6187dc;
                    }
                }
            }
            &.app {
                .icon {
                    background: #f90;
                }
                .download-link {
                    a {
                        color: #f90;
                    }
                }
            }
            .download-link {
                margin: 8px 0;
                line-height: 1;
            }
            .download-description {
                line-height: 1;
                color: #666;
            }
        }
    }

    .introduce-video {
        font-size: 14px;
        color: #6d6d6d;
        padding: 10px;
        background: #fff;
        width: 100%;
        clear: both;
        height: 47px;
        text-align: center;

        a {
            position: relative;
            top: 0px;
        }

        .icon-camera {
            font-size: 22px;
            color: #6d6d6d;
            margin-right: 5px;
            position: relative;
            top: 4px;
        }
    }
}