//课程资料
.course-material{
    margin-top: rem(10);
    background-color: #fff;
    .data-info {
        background-color: #fff;
        font-size: rem(15);
        line-height: rem(25);
    }
    .total-data {
        font-size: rem(16);
        color: #6d6d6e;
        height: rem(40);
        line-height: rem(40);
        text-align: center;
        margin: 0 auto;
        margin-top: rem(15);
        .to-more {
            display: inline-block;
            border: 1px solid #eaeaea;
            border-radius: rem(2);
            padding: 0 rem(12);
        }

    }
}