{{ *

@file 老师文章列表页
@author zengcheng

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}
{{ strip }}
    {{ $smarty.block.parent }}
    {{ $script_path = "teacher/newArticle_85f0fbecfb" }}
    {{ if isset($tpl_data.profile.user_id) }}
        {{ $script_data.teacherId = $tpl_data.profile.user_id }}
    {{ else }}
        {{ $script_data.teacherId = 0 }}
    {{ /if }}
    {{ $script_data.teacherNum = $tpl_data.profile.user_number }}
    {{ if isset($tpl_data.profile.usabletime_desc) }}
        {{ $script_data.usabletimeDesc = $tpl_data.profile.usabletime_desc }}
    {{ /if }}
    {{ if !empty($tpl_data.profile.org_type) }}
        {{ $script_data.org_type = $tpl_data.profile.org_type }}
    {{ /if }}
    {{ if !empty($tpl_data.profile.organization) }}
        {{ $script_data.org_id = $tpl_data.profile.organization.id }}
    {{ /if }}
    {{ $script_data.domain = $tpl_data.profile.domain }}
    {{ $script_data.teacherName = $tpl_data.profile.name }}
    {{ $script_data.ispreview = $tpl_data.is_preview }}
    {{ $script_data.isFavored = $tpl_data.is_favored }}
    {{ if isset($tpl_data.profile.audio) }}
        {{ $script_data.audio = $tpl_data.profile.audio }}
    {{ /if }}
    {{ if isset($tpl_data.profile.audio_length) }}
        {{ $script_data.audio_length = $tpl_data.profile.audio_length }}
    {{ /if }}
    {{ if isset($tpl_data.profile.offline_poi) }}
        {{ $script_data.lng = $tpl_data.profile.offline_poi.lng }}
        {{ $script_data.lat = $tpl_data.profile.offline_poi.lat }}
    {{ /if }}
    {{ $script_data.article = $tpl_data.article }}

    {{ $nav_config.hidden = 1 }}
    {{ $nav_config.active = '' }}

    {{ $baidu_share_text = "#跟谁学# 分享一位老师给你哦~"|cat: $tpl_data.profile.name }}
    {{ $baidu_share_text = $baidu_share_text|cat: "，"|cat: $tpl_data.profile.slogan|regex_replace:"/[\r\t\n]/":" " }}
    {{ $baidu_share_text = $baidu_share_text|cat: "，还在等什么？找好老师，上跟谁学，快来开启寻师之旅吧！" }}

    {{ $baidu_share_image = $static_origin|cat:"/asset/img/share.jpg" }}

    {{ **顶部搜索去掉placeholder支持空query** }}
    {{ $current_page = 'detail' }}
    {{ $need_location_seo = true }}
{{ /strip }}
{{ /block }}

{{ block name="title" }}
    {{ $tpl_data.title }}
{{ /block }}

{{ block name="keywords" }}
    {{ $tpl_data.keywords }}
{{ /block }}

{{ block name="description" }}
    {{ $tpl_data.description }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/teacher/newArticle_11df4a50eb.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

{{ include file="./newDetail/crumb.html" profile=$tpl_data.profile crumb=$tpl_data.crumb }}
{{ include file="./common/banner.html" }}

{{ **李杜老师特殊处理,329108828** }}
{{ $hidden = true }}

<div id="main" class="article-active">
    {{ include file="teacher/newDetail/profile.html" tpl_data=$tpl_data.profile is_favored=$tpl_data.is_favored active="article" }}
    <div id="teacher-sidebar">
        <!-- 学习头条接入，隐藏掉分类功能 -->
        <!-- <div id="category-list" class="category-list-wrapper"> -->
            {{ **include "teacher/newDetail/articleCategory.html" tpl_data=$tpl_data.article** }}
        <!-- </div> -->
    </div>
    <div id="teacher-content">
        {{ include file="teacher/newDetail/article.html" }}
        {{ include file="teacher/detail/orderForm.html" tpl_data=$tpl_data.teach.subject min_price=$tpl_data.teach.min_price hidden=$hidden can_order=$tpl_data.profile.can_order|default:false }}
    </div>
</div>
{{ /strip }}
{{ /block }}

{{ block name="inner_link" }}
{{ include file="common/innerlink/searchList.html" data=$tpl_data.pageInnerLinks mod="老师" inner_type="teacher" }}
{{ /block }}