{{ *

@file 新版老师详情页 - 个人资料 2015.5.12
@author jixiaohui

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}
{{ strip }}
    {{ $smarty.block.parent }}
    {{ $script_path = "teacher/newIntro_87e662c5f1" }}
    {{ $script_data.teacherId = $tpl_data.profile.user_id }}
    {{ $script_data.teacherNum = $tpl_data.profile.user_number }}
    {{ $script_data.teacherName = $tpl_data.profile.name }}
    {{ $script_data.isFavored = $tpl_data.is_favored }}
    {{ $script_data.audio = $tpl_data.profile.audio|default:"" }}
    {{ $script_data.audio_length = $tpl_data.profile.audio_length|default:0 }}
    {{ $script_data.domain = $tpl_data.profile.domain }}
    {{ if !empty($tpl_data.profile.org_type) }}
        {{ $script_data.org_type = $tpl_data.profile.org_type }}
    {{ /if }}
    {{ if !empty($tpl_data.profile.organization) }}
        {{ $script_data.org_id = $tpl_data.profile.organization.id }}
    {{ /if }}
    {{ $nav_config.hidden = 1 }}
    {{ $nav_config.active = '' }}

    {{ $baidu_share_text = "#跟谁学# 分享一位老师给你哦~"|cat: $tpl_data.profile.name }}
    {{ $baidu_share_text = $baidu_share_text|cat: "，"|cat: $tpl_data.profile.slogan|regex_replace:"/[\r\t\n]/":" " }}
    {{ $baidu_share_text = $baidu_share_text|cat: "，还在等什么？找好老师，上跟谁学，快来开启寻师之旅吧！" }}

    {{ $baidu_share_image = $static_origin|cat:"/asset/img/share.jpg" }}

    {{ **顶部搜索去掉placeholder支持空query** }}
    {{ $current_page = 'detail' }}
    {{ $need_location_seo = true }}

{{ /strip }}
{{ /block }}

{{ block name="title" }}
    {{ $tpl_data.title }}
{{ /block }}


{{ block name="keywords" }}
    {{ $tpl_data.keywords }}
{{ /block }}

{{ block name="description" }}
    {{ $tpl_data.description }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/teacher/newIntro_33b5b23db5.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

{{ include file="./newDetail/crumb.html" profile=$tpl_data.profile crumb=$tpl_data.crumb }}
{{ include file="./common/banner.html" }}

{{ **李杜老师特殊处理,329108828** }}
{{ $hidden = true }}

<div id="main" class="profile-active">
    {{ include "teacher/newDetail/profile.html" tpl_data=$tpl_data.profile is_favored=$tpl_data.is_favored active="intro" }}
    <div id="teacher-sidebar">
        {{ $profile = $tpl_data.profile }}
        {{ $teach = $tpl_data.teach }}

        <div id="teacher-base-info">
            <div class="new-title">基本信息</div>
            <div class="info">
                {{ $profile.name }}&nbsp;&nbsp;&nbsp;&nbsp;ID：{{ $profile.user_number }}&nbsp;&nbsp;&nbsp;&nbsp;{{ if $profile.sex != 2 }}{{ if $profile.sex == 1 }}男{{ else }}女{{ /if }}&nbsp;&nbsp;&nbsp;&nbsp;{{ /if }}
                {{ if $teach.school_age == -1 || $teach.school_age == 90 }}
                    30年以上教龄
                {{ else }}
                    {{ $teach.school_age }}年教龄
                {{ /if }}&nbsp;&nbsp;&nbsp;&nbsp;
                {{ if !$profile.country }}
                    {{ if !empty($profile.area) }}
                    {{ $profile.area }}
                    {{ else if !empty($profile.org_address) }}
                    {{ $profile.org_address }}
                    {{ /if }}
                {{ else }}
                    {{ $profile.country }}
                {{ /if }}
            </div>
        </div>

        {{ if $profile.self_introduce }}
        <div id="teacher-intro">
            <div class="new-title">老师介绍</div>
            <div class="info">
                {{ $profile.self_introduce }}
            </div>
        </div>
        {{ /if }}

        {{ $experience = $tpl_data.experience }}
        {{ if count($experience) > 0 }}
        <div id="teacher-experience">
            <div class="new-title"><i class="teacher-flag"></i>过往经历</div>
            <ul>
                {{ foreach $experience as $val }}
                <li {{ if $val@index > 1 }}class="hide-content"{{ /if }}>
                    <i class="icon icon-circle"></i>
                    {{ if $val.end_date == '0000-00-00' }}
                        {{ $end = '至今' }}
                    {{ else }}
                        {{ $end = $val.end_date|date_format:"%Y年%m月" }}
                    {{ /if }}
                    <div class="title">{{ $val.start_date|date_format:"%Y年%m月" }} — {{ $end }}</div>

                    {{ $content_cut = addslashes($val.content_cut)|escape|nl2br }}
                    {{ $content = addslashes($val.content)|escape|nl2br }}
                    {{ $content_new_cut = addslashes($val.content_new_cut)|escape|nl2br }}

                    <div class="detail">
                        <div>
                            {{ $content }}
                        </div>
                    </div>

                    <div class="text-indent-seo">
                        {{ $content }}
                    </div>

                </li>
                {{ /foreach }}

            </ul>
        </div>
        {{ /if }}

        {{ $success = $tpl_data.success }}
        {{ if count($success) > 0 }}
        <div id="teacher-success">
            <div class="new-title"><i class="teacher-star"></i>相关案例</div>
            <ul>
                {{ foreach $success as $val }}
                <li {{ if $val@index > 1 }}class="hide-content"{{ /if }}>
                    <i class="icon icon-star"></i>
                    <div class="title">
                        <strong class="date">{{ $val.date|date_format:"%Y年%m月" }}</strong><strong>{{ $val.title }}</strong>
                    </div>

                    {{ $content_cut = addslashes($val.content_cut)|escape|nl2br }}
                    {{ $content = addslashes($val.content)|escape|nl2br }}
                    {{ $content_new_cut = addslashes($val.content_new_cut)|escape|nl2br }}

                    <div class="detail">
                        <div>
                            {{ $content }}
                        </div>
                    </div>
                </li>
                {{ /foreach }}

            </ul>
        </div>
        {{ /if }}

    </div>
    <div id="teacher-content">
        {{ include file="teacher/detail/orderForm.html" tpl_data=$tpl_data.teach.subject min_price=$tpl_data.teach.min_price hidden=$hidden can_order=$tpl_data.profile.can_order|default:0 }}
    </div>
</div>
{{ /strip }}
{{ /block }}

{{ block name="inner_link" }}
{{ include file="common/innerlink/searchList.html" data=$tpl_data.pageInnerLinks mod="老师" inner_type="teacher" }}
{{ /block }}

{{ block name="script" }}
{{ strip }}
    {{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}
{{ /strip }}
{{ /block }}
