/**
 * @file 小卡片样式
 * @author wangtianhua
 */

.card-body {
    overflow: hidden;
    width: 1208px;
    margin: 10px auto;
    .right {
        margin-right: 0;
    }

    li {
        background-color: #fff;
        float: left;
        width: 390px;
        height: 340px;
        margin: 5px 10px;
        margin-left: 0px;
        position: relative;
        cursor: pointer;

        transition: box-shadow .5s;
        -moz-transition: box-shadow .5s;
        -webkit-transition: box-shadow .5s;
        -o-transition: box-shadow .5s;
        &.first {
            margin-left: 9px;
        }
        &:hover {
            border-color: #e0e0e0;
            -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }
        .pic {
            display: block;
            img {
                margin: 10px;
                overflow: hidden;
            }
            &:hover {
                .hide-mode {
                    display: block;
                }
            }
        }
        .hidedesc {
            color: #fff;
            display: none;
            position: absolute;
            width: 370px;
            height: 210px;
            top: 10px;
            left: 10px;
            text-align: left;
            z-index: 2;
            overflow: hidden;
           .hidedesc_words {
                width: 100%;
                height: 100%;
                color: #fff;
                display: block;
                font-size: 16px;
                padding: 50px 30px 0;
                word-wrap: break-word;
            }
        }
        .hide-mode {
            display: none;
            position: absolute;
            width: 370px;
            height: 210px;
            top: 10px;
            left: 10px;
            background-color: #000;
            .opacity(0.5);
            z-index: 1;
        }
        .detail {
            text-align: center;
            .course_name {
                .name {
                    color: #222;
                    font-size: 16px;
                    &:hover {
                       color: #f90;
                    }
                }
            }
           .describe {
                display: block;
                color: #666;
                font-size: 14px;
              margin: 5px 0;
                height: 21px;
            }

            .information {
                font-size: 12px;
                margin-top: 18px;
                .price {
                    color: #f95710;
                    float: left;
                    margin-left: 20px;
                    b {
                        margin-right: 2px;
                    }
                    &.free {
                        color: #56b02a;
                    }
                }
                .time,
                .people {
                    color: #666;
                    font-size: 12px;
                    line-height: 12px;
                    i {
                        margin-right: 5px;
                        font-size: 12px;
                        color: #666;
                    }
                }
                .people {
                    float: right;
                    margin-right: 20px;
                }
            }

        }
    }

}