/**
 * @file 联报课详情页布局样式
 * @author wangyujie
 */
#sidebar {
    float: right;
    margin: 0;
}

#content {
    padding: 0;

    h3 {
        color: @brand-text;
        font: 20px @font-family-title;
        font-weight: bold;
        border-bottom: 1px solid @border-color-gray;

        span {
            .inline-block();
            border-bottom: 2px solid @brand-primary-new;
            padding-bottom: 10px;
        }

        margin-top: 40px;
    }

}

.content-toggle {
    color: @brand-text-lighter;
    font-size: @font-size-tiny;
    cursor: pointer;
    margin-left: @gap-horizontal-medium;
}