
@import "module/index.styl";
@import './upload.styl';
.apply-authen {
    overflow: auto;
    font-size: rem(14);
    background: #f2f3f4;
    &-title {
        display: flex;
        margin-top: rem(14);
        margin-left: rem(15);
        align-items: center;
        color: #6d6d6e;
        height: rem(15);
        margin-bottom: rem(8);
        &::before {
            display: inline-block;
            margin-right: rem(5);
            content: '';
            width: rem(4);
            height: rem(15);
            background: #f95d5d;
            border-radius: rem(100);
        }
    }
    &-type {
        background: #fff;
        height: rem(110);
        display: flex;
        .type-item {
            flex: 1;
            text-align: center;
            .type {
                width: rem(58);
                height: rem(58);
                margin: rem(15) auto rem(8);
                line-height: rem(62);
                border-radius: 50%;
                font-size: rem(30);
                box-shadow: 0 0 rem(6) 0 rgba(160,160,160,0.30);
                &.active {
                    color: #fff;
                    background: #f95d5d;
                    box-shadow: 0 0 rem(6) 0 rgba(249,93,93,0.50);
                }
            }
            .name {
                color: #3d3d3e;
                line-height: rem(14);
            }
        }
    }

    &-item {
        height: rem(48);
        display: flex;
        align-items: center;
        background: #fff;
        padding-left: rem(15);
        border-bottom: rem(1) solid #f6f6f6;
        .name {
            width: rem(105);
            height: rem(48);
            line-height: rem(48);
            color: #3d3d3e;
        }
        .content {
            flex: 1;
            color: #9d9d9e;
            padding-right: rem(20);
        }
    }
    &-submit {
        padding: rem(16) rem(15) 0;
        font-size: rem(12);
        color: #6d6d6e;
        background: #f2f3f4;
    }
}