{{ *

@file  视频课评价 － 评论列表
@author wangyujie

* }}

{{ strip }}

{{ $comment_nav = $tpl_data.comment_data.comment_nav }}
<div class="comment-nav tab-nav">
    <b class="nav-item {{ if $comment_nav.face_type == 0 }} active {{ /if }}" data-face="0">
        全部评价（{{ $comment_nav.score.face_type.total }}）
    </b>
    <b class="nav-item {{ if $comment_nav.face_type == 1 }} active {{ /if }}" data-face="1">
        好评（{{ $comment_nav.score.face_type.great }}）
    </b>
    <b class="nav-item {{ if $comment_nav.face_type == 2 }} active {{ /if }}" data-face="2">
        中评（{{ $comment_nav.score.face_type.middle }}）
    </b>
    <b class="nav-item {{ if $comment_nav.face_type == 3 }} active {{ /if }}" data-face="3">
        差评（{{ $comment_nav.score.face_type.lower }}）
    </b>
</div>

{{ $comment_list = $tpl_data.comment_data.comment_list }}
{{ $pager = $tpl_data.comment_data.pager }}

{{ if count($comment_list) > 0 }}
    <div class="list">

        {{ foreach $comment_list as $item }}
        <div class="item">
            <dl>
                <dt>
                    {{ if $item.anonymous == 1 }}
                        {{ include file="common/component/avatar.html" type="small" img=$item.user.avatar_url }}
                    {{ else }}
                        <a href="/x/{{ $item.user.number }}" target="_blank">
                            {{ include file="common/component/avatar.html" type="small" img=$item.user.avatar_url }}
                        </a>
                    {{ /if }}
                    <div class="user-name">
                        {{ $item.user.display_name|cn_truncate:4 }}
                        {{ if isset($item.fr) }}
                            {{ if $item.fr == 2 && !empty($item.del) }}
                                <span class="del" data-id="{{ $item.comment_id }}">删除</span>
                            {{ /if }}
                        {{ /if }}
                    </div>
                </dt>
            </dl>

            <div class="comment">

                <div class="score-info">
                    {{ include file="common/component/starScore.html" score=$item.comprehensive_score fr=$item.fr }}
                </div>

                <div class="content">
                    {{ if isset($item.fr) && ($item.fr == 1 || $item.fr == 3) }}
                        未做出评价，系统默认评价！
                    {{ else }}
                        {{ $item.info|escape }}
                    {{ /if }}
                </div>

                <div class="order-info">
                    {{ if isset($item.fr) && $item.fr == 2 }}
                        <span>邀请评价</span>
                    {{ else }}
                        {{ if $item.course.course_name }}
                            <a href="{{ $item.course.course_url }}" target="_blank">
                                {{ $item.course.course_name|cn_truncate: 33 }}
                            </a>
                            {{ if $item.schedule == 0 }}
                                <span>总评</span>
                            {{ else }}
                                <span>第{{ $item.schedule }}节</span>
                            {{ /if }}
                        {{ /if }}
                    {{ /if }}

                    <span class="date">
                        {{ $item.create_time|date_format:"%Y-%m-%d" }}
                    </span>

                    <div class="feedback">
                        {{ if empty($item.thumb_flag) }}
                            {{ $item.thumb_flag=0 }}
                        {{ /if }}
                        <b class="link btn-support" data-supported="{{ $item.thumb_flag }}" data-id="{{ $item.comment_id }}" data-count="{{ $item.thumb_up }}"{{ if $item.thumb_flag == 1 }} data-title="你已经点过了哦"{{ /if }}>
                            有用
                            <span>
                            （<em>{{ $item.thumb_up }}</em>）
                            </span>
                        </b>
                        {{ if isset($item.if_can_review) && $item.if_can_review }}
                            <b class="link reply-comment-btn">回复</b>
                        {{ /if }}
                    </div>
                </div>

                {{ if isset($item.if_can_review) && $item.if_can_review }}
                <div class="form comment-form" data-commentid="{{ $item.comment_id }}">

                    <div class="form-group">
                        <div class="form-editor">
                            <textarea class="form-text" name="info" placeholder=""></textarea>
                            <div class="form-hint">
                                还可以输入 <strong>200</strong> 个字
                            </div>
                        </div>

                        <span class="error"></span>
                    </div>

                    <div class="form-action">
                        <button class="btn-primary small comment-submit">
                            发布
                        </button>
                    </div>
                </div>
                {{ /if }}

                {{ if isset($item.additional) && isset($item.additional.student) }}
                    <div class="add-comment-show">
                        ［追加评论］{{ $item.additional.student.info }}
                    </div>
                {{ /if }}

                {{ if isset($item.additional) && isset($item.additional.teacher) }}
                    <div class="comment-reply">
                        ［回复］{{ $item.additional.teacher.info }}
                    </div>
                {{ /if }}

            </div>

        </div>
        {{ /foreach }}
    </div>

    {{ include file="common/component/pager.html" page=$pager.page page_size=$pager.page_size count=$pager.count nofollow=true }}

{{ else }}
    <div class="no-comment">
        <i class="icon icon-info-circle"></i>
        暂时没有评价哦
    </div>
{{ /if }}

{{ /strip }}