{{ *

@file 视频课详情页 - 视频课节
@author jixiaohui

* }}

{{ strip }}
{{ $list = $tpl_data.video_list }}
{{ if !empty($tpl_data.video_list) }}
<div id="video-section">
    <h3>视频课节</h3>
    {{ if $tpl_data.price }}
    <span class="free-day">
        <i class="watch"></i>
        {{ if $tpl_data.expire_time }}{{ $tpl_data.expire_time }}天随时看{{ else }}随时看{{ /if }}
    </span>
    {{ /if }}
    <ul class="section-list">
        {{ if $tpl_data.price == 0 }}
            <i class="free-list-tag"></i>
        {{ else if $counter > 0  }}
            <i class="cost-list-tag"></i>
        {{ /if }}
        {{ foreach $list as $val }}
            <li class="section">
                {{ if $tpl_data.price }}
                    {{ if $val.status == 3 }}
                    <a class="box box-try" {{ if $tpl_data.is_verify }}
                        href="/video_course/play?course_number={{ $tpl_data.number }}&section_id={{ $val.id }}&sign={{ $tpl_data.sign }}"
                    {{ else }}
                        href="/video_course/play?course_number={{ $tpl_data.number }}&section_id={{ $val.id }}"
                    {{ /if }} target="_blank" data-status="{{ $val.status }}"  data-sectionid="{{ $val.id }}">
                    {{ else }}
                    <a class="box box-cost" {{ if $tpl_data.is_verify }}
                        href="/video_course/play?course_number={{ $tpl_data.number }}&section_id={{ $val.id }}&sign={{ $tpl_data.sign }}"
                    {{ else }}
                        href="/video_course/play?course_number={{ $tpl_data.number }}&section_id={{ $val.id }}"
                    {{ /if }} target="_blank" data-status="{{ $val.status }}"  data-sectionid="{{ $val.id }}">
                    {{ /if }}
                {{ else }}
                <a class="box" {{ if $tpl_data.is_verify }}
                        href="/video_course/play?course_number={{ $tpl_data.number }}&section_id={{ $val.id }}&sign={{ $tpl_data.sign }}"
                    {{ else }}
                        href="/video_course/play?course_number={{ $tpl_data.number }}&section_id={{ $val.id }}"
                    {{ /if }} target="_blank" data-status="{{ $val.status }}"  data-sectionid="{{ $val.id }}">
                {{ /if }}
                    <div>{{ $val@index+1 }}<br/>课节</div>
                </a>
                <h5><a {{ if $tpl_data.is_verify }}
                            href="/video_course/play?course_number={{ $tpl_data.number }}&section_id={{ $val.id }}&sign={{ $tpl_data.sign }}"
                       {{ else }}
                            href="/video_course/play?course_number={{ $tpl_data.number }}&section_id={{ $val.id }}"
                       {{ /if }} class="title" target="_blank" data-status="{{ $val.status }}"  data-sectionid="{{ $val.id }}">{{ $val.name|cn_truncate:20 }}</a>
                {{ if !empty($val.video_verify_status) }}<i class="icon icon-info-circle"></i>{{ /if }}</h5>
                <div class="info">
                    {{ **<span class="time">30分钟</span> ** }}
                    <span class="num">播放次数：{{ $val.play_count }}</span>
                </div>
            </li>
        {{ /foreach }}
    </ul>

    {{ $show_zhekou_tips = false }}

    {{ if !empty($tpl_data.limit_discount) && $tpl_data.limit_discount[0] }}

        {{ $cur_time = $smarty.now }}
        {{ $start_time = strtotime($tpl_data.limit_discount[0].start_time) }}
        {{ $end_time = strtotime($tpl_data.limit_discount[0].end_time) }}

        {{ if ($start_time - $cur_time) < (24*60*60) && ($start_time - $cur_time > 0) }}
            {{ * 活动开始前24小时提醒 * }}
            {{ $show_zhekou_tips = true }}
            {{ $zhekou_descript = "限时折扣｜距抢购开始 " }}
            {{ $class = "price-tip-begin" }}
            {{ $time = ($start_time - $cur_time) }}
            {{ $price = $tpl_data.limit_discount[0].pre_price }}
            {{ $price_no = $tpl_data.limit_discount[0].price }}
        {{ else if ($start_time < $cur_time) && ($cur_time < $end_time) }}
            {{ * 活动进行中的提醒 * }}
            {{ $show_zhekou_tips = true }}
            {{ $zhekou_descript = "限时折扣｜距抢购结束 " }}
            {{ $class = "price-tip-end" }}
            {{ $time = ($end_time - $cur_time) }}
            {{ $price = $tpl_data.limit_discount[0].price }}
            {{ $price_no = $tpl_data.limit_discount[0].pre_price }}
        {{ /if }}
    {{ /if }}

    {{ **登陆，本地弹出（试听课登陆后都可以看,付费课进行后面的判断）是否购买，是否过期** }}
    {{ if $tpl_data.price == 0 || $tpl_data.can_study }}
        <button class="btn btn-default start">
            开始学习
        </button>
    {{ else }}
        <button class="btn btn-default buy">
            {{ if $show_zhekou_tips }}
                {{ $price }}元
            {{ else }}
                {{ $tpl_data.price }}元
            {{ /if }}
             &nbsp;|&nbsp;购买课程
        </button>
    {{ /if }}
</div>
{{ /if }}
{{ /strip }}