.input-suggestion {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: #fff;
    line-height: rem(28);
    border: 1px solid #f3f4f5;
    .suggestion-item {
        height: rem(40);
        border-bottom: 1px solid #f3f4f5;
        .label {
            width: 22%;
            float: left;
            height: 100%;
        }
        .key-word {
            line-height: rem(40);
        }
    }
}