{{ *

@file 地址薄弹窗模板

      参数：
      affiliate: 左下角附属功能 1:设置为常用地址 2:使用原地址

      addressList: 地址列表
      * 保存按钮，希望通过样式来控制显示与否，直接不显示会涉及到saveBtn实例化报错问题 *

@author wangyujie

* }}
{{ strip }}

{{ if isset($addressList) && $addressList }}
    {{ $count = count($addressList) }}
{{ else }}
    {{ $count = 0 }}
{{ /if }}

<script type="text/template" id="address-dialog-template">
    <div class="form-group">
        <label class="form-label text-primary">
            新增面授地址
        </label>
        <div class="form-controls">
            <div class="form-static">
                首先选择省市区信息，然后填写详细地址，最后使用地图定位准确位置
            </div>
        </div>
    </div>
    <div class="form">
    <div class="form-col">

        <div class="form-group region-select">
            <label class="form-label">
                所在地区：
            </label>
            <div class="form-controls">
                {{ include file="common/component/regionSelect.html" area_required=1 }}
                <span class="error"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">
                详细地址：
            </label>
            <div class="form-controls">
                <div class="form-editor location-addr address-suggestion">
                    <textarea type="text" class="form-text suggestion-input" name="location_addr" placeholder="不需要重复填写省市区，为保证定位可靠，建议提供精确到街道的地址" required disabled="disabled"></textarea>
                    <ul class="suggestion-list"></ul>
                    <span class="error"></span>
                    <div class="message-primary small">
                        <i class="icon icon-times-circle"></i>
                        你提供的地址定位不太准确，请填写更精确的地址
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group regular-addr">

            <div class="form-hint">
                <button class="btn-info small show-map" disabled="disabled">
                    地图定位
                </button>
            </div>

            <div class="form-controls">
                {{ if $user_data.user_type == 0 }}
                <label class="form-checkbox">
                    <input type="checkbox" name="regular_address" value=1 {{ if $count == 0 }} checked="checked" disabled="disabled" {{ /if }} />
                    设置为常用地址
                </label>
                {{ /if }}
                <button class="btn-link small original-addr">
                    使用原地址
                </button>
            </div>
        </div>

        <div class="form-action">
            <button class="small btn-primary btn-save-address">保存</button>
            <button class="small btn-default btn-save-cancel">取消</button>
        </div>
    </div>

    <div class="area-hint text-info" data-title="如果你无法找到所属区县，可能该区已经被合并或属于虚拟行政区（地方经济开发区、非国家三级行政区），请选择左侧最近的区县" data-width="23em">
        找不到所属区县？
    </div>

    <div class="map">
        <div id="map"></div>

        <span class="map-oper">
            <button class="small btn-primary btn-over">保存位置</button>
            <button class="small btn-default btn-initial">回原位置</button>
            <span class="bg"></span>
        </span>

        <input type="hidden" name="lng" />
        <input type="hidden" name="lat" />
        <input type="hidden" name="bd_area_name" />
    </div>
    </div>
</script>

{{ include file="common/component/baiduMap.html" }}

{{ /strip }}