{{ *

@file 图形验证码

      参数：
      captcha_name 验证码名字

@author wangyujie

* }}

{{ strip }}

<div class="form-group">
    <label class="form-label">
        <i class="form-required"></i>
        图形验证码：
    </label>

    <div class="form-controls">
        <input class="form-text" type="text" name="captcha" required minlength="4" maxlength="4" placeholder="请输入下图中的文字" style="width: 150px;"/>

        <img class="captcha-image" style="width: 50px;" src="/captcha?{{ if isset($captcha_name) }}captcha_name={{ $captcha_name }}&{{ /if }}{{ $smarty.now }}" />
        <span><b class="btn-link btn-change-captcha">换一张</b></span>

        <span class="error"></span>
    </div>
</div>

{{ /strip }}