{{ *

@file 城市选择器
@author liucong

* }}

{{ strip }}
<div class="dropdown province">
    <b class="btn-default">
        <i class="caret"></i>
        <span>请选择</span>
    </b>
    <ul class="dropdown-menu">
    </ul>
</div>

<div class="dropdown city">
    <b class="btn-default">
        <i class="caret"></i>
        <span>请选择</span>
    </b>
    <ul class="dropdown-menu">
    </ul>
</div>

<div class="dropdown area" style="display:none">
    <b class="btn-default">
        <i class="caret"></i>
        <span>请选择</span>
    </b>
    <ul class="dropdown-menu">
    </ul>
</div>

<div class="dropdown country" style="display:none">
    <b class="btn-default">
        <i class="caret"></i>
        <span>请选择</span>
    </b>
    <ul class="dropdown-menu">
    </ul>
</div>

{{ /strip }}