{{ *

@file 评价列表组件
@author jixiaohui

* }}

{{ strip }}
<div id="tab-nav-info"
    {{ if $type == "commentStudent" || $type == "commentTeacher" }}
        class="no-top-border"
    {{ /if }}
    data-ctype="{{ if !empty($tpl_data.comment_type) }}{{ $tpl_data.comment_type }}{{ else }}0{{ /if }}"
    data-ftype="{{ if !empty($tpl_data.face_type) }}{{ $tpl_data.face_type }}{{ /if }}">

    {{ *全部评价0 一对一评价1 邀请评价2 班课评价3* }}

    {{ $item_all_html = '<li class="nav-item list-source" data-comment="0">全部评价</li>' }}

    {{ *以下如果为0则进行隐藏* }}
    {{ if $tpl_data.score.comment_type.normal }}
        {{ $item_order_html = '<li class="nav-item list-source" data-comment="1">一对一评价（'|cat:$tpl_data.score.comment_type.normal|cat:'）</li>' }}
    {{ else }}
        {{ $item_order_html = '' }}
    {{ /if }}

    {{ if $type == "commentTeacher" || $type == "commentFromStudent" }}
        {{ if $tpl_data.score.comment_type.invite }}
            {{ $item_invite_html = '<li class="nav-item list-source" data-comment="2">邀请评价（'|cat:$tpl_data.score.comment_type.invite|cat:'）</li>' }}
        {{ else }}
            {{ $item_invite_html = '' }}
        {{ /if }}
    {{ else }}
        {{ $item_invite_html = '' }}
    {{ /if }}

    {{ if $type == "commentTeacher" || $type == "commentFromStudent" }}
        {{ if $tpl_data.score.comment_type.video }}
            {{ $item_video_html = '<li class="nav-item list-source" data-comment="4">视频课评价（'|cat:$tpl_data.score.comment_type.video|cat:'）</li>' }}
        {{ else }}
            {{ $item_video_html = '' }}
        {{ /if }}
    {{ else }}
        {{ $item_video_html = '' }}
    {{ /if }}

    {{ if $tpl_data.score.comment_type.class }}
        {{ $item_course_html = '<li class="nav-item list-source" data-comment="3">班课评价（'|cat:$tpl_data.score.comment_type.class|cat:'）</li>' }}
    {{ else }}
        {{ $item_course_html = '' }}
    {{ /if }}


    {{ if empty($tpl_data.comment_type) }}
        {{ $comment_source = '全部评价' }}
        {{ $comment_value = 0 }}
        {{ $other_comment_source = $item_order_html|cat:$item_course_html|cat:$item_invite_html|cat:$item_video_html }}
    {{ elseif $tpl_data.comment_type == 1 }}
        {{ $comment_source = '一对一评价（'|cat:$tpl_data.score.comment_type.normal|cat:'）' }}
        {{ $comment_value = 1 }}
        {{ $other_comment_source = $item_all_html|cat:$item_course_html|cat:$item_invite_html|cat:$item_video_html }}
    {{ elseif $tpl_data.comment_type == 2 }}
        {{ $comment_source = '邀请评价（'|cat:$tpl_data.score.comment_type.invite|cat:'）' }}
        {{ $comment_value = 2 }}
        {{ $other_comment_source = $item_all_html|cat:$item_order_html|cat:$item_course_html|cat:$item_video_html }}
    {{ elseif $tpl_data.comment_type == 3 }}
        {{ $comment_source = '班课评价（'|cat:$tpl_data.score.comment_type.class|cat:'）' }}
        {{ $comment_value = 3 }}
        {{ $other_comment_source = $item_all_html|cat:$item_order_html|cat:$item_invite_html|cat:$item_video_html }}
    {{ elseif $tpl_data.comment_type == 4 }}
        {{ $comment_source = '视频课评价（'|cat:$tpl_data.score.comment_type.video|cat:'）' }}
        {{ $comment_value = 4 }}
        {{ $other_comment_source = $item_all_html|cat:$item_order_html|cat:$item_invite_html|cat:$item_course_html }}
    {{ /if }}

    <b class="nav-item nav-item-all{{ if empty($tpl_data.face_type) }} active{{ /if }}">
        <span data-comment="{{ $comment_value }}">
            {{ $comment_source }}
        </span>
        <i class="icon icon-angle-down"></i>
        <ul class="nav-list">
            {{ $other_comment_source }}
        </ul>
    </b>

    <b class="nav-item{{ if !empty($tpl_data.face_type) && $tpl_data.face_type == 1 }} active{{ /if }}" data-face="1">
        好评（{{ $tpl_data.score.face_type.great }}）
    </b>

    <b class="nav-item{{ if !empty($tpl_data.face_type) && $tpl_data.face_type == 2 }} active{{ /if }}" data-face="2">
        中评（{{ $tpl_data.score.face_type.middle }}）
    </b>

    <b class="nav-item{{ if !empty($tpl_data.face_type) && $tpl_data.face_type == 3 }} active{{ /if }}" data-face="3">
        差评（{{ $tpl_data.score.face_type.lower }}）
    </b>
</div>

<div class="comment-list" id="comment-list">
    {{ if  isset($tpl_data.comment_list) && $tpl_data.comment_list }}
        <ul>

        {{ include file="common/variable/lesson.html" scope="parent" }}

        {{ foreach $tpl_data.comment_list as $val }}

            {{ $lesson_way = $lessonMap[$val.lesson_way] }}

            {{ if $type == "commentFromStudent" || $type == "commentStudent" }}
                {{ $user_id = $val.user_id }}
                {{ $user_number = $val.user_number }}
                {{ $avatar = $val.user_avatar }}
                {{ $avatar_name = $val.user_name }}
                {{ $is_teacher = true }}
            {{ else }}
                {{ $user_id = $val.teacher_user_id }}
                {{ $user_number = $val.teacher_user_number }}
                {{ $avatar = $val.teacher_avatar }}
                {{ $avatar_name = $val.teacher_display_name }}
                {{ $is_student = true }}
            {{ /if }}

            {{ if isset($is_student) && $is_student }}
                {{ $user_type = 0 }}
            {{ else }}
                {{ $user_type = 2 }}
            {{ /if }}

            <li class="comment-item">

                <div class="avatar" data-userId="{{ $user_id }}" data-domain="{{ $user_number }}" data-userNumber="{{ $user_number }}" data-avatarName="{{ $avatar_name }}">
                    <div {{ if $val.anonymous != 1 }} class="name" {{ /if }}data-placement="left">
                    {{ include file="common/component/avatar.html" target="_blank" type=small img=$avatar }}
                    </div>
                    {{ if $type == "commentFromStudent" || $type == "commentStudent" }}
                        {{ if $val.anonymous == 1 }}
                            <span class="avatar_name">匿名用户</span>
                        {{ else }}
                            <span class="name avatar_name" data-placement="left">
                                <a target="_blank">
                                {{ $avatar_name|cn_truncate:5 }}
                                </a>
                            </span>
                        {{ /if }}
                    {{ else }}
                        <span class="name avatar_name" data-placement="left">
                            <a target="_blank">
                            {{ $avatar_name|cn_truncate:5 }}
                            </a>
                        </span>
                    {{ /if }}
                </div>

                <div class="content">

                    <div class="container">

                        {{ if isset($val.fr) && $val.fr == 1 }}
                            <span class="default">默认评价</span>
                        {{ else }}
                            {{ include file="common/component/starScore.html" score=$val.total_score }}
                        {{ /if }}

                        <p class="text">
                            {{ if $val.info == "" }}
                                未做出评价，系统默认评价！
                            {{ else }}
                                {{ $val.info }}
                            {{ /if }}
                        </p>

                        <div class="text" >
                            <span class="time">
                                {{ $val.create_time }}
                            </span>
                            <span class="info" data-user-id="{{ $user_id }}" data-domain="{{ $val.private_domain }}"  data-user-number="{{ $user_number }}" data-user-type="{{ $user_type }}" data-fr="{{ $val.fr }}">

                                {{ if isset($is_teacher) && $is_teacher && $type == "commentFromStudent" }}
                                    {{ if $val.display_name != $val.student_display_name && $val.anonymous != 1 }}
                                    <div class="user">
                                        <span class="user-name">
                                           <a href="{{ $val.private_domain }}" target="_blank"> {{ $val.student_display_name|cn_truncate:4 }}</a>
                                        </span>
                                        <i class="icon icon-user"></i>
                                    </div>
                                    {{ /if }}
                                {{ /if }}

                                {{ if isset($val.fr) && $val.fr == 2 }}
                                    <span class="course">邀请评价</span>
                                {{ else if !empty($val.course_type) && $val.course_type == 5 }}
                                    <span class="course">
                                        {{ $val.course_name|cn_truncate:10 }}
                                    </span>
                                    <span class="course">
                                        {{ $val.display_title|cn_truncate:10 }}
                                    </span>
                                    {{ if $val.lesson_way == 'online' }}
                                        <span class="approach">在线试听</span>
                                    {{ else }}
                                        <span class="approach">线下试听</span>
                                    {{ /if }}
                                {{ else if !empty($val.course_type) && ($val.course_type == 2 || $val.course_type == 12) }}
                                    <span class="course">班课：
                                        {{ if isset($is_student) && $is_student }}
                                        <a href="{{ $root }}/teacher/classCourseDetail/{{ $val.course_number }}" target="_blank">
                                            {{ $val.course_name|cn_truncate:10 }}
                                        </a>
                                        {{ else }}
                                            {{ $val.course_name|cn_truncate:10 }}
                                        {{ /if }}
                                    </span>
                                    <span class="course">
                                        {{ $val.display_title|cn_truncate:10 }}
                                    </span>
                                    {{ if $val.lesson_way == 'online' }}
                                        <span class="approach">在线授课</span>
                                    {{ else }}
                                        <span class="approach">线下授课</span>
                                    {{ /if }}
                                {{ else }}
                                    <span class="course">
                                        {{ if $val.course_type == 3 && isset($is_student) && $is_student }}
                                            <a href="/video_course/getcourseshowdetail?number={{ $val.course_number }}&user_number={{ $val.teacher_user_number }}" target="_blank">
                                                {{ $val.course_name|cn_truncate:10 }}
                                            </a>
                                        {{ else }}
                                            {{ $val.course_name|cn_truncate:10 }}
                                        {{ /if }}
                                    </span>
                                    <span class="course">
                                        {{ $val.display_title|cn_truncate:10 }}
                                    </span>
                                    <span class="approach">{{ $lesson_way }}</span>
                                {{ /if }}
                            </span>

                            <!-- {{ if $type == "commentFromStudent" }}
                                <span  class="name" data-placement="left">
                                    {{ $val.teacher_display_name|cn_truncate:4 }}
                                </span>
                            {{ else if $type == "commentTeacher" }}
                                <span class="name" data-placement="left">
                                    <a href="/{{ $val.private_domain }}" target="_blank">
                                        {{ if isset($is_student) && $is_student }}
                                            {{ $val.teacher_display_name|cn_truncate:4  }}
                                        {{ else }}
                                            {{ $val.display_name|cn_truncate:4 }}
                                        {{ /if }}
                                    </a>
                                </span>
                            {{ /if }} -->
                        </div>

                    </div>
                </div>

                {{ if !empty($val.photo_list) }}
                <div class="comment-photo-box">
                    <ul class="comment-photo-list">
                        {{ foreach $val.photo_list as $ones }}
                            <li class="photo-item" data-image="{{ $ones.url }}" data-name="{{ $ones.title }}" {{ include file="common/variable/zoomPhoto.html" url=$ones.url raw_width=$ones.width raw_height=$ones.height width=400 height=300 }} data-horizontal="{{ $photo }}" data-hheight="{{ $fit_height }}"

                            {{ include file="common/variable/zoomPhoto.html" url=$ones.url raw_width=$ones.height raw_height=$ones.width width=300 height=400 }} data-vertical="{{ $photo }}" data-vheight="{{ $fit_height }}"

                            >
                                {{ include file="common/variable/photo.html" url=$ones.url raw_width=$ones.width raw_height=$ones.height width=80 height=60 }}
                                <img src="{{ $photo }}">
                            </li>
                        {{ /foreach }}
                    </ul>
                    <div class="comment-photo-player" style="display:none;">
                        <ul class="photo-action">
                            <li class="packup"><i class="photo-icon photo-packup"></i>收起</li>
                            <li class="sourse"><i class="photo-icon photo-sourse"></i>原图</li>
                            <li class="left"><i class="photo-icon photo-left"></i>向左转</li>
                            <li class="right"><i class="photo-icon photo-right"></i>向右转</li>
                        </ul>
                        <div class="photo-wrapper">
                        {{ *垂直居中* }}
                        {{ *margin-bottom:-{{ $fit_height/2 }}px;* }}
                            <div class="floater" style=""></div>
                            <img src="" class="rotate-img">
                        </div>
                        <div class="photo-name">
                        </div>
                    </div>
                </div>
                {{ /if }}

                <span class="person" data-user-id="{{ $user_id }}" data-domain="{{ $val.private_domain }}"  data-user-number="{{ $user_number }}" data-user-type="{{ $user_type }}" data-fr="{{ $val.fr }}">

                    {{ if isset($val.fr)&&($val.fr==2) }}
                        <a class="del" data-id="{{ $val.id }}">删除推荐</a>
                    {{ /if }}

                    {{ if $type == "commentTeacher" }}
                        <span class="buttons">
                        {{ if isset($val.has_modify) &&
                        !$val.has_modify }}
                            <a href="/comment/modifyComment?comment_id={{ $val.id }}" class="small btn-primary change-comment">修改评价</a>
                        {{ /if }}
                        {{ if isset($val.if_can_addition) && $val.if_can_addition }}
                            <button class="small btn-default add-comment-btn">
                                追加评价
                            </button>
                        {{ /if }}
                        </span>
                    {{ /if }}

                    {{ if $type == "commentFromStudent" && isset($val.if_can_review) && $val.if_can_review }}
                        <button class="btn-default reply-comment-btn">
                            回复
                        </button>
                    {{ /if }}

                    {{ if $type == "commentFromStudent" && isset($val.appeal_status) }}
                        {{ if $val.appeal_status == -1 }}
                            <button class="btn-default appeal-btn" data-commentid="{{ $val.id }}">
                                申诉
                            </button>
                        {{ else if $val.appeal_status == 0 }}
                            <button class="btn-default appeal-deal" disabled>
                                申诉处理中
                            </button>
                        {{ else if $val.appeal_status == 2 }}
                            <button class="btn-primary appeal-result-btn" data-reason="{{ $val.appeal_reason }}">
                                查看申诉结果
                            </button>
                        {{ /if }}
                    {{ /if }}
                </span>

                {{ if ($type == "commentTeacher" && isset($val.if_can_addition) && $val.if_can_addition) || ($type == "commentFromStudent" && isset($val.if_can_review) && $val.if_can_review) }}
                    <div class="form comment-form" data-commentid="{{ $val.id }}">

                        <div class="form-group">
                            <div class="form-editor">
                                <textarea class="form-text" name="info" placeholder=""></textarea>
                                <div class="form-hint">
                                    还可以输入 <strong>500</strong> 个字
                                </div>
                            </div>

                            <span class="error"></span>
                        </div>

                        <div class="form-action">
                            <button class="btn-primary small comment-submit">
                                发布
                            </button>
                        </div>
                    </div>
                {{ /if }}

                {{ if isset($val.additional) && isset($val.additional.student) }}
                    <div class="add-comment-show">
                        ［追加评论］{{ $val.additional.student.info }}
                    </div>
                {{ /if }}

                {{ if isset($val.additional) && isset($val.additional.teacher) }}
                    <div class="comment-reply">
                        ［回复］{{ $val.additional.teacher.info }}
                    </div>
                {{ /if }}

            </li>
        {{ /foreach }}
        </ul>
    {{ else }}
        <div class="no-data">
            <div class="wrapper">
                <i class="icon icon-info-circle"></i>
                暂无评价
            </div>
        </div>
    {{ /if }}
</div>

{{ if isset($paramlink) }}
    {{ $symbol = '&' }}
{{ else }}
    {{ $symbol = '?' }}
{{ /if }}

{{ $param = '' }}
{{ if isset($tpl_data.face_type) }}
    {{ $param = 'face_type='|cat:$tpl_data.face_type }}
{{ /if }}

{{ if isset($tpl_data.comment_type) }}
    {{ if $param }}
        {{ $param = $param|cat:'&comment_type='|cat:$tpl_data.comment_type }}
    {{ else }}
        {{ $param = 'comment_type='|cat:$tpl_data.comment_type }}
    {{ /if }}
{{ /if }}

{{ $page_url = $link|cat: $symbol|cat: $param|cat: '&page_size='|cat: $tpl_data.pager.page_size }}

{{ include file="common/component/pager.html" page=$tpl_data.pager.page page_size=$tpl_data.pager.page_size count=$tpl_data.pager.count url=$page_url hide_jump=1 }}

{{ /strip }}