{{ *
    @file 优惠券使用指南
    @author zengcheng
* }}

<script type="text/template" id="coupon-direction-template">
    <div class="coupon-direction-dialog">
        <h3 class="direction-header">优惠券使用指南</h3>
        <div class="direction-body">
            <div class="direction-step">
                <h4 class="step-subtitle">设置优惠券</h4>
                <p class="step-content">
                 优惠券设置时需要填写优惠券的面额，优惠券使用的满额条件（可以设置为无条件使用），优惠券的有效期，以及想要发放的这一批优惠券的张数。每天最多可创建10批新的优惠券。已经创建完成的优惠券可正常进行发放。
                </p>
            </div>
            <div class="direction-step">
                <h4 class="step-subtitle">优惠券的使用范围</h4>
                <p class="step-content">
                 学生领取优惠券后，购买所有类型的课程（1对1、班课、视频课等），只要达到满额的条件，均可使用优惠券享受优惠。学生每个订单仅可使用一张优惠券。
                </p>
            </div>
            <div class="direction-step">
                <h4 class="step-subtitle">学生如何获得优惠券</h4>
                <ul class="direction-content-list">
                    <li>(1)将优惠券同步至自己的主页，学生浏览主页时，可直接点击领取；</li>
                    <li>(2)将优惠券分享至微博、朋友圈等，学生可通过点击链接直接进行领取；</li>
                    <li>(3)将优惠券直接发送给自己的学生，学生获取优惠券后即可使用。</li>
                </ul>
            </div>
            <div class="direction-step">
                <h4 class="step-subtitle">优惠券的管理</h4>
                <p class="step-content">
                 同步到主页的优惠券可以取消同步，取消后优惠券不会再主页进行展示。点击“不发了”可将正常生效的优惠券下线，剩余优惠券不可再进行领取。
                </p>
            </div>
            <div class="direction-tips">
                <label>
                    <span class="tips-label">Tips:</span>
                    <span class="tips-content">学生使用优惠券抵扣的部分将不记入未消耗课时金额中。</span>
                </label>
            </div>
        </div>

        <div class="direction-close">
            <button class="btn btn-primary close-direction">关闭</button>
        </div>
    </div>
</script>