{{ *

@file 平台保障图标替换

@author wanglu

* }}

{{ strip }}

{{ $skipUrl = 'http://www.genshuixue.com/guide/guarantee?a=guarantee' }}
{{ $tips = '' }}
{{ if $type == "certification" }}
    {{ $guaranteeName = "实名认证" }}
    {{ $skinClass = "certification" }}
    {{ $guaranteeText = "名" }}
{{ else if $type == "safety-money" }}
    {{ $guaranteeName = "资金安全" }}
    {{ $skinClass = "safety-money" }}
    {{ $guaranteeText = "资" }}
{{ else if $type == "anytime-quitclass" }}
    {{ $guaranteeName = "随时退班" }}
    {{ $skinClass = "anytime-quitclass" }}
    {{ $guaranteeText = "退" }}
{{ else if $type == "limit-quitclass" }}
    {{ $guaranteeName = "限时退班" }}
    {{ $skinClass = "limit-quitclass" }}
    {{ $guaranteeText = "退" }}
{{ else if $type == "anytime-joinclass" }}
    {{ $guaranteeName = "随时插班" }}
    {{ $skinClass = "anytime-joinclass" }}
    {{ $guaranteeText = "插" }}
{{ else if $type == "limit-joinclass" }}
    {{ $guaranteeName = "限时插班" }}
    {{ $skinClass = "limit-joinclass" }}
    {{ $guaranteeText = "插" }}
{{ else if $type == "installment-payment" }}
    {{ $guaranteeName = "分期支付" }}
    {{ $skinClass = "installment-payment" }}
    {{ $guaranteeText = "分" }}
    {{ $skipUrl = '' }}
    {{ $tips = '课程实际支付金额大于500元可支持分期支付' }}
{{ else if $type == "preferred-platform" }}
    {{ $guaranteeName = "平台优选" }}
    {{ $skinClass = "preferred-platform" }}
    {{ $guaranteeText = "优" }}
    {{ $skipUrl = '' }}
    {{ $tips = '平台精选课程' }}
{{ /if }}

{{ if isset($size) }}
    {{ $sizeClass = $size }}
{{ else }}
    {{ $sizeClass = "small" }}
{{ /if }}

{{ if $skipUrl }}
    <a href="{{ $skipUrl }}" target="_blank">
{{ else }}
    <span {{ if $tips }} data-title="{{ $tips }}"{{ /if }}>
{{ /if }}
        <span class="guarantee-label {{ $sizeClass }} {{ $skinClass }}">
            <span class="name-label">{{ $guaranteeText }}</span>
            <span class="info-label">{{ $guaranteeName }}</span>
        </span>
{{ if $skipUrl }}
    </a>
{{ else }}
    </span>
{{ /if }}





{{ /strip }}