{{ *
    @file 手机号输入 国际区号选择
    @param is_international 是否默认显示国际区号选择
    @param mobile 默认手机号
    @param show_label 是否隐藏label
    @param label_name label名字
    @param show_icon 是否显示icon
    @param show_colon 是否显示冒号

* }}
{{ if !isset($mobile) }}
    {{ $mobile = '' }}
{{ /if }}
{{ if !isset($is_international) }}
    {{ $is_international = false }}
{{ /if }}

<div class="form-group mobile-input">
    <div class="wrapper {{ if !$is_international }}disable-international{{ else }}enable-international{{ /if }}">
        {{ if !empty($show_label) }}
        <label class="form-label">
            <i class="form-required"></i>
            {{ if !empty($label_name) }}
                {{ if !empty($show_colon) }}
                {{ $label_name }}
                {{ else }}
                    {{ $label_name }}：
                {{ /if }}
            {{ else }}
                手机号：
            {{ /if }}
        </label>
        {{ /if }}

        <div class="form-controls">
            <div class="tel-code-select">
                <div class="trigger">
                <i class="icon icon-region-flag flag"></i>
                    <i class="icon icon-caret-down"></i>
                </div>
                <ul class="dropdown-menu"></ul>
            </div>
            <input type="hidden" name="tel-code" value="+86">
            <span class="tel-code">+86</span>
            {{ if !empty($show_icon) }}
            <i class="icon icon-mobile"></i>
            {{ /if }}
            <input class="form-text" type="mobile" autocomplete="off" name="mobile" required placeholder="请输入手机号" value="{{ $mobile }}" />
            <span class="error" id="mobile-error"></span>
        </div>
    </div>
</div>