{{ *
   * @file 2014.9版本的分角色方式登录的登录表单内容
   * @author peilonghui
* }}

{{ strip }}


<form class="apply-tutor-form form">
    <div class="form-group">
        <p class="main-label">姓名<em>*</em></p>
        <input type="text" name="name" class="form-text parent-name" placeholder="请填写家长您自己的姓名" required pattern="^[\u4d00-\u9fa5]{1,5}$">
        <span class="error"></span>
    </div>
    <div class="form-group has-success">
        <p class="main-label">联系电话<em>*</em></p>
        <input type="mobile" name="mobile" class="form-text tel" placeholder="家长您自己的常用联系方式" required>
        <span class="error"></span>
    </div>
    <div class="form-group has-success">
        <p class="main-label">联系QQ</p>
        <input type="text" name="qq" class="form-text QQ-no" placeholder="请填写家长您的常用QQ，非必填" pattern="^[0-9]*$">
        <span class="error"></span>
    </div>
    <div class="form-group has-success">
        <p class="main-label">家庭地址<em>*</em></p>
        <input type="text" name="address" class="form-text home-address" placeholder="请精确到所在小区或者路段，不必到具体栋数" required pattern="^.{10,}$">
        <span class="error"></span>
    </div>
    <div class="form-group has-success">
        <p class="main-label" pattern=".{10,}">孩子年级<em>*</em></p>

        <input type="text" name="grade" class="form-text child-grade" placeholder="请准确填写目前小孩就读的年级" required>
        <span class="error"></span>
    </div>
    <div class="form-group has-success">
        <p class="main-label">学生状况及家教要求</p>
        <textarea name="otherneed" rows="3" cols="40" class="form-text other-need" pattern="^.{15,300}$"></textarea>
        <span class="error"></span>
    </div>
    <p class="main-label">辅导科目</p>
    <div class="form-controls">
        <label class="form-checkbox">
            <input type="checkbox" name="math" value="subject" > 数学
        </label>
        <label class="form-checkbox">
            <input type="checkbox" name="chinese" value="subject" > 语文
        </label>
        <label class="form-checkbox">
            <input type="checkbox" name="english" value="subject" > 英语
        </label>
        <label class="form-checkbox">
            <input type="checkbox" name="physics" value="subject" > 物理
        </label>
        <label class="form-checkbox">
            <input type="checkbox" name="chemistry" value="subject" > 化学
        </label>
        <label class="form-checkbox">
            <input type="checkbox" name="biology" value="subject"> 生物
        </label>
        <label class="form-checkbox">
            <input type="checkbox" name="geography" value="subject"> 地理
        </label>
    </div>
    <div class="btn-primary submit">提交</div>

</form>


{{ /strip }}