.livehelp-nav {
    width: 100%;
    display: flex;
    text-align: center;
    height: rem(40);
    background: #FAFAFA;
    box-shadow: 0 rem(1) 0 0 #F2F4F5;
    .item {
        flex: 1;
        //border-right: 1px solid #dcddde;
        margin: rem(9) 0;
        font-family: PingFangSC-Regular;
        font-size: rem(15);
        color: #3C3C3C;
        &.normal {
            border-right: 1px solid #dcddde;
        }
    }
}