body {
	.notice {
		width: 400px;
		height: 200px;
		border: 1px solid #ccf;
		position: fixed;
		top: 10px;
		left: 480px;
		padding-top: 30px;
		div {
			width: 200px;
			line-height: 32px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 20px;
		}
	}
}