#container {
	#box {
		#content{
			#content-right { 
			 	.breadcrumb {
					background-color: #9cf;
				}
				#myCarousel {
					margin-bottom: 20px;
				}
				#texts {
					#left {
						width: 580px;
						float: left;
						#title {
							font-size: 20px;
							font-weight: bold;
							text-align: center;
						}
						#content {
							text-indent: 28px;
						}
					}
					#right {
						width: 200px;
						height: 500px;
						float: right;
						border: 1px solid black;
						border-radius: 6px;
						background-color: #ccf;
						#title {
							font-weight: bold;
							font-size: 20px;
							margin-top: 10px;
							margin-left: 10px;
						}
						.listItem {
							width: 180px;
							margin: 0 auto;
							margin-top: 10px;
						}
					}
					#clearfix {
						clear: both;
					}
				}
			}
		}	 
	}
}