#container {
	#box {
		#content{
			#content-right { 
			 	.breadcrumb {
					background-color: #9cf;
				}
				#myCarousel {
					margin-bottom: 20px;
				}
				#texts {
					#left {
						width: 580px;
						float: left;
						#title {
							font-size: 20px;
							font-weight: bold;
							text-align: center;
						}
						.thesisItem {
							width: 560px;
							text-align: center;
							margin: 0 auto;
							margin-bottom: 10px;
							span {
								font-weight: bold;
							}
						}
						#content {
							text-indent: 28px;
						}
						#comment {
							width: 60px;
							line-height: 24px;
							text-align: center;
							cursor: pointer;
							border-radius: 2px;
							background-color: #f90;
							color: black;
							font-weight: bold;
							margin-top: 100px;
							position:  relative;
							left: 500px;
						}
						#commentForm {
							width: 500px;
							margin: 0 auto;
							margin-top: 20px;
							form {
								textarea{
									width: 100%;
									height: 100px;
								}
								input[type='submit'] {
									background-color: #f90;
									border-radius: 2px;
									border: none;
									width: 80px;
									line-height: 24px;
									text-align: center;
									color: black;
									font-weight: bold;
									position: relative;
									left: 420px;
									margin-top: 20px;
									 
								}
							}
						}
						#loginNotice {
							width: 100px;
							line-height: 32px;
							background-color:#f90;
							margin: 0 auto;
							text-align: center;
							border-radius: 4px;
							margin-top: 100px;
						}
						#listTitle {
								width: 80px;
								text-align: center;
								font-size: 18px;
								font-weight: bold;
								color: black;
								border-bottom: 3px solid #ccf;
							}
						#commentList {
							margin-top: 20px;
							.item {
								width: 500px;
								height: 100px;
								padding: 10px;
								border: 1px solid #ccf;
								margin: 0 auto;
								margin-top: 10px;
								position: relative;
								#commentUser {
									position: absolute;
									bottom:5px;
									right:200px;
								}
								#commentDate {
									position: absolute;
									bottom:5px;
									right:10px;
								}
							}
						}
						.pager {
							li{
								margin-right: 20px;
								&:last-child {
									margin-right: 0;
									color: #c33;
								}
							}
							#page {
								color: #039;
							}
						}
						#noComments {
							width: 100px;
							text-align: center;
							line-height: 24px;
							margin: 0 auto;
							margin-top: 100px;
							font-weight: bold;
							font-size:20px;
							color: black;
						}
					}
					#right {
						width: 200px;
						height: 500px;
						float: right;
						border: 1px solid black;
						border-radius: 6px;
						background-color: #ccf;
						#title {
							font-weight: bold;
							font-size: 20px;
							margin-top: 10px;
							margin-left: 10px;
						}
						.listItem {
							width: 180px;
							margin: 0 auto;
							margin-top: 10px;
						}
					}
					#clearfix {
						clear: both;
					}
				}
			}
		}	 
	}
}