.label-cps {
    text-align: left;
    padding: 0 rem(15);
    .jifen-box {
        display: inline-block;
        padding-left: 0;
    }
}
.cps-label {
    display: inline-block;
    text-align: center;
    margin-right: rem(8);
    margin-left: 0;
    margin-bottom: rem(10);
    .cps-jxj {
        color: #fff;
        background: #FC5955;
        padding: rem(0) rem(5);
        border-radius: rem(2);
        font-size: rem(12);
        padding: rem(5);
    }
}
