.staySingle {
  background: #fff;
  width: 100%;

  padding-bottom: rem(30);
  .listen-title {
    background: #f7f9fa;
    font-size: rem(16);
    position: relative;
    border-top: 1px solid #f0f1f2;
    border-bottom: 1px solid #f0f1f2;
    margin-bottom : rem(15);
    .title-info {
      overflow: hidden;
      text-overflow: ellipsis;
      height:rem(40);
      line-height:rem(40);
      vertical-align : middle;
      white-space: nowrap;
      width: 95%;
      display: inline-block;
      text-align : center;
    }
    .close-icon {
      width: 20%;
      text-align: right;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      .icon {
        margin-right: rem(10);
      }
    }
  }
  .remind-msg {
    font-size: rem(12);
    margin: 0 auto;
    text-align: center;
    color: #9d9e9e;
    margin-bottom : rem(15);
  }
  .formElement{
    margin:rem(10) rem(15);
    margin-right:rem(25);
    input{
      width:100%;
      height:rem(24);
      line-height : rem(24);
      vertical-align : middle;
      padding:rem(10) rem(0);
      padding-left:rem(10);
      border:1px solid #ebebed;
      border-radius : rem(5);
      font-size:rem(15);
      color:#3d3d3e;
      box-sizing: content-box;
      -moz-box-sizing: content-box; /* Firefox */
      -webkit-box-sizing: content-box; /* Safari */
    }
  }

  .verify-container{
    position : relative;
  }
  .verify{
    color:#3d3d3e;
    position: absolute;
    top: rem(0);
    right: rem(0);
    display: inline-block;
    height: rem(46);
    line-height: rem(46);
    vertical-align: middle;
    right: rem(-5);
    width: rem(100);
    text-align: center;
    z-index:1000;
  }
  .disabled{
    color: #ccc;
  }
  .staySubmit {
    padding: rem(10);
    margin: 0 auto;
    text-align: center;
    width: 94%;
    background: #ff9100;
    font-size: rem(16);
    color: #ffffff;
    border-radius : rem(5);
    &.tryListener-new {
        width: 100%;
        border-radius: 0;
        background: #ff6c00;
        height: rem(48);
        line-height: rem(48);
        padding: 0 0;
        margin-bottom: rem(-30);
        margin-top: rem(40);
    }
  }
  .staySubmit-default {
    background: #3fa5f2;
  }
}

.stay-dialog-title{
  color:#48b14b;
  display: inline-block;
  margin-right:rem(2);
}