{{ *

@file 搜狗分页分类变量
@author jixiaohui

* }}
{{ strip }}

{{ $categorys = [] }}

{{ **中小学** }}
{{ $zxx = [] }}
{{ $zxx[1] = [] }}
    {{ $zxx[1]['name'] = '高中' }}
    {{ $zxx[1]['link'] = 'http://www.genshuixue.com/st/高中.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[1]['list'] = [] }}
    {{ $zxx[1]['list'][1] = [] }}
    {{ $zxx[1]['list'][1]['name'] = '高考数学' }}
    {{ $zxx[1]['list'][1]['link'] = 'http://www.genshuixue.com/st/高考数学.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[1]['list'][2] = [] }}
    {{ $zxx[1]['list'][2]['name'] = '高考英语' }}
    {{ $zxx[1]['list'][2]['link'] = 'http://www.genshuixue.com/st/高考英语.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[1]['list'][3] = [] }}
    {{ $zxx[1]['list'][3]['name'] = '高一数学' }}
    {{ $zxx[1]['list'][3]['link'] = 'http://www.genshuixue.com/st/高一数学.html?source=gsx_sogoudaohang_pc' }}
{{ $zxx[2] = [] }}
    {{ $zxx[2]['name'] = '初中' }}
    {{ $zxx[2]['link'] = 'http://www.genshuixue.com/st/初中.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[2]['list'] = [] }}
    {{ $zxx[2]['list'][1] = [] }}
    {{ $zxx[2]['list'][1]['name'] = '中考数学' }}
    {{ $zxx[2]['list'][1]['link'] = 'http://www.genshuixue.com/st/中考数学.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[2]['list'][2] = [] }}
    {{ $zxx[2]['list'][2]['name'] = '中考英语' }}
    {{ $zxx[2]['list'][2]['link'] = 'http://www.genshuixue.com/st/中考英语.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[2]['list'][3] = [] }}
    {{ $zxx[2]['list'][3]['name'] = '初一数学' }}
    {{ $zxx[2]['list'][3]['link'] = 'http://www.genshuixue.com/st/初一数学.html?source=gsx_sogoudaohang_pc' }}
{{ $zxx[3] = [] }}
    {{ $zxx[3]['name'] = '小学' }}
    {{ $zxx[3]['link'] = 'http://www.genshuixue.com/st/小学.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[3]['list'] = [] }}
    {{ $zxx[3]['list'][1] = [] }}
    {{ $zxx[3]['list'][1]['name'] = '小升初数学' }}
    {{ $zxx[3]['list'][1]['link'] = 'http://www.genshuixue.com/st/小升初数学.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[3]['list'][2] = [] }}
    {{ $zxx[3]['list'][2]['name'] = '小升初英语' }}
    {{ $zxx[3]['list'][2]['link'] = 'http://www.genshuixue.com/st/小升初英语.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[3]['list'][3] = [] }}
    {{ $zxx[3]['list'][3]['name'] = '奥数' }}
    {{ $zxx[3]['list'][3]['link'] = 'http://www.genshuixue.com/st/奥数.html?source=gsx_sogoudaohang_pc' }}
{{ $zxx[4] = [] }}
    {{ $zxx[4]['name'] = '学前' }}
    {{ $zxx[4]['link'] = 'http://www.genshuixue.com/st/学前.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[4]['list'] = [] }}
    {{ $zxx[4]['list'][1] = [] }}
    {{ $zxx[4]['list'][1]['name'] = '益智' }}
    {{ $zxx[4]['list'][1]['link'] = 'http://www.genshuixue.com/st/益智.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[4]['list'][2] = [] }}
    {{ $zxx[4]['list'][2]['name'] = '潜能开发' }}
    {{ $zxx[4]['list'][2]['link'] = 'http://www.genshuixue.com/st/潜能开发.html?source=gsx_sogoudaohang_pc' }}
    {{ $zxx[4]['list'][3] = [] }}
    {{ $zxx[4]['list'][3]['name'] = '择园技巧' }}
    {{ $zxx[4]['list'][3]['link'] = 'http://www.genshuixue.com/st/择园技巧.html?source=gsx_sogoudaohang_pc' }}
{{ $categorys['zxx'] = $zxx }}


{{ **出国留学** }}
{{ $cglx = [] }}
{{ $cglx[1] = [] }}
    {{ $cglx[1]['name'] = '留学考试' }}
    {{ $cglx[1]['link'] = 'http://www.genshuixue.com/st/留学考试.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[1]['list'] = [] }}
    {{ $cglx[1]['list'][1] = [] }}
    {{ $cglx[1]['list'][1]['name'] = '托福' }}
    {{ $cglx[1]['list'][1]['link'] = 'http://www.genshuixue.com/st/托福.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[1]['list'][2] = [] }}
    {{ $cglx[1]['list'][2]['name'] = '雅思' }}
    {{ $cglx[1]['list'][2]['link'] = 'http://www.genshuixue.com/st/雅思.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[1]['list'][3] = [] }}
    {{ $cglx[1]['list'][3]['name'] = 'SAT' }}
    {{ $cglx[1]['list'][3]['link'] = 'http://www.genshuixue.com/st/SAT.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[1]['list'][4] = [] }}
    {{ $cglx[1]['list'][4]['name'] = 'GRE' }}
    {{ $cglx[1]['list'][4]['link'] = 'http://www.genshuixue.com/st/GRE.html?source=gsx_sogoudaohang_pc' }}
{{ $cglx[2] = [] }}
    {{ $cglx[2]['name'] = '留学指导' }}
    {{ $cglx[2]['link'] = 'http://www.genshuixue.com/st/留学指导.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[2]['list'] = [] }}
    {{ $cglx[2]['list'][1] = [] }}
    {{ $cglx[2]['list'][1]['name'] = '亚洲留学' }}
    {{ $cglx[2]['list'][1]['link'] = 'http://www.genshuixue.com/st/亚洲留学.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[2]['list'][2] = [] }}
    {{ $cglx[2]['list'][2]['name'] = '美洲留学' }}
    {{ $cglx[2]['list'][2]['link'] = 'http://www.genshuixue.com/st/美洲留学.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[2]['list'][3] = [] }}
    {{ $cglx[2]['list'][3]['name'] = '澳新留学' }}
    {{ $cglx[2]['list'][3]['link'] = 'http://www.genshuixue.com/st/澳新留学.html?source=gsx_sogoudaohang_pc' }}
{{ $cglx[3] = [] }}
    {{ $cglx[3]['name'] = '出国旅行' }}
    {{ $cglx[3]['link'] = 'http://www.genshuixue.com/st/出国旅行.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[3]['list'] = [] }}
    {{ $cglx[3]['list'][1] = [] }}
    {{ $cglx[3]['list'][1]['name'] = '签证办理' }}
    {{ $cglx[3]['list'][1]['link'] = 'http://www.genshuixue.com/st/签证办理.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[3]['list'][2] = [] }}
    {{ $cglx[3]['list'][2]['name'] = '行程安排' }}
    {{ $cglx[3]['list'][2]['link'] = 'http://www.genshuixue.com/st/行程安排.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[3]['list'][3] = [] }}
    {{ $cglx[3]['list'][3]['name'] = '景区攻略' }}
    {{ $cglx[3]['list'][3]['link'] = 'http://www.genshuixue.com/st/景区攻略.html?source=gsx_sogoudaohang_pc' }}
{{ $cglx[4] = [] }}
    {{ $cglx[4]['name'] = '移民' }}
    {{ $cglx[4]['link'] = 'http://www.genshuixue.com/st/移民.html?source=gsx_sogoudaohang_pc' }}
    {{ $cglx[4]['list'] = [] }}
    {{ $cglx[4]['list'][1] = [] }}
    {{ $cglx[4]['list'][1]['name'] = '移民' }}
    {{ $cglx[4]['list'][1]['link'] = 'http://www.genshuixue.com/st/移民.html?source=gsx_sogoudaohang_pc' }}
{{ $categorys['cglx'] = $cglx }}

{{ **艺术兴趣** }}
{{ $ysxq = [] }}
{{ $ysxq[1] = [] }}
    {{ $ysxq[1]['name'] = '音乐' }}
    {{ $ysxq[1]['link'] = 'http://www.genshuixue.com/st/音乐.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[1]['list'] = [] }}
    {{ $ysxq[1]['list'][1] = [] }}
    {{ $ysxq[1]['list'][1]['name'] = '钢琴' }}
    {{ $ysxq[1]['list'][1]['link'] = 'http://www.genshuixue.com/st/钢琴.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[1]['list'][2] = [] }}
    {{ $ysxq[1]['list'][2]['name'] = '吉他' }}
    {{ $ysxq[1]['list'][2]['link'] = 'http://www.genshuixue.com/st/吉他.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[1]['list'][3] = [] }}
    {{ $ysxq[1]['list'][3]['name'] = '小提琴' }}
    {{ $ysxq[1]['list'][3]['link'] = 'http://www.genshuixue.com/st/小提琴.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[1]['list'][4] = [] }}
    {{ $ysxq[1]['list'][4]['name'] = '音乐理论' }}
    {{ $ysxq[1]['list'][4]['link'] = 'http://www.genshuixue.com/st/音乐理论.html?source=gsx_sogoudaohang_pc' }}
{{ $ysxq[2] = [] }}
    {{ $ysxq[2]['name'] = '体育' }}
    {{ $ysxq[2]['link'] = 'http://www.genshuixue.com/st/体育.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[2]['list'] = [] }}
    {{ $ysxq[2]['list'][1] = [] }}
    {{ $ysxq[2]['list'][1]['name'] = '游泳' }}
    {{ $ysxq[2]['list'][1]['link'] = 'http://www.genshuixue.com/st/游泳.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[2]['list'][2] = [] }}
    {{ $ysxq[2]['list'][2]['name'] = '羽毛球' }}
    {{ $ysxq[2]['list'][2]['link'] = 'http://www.genshuixue.com/st/羽毛球.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[2]['list'][3] = [] }}
    {{ $ysxq[2]['list'][3]['name'] = '围棋' }}
    {{ $ysxq[2]['list'][3]['link'] = 'http://www.genshuixue.com/st/围棋.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[2]['list'][4] = [] }}
    {{ $ysxq[2]['list'][4]['name'] = '街舞' }}
    {{ $ysxq[2]['list'][4]['link'] = 'http://www.genshuixue.com/st/街舞.html?source=gsx_sogoudaohang_pc' }}
{{ $ysxq[3] = [] }}
    {{ $ysxq[3]['name'] = '美术' }}
    {{ $ysxq[3]['link'] = 'http://www.genshuixue.com/st/美术.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[3]['list'] = [] }}
    {{ $ysxq[3]['list'][1] = [] }}
    {{ $ysxq[3]['list'][1]['name'] = '素描' }}
    {{ $ysxq[3]['list'][1]['link'] = 'http://www.genshuixue.com/st/素描.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[3]['list'][2] = [] }}
    {{ $ysxq[3]['list'][2]['name'] = '国画' }}
    {{ $ysxq[3]['list'][2]['link'] = 'http://www.genshuixue.com/st/国画.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[3]['list'][3] = [] }}
    {{ $ysxq[3]['list'][3]['name'] = '油画' }}
    {{ $ysxq[3]['list'][3]['link'] = 'http://www.genshuixue.com/st/油画.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[3]['list'][4] = [] }}
    {{ $ysxq[3]['list'][4]['name'] = '硬笔书法' }}
    {{ $ysxq[3]['list'][4]['link'] = 'http://www.genshuixue.com/st/硬笔书法.html?source=gsx_sogoudaohang_pc' }}
{{ $ysxq[4] = [] }}
    {{ $ysxq[4]['name'] = '其他' }}
    {{ $ysxq[4]['link'] = 'http://www.genshuixue.com/st/其他.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[4]['list'] = [] }}
    {{ $ysxq[4]['list'][1] = [] }}
    {{ $ysxq[4]['list'][1]['name'] = '播音主持' }}
    {{ $ysxq[4]['list'][1]['link'] = 'http://www.genshuixue.com/st/播音主持.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[4]['list'][2] = [] }}
    {{ $ysxq[4]['list'][2]['name'] = '影视表演' }}
    {{ $ysxq[4]['list'][2]['link'] = 'http://www.genshuixue.com/st/影视表演.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[4]['list'][3] = [] }}
    {{ $ysxq[4]['list'][3]['name'] = '摄影培训' }}
    {{ $ysxq[4]['list'][3]['link'] = 'http://www.genshuixue.com/st/摄影培训.html?source=gsx_sogoudaohang_pc' }}
    {{ $ysxq[4]['list'][4] = [] }}
    {{ $ysxq[4]['list'][4]['name'] = '京剧' }}
    {{ $ysxq[4]['list'][4]['link'] = 'http://www.genshuixue.com/st/京剧.html?source=gsx_sogoudaohang_pc' }}
{{ $categorys['ysxq'] = $ysxq }}


{{ /strip }}