{{ foreach $tpl_data as $v }}
    {{ **一对一课程** }}
    {{ if $v.is1to1 == 1 }}
        <li class="item {{ if ($v@index+1)%4 == 0 }}last{{ /if }}">
            <a class="cover" href="{{ $v.teacher_url }}" target="_blank" title="{{ $v.name }}">
                <img src="{{ $v.cover }}@1e_225w_127h_1c_0i_1o_90Q_1x">
                <span class="name">{{ $v.name|cn_truncate:17 }}</span>
            </a>
            <div class="button-box">
                <div class="price-box">
                    <span class="price">
                        {{ if $v.price == 0 }}
                            免费
                        {{ else }}
                            {{ if !empty($v.chaban_price) }}
                                ￥{{ $v.chaban_price }}
                            {{ else }}
                                ￥{{ $v.price }}
                            {{ /if }}
                        {{ /if }}
                    </span>
                    {{ if !empty($v.original_price) }}
                    <span class="origin-price">￥{{ $v.original_price }}</span>
                    {{ /if }}
                </div>
                <a class="btn" href="{{ $v.teacher_url }}" target="_blank">咨询报名</a>
                <div class="date-box">
                    {{ if empty($v.org_url) }}
                        <a class="org" href="{{ $v.teacher_url }}" title="{{ $v.teacher_name }}" target="_blank">{{ $v.teacher_name|cn_truncate:5 }}</a>
                    {{ else }}
                        <a class="org" href="{{ $v.org_url }}" title="{{ $v.org_name }}" target="_blank">{{ $v.org_name|cn_truncate:5 }}</a>
                    {{ /if }}
                </div>
            </div>
        </li>
    {{ **班课** }}
    {{ else if $v.is1to1 == 0 }}
        <li class="item {{ if ($v@index+1)%4 == 0 }}last{{ /if }}">
            <a class="cover" href="{{ $v.course_url }}" target="_blank" title="{{ $v.name }}">
                <img src="{{ $v.cover }}@1e_225w_127h_1c_0i_1o_90Q_1x">
                <span class="name">{{ $v.name|cn_truncate:17 }}</span>
            </a>
            <div class="button-box">
                <div class="price-box">
                    <span class="price">
                        {{ if $v.price == 0 }}
                            免费
                        {{ else }}
                            {{ if !empty($v.chaban_price) }}
                                ￥{{ $v.chaban_price }}
                            {{ else }}
                                ￥{{ $v.price }}
                            {{ /if }}
                        {{ /if }}
                    </span>
                    {{ if !empty($v.original_price) }}
                    <span class="origin-price">￥{{ $v.original_price }}</span>
                    {{ /if }}
                </div>
                <a class="btn" href="{{ $v.course_url }}" target="_blank">查看详情</a>
                <div class="date-box">
                    <span class="date">{{ $v.begin_time }}</span>
                    {{ if empty($v.org_url) }}
                        <a class="org" href="{{ $v.teacher_url }}" title="{{ $v.teacher_name }}" target="_blank">{{ $v.teacher_name|cn_truncate:5 }}</a>
                    {{ else }}
                        <a class="org" href="{{ $v.org_url }}" title="{{ $v.org_name }}" target="_blank">{{ $v.org_name|cn_truncate:5 }}</a>
                    {{ /if }}
                </div>
            </div>
        </li>
    {{ /if }}
{{ /foreach }}
