
/**
 * @file 邮寄资料
 * @author wanglu
 */
.form-mail {
    position: relative;
    opacity: 100%;
    background: #FFFFFF;
    .re-header {
        width: 1047px;
        height: 46px;
        background: #F7F7F7;
        position: absolute;
        left: -2px;
        bottom: 283px;
        .re-msg {
            font-family: PingFang-SC-Medium;
            font-size: 15px;
            color: #6D6D6E;
            letter-spacing: 0;
            line-height: 41px;
            margin-left: 10px;
            span {
                font-family: PingFang-SC-Regular;
                font-size: 15px;
                color: #9D9D9E;
                letter-spacing: 0;
                margin-left: 10px;
            }
        }
    }
    .re-form {
        margin-top: 55px;
        margin-left: 20px;
        clear: both;
        .form-label {
            float: left;
            font-weight: normal;
            padding-right: 5px;
            text-align: right;
            width: 9em;
            font-family: PingFang-SC-Regular;
            font-size: 14px;
            color: #3D3D3E;
            line-height: 14px;
        }
        .form-controls {
            margin-left: 6em;
            .label {
                margin-left: 11px;
                font-family: PingFang-SC-Regular;
                font-size: 14px;
                color: #3D3D3E;
            }
            .form-text {
                margin-bottom: 5px;
                display: inline-block;
                width: 126px;
            }
            .input-address, .input-remark {
                display: inline-block;
                width: 321px;
            }
        }
    }

}


