{{ strip }}
<div class="detail-group-info">
    <span class="group-name">{{ $group.name|escape:'html' }}</span>
    {{ if isset($group.is_join) && $group.is_join == '1' }}
    <span class="join-status">已加入</span>
    {{ else }}
    <span class="join-btn"><i class="icon icon-plus"></i>加入</span>
    {{ /if }}
    <span>帖子：<span class="num">{{ $group.threads }}</span></span>
    <span class="divider">|</span>
    <span>成员：<span class="num">{{ $group.members }}</span></span>

    <a class="btn btn-primary" href="javascript:void(0);" data-need-intercept="1" data-href="/forum/addThread?group_id={{ $group.group_id }}" rel="nofollow">发表帖子</a>
</div>
{{ /strip }}