.recommend-course {

    .recommend-course-header {
        width: 1100px;
        margin: 50px auto 10px;
        h3 {
            color: #333;
            display: inline-block;
            font-size: 24px;
            margin-right: 25px;
        }
        .hint {
            color: @brand-text-lighter;
            font-size: 14px;
        }
    }

    .recommend-course-content {
        background-color: #f4a733;
        padding: 4 * @gap-vertical-medium;
    }

    .recommend-course-tab {
        width: 1100px;
        margin: 0 auto;
        text-align: center;
        background: #4b32ab;
        height: 62px;
        line-height: 55px;
        color: #fff;
        font-size: 20px;
        border-top-left-radius: @gap-vertical-medium;
        border-top-right-radius: @gap-vertical-medium;
        .tab-nav {
            width: 178px;
            height: 68px;
            cursor: pointer;
            display: inline-block;
            margin-right: @gap-vertical-medium;
            background: url(../../../img/sem/tabBtn.png) no-repeat 0 -69px;
            position: relative;
            top: -7px;
        }
        .active {
            background: url(../../../img/sem/tabBtn.png) no-repeat 0 0;
        }
    }

    .recommend-course-box {
        width: 1100px;
        margin: 0 auto;
        background-color: #f6c271;
        padding: 35px 30px;
        .search-box {
            background-color: #f8e6cb;
        }
        .course-list {
            margin-top: 2 * @gap-vertical-medium;
            ul {
                .clearfix();
            }
            .course {
                float: left;
                background-color: #fff;
                border: 1px solid #d2d0d0;
                margin-right: 4px;
                &:last-child {
                    margin-right: 0;
                }

                .course-img {
                    position: relative;
                    &:hover {
                        .opacity(0.9);
                    }
                    .course-title {
                        .opacity(0.7);
                        background-color: #000;
                        width: 100%;
                        padding: 3px 8px;
                        position: absolute;
                        bottom: 5px;
                        left: 0;
                    }
                    a {
                        color: #fff;
                    }
                }
                .course-content {
                    .course-status {
                        background-color: #f8f8f8;
                        color: #03a465;
                        font-size: 24px;
                        border-bottom: 2px solid #e4e4e4;
                        span {
                            padding: 0 10px;
                            display: inline-block;
                            text-align: center;
                        }
                        em {
                            font-size: 14px;
                        }
                        .num {
                            float: right;
                        }
                    }
                    .course-info {
                        font-size: 12px;
                        height: 92px;
                        padding: @gap-vertical-medium;
                        .course-info-l,
                        .course-info-r {
                            width: 112px;
                            display: inline-block;
                        }
                        span {
                            display: block;
                        }
                        .course-info-l {
                            float: left;
                            margin-right: @gap-vertical-medium;
                            .icon-certification-idcard {
                                vertical-align: bottom;
                                margin-right: @gap-horizontal-tiny;
                            }
                        }
                    }
                }
                .course-action {
                    padding: @gap-vertical-medium;
                    padding-top: none;
                    a,
                    button {
                        width: 112px;
                        height: 62px;
                    }
                    .btn-info {
                        float: left;
                        margin-right: @gap-vertical-medium;
                    }
                    .icon {
                        display: block;
                        font-size: 26px;
                    }
                }
            }
        }
        .more {
            font-size: 12px;
            margin: 3 * @gap-vertical-medium auto 0;
            width: 120px;
        }
    }

    .high {
        display: none;
    }

}