.liudan-case {
  .case-header {
    position: relative;
    width: 100%;
    height: rem(120);
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: rem(120);
    }
    .title {
      position: relative;
      background: rgba(0, 0, 0, .6);
      font-size: rem(26);
      color: #FFFFFF;
      line-height: rem(120);
    }
  }
  .case-container {
    padding: rem(10) rem(15) rem(40) rem(15);
    .case-line {
      margin-top: rem(20);
      display: flex;
    }
    .first-case {
      margin-right: rem(13);
    }
    .case-item {
      flex: 1;
      .case-img {
        margin-bottom: rem(5);
        width: 100%;
      }
      .case-content {
        font-size: rem(14);
        color: #6D6D6E;
        letter-spacing: rem(-0.21);
        line-height: rem(20);
      }
    }
  }
}