.promise-container {
  background: #fff;
  padding: 0 rem(28) rem(40) rem(28);
  .ic-promise {
    display: block;
    width: rem(56);
    height: rem(56);
    margin: rem(35) auto 0 auto;
  }
  .title {
    margin-top: rem(15);
    font-size: rem(22);
    color: #3D3D3E;
    letter-spacing: 0;
    line-height: rem(22);
  }
  .content {
    margin-top: rem(12);
    font-size: rem(15);
    color: #6D6D6E;
    letter-spacing: 0;
    line-height: rem(22);
  }
}