.video-container {
  position: relative;
  width: 100%;
  height: rem(456);
  .video-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: rem(456);
  }
  .wish-box {
    position: absolute;
    width: 100%;
    height: rem(456);
    z-index: 2;
    .background-box {
      width: 100%;
      height: 100%;
      padding: rem(34) 0;
      background: rgba(0, 0, 0, .6);
    }
    .title {
      font-size: rem(26);
      color: #FFFFFF;
      line-height: rem(26);
    }
    .little-title {
      margin-top: rem(13);
      font-size: rem(15);
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: rem(15);
    }
    .iframe-box {
      background: rgba(0, 0, 0, .5);
      margin: rem(35) auto rem(14) auto;
    }
    .video-back {
      width: rem(172);
      height: rem(172);
      margin: rem(35) auto rem(14) auto;
      border-radius: 50%;
      background-image: url(/src/page/activity/liudan_tiku/img/video_back.png);
      background-size: 100% auto;
      background-position: center;
      .ic-play {
        width: rem(50);
        height: rem(50);
        margin: rem(61);
      }
    }
    .content {
      padding: 0 rem(30);
      margin-bottom: rem(26);
      font-size: rem(14);
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: rem(20);
    }
  }
}