@import "page/studentRoom/orderList/_part/choose.styl";
@import "page/studentRoom/orderList/_part/sort.styl";
.selected {
    background: white;
    width: 100%;
    position: fixed;
    top: rem(84);
    left: 0;
    right: 0;
    z-index: 100;
    .selected-bar {
        display: flex;
        border-bottom: rem(1) solid #ededed;
        height: rem(40);
        line-height: rem(40);
        .title {
            flex: 1;
            text-align: center;
            &.active {
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #37a4f5;
            }
            .normal {
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #6d6d6e;
            }
            .icon-caret-down {
                font-size: rem(18);
                position: relative;
                top: rem(2);
            }
        }
        .choose-cross-line {
            flex: 0.1;
            text-align: center;
            .choose-line {
                width: rem(1);
                height: rem(24);
                background: #ededed;
                margin-top: rem(8);
            }
        }
    }
}