.sort-box {
    &.hide {
        display: none;
    }
    .item {
        height: rem(40);
        line-height: rem(40);
        padding: 0 rem(15);
        border-bottom: rem(1) solid #eaeaea;
        .text {
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            display: inline-block;
            &.normal {
                color: #3d3d3e;
            }
            &.active {
                color: #37a4f5;
            }
        }
        .icon {
            float: right;
            font-size: rem(20);
            position: relative;
            top: rem(10);
            color: #37a4f5;
            &.hide {
                display: none;
            }
        }
    }
}