{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="back">


    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/cxdw_2866306e1a.jpg" alt="陈向东做客网易教育"/>
        <div>陈向东做客网易教育（资料图）</div>
    </div>

    <p class="paragraph">
        在年富力强的时候离开中国最大的教育集团，在陈向东看来，绝对是人生中非常重要且正确的一次选择。而他也选择在2014年开启人生的变革模式。
    </p>


    <p class="paragraph">
        五道口一间咖啡馆，夏日里温柔的阳光洒进来，我安静地坐在窗边等待原新东方执行总裁陈向东归来，内心已然特别激动。这是期待已久的一次会面。
    </p>
    <p class="paragraph">
        因工作关系，我分别在2012年和2013年底采访过老陈两次，谈得特别投缘，受益颇多。每次见面，他给我留下的印象都不太一样，而梦想留给他的烙印始终如一。这次老陈整装归来，和很多人一样我也非常迫切的想知道，离开新东方之后调整数月的他未来会选择什么，这次归来是否会带给业界不一样的期待。我就像一个浑身贴满了问号的小女孩，等着他来一一的帮忙摘掉。
    </p>

    <p class="paragraph">
        那是我们第一次非正式见面。从美国休假回来的陈向东，精神饱满，气色非常好，心情也非常愉悦。这也是他多年以来第一次真正意义上的休假。尚未等我开口提出困惑，老陈便侃侃而谈，他很少谈新东方的事情，更多是介绍休假的时光以及他的人生态度，传授多年的管理团队经验给我。
    </p>
    <p class="paragraph">
        没了正式采访的约束，聊起天来非常轻松愉快，坐在对面的老陈就像一个多年未见的忘年交，完全没有高管的架子，在兴致勃勃地和你分享他的精彩生活。老陈不时的会把话题放到对方身上，比如他会问我的兴趣在哪里，对未来是如何计划的，并且很认真的帮我分析未来的可能性。我安静的聆听着，不知不觉一个小时过去了，依旧兴致盎然，脑海里只有四个字飘过：“相见恨晚”。
    </p>
    <p class="paragraph">
        我为什么没能早点认识他？毫不过分的说，这次聊天价值千金。他的每一句话都值得我回味数次。
    </p>
    <p class="paragraph">
        老陈还是个爱才惜才之人。他认为人才有两种，第一是有天分同时也很努力的人，第二种是可能天分不 足，但后天足够努力。而他将自己归为第二类，时刻保持学习状态，不忘初心。无论走到哪里，老陈都会悉心留意年轻人才，结合其实际情况送上真诚的鼓励。曾经 的助理和司机也都在其鼓励下，业余时间继续进修，目前都取得了不错的发展。这个巨蟹座男人就像一个魔力磁场，把有着相同气质的人凝聚在一起。
    </p>
    <p class="paragraph">
        老陈挑选人才的一大法宝就是请人吃饭。比如，吃饭的时候不轻易说话，但一开口就很有思想，同时把空间给别人的人。这样的人非常难得，不贪功，不冒进，在关键的时候靠得住。席间，他会一一请大家做介绍，畅谈自己的观点，而自己却花更多时间倾听大家。
    </p>
    <p class="paragraph">
        这也是年轻人愿意追随老陈的一个原因。凡是和老陈接触过的人，无一例外都会被这个巨蟹座男人认真努力、永不放弃、充满乐观和正能量的魅力所深深吸引。老陈这样的职业人士，放到哪里都是被争抢的对象。他离职时，新东方总裁俞敏洪（微博）曾经给予高度评价，最高人才的标准是"能干、能说、有正能量"，能干是勤奋能够 干出业绩，能说是和人沟通能够圆润到位，有正能量是能够时时激发周围人的积极性，在这些点上，陈向东做到了非常优秀的地步，无人能出其右。
    </p>
    <p class="paragraph">
        有年轻人会说，从来没有和像陈老师这样高级别的人吃饭。而老陈一句“现在是没有级别”就拉近了双方的距离。
    </p>
    <p class="paragraph">
        其实我第一次见到老陈的时候，也是各种紧张，毕竟你崇拜的对象即将出现。2012年底，老陈第一次做客网易，他主动站起来和我握手，露出亲切的微笑。或许是因为在心里已经见过他很多次吧，我紧张得脱口而出：“好久不见，陈老师”。而他没有追究我之前在哪里见过，而是开始细心沟通采访提纲。每次见面，他总不忘表示对我工作的认可，并清楚记得每次我穿了什么。所以巨蟹座的人细心，果然是不一般。
    </p>
    <p class="paragraph">
        这几次访问，能够明显看出他的变化。在2012年底，老陈更多谈到的是新东方这辆大车，而他也是满怀壮志。2013年底，他提到最多的是变革。那一天，他依旧活力四射，但白发明显增多。我当时慨叹高管不易，却不曾想一个月后他便正式做好交接，离开新东方。
    </p>
    <p class="paragraph">
        在年富力强的时候离开中国最大的教育集团，在陈向东看来，绝对是人生中非常重要且正确的一次选择。他曾经数次提到，人必须有危机意识，要变革，要拥抱变化。而他也选择在2014年开启人生的变革模式。多年来在教育行业内的深厚积淀，老陈虽然还没有确定接下来做什么，但是终于可以听从内心的选择，追求自己的梦想，真正去驾驭和掌控一些事情。
    </p>
    <p class="paragraph">
        既有归来，离别何足叹。
    </p>
    <p class="paragraph">
        （文/李红颖）
    </p>

</div>


{{ /strip }}