{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="communication">


    <p class="paragraph">
        盼望着，盼望着，跟谁学的脚步近了！在众多好朋友的热切期盼中，跟谁学于北京时间2014年9月21日向部分入驻平台的老师首次揭开神秘面纱。

        跟随小编，一起去感受一下“汇聚生源 同创共赢——跟谁学（老师）交流会”的全过程吧。
    </p>
    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/communication/communication1_32704204e3.jpg" alt="文博老师"/>
        <div>“汇聚生源 同创共赢——跟谁学（老师）交流会”现场</div>
    </div>


    <p class="paragraph">
        邀请函发放
    </p>
    <p class="paragraph">
        9月12日，我们向部分入驻平台的老师发放了跟谁学（老师）交流会邀请函，带着满满的诚意我们开始了为期9天的准备工作。
    </p>

    <p class="paragraph">
        交流会实况
    </p>
    <p class="paragraph">
        时间：2014.9.21（周日）14:30-17:00
    </p>

    <p class="paragraph">
        地点：北京神舟国际酒店
    </p>
    <p class="paragraph">
        主题：汇聚生源 同创共赢——跟谁学（老师）交流会
    </p>

    <p class="paragraph">
        交流会可以用“精彩纷呈”四个字来形容——有的老师提前2小时就到了会场，近200位老师，没有一位中途离开，更多的是倾听、记录和互动……
    </p>
    <p class="paragraph">
        一段宣传视频拉开了整场活动的序幕，师资代表周艳、孟凯、Susan从各自的角度阐述了各自最期待的教学服务。
    </p>

    <p class="paragraph">
        随后，跟谁学创始人、董事长兼首席执行官陈向东老师，充满激情地介绍了跟谁学的使命和定位。现场积极互动，掀起了交流会的第一个高潮！
    </p>



    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/communication/communication2_56c66277db.jpg" alt="文博老师"/>
        <div>跟谁学创始人、董事长兼首席执行官陈向东</div>
    </div>

    <p class="paragraph">
        之后，跟谁学联合创始人、首席运营官张怀亭从教师诉求分析、产品介绍、教师入驻建议三个方面揭开了跟谁学的神秘面纱，并现场为老师演示了产品操作流程，老师纷纷点头，对平台设计给予了很大的肯定~~
    </p>

    <p class="paragraph">
        接下来，跟谁学联合创始人、副总裁罗斌登场，虽然他做技术出身，但演讲却活力四射。他详细阐述了跟谁学未来的市场规划，并重磅推出“名师打造计划”，现场老师对这个计划充满期待，并在会后踊跃报名！
    </p>

    <p class="paragraph">
        在三位创始人演讲结束后，现场进入了火爆的互动环节，老师从技术实现、产品理念、口碑打造等多方面提出问题，三位创始人轮番上阵、一一解答。陈向东老师也被现场积极地气氛感染，拿出手机拍下了这一场面。
    </p>

    <p class="paragraph">
        最后的抽奖环节，跟谁学准备了3台kindle电子阅读器，祝福获奖的老师能延续这份幸运。
    </p>


    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/communication/communication3_0ead110974.jpg" alt="文博老师"/>
        <div>交流会结束后，跟谁学老师拍照留念</div>
    </div>


    <p class="paragraph">
        会议结束后很多老师都要求拍照合影留念，有几十个老师久久没有离开，还有些老师在会后主动给我们鼓励，说我们做的事情真的很伟大。一位老师拉着我们工作人员的手说：“我们的时代来了，谢谢你们！”这句话，让我们每一个跟谁学的员工振奋，小编还看见一位同事激动得偷偷抹眼泪……
    </p>
    <p class="paragraph">
        有的老师迫切地通过我们微信公众号留言要参加我们的名师打造计划。还通过各种渠道表达了对活动的赞美和对跟谁学平台的期待。
    </p>
    <p class="paragraph">
        在此，诚挚邀请各界朋友登录跟谁学网站（www.genshuixue.com）体验，直接约课学习就更好啦~~如有任何问题，可随时通过微信公众号反馈想法，有了你们的陪伴，跟谁学定会茁壮成长！
    </p>
    <p class="paragraph">
        PS：今天距离2014年结束还有100天，注定要有件大事发生，你们猜是什么？
    </p>




</div>


{{ /strip }}