{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="dream">

    <p class="paragraph">
        历经130个日夜、3120小时的全员拼搏，跟谁学终于满怀梦想和希望向大家走来！北京时间2014年9月22日晚9时22分，跟谁学（www.genshuixue.com）PC测试版正式上线！
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/dream/dream1_1057df6719.jpg" alt="dream"/>
        <div>跟谁学www.genshuixue.com</div>
    </div>


    <p class="paragraph">
        微博上的提前预告
    </p>

    <p class="paragraph">
        一大早，创始人陈向东老师发了这样一条微博，伏笔就此埋下：
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/dream/dream2_5694dcae39.png" alt="dream"/>
        <div>跟谁学创始人、董事长兼执行总裁陈向东微博</div>
    </div>



    <p class="paragraph">
        当年，新东方大厦9层宽敞的办公室，变成了中关村软件园孵化器2号楼2308的一隅；当年，新东方执行总裁的老板台，换成了开放办公平台依窗摆放的简易电脑桌。这是“跟谁学”创始人陈向东(微博)与新东方执行总裁陈向东办公环境的落差。

    </p>

    <p class="paragraph">
        创始人陈向东启动测试版
    </p>
    <p class="paragraph">
        一整天，跟谁学的全体员工都为了测试版上线而忙碌激动着，各个部门的联络群里不断进行着倒计时：
    </p>

    <p class="paragraph">
        “就剩1小时啦，活动页面准备好了么？”
    </p>

    <p class="paragraph">
        “半小时，发现个bug，快点修复！”
    </p>
    <p class="paragraph">
        “15分钟，时间过得太快了~~”
    </p>

    <p class="paragraph">
        “1分钟啦，做好准备！”
    </p>

    <p class="paragraph">
        “倒计时10秒”
    </p>
    <p class="paragraph">
        “10、9、8、7、6、5、4、3、2、1……”
    </p>

    <p class="paragraph">
        时间一到，员工纷纷放下手中的工作，蜂拥而至围住创始人陈向东老师，目光聚焦在他身前的电脑上！陈老师一句“我宣布，跟谁学测试版启动上线”，掷地有声， 全员雀跃……跟谁学测试版正式掀开面纱！
    </p>


    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/dream/dream3_d6b270d62c.png" alt="dream"/>
        <div>管理团队在跟谁学PC测试版启动上线仪式上</div>
    </div>

    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/dream/dream4_e410ef92de.png" alt="dream"/>
        <div>跟谁学PC测试版启动上线仪式现场</div>
    </div>

    <p class="paragraph">
        员工激动相拥
    </p>

    <p class="paragraph">
        距离2015年还有百日之时，跟谁学终于“落地开花”，所有员工伴着它成长，看到自己的孩子呱呱坠地，怎能不激动，怎能不兴奋，怎能不幸福~~
    </p>
    <p class="paragraph">
        我们像宝贝一样把它捧在手心上，也希望亲爱的的老师和学生喜欢它！
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/dream/dream5_2b88ed0b08.png" alt="dream"/>
        <div>部分9月份生日的员工在跟谁学PC测试版启动上线仪式现场</div>
    </div>


    <p class="paragraph">
        程序员淡定改bug
        在大家开香槟庆祝的时候，小编却发现一小波“格格不入”的人，原来，他们仍在坚守岗位，努力维护网站，看着他们认真的脸庞，小编深深觉得他们是最可爱的人。
    </p>

    <p class="paragraph">

        我们的希望
        当你走在路上，收到这样的传单时，不要轻易扔掉，也许在这里你会找到个好老师，学到受用一生的本领。
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/dream/dream6_0195dceed2.jpg" alt="dream"/>
        <div>跟谁学宣传册</div>
    </div>

    <p class="paragraph">
        当你走在大学校园里，看到这样的海报，不要匆匆一瞥，也许在这里你就找到了自己的奋斗方向。
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/dream/dream7_a642f6ddbe.jpg" alt="dream"/>
        <div>跟谁学招聘大学实习生</div>
    </div>

    <p class="paragraph">
        当你登录PC测试版（www.genshuixue.com）时，不要匆匆关闭页面，希望你可以用一颗包容的心，多用、多拍砖、多推荐转发，更欢迎你亲自入驻，分享你的知识和技能！为了让教与学更平等、更便捷、更高效，我们一定更加努力。
    </p>

    <p class="paragraph">
        我们希望，若干年后，当互联网教育行业大局已定之时，人们会这样评价这只团队：他们是互联网领域最懂教育的，他们是教育行业最会搞互联网的；我们希望，苦心人，天不负，三千越甲可吞吴，焚膏继晷，夜以继日，枕戈待旦，夙夜匪懈，会换来整个群体的青睐和相关行业的侧目。
    </P>

    <p class="paragraph">
        没有一颗心会因为追求梦想而受伤，当真心想要某样东西时，整个宇宙都会联合起来帮你完成。我们坚信梦想照亮前程，希望我们这群满怀教育理想的人可以为伟大的教育事业做得更多，更多……
    </P>






</div>


{{ /strip }}