{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="">

    <p class="paragraph">

        人物简介：陈向东，跟谁学创始人、董事长兼CEO，前新东方教育科技集团执行总裁。1999年年底加盟新东方教育科技集团，2002年创建武汉新东方学校，2003年10月任集团副总裁，2010年11月任集团执行总裁，2014年1月辞去新东方执行总裁职务。2014年6月，创办“跟谁学”。
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/11-5/11-5_adb6f67124.jpg" alt="（来源：陈向东微博）"/>
        <div>跟谁学创始人、董事长兼CEO</div>
    </div>

    <p class="paragraph">
        走进“跟谁学”位于北京中关村软件园孵化器的主办公区，能感受到这是一家典型的互联网创业公司，年轻的面庞，人人面前一台电脑，密密匝匝，没有隔断地坐在一起。
    </p>
    <p class="paragraph">
        青春、未知、血液贲张……
    </p>
    <p class="paragraph">
        和陈向东的这次对话，则像一次不断解构生命意义的幸福课，他不断回望梳理着自己走过的路。
    </p>
    <p class="paragraph">
        30年前，为了省下一趟5毛钱的运费，13岁，1米4小个儿的他，背负100斤面粉，和父亲运了三趟，将600斤面粉运回了家。出发前，父亲为了让儿子坚持走下这段注定艰辛的路，分享了自己“坚持到底”的心得：背的途中再累也不要将面袋子完全卸下，放到地上，感觉累时，可以找旁侧的山壁靠一下，感觉负重感稍微减轻了，立即往前走。
    </p>
    <p class="paragraph">
        30年前父亲的这段建议，好像冥冥中引导着陈向东今天的人生路。
    </p>
    <p class="paragraph">
        今年1月，43岁的他，在外人看来已是成功人士，位至新东方执行总裁时，他决定重新出发，“人生总不能两全，本来想好好陪伴妻子孩子，可是这样放空的日子过了一个月后，我就睡不踏实了。”
    </p>
    <p class="paragraph">
        决定辞去新东方执行总裁职位时，他曾问自己一个问题：还会有多少朋友，如今天这样帮助自己、保持这样的沟通、交往？
    </p>
    <p class="paragraph">
        令他意外和感动的是，当朋友们闻悉他的创业举动，一些平常不太联系的朋友、同学都给他发来短信、邮件，打来电话：需要什么帮助，说一声啊！支持你，敢于追梦！
    </p>
    <p class="paragraph">
        原来自己在朋友们心目中的存在感还挺高，原来生命的奔跑速度真的是被激发、被鼓励、被推着往前走的。
    </p>
    <p class="paragraph">
        “你说生命是什么？生命不就是往前奔跑的过程中，让自己变得强大，也给予别人激励，让别人跑得更快，更强大的过程吗？”
    </p>
    <p class="paragraph">
        从今年5月组建团队，到9月22日“跟谁学”测试版上线，陈向东在重新体悟“奔跑者”的心境。
    </p>
    <p class="paragraph">
        “跟谁学”要成为一种生活方式
    </p>
    <p class="paragraph">
        登录“跟谁学”网站，许多人会生出这样的疑问：这不就是教育界的淘宝网吗？陈向东为何几次在公开演讲中用“超有梦想”、“超有价值”这样很满的形容词，来形容这个创业项目？
    </p>
    <p class="paragraph">
        “如果‘跟谁学’这个平台最终能实现将全中国最牛的老师与偏僻地域的孩子们连接起来，你不觉得这是一件很伟大的事吗？”
    </p>
    <p class="paragraph">
        采访中，陈向东在描述“跟谁学”项目的愿景时，兴奋、激动之情，是由心底漾出的。
        “现在走在路上，我的脑海中经常会出现这样的图景，茶余饭后抑或走在郊外的路上，忽而有了一些独处的时间，人们打开‘跟谁学’的客户端，约上心仪的老师，让接下来的这段独处时间变得更有价值。
    </p>
    <p class="paragraph">
        从9月22日上线测试版，已有8000名教师入驻“跟谁学”网站，因为前期在界定商业模式时，定位于只要你想学，就能找到教的人，所有“跟谁学”的面向的“教师”群体是一个泛化的教师概念，不仅有传统的K12科目，还有瑜伽、茶道、武术、创意绘画、舞蹈，甚至励志课，全军励志第一人新安龙、陈氏太极拳第十一代传人陈振肖等在自己领域中很有影响力的人物都已入驻跟谁学。
    </p>
    <p class="paragraph">
        “短短一个月，为什么有这么多老师喜欢我们这个产品，我想是‘跟谁学’的商业模式击中了他们的痛点，解决了他们的需求，现在许多人想做慈善、有一颗公益的心，但不知道怎么帮助到更大范围的人，‘跟谁学’恰恰可以帮助他们实现。如果说淘宝很伟大，它不仅改变了人们生活的方式，并且让偏远地区的中小企业主和世界连接起来，那么‘跟谁学’就是要改变人们的教育方式以及人们影响世界的方式。”
    </p>
    <p class="paragraph">
        从1988年参加工作，在教育培训领域沉浸20余年，陈向东说，再没有比今天更渴望通过自己和团队的努力，创设一个平台，让更多有一技之长、优秀的人和渴望有一技之长、渴望优秀的人连接起来。
    </p>
    <p class="paragraph">
        “跟谁学”目前没有同质对手
    </p>
    <p class="paragraph">
        陈向东除了目前担任“跟谁学”的董事长、CEO，还给自己自封了一个职位———首席产品体验官。他自称自己是一个完美主义者，十分痴迷于电子产品以及电商平台的用户体验，比如他会关注到携程一个产品通道的细微变化，但是转身互联网行业后，他试图让自己不那么纠结，团队成员也会委婉地提醒他不要着急，因为互联网行业的特征就是抢占时机，小步快跑，快速迭代，他还试图扭转在大公司工作时做决定会十分谨慎的工作习惯，“那时做一个决定，需要许多人的评判，‘跟谁学’现在是小公司，知道的人不是很多，我们当下最要做的是让更多的人知道我们。”为此，他提出了“微创新、爱小白、极简单、快迭代、重引导、玩社区”的18字“跟谁学”商业模式，被联合创始人团队中的三位资深技术大牛深为认同。
    </p>
    <p class="paragraph">
        在最近的一次公开演讲中，陈向东提出创业的六个要素——模式、战略、团队、企业文化、奖惩体系、执行，缺一不可，并且自己一直在自我检讨。
    </p>
    <p class="paragraph">
        “跟谁学”测试版上线一个多月来，网页版每周都会有几次升级，手机端每周就会有一个新版本，从今年5月初组建团队时，不知道到哪寻找同道，到现在公司员工近200人，有了成形的市场、技术研发、师资运营团队，有人用“不可思议”来形容“跟谁学”的成长速度，“跟谁学”发展到当下这个节点，陈向东谈到的诸上创业中的6个要素，哪些是长板？哪些还需优化？他又在“检讨”什么？
    </p>
    <p class="paragraph">
        “我们从创业的第一天起，就在谈‘跟谁学’的使命、价值观、商业模式和战略的问题，可以说走到今天，我们最初的这些愿景没有变，但是互联网是一个快速迭代的行业，所以我们会根据产品的变化，会微调商业模式，此外企业文化建设方面，我很在意人的归属感，从创业到现在，每周一下午一点到两点，是‘跟谁学’企业文化的沟通时间，我会和新老员工讲讲‘跟谁学’的过去、现在和未来，我想这一做法会成为‘跟谁学’的企业文化建设中的一个惯例，会一直坚持做下去。”
    </p>
    <p class="paragraph">
        由于思维方式、行事方式的差异，“情怀”在互联网行业是一个稀缺的词，跟谁学联合创始人中的3位技术大牛曾表示，“如果没有陈向东，未必大家能走到一起。”
    </p>
    <p class="paragraph">
        陈向东在组建跟谁学核心创始人团队时，也做了全面的建构，6位创始人中，两位来自传统教育培训行业，3位来自互联网行业，这被他称为跟谁学先天的“排他基因”，“我们不仅有教育情怀，而且有很高的技术门槛，未来‘跟谁学’一定会成为万人规模的公司，我曾带领万人‘打过仗’，也算一大优势吧。”
    </p>
    <p class="paragraph">
        追随内心做利己利他的事一定会被大家“懂得”
    </p>
    <p class="paragraph">
        在2012年年底，陈向东有意离开新东方时，他曾在内心问自己这样一个问题：如果我从新东方执行总裁的位置下来，在朋友心目中，我是一个什么样的人？还有多少朋友以后会保持今天这样的交往，会给予我帮助？创办“跟谁学”的这半年，让他感动也有些美滋滋的是，自己在朋友们心中的存在感，比自己预想得高很多倍。
    </p>
    <p class="paragraph">
        9月22日，跟谁学测试版上线，陈向东抱着通过用户体验改进网站服务的想法，在网站首页留下了自己的个人邮箱。让他没想到的是，邮箱中每天都会收到很多封来自老友甚至一些平常不太来往的朋友发来的邮件，邮件内容中除却鼓励、祝福，还没有忘记为他提供资源、推荐人选、谈对商业模式和产品体验的建议。
    </p>
    <p class="paragraph">
        “以前遇到成功人士，我也会和大家一样，心底想探究：他为何会跑这么快？有过亲身的心路经历，我发现来自周遭人的关注，他们在默默为自己加油、呐喊，怎么会走得不快呢？”
        春天时，种下梦想的种子，秋天时已经收获到稚嫩的、具象的梦想雏形，“如果没有这些朋友的关注、助力，没有这么多同道的加入，跟谁学不会由5月份一个小梦想到今天稍微大点的梦想。随着越来越多优秀人才的加入，一块来做这个梦，我相信这个梦会成为更多人心中的更大的梦想。”
    </p>
    <p class="paragraph">
        “只要心是善良的，心态是阳光的，心底是无私的，一心一意去做一件利己更利他的事，大家还是会喜欢你的。人一生所做的所有事，不就是让别人更懂你吗？”采访最后，陈向东自说自话，听来蛮有禅意。
    </p>
    <p class="paragraph">
        一个典型的农家孩子，用他的话说，从走进城市，就特别想融入到城市生活中；从一无所有，到拥有一些东西，到财务自由，陈向东觉得自己已足够幸运，并且十分感恩，“有时想想，自己就是被一些确定的幸福和不确定的幸福包裹着的。”
        牛仔裤、格子衬衫、运动鞋，送记者下楼时，踩着脚下的一级级台阶，似有些蹦蹦跳跳的感觉，重新起航，追寻心底的声音，能感受到陈向东由内透射的轻盈、舒展感。放下当下所有，起身奔跑，他看到了更大的世界。
    </p>


</div>


{{ /strip }}