{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="">



    <p class="paragraph">
        摘要： 11月3日，跟谁学创始人、董事长兼CEO，前新东方执行总裁陈向东会为iEDU教育联盟千人会微信群友们分享了他对当下在线教育创业的几点解读，芥末堆整理了此次分享的精彩内容。
    </p>
    <p class="paragraph">
        【芥末堆注】 11月3日，跟谁学创始人、董事长兼CEO，前新东方执行总裁陈向东会为iEDU教育联盟千人会微信群友们分享了他对当下在线教育创业的几点解读，芥末堆整理了此次分享的精彩内容。
    </p>

    <p class="paragraph">
        在线教育成为最近热议的话题。而谈到教育，不论是在线教育还是非在线教育，或者我们常说的线上教育或者线下教育，我认为核心点无非是“教育”两字。而在教育里，我们势必要关注“教育中学习者的状态”。众所周知，对大部分学习者来说，学习是件“痛苦”的事儿，那谁能把学习者内在的抵触和慵懒变为一种兴奋和“拥抱痛苦”的心态谁就能做出成功的教育。而大凡做的好的教育都能激发学习者的学习潜能，能够让学生自愿地去学习。
    </p>
    <p class="paragraph">
        未来的创业机遇在移动在线教育
    </p>
    <p class="paragraph">
        说到在线教育，我们应更加关注“移动在线教育”。为什么这么说呢，因为当下我们的学习者或者用户的时间更多地跟移动设备关联。前几天我在解放思想的论坛上分享了我的五个观点：
    </p>
    <p class="paragraph">
        （1） 移动设备或者说手机是连接世界的中心。
    </p>
    <p class="paragraph">
        （2） 移动设备或者说手机是世界智能的超体。
    </p>
    <p class="paragraph">
        （3） 移动设备或者说手机是个体智慧的延伸。
    </p>
    <p class="paragraph">
        （4） 移动设备或者说手机是快速决策的依靠。
    </p>
    <p class="paragraph">
        （5） 移动设备或者说手机是生活方式的映射。
    </p>
    <p class="paragraph">
        基于以上，我做了三个判断，第一个是：当我们的用户或者说学习者时间更多地跟移动设备关联，毫无疑问，目前创业成功的机遇更多的是在移动在线教育的战场。
    </p>

    <p class="paragraph">
        移动在线教育十个靠谱的创业方向
    </p>
    <p class="paragraph">
        第二个判断是，取得移动在线教育成功的关键点在于转换学习者痛苦学习的过程。从人性来讲，人都是慵懒的、都是痛恨痛苦的，那么为什么人们还需要去学习呢？我想大概有下面九个场景，决定了即使学习是痛苦的，学习者也不得不去学习——
    </p>
    <p class="paragraph">
        （1） 升学考试。也正因为这个原因我们说K12领域的市场会特别特别大，因为它与升学的相关性很大，在K12阶段，教育在家长心中的分量特别重，换到大学，家长会认为孩子已经有了自主判断力，对于教育的关注就会减少。
    </p>
    <p class="paragraph">
        （2） 毕业或学分。举例来说，当英语四级六级考试与大学毕业证挂钩时候，英语补习十分火爆；后来四六级与毕业证不挂钩的时候，整个市场就在锐减。再举例说慕课（MOOC），从慕课本身赚钱是很难的，但当慕课本身能与大学毕业或者学分挂钩的时候，这个市场就会是很大的市场。
    </p>
    <p class="paragraph">
        （3） 就业。换言之，毕业生都想要有好的工作，那么与好工作关系密切的教育领域就会有很大市场，比如公务员考试，中公教育和华图教育就做得不错。如果就业相关的培训考试能与移动在线结合得好的话，也会是很不错的在线教育创业点。
    </p>
    <p class="paragraph">
        （4） 升职。与职位晋升相关的考试培训会是职场相关人士密切关注的地方。
    </p>
    <p class="paragraph">
        （5） 留学。去国外读书或者移民必须要经过语言能力测试、学术水平测试，所以我们能看到赛达、托福、雅思、GRE、GMAT都会变得特别热。这也是为什么我们说留学市场特别大。其实这也是因为中国的教育资源是不均等的，优质教育资源有限的，又进一步促进了这个市场的发展。
    </p>
    <p class="paragraph">
        （6） 竞赛。人是有虚荣心的，为了取得胜利、超过别人，人们在竞赛中都想挑战更好的目标。还因为竞赛的成绩跟升学有一定关联。比如说之前的奥数，跟考试加分关联的时候，家长都很热心，一旦不关联了，也不那么在意了。但不管怎样，只要有成绩、有竞赛，就一定会有追逐。
    </p>
    <p class="paragraph">
        （7） 兴趣，或者说是“病态”的兴趣。比如说女性喜欢烹饪，想给孩子、家人做一顿好吃的饭，所以哪怕再痛苦也会有了巨大的兴趣。再比如说有些人到了四五十岁，对打保龄球、书法就特别感兴趣。所以在教育过程中构建兴趣也是特别重要的。
    </p>
    <p class="paragraph">
        （8） 圈子。也就是说当有一帮子差不多目标、需求的人在一起，大家相互鼓舞的时候，学习的痛苦就会弱化。
    </p>
    <p class="paragraph">
        （9） 工作。为了提升工作的专业能力、业务能力，人们也会逼迫着自己去学习。具体来说，比如人力资源培训师等职业技能的培训会是不错的市场。
    </p>
    <p class="paragraph">
        除了以上九个还有一个值得关注的原因：为了健康，为了更好的生活状态。比方说瑜伽、钢琴、肚皮舞。这方面的创业也会是不错的选择。
    </p>
    <p class="paragraph">
        综上来说，如果要实实在在拿到钱、创造营收的，以上提到的十类创业还算比较靠谱。
    </p>
    <p class="paragraph">
        移动在线教育用户行为变化的三个场景
    </p>
    <p class="paragraph">
        第三个判断是今天的移动在线教育的用户发生了很大的变化。由于技术的进步，个体的力量变得强大，个体成为价值创造的中心、连接世界的中心，在价值判断上变得更加强势，换言之从卖方经济变为买方经济。以前都是买不着，现在是用户挑。之前我们做移动在线教育创业的时候，你打开手机寻找相关的应用会发现很多类似的应用。这么多应用，用户会选谁？用户成了价值的中心，用户选择、参与、直接购买你的产品，并且产生口碑、传播你的品牌。从某种意义上讲，你这家企业的品牌价值是你用户品牌价值的总和。总而言之，用户成为品牌的价值中心，这也就意味着，用户的行为发生了变化。
    </p>
    <p class="paragraph">
        那用户的行为发生了哪些变化呢？
    </p>
    <p class="paragraph">
        （1） 用户变得更加不专一、更加多情。这是因为用户面临的是海洋一样的选择，所以现在能把客户真正留住要下更多的功夫。以前也许一个名师就能留住用户，但现在或许还需要更多的其他因素。
    </p>
    <p class="paragraph">
        （2） 用户更加不同质，或者说，用户变得更加有自我的特色。举例来说，有人用苹果手机，有人用三星手机、小米手机，有人用锤子手机，有人用一加手机。我就问他们，你为什么要买这个品牌的手机？他们说，我就想跟别人不一样。所以说当下我们的用户有了越来越多的个色。换句话说，如果A用户喜欢红色，可能B用户喜欢淡红色，C用户喜欢橘黄色，D用户喜欢深黄色。所以在当下教育行业大家都在从不同的领域进行切分，未来的移动在线教育门槛并不高，但做得最成功的几家将会获得巨大的红利。
    </p>
    <p class="paragraph">
        （3） 用户更加爱粉丝。用户本身也会成为粉丝的拥护者、产生一定的追随者，也就是说用户通过他的行为轨迹吸引那些相似轨迹的人，这些人会成为他的粉丝。这些同样轨迹的人交往就会产生依赖和情感依靠。所以说用户会更加爱粉丝或者说用户会更加爱同行。
    </p>

    <p class="paragraph">
        以上三个场景对在线教育有不小的影响，但对于在线教育的创业，我的认知是：由于移动在线教育的“热”，现在有很多人进来，这是个好事。有更多聪明人，更多资金来到在线教育创业也是一个好事。当一个国家有更多的资源来做教育，一个国家有更多的人才来关注教育，当更多有梦想有才华的人来做教育，这会是一个国家美好未来的表征，也会是国家一代年轻人幸运的佐证，也是创业者走上创业道路、来学习的一个很好的战场。
    </p>
    <p class="paragraph">
        不过，在线教育创业时，我想有几个场景变现比较难。比如题库类、作业类、工具类的产品变现的场景会比较难。因为用户更加不专一、不同质、爱粉丝，所以我认为未来题库类、作业类、工具类的产品免费的机构会越来越多，而大的机构会把这些免费的产品作为引流的工具来打战场。
    </p>
    <p class="paragraph">
        最后，跟大家分享下我对教育未来的五个最基本的判断：
    </p>
    <p class="paragraph">
        （1） 独立教师或者教师工作室会越来越多；
    </p>
    <p class="paragraph">
        （2） 小而美的专业机构会越来越多；
    </p>
    <p class="paragraph">
        （3） 服务于社区的机构会越来越多；
    </p>
    <p class="paragraph">
        （4） 题库类、作业类、工具类免费的产品会越来越多；
    </p>
    <p class="paragraph">
        （5） 提供场地的内地三方租赁会越来越多。
    </p>
    <p class="paragraph">
        再谈“跟谁学”
    </p>
    <p class="paragraph">
        “跟谁学”的灵感萌芽在我就职新东方时期，那时候思考的聚焦点在于究竟谁会对当下的培训教育有颠覆、有破坏性的创新？当时关注到的市场是一对一的教育市场，那时一对一市场营销成本占20%，房租成本30%，老师再拿30%左右，最后机构基本赚不了钱。于是我们就有了一个“将营销成本降低，把房租更加高效利用，建立一个去中间化的信息直达平台”的想法。再者，正如之前分享的，现在的在线教育涌入了不少创业者，在众多的应用中用户该选择谁呢？这就要求企业一定要有鲜明的定位。
    </p>
    <p class="paragraph">
        “跟谁学”的定位是做一个“O2O找好老师学习电商服务平台”。这里面有三个属性：“O2O”、“找好老师”、“学习电商服务平台”，我们一一来说。
    </p>
    <p class="paragraph">
        O2O方面，用户可以线上找老师、线上找老师学习。也可以线上找老师，线下跟老师学，所以在“跟谁学”里有我们自主研发的在线视频学习系统能为学生提供高效的线上学习。
    </p>
    <p class="paragraph">
        找好老师方面，用户最大的痛点无非是想给孩子找个靠谱的孩子喜欢的好老师，而这也是我们目前最大的诉求。在“跟谁学”上，家长只要在搜索框里输入想要的老师类型、机构名字、系统会给出丰富多样的选择，老师的资料里有视频、有照片、有成就、有学生评价，所有的内容都会让我们的用户做出一个非常好的选择。目前手机Android客户端已经上线，iOS端也会近期上线。虽然现在产品还不成熟，但经过未来两轮的迭代，最终的呈现将会非常好用。家长可以找好老师，而且可以直接支付，实现教育的闭环。
    </p>
    <p class="paragraph">
        学习电商服务平台方面，“跟谁学”不同于“沪江网”，“沪江网”自己做内容，自己做老师，自己做运营。“跟谁学”是一个第三方平台，我们为老师、机构提供服务，我们做公平的、平等的信息透明的老师展示平台。
    </p>
    <p class="paragraph">
        总而言之，“跟谁学”不仅仅是一个在线教育网站，更是一个电商平台，是一个集中了许多场景的学习平台。目前“跟谁学”已有八千多老师入住，随着移动场景的不断强化，“跟谁学”会受到更多人的喜爱和欢迎。所以说“跟谁学”的slogan是“万千名师一搜即得”，用通俗的话说“找好老师，上跟谁学”。对老师方面的口号，“跟谁学”是“改变您影响世界的方式”。对学生和家长用户来说，是“跟谁学，是一种生活方式。跟谁学，就在你身边。”我们的梦想则是打造一个人人乐用的学习服务平台。
    </p>
    <p class="paragraph">
        “我把自己作为90后创业者看待，不怕失败。我觉得只要有更多的人为了梦想一起同行就是最酷的、最炫的、最有意思的事儿。”
    </p>



</div>


{{ /strip }}