{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="prepare">

    <p class="title">
        再谈离开：想追求无限多的可能
　 　</p>
    <p class="paragraph">
        多知网：今年1月，听到您离开的消息，很多人的感觉是突然、意外，外界也有非常多的传言。
    </p>
    <p class="paragraph">
        陈向东：有很多错误的解读，今天正好借这个机会说说其中的故事。
    </p>
    <p class="paragraph">
        2005年，我自费参加了哈佛商学院的第16期总裁班（TGMP16）。这个班有两个基本要求：15年的工作经验、管理的公司有1亿美元的营收。当时条件我刚好吻合，那年我34岁，年龄算是班里最小的。
    </p>
    <p class="paragraph">
        从2005年开始，我基本每年去国外两次，大多是到哈佛大学，每次十天左右，一个礼拜的课程。一方面是去学习，当然更重要的是闭关。我常在晚上绕着查尔斯河，一个人独自散步，想想自己应该度过一种怎样的人生。
    </p>　
    <p class="paragraph">
        2011年，我40岁，当时产生严重的焦灼感，那时新东方已经做得非常好了。在那个点上，经常会想自己是否应该走出新东方，能从另个角度来成长自己，从另个角度成就新东方？也曾经想过如何结合互联网，让教育变得更加容易和高效？不过由于与俞敏洪老师和团队那多年的合作、默契和信任，也就一直没有能够说出口。
    </p>
    <p class="paragraph">
        多知网： 然后一直到了2013年？
    </p>
    <p class="paragraph">
        陈向东：不，到2012年的时候，我觉得时机成熟，可以去说的时候，浑水事件发生了，那时我肯定不能说我要走吧。浑水事件的时候，新东方股票两天暴跌了50%多。
    </p>

    <p class="paragraph">
        多知网：印象中是连续两日30%以上的跌幅，应该是新东方上市后一次空前的信任危机。不过挺过去之后，很多“抄底”买入的朋友都赚了。

    </p>
    <p class="paragraph">
        陈向东：对，我老婆问我（当时）为什么不买新东方的股票，甚至可以把房子卖了或者抵押了。我问她为什么这么有信心，她说：“因为你陈向东天天工作忙碌到到半夜，我能没有信心吗？”
　　</p>
    <p class="paragraph">
        浑水事件基本过去后，自己竟然又纠结起来。2012年11月我决定申请哈佛商学院的一个领导力的课程，当时名额已经满了，我就写信申请争取这次学习机会，最后还是得到了这个学习机会，这个课程对后来的决定起了根本的作用。
    </p>

    <p class="paragraph">
        多知网：这次领导力课程，就是你邮件中得出“人生的设计路径和领导力不匹配”结论的课程？当时到底发生了什么？
　　 </p>
    <p class="paragraph">
        陈向东：主讲这门课的George教授以前在一家医药公司做CEO，57岁时辞任CEO。我问他，57岁就离开，十多年过去了，后不后悔？他回答还是会有些后悔。“后悔的是离开的不算早。如果是一个职业经理人，可以选择干到65岁或者45岁，如果65岁离开，别人认为你已经彻底老了。但如果45岁离开，别人会认为你还有无限多种可能。”
　　</p>
    <p class="paragraph">
        我在新东方工作14年多，从来没有把自己当做职业经理人，也一直痛恨别人把我当做职业经理人，我一直把新东方当成自己的事业。不过和他沟通之后，我还是被“击中”了。俞敏洪老师创办了新东方，3万多名员工共同成就今天的新东方，新东方已经做的很好了，团队整体也真的很好，我觉得应该是自己可以没有太大遗憾离开的时机了。
    </p>

    <p class="paragraph">
        2013年3月，我又上了哈佛商学院的“最佳领导力实践”课程。通过检测评估自己的工作经历、性格成熟度和内在的驱动力，我意识到，到了我这个年龄，根据我在新东方那么多年的成长，我的领导力匹配的应该是“快速地、创新性地、简单极致地去推动一件事情，而不仅仅是更多地承担综合的、执行的、协调的职责”。好在俞敏洪老师能够懂我，好在团队中不少同事能够理解我，才使我后来没有那么尴尬和自责。
    </p>
    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/prepare/cxd01_1c1dc1a8dd.png" alt="cxd01"/>
    </div>


    <p class="title">
        创业并不是刻意准备：给自己定下了三条“规矩”
    </p>
    <p class="paragraph">
        多知网：美国回来，创业的故事大家已经知道了。据了解你也有在做一些投资，怎么分配投资和创业的时间？
    </p>
    <p class="paragraph">
        陈向东：我做这件事（多知网注：“跟谁学（genshuixue.com）”）的初衷是想以投资者的身份进入，然后不断地注入更多的时间，但真正进去之后才发现，大家对我的期待远远超越我的预期。我希望不要太早被聚焦到曝光灯下，能够享受更多的宁静时间，享受更多的私人空间，当然也能够做事有更多的从容。但7月8日被媒体提前曝光后，我的生活确实受到了不少影响。
    </p>

    <p class="paragraph">
        多知网：短暂离开行业几个月，回来后最大的感触是什么？
    </p>
    <p class="paragraph">
        陈向东：我4月份回的北京，还是一样的忙，不过忙碌的场景发生了变化。以前是忙着开各种各样的会议，现在是见不同的有着梦想的创业者；以前是被安排被计划的，现在是多了更多的决定和更加快速的沟通。以前我不明白咖啡馆为什么总是有那么多人，因为以前的会面和拜见我都会选择在办公室。而当我把自己归零后，我才发现咖啡馆和茶馆为什么会成为创业者狙击的地方；当很多创业者谈及他们的创业，或在地下室，或在民居，我才知道今天北京创业的热度和“屌丝”创业者的不易。
    </p>
    <p class="paragraph">
        多知网：对，北京的创业氛围很好，教育创业项目的热度也很高。真正进入创业状态后，你本身又有哪些调整？
    </p>
　　 <p class="paragraph">
        陈向东：我现在每天要见很多人，常常是早上7点半约到某个地方，四五十分钟见一拨人，然后再换一拨，一直到晚上，10点多的时候也在约，很忙碌，但是很兴奋。某种意义上说，我每天都被优秀的人才和他们的创业激情激励着和感动着。
　　</p>
    <p class="paragraph">

        我现在到公司上班，没有自己的大办公室，和大家一样，都是一个工位。在公司里面，大家都会直呼我的名字，当然是英文名字。现在上班也开始穿的也更加互联网STYLE了。
    </p>

    <p class="paragraph">
        前段时间我在看一本书，里面讲到了成功的三个法则：第一是与人友好地相处；第二是不拖延；第三是坚持。这个法则说起来太简单了，但是如果一个人真的能做到这三点，假以时日，肯定会取得成功。我想在今天这个时代，特别是作为一个“头”，这三点依然非常重要，你要赢得每个人的信任，你要努力往前走，你要坚持不放弃！
    </p>

    <p class="paragraph">
        多知网：创业的事情，被很多人关注，会不会有点意外？
    </p>

    <p class="paragraph">
        陈向东：有几个没想到吧。没想到我离开新东方后还会有那么多人关注，没想到离开新东方后会有那么多人理解我，也没有想到离开新东方后还有那么多人支持我，更没想到离开新东方后我会这么快去创业。让任何人决定去做一件事的时候，一定是因为在适当的时机，遇到了适当的人，才会去做一件你认为非常对的事情。我没想到那么快地“撞上”了自己的“天时、地利和人和”。
    </p>

    <p class="paragraph">
        多知网：时机、人、事，实现三个要素的契合其实很难。
    </p>

    <p class="paragraph">
        陈向东：其实我自己也在想，这些是你刻意准备的吗？其实不是。但如果不准备，有天机会来得时候，就很难成为你的机会。过去的那么多年里，我一直在准备。我经常说，工作不仅仅是为公司，更重要的也是为你自己。
    </p>
    <p class="paragraph">
        1999年底进的新东方，那时候员工就是几百人吧，到我离开，新东方有3万多人。我觉得我被人关注和支持，在某种程度上是新东方作为中国最为知名的品牌被人关注和支持。
    </p>
    <p class="paragraph">
        我1988年参加工作，一直到2014年1月31日，我从来没有休过那么长时间的假，来陪伴家人、陪伴孩子。更重要的意义是从来没有那么长的时间来放空自己，归零，回到原点，不忘初心，认知自己，思考你要到哪里去、你想和谁在一起去、你和大家怎么快速去……我在休息的这段时间里，没有了工作邮件，某种意义上，算是真的放下了。以前晚上2点睡觉，早上7点起床，到美国的时候，11点就“被迫”睡觉了，早上6点醒来。我有足够的时间去思考，去反问自己。
    </p>
    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/prepare/cxd02_6a2e017000.png" alt="cxd02"/>

    </div>


    <p class="title">
        理想的公司模型：必须要有判断力、凝聚力和文化力
    </p>


    <p class="paragraph">
        多知网：刚才你提到正确的时机，2010年就已经看到了互联网的趋势，现在再来做这个事情，晚了吗？
    </p>
    <p class="paragraph">
　　 陈向东：其实我本来在美国的休假时间会长一点，但是后来越来越不安——我看到微信红包被广泛应用的场景、企业实现O2O的场景，包括在美国，我的女儿用iPad学习的场景，我觉得对于整个中国而言，在线教育的场景已经迫在眉睫，再晚就错过了。
        现在的基础设施已经满足了要求，国内电脑的普及度，带宽、硬件配套都到了一个理想的状态。我觉得用互联网改造教育，或者在教育中注入更多互联网元素，现在这个时间点恰到好处。
    </p>

    <p class="paragraph">
        多知网：去年也很热，各种人在试错，等于说很多钉子已经被碰过了。
    </p>
    <p class="paragraph">
　　 陈向东：对。什么叫合适的时机？做得太早，就是先烈；做得太晚，看到的只能是背影。进去的时机刚好，试错已经试完了，钉子已经碰过了，同时还会有一拨人冲进来帮你教育市场、教育用户。如果你真能把握好这个节拍，是可以做成一个很大事业的。
    </p>
    <p class="paragraph">
        多知网：创业最大的吸引力，是可以按照自己的想法去组建团队、打磨产品。真正转身做创业者，你理想中的创业公司或者创业团队，应该是什么样的？
    </p>
    <p class="paragraph">
　　 陈向东：第一要有判断力，也就是方向。方向错了，停止就是进步；方向对了，快速就是机会。很多人犯错都是选择切入点时就已经错了，后面也只能是将错就错，错上加错。第二是感召力，也就是格局。格局小了，你只能找到更差的人；格局大了，你能找到更多比你还牛的人。感召别人是需要你付出的更多，需要你能够成为榜样人物，需要能够言必行，信必果。第三是文化力，也就是精神。信仰不同，到处都是钉子和冲突；信仰一致，处处都是春风和细雨。文化力强大，事和人、人和人、人和公司之间就会有粘性、有情感、有温度、有感动，于是，就会有信赖，有共同的梦想和事业。
    </p>
    <p class="paragraph">
        多知网：聊一些和创业无关的话题。很多传统机构都在做互联网的尝试，甚至转型，但整体的步调都不是很快。传统机构做在线的症结或者难点在哪儿？
    </p>
    <p class="paragraph">
　　 陈向东：传统机构拥抱互联网面临的最大挑战是——你的基因是线下的，要把自己改造成一个线上公司，那就已经不是你自己了。破坏性创新，一定是来自于企业外部。从世界性的规律来看，要完成一个巨大的颠覆，成功概率是非常低的。但我想说的是，就目前情况来说，大家都夸大了互联网对教育的影响力，线上和线下肯定是会并存的。对于传统机构而言，找到自己的优势，不断进行互联网化改造这是很必要的，但这并不能否定和取代传统机构内在的长期的核心竞争力。当然，有一部分教育确实会被颠覆，这是由受众群体所决定的，比如给大学生的产品，因为大学生的经济能力，他们有意愿和时间去寻求免费的产品。当一个产品，线上和线下体验的差异不大的时候，就可以免费，这时候对线下就可能是个颠覆。
    </p>
    <p class="paragraph">
        写在最后
    </p>
    <p class="paragraph">
        陈向东是一个有故事、真性情的人，聊到兴头上，常常“跑题”到原来在新东方的故事里，情义溢于言表；企业文化力、归零自醒现在被他常常挂在嘴边；他说话做事简单直接，见面几句寒暄后“有什么问题尽管问”……
　　</p>
    <p class="paragraph">
        已经实现了身份转换，陈向东却一如既往的忙碌，每天见很多人，做很多事。他已不再是新东方高管，但带着新东方的烙印和精神，再次启程。（多知网 邱珣）
    </p>

    <div class="img">
        <img src="{{ $static_origin }}/asset/img/guide/new/prepare/cxd03_6f0f99b580.png" alt="cxd03"/>

    </div>

</div>


{{ /strip }}