{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="speak">


    <p class="paragraph">

        文章开始，跟谁学小编先问个问题，大家是怎么看待支教的呢？
    </p>

    <p class="paragraph">
        最近在网上看到一篇争议较大的文章，叫做《叔叔阿姨，请你们不要来我们这里支教了》，作者在文中以边远地区孩子的口吻诉说了支教带来的一些问题，小编摘录一部分如下：
    </p>
    <p class="paragraph">
        开始的时候，我们因为你们的到来，热血沸腾，我们单纯的以为，你们会和那些三支一扶的叔叔阿姨一样，至少能呆三年；我们单纯的以为，你们的故事你们的游戏能助长我们的成绩；后来的一天晚上，校长说明天就不用来了，他们的支教生活结束了。才明白我们彼此之间的“游戏”结束了。打点着7天的收获，突然间明白，你们的故事你们的游戏你们所给予我们的，远没有我们土生土长的、喝着泥巴水、口口声声“再不念书，我打断你的狗腿”、脸上永远没有微笑的老先生来得实在，更能让我们感悟知识的力量。
    </p>
    <p class="paragraph">
        ……在这之后，我们开始有点反感，我开始明白你们所给与的远不是我们想要的，你们的爱心破坏了我们心灵的安静，你们的奉献破坏了我们传统的善良，这些，也许你们永远无法察觉，毕竟，你们是旅游来的，你们是让这块热熟着的黄土地见证你们的爱情而来的，你们是带着爱心寻求自我心中的安静而来的，你们是寻找呼吸西部贫瘠的空气而来的，我们以肤色的名义同意，以档次的不同疏远着。
    </p>
    <p class="paragraph">
        这篇文章说的有一定道理，但有点以偏概全。小编以前在大学里也负责过支教，其实更多的志愿者是怀着一腔热血想要去改变贫困地区孩子们的命运，而这种对支教的热爱是难能可贵的。只是支教的组织或人没有明确自己“能做什么”、“要做什么”和“怎么去做” 的问题，没有思考如何把“短期”转化成“长期”的支教行为，这就导致了支教的初衷与结果的偏差。
    </p>
    <p class="paragraph">
        小编想了想大概有以下这几种问题比较容易出现：
    </p>
    <p class="paragraph">
        课堂质量不高
    </p>
    <p class="paragraph">
        志愿者大多对自己的教学能力比较自信，进而忽略了当地的教学水平和学生的接受能力。往往容易高举高打，导致对教学环节、教学节奏和教学深度把所不准，由于对学生和教学环境陌生、与学生的沟通不够、因材施教的经验积累不足，导致志愿者与学生间的沟通不畅，教学效果不良。
    </p>

    <p class="paragraph">
        支教缺乏连续性
    </p>
    <p class="paragraph">
        大多数志愿者支教的时间比较短，往往对教学进度、教学方法和特殊学生辅导的情况没有进行良好交接。但又对支教工作报了很大期望，希望看到教学质量、学生成绩等有明显提升。志愿者离开后自我感觉良好，小朋友们却并没有学到太多的东西，反而还要付出更多的时间与精力来适应下一位老师的教学方式。
    </p>
    <p class="paragraph">
        支教缺乏可持续机制
    </p>
    <p class="paragraph">
        小编在大学的时候，身边有很多朋友对支教非常有激情有想法。但当个人利益与支教发生冲突时（比如支教可能占用过多个人时间与精力），大多数人会被迫选择放弃支教。解决这个问题的方法是寻找一种可持续性的机制。可惜传统的激励机制容易产生权力寻租的空间（比如变味的“支教保研”制度），反而导致像《叔叔阿姨，请你们不要来我们这里支教了》一文中所述的现象产生。
    </p>
    <p class="paragraph">
        综上，小编认为，达到教育目的比支教本身更重要。而在互联网浪潮铺天盖地的今天，我们是不是可以通过互联网为教育，特别是贫困地区的孩子们做点事情，让世界变得更好一点呢？小编以前曾经幻想人人都拿一块钱给自己，这样自己瞬间就成亿万富翁了，可惜大家都不认识，就算想给钱也苦于缺乏渠道呀。其实支教也是同样的情况，每个人都渴望着能够为贫困地区教育问题尽一份绵薄之力，可惜获取渠道的成本实在太高。
    </p>
    <p class="paragraph">
        跟谁学从创立以来就有个小小的公益愿望，那就是借助互联网平台的优势，促进支教事业信息、资源与渠道的整合，为解决支教中的困难与问题尽自己的绵薄之力。
    </p>

    <p class="paragraph">

        每个人心里都有想要帮助别人的愿望，跟谁学的愿望就是让教育更平等，更高效，更便捷（也是小编的愿望哦~）。要是你也有支教的梦想，要是你对跟谁学的公益梦想有更好的建议，欢迎你直接在微信平台上和小编联系，一起来圆梦哦~
    </p>


</div>


{{ /strip }}