{{ *

@file 新闻中心
@author tangrongyan

* }}

{{ strip }}


<div class="">
    
    <p class="paragraph">
        自年初曝出辞任新东方执行总裁一职后，陈向东(微博)
    </p>
    <p class="paragraph">
        于在线教育领域的创业项目“跟谁学”一直备受业界关注。9月22日跟谁学正式发布测试版，关于跟谁学的一些猜测终于浮出水面。
    </p>
    <p class="paragraph">
        登陆跟谁学平台，页面以橙色为主，包括搜索和选课功能。单从课程类型来看，这是一个典型的K12在线教育产品，涵盖了小学、初中、高中的语、数、外、理、化等主要学科。不过，除了这些应试化学科外，跟谁学平台上，兴趣类课程也占据了很大一部分比例，例如舞蹈、声乐、器乐、创意绘画、素描等，另外还包括陶艺、皮雕、太极拳、跑酷等“非主流”课程。出于好奇，教育产业观察君点开了其中的“跑酷”，结果显示有两个课程展示，收费均为100元/时起。
    </p>
    <p class="paragraph">
        从跟谁学的功能来看，用户群主要分为个人和老师，其中个人跟谁学账户中心包括“课表”、“钱包”、“订单”等。对于老师用户，跟谁学则提供身份认证、教师证认证、学历认证、专业资质认证等保障。目前，跟谁学上的老师课酬标准高低不一，最高者达3000元/时，最低者仅为10元/时。授课方式则主要包括线上和线下，其中线下方式又可选择老师上门、学生上门或协商地点。
    </p>
    <p class="paragraph">
        由于网站刚刚测试上线，为了吸引用户，跟谁学也展开了一系列市场推广活动，将会从参加课程体验的用户中抽取100名，每人奖励500元学习体验基金。另外，网站还启动“庆祝测试版上线，iphone6免费送”活动。
    </p>
    <p class="paragraph">
        今日凌晨，陈向东在微信上接受了教育产业观察的语音采访。陈向东表示，目前跟谁学只面对北京地区用户，接下来会逐步向全国其他城市做市场推广。陈向东甚至笑称：“也欢迎你们这些记者朋友去上面开课体验，任何一个有知识、有技能者，我们都欢迎入驻”。
    </p>

    <p class="paragraph">
        当被问到跟谁学与竞争对手365好老师的区别时，陈向东则表示，对该平台并不太清楚，“我想，既然大家做的事儿都是帮家长找好老师，这说明家长有很多这样的需求，大家一起加入进来，才会更好地为家长服务、为老师服务”。
    </p
    

</div>


{{ /strip }}