{{ *

@file 视频课详情页
@author jixiaohui

* }}


{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "video/detailOld_fee66f7ff8" }}
    {{ $script_data.teacherNum = $tpl_data.user_number }}
    {{ $script_data.courseNum = $tpl_data.number }}
    {{ $script_data.courseType = $tpl_data.course_type }}
    {{ $script_data.is_access = $tpl_data.is_access }}
    {{ $script_data.price = $tpl_data.price }}
    {{ $script_data.is_verify = $tpl_data.is_verify }}
    {{ $script_data.sign = $tpl_data.sign }}
    {{ $script_data.userId = $user_data.user_id }}
    {{ $script_data.teacherId = $tpl_data.teacher_id }}
    {{ $script_data.crumb = $tpl_data.crumb[4].name }}
    {{ $nav_config.active = '' }}

    {{ $baidu_query = "跟谁学 " }}

    {{ **顶部搜索去掉placeholder支持空query** }}
    {{ $current_page = 'detail' }}

    {{ **是否登陆** }}
    {{ if !empty($user_data) }}
        {{ $script_data.hasLogin = true }}
    {{ else }}
        {{ $script_data.hasLogin = false }}
    {{ /if }}

    {{ if !empty($tpl_data.organization) }}
        {{ $script_data.orgNumber = $tpl_data.organization.number }}
        {{ if not empty ($tpl_data.organization.support_tianxiao) }}
            {{ $script_data.isTianxiaoOrg = $tpl_data.organization.support_tianxiao }}
        {{ /if }}
    {{ /if }}

    {{ $counter = 0 }}
    {{ $flag = false }}
    {{ if !empty($tpl_data.video_list) }}
        {{ foreach $tpl_data.video_list as $v }}
            {{ if $v.status == 3 }}
                {{ $counter = $counter + 1 }}
                {{ if !$flag }}
                    {{ $script_data.try_listen = $v.id }}
                    {{ $flag = true }}
                {{ /if }}
            {{ /if }}
        {{ /foreach }}
    {{ /if }}

{{ /block }}

{{ * SKU统计上报 * }}
{{ block name='sku_id' }}
{{ $sku_id=$tpl_data.number }}
{{ /block }}


{{ block name="title" }}
{{ strip }}
    {{ if $tpl_data.price == 0 }}
        【免费】
    {{ /if }}
    {{ $tpl_data.title }}
{{ /strip }}
{{ /block }}


{{ block name="keywords" }}
{{ strip }}
    {{ $tpl_data.keywords }}
{{ /strip }}
{{ /block }}


{{ block name="description" }}
{{ strip }}
    {{ $tpl_data.description }}
{{ /strip }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/video/detailOld_9e3dcd8791.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

<div id="main">

    <div id="crumb">
        <ul>
            {{ foreach $tpl_data.crumb as $xie }}
            <li {{ if $xie@last }} class="related-li" {{ /if }}>
                {{ if !$xie@first }} &nbsp;&gt;&nbsp; {{ /if }}
                <a href="{{ $xie.url }}" target="_blank">
                    {{ $xie.name }}
                </a>

                {{ if $xie@last }}
                    <ul class="related">
                    {{ foreach $tpl_data.course_related as $related }}
                        <li>
                            <a href="{{ $related.url }}" target="_blank">
                                {{ $related.name }}
                            </a>
                        </li>
                    {{ /foreach }}
                    </ul>
                {{ /if }}
            </li>
            {{ /foreach }}
        </ul>
    </div>

    {{ include "video/detail/profile.html" tpl_data=$tpl_data counter=$counter }}

    <div id="sidebar">
        <div id="sidebar-box">
        {{ include file="video/detail/author.html" tpl_data=$tpl_data }}
        </div>
    </div>

    <div id="content" class="card">
        <div class="card-body">

            {{ if isset($tpl_data.is_juhuixue) && $tpl_data.is_juhuixue }}
                <a href="http://ju.genshuixue.com/?zn=zn_juhuixue_huiliu_pc" target="_blank">
                    <img class="activity-photo" data-value="1" src="{{ $static_origin }}/asset/img/classCourse/juhuixuePc_a8dd641193.png" />
                </a>
            {{ /if }}

            {{ if isset($tpl_data.video_store_url) && $tpl_data.video_store_url }}
                <a href="{{ $tpl_data.video_store_url }}" target="_blank">
                    <img class="activity-photo" data-value="2" src="{{ $static_origin }}/asset/img/video/zhishikuPc_c180ecc172.png" />
                </a>
            {{ /if }}

            {{ if isset($tpl_data.zhenti_store_url) && $tpl_data.zhenti_store_url }}
                <a href="{{ $tpl_data.zhenti_store_url }}" target="_blank">
                    <img class="activity-photo" data-value="3" src="{{ $static_origin }}/asset/img/video/zhentikuPc_15fb87b041.png" />
                </a>
            {{ /if }}

            {{ include file="video/detail/summary.html" tpl_data=$tpl_data }}
            {{ include file="video/detail/section.html" tpl_data=$tpl_data counter=$counter }}
            {{ include file="video/detail/content.html" tpl_data=$tpl_data }}
            {{ include file="video/detail/tags.html" tpl_data=$tpl_data }}
            {{ include file="video/detail/comment.html" tpl_data=$tpl_data }}
        </div>
    </div>

</div>

{{ /strip }}
{{ /block }}

{{ block name="script" }}
{{ strip }}
    {{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}
{{ /strip }}
{{ /block }}

{{ block name="inner_link" }}
{{ include file="common/innerlink/searchList.html" data=$tpl_data.pageInnerLinks mod="课程" inner_type="teacher" }}
{{ /block }}
