{{ *

@file 视频课详情页 - 下架页
@author jixiaohui

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}

{{ /block }}

{{ block name="title" }}
 - 跟谁学
{{ /block }}


{{ block name="keywords" }}
{{ strip }}

{{ /strip }}
{{ /block }}


{{ block name="description" }}
{{ strip }}

{{ /strip }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/video/dropdown_4911eed4ab.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

<div id="main">
    <div class="content">
        <div class="drop-icon"></div>
        <div class="info">
            <div class="title">对不起，你查看的视频课已被发布者<span>下架</span></div>
            <div class="description">
                处于观看有效期的用户，可以在<span>个人中心>我的视频课</span>中，点击该课程的<span>观看</span>按钮进行观看！
            </div>
        </div>
    </div>
</div>

{{ /strip }}
{{ /block }}