.livehelp-box-main-process {
    background: #FAFAFA;
    padding: 0 rem(10);
    padding-top: rem(30);
    .livehelp-process {
        font-family: PingFang-SC-Regular;
        font-size: rem(16);
        color: #3C3C3C;
        line-height: rem(22);
        margin-top: rem(20);
        .livehelp-process-pic-one {
            min-height: rem(220);
        }
        .livehelp-process-pic-two {
            min-height: rem(88);
        }
        .livehelp-process-pic-three {
            min-height: rem(300);
        }
        .livehelp-process-pic-four {
            min-height: rem(200);
        }
        .livehelp-process-pic-five {
            min-height: rem(330);
        }
        .livehelp-process-content {
            font-family: PingFang-SC-Regular;
            font-size: rem(16);
            color: #3C3C3C;
            line-height: rem(22);
        }
        .livehelp-process-title {
            font-family: PingFang-SC-Medium;
            font-size: rem(16);
            color: #3C3C3C;
            line-height: rem(16);
            margin-top: rem(20);
        }
        .livehelp-process-content-2 {
            font-family: PingFangSC-Regular;
            font-size: rem(14);
            color: #6D6D6E;
            line-height: rem(22);
            margin-top: rem(10);
        }
    }
}