{{ *

@file 评论列表优化
@author niejianhui

* }}

{{ strip }}

{{ $course_comment = $tpl_data.comment_list.course_comment }}
{{ $related_comment = $tpl_data.comment_list.related_comment }}
{{ $total = $tpl_data.comment_nav.score.face_type.total }}
{{ $comment_list = $tpl_data.comment_list }}
{{ $face_type = $tpl_data.comment_nav.face_type }}
{{ include file="common/variable/lesson.html" scope=parent }}

{{ if count($course_comment) == 0 && count($related_comment) == 0 }}
    <div id="no-comment">
        <div id="commentIcon"></div>
        <div id="commentText">
            {{ if $total > 0 && $face_type }}
                本课程暂无该类型评价
                {{ else }}
                    本课程暂无评价
            {{ /if }}
        </div>
    </div>
    <div class="view-all">
        <a href="{{ $tpl_data.comment_list.view_all_url }}">查看老师全部评价></a>   
    </div>
    {{ include file="common/component/pager.html" page=$comment_list.pager.page page_size=$comment_list.pager.page_size count=$comment_list.pager.count }}
{{ /if }}

{{ if count($course_comment) > 0 && count($related_comment) == 0 }}
    <div class="list">

        {{ foreach $course_comment as $item }}
            <div class="item">
                <dl>
                    <dt>
                        {{ if $item.anonymous == 1 }}
                            {{ include file="common/component/avatar.html" type="small" img=$item.user_avatar }}
                        {{ else }}
                            <a href="/x/{{ $item.user_number }}" target="_blank">
                                {{ include file="common/component/avatar.html" type="small" img=$item.user_avatar }}
                            </a>
                        {{ /if }}
                    </dt>
                    <dd data-title="{{ $item.display_name }}">
                        {{ $item.display_name|cn_truncate: 4 }}
                    </dd>
                </dl>

                <div class="comment">

                    <div class="score-info">

                        {{ include file="common/component/starScore.html" score=$item.total_score fr=$item.fr }}

                    </div>

                    <div class="content">
                        {{ if isset($item.fr) && ($item.fr == 1 || $item.fr == 3) }}
                            未做出评价，系统默认评价！
                        {{ else }}
                            {{ $item.info|escape }}
                        {{ /if }}
                    </div>

                    {{ if !empty($item.photo_list) }}
                    <div class="comment-photo-box">
                        <ul class="comment-photo-list">
                            {{ foreach $item.photo_list as $val }}
                            <li class="photo-item" data-image="{{ $val.url }}" data-name="{{ $val.title }}" {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.width raw_height=$val.height width=400 height=300 }} data-horizontal="{{ $photo }}" data-hheight="{{ $fit_height }}"

                            {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.height raw_height=$val.width width=300 height=400 }} data-vertical="{{ $photo }}" data-vheight="{{ $fit_height }}"

                            >
                                {{ include file="common/variable/photo.html" url=$val.url raw_width=$val.width raw_height=$val.height width=80 height=60 }}
                                <img src="{{ $photo }}">
                            </li>
                            {{ /foreach }}
                        </ul>
                        <div class="comment-photo-player" style="display:none;">
                            <ul class="photo-action">
                                <li class="packup"><i class="photo-icon photo-packup"></i>收起</li>
                                <li class="sourse"><i class="photo-icon photo-sourse"></i>原图</li>
                                <li class="left"><i class="photo-icon photo-left"></i>向左转</li>
                                <li class="right"><i class="photo-icon photo-right"></i>向右转</li>
                            </ul>
                            <div class="photo-wrapper">
                            {{ *垂直居中* }}
                            {{ *margin-bottom:-{{ $fit_height/2 }}px;* }}
                                <div class="floater" style=""></div>
                                <img src="" class="rotate-img">
                            </div>
                            <div class="photo-name">
                            </div>
                        </div>
                    </div>
                    {{ /if }}

                    <div class="order-info">
                        {{ if isset($item.fr) && $item.fr == 2 }}
                        <span>邀请评价</span>
                        {{ else }}
                            <a href="{{ $item.course_url }}" target="_blank">
                                {{ $item.course_name|cn_truncate: 33 }}
                            </a>

                            <span>{{ $item.course.lesson_way_name }}</span>

                            <span>{{ $item.display_title }}</span>

                            <span>
                            老师：{{ $item.teacher_name }}
                            </span>
                        {{ /if }}

                        <span class="date">
                            {{ $item.create_time|date_format:"%Y-%m-%d" }}
                        </span>

                    </div>

                    {{ if isset($item.additional) && isset($item.additional.student) }}
                        <div class="add-comment-show">
                            ［追加评论］{{ $item.additional.student.info }}
                        </div>
                    {{ /if }}

                    {{ if isset($item.additional) && isset($item.additional.teacher) }}
                        <div class="comment-reply">
                            ［回复］{{ $item.additional.teacher.info }}
                        </div>
                    {{ /if }}

                </div>


            </div>
        {{ /foreach }}

    </div>
    {{ if $tpl_data.comment_list.is_last_page == true }}
        <div class="view-all">
            <a href="{{ $tpl_data.comment_list.view_all_url }}">查看老师全部评价></a>   
        </div>
    {{ /if }}
    {{ include file="common/component/pager.html" page=$comment_list.pager.page page_size=$comment_list.pager.page_size count=$comment_list.pager.count }}
{{ /if }}

{{ if count($course_comment) > 0 && count($related_comment) > 0 }}
    <div class="list">

        {{ foreach $course_comment as $item }}
            <div class="item">
                <dl>
                    <dt>
                        {{ if $item.anonymous == 1 }}
                            {{ include file="common/component/avatar.html" type="small" img=$item.user_avatar }}
                        {{ else }}
                            <a href="/x/{{ $item.user_number }}" target="_blank">
                                {{ include file="common/component/avatar.html" type="small" img=$item.user_avatar }}
                            </a>
                        {{ /if }}
                    </dt>
                    <dd data-title="{{ $item.display_name }}">
                        {{ $item.display_name|cn_truncate: 4 }}
                    </dd>
                </dl>

                <div class="comment">

                    <div class="score-info">

                        {{ include file="common/component/starScore.html" score=$item.total_score fr=$item.fr }}

                    </div>

                    <div class="content">
                        {{ if isset($item.fr) && ($item.fr == 1 || $item.fr == 3) }}
                            未做出评价，系统默认评价！
                        {{ else }}
                            {{ $item.info|escape }}
                        {{ /if }}
                    </div>

                    {{ if !empty($item.photo_list) }}
                    <div class="comment-photo-box">
                        <ul class="comment-photo-list">
                            {{ foreach $item.photo_list as $val }}
                            <li class="photo-item" data-image="{{ $val.url }}" data-name="{{ $val.title }}" {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.width raw_height=$val.height width=400 height=300 }} data-horizontal="{{ $photo }}" data-hheight="{{ $fit_height }}"

                            {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.height raw_height=$val.width width=300 height=400 }} data-vertical="{{ $photo }}" data-vheight="{{ $fit_height }}"

                            >
                                {{ include file="common/variable/photo.html" url=$val.url raw_width=$val.width raw_height=$val.height width=80 height=60 }}
                                <img src="{{ $photo }}">
                            </li>
                            {{ /foreach }}
                        </ul>
                        <div class="comment-photo-player" style="display:none;">
                            <ul class="photo-action">
                                <li class="packup"><i class="photo-icon photo-packup"></i>收起</li>
                                <li class="sourse"><i class="photo-icon photo-sourse"></i>原图</li>
                                <li class="left"><i class="photo-icon photo-left"></i>向左转</li>
                                <li class="right"><i class="photo-icon photo-right"></i>向右转</li>
                            </ul>
                            <div class="photo-wrapper">
                            {{ *垂直居中* }}
                            {{ *margin-bottom:-{{ $fit_height/2 }}px;* }}
                                <div class="floater" style=""></div>
                                <img src="" class="rotate-img">
                            </div>
                            <div class="photo-name">
                            </div>
                        </div>
                    </div>
                    {{ /if }}

                    <div class="order-info">
                        {{ if isset($item.fr) && $item.fr == 2 }}
                        <span>邀请评价</span>
                        {{ else }}
                            <a href="{{ $item.course_url }}" target="_blank">
                                {{ $item.course_name|cn_truncate: 33 }}
                            </a>
                            <span>{{ $item.course.lesson_way_name }}</span>
                            <span>{{ $item.display_title }}</span>

                            <span>
                            老师：{{ $item.teacher_name }}
                            </span>
                        {{ /if }}

                        <span class="date">
                            {{ $item.create_time|date_format:"%Y-%m-%d" }}
                        </span>

                    </div>

                    {{ if isset($item.additional) && isset($item.additional.student) }}
                        <div class="add-comment-show">
                            ［追加评论］{{ $item.additional.student.info }}
                        </div>
                    {{ /if }}

                    {{ if isset($item.additional) && isset($item.additional.teacher) }}
                        <div class="comment-reply">
                            ［回复］{{ $item.additional.teacher.info }}
                        </div>
                    {{ /if }}

                </div>


            </div>
        {{ /foreach }}

    </div>
    <div class="related-title"><i class="ic-left"></i>相关课程评价<i class="ic-right"></i></div>
    <div class="list">

        {{ foreach $related_comment as $item }}
            <div class="item">
                <dl>
                    <dt>
                        {{ if $item.anonymous == 1 }}
                            {{ include file="common/component/avatar.html" type="small" img=$item.user_avatar }}
                        {{ else }}
                            <a href="/x/{{ $item.user_number }}" target="_blank">
                                {{ include file="common/component/avatar.html" type="small" img=$item.user_avatar }}
                            </a>
                        {{ /if }}
                    </dt>
                    <dd data-title="{{ $item.display_name }}">
                        {{ $item.display_name|cn_truncate: 4 }}
                    </dd>
                </dl>

                <div class="comment">

                    <div class="score-info">

                        {{ include file="common/component/starScore.html" score=$item.total_score fr=$item.fr }}

                    </div>

                    <div class="content">
                        {{ if isset($item.fr) && ($item.fr == 1 || $item.fr == 3) }}
                            未做出评价，系统默认评价！
                        {{ else }}
                            {{ $item.info|escape }}
                        {{ /if }}
                    </div>

                    {{ if !empty($item.photo_list) }}
                    <div class="comment-photo-box">
                        <ul class="comment-photo-list">
                            {{ foreach $item.photo_list as $val }}
                            <li class="photo-item" data-image="{{ $val.url }}" data-name="{{ $val.title }}" {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.width raw_height=$val.height width=400 height=300 }} data-horizontal="{{ $photo }}" data-hheight="{{ $fit_height }}"

                            {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.height raw_height=$val.width width=300 height=400 }} data-vertical="{{ $photo }}" data-vheight="{{ $fit_height }}"

                            >
                                {{ include file="common/variable/photo.html" url=$val.url raw_width=$val.width raw_height=$val.height width=80 height=60 }}
                                <img src="{{ $photo }}">
                            </li>
                            {{ /foreach }}
                        </ul>
                        <div class="comment-photo-player" style="display:none;">
                            <ul class="photo-action">
                                <li class="packup"><i class="photo-icon photo-packup"></i>收起</li>
                                <li class="sourse"><i class="photo-icon photo-sourse"></i>原图</li>
                                <li class="left"><i class="photo-icon photo-left"></i>向左转</li>
                                <li class="right"><i class="photo-icon photo-right"></i>向右转</li>
                            </ul>
                            <div class="photo-wrapper">
                            {{ *垂直居中* }}
                            {{ *margin-bottom:-{{ $fit_height/2 }}px;* }}
                                <div class="floater" style=""></div>
                                <img src="" class="rotate-img">
                            </div>
                            <div class="photo-name">
                            </div>
                        </div>
                    </div>
                    {{ /if }}

                    <div class="order-info">
                        {{ if isset($item.fr) && $item.fr == 2 }}
                        <span>邀请评价</span>
                        {{ else }}
                            <a href="{{ $item.course_url }}" target="_blank">
                                {{ $item.course_name|cn_truncate: 33 }}
                            </a>

                            <span>{{ $item.course.lesson_way_name }}</span>

                            <span>{{ $item.display_title }}</span>

                            <span>
                            老师：{{ $item.teacher_name }}
                            </span>
                        {{ /if }}

                        <span class="date">
                            {{ $item.create_time|date_format:"%Y-%m-%d" }}
                        </span>

                    </div>

                    {{ if isset($item.additional) && isset($item.additional.student) }}
                        <div class="add-comment-show">
                            ［追加评论］{{ $item.additional.student.info }}
                        </div>
                    {{ /if }}

                    {{ if isset($item.additional) && isset($item.additional.teacher) }}
                        <div class="comment-reply">
                            ［回复］{{ $item.additional.teacher.info }}
                        </div>
                    {{ /if }}

                </div>


            </div>
        {{ /foreach }}

    </div>
    {{ if $tpl_data.comment_list.is_last_page == true }}
        <div class="view-all">
            <a href="{{ $tpl_data.comment_list.view_all_url }}">查看老师全部评价></a>   
        </div>
    {{ /if }}
    {{ include file="common/component/pager.html" page=$comment_list.pager.page page_size=$comment_list.pager.page_size count=$comment_list.pager.count }}
{{ /if }}

{{ if count($course_comment) == 0 && count($related_comment) > 0 }}
    {{ if $tpl_data.comment_list.course_comment_count == 0 }}
        <div id="no-data">
            <i class="icon-info-circle"></i>
            {{ if $total > 0 && $face_type }}
                本课程暂无该类型评价
                {{ else }}
                    本课程暂无评价
            {{ /if }}
        </div>
    {{ /if }}
    <div class="related-title"><i class="ic-left"></i>相关课程评价<i class="ic-right"></i></div>
    <div class="list">

        {{ foreach $related_comment as $item }}
            <div class="item">
                <dl>
                    <dt>
                        {{ if $item.anonymous == 1 }}
                            {{ include file="common/component/avatar.html" type="small" img=$item.user_avatar }}
                        {{ else }}
                            <a href="/x/{{ $item.user_number }}" target="_blank">
                                {{ include file="common/component/avatar.html" type="small" img=$item.user_avatar }}
                            </a>
                        {{ /if }}
                    </dt>
                    <dd data-title="{{ $item.display_name }}">
                        {{ $item.display_name|cn_truncate: 4 }}
                    </dd>
                </dl>

                <div class="comment">

                    <div class="score-info">

                        {{ include file="common/component/starScore.html" score=$item.total_score fr=$item.fr }}

                    </div>

                    <div class="content">
                        {{ if isset($item.fr) && ($item.fr == 1 || $item.fr == 3) }}
                            未做出评价，系统默认评价！
                        {{ else }}
                            {{ $item.info|escape }}
                        {{ /if }}
                    </div>

                    {{ if !empty($item.photo_list) }}
                    <div class="comment-photo-box">
                        <ul class="comment-photo-list">
                            {{ foreach $item.photo_list as $val }}
                            <li class="photo-item" data-image="{{ $val.url }}" data-name="{{ $val.title }}" {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.width raw_height=$val.height width=400 height=300 }} data-horizontal="{{ $photo }}" data-hheight="{{ $fit_height }}"

                            {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.height raw_height=$val.width width=300 height=400 }} data-vertical="{{ $photo }}" data-vheight="{{ $fit_height }}"

                            >
                                {{ include file="common/variable/photo.html" url=$val.url raw_width=$val.width raw_height=$val.height width=80 height=60 }}
                                <img src="{{ $photo }}">
                            </li>
                            {{ /foreach }}
                        </ul>
                        <div class="comment-photo-player" style="display:none;">
                            <ul class="photo-action">
                                <li class="packup"><i class="photo-icon photo-packup"></i>收起</li>
                                <li class="sourse"><i class="photo-icon photo-sourse"></i>原图</li>
                                <li class="left"><i class="photo-icon photo-left"></i>向左转</li>
                                <li class="right"><i class="photo-icon photo-right"></i>向右转</li>
                            </ul>
                            <div class="photo-wrapper">
                            {{ *垂直居中* }}
                            {{ *margin-bottom:-{{ $fit_height/2 }}px;* }}
                                <div class="floater" style=""></div>
                                <img src="" class="rotate-img">
                            </div>
                            <div class="photo-name">
                            </div>
                        </div>
                    </div>
                    {{ /if }}

                    <div class="order-info">
                        {{ if isset($item.fr) && $item.fr == 2 }}
                        <span>邀请评价</span>
                        {{ else }}
                            <a href="{{ $item.course_url }}" target="_blank">
                                {{ $item.course_name|cn_truncate: 33 }}
                            </a>

                            <span>{{ $item.course.lesson_way_name }}</span>

                            <span>{{ $item.display_title }}</span>

                            <span>
                            老师：{{ $item.teacher_name }}
                            </span>
                        {{ /if }}

                        <span class="date">
                            {{ $item.create_time|date_format:"%Y-%m-%d" }}
                        </span>

                    </div>

                    {{ if isset($item.additional) && isset($item.additional.student) }}
                        <div class="add-comment-show">
                            ［追加评论］{{ $item.additional.student.info }}
                        </div>
                    {{ /if }}

                    {{ if isset($item.additional) && isset($item.additional.teacher) }}
                        <div class="comment-reply">
                            ［回复］{{ $item.additional.teacher.info }}
                        </div>
                    {{ /if }}

                </div>


            </div>
        {{ /foreach }}

    </div>
    {{ if $tpl_data.comment_list.is_last_page == true }}
        <div class="view-all">
            <a href="{{ $tpl_data.comment_list.view_all_url }}">查看老师全部评价></a>   
        </div>
    {{ /if }}
    {{ include file="common/component/pager.html" page=$comment_list.pager.page page_size=$comment_list.pager.page_size count=$comment_list.pager.count }}
{{ /if }}

{{ /strip }}