{{ *

@file 班课详情页 - 直播须知
@author niejianhui

* }}

{{ strip }}
<div id="course-liveinfo" class="card">

    <div class="title">直播须知</div>
    <ul>
        <li>1、请事先熟悉跟谁学直播课<a class="download" href="http://www.genshuixue.com/guide/student_layout?a=student&op=prepare" target="_blank">听课流程</a>，注意开课时间，建议直播前半小时进入课堂，等待课程直播</li>
        <li>2、建议首选联通、电信4M以上独享网络，上课时建议用网线非WIFI连接，避免直播卡顿，无法进入直播等情况</li>
        <li>3、使用电脑观看直播效果最为流畅，强烈推荐使用跟谁学直播助手，<a class="download" href="http://www.genshuixue.com/static/windows" target="_blank">点击下载</a></li>
        <li>4、跟谁学支持手机观看直播，手机操作系统为android-4.0以上，ios-6.0以上， <a class="download" href="http://www.genshuixue.com/static/app" target="_blank">点击下载</a></li>
        <li>5、报班学员请严格遵守课堂秩序，保证老师正常直播授课，如对直播课造成影响，跟谁学有权禁止发言或取消听课资格不予退费</li>
        <li>6、跟谁学直播课程视频仅供注册学员学习使用，未经跟谁学许可以拷贝、录屏、反向工程、技术下载等手段获取直播课程视频的行为构成侵权，跟谁学立即封号处理，并保留追究注册学员法律责任</li>
        <li>7、如有问题可通过电话4000-910-910，010-86448910（服务时间9：00-23：00），邮件service@genshuixue.com与跟谁学客服及时取得联系</li>

    </ul>

</div>
{{ /strip }}