{{ if $idkey }}
<a target="_blank" class="qq-group" href="http://shang.qq.com/wpa/qunwpa?idkey={{ $idkey }}">
    <span>一个人学习有点孤单，跟小伙伴们共同进步吧～</span>
    <button class="btn">
        立即加群
    </button>
</a>
{{ /if }}

<div class="client-wechat">
    <div class="the-title">
        及时收取到课提醒，随时随地学习
    </div>
    <ul>
        <li class="client">
            <div class="title">
                下载客户端
            </div>
            <div class="description">
                随时随地学习
            </div>
        </li>
        <li class="wechat">
            <div class="title">
                立即关注 
            </div>
            <div class="description">
                每日好课等你领
            </div>
        </li>
    </ul>
</div>