@import '../variable.styl'

.invite-result-dialog

    .icon
        float left
        font-size 50px

    .icon-check-circle
        color $brand-success

    .icon-times-circle
        color $brand-error

    .invite-countdown
        margin-top 10px

    .wrapper
        margin-left 65px