{{ *

@file 顶部导航 - 单个课程元素
@author zhangjiayi

* }}

{{ strip }}
<a class="course">

    {{ if $course.lesson.course_name_cut != $course.lesson.course_name }}
        {{ $text = ' data-title="'|cat: $course.lesson.course_name|cat: '"' }}
    {{ else }}
        {{ $text = '' }}
    {{ /if }}

    {{ if $course.user.name_cut != $course.user.name }}
        {{ $name = ' data-title="'|cat: $course.user.name|cat: '"' }}
    {{ else }}
        {{ $name = '' }}
    {{ /if }}


    <div class="course-content">
        <div>
            <span class="course-title"{{ $name }}>{{ $course.user.name_cut }}</span>
            <span class="course-name"{{ $text }}>{{ $course.lesson.course_name_cut }}</span>
            <span class="course-status">{{ $course.lesson.status_display }}</span>
        </div>
        <div>
            <span  class="course-date">
                {{ $course.lesson.start_time|date_format:"%G-%m-%d" }}
            </span>
            <span class="course-time">
                {{ $course.lesson.start_time|date_format:"%H:%M-" }}
                {{ $course.lesson.end_time|date_format:"%H:%M" }}
            </span>
            <span class="course-way">
                {{ include file="common/variable/lesson.html" scope=parent }}
                {{ $lessonMap[$course.lesson.lesson_way] }}
            </span>

        </div>
    </div>

    <div class="avatar">
        {{ include file="common/component/image.html" class="avatar-small" url=$course.user.avatar width=60 }}
    </div>

</a>
{{ /strip }}