.list-wrap {
    cursor: pointer;
    display: inline-block;
    width: 258px;
    height: 104px;
    padding: 15px 12px 15px 20px;
    background: #FFFFFF;
    box-shadow: 0 0 8px 0 #DDDDDE;
    border-radius: 2px;
    position: relative;

    .link-bg-img {
        position: absolute;
        width: 11px;
        height: 94px;
        top: 5px;
        left: 0;
    }

    .link-title {
        width: 226px;
        height: 36px;
        margin-bottom: 6px;
        font-size: 16px;
        color: #3D3D3E;
        line-height: 18px;
        text-align: left;
    }

    .link-time {
        margin-bottom: 6px;
        font-size: 12px;
        color: #9D9D9E;
        line-height: 12px;
        text-align: left;

        .lesson-count {
            border-left: 1px solid #DDDDDE;
            margin-left: 5px;
            padding-left: 5px;
        }

        .lesson-arrangement {
            max-width: 170px;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: top;
        }
    }

    .link-footer {
        overflow: hidden;

        .teacher {
            font-size: 12px;
            color: #9D9D9E;
            letter-spacing: 0;
            line-height: 14px;
        }

        .price {
            .origin-price {
                padding-right: 2px;
                font-size: 12px;
                color: #9D9D9E;
                line-height: 10px;
                text-decoration: line-through;
            }

            .now-price {
                font-size: 14px;
                color: #FF6C00;
                text-align: right;
                line-height: 12px;
            }
        }
    }
}

.list-wrap-link-modal {
    width: 400px;
    height: 88px;
    box-shadow: 0 0 0 0 #fff;
    padding: 15px 12px 15px 0px;
    border-bottom: 1px solid #F3F4F5;

    .link-title {
        height: 18px;
        overflow: hidden;
        width: 420px;
    }
}
