.go-writer {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
    .go-writer-btn {
        display: block;
        width: 230px;
        height: 38px;
        line-height: 38px;
        border-radius: 4px;
        font-size: 16px;
        color: #fff;
        background: #f90;
        text-align: center;
    }
}