.post-item {
    padding: 20px 0;
    border-top: solid 1px #eee;
    .clearfix();
    .post-num-wrapper {
        float: left;
        &.new-post {
            .post-comment-num {
                color: #2fb76f;
                border-color: #2fb76f;
                &:before {
                    border-top-color: #2fb76f;
                }
            }
        }

        &.good-post {
            .post-comment-num {
                color: #f90;
                border-color: #f90;
                &:before {
                    border-top-color: #f90;
                }
            }
        }

        .post-comment-num {
            position: relative;
            width: 44px;
            height: 28px;
            line-height: 28px;
            border: solid 1px #ccc;
            border-radius: 3px;
            color: #333;
            text-align: center;

            &:before {
                position: absolute;
                display: block;
                content: " ";
                z-index: 1;
                bottom: -8px;
                right: 12px;
                border-top: solid 8px #ccc;
                border-left: solid 6px transparent;
            }

            &:after {
                position: absolute;
                z-index: 2;
                display: block;
                content: " ";
                z-index: 1;
                bottom: -6px;
                right: 13px;
                border-top: solid 8px #fff;
                border-left: solid 5px transparent;
            }
        }
    }

    .post-content {
        margin-left: 54px;
        .post-header {
            margin-top: -4.5px;
            line-height: 32px;
            height: 32px;
            color: #333;
            font-size: 18px;
            font-weight: bold;
            .clearfix();

            .label-fine {
                display: none;
                margin-left: 5px;
                width: 18px;
                height: 18px;
                line-height: 18px;
                color: #fff;
                background: #f90;
                text-align: center;
                border-radius: 2px;
                font-size: 12px;
                vertical-align: text-bottom;
                font-family: '宋体';
                margin-bottom: 2px; 
            }
            .label-top {
                display: none;
                margin-left: 5px;
                width: 30px;
                height: 18px;
                line-height: 18px;
                color: #fff;
                background: #6187dc;
                text-align: center;
                border-radius: 2px;
                font-size: 12px;
                vertical-align: text-bottom;
                font-family: '宋体';
                margin-bottom: 2px;
            }

            .action-holder {
                margin-top: -4.5px;
                float: right;
                cursor: default;
                .baned {
                    color: #999;
                    cursor: default;
                }
            }

            .ellipsis {
                max-width: 440px;
                display: inline-block;
                vertical-align: bottom;
            }

            a {
                color: inherit;
                &:hover {
                    color: #f90;
                }
            }
        }

        .post-abstract {
            margin-bottom: 15px;
            .post-abstract-wrapper {
                height: 21px;

                .post-abstract-intro {
                    display: inline-block;
                    max-width: 500px;
                    line-height: 21px;
                    height: 21px;
                    max-width: 570px;
                    color: #666;
                    font-size: 13px;
                }
            }
            .post-img-list {
                margin-top: 8px;
                li {
                    margin-right: 10px;
                    display: inline-block;
                }
                a,
                img {
                    display: block;
                }
            }
        }

        .post-info {
            margin-top: 4px;
            line-height: 1;
            font-size: 12px;
            color: #999;
            overflow: hidden;
            span {
                margin-right: 10px;
            }

            .user-link {
                color: inherit;
                margin-right: 10px;
                &:hover {
                    color: #f90;
                }
            }

            .icon {
                margin-right: 4px;
                font-size: 14px;
            }

            .right {
                float: right;
            }
        }
    }
}