{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
    {{ $tpl_data.share.title }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/abroadSchool_503d775efa.css">
{{ /block }}

{{ block name="data" }}

{{ $need_im = false }}
{{ $smarty.block.parent }}

{{ $script_path = "activity/abroadSchool_ff67166043" }}

{{ $flotage_config.hidden = 1 }}
{{ $rave_config.hidden = 1 }}
{{ $nav_config.hidden = 1 }}
{{ $amd_more = [ 'common/main/component/header_40e06bdd81' ] }}

{{ $baidu_share_text = $tpl_data.share.share_text }}

{{ $baidu_share_image = $tpl_data.share.share_image }}

{{ /block }}


{{ block name="description" }}
     {{ $tpl_data.share.description }}
{{ /block }}

{{ block name="keywords"  }}

    {{ $smarty.block.parent }}
    {{ $tpl_data.share.keywords }}
{{ /block }}


{{ strip }}
{{ block name="body" }}

{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}
{{ include file="common/script.html" }}
<div id="main">

    <div class="side-nav">
        <div class="wrapper">
            <div class="container">
                <ul>
                    <li class="applay" >
                        <div class="content">分享活动</div>
                        <div id="share">{{ include file="common/component/baiduShare.html" }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <style>
        #main {
            background: {{ $tpl_data.page_backgroune|default:'#ffffff' }};
        }
        #main #layout {
            background: {{ $tpl_data.page_backgroune|default:'#ffffff' }} url("{{ $tpl_data.style.top_image|default:'http://img.gsxservice.com/0cms/d/file/content/2015/09/55f641b136e81.jpg' }}") 50% 0 no-repeat;
            height: {{ $tpl_data.style.top_height|default:'658px' }};
        }
        .school-info .tab-head {
            background: {{ $tpl_data.style.listbox_titbg|default:'#ffffff' }};
        }
        .school-info .tab-head .tab-nav {
            position: relative;
            background: {{ $tpl_data.style.listbox_nomarl|default:'#0d88c9' }};
            width: {{ (1060-2*(count($tpl_data.list_title)-1))/count($tpl_data.list_title) }}px;
        }
        .school-info .tab-head .triangle {
            display: none;
            width: 0;
            height: 0;
            position: relative;
            left: 50%;
            top: -14px;
            margin-left: -7px;
            border: 7px solid {{ $tpl_data.style.listbox_hover|default:'#41c2f2' }};
            border-bottom: 7px solid {{ $tpl_data.style.listbox_conbg|default:'#f6f6f6' }};
        }
        .school-info .tab-head .active .triangle {
            display: block;
        }
        .school-info .tab-head .tab-nav.active {
            background: {{ $tpl_data.style.listbox_hover }};
        }
        .school-info .tab-content {
            background: {{ $tpl_data.style.listbox_conbg|default:'#f6f6f6' }};
        }
        .school-info .list li:hover {
            border: 3px solid {{ $tpl_data.style.listbox_hover }};
            border-radius: 2px;
        }
        #main #last {
            background: {{ $tpl_data.style.page_bottom }}
        }
        #main .side-nav li.applay .content {
            border-radius: 20%;
            background: {{ $tpl_data.style.listbox_nomarl }};
        }
        #main .side-nav li.applay .content:hover {
            background: {{ $tpl_data.style.listbox_hover }};
        }
    </style>

    <div id="layout"></div>

    <div class="school-info">

        <div class="tab-head">
            {{ foreach $tpl_data.list_title as $title }}
            <b class="tab-nav {{ if $title@index == 0 }}active the-first{{ /if }}">
            {{ $title }}
                <div class="triangle"></div>
            </b>
            {{ /foreach }}
        </div>

        <div class="tab-content">
                {{ foreach $tpl_data.schoollist_datas as $subject }}
                <ul class="list" {{ if $subject@index == 0 }}style="display: block" {{ /if }}>
                    {{ foreach $subject as $sigle }}
                    <li {{ if ($sigle@index+1) % 2 == 0 }}class="last-li"{{ /if }}>

                        <a href="{{ $sigle.url }}" target="_blank">
                            <img src="{{ $sigle.avatar }}@1e_153w_153h_1c_0i_1o_90Q_1x.jpeg" alt="{{ $sigle.name }}" />
                        </a>
                        <div class="school-baseinfo">
                        <em>
                        <a href="{{ $sigle.url }}">{{ $sigle.name }}</a>
                        </em>
                        <div class="school-intro">{{ $sigle.intro }}</div>
                         <strong class="school-subject">{{ $sigle.subject }}</strong>

                        </div>
                        <div class="school-mask">
                            <a target="_blank" href="{{ $sigle.url }}"></a>
                        </div>
                    </li>
                    {{ /foreach }}
                </ul>
                {{ /foreach }}
        </div>

    </div>



    <div id="last">
        <p>
            Copyright © 2014 - 2017 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1
        </p>
    </div>

</div>
{{ /block }}
{{ /strip }}