{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $nav_config.active = '' }}
{{ $nav_config.hidden = 1 }}

{{ $baidu_share_text = "我刚刚参加了@跟谁学 的“招募全流程体验官”活动！报名即有机会获得500元学习体验基金，还有更多惊喜等着你！大家都来参加吧～" }}

{{ $baidu_share_image = "http://img.gsxservice.com/0home/%E6%B5%81%E7%A8%8B%E4%BD%93%E9%AA%8C%E5%AE%98banner.jpg" }}


{{ /block }}


{{ block name="title" }}
{{ $name }}- 活动中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/experience_eb9d38f446.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div id="main">


    {{ $tpl_data.content }}




</div>





{{ /strip }}
{{ /block }}