{{ *

@file 跟谁学2周年纪念
@author wth

* }}


{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $script_path = "activity/ceremony_f38d7df4da" }}

{{ $nav_config.active = '' }}
{{ $nav_config.hidden = 1 }}
{{ $footer_config.hidden = 1 }}

{{ /block }}


{{ block name="title" }}
2周年纪念-跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/ceremony_de54501793.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div class="main">
    <div class="banner">
    </div>
    <div class="container">
        <div class="subPresent">
            跟谁学于2014年6月16日由陈向东带领创建，是目前全球最大的找好老师、好课程、好机构的App。在教育O2O赛道上遥遥领先的跟谁学，正在打造更富活力、更加健康的教育生态圈。目前推出的产品还有天校、百加宝、商学院等，全面助力优秀教师和中小培训机构的发展。
        </div>
        <div class="Sleuth">
            <div class="title">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b11c948.jpg">
            </div>
            <div class="content">
                <div class="banner-wrapper">
                    <div class="promotion-slider-container" data-click="banner-study">
                        <ul class="promotion-slider">
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99743e65f.jpg@1e_688w_353h_1c_0i_1o_90Q_1x.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f997519938.jpg@1e_688w_353h_1c_0i_1o_90Q_1x.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f9976a237b.jpg@1e_688w_353h_1c_0i_1o_90Q_1x.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f997931d9b.jpg@1e_688w_353h_1c_0i_1o_90Q_1x.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f997b14572.jpg@1e_688w_353h_1c_0i_1o_90Q_1x.jpg">
                                </a>
                            </li>
                            <li class="promotion-slider-item" >
                                <a target="_blank">
                                    <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f997d4a39d.jpg@1e_688w_353h_1c_0i_1o_90Q_1x.jpg">
                                </a>
                            </li>
                        </ul>

                        <ul class="promotion-slider-nav">
                            <li>
                                <span class="navitem" >1</span>
                            </li>
                            <li>
                                <span class="navitem" >2</span>
                            </li>
                            <li>
                                <span class="navitem" >3</span>
                            </li>
                            <li>
                                <span class="navitem" >4</span>
                            </li>
                            <li>
                                <span class="navitem" >5</span>
                            </li>
                            <li>
                                <span class="navitem" >6</span>
                            </li>
                        </ul>

                        <a href="javascript:;" class="promotion-slider-left" title="上一个">
                            <i class="icon icon-chevron-left"></i>
                        </a>
                        <a href="javascript:;" class="promotion-slider-right" title="下一张">
                            <i class="icon icon-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="banner-introduce">
                    <div class="intro-title">
                        我们都会很好的，如同我们当初出发时那样
                    </div>
                    <div class="intro-subtitle">
                        跟谁学创始人兼CEO陈向东
                    </div>
                    <div class="intro-content">
                        因为相信，因为有勇气，所以我们选择了出发。我们出发的时候怀着美好以及对美好的向往，我们走在了希望有更多美好的道路上。我们都会很好的，如同我们当初出发时那样。让我们勇于出发，再次出发。
                    </div>
                    <div class="intro-more">
                        <a target="_blank" href="http://news.genshuixue.com/16061353547.html?article_from=616">点击查看全文</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Sleuth">
            <div class="title">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b13c185.jpg">
            </div>
            <div class="content">
                <div class="gsx-introduce">
                    <div class="gsx-title">
                        图解跟谁学
                    </div>
                    <div class="gsx-content">
                        跟谁学致力于打造人人乐用的学习服务平台，覆盖全品类、全地域、全人群，高效、智能、精准地帮助学生和家长连接老师和机构。依托于强大的技术力量和技术积累，以及对于教育行业的深刻洞察，跟谁学的小伙伴正在用心研发更多、更好的产品。在教育O2O赛道上遥遥领先的跟谁学，正向布局教育生态大步迈进。
                    </div>
                    <div class="gsx-more">
                        <a target="_blank" href="http://news.genshuixue.com/16061353555.html?article_from=616">点击查看全文</a>
                    </div>
                </div>
                <img class="gsx-pic" src="http://img.gsxservice.com/0cms/d/file/content/2016/06/57612580c965e.jpg@1e_688w_353h_1c_0i_1o_90Q_1x.jpg">
            </div>
        </div>
        <div class="Sleuth">
            <div class="title">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b16e1fd.jpg">
            </div>
            <div class="content">
                <ul class="gex-logos">
                    <li>
                        <a target="_blank" href="http://news.genshuixue.com/16060765019.html">
                            <img class="specialone" src="http://img.gsxservice.com/0cms/d/file/content/2016/06/57612b37f0b02.jpg@1e_150w_150h_1c_0i_1o_90Q_1x.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://news.genshuixue.com/16060789587.html">
                            <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99a09e73b.jpg@1e_150w_150h_1c_0i_1o_90Q_1x.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://news.genshuixue.com/16060797763.html">
                            <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99a0cf830.jpg@1e_150w_150h_1c_0i_1o_90Q_1x.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://news.genshuixue.com/16060789579.html">
                            <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99a10bd17.jpg@1e_150w_150h_1c_0i_1o_90Q_1x.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://news.genshuixue.com/16060789595.html">
                            <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99a14c58a.jpg@1e_150w_150h_1c_0i_1o_90Q_1x.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://news.genshuixue.com/16060797779.html">
                            <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99a18d0aa.jpg@1e_160w_150h_1c_0i_1o_90Q_1x.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://news.genshuixue.com/16060797771.html">
                            <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99a1c0ae0.jpg@1e_150w_150h_1c_0i_1o_90Q_1x.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://news.genshuixue.com/16060797787.html">
                            <img class="special" src="http://img.gsxservice.com/0cms/d/file/content/2016/06/57612b3798ced.jpg@1e_150w_150h_1c_0i_1o_90Q_1x.jpg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Sleuth">
            <div class="title">
                <img src="{{ $static_origin }}/asset/img/activity/ceremony/title4_97d94e69ab.jpg">
            </div>
            <div class="content brand-praise">
                <ul class="gsx-news">
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://news.genshuixue.com/16060797643.html">
                            央视︱《经济半小时》跟谁学，像淘宝一样“淘”学
                        </a>
                    </li>
                    <li>
                        <span class="new-icon lip">视频</span>
                        <a target="_blank" class="new-item" href="http://news.genshuixue.com/16060756819.html">
                            央视网︱《创业者说》 有好机会一定要果敢行动
                        </a>
                    </li>
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://news.genshuixue.com/16061289455.html">
                            中国新闻网︱在线教师回应“收入超网红”，能力够时薪上万很正常
                        </a>
                    </li>
                    <li>
                        <a target="_blank" class="new-item" href="http://news.genshuixue.com/16060756827.html">
                            《中外管理》︱被追随者陈向东
                        </a>
                    </li>
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://news.genshuixue.com/16061289463.html">
                            中国新闻网︱在线教育，传统教育的有益补充还是搅局者？
                        </a>
                    </li>
                    <li>
                        <a target="_blank" class="new-item" href="http://news.genshuixue.com/16060756811.html">
                            《中国青年报》︱网络教师年薪200万 常态还是炒作
                        </a>
                    </li>
                    <li>
                        <span class="new-icon">视频</span>
                        <a target="_blank" class="new-item" href="http://news.genshuixue.com/16061353563.html?article_from=616">
                            香港有线电视台︱专题报道：网上教育解决城乡教育资源不均
                        </a>
                    </li>
                    <li>
                        <a target="_blank" class="new-item lip" href="http://news.genshuixue.com/16060797651.html">
                            搜狐网︱陈向东：创业，赌的就是晴天
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Sleuth">
            <div class="title">
                <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b1f3659.jpg">
            </div>
            <div class="content buttom">
                <div class="commonweal">
                    <a target="_blank" href="http://news.genshuixue.com/16060956871.html">
                        <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99723735c.jpg">
                    </a>
                    <div class="content-right">
                        <a target="_blank" class="weal-item first" href="http://news.genshuixue.com/16060956871.html">
                            跟谁学名师爱心开讲，助力“做最好的希望小学”
                        </a>
                        <p class="small">
                            2016年5月3日，“跟谁学名师爱心开讲”活动再次走进北京京顺希望学校。跟谁学创始人陈向东携跟谁学名师郭艾琳、陈斌、毛文慧、郭琪、淮路雅，代表跟谁学平台给京顺希望学校的300个孩子送去了彩笔、纸张和书。捐赠仪式结束后，跟谁学的老师们分别在5个班级里给孩子们上了一堂快乐的图画课。
                        </p>
                    </div>
                    <div class="content-bottom">
                        <a target="_blank" class="weal-item" href="http://news.genshuixue.com/16060956887.html">
                            月明中秋，跟谁学把温暖送到民工子女心里
                        </a><br/>
                        <a target="_blank" class="weal-item" href="http://news.genshuixue.com/16060864815.html">
                            这般视为亲人一样的称呼，收紧了我未曾平复的心
                        </a>
                    </div>
                </div>
                <ul class="qrcodes">
                    <li>
                        <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b083ffb.png">
                        下载跟谁学App
                    </li>
                    <li>
                        <img src="http://img.gsxservice.com/0cms/d/file/content/2016/06/575f99b0b00ef.png">
                        关注微信公众号
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot-icon">
            Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有.<br />  京公网安备11010802015210号 | 京ICP备14027590号-1
        </div>
    </div>
</div>

{{ /strip }}
{{ /block }}