{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
跟谁学6.16学习狂欢节，只等你来！
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/countDown_e765421007.css">
{{ /block }}

{{ block name="data" }}

{{ $need_im = false }}
{{ $smarty.block.parent }}

{{ $script_path = "activity/countDown_826390b05f" }}

    {{ if isset($smarty.get.target) }}
        {{ $target = $smarty.get.target }}
    {{ else }}
        {{ $target = '2015-06-16' }}
    {{ /if }}

    {{ if strtotime($target) - $smarty.now > 0 }}
    {{ $script_data.serverTime = strtotime($target) - $smarty.now }}
    {{ else }}
    {{ $script_data.serverTime = 0 }}
    {{ /if }}

{{ $flotage_config.hidden = 1 }}
{{ $rave_config.hidden = 1 }}
{{ $nav_config.hidden = 1 }}
{{ $amd_more = [ 'common/main/component/header_40e06bdd81' ] }}


{{ $baidu_share_text = "16万课程，15万名师，疯狂助学1.6亿！与坦诚和惊喜不期而遇，就是这里！" }}

{{ $baidu_share_image = "http://img.gsxservice.com/0cms/d/file/content/2015/05/555d57ec20a93.jpg" }}

{{ /block }}


{{ block name="description" }}
    16万课程，15万名师，疯狂助学1.6亿！与坦诚和惊喜不期而遇，就是这里！
{{ /block }}

{{ strip }}
{{ block name="body" }}

{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}
{{ include file="common/script.html" }}



<div id="main">

    <div class="side-nav fixed">
        <div class="wrapper">
            <div class="container">
                <ul>
                    <li class="owe">
                        <a href="/activity/carnivalPinxuan">
                            <div class="mask"></div>
                            <div class="content">
                                1周年<br/>
                                感恩有你！
                            </div>

                        </a>
                    </li>
                    <li class="applay" >
                        <div class="mask"></div>
                        <div class="content">
                            <i class="icon icon-share"></i>
                            我要分享
                        </div>
                        <div id="share">
                {{ include file="common/component/baiduShare.html" }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="layout"></div>

    <div class="video">
        <div data-intro="" data-name="" data-video="http://www.genshuixue.com/video/view/7ef989c698" class="video-thumbnail">
            <img src="http://img.gsxservice.com/0cms/d/file/content/2015/06/556e69d2567fa.jpg">
            <div class="icon play-icon"></div>
        </div>
        <iframe id="iframe" frameborder="no" border="0" style="width:792px;height:392px;border:0; display: none;" src="">
        </iframe>
    </div>


    <!--[if lt IE 9]>
    <style>

            .timer-panel .timer-item .half-mask {
                background: #fff;
                filter: alpha(opacity=20);
            }
            .timer-panel {
                top: 86px;
            }
            .timer-panel .timer-item .number {
                //height: 103.6px;
            }
            .timer-panel .timer .time-unit {
                //bottom: -46px;
            }
            .timer-panel .timer-item .number {
                height: 116.6px;
            }
            .timer-panel .timer-item .timer-count {
                 line-height: 120.75px;
            }

    </style>
    <![endif]-->

    <div class="time">

        {{ if strtotime('2015-05-16') - $smarty.now > 86400 }}
            {{ $class = 'day-panel' }}
        {{ else }}
            {{ $class = 'hour-panel' }}
        {{ /if }}
        <div class="timer-viewport">
            <div class="timer-panel {{ $class }}">

            </div>
        </div>


        <div class="action">
            <img src="http://img.gsxservice.com/0cms/d/file/content/2015/05/55658dd27a9e0.jpg" alt="狂欢" />

            <a href="/activity/carnivalPinxuan" class="genshuixue" ></a>
            <a href="/activity/birthday_act_yhq" class="coupon" ></a>

        </div>

    </div>

    <div id="last">
        <p>Copyright © 2014 - 2017 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1</p>
    </div>



</div>

{{ /block }}
{{ /strip }}

