{{ extends file="common/main/base.html" }}

{{ block name="title" }}
1元托管5天起 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/oneYuan_0ed781eb2a.css">
{{ /block }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

{{ /block }}


{{ block name="body" }}
{{ strip }}

{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}

{{ include file="common/script.html" }}

<div id="main">
    <div class="layout">
    </div>
    <div class="head">
        <div class="picture">
        </div>
        <div class="title">
            <h4>快来寻找您家门口的托管乐园吧！</h4>
            <h5>活动时间</h5>
            <p>2015年1月15日 —— 2015年2月28日</p>
            <h5>参与方式</h5>
            <p>1. 在下方寻找您家附近的托管点，进图页面，找到<em>"一元托管"</em>班课进行报名；</p>
            <p>2. 下载跟谁学app，搜索<em>"一元托管"</em>，寻找您家附近的托管点进行报名。</p>
        </div>
    </div>
    <div class="place" id="wuchang">
        <hr>
        <span>推荐机构·<em>武昌</em></span>
        <div class="box">
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/371777449')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/1_c4c782c474.png" />
                <p>厚德英语</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/371759619')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/2_889092bd02.jpg" />
                <p>金孔尚学</p>
            </div>
            <div class="org" onclick="window.open('http://lizhi520.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/3_7940f82f1a.png" />
                <p>莉智教育</p>
            </div>
            <div class="org" onclick="window.open('http://depushedu.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/4_5fd29f4508.jpg" />
                <p>德普施</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/371758569')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/5_81bed9b801.jpg" />
                <p>琬尔登</p>
            </div>
            <div class="org" onclick="window.open('http://rongxianjiaoyu.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/6_29c0ddb776.png" />
                <p>融贤教育</p>
            </div>
            <div class="org" onclick="window.open('http://yanpei.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/7_cfc388817e.jpg" />
                <p>炎培教育</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/329566729')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/8_03f2d7ed72.png" />
                <p>思而学</p>
            </div>
        </div>
        <div class="box">
            <div class="org" onclick="window.open('http://wecanbasketball.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/9_a55ecc5cc2.png" />
                <p>威肯国际篮球</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/371757049')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/10_c04bbcc09d.jpg" />
                <p>好学教育</p>
            </div>
            <div class="org" onclick="window.open('http://qsgw000.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/11_24f372d1f0.jpg" />
                <p>轻松国文</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/329836889')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/12_012fa59781.jpg" />
                <p>快乐学堂</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/373642339')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/13_9390561ca8.png" />
                <p>金鹰艺校</p>
            </div>
            <div class="org" onclick="window.open('http://jinghanjiaoyu.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/14_114a6b2b44.jpg" />
                <p>京翰-全市</p>
            </div>
            <div class="org" onclick="window.open('http://mingshibang.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/15_6a27f25e13.jpg" />
                <p>名师邦-武昌</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/329649139')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/16_77a50a4390.jpg" />
                <p>星星索</p>
            </div>
        </div>
        <div class="box">
            <div class="org" onclick="window.open('http://angliguojijiaoyu.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/17_00c4049194.jpg" />
                <p>昂立-徐东</p>
            </div>
            <div class="org" onclick="window.open('http://329673449.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/18_b5908ed641.jpg" />
                <p>武体网球</p>
            </div>
            <div class="org" onclick="window.open('http://kuaixuejiaoyu.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/19_12f5f1cacb.jpg" />
                <p>快学-武昌</p>
            </div>
            <div class="org" onclick="window.open('http://aaaaaa.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/20_5aa5970013.jpg" />
                <p>圣典-武昌</p>
            </div>
            <div class="org" onclick="window.open('http://yufengxuanwh.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/logo_7d473ab9e0.jpg" />
                <p>御风轩文化</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/332373779')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/logo_7d473ab9e0.jpg" />
                <p>博雅教育</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/373641049')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/logo_7d473ab9e0.jpg" />
                <p>秋实培训学校</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/370959769')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/logo_7d473ab9e0.jpg" />
                <p>吕老师数学</p>
            </div>
        </div>
        <div class="box">
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/329157699')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/logo_7d473ab9e0.jpg" />
                <p>假日凉台</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/371593459')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/logo_7d473ab9e0.jpg" />
                <p>安新特教育</p>
            </div>
            <div class="org" onclick="window.open('http://kendingjiaoyu.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/logo_7d473ab9e0.jpg" />
                <p>垦丁教育</p>
            </div>
            <div class="org" onclick="window.open('http://xueguangyi.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/wuchang/logo_7d473ab9e0.jpg" />
                <p>学广益</p>
            </div>
        </div>
    </div>
    <div class="place" id="hankou">
        <hr>
        <span>推荐机构·<em>汉口</em></span>
                <div class="box">
            <div class="org" onclick="window.open('http://51erduo.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/1_104fdb84ef.jpg" />
                <p>耳朵-江岸</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/371759619')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/2_889092bd02.jpg" />
                <p>金孔尚学</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/328994979')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/3_63f05b258f.jpg" />
                <p>三优</p>
            </div>
            <div class="org" onclick="window.open('http://yangguangyuanbo.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/4_2b552564f9.jpg" />
                <p>远博教育-江汉</p>
            </div>
            <div class="org" onclick="window.open('http://panshixueyuan.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/5_8e70c93fea.jpg" />
                <p>磐石学苑-江岸</p>
            </div>
            <div class="org" onclick="window.open('http://jinghanjiaoyu.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/6_114a6b2b44.jpg" />
                <p>京翰-全市</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/329651449​')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/7_82ac4b44e1.png">
                <p>鼎英教育</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/371757049')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/10_c04bbcc09d.jpg">
                <p>好学教育</p>
            </div>
        </div>
        <div class="box">
            <div class="org" onclick="window.open('http://qsgw000.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/11_24f372d1f0.jpg" />
                <p>轻松国文</p>
            </div>
            <div class="org" onclick="window.open('http://zuowen.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/15_e04dcd7478.jpg" />
                <p>会贤堂</p>
            </div>
            <div class="org" onclick="window.open('http://yufengxuanwh.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/logo_7d473ab9e0.jpg" />
                <p>御风轩文化</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/371615209')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/logo_7d473ab9e0.jpg" />
                <p>万雨萌教育</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/373641049')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/logo_7d473ab9e0.jpg" />
                <p>秋实培训学校</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/329816579')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hankou/logo_7d473ab9e0.jpg" />
                <p>明远博睿</p>
            </div>
        </div>
    </div>
    <div class="place" id="hanyang">
        <hr>
        <span>推荐机构·<em>汉阳</em></span>
        <div class="box">
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/374134009')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hanyang/1_e149b2785d.jpg" />
                <p>媛舞曲</p>
            </div>
            <div class="org" onclick="window.open('http://jinghanjiaoyu.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hanyang/2_114a6b2b44.jpg" />
                <p>京翰-全市</p>
            </div>
            <div class="org" onclick="window.open('http://yc184998980.genshuixue.com/')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hanyang/8_8d13362c92.jpg" />
                <p>奕采舞蹈</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/329160019')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hanyang/13_529ad5d71e.jpg" />
                <p>明阳教育</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/370937859')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hanyang/14_0bea13ffc6.jpg" />
                <p>德如玉</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/332352089')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hanyang/logo_7d473ab9e0.jpg" />
                <p>经天阁美术</p>
            </div>
            <div class="org" onclick="window.open('http://www.genshuixue.com/i/370958169')">
                <img src="{{ $static_origin }}/asset/img/activity/center/oneYuan/hanyang/logo_7d473ab9e0.jpg" />
                <p>启智源</p>
            </div>
        </div>
    </div>
</div>



{{ include file="common/footer.html" }}

{{ /strip }}
{{ /block }}