{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $script_path = "activity/paper_5a67ea4979" }}

{{ $nav_config.active = '' }}
{{ $nav_config.hidden = 1 }}

{{ $baidu_share_text = "拍试卷了，@跟谁学 顶级名师点评，助你提分（附语音哦）！" }}

{{ $baidu_share_image = "{{ $static_origin }}/asset/img/activity/paper/share.jpg" }}


{{ /block }}


{{ block name="title" }}
拍试卷- 活动中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/paper_8fc37ebcd0.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div id="main">

    {{ if isset($smarty.get.compaign_id) }}

    {{ $compaign_id = $smarty.get.compaign_id }}

    {{ else }}

    {{ $compaign_id = pc001 }}

    {{ /if }}

    {{ if isset($user_data.user_name) }}
    {{ $has_login = 1 }}
    {{ else }}
    {{ $has_login = 0 }}
    {{ /if }}

    {{ if isset($smarty.get.su) }}
    {{ $su = $smarty.get.su }}
    {{ else }}
    {{ $su = 0 }}
    {{ /if }}



    {{ include file="./common/paperd.html" }}

    <div id="paper">
        <div class="head"></div>
        <ul>
            <li>
                <a target="_blank" href="http://www.genshuixue.com/t/qq848668802">
                    <img width="213" height="212" src="{{ $static_origin }}/asset/img/activity/paper/avtar-4_626928c43b.png">
                    <div class="floor-teacher-baseinfo">
                        <em>
                            高考数学理科状元
                        </em>
                        <strong class="floor-teacher-subject">中学数学</strong>
                        <span class="floor-teacher-age">15年教龄，北京中高考数学命题研究学者。北京学员中已有16人考上清华北大等名校。</span>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.genshuixue.com/t/yingyuzixing">
                    <img width="213" height="212" src="{{ $static_origin }}/asset/img/activity/paper/avtar-3_5f81830d9b.png">

                    <div class="floor-teacher-baseinfo">
                        <em>
                            高考英语阅卷人
                        </em>
                        <strong class="floor-teacher-subject">中学英语</strong>
                        <span class="floor-teacher-age">10年教龄，多次参与高考阅卷，把握命题方向，对于历年高考真题和模拟题烂熟于心。</span>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.genshuixue.com/t/lcm1688">
                    <img width="213" height="212" src="{{ $static_origin }}/asset/img/activity/paper/avtar-2_327fb4c15a.png">

                    <div class="floor-teacher-baseinfo">
                        <em>
                            北京中高考物理研究者
                        </em>
                        <strong class="floor-teacher-subject">中学物理</strong>
                        <span class="floor-teacher-age">10年教龄，北京市优秀教师，高三毕业班一本上线率80%。</span>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.genshuixue.com/t/Ahuaxueding">
                    <img width="213" height="212" src="{{ $static_origin }}/asset/img/activity/paper/avtar-1_52a3719e66.png">

                    <div class="floor-teacher-baseinfo">
                        <em>
                            北京中高考化学研究者
                        </em>
                        <strong class="floor-teacher-subject">中学化学</strong>
                        <span class="floor-teacher-age">9年教龄，专注于化学提分。擅长有机化学推理题。</span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="star-teacher">
            <div class="tab-head">
                <b class="tab-nav active">数学</b><em>|</em>
                <b class="tab-nav">物理</b> <em>|</em>
                <b class="tab-nav">化学</b><em>|</em>
                <b class="tab-nav">英语</b>
            </div>


            <div class="tab-content">
                <div style="display: block;" class="tab-panel">
                    <div class="last-join">
                        <ul class="last-join-wrapper" style="width:{{ 222 * ($tpl_data.math|count) - 10 }}px">
                            {{ foreach $tpl_data.math as $teacher }}
                            <li {{ if $teacher@last }} class="last" {{ /if }} >
                                <a href="http://www.genshuixue.com/t/{{ $teacher.number }}" target="_blank">
                                    <div class="img-wrapper">
                                        {{ include file="common/component/image.html" url={{ $teacher.photo_url }} width="80" height="80" }}
                                    </div>
                                    <div class="baseinfo-wrapper">
                                        <div class="baseinfo">
                                            <h4>{{ $teacher.name }}</h4>
                                            <p class="course">{{ $teacher.subject }}</p>
                                            <p class="school-age">
                                                {{ if $teacher.school_age == "-1" }}
                                                30年以上教龄
                                                {{ else }}
                                                {{ $teacher.school_age }}年教龄
                                                {{ /if }}
                                            </p>
                                            <p class="area"><i class="icon icon-location"></i>{{ $teacher.area }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {{ /foreach }}
                        </ul>
                    </div>
                    <div class="scroll-track" style="display: block"></div>
                </div>
                <div class="tab-panel">

                    <div class="last-join">
                        <ul class="last-join-wrapper" style="width:{{ 222 * ($tpl_data.physics|count) - 10 }}px">
                            {{ foreach $tpl_data.physics as $teacher }}
                            <li {{ if $teacher@last }} class="last" {{ /if }} >
                                <a href="http://www.genshuixue.com/t/{{ $teacher.number }}" target="_blank">
                                    <div class="img-wrapper">
                                        {{ include file="common/component/image.html" url={{ $teacher.photo_url }} width="80" height="80" }}
                                    </div>
                                    <div class="baseinfo-wrapper">
                                        <div class="baseinfo">
                                            <h4>{{ $teacher.name }}</h4>
                                            <p class="course">{{ $teacher.subject }}</p>
                                            <p class="school-age">
                                                {{ if $teacher.school_age == "-1" }}
                                                30年以上教龄
                                                {{ else }}
                                                {{ $teacher.school_age }}年教龄
                                                {{ /if }}
                                            </p>
                                            <p class="area"><i class="icon icon-location"></i>{{ $teacher.area }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {{ /foreach }}
                        </ul>
                    </div>
                    <div class="scroll-track" style="display: block"></div>
                </div> 
                <div class="tab-panel">

                    <div class="last-join">
                        <ul class="last-join-wrapper" style="width:{{ 222 * ($tpl_data.chemistry|count) - 10 }}px">
                            {{ foreach $tpl_data.chemistry as $teacher }}
                            <li {{ if $teacher@last }} class="last" {{ /if }} >
                                <a href="http://www.genshuixue.com/t/{{ $teacher.number }}" target="_blank">
                                    <div class="img-wrapper">
                                        {{ include file="common/component/image.html" url={{ $teacher.photo_url }} width="80" height="80" }}
                                    </div>
                                    <div class="baseinfo-wrapper">
                                        <div class="baseinfo">
                                            <h4>{{ $teacher.name }}</h4>
                                            <p class="course">{{ $teacher.subject }}</p>
                                            <p class="school-age">
                                                {{ if $teacher.school_age == "-1" }}
                                                30年以上教龄
                                                {{ else }}
                                                {{ $teacher.school_age }}年教龄
                                                {{ /if }}
                                            </p>
                                            <p class="area"><i class="icon icon-location"></i>{{ $teacher.area }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {{ /foreach }}
                        </ul>
                    </div>
                    <div class="scroll-track" style="display: block"></div>
                </div>
                <div class="tab-panel">

                    <div class="last-join">
                        <ul class="last-join-wrapper" style="width:{{ 222 * ($tpl_data.english|count) - 10 }}px">
                            {{ foreach $tpl_data.english as $teacher }}
                            <li {{ if $teacher@last }} class="last" {{ /if }} >
                                <a href="http://www.genshuixue.com/t/{{ $teacher.number }}" target="_blank">
                                    <div class="img-wrapper">
                                        {{ include file="common/component/image.html" url={{ $teacher.photo_url }} width="80" height="80" }}
                                    </div>
                                    <div class="baseinfo-wrapper">
                                        <div class="baseinfo">
                                            <h4>{{ $teacher.name }}</h4>
                                            <p class="course">{{ $teacher.subject }}</p>
                                            <p class="school-age">
                                                {{ if $teacher.school_age == "-1" }}
                                                30年以上教龄
                                                {{ else }}
                                                {{ $teacher.school_age }}年教龄
                                                {{ /if }}
                                            </p>
                                            <p class="area"><i class="icon icon-location"></i>{{ $teacher.area }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {{ /foreach }}
                        </ul>
                    </div>
                    <div class="scroll-track" style="display: block"></div>
                </div>

            </div>
        </div>
    </div>


    <div id="bottom">
        <div class="content">
            <div class="item-1">
                <img src="{{ $static_origin }}/asset/img/activity/paper/step1_2b67f5a545.png" alt="step1" />
            </div>
            <div class="item-2">
                <img src="{{ $static_origin }}/asset/img/activity/paper/step2_c4206e2574.png" alt="step2" />
            </div>
<!--            <div class="item-3">
                <img src="{{ $static_origin }}/src/img/activity/paper/step3.png" alt="step3" />
            </div>-->
            <div class="item-4">
                <img src="{{ $static_origin }}/asset/img/activity/paper/step4_e69e548f06.png" alt="step4" />
                <a href="http://www.genshuixue.com/activity/share" class="prize" target="_blank"></a>
            </div>



        </div>

        <div class="foot">
            <!--<button class="share"></button>-->
            <div class="share">
                {{ include file="common/component/baiduShare.html" }}

            </div>
            <!--<div class="share-wrapper">-->
            <!--{{ include file="common/component/baiduShare.html" }}-->
            <!--</div>-->
        </div>

        <p class="foot-2"></p>
    </div>








</div>





{{ /strip }}
{{ /block }}