{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $script_path = "activity/seckill_2cc4774390" }}

{{ $nav_config.active = '' }}
{{ $nav_config.hidden = 1 }}

{{ $baidu_share_text = "我刚刚参加了@跟谁学 的“招募全流程体验官”活动！报名即有机会获得500元学习体验基金，还有更多惊喜等着你！大家都来参加吧～" }}

{{ $baidu_share_image = "http://img.gsxservice.com/0home/%E6%B5%81%E7%A8%8B%E4%BD%93%E9%AA%8C%E5%AE%98banner.jpg" }}

{{ /block }}

{{ block name="title" }}
限时疯抢- 活动中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/seckill_629e59fef5.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}


{{ if isset($smarty.get.compaign_id) }}

{{ $compaign_id = $smarty.get.compaign_id }}

{{ else }}

{{ $compaign_id = pc001 }}

{{ /if }}

{{ if isset($user_data.user_name) }}
{{ $has_login = 1 }}
{{ else }}
{{ $has_login = 0 }}
{{ /if }}

{{ if isset($smarty.get.su) }}
{{ $su = $smarty.get.su }}
{{ else }}
{{ $su = 0 }}
{{ /if }}

<!--   {{ strftime('%Y') }}<br/>
   {{ strftime('%m') }}<br/>
   {{ strftime('%d') }}<br/>
   {{ strftime('%H') }}<br/>
   {{ strftime('%M') }}<br/>
   {{ strftime('%S') }}<br/>-->

{{ $ts }}<br/>
{{ $smarty.now }}


<div id="main">
    <div id="seckill">

        <div class="bottom">

            <button id="apply" class="" data-su="{{ $su }}" data-compaign="{{ $compaign_id }}" data-login="{{ $has_login }}">
            </button>

            {{ include file="common/component/baiduShare.html" }}

        </div>

    </div>
</div>



<script>
    console.log('sss');

</script>




{{ /strip }}
{{ /block }}