{{ *

@file 风云老师大赛 2016 - 获奖榜单
@author wangyujie

* }}
{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}
    {{ $nav_config.hidden = 1 }}
    {{ $flotage_config.hidden = true }}

    {{ * 不需要底部 * }}
    {{ $footer_config.hidden = true }}

{{ /block }}

{{ block name = "title" }}
    跟谁学杯互联网风云老师视频大赛奖项揭晓！
{{ /block }}

{{ block name="description" }}
    谁将荣获互联网风云老师？谁将入选年度十大人气老师？各项单项奖花落谁家？现在！揭晓！
{{ /block }}

{{ block name="keywords" }}
    跟谁学杯互联网风云老师视频大赛奖项揭晓！
{{ /block }}

{{ block name = "style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/superTeacherRank_7a52cdb52e.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}
<div class="main">

    <div class="banner"></div>

    <div class="rank-first">
        <div class="section">
            <div class="section-title"></div>
            <div class="section-content">
                <a class="teacher-avatar" href="/activity/superTeacherPersonal?number={{ $tpl_data.first.number }}#intro" target="_blank"></a>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <a href="/activity/superTeacherPersonal?number={{ $tpl_data.first.number }}#intro" target="_blank">
                            {{ $tpl_data.first.teacher_name }}
                        </a>
                    </div>
                    <div class="pv-count">
                        <span>浏览量{{ $tpl_data.first.pv }}</span>
                        &nbsp;|&nbsp;
                        <span>学生数{{ $tpl_data.first.student_count }}</span>
                    </div>
                    <div class="comment">
                        <p>获奖评语：</p>
                        <p>{{ $tpl_data.first.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rank-ten">
        <div class="section-title">
            <div class="cup"></div>
            <div class="awards">
                2016年度十大人气老师
            </div>
        </div>
        <ul class="section-content">
            {{ foreach $tpl_data.ten as $item }}
            <li>
                <a class="teacher-avatar" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ include file="common/component/image.html" url=$item.avatar width=200 height=200 }}
                </a>
                <a class="teacher-name" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ $item.teacher_name|cn_truncate: 10 }}
                </a>
                <div class="pv">
                    浏览量{{ $item.pv }}
                </div>
                <div class="student-count">
                    学生数{{ $item.student_count }}
                </div>
            </li>
            {{ /foreach }}
        </ul>
    </div>

    <div class="rank-course">
        <div class="section-title">
            <div class="cup"></div>
            <div class="awards">
                最佳创意课堂奖
            </div>
        </div>
        <ul class="section-content">
            {{ foreach $tpl_data.course as $item }}
            <li>
                <a class="teacher-avatar" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ include file="common/component/image.html" url=$item.avatar width=200 height=200 }}
                </a>
                <a class="teacher-name" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ $item.teacher_name|cn_truncate: 10 }}
                </a>
                <div class="pv">
                    浏览量{{ $item.pv }}
                </div>
                <div class="student-count">
                    学生数{{ $item.student_count }}
                </div>
            </li>
            {{ /foreach }}
        </ul>
    </div>

    <div class="rank-teach">
        <div class="section-title">
            <div class="cup"></div>
            <div class="awards">
                最佳教学方法奖
            </div>
        </div>
        <ul class="section-content">
            {{ foreach $tpl_data.teach as $item }}
            <li>
                <a class="teacher-avatar" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ include file="common/component/image.html" url=$item.avatar width=200 height=200 }}
                </a>
                <a class="teacher-name" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ $item.teacher_name|cn_truncate: 10 }}
                </a>
                <div class="pv">
                    浏览量{{ $item.pv }}
                </div>
                <div class="student-count">
                    学生数{{ $item.student_count }}
                </div>
            </li>
            {{ /foreach }}
        </ul>
    </div>

    <div class="rank-art">
        <div class="section-title">
            <div class="cup"></div>
            <div class="awards">
                最佳才艺奖
            </div>
        </div>
        <ul class="section-content">
            {{ foreach $tpl_data.art as $item }}
            <li>
                <a class="teacher-avatar" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ include file="common/component/image.html" url=$item.avatar width=200 height=200 }}
                </a>
                <a class="teacher-name" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ $item.teacher_name|cn_truncate: 10 }}
                </a>
                <div class="pv">
                    浏览量{{ $item.pv }}
                </div>
                <div class="student-count">
                    学生数{{ $item.student_count }}
                </div>
            </li>
            {{ /foreach }}
        </ul>
    </div>

    <div class="rank-fifty">
        <div class="section-title">
            <div class="cup"></div>
            <div class="awards">
                年度新锐老师奖
            </div>
        </div>
        <ul class="section-content">
            {{ foreach $tpl_data.fifty as $item }}
            <li>
                <a class="teacher-avatar" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ include file="common/component/image.html" url=$item.avatar width=75 height=75 }}
                </a>
                <a class="teacher-name" href="/activity/superTeacherPersonal?number={{ $item.number }}#intro" target="_blank">
                    {{ $item.teacher_name|cn_truncate: 4 }}
                </a>
                <span class="pv">
                    浏览量{{ $item.pv }}
                </span>
                &nbsp;|&nbsp;
                <span class="student-count">
                    学生数{{ $item.student_count }}
                </span>
            </li>
            {{ /foreach }}
        </ul>
        <div class="explain">
            <div class="bg-line"></div>
            <div class="explain-word">
                奖项排名不分先后
            </div>
        </div>
    </div>

    <div class="awards-intro">
        <div class="section-title">
            <div class="awards">
                大赛奖品
            </div>
        </div>
        <ul class="awards-list">
            <li class="awards-item">
                <img src="{{ $static_origin }}/asset/img/activity/superTeacher/awards-one_7b36bd4303.png" width="128" height="128"/>
                <div class="title">
                    互联网风云老师<em>1名</em>
                </div>
                <div class="description">
                    大众评审阶段得票数前10名老师，入围互联网教育风云奖。专家评委根据课堂创意、教学方法、才艺展示和互联网教学创新综合评选
                </div>
                <ul class="prize">
                    <li>颁发荣誉证书及奖杯</li>
                    <li>跟谁学站内全量推广</li>
                    <li>跟谁学合作主流媒体宣传</li>
                    <li>iPhone 7手机一部</li>
                </ul>
            </li>
            <li class="awards-item">
                <img src="{{ $static_origin }}/asset/img/activity/superTeacher/awards-two_6c99fc19e1.png" width="128" height="128"/>
                <div class="title">
                    年度人气老师<em>10名</em>
                </div>
                <div class="description">
                    大众评审阶段得票数前10名，<br>获得年度十大人气老师。
                </div>
                <ul class="prize">
                    <li>颁发荣誉证书及奖杯</li>
                    <li>跟谁学站内全量推广</li>
                    <li>跟谁学合作主流媒体宣传</li>
                    <li>iPad一部</li>
                </ul>
            </li>
            <li class="awards-item">
                <img src="{{ $static_origin }}/asset/img/activity/superTeacher/awards-three_014a3632c8.png" width="128" height="128"/>
                <div class="title">
                    最佳创意课堂奖<em>5名</em>
                </div>
                <div class="description">
                    大众评审阶段得票前100名，<br>入围最佳创意课堂奖，<br>专家团队评选出前5名。
                </div>
                <ul class="prize">
                    <li>颁发荣誉证书及奖杯</li>
                    <li>跟谁学站内全量推广</li>
                    <li>跟谁学合作主流媒体宣传</li>
                    <li>kindle一部</li>
                </ul>
            </li>
            <li class="awards-item">
                <img src="{{ $static_origin }}/asset/img/activity/superTeacher/awards-four_6d1cf4fed8.png" width="128" height="128"/>
                <div class="title">
                    最佳教学方法奖<em>5名</em>
                </div>
                <div class="description">
                    大众评审阶段得票前100名，<br>入围最佳教学方法奖，<br>专家团队评选出前5名。
                </div>
                <ul class="prize">
                    <li>颁发荣誉证书及奖杯</li>
                    <li>跟谁学站内全量推广</li>
                    <li>跟谁学合作主流媒体宣传</li>
                    <li>kindle一部</li>
                </ul>
            </li>
            <li class="awards-item">
                <img src="{{ $static_origin }}/asset/img/activity/superTeacher/awards-five_88b22027e2.png" width="128" height="128"/>
                <div class="title">
                    最佳才艺奖<em>5名</em>
                </div>
                <div class="description">
                    大众评审阶段得票前100名，<br>入围最佳才艺奖，<br>专家团队评选出前5名。
                </div>
                <ul class="prize">
                    <li>颁发荣誉证书及奖杯</li>
                    <li>跟谁学站内全量推广</li>
                    <li>跟谁学合作主流媒体宣传</li>
                    <li>kindle一部</li>
                </ul>
            </li>
            <li class="awards-item">
                <img src="{{ $static_origin }}/asset/img/activity/superTeacher/awards-six_479cc39add.png" width="128" height="128"/>
                <div class="title">
                    年度新锐老师奖<em>50名</em>
                </div>
                <div class="description">
                    单日得票前十名老师，入围年度新锐老师奖，专家团队根据互联网教学创新评选出50名年度新锐老师奖。
                </div>
                <ul class="prize">
                    <li>颁发荣誉证书及奖杯</li>
                    <li>2000条平台短信</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="action-wrapper">
        <a href="/activity/superTeacher" target="_self">
            查看大赛介绍
        </a>
        <a href="/activity/superTeacherVote" target="_self">
            参赛老师风采
        </a>
    </div>

    <div class="customer-footer">
        <div class="tip">
            <span>发起、主办方：
                <span class="bottom-logo"></span>
            </span>
            <span>本活动最终解释权归跟谁学所有</span>
        </div>
        <div class="copyright">
            Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1
        </div>
    </div>

</div>

{{ /strip }}
{{ /block }}