{{ *

@file 题库2.0全部知识点页面
@author zuoxuyan

* }}
{{ extends file = "common/main/base.html" }}

{{ block name = "data" }}

{{ $smarty.block.parent }}

{{ $script_path = "activity/tiku_49ad9c38a5" }}

{{ $flotage_config.hidden = 1 }}
{{ *$rave_config.hidden = 1* }}
{{ $nav_config.hidden = 0 }}

{{ /block }}

{{ block name = "title" }}
{{ $tpl_data.subject_name }}相关全部知识点-跟谁学题库
{{ /block }}

{{ block name = "description" }}

{{ /block }}

{{ block name = "keywords" }}

{{ /block }}

{{ block name = "icon" }}
{{ $smarty.block.parent }}
{{ /block }}

{{ block name = "style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/tiku_4aed68aa30.css">

{{ /block }}
{{ block name = "main" }}
{{ $smarty.block.parent }}
<div id="main" data-breadcrumb="{{ $tpl_data.breadcrumb }}">
    <div class="content-main">
        <div class="top">
            <span><a href="http://www.genshuixue.com">跟谁学</a></span>
            <span>&gt;</span>
            <span><a href="http://www.genshuixue.com/tiku/">{{ $tpl_data.subject_name }}的全部知识点</a></span>

        </div>

        <div class="title-data">
            <div class="sign">
                <span><a href="/tiku/{{ $tpl_data.subject_id }}" target="_blank">{{ $tpl_data.subject_name }}</a></span>
                <span class="triangle"></span>
            </div>
        </div>
        <p class="item-Headline">
            {{ foreach $tpl_data.points as $point_data }}
            <a href="/tiku/{{ $point_data.point_id }}" target="_blank">{{ $point_data.point_name }}</a>
                <!--<a href="" class="{{ if $items.points[$items.points.length-1]= {{ $point_data.point_name }} }}{{ /if }} last-item">{{ $point_data.point_name }}</a>-->
            {{ /foreach }}
        </p>

    </div>

</div>
{{ /block }}