{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $nav_config.active = '' }}
{{ $nav_config.hidden = 1 }}

{{ /block }}


{{ block name="title" }}
{{ $name }}- 活动中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/teacherTop_016e73f25e.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div id="main">
    <style>

        body {
            background: #fff;
        }
        #main {
            margin: 0px auto;
            width: 100%;
        }
        #main #layout {
            overflow: hidden;
            background: url(../src/img/activity/teacherTop/top.jpg) 50% center no-repeat;
            height: 478px;
            margin: 0 auto;
        }
        #main #last {
            overflow: hidden;
            background: url(../src/img/activity/teacherTop/top4.png) 50% center no-repeat;
            height: 290px;
            margin: -5px auto 0 -1px;
        }
        .item-show {
            text-align: center;
        }
        #main .action {
            width: 1000px;
            margin: -5px auto 0;
            background: #eff2ef;
            padding: 9px 0 0;
            height: 95px;
            
        }
        #main .action a {
            background-color: #f45a4e;
            width: 172px;
            height: 50px;
            display: inline-block;
            color: #fff;
            font-size: 24px;
            line-height: 46px;
            border-radius: 24px;
            text-align: center;
        }
        #main .action a:hover {
            background-color: #d72d20;
        }
        #main .action .qu {
            margin-left: 94px;
        }
        .zhao {
            margin-left: 152px;
        }
        .wang {
            margin-left: 139px;
        }

    </style>
    <div id="layout"></div>
    <div class="item-show">
        <img src="{{ $static_origin }}/asset/img/activity/teacherTop/top2_5dee60e8c7.png" />
    </div>
    <div class="action">
        <a href="http://www.genshuixue.com/t/qugenlaoshi" class="qu" target="_blank">跟我约课</a>
        <a href="http://www.genshuixue.com/t/jiankun" class="zhao" target="_blank">跟我约课</a>
        <a href="http://www.genshuixue.com/t/wangfei" class="wang" target="_blank">跟我约课</a>
    </div>
    <div class="item-show">
        <img src="{{ $static_origin }}/asset/img/activity/teacherTop/top3_bbabed3ec7.png" />
    </div>

    <div id="last"></div>






</div>





{{ /strip }}
{{ /block }}