{{ *

@file 活动 老师排名 第三期
@author liucong

* }}

{{ extends file="activity/common/teacherRank.html" }}

{{ block name="data" }}

{{ include file="activity/data/teacherRank/season3.html" scope=parent }}
{{ $smarty.block.parent }}
{{ $script_data.navs = $navs }}

{{ if $needs_share }}
{{ $baidu_share_image = "{{ $static_origin }}/asset/img/activity/teacherRank/share3.jpg" }}
{{ $baidu_share_text = "名师榜中榜第三季炫丽来袭！机构老师、独立老师各有一席之地，榜单前六更有现金大奖哦~~快来@跟谁学 施展你的教学魅力吧" }}
{{ /if }}

{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/teacherRank3_9a53ad5965.css">
{{ /block }}