{{ extends file="common/main/base.html" }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/tiku_4aed68aa30.css">
{{ /block }}

{{ block name="data" }}

{{ $need_im = false }}
{{ $smarty.block.parent }}
{{ $script_path = "activity/tiku_49ad9c38a5" }}
{{ $script_data.query = $tpl_data.subject_name|default: '英语' }}

{{ *不显示* }}
{{ *$flotage_config.hidden = 1* }}
{{ *$rave_config.hidden = 1* }}
{{ *$nav_config.hidden = 1* }}

{{ $need_mobile_seo = true }}

{{ /block }}

{{ block name="title" }}
        {{ $tpl_data.tdk.title }} -
        {{ $smarty.block.parent }}
{{ /block }}

{{ block name="keywords" }}
    {{ $smarty.block.parent }}
    {{ $tpl_data.tdk.keywords }}
{{ /block }}
{{ block name="description" }}
    {{ $smarty.block.parent }}
    {{ $tpl_data.tdk.description }}
{{ /block }}

{{ strip }}
{{ block name="main" }}
{{ $smarty.block.parent }}
<div id="main">

    <div class="content-main">
        <div class="crumbs">
            <!--新增面包屑下拉菜单功能-->
            <ul class="tiku_detail">
                <li><a href="http://www.genshuixue.com/">跟谁学</a></li>
                <li>&gt;</li>
                <li><a href="/tiku/">题库</a></li>
                {{ if !empty($tpl_data.subject_name) }}
                <li>&gt;</li>
                <li class="subject_name">
                    <a class="subject" href="/tiku/{{ $tpl_data.subject_id }}">{{ $tpl_data.subject_name }}</a>
                    <i class="icon icon-caret-down"></i>
                    {{ if empty($tpl_data.relate_subject) }}
                    <!-- <div class="menu subject-menu-without-popup">
                        {{ foreach $tpl_data.relate_subject as $rel_subject }}
                            <a href="/tiku/{{ $rel_subject.id }}">{{ $rel_subject.name }}</a>
                        {{ /foreach }}
                    </div> -->
                    {{ else }}
                    <div class="menu subject-menu">
                        {{ foreach $tpl_data.relate_subject as $rel_subject }}
                            <a href="/tiku/{{ $rel_subject.id }}">{{ $rel_subject.name }}</a>
                        {{ /foreach }}
                    </div>
                    {{ /if }}
                </li>
                {{ /if }}
                {{ if !empty($tpl_data.point_name) }}
                <li>&gt;</li>
                <li class="point_name">
                    <a class="point" href="/tiku/{{ $tpl_data.point_id }}">{{ $tpl_data.point_name }}</a>
                    <i class="icon icon-caret-down"></i>
                    {{ if empty($tpl_data.points_breadcrumb) }}
                   <!--  <div class="menu point-menu-without-popup">
                        {{ foreach $tpl_data.points_breadcrumb as $rel_points }}
                        <a href="/tiku/{{ $rel_points.point_id }}">{{ $rel_points.point_name }}</a>
                        {{ /foreach }}
                    </div> -->
                    {{ else }}
                    <div class="menu point-menu">
                        {{ foreach $tpl_data.points_breadcrumb as $rel_points }}
                        <a href="/tiku/{{ $rel_points.point_id }}">{{ $rel_points.point_name }}</a>
                        {{ /foreach }}
                    </div>
                    {{ /if }}
                </li>
                {{ /if }}
            </ul>
        </div>

        <div class="middle">
            <span class="category-item category-label">分类：</span>
            <ul class="category-list">
                <li class="category-item">
                    <a href="/tiku">题库</a>
                </li>
                    {{ foreach $tpl_data.subjects as $item }}
                    <li class="{{ if $item.subject_id eq $tpl_data.subject_id }}focus-on {{ /if }}category-item">
                        <a href="{{ $item.subject_id }}">{{ $item.subject_name }}</a>
                    </li>
                {{ /foreach }}
            </ul>
        </div>
        <div class="banner"></div>


        <div class="card-w">
            <div class="content-card">
                <div class="question">
                    <h1 class="title">
                        <i class="topic"></i>
                        {{ $tpl_data.title }}
                    </h1>

                    <div class="content">
                        {{ $tpl_data.content }}
                    </div>
                    <div class="detail">

                        {{ if !empty($tpl_data.subject_name) }}
                        <span class="subject">
                            科目:<a href="/tiku/{{ $tpl_data.subject_id }}">{{ $tpl_data.subject_name }}</a>
                        </span>
                        {{ /if }}

                        {{ if !empty($tpl_data.degree) }}
                        <span class="degree score">
                            难易度:
                            {{ if $tpl_data.degree == 0 }}
                                {{ $score = 5 }}
                            {{ else }}
                                {{ $score = $tpl_data.degree }}
                            {{ /if }}

                            {{ include file="common/component/starScore.html" score=$score }}

                        </span>
                        {{ /if }}

                        {{ if !empty($tpl_data.text_book) }}
                        <span class="release">
                            教材: {{ $tpl_data.text_book }}
                        </span>
                        {{ /if }}

                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="answer">
                    <h2 class="title">
                        <i class="result"></i>
                        最佳答案
                    </h2>
                    <div class="content">
                        {{ if !empty($tpl_data.answer) }}
                        <p>
                            {{ $tpl_data.answer }}
                        </p>
                        {{ /if }}
                    </div>
                </div>
            </div>

            <!--点评-->
            <div class="content-card">
                <div class="method">
                    <h2 class="title">
                        <i class="analysis"></i>
                        解析
                    </h2>
                    {{ if !empty($tpl_data.analyse) }}
                    <p>
                        {{ $tpl_data.analyse }}
                    </p>
                    {{ /if }}

                    <div class="detail">
                        {{ if !empty($tpl_data.points_info) }}
                        <span class="subject">知识点:
                                {{ foreach $tpl_data.points_info as $points }}
                                    <a href="/tiku/{{ $points.id }}">{{ $points.tag }}</a>
                                    <span>&nbsp;&nbsp;</span>
                                {{ /foreach }}

                        </span>
                        {{ /if }}

                    </div>
                </div>
            </div>

            <div class="content-card">
                <div class="relate-hot">
                    <h3 class="title">
                        基础试题
                    </h3>
                    <ul>
                    {{ foreach $tpl_data.relate as $item }}
                        <li>
                            <a href="{{ $item.url }}" target="_blank">
                                {{ $item.title }}
                            </a>
                        </li>
                    {{ /foreach }}
                    </ul>
                </div>
            </div>

            <div class="content-card">
                <div class="relate-hot hot">
                    <h3 class="title">
                        拔高试题
                    </h3>
                    <ul>
                    {{ foreach $tpl_data.hot as $item }}
                        <li>
                            <a href="{{ $item.url }}" target="_blank">
                                {{ $item.title }}
                            </a>
                        </li>
                    {{ /foreach }}
                    </ul>
                </div>
            </div>

            <div class="hot-point">
                <span class="point-title">热门知识点</span>
                <!--<div class="title-total">-->
                {{ if $tpl_data.display eq 1 }}
                <span class="title-total"><a href="/tiku/tag/{{ $tpl_data.subject_id }}" target="_blank">全部{{ $tpl_data.subject_name }}知识点</a></span>
                {{ else }}
                {{ /if }}

                <!--</div>-->

                <!--<div class="point-title">热门知识点</div>-->
                <!--<div class="title-total">-->
                    <!--<span class="title-total"><a href="">全部{{ $tpl_data.point_name }}知识点</a></span>-->
                <!--</div>-->

                <div class="point-blocks">
                    {{ foreach $tpl_data.points_list as $point }}
                        <a class="point-block" href="/tiku/{{ $point.point_id }}" title="【{{ $point.point_name }}】{{ $point.point_name }}相关试题_答案_详解大全-跟谁学题库">{{ $point.point_name }}</a>
                     {{ /foreach }}


                </div>
            </div>

        </div>

        <div class="side-card">
            <div class="h-ad-wrappers">
            </div>

            <div class="ad">
                <div class="ad-header">猜你喜欢</div>
                <div class="ad-wrappers">
                </div>
            </div>
        </div>


    </div>

<!--
    <div id="last">
        <p>Copyright © 2014 - 2017 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1</p>
    </div>
-->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?03f745a92cb20e700a182c2fccdc31a1";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</div>
<div class="scroll">
    <span class="title">最新试题</span>
    <marquee width="950" height="50" behavior="scroll" direction="left" scrollamount="10" loop="-1" onmouseover="this.stop()" onmouseout="this.start()">
        {{ foreach $tpl_data.newest as $new_marquee }}
        <a href="{{ $new_marquee.url }}">{{ $new_marquee.title }}</a>
        {{ /foreach }}
    </marquee>
    <div style="clear: both;"></div>
</div>

{{ /block }}
{{ /strip }}

