{{ extends file="common/pc/base.html" }}
{{ block name="data" }}

{{ $need_im = false }}

{{ $smarty.block.parent }}
{{ $flotage_config.hidden = 1 }}
{{ $script_path = "activity/winterVacation2_b68c1034f0" }}
{{ if isset($smarty.get.teacherId) }}
{{ $script_data.teacherId = $smarty.get.teacherId }}
{{ /if }}
{{ $amd_more = [ 'common/main/component/header_40e06bdd81' ] }}
{{ $baidu_share_text = "父母若不在意谁还会在意？这份礼物你得收下！知道你要选寒假班，我们精选了顶级老师，不仅仅为高分而学，更是让孩子收获方法、习惯和品德这些能够伴随他/她一生的东西！时间宝贵，不来报名师难道随意将就？" }}

{{ $baidu_share_image = "http://img.gsxservice.com/0cms/d/file/content/2015/12/566e9928e2bee.jpg" }}

{{ /block }}

{{ block name="title" prepend }}
父母若不在意谁还会在意？这份礼物你得收下！
{{ /block }}

{{ block name="description" }}

{{ /block }}

{{ block name="keywords"  }}

{{ $smarty.block.parent }}

{{ /block }}


{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/winterVacation2_080be3da98.css" />
{{ /block }}
{{ strip }}
{{ block name="body" }}

{{ $smarty.block.parent }}
{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}
<script>
    var teacherData = [
        {
            "name": "芦莉",
            "tid": "371509868",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=371509868",
            "title": "鼎英教育  中考高分冲刺班",
            "stitle": "初三英语冲刺班",
            "des": "教育学硕士，国际教师资格CELTA认证，上课风格清新，深入浅出，对考试出题的方向有深刻理解，在数十年的教学生涯中培养过无数的高分学员，有以武汉第一名成绩考入外校的刘谢威，有保送清华的冯亚伦，有考入新加坡来福士的全奖的辛喆等同学。",
            "price": "1250",
            "video_url": "/video/view/110891",
            "video_name": "英语名师",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/566f7b8a6c75e.jpg",
            "pre_price": "2000"
        },
        {
            "name": "徐长兴",
            "tid": "518374978",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=518374978",
            "title": "初二数学寒假班",
            "stitle": "初二数学基础班",
            "des": "区数学竞讲一等奖，30年数学教授经验，中考先进工作者，课堂活跃、幽默，有亲和力，善于激发学生的数学学习兴趣。所授张思颖同学由分数不及格，到最终提高到中考113分。",
            "price": "700",
            "video_url": "/video/view/110901",
            "video_name": "数学名师",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/566f7b8b1b8c2.jpg",
            "pre_price": "1200"
        },
        {
            "name": "刘轩",
            "tid": "833190428",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=833190428",
            "title": "万雨萌教育   七年级英语A班",
            "stitle": "初二英语提高A班",
            "des": "毕业于武汉大学，世奥赛英语评委，教学经验丰富，上课气氛活跃、注重互动、讲解细致，分析严谨，侧重阅读讲解。周同学，中考前补习阅读，10次课，由60-70分，最后中考到90分。",
            "price": "830元",
            "video_url": "/video/view/111584",
            "video_name": "英语名师",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/566f7b8a16ac6.jpg",
            "pre_price": "1200"
        },
        {
            "name": "喻晋",
            "tid": "730218488",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=730218488",
            "title": "初一数学（寒假预科班）",
            "stitle": "初一预科基础班",
            "des": "省重点中学青年骨干教师，巨人机构中考命题研究员，专心致力于数学思维方法的研究训练，攻克中学生数学学习中的障碍，曾在黄冈市黄州区第一中学任教。2014年武珞路中学初三学生殷同学在我的辅导下数学成绩显著提高，中考后进入洪山中学高中部。",
            "price": "900",
            "video_url": "/video/view/110906",
            "video_name": "喻晋老师",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/567e43d50dbdb.jpg",
            "pre_price": "2000"
        },
        {
            "name": "肖宝清",
            "tid": "751127558",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=751127558",
            "title": "中考物理（寒假班）",
            "stitle": "中考物理基础班",
            "des": "毕业于武汉大学，高考物理满分，善于总结初中物理满分教学体系，因材施教，激发学生学校兴趣。所带2015届中考学生（来自全国各地），32名学生中，物理考取满分（70分）共26人，69分5人，68分1人。",
            "price": "2400",
            "video_url": "/video/view/110358",
            "video_name": "自我介绍",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/566f7b8adf2f8.jpg",
            "pre_price": "6000"
        },
        {
            "name": "刘博",
            "tid": "500217748",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=500217748",
            "title": "优远教育  初一数学寒假班",
            "stitle": "初一数学提高班",
            "des": "任教重点中学数学组组长，教学经验丰富，教学有耐心，课堂氛围活跃，收放自如。朱同学，一个学期一对一，从80到110分，16次课；张同学学习两个月，分数由70到提示到100分。",
            "price": "700",
            "video_url": "/video/view/111603",
            "video_name": "数学名师",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/566f7b8997aea.jpg",
            "pre_price": "1000"
        },
        {
            "name": "王振",
            "tid": "958169638",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=958169638",
            "title": "七年级数学寒假优化班",
            "stitle": "初一数学提高班",
            "des": "原京翰教育教学总监、京翰教育中考数学特聘教研员，中考数学教研组负责人，多次主讲大型调考考前串讲、考后分析，连续两次大型考试班级数学单科总分排名年级第一。善用教师的人格魅力，创设新颖的问题情境、激发学生学习兴趣，获众多学生好评。",
            "price": "880",
            "video_url": "/video/view/49420",
            "video_name": "王老师",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/566f7b8aade83.jpg",
            "pre_price": "2000"
        },
        {
            "name": "李洁",
            "tid": "416321768",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=416321768",
            "title": "鼎英教育新概念二+七年级下精讲精练",
            "stitle": "初一新概念二基础班",
            "des": "授课亲切，善于激发学生主动思考，讲解耐心仔细。教学经验丰富，刘同学经过初三10次课时的学习，中考成绩提高了43分。",
            "price": "1250",
            "video_url": "/video/view/110888",
            "video_name": "英语名师",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/566f7b891b638.jpg",
            "pre_price": "2000"
        },
        {
            "name": "赵洁",
            "tid": "623281818",
            "curl": "http://www.genshuixue.com/activity/one2oneWinterDetail?number=623281818",
            "title": "鼎英教育 新概念二+八年级下精讲精练",
            "stitle": "初二新概念二基础班",
            "des": "课堂活跃，授课亲切，善于激发学生主动思考，培养学习兴趣。教学经验丰富。韩幸霖同学刚来时只有50分左右，经过3个多月的学习，高考时英语考了103分，最后被心仪大学的心仪专业录取；卢浩东同学初刚来学时英语90分左右，中考增分20多分。",
            "price": "1250",
            "video_url": "/video/view/111596",
            "video_name": "英语名师",
            "photo": "http://img.gsxservice.com/0cms/d/file/content/2015/12/566f7b8c69452.jpg",
            "pre_price": "2000"
        }
    ];
</script>
<div class="intro-box">
    <div class="content">
        <div class="intro-wuhan">
            <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                <div class="to-consult"></div>
            </a>
        </div>
        <div class="title-bar"></div>
        <div class="time-table"></div>
        <div class="teacher-list"></div>

        <div class="bottom01"></div>
        <div class="bottom02"></div>
        <div class="content-bottom"></div>
        <div class="fixed-box">
            <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                <div class="consult"></div>
            </a>
            <div class="get-phoneNumber">
                <input class="input-number" placeholder="请输入手机号">
                <div class="submit-number">30秒回拨给您</div>
            </div>
            <div class="sharebox">
                <div class="share-btn">分享</div>
                <div id="share">{{ include file="common/component/baiduShare.html" }}</div>
            </div>
        </div>

    </div>

</div>
<div class="footer">Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有. 京公网安备11010802015210号 </div>


{{ include file="common/script.html" }}

{{ block name="script" }}{{ /block }}



{{ /block }}
{{ /strip }}