{{ extends file="common/pc/base.html" }}
{{ block name="data" }}

    {{ $need_im = false }}

    {{ $smarty.block.parent }}
    {{ $flotage_config.hidden = 1 }}
    {{ $script_path = "activity/winterVacation_a3678ee8fe" }}
    {{ $amd_more = [ 'common/main/component/header_40e06bdd81' ] }}
    {{ $baidu_share_text = "高考想要分数高，高一基础很重要。步入高一，思维方式需要转变，繁重的学业更需要你有高效的方法！——高一寒假，九大名师帮你，从知识到方法一站式体验，助力高中学习！" }}

    {{ $baidu_share_image = "http://img.gsxservice.com/0cms/d/file/content/2015/11/565bb5a1ef531.jpg" }}

{{ /block }}

{{ block name="title" prepend }}
高考想要分数高，高一基础很重要 -
{{ /block }}

{{ block name="description" }}

{{ /block }}

{{ block name="keywords"  }}

    {{ $smarty.block.parent }}

{{ /block }}


{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/winterVacation_713e348e0e.css" />
{{ /block }}
{{ strip }}
{{ block name="body" }}

    {{ $smarty.block.parent }}
    {{ include file="common/siteNav.html" }}
    {{ include file="common/main/common/header.html" }}

    <div class="top-bg"></div>
    <div class="intro-box">
        <div class="content">
            <div class="intro-con">
                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                    <div class="to-consult"></div>
                </a>
            </div>
            <div class="title-bar"></div>
            <div class="teacher-box">
                <div class="title">高一数学强化班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/qjb_wh_f096aea82a.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">钱建威</div>
                            <div class="intro">
                                武钢三中教学校长，毕业于武汉大学，</br>教学严谨，耐心，注重解题思路讲解</br>
                                青山区优秀教研员，多次获得荣誉表彰</br>
                                教龄30年，所教学生获得国际中学生数</br>学竞赛金奖，另5人获全国一等奖
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97707">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1000</span>
                            700
                        </div>
                        <a class="buy button" href="http://www.genshuixue.com/org_class_course/detail/6671616904" target="_blank">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a href="http://www.genshuixue.com/org_class_course/detail/6671616904" target="_blank" class="to-detail"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一数学预科班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/dy_wh_06f16ab8fe.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">丁源</div>
                            <div class="intro">
                                元私塾数学创始人，毕业于武汉大学</br>
                                新东方教研负责人，精通高中数学的考纲考点</br>
                                教龄7年，善于用总结法，</br>启发学生总结常见题目的解题思路
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97704">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">2500</span>
                            1800
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151116850472">立即抢购</a>
                    </div>
                </div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151116850472"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一数学基础班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/zwj_wh_eda0e3d855.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">张文军</div>
                            <div class="intro">
                                任教重点中学，毕业于华中农业大学</br>
                                高中教研组长、备课组长，课风格严谨缜密，</br>擅长总结题型和模型变式</br>
                                教龄12年，多次获得学校荣誉表彰
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97715">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">2500</span>
                            1800
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151115779830">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail"  target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151115779830"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一英语单词班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/wk_wh_0647174b1d.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">王可</div>
                            <div class="intro">
                                黄梅一中英语老师，毕业于华中科技大学</br>
                                教龄8年，课堂活跃、幽默，</br>善于激发学生的英语学习兴趣</br>
                                bbc中级，专业八级
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97755">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">2500</span>
                            2000
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/6671796104">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/6671796104"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一英语基础班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/lcd_wh_b640a5516e.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">刘灿德</div>
                            <div class="intro">
                                暴风英语创始人,出版专著一部，毕业于</br>中国科技大学
                                任教重点中学、新东方名师，</br>授课幽默风趣 旁征博引 擅长方法总结</br>
                                学生中艺考生英语小分上线率100%，</br>一本上线率98%
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97751">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1800</span>
                            1500
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151115844794">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151115844794"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一英语基础班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/df_wh_0616c7cdde.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">丁凡</div>
                            <div class="intro">
                                任教重点中学，教龄15年，毕业于华中师范大学</br>
                                获得湖北省英语优质课一等奖，</br>擅长将高中枯燥的单词短语语法的学习趣味化</br>
                                学生梅轩获得全国中学生英语能力竞赛一等奖，</br>吴婉获得区英语单科最高分
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97741">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1500</span>
                            900
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151114846138">立即抢购</a>
                    </div>
                </div>
                <a class="to-detail"  target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151114846138"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一物理提高班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/wj_wh_045940a7d0.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">王俊</div>
                            <div class="intro">
                                曾任教于新东方、巨人等知名教育机构，</br>毕业于华中师范大学
                                核心期刊发表论文</br>《物理高考与竞赛相似试题研究》</br>
                                教龄5年，授课风格严谨缜密，</br>所教学生获得全国中学生物理竞赛三等奖
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97733">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">1600</span>
                            1080
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151116783081">立即抢购</a>
                    </div>
                </div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/teacher/classCourseDetail/151116783081"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一物理强化班</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/yjy_wh_d2a352ebf2.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">余景云</div>
                            <div class="intro">
                                任教重点中学，教学深入浅出、</br>因材施教、擅长激发学生学习兴趣</br>
                                教龄30年，学生多考入985、211院校</br>
                                刘同学经过考前突击辅导，物理获得满分
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97738">视频介绍</div>
                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">400</span>
                            300
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/6671797704">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/6671797704"></a>
            </div>

            <div class="teacher-box">
                <div class="title">高一物理电磁专题</div>
                <div>
                    <div class="detail-info">
                        <div class="photo">
                            <img src="../../asset/img/activity/winterVacation/crx_wh_7b87984f7a.jpg" width="130">
                        </div>
                        <div class="detail">
                            <div class="name">陈儒新</div>
                            <div class="intro">
                                任教重点中学，毕业于华中师范大学</br>
                                教龄20年，善于对题型归类，</br>传授学生综合解题思路</br>
                                多名全国中学生物理竞赛中获奖
                            </div>
                            <div class="buttons">
                                <div class="video button" data-view="/video/view/97721">视频介绍</div>

                                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                                    <div class="course button">了解课程</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-info">
                            <span class="price-no">450</span>
                            360
                        </div>
                        <a class="buy button" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/7099420104">立即抢购</a>
                    </div>
                </div>
                <div class="corner"></div>
                <a class="to-detail" target="_blank" href="http://www.genshuixue.com/org_class_course/detail/7099420104"></a>
            </div>

            <div class="bottom01"></div>
            <div class="bottom02"></div>
            <div class="fixed-box">
                <a href="https://eco-api.meiqia.com/dist/standalone.html?eid=3781" target="_blank">
                    <div class="consult"></div>
                </a>
                <div class="get-phoneNumber">
                    <input class="input-number" placeholder="请输入手机号">
                    <div class="submit-number">30秒回拨给您</div>
                </div>
                <div class="sharebox">
                    <div class="share-btn">分享</div>
                    <div id="share">{{ include file="common/component/baiduShare.html" }}</div>
                </div>
            </div>

        </div>

    </div>
    <div class="footer">Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有. 京公网安备11010802015210号 </div>


    {{ include file="common/script.html" }}

    {{ block name="script" }}{{ /block }}



{{ /block }}
{{ /strip }}