{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
高考志愿 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/activity/wish_d8a986ecf7.css">
{{ /block }}

{{ block name="data" }}

{{ $need_im = true }}
{{ $smarty.block.parent }}

{{ $script_path = "activity/wish_9092142480" }}

{{ $script_data.no_need_animate = 1 }}

{{ $script_data.director = $tpl_data }}

{{ $amd_more = [ 'common/main/component/header_40e06bdd81' ] }}

{{ $flotage_config.hidden = 1 }}

{{ /block }}

{{ strip }}
{{ block name="body" }}

{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="common/main/common/header.html" }}
{{ include file="common/script.html" }}

{{ * include file="./common/wishd.html" * }}

<div id="main">
    <div id="layout">
        {{ $a = '' }}
        {{ if isset($smarty.get.source) }}
        {{ $a = $smarty.get.source }}
        {{ /if }}

        {{ if $a == "gsx_gaokao_ztwb" }}
        <span></span>
        {{ /if }}
    </div>
    <!--导航-->
    <div class="nav-box">
        <div class="wrapper">
            <div class="a">
                <span></span>
                <a class="click" id="expertaa">
                    超级专家
                </a>
            </div>
            <i class="i-o">或</i>
            <div class="b">
                <span></span>
                <a  id="directoraa">
                    招办主任
                </a>
            </div>
            <i class="i-t">或</i>
            <div class="c">
                <span></span>
                <a id="upperclassmanaa">
                    学长学姐
                </a>
            </div>
        </div>
        <div class="fixed-nav">
            <a href="#expert" class="active" data-nav-id="item1">
                超级专家
            </a>
            <a href="#director" data-nav-id="item2">
                招办主任
            </a>
            <a href="#upperclassman" data-nav-id="item3">
                学长学姐
            </a>
        </div>
    </div>
    <!--专家解读list-->
    <div class="expert">
        <a name="expert" id="item1" class="expertaa"></a>
        <h1>
            <span class="flag"></span>
            <span class="zhu">超级专家!</span>
            <span class="fu">考得好不如志愿填得好！</span>
            <span></span>
        </h1>
        {{ foreach $tpl_data['list'] as $broadcast }}
        <div class="item-e item{{ $broadcast@index }}">
            {{ if $broadcast@index != 0 }}
            <span style="width: 930px; height: 1px; display: inline-block; background: #eaeaea; position: absolute; left: 56px;"></span>
            {{ /if }}
            <h6 class="time">

                {{ $startTime = strtotime($broadcast.date) }}
                {{ $endTime = strtotime($broadcast.date|cat:' '|cat: $broadcast.endTime) }}

                {{ $startTime|date_format:'%m' }}月
                {{ $startTime|date_format:'%d' }}日
                &nbsp;&nbsp;
                {{ $broadcast.startTime }}-{{ $broadcast.endTime }}


                {{ * $broadcast.class_time * }}


            </h6>
            <div class="item-o float-left" data-video="{{ $broadcast.video }}" data-herf="{{ $broadcast.class_link }}">
                <img src="{{ $broadcast.img_src }}" alt="1" />
            </div>
            <div class="item-t float-left">
                <h4 title="{{ $broadcast.class_title }}">
                    {{ $broadcast.class_title|cn_truncate:17 }}


                    {{ if $endTime - $smarty.now < 0 }}
                    <span class="state">
                        结束
                    </span>
                    {{ else }}
                    <span class="state on">
                        火热
                    </span>
                    {{ /if }}


                </h4>
                <h5>主讲老师：{{ $broadcast.teacher_name }}</h5>
                <p>
                    {{ $broadcast.class_desc|cn_truncate:84 }}
                </p>
            </div>
            <div class="float-left">

                {{ if $endTime - $smarty.now < 0 }}

                <button class="" id="" data-video="{{ $broadcast.video }}" data-herf="{{ $broadcast.class_link }}">
                    视频回看
                </button>
                {{ else }}
                <button class="on" id="" data-video="{{ $broadcast.video }}" data-herf="{{ $broadcast.class_link }}">
                    免费听课
                </button>
                {{ /if }}

            </div>
        </div>

        {{ /foreach }}
    </div>
    <!--高校主任tab-->
    <div class="director">
        <a name="director" id="item2" class="directoraa"></a>
        <h1>
            <span class="flag"></span>
            <span class="zhu">招办主任!</span>
            <span class="fu">最新政策在线解读！</span>
            <span></span>
        </h1>

        <div class="boutique-teacher">
            <div class="tab-head">
                {{ foreach $tpl_data['director']['nav'] as $nav }}
                <b class="tab-nav {{ if $nav@index == 0 }}active{{ /if }}">
                    {{ $nav }}
                </b>
                {{ /foreach }}
            </div>
            <div class="tab-content">
                {{ foreach  $tpl_data['director']['subject'] as $subject }}
                <div class="tab-panel">

                    {{ $all_con = [] }}

                    {{ foreach $subject as  $myKey => $broadcast }}

                    {{ if $broadcast@total%8 == 0 }}
                    {{ $over = 0 }}
                    {{ else }}
                    {{ $over = 1 }}
                    {{ /if }}

                    {{ $all_page_1 = floor($broadcast@total/8 + $over)  }}
                    {{ for $i=0; $i<$all_page_1; $i++ }}
                        {{ if $myKey < 8  }}
                        {{ $all_con['nnnnnnnnnnn'][$myKey] = $broadcast  }}
                        {{ /if }}
                        {{ if $i >= 1 }}
                        {{ if ($myKey < ($i+1)*8 && $myKey >= ($i)*8 )  }}
                        {{ $all_con[$i][] = $broadcast  }}
                        {{ /if }}
                        {{ /if }}
                    {{ /for }}

                    {{ /foreach }}
                    {{ *print_r($all_con)* }}
                    <div class="view-wrapper">
                        <ul class="list-wrapper">
                        {{ foreach $all_con as  $li }}
                        <li class="promotion-slideritem {{ if $li@index == 0 }}active{{ /if }}">
                            {{ foreach $li as  $broadcast_s }}
                            <div  data-class="{{ $broadcast_s.class_link }}" class="boutique {{ if ($broadcast_s@index+1) % 4 == 0 }}last-boutique{{ /if }}">
                                <h3 title="{{ $broadcast_s.title }}">
                                    {{ $broadcast_s.title }}
                                </h3>

                                <div class="time">

                                {{ if $broadcast_s.video == 1 }}
                                    {{ if $broadcast_s.startTime != '' && $broadcast_s.startTime != ' ' }}
                                    {{ $startTime = strtotime($broadcast_s.date) }}
                                    {{ $endTime = strtotime($broadcast_s.date|cat:' '|cat: $broadcast_s.endTime) }}

                                    {{ $startTime|date_format:'%m' }}月
                                    {{ $startTime|date_format:'%d' }}日
                                    &nbsp;&nbsp;
                                    {{ $broadcast_s.startTime }}-{{ $broadcast_s.endTime }}
                                    {{ /if }}

                                {{ /if }}

                                </div>

                                <!--                                        <div class="time">{{ * $broadcast_s.time * }}</div>-->


                                <div class="school-video img-w" data-video="{{ $broadcast_s.video }}" data-herf="{{ $broadcast_s.scholl_video }}">
                                    <img src="{{ $broadcast_s.img }}" width="240px" height="168px" alt="" />
                                    <i class="icon icon-play-o"></i>
                                </div>
                                <div class="detail" title="{{ $broadcast_s.detail }}">
                                    {{ $broadcast_s.detail|cn_truncate:34 }}
                                </div>
                                {{ if $broadcast_s.video == 1 }}
                                <div  data-herf="{{ $broadcast_s.class_link }}" data-video="{{ $broadcast_s.video }}" class="button-college fire" >
                                    <span>火热</span>
                                    免费报名
                                </div>
                                {{ else if $broadcast_s.video == 2 }}
                                <div  data-herf="{{ $broadcast_s.class_link }}" data-video="{{ $broadcast_s.video }}" class="button-college end" >
                                    <span>结束</span>
                                    视频回看
                                </div>
                                {{ else }}
                                <div  data-herf="{{ $broadcast_s.class_link }}" data-video="{{ $broadcast_s.video }}" class="button-college must" >
                                    <span>必看</span>
                                    了解学院
                                </div>
                                {{ /if }}
                            </div>
                            {{ /foreach }}
                        </li>
                        {{ /foreach }}
                        </ul>
                    </div>

                    <!--iceon-->
                    {{ if $broadcast@total%8 == 0 }}
                    {{ $over = 0 }}
                    {{ else }}
                    {{ $over = 1 }}
                    {{ /if }}

                    {{ $all_page_2 = floor($broadcast@total/8 + $over)  }}


                    <ul class="org-info-pager">

                        {{ for $i=0; $i<$all_page_2; $i++ }}
                        <li class="promotion-slider-navitem org-page {{ if $i == 0 }}active{{ /if }}" data-page="1">
                            <a class="" href="javascript:void(0);">{{ $i+1 }}</a>
                        </li>
                        {{ /for }}

                    </ul>

                </div>

                {{ /foreach }}
            </div>
        </div>

        <a class="ads1" href="http://www.genshuixue.com/static/app">
            <img src="{{ $static_origin }}/asset/img/activity/center/wish/1ads_629c769987.jpg" alt="下载app" />
        </a>
    </div>
    <!--学长学姐tab-->
    <div class="upperclassman">
        <a name="upperclassman" id="item3" class="upperclassmanaa"></a>
        <h1>
            <span class="flag"></span>
            <span class="zhu">学长学姐! </span>
            <span class="fu">亲身介绍学校专业!</span>
            <span></span>
        </h1>
        <div class="boutique-teacher">
            <div class="tab-content">
                <div class="tab-panel">
                <!-- 轮播列表中只收纳video=2的人 -->
                {{ $i = 0 }}
                {{ $video_2 = [] }}
                {{ foreach $tpl_data['upperclassman']['subject'] as $subject }}
                    {{ foreach $subject as $video_wrapper }}
                        {{ *foreach $video_wrapper as $single_video* }}
                            {{ if $video_wrapper.video == 2 }}
                                {{ $video_2[$i] = $video_wrapper }}
                                {{ $i = $i + 1 }}
                            {{ /if }}
                        {{ */foreach* }}
                    {{ /foreach }}
                {{ /foreach }}
                {{ $all_con_t = [] }}
                {{ foreach $video_2 as $myKey => $broadcast }}
                    {{ if $broadcast@total%8 == 0 }}
                    {{ $over = 0 }}
                    {{ else }}
                    {{ $over = 1 }}
                    {{ /if }}
                    {{ $all_page_1 = floor($broadcast@total/8 + $over) }}
                    {{ for $i=0; $i<$all_page_1; $i++ }}
                        {{ if $myKey < 8  }}
                        {{ $all_con_t['nnnnnnnnnnn'][$myKey] = $broadcast  }}
                        {{ /if }}
                        {{ if $i >= 1 }}
                        {{ if ($myKey < ($i+1)*8 && $myKey >= ($i)*8 )  }}
                        {{ $all_con_t[$i][] = $broadcast }}
                        {{ /if }}
                        {{ /if }}
                    {{ /for }}
                {{ /foreach }}
                    <div class="view-wrapper">
                         <ul class="list-wrapper">
                            {{ foreach $all_con_t as  $li }}
                            <li class="promotion-slideritem {{ if $li@index == 0 }}active{{ /if }}">
                                {{ foreach $li as $broadcast_t }}
                                <div  data-class="{{ $broadcast_t.class_link }}" class="boutique {{ if ($broadcast_t@index+1) % 4 == 0 }}last-boutique{{ /if }}">
                                    <h3 title="{{ $broadcast_t.title }}">
                                    {{ if !empty($broadcast_t.title) }}
                                        {{ $broadcast_t.title }}
                                    {{ /if }}
                                    </h3>
                                    <div class="time">
                                    {{ if !empty($broadcast_t.date) || !empty($broadcast_t.startTime) || !empty($broadcast_t.endTime) }}
                                        {{ $startTime = strtotime($broadcast_t.date) }}
                                        {{ $endTime = strtotime($broadcast_t.date|cat:' '|cat: $broadcast_t.endTime) }}
                                        {{ $startTime|date_format:'%m' }}月
                                        {{ $startTime|date_format:'%d' }}日
                                        &nbsp;&nbsp;
                                        {{ $broadcast_t.startTime }}-{{ $broadcast_t.endTime }}
                                    {{ /if }}
                                    </div>
                                    <div  data-herf="{{ $broadcast_t.class_link }}" data-video="{{ $broadcast_t.video }}" class="school-video img-w" data-herf="{{ $broadcast_t.scholl_video }}">
                                        <img src="{{ $broadcast_t.img }}" alt="" />
                                    </div>
                                    <div class="detail">
                                        <span>
                                            {{ $broadcast_t.name }}
                                        </span>
                                        <span>
                                            {{ $broadcast_t.college }}
                                        </span>
                                    </div>
                                    <div data-herf="{{ $broadcast_t.class_link }}" data-video="{{ $broadcast_t.video }}" class="button-student end">
                                        <span>结束</span>
                                        回看TA的话
                                    </div>
                                </div>
                                {{ /foreach }}
                            </li>
                            {{ /foreach }}
                         </ul>
                    </div>
                    {{ if $broadcast@total%8 == 0 }}
                    {{ $over = 0 }}
                    {{ else }}
                    {{ $over = 1 }}
                    {{ /if }}

                    {{ $all_page_2 = floor($broadcast@total/8 + $over) }}

                    <ul class="org-info-pager">

                        {{ for $i=0; $i<$all_page_2; $i++ }}
                        <li class="promotion-slider org-page {{ if $i == 0 }}active{{ /if }}" data-page="1">
                            <a class="" href="javascript:void(0);">{{ $i+1 }}</a>
                        </li>
                        {{ /for }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--分享-->
    <div class="share">
        分享好友
        <div id="share"></div>
    </div>
    <div>
        <a class="ads2" href="http://www.genshuixue.com/static/app">
            <img src="{{ $static_origin }}/asset/img/activity/center/wish/ads3_634c014c2c.jpg" alt="app" />
        </a>
        <a class="ads3" href="http://ju.genshuixue.com/">
            <img src="{{ $static_origin }}/asset/img/activity/center/wish/2ads_34946f8a73.jpg" alt="聚会学" />
        </a>
    </div>

    <div class="footer">
        <p>Copyright © 2014 - 2017 跟谁学版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1</p>
    </div>
</div>
{{ /strip }}
{{ /block }}
{{ include file="common/component/loginDialog.html" }}
{{ * include file="common/footer.html" * }}
