.course-tip {
    height: rem(12);
    background: #F8F8F8;
    padding: rem(14) rem(15);
    line-height: rem(12);
    color: #9D9E9E;
    font-size: rem(12);
    margin-bottom: rem(10);
    .course-tip-item {
        display: inline-block;
        vertical-align: top;
    }
    .icon {
        margin-right: rem(5);
    }
    .course-tip-text {
        margin-right: rem(20);
    }
}