
@import "module/index.styl";
.protocol-view {
    height: 100%;
    padding: rem(32) rem(15);
    overflow-x: hidden;
    background: #fff;
    font-size: rem(12);
    color: #6D6D6E;
    line-height: rem(22);
    &-title {
        margin: 0 auto rem(20);
        text-align: center;
        font-size: rem(16);
        color: #3D3D3E;
        line-height: rem(20);
        
    }
    .paragraph {
        margin-top: rem(16);
    }
    .underline {
        text-decoration: underline;
        color: #000;
    }
    .emphasize {
        font-size: rem(14);
        color: #000;
    }
    .second-title {
        font-size: rem(14);
        color: #000;
    }
    .indent {
        text-indent: rem(20);
    }
}