@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

body {
background: white;
}
.nav-bar {
    background: rgba(248,248,248,0.90);
}

.box {
    margin: rem(10);
    .title {
        font-family: PingFang-SC-Medium;
        font-size: rem(16);
        color: #3d3d3e;
        line-height: rem(30);
        text-align: left;
        height: rem(30);
    }
    .content {
        font-family: PingFang-SC-Regular;
        font-size: rem(14);
        color: #6d6d6e;
        text-align: left;
        line-height: rem(18);
    }
}