@import "page/_base/base.styl";
@import "page/activity/shangxueyuan/_part/index.styl";
@import "page/activity/shangxueyuan/_part/liudan.styl";

body{
    background: black;
}
.painter{
    width: 90%;
    margin-left: 5%;
    margin-top:rem(10);
    margin-bottom:rem(60);
    .hot-course-img{
        width: 100%;
        height: 100%;
        margin-top: rem(10);
    }
    .backup{
        margin-top: rem(20);
        p{
            font-family:PingFang-SC-Thin;
            font-size:rem(10);
            color:#f8f8f8;
            letter-spacing:rem(0);
            line-height:rem(14);
            text-align:center;
        }
    }
}