.recommend-clazz {
    background: #fff;
    padding: 30px;
    margin-bottom: 15px;
    .title {
        font-size: 16px;
        color: #3D3D3E;
        padding-bottom: 22px;
        border-bottom: 1px solid #EDEDEE;
    }
    .clazz-item {
        font-size: 14px;
        margin-top: 20px;
        color: #3D3D3E;
        cursor: pointer;
        img {
            border-radius: 5px;
            width: 258px;
            height: 146px; 
            margin-bottom: 10px;
        }
    }
}