{{ *

@file 银行图标
@author zhujialu

* }}
{{ strip }}

{{ $bank_icon = [] }}

{{ ** 工商银行 * }}
{{ $bank_icon.ICBCBTB = 'icon-bank-icbc' }}
{{ $bank_icon.ICBCB2C = 'icon-bank-icbc' }}
{{ $bank_icon['ICBC-DEBIT'] = 'icon-bank-icbc' }}
{{ $bank_icon['icbc_d'] = 'icon-bank-icbc' }}
{{ $bank_icon['icbc'] = 'icon-bank-icbc' }}
{{ $bank_icon.ICBC = 'icon-bank-icbc' }}

{{ * 农业银行 * }}
{{ $bank_icon.ABCBTB = 'icon-bank-abc' }}
{{ $bank_icon.ABC = 'icon-bank-abc' }}
{{ $bank_icon['abc_d'] = 'icon-bank-abc' }}
{{ $bank_icon['abc'] = 'icon-bank-abc' }}

{{ * 建设银行 * }}
{{ $bank_icon.CCBBTB = 'icon-bank-ccb' }}
{{ $bank_icon.CCB = 'icon-bank-ccb' }}
{{ $bank_icon['CCB-DEBIT'] = 'icon-bank-ccb' }}
{{ $bank_icon['ccb_d'] = 'icon-bank-ccb' }}
{{ $bank_icon['ccb'] = 'icon-bank-ccb' }}

{{ * 中国银行 * }}
{{ $bank_icon.BOCBTB = 'icon-bank-boc' }}
{{ $bank_icon.BOCB2C = 'icon-bank-boc' }}
{{ $bank_icon['BOC-DEBIT'] = 'icon-bank-boc' }}
{{ $bank_icon['boc_d'] = 'icon-bank-boc' }}
{{ $bank_icon['boc'] = 'icon-bank-boc' }}
{{ $bank_icon.BOC = 'icon-bank-boc' }}

{{ * 交通银行 * }}
{{ $bank_icon.BCM = 'icon-bank-bcm' }}
{{ $bank_icon.COMM = 'icon-bank-bcm' }}
{{ $bank_icon['COMM-DEBIT'] = 'icon-bank-bcm' }}
{{ $bank_icon['BCM-DEBIT'] = 'icon-bank-bcm' }}
{{ $bank_icon['bcm_d'] = 'icon-bank-bcm' }}
{{ $bank_icon['bcm'] = 'icon-bank-bcm' }}
{{ $bank_icon.BCOM = 'icon-bank-bcm' }}

{{ * 招商银行 * }}
{{ $bank_icon.CMBBTB = 'icon-bank-cmb' }}
{{ $bank_icon.CMB = 'icon-bank-cmb' }}
{{ $bank_icon['CMB-DEBIT'] = 'icon-bank-cmb' }}
{{ $bank_icon['cmb_d'] = 'icon-bank-cmb' }}
{{ $bank_icon['cmb'] = 'icon-bank-cmb' }}

{{ * 浦发银行 * }}
{{ $bank_icon.SPDBB2B = 'icon-bank-spdb' }}
{{ $bank_icon.SPDB = 'icon-bank-spdb' }}
{{ $bank_icon['SPDB-DEBIT'] = 'icon-bank-spdb' }}
{{ $bank_icon['spdb_d'] = 'icon-bank-spdb' }}
{{ $bank_icon['spdb'] = 'icon-bank-spdb' }}


{{ * 光大银行 * }}
{{ $bank_icon['CEB-DEBIT'] = 'icon-bank-ceb' }}
{{ $bank_icon['CEB'] = 'icon-bank-ceb' }}
{{ $bank_icon['ceb_d'] = 'icon-bank-ceb' }}
{{ $bank_icon['ceb'] = 'icon-bank-ceb' }}

{{ * 民生银行 * }}
{{ $bank_icon.CMBC = 'icon-bank-cmbc' }}
{{ $bank_icon['cmbc_d'] = 'icon-bank-cmbc' }}
{{ $bank_icon['cmbc'] = 'icon-bank-cmbc' }}

{{ * 杭州银行 * }}
{{ $bank_icon.HZBB2C = 'icon-bank-hzb' }}
{{ $bank_icon.HZCBB2C = 'icon-bank-hzb' }}
{{ $bank_icon['hzb_d'] = 'icon-bank-hzb' }}
{{ $bank_icon['hzb'] = 'icon-bank-hzb' }}

{{ * 兴业银行 * }}
{{ $bank_icon.CIB = 'icon-bank-cib' }}
{{ $bank_icon['cib_d'] = 'icon-bank-cib' }}
{{ $bank_icon['cib'] = 'icon-bank-cib' }}

{{ * 广发银行 * }}
{{ $bank_icon.CGB = 'icon-bank-cgb' }}
{{ $bank_icon.GDB = 'icon-bank-cgb' }}
{{ $bank_icon['CGB-DEBIT'] = 'icon-bank-cgb' }}
{{ $bank_icon['GDB-DEBIT'] = 'icon-bank-cgb' }}
{{ $bank_icon['cgb_d'] = 'icon-bank-cgb' }}
{{ $bank_icon['cgb'] = 'icon-bank-cgb' }}

{{ * 富滇银行 * }}
{{ $bank_icon.FDB = 'icon-bank-fdb' }}
{{ $bank_icon['fdb_d'] = 'icon-bank-fdb' }}
{{ $bank_icon['fdb'] = 'icon-bank-fdb' }}

{{ * 中信银行 * }}
{{ $bank_icon.CITIC = 'icon-bank-citic' }}
{{ $bank_icon['citic_d'] = 'icon-bank-citic' }}
{{ $bank_icon['citic'] = 'icon-bank-citic' }}

{{ * 上海银行 * }}
{{ $bank_icon.BOS = 'icon-bank-bos' }}
{{ $bank_icon.SHBANK = 'icon-bank-bos' }}
{{ $bank_icon['bos_d'] = 'icon-bank-bos' }}
{{ $bank_icon['bos'] = 'icon-bank-bos' }}

{{ * 宁波银行 * }}
{{ $bank_icon.NBCB = 'icon-bank-nbcb' }}
{{ $bank_icon.NBBANK = 'icon-bank-nbcb' }}
{{ $bank_icon['nbcb_d'] = 'icon-bank-nbcb' }}
{{ $bank_icon['nbcb'] = 'icon-bank-nbcb' }}

{{ * 平安银行 * }}
{{ $bank_icon.PAB = 'icon-bank-pab' }}
{{ $bank_icon.SPABANK = 'icon-bank-pab' }}
{{ $bank_icon['pab_d'] = 'icon-bank-pab' }}
{{ $bank_icon['pab'] = 'icon-bank-pab' }}

{{ * 邮政储蓄银行 * }}
{{ $bank_icon.POSTGC = 'icon-bank-psbc' }}
{{ $bank_icon['PSBC-DEBIT'] = 'icon-bank-psbc' }}
{{ $bank_icon['psbc_d'] = 'icon-bank-psbc' }}
{{ $bank_icon['psbc'] = 'icon-bank-psbc' }}
{{ $bank_icon.PSBC = 'icon-bank-psbc' }}


{{ * 北京银行 * }}
{{ $bank_icon.BOB = 'icon-bank-bob' }}
{{ $bank_icon.BJBANK = 'icon-bank-bob' }}
{{ $bank_icon['bob_d'] = 'icon-bank-bob' }}
{{ $bank_icon['bob'] = 'icon-bank-bob' }}

{{ * 北京农商银行 * }}
{{ $bank_icon.BJRCB = 'icon-bank-bjrcb' }}
{{ $bank_icon['bjrcb'] = 'icon-bank-bjrcb' }}

{{ * 上海农商银行 * }}
{{ $bank_icon.SRCB = 'icon-bank-srcb' }}
{{ $bank_icon.SHRCB = 'icon-bank-srcb' }}
{{ $bank_icon['shrcb'] = 'icon-bank-srcb' }}

{{ * 温州银行 * }}
{{ $bank_icon['WZCBB2C-DEBIT'] = 'icon-bank-wzcb' }}

{{ * 华夏银行 * }}
{{ $bank_icon['HXB'] = 'icon-bank-hxb' }}
{{ $bank_icon['hxb_d'] = 'icon-bank-hxb' }}
{{ $bank_icon['hxb'] = 'icon-bank-hxb' }}

{{ * 成都银行 * }}
{{ $bank_icon['CDBANK'] = 'icon-bank-bocd' }}
{{ $bank_icon['bocd_d'] = 'icon-bank-bocd' }}
{{ $bank_icon['bocd'] = 'icon-bank-bocd' }}

{{ * 成都农商银行 * }}
{{ $bank_icon['CDRCB'] = 'icon-bank-cdrcb' }}
{{ $bank_icon['cdrcb_d'] = 'icon-bank-cdrcb' }}
{{ $bank_icon['cdrcb'] = 'icon-bank-cdrcb' }}

{{ * 江苏银行 * }}
{{ $bank_icon['jsb_d'] = 'icon-bank-jsb' }}
{{ $bank_icon['jsb'] = 'icon-bank-jsb' }}

{{ * 南昌银行 * }}
{{ $bank_icon['bnc_d'] = 'icon-bank-bnc' }}
{{ $bank_icon['bnc'] = 'icon-bank-bnc' }}

{{ * visa * }}
{{ $bank_icon.ABC1003 = 'icon-bank-abc1003' }}

{{ * master * }}
{{ $bank_icon.ABC1004 = 'icon-bank-abc1004' }}


{{ /strip }}