{{ *

@file 课程状态
@author zhujialu

* }}
{{ strip }}

{{ $courseStatus['10'] = [ 'course-start', '待老师确认' ] }}
{{ $courseStatus['20'] = [ 'course-confirm', '待上课' ] }}
{{ $courseStatus['30'] = [ 'course-progress', '上课中' ] }}
{{ if !(isset($tpl_data.purchase.use_plat_ensure) && $tpl_data.purchase.use_plat_ensure == 0) }}
    {{ $courseStatus['40'] = [ 'course-confirm-pay', '待确认课酬' ] }}
{{ else }}
    {{ $courseStatus['40'] = [ 'course-confirm-pay', '待确认上课' ] }}
{{ /if }}
{{ $courseStatus['50'] = [ 'course-transition', '已完成' ] }}
{{ $courseStatus['60'] = [ 'course-over', '已结束' ] }}
{{ $courseStatus['61'] = [ 'course-over', '申诉完成' ] }}
{{ $courseStatus['62'] = [ 'course-over', '已结束' ] }}
{{ $courseStatus['63'] = [ 'course-expired', '自动取消' ] }}
{{ $courseStatus['80'] = [ 'course-canceled', '已取消' ] }}
{{ $courseStatus['81'] = [ 'course-canceled', '已取消' ] }}
{{ $courseStatus['90'] = [ 'course-appealed', '已申诉' ] }}
{{ $courseStatus['91'] = [ 'course-appealed', '已申诉' ] }}
{{ $courseStatus['92'] = [ 'course-appealed', '已申诉' ] }}
{{ $courseStatus['101'] = [ 'course-start', '待学生确认' ] }}
{{ if !(isset($tpl_data.purchase.use_plat_ensure) && $tpl_data.purchase.use_plat_ensure == 0) }}
    {{ $courseStatus['102'] = [ 'course-over', '确认课酬中' ] }}
{{ else }}
    {{ $courseStatus['102'] = [ 'course-over', '确认上课中' ] }}
{{ /if }}
{{ $courseStatus['103'] = [ 'course-over', '试听中' ] }}

{{ /strip }}