{{ *

@file 老师资金操作类型
@author zhujialu

* }}
{{ strip }}

{{ $teacher_optype = [] }}
{{ $teacher_optype["1"] = "支付订单" }}
{{ $teacher_optype["2"] = "确认课酬" }}
{{ $teacher_optype["3"] = "取消订单" }}
{{ $teacher_optype["4"] = "申请提现" }}
{{ $teacher_optype["5"] = "提现成功" }}
{{ $teacher_optype["6"] = "提现退回" }}
{{ $teacher_optype["7"] = "自主注册奖励" }}
{{ $teacher_optype["8"] = "奖学金支付" }}
{{ $teacher_optype["10"] = "邀请注册奖励" }}
{{ $teacher_optype["11"] = "" }}
{{ $teacher_optype["12"] = "邀请成单奖励" }}
{{ $teacher_optype["13"] = "充值" }}
{{ $teacher_optype["20"] = "转入机构" }}
{{ $teacher_optype["21"] = "奖励扣除" }}
{{ $teacher_optype["22"] = "冻结" }}
{{ $teacher_optype["23"] = "解冻" }}
{{ $teacher_optype["24"] = "排行榜活动奖励" }}
{{ $teacher_optype["25"] = "首单返现" }}
{{ $teacher_optype["26"] = "班课补贴" }}
{{ $teacher_optype["40"] = "心意赠饮" }}
{{ $teacher_optype["50"] = "活动奖励" }}
{{ $teacher_optype["60"] = "会员购买" }}
{{ $teacher_optype["65"] = "违规罚款" }}
{{ $teacher_optype["68"] = "支付手续费" }}
{{ $teacher_optype["71"] = "活动报名" }}
{{ $teacher_optype["72"] = "存储容量购买" }}
{{ $teacher_optype["73"] = "短信购买" }}
{{ $teacher_optype["75"] = "平台技术服务费" }}
{{ $teacher_optype["76"] = "渠道推广费" }}
{{ $teacher_optype["2010"] = "" }}

{{ /strip }}