{{ *

@file 视频课订单状态
@author liucong

* }}
{{ strip }}

{{ $orderStatus['wait_for_pay'] = [ "wait-for-pay", "待支付" ] }}
{{ $orderStatus['canceled'] = [ "canceled", "已取消" ] }}
{{ $orderStatus['closed'] = [ "closed", "已关闭" ] }}
{{ $orderStatus['pay_failed'] = [ "pay-failed", "待支付" ] }}
{{ $orderStatus['pay_success'] = [ "pay-success", "已支付" ] }}
{{ $orderStatus['wait_for_comment'] = [ "wait-for-comment", "待评价" ] }}
{{ $orderStatus['appealing'] = [ "appealing", "申诉中" ] }}
{{ $orderStatus['normal_over'] = [ "normal-over", "已完成" ] }}
{{ $orderStatus['appeal_over'] = [ "appeal-over", "申诉完成" ] }}

{{ /strip }}