.data-bank {
    width: 800px;
    .data-header {
        position: relative;
        height: 40px;
        & > div {
            display: inline-block;
        }
        .title {
            cursor: pointer;
            font-size: 13px;
            color: #6287D5;
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid #D8D8D8;
        }
        .crumbs {
            .crumb-item {
                cursor: pointer;
                display: inline-block;
                span {
                    font-size: 13px;
                    color: #6287D5;
                }
                .current-path {
                    color: #6D6D6E;
                }
            }
        }
        .local-upload {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 13px;
            color: #FFFFFF;
            background: #64B5F6;
            border-radius: 3px;
            width: 110px;
            line-height: 35px;
            text-align: center;
        }
    }
    .file-list {
        margin-top: 10px;
        margin-bottom: 35px;
        border: 1px solid #CDCDCE;
        border-radius: 2px;
        .file-name {
            width: 340px;
            text-align: left;
        }
        .file-size,
        .share-status,
        .upload-status,
        .options {
            width: 100px;
        }
        .list-header {
            line-height: 34px;
            background: #F8F8F8;
            box-shadow: inset 0 -1px 1px 0 #E2F2FD;
            border-radius: 2px 2px 0 0;
            & > div {
                font-size: 13px;
                color: #000000;
                text-align: center;
                display: inline-block;
            }
            .file-name {
                text-align: left;
                padding-left: 60px;
                width: 380px;
            }
        }
        .list-body {
            max-height: 330px;
            overflow: scroll;
            .file-item {
                cursor: pointer;
                background: #FFFFFF;
                line-height: 48px;
                box-shadow: 0 0 0 0 #F3F4F5;
                border-top: 1px solid #eee;
                position: relative;
                &:hover {
                    background: #F6FBFF;
                }
                & > div {
                    display: inline-block;
                    text-align: center;
                }
                .select-item {
                    margin-left: 20px;
                    cursor: pointer;
                    input {
                         cursor: pointer;
                    }
                }
                .file-name {
                    display: inline-block;
                    padding-left: 10px;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    vertical-align: middle;
                    cursor: pointer;
                    span {
                        &:nth-child(1) {
                            display: inline-block;
                            width: 36px;
                            height: 36px;
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                    .file-ppt {
                        background: url('../img/dataBank/ic_data_ppt.png')
                    }
                    .file-img {
                        background: url('../img/dataBank/ic_data_img.png')
                    }
                    .file-pdf {
                        background: url('../img/dataBank/ic_data_pdf.png')
                    }
                    .file-word {
                        background: url('../img/dataBank/ic_data_word.png')
                    }
                    .file-audio {
                        background: url('../img/dataBank/ic_data_audio.png')
                    }
                    .file-video {
                        background: url('../img/dataBank/ic_data_videos.png')
                    }
                    .file-excel {
                        background: url('../img/dataBank/ic_data_excel.png')
                    }
                    .file-txt {
                        background: url('../img/dataBank/ic_data_txt.png')
                    }
                    .file-zip {
                        background: url('../img/dataBank/ic_data_zip.png')
                    }
                    .file-folder {
                        background: url('../img/dataBank/ic_data_folder.png')
                    }
                    .file-unknown {
                        background: url('../img/dataBank/ic_data_unknown.png')
                    }
                }
                .name-dir {
                    margin-left: 12px;
                }
                .upload-status,
                .options {
                    font-size: 12px;
                }
                .progress-bar {
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0.8;
                    background: #BADEFD;
                }
            }
        }
    }
    .data-settings {
        font-size: 13px;
        color: #3D3D3E;
        label {
            cursor: pointer;
            font-size: 13px;
            color: #6D6D6E;
            margin-left: 14px;
            input {
                margin-right: 5px;
            }
        }
    }
    .data-footer {
        margin-top: 20px;
        position: relative;
        height: 40px;
        .text {
            font-size: 13px;
            color: #FC5C5A;
        }
        .btn-confirm {
            position: absolute;
            top: -10px;
            right: 20px;
            width: 110px;
            line-height: 34px;
            background: #FF6c00;
            border: 1px solid #FF6c00;
            border-radius: 3px;
            font-size: 14px;
            color: #FFFFFF;
            text-align: center;
            cursor: pointer;
        }
    }
}