@import "page/_base/base.styl";
@import "page/activity/shangxueyuan/_part/index.styl";
@import "page/activity/shangxueyuan/_part/liudan.styl";
//@import "page/_common/nav_bar/nav_bar.styl";

body{
    background: black;
}

.baner-wrap{
  background : #fff;

  .top-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 0;
    background-color: #EDF0F0;

    img {
      width: 100%;
      height: rem(225);
      vertical-align: top;
    }
    ul.slide_position {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      height: rem(24);
      right: 0;
      bottom: 0;
      padding-right: rem(7);

      li.on {
        span {
          background-color: #FFF;
        }
      }
      span {
        text-indent: rem(-9999);
        width: rem(8);
        height: rem(8);
        border: 1px solid rgb(255, 255, 255);
        border-radius: rem(4);
        display: inline-block;
        margin: rem(2) rem(1.5);
        background-color: transparent;
      }
      li {
        display: inline-block;
        padding: 0 rem(2);
      }
    }
    .slide_group {
      position: relative;
      font-size: 0;
      white-space: nowrap;
      height: rem(225);

      p {
        padding-right: rem(65);
        padding-left: rem(15);
        font-size: rem(12);
        line-height: rem(30);
      }
      .slide {
        display: inline-block;

        font-size: rem(14);
        vertical-align: top;
        >a{
          padding-top:50%;
          position : relative;
          display : block;
          >img{
            position : absolute;
            top:rem(0);
            right:rem(0);
            left:rem(0);
            bottom:rem(0);
            width:100%;
            height:rem(225);
            //height : 100%;
          }
        }

      }
    }
  }

  .top-sliders-container, .top-sliders-container2{
    position: relative;
    width: 100%;
    z-index: 0;
    overflow: hidden;

    ul {
      position: relative;

      height: 100%;
      li {
        position: relative;
        //height: 100%;
        //height:rem(150);
        float: left;
      }
    }
    .slider-control {
      position: absolute;
      bottom: rem(5)
      right: rem(8);
      z-index: 99;
    }
  }
}

.top-sliders-container{
    li{
        height:100%;
    }
}

.top-sliders-container2{
    li{
        height:rem(200);
    }
}

.recent-img{
    width:100%;
}
.recent-title{
    width: 100%;
    margin-top: rem(10);
}

.hot-course{
    text-align: center;
    .hot-course-box{
        width:98%;
        .hot-course-list{
            float: left;
            width:48%;
            margin-left:2%;
            position: relative;
            margin-bottom: rem(4);
            height: rem(171);
            .hot-course-img{
                width:100%;
                height:100%;
            }
        }
    }
}

.hot-course-icon{
        width: 100%;
}

.good-teacher{
    width: 100%;
    .good-teacher-img{
        width:100%;
    }
}

.hide{
    display:none;
}
.student-comment{
    background: url('../image/bg_photo.png');
    padding-bottom:rem(12);
    .student-com{
        .comment-content{
            width:80%;
            margin: rem(20) 0 0 10%;
            p{
                font-family:PingFang-SC-Regular;
                font-size:rem(13);
                color:#ffffff;
                line-height:rem(20);
                text-align:left;
                margin-bottom: rem(10);
            }
        }
        .comment-text{
            text-align: right;
            margin-right: 10%;
            font-family:PingFang-SC-Regular;
            font-size:rem(12);
            color:#c49e3a;
            .comment-name{
                margin-right: rem(10);
            }
        }
    }
    .has-more{
        margin-top: rem(10);
        position: relative;
        .has-more-detail{
            height:rem(20);
            line-height:rem(20);
            font-family:PingFang-SC-Medium;
            font-size:rem(13);
            color:#e8cf80;
            text-align:center;
        }
        .more-icon{
            position:absolute;
            height: rem(8);
            width: rem(12);
            top: rem(6);
            right:38%;
        }
    }
}

.coorp{
    margin-bottom:rem(60);
    .jigou-list{
        width:84%;
        margin-left:8%;
        text-align: center;
        .jigou-item{
            display: inline-block;
            width: 22%;
            margin: rem(10) rem(8) 0 0;
            .org-icon{
                height:rem(28);
                width:100%;
            }
        }
    }
    .backup{
        margin-top: rem(20);
        p{
            font-family:PingFang-SC-Thin;
            font-size:rem(10);
            color:#f8f8f8;
            letter-spacing:rem(0);
            line-height:rem(14);
            text-align:center;
        }
    }
}