.recruit-page-success {
    .body {
        padding: 0 rem(18);
        margin-top: rem(40);
        .title {
            font-size: rem(15);
            color: #2D2D2E;
            letter-spacing: 0;
            line-height: rem(23);
        }
        .item {
            font-size: rem(15);
            color: #6D6D6E;
            line-height: rem(21);
            p {
                margin: rem(10) 0;
            }
        }
    }
}