{{ extends "common/center/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}
    {{ $nav_active_tab = 'index' }}

    {{ $script_path = "teacherCenter/certification" }}

{{ /block }}

{{ block name="title" prepend }}
认证设置 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/teacherCenter/certification.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}
    {{ include file="teacher_center/common/floatHelp.html" }}

    {{ include file="teacher_center/common/sidebar.html" active="cert" }}

    <div id="content" class="card">

        <div class="card-header">
            <h2>认证设置</h2>
        </div>

        <div class="card-body">

            <div class="sub-card-header">
                <h2>身份认证</h2>
                <span class="text-error">（*必须）</span>
            </div>

            <div class="sub-card-body">

                <div class="item identity">

                    <div class="card-title">

                        <div class="status">

                            {{ if $tpl_data.certs.id_card.id || $tpl_data.certs.id_passport.id }}

                                {{ if $tpl_data.certs.id_card.id }}
                                    {{ if $tpl_data.certs.id_card.verify_status == 0 }}
                                        <span class="text-primary">
                                            <i class="icon icon-clock"></i>
                                        </span>
                                    {{ elseif $tpl_data.certs.id_card.verify_status == 1 }}
                                        <span class="text-success">
                                            <i class="icon icon-check-circle"></i>
                                        </span>
                                    {{ elseif $tpl_data.certs.id_card.verify_status == 2 }}
                                        <span class="text-error">
                                            <i class="icon icon-info-circle"></i>
                                        </span>
                                    {{ /if }}
                                {{ else if $tpl_data.certs.id_passport.id }}
                                    {{ if $tpl_data.certs.id_passport.verify_status == 0 }}
                                        <span class="text-primary">
                                            <i class="icon icon-clock"></i>
                                        </span>
                                    {{ elseif $tpl_data.certs.id_passport.verify_status == 1 }}
                                        <span class="text-success">
                                            <i class="icon icon-check-circle"></i>
                                        </span>
                                    {{ elseif $tpl_data.certs.id_passport.verify_status == 2 }}
                                        <span class="text-error">
                                            <i class="icon icon-info-circle"></i>
                                        </span>
                                    {{ /if }}
                                {{ /if }}

                            {{ else }}
                                <span class="text-muted">
                                    <i class="icon icon-check-circle"></i>
                                </span>
                            {{ /if }}

                            <h3 {{ if $tpl_data.certs.id_card.verify_status == 1 || $tpl_data.certs.id_passport.verify_status == 1 }}class="text-success"{{ /if }}>个人身份认证</h3>

                            {{ if $tpl_data.certs.id_card.id || $tpl_data.certs.id_passport.id }}

                                {{ if $tpl_data.certs.id_card.id }}
                                    {{ if $tpl_data.certs.id_card.verify_status == 0 }}
                                        <span class="text-primary">（审核中）</span>
                                    {{ elseif $tpl_data.certs.id_card.verify_status == 1 }}
                                        <span class="text-success">（已认证）</span>
                                    {{ elseif $tpl_data.certs.id_card.verify_status == 2 }}
                                        <span class="text-error">（未通过审核）</span>
                                    {{ /if }}
                                {{ else if $tpl_data.certs.id_passport.id }}
                                    {{ if $tpl_data.certs.id_passport.verify_status == 0 }}
                                        <span class="text-primary">（审核中）</span>
                                    {{ elseif $tpl_data.certs.id_passport.verify_status == 1 }}
                                        <span class="text-success">（已认证）</span>
                                    {{ elseif $tpl_data.certs.id_passport.verify_status == 2 }}
                                        <span class="text-error">（未通过审核）</span>
                                    {{ /if }}
                                {{ /if }}

                            {{ else }}
                                <span class="text-muted">（尚未认证）</span>
                            {{ /if }}
                        </div>

                        <div class="prompt">
                            跟谁学平台老师必须为通过身份认证的真实身份老师
                        </div>

                        {{ if $tpl_data.certs.id_card.verify_status != 1 && $tpl_data.certs.id_passport.verify_status != 1 }}
                        <a href="/user_cert/identity_detail" class="btn-info">
                            认证
                        </a>
                        {{ /if }}
                    </div>

                </div>
            </div>

            <div class="sub-card-header">
                <h2>其他资质认证</h2>
                <span class="text-muted">（可选）</span>
            </div>
            <div class="sub-card-body">

                <div class="item education">

                    <div class="card-title form-trigger">

                        <div class="status">

                            {{ if $tpl_data.certs.student_card.id }}
                                {{ if $tpl_data.certs.student_card.verify_status == 0 }}
                                    <span class="text-primary">
                                        <i class="icon icon-clock"></i>
                                    </span>
                                {{ elseif $tpl_data.certs.student_card.verify_status == 1 }}
                                    <span class="text-success">
                                        <i class="icon icon-check-circle"></i>
                                    </span>
                                {{ elseif $tpl_data.certs.student_card.verify_status == 2 }}
                                    <span class="text-error">
                                        <i class="icon icon-info-circle"></i>
                                    </span>
                                {{ /if }}
                            {{ else }}
                                <span class="text-muted">
                                    <i class="icon icon-check-circle"></i>
                                </span>
                            {{ /if }}

                            <h3 {{ if $tpl_data.certs.student_card.verify_status == 1 }}class="text-success"{{ /if }}>学历认证</h3>

                            {{ if $tpl_data.certs.student_card.id }}
                                {{ if $tpl_data.certs.student_card.verify_status == 0 }}
                                    <span class="text-primary">（审核中）</span>
                                {{ elseif $tpl_data.certs.student_card.verify_status == 1 }}
                                    <span class="text-success">（已认证）</span>
                                {{ elseif $tpl_data.certs.student_card.verify_status == 2 }}
                                    <span class="text-error">（未通过审核）</span>
                                {{ /if }}
                            {{ else }}
                                <span class="text-muted">（尚未认证）</span>
                            {{ /if }}

                        </div>

                        <div class="prompt">
                            学历认证可提升学生对个人主页学历背景的信任度
                        </div>

                        {{ if $tpl_data.certs.student_card.verify_status != 1 }}
                        <button class="btn btn-info btn-auth">认证</button>
                        {{ /if }}
                    </div>

                    {{ if $tpl_data.certs.student_card.id }}
                    <div class="form edit">
                        <div class="show" data-type='education' data-form='{{ json_encode($tpl_data.certs.student_card) }}'>

                            <div class="image" data-image="{{ $tpl_data.certs.student_card.url }}">

                                {{ include file="common/component/image.html" url=$tpl_data.certs.student_card.url width=240 }}
                                <div class="image-finder"></div>
                                <div class="image-viewport"></div>

                            </div>
                            <div class="status">
                                {{ if $tpl_data.certs.student_card.verify_status == 0 }}
                                    <div class="message message-primary">
                                        <i class="icon icon-clock"></i>
                                        排队审核中，请耐心等待..
                                    </div>
                                    <p class="prompt">
                                        学历认证审核中，我们会尽快处理，请耐心等待...
                                    </p>
                                {{ elseif $tpl_data.certs.student_card.verify_status == 1 }}
                                    <div class="message message-success">
                                        <i class="icon icon-check-circle"></i>
                                        已认证！
                                    </div>
                                    <p class="prompt">
                                        恭喜你，学历认证已通过！
                                    </p>
                                {{ elseif $tpl_data.certs.student_card.verify_status == 2 }}
                                    <div class="message message-error">
                                        <i class="icon icon-info-circle"></i>
                                        {{ foreach $tpl_data.certs.student_card.reasons as $reason }}
                                            {{ $reason }}；
                                        {{ /foreach }}
                                    </div>
                                    <p class="prompt">
                                        学历认证失败，请重新上传认证信息。
                                    </p>
                                {{ /if }}

                                {{ if $tpl_data.certs.student_card.verify_status == 2 }}
                                <button class="btn btn-info btn-reupload">重新上传</button>
                                {{ /if }}

                            </div>
                        </div>
                        {{ include file="teacher_center/component/other-identity-uploader.html" desc="请提交能证明你学历水平的证件照片，如：学生证、在读证明、毕业证等（需包含照片、姓名、专业、校方印章等有效信息）" type="" }}
                    </div>
                    {{ else }}
                    <div class="form add">
                        <!--反显数据-->
                        <div class="show">
                            <div class="image">
                                <img src="" alt="" />
                            </div>
                            <div class="status">
                                <span>排队审核中，请耐心等待..</span>
                                <p class="prompt">
                                    学历认证审核中，我们会尽快处理，请耐心等待...
                                </p>
                            </div>
                        </div>
                        {{ include file="teacher_center/component/other-identity-uploader.html" desc="请提交能证明你学历水平的证件照片，如：学生证、在读证明、毕业证等（需包含照片、姓名、专业、校方印章等有效信息）" type="" }}
                    </div>
                    {{ /if }}
                </div>

                <div class="item teaching">
                    <div class="card-title form-trigger">

                        <div class="status">

                            {{ if $tpl_data.certs.teacher_certificate.id }}
                                {{ if $tpl_data.certs.teacher_certificate.verify_status == 0 }}
                                    <span class="text-primary">
                                        <i class="icon icon-clock"></i>
                                    </span>
                                {{ elseif $tpl_data.certs.teacher_certificate.verify_status == 1 }}
                                    <span class="text-success">
                                        <i class="icon icon-check-circle"></i>
                                    </span>
                                {{ elseif $tpl_data.certs.teacher_certificate.verify_status == 2 }}
                                    <span class="text-error">
                                        <i class="icon icon-info-circle"></i>
                                    </span>
                                {{ /if }}
                            {{ else }}
                                <span class="text-muted">
                                    <i class="icon icon-check-circle"></i>
                                </span>
                            {{ /if }}

                            <h3 {{ if $tpl_data.certs.teacher_certificate.verify_status == 1 }}class="text-success"{{ /if }}>教师证认证</h3>

                            {{ if $tpl_data.certs.teacher_certificate.id }}
                                {{ if $tpl_data.certs.teacher_certificate.verify_status == 0 }}
                                    <span class="text-primary">（审核中）</span>
                                {{ elseif $tpl_data.certs.teacher_certificate.verify_status == 1 }}
                                    <span class="text-success">（已认证）</span>
                                {{ elseif $tpl_data.certs.teacher_certificate.verify_status == 2 }}
                                    <span class="text-error">（未通过审核）</span>
                                {{ /if }}
                            {{ else }}
                                <span class="text-muted">（尚未认证）</span>
                            {{ /if }}
                        </div>

                        <div class="prompt">
                            教师证认证可提升学生对专业教师身份的信任度
                        </div>

                        {{ if $tpl_data.certs.teacher_certificate.verify_status != 1 }}
                        <button class="btn btn-info btn-auth">认证</button>
                        {{ /if }}

                    </div>

                    {{ if $tpl_data.certs.teacher_certificate.id }}
                    <div class="form edit">
                        <div class="show" data-type='teaching' data-form='{{ json_encode($tpl_data.certs.teacher_certificate) }}'>
                            <div class="image" data-image="{{ $tpl_data.certs.teacher_certificate.url }}">

                                {{ include file="common/component/image.html" url=$tpl_data.certs.teacher_certificate.url width=240 }}
                                <div class="image-finder"></div>
                                <div class="image-viewport"></div>

                            </div>
                            <div class="status">
                                {{ if $tpl_data.certs.teacher_certificate.verify_status == 0 }}
                                    <div class="message message-primary">
                                        <i class="icon icon-clock"></i>
                                        排队审核中，请耐心等待..
                                    </div>
                                    <p class="prompt">
                                        教师证认证审核中，我们会尽快处理，请耐心等待...
                                    </p>
                                {{ elseif $tpl_data.certs.teacher_certificate.verify_status == 1 }}
                                    <div class="message message-success">
                                        <i class="icon icon-check-circle"></i>
                                        已认证！
                                    </div>
                                    <p class="prompt">
                                        恭喜你，教师证认证已通过！
                                    </p>
                                {{ elseif $tpl_data.certs.teacher_certificate.verify_status == 2 }}
                                    <div class="message message-error">
                                        <i class="icon icon-info-circle"></i>
                                        {{ foreach $tpl_data.certs.teacher_certificate.reasons as $reason }}
                                            {{ $reason }}；
                                        {{ /foreach }}
                                    </div>
                                    <p class="prompt">
                                        教师证认证失败，请重新上传认证信息。
                                    </p>
                                {{ /if }}

                                {{ if $tpl_data.certs.teacher_certificate.verify_status == 2 }}
                                <button class="btn btn-info btn-reupload">重新上传</button>
                                {{ /if }}
                            </div>
                        </div>
                        {{ include file="teacher_center/component/other-identity-uploader.html" desc="请提交在有效期内的教师证照片，需保证头像及文字清晰可见。" type="" }}
                    </div>
                    {{ else }}
                    <div class="form add">
                        <div class="show">
                            <div class="image">
                                <img src="" alt="" />
                            </div>
                            <div class="status">
                                <span>排队审核中，请耐心等待..</span>
                                <p class="prompt">
                                    教师证认证审核中，我们会尽快处理，请耐心等待...
                                </p>
                            </div>
                        </div>
                        {{ include file="teacher_center/component/other-identity-uploader.html" desc="请提交在有效期内的教师证照片，需保证头像及文字清晰可见。" }}
                    </div>
                    {{ /if }}
                </div>

                <div class="item specialty">
                    <div class="card-title form-trigger">

                        <div class="status">

                            {{ if $tpl_data.certs.professional_certificate.id }}
                                {{ if $tpl_data.certs.professional_certificate.verify_status == 0 }}
                                    <span class="text-primary">
                                        <i class="icon icon-clock"></i>
                                    </span>
                                {{ elseif $tpl_data.certs.professional_certificate.verify_status == 1 }}
                                    <span class="text-success">
                                        <i class="icon icon-check-circle"></i>
                                    </span>
                                {{ elseif $tpl_data.certs.professional_certificate.verify_status == 2 }}
                                    <span class="text-error">
                                        <i class="icon icon-info-circle"></i>
                                    </span>
                                {{ /if }}
                            {{ else }}
                                <span class="text-muted">
                                    <i class="icon icon-check-circle"></i>
                                </span>
                            {{ /if }}

                            <h3 {{ if $tpl_data.certs.professional_certificate.verify_status == 1 }}class="text-success"{{ /if }}>专业资质认证</h3>

                            {{ if $tpl_data.certs.professional_certificate.id }}
                                {{ if $tpl_data.certs.professional_certificate.verify_status == 0 }}
                                    <span class="text-primary">（审核中）</span>
                                {{ elseif $tpl_data.certs.professional_certificate.verify_status == 1 }}
                                    <span class="text-success">（已认证）</span>
                                {{ elseif $tpl_data.certs.professional_certificate.verify_status == 2 }}
                                    <span class="text-error">（未通过审核）</span>
                                {{ /if }}
                            {{ else }}
                                <span class="text-muted">（尚未认证）</span>
                            {{ /if }}
                        </div>

                        <div class="prompt">
                            专业资质认证可提升学生对专业技能的认可度
                        </div>

                        {{ if $tpl_data.certs.professional_certificate.verify_status != 1 }}
                        <button class="btn btn-info btn-auth">认证</button>
                        {{ /if }}

                    </div>

                    {{ if $tpl_data.certs.professional_certificate.id }}
                    <div class="form edit">
                        <div class="show" data-type='specialty' data-form='{{ json_encode($tpl_data.certs.professional_certificate) }}'>
                            <div class="image" data-image="{{ $tpl_data.certs.professional_certificate.url }}">

                                {{ include file="common/component/image.html" url=$tpl_data.certs.professional_certificate.url width=240 }}
                                <div class="image-finder"></div>
                                <div class="image-viewport"></div>

                            </div>
                            <div class="status">
                                {{ if $tpl_data.certs.professional_certificate.verify_status == 0 }}
                                    <div class="message message-primary">
                                        <i class="icon icon-clock"></i>
                                        排队审核中，请耐心等待..
                                    </div>
                                    <p class="prompt">
                                        专业资质认证审核中，我们会尽快处理，请耐心等待...
                                    </p>
                                {{ elseif $tpl_data.certs.professional_certificate.verify_status == 1 }}
                                    <div class="message message-success">
                                        <i class="icon icon-check-circle"></i>
                                        已认证！
                                    </div>
                                    <p class="prompt">
                                        恭喜你，专业资质认证已通过！
                                    </p>
                                {{ elseif $tpl_data.certs.professional_certificate.verify_status == 2 }}
                                    <div class="message message-error">
                                        <i class="icon icon-info-circle"></i>
                                        {{ foreach $tpl_data.certs.professional_certificate.reasons as $reason }}
                                            {{ $reason }}；
                                        {{ /foreach }}
                                    </div>
                                    <p class="prompt">
                                        专业资质认证失败，请重新上传认证信息。
                                    </p>
                                {{ /if }}

                                {{ if $tpl_data.certs.professional_certificate.verify_status == 2 }}
                                <button class="btn btn-info btn-reupload">重新上传</button>
                                {{ /if }}

                            </div>
                        </div>
                        {{ include file="teacher_center/component/other-identity-uploader.html" desc="请提交你教学能力或专业能力的证明，如职称证书、考级证书等。" }}
                    </div>
                    {{ else }}
                    <div class="form add">
                        <div class="show">
                            <div class="image">
                                <img src="" alt="" />
                            </div>
                            <div class="status">
                                <span>排队审核中，请耐心等待..</span>
                                <p class="prompt">
                                    专业资质认证审核中，我们会尽快处理，请耐心等待...
                                </p>
                            </div>
                        </div>
                        {{ include file="teacher_center/component/other-identity-uploader.html" desc="请提交你教学能力或专业能力的证明，如职称证书、考级证书等。" }}
                    </div>
                    {{ /if }}
                </div>
            </div>

        </div>

    </div>

{{ /strip }}
{{ /block }}
