{{ extends file="common/center/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "teacherCenter/classCourse" }}

    {{ if !isset($tpl_data.other) }}
        {{ $tpl_data.other = "" }}
    {{ /if }}

    {{ $script_data.other = $tpl_data.other }}

    {{ if isset($tpl_data.total_pay) && $tpl_data.total_pay > 0 }}
        {{ $has_student = 1 }}
    {{ else }}
        {{ $has_student = 0 }}
    {{ /if }}

    {{ $script_data.hasStudent = $has_student }}

    {{ if isset($tpl_data.display_status) }}
        {{ $script_data.displayStatus = $tpl_data.display_status }}
    {{ /if }}

    {{ if isset($smarty.get.show_plan) }}
        {{ $script_data.showPlan = $smarty.get.show_plan }}
    {{ /if }}

    {{ $script_data.data = $tpl_data }}

    {{ if isset($smarty.get.type) }}
        {{ $script_data.urlType = $smarty.get.type }}
    {{ else }}
        {{ $script_data.urlType = '' }}
    {{ /if }}

{{ /block }}

{{ block name="title" prepend }}
班课设置 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/teacherCenter/classCourse.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}

    {{ include file="teacher_center/common/sidebar.html" active="course" }}

    <div id="content" class="card">
        <div class="card-header">
            <h2>
                <a href="/teacher_course/list_admin" class="text-info">课程设置</a>&nbsp;&gt;&nbsp;
                <a href="/teacher_center/classCourseSearch" class="text-info">班课</a>&nbsp;&gt;&nbsp;
                班课设置
            </h2>
        </div>

        <div class="card-body">

            {{ if isset($tpl_data.reason_list) }}
                {{ $reasonList = $tpl_data.reason_list }}
                {{ include file="teacher_center/course/classSubject.html" reason=$reasonList.basic }}
                {{ include file="teacher_center/course/classPhoto.html" reason=$reasonList.photo }}
                {{ include file="teacher_center/course/classTeachingPlan.html" reason=$reasonList.schedule }}
                {{ include file="teacher_center/course/classInfo.html" reason=$reasonList.introduction }}
            {{ else }}
                {{ include file="teacher_center/course/classSubject.html" reason='' }}
                {{ include file="teacher_center/course/classPhoto.html" reason='' }}
                {{ include file="teacher_center/course/classTeachingPlan.html" reason='' }}
                {{ include file="teacher_center/course/classInfo.html" reason='' }}
            {{ /if }}

            <!--状态按钮-->
            <div class="action action-btns">

                {{ if empty($tpl_data.display_status) }}
                {{ $tpl_data.display_status = '1' }}
                {{ /if }}

                {{ * 初始化保存后 或 审核失败后 * }}
                {{ if (($tpl_data.display_status == '1') && !empty($tpl_data.number)) || ($tpl_data.display_status == '8' && $tpl_data.verify_status == '2') }}
                <a href="/class_course/preview?number={{ $tpl_data.number }}" class="btn btn-info preview" target="_blank">预览班课</a>
                {{ /if }}

                {{ if $tpl_data.display_status == '1' }}
                <button class="btn-primary submit-audit"{{ if isset($tpl_data.is_complete) && $tpl_data.is_complete == '2' }} disabled{{ /if }}>提交审核</button>
                {{ /if }}

                {{ * 正在招生 * }}
                {{ if $tpl_data.display_status == '2' }}
                <button class="btn-info stop">暂停招生</button>
                {{ /if }}

                {{ * 暂停招生 * }}
                {{ if $tpl_data.display_status == '3' && $tpl_data.begin_time > time() }}
                <button class="btn-info goon">继续招生</button>
                {{ /if }}

                {{ * 审核中 且审核未失败 * }}
                {{ if $tpl_data.display_status == '8' && $tpl_data.verify_status != '2' }}
                <button class="btn-info revoke-audit">撤回审核</button>
                {{ /if }}

                <a class="btn btn-default samll" href="/teacher_center/classCourseSearch">返回</a>

                <div class="text-info">
                    {{ if isset($tpl_data.is_complete) && $tpl_data.is_complete == 2 }}

                        <i class="icon icon-info-circle"></i>
                        班课信息编辑完整后才能提交审核哦~

                    {{ elseif $tpl_data.display_status == 1 }}

                        <i class="icon icon-info-circle"></i>
                        请确保无误后再提交审核，审核通过后该班课将会自动开始招生

                    {{ elseif $tpl_data.display_status == 8 && $tpl_data.verify_status == 2 }}

                        <i class="icon icon-info-circle"></i>
                        你的班课信息包含违规内容，请修改后再次提交审核

                    {{ /if }}
                </div>

            </div>

        </div>
    </div>

    {{ include file="common/component/ueditor.html" }}

{{ /strip }}
{{ /block }}
