{{ *

@file 视频课管理
@author jixiaohui

* }}
{{ extends file="common/center/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}
    {{ $nav_active_tab = 'index' }}

    {{ $script_path = "teacherCenter/myVideoCourse" }}
    {{ $counter = 0 }}
    {{ foreach $tpl_data.video_list as $val }}
        {{ if $val.profile_show }}
            {{ $counter = $counter +1 }}
        {{ /if }}
    {{ /foreach }}
    {{ $script_data.mainCount = (3 - $tpl_data.main_count + $counter) }}
    {{ $script_data.vip_level = $user_data.vip_level }}

{{ /block }}

{{ block name="title" prepend }}
视频课管理 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/teacherCenter/myVideoCourse.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}

    {{ include file="teacher_center/common/sidebar.html" active="courseSettings" }}

    <div id="content" class="card">
        <div class="card-header">
            <h2>
                <a href="/teacher_course/list_admin" class="text-info">课程设置</a>
                &nbsp;&gt;&nbsp;
                视频课
            </h2>
        </div>
        <div class="card-body">

            <div class="tab">

                <div class="tab-nav-info">
                    <a href="/teacher_course/list_admin" class="nav-item">1对1</a>
                    {{ if $env === 'www' }}
                    <a href="http://b.genshuixue.com/detail.html#/courseList/one2one" class="nav-item one2one-best">
                        优选1对1
                    </a>
                    {{ else }}
                        <a href="http://{{ $env }}-b.genshuixue.com/detail.html#/courseList/one2one" class="nav-item one2one-best">
                            优选1对1
                        </a>
                    {{ /if }}
                    <a href="/tcenter/courses/class-courses/list-html?lesson_way=4" class="nav-item">
                        线下班课
                        {{ if isset($tpl_data.is_complete) && $tpl_data.is_complete == false }}
                        <i class="icon icon-info-circle"></i>
                        {{ /if }}
                    </a>
                    <a href="/tcenter/courses/class-courses/list-html?lesson_way=2" class="nav-item">直播课</a>
                    <a class="nav-item active">视频课</a>
                </div>

                <div class="tab-content">
                    <div class="video-course-body">

                    <a class="btn btn-info add-video">
                        <i class="icon icon-plus"></i>
                        添加课程
                    </a>
                    <a class="btn btn-primary add-watermark">
                        <i class="icon icon-plus"></i>
                         添加水印
                    </a>

                    <div class="tab-nav tab-nav-info sub-nav">
                        {{ if $tpl_data.type == 1 }}
                            <span class="nav-item active">
                                全部课程 {{ ** <em>1</em> ** }}
                            </span>
                        {{ else }}
                            <a class="nav-item" href="/video_course/getcourselist?type=1&page=1&page_size=10">
                                全部课程
                            </a>
                        {{ /if }}

                        {{ if $tpl_data.type == 2 }}
                            <span class="nav-item active">
                                付费课程
                            </span>
                        {{ else }}
                            <a class="nav-item" href="/video_course/getcourselist?type=2&page=1&page_size=10">
                                付费课程
                            </a>
                        {{ /if }}

                        {{ if $tpl_data.type == 3 }}
                            <span class="nav-item active">
                                免费课程
                            </span>
                        {{ else }}
                            <a class="nav-item" href="/video_course/getcourselist?type=3&page=1&page_size=10">
                                免费课程
                            </a>
                        {{ /if }}

                        {{ if $tpl_data.type == 4 }}
                            <span class="nav-item active">
                                待发布
                            </span>
                        {{ else }}
                            <a class="nav-item" href="/video_course/getcourselist?type=4&page=1&page_size=10">
                                待发布
                            </a>
                        {{ /if }}

                        {{ if $tpl_data.type == 5 }}
                            <span class="nav-item active">
                                已下架
                            </span>
                        {{ else }}
                            <a class="nav-item" href="/video_course/getcourselist?type=5&page=1&page_size=10">
                                已下架
                            </a>
                        {{ /if }}

                    </div>

                    {{ if empty($tpl_data.video_list) }}
                    <div class="empty-list">
                        <div class="pic"></div>
                        {{ if $tpl_data.type == 1 }}
                            <span>快来上传你的第一门视频课吧~</span>
                        {{ else }}
                            <span>该分类下还没有视频课哦~</span>
                        {{ /if }}
                    </div>
                    {{ else }}
                    <div class="video-list">
                        {{ foreach $tpl_data.video_list as $val }}
                            <div class="video-item">
                                <div class="wrapper">


                                    <div class="action">

                                        {{ **video_status不为1和3时才展示** }}
                                        {{ if $val.video_status != 1 && $val.video_status != 3 }}
                                            <a href="/video_course/getcourseeditdetail?number={{ $val.number }}&user_number={{ $user_data.user_number }}&status=2" data-status="{{ $val.status }}" data-videostatus="{{ $val.video_status }}" class="edit">
                                                编辑
                                            </a>
                                        {{ /if }}

                                        {{ if !empty($val.online_status) && $val.online_status == 1 }}
                                            <a  href="/video_course/getcourseshowdetail?number={{ $val.number }}&user_number={{ $user_data.user_number }}&is_preview=1"  class="preview" target="_blank">
                                                    预览
                                            </a>
                                        {{ /if }}

                                        {{ if !empty($val.online_status) }}
                                            {{ if $val.online_status == 1 }}
                                                <a class="dropdown" data-number="{{ $val.number }}" data-title="下架后,付费学生在有效期内可以继续观看">
                                                    下架
                                                </a>
                                            {{ /if }}
                                            {{ if $val.online_status == 3 }}
                                                <a class="updown" data-number="{{ $val.number }}" data-url="/video_course/getcourseshowdetail?number={{ $val.number }}&user_number={{ $user_data.user_number }}">
                                                    上架
                                                </a>
                                             {{ /if }}
                                        {{ /if }}

                                        {{ ** 课程状态为“已下架”的时候才展示** }}
                                        {{ ** 或课程状态为“待发布”的时候才展示** }}
                                        {{ if $val.can_delete == "true" }}
                                            <a class="delete" data-number="{{ $val.number }}" data-url="">
                                                删除
                                            </a>
                                        {{ /if }}

                                        {{ **video_status为1,2,3,4的时候才展示** }}
                                        {{ if $val.can_cancel == "true" }}
                                            <a data-number="{{ $val.number }}" class="undo">
                                                {{ if !empty($val.online_status) }}
                                                    {{ if $val.online_status == -1 }}
                                                        撤销发布
                                                    {{ else }}
                                                        撤销修改
                                                    {{ /if }}
                                                {{ else }}
                                                    撤销
                                                {{ /if }}
                                            </a>
                                        {{ /if }}

                                        <a href="/tcenter/courses/files/list?number={{ $val.number }}&type=3">
                                            共享资料
                                        </a>

                                        {{ if false }}
                                            <label for="check-num{{ $val@index }}">
                                                <input type="checkbox" id="check-num{{ $val@index }}" data-dateid="{{ $val@index }}" {{ if $val.profile_show }}checked="checked"{{ /if }} data-number="{{ $val.number }}">
                                                    在个人主页显示
                                            </label>
                                        {{ /if }}
                                    </div>


                                    {{ include file="common/variable/photo.html" url=$val.portrait raw_width=300 raw_height=200 width=180 height=120 }}

                                    
                                    <a class="avatar" {{ if !empty($val.online_status) && $val.online_status == 1 }} href="/video_course/getcourseshowdetail?number={{ $val.number }}&user_number={{ $user_data.user_number }}&is_preview=1" target="_blank" {{ /if }}><img src="{{ $photo }}"></a>
                                    <div class="detail {{ if $val.status != 1 }}no-publish{{ /if }}">
                                        <h1 class="title">
                                            {{ $video_title = $val.name|cn_truncate:20 }}

                                            
                                            <a {{ if !empty($val.online_status) && $val.online_status == 1 }} href="/video_course/getcourseshowdetail?number={{ $val.number }}&user_number={{ $user_data.user_number }}&is_preview=1" target="_blank" {{ /if }}
                                            {{ if (!empty($val.video_status)&&($val.video_status != 3))||($val.name != $video_title) }} data-title="{{ $val.name }}" data-width="20em"{{ /if }}>

                                            {{ if !empty($val.video_status)&&($val.video_status != 3) }}
                                                {{ $val.name|cn_truncate:10 }}
                                            {{ else }}
                                                {{ $val.name|cn_truncate:20 }}
                                            {{ /if }}

                                            </a>

                                            {{ if !empty($val.online_status) }}

                                                {{ if $val.online_status == 3 }}
                                                    <span class="drop-down">
                                                        已下架
                                                    </span>
                                                {{ else if $val.online_status == 1 }}
                                                    <span class="wait-publish">
                                                        售卖中
                                                    </span>
                                                {{ /if }}
                                            {{ /if }}

                                            {{ if empty($val.video_status) }}
                                                {{ if $val.status == 2 }}
                                                    <span class="wait-publish">待发布</span>
                                                {{ /if }}
                                            {{ else if $val.status != 2 }}
                                                {{ if $val.video_status == 1 }}
                                                    <span class="checking">视频课正在转码中，请耐心等待</span>
                                                {{ else if $val.video_status == 2 }}
                                                    <span class="cannotplay"><i class="icon icon-info-circle"></i>{{ $val.video_status_msg }}</span>
                                                {{ else if $val.video_status == 3 }}
                                                    <span class="examing">
                                                    {{ if !empty($val.online_status) }}
                                                        {{ if $val.online_status == -1 }}
                                                            审核中
                                                        {{ else }}
                                                            修改审核中
                                                        {{ /if }}
                                                    {{ else }}
                                                        审核中
                                                    {{ /if }}
                                                    </span>
                                                {{ else }}
                                                    <a href="/video_course/getcourseeditdetail?number={{ $val.number }}&user_number={{ $user_data.user_number }}&status=2" data-status="{{ $val.status }}" data-videostatus="{{ $val.video_status }}" class="edit">

                                                    <span class="wrong-content">
                                                    <i class="icon icon-info-circle">
                                                    </i>该课程审核不通过，点击查看详情</span></a>
                                                {{ /if }}
                                            {{ /if }}
                                        </h1>
                                        <p class="summary">{{ $val.introduce|cn_truncate:80 }}</p>
                                        <div class="info">
                                            {{ if $val.price == 0 }}
                                                <span class="price">免费</span>
                                                {{ if $val.status != 2 }}
                                                    <span class="num">{{ $val.payers_count }}人报名</span>
                                                {{ /if }}
                                                {{ if isset($val.payers_count) && $val.payers_count != '0' }}
                                                    {{ if isset($tpl_data.has_roster) && $tpl_data.has_roster }}
                                                        <a class="roster" href="{{ $val.roster_url }}" target="_blank" data-price="{{ $val.price }}">
                                                            查看花名册
                                                        </a>
                                                    {{ else }}
                                                        <span class="primary" data-title="您无权查看花名册，机构老师请通过机构后台进入老师个人中心查看；个体老师请直接进入老师个人中心查看。
                                                        ">
                                                            查看花名册
                                                        </span>
                                                    {{ /if }}
                                                {{ /if }}
                                            {{ else }}
                                                <span class="price">￥{{ $val.price }}</span>
                                                {{ if $val.status != 2 }}
                                                    <span class="num">{{ $val.payers_count }}人购买</span>
                                                    {{ if isset($val.payers_count) && $val.payers_count != '0' }}
                                                        {{ if isset($tpl_data.has_roster) && $tpl_data.has_roster }}
                                                            <a class="roster" href="{{ $val.roster_url }}" target="_blank" data-price="{{ $val.price }}">
                                                                查看花名册
                                                            </a>
                                                        {{ else }}
                                                            <span class="primary" data-title="您无权查看花名册，机构老师请通过机构后台进入老师个人中心查看；个体老师请直接进入老师个人中心查看。">
                                                                查看花名册
                                                            </span>
                                                        {{ /if }}
                                                    {{ /if }}
                                                    <span class="income">课程收益：<em>￥{{ $val.income }}</em></span>
                                                {{ /if }}
                                            {{ /if }}

                                        </div>
                                    </div>

                                    {{ if empty($val.video_status) }}
                                        {{ if $val.status == 1 }}
                                        <span class="social-share">

                                            {{ $share_text = "#跟谁学# 分享一门精致视频课程给你哦~"|cat:$val.name }}
                                            {{ $share_text = $share_text|cat: "，还在等什么？找好老师，上跟谁学，快来开启寻师之旅吧！" }}

                                            {{ $share_data = [] }}
                                            {{ $share_data.url = $root_http|cat: '/video_course/getcourseshowdetail?number='|cat: $val.number }}
                                            {{ $share_data.title = $share_text }}
                                            {{ $share_data.content = ' ' }}
                                            {{ $share_data.img = $val.portrait }}

                                            {{ $is_self_share = isset($val.self_share_info) && $val.self_share_info }}

                                            <a class="share-wrapper" data-share-title='{{ $share_data.title }}' data-share-content='{{ $share_data.content }}' data-share-url='{{ $share_data.url }}' data-share-img='{{ $share_data.img }}'
                                            {{ if $is_self_share }} data-query='{"sf": 1}'{{ /if }}>
                                                <i class="icon icon-share"></i>
                                                分享
                                            </a>
                                            {{ if $is_self_share }}
                                            <small>
                                                {{ $val.self_share_info }}
                                            </small>
                                            {{ /if }}
                                        </span>
                                        {{ /if }}
                                    {{ /if }}
                                </div>
                            </div>
                        {{ /foreach }}
                    </div>
                    {{ /if }}
                    {{ include file="common/component/pager.html" page=$tpl_data.pager.page page_size=$tpl_data.pager.page_size count=$tpl_data.pager.count url="/video_course/getcourselist?page_size=10&type="|cat:$tpl_data.type }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ /strip }}
{{ /block }}

