{{ extends file="common/center/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "teacherCenter/uploadVideo" }}
    {{ **视频上传统计** }}
    {{ $script_data.report = $tpl_data.report }}
{{ /block }}

{{ block name="title" prepend }}
上传视频 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/teacherCenter/uploadVideo.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}

    {{ include file="teacher_center/common/sidebar.html" active="video" }}

    <div id="content" class="card">
        <div class="card-header">
            <a href="/teacher_center/video">
                <i class="icon icon-chevron-left"></i>
                返回
            </a>
            <h2>上传视频</h2>
        </div>
        <div class="card-body">

            <div class="upload-form">

                <div class="upload-panel">

                    <span class="btn btn-info btn-upload">
                        点击上传
                    </span>

                    <span class="hint">
                        .mp4/.avi/.wmv/.rm/.rmvb/.mov/.flv 格式均可上传
                    </span>

                    <div class="resume-status">
                        正在尝试断点续传，请稍等...
                        <button class="btn-default btn-upload-again">取消续传</button>
                    </div>

                    <div class="upload-status">

                        <div class="wrapper">
                            <div class="progress huge">
                                <div class="progress-bar-info">
                                    <span>0%</span>
                                </div>
                            </div>
                            <div class="info">
                                <div class="bytes">
                                    <span class="uploaded-bytes"></span>
                                    /
                                    <span class="total-bytes"></span>
                                </div>
                                <strong class="filename"></strong>
                            </div>
                        </div>

                        <b class="btn-link btn-cancel-upload">取消上传</b>
                    </div>
                </div>

                <div class="form">
                    <div class="form-group">
                        <label class="form-label">
                            标题：
                        </label>
                        <div class="form-controls">
                            <input type="text" class="form-text" name="title" required />
                            <span class="error"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">
                            分类：
                        </label>
                        <div class="form-controls">

                            {{ include file="common/component/radio.html" name="category" value="0" text="自我介绍" }}

                            {{ include file="common/component/radio.html" name="category" value="1" text="讲课短片" }}

                            {{ include file="common/component/radio.html" name="category" value="2" text="才艺展示" }}

                            {{ include file="common/component/radio.html" name="category" value="3" text="其他" }}

                            {{ include file="common/component/radio.html" name="category" value="4" text="2016互联网风云老师" class="text-primary" }}

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">
                            标签：
                        </label>
                        <div class="form-controls">
                            <input type="text" class="form-text" name="labels" />

                            <div class="form-block form-hint">
                                <i class="icon icon-info-circle"></i>
                                请将视频大小控制在1G之内，视频必须为您的原创作品，并且不能在视频中以任何方式给机构打广告哦~
                            </div>

                        </div>
                    </div>

                    <div class="form-action">
                        <button class="btn btn-primary">保存</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

{{ /strip }}
{{ /block }}
