{{ *
@file 考研搜索结果页
@author caoying
@date 2016-02-17
* }}

{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
考研专区 - 找考研名师，上跟谁学考研
{{ /block }}

{{ block name="data" }}
    {{ $need_im = false }}
    {{ $smarty.block.parent }}
    {{ $script_path = "kaoyan/searchList" }}

    {{ if isset($smarty.get.subject_id) }}
        {{ $subject_id = $smarty.get.subject_id }}
    {{ else }}
        {{ $subject_id = "" }}
    {{ /if }}

    {{ if isset($smarty.get.teacher_number) }}
        {{ $teacher_number = $smarty.get.teacher_number }}
    {{ else }}
        {{ $teacher_number = "" }}
    {{ /if }}

    {{ if isset($smarty.get.course_type) }}
        {{ $course_type = $smarty.get.course_type }}
    {{ else }}
        {{ $course_type = "" }}
    {{ /if }}

    {{ $show_friend_links = true }}
    {{ $flotage_config.hidden = 1 }}
    {{ $script_data.subject_id = $subject_id }}

    {{ if $subject_id == 1 }}
        {{ $page_name = "kaoyan-politic" }}
    {{ else if $subject_id == 2 }}
        {{ $page_name = "kaoyan-english" }}
    {{ else if $subject_id == 3 }}
        {{ $page_name = "kaoyan-math" }}
    {{ else if $subject_id >= 4 }}
        {{ $page_name = "kaoyan-specialized-course" }}
    {{ else }}
        {{ $page_name = "" }}
    {{ /if }}

    {{ * sku上报统计标识 * }}
    {{ $class_name = ['','1v1','class','video','3810','tryClass','','pkgClass'] }}

{{ /block }}


{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/kaoyan/searchList.less" xmlns="http://www.w3.org/1999/html">
{{ /block }}

{{ strip }}
{{ block name="body" }}
{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="kaoyan/component/consult.html" }}
{{ include file="kaoyan/component/header.html" }}
{{ include file="common/script.html" }}

<div id="main">
    {{ * 头部搜索条件 * }}
    <div class="content-header">
        <div class="header">共{{ $tpl_data.course_list.pager.count }}条记录</div>
        <div class="search-condition">
            {{ * 科目搜索条件 * }}
            {{ if !empty($tpl_data.subjects.subjectList) }}
            <div class="subject-list">
                <span class="item-name">科目：</span>
                <ul class="ul-subjects">
                    {{ foreach $tpl_data.subjects.subjectList as $subject }}
                    <li data-code="{{ $subject.id }}" {{ if $subject.id == $subject_id }} class="active" {{ /if }}>{{ $subject.name }}</li>
                    {{ /foreach }}
                </ul>
            </div>
            {{ /if }}
            {{ * 老师搜索条件 * }}
            {{ if !empty($tpl_data.teachers) }}
            <div class="teacher-list">
                <span class="item-name">老师：</span>
                <ul class="ul-teachers">
                    {{ foreach $tpl_data.teachers as $teacher }}
                    <li data-code="{{ $teacher.number }}" {{ if $teacher.number == $teacher_number }} class="active" {{ /if }}>
                    {{ if strlen($teacher.name) > 16 }}
                    {{ mb_substr($teacher.name,0,5)|cat:"..." }}
                    {{ else }}
                    {{ $teacher.name }}
                    {{ /if }}
                    </li>
                    {{ /foreach }}
                </ul>
            </div>
            {{ /if }}
            {{ * 课程播放方式 * }}
            <div class="class-way">
                {{ foreach $tpl_data.course_type as $key=>$courseType }}
                <label class="play-way"><input type="checkbox" {{ if !empty($course_type) }} {{ if $course_type == $courseType.id }} checked="true" {{ /if }} {{ else }} checked="true"{{ /if }}value="{{ $courseType.id }}"/>{{ $courseType.str }}</label>
                {{ /foreach }}
            </div>
        </div>

        {{ * 老师列表 * }}
        <ul class="result-teacher-list">
            {{ foreach $tpl_data.course_list.courses as $result }}
            <li {{ if ($result@index+1) mod 4 eq 0 }} class="line-last" {{ /if }} data-click="{{ $page_name|cat:".course" }}" data-sku="{{ $class_name[$result.course_type] }}|{{ $result.number }}">
                {{ * 课程封面图 * }}
                <a href="{{ $result.detail_url }}" class="class-cover" target="_blank">
                    {{ include file="common/component/image.html" width=275 height=145 url=$result.cover }}
                </a>
                <div class="class-info-all">
                    <div class="class-intro">
                        <span class="lesson-count">
                            {{ if $result.course_type == 2 }}
                            {{ $result.time_summary }}
                            {{ else }}
                            {{ $result.schedule_count }}
                            {{ /if }}
                        </span>
                        <span class="teacher-name">
                            {{ if !empty($result.teacher_name) }}
                            {{ $result.teacher_name }}
                            {{ else }}
                            {{ $result.course_type_str }}
                            {{ /if }}
                        </span>
                    </div>
                    {{ * 课程名 * }}
                    <a href="{{ $result.detail_url }}" class="class-name" target="_blank">{{ $result.name }}</a>
                    {{ * 价格 * }}
                    <a href="{{ $result.detail_url }}" class="price-student" target="_blank">
                        <span class="price {{ if $result.price == 0 }}free{{ /if }}">
                            {{ if $result.price == 0 }}
                            免费
                            {{ else }}
                            ¥{{ $result.price }}
                            {{ /if }}
                        </span>
                        <span class="student-count">
                            {{ $result.student_count }}
                        </span>
                    </a>
                    <a href="{{ $result.detail_url }}" class="enrolling-btn" target="_blank">
                        立即报名
                    </a>
                </div>
            </li>
            {{ /foreach }}
        </ul>

        {{ * 翻页 * }}
        {{ include file="common/component/pager.html" page=$tpl_data.course_list.pager.page page_size=$tpl_data.course_list.pager.page_size count=$tpl_data.course_list.pager.count }}

        {{ * 名师团队 * }}
        {{ if !empty($tpl_data.famous_team) }}
        {{ * 名师列表 * }}
        <div class="famous-slider-container">
            {{ * 头部 * }}
            <div class="header-title">
                <span class="title">{{ $tpl_data.famous_team.title }}</span>
                {{ if $tpl_data.famous_team.list|count > 4 }}
                <span class="icon-pager">
                    <i class="icon icon-chevron-left"></i>
                    <i class="icon icon-chevron-right"></i>
                </span>
                {{ /if }}
            </div>

            <ul class="slider-ul">
                {{ for $j=0; $j<$tpl_data.famous_team.list|count; $j = $j+4 }}
                <li class="slider-li" data-index="{{ $j/4 }}">
                    <ul class="line-ul">
                        {{ $length = 0 }}
                        {{ if $j+4 < $tpl_data.famous_team.list|count }}
                        {{ $length = $j+4 }}
                        {{ else }}
                        {{ $length = $tpl_data.famous_team.list|count }}
                        {{ /if }}
                        {{ for $i=$j; $i<$length; $i++ }}
                        <li class="famous-item {{ if ($i+1) mod 4 eq 0 }}line-last{{ /if }}" data-click="{{ $page_name|cat:".teacher" }}" data-sku="teacher|{{ $tpl_data.famous_team.list[$i].number }}">
                            <a href="{{ $tpl_data.famous_team.list[$i].url }}" target="_blank" class="img-info">
                                {{ include file="common/component/image.html" width=275 height=275 url=$tpl_data.famous_team.list[$i].pic_url }}
                                <div class="teacher-intro">
                                    <p class="teacher-name">{{ $tpl_data.famous_team.list[$i].name|cn_truncate:9 }}</p>
                                    <p class="intro">{{ $tpl_data.famous_team.list[$i].short_introduce|cn_truncate:30 }}</p>
                                </div>
                            </a>
                        </li>
                        {{ /for }}
                    </ul>
                </li>
                {{ /for }}
            </ul>
        </div>
        {{ /if }}
    </div>
</div>

{{ include file="kaoyan/component/footer.html" }}
{{ /block }}
{{ /strip }}