{{ *

@file 学生-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="change">
    <h2>变更账号密码</h2>
    <h3>1. 如果忘记登录密码怎么办？</h3>
    <p>首先在登录页面点击“忘记密码”，然后依据提示输入手机号码、短信校验码、新密码即可。</p>
    <img src="{{ $static_origin }}/asset/img/guide/student/6_f810c8b338.jpg" alt="变更账号"/>
    <h3>2. 我想更换绑定手机怎么办？</h3>
    <p>你可以使用之前注册的手机号登录，随后在“我的跟谁学”页面点击“账户设置”，点击“修改绑定手机”，按提示进入“下一步”，绑定新的手机。</p>
    <img src="{{ $static_origin }}/asset/img/guide/student/7_fe1d87f7e0.jpg" alt="变更账号"/>
    <img src="{{ $static_origin }}/asset/img/guide/student/8_c666b067de.jpg" alt="变更账号"/>
</div>




{{ /strip }}