{{ *

@file 学生-帮助中心
@author tangrongyan

* }}

{{ strip }}


<div class="combo">
    <h2>课时优惠包</h2>
    <h3>1. 如何购买一对一课程？</h3>
    <p>在老师主页中找到课程，在课程展示页面选择适合的课程，点击“购买课程”，也可以在打开学生APP在老师主页上点击“立即购买”。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/student/17_fd4760d68f.jpg" alt="课时优惠包" />
    <img class="mobile-img" src="{{ $static_origin }}/asset/img/guide/student/18_2907d200e8.png" alt="课时优惠包" />
    <h3>2. 什么是课时优惠包？ </h3>
    <p>课时优惠包是老师设置以供购买的不同课时长度。而学生选择了具体的科目跟上课方式后，再购买课时优惠包便可以进行购买。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/student/19_acca2a8061.jpg" alt="课时优惠包" />
    <h3>3. 老师优惠券应该如何领取？ 如何使用？</h3>
    <p>如果老师设置了优惠券，可以在老师的个人主页（电脑端和手机端）点击领取。在您购买该老师课程时，可以在优惠券可用的范围内（价格、有效期等）使用， 实际付款价格为优惠后的价格。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/student/20_f95e1790b8.jpg" alt="课时优惠包" />
    <img class="mobile-img" src="{{ $static_origin }}/asset/img/guide/student/21_7399633f1b.jpg" alt="课时优惠包" />
    <h3>4. 我能为其他人购买订单吗？</h3>
    <p>可以。如果你要为其他人购买订单，你在提交订单时可以选择不是本人上课，然后填写具体的上课者姓名即可。但是考虑到今后所有的操作都在本账号上进行，并且暂不提供填写具体上课者联系方式的功能，你最好只为自己的家人孩子购买订单。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/student/22_e5b1282d07.jpg" alt="课时优惠包" />
    <h3>5. 如何对想要购买的课程进行支付呢？</h3>
    <p>课程购买后，点击“提交订单”，目前平台支持多种支付方式，包括快捷支付、支付宝支付、网上银行支付和微信支付。</p>
    <img  src="{{ $static_origin }}/asset/img/guide/student/23_4e629f0d4a.jpg" alt="课时优惠包" />
</div>




{{ /strip }}