{{ *

@file 班课信息
@author zhujialu

* }}
{{ strip }}
<div class="class-course">

    {{ $teacher_home = '/teacher/detail/'|cat: $profile.id }}

    <a href="{{ $teacher_home }}" target="_blank" class="thumbnail circle">

        {{ include file="common/component/image.html" url=$profile.avatar width=80 }}

        {{ $name_cut = $profile.name|cn_truncate: 6 }}

        {{ if $profile.name != $name_cut }}
            {{ $title = ' data-title="'|cat: $profile.name|cat: '"' }}
        {{ else }}
            {{ $title = '' }}
        {{ /if }}

        <span class="title"{{ $title }}>
            {{ $name_cut }}
        </span>

    </a>

    <div class="course-info">

        <h4 class="course-name">
            {{ $class_course.course_name|cn_truncate: 25 }}
        </h4>

        <div class="course-price">
            <label>
                课程总价：
            </label>
            <span class="text-primary">
                ￥{{ $class_course.total_price|number_format: 2 }}
            </span>
        </div>

        <div class="course-length">
            <label>
                课程时长：
            </label>
            {{ $class_course.hours|number_format: 1 }} 小时
        </div>

        <div class="course-date">
            <label>
                课程时间：
            </label>

            {{ $begin_time = $class_course.begin_time|date_format: "%G年%m月%d日" }}

            {{ $end_time = $class_course.end_time|date_format: "%G年%m月%d日" }}

            {{ if $begin_time == $end_time }}
                {{ $begin_time }}
            {{ else }}
                {{ $begin_time }} - {{ $end_time }}
            {{ /if }}

        </div>

        <div class="course-address">

            {{ include file="common/variable/lesson.html" scope=parent }}

            {{ if $lessonMap[$class_course.lesson_way] != '在线授课' }}

                <label>
                    上课地点：
                </label>

                {{ include file="common/function/displayAddress.html" address=$class_course.address_area }}

                {{ $real_address }}

            {{ else }}

                <label>
                    上课方式：
                </label>
                在线授课

            {{ /if }}

        </div>
    </div>

</div>
{{ /strip }}