{{ *

@file 老师信息
@author zhujialu

* }}

{{ strip }}
<dl class="teacher-info">
    <dt>
        {{ $teacher_home = '/teacher/detail/'|cat: $profile.number }}
        {{ include file="common/component/avatar.html" type="medium" img=$profile.avatar url=$teacher_home target="_blank" }}
    </dt>
    <dd>

        <div class="name">
            <a href="/teacher/detail/{{ $profile.number }}" target="_blank">
                {{ $profile.display_name }}
            </a>
        </div>

        <div class="form">
            <div class="header">

                {{ include file="common/component/allprice.html" tpl_data=$subject }}

                <span class="price">
                    <span>
                        ￥<strong class="price-value">0</strong>
                    </span>
                    / 小时
                </span>

                选择教学科目及上课方式

            </div>
            <div class="form-group course-group">
                <label class="form-label">
                    <i class="icon icon-info-circle"></i>
                    选择教学科目：
                </label>
                <div class="form-controls">
                    {{ include file="common/component/courseSelect.html" subject=$subject required=true }}
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-group lesson-way-group">
                <label class="form-label">
                    <i class="icon icon-info-circle"></i>
                    选择上课方式：
                </label>
                <div class="form-controls">
                    {{ include file="common/component/lessonWaySelect.html" required=true }}
                    <span class="error"></span>
                </div>
            </div>
        </div>

    </dd>
</dl>
{{ /strip }}