.one2one-detail {
	background: #f3f3f3;
	.top-banner {
		width: 100%;
		height: rem(140);
		img {
			width: 100%;
    		height: rem(140);
		}
	}
	.hava-top-bar {
		margin-top: rem(53);
	}
	.one-main {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.first-title {
		/*width: rem(345);
		margin: auto;*/
		height: rem(48);
		line-height: rem(48);
		margin-left: rem(15);
		/*padding-top: rem(15);
		padding-bottom: rem(15);*/
		text-align: left;
		color: #3d3d3e;
    	font-size: rem(16);
		font-family: PingFangSC-Semibold;
	}
	.demand-form {
		background: #fff;
		margin-bottom: rem(8);
	}
	.hot-classify {
		width: 100%;
		padding-bottom: rem(5);
		margin-bottom: rem(8);
		color: #3d3d3e;
		background: #fff;
	}
	.rcmd-teacher {
		background: #fff;
		margin-bottom: rem(8);
		.more-teacher {
			width: 100%;
		    height: rem(44);
		    line-height: rem(44);
		    text-align: center;
		    font-family: PingFang-SC-Regular;
		    font-size: rem(15);
		    color: #9d9d9e;
		}
	}
	.our-promise {
		background: #fff;
	}
}