// @import "../../../lib/icomoon/0.0.6/style.styl";
// @import "./normal.styl";
.ant-confirm {
    .ant-modal-content {
        border-radius: 8px;
        .ant-modal-close {
            display: inline-block;
            &-x {
                font-size: 25px;
                color: #CDCDCE;
            }
        }
    }
    .ant-modal-body {
        .ant-confirm-body-wrapper {
            .ant-confirm-body {
                text-align: center;
                i {
                    display: none;
                }
                .ant-confirm-title {
                    font-size: 20px;
                    position: relative;
                    bottom: 16px;
                }
                .ant-confirm-content {
                    font-size: 20px;
                    color: #3D3D3E;
                    margin: 25px 0 40px 0;
                    word-break: break-word;
                    .logger-id {
                        font-size: 14px;
                        color: #cdcdce;
                    }
                }
            }
            .ant-confirm-btns {
                height: 40px;
                float: none;
                text-align: center;
                .ant-btn {
                    font-size: 16px;
                    //width: 120px;
                    height: 40px;
                    &:hover {
                        border-color: #d9d9d9;
                        color: #6d6d6e;
                    }
                }
                .ant-btn-primary {
                    background-color: #ff6c00;
                    border-color: #ff6c00;
                    &:hover {
                        border-color: #ff6c00;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.ant-tooltip-inner {
    background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding: 14px;
    text-align: center;
    color: #6D6D6E;
}
.ant-tooltip-placement-top .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft .ant-tooltip-arrow,
.ant-tooltip-placement-topRight .ant-tooltip-arrow {
    border-top-color: rgba(255, 255, 255, 1);
}
.ant-tooltip-placement-right .ant-tooltip-arrow,
.ant-tooltip-placement-rightTop .ant-tooltip-arrow,
.ant-tooltip-placement-rightBottom .ant-tooltip-arrow {
    border-right-color: rgba(255, 255, 255, 1);
}
.ant-tooltip-placement-left .ant-tooltip-arrow,
.ant-tooltip-placement-leftTop .ant-tooltip-arrow,
.ant-tooltip-placement-leftBottom .ant-tooltip-arrow {
    border-left-color: rgba(255, 255, 255, 1);
}
.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
    border-bottom-color: rgba(255, 255, 255, 1);
}