/**
 * @file 学习头条首页
 * @author zengcheng
 */
@import '../main/base.less';
@import './header.less';
@import './articlelist.less';
@import './teacherlist.less';
@import './courselist.less';

#main {
    overflow: hidden;
    margin-top: 20px;
    .left-wrapper {
        float: left;
        width: 740px;
    }
    .right-wrapper {
        float: right;
        width: 340px;
    }
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .mode-list {
        margin-bottom: 20px;
        padding: 20px 20px 0;
        border: solid 1px #ddd;
        background: #fff;
        .mode-header {
            margin-top: -10px;
            font-size: 18px;
            line-height: 38px;
            border-bottom: solid 1px #999;
            color: #333;
            overflow: hidden;
            .more-link {
                float: right;
                font-size: 12px;
                color: #999;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .icon-vip-vip,
        .icon-vip-gvip,
        .icon-vip-cvip {
            margin-left: 5px;
            margin-right: 5px;
            width: 19px;
            height: 19px;
        }

        .icon-vip-vip {
            background: url(../../img/userCenter/small-vip.png);
        }
        .icon-vip-gvip {
            background: url(../../img/userCenter/small-gvip.png);
        }
        .icon-vip-cvip {
            background: url(../../img/userCenter/small-cvip.png);
        }
    }
}