{{ *

@file 班课详情页 - 主讲教师
@author zhujialu

* }}

{{ strip }}
{{ if !empty($tpl_data) }}

<div id="course-teacher">
    {{ **3810改主讲老师为老师** }}
    {{ if $course_type == 4 }}
        <h1 class="header">老师</h1>
    {{ else }}
        <h1 class="header">主讲老师</h1>
    {{ /if }}

    <div class="body">
        {{ include file="common/variable/vipLevel.html" scope=parent }}
        {{ foreach $tpl_data as $val }}
        <div class="box">
            <div class="avatar">
                {{ include file="common/component/avatar.html" url=('http://www.genshuixue.com/'|cat:$val.number) target="_blank" type="small" img=$val.photo_url alt=$val.display_name }}
            </div>
            <div class="info">
                <h1>
                    <a href="http://www.genshuixue.com/{{ $val.number }}" target="_blank">
                        {{ $val.display_name|cn_truncate: 12 }}
                    </a>

                    {{ if $val.vip_level }}
                        <i class="icon icon-vip-{{ $vipLevelMap[$val.vip_level] }}"
                        data-title="
                            {{ if $val.vip_level == 1 }}
                                跟谁学会员
                            {{ else if $val.vip_level == 2 }}
                                跟谁学高级会员
                            {{ else if $val.vip_level == 3 }}
                                跟谁学超级会员
                            {{ /if }}
                        "></i>
                    {{ /if }}
                </h1>
                {{ include file="common/component/chatLabel4.html"  user_number=$val.number user_type='teacher' sku_type='teacher' click_type='IM_teacher' size="tiny" online_status=$val.im_online_status }}
                <div class="age-comment">
                    <span class="school-age">
                        <i class="icon icon-clock-o"></i>
                        {{ if $val.school_age == -1 }}
                            30年以上
                        {{ else }}
                            {{ $val.school_age }}年教龄
                        {{ /if }}
                    </span>
                    {{ $comment_total = $val.order_comment_count + $val.invite_comment_count }}
                    {{ if $comment_total > 0 }}
                    {{ if $val.order_comment_count > 0 }}
                    <a class="comment-num" target="_blank" href="http://www.genshuixue.com/{{ $val.number }}#teacher-comment" data-title="{{ $comment_total }}条评价">
                        {{ else }}
                        <a class="comment-num" target="_blank" href="http://www.genshuixue.com/{{ $val.number }}#teacher-comment" data-title="{{ $comment_total }}条邀请评价">
                            {{ /if }}
                            <i class="icon icon-comment"></i>
                            {{ $comment_total }}
                        </a>
                        {{ /if }}
                </div>
                {{ if $val.order_comment_count > 0 }}
                    <div class="score">
                        {{ include file="common/component/starScore.html" score=$val.score }}{{ $val.score }}分
                    </div>
                {{ else }}
                    <div class="score">
                        暂无评分
                    </div>
                {{ /if }}
            </div>
        </div>
        {{ /foreach }}
    </div>
</div>

{{ /if }}
{{ /strip }}