{{ strip }}
<div class="tabs card">
    <ul class="tabNav">
        {{ if $tpl_data.course_type != 4 }}
            <li data-link="#courseIntro" class="selected">报名须知</li>
        {{ /if }}
        <li data-link="#courseDetail" {{ if $tpl_data.course_type == 4 }} class="selected" {{ /if }}>课程详情</li>
        {{ if $tpl_data.course_type != 4 }}
            <li data-link="#teachOutline">教学大纲</li>
        {{ /if }}
        {{ if $tpl_data.course_info.lesson_way == 4 }}
            <li data-link="#address">上课地址</li>
        {{ /if }}
        {{ if $tpl_data.course_info.material_info.total_count > 0 }}
            <li data-link="#course-material">课程资料</li>
        {{ /if }}
        <li data-link="#course-comment">
                {{ if $tpl_data.course_type == 4 }}
                    机构评价
                    {{ else }}
                        课程评价
                {{ /if }}
        </li>
    </ul>
</div>
{{ /strip }}