@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g5zdyl');
  src:  url('fonts/icomoon.eot?g5zdyl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g5zdyl') format('truetype'),
    url('fonts/icomoon.woff?g5zdyl') format('woff'),
    url('fonts/icomoon.svg?g5zdyl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-center:before {
  content: "\e900";
}
.icon-align-left:before {
  content: "\e901";
}
.icon-angle-down:before {
  content: "\e902";
}
.icon-angle-up:before {
  content: "\e903";
}
.icon-anytime-joinclass:before {
  content: "\e904";
}
.icon-anytime-quitclass:before {
  content: "\e905";
}
.icon-arrow-down-o:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-arrow-up-o:before {
  content: "\e908";
}
.icon-arrow-up:before {
  content: "\e909";
}
.icon-bd-marker:before {
  content: "\e90a";
}
.icon-bold:before {
  content: "\e90b";
}
.icon-bulk:before {
  content: "\e90c";
}
.icon-bulks:before {
  content: "\e90d";
}
.icon-calendar-more:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-caret-down:before {
  content: "\e910";
}
.icon-caret-left:before {
  content: "\e911";
}
.icon-caret-right:before {
  content: "\e912";
}
.icon-caret-up:before {
  content: "\e913";
}
.icon-chat:before {
  content: "\e914";
}
.icon-check-circle:before {
  content: "\e915";
}
.icon-check-o:before {
  content: "\e916";
}
.icon-check-square-o:before {
  content: "\e917";
}
.icon-check:before {
  content: "\e918";
}
.icon-chevron-left:before {
  content: "\e919";
}
.icon-chevron-right:before {
  content: "\e91a";
}
.icon-circle-o:before {
  content: "\e91b";
}
.icon-circle:before {
  content: "\e91c";
}
.icon-close:before {
  content: "\e91d";
}
.icon-coins:before {
  content: "\e91e";
}
.icon-crowd:before {
  content: "\e91f";
}
.icon-edit-o:before {
  content: "\e920";
}
.icon-exclamation-o:before {
  content: "\e921";
}
.icon-favor:before {
  content: "\e922";
}
.icon-font:before {
  content: "\e923";
}
.icon-frown-o:before {
  content: "\e924";
}
.icon-heart-o:before {
  content: "\e925";
}
.icon-heart:before {
  content: "\e926";
}
.icon-help-o:before {
  content: "\e927";
}
.icon-image:before {
  content: "\e928";
}
.icon-info-circle:before {
  content: "\e929";
}
.icon-limit-joinclass:before {
  content: "\e92a";
}
.icon-limit-quitclass:before {
  content: "\e92b";
}
.icon-live-o:before {
  content: "\e92c";
}
.icon-mail-o:before {
  content: "\e92d";
}
.icon-map-marker:before {
  content: "\e92e";
}
.icon-microphone:before {
  content: "\e92f";
}
.icon-minus-circle:before {
  content: "\e930";
}
.icon-mobile:before {
  content: "\e931";
}
.icon-neutral-o:before {
  content: "\e932";
}
.icon-pencil-square-o:before {
  content: "\e933";
}
.icon-phone:before {
  content: "\e934";
}
.icon-plus-circle:before {
  content: "\e935";
}
.icon-plus-o:before {
  content: "\e936";
}
.icon-plus:before {
  content: "\e937";
}
.icon-question-circle:before {
  content: "\e938";
}
.icon-ranking:before {
  content: "\e939";
}
.icon-recording:before {
  content: "\e93a";
}
.icon-search-o:before {
  content: "\e93b";
}
.icon-search:before {
  content: "\e93c";
}
.icon-share:before {
  content: "\e93d";
}
.icon-smile-o:before {
  content: "\e93e";
}
.icon-sort-desc:before {
  content: "\e93f";
}
.icon-square-o:before {
  content: "\e940";
}
.icon-star-half:before {
  content: "\e941";
}
.icon-star-o:before {
  content: "\e942";
}
.icon-star:before {
  content: "\e943";
}
.icon-text-o:before {
  content: "\e944";
}
.icon-text:before {
  content: "\e945";
}
.icon-times-circle:before {
  content: "\e946";
}
.icon-times:before {
  content: "\e947";
}
.icon-toggle-right:before {
  content: "\e948";
}
.icon-trash:before {
  content: "\e949";
}
.icon-user:before {
  content: "\e94a";
}
.icon-warning:before {
  content: "\e94b";
}

