@import '../common/group.less';

.group {
    .group-list-wrapper {
        box-shadow: none;

        .group-item {
            width: 342px;
            .group-btn {
                display: none;
            }
            &:hover {
                .group-btn {
                    display: inline-block;
                }
            }
        }
    }
}