.post-nav {
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    background: #fafafa;
    .post-nav-item {
        display: inline-block;
        width: 120px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #333;
        cursor: pointer;
        text-align: center;
        border-right: solid 1px #eee;
        &.active {
            background: #f90;
            color: #fff;
        }
    }
}