/**
 * @file 课程排序
 * @author wangyujie
 */

@import '../../common/layout.styl';

.course-sort {
    position: relative;
    .header {
        background: #fbfbfb;
        height: 44px;
        line-height: 44px;
        h1 {
            margin: 0;
            padding-left: 15px;
            color: #3d3d3e;
            font-size: 14px;
            font-weight: normal;
        }
    }

    .body {
        min-height: 577px;
        background: url(../../../img/app/qr-app-teacher.png) no-repeat center 90px;
        padding-top: 270px;
        p {
            font-size: 15px;
            color: #3D3D3E;
            letter-spacing: 0.53px;
            line-height: 24px;
            padding: 0;
            margin: 0;
            text-align: center;
            a {
                color: #3ba6f6;
            }
        }

        .save-sort {
            padding: 20px;
            .hint {
                font-size: 13px;
                color: #6d6d6e;
                .icon {
                    color: #ff9100;
                    margin-right: 8px;
                }
            }
            .btn-save {
                background: #ffffff;
                border: 1px solid #cdcdce;
                border-radius: 3px;
                color: #6d6d6e;
                cursor: pointer;
                font-size: 13px;
                padding: 5px 20px;
                float: right;
                &:hover {
                    background: #f8f8f8;
                    color: #6d6d6e;
                }
                &.active {
                    border: 1px solid #ff9900;
                    background: #ff9100;
                    color: #ffffff;
                    &:hover {
                        background: #f29100;
                        border-color: #e68a00;
                    }
                }
            }
        }

        .no-course {
            text-align: center;
            padding-top: 80px;
            padding-bottom: 100px;
            a {
                color: #6287d5;
            }
        }

        .course-list {
            .list-header {
                background: #f6fbff;
                height: 36px;
                line-height: 36px;
                text-align: center;
                .course-index,
                .course-info,
                .course-options {
                    float: left;
                }
                .course-info {
                    padding-left: 78px;
                }
            }

            .list-body {
                width: 100%;
                position: relative;
            }

            .course-item {
                height: 92px;
                border-bottom: 1px solid #ededed;
                .course-content {
                    width: 100%;
                    height: 92px;
                    &.brother {
                        box-shadow: 0 0 2px rgba(255,153,0,0.92);
                    }
                }
                .course-index,
                .course-options {
                    float: left;
                    text-align: center;
                    padding: 35px 0;
                }
                .course-info {
                    padding: 11px 0;
                }
            }

            .course-index {
                cursor: move;
                width: 10%;
            }

            .course-cover {
                float: left;
                width: 10%;
                padding: 8px 0;
            }

            .course-info {
                cursor: move;
                float: left;
                width: 58%;
                text-align: left;
            }

            .course-options {
                cursor: move;
                float: left;
                width: 20%;
                span {
                    font-size: 12px;
                    color: #37a4f5;
                    cursor: pointer;
                    margin: auto 10px;
                    &.disabled {
                        color: #9d9d9e;
                        cursor: default;
                    }
                }
            }

            .course-detail {
                line-height: 23px;
                label {
                    border-radius: 1px;
                    border: 1px solid #37a4f5;
                    color: #37a4f5;
                    font-size: 12px;
                    padding: 2px 5px;
                    margin-right: 10px;
                }
                .course-name {
                    color: #3d3d3e;
                }
                .course-time {
                    color: #6d6d6e;
                    font-size: 12px;
                    min-height: 21px;
                }
                .course-price {
                    color: #ff9100;
                }
            }

            .dragging {
                background-color: #fff;
                border: 1px solid #ff9100;
                cursor: move;
            }
        }
    }

}
