@import './icomoon/0.0.12/style.styl'
@import './mixin.styl'
@import './variable.styl'

#app
    padding-top 33px

.dialog-reminding
    > .footer > .buttons
        display table !important
        > .button
            display table-cell !important

.dialog-alert,
.dialog-confirm
    > .body
        text-align center

    > .footer
        .checkbox
            margin-left $horizontal-large
            user-select none
body

    background-color $brand-bg

    &.dragging
        user-select none

    > .tooltip
        border-color #444
        background-color #666
        color #fff
        z-index $zindex-huge + 1

        &:before
            border-color #444

        &:after
            border-color #666

        > ol
            padding-left 20px

    &.ie8,
    &.ie9,
    &.ie10,
    &.ie11

        &,
        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6
            font-family "Microsoft YaHei"

    &.iframe
        #app
            padding-top 0
        > .mask
            background-color transparent
        > .dialog
            border 1px solid #EEE
            box-shadow 0 2px 4px rgba(0,0,0,0.06)
            margin-top -300px

.hidden
    display none

.transparent
    visibility hidden

.centered
    text-align center

.button.corner-check
    border-color $brand-border
    background-color #FFF

    &:hover,
    &:active,
    &.checked
        border-color $brand-primary
        color $brand-primary

    &.checked
        cursor default
        background url(./img/bg-checked.png) no-repeat right bottom
        background-image -webkit-image-set(url(./img/bg-checked.png) 1x,url(./img/bg-checked@2x.png) 2x)

.auto-complete
    display inline-block
    .input
        display block
    .menu
        top 35px

.pagination.tight
    .ellipsis
        margin 0 8px !important

.tip-label
    background-color #f8f8f8
    border 0
    border-bottom 1px solid $brand-border
    width 100%
    text-align center
    position fixed
    left 0
    top -35px
    z-index $zindex-huge + 1
    transition all 0.4s

    > .close
        float right
        cursor pointer

    &.active
        top 0

#nav,
#header,
#menu,
#breadcrumb,
#main,
#footer
    > .wrapper
        width $page-width
        margin 0 auto

#nav
    background-color #f4f4f4
    border-bottom 1px solid $brand-border
    padding 6px 0
    user-select none
    position absolute
    left 0
    right 0
    top 0

    .floated
        float right

    ul
        display inline-block

    .quit
        margin-left 8px !important

    .account-info
        margin-right 20px

    .wrapper
        > .link + .link
            margin-left 5px
            padding-left 5px

    .item + .item
        margin-left 9px
        padding-left 9px

    .icon
        margin-right 5px

    .icon-mail-o,
    .icon-mobile,
    .icon-live-o
        color $brand-primary

    .icon-caret-down
        color $brand-text
        cursor pointer
        font-size 14px
        margin-left 2px
        margin-right 0
        vertical-align top
        position relative
        top 2px

    .my-home,
    .my-course,
    .my-favor,
    .switch-role,
    .org-platform,
    .customer-service
        position relative

    .switch-role,
    .org-platform,
    .customer-service
        &:before
            content ' '
            width 1px
            height 12px
            background-color $brand-border
            position absolute
            left 0
            top 6px

    .my-course
        .tooltip
            left -105px

        &.no-data
            .tooltip
                left 0

    .tooltip
        top 26px

    .customer-service
        .tooltip
            padding-left 0
            padding-right 0
            left 0

    .course

        border-top 1px solid $brand-divider
        display block

        line-height 23px !important
        padding 5px 10px 0 10px

        width 328px

        span
            float left


        .avatar
            width 65px


        .course-content

            font-size 12px
            float right
            width 260 - 2 * $horizontal-large

            div
                padding 5px 5px 5px 0px
                clearfix()


            .course-title
                padding-right 10px


            .course-date
                width 80px
                overflow hidden


            .course-name,
            .course-time
                padding-right 5px


            .course-status,
            .course-way
                float right
                padding-right 5px


            .course-status
                color $brand-primary
                text-align right


            .course-way
                text-align right




        &:hover
            background-color lighten($brand-primary, 98%)

        &:first-child
            border-top 0

        + .button
            margin-top 10px


#header

    background-color #FFF
    padding 15px 0

    .logo
        background url(./img/logo.png) no-repeat
        background-image -webkit-image-set(url(./img/logo.png) 1x,url(./img/logo@2x.png) 2x)

        display inline-block
        width 120px
        height 50px
        vertical-align middle

    .logo-huike
        background url(./img/logo-huikejian.png) no-repeat
        background-image -webkit-image-set(url(./img/logo-huikejian.png) 1x,url(./img/logo-huikejian@2x.png) 2x)

        display inline-block
        width 120px
        height 50px
        vertical-align middle

    h1
        border-left 1px solid $brand-border
        display inline-block
        font-size 18px
        margin 0 0 0 10px
        padding-left 10px
        vertical-align middle
        font-weight 300

#menu
    background-color $brand-primary
    .tabs
        > .floated
            float right
            > .icon
                font-size 18px
                margin-right 5px
                vertical-align -2px
            > .text
                color #fff

    .tab
    .button
        color #FFF

    .tab
        &:hover
            background-color darken($brand-primary, 5%)
        &:active
            background-color darken($brand-primary, 10%)
        &.checked
            &:after
                content ' '
                position absolute
                bottom 0
                left 50%
                margin-left -8px
                border 8px solid transparent
                border-bottom-color $brand-bg

#breadcrumb

    padding 9px 0

    .link,
    .text
        color $brand-header

    .link:hover
        color $brand-primary

    .separator
        margin 0 5px

.card
    background-color #FFF
    box-shadow 0px 0px 4px rgba(0,0,0,0.05)

    + .card
        margin-top 15px

#main > .wrapper
    clearfix()

#sidebar
    float left
    width 188px
    padding 10px 20px

    .menu
        padding 4px 0

    .menu + .menu
        border-top 1px dashed $brand-divider

    .menu > .title
        padding 6px 18px
        color $brand-header

        &.checked
        &.link:hover
            color $brand-primary

    .sub-menu
        margin-bottom 3px

    .sub-menu > .white-flag
        display none

    .sub-menu > .link
        padding 4px 18px

        &:first-child
            padding-top 0

    .menu > .link,
    .sub-menu > .link
        position relative
        &:before
            content ' '
            display none
            position absolute
            left 0
            border-style solid
            border-color transparent
            border-left-color $brand-primary

        &:hover,
        &.checked
            color $brand-primary
            &:before
                display block

        &.checked
            font-weight bold

    .menu > .link:before
        border-width 6px
        bottom 14px

    .sub-menu > .link:before
        border-width 5px
        bottom 7px

    + #container
        margin-left 203px

#container

    .tabs
        border-bottom 2px solid $brand-divider

        > .tab
            font-weight bold

            &.checked:after,
            + .tab:before
                content ' '
                position absolute
                left 0

            &.checked:after
                bottom -2px
                right 0
                height 2px

            + .tab
                margin-left 0 !important
                &:before
                    width 1px
                    top 12px
                    bottom 12px
                    background-color $brand-divider

        &.primary > .tab
            &.checked:after,
            + .tab:before
                background-color $brand-primary

        &.info > .tab
            &.checked:after,
            + .tab:before
                background-color $brand-info

#float-help
    position fixed
    width 71px
    height 86px
    font-size 12px
    line-height 20px
    z-index 3
    .help-content
        position absolute
        bottom 50px
        width 220px
        left -145px
        background #fff5e5
        border 1px solid #ffcc80
        padding 10px 15px
        z-index 1000
        .question-title
            font-size 14px
            font-weight bold

        .other-question
            margin-left 5px
            color #6287d5

        .help-con
            line-height 22px
            padding-top 5px

        .close
            float right
            color #ffcc80
            cursor pointer
            font-size 16px

    .help-wz
        background url(../../img/wz.png) no-repeat
        width 71px
        height 86px
        position relative
        z-index 1001

    &.float-close
        .help-content
            width 35px
            height 107px
            overflow hidden
            left -20px
            bottom 70px
            padding 0
            cursor pointer
            .close
                display none

        .help-title
            height 105px
            overflow hidden
            width 33px
            padding 14px 9px
            .other-question
                display none


#footer
    margin-top 30px
    padding-top 30px
    border-top 1px solid $brand-border
    background-color #FFF

    .service
        float right
        width 300px
        text-align center

        > .icon
            font-size 50px

        > h4
            font-size 30px
            line-height 48px
            color #000
            font-weight normal
            margin 0

    .detail

        clearfix()

        h4
            margin 0 0 5px

        > div
            border-right 1px solid $brand-divider
            float left
            width 170px
            height 157px
            padding-left 30px

        li
            padding 2px 0

    .site-map
        border-top 1px solid $brand-border
        margin-top 30px
        padding-top 30px
        text-align center

        li + li
            margin-left $horizontal-small
        a
            color #9d9d9d
            &:hover
                color $brand-primary


    .copyright
        padding-top $vertical-medium
        padding-bottom $vertical-medium
        text-align center

.cert
    display none
    background-color #fff
    padding-top 15px
    padding-bottom 30px
    text-align center

    > a
        margin 0 5px

    img
        height 47px
        border-radius 2px

    .integrity,
    .credible,
    .record,
    .i-trust,
    .geo-trust
        background url(../../img/icon/safe.jpg) no-repeat
        display inline-block
        width 128px
        height 47px

    .integrity
        background-position 0px -47px

    .record
        background-position -128px -47px

    .i-trust
        background-position 0px -94px
        width 146px

    .geo-trust
        background-position -128px 0px
        width 182px

.wechat-qrcode-dialog
    .table
        width auto
    > .body
        padding 20px
        padding-top 10px

.wechat-qrcode
    width 361px
    height 160px
    background url(./img/qrcode-wechat.png) no-repeat
    background-image -webkit-image-set(url(./img/qrcode-wechat.png) 1x,url(./img/qrcode-wechat@2x.png) 2x)

.image

    > .title
        display block
        font-size 12px
        margin-top 5px


.service-hotline-dialog
    .hotline
        font-size 24px
        margin-bottom 10px
        text-align center
        .icon
            color @brand-primary
            margin-right 8px
            font-size 30px
            vertical-align middle



.chat-wrapper {
    display: inline-block;
    .chat-label {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        border-radius: 2px;
        text-align: center;
        width: 103px;
        height: 26px;
        line-height: 26px;
        color: #fff;
        b {
            margin-left: 5px;
        }
        &:hover {
            background-color: #ff8100;
        }
    }
    .tiny {
        width: 93px;
        height: 24px;
        line-height: 24px;
    }

    .small {
        width: 103px;
        height: 26px;
        line-height: 26px;
    }

    .large {
        width: 100px;
        height: 35px;
        line-height: 35px;
    }

    .huge {
        width: 152px;
        height: 32px;
        line-height: 32px;
    }

    .online {
        background-color: #ff9100;
    }
    .offline {
        background-color: #ccc;
    }
}




.upload-wrapper
    position relative
    overflow hidden

    object,
    input[type="file"]
        opacity(0)
        cursor pointer
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        z-index $zindex-small

.tooltip
    &.bottom-left:before,
    &.bottom-left:after
        left 90%
        top -6px
        border-width 0 6px 6px 6px
        border-left-color transparent !important
        border-right-color transparent !important


