
$page-width = 1000px

$brand-muted = #CCC
$brand-primary = #f90
$brand-secondary = #FFF
$brand-success = #56b02a
$brand-error = #f95710
$brand-info = #6187dc
$brand-warning = #f0ad4e
$brand-danger = #d9534f

$brand-bg = #f8f8f8

// 大标题、TAB、分类
$brand-header = #222

// 标题、主要信息
$brand-title = #555

// 次要信息、备注
$brand-desc = #888

// 极次信息
$brand-less = #A3A3A3

// 边框
$brand-border = #CCC

// 分割线
$brand-divider = #EEE

$zindex-tiny = 1
$zindex-small = 2
$zindex-medium = 3
$zindex-large = 4
$zindex-huge = 5

// 水平间距
$horizontal-tiny = 5px
$horizontal-small = 7px
$horizontal-medium = 10px
$horizontal-large = 14px
$horizontal-huge = 18px

// 垂直间距
$vertical-tiny = 4px
$vertical-small = 8px
$vertical-medium = 10px
$vertical-large = 14px
$vertical-huge = 18px
