{{ *

@file 机构评价页
@author jixiaohui

* }}
{{ extends file="./common/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $need_im = true }}
    {{ $script_path = "org/comment_e6c4928053" }}

    {{ $active = 'comment' }}
    {{ $flotage_config.hidden = 1 }}

    {{ if isset($smarty.get.comment_type) }}
        {{ $comment_type = $smarty.get.comment_type }}
    {{ else }}
        {{ $comment_type = '0' }}
    {{ /if }}

    {{ if isset($smarty.get.sort_by) && !empty($smarty.get.sort_by) }}
        {{ $sort_by = $smarty.get.sort_by }}
    {{ else }}
        {{ $sort_by = 'display_order' }}
    {{ /if }}

    {{ $script_data['commentType'] = $comment_type }}
    {{ $script_data['sortBy'] = $sort_by }}
    {{ $script_data['orgnumber'] = $tpl_data.base_info.number }}
    {{ $script_data['score_rate'] = $tpl_data.score_rate }}
    {{ if not empty($tpl_data.base_info.support_tianxiao) }}
        {{ $script_data.isTianxiaoOrg = $tpl_data.base_info.support_tianxiao }}
    {{ /if }}
    {{ $script_data.orgId = $tpl_data.base_info.id }}
    {{ $script_data.isFavored = $tpl_data.is_favored }}

    {{ $script_data.abtest = $tpl_data.abtest }}
    {{ if $tpl_data.base_info.domain }}
        {{ $script_data.domain = $tpl_data.base_info.domain }}
    {{ else }}
        {{ $script_data.domain = $tpl_data.base_info.number }}
    {{ /if }}

    {{ $need_mobile_seo = true }}
    {{ $need_location_seo = true }}

{{ /block }}


{{ block name="title" }}
{{ strip }}
    {{ $tpl_data.title }}
{{ /strip }}
{{ /block }}

{{ block name="keywords" }}
{{ strip }}
    {{ $tpl_data.keywords }}
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}
    {{ $tpl_data.description }}
{{ /strip }}
{{ /block }}


{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/org/comment_cbe8950179.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

{{ $comment = $tpl_data.comment }}
{{ $score = $tpl_data.score }}
{{ $total = $score.face_type.lower + $score.face_type.great + $score.face_type.middle }}
{{ $org_id = $tpl_data.base_info.id }}
{{ $face_type = $tpl_data.face_type }}


{{ include file="common/variable/lesson.html" scope=parent }}

<div class="main-comment" data-num="{{ count($comment) }}">

        <div class="teacher-comment">
            <div class="overview">
                <div class="score">
                    <strong>{{ $score.rate|number_format }}%</strong>
                    <span>好评率</span>
                </div>
                <div class="vline">
                </div>
                <ul class="detail">
                    <strong>{{ $score.total_score|number_format: 1 }}</strong><br />
                    {{ include file="common/component/starScore.html" score=$score.total_score }}
                    <div class="score-container">
                        <li>
                            五星
                            <div class="progress-container">
                                <div class="progress" style="width: {{ $tpl_data.score_rate.5 * 160 }}px"></div>
                            </div>
                            <span class="percent">{{ $tpl_data.score_rate.5 * 100 }}%</span>
                        </li>
                        <li>
                            四星
                            <div class="progress-container">
                                <div class="progress" style="width: {{ $tpl_data.score_rate.4 * 160 }}px"></div>
                            </div>
                            <span class="percent">{{ $tpl_data.score_rate.4 * 100 }}%</span>
                        </li>
                        <li>
                            三星
                            <div class="progress-container">
                                <div class="progress" style="width: {{ $tpl_data.score_rate.3 * 160 }}px"></div>
                            </div>
                            <span class="percent">{{ $tpl_data.score_rate.3 * 100 }}%</span>
                        </li>
                        <li>
                            二星
                            <div class="progress-container">
                                <div class="progress" style="width: {{ $tpl_data.score_rate.2 * 160 }}px"></div>
                            </div>
                            <span class="percent">{{ $tpl_data.score_rate.2 * 100 }}%</span>
                        </li>
                        <li>
                            一星
                            <div class="progress-container">
                                <div class="progress" style="width: {{ $tpl_data.score_rate.1 * 160 }}px"></div>
                            </div>
                            <span class="percent">{{ $tpl_data.score_rate.1 * 100 }}%</span>
                        </li>
                    </div>
                    <!-- 机构评价页改版去掉原先的评分显示 By shubaiqiao -->
                    <!-- <li>
                        教学与描述相符
                        {{ include file="common/component/starScore.html" score=$score.desc_match }}
                        {{ $score.desc_match|number_format: 1 }} 分
                    </li>
                    <li>
                        老师的教学态度
                        {{ include file="common/component/starScore.html" score=$score.service_attitude }}
                        {{ $score.service_attitude|number_format: 1 }} 分
                    </li>
                    <li>
                        老师的响应速度
                        {{ include file="common/component/starScore.html" score=$score.teach_result }}
                        {{ $score.teach_result|number_format: 1 }} 分
                    </li> -->
                </ul>
            </div>
            <div class="tab-nav tab-nav-info">
                {{ include file="org/common/variable/commentSort.html" value=$sort_by }}
                {{ include file="common/ui/dropdown.html" class="sort-select" default_text=$sort_by_text data=$sort_by_source }}

                <b>
                    {{ include file="org/common/variable/commentType.html" value=$comment_type }}
                    <b class="nav-item nav-item-all {{ if $tpl_data.face_type == 0 }}active{{ /if }}">
                        <span data-comment-type-value="{{ $comment_type_top_item.value }}" class="comment-type-top">
                            {{ $comment_type_top_item.text }}（{{ $tpl_data.score.comment_type[$comment_type_top_item.value] }}）
                        </span>

                        <i class="icon icon-angle-down"></i>

                        <ul class="nav-list">
                        {{ foreach $comment_type_other_items as $other_items }}
                            <li data-comment-type-value="{{ $other_items.value }}" class="nav-item list-source">
                                {{ $other_items.text }}（{{ $tpl_data.score.comment_type[$other_items.value] }}）
                            </li>
                        {{ /foreach }}
                        </ul>
                    </b>

                </b>
                <b data-face-type-value="1">
                    <b class="nav-item {{ if $tpl_data.face_type == 1 }}active{{ /if }}" data-face="1">好评（{{ $score.face_type.great }}）</b>
                </b>
                <b data-face-type-value="2">
                    <b class="nav-item {{ if $tpl_data.face_type == 2 }}active{{ /if }}" data-face="2">中评（{{ $score.face_type.middle }}）</b>
                </b>
                <b data-face-type-value="3">
                    <b class="nav-item {{ if $tpl_data.face_type == 3 }}active{{ /if }}" data-face="3">差评（{{ $score.face_type.lower }}）</b>
                </b>
            </div>
            <div class="nav-content">
                {{ if count($comment) > 0 }}
                <div class="list">
                    {{ foreach $comment as $val }}
                        <!-- 机构PC主页评价改版 By shubaiqiao  -->
                        <div class="item">
                            <dl>
                                <dt>
                                    {{ include file="common/component/avatar.html" type="small" img=$val.user_avatar }}
                                </dt>
                                <dd {{ if $val.user_name != $val.user_name }} data-title="{{ $val.user_name }}"{{ /if }}>
                                    {{ $val.user_name }}
                                </dd>
                            </dl>
                            <div class="comment">

                                <div class="order-info">
                                </div>

                                <div class="score-info">
                                    <span class="date">
                                        {{ $val.create_time|date_format:"%Y-%m-%d" }}
                                    </span>
                                    <span class="score-face">
                                        {{ if $val.face_type == 1 }}

                                        <i class="icon icon-smile-o"></i>
                                        好评

                                        {{ else if $val.face_type == 2 }}

                                        <i class="icon icon-neutral-o"></i>
                                        中评

                                        {{ else if $val.face_type == 3 }}

                                        <i class="icon icon-frown-o"></i>
                                        差评

                                        {{ /if }}
                                    </span>
                                    {{ if isset($val.fr)&& $val.fr != 2  }}
                                        <span>{{ include file="common/component/starScore.html" score=$val.total_score }}
                                        </span>
                                    {{ /if }}
                                    <span>
                                        评价课程
                                    </span>
                                    {{ if isset($val.fr) && $val.fr == 2  }}
                                        <span> 邀请评价 </span>
                                    {{ else }}
                                        {{ if isset($val.course_url) }}
                                            <a href="{{ $val.course_url }}">
                                                {{ $val.course_name }}
                                            </a>
                                        {{ else }}
                                            <span> {{ $val.course_name }} </span>
                                        {{ /if }}
                                    {{ /if }}
                                </div>
                                <p class="content">心声：{{ if isset($val.fr) && ($val.fr == 1 || $val.fr == 3) }}该学生未及时做出评价，系统默认好评！{{ else }}{{ $val.info|escape }}{{ /if }}
                                </p>
                            </div>
                        </div>
                    {{ /foreach }}
                </div>
                {{ else }}
                    <div class="no-data">
                        <div class="pic"></div>
                        <span class="text">暂时没有评价哦</span>
                    </div>
                {{ /if }}
            </div>
        </div>

    {{ include file="common/component/pager.html" page=$tpl_data.pager.page page_size=$tpl_data.pager.page_size count=$tpl_data.pager.count  }}
</div>
{{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}
{{ /strip }}
{{ /block }}