{{ *

@file 机构首页
@author zhangliyuan

* }}

{{ extends file="./common/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $need_im = true }}

    {{ if $tpl_data.base_info.is_gold_certification && $tpl_data.base_info.template_id == 2 }}
        {{ $script_path = "org/goldIndex_99bc6015dc" }}
    {{ else }}
        {{ $script_path = "org/index_a9835c5d26" }}
    {{ /if }}
    {{ $script_data.areaList = $tpl_data.org_distinct }}
    {{ $script_data.orgId = $tpl_data.base_info.id }}
    {{ $script_data.isFavored = $tpl_data.is_favored }}
    {{ $script_data.orgnumber = $tpl_data.base_info.number }}
    {{ if not empty($tpl_data.base_info.support_tianxiao) }}
        {{ $script_data.isTianxiaoOrg = $tpl_data.base_info.support_tianxiao }}
    {{ /if }}

    {{ if $tpl_data.base_info.domain }}
        {{ $domain = $tpl_data.base_info.domain }}
    {{ else }}
        {{ $domain = $tpl_data.base_info.number }}
    {{ /if }}
    {{ $script_data.domain = $domain }}

    {{ $subject_data = [] }}
    {{ $subject_data['text'] = '全部类目' }}
    {{ $subject_data['value'] = '0' }}
    {{ $subject_list_data[] = $subject_data }}

    {{ $type_data = [] }}
    {{ $type_data['text'] = '全部类型' }}
    {{ $type_data['value'] = '0' }}
    {{ $type_list_data[] = $type_data }}

    {{ $sortby_data = [] }}
    {{ $sortby_data['text'] = '推荐排序' }}
    {{ $sortby_data['value'] = 'display_order' }}
    {{ $sortby_list_data[] = $subject_data }}

    {{ $active = 'index' }}
    {{ $flotage_config.hidden = 1 }}
    {{ $need_mobile_seo = true }}
    {{ $need_location_seo = true }}
{{ /block }}


{{ * SKU统计上报 * }}
{{ block name='sku_id' }}
{{ $sku_id=$tpl_data.base_info.number }}
{{ /block }}


{{ block name="title" }}
{{ strip }}
    {{ $tpl_data.title }}
{{ /strip }}
{{ /block }}

{{ block name="keywords" }}
{{ strip }}
    {{ $tpl_data.keywords }}
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}
    {{ $tpl_data.description }}
{{ /strip }}
{{ /block }}


{{ block name="style" }}
    {{ if $tpl_data.base_info.is_gold_certification && $tpl_data.base_info.template_id == 2 }}
        <link rel="stylesheet" href="{{ $static_origin }}/asset/css/org/goldIndex_193cb1fcb6.css">
    {{ else }}
        <link rel="stylesheet" href="{{ $static_origin }}/asset/css/org/index_1a7b6f1ac6.css">
    {{ /if }}
{{ /block }}

{{ block name="main" }}
{{ strip }}

{{ $url_index = "http://www.genshuixue.com/i/"|cat:$domain }}
{{ $url_black = "http://www.genshuixue.com/i/black/"|cat:$domain }}
{{ $url_course = "http://www.genshuixue.com/i/course/"|cat:$domain }}
{{ $url_video_course = "http://www.genshuixue.com/i/course/"|cat:$domain|cat:"?type=2" }}
{{ $url_teacher = "http://www.genshuixue.com/i/teacher/"|cat:$domain }}
{{ $url_video = "http://www.genshuixue.com/i/video/"|cat:$domain }}
{{ $url_photo = "http://www.genshuixue.com/i/photo/"|cat:$domain }}
{{ $url_area = "http://www.genshuixue.com/i/area/"|cat:$domain }}
{{ $url_comment = "http://www.genshuixue.com/i/comment/"|cat:$domain }}
{{ $url_intro = "http://www.genshuixue.com/i/intro/"|cat:$domain }}

{{ if isset($tpl_data.abtest) && $tpl_data.abtest }}
    {{ $url_index = "http://www.genshuixue.com/i/"|cat:$domain }}
    {{ $url_black = "http://www.genshuixue.com/i/black/"|cat:$domain }}
    {{ $url_course = "http://www.genshuixue.com/i/course/"|cat:$domain }}
    {{ $url_video_course = "http://www.genshuixue.com/i/course/"|cat:$domain|cat:"?type=2" }}
    {{ $url_teacher = "http://www.genshuixue.com/i/teacher/"|cat:$domain }}
    {{ $url_video = "http://www.genshuixue.com/i/video/"|cat:$domain }}
    {{ $url_photo = "http://www.genshuixue.com/i/photo/"|cat:$domain }}
    {{ $url_area = "http://www.genshuixue.com/i/area/"|cat:$domain }}
    {{ $url_comment = "http://www.genshuixue.com/i/comment/"|cat:$domain }}
    {{ $url_intro = "http://www.genshuixue.com/i/intro/"|cat:$domain }}
{{ /if }}

{{ $score = $tpl_data.org_comment.score }}
{{ $total = $score.face_type.lower + $score.face_type.middle + $score.face_type.great }}

{{ $org_id = $tpl_data.base_info.id }}

{{ include file="common/variable/lesson.html" scope=parent }}

{{ $headerType = array('新闻资讯','活动通知','资料分享','政策解读','其他') }}


{{ if $tpl_data.base_info.is_gold_certification && $tpl_data.base_info.template_id == 2 }}
    {{ include file="org/common/goldTemplate.html" }}
{{ else }}
    {{ include file="org/common/template.html" }}
{{ /if }}



{{ include file="common/component/baiduMap.html" }}
{{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}

{{ /strip }}
{{ /block }}

