{{ *

@file 机构视频页
@author jixiaohui

* }}
{{ extends file="./common/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $need_im = true }}
    {{ $script_path = "org/video_f8ff49052f" }}
    {{ $script_data.orgnumber = $tpl_data.base_info.number }}
    {{ $script_data.orgId = $tpl_data.base_info.id }}
    {{ $script_data.isFavored = $tpl_data.is_favored }}
    {{ if not empty($tpl_data.base_info.support_tianxiao) }}
        {{ $script_data.isTianxiaoOrg = $tpl_data.base_info.support_tianxiao }}
    {{ /if }}
    {{ $active = 'video' }}
    {{ $flotage_config.hidden = 1 }}
    {{ $need_location_seo = true }}
{{ /block }}


{{ block name="title" }}
{{ strip }}
    {{ $tpl_data.title }}
{{ /strip }}
{{ /block }}

{{ block name="keywords" }}
{{ strip }}
    {{ $tpl_data.keywords }}
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}
    {{ $tpl_data.description }}
{{ /strip }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/org/video_dd55c1f8df.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

{{ if $tpl_data.base_info.domain }}
    {{ $domain = $tpl_data.base_info.domain }}
{{ else }}
    {{ $domain = $tpl_data.base_info.number }}
{{ /if }}
{{ $url_video = "http://www.genshuixue.com/i/video/"|cat:$domain }}
{{ if $tpl_data.abtest }}
    {{ $url_video = "http://www.genshuixue.com/i/video/"|cat:$domain }}
{{ /if }}

{{ $org_id = $tpl_data.base_info.id }}
{{ $video = $tpl_data.video }}
    <div class="video">
        {{ if count($video) > 0 }}
            <ul class="list">
                {{ foreach $video as $val }}
                    {{ if ($val@index+1) % 5 == 0 }}
                        <li class="last">
                    {{ else }}
                        <li>
                    {{ /if }}
                        <div class="video-thumbnail" data-video="{{ $val.video }}" data-name="{{ $val.name }}" data-vid="{{ $val.video_id }}">
                            <img src="{{ $val.img }}" alt="{{ $tpl_data.base_info.name }} {{ if !empty($val.teacher_name) }}{{ $val.teacher_name }}{{ /if }} 视频">
                            <i class="icon icon-play-o"></i>
                        </div>
                        <span class="caption">{{ $val.name }}</span>
                    </li>
                {{ /foreach }}
            </ul>
            {{ include file="common/component/pager.html" page=$tpl_data.pager.page page_size=$tpl_data.pager.page_size count=$tpl_data.pager.count url=$url_video }}
        {{ else }}
            <div class="no-data">
                <div class="pic"></div>
                <span class="text">暂时还没有视频~</span>
            </div>
        {{ /if }}
    </div>
{{ include file="common/component/loginDialog.html" onlyShowStudent=1 }}
{{ /strip }}
{{ /block }}