@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "page/_common/swiper/swiper.styl";

@import "./_part/header.styl";
@import "./_part/case.styl";
@import "./_part/video.styl";
@import "./_part/promise.styl";
@import "./_part/footer.styl";

.container {
  background: #fff;
  .center {
    text-align: center;
  }
  .mask-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background: rgba(0, 0, 0, .5);
    .success-dialog {
      position: absolute;
      width: rem(292);
      height: rem(344);
      padding: rem(30) rem(20) rem(25) rem(20);
      top: 50%;
      left: 50%;
      margin-left: rem(-146);
      margin-top: rem(-172);
      background: #FFFFFF;
      border-radius: rem(8);
      .icon {
        position: absolute;
        top: rem(10);
        right: rem(10);
        font-size: rem(20);
      }
      .title {
        font-size: rem(24);
        color: #FF6C00;
        letter-spacing: 0;
        line-height: rem(24);
        margin-bottom: rem(25);
      }
      .content {
        font-size: rem(14);
        color: #6D6D6E;
        letter-spacing: 0;
        line-height: rem(20);
        span {
          color: #FF6C00;
        }
      }
      .q-card {
        display: block;
        width: rem(122);
        height: rem(122);
        margin: rem(16) auto;
      }
      .little-title {
        font-size: rem(18);
        color: #FF6C00;
        letter-spacing: 0;
      }
    }
  }
}
