/**
 * @file 视频课详情页 - 课程评价
 * @author wangyujie
 */

#video-comment {
    padding-top: 10px;
    border-top: 1px solid #E6E6E6;
    margin-top: 30px;

    h3 {
        border: none;
    }

    .new-title {
        font-size: 14px;
        font-weight: bold;
        color: #3d3d3d;
    }

    .overview {
        .clearfix();
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        color: @brand-text-lighter;
        font-size: @font-size-tiny;
        height: 100%;
        overflow: hidden;
        padding: @gap-horizontal-large 0;
        margin-bottom: @gap-vertical-medium;
        margin-top: @gap-horizontal-large;

        .score{
            display: inline-block;
            height: 72px;
            vertical-align: top;
            padding: 0 2 * @gap-horizontal-large;
            border-right: 1px solid #eee;
            margin-right: @gap-horizontal-large;

            strong {
                color: @brand-primary;
                display: block;
                font-size: @font-size-huge;
                font-family: @font-family-title;
                font-weight: bold;
            }

            strong.no-comment {
                font-size: 16px;
                line-height: 69px;
            }

        }

        .comment-label {
            .clearfix();
            display: inline-block;
            li {
                cursor: pointer;
                float: left;
                margin-top: @gap-vertical-tiny;
                margin-right: @gap-horizontal-tiny;
                padding: 2px 6px;

            }
            .positive {
                border: 1px solid @brand-primary-light;
                background-color: @brand-primary-lighter;
            }
            .selected {
                background-color: @brand-primary;
                color: #fff;
            }
            .negative {
                border: 1px solid @brand-gray-light;
                background-color: @brand-gray-lighter;
            }
        }
    }

    .sort-select {
        float: right;
        margin-top: 7px;
        margin-right: 20px;

        .btn-default {
            width: 100px;
        }
    }

    .no-data {
        .vertical-middle(200px);
        width: 100%;
        text-align: center;
    }

    .item {

        margin-top: @gap-vertical-large;
        position: relative;

        dl {
            float: left;
            text-align: center;
            margin-right: @gap-horizontal-huge;

            dd {
                .text-overflow();
                width: 6em;
            }

            .avatar-small {
                top: 5px;
            }
        }
    }

    .nav-content {
        margin-top: @gap-vertical-medium;
        .item {
            border-bottom: 1px solid #e6e6e6;
        }
        .no-comment {
            text-align: center;
            margin: 3 * @gap-horizontal-medium;
            .icon {
                color: @brand-primary;
                margin-right: @gap-horizontal-tiny;
            }
        }
    }

    .comment {

        min-height: 73px;
        overflow: hidden;
        padding: @gap-vertical-small
                 @gap-horizontal-large;
        font-size: 12px;

        .user-name {
            font-size: 12px;
            color: #6d6d6d;
            margin-bottom: 10px;

            .del {
                float: right;
                cursor: pointer;
            }
        }
    }

    .order-info,
    .score-info {
        a {
            margin-right: @gap-horizontal-medium;
        }
        span {

            margin-right: @gap-horizontal-medium;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .order-info {
        margin: 3px 0 10px;
        color: #9d9d9d;

        .del {
            float: right;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: @brand-primary;
            }
        }

        .date {
            float: left;
            margin-right: 10px!important;
        }
    }

    .add-comment-show,
    .comment-reply {
        clear: both;
        padding: 20px;
        text-align: left;
        padding-left: @gap-horizontal-medium;
    }

    .add-comment-show {
        padding-top: @gap-vertical-medium;
    }

    .comment-reply {
        background-color: #efefef;
    }

    .score-info {
        color: @brand-text-lighter;
        .star-half {
            margin-right: 0;
        }
    }

    .date {
        color: @brand-text-lighter;
        float: right;
        margin-right: 0 !important;
    }

    .content {
        color: #3d3d3d;
        margin-top: @gap-vertical-medium;
        .word-break();
        font-size: 14px;
        margin-bottom: 24px;
    }

    .feedback {
        float: right;
        position: relative;
        top: 0;

        .link {
            cursor: pointer;
            color: #9d9d9d;
        }
    }

    .comment-form { // 回复
        clear: both;
        display: none;
        width: 600px;
        text-align: left;
        padding-top: @gap-vertical-medium;
        .form-editor {
            textarea {
                width: 600px;
                height: 100px;
            }
            .form-hint {
                text-align: left;
            }
        }
        .form-action {
            float: right;
        }
        .error {
            left: 515px !important;
        }
    }

    .write-comment-form {
        display: none;
        width: 685px;
        text-align: left;
        margin-left: 135px;
        padding-bottom: 20px;
        .form-group{
            height: 141px;
        }
        .form-editor {
            textarea {
                width: 685px;
                height: 100px;
            }
            .form-hint {
                text-align: left;
            }
        }
        .form-action {
            float: right;
            margin-top: -8px;
        }
        .error {
            left: 515px !important;
        }
        .btn-write-comment {
            width: 80px;
            margin-left: 10px;
        }
    }
}

#video-no-comment {
    text-align: center;
    height: 1px;

    .no-comment-icon {
        background-image: url(../../../img/teacher/comment_empty.png);
        width: 106px;
        height: 112px;
        margin: 120px auto 20px;
    }

    span {
        font-size: 18px;
        color: #9d9d9d;
        display: block;
        margin-bottom: 30px;
    }
}
