/**
 *
 * @file 视频课详情页 - 视频课节
 * @author jixiaohui
 *
 */
#video-section {
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 22px;

    h3 {
        border-bottom: none;
        margin-bottom: 1px;
    }

    .section-list {
        padding: 20px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 1px solid #EBEBEB;
        position: relative;
    }

    .free-list-tag,
    .cost-list-tag {
        position: absolute;
        background: url(../../../img/video/icon.png) no-repeat;
        width: 103px;
        height: 103px;
        display: inline-block;
        top: -30px;
        right: -30px;
    }

    .free-list-tag {
        background-position: 0 0;
    }

    .cost-list-tag {
        background-position: 3px -148px;
    }

    .free-day {
        position: absolute;
        right: 0;
        top: 6px;
        color: #3d3d3d;
        font-size: 12px;

        .watch {
            background: url(../../../img/video/icon.png) no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
            background-position: -4px -107px;
            margin-right: 5px;
            position: relative;
            top: 3px;
        }
    }

    .section {
        float: left;
        width: 359px;
        margin-bottom: 20px;
        font-size: 13px;

        .box {
            width: 46px;
            height: 46px;
            text-align: center;
            background: #57BA31;
            color: #fff;
            float: left;
            display: block;
            margin-right: 10px;
            border-radius: 2px;

            div {
                position: relative;
                top: 3px;
            }
        }

        .box-cost {
            background: #6187DC;
        }

        .box-try {
            background: #F75F78;
        }

        h5 {
            a {
                color: #3d3d3d;
            }

            .icon-info-circle {
                font-size: 12px;
                color: #fc5600;
                margin-left: 5px;
            }
        }

        .info {
            color: #9d9d9d;

            .time {
                margin-right: 20px;
            }
        }
    }

    .btn-default {
        background: #50B32A;
        border-color: #50B32A;
        color: #fff;
        float: right;
    }

    .start {
        padding: 6px 33px;
    }

    .buy {
        background: #E3383B;
        color: #fff;
        border-color: #E3383B;
    }

}