/**
 *
 * @file 视频课详情页 - 课程简介
 * @author jixiaohui
 *
 */
#video-summary {
    h3 {
        margin-bottom: 9px;
    }

    .content {
        text-indent: 2em;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 22px;
    }
}
