{{ *

@file 课表项
@author zhujialu

* }}
{{ strip }}

{{ include file="common/variable/courseStatus.html" scope=parent }}

{{ $user = $tpl_data.user }}
{{ $lesson = $tpl_data.lesson }}
{{ $purchase = $tpl_data.purchase }}
{{ $operation = $tpl_data.operation }}

{{ $is_class_course = $lesson.type == 2 }}
{{ $is_trial_course = $purchase.course_type == 5 }}
{{ $is_x_course = $purchase.course_type == 11 || $purchase.course_type == 12 }}

<div class="schedule-item" data-istrial={{ $is_trial_course }}>

    <div class="header">
        <span class="course-date">
            {{ $lesson.start_time|date_format: '%Y-%m-%d' }}
        </span>

        {{ if $user.role != 6 }}
        <span class="course-number">
            约课编号：{{ $lesson.serial_number }}
        </span>
        {{ /if }}

        {{ if $is_class_course && $purchase.student_no }}
        <span>
            班内序号：{{ $purchase.student_no }}
        </span>
        {{ /if }}


        {{ if $user.role == 0 }}
            {{ $role_cn = '老师' }}
            {{ $role_en = 'teacher' }}
            {{ $chat_to_student = false }}
        {{ else if $user.role == 2 }}
            {{ $role_cn = '学生' }}
            {{ $role_en = 'student' }}
            {{ $chat_to_student = true }}
        {{ else if $user.role == 6 }}
            {{ $role_cn = '机构' }}
            {{ $role_en = 'institution' }}
            {{ $chat_to_student = false }}
        {{ /if }}

        <span class="course-teacher">

            {{ if $lesson.type == 1 && !$is_trial_course }}

                {{ if isset($user.qreserve_sign) && $user.qreserve_sign == 1 }}
                    {{ $opened = 1 }}
                {{ else }}
                    {{ $opened = 0 }}
                {{ /if }}

                {{ if $user.role == 0 }}

                    {{ if $opened == 1 }}
                        <i class="icon icon-lightning-circle close-qreserve" data-title="你为{{ $user.display_name }}开启了闪电约课，{{ $user.display_name }}向你约课及时间修改系统将会自动确认，如需取消请点击闪电标识" data-width="20em" data-user-num="{{ $user.number }}"></i>
                    {{ else if $opened == 0 }}
                        <i class="icon icon-lightning-o open-qreserve" data-title="点击开启闪电约课，{{ $user.display_name }}向你发起的约课及时间修改系统将会自动确认" data-width="20em" data-user-num="{{ $user.number }}"></i>
                    {{ /if }}

                {{ else if $user.role == 2 }}

                    {{ if $opened == 1 }}
                        <i class="icon icon-lightning-circle" data-title="{{ $user.display_name }}为你开启了闪电约课，你向该学生约课将被自动确认。课程结束后系统会自动支付课酬。" data-width="20em"></i>
                    {{ else if $opened == 0 }}
                        <i class="icon icon-lightning-o" data-title="闪电约课未开启。学生为你开启闪电约课后，你发起的约课会被系统自动确认。" data-width="21em"></i>
                    {{ /if }}

                {{ /if }}
            {{ /if }}

            {{ $role_cn }}：

            {{ if $role_en == 'teacher' }}
                <a href="/{{ $user.private_domain }}" target="_blank">
                    {{ $user.display_name }}
                </a>
            {{ else if $role_en == 'student' }}
                <a href="/x/{{ $user.number }}" target="_blank">
                    {{ $user.display_name }}
                </a>
            {{ else if $role_en == 'institution' }}
                <a href="/i/{{ $user.number }}" target="_blank">
                    {{ $user.display_name }}
                </a>
            {{ /if }}
        </span>

        {{ include file="common/component/chatLabel4.html" user_number=$user.number user_type=$role_en chat_to_student=$chat_to_student size="tiny" online_status=$user.im_online_status }}
    </div>

    <table>
        <tbody>
            <tr>
                <td class="col1">

                    {{ if $user_data.user_type == "2" }}
                        <a href="/{{ $user.private_domain }}" target="_blank">
                    {{ /if }}
                        <div class="avatar" data-user-id="{{ $user.id }}" data-user-number="{{ $user.number }}" data-domain="{{ $user.private_domain }}">
                            {{ include file="common/component/image.html" url=$user.avatar class="thumbnail" width=78 }}
                        </div>
                    {{ if $user_data.user_type == "2" }}
                        </a>
                    {{ /if }}

                    <div class="course-info">
                        {{ if $lesson.type ==2  }}
                            <a href="{{ $root }}/teacher/classCourseDetail/{{ $lesson.class_course_number }}" target="_blank">
                            {{ if $is_trial_course }}
                                <h5 class="course-name">
                                    试听课{{ $purchase.hours }}小时
                                </h5>
                            {{ else }}
                                {{ $name = $purchase.course_name }}
                                {{ $name_cut = $name|cn_truncate: 10 }}

                                <h5 class="course-name"{{ if $name != $name_cut }} data-title="{{ $name }}"{{ /if }}>
                                    {{ $name_cut }}
                                </h5>
                            {{ /if }}
                            </a>
                        {{ else }}
                            {{ if $is_trial_course }}
                            <h5 class="course-name">
                                试听课{{ $purchase.hours }}小时
                            </h5>
                            {{ else }}
                            {{ $name = $purchase.course_name }}
                            {{ $name_cut = $name|cn_truncate: 10 }}

                            <h5 class="course-name"{{ if $name != $name_cut }} data-title="{{ $name }}"{{ /if }}>
                            {{ $name_cut }}
                            </h5>
                            {{ /if }}
                        {{ /if }}

                        <span class="lesson-way">

                            {{ include file="common/variable/lesson.html" scope=parent }}
                            {{ $lesson_way = $lessonMap[$purchase.lesson_way] }}

                            {{ if $is_class_course || $is_x_course }}

                                {{ if $lesson_way == '在线授课' }}
                                    在线授课
                                {{ else }}
                                    线下授课
                                {{ /if }}

                            {{ else if $is_trial_course }}
                                {{ if $purchase.lesson_way == '2' }}
                                    在线试听
                                {{ else if $purchase.lesson_way == '4' }}
                                    线下试听
                                {{ /if }}
                            {{ else }}

                                {{ $lesson_way }}

                            {{ /if }}

                        </span>

                        {{ if $purchase.is_self == 0 }}
                        <div class="student-name">
                            <label>上课人：</label>
                            {{ $purchase.real_student|cn_truncate:10 }}
                        </div>
                        {{ /if }}

                        {{ if $is_class_course }}
                        <div>
                            <label class="class-course-label">
                                班课
                            </label>
                        </div>
                        {{ /if }}
                    </div>
                </td>

                <td class="col2">

                    {{ $lesson.start_time|date_format: '%m月%d日' }}

                    <span class="time-range">
                        {{ $lesson.start_time|date_format: '%H:%M' }}
                        -
                        {{ $lesson.end_time|date_format: '%H:%M' }}
                    </span>

                    <span class="course-length label-default small">
                        {{ if $is_x_course }}
                            {{ $lesson.class_count }} 课时
                        {{ else }}
                            {{ ($lesson.length / 60)|number_format: 2 }} 小时
                        {{ /if }}
                    </span>
                </td>

                <td class="col3">

                    {{ $courseStatus[$lesson.display_status][1] }}

                    {{ if isset($operation.countdown) && ($operation.countdown|count > 0) }}
                        {{ $countdown = $operation.countdown }}
                        <span class="count-down">

                            <i class="icon icon-clock"></i>

                            {{ if isset($countdown.name) && $countdown.name == "autopay" }}
                                {{ if isset($purchase.use_plat_ensure) && $purchase.use_plat_ensure == 0 }}
                                    {{ $text = "自动确认" }}
                                    {{ $alert_text = "自动确认" }}
                                {{ else }}
                                    {{ $text = "自动支付" }}
                                    {{ $alert_text = "自动支付" }}
                                {{ /if }}
                            {{ else }}
                                {{ $text = "上课时间" }}
                                {{ $alert_text = "到达上课时间" }}
                            {{ /if }}

                            距{{ $text }}

                            还有：

                            {{ $expired = $countdown.expired_at }}

                            {{ if $expired < 0 }}
                                {{ $expired = 0 }}
                            {{ /if }}

                            {{ $hours = ($expired / 3600)|floor }}
                            {{ $minutes = (($expired % 3600) / 60)|floor }}
                            {{ $seconds = (($expired % 3600) % 60)|floor }}

                            {{ if $hours < 10 && $hours > -10 }}
                                {{ $hours = '0'|cat: $hours }}
                            {{ /if }}

                            {{ if $minutes < 10 && $minutes > -10 }}
                                {{ $minutes = '0'|cat: $minutes }}
                            {{ /if }}

                            {{ if $seconds < 10 && $seconds > -10 }}
                                {{ $seconds = '0'|cat: $seconds }}
                            {{ /if }}

                            <div id="count-down-{{ $lesson.serial_number }}">
                            {{ $hours }}:{{ $minutes }}:{{ $seconds }}
                            </div>

                            {{ if $expired > 0 }}

                            <script class="schedule-countdown-script">

                                (function () {

                                    window.intvals = window.intvals || [];

                                    var elem = document.getElementById('count-down-{{ $lesson.serial_number }}');
                                    var timestamp = {{ $expired }};

                                    function pad(num) {
                                        return num < 10 ? ('0' + num) : num;
                                    }

                                    var timer = setInterval(
                                        function () {

                                            timestamp -= 1;

                                            if (timestamp < 1) {
                                                window.clearInterval(timer);
                                                alert(
                                                    '你与 {{ $user.display_name }} 的 {{ $purchase.course_name }} 课程'
                                                    + '已{{ $alert_text }}，请刷新页面'
                                                );
                                            }

                                            var hours = Math.floor( timestamp / 3600 );
                                            var minutes = Math.floor( ( timestamp % 3600 ) / 60 );
                                            var seconds = Math.floor( ( timestamp % 3600 ) % 60 );

                                            elem.innerHTML = pad(hours)
                                                           + ':'
                                                           + pad(minutes)
                                                           + ':'
                                                           + pad(seconds);
                                        },
                                        1000
                                    );

                                    window.intvals.push(timer);

                                })();
                            </script>

                            {{ /if }}
                        </span>
                    {{ /if }}
                </td>

                <td class="col4 {{ if !empty($lesson.playback) && $lesson.cloud_playback }}playback-col{{ /if }}" data-course-status="{{ $lesson.display_status }}" data-teacher-number="{{ $user.number }}"
                {{ if isset($lesson.online_data) }}
                data-online='{{ json_encode($lesson.online_data, 77) }}'
                {{ /if }}
                >

                    {{ include file="common/center/component/scheduleAction.html" purchase_id=$purchase.purchase_id actions=$operation.actions lesson=$lesson use_plat_ensure=$purchase.use_plat_ensure }}

                    {{ if !empty($lesson.playback) || $lesson.cloud_playback }}

                        {{ if $lesson.cloud_playback }}
                            <div class="btn btn-success small">
                                <a href="{{ $lesson.cloud_playback_url }}" target="_blank">
                                    观看回放
                                </a>
                            </div>
                        {{ else if !empty($lesson.playback) }}
                            <div class="btn btn-success small playback" data-coursenumber="{{ $lesson.class_course_number }}" data-scheduleid="{{ $lesson.schedule_id }}">
                                观看回放
                            </div>
                        {{ /if }}

                        {{ if $lesson.cloud_playback  }}
                            {{ if isset($lesson.cloud_playback_expire) && $lesson.cloud_playback_expire }}
                                <span class="media-expire">
                                    有效期至<br>
                                    {{ $lesson.cloud_playback_expire }}
                                </span>
                            {{ else }}
                                <span class="media-expire">始终有效</span>
                            {{ /if }}
                        {{ else }}
                            {{ if isset($lesson.media_expire) && $lesson.media_expire != null }}
                                <span class="media-expire">
                                    有效期至<br>
                                    {{ $lesson.media_expire }}
                                </span>
                            {{ else }}
                                <span class="media-expire">始终有效</span>
                            {{ /if }}
                        {{ /if }}

                    {{ /if }}
                </td>
            </tr>

            {{ if !empty($lesson.location) }}
                {{ $address_cut = $lesson.location|cn_truncate: 40 }}
                <tr class="location">
                    <td colspan="4" class="address"
                    {{ if $address_cut != $lesson.location }}
                        data-title="{{ $lesson.location }}"
                        data-width="30em"
                    {{ /if }}
                    >
                        课程地址：
                        {{ if !$lesson.country }}
                            {{ $address_cut }}
                            {{ if isset($lesson.offline_poi) && $lesson.offline_poi.lng }}
                                <span data-offline='{{ json_encode($lesson.offline_poi, 77) }}' data-address="{{ $lesson.location }}" data-index="{{ $lesson.serial_number }}">
                                    查看地图位置
                                </span>
                            {{ /if }}
                        {{ else }}
                            {{ $lesson.country }}-
                            {{ $address_cut }}
                        {{ /if }}
                    </td>
                </tr>
            {{ /if }}
        </tbody>
    </table>

    {{ if isset($lesson.comment) && $lesson.comment }}
    <div class="footer">
        <span class="text-error">备注：</span>
        {{ $lesson.comment|escape:html }}
    </div>
    {{ /if }}

</div>
{{ /strip }}