@import "../common.styl";
@import "common/ui/DropLoad/index.styl";

.me {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: rem(15);
    background: $color-wenzai;
    .teacher-mainpage {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex: 3;
        color: $white;
        .avatar {
            margin: 0 rem(5) 0 0;
            border-radius: 100%;
            width: rem(45);
            height: rem(45);
        }
        .name {
            font-size: rem(17);
        }
        .logo-vip {
            width: rem(17);
            height: rem(17);
            vertical-align: baseline;
        }
        .comment-no,
        .if-on-list {
            line-height: rem(23);
        }
    }
    .teacher-comment {
        flex: 2;
        color: $white;
        margin: auto 0;
    }
}
.home {
    .banner {
        width: 100%;
    }
}

.list-teacher {
    .unit {
        border-bottom: rem(10) solid $bg-f6;
        background: $white;
        .head {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            padding: rem(15) rem(15) rem(15) 0;
            color: $gray-9;
            .rank-no {
                margin: auto;
                width: rem(40);
                display: inline-block;
            }
            .pre-3 {
                color: #f5a623;
            }
            .teacher-mainpage {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex: 7;
                color: $gray-9;
                .avatar {
                    margin: 0 rem(5) 0 0;
                    border-radius: 100%;
                    width: rem(40);
                    height: rem(40);
                }
                .name {
                    font-size: rem(15);
                    color: $gray-3;
                }
                .logo-vip {
                    vertical-align: baseline;
                }
                .teach-type {
                    line-height: rem(23);
                }
            }
            .teacher-comment {
                flex: 3;
                margin: auto 0;
                color: $gray-9;
            }
        }
        .comment-first {
            border: rem(1) solid #ededee;
            padding: rem(10);
            font-size: rem(14);
            .name {
                padding: 0 0 rem(5);
                color: #37a4f5;
            }
            .time {
                padding: rem(10) 0 0;
                font-size: rem(13);
                color: $gray-9;
            }
        }
    }
}
.no-more-text {
    padding: 0 0 rem(15);
}