{{ extends file="common/use/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $script_path = "static/app_1f33aa1a61" }}

{{ $ct = '' }}
{{ if isset($smarty.get.ct) }}
    {{ $ct = $smarty.get.ct }}
{{ /if }}

{{ $script_data.sort = $ct }}
{{ $script_data.serverTime = $ts }}

{{ $nav_config.active = 'app' }}

{{ /block }}

{{ block name="title" }}
跟谁学APP下载平台 - 跟谁学
{{ /block }}

{{ block name="style" }}


<link rel="stylesheet" href="{{ $static_origin }}/asset/css/static/app_e236002ec8.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}
{{ $a = 'teacher' }}
{{ if isset($smarty.get.a) }}
    {{ $a = $smarty.get.a }}
{{ /if }}


{{ if isset($smarty.server.HTTP_USER_AGENT) }}
    {{ $ua = $smarty.server.HTTP_USER_AGENT }}
{{ else }}
    {{ $ua = '' }}
{{ /if }}

{{ $oldIEExpr = "/msie ([\w.]+)/i" }}
{{ $pad = "/pad/i" }}
{{ $uachar = "/(nokia|sony|ericsson|mot|samsung|sgh|lg|sie|philips|panasonic|alcatel|lenovo|cldc|midp|wap|mobile)/i" }}

{{ if ($ua == '' || preg_match($uachar, $ua))&& !strpos(strtolower($smarty.server.REQUEST_URI),'wap') && !preg_match($oldIEExpr, $ua) && !preg_match($pad, $ua) }}
    {{ $is_wap = '1' }}
{{ else }}
    {{ $is_wap = '0' }}
{{ /if }}

{{ if $is_wap == 1 }}
{{ block name="meta" }}
{{ $smarty.block.parent }}
{{ strip }}
<meta http-equiv="refresh" content="0; url=http://m.genshuixue.com/app" />
{{ /strip }}
{{ /block }}
{{ /if }}

{{ if isset($smarty.get.type) }}
    {{ $script_data.type = $smarty.get.type }}
{{ /if }}

{{ $script_data.is_wap = $is_wap }}
{{ if $ct }}
    {{ $script_data.long_url = 'http://m.genshuixue.com/app?source=gsx_app_im'|cat:'&ct='|cat:{{ $ct }} }}
{{ else }}
    {{ $script_data.long_url = 'http://m.genshuixue.com/app?source=gsx_app_im' }}
{{ /if }}
{{ $script_data.q = md5("f7c1657c6effb51e5a2dea1ad02d3392"|cat:$script_data.long_url) }}

<div id="main">
    <div class="content">

        <div class="allApp apps">
            <!--学生版 -->
             <div class="item">
                 <div class="contents nows">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/a-xs_146bb19313.png"></div>
                     <div class="out descrip">
                         <div class="title">跟谁学学生版-明星达人互动学习答疑</div>
                         <div class="desc">跟谁学是中国最大的找好老师学习平台，涵盖各行业名师达人的教学服务
                             及课程，多端上课，真人即时解疑，附近老师让学习触手可及。
                         </div>
                     </div>
                 </div>
                 <div class="contents hover">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/2xs_155bdbc1e6.png"></div>
                     <div class="out descrip">
                         <div class="title">跟谁学学生版-明星达人互动学习答疑</div>
                         <div class="desc">扫描左侧的二维码下载APP
                         </div>
                     </div>
                 </div>
             </div>
            <!--老师版 -->
             <div class="item">
                 <div class="contents nows">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/a-ls_c6d39b66d3.png"></div>
                     <div class="out descrip">
                         <span class="title">跟谁学老师版-新时代老师家教教师必备神器</span>
                         <div class="desc">跟谁学老师版是一款为老师们量身定制的APP应用。帮助老师获得海量
                             生源，提高老师工作效率，方便老师管理课程，让老师获得最大的收益。
                         </div>
                     </div>
                 </div>
                 <div class="contents hover">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/2ls_0547fdb930.png"></div>
                     <div class="out descrip">
                         <div class="title">跟谁学老师版-新时代老师家教教师必备神器</div>
                         <div class="desc">扫描左侧的二维码下载APP
                         </div>
                     </div>
                 </div>
             </div>
            <!--机构版 -->
             <div class="item">
                 <div class="contents nows">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/a-jg_32e902d50e.png"></div>
                     <div class="out descrip">
                         <span class="title">跟谁学机构版-<span class="org-num"></span>+教育机构的共同选择</span>
                         <div class="desc">跟谁学机构版，全球<span class="org-num"></span>+教育机构的共同选择！帮您全面提升品牌影响力，实现一站式招生服务，助您轻松管理教务财务，全面提升管理效率。
                         </div>
                     </div>
                 </div>
                 <div class="contents hover">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/2jg_096c68068b.png"></div>
                     <div class="out descrip">
                         <div class="title">跟谁学机构版-<span class="org-num"></span>+教育机构的共同选择</div>
                         <div class="desc">扫描左侧的二维码下载APP
                         </div>
                     </div>
                 </div>
             </div>
            <!--咚咚版 -->
             <div class="item">
                 <div class="contents nows">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/a-dd_83079a73e3.png"></div>
                     <div class="out descrip">
                         <span class="title">咚咚问答-百万学生信赖的免费作业答疑神器</span>
                         <div class="desc">轻松一拍语音提问，秒杀万千难题。海量名师在线解惑，学渣秒变学霸。有问题，快来咚一下！
                         </div>
                     </div>
                 </div>
                 <div class="contents hover">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/2dd_2f6189ecc7.png"></div>
                     <div class="out descrip">
                         <div class="title">咚咚问答-百万学生信赖的免费作业答疑神</div>
                         <div class="desc">扫描左侧的二维码下载APP</div>
                     </div>
                 </div>
             </div>
            <!--签签 -->
             <div class="item">
                 <div class="contents nows">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/a-qq_d3f39d7d08.png"></div>
                     <div class="out descrip">
                         <span class="title">签签-专为教育机构打造的签到和提醒的工具 </span>
                         <div class="desc">支持微信、手写等多种方式签到，具有报表、群发通知、教务管理等多种功能。
                         </div>
                     </div>
                 </div>
                 <div class="contents hover">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/2qq_1f60b409fc.png"></div>
                     <div class="out descrip">
                         <div class="title">签签-专为教育机构打造的签到和提醒的工具</div>
                         <div class="desc">扫描左侧的二维码下载APP
                         </div>
                     </div>
                 </div>
             </div>
            <!--直播助手 -->
             <div class="item">
                 <div class="contents nows">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/a-zb_b47fccb811.png"></div>
                     <div class="out descrip">
                         <span class="title">直播助手-专为教学场景设计的直播工具</span>
                         <div class="desc">支持多人互动、课件白板、播放音视频、课程录制等功能，为师生提供稳定、流畅的学习体验。
                         </div>
                     </div>
                 </div>
                 <div class="contents hover">
                     <div class="img out"><img src="{{ $static_origin }}/asset/img/app/pc/a-zb_b47fccb811.png"></div>
                     <div class="out descrip">
                         <div class="title">直播助手-专为教学场景设计的直播工具</div>
                         <div class="desc">
                            <a class="ismac" href="http://d.gsxservice.com/video/www/download/gsxliveclient.zip?v=1438225356940">
                                <button class="btn btn-primary small">点击下载</button>
                            </a>
                         </div>
                     </div>
                 </div>
             </div>
        </div>

        <div class="studentApp apps active">
            <div class="topDiv">
                <img src="{{ $static_origin }}/asset/img/app/pc/s-banner_1195094e2d.png" alt="跟谁学app下载"/>
                <div class="downBtn">
                    <a target="_blank" href="https://itunes.apple.com/app/apple-store/id919947654?pt=101822803&mt=8"><button class="iphone"><i class="icon icon-iphone"></i><span>iPhone下载</span></button></a><br>
                    <a target="_blank" href="http://d.gsxservice.com/app/genshuixue.apk?ct="><button class="android"><i class="icon icon-android"></i><span>Android下载</span></button></a>
                </div>
            </div>
            <div class="centerDiv">
                <div class="ad">
                    <span class="title">万千名师任你挑</span>
                    <span class="content">资质认证，真实评价，师资有保障</span>
                    <div class="img">
                        <img src="{{ $static_origin }}/asset/img/app/pc/s-teacher_ea41284a6b.jpg">
                    </div>
                </div>
                <div class="ad">
                    <span class="title">海量课程任你选</span>
                    <span class="content">千种科目，多种上课方式，随心学</span>
                    <div class="img"><img src="{{ $static_origin }}/asset/img/app/pc/s-course_9e454519df.jpg"></div>
                </div>
                <div class="ad">
                    <span class="title">社交学习共成长</span>
                    <span class="content">在社区找志同道合的同学一起成长</span>
                    <div class="img"><img src="{{ $static_origin }}/asset/img/app/pc/s-study_022da5198f.jpg"></div>
                </div>
            </div>
            <div class="bottomDiv">
                    <span class="title">根据你的手机，请选择下载</span>
                    <a target="_blank" href="https://itunes.apple.com/app/apple-store/id919947654?pt=101822803&mt=8"><div class="img"><img src="{{ $static_origin }}/asset/img/app/pc/s-down-iphone_53921fd20f.png"><div>iPhone</div></div></a>
                    <a target="_blank" href="http://d.gsxservice.com/app/genshuixue.apk?ct=">   <div class="img"><img src="{{ $static_origin }}/asset/img/app/pc/s-down-android_128e7ab433.png"><div>Android</div></div></a>
                    <div class="img"><img class="weixin" src="{{ $static_origin }}/asset/img/app/pc/2xs_155bdbc1e6.png"></div>
            </div>
        </div>

        <div class="teacherApp apps">
            <div class="upDiv">
                <img src="{{ $static_origin }}/asset/img/app/pc/t-banner_54a246dc82.png" alt="跟谁学app下载"/>
                <div class="downBtn">
                    <a target="_blank" href="http://itunes.apple.com/cn/app/id912267275?mt=8&pt=101822803&ct=">
                        <button class="iphone">
                            <img src="{{ $static_origin }}/asset/img/app/pc/ic-tiphone_ae02b73020.png">
                            <span>iPhone下载</span>
                        </button>
                    </a>
                    <br>
                    <a target="_blank" href="http://d.gsxservice.com/app/genshuixue_teacher.apk?ct=">
                        <button class="android">
                            <img src="{{ $static_origin }}/asset/img/app/pc/ic-tandroid_98c6800c27.png">
                            <span>Android下载</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="downDiv">
                <div class="banner">
                    <img class="outer" src="{{ $static_origin }}/asset/img/app/pc/t-outer_a82bb4b1ca.png">
                    <div class="listout">
                        <div class="listin">
                            <div class="img img0" data-index="0">
                                <img src="{{ $static_origin }}/asset/img/app/pc/t-banner2_34ad3200b2.png">
                            </div>
                            <div class="img img1" data-index="1">
                                <img src="{{ $static_origin }}/asset/img/app/pc/t-banner1_9e1c9539a9.png">
                            </div>
                            <div class="img img2" data-index="2">
                                <img src="{{ $static_origin }}/asset/img/app/pc/t-banner3_d4a810de9e.png">
                            </div>
                            <div class="clearFixed"></div>
                        </div>
                    </div>
                    <a href="javascript:;" class="promotion-slider-left" title="上一个">
                        <i class="icon icon-chevron-left"></i>
                    </a>
                    <a href="javascript:;" class="promotion-slider-right" title="下一张">
                        <i class="icon icon-chevron-right"></i>
                    </a>

                    <div class="descrips">
                        <div class="descrip descrip0 active">
                            <div class="title">专属平台</div>
                            <div class="desc">成果好评累积显示，个人风采一览无余</div>
                        </div>
                        <div class="descrip descrip1">
                            <div class="title">助力招生</div>
                            <div class="desc">PC手机全面覆盖，试听咨询生源不愁</div>
                        </div>
                        <div class="descrip descrip2">
                            <div class="title">便捷管理</div>
                            <div class="desc">开课设价一键设置，课酬积分一目了然</div>
                        </div>


                        <div class="descrip descripimg">
                            <div class="ic-content show0 active" data-index="0">
                                <img src="{{ $static_origin }}/asset/img/app/pc/t-zspt_8ae3939b96.svg">
                                <br>
                                <span class="ic-desc">专属平台</span>
                            </div>
                            <div class="ic-content show1" data-index="1">
                                <img src="{{ $static_origin }}/asset/img/app/pc/t-zlzs_01065b9a43.svg">
                                <br>
                                <span class="ic-desc">助力招生</span>
                            </div>
                            <div class="ic-content show2" data-index="2">
                                <img src="{{ $static_origin }}/asset/img/app/pc/t-bjgl_fbfb8848c4.svg">
                                <br>
                                <span class="ic-desc">便捷管理</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{{ /strip }}
{{ /block }}