{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $script_path = "static/teacher_f8a3540225" }}

{{ $nav_config.active = 'teacher' }}

{{ /block }}

{{ block name="title" }}
老师入驻 - 跟谁学
{{ /block }}


{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/static/teacher_5b1f16b301.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div id="main">

    <div class="teacher-banner">
        <a class="register" href="/static/register?user_type=0" target="_blank"></a>
    </div>

    <!--第二部分-->
    <div class="enter">
        <div class="wrapper be">
            <h1>
                <a class="register-enter" href="/static/register?user_type=0" target="_blank">现在入驻</a>
                跟谁学，成为平台老师会让你：
            </h1>
            <ul class="be">
                <li class="source">
                    1、每月获得额外收入，扩大生源
                </li>
                <li class="person">
                    2、专属老师展示平台，提高知名度
                </li>
                <li class="auto">
                    3、免费使用跟谁学强大在线上课工具，足不出户传播知识
                </li>
                <li class="free">
                    4、用自己擅长的知识和技能帮助他人，解人所难
                </li>
            </ul>
        </div>
    </div>
    <!--第三部分-->
    <div class="will">
        <div class="wrapper who">
            <h1>谁能成为跟谁学老师？</h1>
            <ul>
                <li>
                    <i class="teacher"></i>
                    <div>我是专业老师</div>
                </li>
                <li>
                    <i class="technology"></i>
                    <div>我有一技之长</div>
                </li>
                <li>
                    <i class="student"></i>
                    <div>我是在校学生</div>
                </li>
            </ul>
        </div>
    </div>
    <!--第四部分-->
    <div class="enter">
        <div class="wrapper why">
            <h1>为什么在跟谁学分享你的知识和技能？</h1>
            <ul>
                <li class="source">
                    <h2>获得生源</h2>
                    <p>
                        平台拥有流量和品牌优势，在平台结合你的背景和资历进行合理定价，完善
                        <span>你的主页，就能吸引生源，获得更高回报</span>
                    </p>
                </li>
                <li class="person">
                    <h2>个性化的老师主页</h2>
                    <p>
                        打造个性化的老师展示主页（<a href="http://www.genshuixue.com/t/tian888" target="_blank">查看老师主页样例</a>），
                        你可以上传照片、视频展示课程信息，
                        迅速提升知名度和影响力，积累口碑与评价
                    </p>
                </li>
                <li class="auto">
                    <h2>课酬24小时自动结算</h2>
                    <p>在平台购买课时并完成约课，课程结束后，课酬24小时后自动支付，课酬结算无压力</p>
                </li>
                <li class="free">
                    <h2>移动互联网时代的教育体验</h2>
                    <p>您的知识技能才华可突破地域与资源的障碍，成为您影响和改变世界的途径</p>
                </li>
            </ul>
        </div>
    </div>
    <!--第五部分-->
    <div class="will">
        <div class="wrapper easy-enter">
            <h1>
                简单4步轻松完成老师入驻！
                <a href="/static/register?user_type=0"  target="_blank">
                    <button class="btn btn-primary easy">立即入驻</button>
                </a>
                <a class="video" target="_blank" href="guide/process?a=process"><i class="icon icon-camera"></i>老师入驻指南</a>
            </h1>
            <img src="{{ $static_origin }}/asset/img/teacher-intro/new/teacher51_c3300368dd.png" alt="轻松入驻跟谁学" />
            <p>以上4步设置完成后，等待系统审核通过，你就可以在平台开课啦！</p>
            <img src="{{ $static_origin }}/asset/img/teacher-intro/new/teacher52_99c17c3e57.png" alt="轻松入驻跟谁学" />

        </div>
    </div>
    <!--第六部分-->
    <div class="enter">
        <div class="wrapper process">
            <h1>跟谁学平台流程</h1>
            <ul>
                <li class="item-1">
                    <i></i>
                    <div>
                        <i></i>
                        看主页&咨询
                    </div>
                    <p>学生被你的魅力吸引，看到你的主页，通过跟谁学聊天工具向你咨询</p>
                </li>
                <li class="item-2">
                    <i></i>
                    <div>
                        <i></i>
                        学生购买课时
                    </div>
                    <p>你们很聊得来，学生决定购买你的10小时课时</p>
                </li>
                <li class="item-3">
                    <i></i>
                    <div>
                        <i></i>
                        学生线上约课
                        老师在线确认
                    </div>
                    <p>学生在线发起约课，老师在网站或者手机APP确认后课程生效。如果不进行在线约课，你可能无法收到课酬哦</p>
                </li>
                <li class="item-4">
                    <i></i>
                    <div>
                        <i></i>
                        按时上课
                    </div>
                    <p>你们按照约定时间上课。  可以线下上课， 也可使用跟谁学在线教学工具进行在线视频上课</p>
                </li>
                <li class="item-5">
                    <i></i>
                    <div>
                        <i></i>
                        学生确认上课
                        课酬自动支付
                    </div>
                    <p>每节课程结束后， 学生在后台确认支付， 你可以立即收到当节课酬。即使学生不操作， 系统也会在每节课程结束时间的24小时后自动支付当节课酬</p>
                </li>
                <li class="item-6">
                    <i></i>
                    <div>
                        <i></i>
                        双方评价
                    </div>
                    <p>课程订单全部结束后，学生会对你做出评价。获得更多好评，你被学生搜索到并约课的概率会越大哦</p>
                </li>
            </ul>
        </div>
    </div>
    <!--第七部分-->
    <div class="will">
        <div class="wrapper faq">
            <h1>常见问题</h1>
            <ul>
                <li class="odd">
                    <h2>1、如何在搜索中排名更靠前？</h2>
                    <p>
                        积累平台上课时长、评价数、学生数，上传更多视频、照片，会
                        <span style="display: block;">让你的排名更加靠前，你可通过邀请学生评价积累评价数。</span>
                        设置常用地址会让学生在附近老师中看到你哦！
                    </p>
                </li>
                <li class="">
                    <h2>2、如何联系到学生？</h2>
                    <p>
                        学生可以和你在跟谁学上在线聊天，如果不能经常呆在电脑旁，你可以下载老师手机版APP随时接收消息哦！
                        <a class="app" href="/static/app" target="_blank">点击下载APP</a>
                        <span style="display: block;">学生拍下你的课时订单并完成支付后，跟谁学会短信通知你！</span>

                    </p>
                </li>
                <li class="odd">
                    <h2>3、是否支持在线上课？</h2>
                    <p>
                        上课方式设置了可在线授课的老师，在学生拍下在线授课订单时，可使用跟谁学自主研发的在线上课工具完成在线视频上课，拥有实时视频、电子白板、答题卡、在线聊天等诸多功能。
                        <!-- <a class="video-2" href="javascript:void(0)" target="_blank">点击查看在线上课工具介绍</a> -->
                    </p>
                </li>
                <li class="">
                    <h2>4、如何才能收到课酬？</h2>
                    <p>
                        你可以和学生在线约课，在系统中完成约课确认后，在课程结束时间的24h后，课酬会自动打给老师。如果学生点击确认支付，你会立即收到课酬。不在线约课的课程你可能无法收到课酬哦！
                        你可以将账户的课酬提现到绑定的银行卡中。
                    </p>
                </li>
                <li class="odd">
                    <h2>5、平台提供哪些类型的认证？</h2>
                    <p>
                        所有平台老师必须经过身份认证（身份证、护照），还可以上传：
                        <span style="display: block;" >教师证认证：在职教师的教师证照片；</span>
                        <span style="display: block;" >专业资质认证：能体现你专业能力的证书或者证明；</span>
                        学历认证：你的毕业证、学位证或在读证明的照片。
                    </p>
                </li>
                <li class="">
                    <h2>6、如何设定课程价格？</h2>
                    <p>
                        你可参照平时的上课价格，设置跟谁学的课时价格。老师上门上课会产生交通费，建议老师上门的价格高于学生上门。在线授课节省了双方的时间，在线授课的价格可低于其他上课方式。你还可以设置课时优惠包，学生一次购买更多课时，你可以给TA折扣优惠哦。
                    </p>
                </li>
            </ul>
        </div>
    </div>


    <!--视频播放列表-->
    <div class="teacher-videos">
        <p class="title">入驻老师风采</p>
        <div class="video-teacher">
            <!--视频列表-->
            <ul class="video-show" id="videoShow">

                <li>
                    {{ include file="common/component/videoThumbnail.html" img=$static_origin|cat:"/asset/img/teacher-intro/intro1-yuchao.jpg" video="http://www.genshuixue.com/video/view/7524" title="于超" intro="烘焙，10年教龄" vid="7524" }}
                </li>

                <li>
                    {{ include file="common/component/videoThumbnail.html" img=$static_origin|cat:"/asset/img/teacher-intro/intro-huangqi.jpg" video="http://www.genshuixue.com/video/view/8219" title="黄颀" intro="GRE，15年教龄" vid="8219" }}
                </li>

                <li>
                    {{ include file="common/component/videoThumbnail.html" img=$static_origin|cat:"/asset/img/teacher-intro/intro2-shiyang.jpg" video="http://www.genshuixue.com/video/view/6607" title="施洋" intro="法语，10年教龄" vid="6607" }}
                </li>

                <li>
                    {{ include file="common/component/videoThumbnail.html" img=$static_origin|cat:"/asset/img/teacher-intro/intro7-lailai.jpg" video="http://www.genshuixue.com/video/view/3280" title="赖赖老师" intro="钢琴，8年教龄" vid="3280" }}
                </li>

                <li>
                    {{ include file="common/component/videoThumbnail.html" img=$static_origin|cat:"/asset/img/teacher-intro/intro5-zhuyue.jpg" video="http://www.genshuixue.com/video/view/4078" title="朱玥" intro="舞蹈，2年教龄" vid="4078" }}
                </li>

                <li>
                    {{ include file="common/component/videoThumbnail.html" img=$static_origin|cat:"/asset/img/teacher-intro/intro6-zhuhe.jpg" video="http://www.genshuixue.com/video/view/8232" title="祝贺" intro="健身，10年教龄" vid="8232" }}
                </li>

                <li>
                    {{ include file="common/component/videoThumbnail.html" img=$static_origin|cat:"/asset/img/teacher-intro/intro-bihaiming.jpg" video="http://www.genshuixue.com/video/view/8231" title="毕海明" intro="数学，11年教龄" vid="8231" }}
                </li>

                <li>
                    {{ include file="common/component/videoThumbnail.html" img=$static_origin|cat:"/asset/img/teacher-intro/intro3-zhanglei.jpg" video="http://www.genshuixue.com/video/view/6059" title="张磊" intro="跑酷，8年教龄" vid="6059" }}
                </li>

            </ul>
            <!--视频列表结束-->
        </div>
    </div>

</div>

{{ /strip }}
{{ /block }}