{{ *

@file 头部

    参数

    title: 如果不是"找好老师，上跟谁学"，需要传入 title
    search: 参数，如 ?next=xxx

@author zhujialu

* }}
{{ strip }}

<div id="header">
    <div class="wrapper">
        <h1>
            <a title="去跟谁学首页" {{ if isset($tpl_data.is_www) && $tpl_data.is_www }}
                href="{{ $origin_http }}"
            {{ else }}
                href="{{ $origin_http }}/{{ $curr_city.domain }}/"
            {{ /if }}>
                <img alt="跟谁学"  src="{{ $static_origin }}/asset/img/logo-release_ff8029b320.png"/>
            </a>

            {{ if empty($title) }}
                {{ $title = '找好老师，上跟谁学' }}
            {{ /if }}

            {{ $title }}
        </h1>

        <h2>
            {{ if isset($user_data.user_number) }}
                你好，{{ $user_data.display_name }}，欢迎来到跟谁学！
            {{ else }}
                你好，欢迎来到跟谁学！
                <a href="/static/login{{ if isset($search) }}{{ $search }}{{ /if }}">
                    请登录
                </a>
            {{ /if }}
            <b>|</b>
            <i class="icon icon-phone" style="color:#ff9900"></i>
            4000-910-910
        </h2>
    </div>

</div>

{{ /strip }}