{{ *

@file 课程模块
@author jixiaohui

* }}

{{ strip }}

{{ if !empty($offline_course) || !empty($online_course) || !empty($video_course) || !empty($one_course) }}
    <div id="teacher-course">
        <div class="dropdown class-course-sort">
            <span class="btn-default">
                <i class="caret"></i>
                <span>默认排序</span>
            </span>
            <ul class="dropdown-menu">
                <li data-value="1">默认排序</li>
                <li data-value="2">最近开课</li>
                <li data-value="3">最近发布</li>
            </ul>
        </div>

        {{ $counter = 0 }}

        <ul class="course-nav">
            {{ * 用户设置了试听课 * }}
            {{ if $trial_course.status != -1 }}
                <li data-nav="trial-course-box" class="active trial-course" style="border-left:none;">
                    <a>预约试听<span> HOT!</span></a>
                </li>
                {{ $counter = $counter + 1 }}
            {{ else }}
                <span class="trial-kf" data-dialog="预约咨询">
                    预约试听<span> HOT!</span>
                </span>
            {{ /if }}

            {{ * 如果不是班主任 * }}
            {{ if $tpl_data.profile.user_number !== "685738818" }}
                {{ if !empty($online_course) && $profile.online_count != 0 }}
                    <li data-nav="online-course-box" {{ if $counter < 1 }} class="active" style="border-left:none;"{{ /if }}>
                        <a>在线直播&nbsp;({{ $profile.online_count }})</a>
                    </li>
                    {{ $counter = $counter + 1 }}
                {{ /if }}

                {{ if !empty($offline_course) && $profile.offline_count != 0 }}
                    <li data-nav="offline-course-box" {{ if $counter < 1 }} class="active" style="border-left:none;"{{ /if }} >
                        <a>线下班课&nbsp;({{ $profile.offline_count }})</a>
                    </li>
                    {{ $counter = $counter + 1 }}
                {{ /if }}
            {{ else }}
                {{ if !empty($offline_course) && $profile.offline_count != 0  }}
                    <li data-nav="offline-course-box" {{ if $counter < 1 }} class="active" style="border-left:none;"{{ /if }}>
                        <a>线下班课&nbsp;({{ $profile.offline_count }})</a>
                    </li>
                    {{ $counter = $counter + 1 }}
                {{ /if }}

                {{ if !empty($online_course) && $profile.online_count != 0 }}
                    <li data-nav="online-course-box"{{ if $counter < 1 }} class="active" style="border-left:none;"{{ /if }}>
                        <a>在线直播&nbsp;({{ $profile.online_count }})</a>
                    </li>
                    {{ $counter = $counter + 1 }}
                {{ /if }}
            {{ /if }}

            {{ if !empty($video_course) && $profile.video_count != 0 }}
                <li data-nav="video-course-box"{{ if $counter < 1 }} class="active" style="border-left:none;"{{ /if }}>
                    <a>视频课程&nbsp;({{ $profile.video_count }})</a>
                </li>
                {{ $counter = $counter + 1 }}
            {{ /if }}

            {{ if !empty($one_course) && $one_course|@count != 0 }}
                <li data-nav="one-course-box"{{ if $counter < 1 }} class="active" style="border-left:none;"{{ /if }}>
                    <a>1对1课程&nbsp;({{ $one_course|@count }})</a>
                </li>
                {{ $counter = $counter + 1 }}
            {{ /if }}
        </ul>

        {{ $content_counter = 0 }}
        <div id="hiddenDiv" style="display: none"></div>

        <div class="course-content">

            {{ * 如果有试听课 * }}
            {{ if $trial_course.status != -1  }}
                <div class="trial-course-box static-trial-course-box list">
                    {{ $data = $trial_course.data }}
                    <div id="trial-course">
                        <div class="trial-body">

                            <div class="trial-content">

                                <div class="trial-title">
                                    <div class="course-length">
                                        试听课
                                        <span class="text-primary">
                                            {{ $data.length/60 }}
                                        </span>
                                        小时
                                    </div>
                                    <div class="text-info">
                                        <i class="icon icon-info-circle"></i>
                                        对老师感兴趣但是不知道选什么课？先来试听一下吧
                                    </div>
                                </div>

                                <div class="form">
                                    <div class="form-group">
                                        <label class="form-label">
                                            试听方式及价格：
                                        </label>
                                        <div class="form-controls">
                                            <input type="hidden" name="lesson_way" />
                                            <input type="hidden" name="price" required />

                                            {{ if ($data.lesson_way & 2) == 2 }}
                                                <span class="lesson-way" data-way="online" data-price="{{ $data.price_online }}">
                                                    在线试听
                                                    <em class="text-primary">
                                                        {{ if $data.price_online == '0' }}
                                                            免费
                                                        {{ else  }}
                                                            ¥ {{ $data.price_online }}
                                                        {{ /if }}
                                                    </em>
                                                </span>
                                            {{ /if }}

                                            {{ if ($data.lesson_way & 4) == 4 }}
                                                {{ **3810项目地址取机构地址** }}
                                                {{ if !empty($profile.area) }}
                                                    {{ $offline_add = $profile.area }}
                                                {{ else if !empty($profile.org_address) }}
                                                    {{ $offline_add = $profile.org_address }}
                                                {{ /if }}

                                                <span class="lesson-way" data-way="offline" data-price="{{ $data.price_offline }}" data-title="老师所在地：{{ $offline_add }}">
                                                    线下试听
                                                    <em class="text-primary">
                                                        {{ if $data.price_offline == 0 }}
                                                            免费
                                                        {{ else  }}
                                                            ¥ {{ $data.price_offline }}
                                                        {{ /if }}
                                                    </em>
                                                </span>
                                            {{ /if }}

                                            <span class="error"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">
                                            给老师留言：
                                        </label>
                                        <div class="form-controls">
                                            <div class="form-editor">
                                                <textarea class="form-text" name="note" required placeholder="XXX老师好！我想预约您在线试听。预约时间为13号上午10:00，想试听三角函数"></textarea>
                                                <div class="form-hint">
                                                    还可以输入 <strong>200</strong> 个字
                                                </div>
                                            </div>
                                            <span class="error"></span>
                                        </div>
                                    </div>

                                    <div class="form-action">
                                        <button class="btn-primary btn-trial">
                                            预约试听
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ /if }}

            {{ * 如果不是班主任 * }}
            {{ if $tpl_data.profile.user_number !== "685738818" }}

                {{ if !empty($online_course) }}
                    <div class="online-box static-online-course-box list" {{ if $trial_course.status != -1 || $content_counter > 0 }}style="display:none;"{{ /if }}>
                        {{ $online_data['course_infos'] = $online_course }}
                        {{ $online_data['course_type'] = 'online' }}
                        {{ $online_data['profile'] = $tpl_data.profile }}
                        {{ $online_data['is_headmaster'] = false }}
                        {{ include file="teacher/newDetail/courseListNew.html" tpl_data = $online_data  }}

                        {{ if $profile.online_count > 3 }}
                            <a class="seeMore" href="/{{ $tpl_data.profile.domain }}/course">
                                查看更多
                            </a>
                        {{ /if }}
                    </div>
                    <div class="online-box online-course-box list" style="display:none;"></div>
                    {{ $content_counter = $content_counter + 1 }}
                {{ /if }}

                {{ if !empty($offline_course) }}
                    <div class="offline-box static-offline-course-box list" {{ if $trial_course.status != -1 || $content_counter > 0 }}style="display:none;"{{ /if }}>

                        {{ $offline_data['course_infos'] = $offline_course }}
                        {{ $offline_data['course_type'] = 'offline' }}
                        {{ $offline_data['profile'] = $tpl_data.profile }}
                        {{ $offline_data['is_headmaster'] = false }}
                        {{ include file="teacher/newDetail/courseListNew.html" tpl_data = $offline_data  }}

                        {{ if $profile.offline_count > 3 }}
                            <a class="seeMore" href="/{{ $tpl_data.profile.domain }}/course">
                                查看更多
                            </a>
                        {{ /if }}
                    </div>
                    <div class="offline-box offline-course-box list" style="display:none;"></div>
                    {{ $content_counter = $content_counter + 1 }}
                {{ /if }}
            {{ else }}

                {{ if !empty($offline_course) }}
                    <div class="offline-box static-offline-course-box list" {{ if $trial_course.status != -1 || $content_counter > 0 }}style="display:none;"{{ /if }}>

                        {{ $offline_data['course_infos'] = $offline_course }}
                        {{ $offline_data['course_type'] = 'offline' }}
                        {{ $offline_data['profile'] = $tpl_data.profile }}
                        {{ $offline_data['is_headmaster'] = true }}
                        {{ include file="teacher/newDetail/courseListNew.html" tpl_data = $offline_data  }}

                        {{ if $profile.offline_count > 3 }}
                            <a class="seeMore" href="/{{ $tpl_data.profile.domain }}/course">
                                查看更多
                            </a>
                        {{ /if }}
                    </div>
                    <div class="offline-box offline-course-box list" style="display:none;"></div>
                    {{ $content_counter = $content_counter + 1 }}
                {{ /if }}

                {{ if !empty($online_course) }}
                    <div class="online-box static-online-course-box list" {{ if $trial_course.status != -1 || $content_counter > 0 }}style="display:none;"{{ /if }}>

                        {{ $online_data['course_infos'] = $online_course }}
                        {{ $online_data['course_type'] = 'online' }}
                        {{ $online_data['profile'] = $tpl_data.profile }}
                        {{ $online_data['is_headmaster'] = true }}
                        {{ include file="teacher/newDetail/courseListNew.html" tpl_data=$online_data  }}

                        {{ if $profile.online_count > 3 }}
                        <a class="seeMore" href="/{{ $tpl_data.profile.domain }}/course">
                            查看更多
                        </a>
                        {{ /if }}
                    </div>
                    <div class="online-box online-course-box list" style="display:none;"></div>
                    {{ $content_counter = $content_counter + 1 }}
                {{ /if }}
            {{ /if }}

            {{ include file="common/variable/videoLanguage.html" scope=parent }}

            {{ if !empty($video_course) }}
                <div class="video-box static-video-course-box list" {{ if $trial_course.status != -1 || $content_counter > 0 }}style="display:none;"{{ /if }}>

                    {{ $video_data['course_infos'] = $video_course }}
                    {{ $video_data['course_type'] = 'video' }}
                    {{ $video_data['profile'] = $tpl_data.profile }}
                    {{ $video_data['is_headmaster'] = false }}

                    {{ include file="teacher/newDetail/courseListNew.html" tpl_data=$video_data  }}

                    {{ if $profile.video_count > 3 }}
                        <a class="seeMore" href="/{{ $tpl_data.profile.domain }}/course">
                            查看更多
                        </a>
                    {{ /if }}
                </div>
                <div class="video-box video-course-box list"  style="display:none;"></div>
                {{ $content_counter = $content_counter + 1 }}
            {{ /if }}

            {{ if !empty($one_course) }}
                <div class="one-course-box list" {{ if $trial_course.status != -1 || $content_counter > 0 }}style="display:none;"{{ /if }}>

                    {{ $one_data['course_infos'] = $one_course }}
                    {{ $one_data['course_type'] = 'one' }}
                    {{ $one_data['profile'] = $tpl_data.profile }}
                    {{ $one_data['is_headmaster'] = false }}
                    {{ include file="teacher/newDetail/courseListNew.html" tpl_data=$one_data  }}

                    {{ **3810项目隐藏课表** }}
                    {{ if empty($tpl_data.profile.org_type) || $tpl_data.profile.org_type != 4 }}
                        {{ include "teacher/newDetail/calendar.html" }}
                    {{ else }}
                        <div id="teacher-calendar" style="display:none;"></div>
                    {{ /if }}
                </div>
            {{ /if }}
        </div>
    </div>
{{ else }}
    <div id="teacher-course" style="display:none;"></div>
{{ /if }}

{{ if isset($user_data) && isset($user_data.mobile) }}
    {{ $mobile = $user_data.mobile }}
    {{ $username = $user_data.display_name }}
{{ else }}
    {{ $mobile = '' }}
    {{ $username = '' }}
{{ /if }}

{{ if empty($profile.organization) }}
    {{ $kf = 'true' }}
    {{ $object_name = '' }}
{{ else }}
    {{ $kf = 'false' }}
    {{ $object_name = $profile.name }}
{{ /if }}

{{ include file="common/component/advisoryDialog.html" object_name=$object_name dialog_name='预约咨询' mobile=$mobile username=$username kf=$kf }}

{{ /strip }}