{{ *

@file 在线直播模块
@author jixiaohui

* }}

{{ strip }}
<ul class="online-course">
    {{ foreach $tpl_data.class_course as $val }}
        <li class="item{{ if $val@last }} last{{ /if }}">
            <a href="/teacher/classCourseDetail?number={{ $val.number }}" target="_blank">
                <img src="{{ $val.cover_url }}@1e_185w_130h_1c_0i_1o_90Q_1x">
            </a>
            <div class="info">
                <div class="new-title"><a class="title" href="/teacher/classCourseDetail?number={{ $val.number }}" target="_blank">{{ $val.name }}</a></div>
                <ul class="course-info">

                    <li>课程长度：
                        {{ $course_length = $val.course_len/3600 }}
                        {{ if $course_length == abs(floor($course_length)) }}
                            {{ $course_length }}小时
                        {{ else }}
                            {{ abs(($val.course_len/3600))|number_format: 1 }}小时
                        {{ /if }}
                    </li>
                    <li>班级人数：{{ $val.max_student }}人</li>
                    <li>课程安排：
                        {{ $arrange = $val.arrangement|cn_truncate:12 }}
                        <span {{ if $arrange != $val.arrangement }} data-title="{{ $val.arrangement }}" data-width="20em"{{ /if }}>{{ $arrange }}</span>
                    </li>
                    <li>上课方式：
                        {{ if $val.lesson_way == 4 }}
                            线下授课
                            <div class="address">
                                上课地点：
                                {{ $address = '' }}
                                {{ if isset($val.address_area) }}
                                    {{ $area = $val.address_area }}
                                    {{ if isset($area.province)&&$area.province }}
                                        {{ $address = $address|cat:$area.province.name }}
                                    {{ /if }}
                                    {{ if isset($area.city)&&$area.city }}
                                        {{ if !(!empty($area.province) && $area.province.name == $area.city.name)  }}
                                            {{ $address = $address|cat:$area.city.name }}
                                        {{ /if }}
                                    {{ /if }}
                                    {{ if isset($area.area)&&$area.area }}
                                        {{ $address = $address|cat:$area.area.name }}
                                    {{ /if }}
                                    {{ if isset($area.country)&&$area.country }}
                                        {{ $address = $address|cat:$area.country.name }}
                                    {{ /if }}
                                    {{ if isset($area.location_addr)&&$area.location_addr }}
                                        {{ $address = $address|cat:$area.location_addr }}
                                    {{ /if }}
                                {{ /if }}
                                <span>{{ $address|escape }}</span>
                                {{ if isset($val.offline_poi) && $val.offline_poi.lng }}
                                <a class="detail map" data-offline='{{ json_encode($val.offline_poi, 77) }}' data-map="{{ $address|escape }}">查看地图位置</a>
                                {{ /if }}
                            </div>
                        {{ else if $val.lesson_way == 2 }}
                            在线授课
                            {{ if $val.class_type == 1 }}
                            （支持手机观看）
                            {{ else }}
                            （支持手机APP观看）
                            {{ /if }}
                        {{ /if }}
                    </li>
                </ul>
                <div class="button-box">
                    <div class="price">课程总价：<span>￥{{ $val.price }}</span></div>

                    {{ $display_status = $val.display_status }}
                    {{ **如果审核未通过则状态置为暂停招生** }}
                    {{ if $val.verify_status == 2 }}
                        {{ $display_status = 3 }}
                    {{ /if }}

                    {{ if $display_status == 2 }}
                        {{ if $val.max_student <= $val.total_pay }}
                            <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">还有机会，其中<i>{{ $val.total_pay-$val.succ_pay }}</i>人待付款</a>
                        {{ else }}
                            <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-primary reserve-course{{ if !$tpl_data.teacher.can_order }} disabled-order{{ /if }}" data-coursenum="{{ $val.number }}"{{ if !$tpl_data.teacher.can_order }} disabled{{ /if }}>
                                还剩{{ $val.max_student - $val.total_pay }}个名额&nbsp;&nbsp;|&nbsp;&nbsp;立即报名
                            </a>
                        {{ /if }}
                    {{ else if $display_status == 3 }}
                        <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">暂停招生</a>
                    {{ else if $display_status == 4 }}
                        <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">满班&nbsp;&nbsp;|&nbsp;&nbsp;可以联系老师增加名额</a>
                    {{ else if $display_status == 5 }}
                        {{ **加入插班判断** }}
                        {{ if $val.can_chaban }}
                            {{ if $val.is_full }}
                                <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">课程已开始，可联系老师增加名额插班</a>
                            {{ else }}
                                <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-primary reserve-course{{ if !$tpl_data.teacher.can_order }} disabled-order{{ /if }}" data-coursenum="{{ $val.number }}"{{ if !$tpl_data.teacher.can_order }} disabled{{ /if }}>
                                    插班价￥{{ $val.realtime_price }}&nbsp;&nbsp;|&nbsp;&nbsp;立即报名
                                </a>
                            {{ /if }}
                        {{ else }}
                            <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">进行中</a>
                        {{ /if }}
                    {{ else if $display_status == 6 }}
                        <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">已完成</a>
                    {{ else if $display_status == 8 }}
                        <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">审核中</a>
                    {{ else if $display_status == 12 }}
                        <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">已失效</a>
                    {{ else if $display_status == 13 }}
                        <a target="_blank" href="/teacher/classCourseDetail?number={{ $val.number }}" class="btn btn-default">已完成</a>
                    {{ /if }}
                </div>
            </div>
        </li>
    {{ /foreach }}
</ul>
{{ include file="common/component/pager.html" page=$tpl_data.pager.page page_size=$tpl_data.pager.page_size count=$tpl_data.pager.count }}
{{ /strip }}