@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

.banner {
    width: 100%;
    position: relative;
    .banner-img {
        width: 100%;
        position: relative;
    }
    .has-pay-number{
        position: absolute;
        z-index: 1;
        height: rem(18);
        width: 35%;
        margin-left: 34.5%;
        bottom: 46%;
        .has-pay-order{
            height: rem(18);
            border: 1px solid red;
            width: 50%;
            border-radius: rem(10);
            float: left;
            .box-item{
                height: 100%;
                width: 25%;
                float: left;
                border-right: 1px solid red;
                text-align: center;
                font-weight:bold;
                p{
                    height: rem(16);
                    line-height: rem(16);
                    color: red;
                    font-size: rem(14);
                }
            }
            .box-no-right{
                border-right:none;
            }
        }
    }
    .has-pay-text{
        float: left;
        margin-left: rem(2);
        p{
            height: rem(16);
            line-height: rem(16);
            color: black;
            font-size: rem(12);
        }
    }
}
.first-img-anim{
    //background: radial-gradient(#735b00, #F4F4F4 50%);
    display: block;
    position: absolute;
    //height: 100%;
    width: 100%;
    top: 0%;
    margin: 0 auto;
    transition: all ease 0.5s;
    transform: scale(0);
    padding-top: 100%;
}

.share-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    background-color: #000;
    opacity: 0.65;
    .content {
        position: absolute;
        top: rem(10);
        width: 100%;
        height: 100%;
        img {
            width: rem(200);
            height: rem(150);
            position: absolute;
            top: 0;
            right: rem(20);
        }
    }
}

input {
    outline: none;
}


.fixed-bottom-btn {
    display: none;
    position: fixed;
    bottom: 0;
    height: rem(44);
    background-color: #fff;
    width: 100%;
    color: #fff;
    .l {
        background-color: rgb(234, 0, 65);
    }
    .r {
        background-color: rgb(15, 153, 236);
    }
    p {
        width: 50%;
        text-align: center;
        line-height: rem(44);
        float: left;
        font-size: rem(15);
        //display: inline-block;
    }
}

.buy-btn {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: rem(10);
    .get, .share {
        width: 70%;
        margin-left: 15%;
        background: #f10a52;
        color: white;
        padding: rem(10) rem(5);
        border-radius: rem(30);
    }
    .share {
        background: #00abf0;
        margin-top: rem(10);
    }
}

.share-url {
    width: rem(240);
    margin: rem(10) auto;
    padding: rem(10) 0 rem(10) rem(10);
    border: 1px solid rgb(212, 212, 212);
    border-radius: rem(5);
    display: block;
}

.share-tip {
    font-size: rem(12);
    text-align: center;
    color: #0f99ec;
    margin-top: rem(-5);
}

.staySingle {
    background: #fff;
    width: 100%;
    padding-bottom: rem(10);
    .confirm-num {
        font-size: rem(27);
        text-align: center;
        margin: rem(-1) auto rem(10) auto;
        color: #666;
        font-weight: bold;
    }
    .change_num {
            color: #f62566;
    font-size: rem(12);
    text-align: right;
    width: rem(220);
    margin: rem(-10) auto rem(10) auto;
    }
    .coupon-img {
        border: 0;
        vertical-align: middle;
        width: rem(150);
        margin: rem(20) auto;
        display: block;
    }
    .listen-title {
        font-size: rem(24);
        font-weight: bold;
        position: relative;
        margin-bottom: 0;
        .title-info {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: rem(40);
            vertical-align: middle;
            white-space: nowrap;
            width: 100%;
            display: inline-block;
            padding-top: rem(20);
            text-align: center;
        }
        .close-icon {
            width: 20%;
            text-align: right;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            .icon {
                margin-right: rem(10);
            }
        }
    }
    .remind-msg {
        text-align: center;
        color: #999;
        margin-bottom: rem(15);
        margin: rem(5) rem(30);
        font-size: rem(12);
        line-height: 1.5;
        .text-orange{
            color: #FF7F24;
        }
    }
    .g-t {
        margin-top: rem(-2)!important;
        text-align: center;
        color: rgb(138, 138, 138);
        margin-bottom: rem(15);
        margin: rem(10);
        font-size: rem(12);
        line-height: 1.5;
    }
    .t-l {
        text-align: left;
    }
    .formElement {
        width: 80%;
        margin: rem(10) auto;
        >div {
            width: 100%;
            height: rem(44);
            vertical-align: middle;
            border-radius: rem(25);
            border: 1px solid #ebebed;
            overflow: hidden;
            position: relative;
            padding: 0 rem(20);
        }
        input {
            width: 100%;
            height: rem(24);
            line-height: rem(24);
            vertical-align: middle;
            padding: rem(10) 0;
            font-size: rem(15);
            color: #3d3d3e;
            border: 0;
            -webkit-appearance: none;
        }
    }
    .verify-container {
        position: relative;
    }
    .verify {
            position: absolute;
    top: rem(0);
    display: inline-block;
    height: rem(33);
    line-height: rem(34);
    vertical-align: middle;
    right: 0;
    width: rem(80);
    text-align: center;
    z-index: 1000;
    margin: rem(4);
    background: #f7bd08;
    border-radius: rem(25);
    color: #fff;
    font-size: rem(12)
    }
    .disabled {
        color: #fff;
    }
    .staySubmit {
        padding: rem(10);
        margin: 0 auto;
        text-align: center;
        width: 80%;
        background: rgb(246, 0, 79);
        font-size: rem(16);
        color: #ffffff;
        border-radius: rem(25);
    }
    .staySubmit-default {
        background: #3fa5f2;
    }
}

.stay-dialog-title {
    color: #48b14b;
    display: inline-block;
    margin-right: rem(2);
}

.none-visible {
    visibility: hidden;
}

.qrcode-box{
    width: 100%;
    text-align: center;
    .qrcode-img{
        width: rem(140);
    }
    p{
        font-size: rem(12);
        color: white;
    }
}

.download-app {
    text-align: center;
    margin-top: rem(10);
    p {
        width: 60%;
        margin-left: 20%;
        text-align: center;
        border-radius: rem(14);
        border: 1px solid #EE7600;
        color: #EE7600;
        padding: rem(8) 0;
    }
    .logo-show {
        width: 50%;
        margin-top: rem(40);
        margin-bottom: rem(10);
    }
}