{{ *

@file 提交订单 - 联报优惠课程订单
@author wangyujie

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $need_im = false }}
    {{ $smarty.block.parent }}
    {{ $flotage_config.hidden = 1 }}

    {{ $script_path = "pay/productGroup_21d4183e79" }}

    {{ if isset($tpl_data.teacher_profile) }}
        {{ $script_data.teacherNumber = $tpl_data.teacher_profile.number }}
    {{ else }}
        {{ $script_data.teacherNumber = '' }}
    {{ /if }}

    {{ $script_data.courseNumbers = $smarty.get.course_numbers|default: '' }}
    {{ $script_data.activityId = $smarty.get.activity_id|default: '' }}
    {{ $script_data.purchaseId = $smarty.get.purchase_id|default: '' }}

    {{ if isset($smarty.get.purchase_id) }}
        {{ $pageType = 'purchase' }}
    {{ else if isset($smarty.get.course_numbers) && isset($smarty.get.activity_id) }}
        {{ $pageType = 'courses' }}
    {{ /if }}

{{ /block }}

{{ block name="title" prepend }}
提交订单 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/pay/productGroup_e9aee75aff.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

<div id="main" class="card">

    <div class="section">

        <div class="section-header">
            联系方式
        </div>

        <div class="section-body">
            {{ if $pageType == 'courses' }}
                {{ include file="./order/student.html" profile=$tpl_data.student_profile }}
            {{ else if $pageType == 'purchase' }}
                {{ $tpl_data.student_profile.student_name = $tpl_data.union_purchase.student_name }}
                {{ $tpl_data.student_profile.is_self = $tpl_data.union_purchase.is_self }}
                {{ $tpl_data.student_profile.note = $tpl_data.union_purchase.note }}

                {{ include file="./order/student.html" profile=$tpl_data.student_profile }}
            {{ /if }}
        </div>
    </div>

    <div class="section">

        {{ if $pageType == 'courses' && isset($tpl_data.courses) }}
            {{ include file='./order/courseGroup.html' items=$tpl_data.courses org=$tpl_data.teacher_profile student=$tpl_data.student_profile }}
        {{ else if $pageType == 'purchase' && isset($tpl_data.child_purchases) }}
            {{ include file='./order/courseGroup.html' items=$tpl_data.child_purchases org=$tpl_data.teacher_profile student=$tpl_data.student_profile }}
        {{ /if }}

    </div>

    <div class="section">
        <div class="real-total-price">
            应付总额：
            <span>¥
                <em>
                    {{ if $pageType == 'courses' }}
                        {{ $tpl_data.subtotal.real_price|number_format:2 }}
                    {{ else if $pageType == 'purchase' }}
                        {{ $tpl_data.union_purchase.except_coupon_money|number_format:2 }}
                    {{ /if }}
                </em>
            </span>
        </div>
    </div>

    <div class="footer">

        <div class="footer-ensure">
            <div class="wrapper">

                <div class="form-hint">
                    <span class="on">
                    {{ **3810话术** }}
                    课酬将直接支付给机构，无法通过跟谁学平台申请退款

                    <i class="icon icon-info-circle" data-width="20em" data-title="机构已将该班课设置为即时收款，支付成功后课酬将直接支付给机构，无法通过跟谁学平台申请退款，如需退款请与机构线下协商。"></i></span>
                </div>

            </div>
        </div>

        {{ if $pageType == 'courses' }}
            {{ $cannot = 0 }}
            {{ foreach $tpl_data.courses as $course }}
                {{ if isset($course.pay_status) && $course.pay_status }}
                    {{ $cannot = 1 }}
                {{ /if }}
            {{ /foreach }}
            <button id="btn-submit" class="btn btn-primary" {{ if $cannot }}disabled{{ /if }}>
                前往支付
            </button>
        {{ else if $pageType == 'purchase' }}
            <a href="https://{{ $env }}.genshuixue.com/pay/payProductPurchase?purchase_id={{ $smarty.get.purchase_id }}" class="btn btn-primary">
                前往支付
            </a>
        {{ /if }}
        <p class="text-error"></p>
    </div>

</div>

{{ /strip }}
{{ /block }}
