.buy-course {
    height: rem(45);
    line-height: rem(45);
    margin: rem(10) 0;
    background: white;
    padding: 0 rem(10);
    top: rem(-10);
    position: relative;
    .icon-ic_class {
        font-size: rem(20);
        color: #6D6D6E;
        font-weight: bolder;
        position: relative;
        top: rem(2);
    }
    .title-text {
        font-family: PingFangSC-Semibold;
        font-size: rem(15);
        color: #6D6D6E;
        line-height: rem(15);
    }
    .course-name {
        font-family: PingFang-SC-Regular;
        font-size: rem(15);
        color: #3D3D3E;
        line-height: rem(45);
        height: rem(45);
        max-width: rem(200);
        margin-left: rem(10);
    }
    .buy-course-icon {
        background: #FF6C00;
        border-radius: rem(4);
        float: right;
        height: rem(29);
        line-height: rem(29);
        margin-top: rem(8);
        font-family: PingFang-SC-Regular;
        font-size: rem(13);
        color: #FFFFFF;
        padding: 0 rem(10);
    }
}

.pay-content {
    .header-nav {
        background: #FCFCFC;
        border-bottom: rem(1) solid #ededee;
        height: rem(42);
        line-height: rem(42);
        padding: 0 rem(10);
        .teacher-name {
            font-family: PingFangSC-Semibold;
            font-size: rem(16);
            color: #3D3D3E;
            line-height: rem(42);
            height: rem(42);
            display: inline-block;
            max-width: rem(100);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            float: left;
        }
        .subject-name {
            font-family: PingFangSC-Semibold;
            font-size: rem(16);
            color: #3D3D3E;
            line-height: rem(42);
            height: rem(42);
            display: inline-block;
            margin-left: rem(10);
            max-width: rem(120);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            float: left;
        }
        .close {
            float: right;
            display: inline-block;
            height: rem(20);
            width: rem(20);
            border: rem(1) solid #9d9e9e;
            position: relative;
            top: rem(10);
            border-radius: 50%;
            .icon {
                position: absolute;
                font-size: rem(14);
                top: rem(2);
                left: rem(2);
                color: #9d9e9e;
            }
        }
    }
    .content-pays {
        padding: 0 rem(10);
        height: rem(300);
        overflow: auto;
        .category, .lesson-way, .combo {
            margin: rem(6) 0;
            .item-name {
                margin-top: rem(6);
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #6D6D6E;
                line-height: rem(30);
                height: rem(30);
                margin-bottom: rem(10);
            }
            .item-contents {
                .item-active, .item-noraml {
                    position: relative;
                    border-radius: rem(5);
                    display: inline-block;
                    margin-right: rem(15);
                    padding: 0 rem(10);
                    height: rem(29);
                    line-height: rem(29);
                    font-family: PingFangSC-Regular;
                    font-size: rem(13);
                    letter-spacing: rem(-0.31);
                    margin-bottom: rem(10);
                    .discount-price {
                        position: absolute;
                        background: #ff6c00;
                        color: white;
                        padding: 0 rem(8);
                        border-radius: rem(35);
                        height: rem(18);
                        line-height: rem(18);
                        font-size: rem(10);
                        top: rem(-12);
                        right: rem(-20);
                    }
                }
                .item-active {
                    background: white;
                    color: #ff6c00;
                    border: rem(1) solid #ff6c00;
                }
                .item-noraml  {
                    background: #F8F8F8;
                    border: rem(1) solid #ddddde;
                    color: #3D3D3E;
                }
            }
        }
        .lesson-price-warn {
            margin-bottom: rem(18);
            .lesson-warn-text: {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #9D9D9E;
            }
            .lesson-warn-price {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #FF6C00;
            }
        }
        .lines {
            width: 100%;
            height: rem(1);
            background: #ddddde;
        }
        .self-time {
            margin-top: rem(10);
            height: rem(40);
            .self-text {
                float: left;
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #2D2D2E;
                line-height: rem(30);
                display: inline-block;
                height: rem(30);
                margin-right: rem(20);
            }
            .self-buttons {
                float: left;
                height: rem(30);
                line-height: rem(30);
                width: rem(150);
                text-align: center;
                .minus {
                    border: 1px solid #DDDDDE;
                    border-radius: rem(5) 0 0 rem(5);
                    float: left;
                    width: rem(40);
                    height: rem(30);
                    position: relative;
                    background: #F8F8F8;
                    .minus-icon {
                        display: inline-block;
                        width: rem(12);
                        height: rem(2);
                        opacity: 0.4;
                        background: #3D3D3E;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        &.active {
                            opacity: 0.9;
                        }
                    }
                }
                .self-number {
                    display: inline-block;
                    float: left;
                    text-align: center;
                    background: #FFFFFF;
                    border-top: 1px solid #DDDDDE;
                    border-bottom: 1px solid #ddddde;
                    height: rem(30);
                    line-height: rem(30);
                    font-family: PingFangSC-Regular;
                    font-size: rem(14);
                    color: #2D2D2E;
                    letter-spacing: rem(-0.34);
                    width: rem(70);
                }
                .increase {
                    background: #F8F8F8;
                    border: 1px solid #DDDDDE;
                    border-radius: 0 rem(5) rem(5) 0;
                    float: left;
                    height: rem(30);
                    width: rem(40);
                }
            }
            &.hide {
                display: none;
            }
        }
    }
}

.pay-button {
    height: rem(48);
    line-height: rem(48);
    display: flex;
    margin-top: rem(10);
    .total-price {
        flex: 1.34;
        padding: 0 rem(14);
        background: #FCFCFC;
        .texts {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #2D2D2E;
            display: inline-block;
        }
        .price-single {
            font-family: SanFranciscoDisplay-Medium;
            font-size: rem(18);
            color: #ff6c00;
        }
    }
    .confirm-pay {
        flex: 1;
        color: white;
        background: #FF6C00;
        font-family: PingFangSC-Semibold;
        font-size: rem(17);
        text-align: center;
    }
    .cant-buy {
        flex: 1;
        color: white;
        background: #9d9e9e;
        font-family: PingFangSC-Semibold;
        font-size: rem(17);
        text-align: center;
    }
}