.choose-buttons {
    width: 100%;
    display: flex;
    height: rem(44);
    line-height: rem(44);
    text-align: center;
    color: #3D3D3E;
    .choose-reset {
        flex: 1;
        background: #F8F8F8;
        font-family: PingFang-SC-Regular
    }
    .choose-confirm {
        flex: 1;
        background: #FF6C00;
        color: white;
        font-family: PingFang-SC-Regular;
    }
}