@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

body{
    font-size: rem(14);
}



.top-banner {
    height: rem(160);
    background-color: rgb(62,99,140);
    color: #fff;
    position: relative;

    img{
        position: absolute;
        width: 100%;
        height: rem(160);
    }

    .top-banner-text{
        position: absolute;
        bottom: rem(10);
        left: 50%;
        width: rem(200);
        text-align: center;
        margin-left: rem(-100);

        .text{
            background-color: rgba(0, 0, 0, 0.5);
            display: inline-block;
            padding: rem(5) rem(10);
            border-radius: rem(10);
        }
    }
}



.form{
    margin: 0 rem(16);

    .input_wrap{
        border: 1px solid #ddd;
        border-bottom: 0px;
        border-radius: rem(3);
        overflow: hidden;

        .btn_vcode{
            position: absolute;
            color: #ff7f00;
            right: rem(0);
            top: rem(0);
            height: rem(40);
            line-height: rem(40);
            width: rem(112);
            text-align: center;
            margin: rem(2) 0;
        }

        .disabled{
            color: #9d9d9d;
        }

        .mobile-layout{
            margin-right: rem(96);
        }
        .item-layout{
            position: relative;
        }

        .item{
            border-bottom: 1px solid #ddd;
            padding: rem(1) rem(16);

        }
        input{
            width: 100%;
            border: 0px;
            outline:none;
            height: rem(40);
        }
    }

    .protocol{
        position: relative;
        font-size: rem(12);

        a{
            color: #ffa942;
        }

        img{
            height: rem(14);
            vertical-align: middle;
        }
        input{
            position: absolute;
            display:none;
        }
    }

    input{
        font-size: rem(12);
    }
}

.result{
    display:none;

    .icon{
        width: rem(100);
        margin: auto;
        margin-top: rem(60);
        text-align: center;

        img{
            width: rem(45);
            height: rem(45);
        }
    }
}

.activity{
    text-align: center;
    margin-top: rem(40);

    a{
        color: #9d9e9e;
        font-size: rem(16);
    }
}

.button{
    border-radius: rem(3);
    height: rem(44.8);
    line-height: rem(44.8);
    text-align: center;
    margin: rem(10) 0;
    background-color: #3fa5f2;
    font-size: rem(16);
    color: #fff;
}

.btn-down{
    text-align: center;
    margin: auto;
    width: rem(230);
    margin-top: rem(10);
    a{
        width: 100%;
        font-size: rem(16);
        color: #fff;
        display: inline-block;
    }
    a:active{
        background: #0f86e8;
    }
}

.button:active{
    background: #0f86e8;
}

.header{
    font-size: rem(16);
    padding: rem(20);
    line-height: rem(25);
    text-indent: rem(30);
}