.GSX_Dialog {
    position: relative;
    width: 100%;
    height: 100%;
    // margin-left: 10%;
    background-color: #fff;
    border-radius: rem(5);
    overflow: hidden;
    -webkit-box-shadow: 0 0 rem(2) #333;
    .GSX_Dialog_title {
        text-align: center;
        display: none;
    }
    .GSX_Dialog_content {
        position: relative;
    }
    .GSX_Dialog_buttons {
        display: flex;
        width: 100%;
        height: rem(48);
        line-height: rem(48);
        overflow: hidden;
        font-size: rem(14);
        border-top: 1px solid #e2e2e2;
        text-align: center;
        color: #555;
    }
    .GSX_Dialog_closeButton {
        position: absolute;
        top: 0;
        right: 0;
        width: rem(30);
        height: rem(30);
        line-height: rem(40);
        font-size: rem(20);
        color: #888;
        text-align: center;
    }
    .GSX_Dialog_button {
        display: block;
        flex: 1;
    }
    .GSX_Dialog_button:nth-child(2) {
        border-left: 1px solid #e2e2e2;
    }
    .GSX_Dialog_skin_ok {
        font-size: rem(16);
        color: #1BAC1A;
    }
    &.GSX_Dialog_default {
        font-size: rem(14);
        line-height: rem(24);
        min-height: rem(85);
        padding-top: rem(18);
        max-width: rem(300);
        margin: 0 auto;

        .GSX_Dialog_title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: rem(15);
            line-height: rem(25);
            font-weight: bold;
        }
        .GSX_Dialog_content {
            padding: rem(8) rem(15) rem(18) rem(15);
            font-family: PingFangSC-Regular;
            font-size: rem(16);
            color: #3D3D3E;
            letter-spacing: 0.4px;
            line-height: rem(24);
        }
    }
}