.instruction-dialog {
    h4 {
        font-size: 18px;
        text-align: center;
        color: #f90;
    }

    .instruction-content {
        margin-top: 10px;
        overflow: auto;
        p {
            padding-left: 20px;
        }
    }

    .actions {
        margin-top: 20px;
        text-align: center;

        .btn {
            width: 75px;
            height: 30px;
            line-height: 30px;
            padding: 0;
        }
    }

    ul {
        list-style-type: decimal;
        padding-left: 40px;
    }
}