.success-tips {
    text-align: center;
    margin-top: rem(30);
    i {
        color: #1bcc1d;
        font-size: rem(48);
    }
    .tips {
        font-size: rem(18);
        color: #1DB954;
        letter-spacing: 0;
        line-height: rem(18);
        margin-top: rem(20);
    }
}