{{ *

@file 教学科目下拉菜单(科目 + 价格)
@author zhujialu

* }}

{{ strip }}

{{ if isset($smarty.get.course_id) }}
    {{ $course_id = $smarty.get.course_id }}
{{ else }}
    {{ $course_id = '' }}
{{ /if }}

{{ if isset($hour) }}
<i class="form-required"></i>
{{ /if }}
<div class="dropdown course" data-value="{{ $course_id }}">
    <span class="btn-default">
        <i class="caret"></i>
        <span>请选择教学科目</span>
    </span>
    <ul class="dropdown-menu">
        {{ foreach $subject as $item }}
        <li data-value="{{ $item.id }}"{{ if isset($item.subject_id) }} data-subject="{{ $item.subject_id }}"{{ /if }} data-json='{{ json_encode($item.price) }}'>
            {{ $item.name }}
        </li>
        {{ /foreach }}
    </ul>
</div>

{{ if isset($smarty.get.lesson_way) }}
    {{ $lesson_way = $smarty.get.lesson_way }}
{{ else }}
    {{ $lesson_way = '' }}
{{ /if }}

{{ if isset($hour) }}
<i class="form-required"></i>
{{ /if }}
<div class="dropdown lesson-way" data-value="{{ $lesson_way }}">
    <span class="btn-default">
        <i class="caret"></i>
        <span>请选择上课方式</span>
    </span>
    <ul class="dropdown-menu">
    </ul>
</div>

{{ if isset($hour) }}
<i class="form-required"></i>
<div class="dropdown lesson-hour">
    <span class="btn-default">
        <i class="caret"></i>
        <span>请选择上课时长</span>
    </span>
    <ul class="dropdown-menu">
        <li data-value="1">1小时</li>
        <li data-value="2">2小时</li>
        <li data-value="3">3小时</li>
        <li data-value="4">4小时</li>
        <li data-value="5">5小时</li>
        <li data-value="6">6小时</li>
        <li data-value="7">7小时</li>
        <li data-value="8">8小时</li>
        <li data-value="9">9小时</li>
        <li data-value="10">10小时</li>
        <li data-value="100">10小时以上</li>
    </ul>
</div>
{{ /if }}
{{ /strip }}