.report-dialog {
    .row {
        text-align: center;
        label {
            cursor: pointer;
            margin-right: 10px;
            input {
                margin-right: 3px;
            }
            color: #666;
        }
    }
    .actions {
        margin-top: 15px;
        text-align: center;
    }
}

.ban-dialog {
    label {
        cursor: pointer;
        margin-right: 10px;
        input {
            margin-right: 3px;
        }
        color: #666;
    }

    .row {
        margin-top: 10px;
        overflow: hidden;
        .row-label {
            width: 105px;
            text-align: right;
            float: left;
        }
        .row-content {
            margin-left: 108px;
        }
    }

    .reason {
        margin-bottom: 5px;
    }

    .actions {
        margin-top: 15px;
        text-align: center;
    }
}