.group {

    padding: 20px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.05);

    .group-logo {
        display: inline-block;
        img {
            display: block;
        }
    }

    .group-info {
        margin-left: 20px;
        display: inline-block;
        vertical-align: top;
        .group-title {
            margin-right: 10px;
            padding: 10px 0;
            font-size: 24px;
            color: #333;
            overflow: hidden;
            h1 {
                float: left;
                font-size: inherit;
                color: inherit;
            }
            .icon {
                margin-right: 5px;
                font-size: 12px;
                font-weight: bold;
            }
            .action {
                float: right;
                display: inline-block;
                margin: 5px 0 0 5px;
                width: 58px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                text-align: center;
                border-radius: 3px;
                background: #f90;
                color: #fff;
                cursor: pointer;
            }
            .join-status {
                float: right;
                display: inline-block;
                margin: 5px 0 0 5px;
                width: 58px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                text-align: center;
                border-radius: 3px;
                border: 1px solid #f90;
                background: #fff;
                color: #f90;
            }

        }

        .group-divider {
            margin-bottom: 12px;
            border-bottom: dashed 1px #eee;
        }

        .group-number {

            .label {
                color: #999;
            }
            .number {
                color: #f90;
            }
            .divider {
                margin: 0 10px;
                color: #ddd;
            }
        }
    }

    .sign {
        float: right;
        margin-top: 18px;
        border-radius: 6px;
        font-size: 24px;
        color: #fff;
        background: #27b76f;
        border: solid 2px #2fb76f;
        .icon {
            margin-right: 7px;
        }
        .sign-status-off {
            display: none;
            width: 115px;
            line-height: 60px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            text-align: center;
            vertical-align: top;
        }

        .sign-status {
            display: inline-block;
            width: 115px;
            line-height: 60px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            text-align: center;
            cursor: pointer;
            vertical-align: top;
        }

        &.sign-over {

            .sign-status {
                display: none;
            }
            .sign-status-off {
                display: inline-block;
            }
        }

        .sign-times {
            display: inline-block;
            width: 115px;
            height: 60px;
            color: #999;
            background: #fff;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            text-align: center;
            .sign-now {
                margin-top: 10px;
                font-size: 16px;
            }
            .sign-days {
                font-size: 12px;
            }
        }
    }
}
