.login {
    padding: 30px 0 45px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.05);

    .user-avatar {
        margin: 0 auto;
        width: 112px;
        height: 112px;
        padding: 5px;
        border: solid 1px #eee;
        text-align: center;
        border-radius: 50%;

        .avatar-wrapper {
            border-radius: 50%;
            overflow: hidden;
        }
        img {

            display: block;
        }
    }

    .welcome-tip {
        margin-top: 33px;
        text-align: center;
    }

    .welcome-actions {
        margin-top: 25px;
        text-align: center;
        .btn {
            padding: 0;
            width: 80px;
            height: 32px;
            line-height: 32px;
            color: #fff;
        }

        .btn-primary {
            background: #f90;
            margin-right: 5px;
            &.btn-register {
                margin-left: 5px;
                border-color: #6187dc;
                background: #6187dc;
            }
        }
    }
}