.group-nav {

    line-height: 1;
    font-size: 12px;

    .group-nav-list {

        .group-nav-item,
        .group-nav-devider {
            display: inline-block;
            vertical-align: middle;
        }

        .group-nav-devider {
            margin: 0 5px;
            vertical-align: top;
        }
    }
}