.profile {
    width: 270px;
    padding: 30px 0 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.05);

    .user-avatar {
        margin: 0 auto;
        width: 112px;
        height: 112px;
        padding: 5px;
        border: solid 1px #eee;
        text-align: center;
        border-radius: 50%;

        .avatar-wrapper {
            display: block;
            border-radius: 50%;
            overflow: hidden;
        }
        img {

            display: block;
        }
    }

    .user-info {
        margin-top: 8px;
        overflow: hidden;
        .user-name {
            display: inline-block;
            color: #f90;
            font-size: 18px;
            line-height: 34px;
            height: 34px;
        }

        .user-level {
            display: inline-block;
            width: 34px;
            height: 18px;
            color: #fff;
            background: #3fa5f2;
        }

        .info-row {
            overflow: hidden;
            &.ins {
                margin-top: 17px;
                margin-right:  -2px;
            }
            .user-col {
                display: inline-block;
                padding-top: 6.5px;
                width: 90px;
                height: 55px;
                font-size: 12px;
                border-right: solid 1px #eaeaea;
                text-align: center;
                .number {
                    font-size: 16px;
                }
            }
            .user-des {
                height: 22px;
                line-height: 22px;
                padding: 0 30px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .icon-vip-vip,
            .icon-vip-gvip,
            .icon-vip-cvip {
                margin-left: 5px;
                margin-right: 5px;
                width: 19px;
                height: 19px;
            }

            .icon-vip-vip {
                background: url(../../../img/userCenter/small-vip.png);
            }
            .icon-vip-gvip {
                background: url(../../../img/userCenter/small-gvip.png);
            }
            .icon-vip-cvip {
                background: url(../../../img/userCenter/small-cvip.png);
            }
        }
    }

}