{{ strip }}
<div id="inner-link" class="inner-link-wrapper">
    <div class="inner-link open">
        <h3 class="inner-title">
            周边城市
            {{ if count($cityLinks) > 20 }}
            <a class="inner-action" href="javascript:void(0)">
                <span class="open-action">展开<i class="icon icon-angle-down"></i></span>
                <span class="close-action">收起<i class="icon icon-angle-up"></i></span>
            </a>
            {{ /if }}
        </h3>
        <ul class="inner-link-list">
            {{ foreach $cityLinks as $item }}
            <li class="inner-link-item">
                <a href="{{ $item.link }}">{{ $item.name }} </a>
            </li>
            {{ /foreach }}
        </ul>
    </div>
</div>
{{ /strip }}