.org-im {
    >.dialog {  top: 10px !important; }
}

.enter-classroom {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    zoom: 1;
    .content {
      .description{
        width: 100%;
        text-align: center;
        height: 70px;
      }
    }
    .actions {
        position: relative;
        div{
           width: 100%;
           text-align: center;
            margin-bottom: 20px;
        }
        .other {
            position: absolute;
            right: 0;
            bottom: -30px;
            cursor: pointer;
            font-size: 12px;
            color: #999;
        }
    }
    .mac-classroom {
        .description{
            height: 40px;
        }
        .website {
            margin-left: 10px;
        }
    }
}
.click-enter-classroom{
  div{
    text-align: center;
  }
  .close-time{
    font-size: 12px;
    .time{
    color: #ff9900;
    }
  }
}
.enter-mac-classroom{
  .description{
    height: 50px;
  }
  .actions{
    margin-bottom: 20px;
  }
  text-align: center;
}
.opening-enter-classroom{
  text-align: center;
  .loading{
   background: url('../../../../img/opening.gif') no-repeat;
    width: 30px;
    height: 10px;
  }
}