/**
 * @file 快速排课
 * @author wangyujie
 */

.placeholder {
    font-size: 12px;
}

.not-vip-dialog {
    .dialog-body {
        text-align: center;
        p {
            margin-bottom: @gap-horizontal-medium;
        }
    }
}

.schedule-class-dialog {
    .dialog-header {
        span {
            width: 340px;
            display: inline-block;
            text-align: center;
        }
        .icon-arrows {
            color: @brand-primary;
            font-size: 26px;
            vertical-align: middle;
        }
    }
}

.schedule-class {

    float: right;
    border: 1px solid @brand-primary;
    background-color: #fbfbfb;
    font-size: 13px;
    padding: @gap-vertical-tiny
             @gap-horizontal-tiny;
    color: @brand-primary;
    cursor: pointer;
    line-height: 1em;
    margin-left: @gap-horizontal-small;

    &:hover {
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: #FFF;
    };

    .icon {
        font-size: 16px;
        margin-right: 4px;
        vertical-align: top;
    }

}

.schedule-class.teacher {
    margin-top: 8px;
}


.quick-schedule-class {

    // 人列表
    .person-list {
        float: left;
        width: 354px;
        .clearfix();
        margin-bottom: 2 * @gap-horizontal-medium;
    }

    #search {
        .wrap {
            height: 36px;
            width: 294px;
            padding-left: @gap-horizontal-medium;
            border: 1px solid #ccc;
            border-right: none;
            display: inline-block;
            .icon-search {
                color: #ccc;
                vertical-align: middle;
                margin-right: @gap-horizontal-tiny;
            }
            .search-input {
                border: none;
                font-size: 12px;
                width: 263px;
                height: 30px;
            }
        }
        .btn-search {
            vertical-align: bottom;
            border-radius: 0;
        }
    }

    .person-list-inner {
        font-size: 12px;
        .hint {
            span {
                display: inline-block;
                padding: 7px 12px;
            }
            .btn-search-all {
                display: none;
                float: right;
                color: @brand-info;
                &:hover {
                    color: @brand-primary;
                }
            }
        }
    }

    ul.p-list {
        border: 1px solid @brand-gray-light;
        width: 354px;
        height: 360px;
        overflow-x: hidden;
        overflow-y: auto;
        .no-result {
            text-align: center;
            margin-top: 130px;
            .btn-search-all {
                color: @brand-info;
                &:hover {
                    color: @brand-primary;
                }
            }
        }

        .item {
            cursor: pointer;
            border: 1px solid transparent;
            padding: 0 @gap-horizontal-small;
            &:hover {
                border: 1px solid @brand-primary;
                background-color: @brand-primary-lighter;
            }

            .icon {
                font-size: 14px;
                margin: 0 2px;
            }

            .display-name {
                width: 90px;
            }

            .qreserve-sign {
                margin: 0 @gap-horizontal-small;
            }
            .icon-lightning-o {
                color: @brand-text-lighter;
            }
            .icon-lightning-circle {
                color: @brand-primary;
            }

            .remain-time {
                strong {
                    color: @brand-primary;
                }
            }
        }
        .student-item {
            div {
                display: inline-block;
                line-height: 32px;
            }
            .student-info {
                width: 32%;
                max-width: 105px;
            }
            .subject-name {
                width: 50%;
                max-width: 160px;
                overflow: hidden;
                white-space: nowrap;
                vertical-align: middle;
                text-overflow: ellipsis;
            }
            .remain-time {
                width: 18%;
                max-width: 56px;
            }
        }
        .teacher-item {
            .clearfix();
            line-height: 25px;
            padding: @gap-horizontal-small;
            .avatar-small {
                float: left;
                margin-right: @gap-horizontal-small;
            }
            .teacher-info {
                margin-top: @gap-horizontal-small;
                .display-name {
                    display: inline-block;
                    width: 7em;
                }
            }
        }

    }

    .item-header {
        background-color: #ebf6fe;
        border: 1px solid @brand-gray-light;
        border-bottom: none;
        div {
            display: inline-block;
            height: 24px;
        }
        .student-info {
            width: 28%;
            max-width: 92px;
            padding-left: 26px;
        }
        .subject-name {
            width: 57%;
            max-width: 190px;
            padding-left: 55px;
        }
        .remain-time {
            width: 13%;
            max-width: 45px;
        }
    }

    // 订单列表
    .order-list {
        display: inline-block;
        font-size: 12px;
        width: 360px;
        height: 420px;
        overflow: auto;
        margin-left: @gap-horizontal-medium;

        .not-choice-person {
            text-align: center;
            img {
                display: inline-block;
                margin-top: 100px;
            }
        }

        .order-item {
            border: 1px solid @brand-gray-light;
            cursor: pointer;
            margin-bottom: @gap-horizontal-medium;
            .order-header {
                background-color: #ebf5ff;
                color: @brand-text-lighter;
                padding: @gap-horizontal-tiny @gap-horizontal-medium;
                .order-id {
                    float: right;
                }
            }
            table {
                width: 100%;
            }
            td {
                padding: @gap-horizontal-small;
                padding-left: @gap-horizontal-medium;
                line-height: 22px;
                .label-default {
                    margin-right: @gap-horizontal-tiny;
                }
            }
            .order-time {
                width: 100px;
            }
            .remain-time {
                padding-left: 12px;
            }
        }

        .no-data {
            width: 280px;
            font-size: 14px;
            margin: 40px auto;
            text-align: center;
            .piezui {
                width: 90px;
            }
            p {
                padding-bottom: 3 * @gap-horizontal-medium;
                border-bottom: 1px solid @brand-gray-light;
            }
            .user-contact {
                font-size: 14px;
                padding: 1.5 * @gap-horizontal-medium;
                .clearfix();
                text-align: left;
                a {
                    color: @brand-info;
                    &:hover {
                        color: @brand-primary;
                    }
                }
            }
            .avatar-small {
                float: left;
                margin-right: @gap-horizontal-small;
            }
            .chat-label {
                margin-left: @gap-horizontal-small;
            }
            .user-mobile {
                display: block;
            }
        }
    }
}
