/**
 * @file 选择学校弹窗
 * @author wangyujie
 */

.school-list-dialog {

    font-size: 12px;
    min-height: 450px;

    .country-list,
    .province-list,
    .city-list,
    .area-list {
        .clearfix();
        display: none;
        border-bottom: 1px solid #ccc;
        padding: @gap-horizontal-small 0;

        li.item {
            float: left;
            color: @brand-info;
            cursor: pointer;
            span {
                padding: 2px 4px;
            }
            &:hover {
                color: #fff;
                background-color: @brand-info;
            }
        }

        li.active {
            color: #fff;
            background-color: @brand-info;
        }
    }

    .school-list {
        .clearfix();
        border: 1px solid #ccc;
        border-top: none;
        cursor: pointer;
        display: none;
        padding: @gap-horizontal-small;
        max-height: 300px;
        overflow-y: scroll;

        li {
            float: left;
            line-height: 2em;
            color: @brand-info;
            width: 31%;
        }
    }

}
