.typing-loader {
    width: rem(8);
    height: rem(8);
    animation: typing 1s linear infinite alternate;
    margin: rem(10) auto;
    position: relative;
    left: rem(-12);
}

@keyframes typing {
    0% {
        background-color: rgba(255, 145, 1, 1);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    25% {
        background-color: rgba(255, 145, 1, 0.4);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    75% {
        background-color: rgba(255, 145, 1, 0.4);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 1);
    }
}

.has-more {
    display: block;
    height: rem(30);
    background: #fff;
    padding: rem(6);
    line-height: rem(24);
    .typing-loader {
        display: none;
    }
    &.loading {
        .typing-loader {
            display: block;
        }
    }
    &.hide {
        display: none;
    }
}