{{ *

@file 班课设置 - 课程信息表单
@author wangyujie

* }}

{{ strip }}

{{ if !empty($tpl_data.address_list) }}
    {{ $count = count($tpl_data.address_list) }}
{{ else }}
    {{ $count = 0 }}
{{ /if }}

<div class="form subject-form">
    <h2>
        课程信息
        <span class="text-error">（*为必填项）</span>
    </h2>

    {{ include file="teacher_center/course/courseClassify.html" }}

    <div class="form-group">
        <label class="form-label">
            <i class="form-required"></i>
            授课科目
        </label>

        <div class="form-controls new-name">
            <div class="dropdown category1">
                <button class="btn-default">
                    <i class="caret"></i>
                    <span>请选择</span>
                </button>
                <ul class="dropdown-menu"></ul>
            </div>

            <div class="dropdown category2">
                <button class="btn-default">
                    <i class="caret"></i>
                    <span>请选择</span>
                </button>
                <ul class="dropdown-menu"></ul>
            </div>

            <div class="dropdown category3">
                <button class="btn-default">
                    <i class="caret"></i>
                    <span>请选择</span>
                </button>
                <ul class="dropdown-menu"></ul>
            </div>

            <div class="form-static form-inline exists-subject">
                <span class="form-hint">
                    从已设科目中选择
                </span>
            </div>
            <span class="error"></span>
        </div>

        <div class="form-controls exists-name">
            <div class="dropdown exists-subject-id">
                <button class="btn-default">
                    <i class="caret"></i>
                    <span>请选择</span>
                </button>
                <ul class="dropdown-menu"></ul>
            </div>

            <div class="form-static form-inline new-subject">
                <span class="form-hint">
                    新添科目
                </span>
            </div>

            <span class="error"></span>
        </div>

        <div class="form-controls remark-name">
            <input type="hidden" name="subject_id" class="form-text" />
            <span class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">
            <i class="form-required"></i>
            课程标题
        </label>

        <div class="form-controls">
        {{ if $has_student }}
            <div class="form-static">
                <span>{{ $tpl_data.name|escape }}</span>
            </div>
        {{ else }}
            <div class="form-editor course-name">
                <textarea class="form-text" name="course_name"></textarea>
                <span class="error"></span>
                <span class="form-hint">
                    还可以输入 <strong>20</strong> 个字
                </span>
            </div>
        {{ /if }}
        </div>
        <div class="form-static">
            <span class="form-hint">
                <i class="icon icon-info-circle"></i>
                准确的课程标题可以让学员迅速了解你的课程。比如“水彩画零基础速成”比“画画”更容易吸引学员。
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">
            <i class="form-required"></i>
            课程现价
        </label>

        <div class="form-controls">
            {{ if $has_student }}
            <div class="form-static">{{ $tpl_data.price|escape }}元</div>
            {{ else }}
            {{ include file="common/ui/inputGroup.html" prefix="￥" suffix="元"
            input='<input class="form-text" type="money" name="price" min="0" max="999999.99" pattern="^\d+(\.[0-9]{1,2})?$" required />' }}

            <span class="error"></span>
            {{ /if }}

        </div>

    </div>

    <div class="form-group">
        <label class="form-label">
            &nbsp&nbsp课程原价
        </label>

        <div class="form-controls">
            {{ if $has_student }}
            <div class="form-static">{{ $tpl_data.original_price|number_format:2 }}元</div>
            {{ else }}
            {{ include file="common/ui/inputGroup.html" prefix="￥" suffix="元"
            input='<input class="form-text" type="money" name="original_price" min="0" max="999999.99" pattern="^\d+(\.[0-9]{1,2})?$" />' }}

            <span class="error"></span>
            {{ /if }}

        </div>

    </div>

    <div class="form-group">
        <label class="form-label">
            <i class="form-required"></i>
            班级人数
        </label>
        <div class="form-controls">
            {{ include file="common/ui/inputGroup.html" prefix="最多" suffix="人"
            input='<input type="int" class="form-text" name="max_student" min="1" max="999999" required/>' }}
            <span class="error"></span>

        </div>
        <div class="form-hint text-info">当前对于人数设置为700人以下的班级，我们会在聊天功能中为你和报名的学生自动建立群聊哦~</div>
    </div>

    {{ if !$has_student }}
    <div class="form-group">
        <label class="form-label">
            <i class="form-required"></i>
            保底开班
        </label>
        <div class="form-controls">
            {{ include file="common/component/radio.html" name="open_class_rule" value="1" text="报名即开班" checked=true }}
            {{ include file="common/component/radio.html" name="open_class_rule" value="2" text="设置保底开班人数" }}
        </div>
    </div>
    {{ /if }}

    <div class="form-group open-rule"{{ if $has_student }} style="display:block"{{ /if }}>
        <label class="form-label">
            <i class="form-required"></i>
            开班规则
        </label>

        <div class="form-controls">
        {{ if $has_student }}
            <div class="form-static">
                <span>最少{{ $tpl_data.min_student|escape }}人开班，开课3天前确认是否开班</span>
            </div>
        {{ else }}
            最少
            <input type="int" class="form-text" value="1" required name="min_student" min="1">
            <span class="error"></span>
            人开班，开课3天前确认是否开班
        {{ /if }}
        </div>
        <div class="form-static">
            <span class="form-hint">
                <i class="icon icon-info-circle"></i>
                报名未到保底人数，开班前3天自动关班；未达保底人数仍要开班可提前3天在<span class="text-primary">我的订单-班课订单</span>确认开班
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">
            <i class="form-required"></i>
            教学目标
        </label>
        <div class="form-controls">
            <div class="form-editor target">
                <textarea class="form-text" name="target"{{ if $has_student }} required{{ /if }}></textarea>
                <span class="form-hint">
                    还可以输入 <strong>50</strong> 个字
                </span>
            </div>
            <span class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">
            <i class="form-required"></i>
            适学人群
        </label>
        <div class="form-controls">
            <div class="form-editor student-desc">
                <textarea class="form-text" name="student_desc"{{ if $has_student }} required{{ /if }}></textarea>
                <span class="form-hint">
                    还可以输入 <strong>30</strong> 个字
                </span>
            </div>
            <span class="error"></span>
        </div>
        <div class="form-static">
            <span class="form-hint">
                <i class="icon icon-info-circle"></i>
                对适学人群准确的描述可以帮你找到合适的学生。比如“具有三个月以上水彩画基础的同学”比“水彩画爱好者”更加准确。
            </span>
        </div>
    </div>

    <div class="form-group lesson-way">
        <label class="form-label">
            <i class="form-required"></i>
            上课方式
        </label>

        <div class="form-controls">
        {{ if $has_student }}
            <div class="form-static">{{ if $tpl_data.lesson_way == 4 }}线下授课{{ else if $tpl_data.lesson_way == 2 }}在线授课{{ /if }}</div>
            <input type="hidden" name="lesson_way" value="{{ $tpl_data.lesson_way }}" >
        {{ else }}
            {{ include file="common/component/radio.html" name="lesson_way" value="4" text="线下授课" }}
            {{ include file="common/component/radio.html" name="lesson_way" value="2" text="在线授课" }}
            <span class="error"></span>
        {{ /if }}
        </div>
    </div>

    <div class="form-group class-type">
        <div class="form-controls">
            {{ include file="common/component/checkBox.html" name="class_type" value=0 text="支持手机观看" }}
            <div class="form-static form-inline">
                <span class="form-hint">
                    <i class="icon icon-info-circle"></i>
                    勾选后学生可在手机端观看，但老师必须使用windows客户端上课
                    <a class="download-app" href="http://www.genshuixue.com/static/windows" target="_blank">（下载直播助手客户端）</a>
                </span>
            </div>
        </div>
    </div>

    {{ if $has_student }}
        {{ include file="teacher_center/component/addr-radio.html" count=count($tpl_data.address_list) address_list_required=1 }}
    {{ else }}
        {{ include file="teacher_center/component/addr-radio.html" count=count($tpl_data.address_list) }}
    {{ /if }}

    <div class="form-group addr-show">
        <label class="form-label"><i class="form-required"></i>课程地址</label>
        <div class="form-controls">
            <div class="form-static">
                <span>{{ $tpl_data.location|escape }}</span>
                <button class="btn-link small modify-addr">修改地址</button>
            </div>
        </div>
    </div>

    <div class="form-group new-address">
        {{ include file="teacher_center/component/addressForm.html" addressList=$tpl_data.address_list }}
    </div>

    <div class="form-group bs_switch">
        <div class="form-controls">
            {{ include file="common/component/checkBox.html" name="bs_switch" text='该班学生可以通过电话联系我<i class="icon icon-question-circle" data-title="开启后，该班学生可以通过我们的电话服务拨打你的手机。"></i>' }}

        </div>
    </div>



    <input type="hidden" name="course_number" />

    <div class="form-action">
        <button class="btn-primary btn-save">保存</button>
        <button class="btn-default btn-cancel">取消</button>
    </div>

    <div class="form-static form-inline">
        <span class="form-hint">
            <i class="icon icon-info-circle"></i>
            具体班课时间设置请在下方“教学计划”中完成。
        </span>
    </div>

</div>

{{ include file="common/component/baiduMap.html" }}

{{ /strip }}