{{ *

@file 班课设置 - 教学计划表单
@author wangyujie

* }}
{{ strip }}
<div class="form form-plan">

    <div class="form">
        <h2>
            <i class="form-required"></i>
            教学计划
            <span class="text-error">（必填，请不要在内容中留电话、QQ和网址哦）</span>
        </h2>

        <div class="form-group arrangement">
            <label class="form-label"><i class="form-required"></i>课程安排</label>
            <div class="form-controls">
                <textarea class="form-text" name="arrangement" placeholder="示例：2月1日开始，每周日、二上午9-11点上课，共20次"></textarea>
                <span class="form-hint">
                    还可以输入 <strong>50</strong> 个字
                </span>
                <span class="error"></span>
            </div>
        </div>

        <div class="form-static">
            <span class="form-hint">
                &nbsp;&nbsp;<i class="icon icon-info-circle"></i>&nbsp;线下班课请尽量设置在8:00-22:00，线上班课请尽量设置在8:00-23:00，否则可能会导致审核不通过哦~
            </span>
        </div>
        <div class="form-group">
            <div class="form-label"><i class="form-required"></i>详细课节安排</div>

        </div>
    </div>

    <script id="tpl-schedule-disabled" type="text/plain">
        <div class="schedule disabled" data-index="1">
            <div class="label">第1节</div>
            <div class="schedule-form">
                <input type="hidden" name="id" />
                <input type="hidden" name="class_course_number" value="{{ $tpl_data.number }}"/>
                <div class="form-group">
                    <label class="form-label">
                        课程时间：
                    </label>
                    <div class="form-static">
                        <input type="hidden" name="begin_time">
                        <input type="hidden" name="end_time">

                        <span class="course-date"></span>
                        <span class="begin-time"></span>
                        <span>至</span>
                        <span class="end-time"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        课程内容：
                    </label>
                    <div class="form-static">
                        <input type="hidden" name="content">
                        <span class="content"></span>
                    </div>
                </div>
                <div class="form-group is-org">
                    <label class="form-label"><i class="form-required"></i>授课老师：</label>

                    <div class="form-static">
                        <input type="hidden" name="teacher_user_number">
                        <span class="teacher-name"></span>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script id="tpl-schedule" type="text/plain">
        <div class="schedule" data-index="1">
            <div class="label"></div>
            <div class="schedule-form">
                <input type="hidden" name="id" />
                <input type="hidden" name="class_course_number" value="{{ $tpl_data.number }}"/>

                <div class="form-group">
                    <label class="form-label">
                        <i class="form-required"></i>课程时间：
                    </label>
                    <div class="form-controls">

                        <div class="form-date">
                            <input type="text" name="course_date" class="form-text" required placeholder="YYYY-MM-DD" readonly/>
                            <div class="calendar"></div>
                        </div>

                        <div class="dropdown daytime-select start-time">
                            <input class="form-text" name="start_time" required />
                            <span class="trigger">
                                <i class="caret"></i>
                            </span>
                            <ul class="dropdown-menu"></ul>
                        </div>
                        至
                        {{ include file="common/ui/dropdown.html" class="end-time" default_text="- 下课时间 -" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        &nbsp&nbsp课程内容：
                    </label>
                    <div class="form-controls">
                        <input class="form-text" type="text" name="content" required placeholder="填写具体的课程内容有助于学生更信服你的教学" />
                        <span class="error"></span>
                    </div>
                </div>
                <div class="form-group is-org">
                    <label class="form-label">
                        <i class="form-required"></i>授课老师：
                    </label>

                    <div class="form-controls">
                        <div class="dropdown teacher-list" required>
                            <button class="btn-default">
                                <i class="caret"></i>
                                <span>- 授课老师 -</span>
                            </button>
                            <ul class="dropdown-menu"></ul>
                        </div>

                        <span class="form-hint">
                            选择本节课的授课老师
                        </span>
                        <span class="error"></span>
                    </div>
                </div>
            </div>
            <div class="cancel">删除该课节</div>
        </div>
    </script>

    <div class="schedule-list"></div>

    {{ if !$has_student }}
    <div class="actions">
        <div><span class="quick-plan"><i class="icon icon-plus-o"></i>批量添加多节课程<img src="{{ $static_origin }}/asset/img/teacher-center/new_c5f353be7b.png" style="margin-left:5px;"></span></div>
        <div><span class="add"><i class="icon icon-plus-o"></i>添加单一课节</span></div>
    </div>
    {{ /if }}

    <div class="form">
        <div class="form-group">
            <label class="form-label"><i class="form-required"></i>退班规则</label>
            <div class="form-controls">
                {{ if $has_student }}
                    <div class="form-static">
                    {{ if $tpl_data.retire_flag == 0 }}
                        <span>随时可退</span>
                    {{ else if $tpl_data.retire_flag == 1 }}
                        <span>开班前1小时不可退</span>
                    {{ else if $tpl_data.retire_flag == 2 }}
                        <span>开班{{ $tpl_data.retire_length|escape }}节课开始后不可退</span>
                    {{ /if }}
                    </div>
                {{ else }}
                {{ include file="common/component/radio.html" name="retire_flag" value="0" text="随时可退" }}
                {{ include file="common/component/radio.html" name="retire_flag" value="1" text="开班前1小时不可退" }}
                {{ include file="common/component/radio.html" name="retire_flag" value="2" text='第' }}
                <input class="form-text" name="retire_length" max="9999" min="1" pattern="^\d*$"/>
                <span class="error"></span>
                节课开始后不可退
                {{ /if }}
            </div>
            <div class="form-static">
                <span class="form-hint">
                <i class="icon icon-info-circle"></i>
                课酬将会按课节结算到你的跟谁学账户，学生在可退期间可以要求退还未开课部分的课酬。
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label"><i class="form-required"></i>能否插班</label>
            <div class="form-controls">

                {{ include file="common/component/radio.html" name="chaban_flag" value="3" text="随时可插班" }}

                {{ include file="common/component/radio.html" name="chaban_flag" value="2" text='第' }}
                <input type="int" class="form-text" name="chaban_quota" min="1" max="999" pattern="^\d+$" />
                <span class="error"></span>
                节课前可插班

                {{ include file="common/component/radio.html" name="chaban_flag" value="1" text="不可插班" checked=true }}

            </div>
        </div>

        <div class="form-group price-way"{{ if $has_student && ($tpl_data.chaban_flag == 2 || $tpl_data.chaban_flag == 3) }} style="display:block"{{ /if }}>
            <label class="form-label">
                <i class="form-required"></i>
                插班价格
            </label>
            <div class="form-controls">
                {{ if $has_student }}
                <div class="form-static">
                    {{ if $tpl_data.chaban_price_flag == 1 }}
                    <span>未结束课程的总价</span>
                    {{ else if $tpl_data.chaban_price_flag == 2 }}
                    <span>{{ $tpl_data.chaban_price }}元/人</span>
                    {{ /if }}
                </div>
                {{ else }}
                {{ include file="common/component/radio.html" name="chaban_price_flag" value="1" text="未结束课程的总价" checked=true }}

                {{ include file="common/component/radio.html" name="chaban_price_flag" value="2" text='自定义插班价：' }}
                <input type="money" class="form-text" name="chaban_price" min="0.01" max="999999" pattern="^\d+(\.[0-9]{1,2})?$" />元/人

                <span class="error"></span>
                {{ /if }}
            </div>
        </div>
    </div>


    <div class="form-action">
        <button class="btn-primary btn-save">保存</button>
        <button class="btn-default btn-cancel">取消</button>
    </div>

</div>
{{ /strip }}
