.normal, .active, .choosed {
    flex: 1;
    text-align: center;
    position: relative;
    span {
        display: inherit;    
    }
}

.normal {
    font-family: PingFang-SC-Regular;
    font-size: rem(13);
    color: #3D3D3E;
    margin-left: rem(4);
    margin-right: rem(4);
}
.active {
    font-family: PingFangSC-Semibold;
    font-size: rem(13);
    color: #3D3D3E;
    margin-left: rem(4);
    margin-right: rem(4);
}
.choosed {
    border: 1px solid #FF6C00;
    border-radius: rem(4);
    height: rem(26);
    line-height: rem(26);
    margin-top: rem(7);
    color: #FF6C00;
    font-size: rem(12);
    margin-left: rem(4);
    margin-right: rem(4);
}