// 默认字体类型
@font-family-base:                  PingHei, 'Hiragino Sans GB', 'Microsoft YaHei', tahoma, arial, sans-serif;

// 标题字体类型
@font-family-title:                 PingHei, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;

// 字体大小
@font-size-tiny:                    12px;
@font-size-small:                   14px;
@font-size-medium:                  16px;
@font-size-large:                   26px;
@font-size-huge:                    36px;