{{ *

@file 手机页面 - APP下载
@author zhangjiayi

* }}

{{ extends file="common/mobile/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ /block }}

{{ block name="title" prepend }}
跟谁学老师版 - APP下载
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/mobile/download.less">
{{ /block }}

{{ block name="body" }}
{{ strip }}
<div id="mobile-body">
    <div class="banner">
        <img src="{{ $static_origin }}/src/img/app/mobile/header.jpg" />
    </div>

    <div class="controls">
        <h2>老师版APP下载</h2>
        <div>
            <!--
            <a class="android" href="http://d.gsxservice.com/genshuixueteacher.apk">
                <img src="{{ $static_origin }}/src/img/app/mobile/android.png" />
                <span>Android&nbsp;下载</span>
            </a>
            -->
            <a class="android" >
                <img src="{{ $static_origin }}/src/img/app/mobile/android_btn.png" />
            </a>
            <a class="iphone" >
                <img src="{{ $static_origin }}/src/img/app/mobile/apple_btn.png" />
            </a>
        </div>
    </div>

    <div class="item">
        <h1>专属个人平台</h1>
        <p>帮助老师免费打造个人品牌，建立个人专属学校，展示自己。</p>

        <img class="platform" src="{{ $static_origin }}/src/img/app/mobile/platform1.png" />
    </div>
    <div class="item">
        <h1>一站式服务</h1>
        <p>方便的帮助老师招生、管理课表、学生沟通、付费结算等。</p>

        <img class="one-stop" src="{{ $static_origin }}/src/img/app/mobile/one-stop1.png" />
    </div>
    <div class="item">
        <h1>便捷管理</h1>
        <p>提供PC、微信、手机等跨平台的管理方式。</p>

        <img class="speedy" src="{{ $static_origin }}/src/img/app/mobile/speedy1.png" />
    </div>
    <div class="item process">
        <h1>平台流程</h1>
        <img class="process-img" src="{{ $static_origin }}/src/img/app/mobile/process.png" />
        <ul>
            <li>
                <h3>注册认证</h3>
                <span>根据引导注册认证，完善资料，发布课程。</span>
            </li>
            <li>
                <h3>约课授课</h3>
                <span>收到学生约课请求，沟通后安排线上或线下授课。</span>
            </li>
            <li>
                <h3>收到课酬</h3>
                <span>每次课程结束，学生确认后，课时费自动支付到老师账户。</span>
            </li>
            <li>
                <h3>评价反馈</h3>
                <span>对学生的学习进行评价，对学生的评论给予反馈。</span>
            </li>
        </ul>
    </div>

    <div class="controls">
        <h2>老师版APP下载</h2>
        <div class="control-btn">
            <!--
            <a class="android" href="http://d.gsxservice.com/genshuixueteacher.apk">
                <img src="{{ $static_origin }}/src/img/app/mobile/android.png" />
                <span>Android&nbsp;下载</span>
            </a>
            -->
            <a class="android" >
                <img src="{{ $static_origin }}/src/img/app/mobile/android_btn.png" />
            </a>
            <a class="iphone" >
                <img src="{{ $static_origin }}/src/img/app/mobile/apple_btn.png" />
            </a>
        </div>
    </div>

</div>

{{ /strip }}
{{ /block }}