@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "page/studentRoom/signUp/_part/content.styl";

body {
    background: white;
}

.pay-button {
    background: #37a4f5;
    width: 100%;
    height: rem(48);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: rem(48);
    font-family: PingFangSC-Semibold;
    font-size: rem(17);
    color: #ffffff;
}