@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "page/studentVip/_part/bottomNav.styl";
@import "page/studentVip/_part/tab.styl";
@import "page/studentVip/_part/list.styl";
@import "page/studentVip/_part/lunbo.styl";

body {
  background-color: #F8F7ED;
}

#page_nav_bar {
    background: black;
    border-bottom: none;
    color: white;
}
.show-margin-bottom {
    margin-bottom: rem(70);
}
.typing-loader {
    width: rem(8);
    height: rem(8);
    animation: typing 1s linear infinite alternate;
    margin: rem(10) auto;
    position: relative;
    left: rem(-12);
}

@keyframes typing {
    0% {
        background-color: rgba(255, 145, 1, 1);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    25% {
        background-color: rgba(255, 145, 1, 0.4);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    75% {
        background-color: rgba(255, 145, 1, 0.4);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 1);
    }
}
.has-more {
    display: block;
    height: rem(40);
    margin: rem(10) 0;
    background: #fff;
    padding: rem(6);
    line-height: rem(34);
    .typing-loader {
        display: none;
    }
    &.loading {
        .typing-loader {
            display: block;
        }
    }
    &.hide {
        display: none;
    }
}