page {
    .video-detail {
		.video-box {
			video {
				width: 100%;
			}
			.video-name {
				font-size: 32rpx;
				color: #2d2d2e;
				font-weight: bold;
			}
		}
		.video-container {
			.video-item {
				image {
					display: inline-block;
					width: 60%;
					height: 100rpx;
				}
				.video-name {
					font-size: 32rpx;
					color: #2d2d2e;
					font-weight: bold;
					display: inline-block;
				}
			}
		}
	}
}