.tryListen {
    flex: 2;
    color: white;
    span {
        height: rem(50);
        line-height: rem(50);
    }
    &.vip-level {
        background: #f95e5e;
    }
    &.default-level {
        background: #ff6c00;
    }
}