@bgcolorRight: #ccf;
#container {
	#box { 
		#content {
			#content-right { 
				.breadcrumb {
					background-color: #9cf;
				}
				#myCarousel {
					margin-bottom: 20px;
				}
				.linksTable {
					background-color: @bgcolorRight;
					table {
						thead {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}