#container {
	#box {
		#content {
			#content-right { 
				width: 800px;
				float: right;
				overflow: hidden;
				.breadcrumb {
					background-color: #9cf;
				}
				#myCarousel {
					margin-bottom: 20px;
				}
				#title {
					text-align: center;
					font-size: 20px;
					font-weight: bold;
				}
				#introduction {
					width: 760px;
					margin: 0 auto;
					p {
						font-size: 18px;
						text-indent: 36px;
					}
				}
			}
		}
	}
}