 #container {
	#box {
		#content {
			#content-right { 
				width: 800px;
				float: right;
				overflow: hidden;
				.breadcrumb {
					background-color: #9cf;
				}
				#myCarousel {
					margin-bottom: 20px;
				}
				#title {
					font-size: 20px;
					font-weight: bold;
					text-align: center;
				}
				#texts {
					width: 760px;
					margin: 0 auto;
					.item {
						margin-bottom: 30px;
						p {
							font-size: 14px;
							text-indent: 28px;
						}
					}
				}
			}
		}
	}
}