 #container {
	#box {
		#content {
			#content-right { 
				width: 800px;
				float: right;
				overflow: hidden;
				.breadcrumb {
					background-color: #9cf;
				}
				#myCarousel {
					margin-bottom: 20px;
				}
				#guidance {
					width: 760px;
					margin: 0 auto;
					#title {
						font-size: 20px;
						font-weight: bold;
						text-align: center;
						color: red;
					}
					.qaa {
						margin-bottom: 30px;
						font-size: 18px;
					}
				}
			}
		}
	}
}