@import "page/_base/base.styl";
@import "page/_common/top/top.styl";
@import "common/starScore/starScore.styl";

@import "common/openAppDialog/open400TelDialog.styl";
@import "common/appoint/appoint.styl";
@import "../component/cover/coverOne2One.styl";
@import "../component/briefIntroduction/index.styl";
@import "../component/safeguard/index.styl";
@import "../component/valueAddedServices/valueAddedServices.styl";
@import "../component/courseDetails/index.styl";
@import "../component/mask/index.styl";
@import "../component/chooseCourse/index.styl";
@import "../component/orgIntroduction/index.styl";
@import "../component/comment/index.styl";
@import "page/course/details/component/platformSupport/index.styl";
@import "../component/recommend/index.styl";
@import "../component/share/index.styl";
@import "../component/courseBottom/one2oneBottom.styl";

.body-hidden {
  overflow: hidden;
}

body {
  background-color: #edf0f0;
}
