.platform-support {
	padding: rem(20) rem(12);
	ul {
		display: inline-flex;
		width: 100%;
		li {
			flex: 1;
			text-align: center;
		}
	}
	.title {
		font-size: rem(16);
		color: #9D9D9E;
		ul {
			li {
				position: relative;
				span {
					height: rem(1);
					border: 1px solid #dddedf;
					center(absolute);
					display: inline-block;
				    width: 90%;
				}
			}
		}
	}
	ul.content {
		font-size: rem(14);
		color: #3D3D3E;
		margin-top: rem(15);
		li {
			.icon {
				color: #ff9100;
			    font-size: rem(26);
			    vertical-align: middle;
			    margin-right: rem(2);
			}
		}
	}
}