/**
 * @file 找回密码对话框
 * @author zhujialu
 */
@import "../../../common/component/mobileInput.less";
.form-find-password {
    .form-label {
        width: 6em;
    }
}

#pay-mobile-dialog {

    .mobile-input {
        display: inline-block;
        .disable-international {
            input[name="mobile"] {
                width: 180px;
            }
        }
        .enable-international {
            input[name="mobile"] {
                width: 155px;
            }
        }
    }

    .switch-international {
        cursor: pointer;
        display: inline-block;
        margin-left: @gap-horizontal-medium;
    }
}

.dialog {
    .form-label {
        width: 120px;
    }
    .form-controls {
        margin-left: 120px;
        input {
            width: 180px;
        }
    }
    .form-static {
        display: block;
    }
    #pay-password-send {
        margin-left: @gap-horizontal-medium;
    }
}