.header {
        padding: rem(20);
        width: 100%;
        height: rem(520);
        background-image: url(/src/page/activity/liudanActivity/common/img/header_background.png);
        background-size: 100% 100%;
        .logo {
            float: left;
            width: rem(89);
            height: rem(36);
            background-size: 100% auto;
            img {
                width: rem(89);
                height: rem(36);
            }
        }
        .home {
            float: right;
            width: rem(26);
            height: rem(26);
            background-size: 100% auto;
            img {
                width: rem(26);
                height: rem(26);
            }
        }
        .header-jinpai {
            width: rem(140);
            height: rem(120);
            background-size: 100% auto;
            margin: rem(108) auto rem(30) auto;
            img {
                width: rem(140);
                height: rem(120);
            }
        }
        .title {
            font-size: rem(44);
            color: #fff;
            letter-spacing: rem(-0.02);
            line-height: rem(44);
            text-align: center;
        }
        .title-vip {
            font-size: rem(40);
        }
        .content {
            display: block;
            width: rem(286);
            margin: 0 auto;
            opacity: 0.69;
            font-size: rem(18);
            color: #FFFFFF;
            letter-spacing: rem(0.09);
            line-height: rem(24);
            text-align: center;
        }
        .to-application, .free-consult {
            margin: 0 auto;
            font-size: rem(18);
            color: #FFFFFF;
            text-align: center;
        }
        .to-application {
            background: #FF382F;
            margin: rem(25) auto rem(15) auto;
            width: rem(255);
            height: rem(46);
            line-height: rem(46);
        }
        .free-consult {
            opacity: 0.5;
            border: 1px solid #FFFFFF;
            width: rem(253);
            height: rem(44);
            line-height: rem(44);
        }

    }