{{ *

@file 背景资料表单
@author zhujialu

* }}

{{ strip }}
<div class="form form-background">

    <h2>
        背景资料
        <span class="text-error">（*为必填项）</span>
    </h2>

    <div class="form-group school-age-group">

        <label class="form-label">
            教龄
            <span class="text-error">（必填）</span>
        </label>

        <div class="dropdown school-age{{ if $audits.school_age.verify_status == 2 }} form-error{{ /if }}" required>
            <button class="btn-default">
                <i class="caret"></i>
                <span>- 年 -</span>
            </button>
            <ul class="dropdown-menu">
                {{ include file="common/variable/seniority.html" scope=parent }}
                {{ foreach $seniorityMap as $key => $name }}
                    <li data-value="{{ $key }}">
                        {{ $name }}
                    </li>
                {{ /foreach }}
            </ul>
        </div>
        <span class="error"></span>

        {{ if $audits.school_age.verify_status == 2 }}
        <div class="reasons form-block">
        <i class="icon icon-info-circle"></i>
        {{ foreach $audits.school_age.reasons as $reason }}
            {{ $reason }}；
        {{ /foreach }}
        </div>
        {{ /if }}
    </div>

    <div class="form-group">

        <label class="form-label">
            单位/机构/学校
        </label>

        <input type="text" name="institution" class="form-text {{ if $audits.institution.verify_status == 2 }}form-error{{ /if }}" maxlength="20" minlength="2" placeholder="单位/机构/学校(20字以内)" />
        <span class="error"></span>

        {{ if $audits.institution.verify_status == 2 }}
        <div class="reasons form-block">
        <i class="icon icon-info-circle"></i>
        {{ foreach $audits.institution.reasons as $reason }}
            {{ $reason }}；
        {{ /foreach }}
        </div>
        {{ /if }}
    </div>


    <div class="form-group">
        <label class="form-label subject-txt">
            教学科目
            <span class="text-error">（必填）</span>
        </label>
        <div class="subject-box">
            <div class="dropdown category1">
                <span class="btn-default">
                    <i class="caret"></i>
                    <span>请选择</span>
                </span>
                <ul class="dropdown-menu">
                </ul>
            </div>
            <div class="dropdown category2">
                <span class="btn-default">
                    <i class="caret"></i>
                    <span>请选择</span>
                </span>
                <ul class="dropdown-menu">
                </ul>
            </div>
            <div class="dropdown category3">
                <span class="btn-default">
                    <i class="caret"></i>
                    <span>请选择</span>
                </span>
                <ul class="dropdown-menu">
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group tags-group {{ if $audits.skills.verify_status == 2 }}child-error{{ /if }}">

        <label class="form-label">
            个人标签
        </label>

        <ul class="selected-labels"></ul>

        <input type="text" class="form-text tags" name="tags" maxlength="7" />
        <button class="btn-primary btn-add">添加</button>

        <div class="form-block">
            <span class="form-hint">标签的准确性比数量更重要，请将单个标签控制在<strong>7字</strong>以内（标签仅限使用字母、数字、汉字，且最多输入<strong>50个</strong>）</span>
        </div>

        <div class="tab">

            <div class="tab-nav tab-nav-default">
                {{ foreach $background.system_tags as $item }}
                <b class="nav-item" data-index="{{ $item.group.id }}">
                    {{ $item.group.display }}
                </b>
                {{ /foreach }}
            </div>

            <div class="tab-content sys-labels">
                {{ foreach $background.system_tags as $item }}
                <ul class="tab-panel panel-{{ $item.group.id }}">
                    {{ foreach $item.tags as $list }}
                    <li data-id="{{ $list.id }}">{{ $list.title }}</li>
                    {{ /foreach }}
                </ul>
                {{ /foreach }}
            </div>

        </div>

        {{ if $audits.skills.verify_status == 2 }}
        <div class="reasons form-block">
        <i class="icon icon-info-circle"></i>
        {{ foreach $audits.skills.reasons as $reason }}
            {{ $reason }}；
        {{ /foreach }}
        </div>
        {{ /if }}

        <span class="error"></span>
    </div>

    <div class="form-action">
        <button class="btn-primary btn-save">保存</button>
        <button class="btn-default btn-cancel">取消</button>
    </div>


</div>
{{ /strip }}