{{ *

@file 基本信息表单
@author zhujialu

* }}

{{ strip }}

{{ $tpl_data.audits = $audits }}

<div class="form form-baseinfo" data-baseinfo='{{ htmlspecialchars(json_encode($tpl_data, 77)) }}'>

    <h2>
        基本信息
        <span class="text-error">（*为必填项）</span>
    </h2>
    {{ $is_default_avatar = ($audits.avatar.verify_status == '1' && ($private_show & 2)) }}
    <div class="avatar">
        {{ if $tpl_data.has_avatar }}
            {{ $avatar = $tpl_data.avatar }}
        {{ else }}
            {{ if $tpl_data.sex == 2 }}
                {{ $avatar = $tpl_data.default_avatars.sexless }}
            {{ elseif $tpl_data.sex == 1 }}
                {{ $avatar = $tpl_data.default_avatars.male }}
            {{ elseif $tpl_data.sex == 0 }}
                {{ $avatar = $tpl_data.default_avatars.female }}
            {{ /if }}
        {{ /if }}
        {{ if $is_default_avatar }}
            {{ $avatar = 'http://img.gsxservice.com/'|cat:$tpl_data.def_avatar }}
        {{ /if }}
        <label>
            <i class="form-required"></i>
            {{ if $is_default_avatar }}本人默认头像{{ else }}本人真实头像{{ /if }}
            <span class="text-error">（必填）</span>
        </label>

        {{ include file="common/component/imageUploader.html" image=$avatar }}

        {{ if $audits.avatar.verify_status == 2 }}
        <div class="reasons form-block">
            <i class="icon icon-info-circle"></i>
            {{ foreach $audits.avatar.reasons as $reason }}
                {{ $reason }}；
            {{ /foreach }}
        </div>
        {{ /if }}
        {{ if $is_default_avatar }}
        <div class="form-hint">您开启了隐藏真实头像，对外将会展示默认头像</div>
        {{ else }}
        <div class="form-imagetip">点击查看头像示例</div>
        {{ /if }}


    </div>

    <div class="form-group fleft">
        <label class="form-label privacy">

            <i class="form-required"></i>
            请输入真实姓名
            <span class="text-error">（必填）</span>
            <span class="text-info"></span>

        </label>

        <input type="text" name="realname" class="form-text {{ if $audits.realname.verify_status == 2 }}form-error{{ /if }}" maxlength="40" minlength="2" {{ if $tpl_data.realname_locked }}disabled{{ /if }} />

        <span class="form-inline">
            {{ include file="common/component/radio.html" name="sex" value="1" text="男" }}
            {{ include file="common/component/radio.html" name="sex" value="0" text="女" }}
        </span>

        {{ if $audits.realname.verify_status == 2 }}
        <div class="reasons form-block">
            <i class="icon icon-info-circle"></i>
            {{ foreach $audits.realname.reasons as $reason }}
                {{ $reason }}；
            {{ /foreach }}
        </div>
        {{ /if }}

        <div class="form-block form-hint">
            {{ if $audits.identity == 1 }}
            你的身份认证已经通过，真实姓名无法再更改哦
            {{ else }}
            身份认证成功后，姓名不可再修改~
            {{ /if }}
        </div>
        <span class="error"></span>
    </div>

    <div class="form-group fleft">
        <label class="form-label">
            出生日期
        </label>
        {{ if $audits.id_card == 1 }}
        <div class="show-birthday">
            <input type="text" name="dyear" class="form-text" disabled />
            <input type="text" name="dmonth" class="form-text" disabled />
            <input type="text" name="ddate" class="form-text" disabled />
        </div>
        <div class="form-block form-hint">
            {{ if $audits.identity == 1 }}
            你的身份认证已经通过，出生日期无法再更改哦，该日期不会展示给学生
            {{ /if }}
        </div>
        {{ /if }}
        <div class="birthday" {{ if $audits.id_card == 1 }}style="display: none"{{ /if }}>
            {{ include file="common/component/dateSelect.html" }}
        </div>

    </div>

    <div class="form-group fleft">
        <label class="form-label">
            昵称
        </label>
        <input type="text" name="nickname" class="form-text {{ if $audits.nickname.verify_status == 2 }}form-error{{ /if }}" maxlength="10" pattern="\D+" />
        <span class="error-tip">
            <i class="icon icon-info-circle"></i>
            <span class="tip"></span>
        </span>
        <span class="form-inline form-static form-hint">
            昵称在隐藏模式开启后显示
        </span>

        {{ if $audits.nickname.verify_status == 2 }}
        <div class="reasons form-block">
            <i class="icon icon-info-circle"></i>
            {{ foreach $audits.nickname.reasons as $reason }}
                {{ $reason }}；
            {{ /foreach }}
        </div>
        {{ /if }}

        <div class="form-block form-hint">
            有个性的昵称可以突出你的性格还可以拉近和学生的距离哦~
        </div>

        <span class="error"></span>
    </div>

    <div class="form-group clearfix">
        <label class="form-label">
            <i class="form-required"></i>
            一句话简介
            <span class="text-error">（必填）</span>
        </label>

        <div class="form-editor">
            <textarea class="form-text {{ if $audits.short_introduce.verify_status == 2 }}form-error{{ /if }}" name="short_introduce"></textarea>
            <div class="form-hint">
                还可以输入 <strong>20</strong> 个字
            </div>

            {{ if $audits.short_introduce.verify_status == 2 }}
            <div class="reasons form-block">
                <i class="icon icon-info-circle"></i>
                {{ foreach $audits.short_introduce.reasons as $reason }}
                    {{ $reason }}；
                {{ /foreach }}
            </div>
            {{ /if }}
        </div>

        <span class="error"></span>
    </div>

    <div class="form-group">
        <label class="form-label teacher-intro-txt">
            老师介绍
        </label>
        <div class="introduce-editor">
            <textarea class="form-text teacher-intro" name="introduce" maxlength="200" placeholder="介绍一下自己，让学生快速了解你">{{ $tpl_data.introduce }}</textarea><span class="error"></span>
            <div class="form-hint">
                还可以输入 <strong>200</strong> 个字
            </div>
        </div>
        <span class="teacher-intro-tip">
            <i class="icon icon-question-circle"></i>
            不知道怎么写？点这里
        </span>
        {{ if $audits.introduce.verify_status == 2 }}
            <div class="reasons form-block">
                <i class="icon icon-info-circle"></i>
                {{ foreach $audits.introduce.reasons as $reason }}
                    {{ $reason }}；
                {{ /foreach }}
            </div>
        {{ /if }}
    </div>

    <div class="form-group">
        <label class="form-label approach-txt">
            授课方式
        </label>
        <div class="approach-box">
            <div class="approach-item {{ if !empty($tpl_data.lesson_way.teacher) }}active{{ /if }}" data-val="teacher">老师上门</div>
            <div class="approach-item {{ if !empty($tpl_data.lesson_way.discuss) }}active{{ /if }}" data-val="discuss">协商地点</div>
            <div class="approach-item {{ if !empty($tpl_data.lesson_way.student) }}active{{ /if }}" data-val="student">学生上门</div>
            <div class="approach-item {{ if !empty($tpl_data.lesson_way.online) }}active{{ /if }}" data-val="online">在线教学</div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">
            <i class="form-required"></i>
            我的身份
            <span class="form-static form-hint">
                （请告诉我们你是老师或在校生，方便更适合的学生找到你哦~）
            </span>
            <span class='text-error'>（必填）</span>
        </label>

        {{ include file="common/component/radio.html" name="category" value="1" text="老师" }}

        {{ include file="common/component/radio.html" name="category" value="2" text="在校生" }}

        {{ include file="common/component/radio.html" name="category" value="3" text="其他（白领、技能达人等）" }}

        <span class="error"></span>
    </div>

    <div class="form-group inline edu-back-group">
        <label class="form-label">
            学历
        </label>
        <div class="dropdown edu-back">
            <button class="btn-default">
                <i class="caret"></i>
                <span>最高学历</span>
            </button>
            <ul class="dropdown-menu">
                {{ include file="common/variable/education.html" scope=parent }}
                {{ foreach $educationMap as $key => $name }}
                    <li data-value="{{ $key }}">
                        {{ $name }}
                    </li>
                {{ /foreach }}
            </ul>
        </div>
        <span class="error"></span>
    </div>

    <div class="form-group inline school-group">
        <label class="form-label">
            毕业院校
        </label>
        <input type="text" name="school" class="form-text {{ if $audits.graduation_school.verify_status == 2 }}form-error{{ /if }}" placeholder="毕业/就读院校" />
        <span class="error"></span>
    </div>

    <div class="form-group inline edu-back-group">
        <label class="form-label">
            所学专业
        </label>
        <input type="text" name="major" class="form-text {{ if $audits.graduation_major.verify_status == 2 }}form-error{{ /if }}" placeholder="专业" />
        <span class="error"></span>
    </div>

    {{ if $audits.graduation_school.verify_status == 2 }}
    <div class="reasons form-block">
        <i class="icon icon-info-circle"></i>
        {{ foreach $audits.graduation_school.reasons as $reason }}
            {{ $reason }}；
        {{ /foreach }}
    </div>
    {{ /if }}

    {{ if $audits.graduation_major.verify_status == 2 }}
    <div class="reasons form-block">
        <i class="icon icon-info-circle"></i>
        {{ foreach $audits.graduation_major.reasons as $reason }}
            {{ $reason }}；
        {{ /foreach }}
    </div>
    {{ /if }}

    <div class="form-group">

        <label class="form-label">
            可上门授课范围
            <span class="form-static form-hint">
                （如果你提供“老师上门”和“协商地点”这两种授课方式，请填写该项，可多选）
            </span>
        </label>

        {{ include file="./accessRegion.html" }}

        <div class="form-block form-hint">
            <i class="icon icon-info-circle"></i>
            如果你能支持全国或全省范围的面授，请发送邮件到yunying@genshuixue.com申请，请写明原因及联系方式
        </div>

        <span class="error"></span>

    </div>


    <div class="form-group">
        <label class="form-label">
            个人主页地址
        </label>

        <span>genshuixue.com/</span>
        {{ if $tpl_data.domain }}
            {{ $domain_value = $tpl_data.domain }}
        {{ else }}
            {{ $domain_value = $tpl_data.uid }}
        {{ /if }}

        <input type="text" class="form-text {{ if $audits.private_domain.verify_status == 2 }}form-error{{ /if }}" name="private_domain" value="{{ $domain_value }}" minlength="6" required maxlength="30" pattern="^(?!\d+$)[\da-zA-Z]*$" />

        {{ if $audits.private_domain.verify_status == 2 }}
        <div class="reasons form-block">
            <i class="icon icon-info-circle"></i>
            {{ foreach $audits.private_domain.reasons as $reason }}
                {{ $reason }}；
            {{ /foreach }}
        </div>
        {{ /if }}


        <span class="error"></span>

        <div class="form-block form-hint">
            <i class="icon icon-info-circle"></i>
            个人主页地址长度为6-30个字符，不支持纯数字；设置后不能更改，如果需要小于6位或其他特殊域名请发送邮件到ask@genshuixue.com申请
            <span class="text-primary">
                平台保留无条件收回特定域名的权利
            </span>
        </div>


    </div>

    <div class="form-action">
        <button class="btn-primary btn-save">保存</button>
        <button class="btn-default btn-cancel">取消</button>
    </div>

</div>

{{ include file="common/component/baiduMap.html" }}

{{ /strip }}