{{ *

@file 我的照片
@author wangyujie

* }}

{{ strip }}

{{ function getPhoto item=null }}

<li data-photo='{{ json_encode($item, 77) }}'
{{ if isset($key) }}
    {{ if $key == 4 || $key == 8 }} class="clearfix" {{ /if }}
{{ /if }}
>

    {{ include file="common/variable/photo.html" url=$item.url raw_width=$item.width raw_height=$item.height width=180 height=134 }}

    {{ include file="common/component/imageThumbnail.html" url=$item.url title=$item.title crop_url=$photo editable=true }}

    {{ if isset($item.verify_status) && $item.verify_status == 2 }}
        <div class="message message-error">
            <i class="icon icon-info-circle"></i>
            {{ foreach $item.reasons as $reason }}
                {{ $reason }}；
            {{ /foreach }}
        </div>
    {{ /if }}

</li>

{{ /function }}

{{ function getPhotoShowcase list=null }}

    <div class="photo-showcase">

        <div class="info-header form-trigger">
            <i class="icon icon-image-o"></i>
            <h3>我的照片</h3>
            <div class="edit">
                <i class="icon icon-plus"></i>
                添加
            </div>
        </div>

        <div class="info-body">

            <ul class="photo-list">

                {{ if isset($list) && $list }}

                {{ foreach $list as $key=>$item }}

                {{ getPhoto key=$key item=$item }}

                {{ /foreach }}

                {{ /if }}

            </ul>

        </div>

    </div>

{{ /function }}

<div class="photo">
    <a name="photo"></a>

    <script type="text/plain" class="tpl-showcase">
    {{ getPhotoShowcase }}
    </script>

    {{ if isset($tpl_data.photo_list) && count($tpl_data.photo_list) > 0 }}

        {{ getPhotoShowcase list=$tpl_data.photo_list }}

        {{ include file="common/component/pager.html" page=$tpl_data.pagination.page count=$tpl_data.pagination.count page_size=$tpl_data.pagination.page_size hide_jump=1 }}

    {{ else }}

    <div class="noinfo form-trigger edit">

        <span class="desc">精彩图片，展示你的风采</span>

        <i class="icon icon-round-edit"></i>
        <h3>
            我的照片
        </h3>

    </div>

    {{ /if }}

    {{ include file="./photoForm.html" }}

</div>
{{ /strip }}