{{ *

@file 我的照片
@author wangyujie

* }}

{{ strip }}

<div class="photo">
    <a name="photo"></a>

    <div class="photo-showcase">

        <div class="info-header form-trigger">
            <h3>
                <span class="hint">
                    <i class="icon icon-info-circle"></i>
                    建议上传您的形象照、教学环境、上课照片及与学生的合照，有助于帮助学生和家长了解您哦
                </span>
            </h3>
            <span class="edit action-edit" {{ if $tpl_data.photo_count >= $tpl_data.photo_max }}style="display:none"{{ /if }}>
                <input type="file" name="files" multiple>
                <i class="icon icon-plus"></i>
                添加
            </span>
            {{ if $tpl_data.photo_count > 1 }}
            <span class="edit enable-order">
                <i class="icon icon-arrow-sort"></i>照片排序
            </span>
            <span class="edit cancel-order">
                取消排序
            </span>
            <span class="edit save-order">
                保存顺序
            </span>
            {{ /if }}
        </div>
        <div class="drag-tip">拖动排序：按住鼠标左键，将照片拖动到需要的位置后保存</div>
        <div class="info-body" id="photo-list">
        </div>
    </div>


    <div class="noinfo form-trigger edit">

        <span class="desc">精彩图片，展示你的风采</span>

        <i class="icon icon-round-edit"></i>
        <h3>
            我的照片
        </h3>

    </div>

    {{ include file="../component/imageUploadDialog.html" }}

</div>
{{ /strip }}