{{ *

@file 相关案例
@author wangyujie

* }}

{{ strip }}

<div class="success">
    <!--a name="success"></a-->

    {{ function getSuccessItem item=null }}

    <div class="success-item">

        <div class="form-trigger" data-success='{{ json_encode($item, 77) }}'>
            <div class="action">
                <i class="icon edit">编辑</i>
                <i class="icon remove">删除</i>
            </div>

            <div>
                <span class="date">
                    {{ $item.year }} 年 {{ $item.month }} 月
                </span>

                <span class="title">
                    {{ $item.title }}
                </span>

                {{ if isset($item.verify_status) && $item.verify_status == 2 }}
                    <div class="message message-error">
                        <i class="icon icon-info-circle"></i>
                        该相关案例设置有问题哦，快修改一下吧！
                    </div>
                {{ /if }}

                <p class="content">
                    {{ $item.content|nl2br }}
                </p>
            </div>
        </div>

        {{ include file="./successForm.html" }}

    </div>

    {{ /function }}





    {{ function getSuccessShowcase list=null }}

    <div class="has-data">
        <div class="info-header form-trigger">
            <i class="icon icon-star-o"></i>
            <h3>相关案例</h3>
            <div class="edit">
                <i class="icon icon-plus"></i>
                添加
            </div>
        </div>

        {{ include file="./successForm.html" }}

        <div class="info-body">

            {{ foreach $list as $item }}

            {{ getSuccessItem item=$item }}

            {{ /foreach }}

        </div>
    </div>

    {{ /function }}



    <script class="tpl-showcase" type="text/plain">
        {{ getSuccessShowcase }}
    </script>

    <script class="tpl-item" type="text/plain">
        {{ getSuccessItem }}
    </script>

    {{ if isset($tpl_data.success_list) && count($tpl_data.success_list) > 0 }}

        {{ getSuccessShowcase list=$tpl_data.success_list }}

    {{ else }}

        <div class="no-data">
            <div class="noinfo form-trigger edit">

                <span class="desc">详尽的案例能更好展现你的教学理念和水平</span>

                <i class="icon icon-round-edit"></i>
                <h3>
                    相关案例
                </h3>

            </div>

            {{ include file="./successForm.html" }}
        </div>

    {{ /if }}

</div>
{{ /strip }}