{{ *

@file 老师个人中心 - 主页装修
@author wangyujie

* }}

{{ extends file="../common/base.html" }}

{{ block name="title" }}主页装修 － 跟谁学{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/userCenter/teacherCenter/indexDecorate/indexDecorate_b31d85038b.css" />
{{ /block }}

{{ block name="script" }}
<script>
require(
    [
        'userCenter/teacherCenter/common/layout_fca6630c9a',
        'userCenter/teacherCenter/indexDecorate/indexDecorate_275c6161ed'
    ],
    function (layout, index) {
        {{ $php_data = $tpl_data }}

        {{ if isset($tpl_data.is_huike_teacher) }}
            {{ $is_huike_teacher = $tpl_data.is_huike_teacher }}
        {{ else }}
            {{ $is_huike_teacher = 0 }}
        {{ /if }}

        layout.init({
            topMenu: 'userCenter',
            sideMenu: 'indexDecorate',
            isHuikeTeacher: {{ $is_huike_teacher }}
        });

        index.init(
            {{ json_encode($php_data, 77) }}
        );
    }
);
</script>
{{ /block }}