{{ *

@file 老师个人中心 - 管理总览
@author wangyujie

* }}

{{ extends file="../common/base.html" }}

{{ block name="title" }}个人中心 － 跟谁学{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/userCenter/teacherCenter/index/index_8a851daf2f.css" />
{{ /block }}

{{ block name="script" }}
<script>
require(
    [
        'userCenter/teacherCenter/common/layout_fca6630c9a',
        'userCenter/teacherCenter/index/index_f4ba95f1f5'
    ],
    function (layout, index) {

        {{ $php_data = $tpl_data }}

        {{ if isset($tpl_data.is_huike_teacher) }}
            {{ $is_huike_teacher = $tpl_data.is_huike_teacher }}
        {{ else }}
            {{ $is_huike_teacher = 0 }}
        {{ /if }}

        layout.init({
            topMenu: 'userCenter',
            sideMenu: 'manageOverview',
            isHuikeTeacher: {{ $is_huike_teacher }}
        });

        index.init(
            {{ json_encode($php_data, 77) }}
        );
    }
);
</script>
{{ /block }}