{{ *

@file 老师个人中心 - 直播课列表
@author niejianhui

* }}

{{ extends file="../common/base.html" }}

{{ block name="title" }}课程设置 － 直播课设置 － 跟谁学{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/userCenter/teacherCenter/liveCourseList/liveCourseList_6bd059bda5.css" />
{{ /block }}

{{ block name="script" }}
<script>
require(
    [
        'userCenter/teacherCenter/common/layout_fca6630c9a',
        'userCenter/teacherCenter/liveCourseList/liveCourseList_c451a4046f'
    ],
    function (layout, liveCourseList) {

        {{ $php_data = $tpl_data }}

        {{ if isset($tpl_data.is_huike_teacher) }}
            {{ $is_huike_teacher = $tpl_data.is_huike_teacher }}
        {{ else }}
            {{ $is_huike_teacher = 0 }}
        {{ /if }}

        layout.init({
            topMenu: 'userCenter',
            sideMenu: 'courseSettings',
            isHuikeTeacher: {{ $is_huike_teacher }}
        });

        liveCourseList.init(
            {{ json_encode($php_data, 77) }}
        );
    }
);
</script>
{{ /block }}