{{ *

@file 资料设置项目变量
@author wangyujie

* }}
{{ strip }}

{{ $baseinfoMap = [] }}

{{ $baseinfoMap['realname'] = '真实姓名' }}
{{ $baseinfoMap['nickname'] = '昵称' }}
{{ $baseinfoMap['short_introduce'] = '一句话简介' }}
{{ $baseinfoMap['graduation_major'] = '专业' }}
{{ $baseinfoMap['graduation_school'] = '毕业学校' }}
{{ $baseinfoMap['avatar'] = '头像' }}
{{ $baseinfoMap['institution'] = '单位/机构/学校' }}
{{ $baseinfoMap['skills'] = '个人标签' }}
{{ $baseinfoMap['other_info'] = '其它信息' }}
{{ $baseinfoMap['private_domain'] = '个性域名' }}
{{ $baseinfoMap['bio'] = '过往经历' }}
{{ $baseinfoMap['sex'] = '性别' }}
{{ $baseinfoMap['edu_back'] = '学历' }}
{{ $baseinfoMap['school_age'] = '教龄' }}
{{ $baseinfoMap['regions'] = '可上门授课范围' }}

{{ /strip }}