{{ *

@file 星座变量
@author wngyujie

* }}
{{ strip }}

{{ $constellationMap = [] }}

{{ $constellationMap[0] = '水瓶座' }}
{{ $constellationMap[1] = '双鱼座' }}
{{ $constellationMap[2] = '白羊座' }}
{{ $constellationMap[3] = '金牛座' }}
{{ $constellationMap[4] = '双子座' }}
{{ $constellationMap[5] = '巨蟹座' }}
{{ $constellationMap[6] = '狮子座' }}
{{ $constellationMap[7] = '处女座' }}
{{ $constellationMap[8] = '天秤座' }}
{{ $constellationMap[9] = '天蝎座' }}
{{ $constellationMap[10] = '射手座' }}
{{ $constellationMap[11] = '摩羯座' }}

{{ /strip }}