{{ *

@file 签到表情变量
@author wangyujie

* }}
{{ strip }}

{{ $expressionMap = [] }}

{{ $expressionMap[11] = '微笑' }}
{{ $expressionMap[12] = '好困' }}
{{ $expressionMap[13] = '得意' }}
{{ $expressionMap[14] = '撇嘴' }}

{{ $expressionMap[21] = '憨笑' }}
{{ $expressionMap[22] = '大哭' }}
{{ $expressionMap[23] = '调皮' }}
{{ $expressionMap[24] = '疑问' }}

{{ $expressionMap[31] = '惊讶' }}
{{ $expressionMap[32] = '厉害' }}
{{ $expressionMap[33] = '崇拜' }}
{{ $expressionMap[34] = '奋战' }}

{{ $expressionMap[41] = '晕' }}
{{ $expressionMap[42] = '色' }}
{{ $expressionMap[43] = '无语' }}
{{ $expressionMap[44] = '衰' }}

{{ /strip }}