{{ strip }}

<div class="recommend-org">

    <div class="recommend-org-header">
        <h3>推荐机构</h3>
        <span class="hint">能上榜的都是良心机构...</span>
    </div>

    <div class="recommend-org-content">

        <div class="recommend-org-tab">
            <b class="tab-nav active" data-cat="middle">
                初中/中考
            </b>
            <b class="tab-nav" data-cat="high">
                高中/高考
            </b>
        </div>

        <div class="recommend-org-box middle">

            {{ $options = $org.middle.options }}
            {{ include file="sem/component/searchBox.html" subject=$options.course_2 areas=$options.area }}

            <div class="org-list">
                {{ include file="sem/k12/orgList.html" orgs=$org.middle.data }}
            </div>

            <div class="more">
                <a href="" target="_blank" class="btn-default">
                    更多机构&nbsp;&gt;
                </a>
            </div>

        </div>

        <div class="recommend-org-box high">

            {{ $options = $org.high.options }}
            {{ include file="sem/component/searchBox.html" subject=$options.course_2 areas=$options.area }}

            <div class="org-list">
                {{ include file="sem/k12/orgList.html" orgs=$org.high.data }}
            </div>

            <div class="more">
                <a href="" target="_blank" class="btn-default">
                    更多机构&nbsp;&gt;
                </a>
            </div>

        </div>
    </div>

</div>
{{ /strip }}