{{ *

@file 资讯模块--顶部导航
@author tangrongyan
* }}

{{ strip }}
<div id="new-nav">
    <ul class="wrapper">
        <li>
            <a href="">咨询首页</a>
        </li>
        <li class="active">
            <a href="">幼生小</a>
        </li>
        <li>
            <a href="">小升初</a>
        </li>
        <li>
            <a href="">中考</a>
        </li>
        <li>
            <a href="">高考</a>
        </li>
        <li>
            <a href="">艺术</a>
        </li>
        <li>
            <a href="">留学</a>
        </li>
        <li class="contribute">
            <i class="icon icon-deliver"></i>
            <a href="">投稿</a>
        </li>

    </ul>

</div>
{{ strip }}