@import "../../../resource/css/default.styl";

.intro-upload {
    margin-right: 10px;
    .ant-upload {
        margin: 0;
        border: none;
        width: 108px;
        height 32px;
        &-select {
            .ant-upload {
                padding: 0;
            }
        }
    }
    &-btn {
        color: $grey_400;
        border: 1px solid $grey_100;
        border-radius: 2px;
        > span {
            display: inline-block;
            padding-right: 8px;
        }
        &:hover, &:focus {
            color: $pink;
            border-color: $pink;
            span {
                &:before {
                    color: $pink;
                }
            }
        }   
    }
}