{{ *

@file 班课基本信息
@author liucong, tangrongyan

* }}

{{ strip }}

<div id="course-profile">


{{ if $course_type == 4 }}
    {{ $sku_type="3810" }}
{{ else }}
    {{ $sku_type="class" }}
{{ /if }}
<div>
    <div class="course-number">
        班课编号：{{ $tpl_data.number }}
    </div>

    <h1>{{ $tpl_data.name }}</h1>
</div>

<div class="content">
{{ if isset($tpl_data.cover.url) || count($tpl_data.photos) > 0 }}
<div class="imgshow">
{{ $cover = '' }}
{{ $raw_width = '390' }}
{{ $raw_height = '219' }}
{{ $title = '' }}
{{ $cover_id = '' }}

{{ if isset($tpl_data.cover.url) }}
    {{ $cover = $tpl_data.cover.url }}
    {{ $raw_width = $tpl_data.cover.width }}
    {{ $raw_height = $tpl_data.cover.height }}
    {{ $title = $tpl_data.cover.title }}
    {{ $cover_id = $tpl_data.cover.id }}
{{ else }}
    {{ $cover = $tpl_data.photos[0].url }}
    {{ $raw_width = $tpl_data.photos[0].width }}
    {{ $raw_height = $tpl_data.photos[0].height }}
    {{ $title = $tpl_data.photos[0].title }}
    {{ if isset($tpl_data.photos[0].id) }}
        {{ $cover_id = $tpl_data.photos[0].id }}
    {{ else }}
        {{ $cover_id = '' }}
    {{ /if }}
{{ /if }}

<div class="image" data-image="{{ $cover }}">
    {{ include file="common/variable/zoomPhoto.html" url=$cover raw_width=$raw_width raw_height=$raw_height width=390 height=219 }}
    <div class="floater" style="margin-bottom:-{{ $fit_height/2 }}px;"></div>
    <img src="{{ $photo }}" alt="{{ $title }}">
</div>
{{ if count($tpl_data.photos) > 4 }}
    <div class="bar-box">
        <div class="bar leftbar">
            <i class="icon icon-chevron-left"></i>
        </div>
        <div class="bar rightbar">
            <i class="icon icon-chevron-right"></i>
        </div>
    </div>
    <div class="box">
{{ else }}
    <div class="box less-image">
{{ /if }}
        <ul>
            {{ foreach $tpl_data.photos as $val }}
            {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.width raw_height=$val.height width=390 height=219 }}

            {{ if $cover_id != '' }}
            <li class="{{ if $val.id == $cover_id }}active{{ /if }}" data-image="{{ $photo }}" data-height="{{ $fit_height }}">
                {{ else }}
            <li class="{{ if $val@index == 0 }}active{{ /if }}" data-image="{{ $photo }}" data-height="{{ $fit_height }}">
                {{ /if }}

                {{ include file="common/variable/zoomPhoto.html" url=$val.url raw_width=$val.width raw_height=$val.height width=66 height=37 }}
                <div class="floater" style="margin-bottom:-{{ $fit_height/2 }}px;"></div>
                <img src="{{ $photo }}" atl="{{ $val.title }}">
            </li>
            {{ /foreach }}
        </ul>
    </div>
</div>
{{ /if }}

<div class="baseinfo">

<ul class="action">
    <li id="favor" data-coursenum="{{ $tpl_data.number }}" {{ if $course_type == 4 }}style="display:none;"{{ /if }}>
    <i class="icon icon-favor"></i>
    <span>收藏</span>
    </li>
    <li class="popularity" {{ if $course_type == 4 }}style="display:none;"{{ /if }}>
    （<span>0</span>人气）
    </li>
    <li data-click="share" data-sku="{{ $sku_type }}|{{ $tpl_data.number }}"  class="social-share">
        <i class="icon icon-share"></i>
        分享
        {{ if $course_type == 4 }}
        {{ include file="common/component/baiduShare.html" style="right:3px;" }}
        {{ else }}
        {{ include file="common/component/baiduShare.html" }}
        {{ /if }}
    </li>
    <li class="correct" {{ if $course_type == 4 }}style="display:none;"{{ /if }}>
    <i class="icon icon-warning"></i>
    纠错
    </li>
</ul>

<ul class="info">
    <li class="price">
        {{ if empty($tpl_data.limit_discount) }}
            {{ ** 非限时折扣执行原来逻辑 ** }}
            课程价格：<span class="show">￥ <strong>{{ $tpl_data.price }}</strong></span>
            {{ if isset($tpl_data.original_price) && $tpl_data.original_price|number_format }}
                <span class="original-price">
                    ￥{{ $tpl_data.original_price }}
                </span>
            {{ /if }}
        {{ else }}
            {{ ** 限时折扣的逻辑 ** }}
            {{ $show_zhekou_tip = false }}
            {{ **获取当前时间** }}
            {{ $cur_time = $smarty.now }}
            {{ $start_time = strtotime($tpl_data.limit_discount[0].start_time) }}
            {{ $end_time = strtotime($tpl_data.limit_discount[0].end_time) }}

            {{ ** 距离活动开始一天内 ** }}
            {{ if ($start_time - $cur_time) < (24*60*60) && ($start_time - $cur_time > 0) }}
                {{ $show_zhekou_tip = true }}
                课程价格：
                <span class="show">
                    ￥ <strong>{{ $tpl_data.price }}</strong>
                </span>
                {{ if !empty($tpl_data.original_price) && $tpl_data.original_price > 0 && $tpl_data.original_price != '0.00' }}
                    <span class="original-price">￥{{ $tpl_data.original_price }}</span>
                {{ /if }}
                <br/>
                <span class="rob-price">
                    抢购价：￥{{ $tpl_data.limit_discount[0].price }}
                </span>

                <div class="price-tip price-tip-begin" data-cur="{{ $cur_time }}" data-start="{{ $start_time }}">
                    <span class="name">
                        {{ $tpl_data.limit_discount[0].tag_name }}
                    </span>
                    距抢购开始
                    <span class="time">
                        {{ include file='common/component/countDown.html' time=($start_time - $cur_time) }}
                    </span>
                </div>

            {{ ** 距离活动结束时间内 ** }}
            {{ else if ($start_time < $cur_time) && ($cur_time < $end_time) }}
                {{ $show_zhekou_tip = true }}
                课程价格：
                <span class="show">
                    ￥ <strong>{{ $tpl_data.limit_discount[0].price }}</strong>
                </span>
                <span class="original-price">
                    ￥{{ $tpl_data.limit_discount[0].pre_price }}
                </span>

                <div class="price-tip price-tip-end" data-cur="{{ $cur_time }}" data-end="{{ $end_time }}">
                    <span class="name">{{ $tpl_data.limit_discount[0].tag_name }}</span>
                    距抢购结束
                    <span class="time">
                        {{ include file='common/component/countDown.html' time=($end_time - $cur_time) }}
                    </span>
                </div>
            {{ else }}
                课程价格：
                <span class="show">￥ <strong>{{ $tpl_data.price }}</strong></span>
                {{ if isset($tpl_data.original_price) && $tpl_data.original_price|number_format }}
                    <span class="original-price">￥{{ $tpl_data.original_price }}</span>
                {{ /if }}
            {{ /if }}
        {{ /if }}

        {{ if isset($coupons) && count($coupons) > 0 }}
        <div class="get-coupon text-primary">
            <i class="icon icon-coupons"></i>
            领取优惠券
            <div class="coupon">
                <span class="small-arrow"></span>
                <span class="big-arrow"></span>
                <ul class="coupon-list">
                    {{ foreach $coupons as $item }}
                    <li class="coupon-color" data-num="{{ $item.serial_num }}">
                        <div class="coupon-info">
                            <div class="balance">
                                ￥<em>{{ $item.balance }}</em>
                            </div>
                            <div class="threshold">
                                {{ if $item.cond_course_type != 0 }}
                                指定课程可用
                                {{ else if $item.cond_threshold == 0 }}
                                不限
                                {{ else }}
                                满{{ $item.cond_threshold }}使用
                                {{ /if }}
                            </div>
                        </div>
                        <div class="status">
                            {{ include file="common/variable/couponStatus.html" scope=parent }}
                            {{ $couponStatusMap[1] }}
                        </div>

                    </li>
                    {{ /foreach }}
                </ul>
            </div>
        </div>
        {{ /if }}
    </li>

    <li>
        班级人数：
        <span>{{ $tpl_data.max_student }}人</span>
        <span>（已报<span class="show">{{ $tpl_data.max_student - $tpl_data.can_pay }}</span>人）</span>
    </li>
    {{ if !empty($tpl_data.course_len) || $course_type == 4 }}
        <li class="length">
            {{ if $course_type == 4 }}
                课程次数：<span>{{ $tpl_data.freq }}次课</span>
            {{ else }}
                课程长度：
                <span>
                    {{ $course_length = $tpl_data.course_len/3600 }}
                    {{ if $course_length == abs(floor($course_length)) }}
                        {{ $course_length }}小时
                    {{ else }}
                        {{ abs(($tpl_data.course_len/3600))|number_format: 1 }}小时
                    {{ /if }}
                </span>
            {{ /if }}
        </li>
    {{ /if }}

    {{ if !empty($tpl_data.arrangement) }}
        <li class="time">
            课程安排：
            <span data-title="{{ $tpl_data.arrangement }}" data-width="300">{{ $tpl_data.arrangement|cn_truncate:20 }}</span>
            {{ if $course_type != 4 }}<a id="detail-time" class="detail">查看详细时间</a>{{ /if }}
        </li>
    {{ else if $course_type == 4 }}
        <li class="time">
            课程安排：
            {{ if !empty($tpl_data.lesson_summary) }}
            <span data-title="{{ $tpl_data.lesson_summary }}" data-width="300">{{ $tpl_data.lesson_summary|cn_truncate:20 }}</span>
            {{ else }}
            <span>待定</span>
            {{ /if }}
        </li>
    {{ /if }}

    <li class="address">
        {{ if $tpl_data.lesson_way == 4 }}
            上课地点：
            <span data-title="{{ $tpl_data.location|escape }}">
                {{ $tpl_data.location|escape|cn_truncate:30 }}
            </span>

            {{ if isset($tpl_data.offline_poi) && $tpl_data.offline_poi.lng }}
                <a class="detail map" data-offline='{{ json_encode($tpl_data.offline_poi, 77) }}' data-map="">查看具体位置</a>
            {{ /if }}

        {{ else if $tpl_data.lesson_way == 2 }}
            上课方式：<span>在线授课</span>

            {{ if $tpl_data.class_type == 1 }}
                <span>（支持手机观看）</span>
            {{ else }}
                <span>（支持手机APP观看）</span>
            {{ /if }}
        {{ /if }}
    </li>

{{ $display_status = $tpl_data.display_status }}
{{ **如果审核未通过则状态置为暂停招生** }}
{{ if $tpl_data.verify_status == 2 }}
{{ $display_status = 3 }}
{{ /if }}

<li class="enroll">
    {{ $schedule_list = [] }}
    {{ if $display_status == 15 || $display_status == 16 }}

    {{ $cur_time = $smarty.now }}
    {{ foreach $tpl_data.schedule as $val }}
    {{ $schedule_list[$val@index]['begin_time'] = $val.begin_time }}
    {{ $schedule_list[$val@index]['end_time'] = $val.end_time }}
    {{ $schedule_list[$val@index]['left_time'] = $val.begin_time - $cur_time }}
    {{ /foreach }}

    {{ *是否在进行中* }}
    {{ $ing_flag = false }}
    {{ foreach $schedule_list as $val }}
    {{ if $cur_time >= $val['begin_time'] && $cur_time <= $val['end_time'] }}
    {{ $ing_flag = true }}
    {{ /if }}
    {{ /foreach }}

    {{ if $ing_flag }}
    <span class="time-status">课程正在上课中，马上进入教室吧</span>
    {{ else }}
    {{ $left_time = 99999999999 }}
    {{ foreach $schedule_list as $val }}
    {{ if $val['left_time'] > 0 && $val['left_time'] < $left_time }}
    {{ $left_time = $val['left_time'] }}
    {{ /if }}
    {{ /foreach }}
    {{ if $left_time < 99999999999 && $left_time > 0 }}
    <span class="time-status">距离开课还有{{ include file='common/component/countDown.html' time=$left_time hidesecond=true }}</span>
    {{ /if }}
    {{ /if }}
    {{ /if }}
    <div class="enroll-action
                        {{ if $display_status == 2
                        || ($display_status == 5 && $tpl_data.can_chaban && !$tpl_data.is_full) }} enrolling{{ /if }}
                    ">
        {{ if $display_status == 2 }}
            {{ if $tpl_data.max_student <= $tpl_data.total_pay && $course_type != 4  }}
                <div class="default">
                    还有机会，<i>{{ $tpl_data.total_pay-$tpl_data.succ_pay }}</i>人待付款
                </div>
            {{ else }}
                <div data-click="order_1" data-sku="{{ $sku_type }}|{{ $tpl_data.number }}" class="primary{{ if $tpl_data.total_pay <= 0 }}-small{{ /if }} reserve-course">
                    {{ if $tpl_data.total_pay == 0 }}
                        立即报名
                    {{ else }}
                        已报{{ $tpl_data.total_pay }}人&nbsp;&nbsp;|&nbsp;&nbsp;立即报名
                    {{ /if }}
                </div>
            {{ /if }}
        {{ else if $display_status == 3 || ( $display_status == 5 && $tpl_data.status == 3) }}
            <div class="default">本班课已停招</div>
        {{ else if $display_status == 4 }}
            <div class="default">本班课已报满</div>
        {{ else if $display_status == 5 }}
            {{ **加入插班判断** }}
            {{ if $tpl_data.can_chaban }}
                {{ if $tpl_data.is_full }}
                    <div class="default small">本班课进行中</div>
                {{ else if $show_zhekou_tip }}
                    <div data-click="order_1" data-sku="{{ $sku_type }}|{{ $tpl_data.number }}" class="primary{{ if $tpl_data.total_pay <= 0 }}-small{{ /if }} reserve-course">
                        {{ if $tpl_data.total_pay == 0 }}
                            立即报名
                        {{ else }}
                            已报{{ $tpl_data.total_pay }}人&nbsp;&nbsp;|&nbsp;&nbsp;立即报名
                        {{ /if }}
                    </div>
                {{ else }}
                    <div data-click="order_1" data-sku="{{ $sku_type }}|{{ $tpl_data.number }}"  class="primary reserve-course">
                        插班价￥{{ $tpl_data.realtime_price }}&nbsp;&nbsp;|&nbsp;&nbsp;立即报名
                    </div>
                {{ /if }}
            {{ else }}
                <div class="default">进行中</div>
            {{ /if }}
        {{ else if $display_status == 6 }}
        <div class="default">本班课已完成</div>
        {{ else if $display_status == 8 }}
        <div class="default">本班课审核中</div>
        {{ else if $display_status == 12 }}
        <div class="default">本班课已失效</div>
        {{ else if $display_status == 13 }}
        <div class="default">本班课已完成</div>
        {{ else if $display_status == 15 }}
        <div data-click="order_1" data-sku="{{ $sku_type }}|{{ $tpl_data.number }}"  class="primary-enter-room">进入教室</div>
        {{ else if $display_status == 16 }}
        <div class="default">即将开课</div>
        {{ else if $display_status == 17 }}
        <div class="default">本班课进行中</div>
        {{ /if }}

        {{ if $advisory }}
            {{ if $tpl_data.lesson_way == 2 || $tpl_data.price == 0 }}
                <!--在线课或0元线下课-->
                {{ $dialog_name = '预约咨询' }}
            {{ else }}
                {{ $dialog_name = '预约试听' }}
            {{ /if }}
            <div data-click="advisory" data-sku="{{ $sku_type }}|{{ $tpl_data.number }}" class="info btn-trial" data-dialog="{{ $dialog_name }}">
                {{ $dialog_name }}
            </div>
        {{ /if }}
    </div>

    {{ if !$advisory }}
        {{ **3810的咨询** }}
        {{ if $course_type == 4 }}
            {{ include file="common/component/chatToTeacherLabel.html" number=$org.number text="在线咨询" type="institution" }}
        {{ else }}
            {{ if !empty($teacher_profiles) }}
                {{ $first_teacher = reset($teacher_profiles) }}
                {{ include file="common/component/chatToTeacherLabel.html" number=$first_teacher.number text="在线咨询" }}
            {{ /if }}
        {{ /if }}
    {{ /if }}

    {{ if isset($org.city_filter) && $org.city_filter && isset($org.extension) && $org.extension }}
        <div class="four-hundred">
            <i class="icon icon-big-phone-o"></i>
            <span>{{ $org.extension }}</span>
        </div>
    {{ /if }}

</li>
<li class="promise">
    <span class="label">服务承诺：</span>
    {{ **3810去掉限时退班和师资认证** }}
    {{ if $course_type == 4 }}
    {{ include file="common/component/classCourseIcon.html" show_safe=true }}
    {{ else }}
    {{ include file="common/component/classCourseIcon.html" retire_flag=$tpl_data.retire_flag chaban_flag=$tpl_data.chaban_flag show_certi=true show_safe=true }}
    {{ /if }}
</li>
</ul>

<div class="stamp">
    <div class="course-state">
        {{ if $tpl_data.display_status == 5 }}
        <img src="{{ $static_origin }}/asset/img/course/open_81ad85998c.png">
        {{ /if }}
        {{ if $tpl_data.display_status == 4 }}
        <img src="{{ $static_origin }}/asset/img/course/full_a2cc0efcaf.png">
        {{ /if }}
    </div>
    <div class="has-paid">
        <img src="{{ $static_origin }}/asset/img/course/has_paid_bd523ba651.png" alt="">
    </div>
</div>

</div>

</div>
</div>

{{ if isset($user_data) && isset($user_data.mobile) }}
    {{ $mobile = $user_data.mobile }}
{{ else }}
    {{ $mobile = '' }}
{{ /if }}

{{ include file="common/component/advisoryDialog.html" object_name=$tpl_data.name dialog_name=$dialog_name mobile=$mobile }}


{{ /strip }}