{{ *
@file 班课详情 - 课程简介
@author liucong
* }}

{{ strip }}
<div id="course-summary">
    <h3><span>课程简介</span></h3>
    <table class="content table">
        <col width="20%">
        <col width="80%">
        <thead>

        </thead>
        <tbody>
            <!-- {{ if !empty($tpl_data.student_desc) }}
            <tr>
                <td>适学人群</td>
                <td>{{ $tpl_data.student_desc }}</td>
            </tr>
            {{ /if }}
            {{ if !empty($tpl_data.target) }}
            <tr>
                <td>教学目标</td>
                <td>{{ $tpl_data.target }}</td>
            </tr>
            {{ /if }} -->
            {{ if !empty($tpl_data.information) || !empty($tpl_data.target) || !empty($tpl_data.student_desc) }}
            <tr>
                <td>课程信息</td>
                <td>
                    {{ if !empty($tpl_data.information) }}
                        {{ $tpl_data.information }}
                    {{ else if !empty($tpl_data.student_desc) && !empty($tpl_data.target) }}
                        {{ $tpl_data.student_desc }} <br />
                        {{ $tpl_data.target }}
                    {{ /if }}
                </td>
            </tr>
            {{ /if }}

            {{ if isset($tpl_data.retire_flag) }}
            <tr>
                <td>退班规则</td>
                <td>
                    {{ if $tpl_data.retire_flag == 0 }}
                    <span>随时可退</span>
                    {{ else if $tpl_data.retire_flag == 1 }}
                    <span>开班前1小时不可退</span>
                    {{ else if $tpl_data.retire_flag == 2 }}
                    <span>开班{{ $tpl_data.retire_length|escape }}节课后不可退</span>
                    {{ /if }}
                </td>
            </tr>
            {{ /if }}
            <tr>
                <td>能否插班</td>
                <td>
                     {{ if isset($tpl_data.chaban_flag) }}
                         {{ if $tpl_data.chaban_flag == 1 }}
                             <span>不可插班</span>
                         {{ else if $tpl_data.chaban_flag == 2 }}
                             <span>第 {{ $tpl_data.chaban_quota }} 节课前可插班</span>
                         {{ else if $tpl_data.chaban_flag == 3 }}
                             <span>随时可插班</span>
                         {{ /if }}
                    {{ else }}
                    <span>不可插班</span>
                    {{ /if }}
                </td>
            </tr>
        </tbody>

    </table>
</div>
{{ /strip }}