{{ extends file="./base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "activity/ukAdmin/member" }}

    {{ $menu = 'member' }}

{{ /block }}

{{ block name="content" }}

<div class="member-search">
    <form id="search-form" method="get" action="/uk/cms_player">
        <input id="search-input" name="query" type="text" placeholder="请输入选手姓名或编号"/>
        <i class="icon icon-search" onclick="$('#search-form').submit()"></i>
    </form>
</div>
 {{ if $tpl_data.user_infos == null }}
     <div class="no-result">无搜索结果</div>
{{ else }}
<table class="main-grid">
    <thead>
        <tr>
            <td>选手编号</td>
            <td>姓名</td>
            <td>当前票数</td>
            <td>举报记录</td>
            <td style="width: 300px;">操作项</td>
        </tr>
    </thead>

    {{ foreach $tpl_data.user_infos as $rec }}
    <tr>
        {{ if $rec.color == 0 }}
        <td>{{ $rec.number }}</td>
        {{ else }}
        <td class = 'color-status'>{{ $rec.number }}</td>
        {{ /if }}

        <td>{{ $rec.name }}</td>
        <td>{{ $rec.vote_count }}</td>
        <td>{{ $rec.report_count }}</td>
        <td>
            <a class="action-report"  number="{{ $rec.number }}">查看举报内容</a>
            <a href="/uk/detail/{{ $rec.number }}" target="_blank" class="action">查看资料</a>
            {{ if $rec.frozen == 0 }}
            <a class="action-frozen" number="{{ $rec.number }}">冻结选手</a>
            {{ else }}
            <a class="action-frozen" number="{{ $rec.number }}">恢复权限</a>
            {{ /if }}
        </td>
    </tr>
    {{ /foreach }}
</table>

{{ include file="common/component/pager.html" page=$tpl_data.page_info.now_page page_size=$tpl_data.page_info.page_size count=$tpl_data.page_info.pages_number }}

{{ /if }}


{{ /block }}