/**
 * @file 工作情况
 * @author zhujialu
 */
@import '../../common/component/tagInput.less';

.form-work {

    background-color: #fff;
    padding: 0;
    padding-top: 2 * @gap-horizontal-medium;
    font-size: 12px;
    input {
        height: 23px;
        padding: 2px @gap-horizontal-small;
        vertical-align: top;
    }
    textarea {
        padding: 2px @gap-horizontal-small;
        vertical-align: top;
    }
    .form-static,
    .form-radio,
    .form-label {
        padding: 2px !important;
    }
    .dropdown {
        .btn-default {
            height: 23px;
            padding: 1px @gap-horizontal-tiny;
            span {
                margin-right: @gap-horizontal-tiny;
            }
        }
        li {
            padding: 2px @gap-horizontal-tiny;
        }
        .caret {
            margin-top: 7px;
        }
    }

    .form-label {
        width: 65px;
    }

    .company-card {
        margin-top: @gap-horizontal-medium;
    }

    input[name="company"] {
        width: 400px;
    }

    .start-date,
    .end-date {
        display: inline-block;
        .form-group {
            margin-left: 0;
            margin-right: @gap-horizontal-medium;
            padding-top: 0;
        }
        .btn-default {
            width: 80px;
        }
        .date {
            display: none;
        }
    }

    .end-date {
        margin-left: 2 * @gap-horizontal-medium;
    }

    .industry-select,
    .job-select {
        .btn-default {
            width: 195px;
        }
        .date {
            display: none;
        }
    }

    .action {
        color: @brand-info;
        cursor: pointer;
        display: inline-block;
        margin-left: 6.5 * @gap-horizontal-medium;
        .icon {
            margin-right: @gap-horizontal-tiny;
        }
        &:hover {
            .icon {
                color: @brand-info;
            }
        }
    }

    .inline {
        margin-left: @gap-horizontal-medium;
    }

    .company-suggestion {
        display: inline-block;
        .suggestion-input {
            position: relative;
            width: 400px;
        }
        .suggestion-list {
            background-color: #fff;
            border: 1px solid #ccc;
            border-top: none;
            display: none;
            width: 400px;
            box-shadow: 1px 1px 3px #ededed;
            z-index: 3;
            overflow-y: auto;
            position: absolute;
            top: 28px;
            li {
                cursor: pointer;
                padding: 1px @gap-horizontal-tiny;
            }
            .active {
                background-color: #efefef;
            }
        }
    }

    .form-action {
        margin-left: 65px;
    }


}

.work{

    font-size: 12px;

    .info {
        ul {
            width: 100%;
            .clearfix();
            border: none;
            padding-top: @gap-horizontal-medium;
            padding-bottom: @gap-horizontal-medium;
        }

        .title {
            color: #999;
            min-width: 75px;
            display: inline-block;
            text-align: right;
        }
        .cont {
            color: #333;
            display: inline-block;
        }

    }

}