.enroll-success-dialog {
    .ant-modal-close-x {
        font-size: 24px;
        color: #CDCDCE;
    }
    .content {
        padding: 26px 44px;
        text-align: center;
        .title {
            font-size: 32px;
            color: #43B244;
            margin-bottom: 37px;
            .icon-success {
                margin-right: 10px;
            }
        }
        .remind-tip {
            font-size: 20px;
            color: #6D6D6E;
            line-height: 30px;
            text-align: left;
        }
        .qrcode-info {
            margin-top: 25px;
            img {
                width: 126px;
                height: 126px;
                margin-right: 26px;
            }
            .qrcode-detail {
                display: inline-block;
                vertical-align: middle;
                .text-primary {
                    font-size: 26px;
                    color: #FF6C00;
                    font-weight: bold;
                }
                .text-muted {
                    font-size: 16px;
                    margin-top: 15px;
                    color: #9D9D9E;
                }
            }
        }
    }
}