.editor-photo {
    height: 220px;
    padding: 20px 0;
    .icon-image2 {
        top: 20px !important;
    }
    .skip-url {
        display: block;
        margin-left: 45px;
        margin-top: 6px;
        font-size: 14px;
        input {
            outline: none;
            width: 400px;
            height: 32px;
            line-height: 32px;
            padding-left: 14px;
            font-size: 13px;
        }
    }
}