@import "../common.styl";

.banner-link {
    .img {
        width: 100%;
        height: rem(180);
    }
}

.how-comment-works {
    padding: rem(15);
    .block-para {
        .flag {
            margin: rem(15) 0;
            width: rem(25);
            height: rem(3);
            background: $color-wenzai;
        }
    }
    .more-secrets {
        margin: rem(35) auto rem(15);
        border: rem(1) solid $color-wenzai;
        border-radius: rem(18);
        width: rem(180);
        height: rem(32);
        line-height: rem(32);
        color: $color-wenzai;
    }
}