.save {
    margin-top: rem(60);
    .warn {
        font-family: PingFang-SC-Regular;
        font-size: rem(14);
        color: #9d9d9e;
        width: 100%;
        text-align: center;
    }
    .save-button {
        background: #37a4f5;
        width: 100%;
        height: rem(48);
        line-height: rem(48);
        text-align: center;
        font-family: PingFangSC-Semibold;
        font-size: rem(17);
        color: #ffffff;
        text-align: center;
        margin-top: rem(10);
    }
}