{{ *

@file 视频课详情页 2017.01.03
@author wangyujie

* }}


{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "video/detail" }}
    {{ $script_data.teacherNum = $tpl_data.teacher[0].number }}
    {{ $script_data.courseNum = $tpl_data.number }}
    {{ $script_data.courseType = $tpl_data.course_type }}
    {{ $script_data.isAccess = $tpl_data.is_access }}
    {{ $script_data.price = $tpl_data.price }}
    {{ $script_data.sign = $tpl_data.sign }}
    {{ $script_data.isVerify = $tpl_data.is_verify }}
    {{ $script_data.isJoin =  $tpl_data.material_info.is_join }}

    {{ $teacherNum = $tpl_data.teacher[0].number }}

    {{ $script_data.verify_status = $tpl_data.verify_status }}

    {{ if $tpl_data.display_status == 6 || $tpl_data.display_status == 13 }}
        {{ $script_data.isOver = true }}
    {{ else }}
        {{ $script_data.isOver = false }}
    {{ /if }}

    {{ **是否登陆** }}
    {{ if !empty($user_data) }}
        {{ $script_data.hasLogin = true }}
    {{ else }}
        {{ $script_data.hasLogin = false }}
    {{ /if }}

{{ /block }}

{{ block name="title" }}
{{ strip }}
{{ if $tpl_data.price == 0 }}【免费】{{ /if }}
{{ $tpl_data.name }}-跟谁学
{{ /strip }}
{{ /block }}


{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/video/detail.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}

{{ include file="./common/crumbs.html" }}

<div id="main">
    {{ include file="./common/courseInfo.html" }}

    <div id="middle">
        <div id="middle-content">
            {{ include file="./common/ad.html" tpl_data=$tpl_data }}

            {{ include file="./common/tabNav.html" }}

            {{ include file="./common/courseIntro.html" }}

            {{ include file="./common/courseCatalog.html" }}

            {{ include file="./common/courseDetail.html" }}

            {{ if $tpl_data.material_info.total_count > 0 }}
                {{ include file="./common/courseMaterial.html" }}
            {{ /if }}

            {{ include file="./common/courseComment.html" }}
        </div>

        <div id="sidebar">
            {{ include file="./common/sidebar.html" }}
        </div>
    </div>

</div>

{{ /strip }}
{{ /block }}




