.container {
    .coupon {
        height: rem(40);
        line-height: rem(40);
        background: #fff;
        box-shadow: rem(0) rem(1) rem(0) rem(0) #ebeced;
        position: relative;
        padding: 0 rem(15);
        .coupon-icon {
            height: rem(20);
            width: rem(20);
            position: absolute;
            padding-left: rem(-10);
            top: rem(10);
        }
        .text {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #3C3D3E;
            letter-spacing: rem(-0.34);
            height: rem(40);
            line-height: rem(40);
            position: relative;
            margin-right: rem(10);
            left: rem(30);
        }
        .coupon-container {
            position: absolute;
            right: rem(30);
            width: rem(200);
            height: rem(40);
            top: rem(-2);
        }
        .coupon-item {
            //display: inline-block;
            float: right;
            position: relative;
            margin-right: rem(10);
            height: rem(40);
            line-height: rem(40);
            img {
                height: rem(26);
                width: rem(60);
            }
            .coupon-box {
                display: inline-block;
                position: absolute;
                top: 0;
                left: rem(6);
                width: rem(60);
                height: rem(40);
                color: #C38C3B;
                .m-icon {
                    font-size: rem(12);
                    padding-left: rem(4);
                    position: relative;
                    height: rem(40);
                    line-height: rem(40);
                    padding-bottom: rem(40);
                    display: inline-block;
                    vertical-align: middle;
                }
                .m-money {
                    font-size: rem(12);
                    margin-left: rem(-4);
                    display: inline-block;
                    position: relative;
                    height: rem(40);
                    line-height: rem(40);
                    padding-bottom: rem(40);
                    vertical-align: middle;
                }
            }
        }
        .next {
            right: rem(10);
        }
    }

    .selected-course-container, .course {
        background: white;
        padding: rem(10) 0 rem(12) 0;
        .title {
            padding-left: rem(17);
        }
        .course-item {
            position: relative;
            padding: rem(20) 0 rem(15) rem(130);
            margin: 0 rem(15);
            border-bottom: 1px solid #ebeced;
            .img-container {
                width: rem(120);
                height: rem(67);
                display: inline-block;
                vertical-align: top;
                position: absolute;
                left: 0;
                .fenqi {
                    position: absolute;
                    background: #37a4f5;
                    border-radius: rem(2);
                    top: rem(3);
                    right: rem(3);
                    color: #fff;
                    font-size: rem(9);
                    line-height: rem(9);
                    padding: rem(4);
                }
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: rem(4);
            }
            .course-item-info {
                display: inline-block;
                margin-left: rem(5);
                .name {
                    word-break: break-all;
                    font-family: PingFang-SC-Regular;
                    font-size: rem(15);
                    color: #3E3E3E;
                    letter-spacing: rem(-0.37);
                    line-height: rem(20);
                }
                .course-type {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #9D9D9E;
                    letter-spacing: rem(-0.32);
                    line-height: rem(24);
                    height: rem(24);
                    .good-one2one-span {
                        //display: inline-block;
                        background: #ff9100;
                        border-radius: rem(1);
                        font-size: rem(12);
                        color: white;
                        padding: 0 rem(2);
                    }
                }
                .price {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(14);
                    color: #FF6C00;
                    letter-spacing: rem(-0.34);
                    line-height: rem(20);
                    height: rem(20);
                    &.good-one2one-price {
                        margin-top: rem(6);
                    }
                }
            }
        }
    }
    .course {
        padding: 0;
    }
    .base-info {
        background: white;
        margin-top: rem(15);
        padding: rem(10) rem(15) rem(10) rem(15);
        .name {
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #9D9D9E;
            letter-spacing: rem(0);
            line-height: rem(44);
            height: rem(44);
            float: left;
        }
        .area {
            position: relative;
            border-bottom: 1px solid #ebeced;
            height: rem(44);
            line-height: rem(44);
            .address {
                display: block;
                font-size: rem(15);
                color: #3d3d3d;
                margin-left: rem(72);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 70%;
                height: rem(44);
                line-height: rem(44);
            }
            .distance {
                display: inline-block;
                position: absolute;
                right: rem(20);
                top: 50%;
                transform: translateY(-50%);
                color: #9d9d9e;
                font-size: rem(13);
            }
        }
        .cert {
            position: relative;
            border-bottom: 1px solid #ebeced;
            height: rem(44);
            line-height: rem(44);
            .cert-container {
                padding-right: rem(10);
                height: rem(30);
                overflow: hidden;
            }
            .name {
                margin-right: rem(10);
            }
            .cert-item {
                //margin-left: rem(5);
                //margin-right: rem(5);
                display: inline-block;
                text-align: center;
                line-height: rem(30);
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #3C3D3E;
                letter-spacing: rem(0);
                img {
                    width: rem(14);
                    height: rem(14);
                    position: relative;
                    left: rem(2);
                    top: rem(-1);
                }
            }
        }
        .skills {
            position: relative;
            height: rem(44);
            line-height: rem(44);
            padding-right: rem(15);
            .name {
                position: relative;
                top: rem(4);
            }
            .skills-container {
                height: rem(44);
                line-height: rem(44);
                overflow: hidden;
                padding-left: rem(10);
                .cert-item {
                    border: 1px solid #DDDDDE;
                    border-radius: rem(1);
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #6D6D6E;
                    letter-spacing: rem(-0.29);
                    display: inline-block;
                    height: rem(28);
                    line-height: rem(28);
                    margin-top: rem(10);
                    padding: 0 rem(6);
                    margin-left: rem(4);
                    margin-right: rem(4);
                }
            }
        }
    }
    .introduce {
        background: white;
        margin-top: rem(15);
        padding: rem(10) rem(15) rem(15) rem(10);
        .introduce-container {
            background: #F7F9FA;
            border: 1px solid #EBECED;
            border-radius: rem(1);
            padding: rem(10);
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #3D3D3E;
            letter-spacing: rem(-0.37);
            line-height: rem(20);
            word-break: break-all;
        }
    }
    .photo {
        background: white;
        margin-top: rem(15);
        padding: rem(10) rem(15) rem(10) rem(15);
        .first-nave {
            margin-bottom: rem(6);
            .title {
                width: rem(40);
                display: inline-block;
            }
            .more-photo {
                width: 80%;
                display: inline-block;
                text-align: right;
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #9D9D9E;
                letter-spacing: rem(-0.34);
                img {
                    width: rem(8);
                    margin-right: rem(-10);
                }
            }
        }
        .photo-container {
            img {
                width: 23%;
            }
        }
    }
    .video {
        background: white;
        margin-top: rem(15);
        padding: rem(10) rem(15) rem(10) rem(15);
        .first-nave {
            margin-bottom: rem(10);
            .title {
                width: rem(40);
                display: inline-block;
            }
            .more-photo {
                width: 80%;
                display: inline-block;
                text-align: right;
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #9D9D9E;
                letter-spacing: rem(-0.34);
                img {
                    width: rem(8);
                    margin-right: rem(-10);
                }
            }
        }
    }
    .case {
        background: white;
        margin-top: rem(15);
        padding: rem(10) rem(15) rem(15) rem(10);
        .case-container {
            background: #F7F9FA;
            border: 1px solid #EBECED;
            border-radius: rem(1);
            padding: rem(10);
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #3D3D3E;
            letter-spacing: rem(-0.37);
            line-height: rem(20);
            word-break: break-all;
            margin: rem(10) 0;
        }
        .short-icon {
            text-align: center;
            height: rem(30);
            line-height: rem(30);
        }
    }
    .past_experiences {
        background: white;
        margin-top: rem(15);
        padding: rem(10) rem(15) rem(15) rem(10);
        .experiences-container {
            .time {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #FF9100;
                letter-spacing: rem(-0.34);
                height: rem(30);
                line-height: rem(30);
            }
            .info {
                background: #FFF9F0;
                border: 1px solid #FFF3E0;
                border-radius: rem(1);
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #3D3D3E;
                letter-spacing: rem(-0.37);
                padding: rem(10);
                line-height: rem(20);
                word-break: break-all;
            }
        }
        .short-icon {
            text-align: center;
            margin-top: rem(10);
            height: rem(30);
            line-height: rem(30);
        }

    }
    .comment {
        background: #fff;
        margin-top: rem(15);
        padding: rem(10) rem(15) rem(15) rem(10);
        .empty-comment {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #9d9d9e;
        }
        .icon {
            color: #ff6c00;
            font-size: rem(16);
        }
        .star-half {
            display: inline-block;
            position: relative;
            line-height: 0;
            .icon-star_half {
                color: #ff6c00;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .score {
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #3C3D3E;
            line-height: rem(14);
        }
        .comment-item {
            border-bottom: 1px solid #ededee;
            padding: rem(10) 0;
            .first-nav {
                position: relative;
                padding: rem(10) rem(10) rem(10) rem(50);
                .avatar {
                    height: rem(34);
                    width: rem(34);
                    position: absolute;
                    left: 0;
                    top: rem(10);
                    border-radius: 50%;
                }
                .name {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #3D3D3E;
                    line-height: rem(20);
                    height: rem(20);
                }
                .time {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #9D9D9E;
                    line-height: rem(20);
                    height: rem(20);
                }
            }
            .info {
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                color: #3C3D3E;
                word-break: break-all;
                line-height: rem(20);
            }
        }
    }
    .other-info {
        background: #fff;
        margin-top: rem(15);
        padding: rem(10) rem(15) rem(15) rem(10);
        .info {
            overflow: auto;
        }
    }
}