@import "page/_base/base.styl";
@import "page/_base/css/interfaces.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "page/newTeacher/header.styl";
@import "page/newTeacher/nav.styl";
@import "page/newTeacher/home.styl";
@import "page/newTeacher/lunbo.styl";
@import "page/bottom/teacherBottom.styl";
@import "page/newTeacher/render/commentNav.styl";
@import "page/newTeacher/render/comment.styl";
@import "page/newTeacher/render/dynamicNav.styl";
@import "page/newTeacher/render/wenda.styl";
@import "page/newTeacher/render/article.styl";
@import "page/newTeacher/render/photo.styl";
@import "page/newTeacher/render/video.styl";
@import "page/newTeacher/render/personal.styl";
@import "page/newTeacher/render/skill.styl";
@import "common/component/coupon/coupon.styl";
@import "common/fixTab/fixTab.styl";
@import "common/appoint/appoint.styl";
@import "common/component/interactLayer/index.styl";
@import "common/ui/Loading/index.styl";
@import "common/staySingle/staySingle.styl";
@import "page/teacherCenter/_part/topBanner.styl";
@import "page/_common/swiper/swiper.styl";

.has-tab {
    width: 36%;
    height: rem(34);
    line-height: rem(34);
    border: 1px solid #ededee;
    text-align: center;
    margin-left: 32%;
    font-family: PingFang-SC-Regular;
    font-size: rem(13);
    color: #6D6D6E;
    border-radius: rem(3);
}

p {
    word-break: break-word;
}

.container {
    .home-tab {
        .title {
            padding-right: rem(2);
            font-family: PingFang-SC-Semibold;
            font-size: rem(15);
            color: #3C3D3E;
            letter-spacing: rem(-0.37);
            line-height: rem(30);
            height: rem(30);
            font-weight: 500;
        }
    }
}


.next {
    position: absolute;
    right: 0;
    top: 0;
    img {
        width: rem(8);
    }
}
.display-none {
    display: none;
}
.try-container {
    display: none;
}
.course-child-tab-container {
    background: white;
    position: relative;
    border-bottom: 1px solid #ebeced;
    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                .item{
                    display: block;
                    margin-right: rem(5);
                    font-family: PingFang-SC-Regular;
                    font-size: rem(15);
                    color: #9D9D9E;
                    line-height: rem(50);
                    height: rem(50);
                    transition: all ease 0.5s;
                    text-align: center;
                    &.on {
                        color:#ff9100;
                    }
                }
            }
        }
    }

    .tag-container {
        border-top: 1px solid #ebeced;
        padding: 0 rem(15) rem(10);
        .tag {
            display: inline-block;
            margin: rem(10) rem(15) 0 0;
            padding: 0 rem(8);
            color: #6d6d6e;
            font-size: rem(11.32);
            background: #f3f3f4;
            border-radius: rem(3);
            line-height: rem(31.2);
            height: rem(29.6);
            &.active {
                background: #FFB74D;
                color: #fff;
            }
        }
    }
}

.empty {
    background: white;
    padding: rem(50) rem(30);
    padding-bottom: rem(80);
    text-align: center;
    font-size: rem(14);
    margin-top: rem(10);
}
.typing-loader {
    width: rem(8);
    height: rem(8);
    animation: typing 1s linear infinite alternate;
    margin: rem(10) auto;
    position: relative;
    left: rem(-12);
}

@keyframes typing {
    0% {
        background-color: rgba(255, 145, 1, 1);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    25% {
        background-color: rgba(255, 145, 1, 0.4);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2);
    }
    75% {
        background-color: rgba(255, 145, 1, 0.4);
        box-shadow: rem(12) rem(0) rem(0) rem(0) rgba(255, 145, 1, 0.2), rem(24) rem(0) rem(0) rem(0) rgba(255, 145, 1, 1);
    }
}

.has-more {
    display: block;
    height: rem(40);
    border: 1px solid #ededed;
    background: #fff;
    padding: rem(6);
    line-height: rem(34);
    .typing-loader {
        display: none;
    }
    &.loading {
        .typing-loader {
            display: block;
        }
    }
    &.hide {
        display: none;
    }
}
.ask-icon {
    position: fixed;
    z-index: 10;
    bottom: rem(150);
    right: 0;
    height: rem(40);
    width: rem(40);
}

//预约试听弹框
.try-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    .mask {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.5;
    }
    .front {
        position: absolute;
        left: 50%;
        top: 50%;
        width: rem(250);
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        background-color: #fff;
        border-radius: rem(3.008);
        text-align: center;
        .cancel {
            font-size: rem(22);
            font-weight: bold;
            position: absolute;
            right: rem(9.008);
            top: rem(9.008);
            color: #9d9d9d;
            z-index: 1;
        }
        > h3 {
            font-size: rem(16);
            line-height: rem(34);
            margin-top: rem(10);
        }
        > p {
            font-size: rem(13);
            line-height: rem(34);
            margin-top: rem(10);
        }
        .btn {
            overflow: hidden;
            clearfix();
            margin-top: rem(10);
            > div {
                width: 50%;
                font-size: rem(13);
                line-height: rem(36);
                border-left: 1px solid #ccc;
                border-top: 1px solid #ccc;
                margin-left: rem(-1);
                float: left;
            }
            .pay {
                > a {
                    color: #ff9100;
                }
            }
        }
    }
}
.teacher-bottom {
    margin-bottom: rem(60);
}