{{ *
@file 课程卡片模板页
@author wangyujie
* }}

{{ if isset($tpl_data.course_number) }}
<div class="hint">
    每个帖子只能添加一个卡片哦
</div>

<div class="course-card" data-coursenum="{{ $tpl_data.course_number }}" data-coursetype="{{ $tpl_data.course_type }}">
    {{ include file="common/variable/courseType.html" scope=parent }}
    <div class="course-type">
        {{ $courseTypeMap[$tpl_data.course_type] }}
    </div>
    {{ include file="common/component/image.html" url=$tpl_data.course_cover width=158 height=112 }}
    <div class="course-info">
        <div class="title">
            {{ $tpl_data.course_name|cn_truncate: 18 }}
        </div>
        <div class="teacher">
            {{ $tpl_data.teacher_nickname|cn_truncate: 20 }}
        </div>

        <div class="address">
            {{ if isset($tpl_data.course_address) }}
                <i class="icon icon-location-o"></i>
                <span data-title="{{ $tpl_data.course_address }}" data-width="20em">
                    {{ $tpl_data.course_address|cn_truncate: 19 }}
                </span>
            {{ /if }}
        </div>

        <div class="other">
            <a class="btn-to-look small" href="{{ $tpl_data.course_url }}" target="_blank">
                去看看
            </a>
            <span class="price">
                {{ if $tpl_data.course_price == 0 }}
                    免费
                {{ else }}
                    <em>¥</em>{{ $tpl_data.course_price }}
                {{ /if }}
            </span>
            {{ if isset($tpl_data.course_time) }}
            <span class="date">
                {{ $tpl_data.course_time }}
            </span>
            {{ /if }}
        </div>

    </div>
</div>

<div class="course-card-action">
    <button class="btn-link del-course-card">
        删除
    </button>
    <button class="btn-link re-course-card">
        重新插入
    </button>
</div>
{{ /if }}
