{{ *

@file 社区-帖子详情页
@author zengcheng

* }}
{{ extends file="social/common/base.html" }}

{{ block name="data" }}

    {{ * 需要im * }}
    {{ $need_im = false }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}
    {{ $nav_config.hidden = 1 }}
    {{ $flotage_config.hidden = true }}

    {{ $script_data.threadId = $tpl_data.thread.thread_id }}
    {{ $script_data.threadContent = $tpl_data.thread.content }}
    {{ $script_data.groupId = $tpl_data.group.group_id }}
    {{ $script_data.threadUserId = $tpl_data.thread.user_id }}
    {{ $script_data.permission = ["is_admin" => $tpl_data.is_admin] }}

    {{ $script_path = "social/detail" }}

{{ /block }}

{{ * SKU统计上报 * }}
{{ block name='sku_id' }}
{{ $sku_id=$tpl_data.thread.thread_id }}
{{ /block }}

{{ block name="title" }}
{{ strip }}{{ $tpl_data.thread.name }}-跟谁学{{ /strip }}
{{ /block }}

{{ block name="keywords" }}
{{ strip }}{{ $tpl_data.thread.name }}{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}跟谁学社区是全国最大的学习论坛，为您提供{{ $tpl_data.thread.name }}学习、交流的平台。在这里大家可以一起交流学习。{{ /strip }}
{{ /block }}

{{ block name = "style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/src/css/social/detail.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}
<div id="main">
    {{ $tpl_data.permission.is_admin= $tpl_data.is_admin }}
    <div class="detail-nav">
        {{ include file="./common/nav.html" data=[['link' => ('/forum/threadBrowse/'|cat:$tpl_data.group.group_id), 'name' => $tpl_data.group.name ], ['link' => '', 'name' => $tpl_data.thread.name ]] }}
    </div>

    <div class="detail-info-wrapper" data-module-path="social/detail/groupInfo" data-group-id="{{ $tpl_data.group.group_id }}">
        {{ include file="./detail/groupInfo.html" group=$tpl_data.group }}
    </div>

    <div class="wrapper">
        <div class="content">
            <div class="content-block post-main">

                <div class="content-label top" {{ if $tpl_data.thread.is_top == '1' }}style="display:block"{{ /if }}>置顶</div>

                <div class="content-label better" {{ if $tpl_data.thread.is_good == '1' }}style="display:block"{{ /if }}>加精</div>

                <div class="post-header-wrapper">
                    <h1 class="post-header">
                        {{ $tpl_data.thread.name|escape:'html' }}
                    </h1>
                    <div class="post-header-actions">
                        <span>
                            {{ $tpl_data.thread.time_tip }}
                        </span>
                        <span class="actions">
                            {{ if $tpl_data.permission.is_admin }}
                            <span class="action delete">删帖</span>
                            {{ /if }}
                            <span class="action set-black">举报</span>
                            {{ if $tpl_data.permission.is_admin }}
                            <span class="action last action-holder">
                                管理<i class="icon icon-caret-down"></i>
                                <div class="action-list-wrapper">
                                    <ul class="action-list">
                                        <li class="set-top" data-status="{{ if $tpl_data.thread.is_top == '0' }}0{{ else }}1{{ /if }}">
                                            {{ if $tpl_data.thread.is_top == '0' }}置顶{{ else }}取消置顶{{ /if }}
                                        </li>
                                        <li class="set-good" data-status="{{ if $tpl_data.thread.is_good == '0' }}0{{ else }}1{{ /if }}">
                                            {{ if $tpl_data.thread.is_good == '0' }}设为精华{{ else }}取消加精{{ /if }}
                                        </li>
                                        {{ if $tpl_data.thread.is_baned == '0' }}
                                        <li class="set-ban">禁言</li>
                                        {{ else }}
                                        <li class="baned">已禁言</li>
                                        {{ /if }}
                                    </ul>
                                </div>
                            </span>
                            {{ /if }}
                        </span>
                    </div>
                </div>

                <div class="post-content-detail">
                    <div class="post-content-holder rich-text"></div>

                    {{ if !empty($tpl_data.thread.photo_list) }}
                    <ul>
                        {{ foreach $tpl_data.thread.photo_list as $item }}
                        <li>
                            <img src="{{ $item.img }}">
                        </li>
                        {{ /foreach }}
                    </ul>
                    {{ /if }}

                    {{ if !empty($tpl_data.thread.course_card) }}

                        {{ include file="common/variable/courseType.html" scope=parent }}

                        {{ foreach $tpl_data.thread.course_card as $course }}
                            <div class="course-card">

                                <div class="course-type">
                                    {{ $courseTypeMap[$course.course_type] }}
                                </div>
                                {{ include file="common/component/image.html" url=$course.course_cover width=158 height=112 }}
                                <div class="course-info">
                                    <div class="title">
                                        {{ $course.course_name|cn_truncate: 18 }}
                                    </div>
                                    <div class="teacher">
                                        {{ $course.teacher_nickname|cn_truncate: 20 }}
                                    </div>

                                    <div class="address">
                                        {{ if isset($course.course_address) }}
                                            <i class="icon icon-location-o"></i>
                                            <span data-title="{{ $course.course_address }}" data-width="20em">
                                                {{ $course.course_address|cn_truncate: 19 }}
                                            </span>
                                        {{ /if }}
                                    </div>

                                    <div class="other">
                                        <a class="btn-to-look small" href="{{ $course.course_url }}" target="_blank">
                                            去看看
                                        </a>
                                        <span class="price">
                                            {{ if $course.course_price == 0 }}
                                                免费
                                            {{ else }}
                                                <em>¥</em>{{ $course.course_price }}
                                            {{ /if }}
                                        </span>
                                        {{ if isset($course.course_time) }}
                                        <span class="date">
                                            {{ $course.course_time }}
                                        </span>
                                        {{ /if }}
                                    </div>

                                </div>
                            </div>
                        {{ /foreach }}
                    {{ /if }}
                </div>

                <div class="post-actions">
                    <button class="btn btn-default up-btn{{ if $tpl_data.login_user.is_zan_thread }} active uped{{ /if }}">
                        <i class="icon icon-thumbs-up"></i>
                        <b class="num">{{ $tpl_data.thread.zans }}</b>
                    </button>
                    <button class="btn btn-default star-btn{{ if $tpl_data.login_user.is_store_thread }} active{{ /if }}"><i class="icon icon-favor"></i>收藏</button>
                </div>

                <div class="fast-reply">
                    {{ $defaultAvatar = $static_origin|cat:'/asset/img/headori.png' }}
                    <div class="user-avatar">
                        {{ if isset($tpl_data.login_user.avatar) }}
                        {{ include file="common/component/image.html" url=$tpl_data.login_user.avatar width=48 height=48 }}
                        {{ else }}
                        <img src="{{ $defaultAvatar }}" width="48px" height="48px">
                        {{ /if }}
                    </div>
                    <div class="comment-apply">
                        <div class="form-hint"></div>
                        <textarea class="fast-comment" name="fastComment" placeholder="说说你的看法"></textarea>
                    </div>
                    <button class="btn btn-primary">快速回复</button>
                </div>

                {{ if !empty($tpl_data.good_list) }}
                <div class="comment-wrapper" data-module-path="social/detail/commentList" data-thread-id="{{ $tpl_data.thread.thread_id }}">
                    <h4 class="comment-label">精彩评论</h4>
                    <div class="comment-list-wrapper">
                        {{ include file="./detail/commentItems.html" permission=$tpl_data.permission data=$tpl_data.good_list noRank=true login_user=$tpl_data.login_user|default:[id => ''] }}
                    </div>
                </div>
                {{ /if }}
            </div>

            <div class="content-block">
                <div class="comment-wrapper all-comments" data-module-path="social/detail/commentList" data-thread-id="{{ $tpl_data.thread.thread_id }}" data-group-id="{{ $tpl_data.group.group_id }}">
                    <h4 class="comment-label">全部评论</h4>
                    <div class="comment-list-wrapper">
                        {{ include file="./detail/commentItems.html" permission=$tpl_data.permission data=$tpl_data.post_list.list login_user=$tpl_data.login_user|default:[id => ''] }}
                        {{ include file="common/component/pager.html" page=$tpl_data.post_list.pager.page-1 page_size=25 count=$tpl_data.post_list.pager.count hide_jump=true }}
                    </div>
                </div>
            </div>

            <div class="content-block" data-module-path="social/detail/commentEditor" data-thread-id={{ $tpl_data.thread.thread_id }}>
                {{ include file="./detail/commentEditor.html" userInfo=$tpl_data.login_user defaultAvatar=$defaultAvatar }}
            </div>
        </div>

        <div class="slider-bar">
            <div class="profile-wrapper">
                {{ include file="./common/profile.html" userInfo=$tpl_data.thread_user loginUser=$tpl_data.login_user }}
            </div>
            <div id="ads">
                {{ foreach [] as $item }}
                    <div class="ad-wrapper">
                        {{ include file="./common/adText.html" }}
                    </div>
                {{ /foreach }}
            </div>
        </div>
    </div>
</div>
<div class="tools-wrapper" data-module-path="social/detail/tools">
{{ include file="./detail/tools.html" }}
</div>
{{ /strip }}
{{ /block }}