{{ *

@file 社区主页
@author zengcheng

* }}
{{ extends file="social/common/base.html" }}

{{ block name="data" }}

    {{ * 需要im * }}
    {{ $need_im = false }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}
    {{ $nav_config.hidden = 1 }}
    {{ $flotage_config.hidden = true }}

    {{ $script_path = "social/index" }}

{{ /block }}

{{ block name="title" }}
{{ strip }}【跟谁学社区】-学习论坛_学习小组_兴趣小组{{ /strip }}
{{ /block }}


{{ block name="keywords" }}
{{ strip }}学习论坛,学习小组,兴趣小组{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}跟谁学社区是全国最大的学习论坛，为您提供学习、交流的平台。包括语言培训、中小学教育、高考、艺术培训、兴趣培训等小组。在这里大家可以一起交流学习。{{ /strip }}
{{ /block }}

{{ block name = "style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/src/css/social/index.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}
<div id="main">

    <div class="content">

        <div class="banner-wrapper" data-module-path="social/index/banner">
            {{ include file="./index/banner.html" data=$tpl_data.banner_list }}
        </div>

        <div class="group-wrapper" data-module-path="social/index/group">
            {{ include file="./index/group.html" data=$tpl_data.group_list }}
        </div>

        <div class="post-wrapper" data-module-path="social/index/post">
            {{ include file="./index/post.html" data=$tpl_data.hot_posts pager=$tpl_data.count }}
        </div>

    </div>

    <div class="slider-bar">
        {{ if $tpl_data.is_login }}
            <div class="profile-wrapper">
                {{ include file="./common/profile.html" userInfo=$tpl_data.user_data loginUser=$tpl_data.user_data }}
            </div>
        {{ else }}
            <div class="login-wrapper">
                {{ include file="./common/login.html" }}
            </div>
        {{ /if }}
        <div id="ads">
            {{ foreach [] as $item }}
            {{ include file="./common/adText.html" }}
            {{ /foreach }}
        </div>
    </div>

</div>
{{ /strip }}
{{ /block }}