.preview-dialog {
    .ant-modal-content {
        border-radius: 0;
    }
    .preview-content {
        height: 450px;
        overflow: scroll;
        & > div {
            margin-bottom: 10px;
        }
        .preview-title {
            font-size: 18px;
            text-align: center;
            margin: 20px auto;
            color: #2d2d2e;
        }
        .preview-body {
            font-size: 15px;
        }
        .preview-body.font-big {
            font-size: 17px;
        }
        .preview-body.align-center {
            text-align: center
        }
        .preview-body.font-bold {
            font-weight: bolder;
        }
        .preview-body.black {
            color: #000000;
        }
        .preview-body.grey {
            color: #999999;
        }
        .preview-body.pink {
            color: #FC5C5A;
        }
        .preview-body.yellow {
            color: #FF6C00;
        }
        .preview-body.blue {
            color: #0F86E8;
        }
        .preview-body.green {
            color: #43B244;
        }
        .preview-body.brown {
            color: #3D618A;
        }
        .preview-body.purple {
            color: #9900CC;
        }
        .preview-photo, .preview-video {
            text-align: center;
            img {
                max-width: 740px;
                height: auto;
            }
        }
        .preview-video {
             position: relative;
            .video-icon {
                display: inline-block;
                width: 80px;
                height: 80px;
                background: url('https://imgs.genshuixue.com/0cms/d/file/content/2018/03/5ab4acd1ead99.png') no-repeat;
                position: absolute;
                left: 340px;
                top: 35%;
            }
        }
        .preview-audio {
             position: relative;
            .voice-icon {
                display: inline-block;
                width: 16px;
                height: 17px;
                position: absolute;
                background: url('https://imgs.genshuixue.com/0cms/d/file/content/2018/03/5ab4acd216f39.png') no-repeat;
                left: 10px;
                top: 13px;
            }
        }
    }
    .exit-btn {
        border: 1px solid #ccc;
        color: #555;
        width: 86px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        margin-left: 660px;
    }
}