@import "../../../css/mixin/position";
@import "../../../css/variable/common";
@import "../../../css/variable/color";
@import "./tpl/form/index";
@import "./tpl/slider/index";
@import "./tpl/bottom/index";
@import "./tpl/video/index";
.find-teacher-order {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.find-teacher-order-btm {
        
        padding-bottom: 100rpx;
    }
}