@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?vvp0ud');
    src:    url('fonts/icomoon.eot?vvp0ud#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?vvp0ud') format('truetype'),
        url('fonts/icomoon.woff?vvp0ud') format('woff'),
        url('fonts/icomoon.svg?vvp0ud#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alipay-circle:before {
    content: "\e900";
}
.icon-angle-down:before {
    content: "\e901";
}
.icon-angle-right-circle:before {
    content: "\e902";
}
.icon-angle-up:before {
    content: "\e903";
}
.icon-anytime-joinclass:before {
    content: "\e904";
}
.icon-anytime-quitclass:before {
    content: "\e905";
}
.icon-arrow-circle:before {
    content: "\e906";
}
.icon-arrow-down-o:before {
    content: "\e907";
}
.icon-arrow-down:before {
    content: "\e908";
}
.icon-arrow-o:before {
    content: "\e909";
}
.icon-arrow-sort:before {
    content: "\e90a";
}
.icon-arrow-up-o:before {
    content: "\e90b";
}
.icon-arrow-up-small:before {
    content: "\e90c";
}
.icon-arrow-up:before {
    content: "\e90d";
}
.icon-arrows:before {
    content: "\e90e";
}
.icon-article-arrow:before {
    content: "\e90f";
}
.icon-article-share:before {
    content: "\e910";
}
.icon-assessment:before {
    content: "\e911";
}
.icon-attachment:before {
    content: "\e912";
}
.icon-audition:before {
    content: "\e913";
}
.icon-baidu-circle:before {
    content: "\e914";
}
.icon-ban-o:before {
    content: "\e915";
}
.icon-ban:before {
    content: "\e916";
}
.icon-bars-circle:before {
    content: "\e917";
}
.icon-bars-o:before {
    content: "\e918";
}
.icon-bell:before {
    content: "\e919";
}
.icon-big-phone-o:before {
    content: "\e91a";
}
.icon-book-large-o:before {
    content: "\e91b";
}
.icon-book-o:before {
    content: "\e91c";
}
.icon-book-open-o:before {
    content: "\e91d";
}
.icon-book-slope:before {
    content: "\e91e";
}
.icon-book:before {
    content: "\e91f";
}
.icon-bullseye:before {
    content: "\e920";
}
.icon-buy:before {
    content: "\e921";
}
.icon-calendar:before {
    content: "\e922";
}
.icon-camera-o:before {
    content: "\e923";
}
.icon-camera:before {
    content: "\e924";
}
.icon-caret-down:before {
    content: "\e925";
}
.icon-caret-left:before {
    content: "\e926";
}
.icon-caret-right:before {
    content: "\e927";
}
.icon-caret-up:before {
    content: "\e928";
}
.icon-cash-large-o:before {
    content: "\e929";
}
.icon-certification-o:before {
    content: "\e92a";
}
.icon-certification .path1:before {
    content: "\e92b";
    color: rgb(0, 0, 0);
}
.icon-certification .path2:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-certification .path3:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-certification .path4:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-certification .path5:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-certification .path6:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-chat-large-o:before {
    content: "\e931";
}
.icon-chat-o:before {
    content: "\e932";
}
.icon-chat:before {
    content: "\e933";
}
.icon-check-circle:before {
    content: "\e934";
}
.icon-check-o:before {
    content: "\e935";
}
.icon-check:before {
    content: "\e936";
}
.icon-chevron-left:before {
    content: "\e937";
}
.icon-chevron-right:before {
    content: "\e938";
}
.icon-chinese:before {
    content: "\e939";
}
.icon-chinesenew:before {
    content: "\e93a";
}
.icon-circle-o:before {
    content: "\e93b";
}
.icon-circle:before {
    content: "\e93c";
}
.icon-clock-large-o:before {
    content: "\e93d";
}
.icon-clock-o:before {
    content: "\e93e";
}
.icon-clock:before {
    content: "\e93f";
}
.icon-close:before {
    content: "\e940";
}
.icon-comment:before {
    content: "\e941";
}
.icon-coupon-o:before {
    content: "\e942";
}
.icon-coupons:before {
    content: "\e943";
}
.icon-course-class:before {
    content: "\e944";
}
.icon-customer:before {
    content: "\e945";
}
.icon-date:before {
    content: "\e946";
}
.icon-deduct:before {
    content: "\e947";
}
.icon-delete:before {
    content: "\e948";
}
.icon-deliver:before {
    content: "\e949";
}
.icon-direction:before {
    content: "\e94a";
}
.icon-door-o:before {
    content: "\e94b";
}
.icon-door:before {
    content: "\e94c";
}
.icon-douban:before {
    content: "\e94d";
}
.icon-download:before {
    content: "\e94e";
}
.icon-duigou:before {
    content: "\e94f";
}
.icon-ebank:before {
    content: "\e950";
}
.icon-edit-o:before {
    content: "\e951";
}
.icon-edit-underline:before {
    content: "\e952";
}
.icon-ellipsis-o:before {
    content: "\e953";
}
.icon-expression:before {
    content: "\e954";
}
.icon-eye:before {
    content: "\e955";
}
.icon-favor:before {
    content: "\e956";
}
.icon-feedback:before {
    content: "\e957";
}
.icon-file-o:before {
    content: "\e958";
}
.icon-fire:before {
    content: "\e959";
}
.icon-flag-o:before {
    content: "\e95a";
}
.icon-frown-o:before {
    content: "\e95b";
}
.icon-gift:before {
    content: "\e95c";
}
.icon-group-o:before {
    content: "\e95d";
}
.icon-group:before {
    content: "\e95e";
}
.icon-heart-o:before {
    content: "\e95f";
}
.icon-heart:before {
    content: "\e960";
}
.icon-help:before {
    content: "\e961";
}
.icon-home-circle:before {
    content: "\e962";
}
.icon-home-o:before {
    content: "\e963";
}
.icon-home:before {
    content: "\e964";
}
.icon-ic_applelogo:before {
    content: "\e965";
}
.icon-ic-safeguard:before {
    content: "\e966";
}
.icon-image-more:before {
    content: "\e967";
}
.icon-image-o:before {
    content: "\e968";
}
.icon-image:before {
    content: "\e969";
}
.icon-info-circle:before {
    content: "\e96a";
}
.icon-info-o:before {
    content: "\e96b";
}
.icon-interested:before {
    content: "\e96c";
}
.icon-iphone-icon:before {
    content: "\e96d";
}
.icon-it:before {
    content: "\e96e";
}
.icon-k12:before {
    content: "\e96f";
}
.icon-language:before {
    content: "\e970";
}
.icon-left-large:before {
    content: "\e971";
}
.icon-level-1:before {
    content: "\e972";
}
.icon-level-2:before {
    content: "\e973";
}
.icon-level-3:before {
    content: "\e974";
}
.icon-level-4:before {
    content: "\e975";
}
.icon-level-5:before {
    content: "\e976";
}
.icon-level-6:before {
    content: "\e977";
}
.icon-level-7:before {
    content: "\e978";
}
.icon-level-8:before {
    content: "\e979";
}
.icon-level-9:before {
    content: "\e97a";
}
.icon-level-10:before {
    content: "\e97b";
}
.icon-level-11:before {
    content: "\e97c";
}
.icon-level-12:before {
    content: "\e97d";
}
.icon-level-13:before {
    content: "\e97e";
}
.icon-level-14:before {
    content: "\e97f";
}
.icon-level-15:before {
    content: "\e980";
}
.icon-level-16:before {
    content: "\e981";
}
.icon-level-17:before {
    content: "\e982";
}
.icon-level-18:before {
    content: "\e983";
}
.icon-lifelogo:before {
    content: "\e984";
}
.icon-lifelogonew:before {
    content: "\e985";
}
.icon-lightning-circle:before {
    content: "\e986";
}
.icon-lightning-o:before {
    content: "\e987";
}
.icon-lightning:before {
    content: "\e988";
}
.icon-limit-joinclass:before {
    content: "\e989";
}
.icon-limit-quitclass:before {
    content: "\e98a";
}
.icon-list-o:before {
    content: "\e98b";
}
.icon-live-play:before {
    content: "\e98c";
}
.icon-live:before {
    content: "\e98d";
}
.icon-location-o:before {
    content: "\e98e";
}
.icon-location:before {
    content: "\e98f";
}
.icon-lock:before {
    content: "\e990";
}
.icon-logo:before {
    content: "\e991";
}
.icon-mail-circle:before {
    content: "\e992";
}
.icon-mail:before {
    content: "\e993";
}
.icon-manage-o:before {
    content: "\e994";
}
.icon-markting-o:before {
    content: "\e995";
}
.icon-medal-o:before {
    content: "\e996";
}
.icon-medal:before {
    content: "\e997";
}
.icon-message-o:before {
    content: "\e998";
}
.icon-message:before {
    content: "\e999";
}
.icon-microphone:before {
    content: "\e99a";
}
.icon-minus-circle:before {
    content: "\e99b";
}
.icon-mobile-circle:before {
    content: "\e99c";
}
.icon-mobile-o:before {
    content: "\e99d";
}
.icon-mobile:before {
    content: "\e99e";
}
.icon-money-large-o:before {
    content: "\e99f";
}
.icon-money-o:before {
    content: "\e9a0";
}
.icon-mortarboard-o:before {
    content: "\e9a1";
}
.icon-move-file:before {
    content: "\e9a2";
}
.icon-netdisk:before {
    content: "\e9a3";
}
.icon-neutral-o:before {
    content: "\e9a4";
}
.icon-new-folder:before {
    content: "\e9a5";
}
.icon-org:before {
    content: "\e9a6";
}
.icon-page-next:before {
    content: "\e9a7";
}
.icon-page-prev:before {
    content: "\e9a8";
}
.icon-pencil-circle:before {
    content: "\e9a9";
}
.icon-pencil:before {
    content: "\e9aa";
}
.icon-peoplenew:before {
    content: "\e9ab";
}
.icon-peoplenumber:before {
    content: "\e9ac";
}
.icon-phone-circle:before {
    content: "\e9ad";
}
.icon-phone-o:before {
    content: "\e9ae";
}
.icon-phone:before {
    content: "\e9af";
}
.icon-picture:before {
    content: "\e9b0";
}
.icon-pictures:before {
    content: "\e9b1";
}
.icon-pitch-on:before {
    content: "\e9b2";
}
.icon-plan:before {
    content: "\e9b3";
}
.icon-plane:before {
    content: "\e9b4";
}
.icon-play-o:before {
    content: "\e9b5";
}
.icon-play-oo:before {
    content: "\e9b6";
}
.icon-plus-circle:before {
    content: "\e9b7";
}
.icon-plus-o:before {
    content: "\e9b8";
}
.icon-plus:before {
    content: "\e9b9";
}
.icon-portrait-o:before {
    content: "\e9ba";
}
.icon-prize:before {
    content: "\e9bb";
}
.icon-profile-o:before {
    content: "\e9bc";
}
.icon-profile-rect:before {
    content: "\e9bd";
}
.icon-qq-circle:before {
    content: "\e9be";
}
.icon-qq:before {
    content: "\e9bf";
}
.icon-qr-code:before {
    content: "\e9c0";
}
.icon-question-circle:before {
    content: "\e9c1";
}
.icon-question:before {
    content: "\e9c2";
}
.icon-quit:before {
    content: "\e9c3";
}
.icon-qzone:before {
    content: "\e9c4";
}
.icon-rank-o:before {
    content: "\e9c5";
}
.icon-rank:before {
    content: "\e9c6";
}
.icon-recycle-bin:before {
    content: "\e9c7";
}
.icon-refresh-new:before {
    content: "\e9c8";
}
.icon-refresh:before {
    content: "\e9c9";
}
.icon-rename:before {
    content: "\e9ca";
}
.icon-renren-circle:before {
    content: "\e9cb";
}
.icon-reply:before {
    content: "\e9cc";
}
.icon-right-large:before {
    content: "\e9cd";
}
.icon-rmb-o:before {
    content: "\e9ce";
}
.icon-rmb:before {
    content: "\e9cf";
}
.icon-safety-money-o:before {
    content: "\e9d0";
}
.icon-safety-money:before {
    content: "\e9d1";
}
.icon-screen-o:before {
    content: "\e9d2";
}
.icon-screen:before {
    content: "\e9d3";
}
.icon-search-large-o:before {
    content: "\e9d4";
}
.icon-search-plus:before {
    content: "\e9d5";
}
.icon-search:before {
    content: "\e9d6";
}
.icon-see-another:before {
    content: "\e9d7";
}
.icon-send-o:before {
    content: "\e9d8";
}
.icon-setting-o:before {
    content: "\e9d9";
}
.icon-setting:before {
    content: "\e9da";
}
.icon-share-o:before {
    content: "\e9db";
}
.icon-share:before {
    content: "\e9dc";
}
.icon-shield-large-o:before {
    content: "\e9dd";
}
.icon-shield-o:before {
    content: "\e9de";
}
.icon-shopping-cart:before {
    content: "\e9df";
}
.icon-shutdown:before {
    content: "\e9e0";
}
.icon-sign:before {
    content: "\e9e1";
}
.icon-smile-o:before {
    content: "\e9e2";
}
.icon-sort:before {
    content: "\e9e3";
}
.icon-speaker:before {
    content: "\e9e4";
}
.icon-star-half:before {
    content: "\e9e5";
}
.icon-star-o:before {
    content: "\e9e6";
}
.icon-star:before {
    content: "\e9e7";
}
.icon-student:before {
    content: "\e9e8";
}
.icon-subtract-o:before {
    content: "\e9e9";
}
.icon-sun-o:before {
    content: "\e9ea";
}
.icon-symbolb:before {
    content: "\e9eb";
}
.icon-symbolt:before {
    content: "\e9ec";
}
.icon-target-large-o:before {
    content: "\e9ed";
}
.icon-teach-detail:before {
    content: "\e9ee";
}
.icon-thumbs-up-large-o:before {
    content: "\e9ef";
}
.icon-thumbs-up:before {
    content: "\e9f0";
}
.icon-tieba:before {
    content: "\e9f1";
}
.icon-time:before {
    content: "\e9f2";
}
.icon-timenew:before {
    content: "\e9f3";
}
.icon-times-circle:before {
    content: "\e9f4";
}
.icon-times:before {
    content: "\e9f5";
}
.icon-to-classromm:before {
    content: "\e9f6";
}
.icon-triangle-oblong:before {
    content: "\e9f7";
}
.icon-triangle:before {
    content: "\e9f8";
}
.icon-tv:before {
    content: "\e9f9";
}
.icon-up:before {
    content: "\e9fa";
}
.icon-user-o:before {
    content: "\e9fb";
}
.icon-user:before {
    content: "\e9fc";
}
.icon-v-o:before {
    content: "\e9fd";
}
.icon-variety:before {
    content: "\e9fe";
}
.icon-vip:before {
    content: "\e9ff";
}
.icon-warning:before {
    content: "\ea00";
}
.icon-wave-left:before {
    content: "\ea01";
}
.icon-wave-right:before {
    content: "\ea02";
}
.icon-webcam-o:before {
    content: "\ea03";
}
.icon-wechat-circle:before {
    content: "\ea04";
}
.icon-wechat-o:before {
    content: "\ea05";
}
.icon-wechat:before {
    content: "\ea06";
}
.icon-weibo-circle:before {
    content: "\ea07";
}
.icon-weibo:before {
    content: "\ea08";
}
.icon-wheat:before {
    content: "\ea09";
}
.icon-write:before {
    content: "\ea0a";
}
.icon-writer:before {
    content: "\ea0b";
}

