@height: 88rpx;

.order-form-item {
    .order-container {
        padding: 40rpx 40rpx;
        background: #fff;
        .header {
            .title {
                font-size: 48rpx;
                color: #FF6C00;
                letter-spacing: -0.21rpx;
                line-height: 48rpx;
                text-align: center;
            }
            .sub-title {
                font-size: 30rpx;
                color: #6D6D6E;
                letter-spacing: 0;
                line-height: 30rpx;
                text-align: center;
                margin-top: 20rpx;
            }
        }
        .body {
            width: 100%;
            margin-top: 40rpx;
            .line {
                margin: 20rpx 0;
            }
            .name,.mobile {
                input {
                    background: #FFFFFF;
                    border: 1px solid #DDDDDE;
                    border-radius: 6rpx;
                    height: @height;
                    margin: 0 auto;
                    padding-left: 10rpx;
                    font-size: 30rpx;
                }
            }
            .img-code {
                display: flex;
                justify-content: space-between;
                input {
                    background: #FFFFFF;
                    height: @height;
                    padding-left: 10rpx;
                    font-size: 30rpx;
                    display: inline-block;
                    width: 50%;
                    border: 1px solid #DDDDDE;
                    border-radius: 6rpx;
                }
                .img {
                    display: inline-block;
                    width: 35%;
                    font-size: 30rpx;
                    color: #FF9100;
                    line-height: @height;
                    text-align: center;
                    image {
                        width: 100%;
                        height: 100%;
                        vertical-align:middle;
                    }
                }
            }
            .sms-code {
                border: 1px solid #DDDDDE;
                border-radius: 6rpx;
                display: flex;
                input {
                    background: #FFFFFF;
                    height: @height;
                    margin: 0 auto;
                    padding-left: 10rpx;
                    font-size: 30rpx;
                    flex: 1.5;
                }
                .sms-code-txt {
                    flex: 1;
                    font-size: 30rpx;
                    color: #FF9100;
                    line-height: @height;
                    text-align: center;
                    image {
                        width: 100%;
                        height: 100%;
                        vertical-align:middle;
                    }
                }
            }
            .subjects {
                display: flex;
                justify-content: space-between;
                >view {
                    display: inline-block;
                    width: 46%;
                    background: #FFFFFF;
                    border: 1px solid #DDDDDE;
                    border-radius: 6rpx;
                    height: @height;
                    line-height: @height;
                    font-size: 30rpx;
                    padding-left: 10rpx;
                    .picker {
                        width: 100%;
                    }
                }
            }
        }
        .footer {
            width: 100%;
            >button {
                background: #FF6C00;
                border-radius: 8rpx;
                box-sizing:content-box;
            }
            .consult {
                display: flex;
                justify-content: space-between;
                margin-top: 30rpx;
                >view {
                    border: 1px solid #FF6C00;
                    border-radius: 8rpx;
                    height: @height;
                    line-height: @height;
                    font-size: 36rpx;
                    color: #FF6C00;
                    display: inline-block;
                    width: 46%;
                    text-align: center;
                    image {
                        width: 50rpx;
                        height: 50rpx;
                        vertical-align: middle;
                    }
                    button {
                        background-color:#fff;
                        border:0;
                        font-size: 36rpx;
                        color: #FF6C00;
                        height: 100%;
                    }
                }
            }
        }
    }
}