.add-video-dialog {
    .close {
        display: none;
    }
    .content {
        text-align: center;
        .close-icon {
            font-size: 30px;
            color: #ccc;
            position: absolute;
            top: -1px;
            right: 15px;
            cursor: pointer;
        }
        .remind-text {
            color: #ff0000;
        }
        .buttons {
            margin-top: 32px;
            margin-bottom: 12px;
            span {
                display: inline-block;
                width: 82px;
                line-height: 32px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                background-color: #6288DD;
                cursor: pointer;
            }
            .from-disk {
                width: 142px;
                background-color: #ff6c00;
                margin-right: 20px;
            }
        }
    }
}