.secure-dialog {
    .header {
        background: #F8F8F8;
        height: rem(40);
        line-height: rem(40);
        text-align: center;
        position: relative;
        .title {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #9D9D9E;
            letter-spacing: 0;
        }
        .close-box {
            float: right;
            display: inline-block;
            height: rem(20);
            width: rem(20);
            right: rem(10);
            border: rem(1) solid #9d9e9e;
            position: relative;
            top: rem(10);
            border-radius: 50%;
            .icon {
                position: absolute;
                font-size: rem(14);
                top: rem(2);
                left: rem(2);
                color: #9d9e9e;
            }
        }
    }
    .content {
        .item {
            padding: rem(10) rem(10) rem(10) rem(40);
            position: relative;
            .icon {
                position: absolute;
                left: rem(10);
                top: rem(15);
                color: #ff9100;
                font-size: rem(19);
            }
            .item-title {
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #3D3D3E;
                line-height: rem(30);
                height: rem(30);
            }
            .item-content {
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                color: #9D9D9E;
                letter-spacing: 0;
                line-height: rem(20);
                //height: rem(20);
            }
        }
        .cross-line {
            top: 0;
        }
    }
}
.show-banners {
    width: 100%;
    margin-bottom: rem(80);
    min-height: rem(100);
}