{{ *

@file 学生信用中心
@author jixiaohui

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "student/detail_0eedc58020" }}

{{ /block }}


{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/student/detail_e9b7f954a1.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

<div id="main">
    <div id="content" class="card">
        <div class="card-body">

            <div class="profile" data-number="{{ $tpl_data.profile.number }}">
                {{ include file="common/component/avatar.html" url="/x/"|cat:{{ $tpl_data.profile.number }} target="_blank" type="large" img=$tpl_data.profile.avatar_url }}

                <div class="name">
                    <span data-title="{{ $tpl_data.profile.display_name }}">{{ $tpl_data.profile.display_name|cn_truncate:5 }}</span>
                    <i class="icon icon-user"></i>
                </div>

                <div class="favorable-rate">
                    <span class="txt">好评率</span>
                    {{ if !$tpl_data.profile.favorable_rate }}
                        <span class="num">100%</span>
                    {{ else }}
                        <span class="num">{{ $tpl_data.profile.favorable_rate*100 }}%</span>
                    {{ /if }}
                </div>

                <div class="judge-result">
                    <ul>
                        <li>
                            <i class="icon icon-smile-o"></i>好评<span>{{ $tpl_data.score.face_type.great }}</span>
                        </li>
                        <li>
                            <i class="icon icon-neutral-o"></i>中评<span>{{ $tpl_data.score.face_type.middle }}</span>
                        </li>
                        <li>
                            <i class="icon icon-frown-o"></i>差评<span>{{ $tpl_data.score.face_type.lower }}</span>
                        </li>
                    </ul>
                </div>

            </div>

            {{ include file="common/component/commentList.html" tpl_data=$tpl_data
            type='commentFromTeacher' link='/comment/fromTeacherDetail?number='|cat:$tpl_data.profile.number paramlink=true }}
        </div>
    </div>
</div>

{{ /strip }}
{{ /block }}