.icon-time-c{
    margin-right:rem(2);
    vertical-align: rem(-2);
}
.notStart, .start {
    vertical-align: rem(-1);
}
.CD_Spliter {
    color: #ea5c5c;
    margin: 0 rem(2);
    font-weight: bold;
}

.lessThanADay, .moreThanADay {
    margin-left: rem(5);
    .CD_Time {
        display: inline-block;
        text-align: center;
        font-size: rem(10);
        width: rem(23);
        line-height: rem(11);
        color: white;
        padding: rem(3.7);
        -webkit-border-radius: rem(5);
        -moz-border-radius: rem(5);
        background-color: #ea5c5c;
    }
}