{{ extends file="common/pc/base.html" }}

{{ block name="data" }}
{{ strip }}
    {{ $need_im=false }}
    {{ $smarty.block.parent }}

    {{ $script_path = "navigation/sougouSubPage_b2cfe7a581" }}
    {{ $script_data.site = $tpl_data.site }}
    {{ $script_data.page_type = $tpl_data.page_type }}

{{ /strip }}
{{ /block }}


{{ block name="meta" }}
{{ strip }}
{{ /strip }}
{{ /block }}

{{ block name="title" }}
{{ strip }}
跟谁学-找好老师，上跟谁学
{{ /strip }}
{{ /block }}


{{ block name="keywords" }}
{{ strip }}
跟谁学
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}
跟谁学
{{ /strip }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/navigation/sougouSubPage_4dffa23eaf.css">
{{ /block }}

{{ block name="body" }}
{{ strip }}
<div id="main">
    <div class="wrapper">
        {{ include file="navigation/sougou/head.html" }}
        {{ include file="navigation/sougou/categoryValue.html" scope=parent }}
        {{ include file="navigation/sougou/category.html" }}
        {{ include file="navigation/sougou/bannerValue.html" scope=parent }}
        {{ include file="navigation/sougou/slider.html" }}
        {{ include file="navigation/sougou/activityValue.html" scope=parent }}
        {{ include file="navigation/sougou/hotactivity.html" }}
        {{ include file="navigation/sougou/lessons.html" }}
    </div>
</div>
{{ include file="common/component/callingDialog.html" }}
{{ include file="common/script.html" }}
{{ if !empty($tpl_data.site) && $tpl_data.site == 'qq' }}
<script>
var spb_vars={"productid":"qqdaohang","ptype":"qita","pcode":"jiaoyv","pstr":"","pfunc":function(fg){},"pingback":function(){}};
</script>
{{ else }}
<script>
var spb_vars={"ptype":"qita","pcode":"jiaoyu","pstr":"","pfunc":function(fg){},"pingback":function(){}};
</script>
{{ /if }}
<script type="text/javascript" src="http://pb.i.sogou.com/u/pb/pb.692148.js"></script>
{{ /strip }}
{{ /block }}


