/**
 * @file 底部
 * @author zhujialu
 */
#footer {
  margin: rem(10) auto rem(20);
  text-align: center;

  .btn-default-a {
    margin: rem(10) 0;
  }
  .btn-container {
    margin: 0 auto;
    min-width: rem(320);
    font-size: rem(12);

    .user-name {
      max-width: rem(50);
      ellipsis();
      display: inline-block;
      vertical-align: middle;
      color: #6d6d6d;
      line-height: 1;
      padding: 0;
      margin: rem(10) 0;
    }
    .login-item {
      display: none;
    }
    a {
      .icon {
        display: inline-block;
      }
      padding: 0 rem(10);            color: #6D6D6E;
      display: inline-block;
      border: 0;
      background-color: transparent;
      border-right: rem(1) solid #6d6d6d;
      line-height: 1;
      border-radius: 0;
      vertical-align: middle;

      &.phone {
        margin-right: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
  .copy-right {
    color: #ccc;
  }
  .logo-container {
    text-align: center;
    margin-top: rem(10);

    .logo {
      display: inline-block;
      bg: './footer-tip.png' 100% auto;
      size: rem(115) rem(23);
    }
  }
}