/**
 * @file 机构地区页
 * @author jixiaohui
 */

@import '../main/base.less';
@import '../common/card.less';
@import '../common/component/searchList.less';
@import '../common/component/loginDialog.less';
@import '../common/main/common/nav.less';
@import './common/profile.less';
@import './common/goldProfile.less';
@import './common/nav.less';

.area-box {
    width: 1100px;
    margin: 0 auto 50px;
    height: 100%;
    overflow: hidden;
    background: #fff;

    #map {
        width: 1038px;
        margin: 30px;
        border: 1px solid #CCCCCC;
        height: 420px;
    }

    .area-info {
        text-align: left;
        width: 1000px;
        margin-left: 50px;
        margin-bottom: 50px;

        li {
            width: 100%;
            height: auto;
            position: relative;
            margin-bottom: 20px;

            i {
                position: absolute;
                left: -20px;
                top: 2px;
                color: #FF3C3C ;
                font-size: 16px;
            }

            span {
                font-size: 14px;
                color: #333;
            }

            p {
                font-size: 12px;
                color: #666;
            }
        }
    }

    .no-data {
        width: 200px;
        margin: 50px auto;
        text-align: center;

        .pic {
            margin: 0 auto 20px;
            background: url(../../img/org/empty_area.png) no-repeat;
            width: 126px;
            height: 125px;
        }

        .text {
            font-size: 14px;
            color: #666;
        }
    }
}