/**
 * @file 金牌机构首页
 * @author niejianhui
 */

@import '../main/base.less';
@import '../common/card.less';
@import '../common/component/searchList.less';
@import '../common/component/loginDialog.less';
@import '../common/main/common/nav.less';
@import './common/goldProfile.less';
@import './common/nav.less';

body {
    background-color: #fff;
}
.goldorg-index {
    clear: both;
    .org-carousel {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 475px;
        .carousel-inner {
            position: absolute;
            white-space: nowrap;
            a {
                display: inline-block;
                height: 475px;
            }
            span {
                cursor: pointer;
                display: inline-block;
                background-position: 50%;
                background-size: cover;
                height: 475px;
                position: relative;
                .play-video-icon {
                    position: absolute;
                    display: inline-block;
                    width: 90px;
                    height: 90px;
                    background-image: url('../../img/org/ic_play_pc.png');
                    background-position: 50%;
                    background-size: cover;
                    top: 180px;
                    color: #fff;
                    left: 48%;
                }
            }
        }
        .footer-control {
            position: absolute;
            left: 46%;
            bottom: 15px;
            margin: 0 auto;
            .org-select {
                width: 12px;
                height: 12px;
                margin-right: 7px;
                border-radius: 50%;
                background-color: #fff;
                float: left;
                cursor: pointer;
                opacity: 0.4;
                border: 1px solid #ccc;
            }
            .org-select.active {
                opacity: 1;
            }
        }
        .advisory-box {
            width: 1100px;
            margin: 0 auto;
            position: relative;
            .header-advisory {
                width: 270px;
                position: absolute;
                top: 75px;
                right: 0;
                .inner-box {
                    position: relative;
                    height: 322px;
                    .mask,
                    .advisory-detail {
                        width: 270px;
                        height: 322px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .mask {
                        background-color:  #000;
                        opacity: 0.7;
                        border-radius: 6px;
                        box-shadow: 0 2px 7px 0 rgba(0,0,0,0.40);
                    }
                    .advisory-detail {
                        
                        padding: 20px;
                        .title {
                            font-size: 22px;
                            color: #FFFFFF;
                            text-align: center;
                            margin-bottom: 10px;
                        }
                        #advisory-form {
                            & > div {
                                input {
                                    padding-left: 10px;
                                    width: 232px;
                                    line-height: 38px;
                                    background: #FFFFFF;
                                    border-radius: 2px;
                                    outline: none;
                                    border: none;
                                }
                            }
                        }
                        .get-now {
                            width: 232px;
                            line-height: 44px;
                            background: #FF6C00;
                            border-radius: 2px;
                            text-align: center;
                            cursor: pointer;
                            font-size: 17px;
                            color: #FFFFFF;
                            margin-top: 5px;
                        }
                        .content {
                            text-align: center;
                            font-size: 14px;
                            color: #FFFFFF;
                            margin: 10px 0;
                        }
                        .online-consult {
                            border: 1px solid #FFFFFF;
                            border-radius: 2px;
                            cursor: pointer;
                            width: 232px;
                            line-height: 44px;
                            text-align: center;
                            color: #fff;
                            font-size: 16px;
                            margin-top: 14px;
                            i {
                                transform: matrix(-1, 0, 0, 1, 0, 0);
                                color: #fff;
                                font-size: 20px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
                .ad-detail {
                    margin-top: 18px;
                    background: #FFF3DF;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 40px;
                    a { 
                        font-size: 15px;
                        color: #FF6C00;
                    }
                }
            }
        }
    }
    .recommend-courses,
    .org-videos,
    .org-teachers,
    .org-brief {
        padding-top: 50px;
        .head {
            width: 1100px;
            margin: 0 auto;
            text-align: center;
            .title {
                font-size: 27px;
                color: #3D3D3E;
                margin-bottom: 10px;
            }
            a {
                font-size: 14px;
                color: #FF6C00;
            }
        }
        .list {
            width: 1100px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .recommend-courses {
        background-color: #f8f8f8;
        .list {
            .item {
                display: inline-block;
                width: 260px;
                margin-right: 15px;
                margin-bottom: 40px;
                position: relative;
                background-color: #fff;
                box-shadow: 0 0 15px 0 rgba(0,0,0,0.10);
                padding-bottom: 15px;
                &:last-child {
                    margin-right: 0;
                }
                .name {
                    font-size: 16px;
                    color: #3d3d3e;
                    line-height: 16px;
                    margin-top: 5px;
                    text-align: left;
                    padding-left: 10px;
                    margin-bottom: 15px;
                }
                .org-course-price {
                    clear: left;
                    color: #ff6c00;
                    text-align: left;
                    margin-top: 5px;
                    padding-left: 10px;
                    display: inline-block;
                    margin-right: 6px;
                    .original-price {
                        font-size: 12px;
                        color: #9d9d9e;
                        margin-left: 10px;
                    }
                    .price-now {
                        font-size: 18px;
                        color: #ff4700;
                        text-align: left;
                    }
                    .price-free {
                        font-size: 18px;
                        color: #41b14b;
                        text-align: left;
                    }
                }
                .price-tip-box {
                    margin-top: 5px;
                    text-align: left;
                    padding-left: 10px;
                    display: inline-block;
                    margin-right: 6px;
                    .original-price {
                        text-decoration: line-through;
                        color: #9d9d9e;
                        font-size: 12px;
                    }

                    .rob-price {
                        color: #9d9d9e;
                        font-size: 12px;
                    }

                    .price {
                        font-size: 18px;
                        color: #ff4700;
                        margin-right: 10px;
                    }
                }
                .price-tip-end,
                .price-tip-begin {
                    color: #fff;
                    display: inline-block;
                    padding: 5px;

                    .time {
                        color: #fff!important;
                        margin-left: 5px;
                    }
                }

                .price-tip-end {
                    background: #fc5c5a;
                }

                .price-tip-begin {
                    background: #9D9D9D;
                }
                .price-tip {
                    width: 260px;
                    line-height: 20px;
                    position: absolute;
                    padding-left: 10px;
                    top: 117px;
                    left: 0;
                }
                .limit-count,
                .limit-count-e {
                    width: 37px;
                    height: 44px;
                    position: absolute;
                    top: -1px;
                    left: 20px;
                }
                .limit-count {
                    background: url("../../img/org/label_sale.png") no-repeat;
                }
                .limit-count-e {
                    background: url("../../img/org/label_sale_e.png") no-repeat;
                }
                .course-label {
                    position: absolute;
                    right: 0;
                    top: 0;
                    .inner-box {
                        position: relative;
                        width: 62px;
                        height: 26px;
                        display: inline-block;
                        .mask,
                        .text {
                            width: 62px;
                            height: 26px;
                            line-height: 26px;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        .mask {
                            background-color: #000;
                            opacity: 0.4;
                        }
                        .text {
                            color: #fff;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
                .fenqi-tag {
                    background: #37A4F5;
                    display: inline-block;
                    border-radius: 2px;
                    line-height: 15px;
                    text-align: center;
                    float: right;
                    color: #fff;
                    font-size: 9px;
                    position: relative;
                    top: 14px;
                    margin-right: 14px;
                    padding: 0 4px;
                }
                .play-video-icon {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    background-image: url('../../img/org/ic_play_pc.png');
                    background-position: 50%;
                    background-size: cover;
                    position: absolute;
                    top: 50px;
                    left: 105px;
                    cursor: pointer;
                }
            }
        }
    }
    .org-videos {
        margin-bottom: 80px;
        .list {
            .item {
                position: relative;
                display: inline-block;
                width: 350px;
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
                .video-detail {
                    cursor: pointer;
                    .play-video-icon {
                        width: 80px;
                        height: 80px;
                        background-image: url('../../img/org/ic_play_pc.png');
                        background-position: 50%;
                        background-size: cover;
                        cursor: pointer;
                        display: inline-block;
                        position: absolute;
                        left: 135px;
                        top: 60px;
                    }
                    img {
                        width: 350px;
                        height: 198px;
                    }
                }
                .video-intro {
                    text-align: center;
                    font-size: 15px;
                    color: #9D9D9E;
                    margin-top: 25px;
                }
            }
        }
    }
    .photo-ad {
        display: block;
        span {
            display: block;
            width: 100%;
            height: 130px;
            background-position: 50%;
            background-size: cover;
        }
    }
    .org-teachers {
        background-color: #f8f8f8;
        padding-bottom: 80px;
        .list {
            .item {
                display: inline-block;
                width: 180px;
                height: 150px;
                margin-right: 50px;
                position: relative;
                text-align: center;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }
                img {
                    border-radius: 10px;
                }
                .name,
                .intro {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .name {
                    color: #3d3d3e;
                    margin-top: 10px;
                    font-size: 18px;
                    color: #3D3D3E;
                }
                .intro {
                    font-size: 14px;
                    color: #9D9D9E;
                    line-height: 18px;
                }
            }
        }
    }
    .org-brief {
        margin-bottom: 70px;
        .content {
            width: 1100px;
            margin: 0 auto;
            overflow: hidden;
            img {
                max-width: 1100px;
            }
        }
    }
    .org-coupons {
        cursor: pointer;
        position: fixed;
        right: 0;
        top: 30%;
        display: none;
        & > div {
            width: 110px;
            height: 110px;
            background: url("../../img/org/bg_yhj_pc.png") no-repeat;
            text-align: center;
            padding-top: 6px;
            position: relative;
            span {
                display: block;
                color: #f8f8f8;
                &:nth-child(1) {
                    font-size: 20px;
                }
                &:nth-child(2) {
                    font-size: 16px;
                }
                &:nth-child(3) {
                    font-size: 32px;
                }
            }
            .coupon-list {
                position: absolute;
                display: none;
                top: -12px;
                background: #FFFFFF;
                box-shadow: 0 2px 12px 0 rgba(0,0,0,0.20);
                padding: 20px 40px;
                border-radius: 5px;
                .coupon-item {
                    display: inline-block;
                    padding: 10px 0;
                    margin-right: 20px;
                    width: 218px;
                    height: 99px;
                    background: url("../../img/org/bg_youhuijaun_pc.png") no-repeat;
                    text-align: center;
                    &:last-child {
                        margin-right: 0;
                    }
                    span {
                        display: block;
                        color: #f8f8f8;
                        font-size: 17px;
                        color: #FFF3DF;
                    }
                    .coupon-money {
                        font-size: 32px;
                    }
                }
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 60px;
                    right: -20px;
                    border-top: 10px solid transparent;
                    border-left: 10px solid #fff;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                }
            }
        }
    }
    .online-consult-side {
        display: none;
        cursor: pointer;
        background-color: #ff6c00;
        border-radius: 2px;
        width: 30px;
        padding: 5px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        position: fixed;
        right: 0;
        top: 55%;
        i {
            transform: matrix(-1, 0, 0, 1, 0, 0);
            color: #fff;
            font-size: 20px;
        }
    }
    .online-consult-side.show {
        display: inline-block;
    }
    .start-screen {
        position: fixed;
        z-index: 9;
        display: none;
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.4);
        border-radius: 6px;
        .photo-screen {
            display: block;
            position: relative;
            border-radius: 6px;
            width: 850px;
            height: 478px;
            background-position: 50%;
            background-size: cover;
        }
        .outer-box {
            position: relative;
            .close-icon {
                cursor: pointer;
                display: inline-block;
                width: 50px;
                height: 50px;
                background: url("../../img/org/ic_closed_white.png") no-repeat;
                position: absolute;
                background-size: cover;
                bottom: 443px;
                right: -16px;
            }
            .no-remind {
                position: absolute;
                bottom: -5px;
                right: 100px;
                .inner-box {
                    position: relative;
                    .mask,
                    label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                        display: inline-block;
                        width: 100px;
                        height: 32px;
                        line-height: 32px;
                    }
                    .mask {
                        background-color: #000;
                        opacity: 0.3;
                    }
                    label {
                        text-align: center;
                        color: #fff;
                        input {
                            opacity: 0;
                            z-index: 3;
                            margin-right: 5px;
                        }
                        span {
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            top: 7px;
                            left: 8px;
                            background: url("../../img/org/ic_checkbox_pc.png") no-repeat;
                        }
                        .checked {
                            background: url("../../img/org/ic_checkbox_done_pc.png") no-repeat;
                        }
                    }
                }
            }
        }
    }
}

