/**
 * @file 资讯模块--顶部导航
 * @author tangrongyan
 */

.comment-list {
    overflow: hidden;
    margin-top: 30px;
    border: 1px solid #dedede;

    .item {
        min-height: 130px;
        border-bottom: 1px dashed #dedede;
    }
    .the-last {
        border-bottom: none;
    }
    .comment-selected {
        background: #faf9f7;
    }
    dt {
        float: left;
        margin-left: 20px;
        margin-top: -5px;
        img {
            width: 50px;
            height: 50px;
        }

    }
    dd {
        .clearfix();
        margin-left: 84px;
        padding-top: 12px;
        .name { 
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 12px;
        }
    }
    .content {
        margin-bottom: 40px;
        color: #3d3d3d;
    }
    .action {
        margin-bottom: 8px;
        .support, .reply {
            /*width: 120px;*/
            height: 28px;
            line-height: 28px;
            display: inline-block;
            text-align: center;
            margin-right: 24px;
            cursor: pointer;
            border: 1px solid transparent;
            span {
                margin-left: 4px;
            }


        }
        .support:hover, .reply:hover {
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -khtml-border-radius: 3px;

            color: #ff9900;
            border: 1px solid #ff9900;

        }
        .clicked:hover {
            color: inherit;
            border: 1px solid transparent;
            cursor: default;
        }
        .support, .reply {
            margin-left: -6px;
            padding: 0 8px;
            .icon {
                margin-right: 8px;
                vertical-align: middle;
            }
        }
    }
    .label {
        position: absolute;
        text-align: center;
        width: 22px;
        margin-left: 10px;
        color: #f90;
        display: none;
    }
    .from {
        color: #6187dc;
    }
}