/**
 * @file 资讯模块--文章
 * @author tangrongyan
 */


.crumb {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dedede;
    display: block;
    overflow: hidden;
}
.crumb .title {
    color: #1c1c1c;
    font-size: 26px;
    margin: 32px auto 18px auto;

}
.crumb .date {
    color: #9d9d9d;
    font-size: 14px;
    margin-right: 20px;

}
.crumb {
    .from {
        color: #9d9d9d;
        font-size: 14px;
        margin-right: 20px;
    }
    a.from {
        color: #6187dc;
        margin-right: 0;

    }
}
.crumb {
    .go-class {
        float: right;
        color: #6187dc;
    }
}
img {
    max-width: 729px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img {
    text-align: center;
}
.paragraph {
    text-indent: 2em;
}
