.floor-list {
    border: solid 1px #e8e8e8;
    background: #fff;
    .floor-item {
        height: 42px;
        line-height: 42px;
        overflow: hidden;
        background: url('../../../img/main/floor_bg.png') 0 0 no-repeat;
        .floor-level {
            width: 42px;
            height: 42px;
            line-height: 42px;
            color: #6d6d6d;
            text-align: center;
            display: block;
        }
        .floor-tip {
            width: 42px;
            height: 42px;
            line-height: 16px;
            padding: 4px 6px;
            display: block;
            transition: all 0.3s ease 0.1s;
        }
        &.active,
        &.static-active,
        &:hover {
            .floor-level {
                transition: all 0.3s ease;
                margin-top: -42px;
            }
        }

        &:hover{
            .floor-tip {
                color: #6d6d6d;
            }
        }

        &.active{
            .floor-tip{
                color: #f90;
            }
        }
        &.last {
            background-image: none;
        }
        .icon {
            font-size: 20px;
        }
    }
}