.special {
    .course-tag {
        display: inline-block;
        padding: 1px 3px;
        border-radius: 2px;
        border: solid 1px transparent;
        font-size: 10px;
        -webkit-transform: scale(0.9,0.9);
        line-height: 12px;
        cursor: default;
        &.live-tag {
            border-color: #6287d5;
            color: #6287d5;
        }
        &.video-tag {
            border-color: #6287d5;
            color: #6287d5;
        }
        &.offline-tag {
            border-color: #6287d5;
            color: #6287d5;
        }
    }
    .ellipsis {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .special-header {
        overflow: hidden;
        .special-header-ads {
            float: right;
            position: relative;
            top: 8px;
        }
        .special-title {
            float: left;
            padding-left: 40px;
            line-height: 25px;
            font-size: 20px;
            color: #333;
        }
    }
    .special-header-ads {
        position: relative;
        top: 3px;
        font-size: 12px;
        height: 20px;
        color: #333;
        width: 700px;
        overflow: hidden;
        ul {
            position: absolute;
            width: 100%;
        }
        .icon,
        .ad-tip {
            color: #f00;
        }

        .ad-content{
            color: #666;
            &:hover {
                text-decoration: underline;
            }
        }

        .special-ad-item {
            overflow: hidden;
            .text-right {
                float: right;
            }
        }
    }

    .course-template {
        position: relative;
        height: 120px;
        background: #fff center no-repeat;
        .course-template-name {
            position: absolute;
            z-index: 1;
            left: 15px;
            right: 20px;
            top: 7px;
            font-size: 20px;
            color: #fff;
        }
        .course-template-teacher {
            position: absolute;
            z-index: 1;
            height: 26px;
            left: 15px;
            bottom: 20px;
        }
        .course-template-tname {
            position: absolute;
            z-index: 2;
            left: 10px;
            padding: 0 20px 0 42px;
            font-size: 14px;
            height: 26px;
            line-height: 26px;
            border-bottom-right-radius: 30px;
            color: #fff;
            background: #f87120;
            max-width: 172px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .course-template-avatar {
            position: absolute;
            z-index: 5;
            top: -8px;
            background: #fff;
            border-radius: 21px;
            img {
                border-radius: 20px;
                margin: 1px;
            }
        }
        &.theme1 {
            background-image: url('../../../img/main/course_tpl_1.jpg');
        }
        &.theme2 {
            background-image: url('../../../img/main/course_tpl_2.jpg');
        }
        &.theme3 {
            background-image: url('../../../img/main/course_tpl_3.jpg');
        }
        &.theme4 {
            background-image: url('../../../img/main/course_tpl_4.jpg');
            .course-template-tname {
                background: #fff400;
                color: #ee3135;
            }
        }
    }

    .special-content {
        margin-top: 7.5px;
        border-top: solid 1px transparent;
        overflow: hidden;
        .special-left-content {
            position: relative;
            float: left;
            width: 212px;
            height: 525px;
            .special-logo {
                padding: 35px 0;
                .special-logo-wrapper {
                    margin: 0 auto;
                    width: 150px;
                    height: 150px;
                    border-radius: 150px;
                    overflow: hidden;
                }
                .special-logo-mask {
                    height: 150px;
                    background: #fff;
                    .opacity(0.5);
                }
            }
            .special-course-list {
                padding: 18px 11px;
                font-size: 12px;
                line-height: 1;
                max-height: 245px;
                overflow: hidden;
                .special-course-item {
                    display: inline-block;
                    margin: 12px 9px;
                    color: #fff;
                    cursor: pointer;
                    &.bold {
                        font-weight: bold;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .special-more-course {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 50px;
                line-height: 50px;
                bottom: 0;
                left: 0;
                text-align: center;
                color: #fff;
                a {
                    display: block;
                    color: #fff;
                }
                .icon {
                    position: relative;
                    top: 2px;
                    line-height: 18px;
                    margin-left: 5px;
                    font-size: 16px;
                }
            }
        }
        .special-middle-content {
            margin: 0 264px 0 212px;
            height: 525px;
            padding: 15px 20px;
            border-bottom: solid 1px #e8e8e8;
        }
        .special-right-content {
            float: right;
            height: 525px;
            padding-top: 15px;
            width: 264px;
        }

        .course-media-list {
            margin-right: -16px;
            padding-bottom: 20px;
            .course-media {
                width: 214px;
                display: inline-block;
                margin-right: 16px;
                vertical-align: top;
            }
            .course-media-img-wrapper {
                a:after {
                    background-color: transparent;
                    content: ' ';
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    .opacity(0.4);
                    .transition(background 0.3s);
                }
                a:hover {
                    &:after{
                        background: #000;
                    }
                }
                a,
                img {
                    position: relative;
                    display: block;
                }
            }
            .course-media-content {
                margin-top: 8px;
                font-size: 12px;
                line-height: 1;
            }
            .course-media-name {
                color: #333;
                .ellipsis {
                    font-size: 13px;
                    padding: 2px 0 0;
                    vertical-align: middle;
                    max-width: 170px;
                }
                .course-tag {
                    vertical-align: middle;
                    margin-right: 6px;
                }
            }
            .course-media-other {
                margin-top: 8px;
                color: #999;
                .course-media-divider {
                    margin: 0 10px;
                    vertical-align: initial;
                }
                .course-media-author {
                    color: inherit;
                    &:hover{
                        color: #f90;
                    }
                }
                .course-media-time {

                }
                .course-media-other {

                }
            }
        }

        .course-recommend-wrapper {
            border-top: dotted 1px #e8e8e8;
            border-bottom: dotted 1px #e8e8e8;
            padding: 20px 0 0;
            .course-recommend-list {
                width: 50%;
                vertical-align: top;
                display: inline-block;
            }
            .article-recommend-list {
                width: 50%;
                display: inline-block;
            }
            .list-title {
                line-height: 1;
                padding-left: 5px;
                font-size: 16px;
                border-left: solid 3px transparent;
                color: #333;
                .more-link {
                    position: relative;
                    float: right;
                    font-size: 12px;
                    color: #999;
                    top: 3px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .list-contents {
                padding: 4px 0 14px;
                font-size: 12px;
                line-height: 24px;
                .list-tag-before {
                    display: inline-block;
                    margin-right: 5px;
                    width: 3px;
                    height: 3px;
                    background: #ccc;
                    vertical-align: middle;
                }
                a{
                    line-height: 16px;
                    max-width: 260px;
                    vertical-align: middle;
                }
            }
            .course-tag {
                vertical-align: middle;
                margin-left: 6px;
            }
        }

        .learning-wrapper {
            padding-top: 20px;
            .list-title {
                line-height: 1;
                padding-left: 5px;
                font-size: 16px;
                border-left: solid 3px transparent;
                color: #333;
            }
            .comment-list {
                position: relative;
                margin-top: 10px;
                width: 674px;
                height: 109px;
                white-space: nowrap;
                overflow: hidden;
                ul {
                    position: absolute;
                }
            }
            .comment-item {
                display: inline-block;
                width: 369px;
                font-size: 12px;
                white-space: normal;
                vertical-align: top;

                &:hover{
                    .student-comment{
                        text-decoration: underline;
                    }
                }

                .student-info {
                    float: left;
                    .student-name {
                        display: block;
                        margin-top: 5px;
                        color: #333;
                        max-width: 40px;
                        text-align: center;
                    }
                    .student-avatar {
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        overflow: hidden;
                    }
                }
                .student-comment-wrapper {
                    position: relative;
                    overflow: hidden;
                    padding-left: 20px;
                    padding-right: 64px;
                }
                .arrow {
                    display: block;
                    width: 10px;
                    height: 6px;
                    position: absolute;
                    left: 12px;
                    top: 18px;
                    z-index: 1;
                    background: #fff url('../../../img/main/arrow.png') center no-repeat;
                }
                .student-comment {
                    height: 75px;
                    line-height: 20px;
                    padding: 8px 12px;
                    border: solid 1px #eee;
                    border-radius: 5px;
                    word-wrap: break-word;
                    word-break: break-all;
                    color: #666;
                    overflow: hidden;
                }
                .comment-course {
                    margin-top: 5px;
                    color: #999;
                    text-align: right;
                    .course-way {
                        display: inline-block;
                        margin-left: 8px;
                    }
                    .course-name{
                        vertical-align: bottom;
                        max-width: 150px;
                    }
                }
            }

        }

        .hot-header {
            border-left: solid 3px transparent;
            padding-left: 5px;
            line-height: 1;
            font-size: 16px;
            color: #333;
            overflow: hidden;
            .more-hot-link {
                position: relative;
                float: right;
                font-size: 12px;
                color: #999;
                top: 3px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .hot-list {
            margin-top: 10px;
            padding: 1px 20px;
            border: solid 1px #e8e8e8;
            min-height: 484px;
            .last {
                .teacher-info {
                    border-bottom-color: transparent;
                }
            }
        }
        .hot-teacher {
            padding: 16px 0 0;
            display: block;
            &:hover {
                .avatar-wrapper:after{
                    background: #000 !important;
                }
            }
            .teacher-avatar {
                position: relative;
                float: left;
                .icon-play-oo{
                    cursor: pointer;
                }
                .avatar-wrapper {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: block;
                    overflow: hidden;
                    &:after {
                        background-color: transparent;
                        border-radius: 60px;
                        content: ' ';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        .opacity(0.4);
                        .transition(background 0.3s);
                    }
                }
                img {
                    display: block;
                }
                .icon {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 16px;
                    color: #6287d5;
                    border-radius: 100%;
                    background: #fff;
                    padding: 3px;
                    z-index: 1;
                    text-align: center;
                }
            }
            .teacher-info {
                overflow: hidden;
                margin-left: 76px;
                font-size: 12px;
                padding: 6px 0 20px;
                border-bottom: dotted 1px #eee;
                .row {
                    display: block;
                    margin-top: 6px;
                    max-width: 146px;
                }
            }
            .teacher-name {
                color: #333;
                font-size: 13px;
                display: inline;
                &:hover{
                    color: #f90;
                }
            }
            .teacher-course {
                margin-left: 10px;
                color: #6D6D6D;
            }
            .teacher-inro {
                color: #999;
            }
        }
    }
    &.green {
        .special-content {
            border-color: #56b39b;
            .course-recommend-wrapper {
                .list-title {
                    border-color: #56b39b;
                }
            }
            .learning-wrapper {
                .list-title {
                    border-color: #56b39b;
                }
            }
        }
        .special-left-content {
            background: #56b39b;
        }
        .hot-header {
            border-color: #56b39b;
        }
        .special-title {
            background: url('../../../img/main/1F.png') left top no-repeat;
        }
        .special-logo {
            background: #61bea7;
            .special-logo-wrapper {
                background: url('../../../img/main/1F_LOGO.png') center 28% no-repeat;
            }
        }
        .special-course-list {

        }
        .special-more-course {
            background: #61bea7;
        }
    }
    &.blue {
        .special-content {
            border-color: #5792d6;
            .course-recommend-wrapper {
                .list-title {
                    border-color: #5792d6;
                }
            }
            .learning-wrapper {
                .list-title {
                    border-color: #5792d6;
                }
            }
        }
        .special-left-content {
            background: #5792d6;
        }
        .hot-header {
            border-color: #5792d6;
        }
        .special-title {
            background: url('../../../img/main/2F.png') left top no-repeat;
        }
        .special-logo {
            background: #699dda;
            .special-logo-wrapper {
                background: url('../../../img/main/4F_LOGO.png') center 38% no-repeat;
            }
        }
        .special-course-list {

        }
        .special-more-course {
            background: #699dda;
        }
    }
    &.yellow {
        .special-content {
            border-color: #ee991a;
            .course-recommend-wrapper {
                .list-title {
                    border-color: #ee991a;
                }
            }
            .learning-wrapper {
                .list-title {
                    border-color: #ee991a;
                }
            }
        }
        .special-left-content {
            background: #ee991a;
        }
        .hot-header {
            border-color: #ee991a;
        }
        .special-title {
            background: url('../../../img/main/3F.png') left top no-repeat;
        }
        .special-logo {
            background: #f8a934;
            .special-logo-wrapper {
                background: url('../../../img/main/3F_LOGO.png') center 28% no-repeat;
            }
        }
        .special-course-list {

        }
        .special-more-course {
            background: #f8a934;
        }
    }

    &.azure-blue {
        .special-content {
            border-color: #479edb;
            .course-recommend-wrapper {
                .list-title {
                    border-color: #479edb;
                }
            }
            .learning-wrapper {
                .list-title {
                    border-color: #479edb;
                }
            }
        }
        .special-left-content {
            background: #479edb;
        }
        .hot-header {
            border-color: #479edb;
        }
        .special-title {
            background: url('../../../img/main/4F.png') left top no-repeat;
        }
        .special-logo {
            background: #57aae4;
            .special-logo-wrapper {
                background: url('../../../img/main/2F_LOGO.png') center 38% no-repeat;
            }
        }
        .special-course-list {

        }
        .special-more-course {
            background: #57aae4;
        }
    }

    &.purple {
        .special-content {
            border-color: #a24f84;
            .course-recommend-wrapper {
                .list-title {
                    border-color: #a24f84;
                }
            }
            .learning-wrapper {
                .list-title {
                    border-color: #a24f84;
                }
            }
        }
        .special-left-content {
            background: #a24f84;
        }
        .hot-header {
            border-color: #a24f84;
        }
        .special-title {
            background: url('../../../img/main/5F.png') left top no-repeat;
        }
        .special-logo {
            background: #b15b92;
            .special-logo-wrapper {
                background: url('../../../img/main/5F_LOGO.png') center no-repeat;
            }
        }
        .special-course-list {

        }
        .special-more-course {
            background: #b15b92;
        }
    }
}
