/**
 * @file 老师文章详情页
 * @author caoying
 */

@import '../../main/base.less';
@import '../../common/component/loginDialog.less';
@import '../../common/component.less';
@import '../../common/layout.less';
@import '../newDetail/orderForm.less';
@import '../../common/component/allprice.less';

body {
    background: #ffffff;
}

#header .wrapper {
    width: 1020px;
}
.content {
    .ellipsis {
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .no-article {
        margin: 0 auto;
        text-align: center;
        padding: 100px 0;

        .img-wrapper {
            text-align: center;

            .img {
                display: block;
                margin: 0 auto;
                width: 106px;
                height: 112px;
                background-image: url(../../../img/teacher/comment_empty.png);
            }
        }
        .text-center {
            font-size: 16px;
            font-weight: bold;
            padding-top: 20px;
        }
    }

    .no-list-article {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        float: left;
        &:hover {
            color:#6d6d6d;
        }
    }
    .no-list-back {
        display: block;
        font-size: 14px;
        float: right;
        &:hover {
            color:#6d6d6d;
        }
    }

    width: 1020px;
    margin: 0 auto;
    .title-list {
        width: 700px;
        height: 40px;
        border-bottom: 1px solid #eeeeee;
        line-height: 40px;
        padding: 0px 5px;


        .title-list-article {
           display: inline-block;
           font-size: 14px;
           font-weight: bold;
           float: left;
        }
        .title-list-article:hover {
            text-decoration: underline;
            color:#6d6d6d;
        }

        .title-list-back {
           display: block;
           font-size: 14px;
           float: right;

        }
        .title-list-back:hover {
            text-decoration: underline;
            color:#6d6d6d;
        }

        a {
            margin: 0 5px;
            &.last-nav {
                color: #6d6d6d;
            }
        }

    }
    .article-content {
        position: relative;
        height: 100%;
        margin: 20px 0px;

        .article-teacher {
            width: 270px;
            float: right;
            margin: -20px 0 20px;

            .article-summary {
                width: 100%;
                border: 1px solid #eeeeee;
                font-size: 14px;
                margin-bottom: 40px;

                a {
                    img {
                          width: 60px;
                          height: 60px;
                          border: 4px solid #fff;
                        }
                }
                .summary {
                    padding: 10px 20px 15px 10px;
                    .clearfix();
                    .teacher-img {
                        float: left;
                        img {
                            border: 1px solid #eeeeee;
                        }
                    }
                    .teacher-name {
                        margin-left: 75px;
                        .name {
                            font-size: 14px;
                            font-weight: bold;
                        }

                        .icon-vip-vip,
                        .icon-vip-gvip,
                        .icon-vip-cvip {
                            margin-left: 5px;
                            margin-right: 5px;
                            width: 19px;
                            height: 19px;
                        }

                        .icon-vip-vip {
                            background: url(../../../img/userCenter/small-vip.png);
                        }
                        .icon-vip-gvip {
                            background: url(../../../img/userCenter/small-gvip.png);
                        }
                        .icon-vip-cvip {
                            background: url(../../../img/userCenter/small-cvip.png);
                        }
                        .read-power {
                            display: none;
                            font-size: 12px;
                            margin-top: 10px;
                        }
                        .power {
                            font-size: 12px;
                            .btn-default{
                                width: 11.5em;
                                height: 28px;
                                line-height: 13px;
                                margin-top:10px;
                                .caret {
                                    margin-top: 4px;
                                }
                            }
                            .dropdown-menu{
                                li:hover{
                                   color: #6085d7;
                                   background-color: #fff;
                                }
                                .active{
                                    color: #6085d7;
                                    background-color: #fff;
                                    &:hover{
                                        color: #6085d7;
                                        background-color: #fff;
                                    }
                                }
                            }

                        }
                        .article-class {
                            font-size: 12px;
                            margin-top: 10px;

                        }
                        .article-time {
                            font-size: 12px;
                            margin-top: 10px;
                        }
                    }
                }

                .article-button {
                    padding: 0px 10px 15px;
                    margin: 5 auto;
                    text-align: center;

                    .btn-primary {
                        background: #fff;
                        border-color: #ccc;
                        color: #555;
                        width: 110px;
                        margin-right: 10px;
                        &.btn-edit {
                            background-color: #6187DC;
                            box-shadow: 0 1px 0 0 #6187DC;
                            border-color: #6187DC;
                            color: white;
                        }
                    }
                }
                .article-other {
                    .clearfix();
                    color:#999999;
                    margin-top: 5px;

                    .group {
                        width: 25%;
                        border-left: 1px solid #eeeeee;
                        border-top: 1px solid #eeeeee;
                        float: left;
                        margin: 0 auto;
                        cursor: pointer;
                        text-align: center;
                        padding: 10px;
                        i{
                            font-size: 20px;
                            text-align: center;
                            cursor: pointer;
                        }

                        .support {
                            color: #6187DC;
                        }

                        span {
                            font-size: 14px;
                            display: block;
                            text-align: center;
                        }

                        .icon-article-share {
                            position: relative;
                        }

                        .icon-article-share {
                           .baidu-share {
                                top: 20px;
                                left: -180px;
                            }
                        }
                    }

                    .group:hover {
                        background: #e6e6e6;
                        i {
                           color: #6187DC;
                        }
                        span {
                            color: #6187DC;
                        }
                    }
                    #eye:hover {
                        background: #ffffff;
                        i {
                             color: #999999;
                        }
                        span {
                            color: #999999;
                        }
                    }

                    #thumbs-up {
                        border-left: none;
                    }

                }
                .read-power {
                    span{
                        display: block;
                        width: 60px;
                    }
                }

            }
            .other-article {
                border: 1px solid #eeeeee;
                font-size: 14px;
                margin-top: 30px;
                line-height: 3.5;
                padding: 0px 20px 0px 20px;
                span {
                    display: block;
                    word-spacing:5px;
                }
                .article-link-wrapper {
                    display: block;
                    border-top: 1px solid #eeeeee;
                    word-spacing: 5px;
                    line-height: 32px;
                    max-width: 228px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                a:hover{
                    cursor: pointer;
                    color: #6187DC;
                    text-decoration: underline;
                }
                .title {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

        }

        .article-content-deatail {
            width: 700px;
            float: left;

            .detail-title {
                font-size: 24px;
                font-weight: bold;
                padding: 0px 10px 10px 10px;
                line-height: 30px;
                color: #333;
            }
            .article-detail {
                color: #000;
                font-size: 16px;
                line-height: 2em;
                padding: 10px;
                overflow: hidden;
                word-break: normal;
                word-wrap: break-word;
                p {
                    margin: 15px 0;
                }
                strong {
                    font-weight: bold;
                }
                img {
                    max-width: 100%;
                }
                strong {
                    font-weight: bold;
                }
                ul,
                ol {
                    padding: 0 20px;
                }
            }

            .detail-writer {
                margin-top: 17px;
                height: 30px;
                line-height: 28px;
                font-size: 12px;
                color: #999999;
                overflow: hidden;
                padding-left: 10px;
                &.none-avatar {
                    margin-top: 10px;
                }
                .detail-writer-avatar {
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 6px;
                    img {
                        display: block;
                    }
                }
                .detail-writer-name {
                    max-width: 200px;
                    display: inline-block;
                    vertical-align: middle;
                    color: #6187dc;
                }
                .detail-writer-dot,
                .detail-writer-update,
                .article-tag-title,
                .article-tag {
                    display: inline-block;
                    vertical-align: middle;
                }

                .detail-writer-dot {
                    font-weight: bold;
                    width: 12px;
                    text-align: center;
                }

                .article-tag-title {
                    margin-left: 10px;
                }
                .article-tag {
                    margin-left: 3px;
                }
            }

            .article-base {
                border-bottom: 1px solid #eeeeee;
                padding: 10px 10px 30px;
                .article-last-prev {
                    height: 20px;
                    .article-last {
                        display: inline-block;
                        color: #999999;
                        font-size: 12px;
                    }
                    .article-next {
                        float: right;
                        display: inline-block;
                        color: #999999;
                        font-size: 12px;
                    }
                    a:hover {
                        color: #6187DC;
                        text-decoration: underline;
                    }
                }

                .group-second {
                    font-size: 12px;
                    margin-top: 5px;
                    .clearfix();
                    .group-base {
                        width: 70px;
                        height: 35px;
                        border: 1px solid #eeeeee;
                        line-height: 35px;
                        text-align: center;
                        margin-right: 5px;
                        border-radius: 4px;
                        float: left;
                        font-size: 14px;
                    }
                    .group-base:hover {
                        border-color: #6187DC;
                        i {
                            color: #6187DC;
                        }
                        cursor: pointer;
                    }
                    .eye {
                        float: left;
                        width: 70px;
                        height: 35px;
                        line-height: 1.3;
                        margin-left: 8px;

                    }
                    .count {
                        display: inline-block;
                        color: #C8C4C4;
                    }

                    i {
                        margin-left: 5px;
                        font-size: 20px;
                        cursor: pointer;
                        color: #999999;
                    }

                    .support {
                        color: #6187DC;
                    }

                    .icon-thumbs-up,
                    .icon-article-share {
                        position: relative;
                        top: 3px;
                    }

                    .group-base {
                        .baidu-share {
                            position: absolute;
                            top: 20px;
                            left: -160px;
                        }
                    }

                    .eye {
                        .character {
                            display: block;
                            color: #C8C4C4;
                        }
                        .number {
                            display: block;
                            color: #C8C4C4;
                        }

                    }
                    .thumbs-up-box {
                        float: right;
                        .thumbs-up-img {
                            float: left;
                            max-width: 371px;
                            .thumbs-users {
                                float: left;
                                position: relative;
                                img {
                                    height: 30px;
                                    width: 30px;
                                    margin-left:5px;
                                    border:1px solid #eeeeee;
                                }
                                .user_id {
                                    display: none;
                                }
                            }
                        }
                        .img-more {
                            float: right;
                            margin-left: 10px;
                            a {
                                color: #6187DC;
                            }
                            a:hover{
                                color: #6187DC;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                        .img-less {
                            float: right;
                            margin-left: 10px;
                            display: none;
                            a {
                                color: #6187DC;
                            }
                            a:hover {
                                text-decoration: underline;
                                cursor: pointer;
                                color: #6187DC;
                            }

                        }
                    }
                }
            }
            .relative-content {
                margin-bottom: 26px;
                padding: 0 10px 30px;
                border-bottom: solid 1px #eee;
                h4 {
                    margin: 28px 0 18px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 16px;
                    color: #333;
                    font-weight: bold;
                }
                .content-list {
                    overflow: hidden;
                    margin: 0 -20px;
                    .content-item {
                        margin: 0 20px;
                        width: 200px;
                        display: inline-block;
                        vertical-align: top;
                        cursor: pointer;
                    }
                    .content-img {
                        margin-bottom: 8px;
                    }
                    img {
                        display: block;
                    }
                    .content-tag {
                        margin-right: 3px;
                        width: 38px;
                        height: 20px;
                        line-height: 20px;
                        font-size: 13px;
                        color: #f90;
                        border: solid 1px #f90;
                        border-radius: 2px;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
            .comment {
                padding: 0 10px;
                margin-bottom: -4px;
                overflow: hidden;
                .character {
                    float: left;
                    font-size: 16px;
                    font-weight: bold;
                }
                .report {
                    float: right;
                    color: #C8C4C4;
                    margin-top: 3px;
                    font-size: 12px;
                }
                .report:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

            }
            .comment-detail {
                margin-bottom: 75px;
                font-size: 12px;
                .comment-current {
                    padding: 10px 0px 0px 10px;
                    margin-top: 10px;
                    .user-img {
                        float: left;
                        height: 40px;
                        img {
                            border: 1px solid #eeeeee;
                            width: 40px;
                            height: 40px;
                        }
                        .no-login {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .form-group-display {
                        margin-left: 60px;
                        .form-controls {
                            margin-bottom: 20px;
                        }
                        .form-number-example {
                            width: 520px;
                            border-color: #eeeeee;
                        }
                    }
                    .form-group {
                        display: none;
                        .form-text {
                            margin-left: 20px;
                            width: 520px;
                            height: 80px;
                            box-shadow: none;
                            outline: none;
                            border-color: #6187DC;
                        }
                        .form-hint {
                            margin-left: 68px;
                            color: #e6e6e6;
                            display: none;
                        }

                        .form-action {
                            text-align: right;
                            padding: 10px 128px 0px 0px;
                            margin-top: 0px;
                            .btn-small {
                                width: 80px;
                                height: 28px;
                                line-height: 28px;
                                padding: 0px;
                            }
                            .btn {
                                width: 80px;
                                margin-left: 10px;
                                height: 28px;
                                line-height: 28px;
                                padding: 0px;
                            }
                        }
                    }
                    .comment-line {
                        display: none;
                    }
                }
                .detail-box{
                    overflow: hidden;
                    padding: 0px 0px 0px 10px;
                    .detail {
                        float: left;
                        line-height: 2.0;
                        width: 100%;
                        .user-img {
                            float: left;
                            img {
                                border: 1px solid #eeeeee;
                            }
                        }
                        .user-content {
                            overflow: hidden;
                            margin-left: 60px;
                            .user {
                                .user-name {
                                    font-weight: 600;
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                                .comment-time {
                                    margin-left: 15px;
                                    color: #C8C4C4;

                                    span {
                                        color: #C8C4C4;
                                    }
                                    &:hover {
                                        cursor: default;
                                    }
                                }

                                .user-id {
                                    display: none;
                                }
                                .on-delete {
                                    display: none;
                                    margin-left: 15px;
                                    color: #C8C4C4;

                                    span {
                                        color: #C8C4C4;
                                    }
                                    &:hover {
                                        color: #6187DC;
                                        cursor: pointer;
                                    }
                                }

                                .on-report {
                                    display: none;
                                    margin-left: 15px;
                                    color: #C8C4C4;

                                    span {
                                        color: #C8C4C4;
                                    }
                                    &:hover {
                                        color: #6187DC;
                                        cursor: pointer;
                                    }
                                }

                                .comment-id {
                                    display: none;
                                }

                                .comment-support {
                                    display: none;
                                }

                            }
                            .comment-reply {
                                position: relative;
                                overflow: hidden;
                                .comment-content {
                                    display: inline-block;
                                    float: left;
                                    .content-detail {
                                        display: inline-block;
                                        width: 520px;
                                        word-wrap: break-word;
                                    }
                                    &:hover {
                                        cursor: default;
                                    }
                                }

                                .reply {
                                    display: inline-block;
                                    bottom: 0;
                                    width: 80px;
                                    position: absolute;
                                    right: 0px;
                                    .on-delete {
                                        color: #6187DC;
                                    }
                                    .on-reply {
                                        color: #6187DC;
                                    }
                                    .on-reply:hover {
                                        cursor: pointer;
                                    }
                                    .answer:hover {
                                        text-decoration: underline;
                                    }
                                    .on-delete:hover {
                                        cursor: pointer;
                                    }
                                    .on-thumbs-up {
                                        display: inline-block;
                                        margin-left: 3px;
                                        color: #999999;
                                        .support {
                                           color: #6187DC;
                                        }
                                        .count {
                                            padding: 2px;
                                        }
                                    }
                                    .on-thumbs-up:hover {
                                        color: #6187DC;
                                        cursor: pointer;
                                        .count {
                                            color: #999999;
                                        }
                                    }

                                }

                            }
                        }
                    }

                }

                .detail-comment-input {
                    display: none;
                    float: left;
                    margin-top: 10px;
                    line-height: 2.0;
                    width: 700px;
                    .user-img {
                        float: left;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .form-group {
                        .form-controls {
                            .form-text {
                                margin-left: 20px;
                                width: 520px;
                                height: 80px;
                                box-shadow: none;
                                outline: none;
                                border-color: #6187DC;
                            }

                        }

                        .form-hint {
                            margin-left: 68px;
                            color: #e6e6e6;
                            display: none;
                        }

                        .form-action {
                            text-align: right;
                            padding: 10px 140px 0px 0px;
                            margin-top: 0px;
                            .btn-small {
                                width: 80px;
                                height: 28px;
                                line-height: 28px;
                                padding: 0px;
                            }
                            .btn {
                                width: 80px;
                                margin-left:10px;
                                height: 28px;
                                line-height: 28px;
                                padding: 0px;
                            }
                        }
                    }
                }
                hr {
                    background-color: #eeeeee;
                    border: 0;
                    height: 1px;
                    margin-left: 60px;
                }
                .comment-more {
                    text-align: center;
                    a {
                        display: none;
                        color: #6187DC;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    icon{
                        font-size: 12px;
                    }

                }

            }

        }
    }
}

//删除文章弹出对话框，验证码的布局
.vcode-wrapper{
    width: 290px;
    margin: 15px auto 0;
    overflow: hidden;
    .left-text{
        float: left;
        .input-text{
            line-height: 30px;
            width: 120px;
            padding: 0 8px;
            border: solid 1px #e6e6e6;
            &:focus{
                border-color: #f90;
            }
        }
    }
    .right-vcode{
        margin-left: 10px;
        float: left;
        img{
            position: relative;
            top: 5px;
            display: block;
        }
    }
    .error-tip{
        height: 23px;
        line-height: 23px;
        visibility: hidden;
        text-align: left;
        color: #f95710;
    }
}
