{{ $teachers = [] }}

{{ $teacher = [] }}
{{ $teacher.avatar = "http://img.gsxservice.com/30465_a4rc9mzq.jpeg@1e_167w_167h_1c_0i_1o_90Q_1x.jpeg" }}
{{ $teacher.url = "http://www.genshuixue.com/t/lqx1234" }}
{{ $teacher.desc = "演奏艺术是最直观、最真切，通过视听体现出来的，是人类艺术与技巧最高境界的表现方式之一。" }}
{{ $teacher.base_info = "刘倩希-钢琴" }}
{{ $teachers[] = $teacher }}

{{ $teacher = [] }}
{{ $teacher.avatar = "http://img.gsxservice.com/59955_vuyzo3s5.jpeg@1e_167w_167h_1c_0i_1o_90Q_1x.jpeg" }}
{{ $teacher.url = "http://www.genshuixue.com/t/abrsmwu" }}
{{ $teacher.desc = "艺术最能激发人们对于卓越才能、高尚情操和美好心灵的追求。" }}
{{ $teacher.base_info = "吴九阳-单簧管" }}
{{ $teachers[] = $teacher }}

{{ $teacher = [] }}
{{ $teacher.avatar = "http://img.gsxservice.com/67033_kqpqoox0.jpeg@1e_167w_167h_1c_0i_1o_90Q_1x.jpeg" }}
{{ $teacher.url = "http://www.genshuixue.com/t/caoyi1234" }}
{{ $teacher.desc = "艺术最大的魅力就是，你把快乐注入音乐，全世界都能感受到您的快乐。" }}
{{ $teacher.base_info = "曹艺-音乐素养" }}
{{ $teachers[] = $teacher }}

{{ $teacher = [] }}
{{ $teacher.avatar = "http://img.gsxservice.com/57062_ctqlfzsu.jpeg@1e_167w_167h_1c_0i_1o_90Q_1x.jpeg" }}
{{ $teacher.url = "http://www.genshuixue.com/t/konglei796" }}
{{ $teacher.desc = "学习艺术是一条漫长而曲折的道路，这条道路痛并快乐着，同时也是培养个人“逆商”的过程。" }}
{{ $teacher.base_info = "孔磊-钢琴" }}
{{ $teachers[] = $teacher }}

{{ $teacher = [] }}
{{ $teacher.avatar = "http://img.gsxservice.com/23282_xwyfmga7.jpeg@1e_167w_167h_1c_0i_1o_90Q_1x.jpeg" }}
{{ $teacher.url = "http://www.genshuixue.com/t/bimbodoro" }}
{{ $teacher.desc = "艺术给我们插上翅膀，带我们去到任何想去的地方。" }}
{{ $teacher.base_info = "谭立-小提琴" }}
{{ $teachers[] = $teacher }}

{{ $teacher = [] }}
{{ $teacher.avatar = "http://img.gsxservice.com/26013_ihv7c3y2.jpeg@1e_167w_167h_1c_0i_1o_90Q_1x.jpeg" }}
{{ $teacher.url = "http://www.genshuixue.com/t/Lyfscott" }}
{{ $teacher.desc = "艺术是一种高度的社会化体验，在团队演唱或器乐演奏中，孩子必须倾听自己，倾听其他人。" }}
{{ $teacher.base_info = "刘昱飞-钢琴" }}
{{ $teachers[] = $teacher }}

{{ $teacher = [] }}

{{ $videos = [] }}

{{ $video = [] }}
{{ $video.img = "http://i3.letvimg.com/yunzhuanma/201411/18/3e8bb52ecc795e8cc7a15bc544eb08c9/thumb/2.jpg" }}
{{ $video.url = "/video/view/4258" }}
{{ $video.id = "8441602" }}
{{ $video.name = "钢琴示范教学" }}
{{ $video.base_info = "张与弛-钢琴" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/kristypiano420" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i2.letvimg.com/lc_yunzhuanma/201412/15/e59064324e7c38677b20cd2be9086e16_25397338/thumb/2.jpg" }}
{{ $video.url = "/video/view/5183" }}
{{ $video.id = "8687357" }}
{{ $video.name = "单簧管视频教学" }}
{{ $video.base_info = "吴九阳-单簧管" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/abrsmwu" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i2.letvimg.com/yunzhuanma/201410/15/4ccdc56e2518adb3ad70d7ea118309c9/thumb/1_160_120.jpg" }}
{{ $video.url = "/video/view/2894" }}
{{ $video.id = "8015206" }}
{{ $video.name = "课堂展示" }}
{{ $video.base_info = "谭立-小提琴" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/bimbodoro" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i0.letvimg.com/lc_yunzhuanma/201412/13/2031d8c5eb3683e8760aebf7388bf134_25349875/thumb/1_160_120.jpg" }}
{{ $video.url = "/video/view/5113" }}
{{ $video.id = "8664455" }}
{{ $video.name = "任老师课堂" }}
{{ $video.base_info = "任杰-钢琴" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/rjpiano" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i1.letvimg.com/lc_yunzhuanma/201412/16/5c1bd64145b5345667d6cc2151b50deb_25419322/thumb/2.jpg" }}
{{ $video.url = "/video/view/5190" }}
{{ $video.id = "8688686" }}
{{ $video.name = "教学视频" }}
{{ $video.base_info = "李梦云-古筝" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/limengyun" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i3.letvimg.com/lc_yunzhuanma/201412/16/c5553ea63881b8203b287df8bedf58b8_25416336/thumb/2.jpg" }}
{{ $video.url = "/video/view/5184" }}
{{ $video.id = "8687520" }}
{{ $video.name = "声乐课堂片段" }}
{{ $video.base_info = "雍鉴君-声乐" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/yongjianjun796" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i2.letvimg.com/lc_yunzhuanma/201412/13/45e1b45953d8930f2075d4d82acee3c4_25352020/thumb/1_160_120.jpg" }}
{{ $video.url = "/video/view/5119" }}
{{ $video.id = "8665173" }}
{{ $video.name = "小马哥教学视频" }}
{{ $video.base_info = "马霄汉-钢琴" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/xiaohan" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i2.letvimg.com/lc_yunzhuanma/201412/16/20a9cca827b93a0fce8c996d873512c7_25417758/thumb/1_160_120.jpg" }}
{{ $video.url = "/video/view/5185" }}
{{ $video.id = "8687768" }}
{{ $video.name = "低音提琴课堂" }}
{{ $video.base_info = "马睿-低音提琴" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/daisymaria" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i2.letvimg.com/lc_yunzhuanma/201412/16/96f2865e7c2a4aa1f3c32dde40bae661_25432002/thumb/1_160_120.jpg" }}
{{ $video.url = " /video/view/5264" }}
{{ $video.name = "课程展示" }}
{{ $video.id = "8694114" }}
{{ $video.base_info = "刘昱飞-钢琴" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/Lyfscott" }}
{{ $videos[] = $video }}

{{ $video = [] }}
{{ $video.img = "http://i2.letvimg.com/lc_yunzhuanma/201412/10/027ee8899d2ea7c3c3c8fadf54a81c10_25277167/thumb/1_160_120.jpg" }}
{{ $video.url = " /video/view/4981" }}
{{ $video.name = "课程展示" }}
{{ $video.id = "8640023" }}
{{ $video.base_info = "汪竟立-钢琴" }}
{{ $video.teacher_url = "http://www.genshuixue.com/t/wjl1027" }}
{{ $videos[] = $video }}

{{ $vedio= [] }}
