.dynamic-child-tab {
    text-align: center;
    background: white;
    border-bottom: 1px solid #ededee;
    height: rem(42);
    line-height: rem(42);
    padding: 0 rem(15);
    margin-bottom: rem(10);
    .item {
        width: 20%;
        font-family: PingFang-SC-Regular;
        font-size: rem(15);
        color: #9D9D9E;
        float: left;
        &.on {
            color:#ff9100;
        }
    }
}