.container {
    .teacher-photo {
        padding: rem(5) rem(10);
        background: white;
        img {
            width: 32%;
            min-height: rem(96);
            margin-bottom: rem(5);
        }
    }
}