.skills-infos {
    padding: rem(4) 0;
    background: white;
    padding-bottom: rem(20);
    .title-line {
        background: #F8F8F8;
        text-align: center;
        position: relative;
        padding: rem(10) 0;
        top: rem(-2);
        .slide-close {
            position: absolute;
            right: rem(8);
            top: rem(5);
            font-size: rem(24);
            color: #cdcdce;
        }
    }
    .skills-box {
        padding: rem(18) rem(20);
        .item {
            display: inline-block;
            border: 1px solid #ddddde;
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #6D6D6E;
            letter-spacing: rem(-0.29);
            height: rem(28);
            line-height: rem(28);
            padding: 0 rem(10);
            margin-left: rem(5);
            margin-right: rem(5);
            margin-bottom: rem(8);
        }
    }
}