.container {
    .video-item {
        background: white;
        margin: rem(10) 0;
        padding: rem(15) rem(10) rem(10) rem(10);
        .first-nav {
            padding-left: rem(50);
            position: relative;
            .avatar {
                width: rem(40);
                height: rem(40);
                border-radius: rem(3);
                border: 1px solid #ededee;
                position: absolute;
                left: 0;
                top: 0;
            }
            .name {
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #3D3D3E;
                height: rem(20);
                line-height: rem(20);
            }
            .text {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #9D9D9E;
                line-height: rem(20);
                height: rem(20);
            }
        }
        .video-preface {
            position: relative;
            margin: rem(10) 0;
            .preface {
                position: relative;
                padding-top: 56%;
                .cover {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }
            .play-icon {
                height: rem(56);
                width: rem(56);
                position: absolute;
                top: 36%;
                left: 40%;
            }
        }
        .time {
            font-family: PingFang-SC-Regular;
            font-size: rem(13);
            color: #9D9D9E;
            line-height: rem(20);
            height: rem(20);
        }
    }
}