.container {
    .wenda-item {
        margin: rem(10) 0;
        background: white;
        padding: rem(15);
        .first-nav {
            position: relative;
            padding-left: rem(54);
            .avatar {
                width: rem(40);
                height: rem(40);
                border-radius: rem(3);
                border: 1px solid #ededee;
                position: absolute;
                left: 0;
                top: 0;
            }
            .name {
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                line-height: rem(15);
                color: #3d3d3e;
            }
            .text {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                line-height: rem(30);
                height: rem(30);
                color: #9d9d9e;
            }
        }
        .ask-content {
            padding-left: rem(34);
            position: relative;
            margin-top: rem(14);
            .ask {
                width: rem(24);
                height: rem(24);
                background: #ff9100;
                text-align: center;
                border-radius: rem(1);
                font-family: PingFang-SC-Regular;
                font-size: rem(12);
                color: #FFFFFF;
                letter-spacing: rem(-0.29);
                line-height: rem(24);
                position: absolute;
                left: 0;
                top: 0;
            }
            .question-content {
                word-break: break-all;
            }
            .ask-img {
                margin-top: rem(10);
                width: rem(300);
                .ask-img-item {
                    width: rem(90);
                    height: rem(90);
                    float: left;
                    margin-left: rem(2);
                    margin-right: rem(2);
                    margin-bottom: rem(4);
                }
                .ask-img-item-single {
                    width: rem(250);
                    height: rem(141);
                }
            }

        }
        .answer-content {
            position: relative;
            padding-left: rem(30);
            margin-top: rem(14);
            .answer {
                width: rem(24);
                height: rem(24);
                background: #6287D5;
                text-align: center;
                border-radius: rem(1);
                font-family: PingFang-SC-Regular;
                font-size: rem(12);
                color: #fff;
                letter-spacing: rem(-0.29);
                line-height: rem(24);
                position: absolute;
                left: 0;
                top: 0;
            }
            .answer-show {
                width: 80%;
                img {
                    width: 100%;
                }
                .audio-show {
                    width: 60%;
                    height: rem(40);
                    background: #84D55A;
                    border-radius: rem(3);
                    position: relative;
                    .audio-icon {
                        position: absolute;
                        height: rem(16);
                        width: rem(12);
                        left: rem(10);
                        top: rem(12);
                    }
                    .audio-lenth {
                        position: absolute;
                        left: 103%;
                        top: rem(14);
                        font-family: Helvetica;
                        font-size: rem(13);
                        color: #9D9D9E;
                        line-height: rem(13);
                        width: rem(60);
                    }
                }
                .answer-show-text {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(16);
                    color: #3C3D3E;
                    letter-spacing: rem(-0.39);
                    line-height: rem(22);
                    word-break: break-all;
                }
            }
        }

        .last-nav {
            margin-top: rem(10);
            position: relative;
            height: rem(30);
            line-height: rem(30);
            .time {
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                height: rem(30);
                line-height: rem(30);
                color: #9D9D9E;
            }
            .backup-number {
                position: absolute;
                right: 0;
                top: rem(2);
                font-family: PingFang-SC-Regular;
                font-size: rem(12);
                color: #9D9E9E;
                img {
                    height: rem(16);
                    width: rem(16);
                }
            }
        }
    }
}