{{ *

@file 一对一课程详情页 － 评价导航栏(参照班课样式)
@author niejianhui

* }}

{{ strip }}

{{ $additional = $tpl_data.comment_data.additional }}
{{ $comment_nav = $additional.comment_nav }}
{{ $comment_type = $additional.comment_type }}
{{ $count = $additional.face_type }}

<div class="bottom-nav">

    <b class="item item-all {{ if $comment_nav.face_type == 0 }} active{{ /if }}" data-face="" data-name="全部评价" data-num="{{ $count.total }}">
        全部评价（{{ $count.total }}）
    </b>

    <b class="item {{ if $comment_nav.face_type == 1 }} active{{ /if }}" data-face="1" data-name="好评" data-num="{{ $count.great }}">
        好评（{{ $count.great }}）
    </b>

    <b class="item {{ if $comment_nav.face_type == 2 }} active{{ /if }}" data-face="2" data-name="中评" data-num="{{ $count.middle }}">
        中评（{{ $count.middle }}）
    </b>

    <b class="item {{ if $comment_nav.face_type == 3 }} active{{ /if }}" data-face="3" data-name="差评" data-num="{{ $count.lower }}">
        差评（{{ $count.lower }}）
    </b>

</div>
{{ /strip }}