{{ *

@file 评论列表优化
@author niejianhui

* }}

{{ strip }}

{{ include file="common/variable/lesson.html" scope=parent }}

{{ if count($comment_paged.items) == 0 }}

    <div id="no-comment">
        <div id="commentIcon"></div>
        <div id="commentText">
            本课程暂无评价
        </div>
    </div>

    {{ include file="common/component/pager.html" page=$pager.current_page page_size=10 count=$pager.total nofollow=true }}

{{ else }}

    <div class="list">

        {{ foreach $comment_paged.items as $item }}

            <div class="item">
                <dl>
                    <dt>
                        <!--a href="/x/{{ $item.user.number }}" target="_blank"-->
                        {{ include file="common/component/avatar.html" type="small" img=$item.user.avatar_url }}
                        <!--/a-->

                        <div class="user-name">
                            {{ $item.user.display_name|cn_truncate:4 }}
                        </div>
                    </dt>
                </dl>

                <div class="comment">

                    <div class="score-info">
                        {{ include file="common/component/starScore.html" score=$item.score }}
                    </div>

                    <div class="content">
                        {{ $item.content|escape }}
                    </div>

                    <div class="order-info">
                        <span class="date">
                            {{ $item.create_time }}
                        </span>

                        <div class="feedback">
                            <b class="link btn-support" data-id="{{ $item.id }}" data-count="{{ $item.thumb_count }}">
                                有用
                                <span>
                                （<em>{{ $item.thumb_count }}</em>）
                                </span>
                            </b>
                        </div>
                    </div>

                    {{ if isset($item.addition_comments) && count($item.addition_comments) }}
                        {{ foreach $item.addition_comments as $addition }}
                        <div class="add-comment-show">
                            ［追加评论］{{ $addition.content }}
                        </div>
                        {{ /foreach }}
                    {{ /if }}

                    {{ if isset($item.reply_comments) && count($item.reply_comments) }}
                        {{ foreach $item.addition_comments as $reply }}
                        <div class="comment-reply">
                            ［回复］{{ $reply.content }}
                        </div>
                        {{ /foreach }}
                    {{ /if }}

                    {{ if isset($item.fold_comments) && count($item.fold_comments) }}
                        <div class="">
                            查看该用户其他{{ count($item.fold_comments) }}条评价
                        </div>
                        <ul class="">
                            {{ foreach $item.fold_comments as $fold }}
                            <li class="comment-reply">
                                ［其他评价］{{ $fold.content }}
                            </li>
                            {{ /foreach }}
                        </ul>
                    {{ /if }}

                </div>

            </div>

        {{ /foreach }}

    </div>

    {{ * if $tpl_data.comment_data.is_last_page == true * }}
        <div class="view-all">
            <a href="{{ $tpl_data.comment_data.view_all_url }}">查看老师全部评价></a>
        </div>
    {{ * /if * }}

    {{ include file="common/component/pager.html" page=$pager.page page_size=$pager.page_size count=$pager.count nofollow=true }}

{{ /if }}



{{ /strip }}