{{ *

@file 优选一对一课程详情 － 授课信息
@author wangyujie

* }}

{{ strip }}

<div id="course-intro">
    <h1 class="header">授课信息</h1>
    <div class="body">

        <ul>
            <li>
                <div class="title">
                    <i class="icon icon-book-o"></i>
                    授课科目
                </div>
                <div class="content">
                    {{ $course.name }}
                </div>
            </li>
            <li>
                <div class="title">
                    <i class="icon icon-mortarboard-o"></i>
                    授课类型
                </div>
                <div class="content">
                    {{ foreach $course.categories as $cate }}
                        <em>{{ $cate.name }}</em>
                    {{ /foreach }}
                </div>
            </li>
            {{ include file="common/variable/lesson.html" scope=parent }}
            <li>
                <div class="title">
                    <i class="icon icon-group-o"></i>
                    授课方式
                </div>
                <div class="content">
                    {{ foreach $course.lesson_ways as $way }}
                        <em>{{ $lessonMap[$way] }}</em>
                    {{ /foreach }}
                </div>
            </li>
            {{ if $course.address }}
            <li>
                <div class="title">
                    <i class="icon icon-location-o"></i>
                    授课区域
                </div>
                <div class="content">
                    {{ $course.address.area_path_str }}
                </div>
            </li>
            {{ /if }}
        </ul>

        {{ if $course.address }}
        <div id="map">
        </div>
        {{ /if }}

    </div>
</div>

{{ /strip }}