@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qasqgk');
  src:  url('fonts/icomoon.eot?qasqgk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qasqgk') format('truetype'),
    url('fonts/icomoon.woff?qasqgk') format('woff'),
    url('fonts/icomoon.svg?qasqgk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_hireclassroom:before {
  content: "\ea4b";
  color: #9d9d9e;
}
.icon-ic_huifang:before {
  content: "\ea4c";
  color: #9d9d9e;
}
.icon-ic_kecheng:before {
  content: "\ea4d";
  color: #9d9d9e;
}
.icon-ic_logo:before {
  content: "\ea4e";
  color: #fff;
}
.icon-ic_refresh:before {
  content: "\ea4f";
  color: #9d9d9e;
}
.icon-ic_tuichu:before {
  content: "\ea50";
  color: #979797;
}
.icon-ic_yijian:before {
  content: "\ea51";
  color: #9d9d9e;
}
.icon-ic_zhibo:before {
  content: "\ea52";
  color: #9d9d9e;
}
.icon-ic_cancel2:before {
  content: "\ea0a";
  color: #9d9d9e;
}
.icon-ic_finish:before {
  content: "\ea0b";
  color: #9d9d9e;
}
.icon-ic_section:before {
  content: "\ea0c";
  color: #9d9d9e;
}
.icon-ic_backup:before {
  content: "\ea0d";
  color: #ffcb00;
}
.icon-ic_downall:before {
  content: "\ea0e";
  color: #37a4f5;
}
.icon-ic_newfolder:before {
  content: "\ea28";
  color: #6d6d6e;
}
.icon-ic_delete2:before {
  content: "\ea29";
}
.icon-ic_down:before {
  content: "\ea2a";
}
.icon-ic_downlord_hover:before {
  content: "\ea2b";
  color: #cdcdce;
}
.icon-ic_edit:before {
  content: "\ea2c";
}
.icon-ic_forbiddown_hover:before {
  content: "\ea2d";
  color: #cdcdce;
}
.icon-ic_move2:before {
  content: "\ea2e";
}
.icon-ic_publicclass_hover:before {
  content: "\ea0f";
  color: #cdcdce;
}
.icon-ic_chapter:before {
  content: "\ea10";
  color: #9d9d9e;
}
.icon-ic_delete:before {
  content: "\ea11";
  color: #37a4f5;
}
.icon-ic_fail:before {
  content: "\ea12";
  color: #fc5c5a;
}
.icon-ic_move:before {
  content: "\ea13";
  color: #37a4f5;
}
.icon-ic_uplord_cancel:before {
  content: "\ea2f";
  color: #9d9d9e;
}
.icon-ic_uplord_pause:before {
  content: "\ea30";
  color: #9d9d9e;
}
.icon-ic_uplordsuccess:before {
  content: "\ea31";
  color: #43b244;
}
.icon-ic_arrow_down:before {
  content: "\ea32";
}
.icon-ic_arrow_up:before {
  content: "\ea33";
}
.icon-ic_sort:before {
  content: "\ea34";
  color: #9d9d9e;
}
.icon-ic_minus:before {
  content: "\ea35";
}
.icon-ic_add:before {
  content: "\ea14";
}
.icon-ic_calendar:before {
  content: "\ea15";
}
.icon-ic_cancel:before {
  content: "\ea16";
}
.icon-ic_choosevideo:before {
  content: "\ea17";
}
.icon-ic_detail:before {
  content: "\ea18";
}
.icon-ic_dingdan:before {
  content: "\ea36";
}
.icon-ic_uplord:before {
  content: "\ea37";
}
.icon-angle-down2:before {
  content: "\ea38";
}
.icon-angle-left:before {
  content: "\ea39";
}
.icon-angle-right-circle2:before {
  content: "\ea3a";
}
.icon-angle-right:before {
  content: "\ea3b";
}
.icon-angle-up2:before {
  content: "\ea3c";
}
.icon-arrow-up2:before {
  content: "\ea19";
}
.icon-caret-down2:before {
  content: "\ea1a";
}
.icon-caret-left2:before {
  content: "\ea1b";
}
.icon-caret-right2:before {
  content: "\ea1c";
}
.icon-caret-up2:before {
  content: "\ea1d";
}
.icon-caret-updown:before {
  content: "\ea3d";
}
.icon-check2:before {
  content: "\ea3e";
}
.icon-clock-large-o2:before {
  content: "\ea3f";
}
.icon-clock-o2:before {
  content: "\ea40";
}
.icon-comment-org:before {
  content: "\ea41";
}
.icon-download2:before {
  content: "\ea42";
}
.icon-favor2:before {
  content: "\ea43";
}
.icon-frown-o2:before {
  content: "\ea1e";
}
.icon-help2:before {
  content: "\ea1f";
}
.icon-logo2:before {
  content: "\ea20";
}
.icon-long-arrow-down:before {
  content: "\ea21";
}
.icon-nav-new:before {
  content: "\ea22";
}
.icon-neutral-o2:before {
  content: "\ea44";
}
.icon-phone2:before {
  content: "\ea45";
}
.icon-play-oo2:before {
  content: "\ea46";
}
.icon-plus-circle2:before {
  content: "\ea47";
}
.icon-plus-o2:before {
  content: "\ea48";
}
.icon-search2:before {
  content: "\ea49";
}
.icon-smile-o2:before {
  content: "\ea4a";
}
.icon-star-half2:before {
  content: "\ea23";
}
.icon-star-o2:before {
  content: "\ea24";
}
.icon-times-circle2:before {
  content: "\ea25";
}
.icon-user-o2:before {
  content: "\ea26";
}
.icon-video-camera:before {
  content: "\ea27";
}
.icon-alipay-circle:before {
  content: "\e900";
}
.icon-angle-down:before {
  content: "\e901";
}
.icon-angle-right-circle:before {
  content: "\e902";
}
.icon-angle-up:before {
  content: "\e903";
}
.icon-anytime-joinclass:before {
  content: "\e904";
}
.icon-anytime-quitclass:before {
  content: "\e905";
}
.icon-arrow-circle:before {
  content: "\e906";
}
.icon-arrow-down-o:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-arrow-o:before {
  content: "\e909";
}
.icon-arrow-sort:before {
  content: "\e90a";
}
.icon-arrow-up-o:before {
  content: "\e90b";
}
.icon-arrow-up-small:before {
  content: "\e90c";
}
.icon-arrow-up:before {
  content: "\e90d";
}
.icon-arrows:before {
  content: "\e90e";
}
.icon-article-arrow:before {
  content: "\e90f";
  color: #6187dc;
}
.icon-article-share:before {
  content: "\e910";
}
.icon-assessment:before {
  content: "\e911";
}
.icon-attachment:before {
  content: "\e912";
}
.icon-audition:before {
  content: "\e913";
}
.icon-baidu-circle:before {
  content: "\e914";
}
.icon-ban-o:before {
  content: "\e915";
}
.icon-ban:before {
  content: "\e916";
}
.icon-bars-circle:before {
  content: "\e917";
}
.icon-bars-o:before {
  content: "\e918";
}
.icon-bell:before {
  content: "\e919";
}
.icon-big-phone-o:before {
  content: "\e91a";
}
.icon-book-large-o:before {
  content: "\e91b";
}
.icon-book-o:before {
  content: "\e91c";
}
.icon-book-open-o:before {
  content: "\e91d";
}
.icon-book-slope:before {
  content: "\e91e";
}
.icon-book:before {
  content: "\e91f";
}
.icon-bullseye:before {
  content: "\e920";
}
.icon-buy:before {
  content: "\e921";
}
.icon-calendar:before {
  content: "\e922";
}
.icon-camera-o:before {
  content: "\e923";
}
.icon-camera:before {
  content: "\e924";
}
.icon-cannot-quitclass:before {
  content: "\e925";
}
.icon-caret-down:before {
  content: "\e926";
}
.icon-caret-left:before {
  content: "\e927";
}
.icon-caret-right:before {
  content: "\e928";
}
.icon-caret-up:before {
  content: "\e929";
}
.icon-cash-large-o:before {
  content: "\e92a";
}
.icon-certification-o:before {
  content: "\e92b";
}
.icon-certification:before {
  content: "\e92c";
}
.icon-chat-large-o:before {
  content: "\e92d";
}
.icon-chat-o:before {
  content: "\e92e";
}
.icon-chat:before {
  content: "\e92f";
}
.icon-check-circle:before {
  content: "\e930";
}
.icon-check-o:before {
  content: "\e931";
}
.icon-check:before {
  content: "\e932";
}
.icon-chevron-left:before {
  content: "\e933";
}
.icon-chevron-right:before {
  content: "\e934";
}
.icon-chinese:before {
  content: "\e935";
}
.icon-chinesenew:before {
  content: "\e936";
}
.icon-circle-o:before {
  content: "\e937";
}
.icon-circle:before {
  content: "\e938";
}
.icon-clock-large-o:before {
  content: "\e939";
}
.icon-clock-o:before {
  content: "\e93a";
}
.icon-clock:before {
  content: "\e93b";
}
.icon-close:before {
  content: "\e93c";
}
.icon-comment:before {
  content: "\e93d";
}
.icon-coupon-o:before {
  content: "\e93e";
}
.icon-coupons:before {
  content: "\e93f";
}
.icon-course-class:before {
  content: "\e940";
}
.icon-customer:before {
  content: "\e941";
}
.icon-date:before {
  content: "\e942";
}
.icon-deduct:before {
  content: "\e943";
  color: #000;
}
.icon-delete:before {
  content: "\e944";
}
.icon-deliver:before {
  content: "\e945";
}
.icon-direction:before {
  content: "\e946";
}
.icon-door-o:before {
  content: "\e947";
}
.icon-door:before {
  content: "\e948";
}
.icon-douban:before {
  content: "\e949";
}
.icon-download:before {
  content: "\e94a";
}
.icon-duigou:before {
  content: "\e94b";
  color: #f26627;
}
.icon-ebank:before {
  content: "\e94c";
  color: #555;
}
.icon-edit-o:before {
  content: "\e94d";
}
.icon-edit-underline:before {
  content: "\e94e";
}
.icon-ellipsis-o:before {
  content: "\e94f";
}
.icon-expression:before {
  content: "\e950";
}
.icon-eye:before {
  content: "\e951";
}
.icon-favor:before {
  content: "\e952";
}
.icon-feedback:before {
  content: "\e953";
}
.icon-file-o:before {
  content: "\e954";
}
.icon-fire:before {
  content: "\e955";
}
.icon-flag-o:before {
  content: "\e956";
}
.icon-frown-o:before {
  content: "\e957";
}
.icon-gift:before {
  content: "\e958";
}
.icon-group-o:before {
  content: "\e959";
}
.icon-group:before {
  content: "\e95a";
}
.icon-heart-o:before {
  content: "\e95b";
}
.icon-heart:before {
  content: "\e95c";
}
.icon-help:before {
  content: "\e95d";
}
.icon-home-circle:before {
  content: "\e95e";
}
.icon-home-o:before {
  content: "\e95f";
}
.icon-home:before {
  content: "\e960";
}
.icon-ic_applelogo:before {
  content: "\e961";
  color: #6d6d6d;
}
.icon-ic-safeguard:before {
  content: "\e962";
  color: #555;
}
.icon-image-more:before {
  content: "\e963";
}
.icon-image-o:before {
  content: "\e964";
}
.icon-image:before {
  content: "\e965";
}
.icon-info-circle:before {
  content: "\e966";
}
.icon-info-o:before {
  content: "\e967";
}
.icon-interested:before {
  content: "\e968";
}
.icon-iphone-icon:before {
  content: "\e969";
}
.icon-it:before {
  content: "\e96a";
}
.icon-k12:before {
  content: "\e96b";
}
.icon-language:before {
  content: "\e96c";
}
.icon-left-large:before {
  content: "\e96d";
}
.icon-level-1:before {
  content: "\e96e";
}
.icon-level-2:before {
  content: "\e96f";
}
.icon-level-3:before {
  content: "\e970";
}
.icon-level-4:before {
  content: "\e971";
}
.icon-level-5:before {
  content: "\e972";
}
.icon-level-6:before {
  content: "\e973";
}
.icon-level-7:before {
  content: "\e974";
}
.icon-level-8:before {
  content: "\e975";
}
.icon-level-9:before {
  content: "\e976";
}
.icon-level-10:before {
  content: "\e977";
}
.icon-level-11:before {
  content: "\e978";
}
.icon-level-12:before {
  content: "\e979";
}
.icon-level-13:before {
  content: "\e97a";
}
.icon-level-14:before {
  content: "\e97b";
}
.icon-level-15:before {
  content: "\e97c";
}
.icon-level-16:before {
  content: "\e97d";
}
.icon-level-17:before {
  content: "\e97e";
}
.icon-level-18:before {
  content: "\e97f";
}
.icon-lifelogo:before {
  content: "\e980";
}
.icon-lifelogonew:before {
  content: "\e981";
}
.icon-lightning-circle:before {
  content: "\e982";
}
.icon-lightning-o:before {
  content: "\e983";
}
.icon-lightning:before {
  content: "\e984";
}
.icon-limit-joinclass:before {
  content: "\e985";
}
.icon-limit-quitclass:before {
  content: "\e986";
}
.icon-list-o:before {
  content: "\e987";
}
.icon-live-play:before {
  content: "\e988";
}
.icon-live:before {
  content: "\e989";
}
.icon-location-o:before {
  content: "\e98a";
}
.icon-location:before {
  content: "\e98b";
}
.icon-lock:before {
  content: "\e98c";
}
.icon-logo:before {
  content: "\e98d";
}
.icon-mail-circle:before {
  content: "\e98e";
}
.icon-mail:before {
  content: "\e98f";
}
.icon-manage-o:before {
  content: "\e990";
  color: #9d9e9e;
}
.icon-markting-o:before {
  content: "\e991";
}
.icon-medal-o:before {
  content: "\e992";
}
.icon-medal:before {
  content: "\e993";
}
.icon-message-o:before {
  content: "\e994";
}
.icon-message:before {
  content: "\e995";
}
.icon-microphone:before {
  content: "\e996";
}
.icon-minus-circle:before {
  content: "\e997";
}
.icon-mobile-circle:before {
  content: "\e998";
}
.icon-mobile-o:before {
  content: "\e999";
}
.icon-mobile:before {
  content: "\e99a";
}
.icon-money-large-o:before {
  content: "\e99b";
}
.icon-money-o:before {
  content: "\e99c";
}
.icon-mortarboard-o:before {
  content: "\e99d";
}
.icon-move-file:before {
  content: "\e99e";
}
.icon-netdisk:before {
  content: "\e99f";
}
.icon-neutral-o:before {
  content: "\e9a0";
}
.icon-new-folder:before {
  content: "\e9a1";
}
.icon-org:before {
  content: "\e9a2";
}
.icon-page-next:before {
  content: "\e9a3";
}
.icon-page-prev:before {
  content: "\e9a4";
}
.icon-pencil-circle:before {
  content: "\e9a5";
}
.icon-pencil:before {
  content: "\e9a6";
}
.icon-peoplenew:before {
  content: "\e9a7";
}
.icon-peoplenumber:before {
  content: "\e9a8";
}
.icon-phone-circle:before {
  content: "\e9a9";
}
.icon-phone-o:before {
  content: "\e9aa";
}
.icon-phone:before {
  content: "\e9ab";
}
.icon-picture:before {
  content: "\e9ac";
  color: #d9d9d9;
}
.icon-pictures:before {
  content: "\e9ad";
}
.icon-pitch-on:before {
  content: "\e9ae";
}
.icon-plan:before {
  content: "\e9af";
}
.icon-plane:before {
  content: "\e9b0";
  color: #f90;
}
.icon-play-o:before {
  content: "\e9b1";
}
.icon-play-oo:before {
  content: "\e9b2";
}
.icon-plus-circle:before {
  content: "\e9b3";
}
.icon-plus-o:before {
  content: "\e9b4";
}
.icon-plus:before {
  content: "\e9b5";
}
.icon-portrait-o:before {
  content: "\e9b6";
}
.icon-prize:before {
  content: "\e9b7";
}
.icon-profile-o:before {
  content: "\e9b8";
}
.icon-profile-rect:before {
  content: "\e9b9";
}
.icon-qq-circle:before {
  content: "\e9ba";
}
.icon-qq:before {
  content: "\e9bb";
}
.icon-qr-code:before {
  content: "\e9bc";
}
.icon-question-circle:before {
  content: "\e9bd";
}
.icon-question:before {
  content: "\e9be";
}
.icon-quit:before {
  content: "\e9bf";
}
.icon-qzone:before {
  content: "\e9c0";
}
.icon-rank-o:before {
  content: "\e9c1";
}
.icon-rank:before {
  content: "\e9c2";
}
.icon-recording:before {
  content: "\e9c3";
}
.icon-recycle-bin:before {
  content: "\e9c4";
}
.icon-refresh-new:before {
  content: "\e9c5";
}
.icon-refresh:before {
  content: "\e9c6";
}
.icon-rename:before {
  content: "\e9c7";
}
.icon-renren-circle:before {
  content: "\e9c8";
}
.icon-reply:before {
  content: "\e9c9";
}
.icon-right-large:before {
  content: "\e9ca";
}
.icon-rmb-o:before {
  content: "\e9cb";
}
.icon-rmb:before {
  content: "\e9cc";
}
.icon-safety-money-o:before {
  content: "\e9cd";
}
.icon-safety-money:before {
  content: "\e9ce";
}
.icon-screen-o:before {
  content: "\e9cf";
}
.icon-screen:before {
  content: "\e9d0";
}
.icon-search-large-o:before {
  content: "\e9d1";
}
.icon-search-plus:before {
  content: "\e9d2";
}
.icon-search:before {
  content: "\e9d3";
}
.icon-see-another:before {
  content: "\e9d4";
}
.icon-send-o:before {
  content: "\e9d5";
}
.icon-setting-o:before {
  content: "\e9d6";
}
.icon-setting:before {
  content: "\e9d7";
}
.icon-share-o:before {
  content: "\e9d8";
}
.icon-share:before {
  content: "\e9d9";
}
.icon-shield-large-o:before {
  content: "\e9da";
}
.icon-shield-o:before {
  content: "\e9db";
}
.icon-shopping-cart:before {
  content: "\e9dc";
}
.icon-shutdown:before {
  content: "\e9dd";
}
.icon-sign:before {
  content: "\e9de";
}
.icon-smile-o:before {
  content: "\e9df";
}
.icon-sort:before {
  content: "\e9e0";
}
.icon-speaker:before {
  content: "\e9e1";
}
.icon-star-half:before {
  content: "\e9e2";
}
.icon-star-o:before {
  content: "\e9e3";
}
.icon-star:before {
  content: "\e9e4";
}
.icon-student:before {
  content: "\e9e5";
}
.icon-subtract-o:before {
  content: "\e9e6";
}
.icon-sun-o:before {
  content: "\e9e7";
}
.icon-symbolb:before {
  content: "\e9e8";
}
.icon-symbolt:before {
  content: "\e9e9";
}
.icon-target-large-o:before {
  content: "\e9ea";
}
.icon-teach-detail:before {
  content: "\e9eb";
}
.icon-thumbs-up-large-o:before {
  content: "\e9ec";
}
.icon-thumbs-up:before {
  content: "\e9ed";
}
.icon-tieba:before {
  content: "\e9ee";
}
.icon-time:before {
  content: "\e9ef";
}
.icon-timenew:before {
  content: "\e9f0";
}
.icon-times-circle:before {
  content: "\e9f1";
}
.icon-times:before {
  content: "\e9f2";
}
.icon-to-classromm:before {
  content: "\e9f3";
}
.icon-triangle-oblong:before {
  content: "\e9f4";
}
.icon-triangle:before {
  content: "\e9f5";
}
.icon-true-comment-o:before {
  content: "\e9f6";
}
.icon-tv:before {
  content: "\e9f7";
}
.icon-up:before {
  content: "\e9f8";
}
.icon-user-o:before {
  content: "\e9f9";
}
.icon-user:before {
  content: "\e9fa";
}
.icon-v-o:before {
  content: "\e9fb";
}
.icon-variety:before {
  content: "\e9fc";
}
.icon-vip:before {
  content: "\e9fd";
}
.icon-warning:before {
  content: "\e9fe";
}
.icon-wave-left:before {
  content: "\e9ff";
  color: #f00;
}
.icon-wave-right:before {
  content: "\ea00";
  color: #f00;
}
.icon-webcam-o:before {
  content: "\ea01";
}
.icon-wechat-circle:before {
  content: "\ea02";
}
.icon-wechat-o:before {
  content: "\ea03";
}
.icon-wechat:before {
  content: "\ea04";
}
.icon-weibo-circle:before {
  content: "\ea05";
}
.icon-weibo:before {
  content: "\ea06";
}
.icon-wheat:before {
  content: "\ea07";
  color: #f00;
}
.icon-write:before {
  content: "\ea08";
}
.icon-writer:before {
  content: "\ea09";
  color: #6085d7;
}
.icon-align-center:before {
  content: "\ea53";
}
.icon-align-left:before {
  content: "\ea54";
}
.icon-bold:before {
  content: "\ea55";
}
.icon-font:before {
  content: "\ea56";
}
.icon-image2:before {
  content: "\ea57";
}
.icon-live-o:before {
  content: "\ea58";
}
.icon-microphone2:before {
  content: "\ea59";
}
.icon-text-o:before {
  content: "\ea5a";
}
.icon-text:before {
  content: "\ea5b";
}
.icon-align-center2:before {
  content: "\ea5c";
}
.icon-align-left2:before {
  content: "\ea5d";
}
