.single-teaching-plan-dialog {
    .margin-top {
        margin-top: 10px;
    }

    .course-date {
        width: 136px;
    }
    .hour ,
    .minute {
        width: 60px;
    }
    .ending {
        padding-right: 0;
    }
    .start-time, .end-time {
        position: relative;
        margin: 0 8px;
        width: 129px;

        & > input {
            width: 100%;
            margin-right: 0;
        }

        & > .trigger {
            position: absolute;
            right: 14px;
            top: 8px;
        }

        .text-info {
            float: right;
        }
    }

    .schedule-error {
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .teacher-error {
        margin-top: 10px;
    }

    .teacher-list {
        min-width: 136px;
    }

    .form-group {
        .form-label {
            width: 140px;
            padding-right: 26px;
            float: none;
            display: inline-block;
            vertical-align: top;
        }

        .form-controls {
            display: inline-block;
        }
        &.class-line {
            margin-bottom: -10px;
        }

        .delete-class-plan {
            background: #f90;
            color: #fff;
            padding: 8px 10px;
            border-radius: 2px;
            cursor: pointer;
        }

        .input-desc {
            color: #aaa;
            font-size: 12px;
            margin-top: 10px;
        }

    }

    .action-container {

        text-align: center;
        margin-top: 20px;

        .add-single-schedule {
            margin-right: 20px;
        }
    }
}