.head-img {
  height: rem(261);
  .img-background {
    padding-top:0;
    height: 100%;
    background: -webkit-linear-gradient(-45deg,rgba(99,31,0,1) 100px,rgba(155,67,0,1) 180px,rgba(99,31,0,1) 220px,rgba(155,67,0,1) 300px) center center no-repeat;
  }
  .edit-banner {
    height: 20%;
  }
  .edit-background {
    top: rem(10);
  }
}
.common-teacher-info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-25%);
  width: 100%;
  text-shadow: rem(2) rem(2) rem(2) rgba(0,0,0,0.4);
  .recommend {
    width: rem(32);
    height: rem(18);
    position: absolute;
    top: rem(-5);
    left: 43%;
    transform: translateX(-43%);
    background: #ff6c00;
    color: #ffffff;
    font-size: rem(12);
    border-radius: rem(5);
    line-height: rem(18);
    display: inline-block;
    text-align: center;
  }
  .avatar {
    position: relative;
    width: rem(62);
    margin: 0 auto;
    .avatar-info {
      width: rem(62);
      height: rem(62) ;
      border: 2px solid #ffffff;
      border-radius: rem(8);
      overflow: hidden;
      margin: 0 auto;
      background: rgb(249,249,249);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .christmas-hat {
      width: rem(52);
      height: rem(52);
      right: rem(-25);
      top: rem(-27);
    }
    .christmas-tree {
        width: rem(77);
        height: rem(34);
        left: rem(-11);
        bottom: rem(-3);
    }
    .teacher-audio {
      border: 1px solid #ffffff;
      border-radius: rem(5);
      position: absolute;
      right: rem(-100);
      width: rem(70);
      top: rem(15);
      background: transparent;
      opacity: 0.5;
      font-size: rem(12);
      color: #ffffff;
      padding: 0 rem(6);
      height: rem(30);
      line-height: rem(30);
      img {
        width: rem(16);
        height: rem(16);
        position: absolute;
        top: 50%;
        left: rem(6);
        transform: translateY(-50%);
      }
      .audio-length {
        position: absolute;
        right: rem(6);
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      .audio {
        height: rem(30);
        width: rem(70);
        position: absolute;
        left: 0;
        top: 0;
        z-index:2;
      }
    }
  }

  .teacher-name {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    margin-top: rem(5);
    font-size: rem(20);
    position: relative;
    padding: 0 rem(10);
    .name {
      display: inline-block;
      max-width: 73%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 1;
    }
    .sex-vip {
      position: absolute;
      display: inline-block;
      top: 43%;
      transform: translateY(-45%);
      line-height: 1;
      .teacher-gold {
        margin-left: rem(3);
        display: inline-block;
        img {
            height: rem(22);
            vertical-align: top;
        }
      }
      .teacher-sex {
        display: inline-block;
        margin-left: rem(3);
        img {
          width: rem(19);
          height: rem(19);
          vertical-align: bottom;
        }
      }
      .teacher-vip {
        display: inline-block;
        img {
          width: rem(19);
          height: rem(21);
          vertical-align: bottom;
        }
      }
    }

  }
  .org-name {
    margin-top: rem(5);
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: rem(12);
  }
  .self-brief {
    margin-top: rem(5);
    color: #ffffff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: rem(12);
    text-align: center;
  }
  .age {
    text-align: center;
    color: #ffffff;
    font-size: rem(12);
    span {
      display: inline-block;
      margin-right: rem(10);
    }
  }
}