.goldorg-profile {
    background-color: #fff;
    .inner-container {
        width: 1100px;
        margin: 0 auto;
        padding: 20px 0;
        position: relative;
        text-align: center;
        #header {
            .wrapper {
                height: 60px;
                .logo,
                .city {
                    display: none;
                }
                .search-form {
                    left: 690px;
                    top: 0;
                    .search-select {
                        .cur-item {
                            text-align: left;
                        }
                        .select-list {
                            .select-item {
                                text-align: left;
                            }
                        }
                    }
                    .search-input {
                        border-color: #ff6c00;
                        width: 350px;
                    }
                    .btn {
                        background-color: #ff6c00;
                        padding: 0 10px !important;
                        &:hover {
                            background-color: #ff5c00;
                        }
                    }
                    .search-suggestion {
                        width: 335px;
                        .menu-item {
                            width: 335px !important;
                            .dashboard {
                                right: 8px;
                            }
                            .org-title,
                            .org-slogan {
                                height: 16px;
                                width: 130px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                        }
                    }
                }
            }
        }
        .profile-detail {
            z-index: 3;
            width: 680px;
            position: absolute;
            left: 0;
            bottom: 25px;
            text-align: left;
            .org-avatar,
            .detail-info,
            .certification {
                display: inline-block;
            }
            .org-avatar {
                margin-right: 10px;
                position: relative;
                top: 12px;
                img {
                    border-radius: 4px;
                    border: 1px solid #DDDDDE;
                }
            }
            .detail-info {
                position: relative;
                bottom: -10px;
                text-align: left;
                .first-child {
                    margin-bottom: 10px;
                }
                span {
                    font-size: 13px;
                    color: #6D6D6E;
                    line-height: 13px;
                }
                .org-name {
                    font-size: 26px;
                    color: #3C3D3D;
                    font-weight: bold;
                    line-height: 26px;
                    margin-right: 15px;
                }
                .org-addr {
                    i {
                        margin-right: 3px;
                    }
                }
            }
            .certification {
                width: 202px;
                height: 66px;
                cursor: pointer;
                background: url('../../../img/org/pic_renzheng_pc.png');
                background-position: 50%;
                background-size: cover;
                position: relative;
                top: 10px;
                margin-left: 25px;
                .cert-medal {
                    position: absolute;
                    display: none;
                    top: 88px;
                    left: -95px;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
                    .inner-container {
                        width: 380px;
                        height: 567px;
                        background: #FFFAE5;
                        border: 6px solid #D29E48;
                        .gold-cert {
                            width: 234px;
                            height: 140px;
                            background: url('../../../img/org/pic_goldandfont_pc.png');
                            background-position: 50%;
                            background-size: cover;
                            margin: 50px auto;
                        }
                        .org-name {
                            font-size: 28px;
                            color: #DB0F06;
                            font-weight: bold;
                            text-align: center;
                            margin-bottom: 20px;
                        }
                        .text-info {
                            font-size: 16px;
                            color: #3D3D3E;
                            margin-bottom: 100px;
                            text-align: center;
                        }
                        .website-logo {
                            width: 188px;
                            height: 43px;
                            background: url('../../../img/org/pic_renzhenglogo_pc.png');
                            background-position: 50%;
                            background-size: cover;
                            margin: 20px auto;
                        }
                        .contract-number {
                            font-size: 10px;
                            color: #3D3D3E;
                            text-align: center;
                            margin-bottom: 3px;
                        }
                        .effective-time {
                            font-size: 10px;
                            color: #3D3D3E;
                            text-align: center;
                        }
                    }
                }
            }
            .contact-way {
                position: absolute;
                right: -413px;
                bottom: -20px;
                font-size: 15px;
                color: #FF6C00;
            }
        }
    }
}