/**
 * @file 机构导航
 * @author jixiaohui
 */
@import '../../common/component/callingDialog.less';
@import "../../common/component/advisoryDialog.less";

.org-nav {
    width: 100%;
    height: 42px;
    background: #ff6c00;

    .inner {
        width: 1100px;
        margin: 0 auto;
        ul {
            float: left;
            height: 100%;
            width: auto;
            li {
                float: left;
                width: 80px;
                height: 42px;
                padding-top: 7px;
                text-align: center;
                a {
                    width: 75px;
                    line-height: 29px;
                    display: block;
                    color: #fff;
                    font-size: 17px;
                }
            }

            li.active {
                a {
                    color: #ff6c00;
                    background: #fff;
                    border-radius: 3px;
                    font-weight: bold;
                }
            }
        }

        .mobile {
            float: right;
            font-size: 16px;
            color: #fff;
            background: #6eb321;
            margin: 10px 0;
            padding: 0 10px;
            line-height: 30px;
            border-radius: 2px;

            &:hover {
                background: #579c0a;
                cursor: pointer;
            }

            i {
                margin-right: 5px;
            }
        }

        .four-hundred {
            float: right;
            color: #fff;
            margin: 10px 0;
            padding: 0 10px;
            line-height: 30px;
            font-weight: normal;
            i {
                color: @brand-primary;
                font-size: 18px;
                margin-right: @gap-horizontal-tiny;
            }
        }

        .btn-trial {
            font-size: 16px;
            float: right;
            height: 30px;
            margin-top: 11px;
            margin-left: @gap-horizontal-tiny;
            .icon {
                font-size: 16px;
                margin-right: @gap-horizontal-tiny;
            }
        }

    }
}
.goldorg-nav {
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .inner {
        ul {
            li {
                a {
                    color: #3d3d3e;
                    font-size: 16px;
                }
                text-align: left;
            }
            li.active {
                a {
                    color: #ff6c00;
                    font-weight: bold;
                }
            }
        }
        .action {
            display: inline-block;
            margin-top: 12px;
            float: right;
            margin-right: 8px;
            & > span {
                cursor: pointer;
                i {
                    margin-right: 5px;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                }
                .share-icon {
                    position: relative;
                    top: 2px;
                    background: url("../../../img/org/ic_share_pc.png") no-repeat;
                }
                font-size: 13px;
                color: #9d9d9e;
            }
            .favor {
                margin-left: 20px;
            }
            .favored {
                color: #ff9900;
            }
            .social-share {
                position: relative;
            }
        }
        .clearfix {
            clear: both;
        }
    }
}

.nav-fixed {
    position: fixed;
    top: 0;
    z-index: 3;
}

.path {
    margin: 20px auto;
    width: 1100px;
}

#footer {
    padding: 30px 0 0;
}

#org-inner-link {
    text-align: center;
    margin: 0 auto;
    height: auto;
    line-height: 50px;
    font-size: 12px;
    background: #fff;

    li {
        display: inline-block;

        a {
            margin-right: 7px;
            color: #9d9d9d;
        }
    }
    #inner-link{
        line-height: normal;
    }
}

#crumb {
    clear: both;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #3d3d3d;
    width: 1100px;
    margin: 0 auto;

    li {
        float: left;
        margin-right: 10px;
    }
}