.listen-content {
  background: #ffffff;
  width: 100%;
  padding-bottom: rem(30);
  position: relative;
  bottom: 0;
  .listen-title {
    background: #f7f9fa;
    padding: rem(10);
    font-size: rem(16);
    position: relative;
    border-top: 1px solid #f0f1f2;
    border-bottom: 1px solid #f0f1f2;
    .title-info {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 95%;
      display: inline-block;
    }
    .close-icon {
      width: 20%;
      text-align: right;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      .icon {
        margin-right: rem(10);
      }
    }
  }
  .remind-msg {
    font-size: rem(12);
    margin: 0 auto;
    text-align: left;
    color: #9d9e9e;
    padding: rem(8) rem(10);
    border-bottom: 1px solid #f0f1f2;
    .icon {
      color: #ff9100;
      margin-left: rem(3);
    }
  }
  .mobile {
    padding: rem(10);
    .mobile-login {
      font-size: rem(15);
      span {
        color: #9d9d9e;
        display: inline-block;
        margin-right: rem(10);
      }
    }
    input {
      border: none;
      outline: none;
    }
    .mobile-input {
      position: relative;
      padding: rem(10);
      border: 1px solid #dcddde;
      .gain-code {
        font-size: rem(14);
        color: #9d9e9e;
        position: absolute;
        right: rem(10);
      }
      .allow-gain {
        color: #3fa5f2;
      }
    }

  }
  .listen-words {
    padding: rem(10);
    border-top: 1px solid #f0f1f2;
    margin-left: rem(10);
    font-size: rem(14);
    .words-input {
      position: relative;
      span {
        position: absolute;
        top: -2%;
        left: 0;
      }
      textarea {
        border: none;
        color: #333333;
        margin-left: rem(40);
        resize: none;
        width: 86%;
      }
    }

  }
  .limit-remind {
    text-align: right;
    padding: 0 rem(10) rem(10) rem(10);
    font-size: rem(9);
    color: #f95e5e;
  }
  .listen-action {
    padding: rem(10);
    margin: 0 auto;
    text-align: center;
    width: 94%;
    background: #90caf9;
    font-size: rem(16);
    color: #ffffff;
  }
  .action-able {
    background: #3fa5f2;
  }
}