{{ *

@file 一对一课程详情页
@author wangyujie

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}
    {{ $smarty.block.parent }}

    {{ $script_path = "one2one/detail_5c21b91a64" }}
    {{ $script_data.teacherNum = $tpl_data.teacher.number }}
    {{ $script_data.teacherName = $tpl_data.teacher.name }}
    {{ $script_data.course = $tpl_data.course }}
    {{ $script_data.favored = $tpl_data.favorite.is_favored }}
    {{ $script_data.mUrl = $tpl_data.course.m_url }}
    {{ $script_data.domain = $tpl_data.teacher.private_domain }}
    {{ $script_data.trial = $tpl_data.trial_course_info }}
    {{ $script_data.teacherId = $tpl_data.teacher.id }}
    {{ $script_data.courseNumber = $tpl_data.course.number }}
    {{ $script_data.medium = $tpl_data.teacher.photos }}
    {{ $script_data.crumb = $tpl_data.course_path[3].remark_name }}

    {{ $script_data.trialCourseStatus = $tpl_data.trial_course_info.status }}

    {{ if not empty($tpl_data.teacher.org) }}
        {{ $script_data.orgNumber = $tpl_data.teacher.org.number }}
        {{ if not empty($tpl_data.teacher.org.support_tianxiao) }}
            {{ $script_data.isTianxiaoOrg = $tpl_data.teacher.org.support_tianxiao }}
        {{ /if }}
    {{ else }}
        {{ $script_data.orgNumber = 0 }}
    {{ /if }}

    {{ * 分享 * }}
    {{ $baidu_share_text = "#跟谁学# 分享一门课程给你哦~"|cat: $tpl_data.course.name }}
    {{ $baidu_share_text = $baidu_share_text|cat: "，还在等什么？找好老师，上跟谁学，快来开启寻师之旅吧！" }}
    {{ $baidu_share_image = $tpl_data.teacher.avatar }}
    {{ $baidu_query = "跟谁学" }}

    {{ * 登录窗判断 * }}
    {{ $login_dialog_config.student_only = true }}

{{ /block }}

{{ block name="title" }}
{{ strip }}
    【1对1】{{ $tpl_data.course.name }}_{{ $tpl_data.course_path['3'].remark_name }}培训_{{ $tpl_data.course_path['2'].name }}培训_{{ $tpl_data.teacher.name }}-跟谁学
{{ /strip }}
{{ /block }}

{{ block name="keywords" }}
{{ strip }}
    {{ $tpl_data.course.name }}
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}
    {{ $tpl_data.teacher.name }}{{ $tpl_data.course.name }}一对一课程{{ $tpl_data.course.min_price }}-{{ $tpl_data.course.max_price }}，上课地址{{ $tpl_data.teacher.location }}，更多{{ $tpl_data.teacher.name }}课程尽在跟谁学。
{{ /strip }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/one2one/detail_e51740e592.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

<div class="vip_template {{ $tpl_data.template }}">
    <div class="main_contain">
        <div id="main">
            <div class="crumb">
                <div class="course-number">
                    课程编号：{{ $tpl_data.course.number }}
                </div>
                <a href="{{ $tpl_data.crumb.host }}">
                    跟谁学{{ $tpl_data.crumb.city.name }}站
                </a>
                <span class="splitter">&nbsp;&gt;&nbsp;</span>

                <a href="{{ $tpl_data.crumb.host }}sc--1.html">
                    {{ $tpl_data.crumb.city.name }}课程
                </a>
                <span class="splitter">&nbsp;&gt;&nbsp;</span>

                <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}.html">
                    {{ $tpl_data.course_path['1'].name }}培训
                </a>
                <span class="splitter">&nbsp;&gt;&nbsp;</span>

                <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}_{{ $tpl_data.course_path['2'].id }}.html">
                    {{ $tpl_data.course_path['2'].name }}培训
                </a>
                <span class="splitter">&nbsp;&gt;&nbsp;</span>

                <div class="related-a">

                    <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}_{{ $tpl_data.course_path['2'].id }}_{{ $tpl_data.course_path['3'].id }}.html">
                        {{ $tpl_data.course_path['3'].remark_name }}培训
                    </a>

                    {{ if isset($tpl_data.course_related) }}
                        <ul class="related">
                        {{ foreach $tpl_data.course_related as $related }}
                            <li>
                                <a href="{{ $tpl_data.crumb.host }}sc--1-{{ $tpl_data.course_path['1'].id }}_{{ $tpl_data.course_path['2'].id }}_{{ $related.id }}.html" target="_blank">
                                    {{ $related.name }}
                                </a>
                            </li>
                        {{ /foreach }}
                        </ul>
                    {{ /if }}
                </div>

            </div>

            {{ include "one2one/detail/profile.html" teacher=$tpl_data.teacher course=$tpl_data.course favorite=$tpl_data.favorite coupon=$tpl_data.coupon listen=$tpl_data.trial_course_info }}

            {{ if $tpl_data.teacher.org || $tpl_data.related_course.list }}
            <div id="sidebar">
                {{ if $tpl_data.teacher.org }}
                    <div id="sidebar-box" class="card">
                        {{ include file="one2one/detail/org.html" org=$tpl_data.teacher.org }}
                    </div>
                {{ /if }}

                {{ include file="one2one/detail/relatedcourse.html" relatedcourse=$tpl_data.related_course.list title="老师其他课程" }}
            </div>
            {{ /if }}

            <div id="content">

                <div class="fixed-header">
                    <div class="wrapper">

                        <div class="course-price">
                            {{ if $tpl_data.course.min_price != $tpl_data.course.max_price }}
                                <strong>
                                    ￥{{ $tpl_data.course.min_price }}-{{ $tpl_data.course.max_price }}
                                </strong>
                            {{ else }}
                                <strong>
                                    ￥{{ $tpl_data.course.min_price }}
                                </strong>
                            {{ /if }}
                            <em>/小时</em>
                        </div>

                        <div class="course-action">

                            <div class="enroll-listen">
                                <button class="reserve-listen">预约试听</button>
                            </div>

                            <div class="enroll-action">
                                <button class="btn-primary reserve-course">购买课时</button>
                            </div>
                        </div>

                        <div class="course-info">
                            <h1>
                                {{ $tpl_data.course.name|cn_truncate: 18 }}<br />
                            </h1>
                            <div class="course-address">
                                <span class="label">
                                    <i class="icon icon-location-o"></i>
                                </span>
                                <span class="content" data-title="{{ $tpl_data.teacher.location|escape }}">
                                    {{ $tpl_data.teacher.location|escape|cn_truncate:30 }}
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="header card">
                    <div class="wrapper tab-nav tab-nav-primary">

                        <div class="nav-item-container">

                            <a class="nav-item active" href="#course-info">
                                <span>课程信息</span>
                            </a>

                            <a class="nav-item" href="#course-teacher">
                                <span>关于老师</span>
                            </a>

                            {{ * 支持学生上门方可显示上课地址 * }}
                            {{ if isset($tpl_data.course.price.student) && $tpl_data.course.price.student }}
                            <a class="nav-item" href="#course-address">
                                <span>上课地址</span>
                            </a>
                            {{ /if }}

                            <a class="nav-item" href="#teacher-comment">
                                <span>
                                    评价<!--（{ $tpl_data.comment_data.additional.comment_type.total.total_count }）-->
                                </span>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="body">
                    <div class="card">
                        {{ include file="one2one/detail/courseInfo.html" course=$tpl_data.course }}
                    </div>
                    <div class="card">
                        {{ include file="one2one/detail/teacherIntro.html" teacher=$tpl_data.teacher }}
                    </div>
                    <div class="card">
                        {{ if isset($tpl_data.course.price.student) && $tpl_data.course.price.student }}
                            {{ include file="one2one/detail/address.html" tpl_data=$tpl_data.teacher }}
                        {{ /if }}
                    </div>
                    <div class="card">
                        {{ include file="one2one/detail/comment.html" }}
                    </div>
                </div>
                {{ include file="common/component/baiduMap.html" }}
            </div>
        </div>

        {{ if isset($tpl_data.is_preview) && $tpl_data.is_preview }}
        <div class="mask">
            <div class="alpha-mask"></div>
            <div class="half-alpha-mask"></div>
            <p>
                <span>这是预览页面，不可操作哦~</span>
                <br />
                （预览页面包含未审核的信息，只有通过审核的信息才会展示在真实的个人主页哦！）
            </p>
        </div>
        {{ /if }}
    </div>
</div>
{{ /strip }}
{{ /block }}












