{{ *

@file 网站头部
@author zhujialu

* }}
{{ strip }}

<div id="header">
<div class="wrapper">
        <div class="apply-form" >
            <ul class="apply-app">
                <li data-target="allApp" class="all">所有应用</li>
                <li data-target="studentApp" class="student">学生APP</li>
                <li data-target="teacherApp" class="teacher">老师APP</li>
                <li data-target="orgApp" class="org">
                    <a href="http://i.genshuixue.com/above">机构APP</a>
                </li>
            </ul>
        </div>

    <a href="{{ $root_http }}" class="logo"><sup>测试版</sup></a>

    <div class="apply">
        下载APP
    </div>

</div>

</div>
</div>
{{ /strip }}
