{{ *

@file 教育信息表单
@author wangyujie

* }}

{{ strip }}
<div class="form form-background">

    <h2>教育信息</h2>

    <script id="school-list-dialog" type="text-plain">
        <input type="hidden" name="school_type" />
        <ul class="country-list"></ul>
        <ul class="province-list"></ul>
        <ul class="city-list"></ul>
        <ul class="area-list"></ul>
        <ul class="school-list"></ul>
    </script>

<!--大学 5-->
    <div class="university">

        <script id="tpl-university" type="text-plain">
            <div class="university-card" data-index="1">

                <div class="form-group">
                    <label class="form-label">
                        大学：
                    </label>
                    <div class="form-controls">

                        <input type="text" class="form-text" name="university" readonly="readonly" />
                        <input type="hidden" class="form-text" name="university_id" />
                        <input type="hidden" class="form-text" name="id" />

                        <div class="enter-school">
                            {{ include file="common/component/dateSelect.html" }}
                        </div>

                        <div class="action del-university inline">
                            <i class="icon icon-minus-circle"></i>
                            删除这个大学
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">
                        身份：
                    </label>

                    <div class="form-controls">
                        <div class="dropdown identity">
                            <button class="btn-default">
                                <i class="caret"></i>
                                <span>- 请选择类型 -</span>
                            </button>
                            <ul class="dropdown-menu">
                                {{ include file="common/variable/educationType.html" scope=parent }}
                                {{ foreach $eduTypeMap as $key => $name }}
                                    <li data-value="{{ $key }}">
                                        {{ $name }}
                                    </li>
                                {{ /foreach }}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">
                        院系：
                    </label>

                    <div class="form-controls">
                        <div class="dropdown department">
                            <button class="btn-default">
                                <i class="caret"></i>
                                <span>- 院系 -</span>
                            </button>
                            <ul class="dropdown-menu"></ul>
                        </div>

                    </div>
                </div>

            </div>
        </script>

        <div class="university-list"></div>

        <div id="add-university" class="action">
            <i class="icon icon-plus-circle"></i>
            添加大学
        </div>

    </div>
<!--高中 2-->
    <div class="senior">

        <script id="tpl-senior" type="text-plain">
            <div class="senior-card" data-index="1">

                <div class="form-group">

                    <label class="form-label">
                        高中：
                    </label>

                    <div class="form-controls">

                        <input type="text" class="form-text" name="senior" readonly="readonly" />
                        <input type="hidden" class="form-text" name="senior_id" />
                        <input type="hidden" class="form-text" name="id" />

                        <div class="enter-school">
                            {{ include file="common/component/dateSelect.html" }}
                        </div>

                        <div class="action del-senior inline">
                            <i class="icon icon-minus-circle"></i>
                            删除这个高中
                        </div>

                    </div>
                </div>

                <div class="form-group">

                    <label class="form-label">
                        班级：
                    </label>

                    <div class="form-controls">

                        <div class="senior-class">
                            <span class="prefix">高一</span>
                            <input type="text" class="form-text" name="grade_one" maxlength="30" />
                            <span class="suffix">班</span>
                        </div>

                        <div class="senior-class">
                            <span class="prefix">高二</span>
                            <input type="text" class="form-text" name="grade_two" maxlength="30" />
                            <span class="suffix">班</span>
                        </div>

                        <div class="senior-class">
                            <span class="prefix">高三</span>
                            <input type="text" class="form-text" name="grade_three" maxlength="30" />
                            <span class="suffix">班</span>
                        </div>
                    </div>
                </div>

            </div>
        </script>

        <div class="senior-list"></div>

        <div id="add-senior" class="action">
            <i class="icon icon-plus-circle"></i>
            添加高中
        </div>

    </div>
<!--中专 2-->
    <div class="technical">

        <script id="tpl-technical" type="text-plain">
            <div class="technical-card" data-index="1">

                <div class="form-group">

                    <label class="form-label">
                        中专技校：
                    </label>

                    <div class="form-controls">

                        <input type="text" class="form-text" name="technical" readonly="readonly" />
                        <input type="hidden" class="form-text" name="technical_id" />
                        <input type="hidden" class="form-text" name="id" />

                        <div class="enter-school">
                            {{ include file="common/component/dateSelect.html" }}
                        </div>

                        <div class="action del-technical inline">
                            <i class="icon icon-minus-circle"></i>
                            删除
                        </div>

                    </div>

                </div>
            </div>
        </script>

        <div class="technical-list"></div>

        <div id="add-technical" class="action">
            <i class="icon icon-plus-circle"></i>
            添加中专技校
        </div>

    </div>
<!--初中 2-->
    <div class="junior">

        <script id="tpl-junior" type="text-plain">
            <div class="junior-card" data-index="1">

                <div class="form-group">

                    <label class="form-label">
                        初中：
                    </label>

                    <div class="form-controls">

                        <input type="text" class="form-text" name="junior" readonly="readonly" />
                        <input type="hidden" class="form-text" name="junior_id" />
                        <input type="hidden" class="form-text" name="id" />

                        <div class="enter-school">
                            {{ include file="common/component/dateSelect.html" }}
                        </div>

                        <div class="action del-junior inline">
                            <i class="icon icon-minus-circle"></i>
                            删除
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <div class="junior-list"></div>

        <div id="add-junior" class="action">
            <i class="icon icon-plus-circle"></i>
            添加初中
        </div>

    </div>
<!--小学 2-->
    <div class="primary">

        <script id="tpl-primary" type="text-plain">
            <div class="primary-card" data-index="1">

                <div class="form-group">

                    <label class="form-label">
                        小学：
                    </label>

                    <div class="form-controls">
                        <input type="hidden" class="form-text" name="id" />

                        <div class="primary-suggestion">
                            <input type="text" class="suggestion-input form-text" name="primary" maxlength="30" />
                            <input type="hidden" name="primary_id" />
                            <ul class="suggestion-list"></ul>
                        </div>

                        <div class="enter-school">
                            {{ include file="common/component/dateSelect.html" }}
                        </div>

                        <div class="action del-primary inline">
                            <i class="icon icon-minus-circle"></i>
                            删除
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <div class="primary-list"></div>

        <div id="add-primary" class="action">
            <i class="icon icon-plus-circle"></i>
            添加小学
        </div>

    </div>

    <div class="form-action">
        <button class="btn-primary btn-save">保存</button>
        <button class="btn-default btn-cancel">取消</button>
    </div>

</div>
{{ /strip }}