.score-span {
    height: rem(20);
    display: inline-block;
    line-height: rem(20);
    float: left;
    position: relative;
    top: rem(2);
    .icon-star_all {
        float: left;
        font-size: rem(13);
        margin-right: rem(1);
        &.active-star {
            color: #ff9100;
        }
        &.grey-star {
            color: #ededed;
        }
    }
    .star-icon {
        float: left;
        position: relative;
        .grey-star {
            color: #ededed;
            font-size: rem(14);
        }
        .active-star {
            position: absolute;
            left: 0;
            top: 0;
            color: #ff9100;
            font-size: rem(14);
        }
    }
}