.article2 {
    padding: rem(66) rem(15);
    background-image: url(/src/page/activity/liudanActivity/common/img/class_background.png);
    background-size: 100% 100%;
    .title {
        font-size: rem(26);
        color: #FFFFFF;
        line-height: rem(32);
        text-align: center;
    }
    .content {
        opacity: 0.5;
        font-size: rem(15);
        color: #FFFFFF;
        letter-spacing: rem(-0.31);
        line-height: rem(22);
        margin: rem(15) 0 rem(10) 0;
    }
    .class-container {
        margin-top: rem(30);
        display: flex;
        justify-content: center;
        .class {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: rem(25);
            .icon-img {
                display: block;
                width: rem(60);
                height: rem(60);
            }
            .icon-exp {
                font-size: rem(14);
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: rem(14);
                text-align: center;
                margin-top: rem(15);
            }
        }
        .last-class {
            margin-right: 0;
        }
    }
}