@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

.content{
  padding: 0 rem(15) rem(30) rem(15);
  position: relative;
  .item{
    margin-top: rem(20);
    font-size: rem(13);
    color: #9d9e9e;
  }
  .how{
    font-size: rem(14);
    color: #6d6e6e;
    margin-top: rem(10);
  }
    .photo-content{
      margin-top: rem(10);
      li{
        float: left;
        margin-right: rem(10);

      }
      div{
        width: rem(60);
        height: rem(60);
        border-radius: rem(4);
        overflow: hidden;
      }
    }
  .detail-btn {
    position: fixed;
    bottom: rem(30);
    left: 50%;
    margin-left: rem(-50);
    font-size: rem(13);
    line-height: rem(15);
    height: rem(28);
    border: 1px solid #3fa5f2;
    color: #3fa5f2;
    padding: rem(6) rem(10);
    overflow: hidden;
    border-radius: rem(4);
    cursor: pointer;
  }
}