.comment {
    //margin-top: rem(10);
    background: white;
    .first-nav {
        padding: rem(10) rem(15);
    }
    .content {
        .box {
            border-bottom: 1px solid #F8F7EB;
            padding: rem(10) 0;
        }
        .first-content {
            position: relative;
            padding: 0 rem(15);
            padding-left: rem(65);
            min-height: rem(60);
            .avatar {
                position: absolute;
                top: 0;
                left: rem(10);
                img {
                    height: rem(45);
                    width: rem(45);
                    border-radius: 50%;
                }
            }
            .header {
                padding-top: rem(2);
                .name {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(14);
                    color: #9D9E9E;
                    height: rem(20);
                    line-height: rem(20);
                    padding-bottom: rem(20);
                }
                .type {
                    position: relative;
                    .face {
                        width: rem(15);
                        height: rem(15);
                        position: absolute;
                        top: rem(7);
                    }
                }
                .score_desc {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #9D9E9E;
                    display: inline-block;
                    position: absolute;
                    top: rem(6);
                    left: rem(20);
                }
                .star {
                    margin-left: rem(48);
                    display: inline-block;
                    span {
                        float: left;
                        img {
                            height: rem(15);
                            width: rem(15);
                        }
                    }
                }
            }
        }
        .second-course {
            font-family: PingFang-SC-Regular;
            font-size: rem(13);
            color: #9D9E9E;
            line-height: rem(15);
            //height: rem(15);
            padding-left: rem(15);
            padding-right: rem(15);
        }
        .third-content {
            padding: 0 rem(15);
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #3C3D3D;
            line-height: rem(20);
            padding-bottom: rem(12);
            padding-top: rem(6);
            text-align: justify;
            word-break: break-word;
        }
        .additional {
            .item {
                background: #f4f4f4;
                padding: rem(10);
                position: relative;
                margin-top: rem(15);
                width: 92%;
                margin-left: 4%;
                border: 1px solid #ededed;
                .narrow {
                    position: absolute;
                    width: 0;
                    height: 0;
                    font-size: 0;
                    border: solid 8px;
                    border-color: #fff #fff #f4f4f4 #fff;
                    top: rem(-16);
                    left: rem(25);
                }
                .title {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #FF6C00;
                    height: rem(15);
                    line-height: rem(15);
                }
                .info {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(14);
                    color: #3C3D3D;
                    line-height: rem(20);
                    margin: rem(10) 0;
                    word-break: break-word;
                }
                .time {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #9D9E9E;
                    line-height: rem(12);
                    height: rem(12);
                }
            }
        }
        .photots {
            padding: rem(10);
            img {
                width: rem(70);
                height: rem(46);
                display: inline-block;
                border-radius: rem(2);
                margin-bottom: rem(10);
                margin-right: rem(2);
                margin-left: rem(2);
            }
        }
        .last-content {
            font-family: PingFang-SC-Regular;
            font-size: rem(12);
            color: #9D9E9E;
            line-height: rem(15);
            height: rem(15);
            padding: 0 rem(15);
        }
    }
    .empty-comment {
        text-align: center;
        padding-bottom: rem(30);
        color: #9d9d9e;
        font-size: rem(14);
    }
    //padding: rem(10) rem(15);
}