
.course-nav {
    position: relative;
    border-bottom: rem(1) solid #f2f2f2;
    &.fix-course-tab {
        position: fixed;
        top: rem(45);
        z-index: 3;
        left: 0;
        right: 0;
    }

    .tab {
        background: white;
        width: 100%;
        display: flex;
        padding: 0 rem(10) 0;
        height: rem(35);
        line-height: rem(35);
        .item {
            flex: 1;
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #9D9D9E;
            letter-spacing: rem(-0.37);
            line-height: rem(30);
            height: rem(30);
            text-align: center;
            height: rem(35);
            line-height: rem(35);
            &.active {
                border-bottom: rem(2) solid #ff6c00;
                color: #ff6c00;
            }
        }
        .all {
            flex: 1.5;
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #6D6D6E;
            letter-spacing: rem(-0.37);
            height: rem(35);
            line-height: rem(35);
            text-align: center;
            img {
                width: rem(14);
                height: rem(16);
                margin-left: rem(2);
            }
        }
    }
    .box {
        background: white;
        position: absolute;
        z-index: 100;
        width: 100%;
        display: none;
        .it {
            height: rem(40);
            line-height: rem(40);
            border-bottom: 1px solid #F7F7F8;
            color: #6D6D6E;
            span {
                float: left;
                margin-left: rem(20);
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                letter-spacing: rem(-0.37);
                line-height: rem(39);
                height: rem(39);
            }
            img {
                float: right;
                margin-right: rem(15);
                height: rem(16);
                width: rem(16);
                margin-top: rem(12);
                &.hide {
                    display: none;
                }
            }
            &.active {
                color: #ff6c00;
            }
        }
    }
}

    .course-content {
        //margin-top: rem(10);
        background: white;
        padding: 0 rem(15) 0 rem(15);
        position: relative;
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: black;
            z-index: 10;
            opacity: 0.8;
            display: none;
        }
        .item {
            position: relative;
            padding-left: rem(130);
            min-height: rem(89);
            padding-top: rem(14);
            border-bottom: rem(1) solid #F6F6F7;
            padding-bottom: rem(10);

            .avatar {
                height: rem(67);
                width: rem(120);
                border-radius: rem(4);
                position: absolute;
                top: rem(10);
                left: 0;
            }
            .name {
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #3E3E3E;
                letter-spacing: rem(-0.37);
                line-height: rem(15);
            }
            .tag {
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                color: #9D9D9E;
                letter-spacing: rem(-0.32);
            }
            .last-time {
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                color: #9D9D9E;
                letter-spacing: rem(-0.32);
            }
            .price {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #FF6C00;
                letter-spacing: rem(-0.34);
                line-height: rem(14);
                height: rem(22);
                line-height: rem(22);
                .free {
                    color: #41b14b;
                    display: inline-block;
                }
                .fenqi{
                    background: #37A4F5;
                    color: #ffffff;
                    font-size: rem(9);
                    padding: rem(3) rem(5);
                    border-radius: rem(2);
                    position: relative;
                    top: rem(-1);
                    margin-left: rem(4);
                }
            }
            .favor {
                position: absolute;
                bottom: rem(10);
                right: 0;
                img {
                    height: rem(15);
                    width: rem(15);
                }
            }
            .favor-info {
                position: relative;
                .favor-narrow {
                    position: absolute;
                    width: 0;
                    height: 0;
                    font-size: 0;
                    border: rem(7) solid;
                    border-color: #fff #fff black;
                    top: rem(-14);
                    right: rem(15);
                    opacity: 0.6;
                }
                .favor-mask {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    background: black;
                    opacity: 0.6;
                    height: rem(40);
                    border-radius: rem(4);
                    width: rem(120);
                }
                .favor-course {
                    color: white;
                    position: absolute;
                    z-index: 2;
                    right: rem(25);
                    height: rem(30);
                    line-height: rem(30);
                    top: rem(4);
                    font-size: rem(16);
                }
                &.hide {
                    display: none;
                }
            }
        }
    }