.gold-coupon-box {
    width: rem(70);
    height: rem(70);
    position: fixed;
    top: 65%;
    right: rem(10);
    z-index: 100;
    .hide {
        display: none;
    }
    .coupon-info-big, .coupon-info-small {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .cover {
            width: rem(70);
            height: rem(70);
        }
        .title {
            position: absolute;
            top: rem(5);
            width: 100%;
            text-align: center;
            font-family: MicrosoftYaHei-Bold;
            font-size: rem(12.72);
            height: rem(40);
            line-height: rem(20);
            color: #F8F8F8;
            letter-spacing: rem(-0.2);
        }
        .desc {
            font-family: MicrosoftYaHei;
            font-size: rem(10.18);
            color: #F8F8F8;
            letter-spacing: rem(0.07);
            position: absolute;
            top: rem(24);
            width: 100%;
            text-align: center;
        }
        .price {
            font-family: MicrosoftYaHei-Bold;
            font-size: rem(16);
            color: #F8F8F8;
            letter-spacing: rem(-0.4);
            position: absolute;
            top: rem(43);
            width: 100%;
            text-align: center;
        }
    }
    .coupon-info-small {
        .title {
            font-size: rem(17);
        }
    }
}