@import "page/orgDetail/render/lunbo.styl";
@import "page/orgDetail/render/comment.styl";
.coupon {
    margin-top: rem(10);
    padding: rem(10) rem(15);
    background: white;

    .coupon-content {
        width: 100%;
        .item {
            width: 32%;
            display: inline-block;
            position: relative;
            height: rem(51);
            //width: 30%;
            img {
                width: 100%;
                height: rem(50);
            }
            .coupon-ite {
                text-align: center;
                margin-left: rem(-10);
                position: absolute;
                top: rem(6);
                left: rem(0);
                right: rem(0);
                bottom: rem(0);
                height: rem(48);
                .icon {
                    margin-right: rem(-6);
                }
                .money {
                    font-family: SanFranciscoDisplay-Semibold;
                    font-size: rem(18);
                    color: #C38C3B;
                    letter-spacing: rem(-0.61);
                    line-height: rem(25);
                    .money {
                        font-size: rem(20);
                        font-weight: bold;
                    }
                }
                .text {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #C38C3B;
                    letter-spacing: rem(-0.29);
                    line-height: rem(12);
                }
            }
        }
    }
}

.course {
    margin-top: rem(10);
    background: white;
    padding: rem(10) rem(15);
    .course-content {
        padding: 0;
        .item {
            position: relative;
            padding-left: rem(130);
            min-height: rem(89);
            img {
                height: rem(67);
                width: rem(120);
                border-radius: rem(4);
                position: absolute;
                top: rem(10);
                left: 0;
            }
            .name {
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #3E3E3E;
                letter-spacing: rem(-0.37);
                line-height: rem(17);
            }
            .tag {
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                color: #9D9D9E;
                letter-spacing: rem(-0.32);
                margin-top: rem(5);
            }
            .last-time {
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                color: #9D9D9E;
                letter-spacing: rem(-0.32);
                margin-top: rem(5);
            }
            .price {
                font-family: PingFang-SC-Regular;
                font-size: rem(14);
                color: #FF6C00;
                letter-spacing: rem(-0.34);
                line-height: rem(14);
                height: rem(20);
                line-height: rem(20);
                .fenqi{
                    background: #37a4f5;
                    border-radius: rem(2);
                    color: #fff;
                    font-size: rem(9);
                    line-height: rem(9);
                    padding: rem(3) rem(5);
                    margin-left: rem(3);
                    position: relative;
                    top: rem(-1);
                    &.hide{
                        display: none;
                    }
                }
            }
        }
    }
}

.more {
    font-family: PingFang-SC-Regular;
    font-size: rem(14);
    color: #9D9D9E;
    letter-spacing: rem(-0.34);
    height: rem(40);
    line-height: rem(40);
    text-align: center;
    border-top: 1px solid #FBF8EB;
    border-bottom: 1px solid #FBF8EB;
    background: white;
    img {
        height: rem(12);
        width: rem(8);
    }
}

.hot-teacher {
    margin-top: rem(10);
    background: white;
    padding: rem(10) rem(15);
}

.detail {
    margin-top: rem(10);
    background: white;
    padding: rem(10) rem(15) 0 rem(15);
    .first-nav {
        margin-bottom: rem(0);
    }
    .info {
        max-height: rem(300);
        overflow: hidden;
        text-align: justify;
        img {
            width: 100%!important;
        }
    }
}
.into-more {
    height: rem(40);
    line-height: rem(40);
    text-align: center;
    font-family: PingFang-SC-Regular;
    font-size: rem(14);
    color: #FF6C00;
    letter-spacing: rem(0);
    width: 100%;
    background: white;
    img {
        height: rem(12);
        width: rem(8);
        margin-left: rem(5);
    }
}
.area {
    background: white;
    margin-top: rem(10);
    padding: rem(10) rem(15);
    margin-bottom: rem(10);
    .first-nav {
        margin-bottom: 0;
    }
}