.record-card {
    width: 90%;
    margin-left: 5%;
    position: fixed;
    top: rem(40);
    left: 0;
    right: 0;
    z-index: 200;
    background: white;
    padding: rem(10);
    .record-box {
        background: #FFFAE5;
        border: 6px solid #D29E48;
        .top-banner {
            width: 50%;
            margin-left: 25%;
            margin-top: rem(30);
        }
        .org-name {
            font-size: rem(26);
            color: #DB0F06;
            font-weight: bold;
            text-align: center;
            padding-top: rem(30);
        }
        .text-info {
            width: 100%;
            text-align: center;
            padding: rem(20) rem(10);
            padding-bottom: rem(50);
            font-size: rem(13);
        }
        .bottom-banner {
            width: 60%;
            margin-left: 20%;
            text-align: center;
        }
        .record-id {
            font-size: rem(10);
            color: #3D3D3E;
            text-align: center;
            margin-bottom: rem(-4);
            margin-top: rem(20);
        }
        .time {
            text-align: center;
            padding-bottom: rem(30);
            margin-top: rem(4);
            .begin-time {
                font-size: rem(10);
                color: #3D3D3E;
                text-align: center;
            }
            .end-time {
                font-size: rem(10);
                color: #3D3D3E;
                text-align: center;
            }
        }

    }
}
.record-mask {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0.6;
}