@import '../../_base/base.styl';
@import "../../_common/nav_bar/nav_bar.styl";

body {
    background: #ffffff;
}
#main *
{
    word-wrap: break-word!important;
    white-space: normal!important;
    max-width: 100%;
    word-break: break-all!important;
}
#main {
    .header {
        padding: rem(10) 0;
        margin: 0 rem(15);
        border-bottom: 1px solid #ffb74d;
        .activity-name {
            font-size: rem(15);
            color: #3c3d3d;
        }
        .activity-other {

            span {
                color: #9d9e9e;
                font-size: rem(12);
            }
            .activity-time {
                margin-right: rem(5)
            }
            .org-name {
                white-space: normal !important;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
        }
    }
    .bg-img {
        width: rem(112);
        height: rem(20);
        margin: 0 auto;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        .title {
            position: absolute;
            font-size: rem(13);
            top: 0;
            left: rem(45);
            color: #ffffff;
        }
    }
    .notice {
        .notice-content {
            color: #3c3d3d;
            padding: rem(15);
            font-size: rem(13);
            line-height: 1.8;

            .address {
                .address-detail {
                    display: -wekit-box;
                    white-space: normal !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                }

            }
        }
    }
    .activity-detail {
        margin: 0 rem(15);
        border-top: 1px solid #ffb74d;
        line-height: 1.8;
        font-size: rem(13);
        .detail-content {
            padding: rem(15) 0;
        }
    }
    .sign-info {
        margin: 0 rem(15);
        border-top: 1px solid #ffb74d;
        line-height: 1.8;
        font-size: rem(13);
        padding-bottom: rem(20);
        .content {
            padding: rem(15) 0;
            input {
                width: 65%;
                height: rem(26);
                border: 1px solid #dcddde;
                padding: 0 rem(10);
                color: #dcddde;
            }
            .fill {
                color: #000000;
            }
            .warning {
                color: red;
            }
            .content-info {
                margin-top: rem(10);
                font-size: rem(13);
                color: #6d6d6e;
                .title {
                    width: 25%;
                    display: inline-block;
                    color: #6d6d6e;
                }
            }
            .user-code {
                margin-top: rem(10);
                font-size: rem(13);
                color: #6d6d6e;
                .title {
                    width: 25%;
                    display: inline-block;
                    color: #6d6d6e;
                }
                input {
                    width: 32% !important;
                    height: rem(26);
                    border: 1px solid #dcddde;
                    padding: 0 rem(10);
                    color: #000000;
                }
                .gain-code {
                    display: inline-block;
                    margin-left: rem(10);
                    background: #688dd5;
                    width: 30%;
                    height: rem(29);
                    line-height: rem(28);
                    text-align: center;
                    font-size: rem(11);
                    color: #ffffff;
                }
                .send-code {
                    background: #9d9e9e;
                }
            }
        }
        .commit {
            width: 72%;
            height: rem(35);
            background: #48b14b;
            color: #ffffff;
            margin: 0 auto;
            text-align: center;
            line-height: rem(35);
            border-radius: rem(3);

        }
        .unable {
            background: #dcddde;
            width: 79%;
            height: rem(35);
            color: #ffffff;
            margin: 0 auto;
            text-align: center;
            line-height: rem(35);
            margin-left: rem(53);
            border-radius: rem(3);
        }
    }
    .footer {
        padding: rem(20) rem(15);
        position: relative;
        .eye, .thump {
            display: inline-block;
            font-size: rem(13);
            color: #6d6d6e;
        }
        .thump {
            margin-left: rem(10);
            i {
                font-size: rem(15);
                margin-right: rem(3);
            }
            .self-thump {
                color: #ff9100;
            }
        }
        a {
            display: inline-block;
            font-size: rem(13);
            color: #ff9100;
            position: absolute;
            right: rem(15);
        }
    }
}
