@import "page/_base/base.styl";

body
    color #3d3d3d
    font-size rem(14)
    .success
        color #5fb41b

    .warn
        color #f95e5e

.refund-detail,
.refund-nav,
.refund-no-data
    img
        opacity 0

.refund-nav,
.refund-no-data
    text-align center

.refund-nav
    background-color #fff
    height rem(48)
    line-height rem(48)
    font-size rem(18)

    > img
        width rem(31)
        height rem(31)
        margin-right rem(5)
        margin-top rem(-5)

.refund-detail
    margin rem(20) rem(15)

    > li
        padding rem(5) rem(15)
        margin-bottom rem(20)
        background-color #fff
        border-top rem(4) solid #3fa5f2
        border-radius rem(4)
        box-shadow 0 rem(2) rem(3) 0 rgba(211,211,211,0.53)

        > div:first-child
            padding-bottom rem(15)
        > div
            padding rem(15) 0
            > div
                line-height 1.8

            > .notice,
            > .refund-money
                position relative

                > span,
                > a
                    position absolute
                    right 0
                    top 0

            > .notice
                > div
                    color #9d9e9e
                    margin-bottom rem(5)

                > span.success
                    color #48b14b

            > .refund-money
                > a:hover
                    background-color #2C84C6

                > a
                    display block
                    background-color #3fa5f2
                    border-radius rem(2)
                    width rem(72)
                    height rem(27)
                    line-height rem(27)
                    color #fff
                    text-align center
                    margin-top rem(-2)
        > div.status
            border-top rem(1) solid #d8d8d8

.refund-no-data
    color #6d6d6e

    > img
        margin auto
        margin-top rem(97)
        margin-bottom rem(35)
        width rem(150)
        height rem(150)
        display block