{{ extends file="common/main/base.html" }}

{{ block name="data" }}
{{ strip }}
    {{ $smarty.block.parent }}
    {{ $script_path = "main/main_8b764da0a0" }}

    {{ $need_im = true }}

    {{ $nav_config.video = 1 }}
    {{ $nav_config.popup = 0 }}
    {{ $nav_config.active = 'index' }}

    {{ $script_data.cityName = $curr_city.name }}
    {{ $show_friend_links = true }}
    {{ $script_data.showFriendLinks = $show_friend_links }}
    {{ $script_data.footerFriendLinksForMain = $tpl_data.friendLinks }}
    {{ $script_data.show_findTeacher = true }}

    {{ $show_app_qrcode=true }}
    {{ $is_home_page = true }}
    {{ $need_mobile_seo = true }}
    {{ $need_location_seo = true }}
{{ /strip }}
{{ /block }}


{{ block name="meta" }}
{{ strip }}
    {{ $smarty.block.parent }}
    {{ *
    <meta property="qc:admins" content="3464026660675630510556375" />
    <meta property="wb:webmaster" content="4658769fd343afda" />
    * }}
{{ /strip }}
{{ /block }}

{{ block name="title" }}
{{ strip }}
    {{ if $is_spider && (strrpos($smarty.server.HTTP_HOST, "www.") === 0) }}
        【跟谁学】找好老师，上跟谁学 -专业 简单 智能 安全
    {{ else }}
        【跟谁学{{ $curr_city.name }}站】找好老师，上跟谁学 -专业 简单 智能 安全
    {{ /if }}
{{ /strip }}
{{ /block }}


{{ block name="keywords" }}
{{ strip }}
    {{ if $is_spider }}
        跟谁学,找好老师,艺术,体育,生活,兴趣,出国留学,中小学,问答,社区,在线教育,教育O2O
    {{ else }}
        跟谁学,找好老师,艺术,体育,生活,兴趣,出国留学,中小学,问答,社区,在线教育,教育O2O
    {{ /if }}
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}
    {{ if $is_spider }}
        跟谁学是目前全球最大的找好老师学习服务平台,提供100%实名认证老师、课程(线上/线下)、培训机构、问答、社区等学习服务,帮助老师和学生精准对接。
    {{ else }}
        跟谁学是目前全球最大的找好老师学习服务平台,提供{{ $curr_city.name }}100%实名认证老师、课程(线上/线下)、培训机构、问答、社区等学习服务,帮助老师和学生精准对接。
    {{ /if }}
{{ /strip }}
{{ /block }}

{{ block name="style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/asset/css/main/main_b517dc448f.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}
{{ include file="./constant.html" }}
{{ include file="./data/adId.html" scope=parent }}

{{ function getFloorNavItem }}
    {{ $queryText = urlencode($item) }}
    {{ if empty($queryText) }}
        {{ $queryText = '-' }}
    {{ else }}
        {{ $queryText = $queryText }}
    {{ /if }}

    {{ $itemArr = '_'|explode: $item }}
    {{ if $itemArr|count > 1 }}
        {{ $queryText = '-'|cat:$itemArr[1] }}
    {{ /if }}

    {{ $queryText = $queryText|cat:'.html' }}

    {{ if isset($sour) }}
        {{ $queryText = $queryText|cat:'?source='|cat:$sour }}
    {{ /if }}

    {{ if isset($tpl_data.is_www) && $tpl_data.is_www }}
        <a href="/{{ $curr_city.domain }}/st/{{ $queryText }}" target="_blank">
            {{ $itemArr[0] }}
        </a>
    {{ else }}
        <a href="/{{ $curr_city.domain }}/st-{{ $queryText }}" target="_blank">
            {{ $itemArr[0] }}
        </a>
    {{ /if }}
{{ /function }}

<div id="main">
    <div class="wrapper">
        <div class="main-wrapper" data-floor="0">
            {{ include file="main/mods/banner.html" }}
        </div>

        <div class="recommend-wrapper" data-module-path="main/mods/recommendTeacher_2cbf46509f">
            {{ include file="main/mods/recommend.html" }}
            <div id="hot-live" data-module-path="main/mods/hotLive_24dfbd27f4">
                {{ include file="main/mods/hotLive.html" }}
            </div>
        </div>

        <div class="ad-banner-wrapper click-monitor" data-ad-id="28" data-monitor-stype="1" data-monitor-type="ad_click" data-monitor-bid="28"></div>

        {{ * 金牌认证机构广告轮播图 * }}
        {{ if !empty($tpl_data.gold_cert_org) }}
            {{ include file="main/mods/goldCertOrg.html" width=1190 }}
        {{ /if }}

        <div class="special-wrapper" data-floor="1" data-qid='{{ json_encode($tpl_data.zxx.qid_list, 77) }}' data-module-path="main/mods/special_229acd6e12">
            {{ $tpl_data.special = [] }}
            {{ $tpl_data.special[] = [ 'title' => '中小学', 'data' => $tpl_data.zxx, 'icon' => '1', 'theme' => 'green', 'source' => 'floorcat', 'adId' => '29', 'type' => 'k12_click', 'qid' => $tpl_data.zxx.qid_list] }}
            {{ include file="main/mods/special.html" data=$tpl_data.special[0] }}
        </div>
        {{ include file="main/mods/orgList.html" data=$tpl_data.zxx.org_list type='k12_click' qid=$tpl_data.zxx.qid_list }}

        <div class="special-wrapper" data-floor="2" data-qid='{{ json_encode($tpl_data.cglx.qid_list, 77) }}' data-module-path="main/mods/special_229acd6e12">
            {{ $tpl_data.special[] = [ 'title' => '出国留学', 'data' => $tpl_data.cglx, 'icon' => '2', 'theme' => 'blue', 'source' => 'floorcat', 'adId' => '30', 'type' => 'abroad_click', 'qid' => $tpl_data.cglx.qid_list] }}
            {{ include file="main/mods/special.html" data=$tpl_data.special[1] }}
        </div>
        {{ include file="main/mods/orgList.html" data=$tpl_data.cglx.org_list type='abroad_click' qid=$tpl_data.cglx.qid_list }}

        <div class="special-wrapper" data-floor="3" data-qid='{{ json_encode($tpl_data.ytxq.qid_list, 77) }}' data-module-path="main/mods/special_229acd6e12">
            {{ $tpl_data.special[] = [ 'title' => '艺体兴趣', 'data' => $tpl_data.ytxq, 'icon' => '1', 'theme' => 'yellow', 'source' => 'floorcat', 'adId' => '31', 'type' => 'art_click', 'qid' => $tpl_data.ytxq.qid_list] }}
            {{ include file="main/mods/special.html" data=$tpl_data.special[2] }}
        </div>
        {{ include file="main/mods/orgList.html" data=$tpl_data.ytxq.org_list type='art_click' qid=$tpl_data.ytxq.qid_list }}

        <div class="special-wrapper" data-floor="4" data-qid='{{ json_encode($tpl_data.yypx.qid_list, 77) }}' data-module-path="main/mods/special_229acd6e12">
            {{ $tpl_data.special[] = [ 'title' => '语言培训', 'data' => $tpl_data.yypx, 'icon' => '1', 'theme' => 'azure-blue', 'source' => 'floorcat', 'adId' => '32', 'type' => 'train_click', 'qid' => $tpl_data.yypx.qid_list] }}
            {{ include file="main/mods/special.html" data=$tpl_data.special[3] }}
        </div>
        {{ include file="main/mods/orgList.html" data=$tpl_data.yypx.org_list type='train_click' qid=$tpl_data.yypx.qid_list }}

        <div class="special-wrapper" data-floor="5" data-qid='{{ json_encode($tpl_data.jnks.qid_list, 77) }}' data-module-path="main/mods/special_229acd6e12">
            {{ $tpl_data.special[] = [ 'title' => '技能&考试', 'data' => $tpl_data.jnks, 'icon' => '1', 'theme' => 'purple', 'source' => 'floorcat', 'adId' => '33', 'type' => 'skill_click', 'qid' => $tpl_data.jnks.qid_list] }}
            {{ include file="main/mods/special.html" data=$tpl_data.special[4] }}
        </div>
        {{ include file="main/mods/orgList.html" data=$tpl_data.jnks.org_list type='skill_click' qid=$tpl_data.jnks.qid_list }}

        <div class="preferential-course-wrapper" data-floor="6" data-module-path="main/mods/preferentialCourse_02e54c6f2c">
            {{ include file="main/mods/preferentialCourse.html" data=$tpl_data.jhx type="ju_click" }}
        </div>

        <div class="flow-wrapper">
            <div class="user-flow">
                <h3>平台流程</h3>
                <ol>
                    <li>
                        <i class="icon icon-search-large-o"></i>
                        <h4>1.搜索老师</h4>
                        <p>
                            在种类丰富的课程中，你可以按照多种条件进行筛选（如课程、价格、地理位置等），找到心仪的老师。众多名师，总有一些适合你
                        </p>
                    </li>
                     <li>
                        <i class="icon icon-money-large-o"></i>
                        <h4>2.购买课时</h4>
                        <p>
                            查看老师的详细信息，观看其视频介绍，选择合适的老师并预付课程费用。每次课程结束，由学生确认后将课时费在线支付给老师
                        </p>
                    </li>
                     <li>
                        <i class="icon icon-clock-large-o"></i>
                        <h4>3.约课上课</h4>
                        <p>
                            与老师沟通，进行在线约课，可灵活选择上课时间、地点和授课方式（在线视频或线下面授）。首次课程不满意可全额退费
                        </p>
                    </li>
                     <li>
                        <i class="icon icon-thumbs-up-large-o"></i>
                        <h4>4.课程评价</h4>
                        <p>
                            课程结束，学生对老师和课程进行评价，帮助老师发现其优势和不足，提高教学质量。为其他正在寻找老师的学生或家长提供参考
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="floor-wrapper" data-module-path="main/mods/floor_b18c9d8414">
    {{ include file="main/mods/floor.html" }}
</div>

{{ include file="main/mods/textAd.html" }}

{{ /strip }}
{{ /block }}

{{ block name="script" }}
{{ /block }}

{{ block name="inner_link" }}
{{ include file="common/innerlink/main.html" cityLinks=$tpl_data.cityLinks }}
{{ /block }}
