.main-banner-helper-cert {
    padding: 21px 13px;
    border-top: 1px solid @brand-gray-light;

    li {
        text-align: center;
        font-size: 15px;
        .inline-block();
        width: 76px;
    }

    .icon {

        font-size: 48px;
        display: block;
        margin-bottom: 10px;

    }

    .icon-book-large-o {
        color: @brand-primary;
    }

    .icon-shield-large-o {
        color: @brand-success;
    }

    .icon-cash-large-o {
        color: @brand-info;
    }
}