.honors {
    width: 100%;
    background: white;
    padding: rem(20) rem(10) rem(10) rem(10);
    .honors-text {
        font-family: PingFangSC-Semibold;
        font-size: rem(16);
        color: #3D3D3E;
        line-height: rem(16);
        padding-bottom: rem(10);
    }
    .honors-pics {
        min-height: rem(70);
        img {
            border-radius: rem(2);
            min-height: rem(60);
            float: left;
            width: 23.6%;
            margin-right: rem(2);
            margin-left: rem(2);
        }
        .grey-pic {
            float: left;
            width: 23.6%;
            border-radius: rem(2);
            min-height: rem(60);
            background: #f8f8f8;
            display: inline-block;
            margin-right: rem(2);
            margin-left: rem(2);
            position: relative;
            .grey-text {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                font-size: rem(13);
                text-align: center;
                color: #9d9d9e;
            }
        }
    }
}