{{ *

@file 学习头条
@author zengcheng

* }}
{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}
    {{ $nav_config.hidden = 1 }}

    {{ $script_path = "headline/main" }}

    {{ **顶部搜索去掉placeholder支持空query** }}
    {{ $current_page = '' }}
    {{ $script_data.channel = $tpl_data.channel }}

    {{ * 需要im * }}
    {{ $need_im = true }}

{{ /block }}

{{ block name = "title" }}
{{ $tpl_data.page_title }}
{{ /block }}

{{ block name="description" }}
{{ $tpl_data.description }}
{{ /block }}

{{ block name="keywords" }}
{{ $tpl_data.page_keywords }}
{{ /block }}

{{ block name = "style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/src/css/headline/index.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}
{{ include file="./mods/header.html" active=$tpl_data.channel list=$tpl_data.channel_list }}
<div id="main">
    <div class="left-wrapper">
        {{ include file="./mods/articlelist.html" articleList=$tpl_data.article_list pager=$tpl_data.pager }}
    </div>
    <div class="right-wrapper">
        {{ if !empty($tpl_data.relativeTeachers.teachers) && count($tpl_data.relativeTeachers.teachers) > 1 }}
            {{ include file="./mods/teacherlist.html" relativeTeachers=$tpl_data.relativeTeachers }}
        {{ /if }}

        {{ if !empty($tpl_data.relativeCourses.courses) && count($tpl_data.relativeCourses.courses) > 1 }}
            {{ include file="./mods/courselist.html" relativeCourses=$tpl_data.relativeCourses }}
        {{ /if }}
    </div>
</div>
{{ /strip }}
{{ /block }}