@import '../../../../resource/css/default.styl';

.single-table {
    flex-grow: 1;
    padding: 0 20px;
    &-list {
        &-image {
            padding: 24px 0;
            position: relative;
            .single-living-logo {
                z-index: 900;
                position: absolute;
                top: 50%;
                left: rem(35);
                transform: translateY(-50%);
                border-radius: 50%;
                background: rgba(0,0,0,0.80);
                width: rem(32);
                height: rem(32);
                .living-logo {
                    margin: rem(4) auto 0;
                    text-align: center;
                }
                .living-text {
                    margin: 0 auto;
                    font-size: 12px;
                    color: #FFFFFF;
                    line-height: 6px;    
                    transform: scale(0.5, 0.5);
                    white-space: nowrap;
                    font-weight: 300;
                }
            }
            img {
                width: 100px;
                height: 56px;
                display: inline-block;
            }
        }
        & &-course {
            &-type, &-live, &-price, &-time {
                color: $grey_400;
            }
            &-live, &-type {
                text-align: center;
            }
            &-price, &-time, &-operation {
                text-align: right;
            }
            &-operation {
                &-content {
                    a {
                        display: inline-block;
                        margin-left: 10px;
                        color: $blue_400;
                        &:hover, &:active {
                            color: $blue_500;
                        }
                    }
                    .single-table-list-course-operation-content-red {
                        color: $pink;
                        &:hover, &:active {
                            color: $pink;
                        }
                    }
                    .ant-tooltip-inner {
                        font-size: 12px;
                        padding: 8px 10px;
                        font-weight: 300;
                    }
                    .ant-popover-inner {
                        border-radius: 2px;
                        .ant-popover-inner-content {
                            padding: 0;
                        }
                    }
                    .ant-popover {
                        z-index: 900;
                    }
                    .single-table-list-course-operation-content-popover {
                        &-content {              
                            a {
                                display: block;
                                width: 104px;
                                height 32px;
                                padding: 10px 0 10px 16px;
                                font-size: 12px;
                                color: $grey_500;
                                line-height: 12px;
                                margin-left: 0;
                                &:hover {
                                    background-color: $grey_40;
                                    .video-upload-popover-content-spot {
                                        width: 0; 
                                        height: 0; 
                                        font-size: 0; 
                                        border-width: 6px; 
                                        border-style: solid; 
                                        border-color: $grey_40 transparent transparent;
                                        overflow: hidden; 
                                        position: absolute; 
                                        right: 14px;
                                        top: 9px;
                                    }
                                }
                                &:first-child {
                                    border-radius: 2px 2px 0 0;
                                }
                                &:last-child {
                                    border-radius: 0 0 2px 2px;
                                }
                            }
                        }
                    }
                }   
            }
        }
    }
    &-modal {
        &-text {
            font-size: 14px;
            color: $grey_600;
            line-height: 20px;
            margin: 20px 0;
            p {
                font-size: 12px;
                color: $black;
                line-height: 20px;
            }
        }
        &-copy {
            margin: 20px 0;
            > input {
                width: 350px;
                border-radius: 2px;
                font-size: 12px;
                &:hover, &:focus {
                    border: 1px solid $pink;
                    box-shadow: 0 0 4px 0 rgba(249,93,93,0.60);  
                }
            }
            button {
                margin-left: 10px;
            }
        }
        &-operate {
            display: flex;
            justify-content: center;
        }
    }
}
.ant-popover.popconfirm-overlay {
    z-index: 900;
}
.single-table-list-course-time-staus {
    text-align: center;
    font-size: 13px;
    i {
        margin-right: 5px;
        font-size: 12px;
        
    }
}