.level-two-content {
    padding: rem(15) 0 0 rem(10);
    .first-line {
        height: rem(30);
        line-height: rem(30);
        .line {
            background: #FF9100;
            width: rem(3);
            height: rem(11);
            display: inline-block;
            margin-right: rem(7);
        }
        .subject-name {
            font-family: PingFangSC-Semibold;
            font-size: rem(13);
            color: #3D3D3E;
            display: inline-block;
        }
    }
    .second-line {
        margin-bottom: rem(10);
        .subject-item-noraml, .subject-item-active {
            background: #FCFCFC;
            border: 1px solid #DDDDDE;
            border-radius: rem(3);
            display: inline-block;
            min-width: rem(60);
            height: rem(30);
            line-height: rem(30);
            text-align: center;
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #3D3D3E;
            margin-right: rem(6);
            margin-bottom: rem(10);
            padding: 0 rem(10);
        }
        .subject-item-active {
            background: white;
            border: 1px solid #ff6c00;
            color: #ff6c00;
        }
    }
}