{{ *
    @file 全站 pager 组件
    @description 参数
                 show_count 总共要显示的页码个数
                 count 物料总数
                 page_size 每页的个数
                 page  当前的页码
                 hide_jump 是否隐藏输入页码跳转

    @author  zengcheng
* }}
{{ strip }}


{{ * 默认当前页为1 * }}
{{ if not isset($page) }}
{{ $page = 1 }}
{{ /if }}

{{ if not isset($page_size) }}
{{ $page_size = 10 }}
{{ /if }}

{{ if not isset($count) }}
{{ $count = 1 }}
{{ /if }}

{{ $page_count = ($count / $page_size)|ceil }}

{{ if not isset($show_count) }}
{{ $show_count = 4 }}
{{ /if }}

{{ * 让当前页码前后都有show_count/2个页码 * }}
{{ if $show_count % 2 == 1 }}
{{ $show_count = $show_count - 1 }}
{{ /if }}


{{ if $page_count > 1 }}
<div class="pager-block">

    <div class="pager">

        {{ if $page > 1 }}
        <span data-page="{{ $page-1 }}">
            <i class="icon icon-chevron-left"></i> 上一页
        </span>
        {{ /if }}

        {{ if $page_count <= $show_count + 1 }}
            {{ $start = 1 }}
            {{ $end = $page_count }}
        {{ elseif $page_count <= $page + $show_count  }}
            {{ $end = $page_count }}
            {{ $start = $page_count - $show_count }}
        {{ elseif $page <= ($show_count/2) }}
            {{ $start = 1 }}
            {{ $end = 1 + $show_count }}
        {{ else }}
            {{ $start = $page - $show_count/2  }}
            {{ $end = $page + $show_count/2 }}
        {{ /if }}

        {{ if $start > 2 }}
        <span data-page="1">1</span>
        <b class="ellipsis">...</b>
        {{ /if }}

        {{ for $item=$start to $end }}

        {{ if $item != $page }}
        <span data-page="{{ $item }}">{{ $item }}</span>
        {{ else }}
        <span class="active">{{ $item }}</span>
        {{ /if }}
        {{ /for }}

        {{ if $end < $page_count }}
        <b class="ellipsis">...</b>
        <span data-page="{{ $page_count }}">{{ $page_count }}
        </span>
        {{ /if }}

        {{ if $page < $page_count }}
        <span data-page="{{ $page + 1 }}">
            下一页 <i class="icon icon-chevron-right"></i>
        </span>
        {{ /if }}

    </div>

    {{ if !isset($hide_jump) || !$hide_jump }}
    <div class="pager-form">

        <b>共 {{ $page_count }} 页，去第</b>
        <input class="form-text small" type="text" onchange="
            var button = this.nextSibling.nextSibling;
            var page = this.value;
            button.removeAttribute('data-page');
            if (/^\d+$/.test(page) && parseInt(page, 10) >= 1 && parseInt(page, 10) <= {{ $page_count }}) {
                button.setAttribute('data-page', page);
            }
            else {
                this.focus();
            }
        "/>
        <b>页</b>
        <span class="btn-default small">
            确定
        </span>
    </div>
    {{ /if }}
</div>
{{ /if }}

{{ /strip }}