{{ *
   * @file 2014.9版本的分角色方式登录的登录表单内容
   * @author peilonghui
* }}

{{ strip }}

{{ $userType = '2' }}

{{ * 根据cookie判断上次登录时的角色，修改默认高亮的tab * }}
{{ if isset($smarty.cookies.__userLastSignRole__) }}
    {{ if $smarty.cookies.__userLastSignRole__ == 0 || $smarty.cookies.__userLastSignRole__ == 2 }}
        {{ $userType = $smarty.cookies.__userLastSignRole__ }}
    {{ /if }}
{{ /if }}

{{ if isset($smarty.get.user_type) }}
{{ $userType = $smarty.get.user_type }}
{{ /if }}

{{ $studentTypeLabel = '学生登录' }}
{{ $teacherTypeLabel = '老师登录' }}

{{ if !isset($onlyShowTeacher) }}
    {{ $onlyShowTeacher = 0 }}
{{ /if }}

{{ if !isset($onlyShowStudent) }}
    {{ $onlyShowStudent = 0 }}
{{ /if }}

{{ if $onlyShowTeacher }}
{{ $userType = '0' }}
{{ $teacherTypeLabel = '登录' }}
{{ /if }}

{{ if $onlyShowStudent }}
{{ $userType = '2' }}
{{ $studentTypeLabel = '登录' }}
{{ /if }}

{{ *
    一个临时的活动需要复用注册页并增加几个字段
    考虑到以后会下线，就不提取公共组件继承了
    下线后会删除相关代码
    $is_art_activity 为标志
 * }}
{{ if !isset($is_art_activity) }}
{{ $is_art_activity = false }}
{{ /if }}

<form class="form login-form{{ if $is_art_activity }} login-form-art-activity{{ /if }}" data-login="password">
    <div class="form-radios">
        {{ if !$onlyShowTeacher }}
        <label
        {{ if $userType == '2' }} class="active" {{ /if }}
        {{ if $onlyShowStudent }}
            style="width:100%;"
        {{ /if }} >
            <input type="radio" name="usertype" value="2"
                   {{ if $userType == '2' }}
                        checked="checked"
                   {{ /if }}
                   />
            {{ if $is_art_activity }}
                <div class="activity-label">
                    <p>高雅艺术普及活动由跟谁学提供网络支持</p>
                    <p>请使用跟谁学账号登录观看</p>
                </div>
            {{ else }}
                {{ $studentTypeLabel }}
            {{ /if }}
        </label>
        {{ /if }}

        {{ if !$onlyShowStudent }}
        <label
            {{ if $userType != '2' }} class="active" {{ /if }}
            {{ if $onlyShowTeacher }}
                style="width:100%;"
            {{ /if }}
        >
            <input data-report="gs" type="radio" name="usertype" value="0"
                {{ if $userType != '2' }}
                    checked="checked"
                {{ /if }}
                />
            {{ $teacherTypeLabel }}
        </label>
        {{ /if }}
    </div>

    <div class="form-body">
        {{ if isset($smarty.get.next) }}
            {{ $next_url = $smarty.get.next }}
        {{ else if isset($login_type) && ($login_type == 'dialog') }}
            {{ $next_url = $smarty.server.REQUEST_URI }}
        {{ else }}
            {{ $next_url = "" }}
        {{ /if }}
        <input type="hidden" name="next" value="{{ $next_url|escape: 'url' }}"/>


        <div class="login-way-switch">
            <a class="btn-link small" data-way="password">
                <i class="icon icon-user-o"></i>
                普通登录方式
            </a>
            <a class="btn-link small" data-way="wechat">
                <i class="icon icon-wechat-o"></i>
                微信扫码登录
            </a>
            <a class="btn-link small" data-way="sms">
                <i class="icon icon-mobile-o"></i>
                手机动态码登录
            </a>
        </div>

        <div class="form-group sms-prompt">
            <div class="label label-info">
                <i class="icon icon-info-circle text-info"></i>
                仅支持大陆地区手机号码
            </div>
        </div>

        <div id="login-mobile">
            {{ include file="common/component/mobileInput.html" is_international=false show_icon=true }}
        </div>

        <div class="form-group form-password">
            <div class="form-controls">
                <i class="icon icon-lock"></i>
                <input class="form-text" type="password" name="password" placeholder="请输入密码" required minlength="6"
                       maxlength="20" autocomplete="off" />
                <span class="error"></span>
            </div>
        </div>

        <div class="form-group form-sms">
            <div class="form-controls">
                <input class="form-text sms" type="text" name="verifycode" placeholder="请输入校验码" required pattern="^\d*$" />
                <button type="button" class="btn-info form-get-smscode" disabled="true">获取校验码</button>
                <span class="error" autocomplete="off" ></span>
            </div>
        </div>

        <div class="form-group form-wechat">

            <div id="wechat-login"></div>
            <div class="wechat-help"></div>

            <div class="help">使用帮助</div>

        </div>

        <div class="voice-code-link hidden">
            <span class="btn-link text-info">没有收到校验码？</span>
        </div>

        {{ $rememberChecked = 0 }}
        {{ if isset($smarty.cookies.LOGIN_USERNAME_REMEMBER) }}
            {{ $rememberChecked = $smarty.cookies.LOGIN_USERNAME_REMEMBER }}
        {{ /if }}
        {{ if !$is_art_activity }}
        <div class="remember-me">
            {{ include file="common/ui/checkbox.html" text="记住我" name="remember_me" checked=$rememberChecked == 1 }}
        </div>
        {{ /if }}

        <div class="form-action">
            <button type="submit" class="btn btn-primary{{ if !$is_art_activity }} btn-block{{ /if }}">登录</button>
            {{ if $is_art_activity }}
            <a href="{{ $origin_https }}/static/register?user_type=2&activity=art&next=/jiangzuo" class="btn btn-info">快速注册</a>
            {{ /if }}
            <div class="form-auxlinks">
                {{ if $is_art_activity }}
                <b class="form-forget" title="重置密码" data-url="{{ $origin_https }}/static/forget_password?next=/jiangzuo">忘记密码</b>
                {{ else }}
                <b class="form-forget" title="重置密码" data-url="{{ $origin_https }}/static/forget_password">忘记密码</b>
                <b class="form-signup" data-url="{{ $origin_https }}/static/register">免费注册</b>
                <i>|</i>
                <a href="{{ $origin_http }}/guide/feedback?a=feedback" class="form-feedback" target="_blank">意见反馈</a>
                {{ /if }}
                <div class="form-switch-international">
                    <b>国际手机登录</b>
                </div>
            </div>

        </div>

        <div class="sns-login">
            <h5>其他合作网站账户登录</h5>
            <div>
                <i class="icon icon-wechat-circle" data-way="wechat"></i>
                <i class="icon icon-qq-circle" data-way="qq"></i>
                <i class="icon icon-alipay-circle" data-way="alipay"></i>
                <i class="icon icon-weibo-circle" data-way="sina"></i>
                <i class="icon icon-renren-circle" data-way="renren"></i>
                <i class="icon icon-baidu-circle" data-way="baidu"></i>
            </div>
        </div>
    </div>
</form>
{{ /strip }}





