{{ *

@file 机构老师列表组件
@author wuhongjie
@description
* }}

{{ strip }}
<div id="search-list">
{{ include file="common/variable/certification.html" scope=parent }}

{{ $prev_item = '' }}
{{ $unlocal_tips = true }}

{{ if isset($log_data) && isset($log_data.qid) }}
{{ $log_id = $log_data.qid }}
{{ else }}
{{ $log_id = '' }}
{{ /if }}

{{ $log_flag = false }}

{{ if isset($tpl_data.q) }}
{{ $log_flag = true }}
{{ /if }}

{{ foreach $tpl_data.teachers as $item }}

{{ ** 埋点统计 ** }}
{{ if isset($tpl_data.q) }}
{{ $log_url = 'rank='|cat:($item@index+1)|cat:'&tid='|cat:$item.id|cat:'&qid='|cat:$log_id|cat:'&q='|cat:$tpl_data.q }}
{{ /if }}

{{ ** 地区分割线 ** }}
{{ if isset($item.area_match) }}
{{ if ($prev_item&&$prev_item.area_match&&!$item.area_match) || (isset($pager.local_total) && $unlocal_tips && $pager.local_total <= ($pager.page-1)*$pager.page_size) }}
{{ $unlocal_tips = false }}
<div class="unlocal-tips">
    <img src="{{ $static_origin }}/asset/img/teacher/recommend_795ce492bd.gif">
    <div class="txt">
        <h1>以下是其他城市您可能感兴趣的老师</h1>
        <div>想成为老师，可以
            <a href="/static/teacher" target="_blank" class="occupancy">立即入驻</a></div>
    </div>
</div>
{{ /if }}
{{ $prev_item = $item }}
{{ /if }}
<div class="search-item">

    <div class="wrapper">
        <div class="teacher-card">

            <div class="avatar">
                {{ if strpos($item.style,"在线授课") !== false }}
                <i class="icon icon-webcam-o" data-title="该老师可进行在线授课"></i>
                {{ /if }}
                {{ if $log_flag }}
                {{ include file="common/component/avatar.html" url={{ $root }}|cat:$item.detail_url target="_blank" type="medium" img=$item.avatar_url log=$log_url|cat:"&location=avatar" alt=$item.name }}
                {{ else }}
                {{ include file="common/component/avatar.html" url={{ $root }}|cat:$item.detail_url target="_blank" type="medium" img=$item.avatar_url alt=$item.name }}
                {{ /if }}
            </div>

            <a class="score" href="{{ $item.detail_url }}#teacher-comment" target="_blank">
                {{ if $item.comment }}
                {{ if $item.stars_level == 0 }}
                {{ $score = 5 }}
                {{ else }}
                {{ $score = $item.stars_level }}
                {{ /if }}

                {{ include file="common/component/starScore.html" score=$score }}

                {{ $score|number_format:1 }} 分
                {{ else }}
                暂无评分
                {{ /if }}
            </a>

            {{ if $item.location_cut }}
            <div class="location">
                <span{{ if $item.location != $item.location_cut }} data-title="{{ $item.location }}" data-placement="right"{{ /if }}>
                <i class="icon icon-location"></i>
                <a href="{{ $item.detail_url }}#teacher-residence" target="_blank">
                    {{ $item.location_cut }}
                </a>
                </span>
            </div>
            <div class="text-indent-seo">
                {{ $item.location }}
            </div>
            {{ /if }}

            {{ if $item.video_url }}
            <div class="video" data-video="{{ $item.video_url }}" data-name="{{ $item.name }}" {{ if $log_flag }} log="{{ $log_url }}&location=introduce" {{ /if }}>
            <i class="icon icon-camera"></i>
            {{ if isset($item.video_name) }}
            {{ $item.video_name }}
            {{ else }}
            自我介绍
            {{ /if }}
        </div>
        {{ /if }}

    </div>

    <div class="teacher-detail">

        <div>

            <div class="cert">

                {{ foreach $certification_list as $cert }}

                {{ if in_array($cert[0], $item.certification) }}
                <i class="icon {{ $cert[2] }}" data-title="{{ $cert[1] }}"></i>
                {{ /if }}

                {{ /foreach }}

            </div>

            <h2>
                {{ if $item.name_cut != $item.name }}
                {{ $title = ' data-title="'|cat: $item.name|cat: '"' }}
                {{ else }}
                {{ $title = '' }}
                {{ /if }}

                <a class="name" href="{{ $root|cat:$item.detail_url }}" target="_blank"{{ $title }} {{ if $log_flag }}log="{{ $log_url }}&location=name"{{ /if }}>
                {{ $item.name_cut }}
                </a>

                <div class="text-indent-seo">
                    {{ $item.name }}
                </div>

            </h2>
            {{ if !empty($item.medal) }}
            {{ include file="common/variable/medal.html" scope=parent }}
            {{ foreach $item.medal as $val }}
            <img class="medal" src="{{ $val.logo }}" data-title="{{ $val.desc }}">
            {{ /foreach }}
            {{ /if }}

            {{ if isset($item.organization) && $item.organization }}
            {{ if !empty($item.organization.description) }}
            {{ if $log_flag }}
            {{ include file="common/component/orgLabel.html" name=$item.organization.name desc=$item.organization.description url=$item.organization.url log=$log_url|cat:"&location=orgnization" }}
            {{ else }}
            {{ include file="common/component/orgLabel.html" name=$item.organization.name desc=$item.organization.description url=$item.organization.url }}
            {{ /if }}
            {{ else }}
            {{ if $log_flag }}
            {{ include file="common/component/orgLabel.html" name=$item.organization.name desc=$item.organization.desc url=$item.organization.url log=$log_url|cat:"&location=orgnization" }}
            {{ else }}
            {{ include file="common/component/orgLabel.html" name=$item.organization.name desc=$item.organization.desc url=$item.organization.url }}
            {{ /if }}
            {{ /if }}
            {{ /if }}

            {{ if $item.comment || $item.invite_comment_count }}
            {{ if $item.comment }}
                {{ $final_comment_count = $item.comment }}
                {{ $final_comment_text = $final_comment_count|cat:' 条评价' }}
            {{ else }}
                {{ $final_comment_count = $item.invite_comment_count }}
                {{ $final_comment_text = $item.invite_comment_count|cat:' 条邀请评价' }}
            {{ /if }}
            <a class="comment" href="{{ $root|cat:$item.detail_url }}/tcomment"
               target="_blank" data-title="{{ $final_comment_text }}" {{ if $log_flag }}log="{{ $log_url }}&location=comment" {{ /if }}>
            <i class="icon icon-comment"></i>
            {{ $final_comment_count }}
            </a>
            {{ /if }}


        </div>

        <div class="slogon">
            {{ $item.summary }}
        </div>

        <div class="school-age">
            <i class="icon icon-clock-o"></i>
            {{ if $item.school_age == -1 }}
            30 年以上
            {{ else }}
            {{ $item.school_age }} 年
            {{ /if }}
            教龄
        </div>
        {{ if !empty($item.course) }}
        <div class="course">
            <i class="icon icon-book-o"></i>
            {{ if $item.id == '98851' }}
            <span>公共英语</span>
            {{ else }}
            <span{{ if $item.course != $item.course_cut }} data-title="{{ $item.course }}" data-width="20em"{{ /if }}>
            {{ $item.course_cut }}
            </span>

            <div class="text-indent-seo">
                {{ $item.course }}
            </div>

            {{ /if }}
        </div>
        {{ /if }}

        {{ if !empty($item.style) }}
        <div class="lesson-way">
            <i class="icon icon-door-o"></i>
            {{ $item.style }}
        </div>
        {{ /if }}

        <div class="tags">
            {{ foreach $item.tag as $tag }}
            {{ if $tag@index < 4 }}
            <label class="label-default small">{{ $tag.name }}</label>
            {{ /if }}
            {{ /foreach }}
        </div>

    </div>

    <div class="teacher-price">
        {{ if !empty($item.course) }}
        <div>
            <strong>￥{{ $item.price }}</strong> /小时起
        </div>
        {{ /if }}
        <a href="{{ $item.detail_url }}" target="_blank" class="btn btn-primary" {{ if $log_flag }}log="{{ $log_url }}&location=detail"{{ /if }} >
        查看详情
        </a>
        {{ if isset($favor) && $favor == 1 }}
        <a class="delete-favor" data-number="{{ $item.number }}" data-pager='{{ json_encode($tpl_data.pager,77) }}'> 删除收藏</a>
        {{ /if }}
    </div>
</div>

</div>

{{ /foreach }}
</div>
{{ /strip }}