{{ *

@file 视频缩略图

      参数：
      video：视频地址
      img: 视频图片地址
      title：视频标题
      intro：专业及教龄
      status: 视频状态，可参考 common/variable/videoStatus.html
      editable: 是否需要编辑

@author zhujialu

* }}
{{ strip }}

{{ if !isset($title) }}
    {{ $title = "" }}
{{ /if }}

{{ if !isset($intro) }}
    {{ $intro = "" }}
{{ /if }}

<div class="video-thumbnail" data-video="{{ $video }}" data-name="{{ $title }}" data-intro="{{ $intro }}" {{ if isset($vid) }} data-vid="{{ $vid }}" {{ /if }}>

    <img src="{{ $img }}" />

    {{ include file="common/variable/videoStatus.html" scope=parent }}

    {{ if isset($editable) && $editable }}
    <div class="action">

        <span class="edit">
            <i class="icon icon-rename"></i>
        </span>
        <span class="remove">
            <i class="icon icon-recycle-bin"></i>
        </span>

    </div>
    {{ /if }}

    {{ if isset($status) }}

        {{ if $status == 70 }}

        <i class="icon icon-play-o"></i>

        {{ else }}

        <label>
            {{ $video_map[$status] }}
        </label>

        {{ /if }}

    {{ else }}

        <i class="icon icon-play-o"></i>

    {{ /if }}

    {{ if $intro }}
    <div class="info">
        <div class="vname">
            <span>{{ $title }}</span>
            {{ $intro }}
        </div>
    </div>
    {{ /if }}

</div>

<span class="caption">
    {{ $title }}
</span>

{{ /strip }}