.case {
    background: white;
    margin-top: rem(-10);
    padding-top: rem(15);
    padding-bottom: rem(15);
    .title {
        font-family: PingFangSC-Semibold;
        font-size: rem(16);
        color: #3D3D3E;
        line-height: rem(16);
        padding-bottom: rem(10);
        padding-left: rem(10);
    }
    .content {
        padding: 0 rem(10);
        .box-item {
            padding: 0 0 0 rem(20);
            position: relative;
            .dot-box {
                position: absolute;
                left: 0;
                height: 100%;
                top: rem(6);
                left: rem(-2);
                .dot {
                    background: #DDDDDE;
                    border: rem(2) solid #FFFFFF;
                    border-radius: rem(20);
                    height: rem(12);
                    width: rem(12);
                }
                .dot-line {
                    width: rem(1);
                    height: 95%;
                    background: #ddddde;
                    position: relative;
                    left: rem(5);
                }
            }
            .box {
                .box-title {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(15);
                    color: #3D3D3E;
                    line-height: rem(30);
                    height: rem(30);
                }
                .box-time {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #9D9D9E;
                    letter-spacing: 0;
                    line-height: rem(28);
                    height: rem(30);
                }
                .box-content {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(15);
                    color: #3D3D3E;
                    line-height: rem(21);
                    padding-bottom: rem(15);
                    word-wrap: break-word;
                    word-break: break-all;
                }
            }
        }
    }
}