/**
 * 垂直居中对齐
 *
 * 用表格实现居中对齐必须包含两层结构，
 * 这里约定 cell 层叫做 .wrapper
 */
.vertical-middle(@height) {

    display: table;

    .wrapper {
        display: table-cell;
        height: @height;
        vertical-align: middle;
    }
}