.history-subjects-wrapper {
	.subject-item {
        width: 49%;
        margin-bottom: 14px;
        padding: 13px;
        text-align: center;
        background-color: #f8f8f8;
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        color: #666;
        font-size: 14px;
        &:hover {
            color: #ff6c00;
        }
        &:nth-child(2n + 1) {
            margin-right: 10px;
        }
        &.active {
            background-color: #ff6c00;
            color: #fff;
        }
    }
}