@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";
@import "page/studentRoom/_part/teacherDetail.styl";
@import "page/studentRoom/_part/refresh.styl";
@import "page/studentRoom/_part/contact.styl";

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: 2;
    opacity: 0.3;
}

.close-reason {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    bottom: rem(20);
    .choose-button {
        border-radius: rem(12);
    }
    .button {
        margin: 0 rem(10);
        padding: rem(14) 0;
        text-align: center;
        background-color: rgb(240,240,240);
        border: 1px solid #DDD;
        font-size: rem(18);
        color: #0076FF;
    }
    .confirm {
        border-radius: rem(2);
    }
    .cancel {
        margin-top: rem(6);
        border-radius: rem(2);
        background-color: #FFF;
    }
}
.close-reason-confirm, .delete-teacher-confirm {
    position: fixed;
    z-index: 2;
    left 50%
    top 50%
    transform translate(-50%, -50%)
    width: rem(290);
    background-color: rgb(240,240,240);
    text-align: center;
    border-radius: rem(4);
    .title {
        font-size: rem(18);
        padding: rem(16);
    }
    .buttons {
        display: flex;
        border-top: 1px solid $brand-border;
        .button {
            flex: 1;
            color: $brand-info;
            padding: rem(10);
            + .button {
                border-left: 1px solid $brand-border;
            }
        }
    }
}
