{{ *
    汇课间登录
    author：wangtianhua
* }}

{{ extends file="../common/base.html" }}

{{ block name="data" }}
    {{ $smarty.block.parent }}
    {{ $need_baidu_map = false }}
{{ /block }}

{{ block name="keywords" }}{{ $tpl_data.keywords }}{{ /block }}
{{ block name="description" }}{{ $tpl_data.description }}{{ /block }}
{{ block name="baidu-site-verification" }}ZdXouUVHvV{{ /block }}
{{ block name="title" }}
    {{ $tpl_data.title }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/userCenter/login/login.styl">
{{ /block }}

{{ block name="script" }}
<script>
require(
    [
        'userCenter/teacherCenter/common/layout',
        'userCenter/login/login'
    ],
    function (layout, login) {
        layout.init({
            topMenu: 'userCenter',
            sideMenu: 'indexDecorate',
            isIframe: false
        });

        {{ $script_data = $tpl_data }}

        login.init(
            {{ json_encode($script_data, 77) }}
        );
    }
);
</script>
{{ /block }}