{{ strip }}
<div class="post">
    <h3 class="post-title">热门帖子</h3>
    <div class="post-list-wrapper">
        <ul class="post-list">
            {{ foreach $data as $item  }}
            <li class="post-item{{ if !empty($item.img) }} with-cover{{ /if }}">

                <h4 class="post-item-title ellipsis" title="{{ $item.title }}">
                    <a href="{{ $item.post_info_url }}" target="_blank">
                        {{ $item.title|escape:'html' }}
                    </a>
                </h4>

                <p class="post-item-content">
                    <a href="{{ $item.post_info_url }}" target="_blank">
                        {{ $item.brief|escape:'html'|cat:'...' }}
                    </a>
                </p>

                <div class="post-item-action">
                    <a href="{{ $item.user_homepage_url }}" target="_blank" rel="nofollow">
                        {{ $item.author|escape:'html' }}
                    </a>
                    <span class="divider"></span>
                    <a href="{{ $item.group_info_url }}" target="_blank">
                        {{ $item.group_name|escape:'html' }}
                    </a>
                    <span class="post-time">
                        {{ $item.create_time }}
                    </span>
                    <span class="action">
                        <i class="icon icon-thumbs-up"></i>
                        {{ $item.zan_num }}
                    </span>
                    <span class="action">
                        <i class="icon icon-message"></i>
                        {{ $item.reply_num }}
                    </span>
                </div>

                {{ if !empty($item.img) }}
                <a class="cover" href="{{ $item.post_info_url }}" target="_blank">
                    {{ include file="common/component/image.html" url=$item.img width=175 height=100 }}
                </a>
                {{ /if }}
            </li>
            {{ /foreach }}
        </ul>
        {{ include file="common/component/pager.html" page=$pager.hot_posts_page page_size=25 count=$pager.hot_posts_count hide_jump=true }}
    </div>
</div>
{{ /strip }}