.safeguard {
    display: block;
    height: rem(40);
    padding: 0 rem(10);
    line-height: rem(39);
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #ebeced;

    .logo {
        float: left;
        margin-top: rem(10);
        width: rem(17);
        height: rem(19);
    }

    .name {
        float: left;
        margin-left: rem(5);
        font-size: rem(14);
    }

    .intro {
        float: right;
        color: #9d9d9e;
        font-size: rem(12);
    }

    .arrow {
        float: right;
        margin-top: rem(12);
        margin-left: rem(10);
        width: rem(8);
        height: rem(14);
    }
}
