/**
 * @file static/ 所有文件需要 import 的样式
 * @author zhujialu
 */

@import '../../common/layout.less';

#header {

    background-color: #FFF;
    padding: @padding-vertical-content 0;

    .wrapper {
        width: 900px;
        height: auto;
        margin: 0 auto;
        position: relative;
    }
    .signup {
        color: @brand-primary;
        cursor: pointer;
    }
    h1 {
        img {
            vertical-align: middle;
        }

        font-size: @font-size-medium;

        a {
            margin-right: @gap-horizontal-small;
        }
    }

    h2 {
        .icon-phone {
            margin-right: @gap-horizontal-tiny;
            position: relative;
            top: 1px;
        }

        a {
            color: @brand-primary;
        }

        b {
            position: relative;
            bottom: 2px;
            color: @brand-gray-light;
            margin: 0 @gap-vertical-small;
        }

        position: absolute;
        right: 0;
        top: 18px;
    }


}

#footer {
    background-color: transparent;
    color: #999;
    clear: both;
    font-size: @font-size-tiny;
    text-align: center;
}