{{ strip }}
<dl>
    <dt>第一节</dt>
    <dd>
        <div class="column-left">
            <div class="row">
                <div>
                    <label>课程时间：</label>2015-04-09  8：00 - 9：00
                </div>
                <div>
                    <label>主讲老师：</label>白宜玄
                </div>
            </div>
            <div class="row">
                <label>课程内容：</label>【第1节】: 托福写作评分和 【第2节】: 写作语言提升【第1节】: 托福写作评分和 【第2节】: 写作语
            </div>
        </div>

        <div class="column-right">
            <div class="complete">已完成</div>
<!--             <div class="ready">即将开课</div>
            <div class="in-progress">正在上课</div>
            <button class="btn-success">进入教室</button> -->
        </div>
    </dd>
</dl>
{{ /strip }}