.tips-wrapper.position-center {
	position: fixed;
    min-width: 600px;
    height: 60px;
    top: 40%;
    left: 26%;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    z-index: 1001;
}
.tips-wrapper.position-top {
    position: fixed;
    height: 42px;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    line-height: 42px;
    text-align: center;
    z-index: 1001;
    width: 100%;
    top: 0;
    left: 0;
}
.tips-wrapper.primary {
    background-color: #ff6c00;
}
.tips-wrapper.secondary {
    background-color: #666;
}
.tips-wrapper.success {
    background-color: #5fb41b;
}
.tips-wrapper.error {
    background-color: #f95710;
}
.tips-wrapper.info {
    background-color: #f95710;
}
.tips-wrapper.warning {
    background-color: #f0ad4e;
}
.tips-wrapper.danger {
    background-color: #d9534f;
}
.tips-wrapper.muted {
    background-color: #a3a3a3;
}
