#class-course-detail {

    .class-course-detail-editor {
        .u-editor-tip {
            margin-top: 10px;
            font-size: 12px;
            color: #aaa;
        }
    }
    .input-tip-container {
        color: #f00;
        font-size: 12px;
        display: none;
        padding-bottom: 10px;
    }
}
