#class-course-photo {

    .module-content-form {
        padding-top: 20px;
        .clearfix();

        .uploaded-item {
            background: #efefef;
            margin-bottom: 20px;
            padding: 20px;

            &:first-child {
                .move-up {
                    display: none;
                }
            }

            &:last-child {
                .move-down {
                    display: none;
                }
            }

            img {
                width: 188px;
                height: 106px;
            }

            & > div {
                display: inline-block;
                vertical-align: top;
                margin-left: 10px;
                height: 22px;
                line-height: 22px;
                font-size: 12px;

                label {
                    padding: 0;
                }

                &.action {
                    background: #7fa3f1;
                    color: #fff;
                    padding: 0 20px 5px 20px;
                    border-radius: 2px;
                    cursor: pointer;
                }

                &.move-down:before {
                    position: relative;
                    top: 2px;
                }

                &.delete-item {
                    background: #f90;
                }
            }
        }
    }
    .uploader-tip-container {
        display: inline-block;
        font-size: 12px;
        .icon-info-circle {
            display: none;
            margin-bottom: 10px;
            color: #f00;
            &:before {
                margin-right: 5px;
            }
        }
        &.valid {
            .icon-info-circle {
                display: none;
            }
        }
        &.invalid {
            .icon-info-circle {
                display: inline-block;
            }
        }
    }
    .add-photo-tip {
        float: left;
        width: 220px;

        .add-photo {
            width: 200px;
            height: 140px;
            padding-top: 45px;
            margin-bottom: 15px;
            border: 1px dashed #ccc;
            background: #efefef;
            text-align: center;
            cursor: pointer;

            .icon {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }

        .photo-limit-tip {
            font-size: 12px;

            & > div {
                margin-bottom: 10px;

                &.next-line {
                    margin-left: 13px;
                }

                &.last-line, &.new-line {
                    margin-bottom: 0;
                }
            }
        }
    }

    .photo-sample {
        font-size: 12px;

        .photo-sample-text {
            margin-bottom: 10px;
        }

        .photo-sample-img {
            margin-top: 15px;

            & > img {
                width: 188px;
                height: 106px;
                margin-right: 20px;
            }
        }
    }
}