#class-course-quit {

    .form-text {
        &.short-text {
            width: 60px;
        }
    }

    .retire-group {
        .error {
            margin-top: 5px;
        }
    }
    
    .form-controls {
        position: relative;
        min-width: 650px;
        .inline {
            display: inline-block;
        }
    }
}
.dialog-content {
    font-size: 14px;
    line-height: 24px;
}