@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

body
    color #3d3d3d
    font-size rem(14)
    .warn
        color #f95e5e

    .success
        color #5fb41b

    .muted
        color #a3a3a3

    .btn-muted
        background-color #9d9e9e!important

    .space-top
        margin-top rem(5)

.instalment-detail
    padding 0 rem(15)
    margin-bottom rem(15)
    background-color #fff
    border-radius rem(4)

    > div:first-child
        border-bottom rem(1) solid #d8d8d8
        padding-bottom rem(15)
    > div
        padding rem(15) 0

        > div
            line-height 1.8

        > .to-submit:hover
            background-color #2C84C6

        > .submit
            display block
            background-color #3fa5f2
            border-radius rem(2)
            width 100%
            height rem(36)
            line-height rem(36)
            color #fff
            text-align center
            margin-top rem(25)

.instalment-list
    background-color #fff
    text-align center

    >.title
        font-size rem(16)
        padding-top rem(15)
        padding-bottom rem(10)


    > .header,
    .item
        > div
            display inline-block
            width 25%
            height rem(40)
            line-height rem(40)

    > .header
        background-color #f0f0f0
        color #3d3d3d
        font-size rem(14)
        padding 0 rem(15)

    .container
        color #9d9e9e
        font-size rem(12)

        >  .item:first-child
            border-top 0

        > .item.current-item
            color #3fa5f2

        > .item
            margin 0 rem(15)
            border-top rem(1) solid #d8d8d8

            > div
                height rem(50)
                line-height rem(50)