@import "page/_base/base.styl";
@import "page/activity/gaokao/_part/index.styl"

body{
    background: #EDEDED;
}

header{
    background: rgba(248,247,247,0.90);;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
    height: rem(64);
    position: relative;
    font-family:PingFang-SC-Regular;
    font-size:rem(17);
    color:#3c3d3d;
    line-height:rem(64);
    text-align:center;
    top:0;
    left:0;
    opacity: 1;
    z-index: 3;
    .icon-back{
        position: absolute;
        height: rem(20);
        width: rem(10);
        top: 36%;
        left: rem(10);
    }
}

.share-infos{
    width:90%
    margin-left:5%;
    text-align:center;
    margin-top:rem(20);
    p{
        font-family:PingFang-SC-Regular;
        font-size:rem(14);
        color:#9d9e9e;
        line-height:rem(14);
    }
    .share-button{
        border:1px solid #ff6c00;
        border-radius:rem(100);
        width: 60%;
        margin-left: 18%;
        height: rem(38);
        margin-top: rem(20);
        margin-bottom: rem(20);
        p{
            font-family:PingFang-SC-Regular;
            font-size:rem(16);
            color:#ff6c00;
            line-height:rem(38);
            text-align:center;
        }
    }
}

.zhuren,.zhuren-2{
    width: 96%;
    margin-left: 2%;
    background: white;
    margin-top: rem(10);
    border-radius: rem(4);
    span{
        display:inline-block;
    }
    h2{
        font-family: PingFang-SC-Medium;
        font-size: rem(15);
        color: #3c3d3d;
        line-height: rem(15);
        margin-bottom: rem(10);
        margin-left: rem(6);
        margin-top: rem(15);
    }
    .zhuren-list,zhuren-list-2{
        width:96%;
        margin-left:2%;
    }
    .zhuren-avatar{
        width:rem(62);
        height:rem(62);
        border-radius:50%;
    }
    .zhuren-card{
        position:relative;
        margin-bottom:rem(15);
        float:left;
        margin-top:rem(15);
        margin-left:rem(10);
        text-align: center;
        width: 29%;
    }
    .zhuren-school{
        font-family:PingFang-SC-Regular;
        font-size:rem(14);
        color:#3c3d3d;
        line-height:rem(14);
        text-align:center;
        margin-top:rem(10);
    }
    .zhuren-date{
        font-family:PingFang-SC-Regular;
        font-size:rem(12);
        color:#9d9e9e;
        line-height:rem(14);
        text-align:center;
        margin-top: rem(6);
    }
    .zhuren-button-unpay,.zhuren-button-haspay,.zhuren-button-video{
        width: 96%;
        margin-left: 2%;
        background: #808080;
        margin-top: rem(10);
        border-radius: rem(4);
        height: rem(29);
        text-align: center;
        line-height: rem(29);
        color: #fff;
        font-family:PingFang-SC-Regular;
        font-size:rem(13);
        text-align:center;
    }
    .zhuren-button-unpay{
        background:#1db954;
    }
    .zhuren-button-video{
        background:#ff9100;
    }
    .has_more_zhuren{
        width:100%;
        text-align:center;
        height:rem(25);
        p{
            font-family:PingFang-SC-Regular;
            font-size:rem(13);
            color:#9d9e9e;
            line-height:rem(13);
        }
    }
    .name-school{
        font-family:PingFang-SC-Regular;
        font-size:rem(12);
        color:#9d9e9e;
        line-height:rem(12);
        text-align:center;
        position:relative;
        margin-top: rem(6);
        i{
            position:absolute;
            bottom:30%;
        }
    }
}
.zhuren-2{
    margin-bottom:rem(90);
}
.share-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 900;
  background-color: #000;
  opacity: 0.65;
  .content {
    position: absolute;
    top: rem(10);
    width: 100%;
    height: 100%;
    img {
      width: rem(200);
      height: rem(150);
      position: absolute;
      top: 0;
      right: rem(20);
    }
  }
}

.search{
    margin-top: rem(8);
    width: 96%;
    margin-left: 2%;
    .search-value{
        width:80%;
        background:#ffffff;
        border:1px solid #ebeced;
        border-radius:rem(3);
        padding: 0 rem(8);
        font-size:rem(14);
        height:rem(34);
    }
    span{
        height: rem(32);
        line-height: rem(32);
        margin-left: rem(12);
        font-family:PingFang-SC-Regular;
        font-size:rem(14);
        color:#9d9e9e;
    }

}
.hide{
    display:none;
}

.has_more,.has_more-2{
    width: 100%;
    height: rem(30);
    text-align: center;
    position:relative;
    .bottom-icon{
        position:absolute;
        width: rem(9);
        height: rem(5);
        right: 33%;
        top: 19%;
    }
    p{
        font-family:PingFang-SC-Regular;
        font-size:rem(13);
        color:#9d9e9e;
        line-height:rem(13);
    }
}