{{ extends file="common/main/base.html" }}

{{ block name="data" }}

{{ $smarty.block.parent }}

{{ $script_path = "guide/feedback" }}

{{ /block }}

{{ block name="title" }}
意见反馈 - 关于跟谁学 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/guide/feedback.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}




<div id="main">

    {{ include file="./common/sidebar.html" }}


    <!--右-->
    <div class="btright">
        <h2>意见反馈</h2>
        <textarea id="report" name="content" >有什么不爽的，告诉我们吧！</textarea>
        <input type="text" name="content" id="contact" value="QQ/邮箱/手机" />

        <div>
            <input type="text" name="content" id="captcha" value="输入右侧验证码" />

            <img id="captcha-img" data-src="/captcha?captcha_name=feedback" src="/captcha?captcha_name=feedback"/>
        </div>

        <div id="joinQQ">跟谁学-用户反馈1群</div>
        <iframe width="0" height="0" frameborder="0" id="qqIframe" src=""></iframe>
        <span class="feed">有不爽的，请告诉我们吧！</span>
        <div id="submit">提交</div>
        <p class="p">跟谁学-QQ群： <span class="special">310442613</span></p>
        
<!--        <p class="business">
            意见反馈邮箱：
            <a href="mailto:tousu@genshuixue.com"><span class="special">tousu@genshuixue.com</span></a>
        </p>-->
    </div>
    <!--右 over-->
</div>





{{ /strip }}
{{ /block }}