{{ extends file="common/main/base.html" }}

{{ block name="title" }}
平台流程- 帮助中心 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/guide/process.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}



<div id="main">

    {{ include file="./common/sidebar.html" }}


    <!--右-->
    <div class="btright">
        <h2>平台流程</h2>
        <img src="{{ $static_origin }}/src/img/guide/process.png" alt="支付方式" />
    </div>
    <!--右 over-->
</div>











{{ /strip }}
{{ /block }}