{{ extends file="common/main/base.html" }}

{{ block name="title" }}
侵权投诉 - 服务支持 - 跟谁学
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/guide/clause.less">
{{ /block }}

{{ block name="main" }}

{{ strip }}



<div id="main">

    {{ include file="guide/common/sidebar.html" }}


    <!--右-->
    <div class="btright tort">
        <!--h2>侵权投诉</h2-->
        <h2>
            <a name="top">侵权投诉</a>
        </h2>
        <p class="foreword"> 任何企业或个人如认为跟谁学网站中的内容涉嫌侵犯其知识产权或相关合法权益，均可及时向跟谁学提出书面权利通知，并提供身份证明、权属证明及详细侵权情况证明。跟谁学在收到上述文件后会依法及时采取删除、屏蔽、断开链接等必要措施。具体步骤如下：</p>

        <h5 class="item">一、权利通知</h5>
        <p>1、权利通知的内容应包括：</p>
        <p class="indent"> 权利人的权属证明；</p>
        <p class="indent"> 明确描述侵权内容；</p>
        <p class="indent">明确指明侵权内容的位置，包括网页地址和网页内的位置；</p>
        <p class="indent">权利要求。</p>
        <p>2、请提供权利人详细的联络方式，个人请提供姓名、身份证或护照复印件、电话、通信地址、邮编等。企业请提供法人资质文件复印件（加盖公章）、联系人、电话、通信地址、邮编等。</p>
        <h5 class="item">请注意：如果权利通知的内容失实，权利通知提交者将承担由此造成的全部法律责任。</h5>
        <h5 class="item">二、反通知</h5>

        <p>    跟谁学根据前述权利通知依法及时采取删除、屏蔽、断开链接等必要措施后，被删除、屏蔽、断开链接的内容提供者可以依法向跟谁学发出关于其内容不侵权的反通知。反通知发出后，跟谁学可以采取恢复措施。前述权利通知发出人无权要求跟谁学再行采取删除、屏蔽、断开链接等措施。</p>
        <p>1、反通知的内容应包括：</p>
        <p class="indent">反通知人的权属证明；</p>
        <p class="indent">充分描述不构成侵权的理由；</p>
        <p class="indent">明确指明要求恢复的内容、措施及网址；</p>
        <p> 2、请提供反通知人详细的联络方式，个人请提供姓名、身份证或护照复印件、电话、通信地址、邮编等。单位请提供法人资质文件复印件（加盖公章）、联系人、电话、通信地址、邮编等。</p>

        <h5 class="item">请注意：如果“反通知”的内容失实，反通知人将承担由此造成的全部法律责任。</h5>
        <h6>
            上述权利通知或反通知均请发送至邮箱：
          <a class="tort-mail" href="mailto:tousu@genshuixue.com">tousu@genshuixue.com</a>
        </h6>

    </div>
    <!--右 over-->
</div>




{{ /strip }}
{{ /block }}