/**
 * @file 图标
 * @author zhujialu
 */
@import '../../../dep/icomoon/0.0.81/style.less';

.icon {
    display: inline-block;
    vertical-align: baseline;
}

.icon-certification-idcard,
.icon-certification-teacher,
.icon-certification-profession,
.icon-certification-student,
.icon-certification-home,
.icon-certification-internal,
.icon-certification-online{
    background-image: url(../../img/icon/iconsall.png);
    height: 19px;
}

.icon-certification-idcard {
    background-position: -19px 1px;
    width: 20px;
}
.icon-certification-teacher {
    background-position: -40px 0;
    width: 18px;
}

.icon-certification-profession {
    background-position: -59px 0;
    width: 19px;
}
.icon-certification-student {
    background-position: -79px 0;
    width: 20px;
}
.icon-certification-home {
    background-position: -57px -19px;
    width: 18px;
    height: 18px;
}
.icon-certification-internal {
    background-position: 0 0;
    width: 18px;
}
.icon-certification-online {
    background-position: 22px -18px;
    width: 18px;
}
.icon-certification-license{
    background-image: url(../../img/icon/certification.png);
    height: 20px;
    width: 72px;
    background-position: 0 -376px;
}


.icon-add,
.icon-add-dark,
.icon-add-light,

.icon-remove,
.icon-remove-dark,
.icon-remove-light,

.icon-edit,
.icon-edit-dark,
.icon-edit-light,

.icon-round-add,
.icon-round-add-dark,
.icon-round-add-light,

.icon-round-edit,
.icon-round-edit-dark,
.icon-round-edit-light {
    background: url(../../img/icon/operation.png);
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.icon-add-dark {
    background-position: -38px -2px;
}
.icon-add-light {
    background-position: -74px -2px;
    &:hover {
        .icon-add-dark;
    }
}
.icon-add {
    background-position: -2px -2px;
    &:hover {
        .icon-add-dark;
    }
}

.icon-remove-dark {
    background-position: -38px -74px;
}
.icon-remove-light {
    background-position: -74px -74px;
    &:hover {
        .icon-remove-dark;
    }
}
.icon-remove {
    background-position: -2px -74px;
    &:hover {
        .icon-remove-dark;
    }
}

.icon-edit-dark {
    background-position: -38px -38px;
}
.icon-edit-light {
    background-position: -74px -38px;
    &:hover {
        .icon-edit-dark;
    }
}
.icon-edit {
    background-position: -2px -38px;
    &:hover {
        .icon-edit-dark;
    }
}

.icon-round-add,
.icon-round-add-dark,
.icon-round-add-light,

.icon-round-edit,
.icon-round-edit-dark,
.icon-round-edit-light {
    width: 36px;
    height: 36px;
}

.icon-round-add-dark {
    background-position: -36px -108px;
}
.icon-round-add-light {
    background-position: -180px -108px;
    &:hover {
        .icon-round-add-dark;
    }
}
.icon-round-add {
    background-position: -108px -108px;
    &:hover {
        .icon-round-add-dark;
    }
}

.icon-round-edit-dark {
    background-position: -144px -144px;
}
.icon-round-edit-light {
    background-position: -180px -144px;
    &:hover {
        .icon-round-edit-dark;
    }
}
.icon-round-edit {
    background-position: -108px -144px;
    &:hover {
        .icon-round-edit-dark;
    }
}


.icon-small-remove-dark,
.icon-small-remove-light,
.icon-small-edit-dark,
.icon-small-edit-light{
    background: url(../../img/icon/operation.png);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.icon-small-remove-dark {
    background-position: -66px -182px;
}
.icon-small-remove-light {
    background-position: -130px -182px;
    &:hover {
        .icon-small-remove-dark;
    }
}
.icon-small-edit-dark {
    background-position: -44px -182px;
}
.icon-small-edit-light {
    background-position: -108px -182px;
    &:hover {
        .icon-small-edit-dark;
    }
}


.icon-combo-green,
.icon-combo-blue,
.icon-combo-green-small,
.icon-combo-blue-small {
    background-image: url(../../img/icon/combo.png);
    width: 95px;
    height: 95px;
}
.icon-combo-green {
    background-position: 0 0;
}
.icon-combo-blue {
    background-position: 0 -95px;
}
.icon-combo-green-small {
    background-position: 0 -191px;
    width: 54px;
    height: 54px;
}
.icon-combo-blue-small {
    background-position: 0 -247px;
    width: 54px;
    height: 54px;
}

.icon-bank-alipay,
.icon-bank-wechat,
.icon-bank-boc,
.icon-bank-icbc,
.icon-bank-cmb,
.icon-bank-ccb,
.icon-bank-abc,
.icon-bank-bcm,
.icon-bank-spdb,
.icon-bank-ceb,
.icon-bank-cib,
.icon-bank-cmbc,
.icon-bank-cgb,
.icon-bank-fdb,
.icon-bank-citic,
.icon-bank-hzb,
.icon-bank-bos,
.icon-bank-srcb,
.icon-bank-bob,
.icon-bank-bjrcb,
.icon-bank-wzcb,
.icon-bank-nbcb,
.icon-bank-pab,
.icon-bank-psbc,
.icon-bank-sdb,
.icon-bank-hxb,
.icon-bank-jsb,
.icon-bank-bnc,
.icon-bank-bocd,
.icon-bank-cdrcb,
.icon-bank-abc1003,
.icon-bank-abc1004,
.icon-bank-shortcut {
    background-image: url(../../img/icon/bank.jpg);
    height: 20px;
}

.icon-bank-post {
    background-image: url(../../img/icon/bank_post.gif);
    height: 20px;
    width: 93px;
}

.icon-bank-alipay {
    background-position: -106px -83px;
    width: 63px;
}
.icon-bank-wechat {
    background-position: -283px -105px;
    width: 83px;
}
.icon-bank-boc {
    background-position: 0px 0px;
    width: 74px;
}
.icon-bank-icbc {
    background-position: -76px 0px;
    width: 107px;
}
.icon-bank-cmb {
    background-position: -409px 0px;
    width: 83px;
}
.icon-bank-ccb {
    background-position: -292px -1px;
    width: 113px;
}
.icon-bank-abc {
    background-position: -187px 0px;
    width: 101px;
}
.icon-bank-bcm {
    background-position: -256px -62px;
    width: 112px;
}
.icon-bank-spdb {
    background-position: -119px -21px;
    width: 76px;
}
.icon-bank-ceb {
    background-position: -266px -84px;
    width: 119px;
}
.icon-bank-cib {
    background-position: -103px -42px;
    width: 105px;
}
.icon-bank-cmbc {
    background-position: 0px -63px;
    width: 135px;
}
.icon-bank-cgb {
    background-position: -283px -21px;
    width: 109px;
}
.icon-bank-fdb {
    background-position: -925px -21px;
    width: 73px;
}
.icon-bank-citic {
    background-position: -196px -21px;
    width: 84px;
}
.icon-bank-hzb {
    background-position: -345px -42px;
    width: 73px;
}
.icon-bank-bos {
    background-position: -282px -41px;
    width: 60px;
}
.icon-bank-srcb {
    background-position: -420px -42px;
    width: 74px;
}
.icon-bank-bob {
    background-position: -371px -62px;
    width: 87px;
}
.icon-bank-bjrcb {
    background-position: -137px -62px;
    width: 117px;
}
.icon-bank-wzcb {
    background-position: -171px -84px;
    width: 92px;
}
.icon-bank-nbcb {
    background-position: -212px -41px;
    width: 69px;
}
.icon-bank-pab {
    background-position: 0px -42px;
    width: 98px;
}
.icon-bank-psbc {
    background-position: 0px -21px;
    width: 116px;
}
.icon-bank-sdb {
    background-position: -386px -84px;
    width: 128px;
}
.icon-bank-hxb {
    background-position: -0px -105px;
    width: 90px;
}
.icon-bank-jsb {
    background-position: -368px -105px;
    width: 85px;
}
.icon-bank-bnc {
    background-position: -454px -105px;
    width: 76px;
}
.icon-bank-bocd {
    background-position: -92px -105px;
    width: 81px;
}
.icon-bank-cdrcb {
    background-position: -174px -105px;
    width: 107px;
}
.icon-bank-abc1003 {
    background-position: 0 -84px;
    width: 67px;
}
.icon-bank-abc1004 {
    background-position: -69px -84px;
    width: 35px;
}
.icon-bank-shortcut {
    background-position: -458px -62px;
    width: 82px;
}
.icon-bank-wechat {
    background: url('../../img/icon/bank-wechat.png');
    width: 96px;
    height: 26px;
}


.icon-teach-org {
    background: url(../../img/teacher/org.png);
    width: 14px;
    height: 14px;
}

.icon-new-prize {
    background: url(../../img/icon/prize.png);
    width: 16px;
    height: 16px;
}

.icon-new-coupon {
    background: url(../../img/icon/coupon.jpg);
    width: 16px;
    height: 16px;
}


.icon-medal-valuegold,
.icon-medal-valuesilver,
.icon-medal-valuecopper,
.icon-medal-populargold,
.icon-medal-popularsilver,
.icon-medal-popularcopper {
    background-image: url(../../img/icon/medal.png);
    height: 25px;
    width: 21px;
}

.icon-medal-valuegold {
    background-position: 0 0;
}

.icon-medal-valuesilver {
    background-position: -26px 0;
}

.icon-medal-valuecopper {
    background-position: -52px 0;
}

.icon-medal-populargold {
    background-position: 0 -28px;
}

.icon-medal-popularsilver {
    background-position: -26px -28px;
}

.icon-medal-popularcopper {
    background-position: -52px -28px;
}

@file-icon-tiny-size: 20px;
@file-icon-small-size: 36px;
@file-icon-medium-size: 64px;
@file-icon-large-size: 80px;

//file foloder 图标
.icon-file-folder,
.icon-file-other,
.icon-file-txt,
.icon-file-zip,
.icon-file-rar,
.icon-file-doc,
.icon-file-docx,
.icon-file-ppt,
.icon-file-pptx,
.icon-file-xls,
.icon-file-xlsx,
.icon-file-pdf,
.icon-file-jpg,
.icon-file-png,
.icon-file-mp4,
.icon-file-avi,
.icon-file-flv,
.icon-file-mkv,
.icon-file-mp3,
.icon-file-wav,
.icon-file-all,
.icon-file-virtual {
    &.tiny {
        background: url(../../img/icon/file/icon_tiny.png);
        width: @file-icon-tiny-size;
        height: @file-icon-tiny-size;
    }
    &.small {
        background: url(../../img/icon/file/icon_small.png);
        width: @file-icon-small-size;
        height: @file-icon-small-size;
    }
    &.medium {
        background: url(../../img/icon/file/icon_medium.png);
        height: @file-icon-medium-size;
        width: @file-icon-medium-size;
    }
    &.large {
        background: url(../../img/icon/file/icon_large.png);
        width: @file-icon-large-size;
        height: @file-icon-large-size;
    }
}

.icon-file-position(@tiny, @small, @medium, @large) {
    &.tiny {
        background-position: 0 -(@tiny * @file-icon-tiny-size);
    }
    &.small {
        background-position: 0 -(@small * @file-icon-small-size);
    }
    &.medium {
        background-position: 0 -(@medium * @file-icon-medium-size);
    }
    &.large {
        background-position: 0 -(@large * @file-icon-large-size);
    }
}

.icon-file-folder {
    .icon-file-position(0, 0, 0, 0);
}

.icon-file-other {
    .icon-file-position(1, 1, 1, 1);
}

.icon-file-txt {
    .icon-file-position(2, 2, 2, 2);
}

.icon-file-zip {
    .icon-file-position(3, 3, 3, 3);
}

.icon-file-rar {
    .icon-file-position(3, 4, 4, 4);
}

.icon-file-doc {
    .icon-file-position(4, 5, 5, 5);
}

.icon-file-docx {
    .icon-file-position(4, 6, 6, 6);
}

.icon-file-ppt {
    .icon-file-position(5, 7, 7, 7);
}

.icon-file-pptx {
    .icon-file-position(5, 8, 8, 8);
}

.icon-file-xls {
    .icon-file-position(6, 9, 9, 9);
}

.icon-file-xlsx {
    .icon-file-position(6, 10, 10, 10);
}

.icon-file-pdf {
    .icon-file-position(7, 11, 11, 11);
}

.icon-file-jpg {
    .icon-file-position(8, 12, 12, 12);
}

.icon-file-png {
    .icon-file-position(8, 13, 13, 13);
}

.icon-file-mp4 {
    .icon-file-position(9, 14, 14, 14);
}

.icon-file-avi {
    .icon-file-position(9, 15, 15, 15);
}

.icon-file-flv {
    .icon-file-position(9, 16, 16, 16);
}

.icon-file-mkv {
    .icon-file-position(9, 17, 17, 17);
}

.icon-file-mp3 {
    .icon-file-position(10, 18, 18, 18);
}

.icon-file-wav {
    .icon-file-position(10, 19, 19, 19);
}

.icon-file-all {
    .icon-file-position(11, 1, 1, 1);
}

.icon-file-virtual {
    .icon-file-position(20, 20, 20, 20);
}

.icon-prize-star {
    background: url(../../img/icon/prize_star.png) no-repeat;
    width: 23px;
    height: 23px;
}

.icon-prize-tip {
    background: url(../../img/icon/prize_tip.png) no-repeat;
    width: 50px;
    height: 25px;
}

.icon-call {
    cursor: pointer;
    width: 84px;
    height: 22px;
    background: url(../../img/icon/call.png) no-repeat;
    &:hover {
        background-position: 0 -22px;
    }
}

.icon-bank-huabei {
    background: url('../../img/icon/huabei_fenqi.png') no-repeat;
    width: 26px;
    height: 26px;
}
