
@import '../../../dep/muse/0.0.2/src/variable.less';
@import '../../../dep/muse/0.0.2/src/mixin.less';
@import '../../../dep/muse/0.0.3/src/muse.less';



.message-primary,
.message-info,
.message-success,
.message-error {

    padding-left: 30px !important;
    position: relative;

    .icon-info-circle,
    .icon-check-circle,
    .icon-clock {
        font-size: 14px;
        position: absolute;
        left: 10px;
        top: 9px;
    }
}

.dropdown {
    .btn-default {
        height: 36px;
    }
}


.form {

    .form-hint {

        strong {
            font-weight: bold;
            padding: 0 2px;
        }
        .icon-info-circle {
            margin-right: @gap-horizontal-tiny;
        }
    }

    .form-action {

        .btn-primary + .btn-default,
        .btn-primary + .btn-info {
            margin-left: 15px;
        }
    }

    .error {
        background-color: @brand-primary-lighter;
        border: 1px solid @brand-primary-light;
        padding: 6px 12px;
        z-index: @zindex-tiny;
        box-shadow: 0 1px 1px #eee;
    }

    .has-error {
        .dropdown .btn-default {
            border-color: @brand-error;
        }
    }

    .error:before,
    .error:after{border:6px solid transparent;content:' ';position:absolute;left:1em}
    .error:before{border-top-color:#f8ce69;bottom:-13px}
    .error:after{border-top-color:#fffbef;bottom:-12px}
}

input[type="password"] {
    font-family: sans-serif;
}


.form-editor {

    display: inline-block;

    .form-hint {
        display: block;
        text-align: right;
        margin-top: 5px;
    }
}

.form-date {

    display: inline-block;
    position: relative;

    .calendar {
        font-size: @font-size-tiny;
        line-height: 1;
        position: absolute;
        left: 0;
        z-index: @zindex-tiny;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.12);

        .user-select(none);
    }

    .calendar-header {
        background-color: #6187dc;
        color: #FFF;
        padding: 8px;
        text-align: center;
        position: relative;
    }
    .icon-chevron-left,
    .icon-chevron-right {
        cursor: pointer;
        position: absolute;
        top: 8px;
    }
    .icon-chevron-left {
        left: 8px;
    }
    .icon-chevron-right {
        right: 8px;
    }

    table {
        background-color: #FFF;

        text-align: center;
        width: 100%;
    }
    th,
    td {
        padding: 8px;
    }

    thead {
        background-color: #dfe7f9;
        color: #3f61ad;
    }

    tbody {

        tr:nth-child(odd) {
            background-color: #FFF;
        }

        tr:nth-child(even) {
            background-color: #f5f8fc;
        }
    }


    td {
        cursor: pointer;

        &:hover {
            background-color: @brand-primary-lighter;
        }
        &.today {
            background-color: #6187dc !important;
            color: #FFF
        }
        &.active {
            background-color: @brand-primary;
            color: #FFF
        }


    }

    .date-disabled {
        background-color: #EFEFEF;
        cursor: not-allowed;
    }

}

.pager-block {
    margin-top: 2* @gap-vertical-medium;
    text-align: center;
}
.pager {
    display: inline-block;
    b {
        display: inline-block;
    }
}
.pager-form {
    display: inline-block;
    margin-left: 10px;

    .form-text {
        width: 35px;
        margin: 0 3px;
    }
    .btn-default {
        margin-left: 10px;
    }
}

.tab-nav-default,
.tab-nav-info,
.tab-nav-primary {
    .badge-primary,
    .text-primary {
        margin-left: 5px;
    }
}

.form(@label-width) {
    .form-label {
        width: @label-width;
    }
    .form-controls {
        margin-left: @label-width;
    }
    .form-action {
        padding-left: @label-width;
    }
}

.tooltip {
    z-index: @zindex-huge + 1;
    display: none;
}