#nav {

    @height: 43px;

    background-color: #464659;

    .wrapper {
        width: @page-width;
        margin: 0 auto;
        .clearfix();
    }

    .nav-item {

        color: @brand-gray;
        float: left;
        font-family: @font-family-title;
        height: @height;
        line-height: @height;

        &.active {
            background-color: #262C42;
            color: #FFF;
            cursor: text;
            .user-select(none);
        }
    }

}