/**
 * @file less 变量
 * @author zhujialu
 */


// 页面宽度
@page-width:                        1100px;

// 侧边栏宽度
@sidebar-width:                     180px;

// 内容区宽度
@content-width:                     900px;

// 圆角大小va
@border-radius-base:                2px;

//详情页浅灰色色边框
@border-color-gray:                 #E6E6E6;

//新的主色，还没有完全用，先叫这个名字，大规模用后应附加到组件样式里
@brand-primary-new:                 #FF7F00;
