{{ *
    @file 搜索条件
    @author wangyujie

    参数
        category 课程类别
        subject 课程科目
        areas 授课区域

* }}
{{ strip }}

<div class="search-box">
    <div class="current-city">
        {{ $tpl_data.current_city.name }}
        <i class="icon icon-pencil"></i>
    </div>

    <ul>
        {{ if isset($category) }}
        <li class="section category">
            <span>课程类别：</span>
            <ul>
                <li class="item">
                    <em class="small btn-link selected">全部</em>
                </li>
                {{ foreach $category as $item }}
                <li class="item">
                    <em class="small btn-link {{ if $item.selected }}selected{{ /if }}" data-id="{{ $item.id }}">
                        {{ $item.name }}
                    </em>
                </li>
                {{ /foreach }}
            </ul>
        </li>
        {{ /if }}

        {{ if isset($subject) }}
        <li class="section subject">
            <span>课程科目：</span>
            <ul>
                <li class="item">
                    <em class="small btn-link selected">全部</em>
                </li>
                {{ foreach $subject as $item }}
                <li class="item">
                    <em class="small btn-link {{ if $item.selected }}selected{{ /if }}" data-id="{{ $item.id }}">
                        {{ $item.name }}
                    </em>
                </li>
                {{ /foreach }}
            </ul>
        </li>
        {{ /if }}

        {{ if isset($areas) }}
        <li class="section areas">
            <span>授课区域：</span>
            <ul>
                <li class="item">
                    <em class="small btn-link selected">全部</em>
                </li>
                {{ foreach $areas as $item }}
                <li class="item">
                    <em class="small btn-link {{ if $item.selected }}selected{{ /if }}" data-id="{{ $item.id }}">
                        {{ $item.name }}
                    </em>
                </li>
                {{ /foreach }}
            </ul>
        </li>
        {{ /if }}
    </ul>

    <div class="all-city"></div>
</div>

{{ /strip }}