{{ *

@file 机构导航模块
@author jixiaohui

* }}

{{ strip }}

{{ $class_index = '' }}
{{ $class_blackboard = '' }}
{{ $class_course = '' }}
{{ $class_teacher = '' }}
{{ $class_intro = '' }}
{{ $famous = '' }}
{{ $out = '' }}
{{ $path_text = '' }}
{{ $path_link = '' }}

{{ $org_id = $tpl_data.base_info.id }}
{{ if $tpl_data.base_info.domain }}
{{ $org_serial = $tpl_data.base_info.domain }}
{{ else }}
{{ $org_serial = $tpl_data.base_info.number }}
{{ /if }}


{{ $url_index = "/i/"|cat:$org_serial }}
{{ $url_black = "/i/new_black/"|cat:$org_serial }}
{{ $url_course = "/i/new_course/"|cat:$org_serial }}
{{ $url_teacher = "/i/new_teacher/"|cat:$org_serial }}
{{ $url_intro = "/i/new_intro/"|cat:$org_serial }}
{{ $url_out = "/i/huike_courses/"|cat:$org_serial|cat:"&course_type=out&curr_page=1" }}
{{ $url_famous = "/i/huike_courses/"|cat:$org_serial|cat:"&course_type=famous&curr_page=1" }}

{{ if $tpl_data.abtest }}
    {{ $url_index = "/i/"|cat:$org_serial }}
    {{ $url_black = "/i/new_black/"|cat:$org_serial }}
    {{ $url_course = "/i/new_course/"|cat:$org_serial }}
    {{ $url_teacher = "/i/new_teacher/"|cat:$org_serial }}
    {{ $url_intro = "/i/new_intro/"|cat:$org_serial }}
    {{ $url_out = "/i/huike_courses/"|cat:$org_serial|cat:"&course_type=out&curr_page=1" }}
    {{ $url_famous = "/i/huike_courses/"|cat:$org_serial|cat:"&course_type=famous&curr_page=1" }}
{{ /if }}

{{ if $active == 'index' }}
    {{ $class_index = 'class="active"' }}
{{ else if $active == 'blackboard' }}
    {{ $class_blackboard = 'class="active"' }}
    {{ $path_text = '动态' }}
    {{ $path_link = $url_black }}
{{ else if $active == 'course' }}
    {{ $class_course = 'class="active"' }}
    {{ $path_text = '课程' }}
    {{ $path_link = $url_course }}
{{ else if $active == 'intro' }}
    {{ $class_intro = 'class="active"' }}
    {{ $path_text = '简介' }}
    {{ $path_link = $url_intro }}
{{ else if $active == 'famous' }}
    {{ $famous = 'class="active"' }}
    {{ $path_text = '校内精选' }}
    {{ $path_link = $url_famous }}
{{ else if $active == 'out' }}
    {{ $out = 'class="active"' }}
    {{ $path_text = '校外精选' }}
    {{ $path_link = $url_out }}
{{ /if }}

<div class="org-nav">
    <div class="inner">
        <ul>
            <li {{ $class_index }} style="width: 60px; margin-right: 10px;">
                <a href="{{ $url_index }}" style="width: 60px;">
                    首页
                </a>
            </li>
            <li {{ $class_blackboard }} style="width: 90px; margin-right: 10px;">
                <a href="{{ $url_black }}" style="width: 83px;">
                    校园动态
                </a>
            </li>
            <li {{ $class_course }} style="width: 77px; margin-right: 10px;">
                <a href="{{ $url_course }}" >
                    本校课程
                </a>
            </li>
            <li {{ $famous }} style="margin-right: 10px; width: 100px;">
                <a href="{{ $url_famous }}" style="width: 100px;">
                    名校精品课
                </a>
            </li>
            <li {{ $out }} style="width: 82px;margin-right: 10px;">
                <a href="{{ $url_out }}" >
                    校外优选
                </a>
            </li>
            <li {{ $class_intro }}>
                <a href="{{ $url_intro }}" >
                    学校简介
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- {{ if $active != 'index' || $path_text }}
{{ if isset($tpl_data.crumb) }}
<div id="crumb">
    <ul>
        {{ foreach $tpl_data.crumb as $xie }}
        <li>
            {{ if !$xie@first }} > {{ /if }}
            <a href="{{ $xie.url }}" target="_blank"> {{ $xie.name }}</a>
        </li>
        {{ /foreach }}
    </ul>
</div>
{{ /if }}
{{ /if }} -->


{{ include file="common/component/callingDialog.html" }}

{{ if isset($user_data) && isset($user_data.mobile) }}
{{ $mobile = $user_data.mobile }}
{{ else }}
{{ $mobile = '' }}
{{ /if }}

{{ include file="common/component/advisoryDialog.html" object_name=$tpl_data.base_info.name mobile=$mobile }}

{{ /strip }}