{{ *
@file 考研首页
@author caoying
@date 2016-02-18
* }}

{{ extends file="common/pc/base.html" }}

{{ block name="title" }}
考研专区 - 找考研名师，上跟谁学考研
{{ /block }}

{{ block name="data" }}
    {{ $need_im = false }}
    {{ $smarty.block.parent }}
    {{ $script_path = "kaoyan/homePage_9301535c85" }}

    {{ $search_id = "" }}
    {{ if isset($smarty.get.id) }}
        {{ $search_id = $smarty.get.id }}
    {{ else }}
        {{ $search_id = "" }}
    {{ /if }}

    {{ $flotage_config.hidden = 1 }}
    {{ $show_friend_links = true }}

    {{ * sku上报统计标识 * }}
    {{ $class_name = ['','1v1','class','video','3810','tryClass','','pkgClass'] }}

{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/kaoyan/homePage_af1f59f22c.css" xmlns="http://www.w3.org/1999/html">
{{ /block }}

{{ strip }}
{{ block name="body" }}
{{ $smarty.block.parent }}

{{ include file="common/siteNav.html" }}
{{ include file="kaoyan/component/header.html" }}
{{ include file="kaoyan/component/consult.html" }}
{{ include file="common/script.html" }}

<div id="main">
    {{ * 轮播图 + 消息 * }}
    <div class="banner-message">
        <div class="banner-images">
            <ul class="ul-banner-slider">
                {{ foreach $tpl_data.banner as $banner }}
                <li class="li-slider" data-index="{{ $banner@index }}">
                    <a href="{{ $banner.url }}" target="_blank" data-click="topbanner">
                        {{ include file="common/component/image.html" width=770 height=435 url={{ $banner.image }} }}
                    </a>
                </li>
                {{ /foreach }}
            </ul>
            <ul class="banner-slider-nav">
                {{ foreach $tpl_data.banner as $banner }}
                <li>
                    <span class="banner-slider-nav-item">{{ $banner@index }}</span>
                </li>
                {{ /foreach }}
            </ul>
        </div>
        <div class="message">
            <p class="title">
                <span class="character">考研快讯</span>
                <a href="{{ $tpl_data.news.more_url }}" class="more-message" target="_blank" data-click="news">更多<i class="icon icon-chevron-right"></i></a>
            </p>
            <div class="message-info-list">
                <ul>
                    {{ foreach $tpl_data.news.list as $news }}
                    <li class="message-list">
                        <a href="{{ $news.url }}" class="message-link" target="_blank" data-click="news">
                            <span class="message-content">{{ $news.title }}</span>
                        </a>
                    </li>
                    {{ /foreach }}
                </ul>
            </div>
            {{ * 客户端下载区域 * }}
            <div class="app-download">
                <div class="app-qrCode">
                    <div class="qrCode-img">
                        <!-- 线上地址二维码 http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f8735b7de.png -->
                        <!-- test环境地址二维码 http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f72914e0b.png -->
                        <img data-src="http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f8735b7de.png"/>
                    </div>
                </div>
                <div class="download-summary">
                    <p class="download-title">下载跟谁学考研客户端</p>

                    <a href="https://itunes.apple.com/us/app/kao-yan-bu-luo/id1080651677?l=zh&ls=1&mt=8" class="iphone-icon qrCode-switch" data-code="iphone" target="_blank">
                        <img src="http://img.gsxservice.com/0cms/d/file/content/2016/02/56ca835521ef8.png"/>
                        <span>iPhone版下载</span>
                    </a>

                    <a href="http://d.gsxservice.com/app/genshuixuekaoyan.apk" class="android-icon qrCode-switch" data-code="android" target="_blank">
                        <img src="http://img.gsxservice.com/0cms/d/file/content/2016/02/56ca8354cda76.png"/>
                        <span>Android版下载</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{ * 名师免费课 * }}
    {{ if !empty($tpl_data.free_courses) }}
    {{ * 课程列表 * }}
    <div class="famous-slider-container">
        {{ * 头部 * }}
        <div class="header-title">
            <span class="title">名师免费课</span>
            {{ if $tpl_data.free_courses|count > 4 }}
            <span class="icon-pager">
                <i class="icon icon-chevron-left"></i>
                <i class="icon icon-chevron-right"></i>
            </span>
            {{ /if }}
        </div>

        <ul class="slider-ul">
            {{ for $j=0; $j<$tpl_data.free_courses|count; $j = $j+4 }}
            <li class="slider-li" data-index="{{ $j/4 }}">
                <ul class="line-ul">
                    {{ $length = 0 }}
                    {{ if $j+4 < $tpl_data.free_courses|count }}
                        {{ $length = $j+4 }}
                    {{ else }}
                        {{ $length = $tpl_data.free_courses|count }}
                    {{ /if }}
                    {{ for $i=$j; $i<$length; $i++ }}
                    <li class="famous-item {{ if ($i+1) mod 4 eq 0 }}line-last{{ /if }}"  data-click="freecourse" data-sku="{{ $class_name[$tpl_data.free_courses[$i].course_type] }}|{{ $tpl_data.free_courses[$i].number }}">
                        <a href="{{ $tpl_data.free_courses[$i].url }}" class="class-cover" target="_blank">
                            {{ include file="common/component/image.html" width=275 height=144 url=$tpl_data.free_courses[$i].cover }}
                        </a>
                        <div class="class-info-all">
                            <div class="class-intro">
                                <span class="lesson-count">{{ $tpl_data.free_courses[$i].course_brief }}</span>
                                <span class="teacher-name">{{ $tpl_data.free_courses[$i].teacher_display_name }}</span>
                            </div>

                            <a href="{{ $tpl_data.free_courses[$i].url }}" class="class-name">{{ $tpl_data.free_courses[$i].name }}</a>

                            <a href="{{ $tpl_data.free_courses[$i].url }}" class="price-student">
                                <span class="price {{ if $tpl_data.free_courses[$i].price == 0 }}free{{ /if }}">
                                    {{ if $tpl_data.free_courses[$i].price == 0 }}
                                    免费
                                    {{ else }}
                                    ¥{{ $tpl_data.free_courses[$i].price }}
                                    {{ /if }}
                                </span>
                                <span class="student-count">
                                    {{ $tpl_data.free_courses[$i].total_pay }}人报名
                                </span>
                            </a>
                        </div>
                    </li>
                    {{ /for }}
                </ul>
            </li>
            {{ /for }}
        </ul>
    </div>
    {{ /if }}

    {{ * 科目列表 * }}
    {{ foreach $tpl_data.sections as $key=>$sections }}
    {{ include file="kaoyan/component/course-list.html" title=$sections.subject.name item=$sections }}
    {{ /foreach }}

    {{ * 专业课信息 * }}
    <div class="profession-class profession-type">
        <div class="header-title">
            <span class="title">专业课</span>
            <a href="{{ $origin }}/courses?subject_id=4" class="more-icon" target="_blank">
                更多 <i class="icon icon-chevron-right"></i>
            </a>
        </div>
        <div class="profession-title">
            <ul class="profession-lists">
                {{ foreach $tpl_data.specials.items as $key=>$profession }}
                <li class="profession-item {{ if $profession@index ==0 }}active{{ /if }}" data-code="{{ $profession.subject.id }}" >
                    {{ $profession.subject.name }}
                </li>
                {{ /foreach }}
            </ul>
            <!--<a href="{{ * $static_origin * }}/course" class="more-url">-->
                <!--更多<i class="icon icon-chevron-right"></i>-->
            <!--</a>-->
        </div>
        <div class="profession-info">
            {{ foreach $tpl_data.specials.items as $key=>$profession }}
            {{ $result = $profession.course }}
            <div class="class-item" data-code="{{ $profession.subject.id }}" data-click="specialized-course" data-sku="{{ $class_name[$result.course_type] }}|{{ $result.number }}">
                <a href="{{ $result.url }}" class="class-cover" target="_blank" >
                    {{ include file="common/component/image.html" width=230 height=320 url=$result.cover }}
                    <div class="teacher-info">
                        <p class="teacher-name">
                            {{ $result.teacher_display_name|cn_truncate: 8 }}
                        </p>
                        <p class="teacher-intro">
                            {{ $result.description|cn_truncate: 29 }}
                        </p>
                    </div>
                </a>
                <div class="class-info">
                    <a href="{{ $result.url }}" class="class-name" target="_blank">
                        {{ $result.name }}
                    </a>
                    <p class="class-date">{{ $result.arrangement }}</p>
                    <p class="class-des">
                        {{ $result.description|cn_truncate: 395 }}
                    </p>

                    <!--<ul>-->
                        <!--{{ * foreach $result.limits as $limit * }}-->
                        <!--<li> {{ * $limit@index+1 * }}、{{ * $limit * }}</li>-->
                        <!--{{ * /foreach * }}-->
                    <!--</ul>-->
                    <div class="price-count">
                        <span class="price">
                            {{ if $result.price > 0 }}
                            ¥{{ $result.price }}
                            {{ else }}
                            免费
                            {{ /if }}
                        </span>
                        <span class="student-count">{{ $result.total_pay }}人报名</span>
                        <a href="{{ $result.url }}" class="btn-enrolling" target="_blank">
                            立即报名
                        </a>
                    </div>
                </div>
            </div>
            {{ /foreach }}
        </div>
    </div>
</div>

{{ * 底部图片 * }}

<div class="bottom-banner-images">
    <ul class="ul-banner-slider">
        {{ foreach $tpl_data.stories as $banner }}
        <li class="li-slider" data-index="{{ $banner@index }}" data-click="teacher">
            <a href="{{ $banner.link }}" target="_blank" class="bottom-banner">
                <img src="{{ $banner.image }}" class="banner-img">
                <div class="other-info">
                    {{ if strLen($banner.title) > 1 }}
                    <p class="title">{{ $banner.title|cn_truncate:60 }}</p>
                    {{ /if }}
                    <p class="info">{{ $banner.description }}</p>
                </div>
                <div class="button">{{ $banner.button_text }}</div>
            </a>
        </li>
        {{ /foreach }}
    </ul>
    {{ if $tpl_data.stories|count > 1 }}
    <a href="###" class="bottom-slider-left" title="上一个">
        <i class="icon icon-chevron-left"></i>
    </a>
    <a href="###" class="bottom-slider-right" title="下一个">
        <i class="icon icon-chevron-right"></i>
    </a>
    {{ /if }}

</div>

{{ include file="kaoyan/component/footer.html" }}
{{ /block }}
{{ /strip }}
