{{ *

@file 考研页面底部
@author caoying
@date 2016-02-18

* }}

{{ strip }}
<div id="footer">
    <div class="wrapper">
        <div class="site-map">
            <ul>
                <li class="main-link first">
                    <a href="http://www.genshuixue.com/" target="_blank">
                        跟谁学
                    </a>
                </li>
                <li class="main-link">
                    <a href="http://ju.genshuixue.com/" target="_blank">
                        聚惠学
                    </a>
                </li>
                <li class="main-link">
                    <a href="http://www.genshuixue.com/livezone" target="_blank">
                        直播专区
                    </a>
                </li>
                <li class="main-link">
                    <a href="http://www.genshuixue.com/videozone" target="_blank">
                        视频专区
                    </a>
                </li>
                <li class="main-link">
                    <a href="http://bbs.genshuixue.com/" target="_blank">
                        跟谁学社区
                    </a>
                </li>
                <li class="main-link last">
                    <a href="http://news.genshuixue.com/" target="_blank">
                        学习头条
                    </a>
                </li>
                <li class="other-link">
                    <a href="http://www.genshuixue.com/guide/clause?a=clause" target="_blank">
                        网站条款
                    </a>
                </li>
                <li>
                    <a href="http://www.genshuixue.com/guide/notice?a=notice" target="_blank">
                        活动公告
                    </a>
                </li>
                <li>
                    <a href="http://www.genshuixue.com/guide/news?a=news" target="_blank">
                        新闻报道
                    </a>
                </li>
                <li>
                    <a href="http://www.genshuixue.com/static/links#8" target="_blank">
                        申请合作
                    </a>
                </li>
                <li>
                    <!--首页、搜索结果页-->
                    {{ if isset($tpl_data.site_map) && $tpl_data.site_map }}
                        <a href="/static/seoWebMap" target="_blank">
                            网站地图
                        </a>
                    {{ else }}
                        <a href="http://www.genshuixue.com/static/seoWebMap" target="_blank">
                            网站地图
                        </a>
                    {{ /if }}
                </li>
                <li>
                    <a href="http://www.genshuixue.com/st/-975_1061_1066.html" target="_blank">
                        油画培训
                    </a>
                </li>
                <li>
                    <a href="http://www.genshuixue.com/bj/st--975_1061.html" target="_blank">
                        绘画培训
                    </a>
                </li>
                <li>
                    <a href="http://www.genshuixue.com/sh/st--975_1031_1034.html" target="_blank">
                        拉丁舞培训
                    </a>
                </li>
                <li>
                    <a href="http://www.genshuixue.com/i-ielts/a/4" target="_blank">
                        雅思机经
                    </a>
                </li>
                <li>
                    <a href=" http://www.genshuixue.com/so/-573_600_603.html" target="_blank">
                        Java培训
                    </a>
                </li>
            </ul>
        </div>

        {{ if isset($show_friend_links) && $show_friend_links }}
        <div class="friend-links">
            <ul>
                <li class="friend-links-label"><strong>合作伙伴：</strong></li>
                {{ * 此处由js生成外链 但首页有特殊的策略：部分js输出* }}

                {{ if isset($tpl_data.nav_footer) }}
                {{ foreach $tpl_data.nav_footer.friend_links as $fl }}
                <li>
                    <a href="{{ $fl.link }}" target="_blank">{{ $fl.title }}</a>
                </li>
                {{ /foreach }}
                {{ /if }}

                <li class="friend-links-last">
                    <a href="{{ $root }}/static/links" target="_blank" class="more">更多</a>
                </li>
            </ul>
        </div>
        {{ /if }}

        <div class="copyright">
            Copyright © 2014 - 2017 北京百家互联科技有限公司版权所有. 京公网安备11010802015210号 | 京ICP备14027590号-1
        </div>
        <div class="qrCode-kaoyan">
            <!-- 线上地址二维码 http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f8735b7de.png -->
            <!-- test环境地址二维码 http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f72914e0b.png -->
            <img data-src="http://img.gsxservice.com/0cms/d/file/content/2016/03/56d8f8735b7de.png">
        </div>
    </div>
    <div class="contention">
        更多分享，关注考研社
    </div>
</div>
{{ /strip }}