@import '../../../resource/css/default.styl';

.series-detail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &-content {
        padding: 0 20px 20px 20px;
        height: 153px;
        border-bottom: 1px solid $grey_50;
        display: flex;
        justify-content: space-between;
        &-info {
            &-cover {
                display: flex;
                margin: 20px 0;
                img {   
                    width: 140px;
                    height: 80px;
                }
                &-course {
                    margin-left: 20px;
                    &-name {
                        font-size: 16px;
                        color: #3D3D3E;
                        line-height: 16px;
                    }
                    &-price {
                        font-size: 16px;
                        line-height: 16px;
                        margin-top: 45px;
                        &-free {
                            color: $green;
                        }
                        &-paied {
                            color: $pink;
                            
                        }
                    }
                }
            }
            &-tip {
                font-size: 12px;
                color: #6D6D6E;
                line-height: 12px;
            }
        }
        &-operation {
            text-align: right;
            margin-top: 20px;
            a {
                font-size: 12px;
                display: inline-block;
                margin-left: 10px;
                color: $blue_400;
                &:hover, &:active {
                    color: $blue_500;
                }
            }
        }
    }
}