@import "page/_base/base.styl";

body{
	padding:rem(10);
	font-size : rem(13);
	background-color : #fff;
	color:#555;
}
.title {
	color: #3FA4EF;
	margin: 1em 0;
}
table {
	margin: 2em auto;
	border: 1px solid #ccc;
}
table th, table td {
	width: rem(90);
	height: rem(30);
	text-align: center;
	border: 1px solid #ccc;
}
table th {
	background: #f2f4f5;
}