{{ strip }}
    <div id="courseDetail" class="card">
        <div class="title">
            课程详情
        </div>

        {{ if $tpl_data.course_info.introduction }}
            <div class="content rich-text">
                {{ if $tpl_data.course_info.video }}
                    <div class="video-thumbnail" data-video="{{ $tpl_data.course_info.video.view }}" data-name="{{ $tpl_data.course_info.video.name }}">
                        <img src="{{ $tpl_data.course_info.video.cover }}" width=720 height=540 />
                        <i class="icon icon-play-o"></i>
                    </div>
                {{ /if }}

                {{ $tpl_data.course_info.introduction }}
            </div>
        {{ else }}
            <div class="content new-intro {{ $tpl_data.course_info.intro.style }}">
            {{ foreach $tpl_data.course_info.intro.items as $list }}
                {{ if $list.type === 'title' }}
                    <div class="title">
                        {{ $list.text }}
                    </div>
                {{ elseif $list.type === 'body' }}
                    <div class="body"
                    style="
                    color: {{ $list.color }};
                    font-weight: {{ $list.font_weight }};
                    font-size: {{ $list.font_size }};
                    text-align: {{ $list.text_align }};
                    ">
                        {{ $list.text|replace:"<br />":"<br>"|replace:' ':'&nbsp;' }}
                    </div>
                {{ else if $list.type === 'image' }}
                    <div class="image-box">
                        <img src="{{ $list.url }}">
                    </div>
                {{ else if $list.type === 'video' }}
                    <div class="video-box" data-video="/video/view/{{ $list.video_id }}">
                        <img src="{{ $list.cover }}">
                        <img class="play-img" src="http://img.gsxservice.com/0cms/d/file/content/2016/08/57b5684983da9.png">
                    </div>
                {{ else if $list.type === 'audio' }}
                    <div class="audio-box" data-audio="{{ $list.url }}">
                        <img src="http://img.gsxservice.com/0cms/d/file/content/2016/08/57b693e1e3815.png">
                        <i class="play-icon icon icon-recording"></i>
                        <img style="display: none" class="icon play-gif" src="http://img.gsxservice.com/0cms/d/file/content/2016/08/57b69204a2241.gif">
                        <div class="view-audio-wrapper"></div>
                    </div>
                {{ /if }}
            {{ /foreach }}
            </div>
        {{ /if }}
    </div>
{{ /strip }}