@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

.nav-bar{
  background-color: #0089f9;
  color:#fff;
  .icon-back:before{
    color:#fff;
  }
}

.double-line {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: inherit
}
img{
  width:100%;
  height:100%;
}
.left{
  float: left;
}
.active-list{
  margin:rem(0) rem(10);
  padding:rem(0);
  .active-item{
    position: relative;
    height:rem(92);
    border-bottom:1px solid #dadada;
    padding-top:rem(14);
  }
  .active-item-info{
    margin-right:rem(131);
    font-size:rem(14);
    color:#333;
  }
  .active-item-sublime{
    margin-top:rem(2);
    font-size:rem(11);
    color:#999;
  }
  .active-item-date{
    margin-right:rem(14);
  }
  .active-item-img{
    width: rem(108);
    height: rem(72);
    position:absolute;
    right:rem(0);
    top:rem(10);
    border:1px solid #ccc;
  }
}