{{ *

@file 订单表单
@author zhujialu

* }}
{{ strip }}

{{ if isset($trial_course) && $trial_course.status != -1 }}
    {{ $data = $trial_course.data }}
    <div id="teacher-order-form" class="card teacher-order-form trial-course-form" {{ if $hidden }}style="display:none;"{{ /if }}>
        <div class="body">
            <div class="price-info">
                {{ $price = 0 }}
                {{ if $data.price_online }}
                    {{ if $data.price_offline }}
                        {{ if floatval($data.price_online) > floatval($data.price_offline) }}
                            {{ $price = $data.price_offline }}
                        {{ else }}
                            {{ $price = $data.price_online }}
                        {{ /if }}
                    {{ else }}
                        {{ $price = $data.price_online }}
                    {{ /if }}
                {{ else if $data.price_offline }}
                    {{ $price = $data.price_offline }}
                {{ /if }}
                {{ if $price == '0' }}
                    <strong>
                        试听课{{ $data.length/60 }}小时
                    </strong>
                    （<span class="price">免费</span>）
                {{ else }}
                    <strong>
                        试听课{{ $data.length/60 }}小时
                    </strong>
                    （<span class="price">￥{{ $price }}</span>起）
                {{ /if }}
            </div>

            <div class="text-info">
                <i class="icon icon-info-circle"></i>
                对老师感兴趣但是不知道选什么课？先来试听一下吧
            </div>

            <span class="btn-primary btn-block btn-trial">
                预约试听
            </span>

            <span class="btn-default btn-block" id="consult" data-course='{{ json_encode($tpl_data) }}' >
                咨询客服
            </span>

            <div class="phone">
                <span class="phone-text">约课电话</span>
                <i class="icon icon-phone"></i>4000-910-910
            </div>

            <div class="close-box">
                <i class="close icon icon-times"></i>
            </div>
        </div>
    </div>
{{ else }}
    <div id="teacher-order-form" class="card teacher-order-form" {{ if $hidden }}style="display:none;"{{ /if }}>

        <div class="header">
            {{ include file="common/main/component/certi.html" }}
        </div>

        <div class="body">

            <div class="price-info">

                {{ include file="common/component/allprice.html" tpl_data=$tpl_data }}

                {{ if $min_price >= 1000 && $min_price < 10000 }}
                    <strong style="font-size:31px;">
                {{ else if $min_price >= 10000 && $min_price < 100000 }}
                    <strong style="font-size:26px;">
                {{ else if $min_price >= 100000 }}
                    <strong style="font-size:22px;">
                {{ else }}
                    <strong>
                {{ /if }}
                    ￥<span class="price">{{ $min_price }}</span>
                </strong>
                /小时
                <span class="start-price">
                    起
                </span>
            </div>

            {{ include file="teacher/common/subject-select.html" subject=$tpl_data }}

            <span class="btn-primary btn-block reserve-course {{ if !$can_order }}disabled-order{{ /if }}" data-title="首次课程不满意可全额退费<br />课程进行中可随时退款" data-placement="top" {{ if !$can_order }}disabled{{ /if }}>
                约TA一对一
            </span>

            <span class="btn-default btn-block" id="consult" data-course='{{ json_encode($tpl_data) }}' >
                咨询客服
            </span>

            <div class="phone">
                <span class="phone-text">约课电话</span>
                <i class="icon icon-phone"></i>4000-910-910
            </div>

            <div class="close-box">
                <i class="close icon icon-times"></i>
            </div>
        </div>

    </div>
{{ /if }}
{{ /strip }}