/**
 * @file 班课资料共享
 * @author wangtianhua
 */
@import '../../common/layout.styl';

.netdish-wrapper {
    border: 1px solid #cdcdce;
    .netdish-header {
        padding: 15px 20px;
        border-bottom: 1px solid #cdcdce;
        .title {
            font-size: 13px;
            color: #6d6d6e;
            margin-right: 15px
        }
        .help {
            float: right;
        }
    }
    .netdish-buttons {
        padding: 15px 20px;
        overflow: hidden;
        padding-right: 10px;
        .upload-wrapper {
            vertical-align: top;
        }
        .button {
            margin-right: 10px;
            border-radius: 2px;
        }
        .add-file-button {
            float: right;
        }
    }
    .netdish-body {
        .netdish-table {
            width: 100%;
            height: 860px;
            overflow-y: auto;
            overflow-x: hidden;
            > .table {
                input[type="checkbox"] {
                    display: none;
                }
                .checkspan {
                    width: 15px;
                    height: 15px;
                    border-radius: 10%;
                    display: inline-block;
                    margin-right: 10px;
                    .icon-checked {
                        display: none;
                    }
                    .icon-unchecked {
                        display: inline-block;
                    }
                }

                input[type="checkbox"]:checked + .checkspan {
                    .icon-checked {
                        display: inline-block;
                    }
                    .icon-unchecked {
                        display: none;
                    }
                }

                > thead {
                    background-color: #F6FBFF;
                    th {
                        border: none;
                        text-align: left;
                        padding-top: 0;
                        padding-bottom: 0;
                        font-size: 13px;
                        color: #3d3d3e;
                        font-weight: 800;
                    }
                }
                > tbody {
                    > tr {
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        height: 70px;
                        border: 1px solid #f8f8f8;
                        &.checked {
                            background-color: #F6FBFF;
                        }

                        > td {
                            overflow: hidden;
                            border: none;
                            text-align: left;
                            vertical-align: middle;
                            padding: 0;
                            padding-left: 15px;
                            color: #3d3d3e;
                            .icon-image {
                                vertical-align: middle;
                                padding: 0 5px;
                            }
                            .name {
                                color: #6d6d6e;
                            }
                        }
                        &:hover {
                            background-color: #F6FBFF;
                            .button-close {
                                display: block;
                            }
                            .button-icon {
                                display: inline-block;
                                cursor: pointer;
                            }
                        }

                        .button-close {
                            display: none;
                            float: right;
                            line-height: 0px;
                            font-size: 20px;
                            cursor: pointer;
                            margin-right: 20px;
                            line-height: 60px;
                        }
                        .button-icon {
                            display: none;
                        }
                    }
                }
            }

            .no-data {
                width: 797px;
                padding: 140px;
            }
        }
    }
}