{{ *
    101：主帖被评论，102：主帖被赞，201：评论被回复，202：评论被赞，301：回复被回复
    401：主帖被加精，402：主帖被置顶，403：主帖被举报删除，404：举报无效，405：主帖删除后恢复 501：用户被封禁，502：解除封禁，503：任命版主/超管，504：拒绝版主申请
* }}
{{ strip }}

    {{ if $message.type == 101 }}
        {{ $message.user_name }}评论了您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」
    {{ /if }}

    {{ if $message.type == 102 }}
        {{ $message.user_name }}赞了您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」
    {{ /if }}

    {{ if $message.type == 201 }}
        {{ $message.user_name }}回复了您的回复，来自「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」帖子
    {{ /if }}

    {{ if $message.type == 202 }}
        {{ $message.user_name }}赞了您在「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」的评论
    {{ /if }}

    {{ if $message.type == 301 }}
        {{ $message.user_name }}回复了您的评论，来自「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>帖子
    {{ /if }}

    {{ if $message.type == 401 }}
        您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」被管理员加精了
    {{ /if }}

    {{ if $message.type == 402 }}
        您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」被管理员置顶了
    {{ /if }}

    {{ if $message.type == 403 }}
        您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」{{ if !empty($message.reason) }}{{ '由于'|cat:$message.reason }}{{ /if }}被举报,管理员删除了
    {{ /if }}

    {{ if $message.type == 404 }}
        您对帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」的举报无效
    {{ /if }}

    {{ if $message.type == 405 }}
        管理员恢复了您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」
    {{ /if }}

    {{ if $message.type == 406 }}
        您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」成为热门帖子了
    {{ /if }}

    {{ if $message.type == 407 }}
        您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」被管理员取消加精了
    {{ /if }}

    {{ if $message.type == 408 }}
        您的帖子「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」被管理员取消置顶了
    {{ /if }}

    {{ if $message.type == 501 }}
        由于您在「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」{{ $message.reason|default:'' }}，被管理员禁言{{ $message.banned_days }}天
    {{ /if }}

    {{ if $message.type == 502 }}
        您已经被解除禁言了
    {{ /if }}

    {{ if $message.type == 503 }}
        您已经成为「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」小组的管理员
    {{ /if }}

    {{ if $message.type == 504 }}
        您在「<a href="{{ $message.ext_url }}" target="_blank">{{ $message.ext_name|escape:'html' }}</a>」小组的管理员申请被驳回
    {{ /if }}
{{ strip }}