{{ *

@file 提现
@author wangyujie

* }}

{{ extends file="common/center/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "common/center/withdraw_39ada9ea4f" }}

    {{ $script_data.mobile = $tpl_data.account.mobile }}
    {{ $script_data.hasPassword = $tpl_data.account.has_password }}

{{ /block }}

{{ block name="title" prepend }}
提现 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/common/center/withdraw_ba9385c9df.css">
{{ $smarty.block.parent }}
{{ /block }}

{{ block name="main" }}

{{ strip }}

    {{ if $user_data && $user_data.user_type == 0 }}
        {{ $link = '/teacher_center/withdraw' }}
    {{ else }}
        {{ $link = '/student_center/withdraw' }}
    {{ /if }}

    {{ block name="sidebar" }}{{ /block }}

    <div id="content" class="card">

        <div class="card-header">
            <a href="{{ $cash_page }}">
                <i class="icon icon-chevron-left"></i>返回
            </a>
            <h2>提现</h2>
        </div>

        <div class="card-body">

            <div class="form withdraw">

                <p class="message message-info">
                    <i class="icon icon-info-circle"></i>
                    为了保证你的资金安全，请提现至本人储蓄卡。严禁利用平台进行信用卡套现，一经发现非法行为，将交至有关部门处理。<br />工作日20:00前提现，平均当日到账，其余情形预计3-5个工作日到账，遇节假日有相应延迟。
                </p>

                <div class="form-group">
                    <label class="form-label">
                        可提现金额：
                    </label>
                    <div class="form-controls">
                    <span class="form-static text-primary balance">
                        ￥{{ $tpl_data.account.balance|number_format:2 }}
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">
                        提现银行卡：
                    </label>
                    <div class="form-controls">
                        <div class="form-static bank">
                            {{ include file="common/variable/bankIcon.html" scope=parent }}

                            {{ if !empty($tpl_data.bank_card.bank_id) }}
                                {{ $bank_icon_key = $tpl_data.bank_card.bank_id }}
                            {{ else }}
                                {{ $bank_icon_key = $tpl_data.bank_card.bank_no }}
                            {{ /if }}

                            <i class="icon {{ $bank_icon[$bank_icon_key] }}"
                               title="{{ $tpl_data.bank_card.bank_name }}"></i>
                            {{ $tpl_data.bank_card.card_num|regex_replace:"/.*(?=\d{4}$)/":"*" }}
                        </div>
                        <input type="hidden" name="card_id" value="{{ $tpl_data.bank_card.id }}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">
                        提现方式：
                    </label>
                    <div class="form-controls">
                        <label class="withdraw-method pc">
                            <input type="radio" name="method" value="pc" />
                            <i class="icon icon-screen"></i>
                            电脑提现
                        </label>
                        <label class="withdraw-method mobile">
                            <input type="radio" name="method" value="mobile" />
                            <i class="icon icon-mobile"></i>
                            手机提现
                            <label class="label-success tiny">免费</label>
                        </label>
                    </div>
                </div>

                <div class="form-group group-amount">
                    <label class="form-label">
                        提现金额：
                    </label>
                    <div class="form-controls">

                        {{ if $tpl_data.account.balance > 50000 }}
                            {{ $max = 50000 }}
                        {{ else }}
                            {{ $max = $tpl_data.account.balance }}
                        {{ /if }}

                        <input type="money" class="form-text" name="money" required max="{{ $max }}" data-min="1" data-pc="单笔提现金额在1元-5万元之间" data-mobile="单笔提现金额在5万元以内" />

                        <div class="form-static form-inline amount-pc">
                            每笔收取1元手续费
                        </div>
                        <div class="form-static form-inline amount-mobile">
                            免手续费
                        </div>
                        <span class="error"></span>
                    </div>
                </div>

                <div class="prompt text-info">
                    <i class="icon icon-info-circle"></i>电脑提现每笔收取1元手续费，手机提现免手续费
                </div>

                <div class="form-group group-password">
                    <label class="form-label">
                        支付密码：
                    </label>
                    <div class="form-controls">
                        {{ if $tpl_data.account.has_password }}

                        <input type="password" class="form-text" name="pay_password" minlength="6" maxlength="6" required />
                        <span class="form-static form-inline">
                            <a class="text-info" href="/static/forget_pay_password?next={{ $link }}" target="_blank">找回支付密码</a>
                        </span>
                        <span class="error"></span>

                        {{ else }}

                        <span class="btn btn-link pay-password">
                            设置支付密码
                            <input type="hidden" name="pay_password" required />
                        </span>

                        <div class="form-static success">
                            <i class="icon icon-check-circle"></i>支付密码设置成功
                        </div>

                        <span class="error"></span>

                        {{ /if }}
                    </div>
                </div>

                <input type="hidden" name="mobile" value="{{ $tpl_data.account.mobile }}" />
                <input type="hidden" name="mobile_mask" value="{{ $tpl_data.account.mobile_mask }}" />

                <div class="form-action">
                    <button class="btn btn-primary btn-save">下一步</button>
                    <small>每周可提现一次</small>
                </div>
            </div>

            <div class="withdraw-success">
                <h3>
                    <i class="icon icon-clock-o"></i>
                    提现申请已成功提交！
                </h3>
                <ul>
                    <li>如无特殊情况，自申请日起 3-5 个工作日内，指定账户将收到提款。</li>
                    <li>如果银行信息填写错误，导致提现失败，资金将返还到你的余额账户。</li>
                    <li>严禁利用平台进行信用卡套现，一经发现非法行为，将交给有关部门处理！</li>
                </ul>
                <div>
                    <a href="{{ $cash_page }}" class="btn btn-primary">返回钱包管理</a>
                </div>
            </div>

            <div class="footer">
                <span></span>
                绑卡有问题？请拨打客服热线 4000-910-910，010-86448910
                {{ *
                <a class="text-info" href="/guide/process?a=process" target="_blank">查看帮助</a>
                * }}
            </div>

        </div>
    </div>

{{ /strip }}
{{ /block }}
