/**
 * @file 中英活动后台-数据统计
 * @author wangxu
 */

@import '../../main/base.less';


#main {
    margin: 0px auto;
    width: 1100px;
    min-height: 710px;
    .no-result{
        font-size: 30px;
        margin: 10% 40%;
    }

}


#last {
    background: #555;
    height: 50px;
    line-height: 50px;
    margin-top: 126px;
    text-align: center;
    color: white;
}

.uk-admin-nav{
    border-bottom: 1px solid #c8c8c8;
    height: 40px;
    line-height: 40px;
    margin: 15px 0;

    li{
        float: left;

        a{
            display: block;
            padding: 0 20px;
            font-size: 15px;

            &.active{
                background: @brand-primary;
                color: white;
            }
        }
    }
}

.member-search{
    float:right;
    margin-bottom:10px;
    position: relative;

    input{
        height:36px;
        border: 1px solid #69bcff;
        witdh: 240px;
        border-radius: 4px;
        padding:0 30px;
    }

    .icon{
        position:absolute;
        right: 8px;
        top: 8px;
        font-size:20px;
        color: #69bcff;
        cursor: pointer;
    }
}
.tooltip{
    word-break:break-word;
}
.main-grid{
    width: 100%;
    position: relative;

    thead{
        font-weight: bold;
    }

    td{
        border: 1px solid #d7d7d7;
        text-align: center;
        padding: 5px 0;
        width: 200px;
        background: white;
        min-width: 100px;
        word-break: break-all;
    }

    .action,.action-report,.action-frozen{
        color: @brand-info;
        cursor: pointer;
        display: inline-block;
        padding: 0 5px;
    }
    .color-status{
        color:orange;
    }

}



