{{ *

@file 老师文章详情页
@author caoying

* }}
{{ extends file="common/main/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $nav_config.active = '' }}
    {{ $nav_config.hidden = 1 }}
    {{ $flotage_config.hidden = true }}

    {{ $script_path = "teacher/article/articleDetail_537ea5d463" }}
    {{ $script_data.originHttps = $origin_https }}
    {{ if isset($tpl_data.pager) }}
        {{ $script_data.page = $tpl_data.pager.page }}
    {{ /if }}
    {{ $script_data.article_id = $tpl_data.article.id }}
    {{ $script_data.thumsUp = $tpl_data.article.support_num }}
    {{ $script_data.comment = $tpl_data.comment_total_num }}
    {{ $script_data.permission = $tpl_data.article.permission }}
    {{ $script_data.thumsUpFlag = $tpl_data.has_supported }}
    {{ $script_data.isSelf = $tpl_data.is_self }}
    {{ $script_data.domain = $tpl_data.article.teacher_home_url }}
    {{ $script_data.is_exist = $tpl_data.is_exist }}

    {{ $baidu_share_text = $tpl_data.article.title|regex_replace:"/[\r\t\n]/":''|escape:'html' }}
    {{ $tpl_data.article.title = $baidu_share_text }}

    {{ $baidu_share_image = $tpl_data.share_image }}

{{ /block }}


{{ * SKU统计上报 * }}
{{ block name='sku_id' }}
{{ $sku_id=$tpl_data.article.id }}
{{ /block }}

{{ block name="title" }}
    {{ $tpl_data.title }}
{{ /block }}

{{ block name="keywords" }}
    {{ $tpl_data.keywords }}
{{ /block }}

{{ block name="description" }}
    {{ $tpl_data.description }}
{{ /block }}

{{ block name = "style" }}
    <link rel="stylesheet" href="{{ $static_origin }}/asset/css/teacher/article/articleDetail_0dc367d367.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}
<div id= "main">
    <div class="content">
        {{ if isset($tpl_data.is_exist) && $tpl_data.is_exist == 0 }}
        <div class="no-article">
            <div class="img-wrapper">
                <div class="img">

                </div>
            </div>
            <div class="text-center">
                该篇文章不存在哦
            </div>
        </div>
        {{ else }}
        <div class="title-list">
            {{ foreach $tpl_data.bread_crumbs as $bread }}
            <a href="{{ $bread.url }}">{{ $bread.name }}</a>&gt;
            {{ /foreach }}
            <a class="last-nav">正文</a>
        </div>
        <div class="article-content rich-text">
            <div class="article-content-deatail">
                <div class="detail-title" title="{{ $tpl_data.article.title|escape:'html' }}">
                    {{ $tpl_data.article.title }}
                </div>
                <div class="detail-writer {{ if empty($tpl_data.subhead.avatar) }}none-avatar{{ /if }}">
                    {{ if !empty($tpl_data.subhead.avatar) }}
                    <a class="detail-writer-avatar" href="{{ $tpl_data.article.teacher_home_url }}" target="_blank">
                        {{ include file="common/component/image.html" url=$tpl_data.subhead.avatar width=28 height=28 }}
                    </a>
                    {{ /if }}
                    <a class="detail-writer-name ellipsis" href="{{ $tpl_data.article.teacher_home_url }}" target="_blank" title="{{ $tpl_data.subhead.writer }}">{{ $tpl_data.subhead.writer }}</a>
                    <span class="detail-writer-dot">·</span>
                    <span class="detail-writer-update">
                        {{ $tpl_data.subhead.update_time }}
                    </span>
                    {{ if count($tpl_data.article.tags) !=0 }}
                        <span class="article-tag-title">标签:</span>
                        {{ foreach $tpl_data.article.tags as $tag }}
                            <span class="article-tag">
                                {{ $tag.title }}
                            </span>
                        {{ /foreach }}
                    {{ /if }}
                </div>
                <div class="article-detail">
                   {{ $tpl_data.article.content }}
                </div>

                <div class="article-base">
                    <div class="group-second">
                        <div class="group-base thumbs-up">
                            <i class="icon icon-thumbs-up {{ $tpl_data.has_supported }}"></i>
                            <span class="count">
                                {{ $tpl_data.article.support_num }}
                            </span>
                        </div>
                        <div class="group-base" id="share-base">
                            <i class="icon icon-article-share">
                            {{ include file="common/component/baiduShare.html" }}
                            </i>
                            <span class="count">分享</span>
                        </div>
                        <div class="eye">
                            <span class="character">浏览数</span>
                            <span class="number">{{ $tpl_data.article.read_times }}</span>
                        </div>
                        <div class="thumbs-up-box">
                            <div class="thumbs-up-img">
                            {{ include file="teacher/article/articlePicture.html" }}
                            </div>
                            {{ if count( $tpl_data.support_users) > 9 }}
                            <div class="img-more"><a>查看更多</a></div>
                            {{ /if }}
                            <div class="img-less"><a>收起更多</a></div>
                        </div>
                    </div>
                </div>
                {{ if !empty($tpl_data.relative_content) }}
                <div class="relative-content">
                    <h4>相关内容</h4>
                    <ul class="content-list">
                        {{ foreach array_slice($tpl_data.relative_content, 0, 3) as $content }}
                        <li class="content-item" data-click-monitor="1" data-rank="{{ $content@index+1 }}" data-article-form="{{ $content.article_form|default:'' }}" data-search-form="{{ $content.search_form|default:'' }}" data-article-number="{{ $content.article_number|default:'' }}" data-href="{{ $content.url }}" data-qid="{{ $content.qid|default:'' }}">
                            <div class="content-img">
                                {{ include file="common/component/image.html" url=$content.cover width=200 height=112 onerror="if(!this.isError){ this.isError = true; this.src='"|cat:$content.cover|cat:"'}" }}
                            </div>
                            <div class="content-title">
                                <span class="content-tag">
                                    {{ $content.type }}
                                </span>
                                {{ $content.headline }}
                            </div>
                        </li>
                        {{ /foreach }}
                    </ul>
                </div>
                {{ /if }}
                <div class="comment">
                    <div class="character">评论</div>
                    {{ if isset($tpl_data.is_self) && $tpl_data.is_self == 0 }}
                    <div class="report">举报</div>
                    {{ /if }}
                </div>
                <div class="comment-detail">
                    <div class="comment-current">
                        <div class="user-img">
                            {{ if !isset($user_data.user_type) }}
                             <img class="no-login" src="http://img.gsxservice.com/0cms/d/file/content/2015/06/55729806c594c.jpg@40w_40w_1c_1e" alt="头像">
                            {{ else }}
                                <a href="{{ $tpl_data.login_user_home_url }}" target="_blank">
                                    <img src="{{ $user_data.avatar }}@40w_40h_1c_1e">
                                </a>
                            {{ /if }}
                        </div>
                        <div class="form-group-display">
                            <div class="form-controls">
                               <input class="form-number-example form-text" type="text" value="评论...">
                            </div>
                        </div>
                        <hr class="current-line"></hr>
                        <div class="form-group">
                            <div class="form-controls">
                                <textarea class="form-text" type="text" name="message" required></textarea>
                                <div class="form-hint">
                                    还可以输入<strong> 500 </strong>个字
                                </div>
                                <span class="error"></span>
                            </div>
                             <div class="form-action" data-cid="">
                                <button class="btn-comment btn-small btn-info">评论</button>
                                <button class="btn btn-default">取消</button>
                            </div>
                        </div>
                        <hr class="comment-line"></hr>
                    </div>

                    <div class="detail-box">
                    {{ include file="teacher/article/articleComment.html" }}
                    </div>
                    <div class="comment-more">
                        <a class="more-click" data-next="2"> 点击查看更多评论
                            <i class="icon icon-article-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article-teacher">
                <div class="article-summary">
                    <div class="summary">
                        <div class="teacher-img">
                            <a href="{{ $tpl_data.article.teacher_home_url }}"><img src="{{ $tpl_data.article.avatar }}" alt="头像"></a>
                        </div>
                        <div class="teacher-name">

                            <div class="name">
                                <a href="{{ $tpl_data.article.teacher_home_url }}" target="_blank">
                                    {{ $tpl_data.article.display_name|cn_truncate: 8 }}
                                </a>
                                {{ if isset($tpl_data.article.vip_level) && $tpl_data.article.vip_level }}
                                    {{ include file="common/variable/vipLevel.html" scope=parent }}
                                    <i class="icon icon-vip-{{ $vipLevelMap[$tpl_data.article.vip_level] }}"
                                    data-title="
                                        {{ if $tpl_data.article.vip_level == 1 }}
                                            跟谁学会员
                                        {{ else if $tpl_data.article.vip_level == 2 }}
                                            跟谁学高级会员
                                        {{ else if $tpl_data.article.vip_level == 3 }}
                                            跟谁学超级会员
                                        {{ /if }}
                                    "></i>
                                {{ /if }}
                            </div>

                            <div class="read-power">
                                {{ if $tpl_data.article.permission == 0 }}
                                <span>公开</span>
                                {{ else if $tpl_data.article.permission == 1 }}
                                <span>学生可见</span>
                                {{ else }}
                                <span>仅自己可见</span>
                                {{ /if }}
                            </div>

                            <div class="power">
                                <div class="dropdown" required>
                                    <button class="btn-default btn-block">
                                        <i class="caret"></i>
                                        <span></span>
                                    </button>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li data-value="0">公开</li>
                                        <li data-value="1">学生可见</li>
                                        <li data-value="2">仅自己可见</li>
                                    </ul>
                                </div>
                                <span class="error"></span>
                            </div>

                        </div>
                    </div>
                    <div class="article-button">
                        <button class="btn-small btn-primary btn-edit" id="edit-article">编辑文章</button>
                        <button class="btn-small btn-primary" id="delete-article">删除文章</button>
                    </div>
                    <div class="article-other">
                        <div class="group thumbs-up">
                            <i class="icon icon-thumbs-up {{ $tpl_data.has_supported }}"></i>
                            <span class="count" data-count="{{ $tpl_data.article.support_num }}" data-tip="赞">
                            {{ if $tpl_data.article.support_num ==0 }}
                            赞
                            {{ else }}
                            {{ $tpl_data.article.support_num }}
                            {{ /if }}
                            </span>
                        </div>
                        <div class="group" id="share">
                            <i class="icon icon-article-share" >
                            {{ include file="common/component/baiduShare.html" }}
                            </i>
                            <span class="count" data-tip="分享">
                            分享
                            </span>
                        </div>
                        <div class="group" id="comment">
                            <i class="icon icon-comment"></i>
                            <span class="count" data-count="{{ $tpl_data.comment_total_num }}" data-tip="评论">
                            {{ if $tpl_data.comment_total_num ==0 }}
                            评论
                            {{ else }}
                            {{ $tpl_data.comment_total_num }}
                            {{ /if }}
                            </span>
                        </div>
                        <div class="group group-eye" id="eye">
                            <i class="icon icon-eye"></i>
                            <span class="count" data-count="{{ $tpl_data.article.read_times }}" data-tip="阅读">
                            {{ if $tpl_data.article.read_times ==0 }}
                            阅读
                            {{ else }}
                            {{ $tpl_data.article.read_times }}
                            {{ /if }}
                            </span>
                        </div>
                    </div>

                </div>
                {{ if count($tpl_data.other_articles) > 0  }}
                <div class="other-article">
                    <span class="title">{{ $tpl_data.article.display_name|cn_truncate:8 }}的其他文章</span>
                    {{ foreach $tpl_data.other_articles as $other }}
                    <div class="article-link-wrapper" title="{{ $other.title|escape:'html' }}">
                        ·
                        <a href="{{ $other.url }}" >{{ $other.title }} </a>
                    </div>
                    {{ /foreach }}
                </div>
                {{ /if }}
            </div>
        </div>
        {{ /if }}
    </div>
</div>
{{ /strip }}
{{ /block }}
