/**
 * @file 课程设置 - 一对一课程弹框样式
 * @author wangtianhua
 */
 @import "../../common/variable";

.course-info-dialog {

    width: 580px;

    > .body {
        overflow-y: auto;
        height: 300px;
    }

    .group > .label {
        text-align: left;
        display: block;
    }
    .input {
        width: 341px;
    }
    .buttons {
        text-align: center;
    }
    .icon + .text {
        margin-left: $horizontal-tiny;
    }

}