#course-address {
    @course-address-map-width: 450px;
    @course-address-map-height: 300px;

    .content {
        padding-top: @gap-vertical-large;
    }

    #course-address-map {
        width: @course-address-map-width;
        height: @course-address-map-height;
    }

    .info {
        width: 820 - @course-address-map-width - @gap-horizontal-large;
        margin-left: @gap-horizontal-large;

        line-height: 30px;

        & > div {
            padding: 20px 0;
        }

        float: right;
    }

    .address {
        border-bottom: 1px solid @brand-gray;
    }

    .map {
        float: right;
    }

    h4 {
        font-size: @font-size-medium;
        color: @brand-primary;
    }
}