/**
 * @file 班课详情页 - 课程简介
 * @author zhujialu
 */

#course-introduction {
    padding: 0 20px;
    h3 {
        margin-left: -20px;
    }
    .content {
        word-wrap: break-word;
        word-break: break-all;

        padding-top: @gap-vertical-large;

        overflow: hidden;
        img {
            max-width: 740px;
        }
    }
    .new-intro {
        padding: 20px;
        margin-top: 20px;
        > div {
            margin-bottom: 15px;
        }
        .title {
            text-align: center;
            margin: 17px auto;
            font-size: 18px;
            border-left: none;
        }
        .body {
            word-break: break-word;
        }
        .audio-box {
            position: relative;
            text-align: left;
            cursor: pointer;
            .icon {
                position: absolute;
                top: 24%;
                left: 2%;
                font-size: 20px;
                width: 20px;
                height: 10px;
                color: #ccc;
            }
        }
        .video-box {
            cursor: pointer;
        }
        .video-box,
        .image-box {
            margin: 0 auto;
            text-align: center;
            img {
                max-width: 720px;
            }
        }
    }
        .black {
            background-color: #fff;
            .title {
                width: 226px;
                height: 42px;
                line-height: 42px;
                color: #FFFFFF;
                background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d77e643.png") no-repeat 50%;
            }
        }
        .brown {
            background-color: #8a1f2f;
            .title {
                width: 240px;
                height: 44px;
                line-height: 44px;
                color: #FFFCF2;
                background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d8bcaa7.png") no-repeat 50%;
            }
        }
        .pink {
            background-color: #FFF4F7;
            .title {
                width: 273px;
                height: 40px;
                line-height: 40px;
                color: #562c11;
                background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d879811.png") no-repeat 50%;
            }
        }
        .green {
            background-color: #FFFFFF;
            .title {
                width: 278px;
                height: 45px;
                line-height: 45px;
                color: #6d6d6e;
                background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d840937.png") no-repeat 50%;
            }
        }
        .blue {
            background-color: #EEEEF0;
            .title {
                width: 302px;
                height: 52px;
                line-height: 52px;
                color: #3c3d3d;
                background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d7e3990.png") no-repeat 50%;
            }
        }
}
