/**
 * @file 班课详情页 - 教学大纲
 * @author liucong
 */
#course-plan {

    .plan-info, .plan-teacher {
        .inline-block();
        vertical-align: top;
    }

    .plan-info {
        width: 630px;
        word-wrap: break-word;
    }
    .plan-teacher {
        width: 190px;
        .text-overflow();
    }
}