/**
 * @file 班课详情页 - 主讲教师
 * @author zhujialu, liucong
 */
#course-teacher {

    background-color: #FAFAFA;
    padding: @gap-vertical-large @gap-horizontal-large;
    @course-org-avatar-width: 60px;

    .body {
        margin-top: @gap-vertical-large;
    }

    .avatar, .info {
        .inline-block();
        vertical-align: top;
    }
/*
    .icon-vip-novip {
        background: url(../../../img/userCenter/small-novip.png);
        width: 18px;
        height: 16px;
    }
*/
    .icon-vip-vip,
    .icon-vip-gvip,
    .icon-vip-cvip {
        margin-left: 5px;
        margin-right: 5px;
        width: 19px;
        height: 19px;
    }

    .icon-vip-vip {
        background: url(../../../img/userCenter/small-vip.png);
    }
    .icon-vip-gvip {
        background: url(../../../img/userCenter/small-gvip.png);
    }
    .icon-vip-cvip {
        background: url(../../../img/userCenter/small-cvip.png);
    }

    .box {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .avatar {
        width: @course-org-avatar-width;
        margin-right: 10px;

        a, img, a:after {
            border-radius: 0;
        }

    }

    .info {
        width: 226 - @course-org-avatar-width;

        h1 {
            .text-overflow();
            a {
                color: #3d3d3d;
                position: relative;
                top: -3px;
                font-size: @font-size-tiny;
            }
        }

        .chat-label {
            margin-bottom: 5px;
        }

        .school-age {
            float: left;
            margin-right: 10px;
            color: #3d3d3d;
            font-size: 12px;

            i {
                color: #999;
                font-size: 15px;
            }
        }

        .comment-num {
            color: #3d3d3d;
            font-size: 12px;
            position: relative;
            top: -2px;

            i {
                color: #999;
                font-size: 16px;
            }
            .icon-comment {
                vertical-align: top;
                margin-top: 3px;
            }
        }

        .age-comment {
            height: 20px;
            width: 135px;
            display: inline-block;
        }

        .score {
            float: left;
            font-size: 12px;
            color: #6e6e6e;
            position: relative;
            top: -2px;
        }
    }
}