{{ *

@file 活动报名
@author wangtianhua

* }}

{{ strip }}
{{ if isset($board_conf) && count($board_conf) }}
<div class="report" id="report">

    {{ include file="common/component/image.html" url=$img.img width="240" height="240" }}

    <div class="report_detail">

        <label class="start_time">
            时间:<strong>{{ $board_conf.start_time }}</strong>
        </label>

        {{ if !$board_conf.address == '' }}
            <label class="address">
            地点:<strong>{{ $board_conf.address }}</strong>
            </label>
        {{ /if }}

        <label class="people">
            人数:
            {{ if $board_conf.count_limit == '' }}
            <strong>不限</strong>
            {{ else }}
            <strong>{{ $board_conf.count_limit }}</strong>
            {{ /if }}
        </label>

        <label class="end_time">
            报名截止:<strong>{{ $board_conf.report_end_time }}</strong>
        </label>
    {{ if !$board_conf.has_apply }}

        {{ if !$board_conf.activity_end }}
            <button class="btn-primary reserve-course old" id="nowreport">已报{{ $board_conf.apply_count }}人｜立即报名</button>
        {{ else }}
            <button class="btn btn-default end" disabled="">报名截止</button>
        {{ /if }}

    {{ else }}

        <button class="btn-primary reserve-course reported" >报名成功</button>

    {{ /if }}

        <button class="btn-primary reserve-course succ" >报名成功</button>

    </div>

    <div class="check_box form">

        <h3>填写报名表</h3>

        <div class="form-group">

            <label class="form-label">
                姓名 <i class="form-required"></i>
            </label>

            <div class="form-controls">
                <input class="form-text" type="text" name="username" value="{{ $user.user_name }}" placeholder="请输入姓名" maxlength=20 required="">
                <div class="form-static form-inline">
                    <span class="success">
                        <i class="icon icon-check-circle"></i>
                    </span>
                </div>
                <span class="error"></span>
            </div>

        </div>

        <div id="mobile">
            <div class="form-group mobile-input">
                <label class="form-label">
                    手机号 <i class="form-required"></i>
                </label>
                <div class="form-controls">
                    <input class="form-text mobile" type="mobile" autocomplete="off" name="mobile" required placeholder="请输入手机号" value="{{ $user.user_mobile }}" />
                    <button type="button" class="btn btn-info form-get-smscode" disabled="">获取校验码</button>
                    <span class="error" id="mobile-error"></span>
                </div>
            </div>
        </div>

        <div class="form-group form-sms">
            <label class="form-label">校验码 <i class="form-required"></i> </label>
            <div class="form-controls">
                <input class="form-text sms" type="text" name="verifycode" placeholder="请输入短信校验码" required pattern="^\d*$" />
                <span class="error" autocomplete="off" ></span>
            </div>
        </div>

        {{ foreach $sign as $val }}
        <div class="form-group agile" >
            <label class="form-label">{{ $val.label }}
            {{ if $val.required }} <i class="form-required"></i>
            {{ /if }}
            </label>
            <div class="form-controls">
                <input class="form-text" type="text" name="{{ $val.name }}" {{ if $val.required }}required {{ /if }} placeholder="{{ $val.hint }}" maxlength=100>
                <div class="form-static form-inline">
                    <span class="success">
                        <i class="icon icon-check-circle"></i>
                    </span>
                </div>
                <span class="error"></span>
            </div>
        </div>
        {{ /foreach }}

        <div class="form-action">
            <button class="btn btn-primary sure">确定</button>
            <button class="btn btn-default back">返回</button>
        </div>

    </div>

</div>
{{ /if }}
{{ /strip }}