{{ *

@file 社区网站头部
@author zengcheng

* }}
{{ strip }}

<div id="header">
    <div class="wrapper">
        <a href="/forum/index" class="logo"></a>
        <div class="city">
            <strong>
                {{ $curr_city.name }}
            </strong>
            <div class="city-trigger">
                <a rel="nofollow" href="/changecity/init">切换城市</a>
            </div>
        </div>
        <div class="notify">
            <span class="notify-num" style="display:none"></span>
            <i class="icon icon-bell"></i>
            <span class="label">社区消息</span>
        </div>
    </div>
</div>
{{ /strip }}
