/**
 * @file 搜狗导航页
 * @author jixiaohui
 */
@import "../main/base.less";
@import "./sougou/head.less";
@import "./sougou/category.less";
@import "./sougou/hotactivity.less";
@import "./sougou/slider.less";
@import "./sougou/lessons.less";
@import "./sougou/hotarticle.less";
@import "./sougou/bestOrg.less";
@import '../common/component/callingDialog.less';

body {
    background: #fff!important;
    width: 960px;
    min-width: 960px;
}

#proxy {
    display: none;
}

#main {
    width: 960px!important;
    margin-top: 0;

    .wrapper {
        width: 960px!important;
    }
}


