@import "page/_base/base.styl";

body{
  padding:rem(10);
  font-size : rem(14);
  background-color : #fff;
  color:#555;
}
h2{
  margin:rem(10) rem(0);
}

.title{
  margin-top:rem(15);
}
.img{
  padding:rem(10) rem(0);
  height:rem(250);
  width:rem(150);

  img{
    width:100%;
    height:100%;
  }
}
.content{
  text-indent: 2em;
}