<!--主功能区-->
<div class="content">

    <div class="form">
        <div class="orderinfo-remind">当前可用总时长{{ $tpl_data.order_info.available_hours }}小时 （
            共{{ $tpl_data.order_info.total_length / 60 }}小时）
        </div>
        <div class="reserve-form">

            <input type="hidden" name="c_id" />

            <div class="form-group repeat-interval">
                <div class="form-label">
                    请选择上课频次
                </div>
                <div class="form-controls">

                    {{ include file="common/ui/radio.html" name="interval" value="0" text="只上一次" checked=1 }}
                    {{ include file="common/ui/radio.html" name="interval" value="1" text="每天都上" }}
                    {{ include file="common/ui/radio.html" name="interval" value="7" text="每周都上" }}

                </div>
            </div>

            <div class="form-group repeat-days-group">
                <div class="form-label">
                    每周重复时间：
                </div>
                <div class="form-controls">
                    {{ include file="common/ui/checkbox.html" name="days" value="1" text="周一" }}
                    {{ include file="common/ui/checkbox.html" name="days" value="2" text="周二" }}
                    {{ include file="common/ui/checkbox.html" name="days" value="3" text="周三" }}
                    {{ include file="common/ui/checkbox.html" name="days" value="4" text="周四" }}
                    {{ include file="common/ui/checkbox.html" name="days" value="5" text="周五" }}
                    {{ include file="common/ui/checkbox.html" name="days" value="6" text="周六" }}
                    {{ include file="common/ui/checkbox.html" name="days" value="0" text="周日" }}
                </div>
            </div>

            <div class="form-group form-group-inline">
                <div class="form-label">
                    请选择起始日期：
                </div>
                <div class="form-controls start-date">
                    <input class="form-text" name="start_date" readonly="readonly" />
                </div>
            </div>

            <div class="form-group form-group-inline">
                <div class="form-label">
                    设置开始时间：
                </div>
                <div class="form-controls">
                    {{ include file="common/ui/dropdown.html" class="start-hour" }}
                    :
                    {{ include file="common/ui/dropdown.html" class="start-minute" }}
                </div>
            </div>

            <div class="form-group form-group-inline">
                <div class="form-label">
                    设置时长：
                </div>
                <div class="form-controls">
                    {{ include file="common/ui/dropdown.html" class="duration" }}
                </div>
            </div>

            <div class="form-group repeat-times-group">
                <div class="form-label">
                    请选择上课次数：
                </div>
                <div class="form-controls">
                    {{ include file="common/ui/dropdown.html" class="repeat-times" }}
                </div>
            </div>

            <div class="form-action">
                <button class="btn btn-primary btn-choice" disabled="disabled">
                    添加课程
                </button>
                <button class="btn btn-primary btn-update" disabled="disabled">
                    更新课程
                </button>
                <button class="btn btn-default btn-cancel">
                    取消
                </button>
            </div>
        </div>

        <div class="reserve-list">
            <div class="operations">
                <span class="delete-all">
                    <i class="icon icon-delete"></i>
                    删除全部课节
                </span>
                <!--<span class="edit-all">
                    <i class="icon icon-edit-o"></i>
                    整体修改课节
                </span>-->
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <!--<th>频次</th>-->
                        <th>时间</th>
                        <th>时长</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="no-data">
                请选择具体时间段
            </div>

            <div class="total">
                共<span class="total-hours"></span>小时
                <span class="text-error">
                    <i class="icon icon-info-circle"></i>
                    已超出最大可预约时长
                </span>
            </div>

            {{ **加上地址输入框** }}
            {{ $address_text = '' }}
            {{ if $lesson_way == '老师上门' }}
                {{ $address_text = '老师上门' }}
            {{ else if $lesson_way == '学生上门' }}
                {{ $address_text = '学生上门' }}
            {{ else if $lesson_way == '协商地点' }}
                {{ $address_text = '协商上课' }}
            {{ /if }}

            {{ if $user_data.user_type == 0 }}
                <div class="form-group show-address">
                    <label class="form-label">
                        课程地址：
                    </label>
                    <div class="form-controls">
                        <div class="form-static">
                            <span></span>
                            <button class="btn-link small modify-addr">修改地址</button>
                        </div>
                    </div>
                </div>

                {{ if isset($tpl_data.teacher.address_list) }}
                    {{ include file="teacher_center/component/addr-radio.html" count=count($tpl_data.teacher.address_list) }}
                    <div class="form-group new-address">
                        {{ include file="teacher_center/component/addressForm.html" addressList=$tpl_data.teacher.address_list }}
                    </div>
                {{ /if }}

            {{ else if $user_data.user_type == 2 }}
                <div class="form-group show-address">
                    <label class="form-label">
                        课程地址：
                    </label>
                    <div class="form-controls">
                        <div class="form-static">
                            <span></span>
                            <button class="btn-link small modify-addr">修改地址</button>
                        </div>
                    </div>
                </div>

                <div class="new-address">
                    <label class="form-label">
                        <i class="form-required"></i>
                        课程地址：
                    </label>
                    {{ include file="teacher_center/component/addressForm.html" }}
                </div>

            {{ /if }}

            <div class="form-group">
                <label class="form-label">
                    留言：
                </label>
                <div class="form-controls">
                    <div class="form-editor message">
                        <textarea class="form-text" type="text" name="note"></textarea>
                        <div class="form-hint">
                            最多输入 <strong></strong> 个字
                        </div>
                    </div>
                    <span class="error"></span>
                </div>
            </div>

            <div class="form-action">
                <button class="btn btn-info btn-reserve" disabled="disabled">提交预约</button>
            </div>
        </div>

    </div>
</div>

<!--辅助功能区-->
<div class="sidebar">
    <div class="schedule-calendar"></div>
    <div class="course-list"></div>
</div>

{{ include file="common/component/baiduMap.html" }}