@import "page/_base/base.styl";

.tanchuang {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    position: relative;
    margin-top: 20%;
    .tc-content {
        height: rem(200);
        background: white;
        padding-top: rem(20);
        p {
            width: 80%;
            margin-left: 10%;
        }
        button {
            margin-top: rem(30);
            padding: 0 rem(30);
            background: #ff9100;
            border: 0;
            color: white;
            height: rem(40);
            line-height: rem(40);
        }
    }
    .close_button {
        height: rem(35);
        width: rem(35);
        position: absolute;
        top: 0;
        right: rem(-20);
    }
}