/**
 * @file 下拉地址
 * @author wangtianhua
 */
.address-menu {
    position: relative;
    > .icon {
        position: absolute;
        right: 8px;
        top: 6px;
        font-size: 24px;
        color: #6d6d6e;
    }
}
