/**
 * @file 添加单一课节
 * @author wangtianhua
 */
@import '../component/common.styl';

.add-sigle-course {
    .group {
        display: inline-block;
        margin-top: 16px;
        vertical-align: top;
        &.center {
            margin: 0 19px;
            vertical-align: bottom;
        }
        .controls {
            display: inline-block;
            .org-teachers-select {
                width: 160px;
            }
            .minute-select,
            .hour-select {
                width: 80px;
            }
            .hour-select {
                width: 100px;
            }
            .time-select,
            .duration-select {
                width: 130px;
            }
            .button {
                background-color: $grey;
            }
            .lessons-select,
            .name-input {
                width: 638px;
            }
        }
        .label {
            vertical-align: top;
        }
    }
    .footer {
        text-align: center;
        margin: 10px 0;
        .button {
            width: 120px;
            height: 40px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}