/**
 * @file 课程详情的预览
 * @author wangtianhua
 */
@import '../component/common.styl';

$white = #F8F8F8;
$whitetitle = #3c3d3d;

$black = #fff;
$blacktitle = #FFFFFF;
$blackheight = 42px;
$blackwidth = 226px;

$brown = #8a1f2f;
$browntitle = #FFFCF2;
$brownheight = 44px;
$brownwidth = 240px;

$pink = #FFF4F7;
$pinktitle = #562c11;
$pinkheight = 40px;
$pinkwidth = 273px;

$green = #FFFFFF;
$greentitle = #6d6d6e;
$greenheight = 45px;
$greenwidth = 278px;

$blue = #EEEEF0;
$bluetitle = #3c3d3d;
$blueheight = 52px;
$bluewidth = 302px;

.preview-detail-dialog {
    > .close {
        display: none;
    }
}

.preview-detail {
    .header {
        background: $white;
        width: 780px;
        height: 80px;
        .button-exit {
            float: right;
            margin-top: 20px;
            margin-right: 20px;
        }
        .tool-bar {
            display: inline-block;
            padding: 10px 20px;
            .tool-bar-list {
                display: inline-block;
                list-style: none;
                padding: 0px;
                vertical-align: middle;
                .tool-bar-item {
                    float: left;
                    background: $white;
                    border-radius: 100px;
                    width: 30px;
                    height: 30px;
                    margin-right: 24px;
                    &:first-child {
                        border: 1px solid $border-color;
                    }
                    .icon-check {
                        font-size: 24px;
                        line-height: 28px;
                        padding: 2px;
                    }
                    .icon-check-circle {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .preview-body {
        width: 780px;
        height: 400px;
        overflow: auto;
        padding: 10px 30px;
    }
}
.preview-body {
    > div {
        margin-bottom: 15px;
    }
    .title {
        margin: 17px auto;
        font-size: 18px;
        text-align: center;
    }
    .body {
        word-break: break-word;
    }

    .audio-box {
        position: relative;
        max-width: 690px;
        .icon {
            position: absolute;
            top: 26%;
            left: 3%;
            font-size: 20px;
            width: 20px;
            height: 20px;
            color: #ccc;
        }
    }
    .video-box,
    .image-box {
        margin: 0 auto;
        text-align: center;
        img {
            max-width: 720px;
        }
    }
    .video-box {
        cursor: pointer;
        position: relative;
        .play {
            width: 60px;
            height: 60px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -30px;
            margin-top: -30px;
            &:after {
                position: absolute;
                content: ' ';
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
    }
}
.white {

}
.black {
    background-color: $black;
    .title {
        width: $blackwidth;
        height: $blackheight;
        line-height: $blackheight;
        color: $blacktitle;
        background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d77e643.png") no-repeat 50%;
    }
}
.brown {
    background-color: $brown;
    .title {
        width: $brownwidth;
        height: $brownheight;
        line-height: $brownheight;
        color: $browntitle;
        background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d8bcaa7.png") no-repeat 50%;
    }
}
.pink {
    background-color: $pink;
    .title {
        width: $pinkwidth;
        height: $pinkheight;
        line-height: $pinkheight;
        color: $pinktitle;
        background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d879811.png") no-repeat 50%;
    }
}
.green {
    background-color: $green;
    .title {
        width: $greenwidth;
        height: $greenheight;
        line-height: $greenheight;
        color: $greentitle;
        background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d840937.png") no-repeat 50%;
    }
}
.blue {
    background-color: $blue;
    .title {
        width: $bluewidth;
        height: $blueheight;
        line-height: $blueheight;
        padding-right: 45px;
        color: $bluetitle;
        background: url("http://img.gsxservice.com/0cms/d/file/content/2016/08/57ba67d7e3990.png") no-repeat 50%;
    }
}