/**
 * @file 选择科目和推荐科目
 * @author wangtianhua
 */
@import '../component/common.styl';

.subject-selector {
    background-color: #fff;
    padding: 25px;
    border: 1px solid $border-color;
    border-top: none;

    .suggestion {

        .recommend-classify {
            .label {
                width: 49%;
                margin-bottom: 14px;
                padding: 13px;
                text-align: center;
                background-color: $grey;
            }
            .active {
                background-color: #f90;
                color: #fff;
            }
            .label:nth-child(odd) {
                margin-left: 0;
            }
        }

        .classifyMenu {
            font-size: 14px;
            color: #3c3c3d;
            .row {
                display: inline-block;
                width: 200px;
                height: 278px;
                background-color: $grey;
                vertical-align: top;
                margin-right: 20px;
                padding: 10px 0;
                overflow-y: auto;
                overflow-x: hidden;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }
                .classify-item {
                    width: 190px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 20px;
                    overflow: hidden;
                    &:hover {
                        background-color: #ffcd7a;
                    }
                    &.active {
                        color: #fff;
                        background-color: #ffcd7a;
                    }
                }
            }
            .clospan {
                background-color: $grey;
                height: 278px;
                text-align: center;
                padding-top: 125px;
                span {
                    color: #3383fb;
                    cursor: pointer;
                }
            }
        }

        .menu {
            text-align: left;
            > div {
                margin-bottom: 10px;
            }
            .less {
                background: $grey;
                padding: 16px;
                font-size: 14px;
                .true-word {
                    display: inline-block;
                    width: 80px;
                }
            }
        }
    }
    .input-group {
        margin-top: 30px;
        .floated {
            right: 0;
            top: 0;
        }
    }
}