@import 'common/courseBottom/base.styl';
@import 'common/courseBottom/share/index.styl';
@import 'common/courseBottom/favor/index.styl';
@import 'common/courseBottom/consult/index.styl';
@import 'common/courseBottom/download/index.styl';
@import 'common/courseBottom/call/index.styl';
@import 'common/courseBottom/enterClassroom/index.styl';
#fixed-bottom {
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-around;

    font-size: rem(16);
    bottom: 0;
    left: 0;
    text-align: center;
    background: #ffffff;
    border-top:rem(1) solid #ebeced;

    .add-favor {
        border-right: rem(1) solid #f2f2f3;
    }
    .shares {
        border-right: rem(1) solid #f2f2f3;
        padding-top: rem(8);
    }
    .download {
        flex: 1;
        padding-top: rem(6);
        border-right: rem(1) solid #f2f2f3;
        .icon {
            font-size: rem(20);
        }
        div {
            margin-top: rem(3);
            font-size: rem(12);
        }
    }
    #add-my-video {
        z-index: 1000
    }
    .display-none {
        display: none;
    }
    #add-my-video, #start-play, #pay-wrap, #can-not-play,#stay-single,#kf-tel, .enter-comment, .add-favor, .shareDialog, .enter-download {
        flex: 1;
        height: rem(50);
        line-height: rem(50);
        span {
            text-overflow: ellipsis;
            width: 90%;
            display: inline-block;
        }
    }
    #stay-single{
      flex: 1.5;
      background-color : #ff6c00;
      color:#fff;
    }
    #add-my-video, #start-play {
        flex: 1.5;
        background-color: #ff9100;
        color: #FFFFFF;
        font-size: rem(16);
    }

  #kf-tel{
    display : block;
  }

    #kf-tel, .enter-comment, .shareDialog, .enter-download, .add-favor{
      position:relative;
      .tel{
        position : absolute;
        left:50%;
        margin-left:rem(-10);
        top:rem(-3);
        width:rem(20);
        height:rem(20);
        img{
          width : 100%;
          height: 100%;
        }
        i {
            font-size: rem(20);
        }
      }
        i{
          display : inline-block;
          width:rem(20);
          height:rem(20);
        }
    }
    #pay-wrap {
        flex: 1.5;
        font-size: rem(13);
        background: #f7f7f7;
        #pay {
            background-color: #fd7f24;
            color: #FFFFFF;
            font-size: rem(16);
            &.right {
                position: absolute;
                right: 0;
                top: 0;
                width: 40%;
            }
        }
        #free {
            color: #666666;
        }
    }
    #can-not-play {
        font-size: rem(14);
        color: #f95e5e;
        background: #ffffff;
    }
}
.bottom {
    display: flex;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: rem(50);
    z-index: 10;
    img {
        height: rem(20);
    }
}

.bottom-item {
    flex: 1.5;
    height: rem(50);
    line-height: rem(50);
    font-family: PingFang-SC-Regular;
    letter-spacing: rem(0.53);
    font-size: rem(15);
    &.orange {
        background: #FF6C00;
        color: white;
    }
    &.red {
        background: #FF5252;
        color: white;
    }
    &.coffee {
        background: #795547;
        color: white;
    }
    .live-orange, .live-coffee {
        background: #48b14b;
    }
    .has_buy-orange, .full-orange {
        background: #9d9e9e;
    }
}

.fsdlg-body {
    i {
        font-size: rem(20);
        vertical-align: sub;
    }
}