@import "page_app/_base/base.styl";
@import "common/ui/Loading/index.styl";

html {
    font-size: rem(16);
}
body {
    background: #f7f9fa;
    .bottom {
        text-align: center;
        margin-bottom: rem(7.5);
        color: #9d9d93;
    }
    .container {
        .top-container {
            text-align: center;
            #publish {
                display: inline-block;
                background: #ff9903;
                border: 1px solid #ff8b00;
                border-radius: rem(2);
                width: rem(108);
                height: rem(34.5);
                color: #fff;
                line-height: rem(34.5);
                font-size: rem(15);
                margin: rem(15) 0;
            }
        }
        .invite-info {
            padding: rem(15);
            background: #fff;
            font-size: rem(15);
            h2 {
                color: #6f5542;
                margin-bottom: rem(7.5);
            }
            .list > li {
                color: #9f836f;
                list-style-position: inside;
                list-style-type: decimal;
            }
        }
        .exp-container {
            text-align: center;
            padding-bottom: rem(48);
            p {
                text-align: left;
                margin: rem(13.5);
                margin-left: rem(15);
            }
            img {
                width: 65%;
            }
        }
        .card-container {
            .card {
                .end-info {
                    float: right;
                }
                padding: rem(15);
                background: #fff;
                margin-bottom: rem(15);
                font-size: rem(14.25);
                .time-info {
                    display: flex;
                    .time-title {
                        width: rem(75);
                    }
                }
                &.end {
                    color: #9d9d9e;
                    .info {
                        color: #9d9d9e;
                        .title {
                            color: #9d9d9e;
                        }
                        .num {
                            color: #9d9d9e;
                        }
                    }
                }
                .info {
                    margin-bottom: rem(1.5);
                    .title {
                        color: #8f8f8f;
                    }
                    .num {
                        color: #ff9903;
                    }
                }
            }
        }

    }
}
