@import "page_app/_base/base.styl";
@import "common/ui/Loading/index.styl";
@import "common/fixTab/fixTab.styl";

html {
    font-size: rem(16);
    height: 100%;
}
body {
    background: #f7f9fa;
    height: 100%;
    .hide {
        display: none;
    }
    .single-line {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #page_main {
        height: 100%;
        .container {
            overflow: hidden;
            position: relative;
            form {
                .inp-group {
                    margin: rem(10.5) 0;
                    .begin {
                        border-bottom: 1px solid #f7f9fa;
                    }
                    label {
                        background: #fff;
                        height: rem(21.75);
                        overflow: hidden;
                        display: block;
                        padding: rem(9) rem(18);
                        position: relative;
                        &.textarea-label {
                            height: auto;
                            .left {
                                line-height: rem(48);
                            }
                        }
                        .left {
                            float: left;
                        }
                        .right-info {
                            color: #9d9d9e;
                            float: right;
                            font-family: PingHei,"Hiragino Sans GB","Microsoft YaHei";
                            width: 60%;
                            text-align: right;
                        }
                        .arrow {
                            transform: scale(1,1.5) translateY(rem(-1));
                        }
                        .name-inp, .num-inp {
                            width: 60%;
                            text-align: right;
                            display: inline-block;
                            background: transparent;
                            border: none;
                            float: right;
                            color: #9d9d9e;
                            font-family: PingHei,"Hiragino Sans GB","Microsoft YaHei";
                            resize: none;
                            &:focus {
                                border: none;
                                outline: none;
                                box-shadow: none;
                            }
                            &[name="name"] {
                                width: rem(170);
                                font-size: rem(16);
                                line-height: rem(24);
                            }
                        }
                        .hide-inp {
                            opacity: 0;
                            width: 100%;
                            position: absolute;
                            top: rem(6);
                            left: 0;
                        }
                    }
                }
                .mes {
                    padding: 0 rem(18);
                    font-size: rem(12);
                    color: #9d9d9e;
                }
            }
            #submit {
                margin-bottom: rem(21);
                background: #ff9100;
                border-radius: rem(4);
                width: 85%;
                height: rem(39.75);
                border: none;
                color: #fff;
                font-size: rem(16.5);
                letter-spacing: rem(2);
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                &:focus {
                    box-shadow: none;
                    outline: none;
                    border: none;
                }
            }
        }
    }
    
}
