.user-flow {

    h3 {
        width: 146px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        text-indent: 4px;
    }

    ol {
        margin: 26px 0 52px;
        text-align: center;
    }

    li {
        .inline-block();
        width: 268px;
        text-align: center;
        vertical-align: top;
    }

    h4 {
        font-size: 18px;
        line-height: 2;
        color: #3d3d3d;
    }

    p {
        margin: @gap-vertical-medium 26px 0;
        font-size: 13px;
        line-height: 24px;
        height: 96px;
        text-align: left;
    }

    .icon {
        color: @brand-info;
        font-size: 62px;
    }
}