{{ *

@file 课程时长
@author zhujialu

* }}

{{ strip }}

<div class="course-hours">


    {{ $custom_checked = $combo_id == '' }}

    <div class="course-custom form{{ if $custom_checked }} active{{ /if }}">


        {{ include file="common/ui/radio.html" name="hours-way" value="1" text="自定义课时时长" checked=$custom_checked }}

        <div class="form-group">
            请填写你需要购买的时长：

            {{ $input = '<input class="form-text" type="int" name="hours" value="' }}

            {{ * 如果选了套餐，或者小时数为空字符串或 0 * }}
            {{ if $combo_id || !$hours }}
                {{ $hours = '' }}
            {{ /if }}

            {{ $input = $input|cat: $hours|cat: '"' }}
            {{ $input = $input|cat: ' required min="1" max="999" />' }}

            {{ include file="common/ui/inputGroup.html" suffix="小时" input=$input }}

            <span class="form-hint">
                <i class="icon icon-info-circle"></i>
                请填写整数（1-999）
            </span>
            <span class="error"></span>
        </div>
    </div>


    <div class="course-combo{{ if !$custom_checked }} active{{ /if }}">

        {{ include file="common/ui/radio.html" name="hours-way" value="0" checked=!$custom_checked text="选择课时优惠包" }}

        <div class="combo-list">
            {{ foreach $combo as $item }}

            <div class="combo-item{{ if $item.id == $combo_id }} active{{ /if }}" data-json='{{ json_encode($item) }}'>

                <i class="icon icon-combo-blue-small"></i>

                <div class="price">

                    <span class="hours">
                        <strong>{{ $item.hours }}</strong> 小时
                    </span>

                    <span class="discount">
                    {{ if $item.discount == 10 }}
                        无折扣
                    {{ else }}
                        {{ $item.discount }} 折
                    {{ /if }}
                    </span>

                </div>

                <p class="desc"{{ if $item.desc != $item.desc_cut }}data-title="{{ $item.desc }}" data-width="14em"{{ /if }}>
                    {{ $item.desc_cut }}
                </p>

                <i class="icon icon-check"></i>

            </div>

            {{ /foreach }}
        </div>

    </div>

</div>
{{ /strip }}