.hide {
    display: none;
}

.search-suggestion {
	position: absolute;
	background: #fff;
	top: rem(39);
	left: rem(-1);
	right: 0;
	max-height: rem(150);
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 5;
	margin-top: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    box-sizing: content-box;
    border: 1px solid #ddddde;
    /*border-top: 1px solid #f3f4f5;*/
	li {
		padding: 0 rem(20);
		height: rem(38);
		line-height: rem(38);
		font-size: rem(15);
		color: #3d3d3e;
		border-bottom: 1px solid #f3f4f5;
	}
}