{{ strip }}
    <div id="address" class="card">
        <div class="title">上课地址</div>
        <div class="details">
            <div id="map" {{ if !empty($tpl_data.course_info.offline_poi) }} data-offline='{{ json_encode($tpl_data.course_info.offline_poi, 77) }}'{{ /if }} data-address="{{ $tpl_data.course_info.location|escape }}">

            </div>
            <div class="contents">
                <div class="position">
                    <p id="header">详细地址</p>
                    <p id="addr">
                        {{ $tpl_data.course_info.address|cn_truncate:18 }}&nbsp;
                        <span>
                            <a class="viewMap" data-offline='{{ json_encode($tpl_data.course_info.offline_poi, 77) }}'>查看地图</a>
                        </span>
                    </p>
                </div>
                <div class="route-query">
                    <p>查询上课路线</p>
                    <div class="form">
                        <div class="form-group">
                            <div class="form-label">选择出行方式：</div>
                            <div class="form-controls">
                                {{ include file="common/ui/radio.html" name="way" value=1 text="公交" checked=1 }}
                                {{ include file="common/ui/radio.html" name="way" value=2 text="驾车" }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label">出发地点：</div>
                            <div class="form-controls">
                                <input class="form-text" type="text" name="departure" required>
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="form-action normal">
                            查询线路
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ /strip }}