{{ strip }}
    {{ $count = count($tpl_data.course_info.schedule) }}
    {{ $org = $tpl_data.organization }}
    {{ $display_status = $tpl_data.course_info.display_status }}
    {{ **如果审核未通过则状态置为暂停招生** }}
    {{ if $tpl_data.course_info.verify_status == 2 }}
        {{ $display_status = 3 }}
    {{ /if }}
    <div id="ceiling">
        <div class="lists">
            <div class="courseInfo">
                <p class="title">
                    {{ $tpl_data.course_info.name|cn_truncate:12 }}
                </p>
                <p class="info">
                    {{ $count }}节课

                    {{ if $tpl_data.course_info.lesson_way == 2 || $tpl_data.course_info.address }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <i class="icon icon-location-o"></i>
                        <span>
                            {{ if $tpl_data.course_info.lesson_way == 4 }}
                                {{ $tpl_data.course_info.address|cn_truncate:10 }}
                                {{ else }}
                                    在线授课
                            {{ /if }}
                        </span>
                    {{ /if }}
                </p>
            </div>
            <div class="right">
                <div class="priceNow">
                    ￥<span>{{ $tpl_data.course_info.price }}</span>
                </div>

                {{ if $display_status == 2 }}
                    {{ if $tpl_data.course_info.max_student <= $tpl_data.course_info.total_pay }}
                        <div class="btn-default hugeBtn">
                            还有机会，<i>{{ $tpl_data.course_info.total_pay-$tpl_data.course_info.succ_pay }}</i>人待付款
                        </div>
                    {{ else }}
                        <div class="btn-primary
                        {{ if $url != 'shenhe' }} reserve-course{{ else }} disabled{{ /if }}
                        {{ if $tpl_data.course_info.total_pay != 0 }} hugeBtn{{ /if }}">
                            {{ if $tpl_data.course_info.total_pay == 0 }}
                                立即报名
                            {{ else }}
                                已报{{ $tpl_data.course_info.total_pay }}人&nbsp;&nbsp;|&nbsp;&nbsp;立即报名
                            {{ /if }}
                        </div>
                    {{ /if }}
                {{ else if $display_status == 3 || ( $display_status == 5 && $tpl_data.course_info.status == 3) }}
                    <div class="btn-default">暂停招生</div>
                {{ else if $display_status == 4 }}
                    <div class="btn-default">已满班</div>
                {{ else if $display_status == 5 || $display_status == 17 }}
                    <div class="btn-default">进行中</div>
                {{ else if $display_status == 6 || $display_status == 13 }}
                    <div class="btn-default">已完成</div>
                {{ else if $display_status == 8 }}
                    <div class="btn-default">审核中</div>
                {{ else if $display_status == 15 }}
                    <div class="btn-success primary-enter-room" data-click="order_1" data-sku="{{ $sku_type }}|{{ $tpl_data.course_info.number }}">进入教室</div>
                {{ else if $display_status == 16 }}
                    <div class="btn-default">即将开课</div>
                {{ /if }}

                {{ if isset($org.city_filter) && $org.city_filter && isset($org.extension) && $org.extension }}
                    <div class="phone">
                        <p>免费咨询</p>
                        <p class="number">{{ $org.extension }}</p>
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
{{ /strip }}