html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #FBFBDB;
}

#main {
    background: url(../../img/client/upgrade.png) no-repeat;
    width: 641px;
    height: 682px;
    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -320px;
    margin-top: -341px;
}

#btn-upgrade {

    border-radius: 4px;
    padding: 20px 100px;
    background-color: #68CE84;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;

    position: absolute;
    bottom: 65px;
    left: 50%;

    margin-left: -132px;
    margin-top: -28px;

}