.nav-bar{
    background:#c49e3a;
    width:100%;
    height:rem(45);
    .nav-wrap-left{
        display:none;
    }
    .nav-header{
        font-family:PingFang-SC-Regular;
        font-size:rem(20);
        color:#ffffff;
        letter-spacing:rem(0);
        text-align:center;
        line-height:rem(45);
    }
}

.bottom-wrap{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: rem(48);
    background: #c49e3a;
    .bottom-list{
        float: left;
        width: 25%;
        p{
            font-family:PingFang-SC-Regular;
            font-size:rem(14);
            color:#3c3c3c;
            text-align:center;
            height:rem(48);
            line-height: rem(48);
        }
    }
    .on{
        background: #e8cf80;
        p{
            font-family:PingFang-SC-Medium;
        }
    }
}