/**
 * @file 班课设置
 * @author wangyujie
 */

@import '../../common/center/common/layout.less';
@import '../../common/component/addressDialog.less';
/*@import '../component/form.less';*/
@import './add/common.less';
@import './add/basicInfo.less';
@import './add/detailInfo.less';
@import './add/photo.less';
@import './add/quit.less';
@import './add/schedue.less';
@import './add/preview.less';

#nav {
    display: none;
}

#main {
    width: 100%;
    background: #fff;
    margin: 0;
    border-top: 1px solid #e5e5e5;

    .class-course-header {
        width: 1095px;
        margin: 0 auto;
        padding: 16px 20px 16px 0;

        .back-class-list {
            display: inline-block;
            padding: 8px 15px;
            border: 1px solid #ccc;
        }

        .class-course-tip {
            height: 40px;
            line-height: 38px;
            margin-top: 30px;

            img {
                height: 40px;
                vertical-align: top;
            }

            .class-course-text {
                display: inline-block;
                margin: 0 55px 0 10px;
                font-size: 26px;
                vertical-align: top;
            }

            .class-course-notice {
                display: inline-block;
                padding: 0 12px;
                font-size: 14px;
                color: #666;
                background: #ddf3fe;
                border: 1px solid #65c9fb;
                vertical-align: top;

                span {
                    color: #63caff;
                    margin-right: 10px;
                }
            }
            .class-course-reject {
                display: inline-block;
                padding: 0 12px;
                font-size: 14px;
                color: #ed3f24;
                background: #fcede8;
                border: 1px solid #eebbaa;
                vertical-align: top;

                span {
                    color: #ed3f24;
                    margin-right: 10px;
                }

                .reject-reason {
                    color: #6287d5;
                    cursor: pointer;
                    &:hover {
                        color: #f90;
                    }
                }
            }
        }
    }

    .class-course-line {
        background: #f90;

        & > div {
            width: 1090px;
            margin: 16px auto;
            height: 38px;
            line-height: 38px;
            color: #fff;
            position: relative;
            .float-left {
                float: left;
                position: absolute;
                left: 20px;
                .icon-edit-o {
                    font-size: 18px;
                    padding-right: 5px;
                    vertical-align: middle;
                }
            }
            .float-right {
                float: right;
            }
        }
    }

    .class-course-body {
        width: 1100px;
        margin: 16px auto;

        &.fixed {
            .module-nav {
                position: fixed;
                top: 0;
                z-index: 4;
            }

            .class-course-content {
                margin-left: 165px;
            }
        }

        .module-nav {
            width: 150px;
            display: inline-block;
            border: 1px solid #ededed;
            background: #fff;
            border-bottom: none;
            vertical-align: top;
            text-align: center;

            & > div {
                position: relative;
                border-bottom: 1px solid #ededed;
                line-height: 50px;

                &.active {
                    background: #ff9a00;

                    a {
                        color: #fff;
                    }
                }

                &:hover {
                    background: #ffb536;

                    a {
                        color: #fff;
                    }
                }

                & > div {
                    position: absolute;
                    right: 10px;
                    top: 0;

                    .icon-info-circle {
                        display: none;
                        color: #f00;
                    }
                    .icon-check-circle {
                        display: none;
                        color: #81d54c;
                    }
                }

                a {
                    display: block;
                }
            }
        }

        .class-course-content {
            display: inline-block;
            min-height: 560px;
            width: 935px;
            margin-left: 15px;

            & > div {
                margin-bottom: 15px;
                border: 1px solid #ebebeb;
                padding-bottom: 30px;
                padding-top: 0;
                &.class-actions {
                    text-align: center;
                    padding: 20px 0;
                    .btn {
                        margin: 0 5px;
                    }
                }
            }
        }
    }

    .form-error {
        color: #f00;
        text-align: center;
    }
}


.sensitive {
    em {
        color: @brand-primary;
    }
}
.upload-tip-photo, .upload-tip-detail {
    color: #6287d5;
    padding-bottom: 10px;
}
.dialog-body {
    max-width: 1100px;
}
.dialog-reject-reason {
    .dialog-content {
        max-height: 380px;
        overflow-y: scroll;
    }
    .info-con {
        padding: 0 10px;
        .reason {
            padding-left: 30px;
        }
    }
}
.vip-dialog {
    .dialog-close {
        display: block;
    }
    .dialog-action {
        .btn-default {
            margin-left: 35px;
        }
    }
}
.message {
    font-size: 12px;
    margin-left: 10px;
    color: #888;
    font-weight: normal;
}
#class-course-template {
    .tab-nav {
        margin-bottom: 10px;
    }
    .templates_m {
        display: none;
    }
    .templates {
        overflow: hidden;
        .template {
            float: left;
            margin-right: 20px;
            .image {
                .mode {
                    border: #fff solid 5px;
                    &.active {
                        border: #ffbf5f solid 5px;
                    }
                    cursor: pointer;
                    width: 210px;
                    height: 135px;
                    position: relative;
                    button {
                        display: none;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -44px;
                        margin-top: -13px;
                    }
                    &:hover {
                        button {
                            display: block;
                            z-index: 1;
                        }
                        &:after {
                            content: ' ';
                            background-color: #000;
                            .opacity(0.3);
                            width: 200px;
                            height: 125px;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                    }
                }
            }
            .title {
                text-align: center;
                color: #555;
                font-size: 12px;
            }
        }
    }
}

.preview-mask {
    .opacity(0.6);
    background-color: #000;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}
.preview-phone {
    display: none;
    transform: scale(0.7);
    position: fixed;
    left: 20%;
    right: 0;
    top: -80px;
    bottom: 0;
    z-index: 5;
    .actions {
        color: #fff;
        text-align: center;
        float: left;
        margin-left: 130px;
        .prev-temp,
        .next-temp,
        .exit-preview {
            border: 1px solid #fff;
            border-radius: 25px;
            cursor: pointer;
            font-size: 22px;
            padding: 9px 26px 8px;
            &:hover {
                background: #fff;
                color: #555;
            }
        }
        .prev-temp {
            margin-top: 100px;
        }
        .next-temp {
            margin-top: 100px;
        }
        .exit-preview {
            margin-top: 280px;
        }
    }
}
.view {
    float: left;
    width: 382px;
    height: 790px;
    padding: 95px 23px 100px;
    background: url(../../../userCenter/teacherCenter/indexDecorate/img/preview-phone.png) no-repeat;
    .view-content {
        width: 100%;
        height: 100%;
        .html-box {
            width: 100%;
            height: 100%;
        }
        #m-preview {
            width: 100%;
            height: 100%;
        }
        .pic-box {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            .tem-pic {
                width: 100%;
            }
        }

    }
}
