.not-in-regular-time-dialog {
    .form {
        background-color: #fff;
        padding-left: 0;
    }

    .form-action {
        button + button {
            margin-left: 15px;
        }
    }

    textarea {
        height: 100px;
        width: 427px;
    }

    .form-hint {
        float: right;
    }

    .hint {
        margin-top: 10px;
        text-align: center;
    }
}