/**
 * @file 班课
 * @author zhujialu
 */
 .title-link {
    color: #f9f9f9;
}
.class-course {

    font-size: @font-size-tiny;

    .bar {
        border: 1px solid #deeaf7;
        border-bottom: none;
        background-color: #f0f7ff;
        padding: 8px 20px;
        .clearfix();

        .roster {
            float: right;
            color: @brand-info;
            &:hover {
                color: @brand-primary;
            }
        }
    }

    table {
        border-right: 1px solid #deeaf7;
        border-bottom: 1px solid #deeaf7;
        width: 100%;
    }
    td {
        border-left: 1px solid #deeaf7;
        padding: 14px 20px;
        text-align: center;
        vertical-align: middle;
    }


    .course-number {
        margin-left: 5em;
    }
    .course-name {
        color: @brand-text;
        font-size: @font-size-medium;
        line-height: 1.1;
    }
    .lesson-way {
        margin: @gap-horizontal-medium 0;
    }
    .course-address {
        color: @brand-text-lighter;
        line-height: 2;
        margin: 9px 0 5px;
    }
    .col1 {

        text-align: left;
        width: 22em;

        .label {
            background-color: @brand-primary;
            color: #FFF;
            display: inline-block;
            font-size: @font-size-tiny;
            padding: 3px 10px;
        }
    }
    .col2 {

        width: 9em;

        .label-default {
            color: #BBB;
        }
    }
    .col3 {
        width: 10em;
    }

    .col4 {
        .btn-success {
            color: #fff;
            a {
                color: #fff;
            }
        }
    }

    .location {
        border-top: 1px solid #deeaf7;
    }

    .address {
        text-align: left;
        padding: 5px 20px;

        span {
            color: #6287d5;
            margin-left: 20px;
            cursor: pointer;
        }
    }

    .course-price {
        strong {
            display: block;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
    .time-range {
        font-size: 1.4em;
        margin: 7px 0 3px;
    }

    .course-person {
        margin-top: 12px;

        .text-primary {
            font-size: 1.4em;
        }
    }

    .thumbnail {
        float: left;
    }
    .course-info {
        margin-left: 92px;
    }

    .title {
        color: #FFF;
        padding: 6px 0;
    }

    .study-progress {
        margin-top: 14px;
    }

    .chat-label {
        display: block;
        margin-top: 5px;
    }

    .action-enter_classroom {
        color: #fff;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        background-color: @brand-success;
    }
}