@import "../../../../../css/mixin/position";
.order-video-item {
    width: 100%;
    height: 450rpx;
    video {
        width: 100%;
        height: 100%;
    }
    .poster {
        width: 100%;
        height: 100%;
        position: relative;
        .play-icon {
            .center(absolute);
            width: 100rpx;
            height: 100rpx;
        }
    }
}