.nav-tab-container {
    .nav-tab-item-class-catalogue {
        .catalogue {
            position: relative;
            .audition-icon {
                font-size: rem(10);
                color: #90caf9;
                display: inline-block;
                border: rem(1) solid #90caf9;
                border-radius: rem(3);
                v-center(absolute);
                left: rem(68);
                line-height: initial;
                padding: rem(2);
            }
        }
    }
}