.tooltip.ios-price-tip {
    border-radius: 0;
    background-color: #fffbef;
    border-color: #f8ce69;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    padding: 20px;

    &:before {
        border-color: #f8ce69;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    &:after {
        border-color: #fffbef;
        border-left-color: transparent;
        border-right-color: transparent;
    }

    strong {
        color: #f90;
    }
    a {
        color: #6187dc;
    }
    ul {
        list-style-type: decimal;
        list-style-position: outside;
        margin-left: 18px;
    }
}