.netdisk-tip-dialog {
    .icon {
        font-size: 28px;
        float: left;
    }
    .message {
        p {
            margin-left: 50px;
        }
    }
    .action {
        margin-top: 20px;
        text-align: center;

        button + button {
            margin-left: 10px;
        }
    }
}