#netdisk-table {
    position: relative;
    table {
        table-layout: fixed;

        td {
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .header {
        .clearfix();
    }

    .path > b {
        cursor: pointer;
        color: @brand-info;
    }
    .info {
        float: right;
        .dilatation {
            border: 1px solid #6187dc;
            cursor: pointer;
            color: #6187dc;
            font-size: 12px;
            padding: 3px 7px;
            &:hover {
                border: 1px solid #f90;
                color: #f90;
            }
        }
    }

    #edit-form {
        position: absolute;
        display: none;
        left: 76px;
    }

    th {
        position: relative;
    }

    .cat {
        &:hover {
            background-color: #fff;
            border-left: 1px solid @brand-gray;
            border-right: 1px solid @brand-gray;
            .menu {
                display: block;
                border: 1px solid @brand-gray;
                border-top: none;
                box-shadow: 0 1px 1px #d7d7d7;
            }
        }
        position: absolute;
        height: 34px;
        width: 80px;
        line-height: 34px;
        top: 0px;
        left: 30px;
        text-align: center;
        cursor: pointer;

        .inline-block();
        .menu {
            position: absolute;
            background-color: #fff;
            width: 80px;
            text-align: left;
            left: -1px;
            .icon {
                margin-right: 10px;
                vertical-align: middle;
            }
            display: none;
            b {
                display: block;
                padding-left: 5px;
                &:hover {
                    background-color: #F5F5F5;
                }
            }
        }
    }

    table {
        margin-top: 10px;
        input[type="checkbox"] {
            margin-right: 15px;
        }
        thead {
            background-color: #F5F5F5;
            border: 1px solid @brand-gray;
            th {
                padding: 8px 12px;
                cursor: pointer;
            }
            th + th {
                border-left: 1px solid @brand-gray;
            }
            .icon {
                margin-left: 5px;
            }
            .sort {
                .icon {
                    color: #8fb7e5;
                }
            }
            .asc, .desc {
                display: none;
            }
            .sort:hover {
                background-color: #f0f7ff;
            }
            th[data-direction="asc"] {
                .asc {
                    display: inline;
                }
            }
            th[data-direction="desc"] {
                .desc {
                    display: inline;
                }
            }
        }

        tbody {
            td {
                input[type="checkbox"] {
                    margin-left: 2px;
                }
                vertical-align: middle;
                label {
                    .inline-block();
                    width: 350px;
                    .text-overflow();
                    & > * {
                        vertical-align: middle;
                    }
                }
                .icon {
                    margin-right: 5px;
                }

                .icon-file-virtual { // 特殊文件夹
                    margin-left: 29px;
                }

                .icon-play-o { // 视频列表
                    font-size: 27px;
                }

                .folder-trigger {
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            tr {
                border: none;
                & + tr {
                    border-top: 1px solid @brand-gray !important;
                }
                &.last {
                    border-bottom: 1px solid @brand-gray !important;
                }
                &:hover {
                    background-color: #FFFBEF;
                    border-color: transparent !important;
                    outline: #F8CF71 solid 1px;
                    .actions {
                        display: block;
                    }
                }
                .actions {
                    display: none;
                    float: right;
                    margin-top: 10px;
                    color: @brand-text-lighter;
                    .icon {
                        cursor: pointer;
                        font-size: 18px;
                        &:hover {
                            color: #6e6e6e;
                        }
                    }
                    a + .icon,
                    .icon + .icon {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}