/**
 * @file 老师会员咨询弹框
 * @author wangyujie
 */
.consult-member-dialog {
    width: 600px;
    .header {
        background-color: #fff;
        padding: 12px;
    }
    .close {
        top: 4px;
        right: 21px;
    }
    .body {
        padding: 20px;
        .block {
            color: #6d6d6e;
            line-height: 20px;
        }
        .form {
            margin-top: 20px;
            .input {
                width: 450px;
            }

            .group {
                .label {
                    width: 100px;
                    text-align: right;
                }
            }
            .hint {
                text-align: right;
                margin-top: 5px;
            }
            .footer {
                padding-left: 115px;
                .button {
                    width: 120px;
                    &.link {
                        border: 1px solid #cdcdce;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

}