{{ *

@file 课程收藏列表
@author wangyujie

* }}

{{ strip }}

<div class="data">

{{ if isset($tpl_data.items) && count($tpl_data.items) }}
    <ul class="course-list">
        {{ foreach $tpl_data.items as $item }}
        <li class="course-item" data-type="{{ $item.type }}" data-number="{{ $item.number }}" data-checked='0' data-url="{{ $item.url }}">
            <a href="{{ $item.url }}" target="_blank" class="course-img">
                {{ include file="common/variable/photo.html" url=$item.avatar raw_width='640' raw_height='400' width=160 height=90 }}
                <img src="{{ $photo }}" />
            </a>

            <div class="course-title">
                {{ if $item.type == 'class_course' }}
                <span class="label class-course">班课</span>
                {{ else if $item.type == 'video_course' }}
                <span class="label video-lesson">视频课</span>
                {{ /if }}

                <a href="{{ $item.url }}" data-title="{{ $item.title }}" data-width="20em">
                    {{ $item.title|cn_truncate: 9 }}
                </a>
            </div>

            <div class="course-price">
                <span class="price">
                    ￥{{ $item.price }}
                </span>
                {{ if isset($item.pre_price) && $item.pre_price }}
                <span class="pre-price">
                    ￥{{ $item.pre_price }}
                </span>
                {{ /if }}
            </div>

            <div class="course-status">
            {{ if $item.type == 'class_course' }}
                {{ include file="common/variable/classCourseForStudentStatus.html" scope=parent }}
                <a href="{{ $item.url }}" target="_blank">
                    <label class="
                    {{ if $item.status==2 || ($item.status==5 && $item.can_chaban) }}
                    label-primary
                    {{ else }}
                    label-default
                    {{ /if }} label-inverse">
                        {{ if $item.status==5 && $item.can_chaban }}
                            立即插班
                        {{ elseif $item.status==5 && !$item.can_chaban }}
                            停止招生
                        {{ else }}
                            {{ $display_status_map[$item.status] }}
                        {{ /if }}
                    </label>
                </a>
            {{ else if $item.type == 'video_course' }}
                {{ include file="common/variable/videoCourseForStudentStatus.html" scope=parent }}
                <a href="{{ $item.url }}" target="_blank">
                    <label class="
                    {{ if $item.status==1 }}
                    label-primary
                    {{ else }}
                    label-default
                    {{ /if }} label-inverse">
                        {{ if $item.status==1 && $item.price!=0 }}
                            立即购买
                        {{ elseif $item.status==1 && $item.price==0 }}
                            立即学习
                        {{ else }}
                            {{ $display_status_map[$item.status] }}
                        {{ /if }}

                    </label>
                </a>
            {{ /if }}
            </div>

            <div class="action-del">
                <i class="icon icon-recycle-bin"></i>
            </div>

            <div class="del-confirm">
                <div class="cont">
                    <div>确认删除？</div>
                    <button class="btn-primary small">确认</button>
                    <button class="btn-default small">取消</button>
                </div>
                <div class="bg"></div>
            </div>

            <div class="batch-confirm">
                <i class="icon icon-check-o"></i>
                <i class="icon icon-check-circle"></i>
                <div class="bg"></div>
            </div>

        </li>
        {{ /foreach }}
    </ul>

    {{ include file="common/component/pager.html" page=$tpl_data.pager.page page_size=$tpl_data.pager.page_size count=$tpl_data.pager.count }}

{{ else }}
    <div class="no-data">
        <div class="wrapper">
            <i class="icon icon-info-circle"></i>
            暂时没有收藏
        </div>
    </div>
{{ /if }}

</div>

{{ /strip }}