.one-2-one-bottom {
    display: flex;
    text-align: center;
    margin-top: rem(20);
    background: white;
    color: #3D3D3E;
    position: fixed;
    bottom: rem(-1);
    left: 0;
    right: 0;
    z-index: 10;
}