 .staging-dialog {
     .nav {
         height: rem(55);
         line-height: rem(55);
         position: relative;
         font-family: HiraginoSansGB-W3;
         font-size: rem(18);
         color: #3d3d3d;
         text-align: center;
         border-bottom: 1px solid #edeeee;
         .close-icon {
             height: rem(30);
             width: rem(30);
             position: absolute;
             right: rem(10);
             top: rem(13);
             .icon {
                 font-family: HiraginoSansGB-W3;
                 font-size: rem(16);
                 color: #3c3c3c;
                 position: absolute;
                 top: rem(7);
                 right: rem(2);
             }
         }
     }

     .staging-all{
         padding: 0 rem(18);
         .staging-item {
             height: rem(66);
             line-height: rem(66);
             border-bottom: 1px solid #edeeee;
             .price {
                 float: left;
                 font-family: ArialMT;
                 font-size: rem(16);
                 color: #3d3d3d;
             }
             .fee {
                 float: left;
                 font-family: STHeitiSC-Light;
                 font-size: rem(14);
                 color: #9d9e9e;
                 margin-left: rem(10);
             }
             .options {
                 float: right;
                 position: relative;
                 height: rem(20);
                 width: rem(20);
                 border: 1px solid #edeeee;
                 margin-top: rem(23);
                 border-radius: rem(2);
                 .hide {
                     display: none;
                 }
                 .icon {
                     img {
                         position: absolute;
                         height: rem(10);
                         width: rem(15);
                         top: rem(4);
                         left: rem(2);
                     }
                 }
             }
         }
     }

     .button {
         text-align: center;
         height: rem(50);
         line-height: rem(50);
         background: #ff6c00;
         font-family: HiraginoSansGB-W3;
         font-size: rem(17);
         color: #ffffff;
     }
 }

 /*.slide-dialog-mask {
    &.on{
        z-index: 10;
    }
 }*/