 .nav {
     .icon {
         float: left;
         padding-top: rem(10);
         margin-left: rem(12);
         font-family: HiraginoSansGB-W3;
         font-size: rem(14);
         color: #3c3c3c;
         .staging-icon {
             height: rem(20);
             width: rem(20);
             vertical-align: top;
             margin-right: rem(10);
         }
     }

     .text {
         width: 75%;
         float: right;
         height: rem(44);
         line-height: rem(44);
         font-family: PingFang-SC-Regular;
         font-size: rem(12);
         color: #9d9e9e;
         letter-spacing: rem(0.07);
         text-align: right;
         margin-right: rem(10);
         img {
             vertical-align: middle;
             height: rem(13);
             margin-left: rem(6);
         }
     }
 }