#flotage-middle {
    display: none;
}
#float-help {
    position: fixed;
    width: 71px;
    height: 86px;
    display: none;
    z-index: 3;
    font-size: 12px;
    line-height: 20px;
    .help-content {
        position: absolute;
        bottom: 50px;
        width: 220px;
        left: -145px;
        background: #fff5e5;
        border: 1px solid #ffcc80;
        padding: 10px 15px;;
        z-index: 1000;
        .question-title {
            font-size: 14px;
            font-weight: bold;
        }
        .other-question {
            margin-left: 5px;
            color: #6287d5;
        }
        .help-con {
            line-height: 22px;
            padding-top: 5px;
        }
        .close {
            float: right;
            color: #ffcc80;
            cursor: pointer;
            font-size: 16px;
        }
    }
    .help-wz {
        background: url(../../../../img/wz.png) no-repeat;
        width: 71px;
        height: 86px;
        position: relative;
        z-index: 1001;
    }
    &.float-close {
        .help-content {
            width: 35px;
            height: 107px;
            overflow: hidden;
            left: -20px;
            bottom: 70px;
            padding: 0;
            cursor: pointer;
        }
        .help-title {
            height: 80px;
            overflow: hidden;
            width: 16px;
            margin: 14px 9px;
        }
    }
}