/**
 * @file less 变量
 * @author zhujialu
 */


// 页面宽度
@page-width:                        1000px;

// 侧边栏宽度
@sidebar-width:                     200px;

// 内容区宽度
@content-width:                     800px;

// 圆角大小
@border-radius-base:                2px;

@brand-primary-new:                 #FF7F00;