/**
 * @file 地图找老师
 * @author jixiaohui
 */

@import '../main/base.less';

body {
    overflow:hidden;
}

#map-header {
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .logo-box {
        position: relative;
        float: left;
        margin-left: 16px;
        width: 240px;
        height: 95px;

        .logo {
            background: url(../../img/logo-release2.png) no-repeat;
            text-indent: -9999px;
            width: 148px;
            height: 63px;
            position: absolute;
            left: 0;
            top: 16px;
        }
        .city {
            width: 56px;
            .text-overflow();
            strong {
                color: @brand-text;
                font-weight: bold;
            }
            position: absolute;
            left: 156px;
            top: 25px;
            padding-left: 8px;
            border-left: 1px solid #DDDDDD;
        }
        .city-trigger {
            cursor: pointer;
            color: @brand-gray;
            font-size: @font-size-tiny;

            a {
                color: #9d9d9d;
            }

            a:hover {
                color: #f90;
            }
        }
    }

    .search-form {
        float: left;
        position: relative;
        top: 28px;

        .icon-search {
            color: #999;
            font-size: 14px;
            position: absolute;
            left: 10px;
            top: 11px;
            z-index: @zindex-tiny;
        }

        .placeholder-wrappers {
            background-color: #fff;
            display: inline-block;
            position: relative;
            float: left;
        }

        .placeholder {
            font-size: @font-size-tiny;
            padding: 11px 0;
            margin-left: 30px;
            line-height: 1;
        }

        .btn {
            background-color: @brand-primary;
            outline: none;
            border: 0;
            color: #FFF;
            cursor: pointer;
            float: left;
            height: 35px;
            font-size: 14px;
            margin: 0;
            padding: 0 23px;
            border-radius: 0;
            letter-spacing: 3px;
            vertical-align: top;

            &:hover {
                background-color: darken(@brand-primary, 5%);
                .transition(background-color 0.2s);
            }
        }

        .search-input {
            border: 2px solid @brand-primary;
            border-right: none;
            line-height: 1;

            width: 395px;
            height: 35px;
            padding: 8px 0 8px 28px;
            vertical-align: top;
            border-radius: 0;

            font-size: 12px;
        }
    }

    .to-search {
        float: left;
        padding: 5px 10px;
        font-size: 12px;
        border: 1px solid #DEDEDE;
        border-radius: 10px;
        margin: 2px 0 0 10px;
        cursor: pointer;

        .icon-list {
            background: url(../../img/teacher/list.png) no-repeat;
            width: 12px;
            height: 9px;
        }

        &:hover {
            background: #f90;
            border-color: #f90;
            color: #fff;

            .icon-list {
                background: url(../../img/teacher/list_hover.png) no-repeat;
            }
        }
    }

    .info-box {
        float: right;
        font-size: 12px;
        margin-top: 35px;
        background: #fff;
        border-bottom: none;

        li {
            float: left;
            margin-right: 14px;
        }

        .user-index {
            a {
                color: #f90;
            }
        }

        .login-info {
            color: #6d6d6d;
        }

        .login-link,
        .icon-mobile,
        .icon-mail,
        .icon-live-play {
            color: @brand-primary;
            font-size: 13px;
            position: relative;
        }

        .login-link {
            font-size: 12px;

            .icon-user {
                font-size: 13px;
                position: relative;
                top: 1px;
            }
        }

    }
}

#main {
    width: 100%;
    margin: 0;
    background: #fff;
    clear: left;
}

#content {
    float: left;
    width: 500px;
    border: 1px solid #DEDEDE;
}

#action {
    font-size: 12px;
}

#select {

    height: 38px;
    width: 100%;
    background: #f7f7f7;

    .category,
    .area,
    .sex,
    .identity,
    .time {
        float: left;
        border-right: 1px solid #DEDEDE;
        padding: 10px;
        background: #F7F7F7;
        width: 99px;
        text-align: center;
        cursor: pointer;
        position: relative;

        .list,
        .level2-list,
        .level3-list {

            position: absolute;
            top: 38px;
            left: -1px;
            z-index: 2;

            li {
                border-left: 1px solid #DEDEDE;
                border-right: 1px solid #DEDEDE;
                padding: 10px;
                background: #fff;
                width: 100px;
                text-align: center;
                cursor: pointer;
                position: relative;

                &:hover {
                    background: #F5F5F5;
                }

                &.active {
                    background: #E6E6E6;
                    color: #3d3d3d;
                }
            }

            i {
                float: right;
            }

            .sub-list {
                position: absolute;
                top: -1px;
                left: 98px;
            }

            .sub-item {
                position: relative;
                border-left: 1px solid #DEDEDE;
                border-right: 1px solid #DEDEDE;
                padding: 10px;
                background: #fff;
                width: 100px;
                text-align: center;
                cursor: pointer;
            }

            .last {
                border-bottom: 1px solid #DEDEDE;
            }

            .first {
                border-top: 1px solid #DEDEDE;
            }
        }
    }

    .category {
        text-align: left;

        .list,
        .sub-list,
        .level2-list,
        .level3-list {
            max-height: 383px;
            height: auto;
            width: 100px;
            background: #fff;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #DEDEDE;

            li {
                border-right: none;
                width: 100%;
                text-align: left;
                padding-right: 4px;
            }

            .last {
                border-bottom: none;
            }

            .first {
                border-top: none;
            }
        }

        .level2-list {
            left: 98px;
            top:50px;
            border-top: 1px solid #DEDEDE;
            border-bottom: 1px solid #DEDEDE;
        }

        .level3-list {
            left: 197px;
            top: 50px;
            border-top: 1px solid #DEDEDE;
            border-bottom: 1px solid #DEDEDE;

        }
    }

    .sex {

    }

    .identity {

    }

    .area {

        label,
        input {
            cursor: pointer;
        }

        input {
            position: relative;
            top: 2px;
            display: none;
            margin-right: 5px;
        }

        .more {
            padding-left: 12px!important;
            padding-right: 0px!important;

            button {
                display: none;
                padding: 2px;
            }

            .area-submit {
                float: left;
                margin-right: 2px;
                float: left;
            }

            .area-cancel {
                border: 1px solid #e6e6e6;
            }
        }

        .more-mode {
            .first {
                display: none;
            }

            .second {
                border-top: 1px solid #DEDEDE;
            }

            input {
                display: inline-block;
            }

            .more {
                span {
                    display: none;
                }

                button {
                    display: inline-block;
                }
            }
        }

        .list {
            max-height: 382px;
            height: auto;
            width: 100px;
            background: #fff;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #DEDEDE;

            li {
                border-right: none;
                border-left: none;
                width: 100%;
            }

            .last {
                border-bottom: none;
            }

            .first {
                border-top: none;
            }
        }
    }

    .time {
        border-right: none;

        .list {
            li {
                width: 104px;
            }
        }

        label,
        input {
            cursor: pointer;
        }

        input {
            position: relative;
            top: 2px;
        }
    }
}

#filter {
    clear: left;
    padding-left: 10px;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .section-title {
        float: left;
        margin-top: 6px;
        margin-right: 10px;
    }

    .filter-box {
        float: left;

        input {
            float: left;
            margin-top: 3px;
        }

        span {
            float: left;
        }
    }
}

#price {
    clear: left;
    padding: 10px 0 30px 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;

    span {
        float: left;
        margin-right: 10px;
    }

    .price-container {
        position: relative;
    }

    .price-progress-box {
        position: relative;
        width: 395px;
        height: 22px;
        float: left;
        overflow: hidden;
    }

    .empty {
        height: 4px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        background: #DCE0E0;
        width: 395px;
        float: left;
        margin-top: 8px;
    }

    .price-progress {
        height: 4px;
        background: #FF7F00;
        width: 395px;
        position: relative;
        top: 9px;
    }


    .price-start-btn,
    .price-end-btn {
        background: url(../../img/teacher/point.png) no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
        float: left;
    }

    .price-start,
    .price-end {
        width: 415px;
        position: absolute;
        top: -8px;
    }

    .price-start {
        left: -395px;
    }

    .price-end {
        right: -395px;
    }

    .start-num,
    .end-num {
        position: absolute;
        display: block;
        width: 50px;
        text-align: center;
        top: 24px;
    }

    .start-num {
        left: 30px;
    }

    .end-num {
        right: 30px;
    }
}

#sort {
    clear: left;
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px 0;
    padding-left: 10px;


    &.fixed {
        position: fixed;
        width: 499px;
        height: 40px;
        top: 0;
        z-index: 3;
        background: #fff;
        border-right: 1px solid #DEDEDE;
    }

    .section-title {
        float: left;
    }

    .sort-box {
        float: left;

        a {
            margin: 0 7px;
            cursor: pointer;
        }

        .active {
            color: #f90;
        }

        .arrow-up,
        .arrow-down,
        .arrow-empty {
            width: 7px;
            height: 12px;
            margin-left: 2px;
            display: inline-block;
            position: relative;
            top: 1px;
        }

        .arrow-up {
            background: url(../../img/teacher/arrow_up.png) no-repeat;
        }

        .arrow-down {
            background: url(../../img/teacher/arrow_down.png) no-repeat;
        }

        .arrow-empty {
            background: url(../../img/teacher/arrow_empty.png) no-repeat;
        }

    }

    .tip {
        float: right;
        margin-right: 15px;
    }
}

#map {
    width: 600px;
    height: 1000px;
    float: left;
}

#list {
    padding-top: 1px;
    max-height: 524px;
    overflow-y: auto;

    .search-item {
        clear: left;
        position: relative;

        &:first-child {
            .wrapper {
                border-top-color: transparent;
            }
        }
    }

    .item-last {

    }

    .wrapper {
        padding: 16px 0 0;
        width: 100%;
        height: 131px;
        overflow: hidden;

        &.active ,
        &:hover {
            background: #F0F7FF;
            border-bottom: 1px solid #C9DBEE;
            border-top: 1px solid #C9DBEE;
            position: relative;
            top: -1px;

            .teacher-detail {
                border-bottom: 1px solid transparent;
            }
        }
    }

    .teacher-card {
        width: 100px;
        font-size: @font-size-tiny;
        margin-right: 8px;
        text-align: center;
        float: right;
    }

    .teacher-detail {
        overflow: hidden;
        padding-bottom: 20px;
        border-bottom: 1px solid #DEDEDE;
        border-top: 1px solid transparent;
        float: left;
        padding-left: 35px;
        width: 370px;
        min-height: 115px;

        .index {
            position: absolute;
            top: 20px;
            left: 10px;
            font-size: 14px;
            color: #9e9e9e;
        }

        .medal {
            position: relative;
            top: 2px;
            width: 18px;
            height: 18px;
            margin-left: 5px;
        }

        .icon-ticket {
            position: relative;
            top: 1px;
            margin-left: 6px;
            background: url(../../img/teacher/quan.jpg) no-repeat;
            width: 16px;
            height: 16px;
        }

        .icon-activity {
            position: relative;
            top: 2px;
            margin-left: 6px;
            background: url(../../img/teacher/616.jpg) no-repeat;
            width: 54px;
            height: 18px;
        }


        .head-info {
            margin-top: 0;
        }
    }

    .avatar {
        line-height: 0;
        margin-bottom: @gap-vertical-medium;
        position: relative;

        .icon-play-oo {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 20px;
            color: #6287d5;
            border-radius: 100%;
            background: #fff;
            padding: 5px;
            z-index: @zindex-tiny;
        }

        img {
            border-radius: 10px;
        }

        .avatar-middle:after {
            border-radius: 10px;
        }
    }
    .avatar-medium {
        margin: 0 auto;
    }

    .video {
        cursor: pointer;
        display: inline-block;
        margin: 3px auto 0;

        padding: 1px 8px 1px 6px;
        border-radius: @border-radius-base;

        .icon {
            font-size: 16px;
            vertical-align: text-bottom;
        }
    }



    h2 {

        display: inline-block;
        font-size: @font-size-medium;
        font-weight: bold;

        a {
            color: @brand-text;
            font-size: 18px;
            font-weight: normal;
        }

        a:hover {
            color: @brand-primary;
        }

    }

    .org-label {
        margin-left: 5px;
        position: relative;
        top: -2px;
    }

    .video {
        .icon {
            margin-right: 3px;
        }
    }

    .course {
        clear: left;
        color: @brand-text;
        margin: @gap-vertical-tiny 0;

        .icon {
            margin-right: @gap-horizontal-tiny;
            font-size: 14px;
            position: relative;
            top: 1px;
        }

        span {
            color: #6d6d6d;
            font-size: 12px;

            em {
                color: #3d3d3d;
                font-weight: bold;
            }
        }
    }

    .course-count {
        font-size: 12px;

        .icon {
            font-size: 14px;
            float: left;
            margin-right: 5px;
            position: relative;
            top: 2px;
        }

        span {
            float: left;
            margin-right: 10px;
        }

        .num {
            color: #f90;
        }
    }

    .label-default {
        margin-left: 10px;
        padding: 2px 4px;
        color: #9d9d9d;
        border-color: #e6e6e6;

        &:first-child {
            margin-left: 0;
        }
    }

    .info {
        float: right;
        font-size: 12px;

        .price {
            float: left;
            color: #6d6d6d;

            span {
                color: @brand-primary;
            }

            strong {
                font-size: 18px;
                color: #ff6f00;
                position: relative;
                left: -4px;
            }
        }

    }


    .num {
        color: #9d9d9d;
        min-width: 90px;
        font-size: 12px;

        li {
            margin-bottom: 5px;
            float: left;
        }

        .comment {
            color: #9d9d9d;
            text-decoration: underline;
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid #9d9d9d;

            &:hover {
                color: @brand-primary;
            }
        }

        .no-comment {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid #9d9d9d;
        }
    }


    .match-no-result {
        text-align: left;
        line-height: 25px;
        margin-bottom: 75px;
        color: #3d3d3d;

        .pic {
            text-align: center;
            padding-top: 120px;

            .no-result {
                margin: 0 auto 20px;
                background: url(../../img/teacher/noresult.png) no-repeat;
                width: 120px;
                height: 155px;
            }

            h1 {
                margin-bottom: 20px;
                font-size: 20px;

                .key {
                    color: @brand-primary;
                }
            }
        }

        .txt {
            background: #FFFBEF;
            border: 1px solid #F8CE69;
            width: 430px;
            height: 100%;
            overflow: hidden;
            color: #3d3d3d;
            margin: 10px auto;
            padding: 15px 30px;
            font-size: 14px;

            h1 {
                font-size: 18px;
                color: @brand-primary;
            }

            p {

            }

            .signup {
                color: #5f85df;
            }
        }
    }

    .lower {
        min-height: 480px;

        .pic {
            padding-top: 50px;
        }
    }

    .pager-block,
    .pager a {
        font-size: 12px;
        padding: 4px 6px;
    }

    .pager-block {
        margin-bottom: 20px;
    }

}




