#seek-teacher {
    text-align: center;
    background: #fff;
    border: 1px solid #e6e6e6;
    margin: 10px 0;
    padding: 7px;
    .title {
        font-size: 14px;
        text-align: center;
        margin: 0 @gap-vertical-small;
        padding: 10px;
        color: #000;
    }
    .form-group {
        input,
        .dropdown {
            width: 190px;
            div {
                position: relative;
                .suggestion {
                    position: absolute;
                    top: 6px;
                    right: 34px;
                    color: red;
                }
            }
        }
        .btn {
            margin-top: 10px;
        }
        .error {
            left: 18px !important;
        }
        &.form-sms {
            display: none;
        }
        &.captcha-box {
            display: none;
            .input-group-addon {
                margin: 10px 18px;
                width: 148px;
                height: 50px;
                padding: 0;
                background: #fff;
                overflow: hidden;
                .captcha-image {
                  margin-top: 6px;
                }
            }
        }
        &.show-captcha {
            display: block;
        }
        .subject-suggestion {
            position: absolute;
            top: 40px;
            left: 17px;
            background: #fff;
            width: 190px;
            text-align: left;
            z-index: 99;
            max-height: 280px;
            overflow-y: auto;
            border: #ccc solid 1px;
            display: none;
            .menu-list {
                cursor: pointer;
                padding: 5px 10px;
                &:hover {
                    background-color: #f0f0f0;
                }
            }
            .list {
                cursor: pointer;
                padding: 5px 10px;
                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
    .support-online {
        cursor: pointer;
        width: 185px;
        padding: 0;
        padding-top: 1px;
        margin-top: 5px;
        margin-bottom: 5px;
        background: url(../../img/userCenter/switch.png) bottom right no-repeat;
        &.on {
            background: url(../../img/userCenter/switch.png) top right no-repeat;
        }
    }
    .buttons {
        button {
            width: 190px;
            margin: 5px 0;
        }
    }
}