{{ *

@file 学生中心 - 订单列表
@author zhangjiayi

* }}
{{ extends file="common/center/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "student_center/orderList" }}

{{ /block }}

<!--{{ block name="title" prepend }}
{{ if isset($tpl_data.huike.is_huike_student) && $tpl_data.huike.is_huike_student }}
    我的报名 -
{{ else }}
    我的订单 -
{{ /if }}
{{ /block }}-->

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/common/center/orderList.less">
{{ $smarty.block.parent }}
{{ /block }}

{{ block name="main" }}
{{ strip }}

    {{ block name="sidebar" }}
        {{ include file="./common/sidebar.html" active="order" }}
    {{ /block }}

    <div id="content" class="card">

        <div class="card-header">
        
        </div>

       
        <span class="search-order">
            
        </span>
                
        <div class="card-body">
                
            <div class="tab-nav tab-nav-default">
                
            </div>

            <div class="order-list">

            </div>

            <div class="no-data">
                
            </div>

            <div class="pager-block">
                
            </div>
            
        </div>
    </div>

{{ /strip }}
{{ /block }}

