/**
 * @file 银行下拉列表
 * @author zhujialu
 */

@import '../../common/component/unbindCardDialog.less';

.bank-list {

    width: 560px;

    .bank-info {
        display: block;
    }

    .bank-active {
        cursor: pointer;
    }

    .dropdown-menu {
        .bank-info {
            border: none;
        }
    }

    li {
        padding: 0;
        &.active,
        &:active {
            background-color: @brand-primary-lighter;
            color: @brand-text-light;
        }
    }
    .caret {
        position: absolute;
        right: 10px;
        top: 8px;
    }

    + .btn {
        margin-left: 20px;
    }
}
.btn.add-card {
    border: 1px dashed #cacaca;
    background-color: #fefefe;
    cursor: pointer;
    font-size: @font-size-tiny;
    padding: 10px;
    border-radius: 2px;

    .icon {
        margin-right: 5px;
    }
}
