/**
 * @file 银行卡信息
 * @author zhujialu
 */
.bank-info {
    border: 1px solid @brand-info-light;
    display: inline-block;
    padding: 8px 25px;
    border-radius: 4px;

    > span  {
        font-size: @font-size-tiny;
        margin-left: 10px;
        vertical-align: middle;
        &:first-child {
            margin-left: 0;
        }
    }

    .label-primary {
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: #FFF;
        margin-left: 5px;
    }

    .label-info {
        background-color: @brand-info;
        border-color: @brand-info;
        color: #FFF;
        margin-left: 5px;
        margin-right: 10px;
    }

}