/**
 * @file 绑定银行卡对话框
 * @author zhujialu
 */
.dialog-bind-card {
    .pay-money {
        position: absolute;
        top: 10px;
        right: 80px;

        strong {
            font-size: 1.2em;
        }
    }
}
.form-bind-card {

    .form(90px);

    .form-action {
        text-align: left;
    }

    .btn-send-code {
        margin-left: 10px;
    }

    .card-expire {
        .form-static {
            display: inline-block;
            margin: 0 5px;
        }
    }
    .form-text {
        width: 207px;
    }

    .bank-info {
        width: 420px;
    }

    .input-wrapper,
    input[name="ownerId"] {
        width: 400px !important;
    }
    input[name="cardId"] {
        width: 100% !important;
    }
    .input-wrapper {
        position: relative;
        display: inline-block;
        .floated {
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 2px 6px;
            background-color: #F6F6F6;
            border-radius: 2px;
        }
        .bank-logo {
            height: 20px;
            vertical-align: top;
        }
        .card-type {
            font-size: 12px;
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px solid #CCC;
            vertical-align: top;
        }
    }
    .card-remark {
        display: none;
        font-size: 12px;
        color: #999;
    }

    .supported-bank-list,
    .card-expire,
    .card-cvv {
        display: none;
    }

    .form[data-card-type="credit"] {
        .card-expire,
        .card-cvv {
            display: block;
        }
    }

    .month-select,
    .year-select {
        .btn-default {
            width: 7em;
        }
    }
    .year-select {
        margin-left: 5px;
    }

    .agreement {
        margin-bottom: 10px;
    }

}

.dialog-bank-list {
    .deposit-card-list,
    .credit-card-list {
        li {
            font-size: 0;
            padding: 10px;
            &:hover {
                background-color: #f8f8f8;
            }
            &.active {
                background-color: #F4F4F4;
            }
            + li {
                border-top: 1px solid #eee;
            }
        }
    }
    .content {
        max-height: 205px;
        overflow-y: auto;
    }
}