/**
 * @file 等待支付对话框
 * @author zhujialu
 */

.wait-pay-dialog {

    p {
        margin-bottom: 5px;
        text-align: center;
    }

    .dialog-action {
        margin-top: 20px;
    }

    small {
        color: @brand-text-lighter;
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    .btn-primary {
        margin-right: @gap-horizontal-medium;
    }


}