.wechat-pay-dialog {
    .pay-amount {
        float: right;
    }

    .dialog-header {
        & > h1 {
            display: block;
            margin-right: 30px;
        }
    }

    .dialog-body {
        .clearfix();
        padding: 46px 65px 46px 90px;

        .qr-code {
            position: relative;
            z-index: 1;
            float: left;
            text-align: center;
            .code {
                width: 195px;
                height: 195px;
            }
            .wechat-center {
                z-index: 2;
                background: url(../../../img/pay/wechat.jpg);
                width: 51px;
                height: 48px;
                position: absolute;
                top: 70px;
                left: 70px;
            }

            div + div {
                margin-top: 20px;
            }
        }

        .wechat-hint {
            float: right;
            background: url(../../../img/pay/wechat-pay-hint.jpg);
            width: 305px;
            height: 281px;
        }
        .code-container {
            display: none;
        }
        .loading {
            padding-top: 80px;
            width: 195px;
            height: 195px;
        }
    }
}