{{ strip }}
<script type="text/template" id="instruction-template">
    <div class="instruction-dialog">
        <h4>管理员申请规则</h4>
        <div class="instruction-content">
            <p>您在申请成为<span>${group.name}</span>小组
            版主前请认真阅读以下规则：</p>
            <ul>
                <li>
                申请小组版主前需关注小组并在话题组活跃至少10天以上，发帖量不低于300。
                </li>
                <li>
                版主拥有社区内封禁、删帖、加精、置顶等相关操作权限，活跃版主享有相关节日祝福，生日礼包、福利礼包的奖励
                </li>
                <li>
                版主须以"活跃社区，服务用户"为己任，发挥应有的模范带头作用，对所管辖话题小组内存在的不良信息（如广告、辱骂、色情等违反国家法律法规）进行处理，禁止灌水、复制粘贴无意义贴子。
                </li>
                <li>
                严禁滥用管理权限，无故封锁正常ID，删除网友正常发言，严禁版主私自解封管理员所封禁的ID或IP。
                </li>
                <li>
                严禁利用管理权限，为任何组织、机构、或个人谋取利益；严禁使用多个ID担任同一话题小组版主；严禁转让或租借给他人使用。
                </li>
                <li>版主之间产生的纠纷，须积极联系跟谁学社区管理团队(QQ群或微信群)进行沟通和交流，不得扩大纠纷与争执。
                </li>
                <li>
                版主每月至少4篇精华帖（版主帖子可由管理员进行加精）至少回帖500条；每天至少选出1-2篇优秀的帖子进行加精操作。
                </li>
                <li>
                版主每月签到数不得低于18天，以版主后台记录为准。
                </li>
                <li>
                版主须接受跟谁学社区管理组的指导、建议和任免。版主的操作权限在社区内有效，相关解释权归跟谁学社区管理团队所有。
                </li>
            </ul>
        </div>
        <div class="actions">
            <button class="btn btn-primary" type="button">关闭</button>
        </div>
    </div>
</script>
{{ /strip }}