{{ strip }}
<div id="recommend-teacher" class="recommend-list">
    <div class="recommed-header">
        <h4>
            跟谁学为你推荐
            <a class="refresh" href="javascript:void(0);">
                换一批
                <i class="icon icon-see-another"></i>
            </a>
        </h4>
    </div>
    <div class="recommend-content">
        <ul class="teacher-list">
        </ul>
    </div>
</div>
<script type="text/template" id="recommend-teacher-template">
<!-- for: ${teachers} as ${teacher},${index} -->
<li class="teacher-item">
    <a href="${teacher.detail_url}" target="_blank" class="link-wrapper click-monitor" data-index="${index}"  data-qid="${teacher.qid}" data-monitor-type="recommend_click" data-monitor-stype="1" data-monitor-tid="${teacher.number}">
        <div class="teacher-avatar">
            <img data-src="${teacher.avatar_url}@1e_100w_100h_1c_0i_1o_90Q_1x" width="100px" height="100px"/>
        </div>
        <div class="teacher-content">
            <div class="teacher-name" title='${teacher.name}'>${teacher.name}</div>
            <div class="teacher-course" title="${teacher.course}">
                ${teacher.course}
            </div>
            <div class="teacher-experience">
                <span>${teacher.experience|toText()}</span>
            </div>
            <!-- if: ${teacher.isLocal} -->
            <div class="teacher-address">
                <i class="icon icon-location-o"></i>
                ${teacher.address}
            </div>
            <!-- else -->
            <div class="teacher-status">
                <!-- if: ${teacher.status} -->
                可在线授课
                <!-- /if -->
            </div>
            <!-- /if -->
        </div>
    </a>
</li>
<!-- /for -->
</script>
{{ /strip }}