.class-catalogue {
    display: none;
    background: #ffffff;
    padding: 0 rem(15);
    margin-bottom: rem(60);
    .class-sum {
        font-size: rem(15);
        padding: rem(12) 0;
        border-bottom: 1px solid #ebeced;
    }
    .listen-unable {
        color: #3c3d3d;
    }
    .listen-unable {
        color: #9d9d9e;
    }
    > ul{
        position: relative;
        padding: rem(12) 0;
        border-bottom: 1px solid #ebeced;
        li{
            display: inline-block;
        }
        .item-title {
            .video-title {
                padding-left: 0;
                &.active {
                    color: #ff9100;
                }
            }
            .class-long {
                color: #9d9d9e;
                &.active {
                    color: #ff9100;
                }
            }
        }
        .item-listen-play {
            color: #9d9d9e;
            width: 30%;
            font-size: rem(12);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            div {
                text-align: center;
                border: 1px solid #ebeced;
                border-radius: rem(15);
                padding: rem(4) 0;
            }
            img {
                width: rem(8);
                height: rem(10);
                margin-right: rem(3);
            }
        }
    }
}