.class-catalogue {
    display: none;
    background: #ffffff;
    margin-bottom: rem(60);
    .class-sum {
        font-size: rem(15);
        padding: rem(12) 0;
        padding-left: rem(12);
        border-bottom: 1px solid #ebeced;
    }
    .listen-unable {
        color: #3c3d3d;
    }
    .listen-unable {
        color: #9d9d9e;
    }
    ul.chapters {
        .chapters-title {
            padding: 0 rem(12);
            background-color: #f8f8f8;
            width: 100%;
            height: rem(50);
            line-height: rem(50);
            position: relative;
            border-bottom: 1px solid #ebeced;
            padding-right: rem(30);
            position: relative;
            .show-title {
                text-overflow();
                display: inline-block;
                width: 100%;
            }
            .chapter-toggle {
                position: absolute;
                color: #9d9e9e;
                v-center(absolute);
                right: 0;
                padding: rem(12);
            }
        }
    }
    > ul{
        .class-sections {
            width: 100%;
            padding: rem(12);
            border-bottom: 1px solid #ebeced;
            .left {
                display: inline-block;
                width: 100%;
                position: relative;
                padding-left: rem(28);
                .index {
                    v-center(absolute);
                    display: inline-block;
                    left:0;
                    >span {
                        display: inline-block;
                        height: rem(28);
                        border-radius: rem(14);
                        width: rem(28);
                        text-align: center;
                        background-color: #ededee;
                        line-height: rem(28);
                    }
                }
                .content {
                    display: inline-block;
                    width: 100%;
                    margin-left: rem(5);
                    .item-title {
                        ellipsis();
                    }
                    .total {
                        font-size: rem(12);
                        color: #9d9e9e;
                    }
                }
            }
        }
        .class-sections.active {
            color: #ff9100;
            .index {
                >span {
                    background-color: #ff9100;
                    color: #fff;
                }
            }
            .content {
                .total {
                    color: #ff9100;
                }
            }
        }
        .class-sections.has-try {
            padding-right: rem(90);
            position: relative;
            .item-listen-play {
                v-center(absolute);
                right: rem(12);
                >span {
                    display: inline-block;
                    border: 1px solid #ff9100;
                    color: #ff9100;
                    border-radius: rem(2);
                    padding: rem(2) rem(5);
                }
            }
        }
    }
}