.security-block {
    padding: rem(20) rem(5) rem(5) rem(5);
    background: #fff;
    margin-top: rem(10);

    .security-title{
        font-size: rem(18);
        color: #3c3d3d;
        margin-left: rem(15);
        padding-left: rem(5);
        border-left: 2px solid #ff6c00;
        line-height: 1;
    }
    span{
        background-image: url("./icon.png");
        width: rem(22);
        height: rem(22);
        display: inline-block;
        background-size: auto rem(22);
    }
    .safe{
        background-position: 0 0;
    }
    .tuikuan{
        background-position: rem(66) 0;
    }
    .haoke{
        background-image: url("./comment.png");
        background-position: rem(44) 0;
    }
    .renzheng{
        background-position: rem(22) 0;
    }
    .security-p{
        list-style: none;
        margin: rem(25) rem(5) rem(10) rem(5);
        color: #6d6d6e;
        font-size: rem(12);
        display: flex;
        justify-content: center;

        li{
            flex: 1;
            text-align: center;
            position:relative;
            display:inline-block;
        }
        .icon{
            margin: 0 auto;
            height: rem(22);
            width: rem(22);
            padding-bottom: rem(8);
        }
    }
    .security-txt{
      font-size:rem(13);
      color:#9d9e9e;
      line-height:rem(19);
      padding: 0 rem(10);
    }
    .tips{
      font-size: rem(12);
      text-align: center;
      color: #b6b6b6;
      margin-bottom: rem(10);
    }
}
