.consult-box {
    display: none;
    font-size: rem(12);
    border-right: 1px solid #F2F2F3;
    &.cousult-three {
        flex: 1.5;
        height: rem(50);
        line-height: rem(50);
        padding-bottom: rem(50);
        font-size:rem(15);
        img {
            vertical-align: text-bottom;
        }
        div{
            display: inline-block;
        }
    }
    &.cousult-four {
        flex: 1;
        padding-top: rem(5);
    }
}