.enterClass {
    flex: 1.5;
    height: rem(50);
    line-height: rem(50);
    padding-bottom: rem(50);
    font-size: rem(15);
    font-family: PingFang-SC-Regular;
    letter-spacing: rem(0.53);
    position: relative;
    .try-tips {
        position: absolute;
        top: rem(-45);
        left: 29%;
        margin: 0 auto;
        width: rem(62);
        height: rem(36);
        background: #3c3d3e;
        border-radius: rem(5);
        font: rem(14);
    }
    &.orange {
        background: #FF9100;
        color: white;
    }
    &.red {
        background: #ff7575;
        color: white;
    }
    &.coffee {
        background: #8C6E63;
        color: white;
    }
}
