@import './share.styl';
@import './consult.styl';
@import './favor.styl';
@import './tryListen.styl';
@import './purchase.styl';

.bottom {
    display: flex;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: rem(50);
    z-index: 2;
    img {
        height: rem(20);
    }
}

.list-bottom {
    flex: 1.5;
    height: rem(50);
    line-height: rem(50);
    font-family: PingFang-SC-Regular;
    letter-spacing: rem(0.53);
    font-size: rem(15);
    &.orange {
        background: #FF6C00;
        color: white;
    }
    &.red {
        background: #FF5252;
        color: white;
    }
    &.coffee {
        background: #795547;
        color: white;
    }
}
.yi-xiajia {
    background: #cccdce !important;
    color: #fff;
}
