
.purchase {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    background-color: #fff;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;

    .close {
        float: right;
        margin: rem(12) rem(12) 0;
        width: rem(23);
        height: rem(23);
    }

    .name {
        clear: both;
        margin: 0 rem(10);
        padding-bottom: rem(14);
        font-size: rem(15);
        color: #3d3d3e;
        font-weight: bold;
        text-indent: rem(10);
        border-bottom: rem(1) solid #f3f4f5;
    }

    .way {
        margin: 0 rem(10);
        padding-top: rem(15);
        height: rem(83);
        border-bottom: rem(1) solid #f3f4f5;

        .title {
            font-size: rem(14);
            text-indent: rem(10);
            color: #3d3d3e;
        }

        .choose {
            margin: rem(10);
            width: rem(70);
            height: rem(28);
            border: rem(1) solid #ff9100;
            border-radius: rem(2);
            line-height: rem(28);
            font-size: rem(13);
            text-align: center;
            color: #ff9100;
        }
    }

    .quantity {
        margin: rem(15) rem(20);
        overflow: hidden;
        line-height: rem(22);

        .title {
            float: left;
            font-size: rem(14);
            color: #3d3d3e;
        }

        .operation, .num {
            float: right;
            margin-left: rem(1);
            width: rem(22);
            height: rem(22);
            text-align: center;
            line-height: rem(22);
            font-size: rem(13);
            background-color: #ededee;
        }
    }

    .sum {
        margin: rem(20) rem(20) 0;
        text-align: right;
        font-size: rem(13);
        color: #9d9d9e;
        line-height: rem(18);

        span {
            color: #ff9100;
            font-size: rem(16);
        }
    }

    .submit {
        margin-top: rem(15);
        height: rem(44);
        line-height: rem(44);
        background-color: #ff9100;
        text-align: center;
        color: #fff;
        font-size: rem(17);
    }
}
