{{ strip }}
<script type="text/template" id="coupon-list-dialog">
<div class="coupon-dialog">
    <div class="coupon-body">
        <div class="coupon-list coupon-${data.coupons.length}">
            <!-- for: ${data.coupons} as ${coupon}, ${index} -->
            <div class="coupon-item <!-- if: ${index} == 0 -->left<!-- /if --> <!-- if: ${index} ==  ${data.coupons.length} - 1 -->right<!-- /if -->" data-serial="${coupon.serial_num}">
                <div class="coupon-content">
                    ￥
                    <span class="price">
                        ${coupon.value}
                    </span>
                    优惠券
                    <p>
                        <!-- if: !${coupon.cond_threshold} || ${coupon.cond_threshold} == -1 -->
                            不限
                        <!-- else -->
                            满${coupon.cond_threshold}使用
                        <!-- /if -->
                    </p>
                </div>
                <div class="coupon-hover">
                </div>
            </div>
            <!-- /for -->
        </div>
    </div>
    <div class="coupon-tip-wrapper">
        <div class="coupon-tip">点击优惠券领取，每种优惠券每人限领一张</div>
        <div class="coupon-tip">
            仅可购买<span class="coupon-tip-strong">${data.name}</span>的课程
        </div>
    </div>
</div>
</script>
<script type="text/template" id="get-coupon-success-dialog">
<div class="coupon-dialog">
    <div class="coupon-body">
        <span class="icon icon-check-circle"></span>
        <span class="tip-text tip-success">领取成功</span>
    </div>
    <div class="coupon-tip-wrapper">
        <div class="coupon-tip">优惠券已放入你的钱包管理“优惠券”中</div>
        <div class="coupon-tip">
            <button class="use-coupon" type="button">马上去用</button>
        </div>
    </div>
</div>
</script>
<script type="text/template" id="get-coupon-error-dialog">
<div class="coupon-dialog">
    <div class="coupon-body">
        <span class="no-coupon-icon"></span>
        <span class="tip-text tip-error">${data.message}</span>
    </div>
    <div class="coupon-tip-wrapper">
        <div class="coupon-tip">一定有其他优惠更适合你~快去看看吧</div>
    </div>
</div>
</script>
{{ /strip }}