{{ strip }}
<div id="ravebanner" class="hiderave" data-href="{{ $rave_activity_host }}" style="display:none">
    <span class="icon icon-close"></span>
    <img src="http://img.gsxservice.com/0cms/d/file/content/2015/06/556fc87248270.jpg" class="banner-img" width="1100px"/>
    <div class="main-wrapper">
        <a href="#excellent-course-wrapper" class="anchor excellent_course">

        </a>
        <a href="#org-rave-wrapper" class="anchor get_coupon">

        </a>
        <a href="#crazy-discount-wrapper" class="anchor crazy_discount">

        </a>
        <a href="#sec-kill-wrapper" class="anchor sec_kill">

        </a>
        <div class="rave" id="crazy-discount-wrapper">
            {{ include file="rave/round.html" }}
        </div>
    </div>
</div>
{{ /strip }}