{{ strip }}
    <div class="rave-nav-wrapper">
        <div class="nav_bg">
            <img src="{{ $static_origin }}/asset/img/rave/rave_fixed_nav_858df80653.png" width="130px"/>
        </div>
        <div class="nav_content">
            <div class="rave_nav_title">爆品课程</div>
            <div class="rave_nav_list">
                <a class="rave_nav_item" href="#xcgzc">小学中学</a>
                <a class="rave_nav_item" href="#dxzc">大学教育</a>
                <a class="rave_nav_item" href="#ysxqzc">艺术体育</a>
                <a class="rave_nav_item" href="#lxzc">出国考试</a>
            </div>
            <div class="rave_nav_luck">
                <img src="{{ $static_origin }}/asset/img/rave/luck_c98b9a6b2e.jpg" width="90px"/>
            </div>
            <div class="rave_nav_back_top">
                <a href="#excellent-course-wrapper" class="icon icon-angle-up"></a>
            </div>
        </div>
    </div>
{{ /strip }}