/**
 * @file 汇课间样式复原
 * @author wangtianhua
 */

#header,
#nav,
#menu,
#breadcrumb,
#float-help,
#footer {
    display: none;
}
#main {
    #sidebar {
        display: none;
    }
    #container {
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}