/**
 * @file 可授课时间
 * @author jixiaohui
 */
@import '../common/component/week-calendar2.less';

#teacher-calendar {
    border: 1px solid #E6E6E6;
    width: 682px;
    margin-left: 28px;

    .card-body {
        padding: 0 !important;
    }
}