/**
 * @file 课程评价
 * @author zhujialu
 */
#teacher-comment {
    padding-top: 10px;
    border-top: 1px solid #E6E6E6;
    margin-top: 30px;

    .new-title {
        font-size: 14px;
        font-weight: bold;
        color: #3d3d3d;
    }

    .overview {
        color: @brand-text-lighter;
        font-size: @font-size-tiny;
        height: 140px;
        overflow: hidden;
        .clearfix();

        .score,
        .detail {
            display: inline-block;
            height: 70px;
            padding: 20px 40px;
            vertical-align: top;
            .text {
                margin-right: 10px;
            }
        }

        .action {
            float: right;
            margin-top: 40px;
        }

        .score {

            strong {
                color: @brand-primary;
                display: block;
                font-size: @font-size-huge;
                font-family: @font-family-title;
                font-weight: bold;
            }

            strong.no-comment {
                font-size: 16px;
                line-height: 69px;
            }
        }

        .detail {
            border-left: 1px solid @brand-gray-light;
            border-right: 1px solid @brand-gray-light;
            color: @brand-text-lighter;
            font-size: 12px;
            position: relative;
            margin-top: 20px;
            padding: 0 40px;
            height: 90px;
            .star-comment {
                position: absolute;
                top: -20px;
                left: 60px;
            }
        }

        .action {
            #invite-comment {
                top: 20px;

                .icon-chat {
                    margin-right: 5px;
                }
            }
        }

    }

    .sort-select {
        float: right;
        margin-top: 7px;
        margin-right: 20px;

        .btn-default {
            width: 100px;
        }
    }

    .tab-nav-info {

        border: none;

        .top-nav {
            background: #f7f7f7;
            border-bottom: 1px solid #ccc;
            width: 100%;
            height: 50px;
            line-height: 50px;

            .sort-select {
                display: block;
                font-size: 12px;
                top: 4px;

                .btn-default {
                    height: auto;
                    width: auto;
                    padding: 4px 8px;
                }

                .caret {
                    margin-top: 7px;
                    margin-left: 2px;
                }
            }

            .item {
                padding: 0 20px;
                cursor: pointer;
                font-size: 12px;
                color: #6d6d6d;
            }

            .nav-active {
                font-weight: bold;
                color: #3d3d3d;
            }
        }

        .comment-label {
            .clearfix();
            display: inline-block;
            padding: 10px 0;
            vertical-align: top;

            li {
                cursor: pointer;
                float: left;
                margin-top: @gap-vertical-tiny;
                margin-right: @gap-horizontal-tiny;
                padding: 2px 10px;
                border-radius: 15px;

            }
            .positive {
                border: 1px solid @brand-primary-light;
                color: @brand-primary;
                a {
                    color: @brand-primary;
                }
            }
            .selected {
                background-color: @brand-primary;
                color: #fff;
                a {
                    color: #fff;
                }
            }
            .negative {
                border: 1px solid @brand-gray-light;
                background-color: @brand-gray-lighter;
            }
        }
    }

    .no-data {
        .vertical-middle(200px);
        width: 100%;
        text-align: center;
    }

    .item {

        margin-top: @gap-vertical-large;
        position: relative;

        dl {
            float: left;
            text-align: center;
            margin-right: @gap-horizontal-huge;

            dd {
                .text-overflow();
                width: 6em;
            }

            .avatar-small {
                top: 5px;
            }
        }

    }

    .nav-content {
        margin-top: @gap-vertical-medium;
        .item {
            border-bottom: 1px solid #e6e6e6;
        }

        .no-comment {
            text-align: center;
            margin: 3 * @gap-horizontal-medium;
            .icon {
                color: @brand-primary;
                margin-right: @gap-horizontal-tiny;
            }
        }
    }

    .comment {

        min-height: 73px;
        overflow: hidden;
        padding: @gap-vertical-small
                 @gap-horizontal-large;
        font-size: 12px;

        .user-name {
            font-size: 12px;
            color: #6d6d6d;
            margin-bottom: 10px;

            .del {
                float: right;
                cursor: pointer;
            }
        }
        .feedback {
            height: 30px;
        }
    }

    .order-info,
    .score-info {
        a {
            margin-right: @gap-horizontal-medium;
        }
        span {

            margin-right: @gap-horizontal-medium;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .order-info {
        margin: 3px 0 10px;
        color: #9d9d9d;

        .del {
            float: right;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: @brand-primary;
            }
        }

        .date {
            float: left;
            margin-right: 10px!important;
        }
    }

    .more {
        text-align: center;
        font-size: 12px;
        cursor: pointer;
    }
    .others_comment {
        display: none;
        margin-top: 30px;
    }

    .add-comment-show,
    .comment-reply {
        border-top: 1px dashed #eee;
        clear: both;
        text-align: left;
        line-height: 2em;
        padding: @gap-vertical-small 0;
    }

    .score-info {
        color: @brand-text-lighter;
        .star-half {
            margin-right: 0;
        }
    }

    .score-face {
        color: #3d3d3d;
    }

    .icon-smile-o,
    .icon-neutral-o,
    .icon-frown-o {
        color: @brand-primary;
        font-size: @font-size-medium;
        font-weight: bold;
        margin-right: @gap-horizontal-small;
    }

    .icon-smile-o {
        color: #F66;
    }
    .icon-neutral-o {
        color: #F0C000;
    }
    .icon-frown-o {
        color: #666;
    }

    .date {
        color: @brand-text-lighter;
        float: right;
        margin-right: 0 !important;
    }

    .content {
        color: #3d3d3d;
        margin-top: @gap-vertical-medium;
        .word-break();
        font-size: 14px;
        margin-bottom: 24px;
    }

    .feedback {
        float: right;
        position: relative;
        top: 5px;

        .link {
            cursor: pointer;
            color: #9d9d9d;
            padding: 3px 5px;
            border-radius: 2px;
            border: 1px solid @brand-gray;
            background-color: @brand-gray-lighter;
            margin-left: 5px;
        }
        .btn-support {
            border-radius: 2px;
            border: 1px solid @brand-primary;
            background-color: #fff;
            color: @brand-primary;
        }
    }

    .comment-form {
        clear: both;
        display: none;
        width: 600px;
        text-align: left;
        padding-top: @gap-vertical-medium;
        .form-editor {
            textarea {
                width: 600px;
                height: 100px;
            }
            .form-hint {
                text-align: left;
            }
        }
        .form-action {
            float: right;
        }
        .error {
            left: 515px !important;
        }
    }

    .comment-photo-box {
        width: 496px;
        height: 100%;
        overflow: hidden;

        .comment-photo-list {
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding-left: 1px;
            padding-top: 1px;

            li {
                float: left;
                padding: 2px;
                border: 1px solid #E6E6E6;
                margin-right: 8px;
                margin-bottom: 12px;
                cursor: pointer;

                img {
                    width: 80px;
                    height: 60px;
                    display: block;
                    clear: both;
                }
            }

            li.active {
                border: 2px solid #FF7F00;
                position: relative;
                top: -1px;
                left: -1px;
            }
        }

        .comment-photo-player {
            width: 494px;
            height: 100%;
            overflow: hidden;
            border: 1px solid #DEDEDE;
            text-align: center;
            margin-bottom: 14px;

            .photo-action {
                height: 100%;
                width: 100%;
                overflow: hidden;
                margin: 10px 14px;
            }

            li {
                float: left;
                margin-right: 15px;
                font-size: 14px;
                color: #3d3d3d;
                cursor: pointer;
            }

            .photo-icon {
                background: url(../../../img/teacher/photo-action.png);
                width: 14px;
                height: 14px;
                display: inline-block;
                margin-right: 5px;
                position: relative;
                top: 1px;
            }

            .photo-packup {
                background-position: 0 0;
            }

            .photo-sourse {
                background-position: -20px 0;
            }

            .photo-left {
                background-position: -40px 0;
            }

            .photo-right {
                background-position: -58px 0;
            }

            .photo-wrapper {
                overflow: hidden;
                margin: 0 auto;
                text-align: center;
                position: relative;
                cursor: pointer;

                .floater {
                    float: left;
                    height: 50%;
                    width: 100%;
                }

                img {

                }
            }

            .photo-name {
                margin: 10px auto;
                text-align: center;
                color: #333333;
                font-size: 14px;
            }
        }
    }
}

.show-teacher-comment {
    width: 750px;
}

#teacher-no-comment {
    text-align: center;
    height: 1px;

    .no-comment-icon {
        background-image: url(../../../img/teacher/comment_empty.png);
        width: 106px;
        height: 112px;
        margin: 120px auto 20px;
    }

    span {
        font-size: 18px;
        color: #9d9d9d;
        display: block;
        margin-bottom: 30px;
    }

}

.other-comment {
    overflow: hidden;
    padding: @gap-vertical-small
             @gap-horizontal-large;
    font-size: 12px;
    margin-left: 80px;

    .user-name {
        font-size: 12px;
        color: #6d6d6d;
        margin-bottom: 10px;

        .del {
            float: right;
            cursor: pointer;
        }
    }
    .feedback {
        height: 30px;
    }
}
.form-action {
    margin: 10px 0;
}
.ie8 {
    .comment-photo-player {

        .left,
        .right {
            display: none;
        }
    }
}