
@import '../common/layout.less';

@import '../common/main/common/header.less';
@import '../common/main/component/category.less';
@import '../common/main/common/nav.less';
@import '../common/footer.less';


#main {
    .btbig404 {
        background: url(../../img/static/404.png) no-repeat center center;
        margin: 0 auto;
        width: 650px;
        height: 400px;
    }
}
.bt404 {
    background: url(../../img/static/404bg.png) repeat-x center center;
    width: 100%;
    height: 95px;
}