@import './common/layout.less';
@import '../common/component/mobileInput.less';

#main {

    background-color: #FFF;
    border-radius: 6px;
    width: 885px;
    margin: 58px auto;
    padding: 100px;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

    h1 {
        color: @brand-success-light;
        font-size: 16px;
        margin: 10px 0 20px;
        .icon-check-circle {
            color: @brand-success;
            font-size: 26px;
            vertical-align: bottom;
            margin-right: 5px;
        }
    }

    .form {
        .form(90px);
        margin: 0 auto;
        width: 430px;
        text-align: left;
    }

    p {
        margin-bottom: 10px;
        margin-left: 30px;
    }

    input {
        width: 340px;
    }
    input[name="mobile"] {
        width: 284px;
    }
    input[name="code"] {
        width: 140px;
    }
    .btn-send-code {
        margin-left: 5px;
    }

    .captcha-image + span {
        float: right;
    }

    .resend-tip {
        display: none;
    }

    .resend-code {
        cursor: pointer;
    }

    .tel-code {
        left: 153px;
    }

    .password {
        display: none;
    }
    .icon-info-circle {
        margin-right: 3px;
    }
}

