
@import '../common/layout.less';

@import '../common/main/common/header.less';
@import '../common/main/component/category.less';
@import '../common/main/common/nav.less';
@import '../common/footer.less';


/*body {
    background: #FFF;
}*/

#main {
    background: #FFF;
    padding: 50px;
    width: 1000px;
    margin: 50px auto;
    box-sizing: content-box;

    .wrap {
        margin: 0 auto;
        /*width: 740px;*/
    }


    .wrap a {
        color: #4c4c4c;
    }
    .kind .feature {
        color: #f39800;
    }


    .title {
        height: 45px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        /*background: url("../../img/static/links/dotBg.gif") repeat-x scroll 0 bottom;*/
    }

    .title img {
        /*vertical-align: middle;*/
    }

    .kind {
        color: #e1e1e1;
        font-size: 16px;
        font-weight: normal;
        padding: 30px 0 0 80px;
    }

    .kind a {
        color: #000;
        padding: 0 16px;
    }

    .kind a:hover {
        color: #ff9900;
        text-decoration: underline;
    }

    .exp dt {
        height: 30px;
        font-size: 16px;
        color: #ff9900;
        padding-top: 40px;
    }
    .exp dd a {
        color: #3d3d3d;
        display: inline-block;
        line-height: 24px;
        margin-right: 10px;
        min-width: 112px;
    }

    .exp dd a:hover {
        color: #ff9900;
        text-decoration: underline;
    }
    .exp dd {
        /*padding-left: 10px;*/
    }
    .text {
        color: #ff9900;
        font-size: 16px;
        padding-top: 50px;
        padding-bottom: 16px;
    }

    div, ul, dl {
        .clearfix();
    }
    .cooperation {
        background: url("../../img/static/links/apply.png") no-repeat scroll 80px 30px #f4f4f4;
        /*border-top: 1px solid #ebebeb;*/
        font-size: 12px;
        padding: 30px;
    }

    .cooperation-tip {
        float: left;
        /*width: 315px;*/
        font-size: 14px;
        margin-left: 66px;
        color: #3d3d3d;
        .feature {
            color: #f44e4e;
        }
    }

    .cooperation-link {
        color: #808080;
        float: left;
        padding-top: 12px;
        width: 242px;

        a {
            color: #ff9900;
        }
        .link {
            display: block;
            margin-left: 54px;
            padding-top: 50px;
        }
    }


}
i, a, ul, ol, li, div, span, form, label, table {
    // box-sizing: content-box;
}