
@import '../common/layout.less';


#main {
    width: 985px;
    width: 915px;
    margin: 0;
    background: #F3F2F3;
    .content li {
        float: left;
        width: 20%;
        margin-bottom: 16px;
    }
    .content {
        width: 915px;
        float: left;
        h1 {
            font-size: 24px;
            margin-bottom: 10px;
            margin-right: 28px;
            color: #383838;
            display: inline-block;
            vertical-align: sub;
        }
        img {
            width: 165px;
            height: 93px;
        }

    }
    .primary {
        overflow: hidden;
    }
    .content .primary {
        span {
            display: block;
            font-size: 12px;
            color: #424141;
            margin-bottom: 3px;
            margin-top: 1px;
        }
        span:hover {
            color: #f90;
        }

    }
    a {
        color: #000;
    }
    a:hover {
        color: #f90;
    }
    
    .tab-head {
        display: inline-block;
        .tab-nav {
            color: #383838;
            display: inline-block;
            padding: 2px 8px;
            border-radius: 2px;
            cursor: pointer;
            &:hover{
                background: @brand-primary;
                color: #fff;
            }
            
        }
        .active {
            background: @brand-primary;
            color: #fff;
        }
        
        
        
    }
    
    
    

}


#flotage-bottom {
    display: none !important;
}
#flotage-top {
    display: none !important;
}
#flotage-middle {
    display: none !important;
}
#cnzz_stat_icon_1000523207 {
    display: none !important;
}