/**
 * @file 浅注册老师设置信息页
 * @author jixiaohui
 */
@import '../common/center/common/layout.less';

#header,
#nav {
    display: none;
}

#register-header {
    background: #fff;
    position: relative;
    z-index: @zindex-medium;
    width: 100%;

   .wrapper {
        .clearfix();
        height: 90px;
        margin: 0 auto;

        position: relative;
        width: @page-width;
    }

    .city {
        width: 56px;
        .text-overflow();
        strong {
            color: @brand-text;
            font-weight: bold;
        }
        position: absolute;

        left: 156px;
        top: 25px;
        border-left: 1px solid #DDDDDD;
        padding-left: 8px;
    }

    .city-trigger {
        cursor: pointer;
        color: @brand-gray;
        font-size: @font-size-tiny;

        a {
            color: #9d9d9d;
        }

        a:hover {
            color: #f90;
        }
    }

    .logo {
        background: url(../../img/logo-release2.png) no-repeat;
        text-indent: -9999px;
        width: 240px;
        height: 75px;
        position: absolute;
        left: 0px;
        top: 16px;

    }

    .welcome {
        font-size: 24px;
        color: #222222;
        position: absolute;
        top: 25px;
        left: 400px;
    }
}

#main {
    background: #fff;
    width: 100%;
    margin: 0 auto 16px;
}

#info-body {
    background: #f5f5f5;
    padding: 50px 0 30px;
}

.info-box {
    width: 660px;
    background: #fff;
    margin: 0 auto;
    font-size: 14px;
    padding: 20px;

    .section {
        clear: left;
        width: 100%;
        height: 60px;
        padding: 10px 0;

        &.subject-section {
            overflow: visible;
        }

        .category1,
        .category2,
        .category3 {
            width: 90px;
            margin: 0;
        }
    }

    .avatar-section {
        height: 170px;
    }

    .name-section {
        .form-text {
            width: 270px;
        }
    }

    .subject-section {
        .box {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            height: 38px;
        }

        .dropdown .btn-default {
            border-top: none;
            border-bottom: none;
        }

        .category2 .btn-default,
        .category3 .btn-default {
            border-left: none;
        }

        .category2 .dropdown-menu,
        .category3 .dropdown-menu {
            width: 91px;
            margin-left: -1px;
            margin-top: 0px;
        }
    }

    .sex-section {

        .female,
        .male {
            position: relative;
            top: 2px;
            margin-right: 2px;
        }

        .female {
            color: #FF6398;
        }

        .male {
            color: #0096FF;
        }

        .male-box {
            border-right: 1px solid #ccc;
        }

        .male-box,
        .female-box {
            float: left;
            padding: 7px 15px;
            cursor: pointer;

            &:hover,
            &.active {
                background: #F1F1F1;
            }
        }

        .sex {
            border: 1px solid #ccc;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    .option {
        color: #555;
        width: 200px;
        text-align: right;
        float: left;
        position: relative;

        &.info-avatar,
        &.info-name,
        &.info-sex,
        &.info-subject {
            right: 0;
        }

        &.info-avatar {
            top: 130px;
        }

        &.info-name,
        &.info-sex,
        &.info-subject {
            top: 8px;
        }
    }

    .box {
        float: left;
        margin-left: 20px;
    }

    .upload {
        width: 150px;
        height: 150px;
        background: #f5f5f5;
        color: #999;
        text-align: center;
        padding-top: 55px;
        border: 1px solid #ccc;
        cursor: pointer;

        &:hover {
            background: #DDDDDD;
        }

        .icon-plus {
            font-size: 20px;
            display: block;
            margin-bottom: 5px;
        }

        span {
            font-size: 12px;
        }
    }

    .upload-img {
        width: 150px;
        height: 150px;
        cursor: pointer;
        border: 1px solid #E4E4E4;
    }

    button {
        clear: left;
        display: block;
        margin-left: 270px;
        margin-top: 70px;
        background: #999;
        border-color: #999;
        color: #fff;

        &:hover {
            background: #999;
            border-color: #999;
        }

        &.active,
        &.active:hover {
            background: #f90;
            border-color: #f90;
        }


    }
}