
@import '../common/layout.less';

@import '../common/main/common/header.less';
@import '../common/main/component/category.less';
@import '../common/main/common/nav.less';
@import '../common/footer.less';


#main {
    width: 766px;
    height: 261px;
    margin: 130px auto 170px;
    background: url(../../img/static/teacher404_bg.png) no-repeat;

}

#cloud {
    width: 100%;
    height: 100px;
    background: url(../../img/static/teacher404_cloud.png) repeat-x;
}