
@import '../common/layout.less';

@import '../common/main/common/header.less';
@import '../common/main/common/nav.less';
@import '../common/main/component/category.less';
@import '../common/footer.less';

#nav {
    box-shadow: none;
}
body {
    /*background: #f0f0f0;*/
}
#main {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: #f0f0f0;
}
.banner {
    background: url(../../img/static/windows/windows-bg.jpg) 50% 0 no-repeat;
    height: 487px;
    position: relative;
    a {
        width: 154px;
        height: 45px;
        display: inline-block;
        position: absolute;
        top: 200px;
        right: 50%;
        margin-right: -77px;
    }
    .download {
        background: url(../../img/static/windows/button-bg.png) 0 0 no-repeat;
        margin-right: -50px;
    }
    .download:hover {
        background: url(../../img/static/windows/button-bg.png) 0 -47px no-repeat;
    }
    .experience {

        margin-right: -220px;
        background: url(../../img/static/windows/button-bg.png) 0 -93px no-repeat;
    }
    .experience:hover {
        background: url(../../img/static/windows/button-bg.png) 0 -143px no-repeat;
    }
    .special {

        margin-right: -48px;
    }
}

.explain {
    background: #fff;
    height: 266px;
    ul {
        width: 1100px;
        margin: 0 auto;
        padding: 38px 0 0 0;

        span {
            display: block;
            width: 8em;
            margin: 0 auto;
        }
        .title {
            font-size: 24px;
            color: #3d3d3d;
            margin-bottom: 10px;
        }
        li {
            width: 25%;
            text-align: center;

            border-right: 1px solid #ebebeb;
        }
        div:first-child {
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .item-1 {
            width: 112px;
            height: 98px;
            background: url(../../img/static/windows/item.png) 0 0 no-repeat;
        }
        .item-2 {
            width: 118px;
            height: 98px;
            background: url(../../img/static/windows/item.png) -142px 0 no-repeat;
        }
        .item-3 {
            width: 135px;
            height: 98px;
            background: url(../../img/static/windows/item.png) -5px -107px no-repeat;
        }
        .item-4 {
            width: 118px;
            height: 98px;
            background: url(../../img/static/windows/item.png) -152px -99px no-repeat;
        }
        li {
            float: left;
        }
        .last {
            border: none;
        }
        .special {
            width: 16em;
        }
        .special span {
            width: 16em;
        }
    }
}
.typical {
    display: none;
    color: #3d3d3d;
    background: #f0f0f0;
    height: 276px;
    width: 1100px;
    margin: 0 auto;
    ul {
        margin: 0 auto;
    }
    li {
        float: left;
        width: 25%;
        text-align: left;
    }
    h1 {
        font-size: 24px;
        text-align: left;
        margin-bottom: 24px;
        margin-top: 26px;
    }
    i {
        width: 40px;
        height: 40px;
        color: #fff;
        background: #7f9fe7;
        display: inline-block;
        border-radius: 20px;
        vertical-align: middle;
        line-height: 40px;
        text-align: center;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 22px;
    }
    .item-2 {
        padding-left: 44px;
    }
    .item-4 {
        padding-left: 46px;
    }
}

