
{{ if $tpl_data.lesson_list }}
<table class="user-course table">
    <thead>
        <tr>
            <th>时间</th>
            <th>课程名称</th>
            {{ if $user_data.user_type == 2 }}
            <th>老师</th>
            {{ else }}
            <th>上课人/人数</th>
            {{ /if }}
        </tr>
    </thead>
    <tbody>
        {{ foreach $tpl_data.lesson_list as $item }}
        <tr>
            <td class="time">{{ $item.start_time }} - {{ $item.end_time }}</td>
            <td class="course-name">
                {{ if $item.lesson_type == 2 }}
                    <i class="icon icon-ban-o text-primary"></i>
                {{ /if }}

                {{ $item.course_name|cn_truncate: 28 }}
            </td>
            <td class="user-name">
                {{ if $item.lesson_type == 1 }}
                    {{ $item.user_name|cn_truncate: 12 }}
                {{ else if $item.lesson_type == 2 }}
                    {{ if $user_data.user_type == 2 }}
                        {{ $item.user_name|cn_truncate: 12 }}
                    {{ else }}
                        {{ $item.user_num }}人
                    {{ /if }}
                {{ /if }}
            </td>
        </tr>
        {{ /foreach }}
    </tbody>
</table>
{{ else }}
    当天你没有课程安排哦~
{{ /if }}


{{ if $user_data.user_type == 2 }}
    <div class="user-time">
    {{ if $tpl_data.time_list }}
        <h3>以下时间段{{ $tpl_data.teacher_display_name }}老师已有课：</h3>
        <div class="time-list">
            <ul>
                {{ foreach $tpl_data.time_list as $item }}
                    <li>
                        {{ $item.start_time }} - {{ $item.end_time }}
                    </li>
                {{ /foreach }}
            </ul>
        </div>
    {{ else }}
        当天{{ $tpl_data.teacher_display_name }}老师没有课程安排哦~
    {{ /if }}
    </div>
{{ /if }}