{{ *

@file 机构X课 - 一对一详情页
@author wangyujie

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}
    {{ $smarty.block.parent }}
    {{ $nav_config.hidden = 1 }}
    {{ $nav_config.active = '' }}
    {{ $login_dialog_config.student_only = true }}

    {{ **顶部搜索去掉placeholder支持空query** }}
    {{ $current_page = 'detail' }}
    {{ $need_mobile_seo = true }}
    {{ $script_path = 'orgCourse/one2oneDetail' }}

    {{ $script_data.courseNum = $tpl_data.course_info.number }}
    {{ $script_data.courseType = $tpl_data.course_info.course_type }}
    {{ $script_data.lessonWay = $tpl_data.course_info.lesson_way }}
    {{ $script_data.buyWay = $tpl_data.course_info.buy_way }}

    {{ if $tpl_data.teacher_profiles }}
        {{ * 果断放弃了主讲老师这块的判断，列表处课程没有提供主讲老师信息 * }}
        {{ $script_data.teacherNum = $tpl_data.teacher_profiles[0].number }}
    {{ /if }}

    {{ $baidu_share_text = "#跟谁学# 分享一位老师给你哦~"|cat: $tpl_data.course_info.name }}
    {{ $baidu_share_text = $baidu_share_text|cat: "，还在等什么？找好老师，上跟谁学，快来开启寻师之旅吧！" }}
    {{ $baidu_share_text = $baidu_share_text|replace:"'":"\'"|replace:'"':'\"' }}

    {{ $baidu_share_image = $tpl_data.course_info.cover.url }}
    {{ if !$baidu_share_image || $baidu_share_image == "" }}
        {{ $baidu_share_image = $tpl_data.course_info.photos[0].url }}
    {{ /if }}
    {{ if !$baidu_share_image || $baidu_share_image=="" }}
        {{ $baidu_share_image = $static_origin|cat:"/asset/img/share.jpg" }}
    {{ /if }}
    {{ $baidu_query = "跟谁学 " }}
{{ /block }}

{{ block name="title" }}
{{ strip }}

{{ if $tpl_data.course_info.price == 0 }}【免费】{{ /if }}

{{ $tpl_data.course_info.name }}_{{ $tpl_data.course_path['3'].name }}_{{ foreach $tpl_data.teacher_profiles as $key=>$teacher_profile }}{{ $teacher_profile.display_name }}{{ /foreach }}-跟谁学
{{ /strip }}
{{ /block }}

{{ block name="keywords" }}
{{ strip }}
{{ $tpl_data.course_info.name }}
{{ /strip }}
{{ /block }}

{{ block name="description" }}
{{ strip }}

跟谁学为您提供{{ foreach $tpl_data.teacher_profiles as $key=>$teacher_profile }}{{ $teacher_profile.display_name }}{{ /foreach }}{{ $tpl_data.course_info.name }}课程，{{ $tpl_data.course_info.target }}。找好老师，上跟谁学！

{{ /strip }}
{{ /block }}
{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/orgCourse/detail.less">
{{ /block }}

{{ block name="main" }}
{{ strip }}
<div id="container">
    {{ if isset($smarty.get.preview) && $smarty.get.preview == 1 }}
    <div class="mask">
        <div class="alpha-mask"></div>
        <div class="half-alpha-mask"></div>
        <p>
            <span>这是预览页面，不可操作哦~</span>
            <br />
            （信息填写完整并检查后可提交审核，审核通过的课程会自动开始招生）
        </p>
    </div>
    {{ /if }}

    <div id="top">
        <div id="headInfo">
            {{ include file="./common/crumb.html" }}
            <div id="courseNum">
                课程编号:{{ $tpl_data.course_info.number }}
            </div>
        </div>
        <div id="contentTop" class="card">
            {{ include file="./one2oneDetail/courseInfo.html" }}
        </div>
    </div>

    <div id="middle">
        <div id="bodyInfo">
            {{ if $tpl_data.type_info }}
                {{ include file="./one2oneDetail/allCourses.html" }}
            {{ /if }}

            <div id="contentBody">

                {{ if isset($tpl_data.is_juhuixue) && $tpl_data.is_juhuixue }}
                    <a href="http://ju.genshuixue.com/?zn=zn_juhuixue_zbhuiliu_pc" target="_blank">
                        <img class="juhuixue-photo" src="{{ $static_origin }}/src/img/classCourse/juhuixuePc.png">
                    </a>
                {{ /if }}

                {{ include file="./one2oneDetail/tabNav.html" }}

                {{ include file="./one2oneDetail/courseIntro.html" }}

                {{ include file="./common/courseDetail.html" }}

                {{ include file="./common/comment.html" type=$tpl_data.course_info.course_type }}
            </div>

            <div id="sideBar">
                {{ include file="./common/sideBar.html" }}
            </div>
        </div>
    </div>

    <div id="bottom">
        <div id="contentBottom">
            {{ if count($tpl_data.relative_course) > 0 }}
            <div class="emptyBox">
                {{ include file="./common/othersLearn.html" }}
            </div>
            {{ /if }}
            <div id="clearfix"></div>
        </div>
    </div>
    {{ include file="./one2oneDetail/ceiling.html" }}
    {{ include file="../common/component/baiduMap.html" }}
</div>
{{ /strip }}
{{ /block }}
{{ include file="common/script.html" }}
{{ block name="script" }}
{{ /block }}


{{ block name="inner_link" }}
{{ include file="common/innerlink/searchList.html" data=$tpl_data.pageInnerLinks mod="课程" inner_type="course" }}
{{ /block }}
