/**
 * Created by xuzheng on 15/12/22.
 */
text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
word-break() {
    word-wrap: break-word;
    word-break: break-all;
}
ellipsis() {
    zoom: 1;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
mult-ellipsis(line) {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: line;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: inherit;
}
/**
 * 居中定位
 */
center(opacity) {
	position: opacity;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
v-center(opacity) {
	position: opacity;
    top: 50%;
    transform: translate(0, -50%);
}
h-center(opacity) {
	position: opacity;
    left: 50%;
    transform: translate(-50%, 0);
}
