@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

#page_nav_bar {
    background: #F4F4F4;
}
.nav-button {
    .my-question {
        display: inline-block;
        position: relative;
        margin-right: rem(15);
        font-size: rem(14);
        .my-question-number {
            position: absolute;
            height: rem(20);
            width: rem(20);
            background: #ff9100;
            line-height: rem(20);
            color: white;
            border-radius: 50%;
            font-size: rem(10);
            top: 0;
            right: rem(-10);
        }
    }
}

.hot-nav {
    margin-top: rem(10);
    background: white;
    padding: rem(10) rem(15);
    height: rem(50);
    .hot-nav-label {
        height: rem(30);
        margin-right: rem(10);
        float: left;
    }
    .hot-nav-text {
        font-family: PingFang-SC-Regular;
        font-size: rem(15);
        color: #ff6c00;
        letter-spacing: rem(-0.17);
        text-align: left;
        width: 65%;
        float: left;
        height: rem(30);
        line-height: rem(30);
    }
    .hot-nav-icon {
        float: right;
        height: rem(15);
        width: rem(10);
        margin-top: rem(8);
    }
}

.main-nav {
    margin-top: rem(10);
    .main-item {
        background: white;
        margin-bottom: rem(10);
        padding: rem(13) rem(15);
        .item-nav {
            .item-nav-avatar {
                height: rem(45);
                width: rem(45);
                border-radius: 50%;
                float: left;
                margin-right: rem(10);
            }
            .item-nav-content {
                float: left;
                margin-top: rem(10);
                .item-nav-name {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(14);
                    color: #3c3d3d;
                    letter-spacing: rem(-0.16);
                    line-height: rem(15);
                    text-align: left;
                    margin-bottom: rem(8);
                }
                .item-nav-role {
                    border: 1px solid #DCDCDC;
                    padding: rem(2);
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #9d9e9e;
                    letter-spacing: rem(-0.13);
                    line-height: rem(13);
                    text-align: center;
                    background: white;
                    margin-left: rem(8);
                    border-radius: rem(2);
                }
                .item-nav-address {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #9d9e9e;
                    letter-spacing: rem(-0.13);
                    line-height: rem(13);
                    text-align: left;
                }
            }
        }
        .asker-content {
            margin-top: rem(10);
            .asker-text {
                font-family: PingFang-SC-Regular;
                font-size: rem(15);
                color: #3c3d3d;
                letter-spacing: rem(-0.17);
                line-height: rem(20);
                text-align: left;
                word-wrap: break-word;
                word-break: break-all;
            }
            .ask-img {
                margin-top: rem(10);
                width: rem(300);
                .ask-img-item {
                    width: rem(90);
                    height: rem(90);
                    float: left;
                    margin-left: rem(2);
                    margin-right: rem(2);
                    margin-bottom: rem(4);
                    height: rem(98);
                }
                .ask-img-item-single {
                    width: 60%;
                    float: left;
                    margin-left: 3%;
                    margin-bottom: rem(4);
                }
            }
        }
        .bottom-nav {
            margin-top: rem(15);
            position: relative;
            .answer-score {
                display: none;
                margin-right: rem(4);
            }
            .bottom-item {
                display: inline-block;
            }
            .head-score {
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                color: #ff9100;
                letter-spacing: rem(-0.14);
                line-height: rem(13);
                text-align: left;
            }
            .head-subject {
                margin-left: rem(4);
                font-family: PingFang-SC-Regular;
                font-size: rem(13);
                color: #ff9100;
                letter-spacing: rem(-0.14);
                line-height: rem(12);
                text-align: left;
                .subject-icon {
                    height: rem(14);
                    width: rem(14);
                    margin-right: rem(4);
                }
            }
            .head-time {
                font-family: PingFang-SC-Regular;
                font-size: rem(11);
                color: #9d9e9e;
                letter-spacing: rem(-0.14);
                line-height: rem(13);
                text-align: left;
                margin-left: rem(10);
            }
            .head-read {
                position: absolute;
                right: 0;
                bottom: 0;
                p {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(12);
                    color: #9d9e9e;
                    letter-spacing: rem(-0.14);
                    line-height: rem(12);
                    text-align: left;
                    display: inline-block;
                }
                .head-read-icon {
                    height: rem(14);
                    width: rem(14);
                    margin-right: rem(4);
                }
                .head-reply {
                    height: rem(15);
                    width: rem(15);
                    margin-right: rem(4);
                }
            }
        }
        .hot-answer {
            background: #F4F4F4;
            padding: rem(15) rem(10);
            position: relative;
            margin-top: rem(15);
            border-radius: rem(3);
            border:1px solid #EDEDED;
            .hot-answer-narrow{
                position:absolute;
                width:0;
                height:0;
                font-size:0;
                border:solid 8px;
                border-color:white white #F4F4F4 white;
                top: rem(-16);
                right: rem(15);
            }
            .answer-show {
                padding-right: rem(10);
                margin-top: rem(10);
                .answer-show-text {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(14);
                    color: #3c3d3d;
                    letter-spacing: rem(-0.16);
                    line-height: rem(20);
                    text-align: left;
                    margin-bottom: rem(10);
                    word-break: break-all;
                }
                .answer-show-img {
                    width: 60%;
                    margin-bottom: rem(10);
                    max-height: rem(200);
                }
                .audio-show {
                    position: relative;
                    .audio {
                        width: rem(157);
                        background: #84D55A;
                        height: rem(40);
                        border-radius: rem(8);
                        display: inline-block;
                        margin-right: rem(10);
                    }
                    .audio-icon {
                        position: absolute;
                        left: rem(18);
                        width: rem(14);
                        height: rem(20);
                        top: rem(10);
                    }
                    .audio-lenth {
                        font-family: PingFang-SC-Regular;
                        font-size: rem(13);
                        color: #6d6d6e;
                        text-align: center;
                        position: absolute;
                        top: rem(15);
                        display: inline-block;
                    }
                }
            }
        }
        .has-more {
            font-family: PingFang-SC-Regular;
            font-size: rem(14);
            color: #9d9e9e;
            letter-spacing: rem(-0.16);
            line-height: rem(14);
            text-align: center;
            margin-top: rem(15);
            .has-more-icon {
                height: rem(12);
            }
        }
    }
}

.ask-for-teacher{
    position: fixed;
    bottom: 0;
    width: 100%;
    .ask-teacher {
        background: #ff9100;
        padding: rem(15) rem(10);
        text-align: center;
        img {
            height: rem(20);
            width: rem(20);
        }
        .ask-teacher-text {
            font-family: PingFang-SC-Regular;
            font-size: rem(17);
            color: #ffffff;
            letter-spacing: rem(0);
            line-height: rem(17);
            text-align: center;
            margin-left: rem(10);
        }
    }
}

