/**
 * @file 学生用户中心 中差评改好评
 * @author wangyujie
 */

@import '../common/center/common/layout.less';
@import '../common/component/couponSelectedList.less';
@import '../common/component/moreImageUploader.less';

#content {

    .card-body {
        .intro {
            font-size: 12px;
            line-height: 22px;
            background-color: @brand-primary-lighter;
            border: 1px solid @brand-primary-light;
            padding: 10px 18px;
            margin-bottom: 2 * @gap-horizontal-medium;
            h3 {
                font-size: 14px;
                padding-bottom: @gap-horizontal-tiny;
            }
        }

        .form {

            .form-text {
                margin-right: @gap-horizontal-tiny;
            }

            .form-group {
                .form-label {
                    width: 90px;
                    text-align: right;
                }
            }


            .form-editor {
                margin-left: 12px;
                textarea {
                    width: 670px;
                    height: 170px;
                }
                .form-hint {
                    color: @brand-info;
                    margin-top: 0;
                }

            }
            .error {
                left: 575px!important;
                top: 0px!important;
            }

            .score {
                .star-score {
                    line-height: 35px;
                }
            }

            .form-action {
                margin-left: @gap-horizontal-medium;
                margin-top: 0;
                .btn-primary {
                    width: 130px;
                }
            }
            .upload-pics {
                left: 10px;
            }

        }

    }
}
.dialog-alert .dialog-close {
    display: block ;
}
