/**
 * @file 学生中心 我的课程回放
 * @author wangyujie
 */
@import '../common/center/common/layout.less';

#content {

    .tab-nav-info {
        .active-tab {
            color: #6287d5;
            border-color: #6287d5;
        }
    }

    .tab-content {
        .active-tab {
            display: block;
        }
    }

    .course-list {
        .course-item {
            border-bottom: 1px solid @brand-gray-light;
        }

        .course-header {
            color: @brand-text-lighter;
            font-size: 12px;
            line-height: 40px;
            span {
                margin-right: 10px;
            }
        }

        .course-info {
            .clearfix();
            .thumb {
                display: block;
                float: left;
                margin-right: 18px;
            }
            .course-title {
                label {
                    border: 1px solid @brand-info;
                    border-radius: 3px;
                    padding: 2px 5px;
                    color: @brand-info;
                    margin-right: 5px;
                }
                a {
                    font-size: 16px;
                }
            }
            .schedule {
                margin: 6px 0;
            }
            .replay-info {
                color: @brand-text-lighter;
                margin-top: 15px;
                .btn-primary {
                    background-color: #fff;
                    color: #f90;
                    padding: 2px 12px;
                    margin-right: 10px;
                }
            }
        }

        .course-directory {
            margin: 10px 0 10px;
            .directory-header {
                font-size: 16px;
                line-height: 40px;
            }
            .directory-list {
                border: 1px solid @brand-gray-light;
                border-bottom: none;
                .course-item {
                    .clearfix();
                    border-bottom: 1px solid @brand-gray-light;
                    padding: 8px 15px;
                    .course-play {
                        float: right;
                        cursor: pointer;
                        color: @brand-text-lighter;
                        font-size: 12px;
                        .icon {
                            font-size: 21px;
                            vertical-align: middle;
                        }
                    }
                    .course-title {
                        display: inline-block;
                        max-width: 330px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .course-no {
                        float: left;
                        color: @brand-text-lighter;
                        margin-right: 10px;
                    }
                    .expire-time {
                        font-size: 12px;
                        color: #9d9d9d;
                        margin-left: 10px;
                        position: relative;
                        bottom: 7px;
                    }
                }
            }

            .to-all,
            .directory-footer {
                border: 1px solid @brand-gray-light;
                border-top: none;
                cursor: pointer;
                color: @brand-text-lighter;
                font-size: 12px;
                text-align: center;
                line-height: 37px;
            }

            .to-all {
                background-color: @brand-gray-lighter;
                border: none;
                line-height: 30px;
                .icon {
                    margin-left: 5px;
                }
                &:hover {
                    background-color: #E8E8E8;
                    color: @brand-text-light;
                }
            }
        }
    }

    .no-course {
        text-align: center;
        .wenzai {
            background-image: url(../../img/teacher/noresult.png);
            background-repeat: no-repeat;
            width: 126px;
            height: 153px;
            margin: 100px auto 20px;
        }
    }

}
