/**
 * @file 学生个人中心 - 我的视频课
 * @author liucong
 */

@import "../common/center/common/layout.less";

#content {

    .card-header {
        .to-del,
        .del-video-course,
        .cancel-del {
            display: none;
            float: right;
            font-size: 12px;
            padding: 3px 30px;
            margin-left: 10px;
        }
        .to-del {
            display: block;
        }
    }

    .left {
        text-align: left;
    }

    .checked-flag {
        display: none;
        float: left;
        margin-right: 15px;
        margin-top: 70px;
    }

    @video-table-color: #F0F7FF;
    @video-table-border-color: #DEE9F6;

    table {
        // width: 95%;
        thead {
            background-color: @video-table-color;
        }
        border: 1px solid @video-table-border-color;
        th {
            span + span {
                margin-left: 40px;
            }
        }
        tbody {
            tr {
                height: 105px;
            }
            td {
                border-right: 1px solid @video-table-border-color;
            }
        }
        margin-bottom: 10px;
    }

    .portrait {
        float: left;
        margin-right: @gap-horizontal-small;
        margin-top: 5px;
    }

    .course-info {
        .name {
            font-size: 18px;
        }
        .name, .teacher-name, .course-item-count {
            color: @brand-text;
        }

        .wrong-title {
            color: #fc5600;
            font-size: 12px;
            margin-top: 3px;

            .icon-info-circle {
                margin-right: 5px;
            }
        }
    }

    .action {
        a, button {
            margin-top: 10px;
            width: 120px;
        }
    }

    .expire_time {
        color: @brand-text;
    }
}


.confirm-del-dialog {
    text-align: center;
    font-size: 15px;
    color: #3D3D3E;
    .text-primary {
        color: #FF9100;
        margin-top: 10px;
    }
    .btn-default {
        margin-right: 15px;
    }
    .dialog-close {
        display: none;
    }
}