.anniversary-footer-item {
    background: #b80623;
    padding-top: rem(20);
    padding-bottom: rem(30);
    text-align: center;
    font-size: rem(10);
    color: #fff;
    width: 100%;
    line-height: 1.5;
    p {

    }
}