/**
 * @file 班课搜索结果页
 * @author wuhongjie
 */
@import '../main/base.less';
@import '../common/card.less';
@import '../common/component/courseSearchList.less';
@import '../common/component/loginDialog.less';
@import '../common/main/common/nav.less';
@import './search/recommend.less';
@import './search/relatedteacher.less';
@import '../teacher/search/relatedcourse.less';
@import '../main/mods/goldCertOrg.less';
@import '../teacher/seekTeacher.less';

body {
    background: #fff;
}

#nav {
    box-shadow: none;
}

#main {
    margin-top: 0px;
}

#suggestion-tip {
    color: #6d6d6d;
    font-size: 12px;
    margin-top: 25px;

    span {
        font-weight: bold;
    }

    a {
        margin-left: 10px;
        color: #6187DC;
    }
}

#search-box {
    font-size: @font-size-tiny;
    margin: 9px 0 0;
    box-shadow: none;
    position: relative;

    .seemorechoose{
        text-align: center;
        position: absolute;
        bottom: 5px;
        right: 500px;
        width: 75px;
        height: 25px;
        padding: 3px 0 3px 12px;
        cursor: pointer;
    }
    .card-header {
        font-size: 12px ;
        color:#6d6d6d;
        padding: 10px 15px 6px 0;
        height: 35px;
        // overflow: hidden;
        line-height: 1.4;
        position: relative;
        background: #fff;
        border: none;
        .category{
            float: left;
            .related {
                display: none;
                position: absolute;
                top: 18px;
                left: 0;
                border: 1px solid #eee;
                border-radius: 3px;
                background-color: #fff;
                min-width: 115px;
                z-index: 2;
                li {
                    float: none;
                    line-height: 20px;
                    padding: 5px 15px;
                }
            }

            .related-a {
                position: relative;
                display: inline-block;
                min-width: 10%;
                &:hover {
                    .related {
                        display: block;
                    }
                }
            }
        }
        .box{
            float: left;
            margin-left: 10px;
        }

        .course {
            i {
                position: relative;
                top: 1px;
            }
        }

        .tag{
            background: #fff;
            color: #f95;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 2px 5px;
            margin: 5px;
            margin-top: 0;
            border: 1px solid #f95;
            display: inline-block;
            &:hover{
                color: #ffffff;
                background: #f95;
            }
        }

        .crumbs {
            margin-left: 5px;
        }

        .result-tip {
            float: left;
        }
    }

    .card-body {
        border: 1px solid #e6e6e6;
        padding: 0;
    }

    .section {
        padding: 0px 7px 9px 17px;
        line-height: 25px;
        height:100%;
        overflow: hidden;
        width: 100%;

        span {
            margin-right: @gap-horizontal-medium;
            float:left;
        }

        ul {
            float:left;
        }

        .item {
            display: inline-block;
            margin: 0 0 4px 14px;

            .focus {
                color: #6187DC;
            }

            .btn-primary {
                color: #fff;
            }

            .btn-link {
                color: #6d6d6d;
            }

            .btn-selected {
                border: 1px solid #f90;
                background: #ff9100;
                color: #ffffff;
                line-height: 1;
                padding: 3px 4px;
                border-radius: 2px;
            }

            .selected,
            .checked {
                padding-left: 3px;
                padding-right: 3px;
                background-color: #ff9100;
                border: 1px solid #f59300;
                border-radius: 2px;
                color: #fff;
            }
        }

        .area-list {
            max-width: 975px;
            .icon-caret-down {
                display: none;
            }
        }

    }
    .lesson-way{
        height: 50px;
        line-height: 50px;
        margin-left: -1px;
        margin-bottom: 9px;
        ul {
            height: 100%;
            border-bottom: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            .item {
                height: 100%;
                width: 92px;
                display: inline-block;
                text-align: center;
                border: none;
                cursor: pointer;
                a {
                    color: #3c3d3d;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                    width: 100%;
                }
                &:hover{
                    a {
                        color: #ff9a00;
                    }
                }
            }
            .btn-selected{
                a {
                  color: #ff9a00;
                }
            }
        }
    }

    #main-course {
        ul {
            max-width: 975px;

            .hide_course {
                display: none;
            }
        }
        .subs{
            clear: both;
            border: 1px solid #ebeced;
            background: #fafafa;
            max-width: 990px;
            margin-left:74px;
            position: relative;
            padding-bottom:5px;
            padding-top: 5px;
            padding-left: 10px;
            .sub-course{
                float: none;
                padding-right: 90px;
                .more{
                    cursor: pointer;
                    position: absolute;
                    bottom: 5px;
                    right: 15px;
                }
                .hide{
                    display: none;
                }
            }
            .subs-course{
                float: none;
                border: 1px solid #ebeced;
                width: 940px;
                background: #ffffff;
                position: relative;
                padding: 5px 65px 0 5px;
                margin-left: 14px;
                margin-bottom: 5px;
                .hide{
                    display: none;
                }
                .more{
                    cursor: pointer;
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                }
            }
        }
        .more {
            .hide_course {
                display: inline-block;
            }
        }

    }

    #course-time {
        height: 40px;
        overflow: visible;

        .tiny{
            margin-left: 10px;
        }
        .form-date {
            float: left;

            input {
                width: 92px;
                height: 24px;
                border: 1px solid #DEDEDE;
                cursor: pointer;
            }
        }

        .item {
            margin: 0px;
            span {
                margin-left: 10px;
            }
        }

        .time-no-limit {
            float: left;
            position: relative;
            top: 3px;
            margin-right: 20px;
            margin-left: 14px;
        }

        .time-submit {
            height: 24px;
            line-height: 1;
            position: relative;
            top: 2px;
            display: none;
        }

        .error {
            width: 220px;
            left: 55px;
            top: -38px;
            display: inline-block;
            position: absolute;
            color: #f95710;
            display: none;
        }

        .calendar {
            display: none;
        }

        .btn-selected {
            border: 1px solid #f90;
            background: #f90;
            color: #fff;
            line-height: 1;
            padding: 3px 4px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }
    }

    .item {
        .btn-link:hover {
            color: @brand-primary;
            text-decoration: none !important;
        }
    }

    .btn-gray {
        background-color: transparent;
        border: 1px solid transparent;
        color: @brand-text-lighter;
        cursor: default;
    }

    a {
        font-size: @font-size-tiny;
    }

    #filter-area {

        .sub-area {
            max-width: 990px;
            width: 990px;
            margin-left: 74px;
            border: 1px solid #ebeced;;
            background: #fafafa;
            padding:5px 90px 0 10px;
            padding-left: 20px;
            position: relative;
            padding-right: 90px;
            .hide{
                display: none;
            }
            .more{
                cursor: pointer;
                position: absolute;
                bottom: 0;
                right: 15px;
            }
        }
    }
    #orther-select{
        height: 40px;
        .otherul{
            margin-left: 5px;
        }
        ul {
            li{
                display: inline-block;
                margin-right: 14px;
                cursor: pointer;
                span{
                    margin-right: 0px;
                }
                .dunhao{
                    margin-left: 5px;
                }
                .active{
                    border: 1px solid #f90;
                    background: #f90;
                    color: #ffffff;
                    line-height: 1;
                    padding: 3px 4px;
                    border-radius: 2px;
                    margin-left: 3px;
                }
                .icon-caret-down{
                    margin-left: 3px;
                }
            }
        }
        .content{
            ul{
                padding-left: 10px;
                position: absolute;
                width: 120px;
                padding-top: 5px;
                z-index: 2;
                background: #FFFFFF;
                border: 1px solid #ebeced;
                li{
                    display: block;
                    input{
                        width: 17px;
                    }
                }
            }
        }
    }
}

#sidebar {
    float:right;
    width:220px;
    margin-right: 0px;
    margin-top: 14px;
    .ad {
        width: 220px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #e6e6e6;
        .ad-header {
            font-family: "微软雅黑";
            color: #333333;
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        .ad-wrapper {
            min-height: 180px;
            border-bottom: 1px dashed #E6E6E6;
            margin-top: 20px;
            padding-bottom: 15px;
            a {
                position: relative;
                display: block;
                &:after {
                    .opacity(0.4);
                    background-color: transparent;
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 96%;
                }
                &:hover {
                    &:after {
                        background-color: #000;
                        .transition(background 0.3s);
                    }
                }
            }
            img {
                height: 130px;
            }
            .adBottom {
                height: 50px;
                padding-top: 6px;
            }
            .descrip {
                color: #333;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-bottom: 5px;
                text-align: left;
            }
            .priceFree {
                color: #56b02a;
                font-size: 12px;
                text-align: left;
            }
            .price {
                font-size: 12px;
                text-align: left;
                color: #f95710;
            }
        }
        .ad-wrappers > :last-child{
            border-bottom: none;
        }
    }
    #recommend {
        border: 1px solid #e6e6e6;
        margin: 10px 0;
    }
}

#content {
    width: 870px;
    padding: 0px 0px 14px;
    margin-top: 14px;
    box-shadow: none;

    .card-header {
        padding: 0px;
        border-bottom: 0px;
        overflow: visible;
        background-color: #fff;

        a {
          font-size: 12px;
          padding:15px 0;
        }

        .tab-nav-default {
          background-color: #f7f7f7;
          border-color: #e6e6e6;
        }

        .tab-nav {

            height: 42px;

            .nav-item {
                padding-bottom: 12px;
            }

            .drift {
                cursor: pointer;

                a:first-child {
                    position: relative;
                    top: -1px;
                }

            }

            .placeholder-wrapper {
                display: inline-block;

                .placeholder {
                    height: 26px;
                    width: 100%;
                    font-size: 14px;
                    overflow: hidden;
                    line-height: 1;
                }
            }

            .form-checkbox {
                padding: 0;
            }

            .price-box,
            .sex-box,
            .identity-box,
            .date-box {
                position: relative;
                width: 100%;
                height: 0px;
            }

            .sex-container {
                width: 75px;

            }

            .identity-container {
                width: 95px;

            }

            .date-container {
                width: 88px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }

            .price-box {

                ul {
                    position: absolute;
                    top: 11px;
                    left: -15px;

                    border: 1px solid #E0E0E0;
                    background: #fff;
                    z-index: @zindex-small;
                    width: 118px;

                    a {
                        color: @brand-text-light;
                        padding: 10px 16px;
                        display: block;
                    }

                    a.active {
                        color: @brand-primary;
                    }

                    li {
                        &:hover {
                            background: #f8f8f8;
                        }
                      }

                }
            }

            .sex-box {

                ul {
                    position: absolute;
                    top: 11px;
                    left: -15px;

                    border: 1px solid #E0E0E0;
                    background: #fff;
                    z-index: @zindex-small;
                    width: 75px;

                    a {
                        color: @brand-text-light;
                        padding: 8px 14px;
                        display: block;
                    }



                    li {

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        &:hover {
                            background: #f8f8f8;
                        }

                        a.active {
                            color: @brand-primary;
                        }
                    }
                }
            }

            .identity-box {

                ul {
                    position: absolute;
                    top: 11px;
                    left: -15px;

                    border: 1px solid #E0E0E0;
                    background: #fff;
                    z-index: @zindex-small;
                    width: 95px;

                    a {
                        color: @brand-text-light;
                        padding: 8px 14px;
                        display: block;
                    }



                    li {

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        &:hover {
                            background: #f8f8f8;
                        }

                        a.active {
                            color: @brand-primary;
                        }
                    }
                }
            }

            .date-box {

                ul {
                    position: absolute;
                    top: 11px;
                    left: -11px;
                    text-align: center;

                    border: 1px solid #E0E0E0;
                    background: #fff;
                    z-index: @zindex-small;
                    width: 88px;
                    color: @brand-text-light;
                    font-size: 14px;

                    label {
                        padding: 6px 14px;
                        display: block;
                        font-size: 12px;
                    }

                    input {
                        position: relative;
                        top: 2px;
                    }

                    li {

                        &:last-child {
                            margin-bottom: 10px;

                            &:hover {
                              background: #fff;
                            }
                        }

                        label:hover,
                        input:hover,
                        &:hover {
                            cursor: pointer;
                        }

                        &:hover {
                            background: #f8f8f8;
                        }

                    }

                    li.active {
                        color: @brand-primary;
                    }

                    button {
                        margin-top: 5px;
                    }
                }
            }
            .active {
                a {
                    color: @brand-primary;
                }
            }

            .price-range {
                width: 140px;
                position: relative;
                padding: 0;

                &:hover {
                    background: none;
                    border-color: transparent;
                }

                ul {

                    padding: 9px 10px;

                    li {
                        display: inline-block;
                        margin-left: 5px;

                        &:first-child {
                            margin-left: 0;
                        }

                        input {
                            width: 46px;
                            height: 20px;
                        }

                    }

                    .submit {
                        display: none;
                        margin-left: 5px;
                    }
                }
            }

            .price-focus {

                ul {
                    background: #fff;
                    border: 1px solid #ccc;
                    border-top: none;
                    border-bottom: none;

                    width: 180px;
                    height: 40px;

                    position: absolute;
                    top: 0;
                    left: -1px;
                    z-index: @zindex-tiny;

                    .submit {
                        display: inline-block;
                        vertical-align: top;

                        button {
                            padding: 1px 6px;
                        }
                    }

                    input {
                        font-size: 14px;
                    }
                }
            }

            .top-pager {
                padding-left: 10px;
                padding-right: 10px;
                float: right;

                &:hover {
                    background: none;
                    border-color: transparent;
                }

                ul {

                    li {
                        margin-left: 5px;
                        float: left;

                        .disabled {
                            color: #ccc;
                            font-size: 12px;
                        }

                        span {
                            color: #6d6d6d;
                            font-size: 12px;
                            position: relative;
                            top: -1px;

                            strong {
                                float: none;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .tab-filter {
            background: #fff;
            border: 1px solid #e6e6e6;
            border-top: 1px solid transparent;
            height: 36px;
            clear: left;

            input {
                vertical-align: text-bottom;
            }

            .promotion {
                background: #FB3E19;
                color: #fff;
                padding: 2px 4px;
            }
        }

        .icon-caret-down {
            position: relative;
            top: 2px;
        }
    }

    .nav-item {
        padding-left: 14px;
        padding-right: 14px;
        line-height: 1;

        &:hover a {
            color: @brand-primary;
        }

        .icon-angle-down {
            margin-left: 5px;
            font-size: 12px;
        }
    }

    .unlocal-tips {
        font-size: 18px;
        color: #6d6d6e;
        line-height: 26px;
        margin: 60px auto;
        text-align: center;
        position: relative;
        .left-line,
        .right-line {
            background-color: #e8e8e8;
            width: 250px;
            height: 1px;
            position: absolute;
            top: 26px;
        }
        .right-line {
            right: 0;
        }
    }

    .no-result {
        background: #FFFBEF;
        color: #3d3d3d;
        width: 700px;
        height: 100%;
        overflow: hidden;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
        margin: 10px auto;
        padding: 10px 30px;

        .occupancy {
            display: inline-block;
        }

        .occupancy:hover {
            text-decoration: underline;
        }
    }

    .match-no-result {
        text-align: left;
        line-height: 25px;
        min-height: 550px;
        color: #3d3d3d;

        .pic {
            text-align: center;
            padding-top: 120px;

            img {
                margin-bottom: 20px;
            }

            h1 {
                margin-bottom: 20px;
                font-size: 22px;

                .key {
                    color: @brand-primary;
                }
            }
        }

        .txt {
            background: #FFFBEF;
            border: 1px solid #F8CE69;
            width: 700px;
            height: 100%;
            overflow: hidden;
            color: #3d3d3d;
            margin: 10px auto;
            padding: 15px 30px;
            font-size: 14px;

            h1 {
                font-size: 18px;
                color: @brand-primary;
            }
            .signup {
                color: #5f85df;
                text-decoration: underline;
            }
        }
    }

    .lower {
        min-height: 480px;

        .pic {
            padding-top: 50px;
        }
    }

    .card-body {
        padding: 0px 0px 26px;
    }
}