{{ *

@file 教育信息
@author wangyujie

* }}

{{ strip }}
<div class="background">

    {{ function getBackgroundShowcase data=null }}

    <div class="form-trigger" data-background='{{ json_encode($data, 77) }}'>

        <div class="info-header">
            <i class="icon icon-mortarboard-o"></i>
            <h3 name="schoolInfo">教育信息</h3>
            <div class="edit">
                <i class="icon icon-pencil"></i>
                编辑
            </div>
        </div>

        <div class="info-body">

            <div class="info">
                <ul>

                    <li>
                        <div class="title">
                            大学：
                        </div>
                        <div class="cont">
                            {{ foreach $data.colleges as $item }}
                                <div>
                                    {{ $item.school_name }}&nbsp;-&nbsp;
                                    {{ if $item.enter_school }}
                                        {{ $item.enter_school }}年&nbsp;-&nbsp;
                                    {{ /if }}
                                    {{ $item.department_name }}
                                </div>
                            {{ /foreach }}
                        </div>
                    </li>

                    <li>
                        <div class="title">
                            高中：
                        </div>
                        <div class="cont">
                            {{ foreach $data.senior_schools as $item }}
                                <span>
                                    {{ $item.school_name }}&nbsp;-&nbsp;
                                    {{ if $item.enter_school }}
                                        {{ $item.enter_school }}年
                                    {{ /if }}
                                </span>
                            {{ /foreach }}
                        </div>
                    </li>

                    <li>
                        <div class="title">
                            中专技校：
                        </div>
                        <div class="cont">
                            {{ foreach $data.special_schools as $item }}
                                <span>
                                    {{ $item.school_name }}&nbsp;-&nbsp;
                                    {{ if $item.enter_school }}
                                        {{ $item.enter_school }}年
                                    {{ /if }}
                                </span>
                            {{ /foreach }}
                        </div>
                    </li>

                    <li>
                        <div class="title">
                            初中：
                        </div>
                        <div class="cont">
                            {{ foreach $data.middle_schools as $item }}
                                <span>
                                    {{ $item.school_name }}&nbsp;-&nbsp;
                                    {{ if $item.enter_school }}
                                        {{ $item.enter_school }}年
                                    {{ /if }}
                                </span>
                            {{ /foreach }}
                        </div>
                    </li>

                    <li>
                        <div class="title">
                            小学：
                        </div>
                        <div class="cont">
                            {{ foreach $data.primary_schools as $item }}
                                <span>
                                    {{ $item.school_name }}&nbsp;-&nbsp;
                                    {{ if $item.enter_school }}
                                        {{ $item.enter_school }}年
                                    {{ /if }}
                                </span>
                            {{ /foreach }}
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    {{ /function }}

    <script type="text/plain">
    {{ getBackgroundShowcase }}
    </script>

    {{ if isset($tpl_data.background) }}

    {{ getBackgroundShowcase data=$tpl_data.background }}

    {{ else }}

    <div class="noinfo form-trigger edit">

        <span class="desc">完善的教育信息帮你匹配更合适的老师</span>

        <i class="icon icon-round-edit"></i>
        <h3>教育信息</h3>

    </div>

    {{ /if }}

    {{ include file="./backgroundForm.html" }}

</div>
{{ /strip }}