{{ *

@file 机构-帮助中心
@author zengcheng

* }}

{{ strip }}

<div class="money" >

    <h2>财务管理</h2>
    <div class="tab-nav tab-nav-primary">
        <span class="nav-item{{ if !isset($extend) }} active{{ /if }}" data-floor='0'>课酬</span>
        <span class="nav-item" data-floor='1'>提现</span>
        <span class="nav-item" data-floor='2'>退款</span>
        <span class="nav-item{{ if isset($extend) && $extend == 'extend' }} active{{ /if }}" data-floor='3'>推广账户</span>
    </div>
    <div class="my-compensation">
        <h3>一、 担保交易和非担保交易的课酬结算有何区别？</h3>
        <p>
            担保及非担保交易为跟谁学平台提供的两种类型的课程交易服务。学生在买课时，可自主选择担保交易或非担保交易。目前视频课、微课仅支持非担保交易。<br/>
            1、  担保交易：学生如果选择担保交易，在每次课程结束后，需要学生手动确认课酬，机构才能得到该次课酬；如学生未主动确认，则在课程结束24小时后，系统自动确认课酬并进行资金结算。<br/>
            2、  非担保交易：非担保交易在学生完成订单支付时，机构可立即获得全部课程款。
        </p>

        <h3>二、 学生确认课酬后，什么时候可提现？</h3>
        <p>
            1 担保交易中，经过确认支付的课酬，会在下一个工作日（遇法定节假日顺延），结算至机构的可提现余额账户；可提现余额账户中的资金，机构可进行提现。<br/>
            2 非担保交易中（不包含先收费、再报名微课），学生支付订单的资金，会在支付成功的下一个工作日（遇法定节假日顺延），结算至机构可提现余额账户。<br/>
            3 先收费、再报名微课课酬在机构为订单办理报名后的下一个工作日（遇法定节假日顺延），结算至机构可提现余额账户。<br/>
            4 老师获得的跟谁学平台奖励、平台打款类资金，实时到达可提现余额账户。
        </p>

        <h3>三、 可提现余额包含哪些资金？</h3>
        <p>
            可提现余额，是可提现的实际资金金额，资金来源包括已结算的课酬、平台奖励、各类退款等。
        </p>

        <h3>四、 预期收入包含哪些资金？</h3>
        <p>
            预期收入，是指学生已经完成支付，但学生或者机构并未进行确认课酬操作的资金。<br/>
            1、  担保交易中，在学生支付订单时，订单总金额计入机构预期收入；学生分次确认课酬，每次确认课酬并结算至机构可提现余额时，该次课酬金额从预期收入中减去；当学生退款时，退款金额从机构预期收入中减去。<br/>
            2、  先收费、再报名的微课订单总金额在学生完成订单支付时计入机构预期收入。在机构为订单办理报名后，从预期收入中减去。<br/>
            3、  其他类型资金均不计入预期收入。
        </p>

        <h3>五、 累计收入包含哪些资金？</h3>
        <p>
            累计收入是指机构从入驻平台开始累计获得的收入金额。包括课程收入、平台打款、各类退款等来源是跟谁学平台的资金项。
        </p>

        <h3>六、 学币（苹果设备APP）购买的付费视频课，实得课酬是多少？为什么要扣除苹果渠道费？</h3>
        <p>
            苹果公司规定，苹果iOS设备APP内，付费视频课必须使用学币购买，苹果公司将收取学生实付课程金额的30%作为苹果渠道费。举例来说，一名学生在苹果iOS设备跟谁学APP内花费100学币（100元）购买该课程，老师或机构获得70%课程金额的实际收入，也即老师或机构实际获得70元。
        </p>
        <p class="import">
            学币购买视频课老师实得课酬 = 学生实付金额 - 苹果渠道费
            </p>
        <p class="import">
            即：苹果设备APP学币购买视频课老师实得课酬 = 学生实付金额 x 70%
        </p>
        <p>注：<br/>
            *学币是苹果设备APP内购买付费视频课所使用的虚拟币。<br/>
            *通过苹设备跟谁学学生APP 3.0.8以下版本购买付费直播课，苹果公司要针对直播课收取30%苹果渠道费，3.0.8及以上版本直播课不收取30%渠道费。
            <br/>
            *通过苹果设备跟谁学学生APP内购买1对1课程和线下班课产生的课酬，苹果公司不收取30%苹果渠道费。
            <br/>
            *通过安卓跟谁学学生APP、电脑PC端购买的所有课程，不收取渠道费。学生实际支付的金额即为您收到的课酬金额。
            <br/>
            *通过苹果设备跟谁学学生APP内购买的付费直播课、视频课无法使用优惠券。
        </p>
    </div>
    <div class="withdraw">
        <h3>一、 提现限额</h3>
        <p>单笔提现金额不超过50万元人民币。</p>

        <h3>二、 提现频次</h3>
        <p>同一个机构帐号每一个自然周可以发起两次提现。</p>

        <h3>三、 提现手续费</h3>
        <p>
            使用跟谁学机构版APP进行提现操作，不收取任何手续费用；登录跟谁学电脑网页版机构帐号进行提现操作，每一笔提现收取1元手续费。
        </p>

        <h3>四、 提现到账时间</h3>
        <p>
            一般情况下，工作日内提现当天到账。工作日20:00后以及周末进行提现，不能保证当日到账，最迟将在3-5个工作日内到账。以上提现时间遇法定节假日及部分特殊情况，可能会延迟。
        </p>
    </div>
    <div class="drawback">
        <h3>学生退款</h3>
        <p>
            担保交易中，学生退款成功后，退款金额会从预期收入中减去。
        </p>
    </div>
    <div class="popularize">
        <h3>一、 推广账户充值</h3>
        <p>
            1、   充值额度：使用企业网银、个人网银充值，单笔充值金额不低于1000元。使用钱包余额充值，没有最低限额。<br/>
            2、  充值手续费：第三方支付机构将收取10元每笔的充值手续费，目前，跟谁学将为机构承担推广账户充值手续费。<br/>
            3、  充值到账时间：每笔充值钱款，实时到达推广账户。
        </p>

        <h3>二、 推广账户扣费</h3>
        <p>机构在跟谁学平台每成功推广一次，系统将自动从推广账户中扣取推广费用。</p>

        <h3>三、 推广账户退费</h3>
        <p>
            1、  退费方式：仅支持推广账户金额退费至钱包余额。<br/>
            2、  退费手续费：每笔退费将收取退费金额1%的手续费
        </p>

    </div>



</div>

{{ /strip }}