@import '../../common/component/foreignAddrMap.less';
#address {
    padding: 40px 20px;
    margin-top: 14px;
    height: 380px;
    .title {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        line-height: 24px;
        color: #333333;
    }
    .details {
        #map {
            width: 380px;
            height: 260px;
            float: left;
        }
        .foreign-addr-map {
            float: left;
        }
        .contents {
            position: relative;
            top: 60px;
            width: 360px;
            float: right;
            .position {
                p {
                    line-height: 30px;
                }
                #header {
                    font-size: 14px;
                    color: #3c3d3d;
                    span {
                        font-size: 12px;
                    }
                }
                #addr {
                    font-size: 14px;
                    color: #6d6d6e;
                    span {
                        position: relative;
                        left: 40px;
                        a {
                            font-size: 12px;
                            color: #6187dc;
                            cursor: pointer;
                        }
                    }
                }
            }
            .route-query {
                margin-top: 30px;
                p {
                    font-size: 14px;
                    color: #3c3d3d;
                }
                .form-action {
                    line-height: 35px;
                    width: 70px;
                    text-align: center;
                    border-radius: 2px;
                    position: absolute;
                    right: 5px;
                    bottom: 6px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .form-label {
                    color: #6d6d6e;
                    font-size: 14px;
                }
                .normal {
                    background-color: #f5f5f5;
                }
                .active {
                    background-color: #ff9900;
                    color: #fff8ee;
                }
            }
        }
    }
}