
@import '../../common/component/EnrollSuccessDialog.less';
@import '../../common/component/guaranteeLabel.less';

.crumb {
    font-size: 12px;
    margin-bottom: @gap-vertical-medium;

    .course-number {
        color: #6d6d6d;
        float: right;
    }
    .related {
        display: none;
        position: absolute;
        top: 18px;
        left: 0;
        border: 1px solid #eee;
        border-radius: 3px;
        background-color: #fff;
        min-width: 100px;
        z-index: 1;
        min-width: 115px;
        li {
            float: none;
            line-height: 20px;
            padding: 5px 15px;
        }
    }

    .related-a {
        position: relative;
        display: inline-block;
        min-width: 10%;
        &:hover {
            .related {
                display: block;
            }
        }
    }
}

#courseInfo {
    .left {
        width: 480px;
        float: left;
        margin-right: 20px;
        .img {
            position: relative;
            width: 480px;
            height: 270px;
            .lists {
                img {
                    width: 480px;
                    height: 270px;
                    display: none;
                    &:first-child {
                        display: block;
                    }
                }
            }
            .leftBar {
                position: absolute;
                left: 5px;
                top: 120px;
                background-color: #ccc;
                line-height: 40px;
                width: 40px;
                height: 40px;
                text-align: center;
                cursor: pointer;
                opacity: 0.5;
                font-size: 20px;
            }
            .rightBar {
                position: absolute;
                right: 5px;
                top: 120px;
                background-color: #ccc;
                line-height: 40px;
                width: 40px;
                height: 40px;
                text-align: center;
                cursor: pointer;
                opacity: 0.5;
                font-size: 20px;
            }
        }
        .icons {
            li {
                display: inline-block;
                color: #999999;
                font-size: 14px;
                &:hover {
                    cursor: pointer;
                    color: #ff9900;
                }
                .hasfavored {
                    color: #ff9900;
                }
            }
            position: relative;
            left: 330px;
            margin-top: 20px;
        }
    }
    .right {
        position: relative;
        width: 540px;
        float: right;
        div {
            margin-bottom: 10px;
        }
        .promises {
            margin-top: 15px;
        }
        .title {
            font-size: 24px;
            position: relative;
            top: -8px;
            color: #333333;
        }
        .price {
            width: 500px;
            background-color: #f9f9f9;
            padding: 5px 0 10px 0;
            margin-bottom: 10px;
            li {
                display: inline-block;
                margin-right: 10px;
            }
            li.can-stage {
                margin: 5px 0 0 20px;
                display: block;
                .stage-desc {
                    color: #ff6c00;
                    font-size: 13px;
                }
                .stage-pay {
                    color: #ff9100;
                    font-size: 12px;
                    margin-left: 18px;
                    cursor: pointer;
                }
            }

            .now {
                color: #f95710;
                font-size: 26px;
                .icon {
                    font-size: 20px;
                    margin-right: 3px;
                }
                position: relative;
                top: 5px;
            }
            .previous {
                color: #b1b1b1;
                font-size: 12px;
                span {
                    text-decoration: line-through;
                }
                span.cheap-price {
                    text-decoration: none;
                }
            }
            .coupons {
                font-size: 12px;
                cursor: pointer;
                .icon-coupons {
                    color: #ff9900;
                }
            }
            .cps-scholarship {
                display: inline;
                padding: 5px;
                position: relative;
                border-radius: 2px;
                background: #FC5955;
                color: #fff;
                margin-left: 10px;
                top: 0;
                font-weight: normal;
                font-size: 13px;
                line-height: 13px;
                &:before,
                &:after {
                    border: 6px solid transparent;
                    content: ' ';
                    position: absolute;
                    top: 4px;
                }
                &:before {
                  border-right-color: #FC5955;
                  left: -12px;
                }
                &:after {
                  border-right-color: #FC5955;
                  left: -11px;
                }
            }
            .icon-safety-money {
                color: #24bb59;
                font-size: 20px;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
        .numbers,
        .arrange,
        .address {
            font-size: 12px;
            color: #333333;
            .zhekou-info{
                float: right;
                margin-right: 40px;
                color: #fff;
                padding: 0px 5px;
            }
            .price-tip-begin {
                background: #9e9e9e;
            }
            .price-tip-end {
                background: red;
            }
        }
        .get-coupon {
            .coupons {
                position: absolute;
                right: 75px;
                top: 65px;
                cursor: pointer;
                .icon-coupons {
                    color: #ff9900;
                }
                span {
                    color: #4e4e4e;
                }
            }
            .coupon {
                display: none;
                position: absolute;
                right: 80px;
                top: 90px;
                z-index: 3;
                .small-arrow,
                .big-arrow {
                    position: absolute;
                    display: block;
                }
                .small-arrow {
                    top: -6px;
                    right: 31px;
                    border-top: none;
                    border-left: solid 7px transparent;
                    border-right: solid 7px transparent;
                    border-bottom: solid 7px @brand-primary-lighter;
                    z-index: 2;
                }
                .big-arrow {
                    top: -7px;
                    right: 30px;
                    border-top: none;
                    border-left: solid 8px transparent;
                    border-right: solid 8px transparent;
                    border-bottom: solid 8px @brand-primary-light;
                }
                .coupon-list {
                    font-weight: normal;
                    background-color: @brand-primary-lighter;
                    border: 1px solid @brand-primary-light;
                    padding: 3 * @gap-vertical-medium;
                    box-shadow: 0 3px 3px #eee;
                    .clearfix();
                    li {
                        width: 170px;
                        height: 83px;
                        float: left;
                        margin: 0 @gap-horizontal-tiny;
                        .clearfix();
                    }
                    .coupon-info {
                        width: 130px;
                        float: left;
                        text-align: center;
                    }
                    .balance {
                        font-weight: bold;
                        font-size: 28px;
                        vertical-align: middle;
                        margin-top: @gap-horizontal-tiny;
                        em {
                            font-size: 40px;
                            font-family: 'Microsoft YaHei', sans-serif;
                        }
                    }
                    .threshold {
                        margin-top: -18px;
                    }
                    .status {
                        width: 16px;
                        float: left;
                        font-size: 16px;
                        line-height: 1.1em;
                        margin-left: 11px;
                    }
                    .coupon-color {
                        cursor: pointer;
                        background: url(../../../img/bg/coupon_color.png) no-repeat;
                        .status {
                            color: #fdd978;
                            margin-top: 7px;
                        }
                        .balance,
                        .threshold {
                            color: #985004;
                        }
                    }
                    .coupon-gray {
                        background: url(../../../img/bg/coupon_gray.png) no-repeat;
                        cursor: not-allowed;
                        .status {
                            color: #dedede;
                            margin-top: 16px;
                        }
                        .balance,
                        .threshold {
                            color: #6b6b6b;
                        }
                    }
                }

            }

        }
        .numbers {
            .applied {
                color: #ff9900;
            }
        }
        .arrange {
            .viewPlan {
                color: #6c8fde;
                cursor: pointer;
            }
        }
        .buttons {
            width: 540px;
            height: 40px;
            position: relative;
            top: 10px;
            > div {
                display: inline-block;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .chat-label {
                width: 135px;
                line-height: 40px;
                margin-left: 0;
                border: 1px solid #f95710;
                border-radius: 1px;
                text-align: center;
                font-size: 16px;
                color: #f95710;
                &:hover {
                    background-color: #f95710;
                    color: #feeeeb;
                    cursor: pointer;
                }
            }
            .primary {
                min-width: 135px;
                padding: 0 10px;
                line-height: 42px;
                background-color: #f95710;
                border-radius: 1px;
                text-align: center;
                font-size: 16px;
                color: #feeeeb;
                &:hover {
                    cursor: pointer;
                    background-color: #e64e0e;
                }
            }
            .primary-enter-room {
                width: 135px;
                line-height: 42px;
                background-color: #5fb41b;
                border-radius: 1px;
                text-align: center;
                font-size: 16px;
                color: #ffffff;
                &:hover {
                    cursor: pointer;
                    background-color: #56a118;
                }
            }
            .default {
                min-width: 135px;
                padding: 0 10px;
                line-height: 42px;
                background-color: #f9f9f9;
                border-radius: 1px;
                text-align: center;
                font-size: 16px;
                color: #9E9E9E;
                &:hover {
                    cursor: pointer;
                }
            }
            .online-trial {
                width: 135px;
                line-height: 42px;
                text-align: center;
                background-color: #1db954;
                font-size: 16px;
                color: #fff;
                cursor: pointer;
                &:hover {
                    background-color: #1da854;
                }
            }
            .btn-trial {
                width: 135px;
                line-height: 40px;
                border-radius: 1px;
                text-align: center;
                border: 1px solid #f95710;
                font-size: 16px;
                color: #f95710;
                cursor: pointer;
                &:hover {
                    background-color: #f95710;
                    color: #feeeeb;
                }
            }
            .disabled {
                cursor: not-allowed;
                color: #c7c7c7 !important;
                background-color: #fcfcfc !important;
            }
            .phone {
                width: 155px;
                font-size: 12px;
                color: #333333;
                position: relative;
                top: 10px;
                left: 15px;
            }
            .see-replay {
                width: 135px;
                line-height: 42px;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
                background-color: #f60;
                color: #fff;
                margin-right: 15px;
                &:hover {
                    background-color: #f50;
                }
            }
        }
        .is-sign {
            position: absolute;
            left: 396px;
            top: 129px;
            background: url(../../../img/bg/ic_apply.png);
            width: 100px;
            height: 100px;
        }
        .recent-time {
            position:absolute;
            left: 0px;
            top: 297px;
            font-family: PingFang-SC-Regular;
            font-size: 13px;
            color: #6D6D6E;
            letter-spacing: 0;
            
        }
    }
}
.stage-dialog {
    .dialog-close {
        font-size: 30px;
        color: #999;
    }
    .dialog-header {
        background-color: #fff;
        text-align: center;
        font-size: 26px;
        color: #333;
        border: none;
    }
    .inner-box {
        width: 440px;
        margin: 0 auto;
        text-align: center;
        .stage-item {
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 193px;
            height: 69px;
            display: inline-block;
            text-align: center;
            padding-top: 5px;
            cursor: pointer;
            span {
                display: block;
                font-size: 18px;
                color: #999;
            }
            .stage-detail {
                font-size: 20px;
                color: #333;
            }
            margin-bottom: 20px;
        }
        .special {
            margin-left: 52px;
        }
        .selected {
            border: 1px solid #fc6c21;
            span {
                color: #fc6c21;
            }
            .stage-detail {
                color: #fc6c21;
            }
        }
        .stage-buy {
            background: #ff9900;
            border-radius: 2px;
            width: 170px;
            line-height: 44px;
            text-align: center;
            font-size: 20px;
            color: #ffffff;
            margin: 0 auto;
            margin-top: 14px;
            cursor: pointer;
        }
    }
    .three-items {
        width: 671px;
        margin: 0 auto;
        text-align: center;
        .special {
            margin: 0 20px;
        }
    }
}


