
#courseIntro {
    padding: 30px 60px;
    margin-top: 14px;
    .title {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        line-height: 24px;
        color: #333333;
    }
    .details {
        p {
            margin-bottom: 15px;
            font-size: 14px;
            color: #333333;
            .tip {
                color: #6d6d6e;
            }
            .icon-speaker,
            .speaker {
                color: #ff9900;
            }
        }
        .courseInfo {
            margin-bottom: -20px;
            .tip {
                color: #6d6d6e;
            }
            p {
                color: #333333;
                position: relative;
                top: -20px;
                left: 70px;
                display: inline-block;
                width: 630px;
            }
        }
        .broadcast {
            color: #ff9900;
            .icon {
                margin-right: 10px;
            }
        }
    }
}