#othersLearn {
    padding: 20px;
    height: 220px;
    margin-bottom: 30px;
    .title {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        line-height: 24px;
        color: #333333;
    }
    .lists {
        .item {
            width: 180px;
            text-align: center;
            margin-right: 13px;
            float: left;
            &:last-child {
                margin-right: 0;
            }
            img {
                width: 180px;
                height: 110px;
            }
            p {
                color: #6d6d6e;
                &:hover {
                    color: #ff9900;
                }
            }
        }
    }
}