#teachOutline {
    margin-top: 14px;
    padding: 30px 20px;
    .title {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        line-height: 24px;
        color: #333333;
    }
    .timeArrange {
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        color: #6187dc;
    }
    .details {
        table {
            width: 100%;
            margin: 0 auto;
            tr {
                border-bottom: 1px solid #eeeeee;
                line-height: 50px;
                color: #333333;
            }
            .classOver {
                color: #9d9e9e;
            }
        }
    }
    .viewAll {
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
        line-height: 40px;
        color: #9d9e9e;
        background-color: #fafafa;
        &:hover {
            cursor: pointer;
        }
    }
}