/**
 * @file 一对一课程详情页 － 上课地址
 * @author wangyujie
 */
#course-address {
    @course-address-map-width: 410px;
    @course-address-map-height: 300px;

    .content {
        padding-top: @gap-vertical-large;
    }

    #course-address-map {
        width: @course-address-map-width;
        height: @course-address-map-height;
    }

    .info {
        width: 350px;
        margin-left: @gap-horizontal-large;

        line-height: 30px;

        & > div {
            padding: 20px 0;
        }

        float: right;
    }

    .address {
        border-bottom: 1px solid @brand-gray;
    }

    .map {
        float: right;
    }

    h4 {
        font-size: @font-size-medium;
        color: @brand-primary;
    }

    .anchorBL {
        display: none;
    }
}