/**
 * @file 一对一课程详情页 － 课程头信息
 * @author wangyujie
 */
#course-profile {
    .clearfix();
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;

    .baseinfo {
        width: 558px;
        float: right;
        position: relative;

        h1 {
            font-size: @font-size-large;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .course-tag {
                background: url(../../../img/bg/tag_bg.png) no-repeat;
                color: #fff;
                display: inline-block;
                font-size: 10px;
                width: 48px;
                height: 18px;
                line-height: 18px;
                padding-left: 8px;
                margin-left: @gap-horizontal-medium;
                position: relative;
                top: -2px;
            }
        }
        .info {
            position: relative;
            z-index: 1;
            li {
                font-size: 12px;
                .label {
                    color: @brand-text-lighter;
                    font-size: 14px;
                    padding-left: @gap-horizontal-medium;
                    margin-right: @gap-vertical-small;
                }
            }
            .price {
                background-color: #f9f9f9;
                font-weight: bold;
                line-height: 50px;
                margin-top: 15px;
                .content {
                    color: #f95710;
                    font-size: 26px;
                    position: relative;
                    top: 3px;
                    em,
                    strong {
                        font-size: 24px;
                    }
                    em {
                        font-weight: normal;
                    }
                }
                .can-stage {
                    display: inline-block;
                    line-height: 17px;
                    color: #fff;
                    background-color: #37A4F5;
                    text-align: center;
                    font-size: 9px;
                    margin-left: 12px;
                    font-weight: lighter; 
                    cursor: pointer;
                    padding: 0 2px;              
                }
            }
            .view-prices {
                font-weight: lighter;
                font-size: 12px;
                color: #6187dc;
                display: inline-block;
                margin-left: 14px;
                cursor: pointer;
            }
            .cps-scholarship {
                display: inline;
                padding: 5px;
                position: relative;
                border-radius: 2px;
                background: #FC5955;
                color: #fff;
                margin-left: 10px;
                top: 0;
                font-weight: normal;
                font-size: 13px;
                line-height: 13px;
                &:before,
                &:after {
                    border: 6px solid transparent;
                    content: ' ';
                    position: absolute;
                    top: 4px;
                }
                &:before {
                  border-right-color: #FC5955;
                  left: -12px;
                }
                &:after {
                  border-right-color: #FC5955;
                  left: -11px;
                }
            }
            .icon-safety-money {
                color: #24bb59;
                font-size: 20px;
                margin-left: 10px;
                vertical-align: middle;
            }
            .main-teacher {
                border-bottom: 1px solid @border-color-gray;
                line-height: 40px;
                em {
                    &:after {
                        content: '|';
                        color: #ddd;
                        padding: @gap-horizontal-medium;
                    }
                    &:last-child:after {
                        content: '';
                    }
                }
            }
            .course-type {
                line-height: 40px;
            }
            .address a {
                color: #6187dc;
                margin-left: 10px;
                cursor: pointer;
            }
            .enroll {
                .clearfix();
                margin: 15px 10px;
                position: relative;

                .btn-primary {
                    width: 135px;
                    background-color: #f95710;
                    border-color: #f95710;
                    font-size: 16px;
                }
                .reserve-listen {
                    background-color: #fff;
                    border: 1px solid #f95710;
                    border-radius: 2px;
                    cursor: pointer;
                    color: #f95710;
                    font-size: 16px;
                    width: 135px;
                    height: 39px;
                    line-height: 39px;
                    &:hover {
                        background-color: #f95710;
                        color: #fff;
                    }
                }
                .enroll-listen {
                    float: left;
                    margin-right: 20px;
                }
                .enroll-action.enrolling {
                    display: none;
                }
                .enroll-action.show {
                    .inline-block();
                }
            }
            .promise {
                margin-top: @gap-vertical-medium;
                .class-course-icon {
                    display: inline;
                }
                .label {
                    color: @brand-text-lighter !important;
                    margin-right: 0px;
                }
            }

        }
    }

    .get-coupon {
        float: right;
        color: @brand-text-light;
        cursor: pointer;
        font-size: 14px;
        padding-right: 10px;
        .icon-coupons {
            color: @brand-primary;
            font-size: 16px;
            margin-right: @gap-horizontal-tiny;
            vertical-align: middle;
        }
    }

    .coupon {
        display: none;
        position: absolute;
        right: 0;
        top: 45px;
        z-index: 10;
        .small-arrow,
        .big-arrow {
            position: absolute;
            display: block;
        }
        .small-arrow {
            top: -6px;
            right: 31px;
            border-top: none;
            border-left: solid 7px transparent;
            border-right: solid 7px transparent;
            border-bottom: solid 7px @brand-primary-lighter;
            z-index: 2;
        }
        .big-arrow {
            top: -7px;
            right: 30px;
            border-top: none;
            border-left: solid 8px transparent;
            border-right: solid 8px transparent;
            border-bottom: solid 8px @brand-primary-light;
        }
    }

    .coupon-list {
        font-weight: normal;
        background-color: @brand-primary-lighter;
        border: 1px solid @brand-primary-light;
        padding: 15px 8px;
        box-shadow: 0 3px 3px #eee;
        .clearfix();
        li {
            width: 170px;
            height: 83px;
            float: left;
            margin: 0 @gap-horizontal-tiny;
            .clearfix();
        }
        .coupon-info {
            width: 130px;
            float: left;
            text-align: center;
        }
        .balance {
            font-weight: bold;
            font-size: 28px;
            vertical-align: middle;
            margin-top: @gap-horizontal-tiny;
            em {
                font-size: 40px;
                font-family: 'Microsoft YaHei', sans-serif;
            }
        }
        .threshold {
            margin-top: -10px;
            line-height: 21px;
        }
        .status {
            width: 16px;
            float: left;
            font-size: 16px;
            line-height: 1.1em;
            margin-left: 11px;
        }
        .coupon-color {
            cursor: pointer;
            background: url(../../../img/bg/coupon_color.png) no-repeat;
            .status {
                color: #fdd978;
                margin-top: 7px;
            }
            .balance,
            .threshold {
                color: #985004;
            }
        }
        .coupon-gray {
            background: url(../../../img/bg/coupon_gray.png) no-repeat;
            cursor: not-allowed;
            .status {
                color: #dedede;
                margin-top: 16px;
            }
            .balance,
            .threshold {
                color: #6b6b6b;
            }
        }
    }

}

#teacher-media {
    float: left;
    .show-teacher-media {
        width: 480px;
        height: 270px;
        margin-bottom: 2px;
        overflow: hidden;
        position: relative;
        text-align: center;
        &:hover {
            .promotion-slider-left,
            .promotion-slider-right {
                display: block;
            }
        }

        .promotion-slideritem {
            b {
                cursor: pointer;
            }
        }

        .wrapper-video {
            position: relative;
            .video-player {
                .opacity(0.5);
                cursor: pointer;
                position: absolute;
                top: 110px;
                left: 215px;
                background: url(../../../img/course/player.png);
                width: 50px;
                height: 50px;
                &:hover {
                    .opacity(0.8);
                }
            }
        }
    }
    .promotion-slider-left,
    .promotion-slider-right {
        color: #fff;
        background-color: #000;
        .opacity(0.3);

        &:hover {
            .opacity(0.6);
        }

        position: absolute;
        top: 50%;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        text-align: center;

        i {
            position: relative;
            top: 2px;
            right: 2px;
        }
    }
    .promotion-slider-left {
        left: 10px;
    }
    .promotion-slider-right {
        right: 10px;

        i {
            left: 1px;
        }
    }
    .promotion-slider {
        position:absolute;
        .clearfix();

        li {
            float: left;
            height: 270px;
        }
    }

    .action {
        color: @brand-text-lighter;
        float: right;
        margin-top: @gap-vertical-medium;
        margin-left: @gap-horizontal-medium;
        z-index: 2;
        .user-select(none);

        > li {
            display: inline-block;
            cursor: pointer;
            &:hover {
                color: @brand-primary;
                .transition(0.1s color);
            }
        }

        .baidu-share {
            right: -6px;
        }

        .social-share {
            position: relative;
            margin-right: 20px;
            margin-left: 8px;
        }

        .use-mobile {
            border: 1px solid transparent;
            border-top: none;
            width: 100px;
            text-align: center;

            .qrcode {
                display: none;
            }
        }

        .has-qrcode {
            background-color: #fff;
            border: 1px solid #ddd;
            border-top: none;
            border-radius: 2px;
            position: relative;
            .qrcode {
                background-color: #fff;
                display: block;
                position: absolute;
                top: -95px;
                left: -1px;
                border: 1px solid #ddd;
                border-bottom: none;
                padding: 9px;
                padding-bottom: 0;
            }
        }
    }

}