/**
 * @file 一对一课程详情页 - 关于老师
 * @author wangyujie
 */
#course-teacher {

    .icon-vip-vip,
    .icon-vip-gvip,
    .icon-vip-cvip {
        margin-left: 5px;
        margin-right: 5px;
        width: 19px;
        height: 19px;
    }

    .icon-vip-vip {
        background: url(../../../img/userCenter/small-vip.png);
    }
    .icon-vip-gvip {
        background: url(../../../img/userCenter/small-gvip.png);
    }
    .icon-vip-cvip {
        background: url(../../../img/userCenter/small-cvip.png);
    }

    .profile {
        .clearfix();
        margin: 20px;
        &:before,
        &:after {
            display: none;
        }
        .info {
            display: inline-block;
            line-height: 22px;
            margin-left: 15px;
            vertical-align: top;
        }
        .teacher-name {
            font-size: 16px;
            a {
                color: #333;
                &:hover {
                    color: @brand-primary;
                }
            }
            .chat-label {
                margin-left: @gap-horizontal-small;
            }
        }
        .teacher-pro,
        .teacher-age {
            font-size: 12px;
            span {
                color: @brand-text-lighter;
            }
        }
        .teacher-intro {
            margin-top: @gap-vertical-tiny;
            max-width: 640px;
        }
        .auth {
            .clearfix();
            font-size: 12px;
            li {
                float: left;
                margin-right: @gap-horizontal-medium;
                .icon {
                    margin-right: @gap-horizontal-tiny;
                    vertical-align: top;
                }
            }
        }
    }
}

#teacher-experience,
#teacher-success {
    margin: 0 auto 20px;
    padding-bottom: 20px;

    h4.title {
        color: #333333;
        font-size: 16px;
        margin: 20px;
    }

    .list {
        border-left: 1px solid #f2f4f5;
        margin-left: 20px;
    }

    li {
        position: relative;
        margin-left: 14px;
        margin-bottom: 3 * @gap-vertical-medium;
        border: 1px solid transparent;
        padding-left: 10px;

        .icon-circle-o {
            background-color: #fff;
            position: absolute;
            color: #CCCCCC;
            top: 3px;
            left: -22px;
        }
        .title {
            color: @brand-text-light;
            margin-bottom: @gap-vertical-tiny;
            .date {
                margin-right: @gap-horizontal-small;
            }
        }
        .detail {
            color: @brand-text-lighter;
            word-wrap: break-word;
        }

    }

    .no-experience,
    .no-success {
        text-align: center;

        .wenzai {
            background-image: url(../../../img/teacher/media_empty.png);
            width: 89px;
            height: 112px;
            margin: 0 auto;
        }

        span {
            display: block;
            font-size: 16px;
            color: #999999;
            margin: 10px auto 20px;
        }
    }
}
