/**
 * @file 一对一课程详情页 - 会员模板
 * @author wangyujie
 */

.vip_template {

    #content {
        background: transparent;
        border: none;
        .header {
            .nav-item-container {
                a {
                    border-left: 1px solid #e8f2f4;
                    width: 25%;
                    span {
                        border: none;
                    }
                }
            }
        }
        .body {
            padding: 0;
            .card {
                margin-top: @gap-vertical-huge;
                padding: @gap-vertical-huge @gap-horizontal-huge;
            }
            h3 {
                border: none;
                color: #333;
                font-weight: normal;
                text-align: center;
                margin-top: 0;
                span {
                    border: none;
                    padding: 0;
                }
            }
        }

        #teacher-comment {
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    &.skin101 {
        background: url(../../../img/one2one/bg_blue.png);
        .main_contain {
            background: url(../../../img/one2one/bg_blue_t.png) repeat-x;
        }
    }

    &.skin102 {
        background: url(../../../img/one2one/bg_purple.png);
        .main_contain {
            background: url(../../../img/one2one/bg_purple_t.png) repeat-x;
        }
    }

    &.skin201 {
        background: url(../../../img/one2one/bg_watercolor.png);
        .main_contain {
            background: url(../../../img/one2one/bg_watercolor_t.png) repeat-x;
        }
    }

    &.skin301 {
        background: #eff0f4;
        .main_contain {
            background: url(../../../img/one2one/bg_flower_t.png) repeat-x;
        }
    }


}