
{{ *
   * @file 主站统一头部尾部的base
   * @author peilonghui
* }}

{{ extends file="common/pc/base.html" }}

{{ block name="data" }}
{{ strip }}
    {{ $smarty.block.parent }}
    {{ * 是否显示导航栏最右侧的宣传片链接 * }}
    {{ $nav_config.video = 0 }}

    {{ * 课程分类浮层是否可展开收起 * }}
    {{ $nav_config.popup = 1 }}

    {{ * active可以取值index, student, teacher, app 导航栏中选中的itemkey * }}
    {{ $nav_config.active = '' }}

    {{ * hidden是否不显示导航栏，现在活动页面是不显示的 * }}
    {{ $nav_config.hidden = 0 }}

    {{ $footer_config = [] }}
    {{ * 默认显示footer * }}
    {{ $footer_config.hidden = 0 }}

    {{ * 城市信息 * }}
    {{ $script_data.cityDomain = $curr_city.domain }}
    {{ * 全国站 * }}
    {{ $script_data.isWWW = $tpl_data.is_www|default: false }}

    {{ $amd_more = [ 'common/main/component/header_40e06bdd81' ] }}
{{ /strip }}
{{ /block }}

{{ block name="body" }}
{{ strip }}

    {{ $smarty.block.parent }}

    {{ include file="common/siteNav.html" }}
    {{ include file="common/main/common/header.html" }}
    {{ include file="common/main/common/nav.html" }}

    {{ block name="main" }}{{ /block }}

    {{ if !$footer_config.hidden }}
    {{ include file="common/footer.html" }}
    {{ /if }}

    {{ block name="inner_link" }}{{ /block }}

    {{ $amd_more[] = 'common/main/component/category-data_04d651dfff' }}
    {{ $amd_more[] = 'common/main/component/category_77ec8eb9b9' }}
    {{ * $static_more[] = 'common/main/component/category-data' * }}

    {{ include file="common/script.html" }}

    {{ block name="script" }}
    {{ /block }}

{{ /strip }}
{{ /block }}

