{{ *

@file 城市切换页
@author liucong

* }}

{{ extends file="common/main/base.html" }}

{{ block name="data" }}
    {{ $smarty.block.parent }}

    {{ $script_path = "common/main/changeCity_6102bfd054" }}

    {{ $script_data.alphabetCities = $tpl_data.city }}

    {{ if isset($smarty.get.sd) && $smarty.get.sd }}
        {{ $script_data.sd = $smarty.get.sd }}
    {{ /if }}

    {{ if isset($smarty.get.next) }}
        {{ $script_data.next_url = $smarty.get.next }}
    {{ /if }}
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/common/main/changeCity_5e3676fcdb.css">
{{ /block }}

{{ block name="main" }}
{{ strip }}

{{ function name="getCityUrl" }}

    {{ if isset($smarty.get.sd) && $smarty.get.sd }}
        {{ if $env == "test" }}
            http://www.genshuixue.com/{{ $domain }}/?sd={{ $smarty.get.sd }}
        {{ else if $env == "beta" }}
            http://www.genshuixue.com/{{ $domain }}/?sd={{ $smarty.get.sd }}
        {{ else }}
            http://www.genshuixue.com/{{ $domain }}/?sd={{ $smarty.get.sd }}
        {{ /if }}
    {{ else }}
        {{ if $env == "test" }}
            http://www.genshuixue.com/{{ $domain }}/
        {{ else if $env == "beta" }}
            http://www.genshuixue.com/{{ $domain }}/
        {{ else }}
            http://www.genshuixue.com/{{ $domain }}/
        {{ /if }}
    {{ /if }}


{{ /function }}

<div id="main">
    <div class="wrapper">
        <div class="search-header">
            <div class="form-group city-select">
                <label class="form-label">按省份选择</label>
                <div class="form-controls">
                    {{ include file="common/component/citySelect.html" }}
                    <button class="btn-comfirm btn-info">确定</button>
                </div>
            </div>

            <div class="form-group city-search">
                <label class="form-label">直接输入城市</label>
                <div class="form-controls">
                    <input type="text" class="search-input form-text"/>
                    <ul class="search-suggestion"></ul>
                </div>
            </div>
        </div>

        <div class="hot-cities list">
            <span class="title">热门城市：</span>
            <ul>
                {{ if isset($tpl_data.hotcity) }}
                    {{ foreach $tpl_data.hotcity as $city_item }}
                    <li>
                        <a href="{{ getCityUrl domain=$city_item.domain }}" data-id="{{ $city_item.id }}" data-domain="{{ $city_item.domain }}"
                        {{ if $city_item.id=="17039360" }}
                        class="hover"
                        {{ /if }}>
                            {{ $city_item.name }}
                        </a>
                    </li>
                    {{ /foreach }}
                {{ /if }}
            </ul>
        </div>

        <div class="cities-list list">
            <div class="alphabet-list">
                <span class="title">按拼音首字母选择：</span>
                <ul>
                    {{ if isset($tpl_data.city) }}
                        {{ foreach $tpl_data.city as $alphabet=>$cities_group }}
                        <li>
                            <a href="#alphabet-{{ $alphabet }}" class="alphabet-index" >
                                {{ $alphabet|upper }}
                            </a>
                        </li>
                        {{ /foreach }}
                    {{ /if }}
                </ul>
            </div>
            <div class="alphabet-cities">
                {{ if isset($tpl_data.city) }}
                    {{ foreach $tpl_data.city as $alphabet=>$cities_group }}
                    {{ if $cities_group|count > 0 }}
                    <dl id="alphabet-{{ $alphabet }}">
                    <dt>{{ $alphabet|upper }}</dt>
                        <dd>
                            {{ foreach $cities_group as $city_item }}
                                <a href="{{ getCityUrl domain=$city_item.domain }}" data-id="{{ $city_item.id }}" data-domain="{{ $city_item.domain }}" class="{{ $city_item.city_type }}">
                                    {{ $city_item.name }}
                                </a>
                            {{ /foreach }}
                        </dd>
                    </dl>
                    {{ /if }}
                    {{ /foreach }}
                {{ /if }}
            </div>
        </div>

        <p class="reminder">如果没有您要找的城市，请拨打4000-910-910，010-86448910联系我们，该城市开通分站后，我们会在第一时间联系您</p>
    </div>
</div>
{{ /strip }}
{{ /block }}