@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

.main-container {
    .box {
        margin-top: rem(10);
        margin-bottom: rem(15);
        background: white;
        padding: 0 rem(12);
    }
    .first-nav {
        margin-top: rem(10);
        border-bottom: 1px solid #dcddde;
        padding: rem(8) 0;
        p {
            font-family:HiraginoSansGB-W3;
            font-size:rem(14);
            color:#3d3d3d;
            line-height: rem(30);
        }
    }
    .second-nav {
        .title {
            margin-top: rem(12);
            text-align: justify;
            font-family: HiraginoSansGB-W3;
            font-size: rem(14);
            color: #3d3d3d;
            .title-box{
                /*position: relative;
                height: 50px;*/
                .text {
                    float: left;
                    /*margin-left: 8px;*/
                    width: 20%;
                }
                .fenqi-need-all-money {
                    float: right;
                    width: 60%;
                    text-align: right;
                    margin-right: rem(10);
                }
            }
        }
        .stagingBox {
            text-align: left;
            margin-top: rem(15);
            .staging-item {
                width: 46%;
                display: inline-block;
                border: 1px solid #9d9d9e;
                margin-left: rem(5);
                margin-right: rem(5);
                border-radius: rem(2);
                margin-bottom: rem(15);
                padding: rem(8) 0;
                text-align: center;
                .money {
                    font-family:HiraginoSansGB-W3;
                    font-size:rem(14);
                    color:#3d3d3d;
                    margin-bottom: rem(4);
                }
                .fee {
                    font-family:HiraginoSansGB-W3;
                    font-size:rem(12);
                    color:#9d9e9e;
                }
            }
            .active {
                border: 1px solid #ff9900;
                .money {
                    color: #ff9900;
                }
                .fee {
                    color: #ff9900;
                }
            }
        }
    }
    .second-nav-unable {
        margin-top: rem(10);
        font-family:HiraginoSansGB-W3;
        font-size:rem(14);
        color:#3d3d3d;
        padding-bottom: rem(10);
        text-align: justify;
    }
    .button, .other-button {
        width: 90%;
        text-align: center;
        background: #ff9900;
        margin-left: 5%;
        padding: rem(10) 0;
        color: white;
    }
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1000;
    opacity: 0.8;
    text-align: right;
    img {
        width: 70%;
        margin-top: rem(20);
        margin-right: rem(15);
    }
    &.hide {
        display: none;
    }
}