{{ *
@file 老师中心 资料库
@author liucong, wangyujie
 * }}

{{ extends file="common/center/base.html" }}

{{ block name="title" prepend }}
资料库 -
{{ /block }}

{{ block name="data" }}

    {{ $smarty.block.parent }}
    {{ $nav_active_tab = 'index' }}

    {{ $script_path = "teacherCenter/netdisk_6de0e295cb" }}
    {{ $script_data.path = $tpl_data.path }}
    {{ $script_data.isOrgTeacher = $tpl_data.is_org_teacher }}
    {{ $script_data.quotaUsed = $tpl_data.quota_used }}
    {{ $script_data.quotaTotal = $tpl_data.quota_total }}
    {{ $script_data.userNumber = $user_data.number }}

    {{ if isset($tpl_data.is_live) && $tpl_data.is_live  }}
        {{ $script_data.storageEnv = 'public' }}
    {{ else }}
        {{ $script_data.storageEnv = 'private' }}
    {{ /if }}

{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/teacherCenter/netdisk_088e19b001.css">
{{ /block }}

{{ block name="main" }}
{{ include file="teacher_center/common/sidebar.html" active="netdisk" }}
<div id="content">
    <div class="card">
        <div class="card-header">
            <div class="search">
                <i class="icon icon-search"></i>
                <form id="search-form">
                    <input type="text" class="form-text small" placeholder="搜索全部资料">
                </form>
                <button id="search-btn" class="btn-default small">搜索</button>
            </div>
            <h2>资料库</h2>
            {{ * <span>温馨提示：你的资料在线教室可以直接使用哦，在线授课更便捷！</span> * }}
        </div>
        <div id="netdisk-container">

            {{ if !$tpl_data.bar_hidden }}
            <div class="tool-bar">

                <input type="file" name="files" multiple>
                <button class="btn-primary new small add" data-action="add">
                    <i class="icon icon-plus"></i>
                    添加资料
                </button>
                <button class="btn-default small download" data-action="download">
                    <i class="icon icon-download"></i>
                    下载
                </button>
                {{ *
                <button class="btn-default small share" data-action="share">
                    <i class="icon icon-share-o"></i>
                    分享
                </button>
                * }}
                <button class="btn-default small move" data-action="move">
                    <i class="icon icon-move-file"></i>
                    移动到
                </button>
                <button class="btn-default small rename" data-action="rename">
                    <i class="icon icon-rename"></i>
                    重命名
                </button>
                <button class="btn-default small delete" data-action="delete">
                    <i class="icon icon-recycle-bin"></i>
                    删除
                </button>
                <button class="btn-default small new-folder" data-action="new-folder">
                    <i class="icon icon-new-folder"></i>
                    新建文件夹
                </button>
            </div>
            {{ /if }}

            <div class="card-body{{ if empty($tpl_data.objects) }} empty-body{{ /if }}">
                <div id="netdisk-table">
                    <div class="table-container">
                        {{ include file="teacher_center/netdisk/netdiskTable.html" tpl_data=$tpl_data }}
                    </div>

                    <div class="empty">
                        <img src="{{ $static_origin }}/asset/img/teacher-center/add-class-course_a6543ae289.jpg" >
                        <div>点击左上角的“添加资料”按钮开启你的跟谁学资料库之旅吧</div>
                    </div>

                    <div class="no-result">
                        <img src="{{ $static_origin }}/asset/img/teacher-center/no-class-course_d6002d7ec5.jpg" >
                        <div>抱歉，没有找到符合你筛选的资料</div>
                    </div>

                    <form id="edit-form" class="form">
                        <div class="form-group">
                            <div class="form-controls">
                                <input type="text" class="form-text" name="name">
                                <span class="error"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{{ /block }}