{{ *
@file 预约试听课 － 设置试听课
@author wangyujie
* }}

{{ extends file="common/center/base.html" }}

{{ block name="data" }}
    {{ $smarty.block.parent }}
    {{ $nav_active_tab = 'index' }}

    {{ $script_path = "teacherCenter/upsertTrialCourse_006ba394bf" }}

    {{ $script_data.supportOnlineOnly = $tpl_data.support_online_only }}
    {{ $script_data.trialId = $tpl_data.id }}
    {{ $script_data.switchFlag = $tpl_data.switch_flag }}
    {{ $script_data.trialTime = $tpl_data.length }}
    {{ $script_data.priceOnline = $tpl_data.price_online }}
    {{ $script_data.priceOffline = $tpl_data.price_offline }}

{{ /block }}

{{ block name="title" prepend }}
预约试听 - 设置试听课
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/asset/css/teacherCenter/upsertTrialCourse_ac11b41931.css">
{{ /block }}

{{ block name="main" }}

{{ strip }}

    {{ include file="teacher_center/common/sidebar.html" active="trialCourse" }}

    <div id="content" class="card">

        <div class="card-header">
            <h2>预约试听</h2>
        </div>

        <div class="card-body">

            <div class="tab-nav tab-nav-info">
                <a  href="/teacher_center/trial_course" class="nav-item">预约列表</a>
                <a class="nav-item active">试听设置</a>
            </div>

            <div class="tab－content">
                <div class="tab-panel">
                    {{ include file="teacher_center/trial/setTrial.html" }}
                </div>
            </div>

        </div>

    </div>

{{ /strip }}
{{ /block }}
