{{ *
    SEM K12聚合页 - 课程列表模板

    courses 课程列表
* }}

{{ if isset($courses) }}
    {{ $tpl_data.data = $courses }}
{{ /if }}

{{ strip }}
<ul>
    {{ foreach $tpl_data.data as $item }}
    <li class="course">
        <div class="course-img">
            <a href="/teacher/classCourseDetail/{{ $item.number }}?source={{ $tpl_data.params.source }}&plan={{ $tpl_data.params.plan }}&group={{ $tpl_data.params.group }}&keyword={{ $tpl_data.params.keyword }}&q={{ $tpl_data.params.q }}" target="_blank">
                {{ include file="common/component/image.html" url=$item.photo_url width=254 height=140 alt="特价课程" }}
            </a>
            <span class="course-title">
                <a href="/teacher/classCourseDetail/{{ $item.number }}?source={{ $tpl_data.params.source }}&plan={{ $tpl_data.params.plan }}&group={{ $tpl_data.params.group }}&keyword={{ $tpl_data.params.keyword }}&q={{ $tpl_data.params.q }}" target="_blank" data-title="{{ $item.name }}" data-width="20em">
                    {{ $item.name|cn_truncate:16 }}
                </a>
            </span>
        </div>
        <div class="course-content">
            <div class="course-status">
                <span class="price">
                    {{ $item.price }}
                    <em>￥</em>
                </span>
                <span class="num">
                    {{ if $item.total_pay > 9999 }}
                        9999+
                    {{ else }}
                        {{ $item.total_pay }}
                    {{ /if }}
                    <em>人已报名</em>
                </span>
            </div>
            <div class="course-info">
                <div class="course-info-l">
                    <span class="teacher-name" data-title="{{ $item.teacher_name }}" data-width="10em">
                        {{ $item.teacher_name|cn_truncate:6 }}
                    </span>
                    <span class="teach-age">
                        {{ $item.school_age }}年以上教龄
                    </span>
                    <span class="cert">
                        <i class="icon icon-certification-idcard"></i>
                        身份认证
                    </span>
                </div>
                <div class="course-info-r">
                    <span class="duration">
                        课程长度：{{ $item.teach_time }}小时
                    </span>
                    <!--span class="desc" data-title="{{ $item.student_desc }}" data-width="20em">
                        适学人群：{{ $item.student_desc|cn_truncate:22 }}
                    </span-->
                </div>
            </div>
        </div>
        <div class="course-action">
            <a href="/teacher/classCourseDetail/{{ $item.number }}?source={{ $tpl_data.params.source }}&plan={{ $tpl_data.params.plan }}&group={{ $tpl_data.params.group }}&keyword={{ $tpl_data.params.keyword }}&q={{ $tpl_data.params.q }}" target="_blank" class="btn-info">
                <i class="icon icon-reply"></i>
                立即报名
            </a>
            {{ include file="sem/component/chatLabel.html" user_number=$item.teacher_number user_type='teacher' }}
        </div>
    </li>
    {{ /foreach }}
</ul>
{{ /strip }}