{{ strip }}

<div class="recommend-course">

    <div class="recommend-course-header">
        <h3>推荐课程</h3>
        <span class="hint">不能再全了...</span>
    </div>

    <div class="recommend-course-content">

        <div class="recommend-course-tab">
            <b class="tab-nav active" data-cat="middle">
                初中/中考
            </b>
            <b class="tab-nav" data-cat="high">
                高中/高考
            </b>
        </div>

        <div class="recommend-course-box middle">

            {{ $options = $course.middle.options }}
            {{ include file="sem/component/searchBox.html" subject=$options.course_2 areas=$options.area }}

            <div class="course-list">
                {{ include file="sem/k12/courseList.html" courses=$course.middle.data }}
            </div>

            <div class="more">
                <a href="" target="_blank" class="btn-default">
                    更多课程&nbsp;&gt;
                </a>
            </div>
        </div>

        <div class="recommend-course-box high">

            {{ $options = $course.high.options }}
            {{ include file="sem/component/searchBox.html" subject=$options.course_2 areas=$options.area }}

            <div class="course-list">
                {{ include file="sem/k12/courseList.html" courses=$course.high.data }}
            </div>

            <div class="more">
                <a href="" target="_blank" class="btn-default">
                    更多课程&nbsp;&gt;
                </a>
            </div>
        </div>

    </div>

</div>
{{ /strip }}