@import './common/base.less';

#main {
    .wrapper {
        padding: 30px 0;
        width: 650px;
        margin: 0 auto;
        margin-top: 30px;
        background: #fff;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.05);

        .label {
            margin-bottom: 25px;
            font-size: 20px;
            color: #666;
            text-align: center;
        }
    }

    .rules {
        padding: 0 15px;
        .rule-table {
            table-layout: fixed;
            width: 100%;
            text-align: center;

            .width-218 {
                width: 218px;
            }

            .width-198 {
                width: 198px;
            }

            .width-168 {
                width: 168px;
            }

            .text-left {
                text-align: left;
            }

            .text-center {
                text-align: center;
            }

            .padding-left-10 {
                padding-left: 10px;
            }

            .rule-table-header {
                color: #666;
                font-weight: bold;
                th {
                    height: 34px;
                    vertical-align: middle;
                }
            }

            .rule-table-body {
                font-size: 12px;
                td {
                    vertical-align: middle;
                }
                tr.odd {
                    height: 24px;
                    background: #f8f8f8;
                }
                tr.even {
                    height: 40px;
                }
            }
        }
    }
}