@import './common/base.less';

#main {
    .wrapper {
        padding-top: 30px;
        width: 650px;
        margin: 0 auto;
        margin-top: 30px;
        background: #fff;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.05);

        .label {
            margin-bottom: 25px;
            font-size: 20px;
            color: #666;
            text-align: center;
        }
    }

    #user-form {
        padding: 0 0 30px 60px;

        .form-label {
            width: 100px;
            text-align: right;
        }

        .form-controls {

            .form-text {
                width: 330px;
            }
            .intro {
                height: 120px;
            }
        }

        .error-tip {
            color: #f00;
            margin-left: 5px;
        }

        .upload-group {
            .upload-btn {
                position: relative;
                display: inline-block;
                width: 150px;
                height: 125px;
                vertical-align: top;
                border: solid 1px #d6d6d6;
                background: #eee;
                color: #999;
                cursor: pointer;

                .icon-wrapper {
                    margin-top: 42.5px;
                    font-size: 20px;
                    text-align: center;
                }

                .icon-label {
                    line-height: 28px;
                    text-align: center;
                    font-size: 12px;
                }

                .image-browse {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    overflow: hidden;
                    text-align: center;
                    text-indent: -999px;
                }

                .image-wrapper {
                    display: none;
                }

                &.has-image {
                    border: none;
                    .icon-wrapper,
                    .icon-label {
                        display: none;
                    }

                    .image-browse {
                        background: #000;
                        top: auto;
                        height: 30px;
                        line-height: 30px;
                        text-indent: inherit;
                        .opacity(0.5);
                    }

                    .image-wrapper {
                        display: block;
                    }
                }
            }
            .example-label {
                display: inline-block;
                margin: 0 15px 0 25px;
                vertical-align: top;
            }

            .img-example {
                display: inline-block;
                vertical-align: top;
            }
        }

        .form-actions {
            padding-left: 100px;

            .form-controls {
                padding-left: 120px;
                .btn {
                    width: 88px;
                    height: 32px;
                    line-height: 32px;
                    padding: 0;
                }
            }
        }
    }
}