@import './common/base.less';
@import './common/ModifyProfileLandingDialog.less';
@import './courseCard.less';

#main {
    .wrapper {
        margin-top: 20px;
        padding: 30px 40px 40px;
        background: #fff;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.05);

        .label {
            line-height: 1;
            font-size: 16px;
            color: #333;
        }
    }

    .editor-wrapper {
        margin-top: 10px;

        .edui-default {
            border-radius: 0;
            .edui-editor {
                border-color: #eee;
            }
            .edui-editor-toolbarbox,
            .edui-editor-toolbarboxouter,
            .edui-editor-toolbarboxinner {
                border-radius: 0;
            }
            .edui-editor-bottomContainer{
                td {
                    border-top-color: #eee;
                }
            }
        }

        .post-title {
            color: #ccc;
            border: solid 1px #eee;
            border-bottom: none;
            height: 46px;
            .form-editor {
                position: relative;
                width: 100%;
                .placeholder-wrapper {
                    display: block;
                    .placeholder {
                        padding: 0 20px;
                        line-height: 44px;
                    }
                }
                .form-text {
                    height: 46px;
                    line-height: 14px;
                    padding: 16px 20px;
                    width: 100%;
                    border: none;
                    padding-right: 80px;
                }
                .form-hint {
                    position: absolute;
                    z-index: 1;
                    right: 10px;
                    top: 8px;
                    color: #999;
                }
            }
        }

        #edui1 {
            .edui-for-dialogbuttondialog {
                .edui-state-hover {
                    .edui-button-wrap {
                        cursor: pointer;
                        background-color: transparent;
                        padding: 0;
                        border: 1px solid transparent;
                    }
                }
                .edui-icon {
                    width: 75px !important;
                    &:hover {
                        background-position: -839px 82px;
                    }
                }
            }
        }
    }

    #course-card {
        // display: none;
        border: 1px solid #eee;
        border-top: 0;
        padding: 2 * @gap-vertical-medium;
    }

    .post-action {
        margin-top: 20px;
        overflow: hidden;
        .btn {
            float: right;
            width: 150px;
            line-height: 40px;
            margin-left: 20px;
            padding: 0;
        }
    }
}