/**
 * @file 机构黑板报样式
 * @author peilonghui
 */

@import '../../_base/base.styl';
@import "../../_common/nav_bar/nav_bar.styl";
@import '../../../common/linkPanel/linkPanel.styl';
@import '../../_common/footer/footer.styl';
@import '../detail/loveCourse.styl';

$body-bg-color=#f7f7fa;

body {
    background: $body-bg-color;
    max-width: rem(600);
    margin: 0 auto !important;

    >.share-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
}

.nav-bar {
    max-width: rem(600) !important;
    margin: 0 auto  !important;
}

#main {
    background: #ffffff;

    * {
        word-wrap: break-word !important;
        white-space: normal !important;
        max-width: 100%;
        word-break: break-all !important;

    }
    >header {
        background: #fff;
        padding: rem(10) 0;
        margin: 0 rem(15);
        border-bottom: 1px solid #dcddde;
        >h2 {
            font-size: rem(16);
        }

        >p {
            font-size: rem(12);
            color: #999;
        }
    }

    >footer {
        text-align: center;
        background: $brand-primary;
        color: #fff;
        font-size: rem(14);

        >i {
            position: relative;
            top: rem(-1);
            margin: 0 rem(6);
        }

        >a {
            color: #fff;
            display: block;
            padding: rem(12) 0;
            width: 100%;
        }
    }
}

.body {
    padding: rem(10) rem(15);
    background: #fff;
    img {
        max-width: 100% !important;
        height:auto !important;
        display: inline-block;
    }

    i {
        font-style: italic;
    }

    strong {
        font-weight: 700;
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }

    ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
}

.footer {
    padding: rem(20) rem(15);
    position: relative;
    .eye,.thump {
        display: inline-block;
        font-size: rem(13);
        color: #6d6d6e;
    }
    .thump {
       margin-left: rem(10);
        i {
            font-size: rem(15);
            margin-right: rem(3);
        }
        .self-thump {
            color: #ff9100;
        }
    }
    a {
        display: inline-block;
        font-size: rem(13);
        color: #ff9100;
        position: absolute;
        right:rem(15);
    }
}
