#enroll-tips {
    .tip-item {
        margin-top: 40px;
        .item-name {
            font-size: 16px;
            color: #3D3D3E;
            margin-bottom: 10px;
            span {
                font-size: 16px;
                color: #6D6D6E;
                display: inline-block;
                width: 22px;
                height: 22px;
                line-height: 22px;
                background: #EDEDEE;
                text-align: center;
                border-radius: 50%;
                margin-right: 14px;
            }
        }
        .item-detail {
            font-size: 14px;
            color: #6D6D6E;
            .refund-question {
                font-weight: bold;
                color: #3D3D3E;
                font-size: 14px; 
                margin: 24px 0 10px 0;
            }
            .type {
                color: #3D3D3E;
            }
            .mobile, .computer {
                text-align center;
                img {
                    width: 130px;
                    height: 90px;
                    margin-bottom: 20px;
                }
                display: inline-block;
                strong {
                    color: #3d3d3e;
                }
            }
            .mobile {
                width: 400px;
                margin-right: 60px;
            }
            .computer {
                width: 260px;
                margin: 0;
                .download-now {
                    color: #ff6c00;
                    cursor: pointer;
                } 
            }
            & > div {
                line-height: 24px;
                margin-left: 40px;
            }
            .refund-info {
                text-decoration: underline;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}