/**
 * @file 可上门授课范围
 * @author zhujialu
 */
.access-region {

    line-height: 1.2;

    .region-select-box {
        display: none;
        .dropdown {
            min-width: 100px;
        }
    }

    .region-selected {
        margin-bottom: @gap-vertical-medium;
        .form-action {
            display: none;
        }
    }

    .region-list {
        padding: 0;
        .clearfix();
        li {
            .clearfix();
            display: block;
            border-left: 1px solid @brand-gray;
        }
        div {
            float: left;
            padding: @gap-vertical-medium;
            border: 1px solid @brand-gray;
            margin-left: -1px;
            margin-top: -1px;
            min-width: 80px;
            max-width: 400px;
            min-height: 44px;
        }
        .last {
            padding: 7px;
        }
        em { // 黑色标签
            margin: @gap-horizontal-medium;
        }
    }

    .region-box {
        background-color: #f5f3f0;
        margin-top: @gap-vertical-large;
    }

    .dropdown {
        &.area,
        &.country {
            display: none;
        }
    }

    .area-list,
    .country-list {
        border: 1px solid @brand-gray;
        border-bottom: none;
        cursor: pointer;
        padding: @gap-vertical-large - @gap-vertical-small
                 @gap-horizontal-huge
                 @gap-vertical-large
                 @gap-horizontal-huge - @gap-horizontal-small;

        &:empty {
            display: none;
        }

        li {

            .inline-block();

            margin-left: @gap-horizontal-small;
            margin-top: @gap-vertical-small;
            padding: 2px 8px;

            &.active {
                background-color: @brand-info;
                color: #FFF;
            }
        }

    }

    .form-action {
        border: 1px solid @brand-gray;
        margin-top: 0;
        padding: @gap-horizontal-huge
                 @gap-vertical-large;
    }

    .region-list {
        em { // 黑色标签
            color: #3d3d3d;
            margin-left: @gap-horizontal-tiny;
            .icon-times {
                display: none;
            }
        }

        span { // 蓝色标签
            color: #FFF;
            display: inline-block;
            background-color: @brand-info;
            display: inline-block;
            padding: 2px 6px;
            margin-bottom: 2px;
            line-height: 16px;
            margin-left: @gap-horizontal-tiny;
            .icon-times {
                margin-left: @gap-horizontal-tiny;
                cursor: pointer;
            }
        }

    }

    .selected-region {

        display: none;
        margin-top: @gap-vertical-medium;

        b {
            font-weight: bold;
            color: @brand-text;
        }

        ul {
            .inline-block();
        }

        li {
            .inline-block();
            margin-left: @gap-horizontal-small;
        }
    }




}