/**
 * @file 我的照片
 * @author zhujialu
 */

.info-body {
    .clearfix();
}

#content {
    .photo-showcase {
        .info-header {
            .hint {
                .icon {
                    margin-right: 3px;
                    font-size: 12px;
                    float: none;
                }
            }
        }
    }
}

.photo-showcase {
    .info-header {
        margin-bottom: 5px;
        .hint {
            margin-left: 5px;
            font-size: 12px;
            color: #6287d5;
        }
        .edit {
            position: relative;
            min-width: 80px;
            input[name="files"],
            object {
                .opacity(0);
                width: 69px;
                height: 29px;
                position: absolute;
                left: 0;
                top: 0;
                cursor: pointer;
            }
        }
    }
}

.photo {
    #photo-list {
        padding-bottom: 15px;
    }
    .photo-list {
        .caption {
            .icon {
                display: none;
            }
        }
    }
    .save-order {
        display: none;
    }
    .cancel-order {
        display: none;
    }
    .drag-tip {
        height: 35px;
        line-height: 35px;
        color: #c2a362;
        background: #ffe9c7;
        border: solid 1px #c2a362;
        text-align: center;
        display: none;
    }
    &.enable-rank {
        .save-order {
            display: inline-block;
        }
        .cancel-order {
            display: inline-block;
        }
        .enable-order {
            display: none;
        }
        .drag-tip {
            display: block;
        }
        .action-edit {
            display: none;
        }
        .photo-list {
            .img-thumbnail {
                cursor: move;
                &:after {
                    background: transparent;
                }
                .action {
                    display: none;
                }
            }
        }
    }
}



.photo-list {
    -webkit-user-select: none;
    .clearfix();
    overflow: hidden;
    margin-left: -10px;
    padding-top: @gap-vertical-medium;

    > li {
        float: left;
        margin-left: 6px;
        margin-bottom: @gap-vertical-small;
    }

    .message {
        display: inline-block;
        width: 178px;
    }

    .clearfix { // 第5、9个照片，清浮换行
        clear: both;
    }
}

.pager-block {
    clear: both;
    margin-bottom: @gap-horizontal-medium;
}

.photo-form {

    .wrapper {

        .clearfix();
        margin-top: @gap-vertical-medium;

        .image-uploader,
        .image-info {
            float: left;
            margin-right: @gap-horizontal-huge;
        }

        .form-group {
            margin-top: 0;
        }
    }

    .form-text {
        width: 12em;
    }
}


.photo {
    .noinfo {
        display: none;
    }
}
