/**
 * @file 支付页面布局
 * @author zhujialu
 */

@import '../../main/base.less';
@import '../../common/card.less';
@import './wizard.less';

#main {

    background-color: #FFF;
    padding: @gap-vertical-huge
             2 * @gap-horizontal-large;

    .crumb {

        margin-bottom: @gap-vertical-small;

        a {
            color: @brand-text-lighter;
            &:hover {
                color: @brand-primary;
            }
        }
    }
    .wizard {
        margin-bottom: @gap-vertical-huge;
    }

}