/**
 * @file 支付方式
 * @author zhujialu
 */
.pay-approach {

    h3 {
        border-bottom: 1px solid @brand-gray-light;
        padding: @gap-vertical-small 0;
    }

    h4 {
        font-size: @font-size-medium;
        margin-bottom: 5px;
    }

    .platform,
    .bank,
    .credit-card {
        margin-top: 20px;

        .icon {
            vertical-align: middle;
        }
    }

    .form-radio {
        border: 1px solid @brand-gray-light;
        margin-top: @gap-vertical-medium;
        width: 195px;

        &.checked,
        &:hover {
            border-color: @brand-primary;
        }

        input {
            margin: 0 10px;
        }
    }

    .tip {
        .icon {
            vertical-align: baseline;
        }
    }
}

