/**
 * @file 当前步骤
 * @author zhujialu
 */
.wizard {

    .clearfix();
    background-color: @brand-gray-lighter;

    .step {
        color: @brand-text;
        float: left;
        padding: @gap-vertical-small 0;
        text-align: center;
        width: 348px;

        &.active:first-child {
            &:before {
                border-left-color: @brand-info;
            }
        }

        &.active:last-child {
            &:after {
                display: none;
            }
        }
    }

    .active {
        background-color: @brand-info;
        color: #FFF;
        position: relative;

        &:before {
            border: 18px solid transparent;
            border-left-color: @brand-gray-lighter;
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
        }
        &:after {
            border: 18px solid transparent;
            border-left-color: @brand-info;
            content: ' ';
            position: absolute;
            right: -36px;
            top: 0;
        }
    }
}
