{{ *

@file 组合课 - 资料下载
@author wuhongjie

* }}

{{ strip }}



{{ if $data_info }}
<div id="data-info">

    <h3>
        <span>资料下载</span>
    </h3>

    <div class="content">
        <div class="data-infos">
            {{ foreach $data_info as $data }}
                <p>{{ $data@index+1 }}、{{ $data }}</p>
            {{ /foreach }}
        </div>
        <div class="download-data">
            <a class="download-btn" href="{{ $site_config.qq }}" target="_blank">
                下载资料
            </a>
        </div>
    </div>

</div>
{{ /if }}

{{ /strip }}