{{ *

@file 组合课 － 课程头信息
@author wangyujie

* }}

{{ strip }}

<div id="course-profile">

    <div class="content">

        {{ include file="common/component/image.html" class="course-cover" url=$course.cover width=480 height=270 }}

        <div class="baseinfo">
            <h1>
                {{ $course.name|cn_truncate: 20 }}
            </h1>
            <ul class="info">
                <li class="item-price">
                    <span class="label"><!--价格--></span>
                    <span class="content">
                        <span class="price">
                            ￥{{ $course.price }}
                        </span>
                    </span>
                </li>
                <li class="item-people">
                    <span class="label">
                        <i class="icon icon-group-o"></i>
                    </span>
                    <span class="content">
                        {{ if $course.total_pay == 0 }}
                            暂无人报名
                        {{ else }}
                            <em class="text-primary">
                                {{ $course.total_pay }}
                            </em>人报名
                        {{ /if }}
                    </span>
                </li>
                <li class="item-course">
                    <span class="label">
                        <i class="icon icon-clock-large-o"></i>
                    </span>
                    <span class="content">
                        {{ $course.total|default:1 }}门联报
                        <a class="text-info to-schedult-info" href="#schedule-info">
                            查看详细课程安排
                        </a>
                    </span>
                </li>
                <li class="item-promise">
                    {{ include file="common/component/classCourseIcon.html" show_certi='true' show_safe='false' }}

                    {{ foreach $course.tag as $tag }}
                        <span class="course-tag">{{ $tag.name }}</span>
                    {{ /foreach }}
                </li>
                <li class="item-enroll">
                    <div class="enroll-action">
                        {{ if $course.status == 0 }}
                            <button class="btn-default" disabled>
                                已完结
                            </button>
                        {{ else if $course.status == 1 || $course.status == 3 }}
                            <button class="btn-default" disabled>
                                已报名
                            </button>
                        {{ else if $course.status == 2 }}
                            <button class="btn-primary reserve-course">
                                立即报名
                            </button>
                        {{ else if $course.status == 4 }}
                            <button class="btn-default" disabled>
                                已满班
                            </button>
                        {{ /if }}
                    </div>
                    {{ if isset($tpl_data.site_config.contact) && $tpl_data.site_config.contact }}
                        <div class="phone">
                            免费咨询<br />{{ $tpl_data.site_config.contact }}
                        </div>
                    {{ /if }}
                </li>
            </ul>
        </div>

    </div>

</div>

{{ /strip }}