@import "page/_base/base.styl";
@import "page/_common/nav_bar/nav_bar.styl";

body {
    background-color: #f3f3f4;
}

.single-line{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container{
    margin-top: rem(10);
    .course-info{
        position: relative;
        width: 100%;
        height: rem(82);
        padding: rem(10) rem(15);
        background: #fff;
        .avatar{
            position: absolute;
            top: rem(10);
            left: rem(15);
            width: rem(65);
            height: rem(65);
        }
        .intro{
            margin-left: rem(75);
            .course-title{
                font-size: rem(15);
                color: #3d3d3e;
            }
            .course-teacher{
                margin-top: rem(20);
                font-size: rem(13);
                color: #9d9e9e;
            }
        }
    }
    .file-content{
        margin-top: rem(10);
        width: 100%;
        background: #fff;
        .file-head{
            padding: 0 rem(15);
            height: rem(44);
            width: 100%;
            line-height: rem(44);
            font-size: rem(15);
            color: #3c3c3c;
            span{
                color: #ff9100;
                float: right;
            }
        }
        .file-list{
            width: 100%;
            .item{
                position: relative;
                height: rem(70);
                width: 100%;
                padding: rem(10) rem(15);
                border-top: 1px solid #f5f5f6;
                .file{
                    position: relative;
                    margin-right: rem(85);
                    .file-img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: rem(49);
                        width: rem(49);
                    }
                    .file-info{
                        margin-left: rem(59);
                        .file-title-new{
                            display: -webkit-flex;
                            .file-title{
                                margin-right: rem(5);
                                font-size: rem(15);
                                color: #3d3d3e;
                            }
                            .new{
                                display: inline-block;
                                flex: 1;
                                img{
                                    width: rem(29);
                                    height rem(13);
                                    display: inline-block;
                                    vertical-align: top;
                                }
                                span{
                                    display: inline-block;
                                    vertical-align: top;
                                    width: rem(29);
                                    height: rem(13);
                                    text-align: center;
                                    padding-top: rem(1);
                                    padding-left: rem(3);
                                    padding-right: rem(3);
                                    font-size: rem(10);
                                    line-height: rem(12);
                                    background: #ff7166;
                                    border-radius: rem(10);
                                    color: #fff;
                                }
                            }
                        }
                        .file-size{
                            margin-top: rem(6);
                            font-size: rem(13);
                            color: #9d9d9e;
                        }
                    }
                }
                .button{
                    position: absolute;
                    right: rem(15);
                    top: rem(22);
                    border: 1px solid #9d9d9e;
                    border-radius: rem(2);
                    padding: rem(5) rem(8);
                    height: rem(25);
                    font-size: rem(13);
                    line-height: rem(15);
                    color: #9d9d9e;
                }
            }
        }
    }
}

.browser-mask,
.app-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,.7);
}
.browser-mask{
    img{
        position: absolute;
        right: rem(15);
        top: rem(12);
        width: rem(205);
        height: rem(142);

    }
}
.app-mask{
   .app-box{
       height: rem(200);
       width: 100%;
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       background: #ededee;
       p{
           margin-top: rem(46);
           font-size:rem(17);
           color:#3d3d3e;
           line-height:rem(17);
           text-align: center;
       }
       span{
           display: block;
           margin: rem(30) auto;
           width: rem(114);
           height: rem(42);
           border: 1px solid #ff9100;
           border-radius: rem(4);
           font-size: rem(17);
           text-align: center;
           line-height: rem(42);
           color: #ff9100;
       }
   }
}


