{{ strip }}
<div class="user-flow">
    <h3>平台流程</h3>
    <ol>
        <li>
            <i class="icon icon-search-large-o"></i>
            <h4>1.搜索老师</h4>
            <p>
                在种类丰富的课程中，你可以按照多种条件进行筛选（如课程、价格、地理位置等），找到心仪的老师。众多名师，总有一些适合你
            </p>
        </li>
         <li>
            <i class="icon icon-money-large-o"></i>
            <h4>2.购买课时</h4>
            <p>
                查看老师的详细信息，观看其视频介绍，选择合适的老师并预付课程费用。每次课程结束，由学生确认后将课时费在线支付给老师
            </p>
        </li>
         <li>
            <i class="icon icon-clock-large-o"></i>
            <h4>3.约课上课</h4>
            <p>
                与老师沟通，进行在线约课，可灵活选择上课时间、地点和授课方式（在线视频或线下面授）。首次课程不满意可全额退费
            </p>
        </li>
         <li>
            <i class="icon icon-thumbs-up-large-o"></i>
            <h4>4.课程评价</h4>
            <p>
                课程结束，学生对老师和课程进行评价，帮助老师发现其优势和不足，提高教学质量。为其他正在寻找老师的学生或家长提供参考
            </p>
        </li>
    </ol>
</div>
{{ /strip }}