{{ *

@file 班课设置 - 教学计划
@author wangyujie

* }}
{{ strip }}

{{ if isset($tpl_data.schedule) }}
    {{ $schedule_data = $tpl_data.schedule }}
{{ else }}
    {{ $schedule_data = [] }}
{{ /if }}

<div class="teaching-plan"{{ if !empty($schedule_data) }} data-begin-time="{{ $schedule_data[0].begin_time }}"{{ /if }}>

    {{ if !empty($schedule_data) }}

        <div class="has-data">
            <div class="info-header form-trigger">
                <i class="icon icon-star-o"></i>
                <h3>
                    教学计划
                    {{ if $reason }}
                    <div class="message message-error">
                        <i class="icon icon-info-circle"></i>
                        你的教学计划包含违规内容，请修改后再次 提交审核
                    </div>
                    <a data-title="
                    {{ foreach $reason as $item }}
                        {{ $item|escape }}<br />
                    {{ /foreach }}
                    ">
                        查看教学计划违规内容
                    </a>
                    {{ /if }}
                </h3>
                <div class="edit">
                    <i class="icon icon-pencil"></i>
                    编辑
                </div>
            </div>
            <div class="info-body">
                <div class="column">
                    <div class="title">课程安排：</div>
                    <div class="cont" data-title="{{ $tpl_data.arrangement|escape }}">{{ $tpl_data.arrangement|escape|cn_truncate:40 }}</div>
                </div>
                {{ foreach $schedule_data as $schedule }}
                {{ if $tpl_data.organization.is_organization }}
                <div class="column right">
                    <div class="title">主讲老师</div>
                    <div class="cont">{{ $schedule.teacher.display_name|escape }}</div>
                </div>
                {{ /if }}
                <div class="column">
                    <div class="title">第{{ $schedule@index + 1 }}节：</div>
                    {{ if !empty($schedule.begin_time) }}
                    <div class="cont">{{ $schedule.begin_time|date_format:"%Y-%m-%d" }}&nbsp&nbsp{{ $schedule.begin_time|date_format:"%H:%M" }}&nbsp-&nbsp{{ $schedule.end_time|date_format:"%H:%M" }}</div>
                    {{ else }}
                    <div class="cont">未指定时间</div>
                    {{ /if }}
                </div>
                <div class="column">
                    <div class="title">课程内容：</div>
                    <div class="cont">{{ $schedule.content|escape }}</div>
                </div>

                {{ /foreach }}

                <div class="column">
                    <div class="title">退班规则：</div>
                    <div class="cont">
                        <span>
                            {{ if $tpl_data.retire_flag == 0 }}
                            随时可退
                            {{ else if $tpl_data.retire_flag == 1 }}
                            开班前1小时不可退
                            {{ else if $tpl_data.retire_flag == 2 }}
                            开班{{ $tpl_data.retire_length }}节课开始后不可退
                            {{ /if }}
                        </span>
                    </div>
                </div>

                <div class="column">
                    <div class="title">能否插班：</div>
                    <div class="cont">
                        <span class="chanban-flag">
                        {{ if $tpl_data.chaban_flag == 1 }}
                            不可插班
                        {{ else if $tpl_data.chaban_flag == 2 }}
                            第 {{ $tpl_data.chaban_quota|escape }} 节课前可插班
                        {{ else if $tpl_data.chaban_flag == 3 }}
                            随时可插班
                        {{ /if }}
                        </span>
                    </div>
                </div>

                {{ if $tpl_data.chaban_flag != 1 && $tpl_data.price != 0 }}
                <div class="column">
                    <div class="title">插班价格：</div>
                    <div class="cont">
                        <span class="chaban-price">
                        {{ if $tpl_data.chaban_price_flag == 1 }}
                            未结束课程的总价
                        {{ else if $tpl_data.chaban_price_flag == 2 }}
                            {{ $tpl_data.chaban_price|escape }}元
                        {{ /if }}
                        </span>
                    </div>
                </div>
                {{ /if }}
            </div>
        </div>

        {{ include file="./classTeachingPlanForm.html" }}

    {{ else }}

        <div class="no-data">
            <div class="noinfo form-trigger edit">

                <span class="desc">请填写课程安排以及详实的教学计划、退班、插班规则也在这里哦~</span>

                <i class="icon icon-round-edit"></i>
                <h3>
                    教学计划
                </h3>

            </div>
            {{ include file="./classTeachingPlanForm.html" schedule_list=$schedule_data }}
        </div>

    {{ /if }}
</div>
{{ /strip }}