{{ *

@file 班课设置 - 课程照片
@author wangyujie

* }}
{{ strip }}
<div class="form photo-form">

    <h2>
        <i class="form-required"></i>
        课程照片
        <span class="text-error">（必填）</span>
    </h2>

    <div class="wrapper">

        <div class="image-uploader-wrapper">
            {{ include file="common/component/imageUploader.html" }}

            <div class="form-hint">
                仅支持10M以内的.jpg、.png、.jpeg</br>
                格式的照片
            </div>

            <div class="form-action">
                <button class="btn-primary btn-save" disabled>保存</button>
                <button class="btn-default btn-cancel">取消</button>
            </div>
        </div>

        <div class="image-info">

            <p>
                你可以上传教学场地、教材、器材、作品或其他能体现该课程特色的照</br>
                片，但是不能出现广告信息和水印哦！提供高质量图片（如下图），将</br>
                有机会获得包括<a href="http://ju.genshuixue.com/" class="text-info" target="_blank">&nbsp;聚惠学&nbsp;</a>在内的更多展示位
            </p>

            {{ *
            <div class="form-group">
                <label class="form-label">给照片配个名称吧：</label>
                <div class="form-controls">
                    <input class="form-text" type="text" name="title" required maxlength="12" placeholder="名称不要超过 12 个字" />
                    <span class="error"></span>
                </div>
            </div>
            * }}

            <input type="hidden" name="number" />

            <div class="image-list">
                <img src="{{ $static_origin }}/src/img/teacher-center/classCourse/juhuixuePhoto/1.jpg" alt="">
                <img src="{{ $static_origin }}/src/img/teacher-center/classCourse/juhuixuePhoto/2.jpg" alt="">
            </div>

        </div>

    </div>
</div>
{{ /strip }}