{{ *

@file 课时套餐表单
@author zhujialu

* }}

{{ strip }}
<div class="form combo-form">

    <div class="form-group">

        <label class="form-label">
            <i class="form-required"></i>
            简介：
        </label>

        <div class="form-controls">

            <input class="form-text {{ if isset($item.verify_status) && $item.verify_status == 2 }}form-error{{ /if }}" type="text" name="name" placeholder="请输入简介" required minlength="2" maxlength="15" />

            <span class="error"></span>

            {{ if isset($item.verify_status) && $item.verify_status == 2 }}
            <div class="reasons form-block">
            <i class="icon icon-info-circle"></i>
            {{ foreach $item.reasons as $reason }}
                {{ $reason }}；
            {{ /foreach }}
            </div>
            {{ /if }}
        </div>

    </div>


    <div class="form-group">

        <label class="form-label">
            <i class="form-required"></i>
            时长：
        </label>

        <div class="form-controls">
            <input class="form-text" type="text" name="hours" placeholder="请输入时长" required min="1" max="999" pattern="^[\d]+$" />
            <div class="form-static form-inline form-hint">
                <i class="icon icon-info-circle"></i>
                请输入 1-999 的整数
            </div>
            <span class="error"></span>
        </div>

    </div>

    <div class="form-group">

        <label class="form-label">
            折扣：
        </label>

        <div class="form-controls">
            <div class="form-number">
                <input class="form-text" type="text" name="discount" pattern="^[1-9]\.?[0-9]?$" placeholder="请输入折扣" min="1" max="9.9" step="0.1" />
                <i class="icon icon-caret-up"></i>
                <i class="icon icon-caret-down"></i>
            </div>
            <div class="form-static form-inline form-hint">
                <i class="icon icon-info-circle"></i>
                请输入 1-9.9 对应 1-9.9 折，不填写表示没有折扣
            </div>
            <span class="error"></span>
        </div>

    </div>

    <div class="form-action">
        <button class="btn btn-primary">保存</button>
        <button class="btn btn-default">取消</button>
    </div>

</div>
{{ /strip }}