.choose-items {
    padding: rem(10) rem(15) rem(5) rem(15);
    .itemName {
        font-family: PingFang-SC-Regular;
        font-size: rem(13);
        color: #9D9D9E;
        height: rem(30);
        line-height: rem(30);
    }
    .items-content {
        .normal-item, .active-item {
            background: #F8F8F8;
            border: 1px solid #DDDDDE;
            border-radius: rem(5);
            display: inline-block;
            width: rem(66);
            height: rem(29);
            line-height: rem(29);
            font-family: PingFangSC-Regular;
            font-size: rem(13);
            color: #3D3D3E;
            text-align: center;
            margin-right: rem(10);
            margin-bottom: rem(10);
        }
        .active-item {
            color: #ff6c00;
            border: 1px solid #ff6c00;
            background: white;
        }
    }
}