@import 'userCenter/common/variable.styl'
@import 'userCenter/common/mixin.styl'

.course-info

    .course-intro
        word-break()
        width 45em

    .controls
        .label + .block
            margin-top 0 !important
        > .tag
            margin $vertical-tiny 3px
            padding-left 5px !important
            padding-right 5px !important

            &:first-child
                margin-left 0
