@import 'userCenter/common/variable.styl'
@import 'userCenter/common/mixin.styl'

.course-section
    height 60px

    .course-index
        color #FFF
        font-size 12px
        float left
        text-align center
        padding $vertical-tiny $horizontal-medium

        > strong
            display block
            font-size 130%

    &[data-type="free"]
        .course-index
            background-color #57BA31

    &[data-type="trial"]
        .course-index
            background-color #F75F78

    &[data-type="pay"]
        .course-index
            background-color $brand-info

    .course-name
        margin-left 44 + $horizontal-medium

    .free-course
        color #57BA31

    .trial-course
        color #F75F78

    .icon-info-circle
        margin-left $horizontal-tiny
