@import 'userCenter/common/variable.styl'
@import 'userCenter/common/mixin.styl'

.course-info-form

    .img-cover
        vertical-align middle

    .tag-input,
    .input
        width 448px

    .select-cover
        background-color #8C8C8C
        color #FFF
        cursor pointer
        display inline-block
        font-size 12px
        text-align center
        padding 15px 40px

        > .photo
            background url(../img/sprite.png) no-repeat -40px 0
            display inline-block
            margin-bottom $vertical-medium
            width 57px
            height 50px
            vertical-align bottom



    .intro-input
        height 160px
        vertical-align bottom

    .price-input,
    .expire-day-input
        width 150px

    .dropdown
        width 150px

    .btn-select-cover
        margin-left $horizontal-small

    .controls
        > .inline,
        > .block
            > .info,
            > .error
                margin-left $horizontal-tiny
                margin-right $horizontal-tiny
