/**
 * @file 老师入驻
 * @author tangrongyan
 */

@import './layout.less';




.btright p img {
    

}

p.wrap-img {
    text-align:center;
    position:relative;
    left:-15px;
    margin-bottom:50px;
}

