/**
 * @file 老师详情页
 * @author tangrongyan
 */

@import './layout.less';




/**网站条款**/
.btright .item  {
    color: #000000;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btright .indent {
    text-indent: 15px;
}
.btright h6 {
    font-size: 16px;
    line-height: 25px;
    color: #666666;
    margin-top: 30px;
    font-weight: bold;
}


.tort {
    .indent {
        text-indent: 22px;
    }
    .tort-mail {
        color:#604BDF;
    }
    .tort-mail:hover {
        color:#f90;
    }
}