/**
 * @file 平台保障
 * @author zhengjunxin
 */

@import './layout.less';

.feature-list {
    background-color: #fafafa;
    border: 1px solid #ededed;
    width: 740px;
    height: 230px;
    padding: 38px 30px 30px 30px;

    span .icon {
        margin-right: 10px;
        font-size: 56px;
        color: #ff9100;
    }

    span span {
        font-size: 17px;
        color: #3d3d3e;
        position: relative;
        top: -25px;
        margin-right: 35px;
    }

    p {
        color: #6d6d6d;
        font-size: 14px;
        margin-top: 20px;
    }
}
/*title的公共模板*/

.feature {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #6d6d6d;
    padding-bottom: 33px;
    .title {
        color: #ff9900;
        font-size: 18px;
        margin-top: 33px;
        margin-bottom: 10px;
        .icon {
            color: #ff9100;
            font-size: 30px;
        }
        span {
            margin-left: 6px;
            vertical-align: super;
        }
    }
    em {
        color: #3d3d3d;
        font-weight: 600;
    }
}

.certify {
    p {
        margin-top: 10px;
    }
}

.exist {

    .exist-process {
        margin-top: 20px;
        margin-bottom: 19px;
    }

    p em {
        display: inline-block;

    }
    p {
         margin-top: 8px;
    }
    .warining {
        margin-top: 5px;

        li,p {
            color: #f05757;
            margin-top: 10px;
        }
        ul{
            list-style: none;
        }
    }
    .table{
        margin-top: 8px;
        font-size: 12px;
        border: solid 1px #eee;
        th,td{
            border: solid 1px #eee;
            line-height: 1.8;
            vertical-align: middle;
        }
        .banks {
            width: 240px;
            text-align: left;
        }
    }
}

.comment {
    .title {
        margin-bottom: 5px;
    }
    .feature {
        border-bottom: none;
        padding-bottom: 0;
    }

    .note {
        color: #999;
        font: 13px;
    }
    .student-comment {
        margin-top: 5px;
    }
    .teacher-comment {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
