/**
 * @file 加入我们
 * @author wangyujie
 */
@import './layout.less';

.joinus {
    .tab-nav {
        list-style: none;
        margin-top: 55px;
        overflow: hidden;

        li {
            float: left;
            font-size: 16px;
            cursor: default;
            border: 1px solid #cccccc;
            height: 45px;
            line-height: 45px;
            margin-left: -1px;
            background-color: #fdfdfd;
            text-align: center;
            padding: 0 20px;
            a {
                color: #666666;
                text-decoration: none;
                &:hover {
                    color: #ff9900;
                }
            }
        }

        .nav-item {
            cursor: pointer;
        }

        li.active {
            background-color: #ffffff;
            border-bottom: none;
            a {
                color: #ff9900;
            }
        }
    }

    .tab-content {
        text-align: left;
        margin: 0 auto;
        width: 660px;
        .tab-panel {
            display: none;
            &.active {
                display: block;
            }
        }

        p {
            line-height: 32px;
            color: #aaaaaa;
            font-size: 16px;
        }
    }
}

.joinus li.dibian {
    width: 40px;
    border-top: 1px solid #ffffff;
    border-right: none;
    background-color: #ffffff;
}

.joinus .ajob {
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 30px;
    padding-top: 10px;

    h3 {
        font-size: 16px;
        color: #333333;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        line-height: 35px;
        color: #666666;
        span {
            margin-right: 15px;
        }
        a {
            text-decoration: underline;
        }
    }

    ul {
        margin-left: 30px;
        li {
            line-height: 25px;
            color: #666666;
            list-style-image: url(../../img/guide/licon.png);
            list-style-position: middle;
        }
    }

    ul.jianli {
        margin-left: 30px;
        margin-top: 30px;
        li {
            line-height: 25px;
            height: 25px;
            color: #666666;
            list-style: none;
        }
    }
}




