/**
 * @file 底导
 * @author tangrongyan
 */

@import './common/sidebar.less';

@import '../main/base.less';


/**新手入门**/
.btright h2 { 
    font-size: 18px; 
    color: #000000; 
    margin-bottom: 30px; 
    font-weight: bold; 
}
.btright h2 a { 
    font-size: 18px; 
    color: #000000; 
    margin-bottom: 30px; 
    font-weight: bold; 
}

.btright p.foreword { 
    color: #333333; 
    font-size: 16px; 
    line-height: 25px;
}
.btright h3 { 
    font-size: 16px; 
    line-height: 25px; 
    color: #ff9900; 
    margin-top: 30px; 
    font-weight: bold;
}
.btright h3 span {
    margin-left: 15px;
}
.btright p {
    font-size: 14px; 
    line-height: 25px; 
    color: #666666;
}
.btright p img {
    margin-top: 15px;
}
.btright h4 {
    font-size: 16px; 
    line-height: 25px; 
    color: red; 
    margin-top: 30px; 
    font-weight: bold;
}
.btright p strong {
    font-weight: bold;
}


/*公共部份*/
body {
    background-color: #f4f4f4;
}

#main {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: @font-family-title !important;
}
/*右侧*/
#main .btright { 
    float: left; 
    background-color: #ffffff; 
    width: 729px; 
    color: #4b5660; 
    padding: 50px 60px;  
    min-height: 679px;
    
    box-sizing: content-box;
}
#main .btright textarea { 
    border: 1px solid #cccccc; 
    overflow: hidden;
}
#main .btright input { 
    border: 1px solid #cccccc;
}

#main .btright .goTop a {
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
    text-decoration: underline;
}

