/**
 * @file 老师入驻
 * @author tangrongyan
 */

@import './layout.less';

.btright {
    h2 {
        border-bottom: 2px solid #626262;
        padding-bottom: 17px;

    }
}
.btright .foreword {
    margin-bottom: 2px;
    a {
        font-size: 16px;
        color: #626262;
    }
    a:hover {
        font-size: 16px;
        color: @brand-primary;
    }
    .news-date {
        margin: auto 30px auto 8px;
        color: #6d6d6d;
    }
}
