/**
 * @file 老师入驻
 * @author tangrongyan
 */


@import './layout.less';


#main .btright {
    padding: 50px 0;
    width: 849px;
    h2 {
        margin-left: 60px;
    }
}
.btright img {
    margin-bottom: 20px;

}