/**
 * @file 学生帮助中心
 * @author tangrongyan
 */


@import './layout.less';


#main {
    #item {
        .compensation {
            .import {
                height: 50px;
                line-height: 50px;
                font-weight: bold;
            }
            h2 {
                display: none;
            }
        }
        .money {
            h2 {
                display: none;
            }
        }
        .drawback {
            .table{
                margin-top: 8px;
                font-size: 12px;
                border: solid 1px #eee;
                th,td{
                    border: solid 1px #eee;
                    line-height: 1.8;
                    vertical-align: middle;
                }
                .bank,
                .banks {
                    text-align: left;
                }
                .banks {
                    width: 500px;
                }
                .bank {
                    width: 340px;
                }
            }
        }
        .withdraw,
        .popularize {
            display: none;
        }
    }
    .btright {
        h3 {
            color: #333333;
            padding-bottom: 10px;
        }
        a {
            color: #6187dc;
            display: inline-block;
            margin-right: 30px;
            cursor: pointer;
            width: 84px;
        }
        a:hover {
            color: #ff9900;
        }
        .register{
            h4{
                margin-top: 0px;
                color: #333;
            }
            ul{
                li{
                    margin-top: 20px;
                }
            }
        }
        .mobile-img{
            width: 320px;
            display: block;
            margin: 0 auto;
        }
    }
}

#tab {
    display: block;
}

#main #item {
    padding-top: 20px;
    /*display: none;*/
    a{
        margin-right: 0;
        width: auto;

    }
    .crumb {
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
        display: block;
    }
    .related {
        font-size: 12px;
        margin: 40px 0;
        a {
            color: #6187dc;
            display: inline-block;
            margin-right: 30px;
            cursor: pointer;
        }
        span {
            margin-right: 30px;
        }
    }
    img {
        max-width: 729px;
        margin-top: 20px;
    }
    .little {
        margin-top: 0;
        max-height: 38px;
    }
    .inline {
        max-width: 225px;
    }
    .imgGroup {
        .leftImg {
            max-width: 500px;
        }
    }

    .imgGroup {
        .rightImg{
            max-width: 185px;
            margin-left: 20px;
        }
    }
    div {
        /*display: none;*/
    }
    .register{
        img{
            margin-top: 10px;
        }
    }
    a {
        color: #6197dc;
    }
    .prepare img {
        margin-bottom: 20px;
        &.last {
            margin-bottom: 0;
        }
    }
}

/* 快捷支付 */
.fast-payment {
    p, h3 {
        text-indent: 2em;
    }
    i {
        text-decoration: underline;
    }
    .fright {
        float: right;
        margin-top: 50px;
    }
}

