/**
 * @file 老师详情页
 * @author tangrongyan
 */


@import './layout.less';


#main {
    .btright {

        h3 {
            color: #333333;
            padding-bottom: 10px;
        }
        a {
            color: #6187dc;
            display: inline-block;
            margin-right: 30px;
            cursor: pointer;
            width: 130px;
            margin-bottom: 5px;
        }
        a:hover {
            color: #ff9900;
        }
    }
}

#tab {
    display: block;
}

#main #item {
    padding-top: 20px;
    display: none;
    a{
        margin-right: 0;
        width: auto;

    }
    .crumb {
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
        display: block;
    }
    img {
        max-width: 729px;
        margin-top: 20px;
    }
    div {
        display: none;
    }
}
