{{ *
   * @file 状元活动页面的静态数据
   * @author tangrongyan
* }}

{{ $page_data = [] scope="parent" }}

{{ $teacher4Data = [] }}



{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "resuuu738" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/4825_v8n7alyb.jpeg" }}
{{ $teacher4Data0['name'] = "田金才" }}
{{ $teacher4Data0['subject'] = "初中数学" }}
{{ $teacher4Data0['school_age'] = "26" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "teacherzhao" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/24792_vdvfv5pg.jpeg" }}
{{ $teacher4Data0['name'] = "赵歆蔚" }}
{{ $teacher4Data0['subject'] = "初中数学" }}
{{ $teacher4Data0['school_age'] = "1" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "resuuu438" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/3733_jws4asx2.jpeg" }}
{{ $teacher4Data0['name'] = "刘建波" }}
{{ $teacher4Data0['subject'] = "初中数学" }}
{{ $teacher4Data0['school_age'] = "22" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "liuwenna" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/6827_g5u1uh5q.jpeg" }}
{{ $teacher4Data0['name'] = "刘文娜" }}
{{ $teacher4Data0['subject'] = "初中数学" }}
{{ $teacher4Data0['school_age'] = "25" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "dreamwin" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/1893_x8gf26n0.jpeg" }}
{{ $teacher4Data0['name'] = "种朋朋" }}
{{ $teacher4Data0['subject'] = "初中数学" }}
{{ $teacher4Data0['school_age'] = "5" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}
{{ $teacher4Data0 = [] }}

{{ $teacher4Data0['number'] = "resuuu884" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/3455_tb45613x.jpeg" }}
{{ $teacher4Data0['name'] = "张慧" }}
{{ $teacher4Data0['subject'] = "高中数学" }}
{{ $teacher4Data0['school_age'] = "30" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}
{{ $teacher4Data0 = [] }}

{{ $teacher4Data0['number'] = "haidianliujq" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/4075_lyrhythv.jpeg" }}
{{ $teacher4Data0['name'] = "刘俊青" }}
{{ $teacher4Data0['subject'] = "高中数学" }}
{{ $teacher4Data0['school_age'] = "25" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}
{{ $teacher4Data0 = [] }}

{{ $teacher4Data0['number'] = "tejishuxue" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/5174_cc4n45wy.jpeg" }}
{{ $teacher4Data0['name'] = "谢家彪" }}
{{ $teacher4Data0['subject'] = "高中数学" }}
{{ $teacher4Data0['school_age'] = "14" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}
{{ $teacher4Data0 = [] }}

{{ $teacher4Data0['number'] = "zhouyongliang" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/12677_8cproi1o.jpeg" }}
{{ $teacher4Data0['name'] = "周永亮" }}
{{ $teacher4Data0['subject'] = "高中数学" }}
{{ $teacher4Data0['school_age'] = "3" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['math'][] = $teacher4Data0 }}
{{ $teacher4Data0 = [] }}


{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "wulizhixing" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/3359_dvg3u4kw.jpeg" }}
{{ $teacher4Data0['name'] = "周立文" }}
{{ $teacher4Data0['subject'] = "初中物理" }}
{{ $teacher4Data0['school_age'] = "30" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['physics'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "yulaoshi" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/3728_wfoa10nu.jpeg" }}
{{ $teacher4Data0['name'] = "于金泽" }}
{{ $teacher4Data0['subject'] = "初中物理" }}
{{ $teacher4Data0['school_age'] = "4" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['physics'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "dianfengwuliyang" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/8979_lzh6fnxk.jpeg" }}
{{ $teacher4Data0['name'] = "杨应锋" }}
{{ $teacher4Data0['subject'] = "初中物理" }}
{{ $teacher4Data0['school_age'] = "14" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['physics'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "wulizhu" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/8983_342ng8hq.jpeg" }}
{{ $teacher4Data0['name'] = "朱友明" }}
{{ $teacher4Data0['subject'] = "初中物理" }}
{{ $teacher4Data0['school_age'] = "19" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['physics'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "Jiangguofu" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/31967_uahg8tsn.png" }}
{{ $teacher4Data0['name'] = "姜国富" }}
{{ $teacher4Data0['subject'] = "初中物理" }}
{{ $teacher4Data0['school_age'] = "24" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['physics'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "zhenhongbao1009" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/23700_lr0t26zo.jpeg" }}
{{ $teacher4Data0['name'] = "甄洪暴" }}
{{ $teacher4Data0['subject'] = "初中化学" }}
{{ $teacher4Data0['school_age'] = "4" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['chemistry'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "luowenda" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/6487_0tv6z7cu.jpeg" }}
{{ $teacher4Data0['name'] = "罗文达" }}
{{ $teacher4Data0['subject'] = "初中化学" }}
{{ $teacher4Data0['school_age'] = "10" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['chemistry'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "huaxuelaoshi" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/8980_57k78a0w.jpeg" }}
{{ $teacher4Data0['name'] = "于丹" }}
{{ $teacher4Data0['subject'] = "高中化学" }}
{{ $teacher4Data0['school_age'] = "10" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['chemistry'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "cblcbl" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/1505_rylse5jd.jpeg" }}
{{ $teacher4Data0['name'] = "常宝林" }}
{{ $teacher4Data0['subject'] = "高中化学" }}
{{ $teacher4Data0['school_age'] = "13" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['chemistry'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "ninglaoshi" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/987_b7qnw5ub.jpeg" }}
{{ $teacher4Data0['name'] = "宁瑞光" }}
{{ $teacher4Data0['subject'] = "高中化学" }}
{{ $teacher4Data0['school_age'] = "12" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['chemistry'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "lucylu" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/2038_oss05who.jpeg" }}
{{ $teacher4Data0['name'] = "路金玲" }}
{{ $teacher4Data0['subject'] = "初中英语" }}
{{ $teacher4Data0['school_age'] = "26" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['english'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "wangqian" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/12746_lbwbujbf.jpeg" }}
{{ $teacher4Data0['name'] = "王倩" }}
{{ $teacher4Data0['subject'] = "初中英语" }}
{{ $teacher4Data0['school_age'] = "3" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['english'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "resuuu1182" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/2703_1fy0tiqj.png" }}
{{ $teacher4Data0['name'] = "张海斌" }}
{{ $teacher4Data0['subject'] = "初中英语" }}
{{ $teacher4Data0['school_age'] = "20" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['english'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "resuuu879" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/3393_bu5dbl0d.jpeg" }}
{{ $teacher4Data0['name'] = "李敏" }}
{{ $teacher4Data0['subject'] = "高中英语" }}
{{ $teacher4Data0['school_age'] = "18" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['english'][] = $teacher4Data0 }}

{{ $teacher4Data0 = [] }}
{{ $teacher4Data0['number'] = "zhangxuefegyinyulaoshi" }}
{{ $teacher4Data0['photo_url'] = "http://img.gsxservice.com/7541_39vh6d2j.jpeg" }}
{{ $teacher4Data0['name'] = "张学峰" }}
{{ $teacher4Data0['subject'] = "高中英语" }}
{{ $teacher4Data0['school_age'] = "24" }}
{{ $teacher4Data0['area'] = "北京" }}
{{ $teacher4Data['english'][] = $teacher4Data0 }}


{{ $tpl_data['math']=$teacher4Data['math'] scope="parent" }}
{{ $tpl_data['physics']=$teacher4Data['physics'] scope="parent" }}
{{ $tpl_data['chemistry']=$teacher4Data['chemistry'] scope="parent" }}
{{ $tpl_data['english']=$teacher4Data['english'] scope="parent" }}













