{{ *
   * @file 状元活动页面的静态数据
   * @author tangrongyan
* }}

{{ $page_data = [] scope="parent" }}

{{ $wise4Data = [] }}



{{ $wise4Data0 = [] }}
{{ $wise4Data0['name'] = "王艺诚" }}
{{ $wise4Data0['mark'] = "2012年云南省玉溪市文科状元" }}
{{ $wise4Data0['sorce'] = "677" }}
{{ $wise4Data0['school'] = "玉溪一中" }}
{{ $wise4Data0['institution'] = "北京大学" }}

{{ $wise4Data0['url'] = "http://www.genshuixue.com/t/wangyicheng " }}
{{ $wise4Data0['img'] = "img/activity/wise/avatar.jpg" }}
{{ $wise4Data0['alt'] = "唐睿泽" }}
{{ $wise4Data0['title'] = "就读专业：美术教育专业" }}
{{ $wise4Data[] = $wise4Data0 }}


{{ $wise4Data1 = [] }}
{{ $wise4Data1['name'] = "张殿炎" }}
{{ $wise4Data1['mark'] = "2013年辽宁省理科状元" }}
{{ $wise4Data1['sorce'] = "699+10" }}
{{ $wise4Data1['school'] = "本溪市高级中学" }}
{{ $wise4Data1['institution'] = "清华大学" }}

{{ $wise4Data1['url'] = "http://www.genshuixue.com/t/chenye" }}
{{ $wise4Data1['img'] = "img/activity/wise/avatar-2.jpg" }}
{{ $wise4Data1['alt'] = "张殿炎" }}
{{ $wise4Data1['title'] = "计算机系" }}
{{ $wise4Data[] = $wise4Data1 }}


{{ $wise4Data2 = [] }}
{{ $wise4Data2['name'] = "饶力" }}
{{ $wise4Data2['mark'] = "2012年湖北省咸宁市文科状元" }}
{{ $wise4Data2['sorce'] = "629" }}
{{ $wise4Data2['school'] = "湖北省赤壁一中" }}
{{ $wise4Data2['institution'] = "中国人民大学" }}

{{ $wise4Data2['url'] = "http://genshuixue.com/t/timothy_rao" }}
{{ $wise4Data2['img'] = "img/activity/wise/avatar-3.jpg" }}
{{ $wise4Data2['alt'] = "饶力" }}
{{ $wise4Data2['title'] = "公共事业管理" }}
{{ $wise4Data[] = $wise4Data2 }}

{{ $wise4Data3 = [] }}
{{ $wise4Data3['name'] = "陈烨" }}
{{ $wise4Data3['mark'] = "2012年湖北省赤壁市理科状元" }}
{{ $wise4Data3['sorce'] = "645" }}
{{ $wise4Data3['school'] = "湖北省赤壁一中" }}
{{ $wise4Data3['institution'] = "北京航空航天大学" }}

{{ $wise4Data3['url'] = "http://www.genshuixue.com/t/chen1207" }}
{{ $wise4Data3['img'] = "img/activity/wise/avatar-4.jpg" }}
{{ $wise4Data3['alt'] = "陈烨" }}
{{ $wise4Data3['title'] = "航空航天大学 工程师学院" }}
{{ $wise4Data[] = $wise4Data3 }}

{{ $wise4Data4 = [] }}
{{ $wise4Data4['name'] = "陈诚" }}
{{ $wise4Data4['mark'] = "2009年重庆巫山县文科状元" }}
{{ $wise4Data4['sorce'] = "630" }}
{{ $wise4Data4['school'] = "重庆巫山县高级中学" }}
{{ $wise4Data4['institution'] = "中国人民大学" }}

{{ $wise4Data4['url'] = "http://www.genshuixue.com/t/cici0127" }}
{{ $wise4Data4['img'] = "img/activity/wise/avatar-5.jpg" }}
{{ $wise4Data4['alt'] = "陈诚" }}
{{ $wise4Data4['title'] = "劳动关系专业" }}
{{ $wise4Data[] = $wise4Data4 }}

{{ $wise4Data5 = [] }}
{{ $wise4Data5['name'] = "翁善根" }}
{{ $wise4Data5['mark'] = "2013年云南省景洪市理科状元" }}
{{ $wise4Data5['sorce'] = "685" }}
{{ $wise4Data5['school'] = "云南省景洪市第四中学" }}
{{ $wise4Data5['institution'] = "清华大学" }}

{{ $wise4Data5['url'] = "http://www.genshuixue.com/t/duanai" }}
{{ $wise4Data5['img'] = "img/activity/wise/avatar-6.jpg" }}
{{ $wise4Data5['alt'] = "翁善根" }}
{{ $wise4Data5['title'] = "翁善根" }}
{{ $wise4Data[] = $wise4Data5 }}

{{ $wise4Data6 = [] }}
{{ $wise4Data6['name'] = "张轩" }}
{{ $wise4Data6['mark'] = "2013年辽宁省开原市文科状元" }}
{{ $wise4Data6['sorce'] = "599" }}
{{ $wise4Data6['school'] = "开原市高级中学" }}
{{ $wise4Data6['institution'] = "中央民族大学" }}

{{ $wise4Data6['url'] = "http://www.genshuixue.com/t/Vladimir" }}
{{ $wise4Data6['img'] = "img/activity/wise/avatar-7.jpg" }}
{{ $wise4Data6['alt'] = "张轩" }}
{{ $wise4Data6['title'] = "张轩" }}
{{ $wise4Data[] = $wise4Data6 }}

{{ $wise4Data7 = [] }}
{{ $wise4Data7['name'] = "罗毅晗" }}
{{ $wise4Data7['mark'] = "2014年江西省萍乡市理科状元" }}
{{ $wise4Data7['sorce'] = "669" }}
{{ $wise4Data7['school'] = "芦溪中学" }}
{{ $wise4Data7['institution'] = "清华大学" }}

{{ $wise4Data7['url'] = "http://www.genshuixue.com/t/luoyhTHU" }}
{{ $wise4Data7['img'] = "img/activity/wise/avatar-8.jpg" }}
{{ $wise4Data7['alt'] = "罗毅晗" }}
{{ $wise4Data7['title'] = "罗毅晗" }}
{{ $wise4Data[] = $wise4Data7 }}

{{ $wise4Data8 = [] }}
{{ $wise4Data8['name'] = "石桐桐" }}
{{ $wise4Data8['mark'] = "2012年内蒙古开鲁县文科状元" }}
{{ $wise4Data8['sorce'] = "568" }}
{{ $wise4Data8['school'] = "开鲁一中" }}
{{ $wise4Data8['institution'] = "吉林大学" }}

{{ $wise4Data8['url'] = "http://www.genshuixue.com/t/tongtong" }}
{{ $wise4Data8['img'] = "img/activity/wise/avatar-9.jpg" }}
{{ $wise4Data8['alt'] = "石桐桐" }}
{{ $wise4Data8['title'] = "石桐桐" }}
{{ $wise4Data[] = $wise4Data8 }}

{{ $wise4Data9 = [] }}
{{ $wise4Data9['name'] = "朴星辉" }}
{{ $wise4Data9['mark'] = "2009年内蒙古自治区文科状元" }}
{{ $wise4Data9['sorce'] = "629" }}
{{ $wise4Data9['school'] = "乌兰浩特市朝鲜族中学" }}
{{ $wise4Data9['institution'] = "清华大学" }}

{{ $wise4Data9['url'] = "http://www.genshuixue.com/t/xingxiangshicheng" }}
{{ $wise4Data9['img'] = "img/activity/wise/avatar-10.jpg" }}
{{ $wise4Data9['alt'] = "朴星辉" }}
{{ $wise4Data9['title'] = "朴星辉" }}
{{ $wise4Data[] = $wise4Data9 }}



{{ $wise4['teachers'] = $wise4Data }}
{{ $page_data['wise']=$wise4['teachers'] scope="parent" }}















