@import "page/_base/base.styl";
@import 'page/_common/nav_bar/nav_bar.styl';
@import 'common/component/platformSupport/index.styl';
@import 'common/component/coupon/coupon.styl';
@import 'common/starScore/starScore.styl';
@import 'common/openAppDialog/open400TelDialog.styl';
@import 'common/appoint/appoint.styl';
@import 'common/courseBottom/classCourseBottom/index.styl';
@import 'common/openAppDialog/openAppDialog.styl';
@import 'common/ui/DropLoad/index.styl';
@import 'common/ui/Loading/index.styl';
@import 'common/staySingle/staySingle.styl';
@import 'page/teacher/component/scholarship.styl';
@import 'common/topAction/top.styl';
@import 'common/staging/nav.styl';
@import 'common/staging/courseDialog.styl';
@import 'common/weChatLogin/weChatLogin.styl';
@import 'common/smarty/navTab/index.styl';
@import 'common/mvc-tools/SlideInDialog/SlideInDialog.styl';
@import 'common/component/course/summary/index.styl';
@import 'common/component/course/tags/index.styl';

@import 'common/component/course/relatedCourse/index.styl';
@import 'common/component/course/courseInfo/old.styl';
@import 'common/component/course/courseInfo/new.styl';

@import 'common/component/course/notes/index.styl';
@import 'page/course/classCourse/_parts/vipBanner/index.styl';
@import 'page/course/classCourse/_parts/ajaxTpl/tagDesc/index.styl';
@import 'page/course/classCourse/_parts/ajaxTpl/coursePlan/index.styl';
@import 'page/course/classCourse/_parts/ajaxTpl/relatedCourse/index.styl';
@import 'common/component/course/teacherInfo/index.styl';
@import 'common/component/course/orgInfo/index.styl';
@import 'common/component/course/material/index.styl';
@import 'common/component/course/courseComment/index.styl';
@import 'page/course/component/liveTab/liveTab.styl';
@import 'common/component/interactLayer/index.styl';

.course-container {
    margin-bottom: rem(50);
    .course-comment {
        min-height: rem(200);
        iframe {
            height: rem(2000);
        }
    }
    // 详情明细
    .detail-item {
        padding: rem(15);
        padding-top: rem(18);
        .detail-title {
            font-size: rem(18);
            color: #3c3d3d;
            padding-left: rem(5);
            margin-left: 0;
            border-left: 2px solid #ff6c00;
            line-height: 1;
        }
        .detail-content {
            margin-top: rem(19);
        }
        .detail-more {
            font-size: rem(13);
            color: #6D6D6E;
            height: rem(40);
            line-height: rem(40);
            text-align: center;
            margin: 0 auto;
            margin-top: rem(10);
            .more-btn {
                display: inline-block;
                border: 1px solid #eaeaea;
                border-radius: rem(2);
                padding: 0 rem(12);
                height: rem(40);
                //line-height: rem(40);
            }

        }
    }
}
.cps-label {
    text-align: left;
    float: left;
    width: auto;
}
.body-hidden {
    overflow: hidden;
}

//顶部轮播图
.head {
    position: relative;
    .label {
        position: absolute;
        bottom: rem(20);
        right: rem(10);
        height: rem(25);
        line-height: rem(25);
        font-size: rem(15);
        text-align: center;
        padding: 0 rem(12);
        // background-color: #ff9100;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }
}

.bottom {
    .share-reward {
        left: 2%;
        .triangle-down {
            top: rem(18);
        }
    }
}

.top-sliders {

    .slide-images {
        .slide-images-li {
            height: rem(180);
            overflow: hidden;
        }
    }
    width: 100%;
    height: rem(180);
    overflow: hidden;
    ul {
        position: relative;
        height: 100%;
        li {
            position relative;
            width: 100%;
            height: rem(180);
            overflow: hidden;
            float: left;
        }
    }
    .slide-control {
        position: absolute;
        bottom: 0;
        right: rem(5);
        .slide-position {
            width: rem(8);
            height: rem(8);
            border: 1px solid #fff;
            border-radius: 50%;
            display: inline-block;
            margin: rem(3);
            background-color: transparent;
            &.on {
                background-color: #fff;
            }
        }
    }

}

.jhx {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(59);
    height: rem(59);
}

.courseInfo-pink{
    background: #FFE6EE;
}
.courseInfo-blue{
    background: #E2F2FD;
}
.courseInfo-green{
    background: #fff;
}
.courseInfo-brown{
    background: #fffcf2;
}
.courseInfo-black{
    background: transparent;
}

.img-text-content {
    overflow: hidden;
    margin-top: rem(10);
    .wrap {
        position: relative;
        //max-height: rem(513);
        overflow: hidden;
        padding: 0 rem(10)
    }
}

.img-text-intro {
    //max-height: rem(460);
    //margin-bottom: rem(60);
    overflow: hidden;
}

.all-info {
    display:none;
    position: absolute;
    top: rem(457);
    left: 50%;
    transform: translateX(-50%);
    font-size: rem(16);
    color: #6d6d6e;
    width: rem(120);
    height: rem(40);
    line-height: rem(40);
    text-align: center;
    margin: rem(13) auto;
    margin-bottom: 0;
    border: 1px solid #e2e2e2;
    border-radius: rem(2);
}

.all-plan {
    margin: 0 rem(15);
    padding-top: rem(13);
    font-size: rem(16);
    color: #6d6d6e;
    border-top: 1px solid #f7f9fa;
    text-align: center;

    .all-class {
        width: rem(120);
        height: rem(40);
        line-height: rem(40);
        margin: 0 auto;
        border: 1px solid #ebeced;
        border-radius: rem(2);
    }
}
.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// //相关规则
// .rules {
//     margin: 0;
//     margin-top: rem(9);
//     background-color: #fff;
//     padding: rem(15) rem(10);
//     padding-bottom: 0;
//     font-size: rem(15);
//     .r-title {
//         color: #3fa5f2;
//         padding-bottom: rem(5);
//     }
//     .r-content {
//         color: #9d9e9e;
//         padding-bottom: rem(15);
//         .download {
//             color: #ff9100;
//         }
//     }
//     .app-rule {
//         display: none;
//     }

//     .security-block {
//         margin: rem(0);
//         padding: rem(0);
//         .security-title {
//             color: #3fa5f2;
//             border: 0px;
//             margin: rem(0);
//             padding: rem(0);
//             font-size: rem(16);
//         }
//         .security-p {
//             padding: rem(15) rem(0);
//             margin: rem(0);
//         }
//     }
// }

// //分享
// .share {
//     background-color: #fff;
//     margin: rem(9) 0;
//     padding-bottom: rem(19);
//     padding-top: rem(15);
//     margin-bottom: rem(60);
//     .app-qrCode {
//         display: none;
//     }
//     ul {
//         width: 100%;
//         font-size: rem(13);
//         padding-bottom: rem(17);
//         text-align: center;
//     }
//     li {
//         display: inline-block;
//         margin: 0 rem(3);
//     }
//     .friends, .weixin, .qrcode, .m-qrcode-wrap, .focus-wrap {
//         border: 1px solid #dcddde;
//         text-align: center;
//         border-radius: rem(20);
//         margin-top: rem(10);
//         padding: 0 rem(10);
//     }
//     .friends {
//         height: rem(27);
//         line-height: rem(27);
//         //margin-left: rem(30);
//         img {
//             margin-top: rem(-3);
//         }
//     }
//     .weixin {
//         height: rem(27);
//         line-height: rem(27);
//         margin: 0 auto;
//     }
//     .icon-weixin {
//         color: #61c765;
//         font-size: rem(22);
//         vertical-align: middle;

//     }
//     .qrcode {
//         height: rem(27);
//         line-height: rem(27);
//     }
//     .icon-qrcode {
//         color: #6d6d6e;
//         font-size: rem(13);
//     }
//     .icon, img {
//         padding-right: rem(2);
//     }
//     img {
//         vertical-align: middle;
//     }
//     .m-qrcode-share {
//         display: none;
//         .m-qrcode-wrap, .focus-wrap {
//             width: rem(105);
//             height: rem(27);
//             line-height: rem(27);
//             margin: 0 auto;
//             margin-bottom: rem(12.5);
//             font-size: rem(13);
//         }
//         .focus-wrap {
//             margin-left: rem(10);
//         }
//         .m-qrcode {
//             display: inline-block;
//             width: 100%;
//         }
//         .focus {
//             display: none;
//             width: 50%;
//         }

//     }

//     .tip, .course-id, .wx-tip {
//         color: #9d9e9e;
//         font-size: rem(12);
//         width: 100%;
//         text-align: center;
//     }

// }

.masked {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.qrcode-container, .focus-qrcode-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;

    .mask {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.5;
    }
    .front {
        position: absolute;
        left: 50%;
        top: 50%;
        width: rem(280);
        padding: rem(30);
        transform: translate3d(-50%, -50%, 0);
        background-color: #FFF;
        border-radius: rem(3);
    }
    .label-group {
        font-size: rem(13);
        margin-bottom: rem(3);
        &.center {
            text-align: center;
            font-size: rem(16);
        }

        label {
            float: left;
            color: #6D6D6D;
        }
        p {
            color: #3D3D3D;
            max-height: rem(40);
            overflow: hidden;
        }
    }
    #qrcode {
        margin: rem(20) auto 0 auto;
        text-align: center;

        width: rem(200);
        height: rem(200);
        img {
            width: rem(124);
            height: rem(124);
        }
    }
    .hint {
        text-align: center;
        margin-top: rem(25);
        color: #9D9D9D;
        font-size: rem(12);
        &.black {
            color: #3D3D3D;
            font-size: rem(16);
        }
    }
    .cancel {
        font-size: rem(22);
        font-weight: bold;
        position: absolute;
        right: rem(9);
        top: rem(9);
        color: #9D9D9D;
    }
}

.listen-content {

    .listen-action {
        background: #ff9100;
        &.action-able {
            background: #ff6c00;
        }
    }
}

.page-mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .0);
}

.staging {
     width: 100%;
     border-top: 1px solid #f4f4f4;
     background: #fff;
     height: rem(44);
     margin-top: rem(10);
 }
.jifen-box {
    background: white;
    display: inline-block;
    padding-left: rem(13);
    margin-bottom: rem(4);
    .jifen-nav-1, .jifen-nav-2 {
        font-family: PingFang-SC-Regular;
        font-size: rem(12);
        display: inline-block;
        text-align: center;
        border-radius: rem(2);
    }
    .jifen-nav-1 {
        border: 1px solid #60b4f9;
        background: #60b4f9;
        width: rem(77);
        height: rem(24);
        color: #ffffff;
        line-height: rem(24);
        margin-right: rem(8);
    }
    .jifen-nav-2 {
        border: 1px solid #60b4f9;
        width: rem(99);
        height: rem(24);
        line-height: rem(23);
        color: #60b4f9;
        line-height: rem(24);
    }
}