@import "page/_base/base.styl";
@media all and (min-width: 415px) {
	.left {
		width: 12%;
	}
	.right {
		width: 87%;
	}
}

body {
	font-size: rem(14);
	padding: 0 1em;
	background: #fff;
	color: #6D6D6E;
}
.title {
	color: #37A4F5;
	font-size: 1.1em;
	margin: 1.2em 0 0.8em;
}
.row {
	width: 100%;
	margin-bottom: 0.2em;
}
.left {
	display: inline-block;
	width: 23%;
	vertical-align: top;
}
.right {
	display: inline-block;
	width: 75%;
}
ul > li {
	list-style-type: decimal;
	list-style-position: inside;
	margin-bottom: 0.5em;
}
