{{ extends file="common/center/base.html" }}

{{ block name="data" }}

    {{ $smarty.block.parent }}

    {{ $script_path = "common/center/account" }}

    {{ $nav_active_tab = 'account' }}

    {{ if isset($tpl_data.sex) }}
        {{ $script_data.sex = $tpl_data.sex }}
    {{ /if }}

    {{ if isset($tpl_data.def_avatar) }}
        {{ $script_data.defAvatar = $tpl_data.def_avatar }}
    {{ /if }}

    {{ $script_data.avatarVerify = $tpl_data.avatar_verify }}
    {{ $script_data.userNumber = $user_data.user_number }}
    {{ $script_data.userType = $user_data.user_type }}



{{ /block }}

{{ block name="title" prepend }}
账户设置 -
{{ /block }}

{{ block name="style" }}
<link rel="stylesheet" href="{{ $static_origin }}/src/css/common/center/account.less">
{{ $smarty.block.parent }}
{{ /block }}

{{ block name="main" }}

{{ strip }}

{{ if $user_data && $user_data.user_type==0 }}
    {{ $linkPwd = 'next=/teacher_center/account&user_type=0' }}
    {{ $linkPayPwd = 'next=/teacher_center/account' }}
{{ else }}
    {{ $linkPwd = 'next=/student_center/account&user_type=2' }}
    {{ $linkPayPwd = 'next=/student_center/account' }}
{{ /if }}


{{ block name="sidebar" }}{{ /block }}

<div id="content" class="card">

    <div class="card-header">
        <h2>账户设置</h2>
    </div>

    <div class="card-body">

        <div class="settings">

            {{ include file="common/center/account/password.html" }}
            {{ include file="common/center/account/mobile.html" }}
            {{ include file="common/center/account/email.html" }}
            {{ include file="common/center/account/payPassword.html" }}
            {{ include file="common/center/account/bindAccount.html" }}

            {{ if $identity == "teacher" }}
            <div class="item">

                <div class="item-header">

                    <strong class="
                    {{ if $tpl_data.private_show != 0 }}
                    has-icon
                    {{ else }}
                    no-icon
                    {{ /if }}">
                            <i class="icon icon-info-circle"></i>
                        隐藏模式
                    </strong>

                    <div class="privacy-group">
                        {{ $hidden_name = $tpl_data.private_show & 1 }}
                        <label class="form-checkbox{{ if $hidden_name }} checked{{ /if }}">
                            <input type="checkbox" name="realname" value="1" data-nickname="{{ $tpl_data.has_nickname }}" class="privacy-name"
                            {{ if $hidden_name }}
                             checked="checked"
                            {{ /if }}
                            />
                            <i></i>
                            隐藏真实姓名
                        </label>
                        {{ if $tpl_data.private_show & 1 }}
                            {{ $title = "系统已隐藏你的真实姓名，可能会降低学生对你的信任，减少约课量，建议立即关闭" }}
                            {{ $width = "20em" }}
                        {{ else }}
                            {{ $title = "系统将用昵称代替你的真实姓名，可能会降低学生对你的信任感" }}
                            {{ $width = "18em" }}
                        {{ /if }}
                        <span data-title="{{ $title }}" data-width="{{ $width }}">
                            <i class="icon icon-question-circle"></i>
                        </span>
                    </div>

                    <div class="privacy-group">

                        {{ $hidden_avatar = $tpl_data.private_show & 2 }}
                        <label class="form-checkbox{{ if $hidden_avatar }} checked{{ /if }}">
                            <input type="checkbox" name="realavatar" value="2" class="privacy-avatar"
                            {{ if $hidden_avatar }}
                             checked="checked"
                            {{ /if }}
                            />
                            <i></i>
                            隐藏真实头像
                        </label>

                        {{ if $tpl_data.private_show & 2 }}
                            {{ $title = "系统已隐藏你的真实头像，可能会降低学生对你的信任，减少约课量，建议立即关闭" }}
                            {{ $width = "20em" }}
                        {{ else }}
                            {{ $title = "系统将用默认头像代替你的真实头像，可能会降低学生对你的信任感" }}
                            {{ $width = "18em" }}
                        {{ /if }}
                        <span data-title="{{ $title }}" data-width="{{ $width }}">
                            <i class="icon icon-question-circle"></i>
                        </span>
                    </div>

                </div>
            </div>
            {{ /if }}

        </div>

    </div>
</div>

{{ /strip }}
{{ /block }}