{{ *

@file 课表操作

      参数：

      lesson：课程项数据
      actions：后端传来的操作数据
      purchase_id：订单id
      use_plat_ensure: 是否开启平台支付保障 默认true

@author zhujialu

* }}
{{ strip }}

{{ if !isset($use_plat_ensure) }}
    {{ $use_plat_ensure = true }}
{{ /if }}

{{ if $lesson.status == 61 }}
    <a class="btn-link tiny btn-block"
    data-width="23em" data-title="{{ $lesson.appeal_result_text }}">
        申诉结果
    </a>
{{ /if }}

{{ include file="common/variable/scheduleAction.html" scope=parent }}

{{ foreach $scheduleAction as $item }}

    {{ if isset($actions[$item[0]]) && $actions[$item[0]] }}

        {{ $target = $actions[$item[0]] }}

        {{ if isset($primary_button[$item[0]]) }}
            {{ $btn_class = 'btn-primary' }}
        {{ else if isset($success_button[$item[0]]) }}
            {{ $btn_class = 'btn-success' }}
        {{ else }}
            {{ $btn_class = 'btn-link' }}
        {{ /if }}

        {{ if $target.name == 'enter_classroom' && $target.disabled }}
            {{ if $smarty.now - strtotime($lesson.end_time) > 10800 }}
                <a class="btn-link small {{ $target.name }}" data-title="下课超过3小时无法进入课堂">
                    {{ $item[1] }}
                </a>
            {{ else }}
                <a class="btn-link small {{ $target.name }}" data-title="未到上课时间哦">
                    {{ $item[1] }}
                </a>
            {{ /if }}
        {{ /if }}

        {{ if !isset($target.disabled) || !$target.disabled }}

            {{ if isset($target.data) }}
                {{ $json = json_encode($target.data, 77) }}
            {{ else }}
                {{ $json = "" }}
            {{ /if }}

            {{ if $target.name == "appeal" && $user_data.user_type == 2 && $lesson.status != "81" }}
                {{ $action_title = '我要退课' }}
            {{ else }}
                {{ $action_title = $item[1] }}
            {{ /if }}

            {{ if $target.name == 'enter_comment' }}
                <a class="btn-link small {{ $target.name }}" href="{{ $target.action }}">
                    {{ $action_title }}
                </a>
            {{ else }}
                <button class="{{ $btn_class }} small action-{{ $item[0] }}" data-url="{{ $target.action }}" data-json='{{ $json }}' data-order-id="{{ $purchase_id }}" data-use-plat-ensure="{{ $use_plat_ensure }}">
                    {{ $action_title }}
                </button>
            {{ /if }}

        {{ /if }}

    {{ /if }}

{{ /foreach }}

{{ if count($actions) === 0 && !$lesson.playback && !$lesson.cloud_playback }}
    <span style="color: #ccc;">无</span>
{{ /if }}

{{ /strip }}