.class-comment {
    display: none;
    margin-top: rem(8);
    background: #ffffff;
    .no-comment,.no-comment-symbol {
        background: #f7f9fa;
        color: #9d9d9e;
        padding: rem(10) rem(10) rem(10) 0;
        font-size: rem(13);
        padding-left: rem(10);
        border-bottom: 1px solid #ebeced;
        span {
            display: inline-block;
            margin-right: rem(10);
            .icon {
                font-size: rem(28);
                color: #dcddde;
                vertical-align: middle;
                margin-right: rem(10);
            }
        }
    }
    .no-comment-banner {
        background: #f7f9fa;
        padding: rem(60);
        .banner {
            margin: 0 auto;
            text-align: center;
            color: #9d9d9e;
            font-size: rem(14);
            img {
                width: rem(55);
                height: auto;
            }
        }
    }
    .has-comment {
        background: #ffffff;
        color: #9d9d9e;
        padding: rem(10) rem(10) rem(10) 0;
        font-size: rem(13);
        margin-left: rem(10);
        .comment-people {
            display: inline-block;
            float: right;
        }
        .star-shine {
            color: #ff9100;
        }
        .star-half {
            .icon-star-half {
                color: #ff9100;
            }
        }
    }
    .comment-detail-tag {
        margin-left: rem(10);
        padding: 0 rem(10) rem(10) 0;
        font-size: rem(12);
        border-top: 1px solid #f2f4f5;
        .tag {
            margin-top: rem(10);
            display: inline-block;
            padding: rem(7);
            background: #fff3e0;
            border-radius: rem(2);
        }
        .bad {
            background: #f2f4f5;
        }
        .active {
            background: #ff9100;
            color: #ffffff;
        }
    }
    .has-comment-banner {
        margin: 0 auto;
        text-align: center;
        background: #f7f9fa;
        padding: rem(20);
        color: #9f9d9e;
        font-size: rem(14);
        border-top: 1px solid #f2f4f5;
        border-bottom: 1px solid #f2f4f5;
        .icon {
            color: #dcddde;
            font-size: rem(28);
        }
        p {
            margin-top: rem(10);
        }
    }
    .can-not-comment {
        border-top: 1px solid #f2f4f5;
    }
    .all-comment-lists,.my-comment-lists {
        .title {
            background: #f2f4f5;
            padding: rem(10);
        }
    }
    .comment-list {
        background: #f2f4f5;
        border-bottom: 1px solid #f2f4f5;
        li {
            background: #ffffff;
            padding: rem(10) 0;
            padding-left: rem(10);
            margin-bottom: rem(10);
        }
        li:last-child {
            margin-bottom: 0;
        }
        .comment-from {
            height: rem(50);
            border-bottom: 1px solid #f3f3f3;
            padding-left: rem(45);
            position: relative;
            padding-right: rem(10);
            .user-img {
                position: absolute;
                left: rem(5);
                top: rem(5);
                height: rem(30);
                width: rem(30);
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .user-name {
                display: block;
            }
            .single-line {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .star-score {
                .star-shine {
                    color: #ff9100;
                }
                .star-half {
                    .icon-star-half {
                        color: #ff9100;
                    }
                }
            }
            .stars-info {
                .comment-praise {
                    display: inline-block;
                    float: right;
                }
            }
        }
        .praise-info {
            .has-praise {
                color: #ff9100;
            }
        }
        .comment-detail {
            padding: rem(10) 0;
            padding-right: rem(10);
            .add-comment,.has-add-comment {
                display: inline-block;
                margin-right: rem(20);
                .icon {
                    font-size: rem(17);
                    vertical-align: sub;
                }
            }
            .detail {
                word-break();
            }
            .has-add-comment {
                color: #ff9100;
            }
            .comment-praise {
                text-align: right;
            }
            .add-comment-info {
                margin: rem(5) 0;
                padding: 0 rem(10);
                background: #e3f2fd;
                font-size: rem(12);
                .add-time {
                    border-bottom: 1px solid #ebeced;
                    padding: rem(5) 0;
                    span {
                        color: #9d9d9e;
                        display: inline-block;
                    }
                    .time {
                        float: right
                    }
                }
                .comment-info {
                    padding: rem(5) 0;
                }
            }
        }
        .time {
            font-size: rem(12);
        }
        .vedioCourse-info {
            font-size: rem(12);
        }

    }
    .more-loading {
        margin: 0 auto;
        background: #ffffff;
        padding: rem(10);
        text-align: center;
        .loading {
            display: none;
        }
    }
}
.comment-content {
    width: 100%;
    .title {
        margin: 0 auto;
        text-align: center;
        padding: rem(10) rem(10) rem(10) 0;
        margin-left: rem(10);
        font-size: rem(16);
        color: #9d9d9e;
        border-bottom: 1px solid #ebeced;
        span {
            display: inline-block;
            text-align: right;
            position: absolute;
            right: rem(10);
            width: rem(30);
        }
    }
    .comment-star {
        border-bottom: 1px solid #f2f4f5;
        padding: rem(10) rem(10) rem(10) 0;
        margin-left: rem(10);
        .icon {
            font-size: rem(28);
            color : #ebeced;
            margin-right: rem(20);
        }
        .star-shine {
            color : #ff9100;
        }
    }
    .comment-detail {
        width: 100%;
        height: rem(85);
        padding: rem(10) rem(10) rem(10) 0;
        margin-left: rem(10);
        border-bottom: 1px solid #f2f4f5;
        color: #9d9e9e;
        font-size: rem(14);
        textarea {
            border-style: none;
            resize: none;
            width: 100%;
            height: 100%;
        }
    }
    .comment-anonymity {
        padding: rem(10) rem(10) rem(10) 0;
        margin-left: rem(10);
        input {
            vertical-align: text-top;
            width: rem(20);
            height: rem(20);
        }
        label {
            display: inline-block;
            margin-left: rem(5);
            font-size: rem(12);
        }
    }
    .comment-commit {
        padding: rem(15) rem(10);
        background: #f2f4f5;
        .commit-button {
            margin: 0 auto;
            text-align: center;
            background: #ff9100;
            padding: rem(12);
            color: #fff;
            border-radius: rem(3);
            font-size: rem(16);
        }
    }

}
.comment-box {
    background: white;
    padding: rem(20) 0;
    .comment-title {
        padding: 0 rem(8);
        font-size: rem(16);
        line-height: rem(18);
        color: #3c3d3d;
        margin-left: rem(15);
        border-left: rem(2) solid #ff6c00;
    }
    .stars-score {
        height: rem(30);
        line-height: rem(30);
        margin: rem(10);
        .stars {
            float: left;
            i {
                font-size: rem(20);
            }
            .star-shine {
                color: #ff6c00;
            }
            .star-half {
                .icon-star-half {
                    color: #ff6c00
                }
            }
        }
        .scores {
            float: left;
            font-family: PingFang-SC-Regular;
            font-size: rem(15);
            color: #3C3D3E;
            line-height: rem(30);
            margin-left: rem(10);
            height: rem(30);
        }
    }
    .comment-content-box {
        .comment-list-box {
            .comment-item {
                .header-content {
                    padding: rem(10) rem(10) rem(10) rem(56);
                    position: relative;
                    .avatar {
                        height: rem(34);
                        width: rem(34);
                        border-radius: 50%;
                        position: absolute;
                        left: rem(10);
                        top: rem(10);
                    }
                    .name {
                        font-family: PingFang-SC-Regular;
                        font-size: rem(14);
                        color: #3D3D3E;
                        line-height: rem(14);
                        margin-bottom: rem(14);
                    }
                    .time {
                        font-family: PingFang-SC-Regular;
                        font-size: rem(12);
                        color: #9D9D9E;
                        line-height: rem(12);
                    }
                }
                .main-content {
                    font-family: PingFang-SC-Regular;
                    font-size: rem(13);
                    color: #3C3D3E;
                    padding: rem(10);
                    word-break: break-all;
                    text-align: justify;
                }
            }
        }
    }
}