/**
 * @file 精品教育机构
 * @author jixiaohui
 */

.bestorg {
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;

    .category {
        height: 18px;
        line-height: 18px;
        font-size: 16px;
        color: #333;
        padding-left: 5px;
        border-left: 3px solid #FF9A00;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .list {
        border: 1px solid #eee;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .item {
            float: left;
            width: 319px;
            border-right: 1px solid #eee;
            padding: 15px;

            &.last {
                border-right: 0;
            }
        }

        .info {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .avatar,
        img {
            width: 64px;
            height: 64px;
        }

        .avatar {
            display: block;
            float: left;
            margin-right: 10px;
            position: relative;

            &:after {
                .opacity(0.4);

                background-color: transparent;

                content: ' ';

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

            }

            &:hover {
                &:after {
                    background-color: #000;
                    .transition(background 0.3s);
                }
            }
        }

        .detail {
            float: left;
            width: 140px;
            font-size: 12px;
            color: #333;
        }

        .name {
            display: block;
            color: #333;
            font-size: 14px;
            font-weight: bold;

            &:hover {
                color: #f90;
            }
        }

        .address {
            display: block;
        }

        .action {
            .btn {
                width: 60px;
                height: 24px;
                text-align: center;
                line-height: 24px;
                display: block;
                font-size: 12px;
                color: #f90;
                border: 1px solid #f90;
                background: #fff;
                float: right;

                &:hover {
                    color: #fff;
                    border: 1px solid #f90;
                    background: #f90;
                }
            }

            .communicate {
                color: #56b02a;
                border: 1px solid #52B11A;
                margin-top: 5px;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    border: 1px solid #52B11A;
                    background: #52B11A;
                }
            }
        }

        .introduce {
            clear: left;
            font-size: 12px;
            color: #666;
            margin-top: 6px;
        }
    }
}
