/**
 * @file 热门文章
 * @author jixiaohui
 */
.hotarticle {
    width: 700px;
    height: 100%;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;

    .category {
        height: 18px;
        line-height: 18px;
        font-size: 16px;
        color: #333;
        padding-left: 5px;
        border-left: 3px solid #FF9A00;
        display: block;
        width: 100%;
    }

    .list {
        padding: 15px 0;

        .item {
            margin-bottom: 5px;
            width: 350px;
            float: left;
        }

        .point {
            background: url(../../../img/navigation/point.jpg) no-repeat;
            width: 3px;
            height: 3px;
            display: inline-block;
            margin-right: 5px;
            position: relative;
            top: -3px;
        }
    }
}

.right-ad {
    width: 213px;
    height: 119px;
    float: right;

    a,img {
        width: 213px;
        height: 119px;
        display: block;
        float: right;
    }

    a {
        position: relative;

        &:after {
            .opacity(0.4);

            background-color: transparent;

            content: ' ';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

        }

        &:hover {
            &:after {
                background-color: #000;
                .transition(background 0.3s);
            }
        }
    }
}
