.subject-content {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    top: rem(40);
    left: 0;
    right: 0;
    visibility: visible;
    position: fixed;
    z-index: 99;
    &.hide {
        display: none;
    }
}